%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilerefYKd

section signature:

state_server: agent * agent * agent * text * text * text * text * text * text * set(text) * symmetric_key * set(symmetric_key) * nat * text * text * text * text * text * text * symmetric_key * symmetric_key * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact
state_client: agent * agent * text * text * text * text * symmetric_key * set(symmetric_key) * nat * agent * text * text * text * text * text * text * symmetric_key * symmetric_key * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact
state_user: agent * agent * agent * text * text * set(symmetric_key) * nat * symmetric_key * symmetric_key * text * text * text * text * text * set(agent) * set(agent) * set(agent) * nat -> fact


section types:

Dummy_NsSet, NsSet: set(text)
sec_resource, server_client_user, client_user_token, sec_token, server_client_clientkey, sec_key, server_user_credentials, sec_credentials, sec_authorization, sec_scope: protocol_id
MGoal, start: message
Dummy_Kcsssl, Dummy_Kusssl, Dummy_Kucssl, dummy_sk, clientkey, clientkey_i, Kusssl, Kcsssl, KeyOfClient, Kucssl: symmetric_key
Dummy_SSLKey, SSLKey: set(symmetric_key)
Dummy_Resource, Dummy_Expires, Dummy_Tokentype, Dummy_Token, Dummy_Code, Dummy_Scope, Dummy_Uri, Dummy_ClientId, Dummy_ResponseType, dummy_nonce, credentials, credentials_i, id, id_i, uri, uri_i, scope, authorization, responsetype, granttype, Resource, Scope, Code, Expires, Tokentype, Token, Credentials, Authorization, ResponseType, Granttype, Id, Uri, ClientId: text
5, SID, 4, Dummy_State, 3, SID2, SID1, 11, 8, State, 13, 10, 7, 9, 2, 6, 1, 0: nat
set_196, set_195, set_194, set_193, set_192, set_191, set_177, set_176, set_175, set_174, set_157, set_156, set_155, set_154, set_153, set_220, set_219, set_218, set_217, set_216, set_215, set_213, set_212, set_211, set_210, set_208, set_207, set_206: set
Dummy_U, dummy_agent, A2Goal, A1Goal, u, c, s, U, C, S, i: agent
Dummy_Set_101, Dummy_Set_100, Dummy_Set_98, Dummy_Set_72, Dummy_Set_66, Dummy_Set_62, Dummy_Set_59, Dummy_Set_32, Dummy_Set_30, Dummy_Set_27, ASGoal, Set_106, Set_104, Set_103, Set_101, Set_100, Set_98, Set_72, Set_66, Set_62, Set_59, Set_32, Set_30, Set_27, Dummy_Set_106, Dummy_Set_104, Dummy_Set_103: set(agent)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(c).
 iknows(s).
 iknows(id_i).
 iknows(uri_i).
 iknows(credentials_i).
 iknows(clientkey_i).
 iknows(i).
 state_user(u,c,s,credentials,authorization,set_154,0,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_155,set_156,set_157,3).
 state_client(c,s,responsetype,id,uri,granttype,clientkey,set_154,1,dummy_agent,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,set_174,set_175,set_176,set_177,4).
 state_server(s,u,c,responsetype,granttype,id,uri,credentials,authorization,set_153,clientkey,set_154,2,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,set_191,set_192,set_193,set_194,set_195,set_196,5).
 state_user(u,c,s,credentials,authorization,set_154,0,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_206,set_207,set_208,7).
 state_client(c,s,responsetype,id,uri,granttype,clientkey,set_154,1,dummy_agent,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,set_210,set_211,set_212,set_213,8).
 state_server(s,u,c,responsetype,granttype,id,uri,credentials,authorization,set_153,clientkey,set_154,2,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,set_215,set_216,set_217,set_218,set_219,set_220,9)


section rules:

step step_0 (U,C,S,Credentials,Authorization,Dummy_SSLKey,Dummy_Kucssl,Kusssl,ResponseType,ClientId,Uri,Scope,Code,Set_27,Set_30,Set_32,SID,Kucssl) :=
 state_user(U,C,S,Credentials,Authorization,Dummy_SSLKey,0,Dummy_Kucssl,Kusssl,ResponseType,ClientId,Uri,Scope,Code,Set_27,Set_30,Set_32,SID).
 iknows(start)
=[exists Kucssl]=>
 state_user(U,C,S,Credentials,Authorization,Dummy_SSLKey,3,Kucssl,Kusssl,ResponseType,ClientId,Uri,Scope,Code,Set_27,Set_30,Set_32,SID).
 iknows(scrypt(Kucssl,U)).
 contains(Kucssl,Dummy_SSLKey)

step step_1 (U,C,S,Credentials,Authorization,Dummy_SSLKey,Kucssl,Dummy_Kusssl,Dummy_ResponseType,Dummy_ClientId,Dummy_Uri,Dummy_Scope,Code,Dummy_Set_27,Dummy_Set_30,Dummy_Set_32,SID,Kusssl,ResponseType,ClientId,Uri,Scope) :=
 state_user(U,C,S,Credentials,Authorization,Dummy_SSLKey,3,Kucssl,Dummy_Kusssl,Dummy_ResponseType,Dummy_ClientId,Dummy_Uri,Dummy_Scope,Code,Dummy_Set_27,Dummy_Set_30,Dummy_Set_32,SID).
 iknows(scrypt(Kucssl,pair(ResponseType,pair(ClientId,pair(Uri,Scope)))))
=[exists Kusssl]=>
 state_user(U,C,S,Credentials,Authorization,Dummy_SSLKey,6,Kucssl,Kusssl,ResponseType,ClientId,Uri,Scope,Code,Dummy_Set_27,Dummy_Set_30,Dummy_Set_32,SID).
 iknows(scrypt(Kusssl,pair(ResponseType,pair(ClientId,pair(Uri,pair(Scope,pair(Credentials,Authorization))))))).
 secret(Scope,sec_scope,Dummy_Set_27).
 secret(Authorization,sec_authorization,Dummy_Set_30).
 secret(Credentials,sec_credentials,Dummy_Set_32).
 witness(U,S,server_user_credentials,Credentials).
 contains(Kusssl,Dummy_SSLKey).
 contains(U,Dummy_Set_27).
 contains(C,Dummy_Set_27).
 contains(S,Dummy_Set_27).
 contains(U,Dummy_Set_30).
 contains(S,Dummy_Set_30).
 contains(U,Dummy_Set_32).
 contains(S,Dummy_Set_32)

step step_2 (U,C,S,Credentials,Authorization,SSLKey,Kucssl,Kusssl,ResponseType,ClientId,Uri,Scope,Dummy_Code,Set_27,Set_30,Set_32,SID,Code) :=
 state_user(U,C,S,Credentials,Authorization,SSLKey,6,Kucssl,Kusssl,ResponseType,ClientId,Uri,Scope,Dummy_Code,Set_27,Set_30,Set_32,SID).
 iknows(scrypt(Kusssl,Code))
 =>
 state_user(U,C,S,Credentials,Authorization,SSLKey,9,Kucssl,Kusssl,ResponseType,ClientId,Uri,Scope,Code,Set_27,Set_30,Set_32,SID).
 iknows(scrypt(Kucssl,Code))

step step_3 (C,S,ResponseType,Id,Uri,Granttype,KeyOfClient,Dummy_SSLKey,Dummy_U,Dummy_Scope,Token,Tokentype,Expires,Code,Resource,Dummy_Kucssl,Kcsssl,Dummy_Set_59,Set_62,Set_66,Set_72,SID,U,Scope,Kucssl) :=
 state_client(C,S,ResponseType,Id,Uri,Granttype,KeyOfClient,Dummy_SSLKey,1,Dummy_U,Dummy_Scope,Token,Tokentype,Expires,Code,Resource,Dummy_Kucssl,Kcsssl,Dummy_Set_59,Set_62,Set_66,Set_72,SID).
 iknows(scrypt(Kucssl,U)).
 contains(Kucssl,Dummy_SSLKey)
=[exists Scope]=>
 state_client(C,S,ResponseType,Id,Uri,Granttype,KeyOfClient,Dummy_SSLKey,4,U,Scope,Token,Tokentype,Expires,Code,Resource,Kucssl,Kcsssl,Dummy_Set_59,Set_62,Set_66,Set_72,SID).
 iknows(scrypt(Kucssl,pair(ResponseType,pair(Id,pair(Uri,Scope))))).
 secret(Scope,sec_scope,Dummy_Set_59).
 contains(U,Dummy_Set_59).
 contains(C,Dummy_Set_59).
 contains(S,Dummy_Set_59)

step step_4 (C,S,ResponseType,Id,Uri,Granttype,KeyOfClient,Dummy_SSLKey,U,Scope,Token,Tokentype,Expires,Dummy_Code,Resource,Kucssl,Dummy_Kcsssl,Set_59,Dummy_Set_62,Set_66,Set_72,SID,Code,Kcsssl) :=
 state_client(C,S,ResponseType,Id,Uri,Granttype,KeyOfClient,Dummy_SSLKey,4,U,Scope,Token,Tokentype,Expires,Dummy_Code,Resource,Kucssl,Dummy_Kcsssl,Set_59,Dummy_Set_62,Set_66,Set_72,SID).
 iknows(scrypt(Kucssl,Code))
=[exists Kcsssl]=>
 state_client(C,S,ResponseType,Id,Uri,Granttype,KeyOfClient,Dummy_SSLKey,7,U,Scope,Token,Tokentype,Expires,Code,Resource,Kucssl,Kcsssl,Set_59,Dummy_Set_62,Set_66,Set_72,SID).
 iknows(scrypt(Kcsssl,pair(KeyOfClient,pair(Granttype,pair(Code,pair(Uri,Id)))))).
 secret(KeyOfClient,sec_key,Dummy_Set_62).
 witness(C,S,server_client_clientkey,KeyOfClient).
 contains(Kcsssl,Dummy_SSLKey).
 contains(C,Dummy_Set_62).
 contains(S,Dummy_Set_62)

step step_5 (C,S,ResponseType,Id,Uri,Granttype,KeyOfClient,SSLKey,U,Scope,Dummy_Token,Dummy_Tokentype,Dummy_Expires,Code,Resource,Kucssl,Kcsssl,Set_59,Set_62,Dummy_Set_66,Set_72,SID,Token,Tokentype,Expires) :=
 state_client(C,S,ResponseType,Id,Uri,Granttype,KeyOfClient,SSLKey,7,U,Scope,Dummy_Token,Dummy_Tokentype,Dummy_Expires,Code,Resource,Kucssl,Kcsssl,Set_59,Set_62,Dummy_Set_66,Set_72,SID).
 iknows(scrypt(Kcsssl,pair(Token,pair(Tokentype,Expires))))
 =>
 state_client(C,S,ResponseType,Id,Uri,Granttype,KeyOfClient,SSLKey,10,U,Scope,Token,Tokentype,Expires,Code,Resource,Kucssl,Kcsssl,Set_59,Set_62,Dummy_Set_66,Set_72,SID).
 iknows(scrypt(Kcsssl,pair(Token,pair(Tokentype,Scope)))).
 secret(Token,sec_token,Dummy_Set_66).
 request(C,U,client_user_token,Token,SID).
 witness(C,S,server_client_user,U).
 contains(C,Dummy_Set_66).
 contains(S,Dummy_Set_66)

step step_6 (C,S,ResponseType,Id,Uri,Granttype,KeyOfClient,SSLKey,U,Scope,Token,Tokentype,Expires,Code,Dummy_Resource,Kucssl,Kcsssl,Set_59,Set_62,Set_66,Dummy_Set_72,SID,Resource) :=
 state_client(C,S,ResponseType,Id,Uri,Granttype,KeyOfClient,SSLKey,10,U,Scope,Token,Tokentype,Expires,Code,Dummy_Resource,Kucssl,Kcsssl,Set_59,Set_62,Set_66,Dummy_Set_72,SID).
 iknows(scrypt(Kcsssl,Resource))
 =>
 state_client(C,S,ResponseType,Id,Uri,Granttype,KeyOfClient,SSLKey,13,U,Scope,Token,Tokentype,Expires,Code,Resource,Kucssl,Kcsssl,Set_59,Set_62,Set_66,Dummy_Set_72,SID).
 secret(Resource,sec_resource,Dummy_Set_72).
 contains(C,Dummy_Set_72).
 contains(S,Dummy_Set_72)

step step_7 (S,U,C,ResponseType,Granttype,Id,Uri,Credentials,Authorization,NsSet,KeyOfClient,Dummy_SSLKey,Token,Tokentype,Expires,Dummy_Code,Dummy_Scope,Resource,Dummy_Kusssl,Kcsssl,Dummy_Set_98,Dummy_Set_100,Dummy_Set_101,Set_103,Set_104,Set_106,SID,Code,Scope,Kusssl) :=
 state_server(S,U,C,ResponseType,Granttype,Id,Uri,Credentials,Authorization,NsSet,KeyOfClient,Dummy_SSLKey,2,Token,Tokentype,Expires,Dummy_Code,Dummy_Scope,Resource,Dummy_Kusssl,Kcsssl,Dummy_Set_98,Dummy_Set_100,Dummy_Set_101,Set_103,Set_104,Set_106,SID).
 iknows(scrypt(Kusssl,pair(ResponseType,pair(Id,pair(Uri,pair(Scope,pair(Credentials,Authorization))))))).
 contains(Kusssl,Dummy_SSLKey)
=[exists Code]=>
 state_server(S,U,C,ResponseType,Granttype,Id,Uri,Credentials,Authorization,NsSet,KeyOfClient,Dummy_SSLKey,5,Token,Tokentype,Expires,Code,Scope,Resource,Kusssl,Kcsssl,Dummy_Set_98,Dummy_Set_100,Dummy_Set_101,Set_103,Set_104,Set_106,SID).
 secret(Credentials,sec_credentials,Dummy_Set_98).
 secret(Scope,sec_scope,Dummy_Set_100).
 secret(Authorization,sec_authorization,Dummy_Set_101).
 iknows(scrypt(Kusssl,Code)).
 contains(S,Dummy_Set_98).
 contains(U,Dummy_Set_98).
 contains(U,Dummy_Set_100).
 contains(C,Dummy_Set_100).
 contains(S,Dummy_Set_100).
 contains(S,Dummy_Set_101).
 contains(U,Dummy_Set_101)

step step_8 (S,U,C,ResponseType,Granttype,Id,Uri,Credentials,Authorization,Dummy_NsSet,KeyOfClient,Dummy_SSLKey,Dummy_Token,Dummy_Tokentype,Dummy_Expires,Code,Scope,Resource,Kusssl,Dummy_Kcsssl,Set_98,Set_100,Set_101,Dummy_Set_103,Dummy_Set_104,Set_106,SID,Token,Tokentype,Expires,Kcsssl) :=
 state_server(S,U,C,ResponseType,Granttype,Id,Uri,Credentials,Authorization,Dummy_NsSet,KeyOfClient,Dummy_SSLKey,5,Dummy_Token,Dummy_Tokentype,Dummy_Expires,Code,Scope,Resource,Kusssl,Dummy_Kcsssl,Set_98,Set_100,Set_101,Dummy_Set_103,Dummy_Set_104,Set_106,SID).
 iknows(scrypt(Kcsssl,pair(KeyOfClient,pair(Granttype,pair(Code,pair(Uri,Id)))))).
 contains(Kcsssl,Dummy_SSLKey) &
 not(contains(Code,Dummy_NsSet))
=[exists Expires,Tokentype,Token]=>
 state_server(S,U,C,ResponseType,Granttype,Id,Uri,Credentials,Authorization,Dummy_NsSet,KeyOfClient,Dummy_SSLKey,8,Token,Tokentype,Expires,Code,Scope,Resource,Kusssl,Kcsssl,Set_98,Set_100,Set_101,Dummy_Set_103,Dummy_Set_104,Set_106,SID).
 iknows(scrypt(Kcsssl,pair(Token,pair(Tokentype,Expires)))).
 secret(Token,sec_token,Dummy_Set_103).
 secret(KeyOfClient,sec_key,Dummy_Set_104).
 witness(U,C,client_user_token,Token).
 contains(Code,Dummy_NsSet).
 contains(S,Dummy_Set_103).
 contains(C,Dummy_Set_103).
 contains(S,Dummy_Set_104).
 contains(C,Dummy_Set_104)

step step_9 (S,U,C,ResponseType,Granttype,Id,Uri,Credentials,Authorization,NsSet,KeyOfClient,SSLKey,Token,Tokentype,Expires,Code,Scope,Dummy_Resource,Kusssl,Kcsssl,Set_98,Set_100,Set_101,Set_103,Set_104,Dummy_Set_106,SID,Resource) :=
 state_server(S,U,C,ResponseType,Granttype,Id,Uri,Credentials,Authorization,NsSet,KeyOfClient,SSLKey,8,Token,Tokentype,Expires,Code,Scope,Dummy_Resource,Kusssl,Kcsssl,Set_98,Set_100,Set_101,Set_103,Set_104,Dummy_Set_106,SID).
 iknows(scrypt(Kcsssl,pair(Token,pair(Tokentype,Scope))))
=[exists Resource]=>
 state_server(S,U,C,ResponseType,Granttype,Id,Uri,Credentials,Authorization,NsSet,KeyOfClient,SSLKey,11,Token,Tokentype,Expires,Code,Scope,Resource,Kusssl,Kcsssl,Set_98,Set_100,Set_101,Set_103,Set_104,Dummy_Set_106,SID).
 iknows(scrypt(Kcsssl,Resource)).
 secret(Resource,sec_resource,Dummy_Set_106).
 contains(S,Dummy_Set_106).
 contains(C,Dummy_Set_106)


section properties:

property secrecy_of_sec_credentials (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_credentials,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_token (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_token,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_key (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_key,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_resource (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_resource,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_scope (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_scope,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_authorization (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_authorization,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_client_user_token (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,client_user_token,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,client_user_token,MGoal))
     /\ ((request(A1Goal,A2Goal,client_user_token,MGoal,SID1)
           /\ request(A1Goal,A2Goal,client_user_token,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_client_user (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_client_user,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_client_user,MGoal))
     /\ ((request(A1Goal,A2Goal,server_client_user,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_client_user,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_user_credentials (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_user_credentials,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_user_credentials,MGoal))
     /\ ((request(A1Goal,A2Goal,server_user_credentials,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_user_credentials,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_client_clientkey (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_client_clientkey,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_client_clientkey,MGoal))
     /\ ((request(A1Goal,A2Goal,server_client_clientkey,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_client_clientkey,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec_credentials (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_credentials,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_token (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_token,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_key (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_key,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_resource (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_resource,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_scope (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_scope,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_authorization (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_authorization,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_client_user_token (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,client_user_token,MGoal,SID) &
 not(witness(A2Goal,A1Goal,client_user_token,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_client_user_token (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,client_user_token,MGoal,SID1).
 request(A1Goal,A2Goal,client_user_token,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_client_user (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_client_user,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_client_user,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_client_user (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_client_user,MGoal,SID1).
 request(A1Goal,A2Goal,server_client_user,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_user_credentials (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_user_credentials,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_user_credentials,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_user_credentials (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_user_credentials,MGoal,SID1).
 request(A1Goal,A2Goal,server_user_credentials,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_client_clientkey (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_client_clientkey,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_client_clientkey,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_client_clientkey (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_client_clientkey,MGoal,SID1).
 request(A1Goal,A2Goal,server_client_clientkey,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

