%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile8xpYFR

section signature:

state_verifier: agent * agent * agent * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * set(text) * nat -> fact
state_proxysigner: agent * agent * agent * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * nat -> fact
state_originalsigner: agent * agent * agent * hash_func * hash_func * nat * text * text * text * text * text * text * set(text) * nat -> fact


section types:

ASGoal: set(agent)
MGoal, start: message
alice_bob_na, bob_alice_nb, bob_verifier_nc, verifier_bob_nd, subs1, subs2: protocol_id
h, f, F, H: hash_func
set_97, set_132, set_131, set_130, set_128, set_127, set_125, set_124, set_122, set_120, set_118, set_117, set_116, set_112, set_105, set_104: set
Set_71, Set_51, Set_50, Set_28, Dummy_Set_71, Dummy_Set_51, Dummy_Set_50, Dummy_Set_28: set(text)
A2Goal, A1Goal, a, b, v, A, B, V, i: agent
dummy_nonce, X0, Y0, P, Q, R, X2, R1, Y1, M, Mw, Dummy_M, Dummy_R1, Dummy_R: text
3, SID, SID2, SID1, State, 17, 15, 1, 0, 12, 11, 9, 8, 5, 4, Dummy_State: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(b).
 iknows(v).
 iknows(h).
 iknows(f).
 iknows(i).
 state_originalsigner(a,b,v,h,f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_97,3).
 state_proxysigner(b,a,v,h,f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_104,set_105,4).
 state_verifier(v,a,b,h,f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_112,5).
 state_proxysigner(b,i,v,h,f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_117,set_118,8).
 state_verifier(v,i,b,h,f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_120,9).
 state_originalsigner(a,b,i,h,f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_122,11).
 state_proxysigner(b,a,i,h,f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_124,set_125,12).
 state_originalsigner(a,i,v,h,f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_128,15).
 state_verifier(v,a,i,h,f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_132,17)


section rules:

step step_0 (A,B,V,H,F,Dummy_R,P,X0,Q,Y0,Mw,Dummy_Set_28,SID,R) :=
 state_originalsigner(A,B,V,H,F,0,Dummy_R,P,X0,Q,Y0,Mw,Dummy_Set_28,SID).
 iknows(start)
=[exists R]=>
 state_originalsigner(A,B,V,H,F,1,R,P,X0,Q,Y0,Mw,Dummy_Set_28,SID).
 secret(Dummy_Set_28,subs1,A).
 iknows(pair(R,Q)).
 witness(A,B,bob_alice_nb,R).
 contains(R,Dummy_Set_28).
 contains(X0,Dummy_Set_28)

step step_1 (B,A,V,F,H,X0,Y0,P,Q,Dummy_R,X2,Dummy_R1,Y1,Dummy_M,Mw,Dummy_Set_50,Dummy_Set_51,SID,R,R1,M) :=
 state_proxysigner(B,A,V,F,H,0,X0,Y0,P,Q,Dummy_R,X2,Dummy_R1,Y1,Dummy_M,Mw,Dummy_Set_50,Dummy_Set_51,SID).
 iknows(pair(R,Q))
=[exists R1,M]=>
 state_proxysigner(B,A,V,F,H,1,X0,Y0,P,Q,R,X2,R1,Y1,M,Mw,Dummy_Set_50,Dummy_Set_51,SID).
 secret(Dummy_Set_50,subs1,A).
 secret(Dummy_Set_51,subs2,B).
 iknows(pair(R1,Q)).
 witness(B,V,verifier_bob_nd,R1).
 contains(R,Dummy_Set_50).
 contains(X0,Dummy_Set_50).
 contains(R1,Dummy_Set_51)

step step_2 (V,A,B,H,F,X0,Y0,P,Q,R,X2,Dummy_R1,Y1,M,Mw,Dummy_Set_71,SID,R1) :=
 state_verifier(V,A,B,H,F,0,X0,Y0,P,Q,R,X2,Dummy_R1,Y1,M,Mw,Dummy_Set_71,SID).
 iknows(pair(R1,Q))
 =>
 state_verifier(V,A,B,H,F,1,X0,Y0,P,Q,R,X2,R1,Y1,M,Mw,Dummy_Set_71,SID).
 secret(Dummy_Set_71,subs2,B).
 contains(R1,Dummy_Set_71)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_bob_alice_nb (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_nb,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_nb,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_nb,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_nb,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_verifier_bob_nd (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,verifier_bob_nd,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,verifier_bob_nd,MGoal))
     /\ ((request(A1Goal,A2Goal,verifier_bob_nd,MGoal,SID1)
           /\ request(A1Goal,A2Goal,verifier_bob_nd,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_bob_alice_nb (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_nb,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_nb,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_nb (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_nb,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_nb,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_verifier_bob_nd (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,verifier_bob_nd,MGoal,SID) &
 not(witness(A2Goal,A1Goal,verifier_bob_nd,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_verifier_bob_nd (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,verifier_bob_nd,MGoal,SID1).
 request(A1Goal,A2Goal,verifier_bob_nd,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

