%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilexJoD3x

section signature:

state_bob: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * public_key * text * text * text * text * text * text * text * hash_func * set(text) * set(text) * nat -> fact
state_alice: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * public_key * text * text * text * text * text * text * text * hash_func * set(text) * set(text) * nat -> fact


section types:

ASGoal: set(agent)
MGoal, start: message
subs2, subs1, alice_bob_rni, bob_alice_rnj, sub1, sub2: protocol_id
Set_75, Set_74, Set_40, Set_37, Dummy_Set_75, Dummy_Set_74, Dummy_Set_40, Dummy_Set_37: set(text)
skuisj, SKuisj: symmetric_key
MUL, H, h, dummy_hash: hash_func
e, E, dummy_pk: public_key
pwi, idi, ni, sni, n, RNi, RNj, Ai, Bi, Hi, Xi, H2, IDi, RIDi, PWi, PRWi, Ni, SNi, P, Q, N, Dummy_H2, Dummy_RNj, Dummy_Xi, RPWi, Dummy_Hi, Dummy_Bi, Dummy_RNi, Dummy_RPWi, Dummy_RIDi, dummy_nonce: text
set_132, set_131, set_129, set_128, set_122, set_121, set_105, set_104: set
A2Goal, A1Goal, ui, sj, Ui, Sj, i: agent
State, 3, 2, 1, 0, 7, 6, 4, SID, Dummy_State, SID2, SID1: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(si).
 iknows(h).
 iknows(i).
 state_alice(ui,sj,skuisj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_pk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_104,set_105,3).
 state_bob(sj,ui,skuisj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_pk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_121,set_122,4).
 state_alice(ui,sj,skuisj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_pk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_128,set_129,6).
 state_bob(sj,ui,skuisj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_pk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_131,set_132,7)


section rules:

step step_0 (Ui,Sj,SKuisj,H,P,Q,N,IDi,Dummy_RIDi,PWi,Dummy_RPWi,Ni,SNi,E,RNi,RNj,Ai,Bi,Hi,Xi,H2,MUL,Dummy_Set_37,Dummy_Set_40,SID) :=
 state_alice(Ui,Sj,SKuisj,H,0,P,Q,N,IDi,Dummy_RIDi,PWi,Dummy_RPWi,Ni,SNi,E,RNi,RNj,Ai,Bi,Hi,Xi,H2,MUL,Dummy_Set_37,Dummy_Set_40,SID).
 iknows(start)
 =>
 state_alice(Ui,Sj,SKuisj,H,1,P,Q,N,IDi,apply(H,pair(IDi,Ni)),PWi,apply(H,pair(PWi,Ni)),Ni,SNi,E,RNi,RNj,Ai,Bi,Hi,Xi,H2,MUL,Dummy_Set_37,Dummy_Set_40,SID).
 iknows(scrypt(SKuisj,pair(IDi,pair(apply(H,pair(IDi,Ni)),apply(H,pair(PWi,Ni)))))).
 secret(Dummy_Set_37,subs1,Sj).
 secret(Dummy_Set_40,subs2,Ui).
 contains(P,Dummy_Set_37).
 contains(Q,Dummy_Set_37).
 contains(PWi,Dummy_Set_40).
 contains(Ni,Dummy_Set_40)

step step_1 (Ui,Sj,SKuisj,H,P,Q,N,IDi,RIDi,PWi,RPWi,Ni,SNi,E,Dummy_RNi,RNj,Ai,Dummy_Bi,Dummy_Hi,Dummy_Xi,H2,MUL,Set_37,Set_40,SID,RNi) :=
 state_alice(Ui,Sj,SKuisj,H,1,P,Q,N,IDi,RIDi,PWi,RPWi,Ni,SNi,E,Dummy_RNi,RNj,Ai,Dummy_Bi,Dummy_Hi,Dummy_Xi,H2,MUL,Set_37,Set_40,SID).
 iknows(scrypt(SKuisj,pair(apply(MUL,pair(P,Q)),pair(E,pair(apply(H,pair(apply(H,pair(IDi,Ni)),apply(H,pair(PWi,Ni)))),xor(apply(H,pair(IDi,inv_E)),apply(H,pair(PWi,Ni))))))))
=[exists RNi]=>
 state_alice(Ui,Sj,SKuisj,H,2,P,Q,N,IDi,RIDi,PWi,RPWi,Ni,SNi,E,RNi,RNj,Ai,xor(xor(apply(H,pair(IDi,inv_E)),apply(H,pair(PWi,Ni))),apply(h,pair(PWi,Ni))),apply(H,pair(xor(xor(apply(H,pair(IDi,inv_E)),apply(H,pair(PWi,Ni))),apply(h,pair(PWi,Ni))),RNi)),exp(pair(IDi,pair(apply(H,pair(xor(xor(apply(H,pair(IDi,inv_E)),apply(H,pair(PWi,Ni))),apply(h,pair(PWi,Ni))),RNi)),pair(RNi,SNi))),E),H2,MUL,Set_37,Set_40,SID).
 iknows(pair(exp(pair(IDi,pair(apply(H,pair(xor(xor(apply(H,pair(IDi,inv_E)),apply(H,pair(PWi,Ni))),apply(h,pair(PWi,Ni))),RNi)),pair(RNi,SNi))),E),N)).
 witness(Ui,Sj,alice_bob_rni,RNi)

step step_2 (Ui,Sj,SKuisj,H,P,Q,N,IDi,RIDi,PWi,RPWi,Ni,SNi,E,Dummy_RNi,Dummy_RNj,Ai,Bi,Hi,Xi,H2,MUL,Set_37,Set_40,SID,RNi,RNj) :=
 state_alice(Ui,Sj,SKuisj,H,2,P,Q,N,IDi,RIDi,PWi,RPWi,Ni,SNi,E,Dummy_RNi,Dummy_RNj,Ai,Bi,Hi,Xi,H2,MUL,Set_37,Set_40,SID).
 iknows(pair(apply(H,pair(IDi,pair(RNi,pair(RNj,SNi)))),pair(xor(RNi,RNj),apply(H,RNj))))
 =>
 state_alice(Ui,Sj,SKuisj,H,3,P,Q,N,IDi,RIDi,PWi,RPWi,Ni,SNi,E,RNi,RNj,Ai,Bi,Hi,Xi,H2,MUL,Set_37,Set_40,SID).
 iknows(apply(H,apply(H,pair(IDi,pair(RNi,pair(RNj,pair(SNi,xor(xor(apply(H,pair(IDi,inv_E)),apply(H,pair(PWi,Ni))),apply(h,pair(PWi,Ni)))))))))).
 request(Sj,Ui,bob_alice_rnj,RNj,SID)

step step_3 (Sj,Ui,SKuisj,H,P,Q,N,IDi,RIDi,PWi,PRWi,Ni,SNi,E,RNi,RNj,Ai,Bi,Hi,Xi,H2,MUL,Dummy_Set_74,Dummy_Set_75,SID) :=
 state_bob(Sj,Ui,SKuisj,H,0,P,Q,N,IDi,RIDi,PWi,PRWi,Ni,SNi,E,RNi,RNj,Ai,Bi,Hi,Xi,H2,MUL,Dummy_Set_74,Dummy_Set_75,SID).
 iknows(scrypt(SKuisj,pair(IDi,pair(apply(H,pair(IDi,Ni)),apply(H,pair(PWi,Ni))))))
 =>
 state_bob(Sj,Ui,SKuisj,H,1,P,Q,N,IDi,RIDi,PWi,PRWi,Ni,SNi,E,RNi,RNj,Ai,Bi,Hi,Xi,H2,MUL,Dummy_Set_74,Dummy_Set_75,SID).
 secret(Dummy_Set_74,subs1,Sj).
 secret(Dummy_Set_75,subs2,Ui).
 iknows(scrypt(SKuisj,pair(apply(MUL,pair(P,Q)),pair(E,pair(apply(H,pair(apply(H,pair(IDi,Ni)),apply(H,pair(PWi,Ni)))),xor(apply(H,pair(IDi,inv_E)),apply(H,pair(PWi,Ni)))))))).
 contains(P,Dummy_Set_74).
 contains(Q,Dummy_Set_74).
 contains(PWi,Dummy_Set_75).
 contains(Ni,Dummy_Set_75)

step step_4 (Sj,Ui,SKuisj,H,P,Q,N,IDi,RIDi,PWi,PRWi,Ni,SNi,E,Dummy_RNi,Dummy_RNj,Ai,Bi,Hi,Xi,Dummy_H2,MUL,Set_74,Set_75,SID,RNi,RNj) :=
 state_bob(Sj,Ui,SKuisj,H,1,P,Q,N,IDi,RIDi,PWi,PRWi,Ni,SNi,E,Dummy_RNi,Dummy_RNj,Ai,Bi,Hi,Xi,Dummy_H2,MUL,Set_74,Set_75,SID).
 iknows(pair(exp(pair(IDi,pair(apply(H,pair(xor(xor(apply(H,pair(IDi,inv_E)),apply(H,pair(PWi,Ni))),apply(h,pair(PWi,Ni))),RNi)),pair(RNi,SNi))),E),N))
=[exists RNj]=>
 state_bob(Sj,Ui,SKuisj,H,2,P,Q,N,IDi,RIDi,PWi,PRWi,Ni,SNi,E,RNi,RNj,Ai,Bi,Hi,Xi,apply(H,pair(IDi,pair(RNi,pair(RNj,SNi)))),MUL,Set_74,Set_75,SID).
 iknows(pair(apply(H,pair(IDi,pair(RNi,pair(RNj,SNi)))),pair(xor(RNi,RNj),apply(H,RNj))))

step step_5 (Sj,Ui,SKuisj,H,P,Q,N,IDi,RIDi,PWi,PRWi,Ni,SNi,E,Dummy_RNi,Dummy_RNj,Ai,Bi,Hi,Xi,H2,MUL,Set_74,Set_75,SID,RNi,RNj) :=
 state_bob(Sj,Ui,SKuisj,H,2,P,Q,N,IDi,RIDi,PWi,PRWi,Ni,SNi,E,Dummy_RNi,Dummy_RNj,Ai,Bi,Hi,Xi,H2,MUL,Set_74,Set_75,SID).
 iknows(apply(H,apply(H,pair(IDi,pair(RNi,pair(RNj,pair(SNi,apply(H,pair(IDi,inv_E)))))))))
 =>
 state_bob(Sj,Ui,SKuisj,H,3,P,Q,N,IDi,RIDi,PWi,PRWi,Ni,SNi,E,RNi,RNj,Ai,Bi,Hi,Xi,H2,MUL,Set_74,Set_75,SID).
 request(Ui,Sj,alice_bob_rni,Dummy_RNi,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob_rni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_rni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_rni,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_rni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_rni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_rnj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_rnj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_rnj,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_rnj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_rnj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob_rni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_rni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_rni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_rni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_rni,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_rni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_rnj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_rnj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_rnj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_rnj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_rnj,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_rnj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

