%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilez18515

section signature:

state_ar: agent * agent * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * apply(hash_func,pair(text,text)) * message * message * message * message * text * text * set(agent) * nat -> fact
state_obu: agent * agent * hash_func * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * apply(hash_func,pair(text,text)) * message * message * message * message * text * text * text * set(agent) * nat -> fact


section types:

sec_hak_ar, hak1, hak2, sec_hak_obu: protocol_id
Dummy_HAK_mac1, Dummy_HEK_mac2, Dummy_HEK_mac1, Dummy_HEK, dummy_msg, MGoal, HEK, HEK_mac1, HEK_mac2, HAK_mac1, start: message
Dummy_HAK, HAK: apply(hash_func,pair(text,text))
Dummy_Nar, Dummy_Nobu, dummy_nonce, Add_obu, Add_ar, Success, Nobu, Nar, IDobu, IDar, success, MSK: text
prf1, prf2, f1, f2, f3, PRF2, F1, F2, F3, PRF1: hash_func
Dummy_State, 3, SID, SID2, SID1, State, 2, 1, 0, 12, 10, 7, 6, 4: nat
A2Goal, A1Goal, AR, OBU, ar, obu, i: agent
set_88, set_115, set_113, set_111, set_110, set_108, set_106, set_102: set
ASGoal, Set_64, Set_37, Dummy_Set_64, Dummy_Set_37: set(agent)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(obu).
 iknows(ar).
 iknows(prf1).
 iknows(prf2).
 iknows(i).
 state_obu(obu,ar,f1,f2,f3,prf1,prf2,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,dummy_nonce,set_88,3).
 state_ar(ar,obu,f2,f3,prf1,prf2,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,set_102,4).
 state_obu(obu,ar,f1,f2,f3,prf1,prf2,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,dummy_nonce,set_106,6).
 state_ar(ar,obu,f2,f3,prf1,prf2,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,set_108,7).
 state_ar(ar,i,f2,f3,prf1,prf2,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,set_111,10).
 state_obu(obu,i,f1,f2,f3,prf1,prf2,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,dummy_nonce,set_113,12)


section rules:

step step_0 (OBU,AR,F1,F2,F3,PRF1,PRF2,IDobu,IDar,Dummy_Nobu,Nar,Success,HAK,Dummy_HEK,Dummy_HEK_mac1,HEK_mac2,HAK_mac1,MSK,Add_obu,Add_ar,Set_37,SID,Nobu) :=
 state_obu(OBU,AR,F1,F2,F3,PRF1,PRF2,0,IDobu,IDar,Dummy_Nobu,Nar,Success,HAK,Dummy_HEK,Dummy_HEK_mac1,HEK_mac2,HAK_mac1,MSK,Add_obu,Add_ar,Set_37,SID).
 iknows(start)
=[exists Nobu]=>
 state_obu(OBU,AR,F1,F2,F3,PRF1,PRF2,1,IDobu,IDar,Nobu,Nar,Success,HAK,apply(PRF1,pair(MSK,pair(Add_obu,Add_ar))),apply(F1,pair(IDobu,pair(IDar,Nobu))),HEK_mac2,HAK_mac1,MSK,Add_obu,Add_ar,Set_37,SID).
 iknows(pair(Dummy_HEK_mac1,scrypt(apply(PRF1,pair(MSK,pair(Add_obu,Add_ar))),pair(IDobu,pair(IDar,Nobu)))))

step step_1 (OBU,AR,F1,F2,F3,PRF1,PRF2,IDobu,IDar,Nobu,Dummy_Nar,Success,Dummy_HAK,HEK,HEK_mac1,Dummy_HAK_mac1,MSK,Add_obu,Add_ar,Set_37,SID,Nar,HEK_mac2) :=
 state_obu(OBU,AR,F1,F2,F3,PRF1,PRF2,1,IDobu,IDar,Nobu,Dummy_Nar,Success,Dummy_HAK,HEK,HEK_mac1,apply(F2,pair(IDobu,pair(IDar,Nar))),Dummy_HAK_mac1,MSK,Add_obu,Add_ar,Set_37,SID).
 iknows(pair(HEK_mac2,scrypt(HEK,pair(IDobu,pair(IDar,Nar)))))
 =>
 state_obu(OBU,AR,F1,F2,F3,PRF1,PRF2,2,IDobu,IDar,Nobu,Nar,Success,apply(PRF2,pair(Nobu,Nar)),HEK,HEK_mac1,HEK_mac2,apply(F3,pair(apply(PRF2,pair(Nobu,Nar)),HEK)),MSK,Add_obu,Add_ar,Set_37,SID).
 iknows(pair(apply(F3,pair(apply(PRF2,pair(Nobu,Nar)),HEK)),scrypt(HEK,apply(PRF2,pair(Nobu,Nar))))).
 witness(OBU,AR,hak2,apply(PRF2,pair(Nobu,Nar)))

step step_2 (OBU,AR,F1,F2,F3,PRF1,PRF2,IDobu,IDar,Nobu,Nar,Success,HAK,HEK,HEK_mac1,HEK_mac2,HAK_mac1,MSK,Add_obu,Add_ar,Dummy_Set_37,SID) :=
 state_obu(OBU,AR,F1,F2,F3,PRF1,PRF2,2,IDobu,IDar,Nobu,Nar,Success,HAK,HEK,HEK_mac1,HEK_mac2,HAK_mac1,MSK,Add_obu,Add_ar,Dummy_Set_37,SID).
 iknows(success)
 =>
 state_obu(OBU,AR,F1,F2,F3,PRF1,PRF2,3,IDobu,IDar,Nobu,Nar,Success,HAK,HEK,HEK_mac1,HEK_mac2,HAK_mac1,MSK,Add_obu,Add_ar,Dummy_Set_37,SID).
 secret(HAK,sec_hak_obu,Dummy_Set_37).
 request(AR,OBU,hak1,HAK,SID).
 contains(OBU,Dummy_Set_37).
 contains(AR,Dummy_Set_37)

step step_3 (AR,OBU,F1,F2,F3,PRF2,IDobu,IDar,Dummy_Nobu,Dummy_Nar,Success,HAK,Dummy_HEK,Dummy_HEK_mac1,Dummy_HEK_mac2,HAK_mac1,Add_obu,Add_ar,Set_64,SID,Nobu,Nar,HEK) :=
 state_ar(AR,OBU,F1,F2,F3,PRF2,0,IDobu,IDar,Dummy_Nobu,Dummy_Nar,Success,HAK,Dummy_HEK,Dummy_HEK_mac1,Dummy_HEK_mac2,HAK_mac1,Add_obu,Add_ar,Set_64,SID).
 iknows(pair(apply(F1,pair(IDobu,pair(IDar,Nobu))),scrypt(HEK,pair(IDobu,pair(IDar,Nobu)))))
=[exists Nar]=>
 state_ar(AR,OBU,F1,F2,F3,PRF2,1,IDobu,IDar,Nobu,Nar,Success,HAK,HEK,apply(F1,pair(IDobu,pair(IDar,Nobu))),apply(F2,pair(IDobu,pair(IDar,Nar))),HAK_mac1,Add_obu,Add_ar,Set_64,SID).
 iknows(pair(apply(F2,pair(IDobu,pair(IDar,Nar))),scrypt(Dummy_HEK,pair(IDobu,pair(IDar,Nar)))))

step step_4 (AR,OBU,F1,F2,F3,PRF2,IDobu,IDar,Nobu,Nar,Success,Dummy_HAK,HEK,HEK_mac1,HEK_mac2,Dummy_HAK_mac1,Add_obu,Add_ar,Dummy_Set_64,SID) :=
 state_ar(AR,OBU,F1,F2,F3,PRF2,1,IDobu,IDar,Nobu,Nar,Success,Dummy_HAK,HEK,HEK_mac1,HEK_mac2,Dummy_HAK_mac1,Add_obu,Add_ar,Dummy_Set_64,SID).
 iknows(pair(apply(F3,pair(apply(PRF2,pair(Nobu,Nar)),HEK)),scrypt(HEK,apply(PRF2,pair(Nobu,Nar)))))
 =>
 state_ar(AR,OBU,F1,F2,F3,PRF2,2,IDobu,IDar,Nobu,Nar,Success,apply(PRF2,pair(Nobu,Nar)),HEK,HEK_mac1,HEK_mac2,apply(F3,pair(apply(PRF2,pair(Nobu,Nar)),HEK)),Add_obu,Add_ar,Dummy_Set_64,SID).
 iknows(success).
 secret(apply(PRF2,pair(Nobu,Nar)),sec_hak_ar,Dummy_Set_64).
 witness(AR,OBU,hak1,apply(PRF2,pair(Nobu,Nar))).
 request(AR,OBU,hak2,Dummy_HAK,SID).
 contains(AR,Dummy_Set_64).
 contains(OBU,Dummy_Set_64)


section properties:

property secrecy_of_sec_hak_obu (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_hak_obu,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_hak_ar (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_hak_ar,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_hak1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,hak1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,hak1,MGoal))
     /\ ((request(A1Goal,A2Goal,hak1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,hak1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_hak2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,hak2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,hak2,MGoal))
     /\ ((request(A1Goal,A2Goal,hak2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,hak2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec_hak_obu (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_hak_obu,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_hak_ar (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_hak_ar,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_hak1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,hak1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,hak1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_hak1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,hak1,MGoal,SID1).
 request(A1Goal,A2Goal,hak1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_hak2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,hak2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,hak2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_hak2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,hak2,MGoal,SID1).
 request(A1Goal,A2Goal,hak2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

