%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile9wMRy8

section signature:

state_bs: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * set(text) * set(text) * set(symmetric_key) * set(agent) * set(text) * set(agent) * nat -> fact
state_bob: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * set(text) * set(text) * set(symmetric_key) * set(agent) * set(text) * set(agent) * nat -> fact
state_alice: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * set(text) * set(text) * set(symmetric_key) * set(agent) * set(text) * set(agent) * nat -> fact


section types:

alice_bob_nj, bob_alice_ni, sub1_subs, subs, sub1, sub2: protocol_id
5, SID, 4, Dummy_State, 3, SID2, SID1, State, 2, 1, 0, 9, 8, 7: nat
set_198, set_197, set_196, set_195, set_194, set_193, set_183, set_182, set_181, set_180, set_179, set_178, set_160, set_159, set_158, set_157, set_156, set_155, set_232, set_231, set_230, set_229, set_228, set_227, set_225, set_224, set_223, set_222, set_221, set_220, set_218, set_217, set_216, set_215, set_214, set_213: set
h, H: hash_func
kj, MKch: symmetric_key
Dummy_Set_114, Dummy_Set_112, Dummy_Set_46, Dummy_Set_44, ASGoal, Set_114, Set_112, Set_81, Set_79, Set_46, Set_44, Dummy_Set_81, Dummy_Set_79: set(agent)
Dummy_Set_111, Dummy_Set_43, Set_111, Set_78, Set_43, Dummy_Set_78: set(symmetric_key)
Dummy_Set_113, Dummy_Set_110, Dummy_Set_109, Dummy_Set_45, Dummy_Set_42, Dummy_Set_40, Set_113, Set_110, Set_109, Set_80, Set_77, Set_76, Set_45, Set_42, Set_40, Dummy_Set_80, Dummy_Set_77, Dummy_Set_76: set(text)
A2Goal, A1Goal, sni, snj, SNi, SNj, BS, bs, U, CHj, i: agent
dummy_msg, MGoal, Kj, start, Dummy_Kj: message
Dummy_X, Dummy_Ei, Dummy_T2, Dummy_Ni, Dummy_T1, Dummy_RPWi1, Dummy_R1, Dummy_X1, Dummy_RPWi, dummy_nonce, x1, r1, rpwi1, rpwi, pwi, xs, xa, yy, t1, t2, ei, ni, x, y, z, mkch, X1, R1, RPWi1, RPWi, PWi, Xs, Xa, Yy, T1, T2, Ei, Ni, X, Y, Z, Ri, ack, Dummy_Z, Dummy_Y, Dummy_Ri: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(sni).
 iknows(snj).
 iknows(h).
 iknows(i).
 state_alice(sni,snj,bs,kj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_155,set_156,set_157,set_158,set_159,set_160,3).
 state_bob(sni,snj,bs,kj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_178,set_179,set_180,set_181,set_182,set_183,4).
 state_bs(bs,sni,snj,kj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_193,set_194,set_195,set_196,set_197,set_198,5).
 state_alice(snj,sni,bs,kj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_213,set_214,set_215,set_216,set_217,set_218,7).
 state_bob(snj,sni,bs,kj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_220,set_221,set_222,set_223,set_224,set_225,8).
 state_bs(bs,snj,sni,kj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_227,set_228,set_229,set_230,set_231,set_232,9)


section rules:

step step_0 (U,CHj,BS,MKch,H,X1,R1,RPWi1,Dummy_RPWi,PWi,Xs,Xa,Yy,T1,T2,Ei,Ni,X,Y,Z,Ri,Kj,Set_40,Set_42,Set_43,Set_44,Set_45,Set_46,SID) :=
 state_alice(U,CHj,BS,MKch,H,0,X1,R1,RPWi1,Dummy_RPWi,PWi,Xs,Xa,Yy,T1,T2,Ei,Ni,X,Y,Z,Ri,Kj,Set_40,Set_42,Set_43,Set_44,Set_45,Set_46,SID).
 iknows(start)
 =>
 state_alice(U,CHj,BS,MKch,H,1,X1,R1,RPWi1,apply(H,pair(Yy,PWi)),PWi,Xs,Xa,Yy,T1,T2,Ei,Ni,X,Y,Z,Ri,Kj,Set_40,Set_42,Set_43,Set_44,Set_45,Set_46,SID).
 iknows(pair(U,apply(H,pair(Yy,PWi))))

step step_1 (U,CHj,BS,MKch,H,Dummy_X1,Dummy_R1,Dummy_RPWi1,RPWi,PWi,Xs,Xa,Yy,T1,T2,Ei,Ni,X,Y,Z,Ri,Kj,Dummy_Set_40,Dummy_Set_42,Dummy_Set_43,Dummy_Set_44,Dummy_Set_45,Dummy_Set_46,SID) :=
 state_alice(U,CHj,BS,MKch,H,1,Dummy_X1,Dummy_R1,Dummy_RPWi1,RPWi,PWi,Xs,Xa,Yy,T1,T2,Ei,Ni,X,Y,Z,Ri,Kj,Dummy_Set_40,Dummy_Set_42,Dummy_Set_43,Dummy_Set_44,Dummy_Set_45,Dummy_Set_46,SID).
 iknows(pair(U,pair(Yy,pair(Xa,pair(apply(H,pair(Yy,apply(H,pair(apply(H,pair(Yy,PWi)),Xa)))),pair(xor(apply(H,pair(U,Xs)),apply(H,pair(apply(H,pair(Yy,PWi)),Xa))),pair(H,pair(scrypt(MKch,pair(U,pair(CHj,Xs))),CHj))))))))
 =>
 state_alice(U,CHj,BS,MKch,H,2,apply(H,pair(apply(H,pair(Yy,PWi)),Xa)),apply(H,pair(Yy,apply(H,pair(apply(H,pair(Yy,PWi)),Xa)))),apply(H,pair(Yy,PWi)),RPWi,PWi,Xs,Xa,Yy,T1,T2,Ei,Ni,X,Y,Z,Ri,Kj,Dummy_Set_40,Dummy_Set_42,Dummy_Set_43,Dummy_Set_44,Dummy_Set_45,Dummy_Set_46,SID).
 secret(Dummy_Set_40,subs,BS).
 secret(Dummy_Set_42,sub1,U).
 secret(Dummy_Set_43,sub2,Dummy_Set_44).
 secret(Dummy_Set_45,sub1_subs,Dummy_Set_46).
 contains(Xs,Dummy_Set_40).
 contains(PWi,Dummy_Set_42).
 contains(MKch,Dummy_Set_43).
 contains(BS,Dummy_Set_44).
 contains(CHj,Dummy_Set_44).
 contains(Xa,Dummy_Set_45).
 contains(Kj,Dummy_Set_45).
 contains(Yy,Dummy_Set_45).
 contains(BS,Dummy_Set_46).
 contains(U,Dummy_Set_46)

step step_2 (U,CHj,BS,MKch,H,X1,Dummy_R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,Dummy_T1,T2,Ei,Dummy_Ni,X,Y,Z,R1,Kj,Set_40,Set_42,Set_43,Set_44,Set_45,Set_46,SID,T1) :=
 state_alice(U,CHj,BS,MKch,H,2,X1,Dummy_R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,Dummy_T1,T2,Ei,Dummy_Ni,X,Y,Z,R1,Kj,Set_40,Set_42,Set_43,Set_44,Set_45,Set_46,SID)
=[exists T1]=>
 state_alice(U,CHj,BS,MKch,H,3,X1,R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,T1,T2,Ei,apply(H,pair(X1,T1)),X,Y,Z,R1,Kj,Set_40,Set_42,Set_43,Set_44,Set_45,Set_46,SID).
 iknows(pair(U,pair(CHj,scrypt(scrypt(MKch,pair(U,pair(CHj,Xs))),pair(U,pair(CHj,pair(apply(H,pair(apply(H,pair(apply(H,pair(Yy,PWi)),Xa)),T1)),pair(xor(apply(H,pair(U,Xs)),apply(H,pair(apply(H,pair(Yy,PWi)),Xa))),T1)))))))).
 witness(U,CHj,bob_alice_ni,T1).
 request(U,CHj,bob_alice_ni,T1,SID)

step step_3 (SNj,SNi,BS,MKch,H,X1,R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,T1,Dummy_T2,Ei,Ni,X,Y,Z,Ri,Kj,Dummy_Set_109,Dummy_Set_110,Dummy_Set_111,Dummy_Set_112,Dummy_Set_113,Dummy_Set_114,SID,T2) :=
 state_bob(SNj,SNi,BS,MKch,H,0,X1,R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,T1,Dummy_T2,Ei,Ni,X,Y,Z,Ri,Kj,Dummy_Set_109,Dummy_Set_110,Dummy_Set_111,Dummy_Set_112,Dummy_Set_113,Dummy_Set_114,SID).
 iknows(pair(SNi,pair(SNj,scrypt(MKch,pair(SNi,pair(SNj,pair(apply(H,pair(Y,T2)),pair(T1,pair(apply(H,T2),pair(apply(H,pair(RPWi,Xa)),xor(apply(H,pair(SNi,Xs)),apply(H,pair(apply(H,pair(Yy,PWi)),Xa)))))))))))))
 =>
 state_bob(SNj,SNi,BS,MKch,H,1,X1,R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,T1,T2,Ei,Ni,X,Y,Z,Ri,Kj,Dummy_Set_109,Dummy_Set_110,Dummy_Set_111,Dummy_Set_112,Dummy_Set_113,Dummy_Set_114,SID).
 secret(Dummy_Set_109,subs,BS).
 secret(Dummy_Set_110,sub1,SNi).
 secret(Dummy_Set_111,sub2,Dummy_Set_112).
 secret(Dummy_Set_113,sub1_subs,Dummy_Set_114).
 iknows(ack).
 contains(Xs,Dummy_Set_109).
 contains(PWi,Dummy_Set_110).
 contains(Xa,Dummy_Set_110).
 contains(MKch,Dummy_Set_111).
 contains(BS,Dummy_Set_112).
 contains(SNj,Dummy_Set_112).
 contains(Xa,Dummy_Set_113).
 contains(Kj,Dummy_Set_113).
 contains(Yy,Dummy_Set_113).
 contains(BS,Dummy_Set_114).
 contains(SNi,Dummy_Set_114)

step step_4 (BS,SNi,SNj,MKch,H,X1,R1,RPWi1,Dummy_RPWi,PWi,Xs,Xa,Yy,T1,T2,Dummy_Ei,Ni,Dummy_X,Y,Z,Dummy_Ri,Dummy_Kj,Dummy_Set_76,Dummy_Set_77,Dummy_Set_78,Dummy_Set_79,Dummy_Set_80,Dummy_Set_81,SID,RPWi) :=
 state_bs(BS,SNi,SNj,MKch,H,0,X1,R1,RPWi1,Dummy_RPWi,PWi,Xs,Xa,Yy,T1,T2,Dummy_Ei,Ni,Dummy_X,Y,Z,Dummy_Ri,Dummy_Kj,Dummy_Set_76,Dummy_Set_77,Dummy_Set_78,Dummy_Set_79,Dummy_Set_80,Dummy_Set_81,SID).
 iknows(pair(SNi,RPWi))
 =>
 state_bs(BS,SNi,SNj,MKch,H,1,X1,R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,T1,T2,xor(apply(H,pair(SNi,Xs)),apply(H,pair(Dummy_RPWi,Xa))),Ni,apply(H,pair(Dummy_RPWi,Xa)),Y,Z,apply(H,pair(Yy,apply(H,pair(Dummy_RPWi,Xa)))),apply(H,pair(SNi,pair(SNj,pair(Xs,MKch)))),Dummy_Set_76,Dummy_Set_77,Dummy_Set_78,Dummy_Set_79,Dummy_Set_80,Dummy_Set_81,SID).
 secret(Dummy_Set_76,subs,BS).
 secret(Dummy_Set_77,sub1,SNi).
 secret(Dummy_Set_78,sub2,Dummy_Set_79).
 secret(Dummy_Set_80,sub1_subs,Dummy_Set_81).
 iknows(pair(SNi,pair(Yy,pair(Xa,pair(apply(H,pair(Yy,apply(H,pair(apply(H,pair(Yy,PWi)),Xa)))),pair(xor(apply(H,pair(SNi,Xs)),apply(H,pair(apply(H,pair(Yy,PWi)),Xa))),pair(H,pair(scrypt(MKch,pair(SNi,pair(SNj,Xs))),SNj)))))))).
 contains(Xs,Dummy_Set_76).
 contains(PWi,Dummy_Set_77).
 contains(MKch,Dummy_Set_78).
 contains(BS,Dummy_Set_79).
 contains(SNj,Dummy_Set_79).
 contains(Xa,Dummy_Set_80).
 contains(Dummy_Kj,Dummy_Set_80).
 contains(Yy,Dummy_Set_80).
 contains(BS,Dummy_Set_81).
 contains(SNi,Dummy_Set_81)

step step_5 (BS,SNi,SNj,MKch,H,X1,R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,Dummy_T1,T2,Ei,Ni,Dummy_X,Dummy_Y,Dummy_Z,Ri,Kj,Set_76,Set_77,Set_78,Set_79,Set_80,Set_81,SID,T1) :=
 state_bs(BS,SNi,SNj,MKch,H,1,X1,R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,Dummy_T1,T2,Ei,Ni,Dummy_X,Dummy_Y,Dummy_Z,Ri,Kj,Set_76,Set_77,Set_78,Set_79,Set_80,Set_81,SID).
 iknows(pair(SNi,pair(SNj,scrypt(scrypt(MKch,pair(SNi,pair(SNj,Xs))),pair(SNi,pair(SNj,pair(apply(H,pair(apply(H,pair(apply(H,pair(Yy,PWi)),Xa)),T1)),pair(xor(apply(H,pair(SNi,Xs)),apply(H,pair(apply(H,pair(Yy,PWi)),Xa))),T1))))))))
 =>
 state_bs(BS,SNi,SNj,MKch,H,2,X1,R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,T1,T2,Ei,Ni,apply(H,pair(SNi,Xs)),xor(Ei,apply(H,pair(SNi,Xs))),apply(H,pair(xor(Ei,apply(H,pair(SNi,Xs))),Dummy_T1)),Ri,Kj,Set_76,Set_77,Set_78,Set_79,Set_80,Set_81,SID)

step step_6 (BS,SNi,SNj,MKch,H,X1,R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,T1,Dummy_T2,Ei,Ni,X,Y,Ri,Kj,Set_76,Set_77,Set_78,Set_79,Set_80,Set_81,SID,T2) :=
 state_bs(BS,SNi,SNj,MKch,H,2,X1,R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,T1,Dummy_T2,Ei,Ni,X,Y,Ni,Ri,Kj,Set_76,Set_77,Set_78,Set_79,Set_80,Set_81,SID)
=[exists T2]=>
 state_bs(BS,SNi,SNj,MKch,H,3,X1,R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,T1,T2,Ei,Ni,X,Y,Ni,Ri,Kj,Set_76,Set_77,Set_78,Set_79,Set_80,Set_81,SID).
 iknows(pair(SNi,pair(SNj,scrypt(MKch,pair(SNi,pair(SNj,pair(apply(H,pair(Y,T2)),pair(T1,pair(apply(H,T2),pair(apply(H,pair(RPWi,Xa)),xor(apply(H,pair(SNi,Xs)),apply(H,pair(apply(H,pair(Yy,PWi)),Xa))))))))))))).
 witness(BS,SNj,alice_bob_nj,T2)

step step_7 (BS,SNi,SNj,MKch,H,X1,R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,T1,T2,Ei,Ni,X,Y,Z,Ri,Kj,Set_76,Set_77,Set_78,Set_79,Set_80,Set_81,SID) :=
 state_bs(BS,SNi,SNj,MKch,H,2,X1,R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,T1,T2,Ei,Ni,X,Y,Z,Ri,Kj,Set_76,Set_77,Set_78,Set_79,Set_80,Set_81,SID).
 iknows(ack)
 =>
 state_bs(BS,SNi,SNj,MKch,H,3,X1,R1,RPWi1,RPWi,PWi,Xs,Xa,Yy,T1,T2,Ei,Ni,X,Y,Z,Ri,Kj,Set_76,Set_77,Set_78,Set_79,Set_80,Set_81,SID).
 request(BS,SNj,alice_bob_nj,T2,SID)


section properties:

property secrecy_of_subs (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub1_subs (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub1_subs,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob_nj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_nj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_nj,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_nj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_nj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_ni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_ni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_ni,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_ni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_ni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub1_subs (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub1_subs,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob_nj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_nj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_nj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_nj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_nj,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_nj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_ni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_ni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_ni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_ni,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_ni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

