%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileHRbiYb

section signature:

state_sj: agent * agent * agent * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * nat -> fact
state_bs: agent * agent * agent * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(pair(text,text)) * nat -> fact
state_ui: agent * agent * agent * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(text) * set(pair(text,text)) * nat -> fact


section types:

Set_69, Set_41, Dummy_Set_69, Dummy_Set_41: set(pair(text,text))
Set_37, Set_35, Dummy_Set_37, Dummy_Set_35: set(text)
protocol2, protocol1, protocol3, protocol4, subs1, subs2: protocol_id
H, dummy_hash: hash_func
set_153, set_151, set_150, set_149, set_146, set_144, set_143, set_142, set_134, set_119, set_118, set_117: set
IDi, PWi, Ni, Xa, DIDi, Ci, T1, Ri, Sn, Ai, Rc, Cg, T2, Dummy_T2, Dummy_Ai, Dummy_Rc, Dummy_Cg, Dummy_T1, Dummy_Ci, Dummy_DIDi, Dummy_Ni, dummy_nonce: text
9, 8, State, 13, 12, 11, 7, 10, 6, 5, 3, SID, 4, 2, 1, 0, Dummy_State, SID2, SID1: nat
ASGoal: set(agent)
start, MGoal: message
K, k: symmetric_key
A, B, C, A2Goal, A1Goal, a, b, c, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(b).
 iknows(c).
 iknows(h).
 iknows(i).
 state_ui(a,b,c,k,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_117,set_118,set_119,3).
 state_bs(b,a,c,k,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_134,4).
 state_sj(c,a,b,k,8,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,5).
 state_ui(a,b,c,k,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_142,set_143,set_144,7).
 state_bs(b,a,c,k,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_146,8).
 state_sj(c,a,b,k,8,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,9).
 state_ui(a,b,c,k,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_149,set_150,set_151,11).
 state_bs(b,a,c,k,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_153,12).
 state_sj(c,a,b,k,8,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,13)


section rules:

step step_0 (A,B,C,K,IDi,PWi,Ni,Xa,DIDi,Ci,T1,Ri,Sn,Cg,Rc,H,Set_35,Set_37,Set_41,SID) :=
 state_ui(A,B,C,K,0,IDi,PWi,Ni,Xa,DIDi,Ci,T1,Ri,Sn,Cg,Rc,H,Set_35,Set_37,Set_41,SID).
 iknows(start)
 =>
 state_ui(A,B,C,K,2,IDi,PWi,Ni,Xa,DIDi,Ci,T1,Ri,Sn,Cg,Rc,H,Set_35,Set_37,Set_41,SID).
 iknows(scrypt(K,pair(IDi,PWi)))

step step_1 (A,B,C,K,IDi,PWi,Dummy_Ni,Xa,Dummy_DIDi,Dummy_Ci,Dummy_T1,Ri,Sn,Cg,Rc,H,Dummy_Set_35,Dummy_Set_37,Set_41,SID,Ni,T1) :=
 state_ui(A,B,C,K,4,IDi,PWi,Dummy_Ni,Xa,Dummy_DIDi,Dummy_Ci,Dummy_T1,Ri,Sn,Cg,Rc,H,Dummy_Set_35,Dummy_Set_37,Set_41,SID).
 iknows(scrypt(K,pair(IDi,pair(Ni,pair(apply(H,PWi),Xa)))))
=[exists T1]=>
 state_ui(A,B,C,K,5,IDi,PWi,Ni,Xa,xor(apply(H,pair(IDi,PWi)),apply(H,pair(Xa,T1))),apply(H,pair(Ni,pair(Xa,T1))),T1,Ri,Sn,Cg,Rc,H,Dummy_Set_35,Dummy_Set_37,Set_41,SID).
 secret(Dummy_Set_35,subs1,A).
 secret(Dummy_Set_37,subs2,B).
 iknows(xor(apply(H,pair(IDi,PWi)),apply(H,pair(Xa,T1)))).
 witness(A,B,protocol1,T1).
 contains(PWi,Dummy_Set_35).
 contains(Xa,Dummy_Set_37)

step step_2 (A,B,C,K,IDi,PWi,Ni,Xa,DIDi,Ci,T1,Ri,Sn,Dummy_Cg,Dummy_Rc,H,Set_35,Set_37,Dummy_Set_41,SID,Cg,Rc) :=
 state_ui(A,B,C,K,5,IDi,PWi,Ni,Xa,DIDi,Ci,T1,Ri,Sn,Dummy_Cg,Dummy_Rc,H,Set_35,Set_37,Dummy_Set_41,SID).
 iknows(pair(Cg,Rc))
 =>
 state_ui(A,B,C,K,6,IDi,PWi,Ni,Xa,DIDi,Ci,T1,Ri,Sn,Cg,Rc,H,Set_35,Set_37,Dummy_Set_41,SID).
 request(B,A,protocol4,Dummy_Set_41,SID).
 contains(pair(Cg,Rc),Dummy_Set_41)

step step_3 (A,B,C,K,IDi,PWi,Ni,Xa,DIDi,Ci,T1,Ri,Sn,Cg,Rc,H,Set_35,Set_37,Set_41,SID) :=
 state_ui(A,B,C,K,10,IDi,PWi,Ni,Xa,DIDi,Ci,T1,Ri,Sn,Cg,Rc,H,Set_35,Set_37,Set_41,SID).
 iknows(Sn)
 =>
 state_ui(A,B,C,K,11,IDi,PWi,Ni,Xa,DIDi,Ci,T1,Ri,Sn,Cg,Rc,H,Set_35,Set_37,Set_41,SID).
 request(C,A,protocol3,Sn,SID)

step step_4 (B,A,C,K,IDi,PWi,Dummy_Ni,Xa,DIDi,Ci,T1,Ri,Sn,Ai,Rc,Cg,T2,H,Set_69,SID) :=
 state_bs(B,A,C,K,1,IDi,PWi,Dummy_Ni,Xa,DIDi,Ci,T1,Ri,Sn,Ai,Rc,Cg,T2,H,Set_69,SID).
 iknows(scrypt(K,pair(IDi,PWi)))
 =>
 state_bs(B,A,C,K,3,IDi,PWi,xor(apply(H,xor(pair(IDi,PWi))),apply(H,K)),Xa,DIDi,Ci,T1,Ri,Sn,Ai,Rc,Cg,T2,H,Set_69,SID).
 iknows(scrypt(K,pair(IDi,pair(xor(apply(H,xor(pair(IDi,PWi))),apply(H,K)),pair(apply(H,PWi),Xa)))))

step step_5 (B,A,C,K,IDi,PWi,Ni,Xa,DIDi,Ci,Dummy_T1,Ri,Sn,Dummy_Ai,Dummy_Rc,Dummy_Cg,Dummy_T2,H,Dummy_Set_69,SID,Rc,T2) :=
 state_bs(B,A,C,K,5,IDi,PWi,Ni,Xa,DIDi,Ci,Dummy_T1,Ri,Sn,Dummy_Ai,Dummy_Rc,Dummy_Cg,Dummy_T2,H,Dummy_Set_69,SID).
 iknows(DIDi)
=[exists T2,Rc]=>
 state_bs(B,A,C,K,6,IDi,PWi,Ni,Xa,DIDi,Ci,Dummy_T1,Ri,Sn,apply(H,pair(DIDi,pair(Sn,pair(Xa,T1)))),Rc,apply(H,pair(DIDi,pair(Sn,pair(Xa,Rc)))),T2,H,Dummy_Set_69,SID).
 iknows(pair(DIDi,pair(apply(H,pair(DIDi,pair(Sn,pair(Xa,T1)))),pair(Sn,T2)))).
 iknows(pair(apply(H,pair(DIDi,pair(Sn,pair(Xa,Rc)))),Rc)).
 request(A,B,protocol1,T1,SID).
 witness(B,C,protocol2,T2).
 witness(B,A,protocol4,Dummy_Set_69).
 contains(pair(apply(H,pair(DIDi,pair(Sn,pair(Xa,Rc)))),Rc),Dummy_Set_69)

step step_6 (C,A,B,K,IDi,PWi,Ni,Xa,DIDi,Ci,T1,Ri,Sn,Dummy_Ai,Rc,Cg,Dummy_T2,H,SID,Ai,T2) :=
 state_sj(C,A,B,K,8,IDi,PWi,Ni,Xa,DIDi,Ci,T1,Ri,Sn,Dummy_Ai,Rc,Cg,Dummy_T2,H,SID).
 iknows(pair(DIDi,pair(Ai,pair(Sn,T2))))
 =>
 state_sj(C,A,B,K,9,IDi,PWi,Ni,Xa,DIDi,Ci,T1,Ri,Sn,Ai,Rc,Cg,T2,H,SID).
 iknows(Sn).
 request(B,C,protocol2,T2,SID).
 witness(C,A,protocol3,Sn)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_protocol1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,protocol1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,protocol1,MGoal))
     /\ ((request(A1Goal,A2Goal,protocol1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,protocol1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_protocol2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,protocol2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,protocol2,MGoal))
     /\ ((request(A1Goal,A2Goal,protocol2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,protocol2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_protocol3 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,protocol3,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,protocol3,MGoal))
     /\ ((request(A1Goal,A2Goal,protocol3,MGoal,SID1)
           /\ request(A1Goal,A2Goal,protocol3,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_protocol4 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,protocol4,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,protocol4,MGoal))
     /\ ((request(A1Goal,A2Goal,protocol4,MGoal,SID1)
           /\ request(A1Goal,A2Goal,protocol4,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_protocol1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,protocol1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,protocol1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_protocol1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,protocol1,MGoal,SID1).
 request(A1Goal,A2Goal,protocol1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_protocol2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,protocol2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,protocol2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_protocol2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,protocol2,MGoal,SID1).
 request(A1Goal,A2Goal,protocol2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_protocol3 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,protocol3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,protocol3,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_protocol3 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,protocol3,MGoal,SID1).
 request(A1Goal,A2Goal,protocol3,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_protocol4 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,protocol4,MGoal,SID) &
 not(witness(A2Goal,A1Goal,protocol4,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_protocol4 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,protocol4,MGoal,SID1).
 request(A1Goal,A2Goal,protocol4,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

