%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileJw7upT

section signature:

state_user: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(text) * set(text) * set(text) * set(text) * nat -> fact
state_scpc: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(text) * nat -> fact
state_provider: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(text) * nat -> fact


section types:

alice_bob_n1, bob_alice_n2, subs1, subs2, subs3, subs4, subs5: protocol_id
Set_156, Set_155, Set_153, Set_152, Set_151, Set_107, Set_106, Set_61, Set_58, Dummy_Set_156, Dummy_Set_155, Dummy_Set_153, Dummy_Set_152, Dummy_Set_151, Dummy_Set_107, Dummy_Set_106, Dummy_Set_61, Dummy_Set_58: set(text)
set_280, set_279, set_278, set_277, set_276, set_274, set_273, set_271, set_270, set_268, set_267, set_266, set_265, set_264, set_262, set_261, set_259, set_258, set_242, set_241, set_240, set_239, set_238, set_230, set_229, set_215, set_214: set
sksui, skspj, SKsui, SKspj: symmetric_key
4, State, 13, 12, 11, 9, 3, 8, 2, 7, 1, 0, 5, SID, Dummy_State, SID2, SID1: nat
ASGoal: set(agent)
start, MGoal: message
bh, h, F, BH, H, dummy_hash, f: hash_func
s, pj, ui, S, Pj, Ui, A2Goal, A1Goal, i: agent
idj, p, ci, di, ei, ri, x, y, ks, ids, g, rbi, xi, qi, qj, req, n1, n2, skij, rij, eki, c, PWRi, PWi, Bi, IDi, IDj, P, Ci, Di, Ei, Ri, X, Y, Ks, IDs, G, RBi, Xi, Qi, Qj, Req, N1, N2, SKij, Rij, EKi, C, Kj, Si, Xj, Rj, Yj, Dummy_C, Dummy_EKi, Dummy_Rij, Dummy_SKij, Dummy_Req, Dummy_Y, Dummy_RBi, Dummy_PWRi, Dummy_Ri, Dummy_Di, Dummy_Ci, Dummy_N2, Dummy_Xi, Dummy_Rj, Dummy_Xj, Dummy_N1, Dummy_Qj, dummy_nonce, pwi, bi, idi: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(s).
 iknows(pj).
 iknows(ui).
 iknows(h).
 iknows(bh).
 iknows(f).
 iknows(g).
 iknows(p).
 iknows(qi).
 iknows(qj).
 iknows(i).
 state_provider(pj,s,ui,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_214,set_215,3).
 state_scpc(s,pj,ui,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_229,set_230,4).
 state_user(ui,s,pj,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_238,set_239,set_240,set_241,set_242,5).
 state_provider(pj,s,ui,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_258,set_259,7).
 state_scpc(s,pj,ui,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_261,set_262,8).
 state_user(ui,s,pj,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_264,set_265,set_266,set_267,set_268,9).
 state_provider(pj,s,ui,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_270,set_271,11).
 state_scpc(s,pj,ui,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_273,set_274,12).
 state_user(ui,s,pj,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_276,set_277,set_278,set_279,set_280,13)


section rules:

step step_0 (Pj,S,Ui,SKspj,SKsui,H,BH,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Dummy_Qj,Req,N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Set_58,Set_61,SID) :=
 state_provider(Pj,S,Ui,SKspj,SKsui,H,BH,0,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Dummy_Qj,Req,N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Set_58,Set_61,SID).
 iknows(start)
 =>
 state_provider(Pj,S,Ui,SKspj,SKsui,H,BH,1,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,apply(F,pair(apply(H,pair(Kj,IDj)),G)),Req,N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Set_58,Set_61,SID).
 iknows(scrypt(SKspj,pair(IDj,apply(F,pair(apply(H,pair(Kj,IDj)),G)))))

step step_1 (Pj,S,Ui,SKspj,SKsui,H,BH,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Req,Dummy_N1,N2,SKij,Rij,EKi,C,Kj,Si,Dummy_Xj,Dummy_Rj,Yj,F,Dummy_Set_58,Set_61,SID,N1,Xj) :=
 state_provider(Pj,S,Ui,SKspj,SKsui,H,BH,1,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Req,Dummy_N1,N2,SKij,Rij,EKi,C,Kj,Si,Dummy_Xj,Dummy_Rj,Yj,F,Dummy_Set_58,Set_61,SID).
 iknows(pair(apply(H,pair(IDj,pair(IDi,pair(apply(F,pair(Si,apply(F,pair(apply(H,pair(Ks,IDs)),G)))),N1)))),N1))
=[exists Xj]=>
 state_provider(Pj,S,Ui,SKspj,SKsui,H,BH,2,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Req,N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,apply(F,pair(Xj,apply(F,pair(Y,G)))),Yj,F,Dummy_Set_58,Set_61,SID).
 secret(Dummy_Set_58,subs4,Pj).
 iknows(pair(apply(F,pair(Xj,G)),pair(apply(F,pair(Yj,G)),apply(F,pair(Xj,apply(F,pair(Y,G))))))).
 contains(Xj,Dummy_Set_58).
 contains(Yj,Dummy_Set_58)

step step_2 (Pj,S,Ui,SKspj,SKsui,H,BH,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Dummy_Xi,Qi,Qj,Req,N1,Dummy_N2,SKij,Rij,EKi,C,Kj,Si,Dummy_Xj,Rj,Yj,F,Set_58,Dummy_Set_61,SID,Xi,N2,Xj) :=
 state_provider(Pj,S,Ui,SKspj,SKsui,H,BH,2,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Dummy_Xi,Qi,Qj,Req,N1,Dummy_N2,SKij,Rij,EKi,C,Kj,Si,Dummy_Xj,Rj,Yj,F,Set_58,Dummy_Set_61,SID).
 iknows(pair(apply(F,pair(Xi,G)),scrypt(apply(H,pair(apply(F,pair(Xi,apply(F,pair(Xj,G)))),pair(apply(F,pair(Xi,G)),pair(apply(F,pair(Yj,G)),pair(apply(F,pair(Xj,apply(F,pair(Y,G)))),IDj))))),pair(IDi,pair(apply(F,pair(Si,apply(F,pair(Xj,apply(F,pair(Y,G)))))),N2)))))
 =>
 state_provider(Pj,S,Ui,SKspj,SKsui,H,BH,3,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Req,N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Set_58,Dummy_Set_61,SID).
 secret(Dummy_Set_61,subs5,Ui).
 iknows(apply(H,pair(apply(F,pair(Xj,Rij)),pair(SKij,pair(IDi,pair(IDj,N2)))))).
 request(Ui,Pj,alice_bob_n1,N1,SID).
 request(Ui,Pj,bob_alice_n2,Dummy_N2,SID).
 contains(Xi,Dummy_Set_61)

step step_3 (S,Pj,Ui,SKspj,SKsui,H,BH,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Req,N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Dummy_Set_106,Set_107,SID) :=
 state_scpc(S,Pj,Ui,SKspj,SKsui,H,BH,0,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Req,N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Dummy_Set_106,Set_107,SID).
 iknows(scrypt(SKspj,pair(IDj,apply(F,pair(apply(H,pair(Kj,IDj)),G)))))
 =>
 state_scpc(S,Pj,Ui,SKspj,SKsui,H,BH,1,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Req,N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Dummy_Set_106,Set_107,SID).
 secret(Dummy_Set_106,subs1,Ui).
 contains(PWi,Dummy_Set_106).
 contains(Bi,Dummy_Set_106)

step step_4 (S,Pj,Ui,SKspj,SKsui,H,BH,PWRi,PWi,Bi,IDi,IDj,P,Dummy_Ci,Dummy_Di,Ei,Dummy_Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Req,N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Set_106,Dummy_Set_107,SID,Ri) :=
 state_scpc(S,Pj,Ui,SKspj,SKsui,H,BH,1,PWRi,PWi,Bi,IDi,IDj,P,Dummy_Ci,Dummy_Di,Ei,Dummy_Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Req,N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Set_106,Dummy_Set_107,SID).
 iknows(scrypt(SKsui,pair(IDi,pair(apply(BH,pair(IDi,pair(Bi,Ri))),apply(H,pair(IDi,pair(PWi,Ri)))))))
 =>
 state_scpc(S,Pj,Ui,SKspj,SKsui,H,BH,2,PWRi,PWi,Bi,IDi,IDj,P,xor(Si,apply(H,pair(IDi,pair(apply(BH,pair(IDi,pair(Bi,Ri))),apply(H,pair(IDi,pair(PWi,Ri))))))),apply(H,pair(Si,apply(H,pair(IDi,pair(apply(BH,pair(IDi,pair(Bi,Ri))),apply(H,pair(IDi,pair(PWi,Ri)))))))),Ei,Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Req,N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Set_106,Dummy_Set_107,SID).
 secret(Dummy_Set_107,subs2,Ui).
 iknows(scrypt(SKsui,pair(xor(Si,apply(H,pair(IDi,pair(apply(BH,pair(IDi,pair(Bi,Ri))),apply(H,pair(IDi,pair(PWi,Ri))))))),pair(apply(H,pair(Si,apply(H,pair(IDi,pair(apply(BH,pair(IDi,pair(Bi,Ri))),apply(H,pair(IDi,pair(PWi,Ri)))))))),pair(apply(BH,pair(IDi,pair(Bi,Ri))),pair(H,pair(BH,pair(G,P)))))))).
 contains(Ri,Dummy_Set_107).
 contains(Si,Dummy_Set_107)

step step_5 (Ui,S,Pj,SKspj,SKsui,H,BH,Dummy_PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Dummy_Ri,X,Y,Ks,IDs,G,Dummy_RBi,Xi,Qi,Qj,Req,N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Dummy_Set_151,Set_152,Set_153,Set_155,Set_156,SID,Ri) :=
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,0,Dummy_PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Dummy_Ri,X,Y,Ks,IDs,G,Dummy_RBi,Xi,Qi,Qj,Req,N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Dummy_Set_151,Set_152,Set_153,Set_155,Set_156,SID).
 iknows(start)
=[exists Ri]=>
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,1,apply(H,pair(IDi,pair(PWi,Ri))),PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,apply(BH,pair(IDi,pair(Bi,Ri))),Xi,Qi,Qj,Req,N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Dummy_Set_151,Set_152,Set_153,Set_155,Set_156,SID).
 secret(Dummy_Set_151,subs1,Ui).
 iknows(scrypt(SKsui,pair(IDi,pair(apply(BH,pair(IDi,pair(Bi,Ri))),apply(H,pair(IDi,pair(PWi,Ri))))))).
 contains(PWi,Dummy_Set_151).
 contains(Bi,Dummy_Set_151)

step step_6 (Ui,S,Pj,SKspj,SKsui,H,BH,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Dummy_Ri,X,Dummy_Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Dummy_Req,Dummy_N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Set_151,Dummy_Set_152,Dummy_Set_153,Set_155,Set_156,SID,Ri,N1) :=
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,1,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Dummy_Ri,X,Dummy_Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Dummy_Req,Dummy_N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Set_151,Dummy_Set_152,Dummy_Set_153,Set_155,Set_156,SID).
 iknows(scrypt(SKsui,pair(xor(Si,apply(H,pair(IDi,pair(apply(BH,pair(IDi,pair(Bi,Ri))),apply(H,pair(IDi,pair(PWi,Ri))))))),pair(apply(H,pair(Si,apply(H,pair(IDi,pair(apply(BH,pair(IDi,pair(Bi,Ri))),apply(H,pair(IDi,pair(PWi,Ri)))))))),pair(apply(BH,pair(IDi,pair(Bi,Ri))),pair(H,pair(BH,pair(G,P))))))))
=[exists N1]=>
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,2,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,apply(H,pair(Ks,IDs)),Ks,IDs,G,RBi,Xi,Qi,Qj,apply(H,pair(IDj,pair(IDi,pair(apply(F,pair(Si,apply(F,pair(apply(H,pair(Ks,IDs)),G)))),N1)))),N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Set_151,Dummy_Set_152,Dummy_Set_153,Set_155,Set_156,SID).
 secret(Dummy_Set_152,subs2,Ui).
 iknows(pair(apply(H,pair(IDj,pair(IDi,pair(apply(F,pair(Si,apply(F,pair(apply(H,pair(Ks,IDs)),G)))),N1)))),N1)).
 secret(Dummy_Set_153,subs3,S).
 witness(Ui,Pj,alice_bob_n1,N1).
 contains(Ri,Dummy_Set_152).
 contains(Si,Dummy_Set_152).
 contains(Ks,Dummy_Set_153)

step step_7 (Ui,S,Pj,SKspj,SKsui,H,BH,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Dummy_Y,Ks,IDs,G,RBi,Dummy_Xi,Qi,Qj,Req,N1,Dummy_N2,Dummy_SKij,Dummy_Rij,Dummy_EKi,Dummy_C,Kj,Si,Dummy_Xj,Rj,Yj,F,Set_151,Set_152,Set_153,Dummy_Set_155,Dummy_Set_156,SID,Y,Xi,N2,Xj) :=
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,2,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Dummy_Y,Ks,IDs,G,RBi,Dummy_Xi,Qi,Qj,Req,N1,Dummy_N2,Dummy_SKij,Dummy_Rij,Dummy_EKi,Dummy_C,Kj,Si,Dummy_Xj,Rj,Yj,F,Set_151,Set_152,Set_153,Dummy_Set_155,Dummy_Set_156,SID).
 iknows(pair(apply(F,pair(Xj,G)),pair(apply(F,pair(Yj,G)),apply(F,pair(Xj,apply(F,pair(Y,G)))))))
=[exists N2,Xi]=>
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,3,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Req,N1,N2,apply(F,pair(Xi,apply(F,pair(Xj,G)))),apply(F,pair(Si,apply(F,pair(Xj,apply(F,pair(Dummy_Y,G)))))),apply(H,pair(apply(F,pair(Xi,apply(F,pair(Xj,G)))),pair(apply(F,pair(Xi,G)),pair(apply(F,pair(Yj,G)),pair(apply(F,pair(Xj,apply(F,pair(Dummy_Y,G)))),IDj))))),scrypt(apply(H,pair(apply(F,pair(Xi,apply(F,pair(Xj,G)))),pair(apply(F,pair(Xi,G)),pair(apply(F,pair(Yj,G)),pair(apply(F,pair(Xj,apply(F,pair(Dummy_Y,G)))),IDj))))),pair(IDi,pair(apply(F,pair(Si,apply(F,pair(Xj,apply(F,pair(Dummy_Y,G)))))),N2))),Kj,Si,Xj,Rj,Yj,F,Set_151,Set_152,Set_153,Dummy_Set_155,Dummy_Set_156,SID).
 secret(Dummy_Set_155,subs4,Pj).
 secret(Dummy_Set_156,subs5,Ui).
 iknows(pair(apply(F,pair(Xi,G)),scrypt(apply(H,pair(apply(F,pair(Xi,apply(F,pair(Xj,G)))),pair(apply(F,pair(Xi,G)),pair(apply(F,pair(Yj,G)),pair(apply(F,pair(Xj,apply(F,pair(Dummy_Y,G)))),IDj))))),pair(IDi,pair(apply(F,pair(Si,apply(F,pair(Xj,apply(F,pair(Dummy_Y,G)))))),N2))))).
 witness(Ui,Pj,bob_alice_n2,N2).
 contains(Xj,Dummy_Set_155).
 contains(Yj,Dummy_Set_155).
 contains(Xi,Dummy_Set_156)

step step_8 (Ui,S,Pj,SKspj,SKsui,H,BH,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Req,N1,Dummy_N2,Dummy_SKij,Dummy_Rij,EKi,C,Kj,Si,Dummy_Xj,Rj,Yj,F,Set_151,Set_152,Set_153,Set_155,Set_156,SID,N2,SKij,Rij,Xj) :=
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,3,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Req,N1,Dummy_N2,Dummy_SKij,Dummy_Rij,EKi,C,Kj,Si,Dummy_Xj,Rj,Yj,F,Set_151,Set_152,Set_153,Set_155,Set_156,SID).
 iknows(apply(H,pair(apply(F,pair(Xj,Rij)),pair(SKij,pair(IDi,pair(IDj,N2))))))
 =>
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,4,PWRi,PWi,Bi,IDi,IDj,P,Ci,Di,Ei,Ri,X,Y,Ks,IDs,G,RBi,Xi,Qi,Qj,Req,N1,N2,SKij,Rij,EKi,C,Kj,Si,Xj,Rj,Yj,F,Set_151,Set_152,Set_153,Set_155,Set_156,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob_n1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_n1,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_n2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_n2,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob_n1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_n1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_n1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_n2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_n2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_n2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

