%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileyWsVdt

section signature:

state_bob: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * nat -> fact
state_bs: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * nat -> fact
state_alice: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact


section types:

MGoal, start: message
alice_server, bs_bob, sub1_subs, subs, sub1, sub2, sub3: protocol_id
Dummy_Set_80, Dummy_Set_44, Set_114, Set_80, Set_44, Dummy_Set_114: set(symmetric_key)
Dummy_Set_82, Dummy_Set_78, Dummy_Set_77, Dummy_Set_49, Dummy_Set_46, Dummy_Set_42, Dummy_Set_40, Set_116, Set_112, Set_111, Set_82, Set_78, Set_77, Set_49, Set_46, Set_42, Set_40, Dummy_Set_116, Dummy_Set_112, Dummy_Set_111: set(text)
4, SID, Dummy_State, 3, SID2, SID1, State, 2, 9, 1, 0, 8, 7, 5: nat
h, H: hash_func
skubs, SKubs: symmetric_key
set_190, set_189, set_188, set_187, set_186, set_185, set_184, set_166, set_165, set_164, set_163, set_162, set_161, set_160, set_159, set_245, set_244, set_243, set_242, set_241, set_240, set_239, set_237, set_236, set_235, set_234, set_233, set_232, set_231, set_229, set_228, set_227, set_226, set_225, set_224, set_223, set_222, set_212, set_211, set_210, set_209, set_208, set_207, set_206: set
A2Goal, A1Goal, ui, snj, Ui, SNj, BS, bs, i: agent
Dummy_Hi, Dummy_Ti, Dummy_Vi, Dummy_Ni, Dummy_T, Dummy_Mi, Dummy_Ci, Dummy_DIDi, Dummy_B, dummy_nonce, idi, idj, ai, didi, ni, ci, j, vi, ti, hi, b, mi, pwi, k, xa, t1, t, IDi, IDj, Ai, DIDi, Ni, Ci, J, Vi, Ti, Hi, B, Mi, PWi, K, Xa, T1, T, Dummy_T1, Dummy_Ai: text
Dummy_Set_81, Dummy_Set_79, Dummy_Set_47, Dummy_Set_45, Dummy_Set_43, ASGoal, Set_117, Set_115, Set_113, Set_83, Set_81, Set_79, Set_47, Set_45, Set_43, Dummy_Set_117, Dummy_Set_115, Dummy_Set_113, Dummy_Set_83: set(agent)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(snj).
 iknows(idi).
 iknows(idj).
 iknows(h).
 iknows(i).
 state_alice(ui,snj,bs,skubs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_159,set_160,set_161,set_162,set_163,set_164,set_165,set_166,3).
 state_bs(bs,ui,snj,skubs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_184,set_185,set_186,set_187,set_188,set_189,set_190,4).
 state_bob(snj,ui,bs,skubs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_206,set_207,set_208,set_209,set_210,set_211,set_212,5).
 state_alice(ui,snj,bs,skubs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_222,set_223,set_224,set_225,set_226,set_227,set_228,set_229,7).
 state_bs(bs,ui,snj,skubs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_231,set_232,set_233,set_234,set_235,set_236,set_237,8).
 state_bob(snj,ui,bs,skubs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_239,set_240,set_241,set_242,set_243,set_244,set_245,9)


section rules:

step step_0 (Ui,SNj,BS,SKubs,H,IDi,IDj,Ai,DIDi,Ni,Ci,J,Vi,Ti,Hi,Dummy_B,Mi,PWi,K,Xa,T1,T,Dummy_Set_40,Dummy_Set_42,Dummy_Set_43,Dummy_Set_44,Dummy_Set_45,Dummy_Set_46,Dummy_Set_47,Set_49,SID,B) :=
 state_alice(Ui,SNj,BS,SKubs,H,0,IDi,IDj,Ai,DIDi,Ni,Ci,J,Vi,Ti,Hi,Dummy_B,Mi,PWi,K,Xa,T1,T,Dummy_Set_40,Dummy_Set_42,Dummy_Set_43,Dummy_Set_44,Dummy_Set_45,Dummy_Set_46,Dummy_Set_47,Set_49,SID).
 iknows(start)
=[exists B]=>
 state_alice(Ui,SNj,BS,SKubs,H,1,IDi,IDj,Ai,DIDi,Ni,Ci,J,Vi,Ti,Hi,B,Mi,PWi,K,Xa,T1,T,Dummy_Set_40,Dummy_Set_42,Dummy_Set_43,Dummy_Set_44,Dummy_Set_45,Dummy_Set_46,Dummy_Set_47,Set_49,SID).
 iknows(pair(Ui,pair(BS,scrypt(SKubs,pair(IDi,apply(H,xor(PWi,B))))))).
 secret(Dummy_Set_40,subs,BS).
 secret(Dummy_Set_42,sub1,Dummy_Set_43).
 secret(Dummy_Set_44,sub2,Dummy_Set_45).
 secret(Dummy_Set_46,sub3,Dummy_Set_47).
 contains(K,Dummy_Set_40).
 contains(PWi,Dummy_Set_42).
 contains(Ui,Dummy_Set_43).
 contains(SKubs,Dummy_Set_44).
 contains(BS,Dummy_Set_45).
 contains(Ui,Dummy_Set_45).
 contains(Xa,Dummy_Set_46).
 contains(Ui,Dummy_Set_47).
 contains(BS,Dummy_Set_47).
 contains(SNj,Dummy_Set_47)

step step_1 (Ui,SNj,BS,SKubs,H,IDi,IDj,Ai,Dummy_DIDi,Ni,Dummy_Ci,J,Vi,Ti,Hi,Dummy_B,Dummy_Mi,PWi,K,Xa,T1,Dummy_T,Set_40,Set_42,Set_43,Set_44,Set_45,Set_46,Set_47,Dummy_Set_49,SID,B,Mi,T) :=
 state_alice(Ui,SNj,BS,SKubs,H,1,IDi,IDj,Ai,Dummy_DIDi,Ni,Dummy_Ci,J,Vi,Ti,Hi,Dummy_B,Dummy_Mi,PWi,K,Xa,T1,Dummy_T,Set_40,Set_42,Set_43,Set_44,Set_45,Set_46,Set_47,Dummy_Set_49,SID).
 iknows(pair(BS,pair(Ui,scrypt(SKubs,pair(IDi,pair(xor(apply(H,IDi),apply(H,K)),pair(xor(apply(H,pair(IDi,J)),apply(H,pair(IDi,apply(H,xor(PWi,B))))),pair(apply(H,apply(H,pair(IDi,J))),Xa))))))))
=[exists Mi,T]=>
 state_alice(Ui,SNj,BS,SKubs,H,2,IDi,IDj,Ai,xor(IDi,apply(H,pair(Xa,pair(T,Mi)))),Ni,apply(H,pair(xor(apply(H,IDi),apply(H,K)),pair(Xa,T))),J,Vi,Ti,Hi,B,Mi,PWi,K,Xa,T1,T,Set_40,Set_42,Set_43,Set_44,Set_45,Set_46,Set_47,Dummy_Set_49,SID).
 iknows(pair(Ui,pair(BS,pair(xor(IDi,apply(H,pair(Xa,pair(T,Mi)))),pair(apply(H,pair(xor(apply(H,IDi),apply(H,K)),pair(Xa,T))),pair(T,Mi)))))).
 witness(Ui,BS,alice_server,Dummy_Set_49).
 contains(T,Dummy_Set_49).
 contains(Dummy_Mi,Dummy_Set_49)

step step_2 (BS,Ui,SNj,SKubs,H,IDi,IDj,Ai,DIDi,Dummy_Ni,Ci,J,Dummy_Vi,Dummy_Ti,Dummy_Hi,Dummy_B,Mi,PWi,K,Xa,T1,T,Dummy_Set_77,Dummy_Set_78,Dummy_Set_79,Dummy_Set_80,Dummy_Set_81,Dummy_Set_82,Dummy_Set_83,SID,B) :=
 state_bs(BS,Ui,SNj,SKubs,H,0,IDi,IDj,Ai,DIDi,Dummy_Ni,Ci,J,Dummy_Vi,Dummy_Ti,Dummy_Hi,Dummy_B,Mi,PWi,K,Xa,T1,T,Dummy_Set_77,Dummy_Set_78,Dummy_Set_79,Dummy_Set_80,Dummy_Set_81,Dummy_Set_82,Dummy_Set_83,SID).
 iknows(pair(Ui,pair(BS,scrypt(SKubs,pair(IDi,apply(H,xor(PWi,B)))))))
 =>
 state_bs(BS,Ui,SNj,SKubs,H,1,IDi,IDj,Ai,DIDi,xor(apply(H,IDi),apply(H,K)),Ci,J,xor(apply(H,pair(IDi,J)),apply(H,pair(IDi,apply(H,xor(PWi,B))))),apply(H,pair(IDi,J)),apply(H,apply(H,pair(IDi,J))),B,Mi,PWi,K,Xa,T1,T,Dummy_Set_77,Dummy_Set_78,Dummy_Set_79,Dummy_Set_80,Dummy_Set_81,Dummy_Set_82,Dummy_Set_83,SID).
 secret(Dummy_Set_77,subs,BS).
 secret(Dummy_Set_78,sub1,Dummy_Set_79).
 secret(Dummy_Set_80,sub2,Dummy_Set_81).
 secret(Dummy_Set_82,sub3,Dummy_Set_83).
 iknows(pair(BS,pair(Ui,scrypt(SKubs,pair(IDi,pair(xor(apply(H,IDi),apply(H,K)),pair(xor(apply(H,pair(IDi,J)),apply(H,pair(IDi,apply(H,xor(PWi,B))))),pair(apply(H,apply(H,pair(IDi,J))),Xa)))))))).
 contains(K,Dummy_Set_77).
 contains(PWi,Dummy_Set_78).
 contains(Ui,Dummy_Set_79).
 contains(SKubs,Dummy_Set_80).
 contains(BS,Dummy_Set_81).
 contains(Ui,Dummy_Set_81).
 contains(Xa,Dummy_Set_82).
 contains(Ui,Dummy_Set_83).
 contains(BS,Dummy_Set_83).
 contains(SNj,Dummy_Set_83)

step step_3 (BS,Ui,SNj,SKubs,H,IDi,IDj,Dummy_Ai,DIDi,Ni,Ci,J,Vi,Ti,Hi,B,Dummy_Mi,PWi,K,Xa,Dummy_T1,Dummy_T,Set_77,Set_78,Set_79,Set_80,Set_81,Set_82,Set_83,SID,Mi,T1,T) :=
 state_bs(BS,Ui,SNj,SKubs,H,1,IDi,IDj,Dummy_Ai,DIDi,Ni,Ci,J,Vi,Ti,Hi,B,Dummy_Mi,PWi,K,Xa,Dummy_T1,Dummy_T,Set_77,Set_78,Set_79,Set_80,Set_81,Set_82,Set_83,SID).
 iknows(pair(Ui,pair(BS,pair(xor(IDi,apply(H,pair(Xa,pair(T,Mi)))),pair(apply(H,pair(xor(apply(H,IDi),apply(H,K)),pair(Xa,T))),pair(T,Mi))))))
=[exists T1]=>
 state_bs(BS,Ui,SNj,SKubs,H,2,IDi,IDj,apply(H,pair(xor(IDi,apply(H,pair(Xa,pair(T,Mi)))),pair(IDj,pair(Xa,T1)))),DIDi,Ni,Ci,J,Vi,Ti,Hi,B,Mi,PWi,K,Xa,T1,T,Set_77,Set_78,Set_79,Set_80,Set_81,Set_82,Set_83,SID).
 iknows(pair(BS,pair(SNj,pair(xor(IDi,apply(H,pair(Xa,pair(T,Mi)))),pair(IDj,pair(apply(H,pair(xor(IDi,apply(H,pair(Xa,pair(T,Mi)))),pair(IDj,pair(Xa,T1)))),T1)))))).
 witness(BS,SNj,bs_bob,T1).
 request(Ui,BS,alice_server,T,SID)

step step_4 (SNj,Ui,BS,SKubs,H,IDi,IDj,Ai,DIDi,Ni,Ci,J,Vi,Ti,Hi,B,Dummy_Mi,PWi,K,Xa,Dummy_T1,Dummy_T,Dummy_Set_111,Dummy_Set_112,Dummy_Set_113,Dummy_Set_114,Dummy_Set_115,Dummy_Set_116,Dummy_Set_117,SID,Mi,T1,T) :=
 state_bob(SNj,Ui,BS,SKubs,H,0,IDi,IDj,Ai,DIDi,Ni,Ci,J,Vi,Ti,Hi,B,Dummy_Mi,PWi,K,Xa,Dummy_T1,Dummy_T,Dummy_Set_111,Dummy_Set_112,Dummy_Set_113,Dummy_Set_114,Dummy_Set_115,Dummy_Set_116,Dummy_Set_117,SID).
 iknows(pair(BS,pair(SNj,pair(xor(IDi,apply(H,pair(Xa,pair(T,Mi)))),pair(IDj,pair(apply(H,pair(xor(IDi,apply(H,pair(Xa,pair(T,Mi)))),pair(IDj,pair(Xa,T1)))),T1))))))
 =>
 state_bob(SNj,Ui,BS,SKubs,H,1,IDi,IDj,Ai,DIDi,Ni,Ci,J,Vi,Ti,Hi,B,Mi,PWi,K,Xa,T1,T,Dummy_Set_111,Dummy_Set_112,Dummy_Set_113,Dummy_Set_114,Dummy_Set_115,Dummy_Set_116,Dummy_Set_117,SID).
 secret(Dummy_Set_111,subs,BS).
 secret(Dummy_Set_112,sub1,Dummy_Set_113).
 secret(Dummy_Set_114,sub2,Dummy_Set_115).
 secret(Dummy_Set_116,sub3,Dummy_Set_117).
 request(BS,SNj,bs_bob,T1,SID).
 contains(K,Dummy_Set_111).
 contains(PWi,Dummy_Set_112).
 contains(Ui,Dummy_Set_113).
 contains(SKubs,Dummy_Set_114).
 contains(BS,Dummy_Set_115).
 contains(Ui,Dummy_Set_115).
 contains(Xa,Dummy_Set_116).
 contains(Ui,Dummy_Set_117).
 contains(BS,Dummy_Set_117).
 contains(SNj,Dummy_Set_117)


section properties:

property secrecy_of_subs (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_server (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_server,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_server,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_server,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_server,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bs_bob (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bs_bob,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bs_bob,MGoal))
     /\ ((request(A1Goal,A2Goal,bs_bob,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bs_bob,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_server (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_server,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_server,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_server (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_server,MGoal,SID1).
 request(A1Goal,A2Goal,alice_server,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bs_bob (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bs_bob,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bs_bob,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bs_bob (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bs_bob,MGoal,SID1).
 request(A1Goal,A2Goal,bs_bob,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

