%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile32HZmJ

section signature:

state_server: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(message) * set(agent) * nat -> fact
state_alice: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(message) * set(agent) * nat -> fact


section types:

Set_88, Dummy_Set_88, Dummy_Set_53, Set_53: set(message)
Set_85, Dummy_Set_85, Dummy_Set_49, Set_49, Set_46, Set_43, Dummy_Set_46, Dummy_Set_43: set(text)
set_185, set_184, set_183, set_182, set_180, set_179, set_178, set_177, set_176, set_175, set_174, set_173, set_164, set_163, set_162, set_161, set_132, set_131, set_130, set_129, set_128, set_127, set_126, set_125: set
Set_89, Set_86, Dummy_Set_89, Dummy_Set_86, Dummy_Set_54, Set_54, Dummy_Set_50, Set_50, Set_47, Set_44, Dummy_Set_47, Dummy_Set_44, ASGoal: set(agent)
Eii, Gi, Li, Rs, SK, Ki, Di, Ai, Fi, CIDi, Ei, Dummy_Ai, Dummy_CIDi, Dummy_Di, Dummy_Ki, Dummy_SK, Dummy_Rs, Dummy_Ei, Dummy_Fi, Dummy_Li, Dummy_Gi, Dummy_Eii, start, dummy_msg, MGoal: message
alice_server, server_alice, subs1, subs2, subs3, subs4, subs5, subs6, alice_server_rc, server_alice_rs: protocol_id
7, 6, 4, SID, State, 3, 2, 1, 0, Dummy_State, SID2, SID1: nat
IDi, PWi, PWDi, Bi, NIDi, NIDii, SIDj, Xs, Rc, Ti, Dummy_Ti, Dummy_Rc, Dummy_NIDii, Dummy_NIDi, Dummy_PWDi, dummy_nonce, idi, pwi, nidi, nidii, sidj, xs, ri, ti, rs: text
Inc, H, dummy_hash, h, mul, add, sub: hash_func
SKas, skas: symmetric_key
sj, Sj, Ui, A2Goal, A1Goal, i, ui: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(sj).
 iknows(h).
 iknows(i).
 state_alice(ui,sj,skas,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_125,set_126,set_127,set_128,set_129,set_130,set_131,set_132,3).
 state_server(ui,sj,skas,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_161,set_162,set_163,set_164,4).
 state_alice(sj,ui,skas,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_173,set_174,set_175,set_176,set_177,set_178,set_179,set_180,6).
 state_server(sj,ui,skas,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_182,set_183,set_184,set_185,7)


section rules:

step step_0 (Ui,Sj,SKas,H,IDi,PWi,Dummy_PWDi,NIDi,Bi,NIDii,SIDj,Xs,Rc,Ti,Eii,Gi,Li,Rs,SK,Ki,Di,Fi,Ei,Inc,Dummy_Set_43,Dummy_Set_44,Dummy_Set_46,Dummy_Set_47,Set_49,Set_50,Set_53,Set_54,SID) :=
 state_alice(Ui,Sj,SKas,H,0,IDi,PWi,Dummy_PWDi,NIDi,Bi,NIDii,SIDj,Xs,Rc,Ti,Eii,Gi,Li,Rs,SK,Ki,Di,Fi,Ei,Inc,Dummy_Set_43,Dummy_Set_44,Dummy_Set_46,Dummy_Set_47,Set_49,Set_50,Set_53,Set_54,SID).
 iknows(start)
 =>
 state_alice(Ui,Sj,SKas,H,1,IDi,PWi,apply(H,pair(IDi,PWi)),NIDi,Bi,NIDii,SIDj,Xs,Rc,Ti,Eii,Gi,Li,Rs,SK,Ki,Di,Fi,Ei,Inc,Dummy_Set_43,Dummy_Set_44,Dummy_Set_46,Dummy_Set_47,Set_49,Set_50,Set_53,Set_54,SID).
 iknows(scrypt(SKas,pair(IDi,pair(apply(H,pair(IDi,PWi)),Bi)))).
 secret(Dummy_Set_43,subs1,Dummy_Set_44).
 secret(Dummy_Set_46,subs2,Dummy_Set_47).
 contains(IDi,Dummy_Set_43).
 contains(Ui,Dummy_Set_44).
 contains(Sj,Dummy_Set_44).
 contains(PWi,Dummy_Set_46).
 contains(Ui,Dummy_Set_47)

step step_1 (Ui,Sj,SKas,H,IDi,PWi,PWDi,Dummy_NIDi,Bi,Dummy_NIDii,SIDj,Xs,Dummy_Rc,Dummy_Ti,Dummy_Eii,Dummy_Gi,Dummy_Li,Rs,SK,Ki,Di,Dummy_Fi,Dummy_Ei,Inc,Set_43,Set_44,Set_46,Set_47,Dummy_Set_49,Dummy_Set_50,Set_53,Set_54,SID,Rc,Ti,Fi,Ei) :=
 state_alice(Ui,Sj,SKas,H,1,IDi,PWi,PWDi,Dummy_NIDi,Bi,Dummy_NIDii,SIDj,Xs,Dummy_Rc,Dummy_Ti,Dummy_Eii,Dummy_Gi,Dummy_Li,Rs,SK,Ki,Di,Dummy_Fi,Dummy_Ei,Inc,Set_43,Set_44,Set_46,Set_47,Dummy_Set_49,Dummy_Set_50,Set_53,Set_54,SID).
 iknows(scrypt(SKas,pair(Fi,pair(Ei,Ti))))
=[exists Rc]=>
 state_alice(Ui,Sj,SKas,H,2,IDi,PWi,PWDi,xor(Dummy_Ti,apply(H,pair(IDi,Dummy_Fi))),Bi,xor(xor(Dummy_Ti,apply(H,pair(IDi,Dummy_Fi))),apply(H,Rc)),SIDj,Xs,Rc,Ti,xor(Dummy_Ei,apply(H,pair(IDi,PWi))),xor(xor(Dummy_Ei,apply(H,pair(IDi,PWi))),Rc),apply(H,pair(xor(Dummy_Ti,apply(H,pair(IDi,Dummy_Fi))),Dummy_Rc)),Rs,SK,Ki,Di,Fi,Ei,Inc,Set_43,Set_44,Set_46,Set_47,Dummy_Set_49,Dummy_Set_50,Set_53,Set_54,SID).
 iknows(pair(Fi,pair(xor(xor(Dummy_Ei,apply(H,pair(IDi,PWi))),Rc),pair(apply(H,pair(xor(Dummy_Ti,apply(H,pair(IDi,Dummy_Fi))),Dummy_Rc)),xor(xor(Dummy_Ti,apply(H,pair(IDi,Dummy_Fi))),apply(H,Rc)))))).
 secret(Dummy_Set_49,subs3,Dummy_Set_50).
 contains(Rc,Dummy_Set_49).
 contains(Ui,Dummy_Set_50).
 contains(Sj,Dummy_Set_50)

step step_2 (Ui,Sj,SKas,H,IDi,PWi,PWDi,NIDi,Bi,NIDii,SIDj,Xs,Rc,Ti,Eii,Gi,Li,Dummy_Rs,Dummy_SK,Dummy_Ki,Dummy_Di,Fi,Ei,Inc,Set_43,Set_44,Set_46,Set_47,Set_49,Set_50,Dummy_Set_53,Dummy_Set_54,SID,Di) :=
 state_alice(Ui,Sj,SKas,H,2,IDi,PWi,PWDi,NIDi,Bi,NIDii,SIDj,Xs,Rc,Ti,Eii,Gi,Li,Dummy_Rs,Dummy_SK,Dummy_Ki,Dummy_Di,Fi,Ei,Inc,Set_43,Set_44,Set_46,Set_47,Set_49,Set_50,Dummy_Set_53,Dummy_Set_54,SID).
 iknows(pair(Ki,Di))
 =>
 state_alice(Ui,Sj,SKas,H,3,IDi,PWi,PWDi,NIDi,Bi,NIDii,SIDj,Xs,Rc,Ti,Eii,Gi,Li,xor(Eii,Dummy_Di),apply(H,pair(Rc,Dummy_Rs)),apply(H,pair(Eii,xor(Eii,Dummy_Di))),Di,Fi,Ei,Inc,Set_43,Set_44,Set_46,Set_47,Set_49,Set_50,Dummy_Set_53,Dummy_Set_54,SID).
 secret(Dummy_Set_53,subs4,Dummy_Set_54).
 contains(apply(H,pair(Rc,Dummy_Rs)),Dummy_Set_53).
 contains(Ui,Dummy_Set_54).
 contains(Sj,Dummy_Set_54)

step step_3 (Sj,Ui,SKas,H,IDi,PWi,Dummy_PWDi,Bi,Dummy_NIDi,NIDii,SIDj,Xs,Rc,Dummy_Ti,Eii,Gi,Li,Rs,SK,Ki,Di,Ai,Dummy_Fi,Dummy_CIDi,Dummy_Ei,Inc,Dummy_Set_85,Dummy_Set_86,Set_88,Set_89,SID,PWDi,NIDi) :=
 state_server(Sj,Ui,SKas,H,0,IDi,PWi,Dummy_PWDi,Bi,Dummy_NIDi,NIDii,SIDj,Xs,Rc,Dummy_Ti,Eii,Gi,Li,Rs,SK,Ki,Di,Ai,Dummy_Fi,Dummy_CIDi,Dummy_Ei,Inc,Dummy_Set_85,Dummy_Set_86,Set_88,Set_89,SID).
 iknows(pair(IDi,pair(PWDi,Bi)))
=[exists NIDi]=>
 state_server(Sj,Ui,SKas,H,1,IDi,PWi,PWDi,Bi,NIDi,NIDii,SIDj,Xs,Rc,xor(Dummy_NIDi,apply(H,pair(IDi,apply(H,Bi)))),Eii,Gi,Li,Rs,SK,Ki,Di,Ai,apply(H,Bi),apply(H,pair(IDi,Bi)),xor(apply(H,pair(SIDj,pair(Xs,apply(H,Bi)))),Dummy_PWDi),Inc,Dummy_Set_85,Dummy_Set_86,Set_88,Set_89,SID).
 iknows(scrypt(SKas,pair(apply(H,Bi),pair(xor(apply(H,pair(SIDj,pair(Xs,apply(H,Bi)))),Dummy_PWDi),xor(Dummy_NIDi,apply(H,pair(IDi,apply(H,Bi)))))))).
 secret(Dummy_Set_85,subs5,Dummy_Set_86).
 contains(Xs,Dummy_Set_85).
 contains(Sj,Dummy_Set_86)

step step_4 (Sj,Ui,SKas,H,IDi,PWi,PWDi,Bi,NIDi,Dummy_NIDii,SIDj,Xs,Rc,Ti,Eii,Dummy_Gi,Dummy_Li,Dummy_Rs,SK,Dummy_Ki,Dummy_Di,Dummy_Ai,Dummy_Fi,CIDi,Ei,Inc,Set_85,Set_86,Dummy_Set_88,Dummy_Set_89,SID,NIDii,Gi,Li,Rs,Fi) :=
 state_server(Sj,Ui,SKas,H,1,IDi,PWi,PWDi,Bi,NIDi,Dummy_NIDii,SIDj,Xs,Rc,Ti,Eii,Dummy_Gi,Dummy_Li,Dummy_Rs,SK,Dummy_Ki,Dummy_Di,Dummy_Ai,Dummy_Fi,CIDi,Ei,Inc,Set_85,Set_86,Dummy_Set_88,Dummy_Set_89,SID).
 iknows(pair(Fi,pair(Gi,pair(Li,NIDii))))
=[exists Rs]=>
 state_server(Sj,Ui,SKas,H,2,IDi,PWi,PWDi,Bi,NIDi,NIDii,SIDj,Xs,Rc,Ti,Eii,Gi,Li,Rs,SK,apply(H,pair(Dummy_Ai,Rs)),xor(apply(H,pair(SIDj,pair(Xs,Dummy_Fi))),Rs),apply(H,pair(SIDj,pair(Xs,Dummy_Fi))),Fi,CIDi,Ei,Inc,Set_85,Set_86,Dummy_Set_88,Dummy_Set_89,SID).
 secret(Dummy_Set_88,subs6,Dummy_Set_89).
 iknows(pair(apply(H,pair(Dummy_Ai,Rs)),xor(apply(H,pair(SIDj,pair(Xs,Dummy_Fi))),Rs))).
 contains(Rs,Dummy_Set_88).
 contains(Sj,Dummy_Set_89)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_server_rc (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_server_rc,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_server_rc,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_server_rc,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_server_rc,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_alice_rs (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_alice_rs,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_alice_rs,MGoal))
     /\ ((request(A1Goal,A2Goal,server_alice_rs,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_alice_rs,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_server_rc (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_server_rc,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_server_rc,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_server_rc (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_server_rc,MGoal,SID1).
 request(A1Goal,A2Goal,alice_server_rc,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_alice_rs (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_alice_rs,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_alice_rs,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_alice_rs (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_alice_rs,MGoal,SID1).
 request(A1Goal,A2Goal,server_alice_rs,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

