%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile7vGnM6

section signature:

state_member3: agent * agent * agent * agent * symmetric_key * nat * symmetric_key * set(agent) * nat -> fact
state_member2: agent * agent * agent * agent * symmetric_key * nat * symmetric_key * set(agent) * nat -> fact
state_member12: agent * agent * agent * agent * nat * symmetric_key * symmetric_key * hash_func * nat * text * message * message * set(agent) * set(agent) * set(agent) * nat -> fact
state_member11: agent * agent * agent * agent * nat * nat * text * message * message * set(agent) * nat -> fact


section types:

f, F: hash_func
tekin2, tekin3, TEK3, TEK3init, TEK2, TEK2init, Dummy_TEK3, Dummy_TEK2, dummy_sk: symmetric_key
id2, id3, id1, a_M111_M211_R2, a_M211_M111_R22: protocol_id
set_100, set_126, set_120, set_112, set_111, set_110: set
ASGoal, Set_70, Set_59, Set_48, Set_47, Set_46, Dummy_Set_70, Set_26, Dummy_Set_59, Dummy_Set_48, Dummy_Set_47, Dummy_Set_46, Dummy_Set_26: set(agent)
SID2, SID1, SID, alpha, State, Alpha, 6, 2, 1, 5, 0, 4, Dummy_State, 3: nat
A2Goal, A1Goal, m111, m211, m121, m131, M111, M211, M121, M131, i: agent
MGoal, X2, TEK1, start, X1, Dummy_X2, Dummy_TEK1, Dummy_X1, dummy_msg: message
R2, Dummy_R2, R1, Dummy_R1, dummy_nonce: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(m111).
 iknows(m211).
 iknows(m121).
 iknows(m131).
 iknows(i).
 state_member11(m111,m211,m121,m131,alpha,0,dummy_nonce,dummy_msg,dummy_msg,set_100,3).
 state_member12(m211,m111,m121,m131,alpha,tekin2,tekin3,f,0,dummy_nonce,dummy_msg,dummy_msg,set_110,set_111,set_112,4).
 state_member2(m121,m111,m211,m131,tekin2,0,dummy_sk,set_120,5).
 state_member3(m131,m111,m211,m121,tekin3,0,dummy_sk,set_126,6)


section rules:

step step_0 (M111,M211,M121,M131,Alpha,Dummy_R1,X1,TEK1,Set_26,SID,R1) :=
 state_member11(M111,M211,M121,M131,Alpha,0,Dummy_R1,X1,TEK1,Set_26,SID).
 iknows(start)
=[exists R1]=>
 state_member11(M111,M211,M121,M131,Alpha,1,R1,X1,TEK1,Set_26,SID).
 iknows(exp(Alpha,R1)).
 witness(M111,M211,a_M211_M111_R22,exp(Alpha,R1))

step step_1 (M111,M211,M121,M131,Alpha,R1,Dummy_X1,Dummy_TEK1,Dummy_Set_26,SID,X1) :=
 state_member11(M111,M211,M121,M131,Alpha,1,R1,Dummy_X1,Dummy_TEK1,Dummy_Set_26,SID).
 iknows(X1)
 =>
 state_member11(M111,M211,M121,M131,Alpha,2,R1,X1,exp(X1,R1),Dummy_Set_26,SID).
 secret(exp(X1,R1),id1,Dummy_Set_26).
 request(M111,M211,a_M111_M211_R2,X1,SID).
 contains(M111,Dummy_Set_26).
 contains(M211,Dummy_Set_26)

step step_2 (M211,M111,M121,M131,Alpha,TEK2init,TEK3init,F,Dummy_R2,Dummy_X2,Dummy_TEK1,Dummy_Set_46,Dummy_Set_47,Dummy_Set_48,SID,R2,X2) :=
 state_member12(M211,M111,M121,M131,Alpha,TEK2init,TEK3init,F,0,Dummy_R2,Dummy_X2,Dummy_TEK1,Dummy_Set_46,Dummy_Set_47,Dummy_Set_48,SID).
 iknows(X2)
=[exists R2]=>
 state_member12(M211,M111,M121,M131,Alpha,TEK2init,TEK3init,F,1,R2,X2,exp(X2,R2),Dummy_Set_46,Dummy_Set_47,Dummy_Set_48,SID).
 iknows(exp(Alpha,R2)).
 iknows(scrypt(TEK2init,apply(F,exp(X2,R2)))).
 secret(exp(X2,R2),id1,Dummy_Set_46).
 secret(apply(F,exp(X2,R2)),id2,Dummy_Set_47).
 secret(apply(F,apply(F,exp(X2,R2))),id3,Dummy_Set_48).
 witness(M211,M111,a_M111_M211_R2,exp(Alpha,R2)).
 request(M211,M111,a_M211_M111_R22,X2,SID).
 contains(M111,Dummy_Set_46).
 contains(M211,Dummy_Set_46).
 contains(M111,Dummy_Set_47).
 contains(M211,Dummy_Set_47).
 contains(M121,Dummy_Set_47).
 contains(M111,Dummy_Set_48).
 contains(M211,Dummy_Set_48).
 contains(M131,Dummy_Set_48)

step step_3 (M121,M111,M211,M131,TEK2init,Dummy_TEK2,Dummy_Set_59,SID,TEK2) :=
 state_member2(M121,M111,M211,M131,TEK2init,0,Dummy_TEK2,Dummy_Set_59,SID).
 iknows(scrypt(TEK2init,TEK2))
 =>
 state_member2(M121,M111,M211,M131,TEK2init,1,TEK2,Dummy_Set_59,SID).
 secret(TEK2,id2,Dummy_Set_59).
 contains(M111,Dummy_Set_59).
 contains(M211,Dummy_Set_59).
 contains(M121,Dummy_Set_59)

step step_4 (M131,M111,M211,M121,TEK3init,Dummy_TEK3,Dummy_Set_70,SID,TEK3) :=
 state_member3(M131,M111,M211,M121,TEK3init,0,Dummy_TEK3,Dummy_Set_70,SID).
 iknows(scrypt(TEK3init,TEK3))
 =>
 state_member3(M131,M111,M211,M121,TEK3init,1,TEK3,Dummy_Set_70,SID).
 secret(TEK3,id3,Dummy_Set_70).
 contains(M111,Dummy_Set_70).
 contains(M211,Dummy_Set_70).
 contains(M131,Dummy_Set_70)


section properties:

property secrecy_of_id1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,id1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_id2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,id2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_id3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,id3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_a_M111_M211_R2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,a_M111_M211_R2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,a_M111_M211_R2,MGoal))
     /\ ((request(A1Goal,A2Goal,a_M111_M211_R2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,a_M111_M211_R2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_a_M211_M111_R22 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,a_M211_M111_R22,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,a_M211_M111_R22,MGoal))
     /\ ((request(A1Goal,A2Goal,a_M211_M111_R22,MGoal,SID1)
           /\ request(A1Goal,A2Goal,a_M211_M111_R22,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_id1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,id1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_id2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,id2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_id3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,id3,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_a_M111_M211_R2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,a_M111_M211_R2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,a_M111_M211_R2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_a_M111_M211_R2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,a_M111_M211_R2,MGoal,SID1).
 request(A1Goal,A2Goal,a_M111_M211_R2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_a_M211_M111_R22 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,a_M211_M111_R22,MGoal,SID) &
 not(witness(A2Goal,A1Goal,a_M211_M111_R22,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_a_M211_M111_R22 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,a_M211_M111_R22,MGoal,SID1).
 request(A1Goal,A2Goal,a_M211_M111_R22,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

