%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileLgCJl6

section signature:

state_server: agent * agent * symmetric_key * symmetric_key * hash_func * text * nat * text * text * text * text * text * text * text * text * text * text * text * text * set(agent) * set(agent) * nat -> fact
state_user: agent * agent * hash_func * text * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(agent) * set(agent) * nat -> fact


section types:

x, y, xi, yi, X, Y: symmetric_key
MGoal, start: message
sec_x, sec_y, sec_pw, sec_b1, m4, m7, m8, t, ts: protocol_id
ASGoal, Set_70, Set_69, Set_39, Set_37, Dummy_Set_70, Dummy_Set_69, Dummy_Set_39, Dummy_Set_37: set(agent)
h, H: hash_func
SID2, SID1, SID, 5, State, 6, 3, 13, 4, 2, 1, 9, 0, 7, Dummy_State: nat
A2Goal, A1Goal, a, b, B, A, i: agent
id, idi, RPW, M1, M2, M3, M4, M5, M6, M7, M8, Y1, T, TS, ID, Dummy_M8, Dummy_TS, Dummy_M7, PW, Dummy_M6, B1, Dummy_M4, Dummy_M3, Dummy_M2, Dummy_M1, Dummy_T, Dummy_Y1, Dummy_RPW, Dummy_B1, Dummy_PW, dummy_nonce: text
set_100, set_141, set_140, set_139, set_138, set_137, set_136, set_134, set_133, set_131, set_130, set_128, set_127, set_122, set_121, set_101: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(b).
 iknows(h).
 iknows(idi).
 iknows(xi).
 iknows(yi).
 iknows(i).
 state_user(a,b,h,id,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_100,set_101,3).
 state_server(b,a,x,y,h,id,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_121,set_122,4).
 state_user(a,b,h,id,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_127,set_128,6).
 state_server(b,a,x,y,h,id,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_130,set_131,7).
 state_user(a,i,h,idi,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_133,set_134,9).
 state_server(b,i,xi,yi,h,idi,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_140,set_141,13)


section rules:

step step_0 (A,B,H,ID,Dummy_PW,Dummy_B1,Y1,T,TS,Dummy_RPW,M1,M2,M3,M4,M5,M6,M7,M8,Dummy_Set_37,Dummy_Set_39,SID,PW,B1) :=
 state_user(A,B,H,ID,0,Dummy_PW,Dummy_B1,Y1,T,TS,Dummy_RPW,M1,M2,M3,M4,M5,M6,M7,M8,Dummy_Set_37,Dummy_Set_39,SID).
 iknows(start)
=[exists B1,PW]=>
 state_user(A,B,H,ID,2,PW,B1,Y1,T,TS,apply(H,pair(B1,PW)),M1,M2,M3,M4,M5,M6,M7,M8,Dummy_Set_37,Dummy_Set_39,SID).
 iknows(pair(ID,apply(H,pair(B1,PW)))).
 secret(PW,sec_pw,Dummy_Set_37).
 secret(B1,sec_b1,Dummy_Set_39).
 contains(A,Dummy_Set_37).
 contains(A,Dummy_Set_39)

step step_1 (A,B,H,ID,PW,B1,Dummy_Y1,Dummy_T,TS,RPW,Dummy_M1,Dummy_M2,Dummy_M3,Dummy_M4,M5,Dummy_M6,Dummy_M7,M8,Set_37,Set_39,SID,T,M2,M3) :=
 state_user(A,B,H,ID,2,PW,B1,Dummy_Y1,Dummy_T,TS,RPW,Dummy_M1,Dummy_M2,Dummy_M3,Dummy_M4,M5,Dummy_M6,Dummy_M7,M8,Set_37,Set_39,SID).
 iknows(pair(M2,pair(M3,pair(M4,H))))
=[exists T]=>
 state_user(A,B,H,ID,4,PW,B1,xor(M3,apply(H,xor(xor(M2,apply(H,xor(ID,RPW))),RPW))),T,TS,RPW,xor(M2,apply(H,xor(ID,RPW))),M2,M3,apply(H,pair(ID,pair(RPW,pair(xor(M3,apply(H,xor(xor(M2,apply(H,xor(ID,RPW))),RPW))),xor(M2,apply(H,xor(ID,RPW))))))),M5,xor(xor(M3,apply(H,xor(xor(M2,apply(H,xor(ID,RPW))),RPW))),xor(apply(H,xor(ID,xor(M2,apply(H,xor(ID,RPW))))),apply(H,xor(ID,xor(xor(M2,apply(H,xor(ID,RPW))),T))))),apply(H,pair(ID,pair(xor(M2,apply(H,xor(ID,RPW))),pair(xor(M3,apply(H,xor(xor(M2,apply(H,xor(ID,RPW))),RPW))),pair(xor(xor(M2,apply(H,xor(ID,RPW))),xor(M3,apply(H,xor(xor(M2,apply(H,xor(ID,RPW))),RPW)))),T))))),M8,Set_37,Set_39,SID).
 request(A,B,m4,apply(H,pair(ID,pair(RPW,pair(xor(M3,apply(H,xor(xor(M2,apply(H,xor(ID,RPW))),RPW))),xor(M2,apply(H,xor(ID,RPW))))))),SID).
 witness(A,B,t,T).
 witness(A,B,m7,apply(H,pair(ID,pair(xor(M2,apply(H,xor(ID,RPW))),pair(xor(M3,apply(H,xor(xor(M2,apply(H,xor(ID,RPW))),RPW))),pair(xor(xor(M2,apply(H,xor(ID,RPW))),xor(M3,apply(H,xor(xor(M2,apply(H,xor(ID,RPW))),RPW)))),T)))))).
 iknows(pair(ID,pair(xor(xor(M3,apply(H,xor(xor(M2,apply(H,xor(ID,RPW))),RPW))),xor(apply(H,xor(ID,xor(M2,apply(H,xor(ID,RPW))))),apply(H,xor(ID,xor(xor(M2,apply(H,xor(ID,RPW))),T))))),pair(apply(H,pair(ID,pair(xor(M2,apply(H,xor(ID,RPW))),pair(xor(M3,apply(H,xor(xor(M2,apply(H,xor(ID,RPW))),RPW))),pair(xor(xor(M2,apply(H,xor(ID,RPW))),xor(M3,apply(H,xor(xor(M2,apply(H,xor(ID,RPW))),RPW)))),T))))),T))))

step step_2 (A,B,H,ID,PW,B1,Y1,T,Dummy_TS,RPW,M1,M2,M3,M4,M5,M6,M7,Dummy_M8,Set_37,Set_39,SID,TS) :=
 state_user(A,B,H,ID,4,PW,B1,Y1,T,Dummy_TS,RPW,M1,M2,M3,M4,M5,M6,M7,Dummy_M8,Set_37,Set_39,SID).
 iknows(pair(M8,TS))
 =>
 state_user(A,B,H,ID,6,PW,B1,Y1,T,TS,RPW,M1,M2,M3,M4,M5,M6,M7,apply(H,pair(ID,pair(Y1,pair(xor(M1,Y1),TS)))),Set_37,Set_39,SID).
 request(A,B,ts,TS,SID).
 request(A,B,m8,apply(H,pair(ID,pair(Y1,pair(xor(M1,Y1),TS)))),SID)

step step_3 (B,A,X,Y,H,ID,Dummy_Y1,T,TS,Dummy_RPW,Dummy_M1,Dummy_M2,Dummy_M3,Dummy_M4,M5,M6,M7,M8,Dummy_Set_69,Dummy_Set_70,SID,Y1,RPW) :=
 state_server(B,A,X,Y,H,ID,1,Dummy_Y1,T,TS,Dummy_RPW,Dummy_M1,Dummy_M2,Dummy_M3,Dummy_M4,M5,M6,M7,M8,Dummy_Set_69,Dummy_Set_70,SID).
 iknows(pair(ID,RPW))
=[exists Y1]=>
 state_server(B,A,X,Y,H,ID,3,Y1,T,TS,RPW,apply(H,pair(xor(ID,X),Y)),xor(apply(H,pair(xor(ID,X),Y)),apply(H,xor(ID,RPW))),xor(Y1,apply(H,xor(apply(H,pair(xor(ID,X),Y)),RPW))),apply(H,pair(ID,pair(RPW,pair(Y1,apply(H,pair(xor(ID,X),Y)))))),M5,M6,M7,M8,Dummy_Set_69,Dummy_Set_70,SID).
 witness(B,A,m4,apply(H,pair(ID,pair(RPW,pair(Y1,apply(H,pair(xor(ID,X),Y))))))).
 iknows(pair(xor(apply(H,pair(xor(ID,X),Y)),apply(H,xor(ID,RPW))),pair(xor(Y1,apply(H,xor(apply(H,pair(xor(ID,X),Y)),RPW))),pair(apply(H,pair(ID,pair(RPW,pair(Y1,apply(H,pair(xor(ID,X),Y)))))),H)))).
 secret(X,sec_x,Dummy_Set_69).
 secret(Y,sec_y,Dummy_Set_70).
 contains(B,Dummy_Set_69).
 contains(B,Dummy_Set_70)

step step_4 (B,A,X,Y,H,ID,Dummy_Y1,Dummy_T,Dummy_TS,RPW,Dummy_M1,M2,M3,M4,M5,Dummy_M6,Dummy_M7,Dummy_M8,Set_69,Set_70,SID,T,TS,M6) :=
 state_server(B,A,X,Y,H,ID,3,Dummy_Y1,Dummy_T,Dummy_TS,RPW,Dummy_M1,M2,M3,M4,M5,Dummy_M6,Dummy_M7,Dummy_M8,Set_69,Set_70,SID).
 iknows(pair(ID,pair(M6,pair(M7,T))))
=[exists TS]=>
 state_server(B,A,X,Y,H,ID,5,xor(M6,xor(apply(H,xor(ID,apply(H,pair(xor(ID,X),Y)))),apply(H,xor(ID,xor(apply(H,pair(xor(ID,X),Y)),T))))),T,TS,RPW,apply(H,pair(xor(ID,X),Y)),M2,M3,M4,M5,M6,apply(H,pair(ID,pair(apply(H,pair(xor(ID,X),Y)),pair(xor(M6,xor(apply(H,xor(ID,apply(H,pair(xor(ID,X),Y)))),apply(H,xor(ID,xor(apply(H,pair(xor(ID,X),Y)),T))))),pair(xor(apply(H,pair(xor(ID,X),Y)),xor(M6,xor(apply(H,xor(ID,apply(H,pair(xor(ID,X),Y)))),apply(H,xor(ID,xor(apply(H,pair(xor(ID,X),Y)),T)))))),T))))),apply(H,pair(ID,pair(xor(M6,xor(apply(H,xor(ID,apply(H,pair(xor(ID,X),Y)))),apply(H,xor(ID,xor(apply(H,pair(xor(ID,X),Y)),T))))),pair(xor(apply(H,pair(xor(ID,X),Y)),xor(M6,xor(apply(H,xor(ID,apply(H,pair(xor(ID,X),Y)))),apply(H,xor(ID,xor(apply(H,pair(xor(ID,X),Y)),T)))))),TS)))),Set_69,Set_70,SID).
 request(B,A,t,T,SID).
 request(B,A,m7,apply(H,pair(ID,pair(apply(H,pair(xor(ID,X),Y)),pair(xor(M6,xor(apply(H,xor(ID,apply(H,pair(xor(ID,X),Y)))),apply(H,xor(ID,xor(apply(H,pair(xor(ID,X),Y)),T))))),pair(xor(apply(H,pair(xor(ID,X),Y)),xor(M6,xor(apply(H,xor(ID,apply(H,pair(xor(ID,X),Y)))),apply(H,xor(ID,xor(apply(H,pair(xor(ID,X),Y)),T)))))),T))))),SID).
 witness(B,A,ts,TS)


section properties:

property secrecy_of_sec_pw (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_pw,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_b1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_b1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_x (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_x,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_y (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_y,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_m4 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,m4,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,m4,MGoal))
     /\ ((request(A1Goal,A2Goal,m4,MGoal,SID1)
           /\ request(A1Goal,A2Goal,m4,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_m7 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,m7,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,m7,MGoal))
     /\ ((request(A1Goal,A2Goal,m7,MGoal,SID1)
           /\ request(A1Goal,A2Goal,m7,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_m8 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,m8,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,m8,MGoal))
     /\ ((request(A1Goal,A2Goal,m8,MGoal,SID1)
           /\ request(A1Goal,A2Goal,m8,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_t (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,t,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,t,MGoal))
     /\ ((request(A1Goal,A2Goal,t,MGoal,SID1)
           /\ request(A1Goal,A2Goal,t,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_ts (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,ts,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,ts,MGoal))
     /\ ((request(A1Goal,A2Goal,ts,MGoal,SID1)
           /\ request(A1Goal,A2Goal,ts,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec_pw (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_pw,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_b1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_b1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_x (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_x,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_y (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_y,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_m4 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,m4,MGoal,SID) &
 not(witness(A2Goal,A1Goal,m4,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_m4 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,m4,MGoal,SID1).
 request(A1Goal,A2Goal,m4,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_m7 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,m7,MGoal,SID) &
 not(witness(A2Goal,A1Goal,m7,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_m7 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,m7,MGoal,SID1).
 request(A1Goal,A2Goal,m7,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_m8 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,m8,MGoal,SID) &
 not(witness(A2Goal,A1Goal,m8,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_m8 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,m8,MGoal,SID1).
 request(A1Goal,A2Goal,m8,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_t (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,t,MGoal,SID) &
 not(witness(A2Goal,A1Goal,t,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_t (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,t,MGoal,SID1).
 request(A1Goal,A2Goal,t,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_ts (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,ts,MGoal,SID) &
 not(witness(A2Goal,A1Goal,ts,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_ts (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,ts,MGoal,SID1).
 request(A1Goal,A2Goal,ts,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

