%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfiledNc4Cf

section signature:

state_brouter: agent * agent * agent * text * symmetric_key * symmetric_key * public_key * public_key * hash_func * set(text) * nat * text * text * text * text * text * set(agent) * set(agent) * nat -> fact
state_lrouter: agent * agent * agent * text * text * symmetric_key * symmetric_key * public_key * hash_func * nat * text * text * text * text * text * public_key * scrypt(symmetric_key,pair(text,pair(text,pair(text,text)))) * set(agent) * nat -> fact
state_enddevice: agent * agent * agent * text * text * symmetric_key * symmetric_key * public_key * hash_func * nat * text * text * text * text * text * set(agent) * nat -> fact


section types:

Dummy_X, X: scrypt(symmetric_key,pair(text,pair(text,pair(text,text))))
set_188, set_187, set_185, set_183, set_182, set_181, set_180, set_178, set_176, set_175, set_173, set_172, set_170, set_169, set_167, set_165, set_160, set_159, set_150, set_139: set
IdList, set_138, set_137, set_136, set_135, set_134: set(text)
Set_81, Set_79, Dummy_Set_81, Dummy_Set_79, Set_56, Dummy_Set_56, Dummy_Set_28, Set_28, ASGoal: set(agent)
MGoal, start: message
21, 20, 19, 15, 13, State, 12, 9, 8, 7, 5, SID, 4, Dummy_State, 3, SID2, SID1, 2, 1, 0: nat
H, h: hash_func
Kpubb, Kpubl, Dummy_Kpubl, dummy_pk, kpubb, kpubl, ki: public_key
Keb, Klb, dummy_sk, Kel, kel, klb, keb, kil, kib, kei, kli: symmetric_key
Ne2, Nl, Nb, IDe, IDl, IDs, Dummy_IDe, Ne1, Dummy_Nb, Dummy_IDl, Dummy_Nl, Dummy_Ne2, Dummy_Ne1, dummy_nonce, ide, idl, ids, idi: text
nb, prikey, br_lr_nb, lr_br_nl, nl, br_ed_nb, ed_lr_ne, ne, ed_br_ne, lr_ed_nl: protocol_id
E, L, B, A2Goal, A1Goal, e, l, b, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(e).
 iknows(l).
 iknows(b).
 iknows(ide).
 iknows(idl).
 iknows(ids).
 iknows(kil).
 iknows(kib).
 iknows(kli).
 iknows(kei).
 iknows(ki).
 iknows(inv(ki)).
 iknows(h).
 iknows(i).
 state_enddevice(e,l,b,ide,ids,kel,keb,kpubb,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_139,3).
 state_lrouter(l,e,b,idl,ids,kel,klb,kpubb,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_pk,scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce)))),set_150,4).
 state_brouter(l,e,b,ids,keb,klb,kpubb,kpubl,h,set_134,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_159,set_160,5).
 state_enddevice(e,l,b,ide,ids,kel,keb,kpubb,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_165,7).
 state_lrouter(l,e,b,idl,ids,kel,klb,kpubb,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_pk,scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce)))),set_167,8).
 state_brouter(l,e,b,ids,keb,klb,kpubb,kpubl,h,set_135,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_169,set_170,9).
 state_lrouter(l,i,b,idl,ids,kil,klb,kpubb,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_pk,scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce)))),set_173,12).
 state_brouter(l,i,b,ids,kib,klb,kpubb,kpubl,h,set_136,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_175,set_176,13).
 state_enddevice(e,i,b,ide,ids,kei,keb,kpubb,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_178,15).
 state_enddevice(e,l,i,ide,ids,kel,kei,kpubb,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_183,19).
 state_lrouter(l,e,i,idl,ids,kel,kli,kpubb,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_pk,scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce)))),set_185,20).
 state_brouter(l,e,i,ids,kei,kli,kpubb,kpubl,h,set_138,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_187,set_188,21).
 contains(ide,set_134).
 contains(idl,set_134).
 contains(ids,set_134).
 contains(ide,set_135).
 contains(idl,set_135).
 contains(ids,set_135).
 contains(ide,set_136).
 contains(idl,set_136).
 contains(ids,set_136).
 contains(ide,set_138).
 contains(idl,set_138).
 contains(ids,set_138)


section rules:

step step_0 (E,L,B,IDe,IDs,Kel,Keb,Kpubb,H,Dummy_Ne1,Ne2,Nl,Nb,IDl,Set_28,SID,Ne1) :=
 state_enddevice(E,L,B,IDe,IDs,Kel,Keb,Kpubb,H,0,Dummy_Ne1,Ne2,Nl,Nb,IDl,Set_28,SID).
 iknows(start)
=[exists Ne1]=>
 state_enddevice(E,L,B,IDe,IDs,Kel,Keb,Kpubb,H,1,Ne1,Ne2,Nl,Nb,IDl,Set_28,SID).
 iknows(pair(IDe,Ne1))

step step_1 (E,L,B,IDe,IDs,Kel,Keb,Kpubb,H,Ne1,Dummy_Ne2,Dummy_Nl,Nb,Dummy_IDl,Dummy_Set_28,SID,Ne2,Nl,IDl) :=
 state_enddevice(E,L,B,IDe,IDs,Kel,Keb,Kpubb,H,1,Ne1,Dummy_Ne2,Dummy_Nl,Nb,Dummy_IDl,Dummy_Set_28,SID).
 iknows(pair(IDl,Nl))
=[exists Ne2]=>
 state_enddevice(E,L,B,IDe,IDs,Kel,Keb,Kpubb,H,2,Ne1,Ne2,Nl,Nb,IDl,Dummy_Set_28,SID).
 iknows(pair(scrypt(Keb,pair(IDe,pair(IDl,pair(IDs,Ne2)))),pair(apply(h,pair(scrypt(Keb,pair(IDe,pair(IDl,pair(IDs,Ne2)))),pair(Kel,pair(IDe,Ne2)))),pair(IDe,Ne2)))).
 secret(Ne2,ne,Dummy_Set_28).
 witness(E,L,ed_lr_ne,Ne2).
 contains(E,Dummy_Set_28).
 contains(L,Dummy_Set_28).
 contains(B,Dummy_Set_28)

step step_2 (E,L,B,IDe,IDs,Kel,Keb,Kpubb,H,Ne1,Ne2,Nl,Dummy_Nb,IDl,Set_28,SID,Nb) :=
 state_enddevice(E,L,B,IDe,IDs,Kel,Keb,Kpubb,H,2,Ne1,Ne2,Nl,Dummy_Nb,IDl,Set_28,SID).
 iknows(scrypt(Keb,pair(IDl,Nb)))
 =>
 state_enddevice(E,L,B,IDe,IDs,Kel,Keb,Kpubb,H,3,Ne1,Ne2,Nl,Nb,IDl,Set_28,SID).
 request(E,B,br_ed_nb,Nb,SID)

step step_3 (L,E,B,IDl,IDs,Kel,Klb,Kpubb,H,Ne1,Ne2,Dummy_Nl,Nb,Dummy_IDe,Kpubl,X,Set_56,SID,Nl,IDe) :=
 state_lrouter(L,E,B,IDl,IDs,Kel,Klb,Kpubb,H,0,Ne1,Ne2,Dummy_Nl,Nb,Dummy_IDe,Kpubl,X,Set_56,SID).
 iknows(pair(IDe,Ne1))
=[exists Nl]=>
 state_lrouter(L,E,B,IDl,IDs,Kel,Klb,Kpubb,H,1,Ne1,Ne2,Nl,Nb,IDe,Kpubl,X,Set_56,SID).
 iknows(pair(IDl,Nl))

step step_4 (L,E,B,IDl,IDs,Kel,Klb,Kpubb,H,Ne1,Dummy_Ne2,Dummy_Nl,Nb,Dummy_IDe,Kpubl,Dummy_X,Dummy_Set_56,SID,Ne2,Nl,IDe,X) :=
 state_lrouter(L,E,B,IDl,IDs,Kel,Klb,Kpubb,H,1,Ne1,Dummy_Ne2,Dummy_Nl,Nb,Dummy_IDe,Kpubl,Dummy_X,Dummy_Set_56,SID).
 iknows(pair(X,pair(apply(h,pair(X,pair(Kel,pair(IDe,Ne2)))),pair(IDe,Ne2))))
=[exists Nl]=>
 state_lrouter(L,E,B,IDl,IDs,Kel,Klb,Kpubb,H,2,Ne1,Ne2,Nl,Nb,IDe,Kpubl,X,Dummy_Set_56,SID).
 iknows(pair(X,pair(apply(h,pair(X,pair(Klb,pair(IDl,Nl)))),pair(IDl,Nl)))).
 secret(Nl,nl,Dummy_Set_56).
 witness(L,B,lr_br_nl,Nl).
 contains(E,Dummy_Set_56).
 contains(B,Dummy_Set_56)

step step_5 (L,E,B,IDl,IDs,Kel,Klb,Kpubb,H,Ne1,Ne2,Nl,Dummy_Nb,IDe,Dummy_Kpubl,X,Set_56,SID,Nb,Kpubl) :=
 state_lrouter(L,E,B,IDl,IDs,Kel,Klb,Kpubb,H,2,Ne1,Ne2,Nl,Dummy_Nb,IDe,Dummy_Kpubl,X,Set_56,SID).
 iknows(pair(Nb,pair(crypt(inv(Kpubb),pair(IDe,IDs)),scrypt(Klb,pair(Kpubl,inv(Kpubl))))))
 =>
 state_lrouter(L,E,B,IDl,IDs,Kel,Klb,Kpubb,H,3,Ne1,Ne2,Nl,Nb,IDe,Kpubl,X,Set_56,SID).
 request(L,E,ed_lr_ne,Ne2,SID).
 request(L,B,br_lr_nb,Nb,SID)

step step_6 (L,E,B,IDs,Keb,Klb,Kpubb,Kpubl,H,IdList,Dummy_Ne2,Dummy_Nl,Dummy_Nb,Dummy_IDe,Dummy_IDl,Dummy_Set_79,Dummy_Set_81,SID,Ne2,Nl,Nb,IDe,IDl) :=
 state_brouter(L,E,B,IDs,Keb,Klb,Kpubb,Kpubl,H,IdList,0,Dummy_Ne2,Dummy_Nl,Dummy_Nb,Dummy_IDe,Dummy_IDl,Dummy_Set_79,Dummy_Set_81,SID).
 iknows(pair(scrypt(Keb,pair(IDe,pair(IDl,pair(IDs,Ne2)))),pair(apply(h,pair(scrypt(Keb,pair(IDe,pair(IDl,pair(IDs,Ne2)))),pair(Klb,pair(IDl,Nl)))),pair(IDl,Nl)))).
 contains(IDe,IdList).
 contains(IDl,IdList)
=[exists Nb]=>
 state_brouter(L,E,B,IDs,Keb,Klb,Kpubb,Kpubl,H,IdList,1,Ne2,Nl,Nb,IDe,IDl,Dummy_Set_79,Dummy_Set_81,SID).
 iknows(pair(Nb,pair(crypt(inv(Kpubb),pair(IDe,IDs)),scrypt(Klb,pair(Kpubl,inv(Kpubl)))))).
 secret(inv(Kpubl),prikey,Dummy_Set_79).
 iknows(scrypt(Keb,pair(IDl,Nb))).
 secret(Nb,nb,Dummy_Set_81).
 witness(B,L,br_lr_nb,Nb).
 witness(B,E,br_ed_nb,Nb).
 request(B,L,lr_br_nl,Nl,SID).
 contains(L,Dummy_Set_79).
 contains(B,Dummy_Set_79).
 contains(E,Dummy_Set_81).
 contains(L,Dummy_Set_81).
 contains(B,Dummy_Set_81).
 contains(IDe,IdList).
 contains(IDl,IdList)


section properties:

property secrecy_of_ne (MGoal,ASGoal) :=
 [] ((secret(MGoal,ne,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_nl (MGoal,ASGoal) :=
 [] ((secret(MGoal,nl,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_nb (MGoal,ASGoal) :=
 [] ((secret(MGoal,nb,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_prikey (MGoal,ASGoal) :=
 [] ((secret(MGoal,prikey,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_ed_lr_ne (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,ed_lr_ne,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,ed_lr_ne,MGoal))
     /\ ((request(A1Goal,A2Goal,ed_lr_ne,MGoal,SID1)
           /\ request(A1Goal,A2Goal,ed_lr_ne,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_lr_br_nl (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,lr_br_nl,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,lr_br_nl,MGoal))
     /\ ((request(A1Goal,A2Goal,lr_br_nl,MGoal,SID1)
           /\ request(A1Goal,A2Goal,lr_br_nl,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_br_lr_nb (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,br_lr_nb,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,br_lr_nb,MGoal))
     /\ ((request(A1Goal,A2Goal,br_lr_nb,MGoal,SID1)
           /\ request(A1Goal,A2Goal,br_lr_nb,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_br_ed_nb (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,br_ed_nb,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,br_ed_nb,MGoal))
     /\ ((request(A1Goal,A2Goal,br_ed_nb,MGoal,SID1)
           /\ request(A1Goal,A2Goal,br_ed_nb,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_ne (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,ne,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_nl (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,nl,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_nb (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,nb,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_prikey (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,prikey,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_ed_lr_ne (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,ed_lr_ne,MGoal,SID) &
 not(witness(A2Goal,A1Goal,ed_lr_ne,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_ed_lr_ne (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,ed_lr_ne,MGoal,SID1).
 request(A1Goal,A2Goal,ed_lr_ne,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_lr_br_nl (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,lr_br_nl,MGoal,SID) &
 not(witness(A2Goal,A1Goal,lr_br_nl,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_lr_br_nl (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,lr_br_nl,MGoal,SID1).
 request(A1Goal,A2Goal,lr_br_nl,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_br_lr_nb (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,br_lr_nb,MGoal,SID) &
 not(witness(A2Goal,A1Goal,br_lr_nb,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_br_lr_nb (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,br_lr_nb,MGoal,SID1).
 request(A1Goal,A2Goal,br_lr_nb,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_br_ed_nb (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,br_ed_nb,MGoal,SID) &
 not(witness(A2Goal,A1Goal,br_ed_nb,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_br_ed_nb (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,br_ed_nb,MGoal,SID1).
 request(A1Goal,A2Goal,br_ed_nb,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

