%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile8EE1dgLLqe

section signature:

state_snode: agent * agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_gateway: agent * agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_user: agent * agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(text) * set(agent) * nat -> fact


section types:

set_388, set_387, set_386, set_385, set_383, set_382, set_381, set_380, set_378, set_377, set_376, set_374, set_373, set_372, set_371, set_369, set_368, set_367, set_366, set_364, set_363, set_362, set_360, set_359, set_358, set_357, set_355, set_354, set_353, set_352, set_350, set_349, set_348, set_337, set_336, set_335, set_334, set_315, set_314, set_313, set_312, set_291, set_290, set_289: set
user_gateway_rui, gateway_snode_rgj, snode_user_rsk, user_gateway, gateway_snode, snode_user, regis_center, subs1, subs2, subs3, subs4, subs5, subs6, subs7: protocol_id
Set_173, Set_171, Dummy_Set_224, Dummy_Set_222, Dummy_Set_173, Set_123, Set_121, Dummy_Set_171, Dummy_Set_71, ASGoal, Set_71, Set_224, Set_222: set(agent)
Set_172, Set_170, Dummy_Set_223, Dummy_Set_221, Dummy_Set_172, Set_122, Set_120, Set_119, Dummy_Set_170, Dummy_Set_70, Dummy_Set_66, Set_70, Set_66, Set_223, Set_221: set(text)
17, State, 16, 15, 4, 13, 12, 11, 9, 8, 7, 5, SID, Dummy_State, 3, SID2, SID1, 2, 1, 0: nat
H, Inc, dummy_hash, h: hash_func
SK1, sk1: symmetric_key
GIDj, SIDk, RXGi, B2i, B3i, A4i, A5i, A6i, C1i, C2i, A7i, A8i, Dummy_C2i, Dummy_C1i, Dummy_A8i, Dummy_A6i, Dummy_A5i, Dummy_A4i, Dummy_RXGi, Dummy_A7i, Dummy_B3i, Dummy_B2i, dummy_msg, MGoal, start: message
SNk, Ui, GWj, RC, A2Goal, A1Goal, ui, snk, gwj, rc, i: agent
HBi, A1i, A2i, A3i, B1i, TS1i, TS2i, TS3i, TS4i, TS5i, SIXk, Xc, Gj, RUi, RGj, RSk, TGi, SKi, IDi, PWi, Bi, CIDi, HPWi, Dummy_RSk, Dummy_TS3i, Dummy_TS4i, Dummy_RGj, Dummy_TS2i, Dummy_TGi, Dummy_A3i, Dummy_A2i, Dummy_A1i, Dummy_SKi, Dummy_RUi, Dummy_TS1i, Dummy_B1i, Dummy_HBi, Dummy_HPWi, Dummy_CIDi, Dummy_Bi, dummy_nonce, idi, pwi, cidi, hpwi, hbi, a1i, b1i, ts1i, ts2i, ts3i, bi, ts4i, ts5i, sixk, xc, gj, rui, rgj, rsk, gidj, sidk, rxgi, b2i, b3i, a4i, a5i, a6i, c1i, c2i, a7i, a8i, tgi, a2i, a3i: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(snk).
 iknows(gwj).
 iknows(h).
 iknows(gidj).
 iknows(sidk).
 iknows(rxgi).
 iknows(b2i).
 iknows(b3i).
 iknows(a4i).
 iknows(a5i).
 iknows(a6i).
 iknows(c1i).
 iknows(c2i).
 iknows(a7i).
 iknows(a8i).
 iknows(tgi).
 iknows(a2i).
 iknows(a3i).
 iknows(i).
 state_user(ui,snk,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_289,set_290,set_291,3).
 state_gateway(gwj,ui,snk,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_312,set_313,set_314,set_315,4).
 state_snode(ui,snk,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_334,set_335,set_336,set_337,5).
 state_user(ui,snk,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_348,set_349,set_350,7).
 state_gateway(gwj,ui,snk,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_352,set_353,set_354,set_355,8).
 state_snode(ui,snk,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_357,set_358,set_359,set_360,9).
 state_user(ui,snk,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_362,set_363,set_364,11).
 state_gateway(gwj,ui,snk,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_366,set_367,set_368,set_369,12).
 state_snode(ui,snk,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_371,set_372,set_373,set_374,13).
 state_user(ui,snk,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_376,set_377,set_378,15).
 state_gateway(gwj,ui,snk,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_380,set_381,set_382,set_383,16).
 state_snode(ui,snk,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_385,set_386,set_387,set_388,17)


section rules:

step step_0 (Ui,SNk,GWj,RC,SK1,H,IDi,PWi,Dummy_Bi,Dummy_CIDi,Dummy_HPWi,HBi,A1i,A2i,A3i,B1i,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,SKi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,A7i,A8i,Inc,Dummy_Set_66,Set_70,Set_71,SID,Bi) :=
 state_user(Ui,SNk,GWj,RC,SK1,H,0,IDi,PWi,Dummy_Bi,Dummy_CIDi,Dummy_HPWi,HBi,A1i,A2i,A3i,B1i,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,SKi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,A7i,A8i,Inc,Dummy_Set_66,Set_70,Set_71,SID).
 iknows(start)
=[exists Bi]=>
 state_user(Ui,SNk,GWj,RC,SK1,H,1,IDi,PWi,Bi,apply(h,pair(IDi,Bi)),apply(h,pair(PWi,Bi)),HBi,A1i,A2i,A3i,B1i,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,SKi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,A7i,A8i,Inc,Dummy_Set_66,Set_70,Set_71,SID).
 iknows(scrypt(SK1,pair(apply(h,pair(IDi,Bi)),apply(h,pair(PWi,Bi))))).
 secret(Dummy_Set_66,subs1,Ui).
 contains(IDi,Dummy_Set_66).
 contains(PWi,Dummy_Set_66).
 contains(bi,Dummy_Set_66)

step step_1 (Ui,SNk,GWj,RC,SK1,H,IDi,PWi,Bi,CIDi,HPWi,Dummy_HBi,A1i,A2i,A3i,Dummy_B1i,Dummy_TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,Dummy_RUi,RGj,RSk,TGi,SKi,GIDj,SIDk,RXGi,Dummy_B2i,Dummy_B3i,A4i,A5i,A6i,C1i,C2i,A7i,A8i,Inc,Set_66,Dummy_Set_70,Dummy_Set_71,SID,TS1i,RUi) :=
 state_user(Ui,SNk,GWj,RC,SK1,H,1,IDi,PWi,Bi,CIDi,HPWi,Dummy_HBi,A1i,A2i,A3i,Dummy_B1i,Dummy_TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,Dummy_RUi,RGj,RSk,TGi,SKi,GIDj,SIDk,RXGi,Dummy_B2i,Dummy_B3i,A4i,A5i,A6i,C1i,C2i,A7i,A8i,Inc,Set_66,Dummy_Set_70,Dummy_Set_71,SID).
 iknows(scrypt(SK1,pair(RXGi,pair(TGi,pair(GIDj,pair(A2i,A3i))))))
=[exists TS1i,RUi]=>
 state_user(Ui,SNk,GWj,RC,SK1,H,2,IDi,PWi,Bi,CIDi,HPWi,xor(apply(h,pair(PWi,IDi)),Bi),A1i,A2i,A3i,xor(A3i,apply(h,pair(CIDi,HPWi))),TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,SKi,GIDj,SIDk,RXGi,apply(h,pair(Dummy_TS1i,pair(RUi,pair(xor(A3i,apply(h,pair(CIDi,HPWi))),GIDj)))),xor(pair(Dummy_RUi,Dummy_TS1i),xor(A3i,apply(h,pair(CIDi,HPWi)))),A4i,A5i,A6i,C1i,C2i,A7i,A8i,Inc,Set_66,Dummy_Set_70,Dummy_Set_71,SID).
 iknows(pair(GIDj,pair(SNk,pair(RXGi,pair(Dummy_B2i,Dummy_B3i))))).
 secret(Dummy_Set_70,subs2,Dummy_Set_71).
 contains(RUi,Dummy_Set_70).
 contains(Ui,Dummy_Set_71).
 contains(GWj,Dummy_Set_71).
 contains(SNk,Dummy_Set_71)

step step_2 (Ui,SNk,GWj,RC,SK1,H,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,Dummy_SKi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,Dummy_A7i,A8i,Inc,Set_66,Set_70,Set_71,SID) :=
 state_user(Ui,SNk,GWj,RC,SK1,H,2,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,Dummy_SKi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,Dummy_A7i,A8i,Inc,Set_66,Set_70,Set_71,SID).
 iknows(pair(A4i,pair(Dummy_A7i,xor(pair(pair(RSk,pair(RGj,TS4i)),RUi)))))
 =>
 state_user(Ui,SNk,GWj,RC,SK1,H,3,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,apply(h,pair(apply(h,pair(CIDi,TGi)),pair(RUi,pair(RGj,RSk)))),GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,apply(h,pair(Dummy_SKi,pair(apply(h,pair(CIDi,TGi)),pair(RGj,pair(TS4i,A4i))))),A8i,Inc,Set_66,Set_70,Set_71,SID)

step step_3 (GWj,Ui,SNk,RC,SK1,H,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,SKi,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,A7i,A8i,Inc,Dummy_Set_170,Dummy_Set_171,Set_172,Set_173,SID) :=
 state_gateway(GWj,Ui,SNk,RC,SK1,H,0,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,SKi,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,A7i,A8i,Inc,Dummy_Set_170,Dummy_Set_171,Set_172,Set_173,SID).
 iknows(scrypt(SK1,pair(GIDj,pair(Gj,pair(SIDk,SIXk)))))
 =>
 state_gateway(GWj,Ui,SNk,RC,SK1,H,1,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,SKi,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,A7i,A8i,Inc,Dummy_Set_170,Dummy_Set_171,Set_172,Set_173,SID).
 secret(Dummy_Set_170,subs4,Dummy_Set_171).
 contains(Gj,Dummy_Set_170).
 contains(RC,Dummy_Set_171).
 contains(GWj,Dummy_Set_171)

step step_4 (GWj,Ui,SNk,RC,SK1,H,IDi,PWi,Bi,CIDi,HPWi,HBi,Dummy_A1i,Dummy_A2i,Dummy_A3i,B1i,SKi,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,Dummy_TGi,GIDj,SIDk,Dummy_RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,A7i,A8i,Inc,Set_170,Set_171,Set_172,Set_173,SID,TGi,RXGi) :=
 state_gateway(GWj,Ui,SNk,RC,SK1,H,1,IDi,PWi,Bi,CIDi,HPWi,HBi,Dummy_A1i,Dummy_A2i,Dummy_A3i,B1i,SKi,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,Dummy_TGi,GIDj,SIDk,Dummy_RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,A7i,A8i,Inc,Set_170,Set_171,Set_172,Set_173,SID).
 iknows(scrypt(SK1,pair(CIDi,HPWi)))
=[exists RXGi,TGi]=>
 state_gateway(GWj,Ui,SNk,RC,SK1,H,2,IDi,PWi,Bi,CIDi,HPWi,HBi,apply(h,pair(CIDi,Dummy_TGi)),apply(h,pair(CIDi,pair(HPWi,GIDj))),xor(apply(h,pair(Dummy_A1i,pair(Dummy_RXGi,Gj))),apply(h,pair(CIDi,HPWi))),B1i,SKi,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,A7i,A8i,Inc,Set_170,Set_171,Set_172,Set_173,SID).
 iknows(scrypt(SK1,pair(Dummy_RXGi,pair(Dummy_TGi,pair(GIDj,pair(Dummy_A2i,Dummy_A3i))))))

step step_5 (GWj,Ui,SNk,RC,SK1,H,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,SKi,TS1i,Dummy_TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,Dummy_RGj,RSk,TGi,GIDj,SIDk,RXGi,B2i,B3i,Dummy_A4i,Dummy_A5i,Dummy_A6i,C1i,C2i,A7i,A8i,Inc,Set_170,Set_171,Dummy_Set_172,Dummy_Set_173,SID,TS2i,RGj) :=
 state_gateway(GWj,Ui,SNk,RC,SK1,H,2,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,SKi,TS1i,Dummy_TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,Dummy_RGj,RSk,TGi,GIDj,SIDk,RXGi,B2i,B3i,Dummy_A4i,Dummy_A5i,Dummy_A6i,C1i,C2i,A7i,A8i,Inc,Set_170,Set_171,Dummy_Set_172,Dummy_Set_173,SID).
 iknows(pair(GIDj,pair(SNk,pair(RXGi,pair(B2i,B3i)))))
=[exists TS2i,RGj]=>
 state_gateway(GWj,Ui,SNk,RC,SK1,H,3,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,SKi,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,GIDj,SIDk,RXGi,B2i,B3i,apply(h,pair(SIDk,pair(A1i,pair(SIXk,pair(RGj,TS2i))))),xor(pair(RUi,pair(Dummy_RGj,Dummy_TS2i)),SIXk),xor(A1i,apply(h,pair(SIDk,pair(apply(h,Dummy_RGj),RUi)))),C1i,C2i,A7i,A8i,Inc,Set_170,Set_171,Dummy_Set_172,Dummy_Set_173,SID).
 iknows(SIDk).
 secret(Dummy_Set_172,subs6,Dummy_Set_173).
 contains(RGj,Dummy_Set_172).
 contains(Ui,Dummy_Set_173).
 contains(GWj,Dummy_Set_173).
 contains(SNk,Dummy_Set_173)

step step_6 (GWj,Ui,SNk,RC,SK1,H,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,SKi,TS1i,TS2i,TS3i,Dummy_TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,Dummy_A7i,Dummy_A8i,Inc,Set_170,Set_171,Set_172,Set_173,SID,TS4i) :=
 state_gateway(GWj,Ui,SNk,RC,SK1,H,3,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,SKi,TS1i,TS2i,TS3i,Dummy_TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,Dummy_A7i,Dummy_A8i,Inc,Set_170,Set_171,Set_172,Set_173,SID).
 iknows(C1i)
=[exists TS4i]=>
 state_gateway(GWj,Ui,SNk,RC,SK1,H,4,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,SKi,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,apply(h,pair(SKi,pair(A1i,pair(RGj,pair(TS4i,A4i))))),xor(pair(RSk,pair(RGj,TS4i)),RUi),Inc,Set_170,Set_171,Set_172,Set_173,SID).
 iknows(A4i)

step step_7 (SNk,Ui,GWj,RC,SK1,H,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,SKi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,A7i,A8i,Inc,Dummy_Set_221,Dummy_Set_222,Set_223,Set_224,SID) :=
 state_snode(SNk,Ui,GWj,RC,SK1,H,0,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,SKi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,A7i,A8i,Inc,Dummy_Set_221,Dummy_Set_222,Set_223,Set_224,SID).
 iknows(scrypt(SK1,pair(SIDk,SIXk)))
 =>
 state_snode(SNk,Ui,GWj,RC,SK1,H,1,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,SKi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,C1i,C2i,A7i,A8i,Inc,Dummy_Set_221,Dummy_Set_222,Set_223,Set_224,SID).
 secret(Dummy_Set_221,subs5,Dummy_Set_222).
 contains(SIXk,Dummy_Set_221).
 contains(RC,Dummy_Set_222).
 contains(GWj,Dummy_Set_222).
 contains(SNk,Dummy_Set_222)

step step_8 (SNk,Ui,GWj,RC,SK1,H,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,TS1i,TS2i,Dummy_TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,Dummy_RSk,TGi,Dummy_SKi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,Dummy_C1i,Dummy_C2i,A7i,A8i,Inc,Set_221,Set_222,Dummy_Set_223,Dummy_Set_224,SID,TS3i,RSk) :=
 state_snode(SNk,Ui,GWj,RC,SK1,H,1,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,TS1i,TS2i,Dummy_TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,Dummy_RSk,TGi,Dummy_SKi,GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,Dummy_C1i,Dummy_C2i,A7i,A8i,Inc,Set_221,Set_222,Dummy_Set_223,Dummy_Set_224,SID).
 iknows(SIDk)
=[exists TS3i,RSk]=>
 state_snode(SNk,Ui,GWj,RC,SK1,H,2,IDi,PWi,Bi,CIDi,HPWi,HBi,A1i,A2i,A3i,B1i,TS1i,TS2i,TS3i,TS4i,TS5i,SIXk,Xc,Gj,RUi,RGj,RSk,TGi,apply(h,pair(A1i,pair(RUi,pair(RGj,Dummy_RSk)))),GIDj,SIDk,RXGi,B2i,B3i,A4i,A5i,A6i,apply(h,pair(TS3i,pair(Dummy_RSk,pair(Dummy_SKi,pair(SIXk,pair(SIDk,TS2i)))))),xor(apply(h,pair(Dummy_RSk,TS3i)),RGj),A7i,A8i,Inc,Set_221,Set_222,Dummy_Set_223,Dummy_Set_224,SID).
 iknows(Dummy_C1i).
 secret(Dummy_Set_223,subs7,Dummy_Set_224).
 contains(RSk,Dummy_Set_223).
 contains(Ui,Dummy_Set_224).
 contains(GWj,Dummy_Set_224).
 contains(SNk,Dummy_Set_224)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs7 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs7,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_gateway_rui (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_gateway_rui,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_gateway_rui,MGoal))
     /\ ((request(A1Goal,A2Goal,user_gateway_rui,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_gateway_rui,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gateway_snode_rgj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gateway_snode_rgj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gateway_snode_rgj,MGoal))
     /\ ((request(A1Goal,A2Goal,gateway_snode_rgj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gateway_snode_rgj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_snode_user_rsk (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,snode_user_rsk,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,snode_user_rsk,MGoal))
     /\ ((request(A1Goal,A2Goal,snode_user_rsk,MGoal,SID1)
           /\ request(A1Goal,A2Goal,snode_user_rsk,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs7 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs7,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_gateway_rui (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_gateway_rui,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_gateway_rui,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_gateway_rui (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_gateway_rui,MGoal,SID1).
 request(A1Goal,A2Goal,user_gateway_rui,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gateway_snode_rgj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gateway_snode_rgj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gateway_snode_rgj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gateway_snode_rgj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gateway_snode_rgj,MGoal,SID1).
 request(A1Goal,A2Goal,gateway_snode_rgj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_snode_user_rsk (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,snode_user_rsk,MGoal,SID) &
 not(witness(A2Goal,A1Goal,snode_user_rsk,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_snode_user_rsk (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,snode_user_rsk,MGoal,SID1).
 request(A1Goal,A2Goal,snode_user_rsk,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

