%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileGA25Vq

section signature:

state_bank: agent * agent * symmetric_key * hash_func * hash_func * text * text * nat * text * text * public_key * public_key * message * message * message * message * message * nat -> fact
state_payer: agent * agent * symmetric_key * hash_func * hash_func * text * text * nat * text * text * public_key * public_key * message * message * message * message * message * set(protocol_id) * set(protocol_id) * set(protocol_id) * nat -> fact


section types:

ASGoal: set(agent)
payer_bank_NPr, payer_bank_Skb, bank_payer_NB, bank_payer_Skb, nb, bank_payer_nb, bank_payer_skb, npr, skb, payer_bank_npr, payer_bank_skb: protocol_id
set_99, set_98, set_97, set_126, set_125, set_124, set_122, set_121, set_120: set
dummy_hash, H1, H2: hash_func
Set_37, Set_36, Set_33, Dummy_Set_37, Dummy_Set_36, Dummy_Set_33: set(protocol_id)
skbb, Skb: symmetric_key
dummy_nonce, idp, bi1, NPr, NB, Id, Bi, Dummy_NB, Dummy_NPr, Dummy_Bi, Dummy_Id: text
SID2, SID1, SID, 7, 5, State, 6, 3, 4, 2, 1, 0, 9, Dummy_State: nat
A2Goal, A1Goal, prr, ba, Pr, B, i: agent
MGoal, Amount, Payee_id, Alpha, Beta, Payment_success, start, Dummy_Payment_success, Dummy_Beta, Dummy_Alpha, Dummy_Payee_id, Dummy_Amount, dummy_msg: message
KB, KPr, dummy_pk: public_key


section inits:

initial_state init1 := 
 iknows(start).
 iknows(prr).
 iknows(ba).
 iknows(skbb).
 iknows(idp).
 iknows(bi1).
 iknows(i).
 state_payer(prr,ba,skbb,dummy_hash,dummy_hash,idp,bi1,0,dummy_nonce,dummy_nonce,dummy_pk,dummy_pk,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_97,set_98,set_99,3).
 state_bank(ba,prr,skbb,dummy_hash,dummy_hash,idp,bi1,1,dummy_nonce,dummy_nonce,dummy_pk,dummy_pk,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,4).
 state_bank(prr,i,skbb,dummy_hash,dummy_hash,idp,bi1,1,dummy_nonce,dummy_nonce,dummy_pk,dummy_pk,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,7).
 state_payer(ba,i,skbb,dummy_hash,dummy_hash,idp,bi1,0,dummy_nonce,dummy_nonce,dummy_pk,dummy_pk,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_124,set_125,set_126,9)


section rules:

step step_0 (Pr,B,Skb,H1,H2,Dummy_Id,Dummy_Bi,Dummy_NPr,NB,KB,KPr,Amount,Payee_id,Alpha,Beta,Payment_success,Dummy_Set_33,Set_36,Set_37,SID,Id,Bi,NPr) :=
 state_payer(Pr,B,Skb,H1,H2,Dummy_Id,Dummy_Bi,0,Dummy_NPr,NB,KB,KPr,Amount,Payee_id,Alpha,Beta,Payment_success,Dummy_Set_33,Set_36,Set_37,SID).
 iknows(start)
=[exists NPr,Bi,Id]=>
