%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileD4wizT

section signature:

state_p_Server: agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * symmetric_key * symmetric_key * text * text * text * text * text * text * text * text * text * text * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact
state_initiator_User: agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(agent) * set(agent) * set(agent) * nat -> fact


section types:

sec_k_ni, sec_a_K_xs, k_ni, sec_K_hash, session_a, session_b, k_pw, k_r, k_rpw, k_hash, k_xs, sec_a_pwd, k_ci, ki_ci_2, k_j, k_l: protocol_id
set_163, set_162, set_161, set_160, set_158, set_157, set_156, set_145, set_144, set_143, set_142, set_118, set_117, set_116: set
AID, D, Ci, Ci_2, S, Y, A, T_1, T_2, RPW, J, L, Ni, IDi, IDU, Dummy_Ni, Dummy_IDU, Dummy_RPW_2, Dummy_J_2, Dummy_S, Dummy_T_2, Dummy_Ci_2, Dummy_T_1, Dummy_AID, Dummy_Y, Dummy_D, Dummy_J, T_3, Dummy_L, Dummy_Ci, A_1, Dummy_RPW, Dummy_IDi, Dummy_R, RPW_2, Dummy_PWi, J_2, dummy_nonce, R, PWi: text
State, 7, 6, 5, 4, 3, 2, 1, SID, 0, Dummy_State, SID2, SID1: nat
Set_92, Set_91, Set_90, Set_89, Set_57, Dummy_Set_92, Dummy_Set_91, Dummy_Set_90, Set_51, Dummy_Set_89, Set_49, Dummy_Set_57, Dummy_Set_51, Dummy_Set_49, ASGoal: set(agent)
start, MGoal: message
K, Xs, K_UG, Dummy_Xs, dummy_sk, kug, kia: symmetric_key
Hash, h, hi: hash_func
Server, User, A2Goal, A1Goal, user, server, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(user).
 iknows(server).
 iknows(kia).
 iknows(i).
 state_initiator_User(user,server,h,kug,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_116,set_117,set_118,3).
 state_p_Server(server,user,h,kug,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_142,set_143,set_144,set_145,4).
 state_initiator_User(server,user,hi,kia,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_156,set_157,set_158,6).
 state_p_Server(user,server,hi,kia,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_160,set_161,set_162,set_163,7)


section rules:

step step_0 (User,Server,Hash,K_UG,Dummy_PWi,Dummy_R,Dummy_IDi,Ni,Ci,Ci_2,L,J,J_2,D,Dummy_RPW,RPW_2,Y,A,A_1,AID,T_1,T_2,T_3,S,Dummy_Set_49,Dummy_Set_51,Set_57,SID,PWi,R,IDi) :=
 state_initiator_User(User,Server,Hash,K_UG,0,Dummy_PWi,Dummy_R,Dummy_IDi,Ni,Ci,Ci_2,L,J,J_2,D,Dummy_RPW,RPW_2,Y,A,A_1,AID,T_1,T_2,T_3,S,Dummy_Set_49,Dummy_Set_51,Set_57,SID).
 iknows(start)
=[exists R,PWi,IDi]=>
 state_initiator_User(User,Server,Hash,K_UG,1,PWi,R,IDi,Ni,Ci,Ci_2,L,J,J_2,D,apply(Hash,pair(Dummy_R,Dummy_PWi)),RPW_2,Y,A,A_1,AID,T_1,T_2,T_3,S,Dummy_Set_49,Dummy_Set_51,Set_57,SID).
 iknows(pair(Dummy_IDi,Dummy_RPW)).
 witness(User,Server,k_hash,Hash).
 secret(Hash,sec_K_hash,Dummy_Set_49).
 contains(User,Dummy_Set_49).
 contains(Server,Dummy_Set_49).
 contains(User,Dummy_Set_51)

step step_1 (User,Server,Hash,K_UG,PWi,Dummy_R,IDi,Ni,Dummy_Ci,Ci_2,Dummy_L,Dummy_J,J_2,Dummy_D,Dummy_RPW,RPW_2,Dummy_Y,A,A_1,Dummy_AID,Dummy_T_1,T_2,T_3,S,Set_49,Set_51,Set_57,SID,R,L,D,Y,T_1) :=
 state_initiator_User(User,Server,Hash,K_UG,1,PWi,Dummy_R,IDi,Ni,Dummy_Ci,Ci_2,Dummy_L,Dummy_J,J_2,Dummy_D,Dummy_RPW,RPW_2,Dummy_Y,A,A_1,Dummy_AID,Dummy_T_1,T_2,T_3,S,Set_49,Set_51,Set_57,SID).
 iknows(scrypt(K_UG,pair(L,Y)))
=[exists D,R,T_1]=>
 state_initiator_User(User,Server,Hash,K_UG,2,PWi,R,IDi,Ni,pair(Dummy_T_1,Dummy_J),Ci_2,L,xor(Dummy_L,Dummy_RPW),J_2,D,pair(Dummy_R,PWi),RPW_2,Y,A,A_1,xor(IDi,apply(Hash,pair(Dummy_Y,pair(Dummy_T_1,Dummy_D)))),T_1,T_2,T_3,S,Set_49,Set_51,Set_57,SID).
 iknows(pair(Dummy_AID,pair(Dummy_T_1,pair(Dummy_D,Dummy_Ci))))

step step_2 (User,Server,Hash,K_UG,PWi,R,IDi,Ni,Dummy_Ci,Dummy_Ci_2,L,J,J_2,D,RPW,RPW_2,Y,A,A_1,AID,T_1,Dummy_T_2,T_3,S,Set_49,Set_51,Set_57,SID,Ci,T_2) :=
 state_initiator_User(User,Server,Hash,K_UG,2,PWi,R,IDi,Ni,Dummy_Ci,Dummy_Ci_2,L,J,J_2,D,RPW,RPW_2,Y,A,A_1,AID,T_1,Dummy_T_2,T_3,S,Set_49,Set_51,Set_57,SID).
 iknows(pair(Ci,T_2))
 =>
 state_initiator_User(User,Server,Hash,K_UG,3,PWi,R,IDi,Ni,Ci,apply(Hash,xor(xor(Dummy_Ci,J),Dummy_T_2)),L,J,J_2,D,RPW,RPW_2,Y,A,A_1,AID,T_1,T_2,T_3,S,Set_49,Set_51,Set_57,SID)

step step_3 (User,Server,Hash,K_UG,PWi,R,IDi,Ni,Ci,L,J,J_2,D,RPW,RPW_2,Y,A,A_1,AID,T_1,T_2,T_3,Dummy_S,Set_49,Set_51,Dummy_Set_57,SID) :=
 state_initiator_User(User,Server,Hash,K_UG,3,PWi,R,IDi,Ni,Ci,Ci,L,J,J_2,D,RPW,RPW_2,Y,A,A_1,AID,T_1,T_2,T_3,Dummy_S,Set_49,Set_51,Dummy_Set_57,SID)
 =>
 state_initiator_User(User,Server,Hash,K_UG,4,PWi,R,IDi,Ni,Ci,Ci,L,J,J_2,D,RPW,RPW_2,Y,A,A_1,AID,T_1,T_2,T_3,apply(Hash,xor(Ci,J)),Set_49,Set_51,Dummy_Set_57,SID).
 iknows(pair(User,apply(Hash,xor(Ci,J)))).
 secret(Dummy_S,session_a,Dummy_Set_57).
 contains(User,Dummy_Set_57).
 contains(Server,Dummy_Set_57)

step step_4 (User,Server,Hash,K_UG,Dummy_PWi,R,IDi,Ni,Ci,Ci_2,Dummy_L,J,Dummy_J_2,D,RPW,Dummy_RPW_2,Y,A,A_1,AID,T_1,T_2,T_3,S,Set_49,Set_51,Set_57,SID,PWi) :=
 state_initiator_User(User,Server,Hash,K_UG,4,Dummy_PWi,R,IDi,Ni,Ci,Ci_2,Dummy_L,J,Dummy_J_2,D,RPW,Dummy_RPW_2,Y,A,A_1,AID,T_1,T_2,T_3,S,Set_49,Set_51,Set_57,SID)
=[exists PWi]=>
 state_initiator_User(User,Server,Hash,K_UG,5,PWi,R,IDi,Ni,Ci,Ci_2,xor(xor(xor(J,RPW),apply(Hash,pair(IDi,Dummy_PWi))),apply(Hash,pair(R,PWi))),J,xor(Dummy_L,RPW),D,RPW,apply(Hash,pair(IDi,Dummy_PWi)),Y,A,A_1,AID,T_1,T_2,T_3,S,Set_49,Set_51,Set_57,SID)

step step_5 (User,Server,Hash,K_UG,PWi,R,IDi,Ni,Ci,Ci_2,Dummy_L,J,D,RPW,RPW_2,Y,A,A_1,AID,T_1,T_2,T_3,S,Set_49,Set_51,Set_57,SID) :=
 state_initiator_User(User,Server,Hash,K_UG,5,PWi,R,IDi,Ni,Ci,Ci_2,Dummy_L,J,J,D,RPW,RPW_2,Y,A,A_1,AID,T_1,T_2,T_3,S,Set_49,Set_51,Set_57,SID)
 =>
 state_initiator_User(User,Server,Hash,K_UG,6,PWi,R,IDi,Ni,Ci,Ci_2,xor(xor(xor(J,RPW),RPW_2),apply(Hash,pair(R,PWi))),J,J,D,RPW,RPW_2,Y,A,A_1,AID,T_1,T_2,T_3,S,Set_49,Set_51,Set_57,SID)

step step_6 (Server,User,Hash,K_UG,IDi,Dummy_IDU,Dummy_Ni,Dummy_J,Dummy_L,K,Dummy_Xs,Dummy_RPW,T_1,T_2,Y,A,S,AID,D,Ci,Ci_2,Dummy_Set_89,Dummy_Set_90,Dummy_Set_91,Set_92,SID,Xs,RPW) :=
 state_p_Server(Server,User,Hash,K_UG,0,IDi,Dummy_IDU,Dummy_Ni,Dummy_J,Dummy_L,K,Dummy_Xs,Dummy_RPW,T_1,T_2,Y,A,S,AID,D,Ci,Ci_2,Dummy_Set_89,Dummy_Set_90,Dummy_Set_91,Set_92,SID).
 iknows(pair(User,RPW))
=[exists Xs]=>
 state_p_Server(Server,User,Hash,K_UG,1,IDi,pair(IDi,Dummy_Ni),0,apply(Hash,pair(Dummy_Xs,Dummy_IDU)),xor(Dummy_J,Dummy_RPW),K,Xs,RPW,T_1,T_2,Y,A,S,AID,D,Ci,Ci_2,Dummy_Set_89,Dummy_Set_90,Dummy_Set_91,Set_92,SID).
 iknows(scrypt(K_UG,pair(Dummy_L,Y))).
 witness(User,Server,k_ni,Dummy_Ni).
 secret(Hash,sec_K_hash,Dummy_Set_89).
 secret(Dummy_Xs,sec_a_K_xs,Dummy_Set_91).
 contains(User,Dummy_Set_89).
 contains(Server,Dummy_Set_89).
 contains(User,Dummy_Set_90).
 contains(Server,Dummy_Set_90).
 contains(Server,Dummy_Set_91)

step step_7 (Server,User,Hash,K_UG,Dummy_IDi,Dummy_IDU,Ni,J,L,K,Xs,RPW,Dummy_T_1,Dummy_T_2,Y,A,S,Dummy_AID,Dummy_D,Dummy_Ci,Dummy_Ci_2,Set_89,Set_90,Set_91,Set_92,SID,T_1,T_2,AID,D,Ci) :=
 state_p_Server(Server,User,Hash,K_UG,1,Dummy_IDi,Dummy_IDU,Ni,J,L,K,Xs,RPW,Dummy_T_1,Dummy_T_2,Y,A,S,Dummy_AID,Dummy_D,Dummy_Ci,Dummy_Ci_2,Set_89,Set_90,Set_91,Set_92,SID).
 iknows(pair(AID,pair(T_1,pair(D,Ci))))
=[exists T_2]=>
 state_p_Server(Server,User,Hash,K_UG,2,xor(Dummy_AID,apply(Hash,pair(Y,pair(Dummy_T_1,Dummy_D)))),pair(Dummy_IDi,Ni),Ni,J,L,K,Xs,RPW,T_1,T_2,Y,A,S,AID,D,Ci,apply(Hash,xor(xor(Dummy_Ci,J),Dummy_T_2)),Set_89,Set_90,Set_91,Set_92,SID).
 iknows(pair(Dummy_Ci_2,Dummy_T_2))

step step_8 (Server,User,Hash,K_UG,IDi,IDU,Ni,J,L,K,Xs,RPW,T_1,T_2,Y,A,S,AID,D,Ci,Ci_2,Set_89,Set_90,Set_91,Set_92,SID) :=
 state_p_Server(Server,User,Hash,K_UG,2,IDi,IDU,Ni,J,L,K,Xs,RPW,T_1,T_2,Y,A,S,AID,D,Ci,Ci_2,Set_89,Set_90,Set_91,Set_92,SID)
 =>
 state_p_Server(Server,User,Hash,K_UG,3,IDi,IDU,Ni,J,L,K,Xs,RPW,T_1,T_2,Y,A,S,AID,D,Ci,Ci_2,Set_89,Set_90,Set_91,Set_92,SID)

step step_9 (Server,User,Hash,K_UG,IDi,IDU,Ni,J,L,K,Xs,RPW,T_1,T_2,Y,A,Dummy_S,AID,D,Ci,Ci_2,Set_89,Set_90,Set_91,Dummy_Set_92,SID,S) :=
 state_p_Server(Server,User,Hash,K_UG,3,IDi,IDU,Ni,J,L,K,Xs,RPW,T_1,T_2,Y,A,Dummy_S,AID,D,Ci,Ci_2,Set_89,Set_90,Set_91,Dummy_Set_92,SID).
 iknows(pair(User,S))
 =>
 state_p_Server(Server,User,Hash,K_UG,4,IDi,IDU,Ni,J,L,K,Xs,RPW,T_1,T_2,Y,A,S,AID,D,Ci,Ci_2,Set_89,Set_90,Set_91,Dummy_Set_92,SID).
 secret(Dummy_S,session_b,Dummy_Set_92).
 contains(User,Dummy_Set_92).
 contains(Server,Dummy_Set_92)


section properties:

property secrecy_of_k_ni (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_ni,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_pw (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_pw,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_hash (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_hash,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_xs (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_xs,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_rpw (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_rpw,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_ci (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_ci,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_ki_ci_2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,ki_ci_2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_j (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_j,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_l (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_l,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_r (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_r,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_session_a (MGoal,ASGoal) :=
 [] ((secret(MGoal,session_a,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_session_b (MGoal,ASGoal) :=
 [] ((secret(MGoal,session_b,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_K_hash (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_K_hash,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_a_K_xs (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_a_K_xs,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_sec_a_pwd (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sec_a_pwd,MGoal))
     /\ ((request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sec_k_ni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sec_k_ni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sec_k_ni,MGoal))
     /\ ((request(A1Goal,A2Goal,sec_k_ni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sec_k_ni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_session_a (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,session_a,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,session_a,MGoal))
     /\ ((request(A1Goal,A2Goal,session_a,MGoal,SID1)
           /\ request(A1Goal,A2Goal,session_a,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_session_b (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,session_b,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,session_b,MGoal))
     /\ ((request(A1Goal,A2Goal,session_b,MGoal,SID1)
           /\ request(A1Goal,A2Goal,session_b,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property weak_authentication_on_k_hash (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_hash,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_hash,MGoal))

property weak_authentication_on_k_xs (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_xs,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_xs,MGoal))

property weak_authentication_on_k_pw (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_pw,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_pw,MGoal))

property weak_authentication_on_k_rpw (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_rpw,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_rpw,MGoal))

property weak_authentication_on_k_ni (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_ni,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_ni,MGoal))

property weak_authentication_on_k_r (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_r,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_r,MGoal))


section attack_states:

attack_state secrecy_of_k_ni (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_ni,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_pw (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_pw,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_hash (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_hash,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_xs (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_xs,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_rpw (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_rpw,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_ci (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_ci,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_ki_ci_2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,ki_ci_2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_j (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_j,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_l (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_l,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_r (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_r,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_session_a (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,session_a,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_session_b (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,session_b,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_K_hash (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_K_hash,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_a_K_xs (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_a_K_xs,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_sec_a_pwd (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sec_a_pwd,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sec_a_pwd (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID1).
 request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sec_k_ni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sec_k_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sec_k_ni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sec_k_ni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sec_k_ni,MGoal,SID1).
 request(A1Goal,A2Goal,sec_k_ni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_session_a (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,session_a,MGoal,SID) &
 not(witness(A2Goal,A1Goal,session_a,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_session_a (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,session_a,MGoal,SID1).
 request(A1Goal,A2Goal,session_a,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_session_b (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,session_b,MGoal,SID) &
 not(witness(A2Goal,A1Goal,session_b,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_session_b (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,session_b,MGoal,SID1).
 request(A1Goal,A2Goal,session_b,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_hash (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_hash,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_hash,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_xs (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_xs,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_xs,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_pw (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_pw,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_pw,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_rpw (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_rpw,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_rpw,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_ni (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_ni,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_r (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_r,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_r,MGoal)) &
 not(equal(A2Goal,i))

