%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileZNa8WdcNhP

section signature:

state_kerberos_S: agent * agent * agent * symmetric_key * nat * text * text * text * symmetric_key * set(agent) * nat -> fact
state_kerberos_G: agent * agent * agent * agent * symmetric_key * symmetric_key * nat * symmetric_key * symmetric_key * text * text * text * text * text * text * text * set(agent) * set(agent) * nat -> fact
state_kerberos_A: agent * agent * agent * symmetric_key * symmetric_key * nat * symmetric_key * text * text * text * text * set(agent) * nat -> fact
state_kerberos_C: agent * agent * agent * agent * symmetric_key * nat * symmetric_key * symmetric_key * text * text * text * text * text * text * scrypt(symmetric_key,pair(agent,pair(agent,pair(symmetric_key,pair(text,text))))) * scrypt(symmetric_key,pair(agent,pair(agent,pair(symmetric_key,pair(text,text))))) * text * text * set(agent) * set(agent) * nat -> fact


section types:

Ticket_1, Ticket_2, Dummy_Ticket_2, Dummy_Ticket_1: scrypt(symmetric_key,pair(agent,pair(agent,pair(symmetric_key,pair(text,text)))))
set_175, set_173, set_172, set_170, set_169, set_168, set_164, set_158, set_157, set_152, set_131, set_130: set
Set_98, Set_96, Set_68, Dummy_Set_68, Dummy_Set_52, Dummy_Set_51, Dummy_Set_24, Set_52, Set_51, Dummy_Set_98, Dummy_Set_96, ASGoal, Set_24: set(agent)
start, MGoal: message
sec_c_K_CG, sec_c_K_CS, sec_s_K_CS, t2a, t2b, sec_g_K_CG, sec_g_K_CS, t1, k_cs1, k_cs2, sec_a_K_CG, k_cg1, k_cg2: protocol_id
cLifetime_1, cLifetime_2, N1, N2, Tstart, Texpire, Tstart2, Texpire2, T, T2, Dummy_Lifetime_2, Dummy_Lifetime_1, Dummy_Texpire2, Dummy_Tstart2, Dummy_T2, Dummy_N2, Lifetime_2, Dummy_Texpire, Dummy_Tstart, Dummy_T, Dummy_N1, dummy_nonce, Lifetime_1: text
4, 3, 2, St, 11, 10, 9, 6, SID, 5, Dummy_St, 1, 0: nat
K_CG, K_CS, K_CA, K_GS, Dummy_K_CS, Dummy_K_CG, K_AG, dummy_sk, kca, kag, kgs, kia: symmetric_key
C, A, G, S, dummy_agent, A2Goal, A1Goal, c, a, g, s, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(c).
 iknows(a).
 iknows(g).
 iknows(s).
 iknows(kia).
 iknows(i).
 state_kerberos_C(c,a,g,s,kca,0,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,scrypt(dummy_sk,pair(dummy_agent,pair(dummy_agent,pair(dummy_sk,pair(dummy_nonce,dummy_nonce))))),scrypt(dummy_sk,pair(dummy_agent,pair(dummy_agent,pair(dummy_sk,pair(dummy_nonce,dummy_nonce))))),dummy_nonce,dummy_nonce,set_130,set_131,3).
 state_kerberos_A(a,c,g,kca,kag,0,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_152,4).
 state_kerberos_G(g,a,s,c,kag,kgs,0,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_157,set_158,5).
 state_kerberos_S(s,g,c,kgs,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,set_164,6).
 state_kerberos_A(a,i,g,kia,kag,0,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_170,9).
 state_kerberos_G(g,a,s,i,kag,kgs,0,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_172,set_173,10).
 state_kerberos_S(s,g,i,kgs,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,set_175,11)


section rules:

step step_0 (C,A,G,S,K_CA,K_CG,K_CS,T,T2,Tstart,Texpire,Tstart2,Texpire2,Ticket_1,Ticket_2,Dummy_N1,N2,Set_96,Set_98,SID,N1) :=
 state_kerberos_C(C,A,G,S,K_CA,0,K_CG,K_CS,T,T2,Tstart,Texpire,Tstart2,Texpire2,Ticket_1,Ticket_2,Dummy_N1,N2,Set_96,Set_98,SID).
 iknows(start)
=[exists N1]=>
 state_kerberos_C(C,A,G,S,K_CA,1,K_CG,K_CS,T,T2,Tstart,Texpire,Tstart2,Texpire2,Ticket_1,Ticket_2,N1,N2,Set_96,Set_98,SID).
 iknows(pair(C,pair(G,pair(cLifetime_1,N1))))

step step_1 (C,A,G,S,K_CA,Dummy_K_CG,K_CS,Dummy_T,T2,Dummy_Tstart,Dummy_Texpire,Tstart2,Texpire2,Dummy_Ticket_1,Ticket_2,N1,Dummy_N2,Dummy_Set_96,Set_98,SID,K_CG,T,Tstart,Texpire,Ticket_1,N2) :=
 state_kerberos_C(C,A,G,S,K_CA,1,Dummy_K_CG,K_CS,Dummy_T,T2,Dummy_Tstart,Dummy_Texpire,Tstart2,Texpire2,Dummy_Ticket_1,Ticket_2,N1,Dummy_N2,Dummy_Set_96,Set_98,SID).
 iknows(pair(C,pair(Ticket_1,scrypt(K_CA,pair(G,pair(K_CG,pair(Tstart,pair(Texpire,N1))))))))
=[exists T,N2]=>
 state_kerberos_C(C,A,G,S,K_CA,2,K_CG,K_CS,T,T2,Tstart,Texpire,Tstart2,Texpire2,Ticket_1,Ticket_2,N1,N2,Dummy_Set_96,Set_98,SID).
 iknows(pair(S,pair(cLifetime_2,pair(N2,pair(Ticket_1,scrypt(K_CG,pair(C,T))))))).
 witness(C,G,t1,T).
 wrequest(C,A,k_cg1,K_CG,SID).
 secret(K_CG,sec_c_K_CG,Dummy_Set_96).
 contains(A,Dummy_Set_96).
 contains(C,Dummy_Set_96).
 contains(G,Dummy_Set_96)

step step_2 (C,A,G,S,K_CA,K_CG,Dummy_K_CS,T,Dummy_T2,Tstart,Texpire,Dummy_Tstart2,Dummy_Texpire2,Ticket_1,Dummy_Ticket_2,N1,N2,Set_96,Dummy_Set_98,SID,K_CS,T2,Tstart2,Texpire2,Ticket_2) :=
 state_kerberos_C(C,A,G,S,K_CA,2,K_CG,Dummy_K_CS,T,Dummy_T2,Tstart,Texpire,Dummy_Tstart2,Dummy_Texpire2,Ticket_1,Dummy_Ticket_2,N1,N2,Set_96,Dummy_Set_98,SID).
 iknows(pair(C,pair(Ticket_2,scrypt(K_CG,pair(S,pair(K_CS,pair(Tstart2,pair(Texpire2,N2))))))))
=[exists T2]=>
 state_kerberos_C(C,A,G,S,K_CA,3,K_CG,K_CS,T,T2,Tstart,Texpire,Tstart2,Texpire2,Ticket_1,Ticket_2,N1,N2,Set_96,Dummy_Set_98,SID).
 iknows(pair(Ticket_2,scrypt(K_CS,pair(C,T2)))).
 witness(C,S,t2b,T2).
 wrequest(C,G,k_cs1,K_CS,SID).
 secret(K_CS,sec_c_K_CS,Dummy_Set_98).
 contains(G,Dummy_Set_98).
 contains(C,Dummy_Set_98).
 contains(S,Dummy_Set_98)

step step_3 (C,A,G,S,K_CA,K_CG,K_CS,T,T2,Tstart,Texpire,Tstart2,Texpire2,Ticket_1,Ticket_2,N1,N2,Set_96,Set_98,SID) :=
 state_kerberos_C(C,A,G,S,K_CA,3,K_CG,K_CS,T,T2,Tstart,Texpire,Tstart2,Texpire2,Ticket_1,Ticket_2,N1,N2,Set_96,Set_98,SID).
 iknows(scrypt(K_CS,T2))
 =>
 state_kerberos_C(C,A,G,S,K_CA,4,K_CG,K_CS,T,T2,Tstart,Texpire,Tstart2,Texpire2,Ticket_1,Ticket_2,N1,N2,Set_96,Set_98,SID).
 wrequest(C,S,t2a,T2,SID)

step step_4 (A,C,G,K_CA,K_AG,Dummy_K_CG,Dummy_N1,Dummy_Lifetime_1,Dummy_Tstart,Dummy_Texpire,Dummy_Set_24,SID,K_CG,N1,Lifetime_1,Tstart,Texpire) :=
 state_kerberos_A(A,C,G,K_CA,K_AG,0,Dummy_K_CG,Dummy_N1,Dummy_Lifetime_1,Dummy_Tstart,Dummy_Texpire,Dummy_Set_24,SID).
 iknows(pair(C,pair(G,pair(Lifetime_1,N1))))
=[exists K_CG,Texpire,Tstart]=>
 state_kerberos_A(A,C,G,K_CA,K_AG,1,K_CG,N1,Lifetime_1,Tstart,Texpire,Dummy_Set_24,SID).
 iknows(pair(C,pair(scrypt(K_AG,pair(C,pair(G,pair(K_CG,pair(Tstart,Texpire))))),scrypt(K_CA,pair(G,pair(K_CG,pair(Tstart,pair(Texpire,N1)))))))).
 witness(A,C,k_cg1,K_CG).
 witness(A,G,k_cg2,K_CG).
 secret(K_CG,sec_a_K_CG,Dummy_Set_24).
 contains(A,Dummy_Set_24).
 contains(C,Dummy_Set_24)

step step_5 (G,A,S,C,K_AG,K_GS,Dummy_K_CG,Dummy_K_CS,Dummy_Lifetime_2,Dummy_Tstart,Dummy_Texpire,Dummy_T,Dummy_N2,Dummy_Tstart2,Dummy_Texpire2,Dummy_Set_51,Dummy_Set_52,SID,K_CG,K_CS,Lifetime_2,Tstart,Texpire,T,N2,Tstart2,Texpire2) :=
 state_kerberos_G(G,A,S,C,K_AG,K_GS,0,Dummy_K_CG,Dummy_K_CS,Dummy_Lifetime_2,Dummy_Tstart,Dummy_Texpire,Dummy_T,Dummy_N2,Dummy_Tstart2,Dummy_Texpire2,Dummy_Set_51,Dummy_Set_52,SID).
 iknows(pair(S,pair(Lifetime_2,pair(N2,pair(scrypt(K_AG,pair(C,pair(G,pair(K_CG,pair(Tstart,Texpire))))),scrypt(K_CG,pair(C,T)))))))
=[exists Texpire2,Tstart2,K_CS]=>
 state_kerberos_G(G,A,S,C,K_AG,K_GS,1,K_CG,K_CS,Lifetime_2,Tstart,Texpire,T,N2,Tstart2,Texpire2,Dummy_Set_51,Dummy_Set_52,SID).
 iknows(pair(C,pair(scrypt(K_GS,pair(C,pair(S,pair(K_CS,pair(Tstart2,Texpire2))))),scrypt(K_CG,pair(S,pair(K_CS,pair(Tstart2,pair(Texpire2,N2)))))))).
 wrequest(G,C,t1,T,SID).
 wrequest(G,A,k_cg2,K_CG,SID).
 witness(G,C,k_cs1,K_CS).
 witness(G,S,k_cs2,K_CS).
 secret(K_CG,sec_g_K_CG,Dummy_Set_51).
 secret(K_CS,sec_g_K_CS,Dummy_Set_52).
 contains(A,Dummy_Set_51).
 contains(C,Dummy_Set_51).
 contains(G,Dummy_Set_51).
 contains(G,Dummy_Set_52).
 contains(C,Dummy_Set_52).
 contains(S,Dummy_Set_52)

step step_6 (S,G,C,K_GS,Dummy_Tstart2,Dummy_Texpire2,Dummy_T2,Dummy_K_CS,Dummy_Set_68,SID,Tstart2,Texpire2,T2,K_CS) :=
 state_kerberos_S(S,G,C,K_GS,0,Dummy_Tstart2,Dummy_Texpire2,Dummy_T2,Dummy_K_CS,Dummy_Set_68,SID).
 iknows(pair(scrypt(K_GS,pair(C,pair(S,pair(K_CS,pair(Tstart2,Texpire2))))),scrypt(K_CS,pair(C,T2))))
 =>
 state_kerberos_S(S,G,C,K_GS,1,Tstart2,Texpire2,T2,K_CS,Dummy_Set_68,SID).
 iknows(scrypt(K_CS,T2)).
 witness(S,C,t2a,T2).
 wrequest(S,G,k_cs2,K_CS,SID).
 wrequest(S,C,t2b,T2,SID).
 secret(K_CS,sec_s_K_CS,Dummy_Set_68).
 contains(G,Dummy_Set_68).
 contains(C,Dummy_Set_68).
 contains(S,Dummy_Set_68)


section properties:

property secrecy_of_sec_a_K_CG (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_a_K_CG,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_g_K_CG (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_g_K_CG,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_g_K_CS (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_g_K_CS,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_s_K_CS (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_s_K_CS,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_c_K_CG (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_c_K_CG,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_c_K_CS (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_c_K_CS,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property weak_authentication_on_k_cg1 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_cg1,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_cg1,MGoal))

property weak_authentication_on_k_cg2 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_cg2,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_cg2,MGoal))

property weak_authentication_on_k_cs1 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_cs1,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_cs1,MGoal))

property weak_authentication_on_k_cs2 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_cs2,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_cs2,MGoal))

property weak_authentication_on_t2a (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,t2a,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,t2a,MGoal))

property weak_authentication_on_t2b (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,t2b,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,t2b,MGoal))

property weak_authentication_on_t1 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,t1,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,t1,MGoal))


section attack_states:

attack_state secrecy_of_sec_a_K_CG (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_a_K_CG,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_g_K_CG (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_g_K_CG,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_g_K_CS (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_g_K_CS,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_s_K_CS (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_s_K_CS,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_c_K_CG (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_c_K_CG,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_c_K_CS (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_c_K_CS,ASGoal) &
 not(contains(i,ASGoal))

attack_state weak_authentication_on_k_cg1 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_cg1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_cg1,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_cg2 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_cg2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_cg2,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_cs1 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_cs1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_cs1,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_cs2 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_cs2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_cs2,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_t2a (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,t2a,MGoal,SID) &
 not(witness(A2Goal,A1Goal,t2a,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_t2b (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,t2b,MGoal,SID) &
 not(witness(A2Goal,A1Goal,t2b,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_t1 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,t1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,t1,MGoal)) &
 not(equal(A2Goal,i))

