%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileZb7Kro

section signature:

state_bob: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact
state_server: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact
state_alice: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact


section types:

MGoal, start: message
alice_bob, alice_server, server_bob, bob_server, bob_alice, subs1, subs2, subs3, subs4, subs5, subs6: protocol_id
Dummy_Set_131, Set_131, Set_92, Dummy_Set_49, Set_49, Dummy_Set_92: set(symmetric_key)
Dummy_State, 3, SID, SID2, SID1, 13, 12, State, 11, 9, 8, 7, 5, 2, 1, 0, 4: nat
h, H: hash_func
set_192, set_191, set_190, set_189, set_188, set_187, set_186, set_185, set_184, set_183, set_182, set_333, set_332, set_331, set_330, set_329, set_328, set_327, set_326, set_325, set_324, set_323, set_321, set_320, set_319, set_318, set_317, set_316, set_315, set_314, set_313, set_312, set_311, set_309, set_308, set_307, set_306, set_305, set_304, set_303, set_302, set_301, set_300, set_299, set_297, set_296, set_295, set_294, set_293, set_292, set_291, set_290, set_289, set_288, set_287, set_285, set_284, set_283, set_282, set_281, set_280, set_279, set_278, set_277, set_276, set_275, set_273, set_272, set_271, set_270, set_269, set_268, set_267, set_266, set_265, set_264, set_263, set_249, set_248, set_247, set_246, set_245, set_244, set_243, set_242, set_241, set_240, set_239, set_222, set_221, set_220, set_219, set_218, set_217, set_216, set_215, set_214, set_213, set_212: set
mkuj, mksi, MKsi, MKuj: symmetric_key
Dummy_T1, dummy_nonce, rpwj, ruj, sj, zj, kuj, ki, rnuj, ti, t1, t2, apmj, gidj, kbs, sni, uj, Uj, APMj, GIdj, RPWj, RMuj, T1, T2, Sj, Zj, Ruj, Kuj, Nj, PWj, UKj, SNi, Ti, Ki, Kbs, M3, Dummy_M3, Dummy_UKj, Dummy_Kuj, RNui, Dummy_T2, Dummy_RMuj, Dummy_RPWj: text
A2Goal, A1Goal, sn, bs, u, SN, BS, U, i: agent
Dummy_Set_133, Dummy_Set_129, Set_139, Set_137, Set_135, Set_133, Set_129, Set_100, Set_98, Set_96, Set_94, Set_90, Dummy_Set_57, Set_57, Dummy_Set_55, Set_55, Dummy_Set_53, Set_53, Dummy_Set_51, Set_51, Dummy_Set_46, Set_46, Dummy_Set_100, Dummy_Set_98, Dummy_Set_96, Dummy_Set_94, Dummy_Set_90, Dummy_Set_139, Dummy_Set_137, Dummy_Set_135: set(text)
Dummy_Set_132, Dummy_Set_130, ASGoal, Set_138, Set_136, Set_134, Set_132, Set_130, Set_99, Set_97, Set_95, Set_93, Set_91, Dummy_Set_56, Set_56, Dummy_Set_54, Set_54, Dummy_Set_52, Set_52, Dummy_Set_50, Set_50, Dummy_Set_47, Set_47, Dummy_Set_99, Dummy_Set_97, Dummy_Set_95, Dummy_Set_93, Dummy_Set_91, Dummy_Set_138, Dummy_Set_136, Dummy_Set_134: set(agent)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(bs).
 iknows(sn).
 iknows(h).
 iknows(sni).
 iknows(uj).
 iknows(i).
 state_alice(sn,u,bs,mksi,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_182,set_183,set_184,set_185,set_186,set_187,set_188,set_189,set_190,set_191,set_192,3).
 state_server(u,bs,sn,mksi,mkuj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_212,set_213,set_214,set_215,set_216,set_217,set_218,set_219,set_220,set_221,set_222,4).
 state_bob(bs,u,sn,mksi,mkuj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_239,set_240,set_241,set_242,set_243,set_244,set_245,set_246,set_247,set_248,set_249,5).
 state_alice(u,sn,bs,mksi,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_263,set_264,set_265,set_266,set_267,set_268,set_269,set_270,set_271,set_272,set_273,7).
 state_server(sn,bs,u,mksi,mkuj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_275,set_276,set_277,set_278,set_279,set_280,set_281,set_282,set_283,set_284,set_285,8).
 state_bob(bs,sn,u,mksi,mkuj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_287,set_288,set_289,set_290,set_291,set_292,set_293,set_294,set_295,set_296,set_297,9).
 state_alice(u,sn,bs,mksi,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_299,set_300,set_301,set_302,set_303,set_304,set_305,set_306,set_307,set_308,set_309,11).
 state_server(sn,bs,u,mksi,mkuj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_311,set_312,set_313,set_314,set_315,set_316,set_317,set_318,set_319,set_320,set_321,12).
 state_bob(bs,sn,u,mksi,mkuj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_323,set_324,set_325,set_326,set_327,set_328,set_329,set_330,set_331,set_332,set_333,13)


section rules:

step step_0 (SN,BS,U,MKsi,H,SNi,Ti,Ki,Kbs,Uj,APMj,GIdj,RPWj,RMuj,Dummy_T1,T2,Sj,Zj,Ruj,Kuj,Nj,PWj,UKj,Dummy_Set_129,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,Dummy_Set_134,Dummy_Set_135,Dummy_Set_136,Dummy_Set_137,Dummy_Set_138,Dummy_Set_139,SID,T1) :=
 state_alice(SN,BS,U,MKsi,H,0,SNi,Ti,Ki,Kbs,Uj,APMj,GIdj,RPWj,RMuj,Dummy_T1,T2,Sj,Zj,Ruj,Kuj,Nj,PWj,UKj,Dummy_Set_129,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,Dummy_Set_134,Dummy_Set_135,Dummy_Set_136,Dummy_Set_137,Dummy_Set_138,Dummy_Set_139,SID).
 iknows(start)
=[exists T1]=>
 state_alice(SN,BS,U,MKsi,H,1,SNi,Ti,Ki,Kbs,Uj,APMj,GIdj,RPWj,RMuj,T1,T2,Sj,Zj,Ruj,Kuj,Nj,PWj,UKj,Dummy_Set_129,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,Dummy_Set_134,Dummy_Set_135,Dummy_Set_136,Dummy_Set_137,Dummy_Set_138,Dummy_Set_139,SID).
 secret(Dummy_Set_129,subs1,Dummy_Set_130).
 secret(Dummy_Set_131,subs2,Dummy_Set_132).
 secret(Dummy_Set_133,subs3,Dummy_Set_134).
 secret(Dummy_Set_135,subs4,Dummy_Set_136).
 secret(Dummy_Set_137,subs5,Dummy_Set_138).
 secret(Dummy_Set_139,subs6,U).
 iknows(pair(SN,pair(BS,pair(SNi,pair(Ti,scrypt(MKsi,pair(Ki,pair(SNi,Ti)))))))).
 witness(SN,BS,alice_server,T1).
 contains(Ki,Dummy_Set_129).
 contains(SN,Dummy_Set_130).
 contains(BS,Dummy_Set_130).
 contains(MKsi,Dummy_Set_131).
 contains(SN,Dummy_Set_132).
 contains(BS,Dummy_Set_132).
 contains(RMuj,Dummy_Set_133).
 contains(U,Dummy_Set_134).
 contains(BS,Dummy_Set_134).
 contains(Kbs,Dummy_Set_135).
 contains(SN,Dummy_Set_136).
 contains(BS,Dummy_Set_136).
 contains(APMj,Dummy_Set_137).
 contains(GIdj,Dummy_Set_137).
 contains(U,Dummy_Set_138).
 contains(BS,Dummy_Set_138).
 contains(PWj,Dummy_Set_139).
 contains(Nj,Dummy_Set_139)

step step_1 (SN,BS,U,MKsi,H,SNi,Ti,Ki,Kbs,Uj,APMj,GIdj,Dummy_RPWj,Dummy_RMuj,Dummy_T1,Dummy_T2,Sj,Zj,Ruj,Kuj,Nj,PWj,UKj,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,Set_135,Set_136,Set_137,Set_138,Set_139,SID,RPWj,RMuj,T1,T2) :=
 state_alice(SN,BS,U,MKsi,H,1,SNi,Ti,Ki,Kbs,Uj,APMj,GIdj,Dummy_RPWj,Dummy_RMuj,Dummy_T1,Dummy_T2,Sj,Zj,Ruj,Kuj,Nj,PWj,UKj,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,Set_135,Set_136,Set_137,Set_138,Set_139,SID).
 iknows(pair(BS,pair(SN,pair(SNi,pair(Uj,pair(scrypt(MKsi,pair(SNi,pair(Uj,pair(xor(pair(APMj,GIdj)),pair(apply(H,pair(RPWj,pair(GIdj,RMuj))),pair(T1,T2)))))),scrypt(Ki,pair(SNi,pair(Uj,pair(GIdj,T1))))))))))
 =>
 state_alice(SN,BS,U,MKsi,H,2,SNi,Ti,Ki,Kbs,Uj,APMj,GIdj,RPWj,RMuj,T1,T2,Sj,Zj,Ruj,Kuj,Nj,PWj,UKj,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,Set_135,Set_136,Set_137,Set_138,Set_139,SID).
 request(BS,SN,alice_server,T2,SID)

step step_2 (SN,BS,U,MKsi,H,SNi,Ti,Ki,Kbs,Uj,APMj,GIdj,Dummy_RPWj,Dummy_RMuj,Dummy_T1,T2,Sj,Zj,Ruj,Kuj,Nj,PWj,UKj,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,Set_135,Set_136,Set_137,Set_138,Set_139,SID,RPWj,RMuj,T1) :=
 state_alice(SN,BS,U,MKsi,H,2,SNi,Ti,Ki,Kbs,Uj,APMj,GIdj,Dummy_RPWj,Dummy_RMuj,Dummy_T1,T2,Sj,Zj,Ruj,Kuj,Nj,PWj,UKj,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,Set_135,Set_136,Set_137,Set_138,Set_139,SID).
 iknows(pair(U,pair(SN,pair(SNi,pair(Uj,pair(Zj,pair(Sj,pair(scrypt(apply(H,pair(SNi,pair(Uj,pair(Kbs,Ki)))),pair(SNi,pair(Uj,pair(apply(H,pair(RPWj,pair(GIdj,RMuj))),pair(GIdj,pair(T1,pair(Sj,Zj))))))),apply(H,pair(T1,pair(Sj,Zj)))))))))))
 =>
 state_alice(SN,BS,U,MKsi,H,3,SNi,Ti,Ki,Kbs,Uj,APMj,GIdj,RPWj,RMuj,T1,T2,Sj,Zj,Ruj,Kuj,Nj,PWj,UKj,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,Set_135,Set_136,Set_137,Set_138,Set_139,SID).
 request(U,SN,bob_alice,T1,SID)

step step_3 (BS,SN,U,MKsi,MKuj,H,RPWj,RMuj,Ruj,Kbs,Dummy_Kuj,Sj,Zj,T2,APMj,GIdj,Nj,PWj,UKj,SNi,Uj,Ki,Ti,T1,M3,Set_90,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,Set_100,SID) :=
 state_server(BS,SN,U,MKsi,MKuj,H,0,RPWj,RMuj,Ruj,Kbs,Dummy_Kuj,Sj,Zj,T2,APMj,GIdj,Nj,PWj,UKj,SNi,Uj,Ki,Ti,T1,M3,Set_90,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,Set_100,SID).
 iknows(pair(SN,pair(BS,pair(SNi,pair(Ti,scrypt(MKsi,pair(Ki,pair(SNi,Ti))))))))
 =>
 state_server(BS,SN,U,MKsi,MKuj,H,1,RPWj,RMuj,Ruj,Kbs,apply(H,pair(SNi,pair(Uj,pair(Kbs,Ki)))),Sj,Zj,T2,APMj,GIdj,Nj,PWj,UKj,SNi,Uj,Ki,Ti,T1,M3,Set_90,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,Set_100,SID)

step step_4 (BS,SN,U,MKsi,MKuj,H,Dummy_RPWj,Dummy_RMuj,Ruj,Kbs,Kuj,Sj,Zj,T2,APMj,GIdj,Nj,PWj,UKj,SNi,Uj,Ki,Ti,T1,M3,Dummy_Set_90,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,Dummy_Set_100,SID,RPWj,RMuj) :=
 state_server(BS,SN,U,MKsi,MKuj,H,1,Dummy_RPWj,Dummy_RMuj,Ruj,Kbs,Kuj,Sj,Zj,T2,APMj,GIdj,Nj,PWj,UKj,SNi,Uj,Ki,Ti,T1,M3,Dummy_Set_90,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,Dummy_Set_100,SID).
 iknows(pair(U,pair(BS,scrypt(MKuj,pair(Uj,pair(RPWj,pair(GIdj,RMuj)))))))
 =>
 state_server(BS,SN,U,MKsi,MKuj,H,2,RPWj,RMuj,Ruj,Kbs,Kuj,Sj,Zj,T2,APMj,GIdj,Nj,PWj,UKj,SNi,Uj,Ki,Ti,T1,M3,Dummy_Set_90,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,Dummy_Set_100,SID).
 iknows(pair(BS,pair(U,scrypt(MKuj,pair(Uj,pair(GIdj,pair(apply(H,pair(RPWj,pair(GIdj,RMuj))),pair(H,RPWj)))))))).
 secret(Dummy_Set_90,subs1,Dummy_Set_91).
 secret(Dummy_Set_92,subs2,Dummy_Set_93).
 secret(Dummy_Set_94,subs3,Dummy_Set_95).
 secret(Dummy_Set_96,subs4,Dummy_Set_97).
 secret(Dummy_Set_98,subs5,Dummy_Set_99).
 secret(Dummy_Set_100,subs6,U).
 request(SN,BS,alice_server,Ti,SID).
 contains(Ki,Dummy_Set_90).
 contains(SN,Dummy_Set_91).
 contains(BS,Dummy_Set_91).
 contains(MKsi,Dummy_Set_92).
 contains(SN,Dummy_Set_93).
 contains(BS,Dummy_Set_93).
 contains(RMuj,Dummy_Set_94).
 contains(U,Dummy_Set_95).
 contains(BS,Dummy_Set_95).
 contains(Kbs,Dummy_Set_96).
 contains(SN,Dummy_Set_97).
 contains(BS,Dummy_Set_97).
 contains(APMj,Dummy_Set_98).
 contains(GIdj,Dummy_Set_98).
 contains(U,Dummy_Set_99).
 contains(BS,Dummy_Set_99).
 contains(PWj,Dummy_Set_100).
 contains(Nj,Dummy_Set_100)

step step_5 (BS,SN,U,MKsi,MKuj,H,Dummy_RPWj,Dummy_RMuj,Ruj,Kbs,Kuj,Sj,Zj,Dummy_T2,APMj,GIdj,Nj,PWj,Dummy_UKj,SNi,Uj,Ki,Ti,Dummy_T1,Dummy_M3,Set_90,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,Set_100,SID,RPWj,RMuj,T2,T1) :=
 state_server(BS,SN,U,MKsi,MKuj,H,2,Dummy_RPWj,Dummy_RMuj,Ruj,Kbs,Kuj,Sj,Zj,Dummy_T2,APMj,GIdj,Nj,PWj,Dummy_UKj,SNi,Uj,Ki,Ti,Dummy_T1,Dummy_M3,Set_90,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,Set_100,SID).
 iknows(pair(U,pair(BS,pair(Uj,pair(apply(H,pair(apply(H,pair(RPWj,pair(GIdj,RMuj))),T1)),T1)))))
=[exists T2]=>
 state_server(BS,SN,U,MKsi,MKuj,H,3,RPWj,RMuj,Ruj,Kbs,Kuj,Sj,Zj,T2,APMj,GIdj,Nj,PWj,apply(H,pair(Ruj,pair(Uj,pair(T1,T2)))),SNi,Uj,Ki,Ti,T1,xor(APMj,GIdj),Set_90,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,Set_100,SID).
 iknows(pair(BS,pair(U,pair(scrypt(Dummy_UKj,pair(Sj,pair(Zj,pair(Kuj,SNi)))),pair(T2,T1))))).
 iknows(pair(BS,pair(SN,pair(SNi,pair(Uj,pair(scrypt(MKsi,pair(SNi,pair(Uj,pair(xor(APMj,GIdj),pair(Ruj,pair(T1,T2)))))),scrypt(Ki,pair(SNi,pair(Uj,pair(GIdj,T1)))))))))).
 witness(BS,SN,alice_server,T2).
 request(U,BS,bob_server,T1,SID)

step step_6 (U,BS,SN,MKsi,MKuj,H,Uj,Dummy_RPWj,APMj,Dummy_RMuj,Nj,PWj,UKj,Ruj,Kuj,SNi,Sj,Zj,Ki,Kbs,GIdj,RNui,T1,T2,Set_46,Set_47,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,Set_56,Set_57,SID,RMuj) :=
 state_bob(U,BS,SN,MKsi,MKuj,H,0,Uj,Dummy_RPWj,APMj,Dummy_RMuj,Nj,PWj,UKj,Ruj,Kuj,SNi,Sj,Zj,Ki,Kbs,GIdj,RNui,T1,T2,Set_46,Set_47,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,Set_56,Set_57,SID).
 iknows(start)
=[exists RMuj]=>
 state_bob(U,BS,SN,MKsi,MKuj,H,1,Uj,apply(H,pair(PWj,Nj)),APMj,RMuj,Nj,PWj,UKj,Ruj,Kuj,SNi,Sj,Zj,Ki,Kbs,GIdj,RNui,T1,T2,Set_46,Set_47,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,Set_56,Set_57,SID).
 iknows(pair(U,pair(BS,scrypt(MKuj,pair(Uj,pair(apply(H,pair(PWj,Nj)),pair(GIdj,RMuj)))))))

step step_7 (U,BS,SN,MKsi,MKuj,H,Uj,Dummy_RPWj,APMj,Dummy_RMuj,Nj,PWj,UKj,Ruj,Kuj,SNi,Sj,Zj,Ki,Kbs,GIdj,RNui,Dummy_T1,T2,Dummy_Set_46,Dummy_Set_47,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,Dummy_Set_55,Dummy_Set_56,Dummy_Set_57,SID,RPWj,RMuj,T1) :=
 state_bob(U,BS,SN,MKsi,MKuj,H,1,Uj,Dummy_RPWj,APMj,Dummy_RMuj,Nj,PWj,UKj,Ruj,Kuj,SNi,Sj,Zj,Ki,Kbs,GIdj,RNui,Dummy_T1,T2,Dummy_Set_46,Dummy_Set_47,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,Dummy_Set_55,Dummy_Set_56,Dummy_Set_57,SID).
 iknows(pair(BS,pair(U,scrypt(MKuj,pair(Uj,pair(GIdj,pair(apply(H,pair(RPWj,pair(GIdj,RMuj))),pair(H,RPWj))))))))
=[exists T1]=>
 state_bob(U,BS,SN,MKsi,MKuj,H,2,Uj,RPWj,APMj,RMuj,Nj,PWj,UKj,Ruj,Kuj,SNi,Sj,Zj,Ki,Kbs,GIdj,RNui,T1,T2,Dummy_Set_46,Dummy_Set_47,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,Dummy_Set_55,Dummy_Set_56,Dummy_Set_57,SID).
 secret(Dummy_Set_46,subs1,Dummy_Set_47).
 secret(Dummy_Set_49,subs2,Dummy_Set_50).
 secret(Dummy_Set_51,subs3,Dummy_Set_52).
 secret(Dummy_Set_53,subs4,Dummy_Set_54).
 secret(Dummy_Set_55,subs5,Dummy_Set_56).
 secret(Dummy_Set_57,subs6,U).
 iknows(pair(U,pair(BS,pair(Uj,pair(apply(H,pair(apply(H,pair(RPWj,pair(GIdj,Dummy_RMuj))),T1)),T1))))).
 witness(U,BS,bob_server,T1).
 contains(Ki,Dummy_Set_46).
 contains(SN,Dummy_Set_47).
 contains(BS,Dummy_Set_47).
 contains(MKsi,Dummy_Set_49).
 contains(SN,Dummy_Set_50).
 contains(BS,Dummy_Set_50).
 contains(RMuj,Dummy_Set_51).
 contains(U,Dummy_Set_52).
 contains(BS,Dummy_Set_52).
 contains(Kbs,Dummy_Set_53).
 contains(SN,Dummy_Set_54).
 contains(BS,Dummy_Set_54).
 contains(APMj,Dummy_Set_55).
 contains(GIdj,Dummy_Set_55).
 contains(U,Dummy_Set_56).
 contains(BS,Dummy_Set_56).
 contains(PWj,Dummy_Set_57).
 contains(Nj,Dummy_Set_57)

step step_8 (U,BS,SN,MKsi,MKuj,H,Uj,Dummy_RPWj,APMj,Dummy_RMuj,Nj,PWj,Dummy_UKj,Ruj,Dummy_Kuj,SNi,Sj,Zj,Ki,Kbs,GIdj,RNui,Dummy_T1,Dummy_T2,Set_46,Set_47,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,Set_56,Set_57,SID,RPWj,RMuj,T1,T2) :=
 state_bob(U,BS,SN,MKsi,MKuj,H,2,Uj,Dummy_RPWj,APMj,Dummy_RMuj,Nj,PWj,Dummy_UKj,Ruj,Dummy_Kuj,SNi,Sj,Zj,Ki,Kbs,GIdj,RNui,Dummy_T1,Dummy_T2,Set_46,Set_47,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,Set_56,Set_57,SID).
 iknows(pair(BS,pair(U,pair(scrypt(apply(H,pair(apply(H,pair(RPWj,pair(GIdj,RMuj))),pair(Uj,pair(T1,T2)))),pair(Sj,pair(Zj,pair(SNi,apply(H,pair(SNi,pair(Uj,pair(Kbs,Ki)))))))),pair(T2,T1)))))
 =>
 state_bob(U,BS,SN,MKsi,MKuj,H,3,Uj,RPWj,APMj,RMuj,Nj,PWj,apply(H,pair(Ruj,pair(Uj,pair(T1,T2)))),Ruj,apply(H,pair(SNi,pair(Uj,pair(Kbs,Ki)))),SNi,Sj,Zj,Ki,Kbs,GIdj,RNui,T1,T2,Set_46,Set_47,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,Set_56,Set_57,SID).
 iknows(pair(U,pair(SN,pair(SNi,pair(Uj,pair(Zj,pair(Sj,pair(scrypt(apply(H,pair(SNi,pair(Uj,pair(Kbs,Ki)))),pair(SNi,pair(Uj,pair(Ruj,pair(GIdj,pair(T1,pair(Sj,Zj))))))),apply(H,pair(T1,pair(Sj,Zj))))))))))).
 witness(U,SN,bob_alice,T1)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_server (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_server,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_server,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_server,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_server,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_server (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_server,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_server,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_server,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_server,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_alice_bob (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_server (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_server,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_server,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_server (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_server,MGoal,SID1).
 request(A1Goal,A2Goal,alice_server,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_server (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_server,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_server,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_server (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_server,MGoal,SID1).
 request(A1Goal,A2Goal,bob_server,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_alice_bob (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

