%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile1wYcry3yD5

section signature:

state_foreignagent: agent * agent * agent * hash_func * nat * symmetric_key * public_key * hash_func * text * text * text * text * text * text * text * text * text * text * text * text * set(agent) * nat -> fact
state_homeagent: agent * agent * agent * symmetric_key * hash_func * nat * public_key * symmetric_key * hash_func * hash_func * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(text) * set(pair(text,pair(text,pair(text,text)))) * set(agent) * nat -> fact
state_mobileuser: agent * agent * agent * symmetric_key * hash_func * nat * public_key * hash_func * hash_func * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(text) * set(pair(text,pair(text,pair(text,inv(public_key))))) * nat -> fact


section types:

Dummy_Set_95, Set_95: set(pair(text,pair(text,pair(text,text))))
Dummy_Set_49, Set_49: set(pair(text,pair(text,pair(text,inv(public_key)))))
Dummy_Set_94, Dummy_Set_92, Dummy_Set_47, Dummy_Set_44, Set_94, Set_92, Set_47, Set_44: set(text)
MGoal, start: message
ha_fa_th, fa_ha_tf, fa_ha_nfa, sec4, mu_fa_tm, mu_fa_nmu, fa_mu_tff, sec1, sec2, sec3: protocol_id
Dummy_E, dummy_pk, e, E: public_key
dummy_hash, h, F, H, Mul: hash_func
dummy_sk, skmuha, Kfh, SKmuha: symmetric_key
Dummy_Z, Dummy_Ht, Dummy_SKfa, Dummy_Th, Dummy_Tf, Dummy_X, Dummy_Bmu, Dummy_Amu, Dummy_Kh, Dummy_N, Dummy_Tff, Dummy_Nfa, Dummy_V5, Dummy_V4, Dummy_V3, Dummy_V2, Dummy_V1, Dummy_Tm, Dummy_Nmu, Dummy_Q, Dummy_P, Dummy_B, Dummy_R, dummy_nonce, tm, tf, th, tff, Th, Tff, FV1, IDmu, B, Tm, Nmu, Nfa, Tf, IDfa, P, Q, SKfa, Ht, Z, R, Amu, Bmu, X, IDi, N, Kh, IDha, PWmu, V1, V2, V3, V4, V5, Dummy_FV1: text
4, SID, Dummy_State, 3, SID2, SID1, State, 5, 2, 1, 0, 16, 15, 13, 11, 9, 8: nat
A2Goal, A1Goal, mu, fa, ha, MU, FA, HA, i: agent
set_185, set_184, set_183, set_182, set_181, set_156, set_155, set_154, set_153, set_244, set_242, set_241, set_240, set_239, set_238, set_236, set_235, set_234, set_233, set_231, set_230, set_229, set_228, set_227, set_226, set_224, set_223, set_222, set_221, set_219, set_217, set_216, set_215, set_214, set_213, set_212, set_211, set_210, set_209, set_204: set
Dummy_Set_93, Dummy_Set_45, ASGoal, Set_121, Set_97, Set_93, Set_45, Dummy_Set_121, Dummy_Set_97: set(agent)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(mu).
 iknows(ha).
 iknows(fa).
 iknows(h).
 iknows(e).
 iknows(tm).
 iknows(tf).
 iknows(th).
 iknows(tff).
 iknows(i).
 state_mobileuser(mu,fa,ha,skmuha,h,0,dummy_pk,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_153,set_154,set_155,set_156,3).
 state_homeagent(ha,mu,fa,skmuha,h,0,dummy_pk,dummy_sk,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_181,set_182,set_183,set_184,set_185,4).
 state_foreignagent(fa,mu,ha,h,0,dummy_sk,dummy_pk,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_204,5).
 state_homeagent(ha,i,fa,skmuha,h,0,dummy_pk,dummy_sk,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_213,set_214,set_215,set_216,set_217,8).
 state_foreignagent(fa,i,ha,h,0,dummy_sk,dummy_pk,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_219,9).
 state_mobileuser(mu,fa,i,skmuha,h,0,dummy_pk,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_221,set_222,set_223,set_224,11).
 state_foreignagent(fa,mu,i,h,0,dummy_sk,dummy_pk,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_231,13).
 state_mobileuser(mu,i,ha,skmuha,h,0,dummy_pk,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_233,set_234,set_235,set_236,15).
 state_homeagent(ha,mu,i,skmuha,h,0,dummy_pk,dummy_sk,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_238,set_239,set_240,set_241,set_242,16)


section rules:

step step_0 (MU,FA,HA,SKmuha,H,E,F,Mul,Dummy_R,PWmu,IDmu,IDi,B,IDha,P,Q,Nmu,Tm,V1,Kh,V2,V3,V4,V5,Nfa,IDfa,Tff,Dummy_Set_44,Dummy_Set_45,Dummy_Set_47,Set_49,SID,R) :=
 state_mobileuser(MU,FA,HA,SKmuha,H,0,E,F,Mul,Dummy_R,PWmu,IDmu,IDi,B,IDha,P,Q,Nmu,Tm,V1,Kh,V2,V3,V4,V5,Nfa,IDfa,Tff,Dummy_Set_44,Dummy_Set_45,Dummy_Set_47,Set_49,SID).
 iknows(start)
=[exists R]=>
 state_mobileuser(MU,FA,HA,SKmuha,H,1,E,F,Mul,R,PWmu,IDmu,IDi,B,IDha,P,Q,Nmu,Tm,V1,Kh,V2,V3,V4,V5,Nfa,IDfa,Tff,Dummy_Set_44,Dummy_Set_45,Dummy_Set_47,Set_49,SID).
 iknows(scrypt(SKmuha,pair(apply(H,pair(PWmu,R)),IDmu))).
 secret(Dummy_Set_44,sec1,Dummy_Set_45).
 secret(Dummy_Set_47,sec2,MU).
 contains(IDi,Dummy_Set_44).
 contains(MU,Dummy_Set_45).
 contains(HA,Dummy_Set_45).
 contains(PWmu,Dummy_Set_47).
 contains(R,Dummy_Set_47)

step step_1 (MU,FA,HA,SKmuha,H,Dummy_E,F,Mul,Dummy_R,PWmu,IDmu,IDi,Dummy_B,IDha,Dummy_P,Dummy_Q,Dummy_Nmu,Dummy_Tm,Dummy_V1,Kh,Dummy_V2,Dummy_V3,Dummy_V4,Dummy_V5,Nfa,IDfa,Tff,Set_44,Set_45,Set_47,Dummy_Set_49,SID,E,R,B,P,Q,Nmu,Tm) :=
 state_mobileuser(MU,FA,HA,SKmuha,H,1,Dummy_E,F,Mul,Dummy_R,PWmu,IDmu,IDi,Dummy_B,IDha,Dummy_P,Dummy_Q,Dummy_Nmu,Dummy_Tm,Dummy_V1,Kh,Dummy_V2,Dummy_V3,Dummy_V4,Dummy_V5,Nfa,IDfa,Tff,Set_44,Set_45,Set_47,Dummy_Set_49,SID).
 iknows(scrypt(SKmuha,pair(xor(apply(H,pair(inv(E),B)),apply(H,IDmu)),pair(xor(apply(H,pair(inv(E),IDmu)),apply(H,pair(PWmu,R))),pair(exp(pair(B,E)),pair(IDha,pair(E,pair(apply(Mul,pair(P,Q)),H))))))))
=[exists Tm,Nmu]=>
 state_mobileuser(MU,FA,HA,SKmuha,H,2,E,F,Mul,R,PWmu,IDmu,IDi,B,IDha,P,Q,Nmu,Tm,apply(H,pair(Kh,B)),Kh,xor(apply(H,pair(Kh,B)),Nmu),xor(apply(H,pair(apply(H,pair(Kh,B)),Nmu)),IDmu),apply(H,pair(Kh,IDmu)),apply(H,pair(xor(apply(H,pair(Kh,B)),Nmu),pair(xor(apply(H,pair(apply(H,pair(Kh,B)),Nmu)),IDmu),pair(apply(H,pair(Kh,IDmu)),Tm)))),Nfa,IDfa,Tff,Set_44,Set_45,Set_47,Dummy_Set_49,SID).
 secret(Dummy_Set_49,sec3,HA).
 iknows(pair(IDmu,pair(xor(exp(pair(B,E)),Tm),pair(xor(apply(H,pair(Kh,B)),Nmu),pair(xor(apply(H,pair(apply(H,pair(Kh,B)),Nmu)),IDmu),pair(apply(H,pair(xor(apply(H,pair(Kh,B)),Nmu),pair(xor(apply(H,pair(apply(H,pair(Kh,B)),Nmu)),IDmu),pair(apply(H,pair(Kh,IDmu)),Tm)))),Tm)))))).
 witness(MU,FA,mu_fa_tm,Tm).
 witness(MU,FA,mu_fa_nmu,Nmu).
 contains(pair(P,pair(Q,pair(B,inv(E)))),Dummy_Set_49)

step step_2 (MU,FA,HA,SKmuha,H,Dummy_E,F,Mul,R,PWmu,IDmu,IDi,Dummy_B,IDha,P,Q,Dummy_Nmu,Tm,V1,Kh,V2,V3,V4,V5,Dummy_Nfa,IDfa,Dummy_Tff,Set_44,Set_45,Set_47,Set_49,SID,E,B,Nmu,Nfa,Tff) :=
 state_mobileuser(MU,FA,HA,SKmuha,H,2,Dummy_E,F,Mul,R,PWmu,IDmu,IDi,Dummy_B,IDha,P,Q,Dummy_Nmu,Tm,V1,Kh,V2,V3,V4,V5,Dummy_Nfa,IDfa,Dummy_Tff,Set_44,Set_45,Set_47,Set_49,SID).
 iknows(pair(IDfa,pair(apply(H,pair(apply(H,pair(apply(H,pair(apply(H,pair(inv(E),IDmu)),Nmu)),pair(Nfa,pair(IDmu,IDfa)))),pair(Nfa,Tff))),pair(xor(Nfa,apply(F,pair(B,Nmu))),Tff))))
 =>
 state_mobileuser(MU,FA,HA,SKmuha,H,3,E,F,Mul,R,PWmu,IDmu,IDi,B,IDha,P,Q,Nmu,Tm,V1,Kh,V2,V3,V4,V5,Nfa,IDfa,Tff,Set_44,Set_45,Set_47,Set_49,SID).
 request(FA,MU,fa_mu_tff,Tff,SID)

step step_3 (HA,MU,FA,SKmuha,H,Dummy_E,Kfh,Mul,F,Dummy_B,Dummy_P,Dummy_Q,Dummy_N,Dummy_Kh,IDha,IDmu,PWmu,Dummy_R,Dummy_Amu,Dummy_Bmu,Dummy_X,IDfa,IDi,Tm,Nmu,Tf,Th,SKfa,Nfa,Ht,Z,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Set_97,SID,E,B,P,Q,R) :=
 state_homeagent(HA,MU,FA,SKmuha,H,0,Dummy_E,Kfh,Mul,F,Dummy_B,Dummy_P,Dummy_Q,Dummy_N,Dummy_Kh,IDha,IDmu,PWmu,Dummy_R,Dummy_Amu,Dummy_Bmu,Dummy_X,IDfa,IDi,Tm,Nmu,Tf,Th,SKfa,Nfa,Ht,Z,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Set_97,SID).
 iknows(scrypt(SKmuha,pair(apply(H,pair(PWmu,R)),IDmu)))
=[exists E,Q,P,B]=>
 state_homeagent(HA,MU,FA,SKmuha,H,3,E,Kfh,Mul,F,B,P,Q,apply(Mul,pair(P,Q)),inv(E),IDha,IDmu,PWmu,R,xor(apply(H,pair(inv(E),B)),apply(H,IDmu)),xor(apply(H,pair(inv(E),IDmu)),apply(H,pair(PWmu,R))),exp(pair(B,E)),IDfa,IDi,Tm,Nmu,Tf,Th,SKfa,Nfa,Ht,Z,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Set_97,SID).
 secret(Dummy_Set_92,sec1,Dummy_Set_93).
 secret(Dummy_Set_94,sec2,MU).
 secret(Dummy_Set_95,sec3,HA).
 iknows(scrypt(SKmuha,pair(xor(apply(H,pair(inv(E),B)),apply(H,IDmu)),pair(xor(apply(H,pair(inv(E),IDmu)),apply(H,pair(PWmu,R))),pair(exp(pair(B,E)),pair(IDha,pair(E,pair(apply(Mul,pair(P,Q)),H)))))))).
 contains(IDi,Dummy_Set_92).
 contains(MU,Dummy_Set_93).
 contains(HA,Dummy_Set_93).
 contains(PWmu,Dummy_Set_94).
 contains(R,Dummy_Set_94).
 contains(pair(P,pair(Q,pair(B,inv(E)))),Dummy_Set_95)

step step_4 (HA,MU,FA,SKmuha,H,Dummy_E,Kfh,Mul,F,Dummy_B,P,Q,N,Kh,IDha,IDmu,PWmu,R,Amu,Bmu,X,IDfa,IDi,Dummy_Tm,Dummy_Nmu,Dummy_Tf,Dummy_Th,Dummy_SKfa,Dummy_Nfa,Dummy_Ht,Dummy_Z,Set_92,Set_93,Set_94,Set_95,Dummy_Set_97,SID,E,B,Tm,Nmu,Tf,Th,Nfa) :=
 state_homeagent(HA,MU,FA,SKmuha,H,3,Dummy_E,Kfh,Mul,F,Dummy_B,P,Q,N,Kh,IDha,IDmu,PWmu,R,Amu,Bmu,X,IDfa,IDi,Dummy_Tm,Dummy_Nmu,Dummy_Tf,Dummy_Th,Dummy_SKfa,Dummy_Nfa,Dummy_Ht,Dummy_Z,Set_92,Set_93,Set_94,Set_95,Dummy_Set_97,SID).
 iknows(pair(IDfa,pair(IDmu,pair(xor(exp(pair(B,E)),Tm),pair(xor(apply(H,pair(inv(E),B)),Nmu),pair(xor(apply(H,pair(apply(H,pair(inv(E),B)),Nmu)),IDmu),pair(apply(H,pair(xor(apply(H,pair(inv(E),B)),Nmu),pair(xor(apply(H,pair(apply(H,pair(inv(E),B)),Nmu)),IDmu),pair(apply(H,pair(inv(E),IDmu)),Tm)))),pair(Tm,pair(scrypt(Kfh,Nfa),Tf)))))))))
=[exists Th]=>
 state_homeagent(HA,MU,FA,SKmuha,H,5,E,Kfh,Mul,F,B,P,Q,N,Kh,IDha,IDmu,PWmu,R,Amu,Bmu,X,IDfa,IDi,Tm,Nmu,Tf,Th,apply(H,pair(apply(H,pair(apply(H,pair(inv(E),IDmu)),Nmu)),pair(Nfa,pair(IDmu,IDfa)))),Nfa,apply(F,pair(apply(H,pair(apply(H,pair(apply(H,pair(inv(E),IDmu)),Nmu)),pair(Nfa,pair(IDmu,IDfa)))),pair(Nfa,pair(Kfh,Th)))),xor(Nfa,apply(F,pair(B,Nmu))),Set_92,Set_93,Set_94,Set_95,Dummy_Set_97,SID).
 secret(Kfh,sec4,Dummy_Set_97).
 iknows(pair(scrypt(Kfh,pair(apply(H,pair(apply(H,pair(apply(H,pair(inv(E),IDmu)),Nmu)),pair(Nfa,pair(IDmu,IDfa)))),apply(F,pair(apply(H,pair(apply(H,pair(apply(H,pair(inv(E),IDmu)),Nmu)),pair(Nfa,pair(IDmu,IDfa)))),pair(Nfa,pair(Kfh,Th)))))),pair(xor(Nfa,apply(F,pair(B,Nmu))),Th))).
 witness(HA,FA,ha_fa_th,Th).
 request(FA,HA,fa_ha_tf,Tf,SID).
 request(FA,HA,fa_ha_nfa,Nfa,SID).
 contains(HA,Dummy_Set_97).
 contains(FA,Dummy_Set_97)

step step_5 (FA,MU,HA,H,Kfh,Dummy_E,F,IDmu,Dummy_B,Dummy_Tm,Dummy_Nmu,Dummy_Nfa,Dummy_Tf,IDfa,P,Q,Th,Tff,FV1,Dummy_Set_121,SID,E,B,Tm,Nmu,Nfa,Tf) :=
 state_foreignagent(FA,MU,HA,H,0,Kfh,Dummy_E,F,IDmu,Dummy_B,Dummy_Tm,Dummy_Nmu,Dummy_Nfa,Dummy_Tf,IDfa,P,Q,Th,Tff,FV1,Dummy_Set_121,SID).
 iknows(pair(IDmu,pair(xor(exp(pair(B,E)),Tm),pair(xor(apply(H,pair(inv(E),B)),Nmu),pair(xor(apply(H,pair(apply(H,pair(inv(E),B)),Nmu)),IDmu),pair(apply(H,pair(xor(apply(H,pair(inv(E),B)),Nmu),pair(xor(apply(H,pair(apply(H,pair(inv(E),B)),Nmu)),IDmu),pair(apply(H,pair(inv(E),IDmu)),Tm)))),Tm))))))
=[exists Tf,Nfa]=>
 state_foreignagent(FA,MU,HA,H,2,Kfh,E,F,IDmu,B,Tm,Nmu,Nfa,Tf,IDfa,P,Q,Th,Tff,FV1,Dummy_Set_121,SID).
 secret(Kfh,sec4,Dummy_Set_121).
 iknows(pair(IDfa,pair(IDmu,pair(xor(exp(pair(B,E)),Tm),pair(xor(apply(H,pair(inv(E),B)),Nmu),pair(xor(apply(H,pair(apply(H,pair(inv(E),B)),Nmu)),IDmu),pair(apply(H,pair(xor(apply(H,pair(inv(E),B)),Nmu),pair(xor(apply(H,pair(apply(H,pair(inv(E),B)),Nmu)),IDmu),pair(apply(H,pair(inv(E),IDmu)),Tm)))),pair(Tm,pair(scrypt(Kfh,Nfa),Tf))))))))).
 witness(FA,HA,fa_ha_tf,Tf).
 witness(FA,HA,fa_ha_nfa,Nfa).
 contains(HA,Dummy_Set_121).
 contains(FA,Dummy_Set_121)

step step_6 (FA,MU,HA,H,Kfh,Dummy_E,F,IDmu,Dummy_B,Tm,Dummy_Nmu,Dummy_Nfa,Tf,IDfa,P,Q,Dummy_Th,Dummy_Tff,Dummy_FV1,Set_121,SID,E,B,Nmu,Nfa,Th,Tff) :=
 state_foreignagent(FA,MU,HA,H,2,Kfh,Dummy_E,F,IDmu,Dummy_B,Tm,Dummy_Nmu,Dummy_Nfa,Tf,IDfa,P,Q,Dummy_Th,Dummy_Tff,Dummy_FV1,Set_121,SID).
 iknows(pair(scrypt(Kfh,pair(apply(H,pair(apply(H,pair(apply(H,pair(inv(E),IDmu)),Nmu)),pair(Nfa,pair(IDmu,IDfa)))),apply(F,pair(apply(H,pair(apply(H,pair(apply(H,pair(inv(E),IDmu)),Nmu)),pair(Nfa,pair(IDmu,IDfa)))),pair(Nfa,pair(Kfh,Th)))))),pair(xor(Nfa,apply(F,pair(B,Nmu))),Th)))
=[exists Tff]=>
 state_foreignagent(FA,MU,HA,H,4,Kfh,E,F,IDmu,B,Tm,Nmu,Nfa,Tf,IDfa,P,Q,Th,Tff,apply(H,pair(apply(H,pair(apply(H,pair(apply(H,pair(inv(E),IDmu)),Nmu)),pair(Nfa,pair(IDmu,IDfa)))),pair(Nfa,Tff))),Set_121,SID).
 iknows(pair(IDfa,pair(apply(H,pair(apply(H,pair(apply(H,pair(apply(H,pair(inv(E),IDmu)),Nmu)),pair(Nfa,pair(IDmu,IDfa)))),pair(Nfa,Tff))),pair(xor(Nfa,apply(F,pair(B,Nmu))),Tff)))).
 witness(FA,MU,fa_mu_tff,Tff).
 request(MU,FA,mu_fa_tm,Tm,SID).
 request(MU,FA,mu_fa_nmu,Nmu,SID).
 request(HA,FA,ha_fa_th,Th,SID)


section properties:

property secrecy_of_sec1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_fa_ha_tf (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,fa_ha_tf,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,fa_ha_tf,MGoal))
     /\ ((request(A1Goal,A2Goal,fa_ha_tf,MGoal,SID1)
           /\ request(A1Goal,A2Goal,fa_ha_tf,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_fa_ha_nfa (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,fa_ha_nfa,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,fa_ha_nfa,MGoal))
     /\ ((request(A1Goal,A2Goal,fa_ha_nfa,MGoal,SID1)
           /\ request(A1Goal,A2Goal,fa_ha_nfa,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_mu_fa_tm (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,mu_fa_tm,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,mu_fa_tm,MGoal))
     /\ ((request(A1Goal,A2Goal,mu_fa_tm,MGoal,SID1)
           /\ request(A1Goal,A2Goal,mu_fa_tm,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_mu_fa_nmu (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,mu_fa_nmu,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,mu_fa_nmu,MGoal))
     /\ ((request(A1Goal,A2Goal,mu_fa_nmu,MGoal,SID1)
           /\ request(A1Goal,A2Goal,mu_fa_nmu,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_ha_fa_th (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,ha_fa_th,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,ha_fa_th,MGoal))
     /\ ((request(A1Goal,A2Goal,ha_fa_th,MGoal,SID1)
           /\ request(A1Goal,A2Goal,ha_fa_th,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_fa_mu_tff (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,fa_mu_tff,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,fa_mu_tff,MGoal))
     /\ ((request(A1Goal,A2Goal,fa_mu_tff,MGoal,SID1)
           /\ request(A1Goal,A2Goal,fa_mu_tff,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec4,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_fa_ha_tf (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,fa_ha_tf,MGoal,SID) &
 not(witness(A2Goal,A1Goal,fa_ha_tf,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_fa_ha_tf (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,fa_ha_tf,MGoal,SID1).
 request(A1Goal,A2Goal,fa_ha_tf,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_fa_ha_nfa (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,fa_ha_nfa,MGoal,SID) &
 not(witness(A2Goal,A1Goal,fa_ha_nfa,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_fa_ha_nfa (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,fa_ha_nfa,MGoal,SID1).
 request(A1Goal,A2Goal,fa_ha_nfa,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_mu_fa_tm (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,mu_fa_tm,MGoal,SID) &
 not(witness(A2Goal,A1Goal,mu_fa_tm,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_mu_fa_tm (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,mu_fa_tm,MGoal,SID1).
 request(A1Goal,A2Goal,mu_fa_tm,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_mu_fa_nmu (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,mu_fa_nmu,MGoal,SID) &
 not(witness(A2Goal,A1Goal,mu_fa_nmu,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_mu_fa_nmu (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,mu_fa_nmu,MGoal,SID1).
 request(A1Goal,A2Goal,mu_fa_nmu,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_ha_fa_th (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,ha_fa_th,MGoal,SID) &
 not(witness(A2Goal,A1Goal,ha_fa_th,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_ha_fa_th (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,ha_fa_th,MGoal,SID1).
 request(A1Goal,A2Goal,ha_fa_th,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_fa_mu_tff (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,fa_mu_tff,MGoal,SID) &
 not(witness(A2Goal,A1Goal,fa_mu_tff,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_fa_mu_tff (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,fa_mu_tff,MGoal,SID1).
 request(A1Goal,A2Goal,fa_mu_tff,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

