%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilet6MWK7

section signature:

state_pm: agent * agent * agent * symmetric_key * nat * text * text * text * text * text * symmetric_key * message * nat -> fact
state_t: agent * agent * agent * symmetric_key * nat * text * text * text * text * text * text * text * text * symmetric_key * message * hash_func * set(agent) * nat -> fact
state_pt: agent * agent * agent * symmetric_key * symmetric_key * nat * text * text * text * text * text * text * symmetric_key * message * nat -> fact


section types:

k, nt_t_t, k_t_pt, idpt_t_pt, idpm_step_one, kppt_pt_t: protocol_id
ASGoal, Set_54, Dummy_Set_54: set(agent)
Dummy_Step, 3, SID, SID2, SID1, 7, Step, 2, 6, 5, 1, 12, 9, 8, 4: nat
Hash, dummy_hash: hash_func
set_117, set_114, set_105: set
dummy_sk, tls, air, K, Air, TLS, Dummy_K: symmetric_key
A2Goal, A1Goal, PT, T, PM, pm, t, pt, i: agent
dummy_msg, MGoal, X, start, Dummy_X: message
Dummy_IDpm, dummy_nonce, Protocol, IDt, Nt, Kppt, Nttrans, IDpm, IDpt, Tmp, Dummy_Nttrans, Dummy_Nt, Dummy_IDpt, Dummy_Kppt: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(pt).
 iknows(pm).
 iknows(t).
 iknows(i).
 state_pt(pt,t,pm,tls,air,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_msg,3).
 state_t(t,pt,pm,tls,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_msg,dummy_hash,set_105,4).
 state_pm(pm,pt,t,air,2,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_msg,5).
 state_t(t,i,pm,tls,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_msg,dummy_hash,set_114,8).
 state_pm(pm,i,t,air,2,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_msg,9).
 state_t(t,i,i,tls,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_msg,dummy_hash,set_117,12)


section rules:

step step_0 (PT,T,PM,TLS,Air,Dummy_IDpm,IDpt,IDt,Nt,Protocol,Dummy_Kppt,K,X,SID,IDpm,Kppt) :=
 state_pt(PT,T,PM,TLS,Air,1,Dummy_IDpm,IDpt,IDt,Nt,Protocol,Dummy_Kppt,K,X,SID).
 iknows(start)
=[exists Kppt,IDpm]=>
 state_pt(PT,T,PM,TLS,Air,3,IDpm,IDpt,IDt,Nt,Protocol,Kppt,K,X,SID).
 witness(PT,T,kppt_pt_t,Kppt).
 witness(PT,T,idpm_step_one,IDpm).
 iknows(scrypt(TLS,scrypt(PT,pair(Protocol,pair(1,pair(IDpt,pair(Kppt,IDpm)))))))

step step_1 (PT,T,PM,TLS,Air,IDpm,IDpt,IDt,Nt,Protocol,Kppt,K,Dummy_X,SID,X) :=
 state_pt(PT,T,PM,TLS,Air,3,IDpm,IDpt,IDt,Nt,Protocol,Kppt,K,Dummy_X,SID).
 iknows(scrypt(Air,X))
 =>
 state_pt(PT,T,PM,TLS,Air,5,IDpm,IDpt,IDt,Nt,Protocol,Kppt,K,X,SID).
 iknows(scrypt(TLS,scrypt(PT,pair(Protocol,pair(3,pair(IDpt,X))))))

step step_2 (PT,T,PM,TLS,Air,IDpm,Dummy_IDpt,IDt,Nt,Protocol,Kppt,Dummy_K,X,SID,IDpt,K) :=
 state_pt(PT,T,PM,TLS,Air,5,IDpm,Dummy_IDpt,IDt,Nt,Protocol,Kppt,Dummy_K,X,SID).
 iknows(scrypt(TLS,scrypt(T,pair(Protocol,pair(5,pair(IDt,pair(IDpt,K)))))))
 =>
 state_pt(PT,T,PM,TLS,Air,6,IDpm,IDpt,IDt,Nt,Protocol,Kppt,K,X,SID).
 request(PT,T,idpt_t_pt,IDpt,SID).
 request(PT,T,k_t_pt,K,SID)

step step_3 (T,PT,PM,TLS,Dummy_IDpm,IDpt,IDt,Dummy_Nt,Nttrans,Protocol,Tmp,Dummy_Kppt,K,Dummy_X,Hash,Set_54,SID,IDpm,Nt,Kppt) :=
 state_t(T,PT,PM,TLS,1,Dummy_IDpm,IDpt,IDt,Dummy_Nt,Nttrans,Protocol,Tmp,Dummy_Kppt,K,Dummy_X,Hash,Set_54,SID).
 iknows(scrypt(TLS,scrypt(PT,pair(Protocol,pair(1,pair(IDpt,pair(Kppt,IDpm)))))))
=[exists Nt]=>
 state_t(T,PT,PM,TLS,2,IDpm,IDpt,IDt,Nt,Nttrans,Protocol,Tmp,Kppt,K,scrypt(T,pair(Protocol,pair(2,pair(IDt,Nt)))),Hash,Set_54,SID).
 request(T,PT,kppt_pt_t,Kppt,SID).
 request(T,PT,idpm_step_one,IDpm,SID).
 iknows(scrypt(T,pair(Protocol,pair(2,pair(IDt,Nt))))).
 witness(T,T,nt_t_t,Nt)

step step_4 (T,PT,PM,TLS,IDpm,Dummy_IDpt,IDt,Dummy_Nttrans,Protocol,Tmp,Kppt,Dummy_K,Dummy_X,Hash,Dummy_Set_54,SID,Nt,Nttrans,K,X) :=
 state_t(T,PT,PM,TLS,3,IDpm,Dummy_IDpt,IDt,apply(X,Dummy_Nt),Dummy_Nttrans,Protocol,Tmp,Kppt,Dummy_K,Dummy_X,Hash,Dummy_Set_54,SID).
 iknows(scrypt(TLS,scrypt(PT,pair(Protocol,pair(3,pair(Dummy_IDpt,X))))))
=[exists Nttrans,K,Nt]=>
 state_t(T,PT,PM,TLS,1,IDpm,apply(Hash,Nt),IDt,Nt,Nttrans,Protocol,Tmp,Kppt,K,X,Hash,Dummy_Set_54,SID).
 request(T,T,nt_t_t,apply(X,apply(X,Dummy_Nt)),SID).
 secret(K,k,Dummy_Set_54).
 iknows(scrypt(TLS,scrypt(T,pair(Protocol,pair(3,pair(IDt,pair(apply(Hash,Nt),K))))))).
 witness(T,PT,idpt_t_pt,apply(Hash,Nt)).
 witness(T,PT,k_t_pt,K).
 iknows(scrypt(K,scrypt(T,pair(Protocol,pair(1,pair(IDt,pair(Nt,Kppt))))))).
 iknows(scrypt(K,scrypt(T,pair(Protocol,pair(1,pair(IDt,pair(Nttrans,Kppt))))))).
 contains(PT,Dummy_Set_54).
 contains(T,Dummy_Set_54)

step step_5 (PM,PT,T,Air,Protocol,IDt,Nt,Kppt,Nttrans,K,Dummy_X,SID,X) :=
 state_pm(PM,PT,T,Air,2,Protocol,IDt,Nt,Kppt,Nttrans,K,Dummy_X,SID).
 iknows(X)
 =>
 state_pm(PM,PT,T,Air,5,Protocol,IDt,Nt,Kppt,Nttrans,K,X,SID).
 iknows(scrypt(Air,X))

step step_6 (PM,PT,T,Air,Protocol,IDt,Dummy_Nt,Kppt,Nttrans,Dummy_K,X,SID,Nt,K) :=
 state_pm(PM,PT,T,Air,5,Protocol,IDt,Dummy_Nt,Kppt,Nttrans,Dummy_K,X,SID).
 iknows(scrypt(K,scrypt(T,pair(Protocol,pair(Step,pair(IDt,pair(Nt,Kppt)))))))
 =>
 state_pm(PM,PT,T,Air,6,Protocol,IDt,Nt,Kppt,Nttrans,K,X,SID)

step step_7 (PM,PT,T,Air,Protocol,IDt,Nt,Kppt,Dummy_Nttrans,Dummy_K,X,SID,Nttrans,K) :=
 state_pm(PM,PT,T,Air,6,Protocol,IDt,Nt,Kppt,Dummy_Nttrans,Dummy_K,X,SID).
 iknows(scrypt(K,scrypt(T,pair(Protocol,pair(Step,pair(IDt,pair(Nttrans,Kppt)))))))
 =>
 state_pm(PM,PT,T,Air,7,Protocol,IDt,Nt,Kppt,Nttrans,K,X,SID)


section properties:

property secrecy_of_k (MGoal,ASGoal) :=
 [] ((secret(MGoal,k,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_idpm_step_one (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,idpm_step_one,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,idpm_step_one,MGoal))
     /\ ((request(A1Goal,A2Goal,idpm_step_one,MGoal,SID1)
           /\ request(A1Goal,A2Goal,idpm_step_one,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_nt_t_t (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,nt_t_t,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,nt_t_t,MGoal))
     /\ ((request(A1Goal,A2Goal,nt_t_t,MGoal,SID1)
           /\ request(A1Goal,A2Goal,nt_t_t,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_idpt_t_pt (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,idpt_t_pt,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,idpt_t_pt,MGoal))
     /\ ((request(A1Goal,A2Goal,idpt_t_pt,MGoal,SID1)
           /\ request(A1Goal,A2Goal,idpt_t_pt,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_kppt_pt_t (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,kppt_pt_t,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,kppt_pt_t,MGoal))
     /\ ((request(A1Goal,A2Goal,kppt_pt_t,MGoal,SID1)
           /\ request(A1Goal,A2Goal,kppt_pt_t,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_k_t_pt (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,k_t_pt,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,k_t_pt,MGoal))
     /\ ((request(A1Goal,A2Goal,k_t_pt,MGoal,SID1)
           /\ request(A1Goal,A2Goal,k_t_pt,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_k (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_idpm_step_one (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,idpm_step_one,MGoal,SID) &
 not(witness(A2Goal,A1Goal,idpm_step_one,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_idpm_step_one (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,idpm_step_one,MGoal,SID1).
 request(A1Goal,A2Goal,idpm_step_one,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_nt_t_t (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,nt_t_t,MGoal,SID) &
 not(witness(A2Goal,A1Goal,nt_t_t,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_nt_t_t (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,nt_t_t,MGoal,SID1).
 request(A1Goal,A2Goal,nt_t_t,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_idpt_t_pt (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,idpt_t_pt,MGoal,SID) &
 not(witness(A2Goal,A1Goal,idpt_t_pt,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_idpt_t_pt (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,idpt_t_pt,MGoal,SID1).
 request(A1Goal,A2Goal,idpt_t_pt,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_kppt_pt_t (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,kppt_pt_t,MGoal,SID) &
 not(witness(A2Goal,A1Goal,kppt_pt_t,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_kppt_pt_t (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,kppt_pt_t,MGoal,SID1).
 request(A1Goal,A2Goal,kppt_pt_t,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_k_t_pt (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,k_t_pt,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_t_pt,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_k_t_pt (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,k_t_pt,MGoal,SID1).
 request(A1Goal,A2Goal,k_t_pt,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

