%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileNOUpN7

section signature:

state_user3: agent * public_key * public_key * text * text * text * hash_func * hash_func * hash_func * hash_func * text * text * text * nat * agent * agent * public_key * public_key * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * symmetric_key * set(pair(agent,text)) * set(agent) * nat -> fact
state_user2: agent * public_key * public_key * text * text * text * hash_func * hash_func * hash_func * hash_func * text * text * text * nat * agent * agent * public_key * public_key * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * symmetric_key * set(pair(agent,text)) * set(agent) * nat -> fact
state_user1: agent * public_key * public_key * text * text * text * hash_func * hash_func * hash_func * hash_func * text * text * text * nat * agent * agent * public_key * public_key * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * symmetric_key * set(pair(agent,text)) * set(agent) * nat -> fact


section types:

dummy_set: set(message)
u2_u3_t, u3_u2_t, sk, u1_u3_t, u1_u2_t, u3_u1_t, u2_u1_t: protocol_id
MGoal, start: message
IDRing: set(pair(agent,text))
set_200, set_266, set_265, set_263, set_262, set_260, set_258, set_256, set_254, set_253, set_244, set_230: set
ASGoal, Set_141, Set_100, Set_56, Dummy_Set_141, Dummy_Set_100, Dummy_Set_56: set(agent)
h, h1, m, a, H1, H, M, A: hash_func
dummy_pk, k1, k2, k3, k4, k5, ki, pub, K1, K2, K3, Ppub, Dummy_K1, Dummy_K3, Dummy_K2: public_key
dummy_nonce, p, id1, id2, id3, idi, T3, T2, T1, R1, R2, X3, K32, K31, K1r, K2r, K3r, EX1, EX2, EX3, K3R, K3L, S3, R3, P, ID1, ID2, ID3, X2, K23, K21, K2R, K2L, S2, Dummy_K3L, Dummy_K3R, Dummy_K31, Dummy_K32, Dummy_X3, Dummy_K1r, Dummy_K2L, Dummy_K2R, Dummy_K21, X1, Dummy_K23, K12, Dummy_R1, K13, Dummy_ID1, Dummy_X2, K1R, K1L, Dummy_EX3, Dummy_EX2, Dummy_K3r, Dummy_K2r, Dummy_K1L, Dummy_K1R, Dummy_EX1, S1, Dummy_K13, Dummy_K12, Dummy_R3, Dummy_R2, Dummy_T2, Dummy_T3, Dummy_ID3, Dummy_ID2, Dummy_X1, Dummy_T1: text
dummy_agent, A2Goal, A1Goal, u1, u2, u3, U1, U2, U3, Dummy_U1, Dummy_U3, Dummy_U2, i: agent
SID2, SID1, SID, State, 17, 15, 12, 11, 3, 9, 8, 2, 1, 0, 5, 4, Dummy_State: nat
SK, Dummy_SK, dummy_sk: symmetric_key


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u1).
 iknows(u2).
 iknows(u3).
 iknows(k1).
 iknows(k2).
 iknows(k3).
 iknows(p).
 iknows(pub).
 iknows(h).
 iknows(h1).
 iknows(m).
 iknows(a).
 iknows(ki).
 iknows(idi).
 iknows(i).
