%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilej1wk1GLiqr

section signature:

state_gwn: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * set(text) * set(text) * nat -> fact
state_sensor: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * set(text) * set(text) * set(agent) * nat -> fact
state_user: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * set(text) * set(text) * set(text) * set(text) * set(agent) * nat -> fact


section types:

Dummy_Set_87, Dummy_Set_55, ASGoal, Set_87, Set_55: set(agent)
Dummy_Set_116, Dummy_Set_115, Dummy_Set_85, Dummy_Set_84, Dummy_Set_54, Dummy_Set_51, Dummy_Set_50, Dummy_Set_47, Set_116, Set_115, Set_85, Set_84, Set_54, Set_51, Set_50, Set_47: set(text)
sec_pw, sec_ri, sec_ki, sec_xgwn, sec_skus, gwn_user_ki, gwn_sensor_kj, gwn_sensor_rj, user_sensor_kj, sensor_user_ki, sub1, sub2, sub3: protocol_id
dummy_msg, MGoal, Constant, start: message
Dummy_TS2, Dummy_Rj, Dummy_TS1, Dummy_SKus, Dummy_Kj, Dummy_T4, Dummy_T3, Dummy_T2, Dummy_Ki, Dummy_T1, Dummy_Ri, dummy_nonce, IDi, SIDj, PWi, Xgwn, T1, T2, T3, T4, T5, TS1, TS2, Ki, Kj, Ri, Rj, SKus: text
h, H: hash_func
skuig, sksjg, SKsjg, SKuig: symmetric_key
11, 9, 8, 5, SID, 4, Dummy_State, 3, SID2, SID1, State, 2, 1, 0, 16, 15, 13: nat
A2Goal, A1Goal, ui, sj, g, Ui, Sj, G, i: agent
set_202, set_200, set_199, set_198, set_197, set_196, set_194, set_193, set_191, set_190, set_189, set_188, set_187, set_186, set_185, set_184, set_179, set_178, set_169, set_168, set_167, set_148, set_147, set_146, set_145, set_144, set_219, set_218, set_216, set_215, set_214, set_212, set_211, set_210, set_209, set_208, set_206, set_205, set_204, set_203: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(sj).
 iknows(g).
 iknows(h).
 iknows(i).
 state_user(ui,sj,g,skuig,sksjg,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_144,set_145,set_146,set_147,set_148,3).
 state_sensor(sj,ui,g,skuig,sksjg,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_167,set_168,set_169,4).
 state_gwn(g,ui,sj,skuig,sksjg,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_178,set_179,5).
 state_sensor(sj,i,g,skuig,sksjg,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_189,set_190,set_191,8).
 state_gwn(g,i,sj,skuig,sksjg,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_193,set_194,9).
 state_user(ui,i,g,skuig,sksjg,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_196,set_197,set_198,set_199,set_200,11).
 state_gwn(g,ui,i,skuig,sksjg,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_205,set_206,13).
 state_user(ui,sj,i,skuig,sksjg,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_208,set_209,set_210,set_211,set_212,15).
 state_sensor(sj,ui,i,skuig,sksjg,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_214,set_215,set_216,16)


section rules:

step step_0 (Ui,Sj,G,SKuig,SKsjg,H,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,TS1,TS2,Ki,Kj,Dummy_Ri,Rj,SKus,Constant,Dummy_Set_47,Set_50,Set_51,Set_54,Set_55,SID,Ri) :=
 state_user(Ui,Sj,G,SKuig,SKsjg,H,0,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,TS1,TS2,Ki,Kj,Dummy_Ri,Rj,SKus,Constant,Dummy_Set_47,Set_50,Set_51,Set_54,Set_55,SID).
 iknows(start)
=[exists Ri]=>
 state_user(Ui,Sj,G,SKuig,SKsjg,H,1,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,TS1,TS2,Ki,Kj,Ri,Rj,SKus,Constant,Dummy_Set_47,Set_50,Set_51,Set_54,Set_55,SID).
 secret(Dummy_Set_47,sec_pw,Ui).
 iknows(scrypt(SKuig,pair(apply(H,pair(Ri,PWi)),IDi))).
 contains(PWi,Dummy_Set_47)

step step_1 (Ui,Sj,G,SKuig,SKsjg,H,IDi,SIDj,PWi,Xgwn,Dummy_T1,T2,T3,T4,T5,TS1,TS2,Dummy_Ki,Kj,Dummy_Ri,Rj,SKus,Constant,Set_47,Dummy_Set_50,Dummy_Set_51,Set_54,Set_55,SID,T1,Ki,Ri) :=
 state_user(Ui,Sj,G,SKuig,SKsjg,H,1,IDi,SIDj,PWi,Xgwn,Dummy_T1,T2,T3,T4,T5,TS1,TS2,Dummy_Ki,Kj,Dummy_Ri,Rj,SKus,Constant,Set_47,Dummy_Set_50,Dummy_Set_51,Set_54,Set_55,SID).
 iknows(scrypt(SKuig,pair(apply(H,pair(apply(H,pair(Ri,PWi)),IDi)),pair(xor(apply(H,pair(IDi,Xgwn)),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(apply(H,pair(Ri,PWi)),IDi))))),xor(apply(H,Xgwn),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn)))))))))
=[exists Ki,T1]=>
 state_user(Ui,Sj,G,SKuig,SKsjg,H,2,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,TS1,TS2,Ki,Kj,Ri,Rj,SKus,Constant,Set_47,Dummy_Set_50,Dummy_Set_51,Set_54,Set_55,SID).
 secret(Dummy_Set_50,sec_ri,Ui).
 iknows(pair(xor(IDi,apply(H,pair(xor(xor(apply(H,Xgwn),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))))),T1))),pair(xor(Ki,apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),pair(apply(H,pair(xor(IDi,apply(H,pair(xor(xor(apply(H,Xgwn),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))))),T1))),pair(xor(Ki,apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),pair(Ki,T1)))),T1)))).
 secret(Dummy_Set_51,sec_xgwn,G).
 witness(Ui,Sj,sensor_user_ki,Ki).
 witness(Ui,G,gwn_user_ki,Ki).
 contains(Ri,Dummy_Set_50).
 contains(Xgwn,Dummy_Set_51)

step step_2 (Ui,Sj,G,SKuig,SKsjg,H,IDi,SIDj,PWi,Xgwn,Dummy_T1,Dummy_T2,Dummy_T3,Dummy_T4,T5,TS1,TS2,Ki,Dummy_Kj,Ri,Rj,Dummy_SKus,Constant,Set_47,Set_50,Set_51,Dummy_Set_54,Dummy_Set_55,SID,T1,T2,T3,Kj) :=
 state_user(Ui,Sj,G,SKuig,SKsjg,H,2,IDi,SIDj,PWi,Xgwn,Dummy_T1,Dummy_T2,Dummy_T3,Dummy_T4,T5,TS1,TS2,Ki,Dummy_Kj,Ri,Rj,Dummy_SKus,Constant,Set_47,Set_50,Set_51,Dummy_Set_54,Dummy_Set_55,SID).
 iknows(xor(xor(apply(H,pair(apply(H,pair(IDi,Xgwn)),pair(T1,T2))),xor(apply(H,pair(apply(H,pair(SIDj,Xgwn)),pair(T1,T2))),Kj)),apply(H,pair(apply(H,pair(IDi,Xgwn)),T3))))
 =>
 state_user(Ui,Sj,G,SKuig,SKsjg,H,3,IDi,SIDj,PWi,Xgwn,T1,T2,T3,Dummy_T4,T5,TS1,TS2,Ki,Kj,Ri,Rj,apply(H,xor(Ki,xor(xor(Kj,apply(H,pair(apply(H,pair(IDi,Xgwn)),T3))),apply(H,pair(apply(H,pair(IDi,Xgwn)),T3))))),Constant,Set_47,Set_50,Set_51,Dummy_Set_54,Dummy_Set_55,SID).
 secret(Dummy_Set_54,sec_skus,Dummy_Set_55).
 request(Sj,Ui,user_sensor_kj,Kj,SID).
 contains(apply(H,xor(Ki,xor(xor(Kj,apply(H,pair(apply(H,pair(IDi,Xgwn)),T3))),apply(H,pair(apply(H,pair(IDi,Xgwn)),T3))))),Dummy_Set_54).
 contains(Ui,Dummy_Set_55).
 contains(Sj,Dummy_Set_55)

step step_3 (Sj,Ui,G,SKuig,SKsjg,H,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,Dummy_TS1,TS2,Ki,Kj,Ri,Dummy_Rj,SKus,Constant,Set_84,Set_85,Set_87,SID,TS1,Rj) :=
 state_sensor(Sj,Ui,G,SKuig,SKsjg,H,0,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,Dummy_TS1,TS2,Ki,Kj,Ri,Dummy_Rj,SKus,Constant,Set_84,Set_85,Set_87,SID).
 iknows(start)
=[exists TS1,Rj]=>
 state_sensor(Sj,Ui,G,SKuig,SKsjg,H,1,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,TS1,TS2,Ki,Kj,Ri,Rj,SKus,Constant,Set_84,Set_85,Set_87,SID).
 iknows(pair(SIDj,pair(apply(H,pair(SKsjg,pair(Rj,pair(SIDj,TS1)))),pair(xor(Rj,SKsjg),TS1)))).
 witness(Sj,G,gwn_sensor_rj,Rj)

step step_4 (Sj,Ui,G,SKuig,SKsjg,H,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,TS1,Dummy_TS2,Ki,Kj,Ri,Rj,SKus,Constant,Dummy_Set_84,Dummy_Set_85,Set_87,SID,TS2) :=
 state_sensor(Sj,Ui,G,SKuig,SKsjg,H,1,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,TS1,Dummy_TS2,Ki,Kj,Ri,Rj,SKus,Constant,Dummy_Set_84,Dummy_Set_85,Set_87,SID).
 iknows(pair(xor(apply(H,pair(SIDj,Xgwn)),SKsjg),pair(apply(H,pair(apply(H,pair(SIDj,Xgwn)),pair(xor(apply(H,pair(Xgwn,1)),apply(H,pair(SKsjg,TS2))),pair(SKsjg,TS2)))),pair(xor(apply(H,pair(Xgwn,1)),apply(H,pair(SKsjg,Dummy_TS2))),TS2))))
 =>
 state_sensor(Sj,Ui,G,SKuig,SKsjg,H,2,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,TS1,TS2,Ki,Kj,Ri,Rj,SKus,Constant,Dummy_Set_84,Dummy_Set_85,Set_87,SID).
 secret(Dummy_Set_84,sec_xgwn,G).
 secret(Dummy_Set_85,sec_pw,Ui).
 contains(Xgwn,Dummy_Set_84).
 contains(PWi,Dummy_Set_85)

step step_5 (Sj,Ui,G,SKuig,SKsjg,H,IDi,SIDj,PWi,Xgwn,Dummy_T1,Dummy_T2,T3,T4,T5,TS1,TS2,Dummy_Ki,Dummy_Kj,Dummy_Ri,Rj,SKus,Constant,Set_84,Set_85,Set_87,SID,T1,T2,Ki,Kj,Ri) :=
 state_sensor(Sj,Ui,G,SKuig,SKsjg,H,2,IDi,SIDj,PWi,Xgwn,Dummy_T1,Dummy_T2,T3,T4,T5,TS1,TS2,Dummy_Ki,Dummy_Kj,Dummy_Ri,Rj,SKus,Constant,Set_84,Set_85,Set_87,SID).
 iknows(pair(xor(IDi,apply(H,pair(xor(xor(Xgwn),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn)))))))),T1),pair(xor(Ki,apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),pair(apply(H,pair(xor(IDi,apply(H,pair(xor(xor(apply(H,Xgwn),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))))),T1))),pair(xor(pair(Ki,apply(H,pair(apply(H,pair(IDi,Xgwn)),T1)))),pair(Ki,T1)))),T1))))
=[exists T2,Kj]=>
 state_sensor(Sj,Ui,G,SKuig,SKsjg,H,3,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,TS1,TS2,Ki,Kj,Ri,Rj,SKus,Constant,Set_84,Set_85,Set_87,SID).
 iknows(pair(xor(IDi,apply(H,pair(xor(xor(apply(H,Xgwn),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))))),T1))),pair(xor(Ki,apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),pair(apply(H,pair(xor(IDi,apply(H,pair(xor(xor(apply(H,Xgwn),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))))),T1))),pair(xor(Ki,apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),pair(Ki,T1)))),pair(T1,pair(T2,pair(xor(apply(H,pair(apply(H,pair(SIDj,Xgwn)),pair(T1,T2))),Kj),apply(H,pair(SIDj,pair(xor(apply(H,pair(apply(H,pair(SIDj,Xgwn)),pair(T1,T2))),Kj),pair(T1,pair(T2,Kj)))))))))))).
 witness(Sj,Ui,user_sensor_kj,Kj).
 witness(Sj,G,gwn_sensor_rj,Kj)

step step_6 (Sj,Ui,G,SKuig,SKsjg,H,IDi,SIDj,PWi,Xgwn,Dummy_T1,Dummy_T2,Dummy_T3,Dummy_T4,T5,TS1,TS2,Dummy_Ki,Dummy_Kj,Ri,Rj,Dummy_SKus,Constant,Set_84,Set_85,Dummy_Set_87,SID,T1,T2,T3,T4,Ki,Kj) :=
 state_sensor(Sj,Ui,G,SKuig,SKsjg,H,3,IDi,SIDj,PWi,Xgwn,Dummy_T1,Dummy_T2,Dummy_T3,Dummy_T4,T5,TS1,TS2,Dummy_Ki,Dummy_Kj,Ri,Rj,Dummy_SKus,Constant,Set_84,Set_85,Dummy_Set_87,SID).
 iknows(pair(xor(xor(apply(H,pair(apply(H,pair(IDi,Xgwn)),pair(T1,T2))),xor(apply(H,pair(apply(H,pair(SIDj,Xgwn)),pair(T1,T2))),Kj)),apply(H,pair(apply(H,pair(IDi,Xgwn)),T3))),pair(xor(xor(xor(Ki,apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),apply(H,pair(apply(H,pair(SIDj,Xgwn)),T3))),pair(apply(H,pair(xor(xor(apply(H,pair(apply(H,pair(IDi,Xgwn)),pair(T1,T2))),xor(apply(H,pair(apply(H,pair(SIDj,Xgwn)),pair(T1,T2))),Kj)),apply(H,pair(apply(H,pair(IDi,Xgwn)),T3))),pair(apply(H,pair(IDi,Xgwn)),T3))),pair(apply(H,pair(xor(xor(xor(Ki,apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),apply(H,pair(apply(H,pair(SIDj,Xgwn)),T3))),pair(apply(H,pair(SIDj,Xgwn)),T3))),T3)))))
=[exists T4]=>
 state_sensor(Sj,Ui,G,SKuig,SKsjg,H,4,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,TS1,TS2,Ki,Kj,Ri,Rj,apply(H,xor(xor(xor(xor(xor(Ki,apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),apply(H,pair(apply(H,pair(SIDj,Xgwn)),T3))),apply(H,pair(apply(H,pair(SIDj,Xgwn)),T3))),Kj)),Constant,Set_84,Set_85,Dummy_Set_87,SID).
 iknows(xor(pair(xor(apply(H,pair(apply(H,pair(IDi,Xgwn)),pair(T1,T2))),xor(apply(H,pair(apply(H,pair(SIDj,Xgwn)),pair(T1,T2))),xor(apply(H,pair(apply(H,pair(SIDj,Xgwn)),pair(T1,T2))),Kj)),apply(H,pair(apply(H,pair(IDi,Xgwn)),T3))),pair(apply(H,pair(IDi,Xgwn)),T3)))).
 secret(apply(H,xor(xor(xor(xor(xor(Ki,apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),apply(H,pair(apply(H,pair(SIDj,Xgwn)),T3))),apply(H,pair(apply(H,pair(SIDj,Xgwn)),T3))),Kj)),sec_skus,Dummy_Set_87).
 request(Sj,Ui,sensor_user_ki,Ki,SID).
 contains(Ui,Dummy_Set_87).
 contains(Sj,Dummy_Set_87)

step step_7 (G,Ui,Sj,SKuig,SKsjg,H,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,TS1,TS2,Ki,Kj,Dummy_Ri,Rj,SKus,Constant,Dummy_Set_115,Set_116,SID,Ri) :=
 state_gwn(G,Ui,Sj,SKuig,SKsjg,H,0,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,TS1,TS2,Ki,Kj,Dummy_Ri,Rj,SKus,Constant,Dummy_Set_115,Set_116,SID).
 iknows(scrypt(SKuig,pair(apply(H,pair(Ri,PWi)),IDi)))
 =>
 state_gwn(G,Ui,Sj,SKuig,SKsjg,H,1,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,TS1,TS2,Ki,Kj,Ri,Rj,SKus,Constant,Dummy_Set_115,Set_116,SID).
 secret(Dummy_Set_115,sec_pw,Ui).
 iknows(scrypt(SKuig,pair(apply(H,pair(apply(H,pair(Ri,PWi)),IDi)),pair(xor(apply(H,pair(IDi,Xgwn)),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(apply(H,pair(Ri,PWi)),IDi))))),xor(apply(H,Xgwn),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))))))).
 contains(PWi,Dummy_Set_115)

step step_8 (G,Ui,Sj,SKuig,SKsjg,H,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,Dummy_TS1,Dummy_TS2,Ki,Kj,Ri,Dummy_Rj,SKus,Constant,Set_115,Dummy_Set_116,SID,TS1,TS2,Rj) :=
 state_gwn(G,Ui,Sj,SKuig,SKsjg,H,1,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,Dummy_TS1,Dummy_TS2,Ki,Kj,Ri,Dummy_Rj,SKus,Constant,Set_115,Dummy_Set_116,SID).
 iknows(pair(SIDj,pair(apply(H,pair(SKsjg,pair(Rj,pair(SIDj,TS1)))),pair(xor(Rj,SKsjg),TS1))))
=[exists TS2]=>
 state_gwn(G,Ui,Sj,SKuig,SKsjg,H,2,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,TS1,TS2,Ki,Kj,Ri,Rj,SKus,Constant,Set_115,Dummy_Set_116,SID).
 iknows(pair(xor(pair(apply(H,pair(SIDj,Xgwn)),SKsjg)),pair(apply(H,pair(apply(H,pair(SIDj,Xgwn)),pair(xor(apply(H,pair(Xgwn,1)),apply(H,pair(SKsjg,TS2))),pair(SKsjg,TS2)))),pair(xor(apply(H,pair(Xgwn,1)),apply(H,pair(SKsjg,TS2))),TS2)))).
 secret(Dummy_Set_116,sec_xgwn,G).
 contains(Xgwn,Dummy_Set_116)

step step_9 (G,Ui,Sj,SKuig,SKsjg,H,IDi,SIDj,PWi,Xgwn,Dummy_T1,Dummy_T2,T3,T4,T5,TS1,TS2,Dummy_Ki,Dummy_Kj,Dummy_Ri,Rj,SKus,Constant,Set_115,Set_116,SID,T1,T2,Ki,Kj,Ri) :=
 state_gwn(G,Ui,Sj,SKuig,SKsjg,H,2,IDi,SIDj,PWi,Xgwn,Dummy_T1,Dummy_T2,T3,T4,T5,TS1,TS2,Dummy_Ki,Dummy_Kj,Dummy_Ri,Rj,SKus,Constant,Set_115,Set_116,SID).
 iknows(pair(xor(IDi,apply(H,pair(xor(xor(apply(H,Xgwn),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))))),T1))),pair(xor(Ki,apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),pair(apply(H,pair(xor(IDi,apply(H,pair(xor(xor(apply(H,Xgwn),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(apply(H,pair(Ri,PWi)),apply(H,pair(IDi,Xgwn))))))),T1))),pair(xor(Ki,apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),pair(Ki,T1)))),pair(T1,pair(T2,pair(xor(apply(H,pair(apply(H,pair(SIDj,Xgwn)),pair(T1,T2))),Kj),apply(H,pair(SIDj,xor(apply(H,pair(apply(H,pair(SIDj,pair(xor(apply(H,pair(apply(H,pair(SIDj,Xgwn)),pair(T1,T2))),Kj),pair(T1,pair(T2,Kj))))),xor(SIDj,apply(H,pair(SKsjg,T2)))))))))))))))
 =>
 state_gwn(G,Ui,Sj,SKuig,SKsjg,H,3,IDi,SIDj,PWi,Xgwn,T1,T2,T3,T4,T5,TS1,TS2,Ki,Kj,Ri,Rj,SKus,Constant,Set_115,Set_116,SID).
 iknows(pair(xor(xor(apply(H,pair(apply(H,pair(IDi,Xgwn)),pair(T1,T2))),xor(apply(H,pair(apply(H,pair(SIDj,Xgwn)),pair(T1,T2))),Kj)),apply(H,pair(apply(H,pair(IDi,Xgwn)),T3))),pair(xor(xor(xor(Ki,apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),apply(H,pair(apply(H,pair(SIDj,Xgwn)),T3))),pair(apply(H,pair(xor(xor(apply(H,pair(apply(H,pair(IDi,Xgwn)),pair(T1,T2))),xor(apply(H,pair(apply(H,pair(SIDj,Xgwn)),pair(T1,T2))),Kj)),apply(H,pair(apply(H,pair(IDi,Xgwn)),T3))),pair(apply(H,pair(IDi,Xgwn)),T3))),pair(apply(H,pair(xor(xor(xor(Ki,apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),apply(H,pair(apply(H,pair(IDi,Xgwn)),T1))),apply(H,pair(apply(H,pair(SIDj,Xgwn)),T3))),pair(apply(H,pair(SIDj,Xgwn)),T3))),T3))))).
 request(Sj,G,gwn_sensor_rj,Rj,SID).
 request(Ui,G,gwn_user_ki,Ki,SID).
 request(Sj,G,gwn_sensor_kj,Kj,SID)


section properties:

property secrecy_of_sec_pw (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_pw,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_ri (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_ri,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_ki (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_ki,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_xgwn (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_xgwn,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_skus (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_skus,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_gwn_user_ki (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gwn_user_ki,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gwn_user_ki,MGoal))
     /\ ((request(A1Goal,A2Goal,gwn_user_ki,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gwn_user_ki,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gwn_sensor_kj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gwn_sensor_kj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gwn_sensor_kj,MGoal))
     /\ ((request(A1Goal,A2Goal,gwn_sensor_kj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gwn_sensor_kj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gwn_sensor_rj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gwn_sensor_rj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gwn_sensor_rj,MGoal))
     /\ ((request(A1Goal,A2Goal,gwn_sensor_rj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gwn_sensor_rj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_sensor_kj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_sensor_kj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_sensor_kj,MGoal))
     /\ ((request(A1Goal,A2Goal,user_sensor_kj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_sensor_kj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensor_user_ki (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensor_user_ki,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensor_user_ki,MGoal))
     /\ ((request(A1Goal,A2Goal,sensor_user_ki,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensor_user_ki,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec_pw (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_pw,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_ri (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_ri,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_ki (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_ki,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_xgwn (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_xgwn,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_skus (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_skus,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_gwn_user_ki (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gwn_user_ki,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gwn_user_ki,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gwn_user_ki (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gwn_user_ki,MGoal,SID1).
 request(A1Goal,A2Goal,gwn_user_ki,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gwn_sensor_kj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gwn_sensor_kj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gwn_sensor_kj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gwn_sensor_kj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gwn_sensor_kj,MGoal,SID1).
 request(A1Goal,A2Goal,gwn_sensor_kj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gwn_sensor_rj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gwn_sensor_rj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gwn_sensor_rj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gwn_sensor_rj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gwn_sensor_rj,MGoal,SID1).
 request(A1Goal,A2Goal,gwn_sensor_rj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_sensor_kj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_sensor_kj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_sensor_kj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_sensor_kj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_sensor_kj,MGoal,SID1).
 request(A1Goal,A2Goal,user_sensor_kj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensor_user_ki (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensor_user_ki,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensor_user_ki,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensor_user_ki (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensor_user_ki,MGoal,SID1).
 request(A1Goal,A2Goal,sensor_user_ki,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

