%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilesNyYjF

section signature:

state_tag: agent * agent * symmetric_key * symmetric_key * symmetric_key * hash_func * text * nat * text * text * text * text * text * text * text * text * text * text * text * text * set(agent) * set(agent) * nat -> fact
state_reader: agent * agent * symmetric_key * symmetric_key * hash_func * text * nat * text * text * text * text * text * text * text * set(agent) * set(agent) * nat -> fact


section types:

MGoal, start: message
sec_rj1, sec_rj2, sec_aj, sec_bj, mj4, mj5: protocol_id
ASGoal, Set_62, Set_61, Set_34, Set_32, Dummy_Set_62, Dummy_Set_61, Dummy_Set_34, Dummy_Set_32: set(agent)
h, H: hash_func
aj, bj, zj, rj1, rj2, ai, bi, zi, ri1, ri2, ZJ, RJ1, RJ2, AJ, BJ: symmetric_key
SID2, SID1, SID, 5, 3, State, 9, 7, 4, 2, 6, 1, 0, Dummy_State: nat
idj, idi, MJ1, MJ2, MJ3, MJ4, MJ5, KJ1, KJ2, AJ1, BJ1, RJ3, RJ4, TJ, IDJ, Dummy_BJ1, Dummy_AJ1, Dummy_KJ2, Dummy_KJ1, Dummy_MJ3, Dummy_MJ5, Dummy_MJ4, Dummy_MJ2, Dummy_MJ1, Dummy_TJ, Dummy_RJ4, Dummy_RJ3, dummy_nonce: text
A2Goal, A1Goal, a, b, B, A, i: agent
set_137, set_136, set_134, set_133, set_131, set_130, set_128, set_127, set_117, set_116, set_102, set_101: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(b).
 iknows(zi).
 iknows(ri1).
 iknows(ri2).
 iknows(h).
 iknows(idi).
 iknows(i).
 state_reader(a,b,aj,bj,h,idj,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_101,set_102,3).
 state_tag(b,a,zj,rj1,rj2,h,idj,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_116,set_117,4).
 state_reader(a,b,aj,bj,h,idj,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_127,set_128,6).
 state_tag(b,a,zj,rj1,rj2,h,idj,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_130,set_131,7).
 state_reader(a,i,ai,bi,h,idi,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_133,set_134,9)


section rules:

step step_0 (A,B,AJ,BJ,H,IDJ,Dummy_RJ3,RJ4,TJ,MJ1,MJ2,MJ4,MJ5,Set_32,Set_34,SID,RJ3) :=
 state_reader(A,B,AJ,BJ,H,IDJ,0,Dummy_RJ3,RJ4,TJ,MJ1,MJ2,MJ4,MJ5,Set_32,Set_34,SID).
 iknows(start)
=[exists RJ3]=>
 state_reader(A,B,AJ,BJ,H,IDJ,2,RJ3,RJ4,TJ,MJ1,MJ2,MJ4,MJ5,Set_32,Set_34,SID).
 iknows(RJ3)

step step_1 (A,B,AJ,BJ,H,IDJ,RJ3,Dummy_RJ4,Dummy_TJ,Dummy_MJ1,Dummy_MJ2,Dummy_MJ4,Dummy_MJ5,Dummy_Set_32,Dummy_Set_34,SID,TJ,MJ1) :=
 state_reader(A,B,AJ,BJ,H,IDJ,2,RJ3,Dummy_RJ4,Dummy_TJ,Dummy_MJ1,Dummy_MJ2,Dummy_MJ4,Dummy_MJ5,Dummy_Set_32,Dummy_Set_34,SID).
 iknows(pair(MJ1,pair(MJ4,TJ)))
 =>
 state_reader(A,B,AJ,BJ,H,IDJ,4,RJ3,xor(MJ1,xor(IDJ,apply(H,AJ))),TJ,MJ1,apply(H,xor(IDJ,xor(AJ,xor(RJ3,xor(MJ1,xor(IDJ,apply(H,AJ))))))),apply(H,xor(apply(H,xor(IDJ,xor(AJ,xor(RJ3,xor(MJ1,xor(IDJ,apply(H,AJ))))))),xor(apply(H,BJ),xor(BJ,xor(RJ3,xor(xor(MJ1,xor(IDJ,apply(H,AJ))),TJ)))))),apply(H,pair(Dummy_MJ2,pair(apply(H,BJ),pair(RJ3,Dummy_RJ4)))),Dummy_Set_32,Dummy_Set_34,SID).
 request(A,B,mj4,Dummy_MJ4,SID).
 witness(A,B,mj5,apply(H,pair(Dummy_MJ2,pair(apply(H,BJ),pair(RJ3,Dummy_RJ4))))).
 iknows(apply(H,pair(Dummy_MJ2,pair(apply(H,BJ),pair(RJ3,Dummy_RJ4))))).
 secret(AJ,sec_aj,Dummy_Set_32).
 secret(BJ,sec_bj,Dummy_Set_34).
 contains(A,Dummy_Set_32).
 contains(A,Dummy_Set_34)

step step_2 (B,A,ZJ,RJ1,RJ2,H,IDJ,Dummy_RJ3,Dummy_RJ4,Dummy_TJ,Dummy_MJ1,Dummy_MJ2,Dummy_MJ3,Dummy_MJ4,MJ5,Dummy_KJ1,Dummy_KJ2,Dummy_AJ1,Dummy_BJ1,Dummy_Set_61,Dummy_Set_62,SID,RJ3,RJ4,TJ) :=
 state_tag(B,A,ZJ,RJ1,RJ2,H,IDJ,1,Dummy_RJ3,Dummy_RJ4,Dummy_TJ,Dummy_MJ1,Dummy_MJ2,Dummy_MJ3,Dummy_MJ4,MJ5,Dummy_KJ1,Dummy_KJ2,Dummy_AJ1,Dummy_BJ1,Dummy_Set_61,Dummy_Set_62,SID).
 iknows(RJ3)
=[exists TJ,RJ4]=>
 state_tag(B,A,ZJ,RJ1,RJ2,H,IDJ,3,RJ3,RJ4,TJ,xor(IDJ,xor(apply(H,apply(H,xor(apply(H,pair(ZJ,xor(RJ1,IDJ))),IDJ))),RJ4)),apply(H,xor(IDJ,xor(apply(H,xor(apply(H,pair(ZJ,xor(RJ1,IDJ))),IDJ)),xor(RJ3,RJ4)))),apply(H,apply(H,xor(apply(H,pair(ZJ,xor(RJ1,RJ2))),IDJ))),apply(H,xor(apply(H,xor(IDJ,xor(apply(H,xor(apply(H,pair(ZJ,xor(RJ1,IDJ))),IDJ)),xor(RJ3,RJ4)))),xor(apply(H,apply(H,xor(apply(H,pair(ZJ,xor(RJ1,RJ2))),IDJ))),xor(apply(H,xor(apply(H,pair(ZJ,xor(RJ1,RJ2))),IDJ)),xor(RJ3,xor(RJ4,TJ)))))),MJ5,apply(H,pair(ZJ,xor(RJ1,IDJ))),apply(H,pair(ZJ,xor(RJ1,RJ2))),apply(H,xor(apply(H,pair(ZJ,xor(RJ1,IDJ))),IDJ)),apply(H,xor(apply(H,pair(ZJ,xor(RJ1,RJ2))),IDJ)),Dummy_Set_61,Dummy_Set_62,SID).
 iknows(pair(xor(IDJ,xor(apply(H,apply(H,xor(apply(H,pair(ZJ,xor(RJ1,IDJ))),IDJ))),RJ4)),pair(apply(H,xor(apply(H,xor(IDJ,xor(apply(H,xor(apply(H,pair(ZJ,xor(RJ1,IDJ))),IDJ)),xor(RJ3,RJ4)))),xor(apply(H,apply(H,xor(apply(H,pair(ZJ,xor(RJ1,RJ2))),IDJ))),xor(apply(H,xor(apply(H,pair(ZJ,xor(RJ1,RJ2))),IDJ)),xor(RJ3,xor(RJ4,TJ)))))),TJ))).
 witness(B,A,mj4,Dummy_MJ4).
 secret(RJ1,sec_rj1,Dummy_Set_61).
 secret(RJ2,sec_rj2,Dummy_Set_62).
 contains(B,Dummy_Set_61).
 contains(B,Dummy_Set_62)

step step_3 (B,A,ZJ,RJ1,RJ2,H,IDJ,RJ3,RJ4,TJ,MJ1,MJ2,MJ3,MJ4,Dummy_MJ5,KJ1,KJ2,AJ1,BJ1,Set_61,Set_62,SID) :=
 state_tag(B,A,ZJ,RJ1,RJ2,H,IDJ,3,RJ3,RJ4,TJ,MJ1,MJ2,MJ3,MJ4,Dummy_MJ5,KJ1,KJ2,AJ1,BJ1,Set_61,Set_62,SID).
 iknows(MJ5)
 =>
 state_tag(B,A,ZJ,RJ1,RJ2,H,IDJ,5,RJ3,RJ4,TJ,MJ1,MJ2,MJ3,MJ4,apply(H,pair(MJ2,pair(MJ3,pair(RJ3,RJ4)))),KJ1,KJ2,AJ1,BJ1,Set_61,Set_62,SID).
 request(B,A,mj5,apply(H,pair(MJ2,pair(MJ3,pair(RJ3,RJ4)))),SID)


section properties:

property secrecy_of_sec_aj (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_aj,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_bj (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_bj,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_rj1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_rj1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_rj2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_rj2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_mj4 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,mj4,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,mj4,MGoal))
     /\ ((request(A1Goal,A2Goal,mj4,MGoal,SID1)
           /\ request(A1Goal,A2Goal,mj4,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_mj5 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,mj5,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,mj5,MGoal))
     /\ ((request(A1Goal,A2Goal,mj5,MGoal,SID1)
           /\ request(A1Goal,A2Goal,mj5,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec_aj (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_aj,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_bj (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_bj,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_rj1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_rj1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_rj2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_rj2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_mj4 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,mj4,MGoal,SID) &
 not(witness(A2Goal,A1Goal,mj4,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_mj4 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,mj4,MGoal,SID1).
 request(A1Goal,A2Goal,mj4,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_mj5 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,mj5,MGoal,SID) &
 not(witness(A2Goal,A1Goal,mj5,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_mj5 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,mj5,MGoal,SID1).
 request(A1Goal,A2Goal,mj5,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

