%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileizq0v4

section signature:

state_role_MR: agent * agent * agent * symmetric_key * public_key * public_key * symmetric_key * nat * text * text * text * text * text * text * hash_func * text * text * text * hash_func * text * text * text * text * apply(hash_func,message) * set(agent) * nat -> fact
state_role_LRVS: agent * agent * agent * symmetric_key * public_key * public_key * symmetric_key * text * nat * text * symmetric_key * text * text * text * text * hash_func * text * text * text * hash_func * text * text * text * text * apply(hash_func,message) * nat -> fact
state_role_VAAA: agent * agent * agent * symmetric_key * symmetric_key * nat * text * public_key * symmetric_key * text * text * hash_func * public_key * text * nat -> fact
state_role_HAAA: agent * agent * agent * symmetric_key * symmetric_key * nat * text * public_key * text * text * hash_func * public_key * text * nat -> fact


section types:

set_175: set
Dummy_Set_45, ASGoal, Set_45: set(agent)
auth_3, hash_dh, auth_2, auth_1: protocol_id
dummy_msg, MGoal, start: message
R2, Dummy_R2: apply(hash_func,message)
H, Soln, dummy_hash: hash_func
HIMR, HILRVS, Dummy_HIMR, Dummy_HILRVS, dummy_pk, himr, hilrvs: public_key
N2, IDMR, N1, IDHAAA, Dummy_EGY, Dummy_PUZZLE, EGX, Y, G, Dummy_EGX, X, Dummy_X, Dummy_SPILRVS, SPILRVS, Dummy_SPIMR, LSILRVS, Dummy_LSIMR, SPIMR, Dummy_Y, LSIMR, Dummy_N2, Dummy_IDMR, PUZZLE, Dummy_N1, Dummy_IDHAAA, dummy_nonce, const_1, EGY: text
State, 6, SID, 5, 4, Dummy_State, 3, SID2, SID1, 2, 1, 0: nat
VAAA, MR, HAAA, LRVS, A2Goal, A1Goal, vaaa, haaa, lrvs, mr, i: agent
KMRHAAA, KLRVSMR, KVAAALRVS, Dummy_KMRHAAA, dummy_sk, kvaaalrvs, klrvsmr, kmrhaaa: symmetric_key


section inits:

initial_state init1 := 
 iknows(start).
 iknows(mr).
 iknows(lrvs).
 iknows(vaaa).
 iknows(haaa).
 iknows(himr).
 iknows(hilrvs).
 iknows(i).
 state_role_HAAA(haaa,mr,vaaa,kmrhaaa,kvaaalrvs,0,dummy_nonce,dummy_pk,dummy_nonce,dummy_nonce,dummy_hash,dummy_pk,dummy_nonce,3).
 state_role_VAAA(vaaa,lrvs,haaa,kvaaalrvs,klrvsmr,0,dummy_nonce,dummy_pk,dummy_sk,dummy_nonce,dummy_nonce,dummy_hash,dummy_pk,dummy_nonce,4).
 state_role_LRVS(lrvs,mr,vaaa,klrvsmr,himr,hilrvs,kvaaalrvs,const_1,0,dummy_nonce,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,5).
 state_role_MR(mr,lrvs,haaa,kmrhaaa,himr,hilrvs,klrvsmr,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_175,6)


section rules:

step step_0 (HAAA,MR,VAAA,KMRHAAA,KVAAALRVS,Dummy_IDHAAA,Dummy_HILRVS,Dummy_N1,Dummy_IDMR,H,Dummy_HIMR,Dummy_N2,SID,IDHAAA,HILRVS,N1,IDMR,HIMR,N2) :=
 state_role_HAAA(HAAA,MR,VAAA,KMRHAAA,KVAAALRVS,0,Dummy_IDHAAA,Dummy_HILRVS,Dummy_N1,Dummy_IDMR,H,Dummy_HIMR,Dummy_N2,SID).
 iknows(pair(apply(H,HIMR),pair(apply(H,HILRVS),pair(IDHAAA,pair(IDMR,pair(scrypt(KMRHAAA,N1),pair(apply(H,N1),scrypt(KMRHAAA,pair(IDMR,pair(apply(H,HIMR),N1))))))))))
=[exists N2]=>
 state_role_HAAA(HAAA,MR,VAAA,KMRHAAA,KVAAALRVS,1,IDHAAA,HILRVS,N1,IDMR,H,HIMR,N2,SID).
 request(HAAA,MR,auth_1,N1,SID).
 iknows(pair(KVAAALRVS,pair(scrypt(KMRHAAA,N2),pair(apply(H,N2),pair(IDMR,pair(apply(H,HIMR),scrypt(KMRHAAA,pair(IDMR,pair(apply(H,HIMR),pair(N1,N2)))))))))).
 witness(HAAA,MR,auth_2,N2)

step step_1 (VAAA,LRVS,HAAA,KVAAALRVS,KLRVSMR,Dummy_IDHAAA,Dummy_HILRVS,Dummy_KMRHAAA,Dummy_N1,Dummy_IDMR,H,Dummy_HIMR,N2,SID,IDHAAA,HILRVS,KMRHAAA,N1,IDMR,HIMR) :=
 state_role_VAAA(VAAA,LRVS,HAAA,KVAAALRVS,KLRVSMR,0,Dummy_IDHAAA,Dummy_HILRVS,Dummy_KMRHAAA,Dummy_N1,Dummy_IDMR,H,Dummy_HIMR,N2,SID).
 iknows(pair(apply(H,HIMR),pair(apply(H,HILRVS),pair(IDHAAA,pair(IDMR,pair(scrypt(KMRHAAA,N1),pair(apply(H,N1),scrypt(KMRHAAA,pair(IDMR,pair(apply(H,HIMR),N1))))))))))
 =>
 state_role_VAAA(VAAA,LRVS,HAAA,KVAAALRVS,KLRVSMR,1,IDHAAA,HILRVS,KMRHAAA,N1,IDMR,H,HIMR,N2,SID).
 iknows(pair(apply(H,HIMR),pair(apply(H,HILRVS),pair(IDHAAA,pair(IDMR,pair(scrypt(KMRHAAA,N1),pair(apply(H,N1),scrypt(KMRHAAA,pair(IDMR,pair(apply(H,HIMR),N1))))))))))

step step_2 (VAAA,LRVS,HAAA,KVAAALRVS,KLRVSMR,IDHAAA,HILRVS,KMRHAAA,N1,IDMR,H,HIMR,Dummy_N2,SID,N2) :=
 state_role_VAAA(VAAA,LRVS,HAAA,KVAAALRVS,KLRVSMR,1,IDHAAA,HILRVS,KMRHAAA,N1,IDMR,H,HIMR,Dummy_N2,SID).
 iknows(pair(KVAAALRVS,pair(scrypt(KMRHAAA,N2),pair(apply(H,N2),pair(IDMR,pair(apply(H,HIMR),scrypt(KMRHAAA,pair(IDMR,pair(apply(H,HIMR),pair(N1,N2))))))))))
 =>
 state_role_VAAA(VAAA,LRVS,HAAA,KVAAALRVS,KLRVSMR,2,IDHAAA,HILRVS,KMRHAAA,N1,IDMR,H,HIMR,N2,SID).
 iknows(pair(KVAAALRVS,pair(KLRVSMR,pair(scrypt(KMRHAAA,N2),pair(apply(H,N2),pair(IDMR,pair(apply(H,HIMR),scrypt(KMRHAAA,pair(IDMR,pair(apply(H,HIMR),pair(N1,N2)))))))))))

step step_3 (LRVS,MR,VAAA,KLRVSMR,HIMR,HILRVS,KVAAALRVS,PUZZLE,Dummy_IDHAAA,Dummy_KMRHAAA,Dummy_N1,Dummy_IDMR,N2,LSIMR,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGX,R2,SID,IDHAAA,KMRHAAA,N1,IDMR) :=
 state_role_LRVS(LRVS,MR,VAAA,KLRVSMR,HIMR,HILRVS,KVAAALRVS,PUZZLE,0,Dummy_IDHAAA,Dummy_KMRHAAA,Dummy_N1,Dummy_IDMR,N2,LSIMR,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGX,R2,SID).
 iknows(pair(apply(H,HIMR),pair(apply(H,HILRVS),pair(IDHAAA,pair(IDMR,pair(scrypt(KMRHAAA,N1),pair(apply(H,N1),scrypt(KMRHAAA,pair(IDMR,pair(apply(H,HIMR),N1))))))))))
 =>
 state_role_LRVS(LRVS,MR,VAAA,KLRVSMR,HIMR,HILRVS,KVAAALRVS,PUZZLE,1,IDHAAA,KMRHAAA,N1,IDMR,N2,LSIMR,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGX,R2,SID).
 iknows(pair(apply(H,HIMR),pair(apply(H,HILRVS),pair(IDHAAA,pair(IDMR,pair(scrypt(KMRHAAA,N1),pair(apply(H,N1),scrypt(KMRHAAA,pair(IDMR,pair(apply(H,HIMR),N1))))))))))

step step_4 (LRVS,MR,VAAA,KLRVSMR,HIMR,HILRVS,KVAAALRVS,PUZZLE,IDHAAA,KMRHAAA,N1,IDMR,Dummy_N2,LSIMR,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGX,R2,SID,N2) :=
 state_role_LRVS(LRVS,MR,VAAA,KLRVSMR,HIMR,HILRVS,KVAAALRVS,PUZZLE,1,IDHAAA,KMRHAAA,N1,IDMR,Dummy_N2,LSIMR,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGX,R2,SID).
 iknows(pair(KVAAALRVS,pair(KLRVSMR,pair(scrypt(KMRHAAA,N2),pair(apply(H,N2),pair(IDMR,pair(apply(H,HIMR),scrypt(KMRHAAA,pair(IDMR,pair(apply(H,HIMR),pair(N1,N2)))))))))))
 =>
 state_role_LRVS(LRVS,MR,VAAA,KLRVSMR,HIMR,HILRVS,KVAAALRVS,PUZZLE,2,IDHAAA,KMRHAAA,N1,IDMR,N2,LSIMR,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGX,R2,SID).
 iknows(pair(KLRVSMR,pair(scrypt(KMRHAAA,N2),pair(apply(H,N2),pair(IDMR,pair(apply(H,HIMR),scrypt(KMRHAAA,pair(IDMR,pair(apply(H,HIMR),pair(N1,N2))))))))))

step step_5 (LRVS,MR,VAAA,KLRVSMR,HIMR,HILRVS,KVAAALRVS,PUZZLE,IDHAAA,KMRHAAA,N1,IDMR,N2,LSIMR,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Dummy_Y,EGX,R2,SID,Y) :=
 state_role_LRVS(LRVS,MR,VAAA,KLRVSMR,HIMR,HILRVS,KVAAALRVS,PUZZLE,2,IDHAAA,KMRHAAA,N1,IDMR,N2,LSIMR,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Dummy_Y,EGX,R2,SID).
 iknows(scrypt(KLRVSMR,pair(apply(H,HIMR),apply(H,HILRVS))))
=[exists Y]=>
 state_role_LRVS(LRVS,MR,VAAA,KLRVSMR,HIMR,HILRVS,KVAAALRVS,PUZZLE,3,IDHAAA,KMRHAAA,N1,IDMR,N2,LSIMR,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGX,R2,SID).
 iknows(pair(scrypt(KLRVSMR,pair(PUZZLE,pair(HILRVS,exp(pair(G,Y))))),crypt(inv(HILRVS),scrypt(KLRVSMR,apply(H,pair(PUZZLE,pair(HILRVS,exp(pair(G,Y)))))))))

step step_6 (LRVS,MR,VAAA,KLRVSMR,HIMR,HILRVS,KVAAALRVS,PUZZLE,IDHAAA,KMRHAAA,N1,IDMR,N2,Dummy_LSIMR,Soln,Dummy_SPIMR,LSILRVS,Dummy_SPILRVS,H,Dummy_X,G,Dummy_Y,Dummy_EGX,Dummy_R2,SID,LSIMR,SPIMR,SPILRVS,X,Y,EGX) :=
 state_role_LRVS(LRVS,MR,VAAA,KLRVSMR,HIMR,HILRVS,KVAAALRVS,PUZZLE,3,IDHAAA,KMRHAAA,N1,IDMR,N2,Dummy_LSIMR,Soln,Dummy_SPIMR,LSILRVS,Dummy_SPILRVS,H,Dummy_X,G,Dummy_Y,Dummy_EGX,Dummy_R2,SID).
 iknows(pair(scrypt(KLRVSMR,pair(apply(Soln,PUZZLE),pair(SPIMR,pair(LSIMR,pair(EGX,scrypt(apply(H,exp(pair(Dummy_EGX,Y))),HIMR)))))),crypt(inv(HIMR),apply(H,scrypt(KLRVSMR,pair(apply(Soln,PUZZLE),pair(SPIMR,pair(LSIMR,pair(exp(pair(G,X)),scrypt(apply(H,exp(pair(Dummy_EGX,Y))),HIMR))))))))))
=[exists SPILRVS]=>
 state_role_LRVS(LRVS,MR,VAAA,KLRVSMR,HIMR,HILRVS,KVAAALRVS,PUZZLE,4,IDHAAA,KMRHAAA,N1,IDMR,N2,LSIMR,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGX,apply(H,exp(EGX,Dummy_Y)),SID).
 iknows(pair(scrypt(KLRVSMR,pair(SPILRVS,pair(LSILRVS,apply(H,apply(H,exp(EGX,Dummy_Y)))))),crypt(inv(HILRVS),apply(H,pair(SPILRVS,pair(LSILRVS,apply(H,apply(H,exp(EGX,Dummy_Y))))))))).
 witness(LRVS,MR,auth_3,apply(H,exp(EGX,Dummy_Y)))

step step_7 (MR,LRVS,HAAA,KMRHAAA,HIMR,HILRVS,KLRVSMR,IDHAAA,Dummy_N1,IDMR,N2,LSIMR,PUZZLE,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGY,R2,Set_45,SID,N1) :=
 state_role_MR(MR,LRVS,HAAA,KMRHAAA,HIMR,HILRVS,KLRVSMR,0,IDHAAA,Dummy_N1,IDMR,N2,LSIMR,PUZZLE,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGY,R2,Set_45,SID).
 iknows(start)
=[exists N1]=>
 state_role_MR(MR,LRVS,HAAA,KMRHAAA,HIMR,HILRVS,KLRVSMR,1,IDHAAA,N1,IDMR,N2,LSIMR,PUZZLE,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGY,R2,Set_45,SID).
 iknows(pair(apply(H,HIMR),pair(apply(H,HILRVS),pair(IDHAAA,pair(IDMR,pair(scrypt(KMRHAAA,N1),pair(apply(H,N1),scrypt(KMRHAAA,pair(IDMR,pair(apply(H,HIMR),N1)))))))))).
 witness(MR,HAAA,auth_1,N1)

step step_8 (MR,LRVS,HAAA,KMRHAAA,HIMR,HILRVS,KLRVSMR,IDHAAA,N1,IDMR,Dummy_N2,LSIMR,PUZZLE,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGY,R2,Set_45,SID,N2) :=
 state_role_MR(MR,LRVS,HAAA,KMRHAAA,HIMR,HILRVS,KLRVSMR,1,IDHAAA,N1,IDMR,Dummy_N2,LSIMR,PUZZLE,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGY,R2,Set_45,SID).
 iknows(pair(KLRVSMR,pair(scrypt(KMRHAAA,N2),pair(apply(H,N2),pair(IDMR,pair(apply(H,HIMR),scrypt(KMRHAAA,pair(IDMR,pair(apply(H,HIMR),pair(N1,N2))))))))))
 =>
 state_role_MR(MR,LRVS,HAAA,KMRHAAA,HIMR,HILRVS,KLRVSMR,2,IDHAAA,N1,IDMR,N2,LSIMR,PUZZLE,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGY,R2,Set_45,SID).
 request(MR,HAAA,auth_2,N2,SID).
 iknows(scrypt(KLRVSMR,pair(apply(H,HIMR),apply(H,HILRVS))))

step step_9 (MR,LRVS,HAAA,KMRHAAA,HIMR,HILRVS,KLRVSMR,IDHAAA,N1,IDMR,N2,LSIMR,Dummy_PUZZLE,Soln,Dummy_SPIMR,LSILRVS,SPILRVS,H,Dummy_X,G,Y,Dummy_EGY,Dummy_R2,Set_45,SID,PUZZLE,SPIMR,X,EGY) :=
 state_role_MR(MR,LRVS,HAAA,KMRHAAA,HIMR,HILRVS,KLRVSMR,2,IDHAAA,N1,IDMR,N2,LSIMR,Dummy_PUZZLE,Soln,Dummy_SPIMR,LSILRVS,SPILRVS,H,Dummy_X,G,Y,Dummy_EGY,Dummy_R2,Set_45,SID).
 iknows(pair(scrypt(KLRVSMR,pair(PUZZLE,pair(HILRVS,EGY))),crypt(inv(HILRVS),scrypt(KLRVSMR,apply(H,pair(PUZZLE,pair(HILRVS,EGY)))))))
=[exists SPIMR,X]=>
 state_role_MR(MR,LRVS,HAAA,KMRHAAA,HIMR,HILRVS,KLRVSMR,3,IDHAAA,N1,IDMR,N2,LSIMR,PUZZLE,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGY,apply(H,exp(EGY,X)),Set_45,SID).
 iknows(pair(scrypt(KLRVSMR,pair(apply(Soln,PUZZLE),pair(SPIMR,pair(LSIMR,pair(exp(pair(G,X)),scrypt(apply(H,exp(EGY,X)),HIMR)))))),crypt(inv(HIMR),apply(H,scrypt(KLRVSMR,pair(apply(Soln,PUZZLE),pair(SPIMR,pair(LSIMR,pair(exp(pair(G,X)),scrypt(apply(H,exp(EGY,X)),HIMR))))))))))

step step_10 (MR,LRVS,HAAA,KMRHAAA,HIMR,HILRVS,KLRVSMR,IDHAAA,N1,IDMR,N2,LSIMR,PUZZLE,Soln,SPIMR,LSILRVS,Dummy_SPILRVS,H,X,G,Y,EGY,R2,Dummy_Set_45,SID,SPILRVS) :=
 state_role_MR(MR,LRVS,HAAA,KMRHAAA,HIMR,HILRVS,KLRVSMR,3,IDHAAA,N1,IDMR,N2,LSIMR,PUZZLE,Soln,SPIMR,LSILRVS,Dummy_SPILRVS,H,X,G,Y,EGY,R2,Dummy_Set_45,SID).
 iknows(pair(scrypt(KLRVSMR,pair(SPILRVS,pair(LSILRVS,apply(H,R2)))),crypt(inv(HILRVS),apply(H,pair(SPILRVS,pair(LSILRVS,apply(H,R2)))))))
 =>
 state_role_MR(MR,LRVS,HAAA,KMRHAAA,HIMR,HILRVS,KLRVSMR,4,IDHAAA,N1,IDMR,N2,LSIMR,PUZZLE,Soln,SPIMR,LSILRVS,SPILRVS,H,X,G,Y,EGY,R2,Dummy_Set_45,SID).
 secret(apply(H,exp(EGY,X)),hash_dh,Dummy_Set_45).
 request(MR,LRVS,auth_3,R2,SID).
 contains(MR,Dummy_Set_45).
 contains(LRVS,Dummy_Set_45)


section properties:

property authentication_on_auth_1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth_1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth_1,MGoal))
     /\ ((request(A1Goal,A2Goal,auth_1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth_1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_auth_2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth_2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth_2,MGoal))
     /\ ((request(A1Goal,A2Goal,auth_2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth_2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property secrecy_of_hash_dh (MGoal,ASGoal) :=
 [] ((secret(MGoal,hash_dh,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_auth_3 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth_3,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth_3,MGoal))
     /\ ((request(A1Goal,A2Goal,auth_3,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth_3,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state authentication_on_auth_1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth_1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth_1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth_1,MGoal,SID1).
 request(A1Goal,A2Goal,auth_1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_auth_2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth_2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth_2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth_2,MGoal,SID1).
 request(A1Goal,A2Goal,auth_2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state secrecy_of_hash_dh (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,hash_dh,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_auth_3 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth_3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_3,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth_3 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth_3,MGoal,SID1).
 request(A1Goal,A2Goal,auth_3,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

