%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileM2VJsR

section signature:

state_system: agent * agent * symmetric_key * text * hash_func * nat * nat * text * text * text * text * text * set(agent) * nat -> fact
state_user: agent * agent * symmetric_key * hash_func * nat * nat * text * text * text * text * text * text * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact


section types:

y, user_system_ni, system_user_newpwi, newpwi, secretnumber, pwd, system_user_t, user_system_niy, system_user_pwi, pwi: protocol_id
MGoal, start: message
Dummy_Ni, Dummy_C, Dummy_Bi, Dummy_Cid, Dummy_Pwi, dummy_nonce, x, Cid, C, Y, Ni, Pwi, X, Bi: text
h, Hash: hash_func
dummy_sk, Key: symmetric_key
set_99, set_83, set_82, set_81, set_80, set_108, set_106, set_105, set_104, set_103: set
A2Goal, A1Goal, a, b, A, B, i: agent
Dummy_Set_37, Dummy_Set_34, Dummy_Set_32, Dummy_Set_23, ASGoal, Set_56, Set_37, Set_34, Set_32, Set_23, Dummy_Set_56: set(agent)
SID, Dummy_T, Dummy_State, 3, dummy_nat, SID2, SID1, State, T, 2, 1, 0, 7, 6, 4: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(b).
 iknows(h).
 iknows(i).
 state_user(a,b,dummy_sk,h,0,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_80,set_81,set_82,set_83,3).
 state_system(b,a,dummy_sk,x,h,0,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_99,4).
 state_user(a,b,dummy_sk,h,0,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_103,set_104,set_105,set_106,6).
 state_system(b,a,dummy_sk,x,h,0,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_108,7)


section rules:

step step_0 (A,B,Key,Hash,T,Cid,Bi,C,Dummy_Pwi,Y,Ni,Dummy_Set_23,Set_32,Set_34,Set_37,SID,Pwi) :=
 state_user(A,B,Key,Hash,0,T,Cid,Bi,C,Dummy_Pwi,Y,Ni,Dummy_Set_23,Set_32,Set_34,Set_37,SID).
 iknows(start)
=[exists Pwi]=>
 state_user(A,B,Key,Hash,1,T,Cid,Bi,C,Pwi,Y,Ni,Dummy_Set_23,Set_32,Set_34,Set_37,SID).
 iknows(scrypt(Key,Pwi)).
 secret(Pwi,pwi,Dummy_Set_23).
 witness(A,B,system_user_pwi,Pwi).
 contains(A,Dummy_Set_23).
 contains(B,Dummy_Set_23)

step step_1 (A,B,Key,Hash,Dummy_T,Dummy_Cid,Dummy_Bi,Dummy_C,Pwi,Y,Dummy_Ni,Set_23,Dummy_Set_32,Dummy_Set_34,Set_37,SID,T,Ni) :=
 state_user(A,B,Key,Hash,1,Dummy_T,Dummy_Cid,Dummy_Bi,Dummy_C,Pwi,Y,Dummy_Ni,Set_23,Dummy_Set_32,Dummy_Set_34,Set_37,SID).
 iknows(scrypt(Key,pair(Ni,pair(Y,pair(Pwi,Hash)))))
=[exists T]=>
 state_user(A,B,Key,Hash,2,T,xor(apply(Hash,Pwi),apply(Hash,pair(xor(xor(Ni,Y)),T))),apply(Hash,xor(xor(apply(Hash,Pwi),apply(Hash,pair(xor(xor(Ni,Y)),T))),apply(Hash,Pwi))),apply(Hash,xor(T,xor(Ni,xor(apply(Hash,xor(xor(apply(Hash,Pwi),apply(Hash,pair(xor(xor(Ni,Y)),T))),apply(Hash,Pwi))),Y)))),Pwi,Y,Ni,Set_23,Dummy_Set_32,Dummy_Set_34,Set_37,SID).
 request(A,B,user_system_niy,pair(Ni,pair(Y,pair(Pwi,Hash))),SID).
 witness(A,B,system_user_t,T).
 iknows(pair(xor(apply(Hash,Pwi),apply(Hash,pair(xor(xor(Ni,Y)),T))),pair(Ni,pair(apply(Hash,xor(T,xor(Ni,xor(apply(Hash,xor(xor(apply(Hash,Pwi),apply(Hash,pair(xor(xor(Ni,Y)),T))),apply(Hash,Pwi))),Y)))),T)))).
 secret(Pwi,pwd,Dummy_Set_32).
 secret(Y,secretnumber,Dummy_Set_34).
 contains(A,Dummy_Set_32).
 contains(B,Dummy_Set_32).
 contains(A,Dummy_Set_34).
 contains(B,Dummy_Set_34)

step step_2 (A,B,Key,Hash,T,Cid,Bi,C,Dummy_Pwi,Y,Ni,Set_23,Set_32,Set_34,Dummy_Set_37,SID,Pwi) :=
 state_user(A,B,Key,Hash,2,T,Cid,Bi,C,Dummy_Pwi,Y,Ni,Set_23,Set_32,Set_34,Dummy_Set_37,SID)
=[exists Pwi]=>
 state_user(A,B,Key,Hash,1,T,Cid,Bi,C,Pwi,Y,Ni,Set_23,Set_32,Set_34,Dummy_Set_37,SID).
 iknows(scrypt(Key,Pwi)).
 secret(Pwi,newpwi,Dummy_Set_37).
 witness(A,B,system_user_newpwi,Pwi).
 contains(A,Dummy_Set_37).
 contains(B,Dummy_Set_37)

step step_3 (B,A,Key,X,Hash,T,Cid,C,Y,Dummy_Ni,Dummy_Pwi,Dummy_Set_56,SID,Pwi) :=
 state_system(B,A,Key,X,Hash,0,T,Cid,C,Y,Dummy_Ni,Dummy_Pwi,Dummy_Set_56,SID).
 iknows(scrypt(Key,Pwi))
 =>
 state_system(B,A,Key,X,Hash,1,T,Cid,C,Y,apply(Hash,pair(Pwi,X)),Pwi,Dummy_Set_56,SID).
 witness(B,A,user_system_ni,apply(Hash,pair(Pwi,X))).
 iknows(scrypt(Key,pair(apply(Hash,pair(Pwi,X)),pair(Y,pair(Pwi,Hash))))).
 secret(Y,y,Dummy_Set_56).
 contains(A,Dummy_Set_56).
 contains(B,Dummy_Set_56)

step step_4 (B,A,Key,X,Hash,Dummy_T,Dummy_Cid,Dummy_C,Y,Ni,Pwi,Set_56,SID,T,Cid,C) :=
 state_system(B,A,Key,X,Hash,1,Dummy_T,Dummy_Cid,Dummy_C,Y,Ni,Pwi,Set_56,SID).
 iknows(pair(Cid,pair(Ni,pair(C,T))))
 =>
 state_system(B,A,Key,X,Hash,3,T,Cid,C,Y,Ni,Pwi,Set_56,SID)

step step_5 (B,A,Key,X,Hash,T,Cid,C,Y,Ni,Pwi,Set_56,SID) :=
 state_system(B,A,Key,X,Hash,3,T,Cid,C,Y,Ni,Pwi,Set_56,SID)
 =>
 state_system(B,A,Key,X,Hash,1,T,Cid,C,Y,Ni,Pwi,Set_56,SID)


section properties:

property secrecy_of_pwd (MGoal,ASGoal) :=
 [] ((secret(MGoal,pwd,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_pwi (MGoal,ASGoal) :=
 [] ((secret(MGoal,pwi,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_newpwi (MGoal,ASGoal) :=
 [] ((secret(MGoal,newpwi,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secretnumber (MGoal,ASGoal) :=
 [] ((secret(MGoal,secretnumber,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_y (MGoal,ASGoal) :=
 [] ((secret(MGoal,y,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_system_niy (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_system_niy,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_system_niy,MGoal))
     /\ ((request(A1Goal,A2Goal,user_system_niy,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_system_niy,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_system_user_pwi (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,system_user_pwi,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,system_user_pwi,MGoal))
     /\ ((request(A1Goal,A2Goal,system_user_pwi,MGoal,SID1)
           /\ request(A1Goal,A2Goal,system_user_pwi,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_system_user_newpwi (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,system_user_newpwi,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,system_user_newpwi,MGoal))
     /\ ((request(A1Goal,A2Goal,system_user_newpwi,MGoal,SID1)
           /\ request(A1Goal,A2Goal,system_user_newpwi,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_system_user_t (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,system_user_t,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,system_user_t,MGoal))
     /\ ((request(A1Goal,A2Goal,system_user_t,MGoal,SID1)
           /\ request(A1Goal,A2Goal,system_user_t,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_system_ni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_system_ni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_system_ni,MGoal))
     /\ ((request(A1Goal,A2Goal,user_system_ni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_system_ni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_pwd (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,pwd,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_pwi (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,pwi,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_newpwi (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,newpwi,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secretnumber (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secretnumber,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_y (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,y,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_system_niy (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_system_niy,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_system_niy,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_system_niy (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_system_niy,MGoal,SID1).
 request(A1Goal,A2Goal,user_system_niy,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_system_user_pwi (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,system_user_pwi,MGoal,SID) &
 not(witness(A2Goal,A1Goal,system_user_pwi,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_system_user_pwi (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,system_user_pwi,MGoal,SID1).
 request(A1Goal,A2Goal,system_user_pwi,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_system_user_newpwi (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,system_user_newpwi,MGoal,SID) &
 not(witness(A2Goal,A1Goal,system_user_newpwi,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_system_user_newpwi (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,system_user_newpwi,MGoal,SID1).
 request(A1Goal,A2Goal,system_user_newpwi,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_system_user_t (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,system_user_t,MGoal,SID) &
 not(witness(A2Goal,A1Goal,system_user_t,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_system_user_t (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,system_user_t,MGoal,SID1).
 request(A1Goal,A2Goal,system_user_t,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_system_ni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_system_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_system_ni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_system_ni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_system_ni,MGoal,SID1).
 request(A1Goal,A2Goal,user_system_ni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

