%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileMFT4xE80Mp

section signature:

state_sensor: agent * agent * symmetric_key * text * hash_func * nat * text * text * symmetric_key * message * nat -> fact
state_gateway: agent * agent * agent * symmetric_key * symmetric_key * text * text * text * hash_func * hash_func * nat * text * text * text * text * text * text * message * symmetric_key * set(agent) * set(agent) * set(agent) * nat -> fact
state_user: agent * agent * agent * symmetric_key * text * text * text * hash_func * nat * text * text * text * symmetric_key * set(agent) * set(agent) * set(agent) * nat -> fact


section types:

set_175, set_174, set_173, set_171, set_170, set_169, set_166, set_165, set_164, set_162, set_161, set_160, set_146, set_145, set_144, set_130, set_129, set_128: set
Set_65, Set_64, Set_63, Dummy_Set_65, Dummy_Set_64, Dummy_Set_63, Dummy_Set_33, Dummy_Set_32, Dummy_Set_28, Set_33, Set_32, Set_28, ASGoal: set(agent)
r1, r2, nu, gateway_sensor_sk, secret_kgs, secret_kgsnew, user_gateway_nu, gateway_user_sk, secret_sk, secret_kug, secret_kugnew: protocol_id
AIDu, Dummy_AIDu, dummy_msg, start, MGoal: message
13, 12, State, 11, 9, 8, 7, 5, SID, 4, Dummy_State, 3, 2, SID2, 1, SID1: nat
Hash, Add, f1, f2: hash_func
T, T2, IDsn, Nu, Dummy_TS, Dummy_T2, TS, TSugnew, M, Dummy_T, IDu, TSug, Dummy_TSugnew, Dummy_TSug, Dummy_Nu, dummy_nonce, idu, idsn, tsug: text
SK, Kgs, Dummy_Kgs, Kug, Dummy_SK, Dummy_Kug, dummy_sk, kug, kgs, k_is, kai: symmetric_key
SENSOR, GATEWAY, USER, A2Goal, A1Goal, u, g, s, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(idu).
 iknows(f1).
 iknows(f2).
 iknows(i).
 state_user(u,s,g,kug,idu,idsn,tsug,f1,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,set_128,set_129,set_130,3).
 state_gateway(g,u,s,kug,kgs,idu,idsn,tsug,f1,f2,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_sk,set_144,set_145,set_146,4).
 state_sensor(s,g,kgs,idsn,f1,1,dummy_nonce,dummy_nonce,dummy_sk,dummy_msg,5).
 state_user(u,s,g,kug,idu,idsn,tsug,f1,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,set_160,set_161,set_162,7).
 state_gateway(g,u,s,kug,kgs,idu,idsn,tsug,f1,f2,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_sk,set_164,set_165,set_166,8).
 state_sensor(s,g,kgs,idsn,f1,1,dummy_nonce,dummy_nonce,dummy_sk,dummy_msg,9).
 state_user(u,s,g,kug,idu,idsn,tsug,f1,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,set_169,set_170,set_171,11).
 state_gateway(g,u,s,kug,kgs,idu,idsn,tsug,f1,f2,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_sk,set_173,set_174,set_175,12).
 state_sensor(s,g,kgs,idsn,f1,1,dummy_nonce,dummy_nonce,dummy_sk,dummy_msg,13)


section rules:

step step_0 (USER,SENSOR,GATEWAY,Kug,IDu,IDsn,TSug,Hash,Dummy_Nu,TS,TSugnew,SK,Dummy_Set_28,Set_32,Set_33,SID,Nu) :=
 state_user(USER,SENSOR,GATEWAY,Kug,IDu,IDsn,TSug,Hash,1,Dummy_Nu,TS,TSugnew,SK,Dummy_Set_28,Set_32,Set_33,SID).
 iknows(start)
=[exists Nu]=>
 state_user(USER,SENSOR,GATEWAY,Kug,IDu,IDsn,TSug,Hash,2,Nu,TS,TSugnew,SK,Dummy_Set_28,Set_32,Set_33,SID).
 iknows(pair(xor(Kug,Nu),pair(apply(Hash,pair(IDu,pair(Kug,pair(Nu,TSug)))),pair(TSug,pair(IDsn,apply(Hash,pair(apply(Hash,pair(IDu,pair(Kug,pair(Nu,TSug)))),pair(Kug,pair(xor(Kug,Nu),IDsn))))))))).
 secret(Kug,secret_kug,Dummy_Set_28).
 witness(USER,GATEWAY,user_gateway_nu,Nu).
 contains(USER,Dummy_Set_28).
 contains(GATEWAY,Dummy_Set_28)

step step_1 (USER,SENSOR,GATEWAY,Dummy_Kug,IDu,IDsn,Dummy_TSug,Hash,Nu,TS,Dummy_TSugnew,Dummy_SK,Set_28,Dummy_Set_32,Dummy_Set_33,SID,TSugnew,SK) :=
 state_user(USER,SENSOR,GATEWAY,Dummy_Kug,IDu,IDsn,Dummy_TSug,Hash,2,Nu,TS,Dummy_TSugnew,Dummy_SK,Set_28,Dummy_Set_32,Dummy_Set_33,SID).
 iknows(pair(xor(apply(Hash,pair(Dummy_Kug,pair(IDu,Nu))),SK),pair(xor(TSugnew,apply(Hash,pair(Dummy_Kug,pair(IDu,Nu)))),apply(Hash,pair(xor(apply(Hash,pair(Dummy_Kug,pair(IDu,Nu))),SK),pair(Nu,pair(xor(TSugnew,apply(Hash,pair(Dummy_Kug,pair(IDu,Nu)))),Dummy_Kug)))))))
 =>
 state_user(USER,SENSOR,GATEWAY,apply(Hash,pair(Dummy_Kug,pair(IDu,TSugnew))),IDu,IDsn,TSugnew,Hash,3,Nu,TS,TSugnew,SK,Set_28,Dummy_Set_32,Dummy_Set_33,SID).
 secret(apply(Hash,pair(Dummy_Kug,pair(IDu,TSugnew))),secret_kugnew,Dummy_Set_32).
 secret(SK,secret_sk,Dummy_Set_33).
 request(USER,GATEWAY,gateway_user_sk,SK,SID).
 contains(USER,Dummy_Set_32).
 contains(GATEWAY,Dummy_Set_32).
 contains(USER,Dummy_Set_33).
 contains(GATEWAY,Dummy_Set_33).
 contains(SENSOR,Dummy_Set_33)

step step_2 (GATEWAY,USER,SENSOR,Kug,Kgs,IDu,IDsn,TSug,Hash,Add,Dummy_Nu,Dummy_T,T2,TS,TSugnew,M,Dummy_AIDu,Dummy_SK,Dummy_Set_63,Dummy_Set_64,Set_65,SID,Nu,T,SK) :=
 state_gateway(GATEWAY,USER,SENSOR,Kug,Kgs,IDu,IDsn,TSug,Hash,Add,1,Dummy_Nu,Dummy_T,T2,TS,TSugnew,M,Dummy_AIDu,Dummy_SK,Dummy_Set_63,Dummy_Set_64,Set_65,SID).
 iknows(pair(xor(Kug,Nu),pair(apply(Hash,pair(IDu,pair(Kug,pair(Nu,TSug)))),pair(TSug,pair(IDsn,apply(Hash,pair(apply(Hash,pair(IDu,pair(Kug,pair(Nu,TSug)))),pair(Kug,pair(xor(Kug,Nu),IDsn)))))))))
=[exists T,SK]=>
 state_gateway(GATEWAY,USER,SENSOR,Kug,Kgs,IDu,IDsn,TSug,Hash,Add,2,Nu,T,T2,TS,TSugnew,M,apply(Hash,pair(IDu,pair(Kug,pair(Nu,TSug)))),SK,Dummy_Set_63,Dummy_Set_64,Set_65,SID).
 iknows(pair(Dummy_AIDu,pair(xor(SK,apply(Hash,Kgs)),pair(T,apply(Hash,pair(Dummy_AIDu,pair(xor(apply(Hash,Kgs),SK),pair(T,Kgs)))))))).
 secret(Kgs,secret_kgs,Dummy_Set_63).
 secret(Nu,nu,Dummy_Set_64).
 request(GATEWAY,USER,user_gateway_nu,Nu,SID).
 witness(GATEWAY,SENSOR,gateway_sensor_sk,SK).
 contains(GATEWAY,Dummy_Set_63).
 contains(SENSOR,Dummy_Set_63).
 contains(GATEWAY,Dummy_Set_64).
 contains(USER,Dummy_Set_64)

step step_3 (GATEWAY,USER,SENSOR,Dummy_Kug,Dummy_Kgs,IDu,IDsn,TSug,Hash,Add,Nu,T,Dummy_T2,Dummy_TS,Dummy_TSugnew,M,AIDu,SK,Set_63,Set_64,Dummy_Set_65,SID,T2,TSugnew) :=
 state_gateway(GATEWAY,USER,SENSOR,Dummy_Kug,Dummy_Kgs,IDu,IDsn,TSug,Hash,Add,2,Nu,T,Dummy_T2,Dummy_TS,Dummy_TSugnew,M,AIDu,SK,Set_63,Set_64,Dummy_Set_65,SID).
 iknows(pair(T2,pair(IDsn,apply(Hash,pair(SK,pair(Dummy_Kgs,pair(IDsn,T2)))))))
=[exists TSugnew]=>
 state_gateway(GATEWAY,USER,SENSOR,apply(Hash,pair(Dummy_Kug,pair(IDu,TSugnew))),apply(Hash,pair(Dummy_Kgs,IDsn)),IDu,IDsn,TSug,Hash,Add,3,Nu,T,T2,xor(TSugnew,apply(Hash,pair(Dummy_Kug,pair(IDu,Nu)))),TSugnew,M,AIDu,SK,Set_63,Set_64,Dummy_Set_65,SID).
 iknows(pair(xor(apply(Hash,pair(Dummy_Kug,pair(IDu,Nu))),SK),pair(xor(TSugnew,apply(Hash,pair(Dummy_Kug,pair(IDu,Nu)))),apply(Hash,pair(xor(apply(Hash,pair(Dummy_Kug,pair(IDu,Nu))),SK),pair(Nu,pair(xor(TSugnew,apply(Hash,pair(Dummy_Kug,pair(IDu,Nu)))),Dummy_Kug))))))).
 secret(apply(Hash,pair(Dummy_Kgs,IDsn)),secret_kgsnew,Dummy_Set_65).
 witness(GATEWAY,USER,gateway_user_sk,SK).
 contains(GATEWAY,Dummy_Set_65).
 contains(SENSOR,Dummy_Set_65)

step step_4 (SENSOR,GATEWAY,Dummy_Kgs,IDsn,Hash,Dummy_T,Dummy_T2,Dummy_SK,Dummy_AIDu,SID,T,T2,SK,AIDu) :=
 state_sensor(SENSOR,GATEWAY,Dummy_Kgs,IDsn,Hash,1,Dummy_T,Dummy_T2,Dummy_SK,Dummy_AIDu,SID).
 iknows(pair(AIDu,pair(xor(SK,apply(Hash,Dummy_Kgs)),pair(T,apply(Hash,pair(AIDu,pair(xor(apply(Hash,Dummy_Kgs),SK),pair(T,Dummy_Kgs))))))))
=[exists T2]=>
 state_sensor(SENSOR,GATEWAY,apply(Hash,pair(Dummy_Kgs,IDsn)),IDsn,Hash,2,T,T2,SK,AIDu,SID).
 iknows(pair(T2,pair(IDsn,apply(Hash,pair(SK,pair(Dummy_Kgs,pair(IDsn,T2))))))).
 request(SENSOR,GATEWAY,gateway_sensor_sk,SK,SID)


section properties:

property secrecy_of_nu (MGoal,ASGoal) :=
 [] ((secret(MGoal,nu,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secret_sk (MGoal,ASGoal) :=
 [] ((secret(MGoal,secret_sk,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secret_kug (MGoal,ASGoal) :=
 [] ((secret(MGoal,secret_kug,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secret_kgs (MGoal,ASGoal) :=
 [] ((secret(MGoal,secret_kgs,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secret_kugnew (MGoal,ASGoal) :=
 [] ((secret(MGoal,secret_kugnew,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secret_kgsnew (MGoal,ASGoal) :=
 [] ((secret(MGoal,secret_kgsnew,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_gateway_nu (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_gateway_nu,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_gateway_nu,MGoal))
     /\ ((request(A1Goal,A2Goal,user_gateway_nu,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_gateway_nu,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gateway_sensor_sk (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gateway_sensor_sk,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gateway_sensor_sk,MGoal))
     /\ ((request(A1Goal,A2Goal,gateway_sensor_sk,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gateway_sensor_sk,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gateway_user_sk (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gateway_user_sk,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gateway_user_sk,MGoal))
     /\ ((request(A1Goal,A2Goal,gateway_user_sk,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gateway_user_sk,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_nu (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,nu,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secret_sk (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secret_sk,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secret_kug (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secret_kug,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secret_kgs (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secret_kgs,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secret_kugnew (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secret_kugnew,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secret_kgsnew (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secret_kgsnew,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_gateway_nu (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_gateway_nu,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_gateway_nu,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_gateway_nu (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_gateway_nu,MGoal,SID1).
 request(A1Goal,A2Goal,user_gateway_nu,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gateway_sensor_sk (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gateway_sensor_sk,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gateway_sensor_sk,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gateway_sensor_sk (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gateway_sensor_sk,MGoal,SID1).
 request(A1Goal,A2Goal,gateway_sensor_sk,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gateway_user_sk (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gateway_user_sk,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gateway_user_sk,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gateway_user_sk (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gateway_user_sk,MGoal,SID1).
 request(A1Goal,A2Goal,gateway_user_sk,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

