%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilesokes5

section signature:

state_reader: agent * agent * text * text * text * text * text * text * text * message * message * message * message * message * message * nat * set(agent) * nat -> fact
state_tag: agent * agent * text * text * text * text * text * text * text * message * message * message * message * message * message * nat * set(agent) * nat -> fact


section types:

authid, idtag, authk1: protocol_id
kr1, kr2, kr3, kr4, idsr, idenr, kt1, kt2, kt3, kt4, idst, ident, hello, k1, k2, k3, k4, ids, iden, Hello, K1, K2, K3, K4, IDen, IDS, Dummy_IDS, dummy_nonce: text
set_97, set_119, set_118, set_116, set_114, set_105: set
ASGoal, Set_57, Set_31, Dummy_Set_31, Dummy_Set_57: set(agent)
A2Goal, A1Goal, R, T, tag, reader, i: agent
dummy_msg, MGoal, N1, N2, A, B, C, D, start, Dummy_C, Dummy_B, Dummy_A, Dummy_N2, Dummy_N1: message
3, SID, SID2, SID1, 5, 1, State, 6, 4, 2, 0, 7, Dummy_State: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(tag).
 iknows(reader).
 iknows(hello).
 iknows(i).
 state_tag(reader,tag,hello,k1,k2,k3,k4,iden,ids,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,1,set_97,3).
 state_reader(reader,tag,hello,k1,k2,k3,k4,iden,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,0,set_105,4).
 state_tag(reader,i,hello,kr1,kr2,kr3,kr4,idenr,idsr,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,1,set_114,6).
 state_reader(reader,i,hello,kr1,kr2,kr3,kr4,idenr,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,0,set_116,7)


section rules:

step step_0 (T,R,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,Set_57,SID) :=
 state_tag(T,R,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,1,Set_57,SID).
 iknows(Hello)
 =>
 state_tag(T,R,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,3,Set_57,SID).
 iknows(IDS)

step step_1 (T,R,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,Dummy_N1,Dummy_N2,Dummy_Set_57,SID,N1,N2) :=
 state_tag(T,R,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,Dummy_N1,Dummy_N2,3,Dummy_Set_57,SID).
 iknows(pair(xor(xor(IDS,K1),N1),pair(xor(xor(IDS,K2),N1),xor(xor(IDS,K3),N2))))
 =>
 state_tag(T,R,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,5,Dummy_Set_57,SID).
 iknows(xor(xor(xor(IDS,IDen),xor(xor(xor(xor(IDS,K1),N1),IDS),K1)),xor(xor(xor(xor(IDS,K3),N2),IDS),K3))).
 secret(IDen,idtag,Dummy_Set_57).
 request(T,R,authk1,K1,SID).
 witness(T,R,authid,IDen).
 contains(R,Dummy_Set_57).
 contains(T,Dummy_Set_57)

step step_2 (R,T,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,Set_31,SID) :=
 state_reader(R,T,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,0,Set_31,SID).
 iknows(start)
 =>
 state_reader(R,T,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,2,Set_31,SID).
 iknows(Hello)

step step_3 (R,T,Hello,K1,K2,K3,K4,IDen,Dummy_IDS,Dummy_A,Dummy_B,Dummy_C,D,Dummy_N1,Dummy_N2,Set_31,SID,IDS,N1,N2) :=
 state_reader(R,T,Hello,K1,K2,K3,K4,IDen,Dummy_IDS,Dummy_A,Dummy_B,Dummy_C,D,Dummy_N1,Dummy_N2,2,Set_31,SID).
 iknows(IDS)
=[exists N2,N1]=>
 state_reader(R,T,Hello,K1,K2,K3,K4,IDen,IDS,xor(xor(IDS,K1),N1),xor(xor(IDS,K2),N1),xor(xor(IDS,K3),N2),D,N1,N2,4,Set_31,SID).
 iknows(pair(xor(xor(IDS,K1),N1),pair(xor(xor(IDS,K2),N1),xor(xor(IDS,K3),N2)))).
 witness(R,T,authk1,K1)

step step_4 (R,T,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,Dummy_Set_31,SID) :=
 state_reader(R,T,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,4,Dummy_Set_31,SID).
 iknows(xor(xor(xor(IDS,IDen),N1),N2))
 =>
 state_reader(R,T,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,6,Dummy_Set_31,SID).
 secret(IDen,idtag,Dummy_Set_31).
 request(R,T,authid,IDen,SID).
 contains(R,Dummy_Set_31).
 contains(T,Dummy_Set_31)


section properties:

property secrecy_of_idtag (MGoal,ASGoal) :=
 [] ((secret(MGoal,idtag,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_authk1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,authk1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,authk1,MGoal))
     /\ ((request(A1Goal,A2Goal,authk1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,authk1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_authid (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,authid,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,authid,MGoal))
     /\ ((request(A1Goal,A2Goal,authid,MGoal,SID1)
           /\ request(A1Goal,A2Goal,authid,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_idtag (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,idtag,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_authk1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,authk1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,authk1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_authk1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,authk1,MGoal,SID1).
 request(A1Goal,A2Goal,authk1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_authid (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,authid,MGoal,SID) &
 not(witness(A2Goal,A1Goal,authid,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_authid (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,authid,MGoal,SID1).
 request(A1Goal,A2Goal,authid,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

