%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilepdaZMB

section signature:

state_bob: agent * agent * symmetric_key * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * hash_func * set(text) * set(text) * set(agent) * nat -> fact
state_alice: agent * agent * symmetric_key * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(message) * set(agent) * nat -> fact


section types:

Dummy_Set_54, Set_54: set(message)
Set_88, Set_87, Dummy_Set_88, Dummy_Set_87, Dummy_Set_50, Set_50, Set_45, Dummy_Set_45: set(text)
alice_bob_du, bob_alice_ds, subs1, subs2, subs3, subs4, subs5: protocol_id
set_183, set_182, set_181, set_179, set_178, set_177, set_176, set_175, set_174, set_165, set_164, set_163, set_138, set_137, set_136, set_135, set_134, set_133: set
Set_89, Dummy_Set_89, Dummy_Set_55, Set_55, Dummy_Set_51, Set_51, Set_46, Dummy_Set_46, ASGoal: set(agent)
M1, M2, M3, M4, SK, SKV, Dummy_SKV, Dummy_SK, Dummy_M4, Dummy_M3, Dummy_M2, Dummy_M1, start, dummy_msg, MGoal: message
7, 6, State, 4, SID, 3, 2, 1, Dummy_State, 0, SID2, SID1: nat
IDi, PWi, BTi, Bi, Ai, X, BIOi, Vi, CIDi, Ran, Dummy_Ds, Du, Dummy_IDi, Ds, P, Dummy_Ran, Dummy_Du, Dummy_CIDi, Dummy_Vi, Dummy_BIOi, Dummy_Ai, Dummy_Bi, dummy_nonce, idi, pwi, bti, bi, ai, x, bioi, vi, cidi, ran, m1, m2, m3, m4, du, ds, p: text
Inc, H, Add, Sub, Mul, h, dummy_hash, add, sub, mul: hash_func
SKuisj, skuisj: symmetric_key
Ui, Sj, A2Goal, A1Goal, ui, sj, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(sj).
 iknows(h).
 iknows(add).
 iknows(sub).
 iknows(mul).
 iknows(cidi).
 iknows(p).
 iknows(bioi).
 iknows(m1).
 iknows(m2).
 iknows(m3).
 iknows(m4).
 iknows(i).
 state_alice(ui,sj,skuisj,h,add,sub,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_133,set_134,set_135,set_136,set_137,set_138,3).
 state_bob(sj,ui,skuisj,h,add,sub,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_163,set_164,set_165,4).
 state_alice(ui,sj,skuisj,h,add,sub,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_174,set_175,set_176,set_177,set_178,set_179,6).
 state_bob(sj,ui,skuisj,h,add,sub,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_181,set_182,set_183,7)


section rules:

step step_0 (Ui,Sj,SKuisj,H,Add,Sub,Mul,IDi,PWi,BTi,Bi,Ai,X,BIOi,Vi,CIDi,Ran,Du,Ds,P,M1,M2,M3,M4,SK,SKV,Inc,Dummy_Set_45,Dummy_Set_46,Set_50,Set_51,Set_54,Set_55,SID) :=
 state_alice(Ui,Sj,SKuisj,H,Add,Sub,Mul,0,IDi,PWi,BTi,Bi,Ai,X,BIOi,Vi,CIDi,Ran,Du,Ds,P,M1,M2,M3,M4,SK,SKV,Inc,Dummy_Set_45,Dummy_Set_46,Set_50,Set_51,Set_54,Set_55,SID).
 iknows(start)
 =>
 state_alice(Ui,Sj,SKuisj,H,Add,Sub,Mul,1,IDi,PWi,BTi,Bi,Ai,X,BIOi,Vi,CIDi,Ran,Du,Ds,P,M1,M2,M3,M4,SK,SKV,Inc,Dummy_Set_45,Dummy_Set_46,Set_50,Set_51,Set_54,Set_55,SID).
 iknows(scrypt(SKuisj,IDi)).
 secret(Dummy_Set_45,subs1,Dummy_Set_46).
 contains(IDi,Dummy_Set_45).
 contains(Ui,Dummy_Set_46).
 contains(Sj,Dummy_Set_46)

step step_1 (Ui,Sj,SKuisj,H,Add,Sub,Mul,IDi,PWi,BTi,Dummy_Bi,Dummy_Ai,X,Dummy_BIOi,Dummy_Vi,Dummy_CIDi,Ran,Dummy_Du,Ds,P,Dummy_M1,Dummy_M2,M3,M4,SK,SKV,Inc,Set_45,Set_46,Dummy_Set_50,Dummy_Set_51,Set_54,Set_55,SID,Ai,CIDi,Du) :=
 state_alice(Ui,Sj,SKuisj,H,Add,Sub,Mul,1,IDi,PWi,BTi,Dummy_Bi,Dummy_Ai,X,Dummy_BIOi,Dummy_Vi,Dummy_CIDi,Ran,Dummy_Du,Ds,P,Dummy_M1,Dummy_M2,M3,M4,SK,SKV,Inc,Set_45,Set_46,Dummy_Set_50,Dummy_Set_51,Set_54,Set_55,SID).
 iknows(scrypt(SKuisj,pair(Ai,CIDi)))
=[exists Du]=>
 state_alice(Ui,Sj,SKuisj,H,Add,Sub,Mul,2,IDi,PWi,BTi,scrypt(apply(h,pair(IDi,PWi)),pair(Ai,apply(h,pair(IDi,PWi)))),Ai,X,apply(H,BTi),apply(h,pair(IDi,PWi)),CIDi,Ran,Du,Ds,P,apply(h,pair(Dummy_Ai,apply(Mul,pair(Du,P)))),apply(Add,pair(apply(Mul,pair(Dummy_Du,P)),apply(Mul,pair(Dummy_Ai,P)))),M3,M4,SK,SKV,Inc,Set_45,Set_46,Dummy_Set_50,Dummy_Set_51,Set_54,Set_55,SID).
 iknows(apply(h,pair(Dummy_Ai,apply(Mul,pair(Du,P))))).
 secret(Dummy_Set_50,subs2,Dummy_Set_51).
 witness(Ui,Sj,alice_bob_du,Du).
 contains(Dummy_Du,Dummy_Set_50).
 contains(Ui,Dummy_Set_51)

step step_2 (Ui,Sj,SKuisj,H,Add,Sub,Mul,IDi,PWi,BTi,Bi,Ai,X,BIOi,Vi,Dummy_CIDi,Ran,Du,Ds,P,M1,M2,Dummy_M3,Dummy_M4,Dummy_SK,Dummy_SKV,Inc,Set_45,Set_46,Set_50,Set_51,Dummy_Set_54,Dummy_Set_55,SID,CIDi,M3,M4) :=
 state_alice(Ui,Sj,SKuisj,H,Add,Sub,Mul,2,IDi,PWi,BTi,Bi,Ai,X,BIOi,Vi,Dummy_CIDi,Ran,Du,Ds,P,M1,M2,Dummy_M3,Dummy_M4,Dummy_SK,Dummy_SKV,Inc,Set_45,Set_46,Set_50,Set_51,Dummy_Set_54,Dummy_Set_55,SID).
 iknows(pair(M3,pair(M4,CIDi)))
 =>
 state_alice(Ui,Sj,SKuisj,H,Add,Sub,Mul,3,IDi,PWi,BTi,Bi,Ai,X,BIOi,Vi,CIDi,Ran,Du,Ds,P,M1,M2,M3,M4,apply(Mul,pair(Du,apply(Sub,pair(M3,apply(Mul,pair(Du,P)))))),apply(H,pair(apply(Mul,pair(Du,apply(Sub,pair(M3,apply(Mul,pair(Du,P)))))),apply(Sub,pair(M3,apply(Mul,pair(Du,P)))))),Inc,Set_45,Set_46,Set_50,Set_51,Dummy_Set_54,Dummy_Set_55,SID).
 iknows(apply(H,pair(apply(Mul,pair(Du,apply(Sub,pair(M3,apply(Mul,pair(Du,P)))))),apply(Sub,pair(M3,apply(Mul,pair(Du,P))))))).
 secret(Dummy_Set_54,subs3,Dummy_Set_55).
 contains(Dummy_SK,Dummy_Set_54).
 contains(Ui,Dummy_Set_55).
 contains(Sj,Dummy_Set_55)

step step_3 (Sj,Ui,SKuisj,H,Add,Sub,Mul,IDi,PWi,BTi,Bi,Dummy_Ai,X,BIOi,Vi,Dummy_CIDi,Dummy_Ran,Du,Ds,P,M1,M2,M3,M4,SK,SKV,Inc,Dummy_Set_87,Set_88,Set_89,SID,Ran) :=
 state_bob(Sj,Ui,SKuisj,H,Add,Sub,Mul,0,IDi,PWi,BTi,Bi,Dummy_Ai,X,BIOi,Vi,Dummy_CIDi,Dummy_Ran,Du,Ds,P,M1,M2,M3,M4,SK,SKV,Inc,Dummy_Set_87,Set_88,Set_89,SID).
 iknows(scrypt(SKuisj,IDi))
=[exists Ran]=>
 state_bob(Sj,Ui,SKuisj,H,Add,Sub,Mul,1,IDi,PWi,BTi,Bi,apply(H,pair(IDi,X)),X,BIOi,Vi,scrypt(X,pair(IDi,Ran)),Ran,Du,Ds,P,M1,M2,M3,M4,SK,SKV,Inc,Dummy_Set_87,Set_88,Set_89,SID).
 secret(Dummy_Set_87,subs4,Sj).
 iknows(scrypt(SKuisj,pair(apply(H,pair(IDi,X)),scrypt(X,pair(IDi,Ran))))).
 contains(X,Dummy_Set_87)

step step_4 (Sj,Ui,SKuisj,H,Add,Sub,Mul,Dummy_IDi,PWi,BTi,Bi,Dummy_Ai,X,BIOi,Vi,Dummy_CIDi,Dummy_Ran,Du,Dummy_Ds,P,Dummy_M1,Dummy_M2,Dummy_M3,Dummy_M4,Dummy_SK,SKV,Inc,Set_87,Dummy_Set_88,Dummy_Set_89,SID,Ran,Ds,M1,M2) :=
 state_bob(Sj,Ui,SKuisj,H,Add,Sub,Mul,1,Dummy_IDi,PWi,BTi,Bi,Dummy_Ai,X,BIOi,Vi,Dummy_CIDi,Dummy_Ran,Du,Dummy_Ds,P,Dummy_M1,Dummy_M2,Dummy_M3,Dummy_M4,Dummy_SK,SKV,Inc,Set_87,Dummy_Set_88,Dummy_Set_89,SID).
 iknows(pair(M1,pair(M2,CIDi)))
=[exists Ran,Ds]=>
 state_bob(Sj,Ui,SKuisj,H,Add,Sub,Mul,2,scrypt(X,scrypt(X,pair(Dummy_IDi,Ran))),PWi,BTi,Bi,apply(H,pair(scrypt(X,scrypt(X,pair(Dummy_IDi,Ran))),X)),X,BIOi,Vi,scrypt(X,pair(Dummy_IDi,Ran)),Ran,Du,Ds,P,M1,M2,apply(Add,pair(apply(Mul,pair(Dummy_Ds,P)),apply(Mul,apply(Sub,pair(Dummy_M2,apply(Mul,pair(apply(H,pair(scrypt(X,scrypt(X,pair(Dummy_IDi,Ran))),X)),P))))))),apply(H,pair(Dummy_Ai,apply(Mul,pair(Dummy_Ds,P)))),apply(Mul,pair(Dummy_Ds,apply(Mul,pair(Du,P)))),SKV,Inc,Set_87,Dummy_Set_88,Dummy_Set_89,SID).
 iknows(pair(apply(Add,pair(apply(Mul,pair(Dummy_Ds,P)),apply(Mul,apply(Sub,pair(Dummy_M2,apply(Mul,pair(apply(H,pair(scrypt(X,scrypt(X,pair(Dummy_IDi,Ran))),X)),P))))))),pair(apply(H,pair(Dummy_Ai,apply(Mul,pair(Dummy_Ds,P)))),scrypt(X,pair(Dummy_IDi,Ran))))).
 secret(Dummy_Set_88,subs5,Dummy_Set_89).
 witness(Sj,Ui,bob_alice_ds,Ds).
 contains(Dummy_Ds,Dummy_Set_88).
 contains(Sj,Dummy_Set_89)

step step_5 (Sj,Ui,SKuisj,H,Add,Sub,Mul,IDi,PWi,BTi,Bi,Ai,X,BIOi,Vi,CIDi,Ran,Du,Ds,P,M1,M2,M3,M4,SK,Dummy_SKV,Inc,Set_87,Set_88,Set_89,SID) :=
 state_bob(Sj,Ui,SKuisj,H,Add,Sub,Mul,2,IDi,PWi,BTi,Bi,Ai,X,BIOi,Vi,CIDi,Ran,Du,Ds,P,M1,M2,M3,M4,SK,Dummy_SKV,Inc,Set_87,Set_88,Set_89,SID).
 iknows(SKV)
 =>
 state_bob(Sj,Ui,SKuisj,H,Add,Sub,Mul,3,IDi,PWi,BTi,Bi,Ai,X,BIOi,Vi,CIDi,Ran,Du,Ds,P,M1,M2,M3,M4,SK,apply(H,pair(SK,apply(Mul,pair(Ds,P)))),Inc,Set_87,Set_88,Set_89,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob_du (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_du,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_du,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_du,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_du,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_ds (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_ds,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_ds,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_ds,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_ds,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob_du (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_du,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_du,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_du (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_du,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_du,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_ds (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_ds,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_ds,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_ds (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_ds,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_ds,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

