%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilezGCDwh

section signature:

state_user3: agent * public_key * public_key * text * text * text * hash_func * hash_func * hash_func * hash_func * text * nat * agent * agent * public_key * public_key * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * symmetric_key * set(pair(agent,text)) * set(agent) * nat -> fact
state_user2: agent * public_key * public_key * text * text * text * hash_func * hash_func * hash_func * hash_func * text * nat * agent * agent * public_key * public_key * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * symmetric_key * set(pair(agent,text)) * set(agent) * nat -> fact
state_user1: agent * public_key * public_key * text * text * text * hash_func * hash_func * hash_func * hash_func * text * nat * agent * agent * public_key * public_key * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * symmetric_key * set(pair(agent,text)) * set(crypt(inv(public_key),pair(agent,pair(text,pair(text,text))))) * set(agent) * nat -> fact
state_kgc: agent * text * text * text * text * text * public_key * public_key * public_key * public_key * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * nat -> fact


section types:

u2_u3_t, u3_u2_t, sk, u1_u3_t, u1_u2_t, u3_u1_t, u2_u1_t: protocol_id
IDRing: set(pair(agent,text))
Set_76, Dummy_Set_76: set(crypt(inv(public_key),pair(agent,pair(text,pair(text,text)))))
SK, Dummy_SK, dummy_sk: symmetric_key
set_316, set_315, set_313, set_312, set_310, set_308, set_306, set_305, set_302, set_300, set_299, set_298, set_288, set_275, set_247, set_246: set
dummy_set: set(message)
Set_173, Set_131, Dummy_Set_173, Set_86, Dummy_Set_131, Dummy_Set_86, ASGoal: set(agent)
State, 21, 19, 18, 15, 14, 13, 11, 10, 8, 6, SID, 3, 2, 5, 4, 1, 0, Dummy_State, SID2, SID1: nat
start, MGoal: message
K1, K2, K3, Kg, Dummy_K1, Dummy_K3, Dummy_K2, dummy_pk, k1, k2, k3, ki, kg: public_key
T3, T2, T1, R1, R2, R3, S3, X3, K32, K31, K1r, K2r, K3r, EX1, EX2, EX3, K3R, K3L, Ppub, P, ID1, ID2, ID3, S2, X2, K23, K21, K2R, K2L, Dummy_K3L, Dummy_K3R, Dummy_K31, Dummy_K32, Dummy_X3, Dummy_K1r, Dummy_K2L, Dummy_K2R, Dummy_K21, Dummy_K23, Dummy_ID1, Dummy_X2, S1, Dummy_EX3, Dummy_EX2, Dummy_K3r, Dummy_K2r, X1, Dummy_K1L, K12, Dummy_K1R, K13, Dummy_EX1, Dummy_K13, Dummy_K12, Dummy_T2, Dummy_T3, K1R, K1L, Dummy_ID3, Dummy_ID2, Dummy_X1, Dummy_T1, Dummy_Rr3, Dummy_Rr2, Dummy_Rr1, Dummy_R3, Dummy_R2, Dummy_R1, Dummy_S3, Dummy_S2, Dummy_S1, Dummy_Ppub, dummy_nonce, Rr1, Rr2, Rr3, p, id1, id2, id3, idi, r1, S, r2, r3, s: text
H1, H, M, A, h, h1, m, a: hash_func
kc, U1, U2, U3, Dummy_U1, Dummy_U3, Dummy_U2, dummy_agent, A2Goal, A1Goal, Kc, u1, i, u2, u3: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u1).
 iknows(u2).
 iknows(u3).
 iknows(kc).
 iknows(k1).
 iknows(k2).
 iknows(k3).
 iknows(p).
 iknows(h).
 iknows(h1).
 iknows(m).
 iknows(a).
 iknows(ki).
 iknows(kg).
 iknows(idi).
 iknows(i).
