%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileWasTE5

section signature:

state_server: agent * agent * agent * agent * agent * text * text * text * text * public_key * public_key * public_key * public_key * hash_func * message * message * message * set(pair(text,public_key)) * symmetric_key * nat * message * message * text * text * text * text * text * text * set(agent) * nat -> fact
state_brouter: agent * agent * agent * agent * text * text * text * text * public_key * public_key * public_key * public_key * hash_func * nat * text * text * text * text * text * text * scrypt(message,pair(text,message)) * scrypt(hash_func,pair(text,pair(text,pair(public_key,pair(public_key,pair(text,pair(message,pair(message,text)))))))) * scrypt(hash_func,pair(text,pair(message,message))) * nat -> fact
state_router: agent * agent * agent * agent * text * text * text * text * public_key * public_key * public_key * public_key * hash_func * nat * text * text * text * text * text * scrypt(message,pair(text,message)) * scrypt(hash_func,pair(text,pair(text,pair(public_key,pair(public_key,pair(text,pair(message,pair(message,text)))))))) * scrypt(hash_func,pair(text,pair(message,message))) * nat -> fact
state_enddevice: agent * agent * agent * agent * agent * text * text * text * text * text * public_key * public_key * public_key * public_key * hash_func * message * message * message * symmetric_key * nat * text * text * text * text * message * message * crypt(inv(public_key),pair(text,pair(text,pair(public_key,pair(text,pair(text,text)))))) * set(agent) * set(agent) * set(agent) * nat -> fact
state_kgc: agent * agent * agent * agent * agent * text * text * message * message * message * symmetric_key * nat * message * nat -> fact


section types:

set_201, IdList: set(pair(text,public_key))
sss, kes, sse, sne: protocol_id
Macse, Macsr, Dummy_Macse, Dummy_Macsr: scrypt(hash_func,pair(text,pair(message,message)))
Maced, Dummy_Maced: scrypt(hash_func,pair(text,pair(text,pair(public_key,pair(public_key,pair(text,pair(message,pair(message,text))))))))
Edmessage, Dummy_Edmessage: scrypt(message,pair(text,message))
ksymesk, Ksymesk: symmetric_key
h, H, dummy_hash: hash_func
Tick_se, Dummy_Tick_se: crypt(inv(public_key),pair(text,pair(text,pair(public_key,pair(text,pair(text,text))))))
ASGoal, Set_129, Set_42, Set_40, Set_37, Dummy_Set_129, Dummy_Set_42, Dummy_Set_40, Dummy_Set_37: set(agent)
kpube, kpubr, kpubbr, kpubs, kpubi, Kpube, Kpubr, Kpubbr, Kpubs, dummy_pk: public_key
prefix, ide, idr, idbr, ids, idi, IDe, IDs, Te, Tb, Ts, Tend, Sno, Prefix, IDr, IDbr, Dummy_Tb, Dummy_IDe, Dummy_Tend, Dummy_Ts, Dummy_Sno, Dummy_Te, dummy_nonce: text
set_234, set_209, set_208, set_207: set
dummy_msg, MGoal, g, ne, se, ss, si, start, Kes, G, Ss, Se, Ge, Ne, Dummy_Ge, Gs, Dummy_Gs, Dummy_Kes: message
e, l, b, s, k, E, L, B, S, K, i: agent
State, 6, 5, 2, 1, 0, 7, SID, 4, Dummy_State: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(e).
 iknows(l).
 iknows(b).
 iknows(s).
 iknows(prefix).
 iknows(ide).
 iknows(idr).
 iknows(idbr).
 iknows(ids).
 iknows(idi).
 iknows(kpube).
 iknows(kpubr).
 iknows(kpubbr).
 iknows(kpubs).
 iknows(kpubi).
 iknows(inv(kpubi)).
 iknows(h).
 iknows(g).
 iknows(si).
 iknows(i).
 state_kgc(k,e,l,b,s,ide,ids,g,ss,se,ksymesk,0,dummy_msg,2).
 state_enddevice(e,l,b,s,k,prefix,ide,idr,idbr,ids,kpube,kpubr,kpubbr,kpubs,h,g,ne,se,ksymesk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,crypt(inv(dummy_pk),pair(dummy_nonce,pair(dummy_nonce,pair(dummy_pk,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce)))))),set_207,set_208,set_209,4).
 state_router(l,e,b,s,prefix,idr,idbr,ids,kpube,kpubr,kpubbr,kpubs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,scrypt(dummy_msg,pair(dummy_nonce,dummy_msg)),scrypt(dummy_hash,pair(dummy_nonce,pair(dummy_nonce,pair(dummy_pk,pair(dummy_pk,pair(dummy_nonce,pair(dummy_msg,pair(dummy_msg,dummy_nonce)))))))),scrypt(dummy_hash,pair(dummy_nonce,pair(dummy_msg,dummy_msg))),5).
 state_brouter(b,e,l,s,prefix,idr,idbr,ids,kpube,kpubr,kpubbr,kpubs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,scrypt(dummy_msg,pair(dummy_nonce,dummy_msg)),scrypt(dummy_hash,pair(dummy_nonce,pair(dummy_nonce,pair(dummy_pk,pair(dummy_pk,pair(dummy_nonce,pair(dummy_msg,pair(dummy_msg,dummy_nonce)))))))),scrypt(dummy_hash,pair(dummy_nonce,pair(dummy_msg,dummy_msg))),6).
 state_server(s,e,l,b,k,prefix,idr,idbr,ids,kpube,kpubr,kpubbr,kpubs,h,g,ne,ss,set_201,ksymesk,0,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_234,7).
 contains(pair(ide,kpube),set_201).
 contains(pair(idr,kpubr),set_201).
 contains(pair(idbr,kpubbr),set_201).
 contains(pair(ids,kpubs),set_201)


section rules:

step step_0 (K,E,L,B,S,IDe,IDs,G,Ss,Se,Ksymesk,Kes,SID) :=
 state_kgc(K,E,L,B,S,IDe,IDs,G,Ss,Se,Ksymesk,0,Kes,SID).
 iknows(start)
 =>
 state_kgc(K,E,L,B,S,IDe,IDs,G,Ss,Se,Ksymesk,1,Kes,SID).
 iknows(pair(S,pair(K,scrypt(Ksymesk,pair(IDs,exp(G,Se))))))

step step_1 (K,E,L,B,S,IDe,IDs,G,Ss,Se,Ksymesk,Dummy_Kes,SID,Kes) :=
 state_kgc(K,E,L,B,S,IDe,IDs,G,Ss,Se,Ksymesk,1,Dummy_Kes,SID).
 iknows(pair(K,pair(S,scrypt(Ksymesk,Kes))))
 =>
 state_kgc(K,E,L,B,S,IDe,IDs,G,Ss,Se,Ksymesk,2,Kes,SID).
 iknows(pair(E,pair(K,scrypt(Ksymesk,pair(IDe,exp(G,Ss))))))

step step_2 (E,L,B,S,K,Prefix,IDe,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,G,Ne,Se,Ksymesk,Dummy_Te,Ts,Tend,Dummy_Sno,Dummy_Gs,Dummy_Kes,Tick_se,Dummy_Set_37,Dummy_Set_40,Dummy_Set_42,SID,Te,Sno,Gs) :=
 state_enddevice(E,L,B,S,K,Prefix,IDe,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,G,Ne,Se,Ksymesk,0,Dummy_Te,Ts,Tend,Dummy_Sno,Dummy_Gs,Dummy_Kes,Tick_se,Dummy_Set_37,Dummy_Set_40,Dummy_Set_42,SID).
 iknows(pair(E,pair(K,scrypt(Ksymesk,pair(IDe,Gs)))))
=[exists Sno,Te]=>
 state_enddevice(E,L,B,S,K,Prefix,IDe,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,G,Ne,Se,Ksymesk,1,Te,Ts,Tend,Sno,Gs,apply(H,pair(exp(Gs,Se),Ne)),Tick_se,Dummy_Set_37,Dummy_Set_40,Dummy_Set_42,SID).
 iknows(pair(Prefix,pair(IDe,pair(IDr,crypt(inv(Kpube),pair(IDe,pair(IDr,pair(Te,pair(scrypt(apply(H,pair(exp(Gs,Se),Ne)),pair(Sno,Ne)),apply(H,pair(IDe,pair(IDr,pair(Kpube,pair(Kpubr,pair(Te,pair(Ne,pair(apply(H,pair(exp(Gs,Se),Ne)),Sno))))))))))))))))).
 secret(Ne,sne,Dummy_Set_37).
 secret(Se,sse,Dummy_Set_40).
 secret(apply(H,pair(exp(Gs,Se),Ne)),kes,Dummy_Set_42).
 contains(E,Dummy_Set_37).
 contains(S,Dummy_Set_37).
 contains(E,Dummy_Set_40).
 contains(S,Dummy_Set_40).
 contains(E,Dummy_Set_42).
 contains(S,Dummy_Set_42)

step step_3 (E,L,B,S,K,Prefix,IDe,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,G,Ne,Se,Ksymesk,Te,Dummy_Ts,Dummy_Tend,Sno,Gs,Kes,Dummy_Tick_se,Set_37,Set_40,Set_42,SID,Ts,Tend) :=
 state_enddevice(E,L,B,S,K,Prefix,IDe,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,G,Ne,Se,Ksymesk,1,Te,Dummy_Ts,Dummy_Tend,Sno,Gs,Kes,Dummy_Tick_se,Set_37,Set_40,Set_42,SID).
 iknows(pair(Prefix,pair(IDr,pair(IDe,pair(crypt(inv(Kpubs),pair(Prefix,pair(IDe,pair(Kpube,pair(Ts,pair(Tend,Sno)))))),apply(H,pair(Sno,pair(Ne,Kes))))))))
 =>
 state_enddevice(E,L,B,S,K,Prefix,IDe,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,G,Ne,Se,Ksymesk,2,Te,Ts,Tend,Sno,Gs,Kes,crypt(inv(Kpubs),pair(Prefix,pair(IDe,pair(Kpube,pair(Ts,pair(Tend,Sno)))))),Set_37,Set_40,Set_42,SID)

step step_4 (L,E,B,S,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,Dummy_Te,Ts,Tend,Sno,Dummy_IDe,Dummy_Edmessage,Dummy_Maced,Macsr,SID,Te,IDe,Edmessage,Maced) :=
 state_router(L,E,B,S,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,0,Dummy_Te,Ts,Tend,Sno,Dummy_IDe,Dummy_Edmessage,Dummy_Maced,Macsr,SID).
 iknows(pair(Prefix,pair(IDe,pair(IDr,crypt(inv(Kpube),pair(IDe,pair(IDr,pair(Te,pair(Edmessage,Maced)))))))))
 =>
 state_router(L,E,B,S,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,1,Te,Ts,Tend,Sno,IDe,Edmessage,Maced,Macsr,SID).
 iknows(pair(Prefix,pair(IDr,pair(IDbr,crypt(inv(Kpube),pair(IDe,pair(IDr,pair(Te,pair(Edmessage,Maced)))))))))

step step_5 (L,E,B,S,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,Te,Dummy_Ts,Dummy_Tend,Dummy_Sno,IDe,Edmessage,Maced,Dummy_Macsr,SID,Ts,Tend,Sno,Macsr) :=
 state_router(L,E,B,S,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,1,Te,Dummy_Ts,Dummy_Tend,Dummy_Sno,IDe,Edmessage,Maced,Dummy_Macsr,SID).
 iknows(pair(Prefix,pair(IDbr,pair(IDr,pair(crypt(inv(Kpubs),pair(Prefix,pair(IDe,pair(Kpube,pair(Ts,pair(Tend,Sno)))))),Macsr)))))
 =>
 state_router(L,E,B,S,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,2,Te,Ts,Tend,Sno,IDe,Edmessage,Maced,Macsr,SID).
 iknows(pair(Prefix,pair(IDr,pair(IDe,pair(crypt(inv(Kpubs),pair(Prefix,pair(IDe,pair(Kpube,pair(Ts,pair(Tend,Sno)))))),Macsr)))))

step step_6 (B,E,L,S,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,Dummy_Te,Dummy_Tb,Ts,Tend,Sno,Dummy_IDe,Dummy_Edmessage,Dummy_Maced,Macse,SID,Te,Tb,IDe,Edmessage,Maced) :=
 state_brouter(B,E,L,S,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,0,Dummy_Te,Dummy_Tb,Ts,Tend,Sno,Dummy_IDe,Dummy_Edmessage,Dummy_Maced,Macse,SID).
 iknows(pair(Prefix,pair(IDr,pair(IDbr,crypt(inv(Kpube),pair(IDe,pair(IDr,pair(Te,pair(Edmessage,Maced)))))))))
=[exists Tb]=>
 state_brouter(B,E,L,S,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,5,Te,Tb,Ts,Tend,Sno,IDe,Edmessage,Maced,Macse,SID).
 iknows(pair(Prefix,pair(IDbr,pair(IDs,pair(crypt(inv(Kpube),pair(IDe,pair(IDr,pair(Te,pair(Edmessage,Maced))))),crypt(inv(Kpubbr),pair(Tb,apply(H,pair(IDe,pair(IDr,pair(IDbr,pair(Kpube,pair(Kpubr,pair(Kpubbr,Tb))))))))))))))

step step_7 (B,E,L,S,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,Te,Tb,Dummy_Ts,Dummy_Tend,Dummy_Sno,IDe,Edmessage,Maced,Dummy_Macse,SID,Ts,Tend,Sno,Macse) :=
 state_brouter(B,E,L,S,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,5,Te,Tb,Dummy_Ts,Dummy_Tend,Dummy_Sno,IDe,Edmessage,Maced,Dummy_Macse,SID).
 iknows(pair(Prefix,pair(IDs,pair(IDbr,pair(crypt(inv(Kpubs),pair(Prefix,pair(IDe,pair(Kpube,pair(Ts,pair(Tend,Sno)))))),Macse)))))
 =>
 state_brouter(B,E,L,S,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,6,Te,Tb,Ts,Tend,Sno,IDe,Edmessage,Maced,Macse,SID).
 iknows(pair(Prefix,pair(IDbr,pair(IDr,pair(crypt(inv(Kpubs),pair(Prefix,pair(IDe,pair(Kpube,pair(Ts,pair(Tend,Sno)))))),Macse)))))

step step_8 (S,E,L,B,K,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,G,Ne,Ss,IdList,Ksymesk,Dummy_Ge,Dummy_Kes,Te,Tb,Ts,Tend,Sno,IDe,Set_129,SID,Ge) :=
 state_server(S,E,L,B,K,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,G,Ne,Ss,IdList,Ksymesk,0,Dummy_Ge,Dummy_Kes,Te,Tb,Ts,Tend,Sno,IDe,Set_129,SID).
 iknows(pair(S,pair(K,scrypt(Ksymesk,pair(IDs,Ge)))))
 =>
 state_server(S,E,L,B,K,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,G,Ne,Ss,IdList,Ksymesk,1,Ge,apply(H,pair(exp(Ge,Ss),Ne)),Te,Tb,Ts,Tend,Sno,IDe,Set_129,SID).
 iknows(pair(K,pair(S,scrypt(Ksymesk,apply(H,pair(exp(Ge,Ss),Ne))))))

step step_9 (S,E,L,B,K,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,G,Ne,Ss,IdList,Ksymesk,Ge,Kes,Dummy_Te,Dummy_Tb,Dummy_Ts,Dummy_Tend,Dummy_Sno,Dummy_IDe,Dummy_Set_129,SID,Te,Tb,Ts,Tend,Sno,IDe) :=
 state_server(S,E,L,B,K,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,G,Ne,Ss,IdList,Ksymesk,1,Ge,Kes,Dummy_Te,Dummy_Tb,Dummy_Ts,Dummy_Tend,Dummy_Sno,Dummy_IDe,Dummy_Set_129,SID).
 iknows(pair(Prefix,pair(IDbr,pair(IDs,pair(crypt(inv(Kpube),pair(IDe,pair(IDr,pair(Te,pair(scrypt(Kes,pair(Sno,Ne)),apply(H,pair(IDe,pair(IDr,pair(Kpube,pair(Kpubr,pair(Te,pair(Ne,pair(Kes,Sno))))))))))))),crypt(inv(Kpubbr),pair(Tb,apply(H,pair(IDe,pair(IDr,pair(IDbr,pair(Kpube,pair(Kpubr,pair(Kpubbr,Tb)))))))))))))).
 contains(pair(IDe,Kpube),IdList).
 contains(pair(IDr,Kpubr),IdList).
 contains(pair(IDbr,Kpubbr),IdList)
=[exists Tend,Ts]=>
 state_server(S,E,L,B,K,Prefix,IDr,IDbr,IDs,Kpube,Kpubr,Kpubbr,Kpubs,H,G,Ne,Ss,IdList,Ksymesk,2,Ge,Kes,Te,Tb,Ts,Tend,Sno,IDe,Dummy_Set_129,SID).
 iknows(pair(Prefix,pair(IDs,pair(IDbr,pair(crypt(inv(Kpubs),pair(Prefix,pair(IDe,pair(Kpube,pair(Ts,pair(Tend,Sno)))))),apply(H,pair(Sno,pair(Ne,Kes)))))))).
 secret(Ss,sss,Dummy_Set_129).
 contains(E,Dummy_Set_129).
 contains(S,Dummy_Set_129).
 contains(pair(IDe,Kpube),IdList).
 contains(pair(IDr,Kpubr),IdList).
 contains(pair(IDbr,Kpubbr),IdList)


section properties:

property secrecy_of_sne (MGoal,ASGoal) :=
 [] ((secret(MGoal,sne,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sse (MGoal,ASGoal) :=
 [] ((secret(MGoal,sse,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sss (MGoal,ASGoal) :=
 [] ((secret(MGoal,sss,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_kes (MGoal,ASGoal) :=
 [] ((secret(MGoal,kes,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state secrecy_of_sne (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sne,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sse (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sse,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sss (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sss,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_kes (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,kes,ASGoal) &
 not(contains(i,ASGoal))

