%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilebd82pf

section signature:

state_user: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact
state_basestation: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact
state_sensornode: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact


section types:

MGoal, start: message
sensornode_user, sensornode_basestation, user_basestation, user_sensornode, subs1, subs2, subs3, subs4, subs5, subs6: protocol_id
Dummy_Set_130, Set_130, Set_90, Dummy_Set_47, Set_47, Dummy_Set_90: set(symmetric_key)
Dummy_State, 3, SID, SID2, SID1, State, 5, 2, 1, 0, 4: nat
h, H: hash_func
set_193, set_192, set_191, set_190, set_189, set_188, set_187, set_186, set_185, set_184, set_183, set_249, set_248, set_247, set_246, set_245, set_244, set_243, set_242, set_241, set_240, set_239, set_222, set_221, set_220, set_219, set_218, set_217, set_216, set_215, set_214, set_213, set_212: set
mkui, mksj, MKsj, MKui: symmetric_key
Dummy_T1, dummy_nonce, rpwi, rui, si, zi, kui, kj, rnui, tj, t1, t2, apmi, gidi, kbs, snj, ui, IDi, APMi, GIdi, RPWi, RMui, T1, T2, Si, Zi, Rui, Kui, Ni, PWi, UKi, SNj, Tj, Kj, Kbs, M3, Dummy_RPWi, Dummy_M3, Dummy_UKi, Dummy_Kui, RNuj, Dummy_T2, Dummy_RMui: text
A2Goal, A1Goal, sn, bs, u, SN, BS, U, i: agent
Dummy_Set_131, Dummy_Set_129, ASGoal, Set_137, Set_135, Set_133, Set_131, Set_129, Set_97, Set_95, Set_93, Set_91, Set_89, Dummy_Set_54, Dummy_Set_52, Dummy_Set_50, Set_54, Dummy_Set_48, Set_52, Dummy_Set_45, Set_50, Set_48, Set_45, Dummy_Set_97, Dummy_Set_95, Dummy_Set_93, Dummy_Set_91, Dummy_Set_89, Dummy_Set_137, Dummy_Set_135, Dummy_Set_133: set(agent)
Dummy_Set_128, Set_138, Set_136, Set_134, Set_132, Set_128, Set_98, Set_96, Set_94, Set_92, Set_88, Dummy_Set_55, Dummy_Set_53, Dummy_Set_51, Set_55, Dummy_Set_49, Set_53, Set_51, Dummy_Set_44, Set_49, Set_44, Dummy_Set_98, Dummy_Set_96, Dummy_Set_94, Dummy_Set_92, Dummy_Set_88, Dummy_Set_138, Dummy_Set_136, Dummy_Set_134, Dummy_Set_132: set(text)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(bs).
 iknows(sn).
 iknows(h).
 iknows(snj).
 iknows(ui).
 iknows(i).
 state_sensornode(sn,bs,u,mksj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_183,set_184,set_185,set_186,set_187,set_188,set_189,set_190,set_191,set_192,set_193,3).
 state_basestation(bs,u,sn,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_212,set_213,set_214,set_215,set_216,set_217,set_218,set_219,set_220,set_221,set_222,4).
 state_user(u,bs,sn,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_239,set_240,set_241,set_242,set_243,set_244,set_245,set_246,set_247,set_248,set_249,5)


section rules:

step step_0 (SN,BS,U,MKsj,H,SNj,Tj,Kj,Kbs,IDi,APMi,GIdi,RPWi,RMui,Dummy_T1,T2,Si,Zi,Rui,Kui,Ni,PWi,UKi,Dummy_Set_128,Dummy_Set_129,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,Dummy_Set_134,Dummy_Set_135,Dummy_Set_136,Dummy_Set_137,Dummy_Set_138,SID,T1) :=
 state_sensornode(SN,BS,U,MKsj,H,0,SNj,Tj,Kj,Kbs,IDi,APMi,GIdi,RPWi,RMui,Dummy_T1,T2,Si,Zi,Rui,Kui,Ni,PWi,UKi,Dummy_Set_128,Dummy_Set_129,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,Dummy_Set_134,Dummy_Set_135,Dummy_Set_136,Dummy_Set_137,Dummy_Set_138,SID).
 iknows(start)
=[exists T1]=>
 state_sensornode(SN,BS,U,MKsj,H,1,SNj,Tj,Kj,Kbs,IDi,APMi,GIdi,RPWi,RMui,T1,T2,Si,Zi,Rui,Kui,Ni,PWi,UKi,Dummy_Set_128,Dummy_Set_129,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,Dummy_Set_134,Dummy_Set_135,Dummy_Set_136,Dummy_Set_137,Dummy_Set_138,SID).
 secret(Dummy_Set_128,subs1,Dummy_Set_129).
 secret(Dummy_Set_130,subs2,Dummy_Set_131).
 secret(Dummy_Set_132,subs3,Dummy_Set_133).
 secret(Dummy_Set_134,subs4,Dummy_Set_135).
 secret(Dummy_Set_136,subs5,Dummy_Set_137).
 secret(Dummy_Set_138,subs6,U).
 iknows(pair(SN,pair(BS,pair(SNj,pair(Tj,scrypt(MKsj,pair(Kj,pair(SNj,Tj)))))))).
 witness(SN,BS,sensornode_basestation,T1).
 contains(Kj,Dummy_Set_128).
 contains(SN,Dummy_Set_129).
 contains(BS,Dummy_Set_129).
 contains(MKsj,Dummy_Set_130).
 contains(SN,Dummy_Set_131).
 contains(BS,Dummy_Set_131).
 contains(RMui,Dummy_Set_132).
 contains(U,Dummy_Set_133).
 contains(BS,Dummy_Set_133).
 contains(Kbs,Dummy_Set_134).
 contains(SN,Dummy_Set_135).
 contains(BS,Dummy_Set_135).
 contains(APMi,Dummy_Set_136).
 contains(GIdi,Dummy_Set_136).
 contains(U,Dummy_Set_137).
 contains(BS,Dummy_Set_137).
 contains(PWi,Dummy_Set_138).
 contains(Ni,Dummy_Set_138)

step step_1 (SN,BS,U,MKsj,H,SNj,Tj,Kj,Kbs,IDi,APMi,GIdi,RPWi,Dummy_RMui,Dummy_T1,Dummy_T2,Si,Zi,Rui,Kui,Ni,PWi,UKi,Set_128,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,Set_135,Set_136,Set_137,Set_138,SID,RMui,T1,T2) :=
 state_sensornode(SN,BS,U,MKsj,H,1,SNj,Tj,Kj,Kbs,IDi,APMi,GIdi,RPWi,Dummy_RMui,Dummy_T1,Dummy_T2,Si,Zi,Rui,Kui,Ni,PWi,UKi,Set_128,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,Set_135,Set_136,Set_137,Set_138,SID).
 iknows(pair(BS,pair(SN,pair(SNj,pair(IDi,pair(scrypt(MKsj,pair(SNj,pair(IDi,pair(xor(pair(APMi,GIdi)),pair(apply(H,pair(apply(H,pair(PWi,Ni)),pair(GIdi,RMui))),pair(T1,T2)))))),scrypt(Kj,pair(SNj,pair(IDi,pair(GIdi,T1))))))))))
 =>
 state_sensornode(SN,BS,U,MKsj,H,2,SNj,Tj,Kj,Kbs,IDi,APMi,GIdi,RPWi,RMui,T1,T2,Si,Zi,Rui,Kui,Ni,PWi,UKi,Set_128,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,Set_135,Set_136,Set_137,Set_138,SID).
 request(BS,SN,sensornode_basestation,T2,SID)

step step_2 (SN,BS,U,MKsj,H,SNj,Tj,Kj,Kbs,IDi,APMi,GIdi,RPWi,Dummy_RMui,Dummy_T1,T2,Si,Zi,Rui,Kui,Ni,PWi,UKi,Set_128,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,Set_135,Set_136,Set_137,Set_138,SID,RMui,T1) :=
 state_sensornode(SN,BS,U,MKsj,H,2,SNj,Tj,Kj,Kbs,IDi,APMi,GIdi,RPWi,Dummy_RMui,Dummy_T1,T2,Si,Zi,Rui,Kui,Ni,PWi,UKi,Set_128,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,Set_135,Set_136,Set_137,Set_138,SID).
 iknows(pair(U,pair(SN,pair(SNj,pair(IDi,pair(Zi,pair(Si,pair(scrypt(apply(H,pair(SNj,pair(IDi,pair(Kbs,Kj)))),pair(SNj,pair(IDi,pair(apply(H,pair(apply(H,pair(PWi,Ni)),pair(GIdi,RMui))),pair(GIdi,pair(T1,pair(Si,Zi))))))),apply(H,pair(T1,pair(Si,Zi)))))))))))
 =>
 state_sensornode(SN,BS,U,MKsj,H,3,SNj,Tj,Kj,Kbs,IDi,APMi,GIdi,RPWi,RMui,T1,T2,Si,Zi,Rui,Kui,Ni,PWi,UKi,Set_128,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,Set_135,Set_136,Set_137,Set_138,SID).
 request(U,SN,user_sensornode,T1,SID)

step step_3 (BS,SN,U,MKsj,MKui,H,RPWi,RMui,Rui,Kbs,Dummy_Kui,Si,Zi,T2,APMi,GIdi,Ni,PWi,UKi,SNj,IDi,Kj,Tj,T1,M3,Set_88,Set_89,Set_90,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,SID) :=
 state_basestation(BS,SN,U,MKsj,MKui,H,0,RPWi,RMui,Rui,Kbs,Dummy_Kui,Si,Zi,T2,APMi,GIdi,Ni,PWi,UKi,SNj,IDi,Kj,Tj,T1,M3,Set_88,Set_89,Set_90,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,SID).
 iknows(pair(SN,pair(BS,pair(SNj,pair(Tj,scrypt(MKsj,pair(Kj,pair(SNj,Tj))))))))
 =>
 state_basestation(BS,SN,U,MKsj,MKui,H,1,RPWi,RMui,Rui,Kbs,apply(H,pair(SNj,pair(IDi,pair(Kbs,Kj)))),Si,Zi,T2,APMi,GIdi,Ni,PWi,UKi,SNj,IDi,Kj,Tj,T1,M3,Set_88,Set_89,Set_90,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,SID)

step step_4 (BS,SN,U,MKsj,MKui,H,RPWi,Dummy_RMui,Rui,Kbs,Kui,Si,Zi,T2,APMi,GIdi,Ni,PWi,UKi,SNj,IDi,Kj,Tj,T1,M3,Dummy_Set_88,Dummy_Set_89,Dummy_Set_90,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,SID,RMui) :=
 state_basestation(BS,SN,U,MKsj,MKui,H,1,RPWi,Dummy_RMui,Rui,Kbs,Kui,Si,Zi,T2,APMi,GIdi,Ni,PWi,UKi,SNj,IDi,Kj,Tj,T1,M3,Dummy_Set_88,Dummy_Set_89,Dummy_Set_90,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,SID).
 iknows(pair(U,pair(BS,scrypt(MKui,pair(IDi,pair(apply(H,pair(PWi,Ni)),pair(GIdi,RMui)))))))
 =>
 state_basestation(BS,SN,U,MKsj,MKui,H,2,RPWi,RMui,Rui,Kbs,Kui,Si,Zi,T2,APMi,GIdi,Ni,PWi,UKi,SNj,IDi,Kj,Tj,T1,M3,Dummy_Set_88,Dummy_Set_89,Dummy_Set_90,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,SID).
 iknows(pair(BS,pair(U,scrypt(MKui,pair(IDi,pair(GIdi,pair(apply(H,pair(apply(H,pair(PWi,Ni)),pair(GIdi,RMui))),pair(H,apply(H,pair(PWi,Ni)))))))))).
 secret(Dummy_Set_88,subs1,Dummy_Set_89).
 secret(Dummy_Set_90,subs2,Dummy_Set_91).
 secret(Dummy_Set_92,subs3,Dummy_Set_93).
 secret(Dummy_Set_94,subs4,Dummy_Set_95).
 secret(Dummy_Set_96,subs5,Dummy_Set_97).
 secret(Dummy_Set_98,subs6,U).
 request(SN,BS,sensornode_basestation,Tj,SID).
 contains(Kj,Dummy_Set_88).
 contains(SN,Dummy_Set_89).
 contains(BS,Dummy_Set_89).
 contains(MKsj,Dummy_Set_90).
 contains(SN,Dummy_Set_91).
 contains(BS,Dummy_Set_91).
 contains(RMui,Dummy_Set_92).
 contains(U,Dummy_Set_93).
 contains(BS,Dummy_Set_93).
 contains(Kbs,Dummy_Set_94).
 contains(SN,Dummy_Set_95).
 contains(BS,Dummy_Set_95).
 contains(APMi,Dummy_Set_96).
 contains(GIdi,Dummy_Set_96).
 contains(U,Dummy_Set_97).
 contains(BS,Dummy_Set_97).
 contains(PWi,Dummy_Set_98).
 contains(Ni,Dummy_Set_98)

step step_5 (BS,SN,U,MKsj,MKui,H,RPWi,Dummy_RMui,Rui,Kbs,Kui,Si,Zi,Dummy_T2,APMi,GIdi,Ni,PWi,Dummy_UKi,SNj,IDi,Kj,Tj,Dummy_T1,Dummy_M3,Set_88,Set_89,Set_90,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,SID,RMui,T2,T1) :=
 state_basestation(BS,SN,U,MKsj,MKui,H,2,RPWi,Dummy_RMui,Rui,Kbs,Kui,Si,Zi,Dummy_T2,APMi,GIdi,Ni,PWi,Dummy_UKi,SNj,IDi,Kj,Tj,Dummy_T1,Dummy_M3,Set_88,Set_89,Set_90,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,SID).
 iknows(pair(U,pair(BS,pair(IDi,pair(apply(H,pair(apply(H,pair(apply(H,pair(PWi,Ni)),pair(GIdi,RMui))),T1)),T1)))))
=[exists T2]=>
 state_basestation(BS,SN,U,MKsj,MKui,H,3,RPWi,RMui,Rui,Kbs,Kui,Si,Zi,T2,APMi,GIdi,Ni,PWi,apply(H,pair(Rui,pair(IDi,pair(T1,T2)))),SNj,IDi,Kj,Tj,T1,xor(APMi,GIdi),Set_88,Set_89,Set_90,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,SID).
 iknows(pair(BS,pair(U,pair(scrypt(Dummy_UKi,pair(Si,pair(Zi,pair(Kui,SNj)))),pair(T2,T1))))).
 iknows(pair(BS,pair(SN,pair(SNj,pair(IDi,pair(scrypt(MKsj,pair(SNj,pair(IDi,pair(xor(APMi,GIdi),pair(Rui,pair(T1,T2)))))),scrypt(Kj,pair(SNj,pair(IDi,pair(GIdi,T1)))))))))).
 witness(BS,SN,sensornode_basestation,T2).
 request(U,BS,user_basestation,T1,SID)

step step_6 (U,BS,SN,MKsj,MKui,H,IDi,Dummy_RPWi,APMi,Dummy_RMui,Ni,PWi,UKi,Rui,Kui,SNj,Si,Zi,Kj,Kbs,GIdi,RNuj,T1,T2,Set_44,Set_45,Set_47,Set_48,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,SID,RMui) :=
 state_user(U,BS,SN,MKsj,MKui,H,0,IDi,Dummy_RPWi,APMi,Dummy_RMui,Ni,PWi,UKi,Rui,Kui,SNj,Si,Zi,Kj,Kbs,GIdi,RNuj,T1,T2,Set_44,Set_45,Set_47,Set_48,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,SID).
 iknows(start)
=[exists RMui]=>
 state_user(U,BS,SN,MKsj,MKui,H,1,IDi,apply(H,pair(PWi,Ni)),APMi,RMui,Ni,PWi,UKi,Rui,Kui,SNj,Si,Zi,Kj,Kbs,GIdi,RNuj,T1,T2,Set_44,Set_45,Set_47,Set_48,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,SID).
 iknows(pair(U,pair(BS,scrypt(MKui,pair(IDi,pair(apply(H,pair(PWi,Ni)),pair(GIdi,RMui)))))))

step step_7 (U,BS,SN,MKsj,MKui,H,IDi,RPWi,APMi,Dummy_RMui,Ni,PWi,UKi,Rui,Kui,SNj,Si,Zi,Kj,Kbs,GIdi,RNuj,Dummy_T1,T2,Dummy_Set_44,Dummy_Set_45,Dummy_Set_47,Dummy_Set_48,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,Dummy_Set_55,SID,RMui,T1) :=
 state_user(U,BS,SN,MKsj,MKui,H,1,IDi,RPWi,APMi,Dummy_RMui,Ni,PWi,UKi,Rui,Kui,SNj,Si,Zi,Kj,Kbs,GIdi,RNuj,Dummy_T1,T2,Dummy_Set_44,Dummy_Set_45,Dummy_Set_47,Dummy_Set_48,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,Dummy_Set_55,SID).
 iknows(pair(BS,pair(U,scrypt(MKui,pair(IDi,pair(GIdi,pair(apply(H,pair(apply(H,pair(PWi,Ni)),pair(GIdi,RMui))),pair(H,apply(H,pair(PWi,Ni))))))))))
=[exists T1]=>
 state_user(U,BS,SN,MKsj,MKui,H,2,IDi,RPWi,APMi,RMui,Ni,PWi,UKi,Rui,Kui,SNj,Si,Zi,Kj,Kbs,GIdi,RNuj,T1,T2,Dummy_Set_44,Dummy_Set_45,Dummy_Set_47,Dummy_Set_48,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,Dummy_Set_55,SID).
 secret(Dummy_Set_44,subs1,Dummy_Set_45).
 secret(Dummy_Set_47,subs2,Dummy_Set_48).
 secret(Dummy_Set_49,subs3,Dummy_Set_50).
 secret(Dummy_Set_51,subs4,Dummy_Set_52).
 secret(Dummy_Set_53,subs5,Dummy_Set_54).
 secret(Dummy_Set_55,subs6,U).
 iknows(pair(U,pair(BS,pair(IDi,pair(apply(H,pair(apply(H,pair(apply(H,pair(PWi,Ni)),pair(GIdi,Dummy_RMui))),T1)),T1))))).
 witness(U,BS,user_basestation,T1).
 contains(Kj,Dummy_Set_44).
 contains(SN,Dummy_Set_45).
 contains(BS,Dummy_Set_45).
 contains(MKsj,Dummy_Set_47).
 contains(SN,Dummy_Set_48).
 contains(BS,Dummy_Set_48).
 contains(RMui,Dummy_Set_49).
 contains(U,Dummy_Set_50).
 contains(BS,Dummy_Set_50).
 contains(Kbs,Dummy_Set_51).
 contains(SN,Dummy_Set_52).
 contains(BS,Dummy_Set_52).
 contains(APMi,Dummy_Set_53).
 contains(GIdi,Dummy_Set_53).
 contains(U,Dummy_Set_54).
 contains(BS,Dummy_Set_54).
 contains(PWi,Dummy_Set_55).
 contains(Ni,Dummy_Set_55)

step step_8 (U,BS,SN,MKsj,MKui,H,IDi,RPWi,APMi,Dummy_RMui,Ni,PWi,Dummy_UKi,Rui,Dummy_Kui,SNj,Si,Zi,Kj,Kbs,GIdi,RNuj,Dummy_T1,Dummy_T2,Set_44,Set_45,Set_47,Set_48,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,SID,RMui,T1,T2) :=
 state_user(U,BS,SN,MKsj,MKui,H,2,IDi,RPWi,APMi,Dummy_RMui,Ni,PWi,Dummy_UKi,Rui,Dummy_Kui,SNj,Si,Zi,Kj,Kbs,GIdi,RNuj,Dummy_T1,Dummy_T2,Set_44,Set_45,Set_47,Set_48,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,SID).
 iknows(pair(BS,pair(U,pair(scrypt(apply(H,pair(apply(H,pair(apply(H,pair(PWi,Ni)),pair(GIdi,RMui))),pair(IDi,pair(T1,T2)))),pair(Si,pair(Zi,pair(SNj,apply(H,pair(SNj,pair(IDi,pair(Kbs,Kj)))))))),pair(T2,T1)))))
 =>
 state_user(U,BS,SN,MKsj,MKui,H,3,IDi,RPWi,APMi,RMui,Ni,PWi,apply(H,pair(Rui,pair(IDi,pair(T1,T2)))),Rui,apply(H,pair(SNj,pair(IDi,pair(Kbs,Kj)))),SNj,Si,Zi,Kj,Kbs,GIdi,RNuj,T1,T2,Set_44,Set_45,Set_47,Set_48,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,SID).
 iknows(pair(U,pair(SN,pair(SNj,pair(IDi,pair(Zi,pair(Si,pair(scrypt(apply(H,pair(SNj,pair(IDi,pair(Kbs,Kj)))),pair(SNj,pair(IDi,pair(Rui,pair(GIdi,pair(T1,pair(Si,Zi))))))),apply(H,pair(T1,pair(Si,Zi))))))))))).
 witness(U,SN,user_sensornode,T1)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_basestation (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_basestation,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_basestation,MGoal))
     /\ ((request(A1Goal,A2Goal,user_basestation,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_basestation,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_basestation_user (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,basestation_user,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,basestation_user,MGoal))
     /\ ((request(A1Goal,A2Goal,basestation_user,MGoal,SID1)
           /\ request(A1Goal,A2Goal,basestation_user,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensornode_user (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensornode_user,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensornode_user,MGoal))
     /\ ((request(A1Goal,A2Goal,sensornode_user,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensornode_user,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_sensornode (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_sensornode,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_sensornode,MGoal))
     /\ ((request(A1Goal,A2Goal,user_sensornode,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_sensornode,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensornode_basestation (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensornode_basestation,MGoal))
     /\ ((request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_basestation_sensornode (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,basestation_sensornode,MGoal))
     /\ ((request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID1)
           /\ request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_basestation (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_basestation,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_basestation,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_basestation (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_basestation,MGoal,SID1).
 request(A1Goal,A2Goal,user_basestation,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_basestation_user (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,basestation_user,MGoal,SID) &
 not(witness(A2Goal,A1Goal,basestation_user,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_basestation_user (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,basestation_user,MGoal,SID1).
 request(A1Goal,A2Goal,basestation_user,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensornode_user (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensornode_user,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensornode_user,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensornode_user (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensornode_user,MGoal,SID1).
 request(A1Goal,A2Goal,sensornode_user,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_sensornode (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_sensornode,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_sensornode,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_sensornode (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_sensornode,MGoal,SID1).
 request(A1Goal,A2Goal,user_sensornode,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensornode_basestation (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensornode_basestation,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensornode_basestation (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID1).
 request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_basestation_sensornode (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID) &
 not(witness(A2Goal,A1Goal,basestation_sensornode,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_basestation_sensornode (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID1).
 request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

