%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileCyhdD1

section signature:

state_server: agent * agent * hash_func * hash_func * nat * nat * message * message * message * message * message * message * message * nat -> fact
state_user: agent * agent * hash_func * hash_func * nat * nat * nat * symmetric_key * message * message * message * message * message * set(agent) * nat -> fact


section types:

a_s_c3, a_s_c2, a_s_c1, a_s_hashpasswd, ep: protocol_id
set_92, set_72: set
Dummy_Set_25, Set_25, ASGoal: set(agent)
HPasswd, HashPasswd, C1, C2, C3, F, B, Dummy_B, Dummy_F, Dummy_HPasswd, Dummy_C3, Dummy_C2, Dummy_C1, Dummy_HashPasswd, dummy_msg, start, MGoal: message
Dummy_P, dummy_sk, P: symmetric_key
Succ, H, succ, h: hash_func
S, A, A2Goal, A1Goal, a, s, i: agent
3, 7, State, N, Dummy_N, 4, SID, Dummy_M, Dummy_State, 2, dummy_nat, 1, 0, M, 5: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(s).
 iknows(succ).
 iknows(i).
 state_user(a,s,succ,h,0,1,dummy_nat,dummy_sk,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_72,3).
 state_server(s,a,succ,h,1,dummy_nat,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,4).
 state_server(s,i,succ,h,1,dummy_nat,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,7)


section rules:

step step_0 (A,S,Succ,H,N,M,Dummy_P,Dummy_HashPasswd,HPasswd,C1,C2,C3,Dummy_Set_25,SID,P) :=
 state_user(A,S,Succ,H,0,N,M,Dummy_P,Dummy_HashPasswd,HPasswd,C1,C2,C3,Dummy_Set_25,SID).
 iknows(start)
=[exists P]=>
 state_user(A,S,Succ,H,2,N,M,P,apply(H,apply(H,xor(P,1))),HPasswd,C1,C2,C3,Dummy_Set_25,SID).
 iknows(A).
 secret(P,ep,Dummy_Set_25).
 witness(S,A,a_s_hashpasswd,apply(H,apply(H,xor(P,1)))).
 contains(A,Dummy_Set_25).
 contains(S,Dummy_Set_25)

step step_1 (A,S,Succ,H,N,Dummy_M,P,HashPasswd,HPasswd,Dummy_C1,Dummy_C2,Dummy_C3,Set_25,SID,M) :=
 state_user(A,S,Succ,H,2,N,Dummy_M,P,HashPasswd,HPasswd,Dummy_C1,Dummy_C2,Dummy_C3,Set_25,SID).
 iknows(M)
 =>
 state_user(A,S,Succ,H,4,N,M,P,HashPasswd,HPasswd,xor(apply(H,xor(P,Dummy_M)),apply(H,apply(H,xor(P,Dummy_M)))),xor(apply(H,xor(P,Dummy_M)),apply(H,apply(H,xor(P,apply(Succ,Dummy_M))))),apply(H,apply(H,apply(H,xor(P,apply(Succ,Dummy_M))))),Set_25,SID).
 iknows(xor(apply(H,xor(P,Dummy_M)),apply(H,apply(H,xor(P,Dummy_M))))).
 witness(A,S,a_s_c1,xor(apply(H,xor(P,Dummy_M)),apply(H,apply(H,xor(P,Dummy_M))))).
 witness(A,S,a_s_c2,xor(apply(H,xor(P,Dummy_M)),apply(H,apply(H,xor(P,apply(Succ,Dummy_M)))))).
 witness(A,S,a_s_c3,apply(H,apply(H,apply(H,xor(P,apply(Succ,Dummy_M))))))

step step_2 (S,A,Succ,H,N,HPasswd,HashPasswd,C1,C2,C3,F,B,SID) :=
 state_server(S,A,Succ,H,1,N,HPasswd,HashPasswd,C1,C2,C3,F,B,SID).
 iknows(start)
 =>
 state_server(S,A,Succ,H,3,N,HPasswd,HashPasswd,C1,C2,C3,F,B,SID).
 iknows(N)

step step_3 (S,A,Succ,H,Dummy_N,Dummy_HPasswd,Dummy_HashPasswd,C1,C2,C3,F,B,SID,HashPasswd) :=
 state_server(S,A,Succ,H,3,Dummy_N,Dummy_HPasswd,Dummy_HashPasswd,C1,C2,C3,F,B,SID).
 iknows(A)
 =>
 state_server(S,A,Succ,H,5,Dummy_N,HashPasswd,Dummy_HashPasswd,C1,C2,C3,F,B,SID).
 wrequest(S,A,a_s_hashpasswd,HashPasswd,SID)

step step_4 (S,A,Succ,H,Dummy_N,Dummy_HPasswd,HashPasswd,Dummy_C1,Dummy_C2,B,Dummy_F,Dummy_B,SID,C1,C3) :=
 state_server(S,A,Succ,H,5,Dummy_N,Dummy_HPasswd,HashPasswd,Dummy_C1,Dummy_C2,B,Dummy_F,Dummy_B,SID).
 iknows(C1)
 =>
 state_server(S,A,Succ,H,7,apply(Succ,N),xor(C2,xor(C1,HPasswd)),HashPasswd,C1,Dummy_C2,C3,xor(C1,xor(C2,xor(C1,HPasswd))),xor(C2,xor(C1,xor(C2,xor(C1,HPasswd)))),SID).
 wrequest(S,A,a_s_c1,C1,SID).
 wrequest(S,A,a_s_c2,C2,SID).
 wrequest(S,A,a_s_c3,C3,SID)


section properties:

property weak_authentication_on_a_s_hashpasswd (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,a_s_hashpasswd,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,a_s_hashpasswd,MGoal))

property weak_authentication_on_a_s_c1 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,a_s_c1,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,a_s_c1,MGoal))

property weak_authentication_on_a_s_c2 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,a_s_c2,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,a_s_c2,MGoal))

property weak_authentication_on_a_s_c3 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,a_s_c3,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,a_s_c3,MGoal))

property secrecy_of_ep (MGoal,ASGoal) :=
 [] ((secret(MGoal,ep,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state weak_authentication_on_a_s_hashpasswd (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,a_s_hashpasswd,MGoal,SID) &
 not(witness(A2Goal,A1Goal,a_s_hashpasswd,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_a_s_c1 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,a_s_c1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,a_s_c1,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_a_s_c2 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,a_s_c2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,a_s_c2,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_a_s_c3 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,a_s_c3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,a_s_c3,MGoal)) &
 not(equal(A2Goal,i))

attack_state secrecy_of_ep (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,ep,ASGoal) &
 not(contains(i,ASGoal))

