%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile6Rjhss

section signature:

state_server: agent * agent * agent * agent * text * text * text * text * text * text * text * public_key * public_key * public_key * public_key * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * nat -> fact
state_brouter: agent * agent * agent * agent * text * text * text * text * text * public_key * public_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * public_key * public_key * scrypt(symmetric_key,text) * nat -> fact
state_router: agent * agent * agent * agent * text * text * text * text * text * text * public_key * public_key * public_key * hash_func * nat * text * text * text * text * public_key * scrypt(symmetric_key,text) * nat -> fact
state_enddevice: agent * agent * agent * agent * text * text * text * text * text * text * text * public_key * public_key * public_key * public_key * symmetric_key * hash_func * nat * text * text * text * text * crypt(inv(public_key),pair(text,pair(text,pair(public_key,pair(text,text))))) * set(agent) * nat -> fact


section types:

set_181: set
Dummy_Set_34, ASGoal, Set_34: set(agent)
sr_ed_ts, ed_sr_te, ed_sr_ne, ne: protocol_id
MGoal, start: message
Tickete: crypt(inv(public_key),pair(text,pair(text,pair(public_key,pair(text,text)))))
H, h: hash_func
dummy_sk, Kbs, kbs, kes, kis, kbi, kei, Kes: symmetric_key
Dummy_IDr, Dummy_Tb, Dummy_IDe, IDe, IDr, Dummy_Tend, Te, Dummy_Ts, Tb, Ts, Dummy_Ne, Tend, Dummy_Te, dummy_nonce, Subprefix, LLprefix, IDbr, IDs, Texp, subprefix, llprefix, ide, idr, idbr, ids, idi, texp, Ne: text
5, 8, SID, 4, State, Dummy_State, 3, SID2, SID1, 9, 10, 2, 1, 0, 7, 6: nat
Dummy_Y, X, Y, Dummy_X: scrypt(symmetric_key,text)
B, S, A2Goal, A1Goal, E, L, e, l, b, s, i: agent
Dummy_Kpube, Kpube, Kpubr, dummy_pk, Kpubbr, Kpubs, kpube, kpubr, kpubbr, kpubs, kpubi, Dummy_Kpubr: public_key


section inits:

initial_state init1 := 
 iknows(start).
 iknows(e).
 iknows(l).
 iknows(b).
 iknows(s).
 iknows(subprefix).
 iknows(llprefix).
 iknows(ide).
 iknows(idr).
 iknows(idbr).
 iknows(ids).
 iknows(idi).
 iknows(kpube).
 iknows(kpubr).
 iknows(kpubbr).
 iknows(kpubs).
 iknows(kpubi).
 iknows(inv(kpubi)).
 iknows(kis).
 iknows(h).
 iknows(i).
 state_enddevice(e,l,b,s,subprefix,llprefix,ide,idr,idbr,ids,texp,kpube,kpubr,kpubbr,kpubs,kes,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,crypt(inv(dummy_pk),pair(dummy_nonce,pair(dummy_nonce,pair(dummy_pk,pair(dummy_nonce,dummy_nonce))))),set_181,3).
 state_router(l,e,b,s,subprefix,llprefix,idr,idbr,ids,texp,kpubr,kpubbr,kpubs,h,2,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_pk,scrypt(dummy_sk,dummy_nonce),4).
 state_brouter(b,e,l,s,subprefix,llprefix,idbr,ids,texp,kpubbr,kpubs,kbs,h,4,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_pk,dummy_pk,scrypt(dummy_sk,dummy_nonce),5).
 state_server(s,e,l,b,subprefix,llprefix,ide,idr,idbr,ids,texp,kpube,kpubr,kpubbr,kpubs,kbs,kes,h,6,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,6)


section rules:

step step_0 (E,L,B,S,Subprefix,LLprefix,IDe,IDr,IDbr,IDs,Texp,Kpube,Kpubr,Kpubbr,Kpubs,Kes,H,Dummy_Te,Ts,Tend,Dummy_Ne,Tickete,Dummy_Set_34,SID,Te,Ne) :=
 state_enddevice(E,L,B,S,Subprefix,LLprefix,IDe,IDr,IDbr,IDs,Texp,Kpube,Kpubr,Kpubbr,Kpubs,Kes,H,0,Dummy_Te,Ts,Tend,Dummy_Ne,Tickete,Dummy_Set_34,SID).
 iknows(start)
=[exists Ne,Te]=>
 state_enddevice(E,L,B,S,Subprefix,LLprefix,IDe,IDr,IDbr,IDs,Texp,Kpube,Kpubr,Kpubbr,Kpubs,Kes,H,1,Te,Ts,Tend,Ne,Tickete,Dummy_Set_34,SID).
 iknows(pair(Subprefix,pair(IDe,pair(IDr,crypt(inv(Kpube),pair(Subprefix,pair(IDe,pair(IDr,pair(Te,pair(Kpube,pair(Kpubr,scrypt(Kes,Ne)))))))))))).
 secret(Ne,ne,Dummy_Set_34).
 witness(E,S,ed_sr_ne,Ne).
 witness(E,S,ed_sr_te,Te).
 contains(E,Dummy_Set_34).
 contains(S,Dummy_Set_34)

step step_1 (E,L,B,S,Subprefix,LLprefix,IDe,IDr,IDbr,IDs,Texp,Kpube,Kpubr,Kpubbr,Kpubs,Kes,H,Te,Dummy_Ts,Dummy_Tend,Ne,Tickete,Set_34,SID,Ts,Tend) :=
 state_enddevice(E,L,B,S,Subprefix,LLprefix,IDe,IDr,IDbr,IDs,Texp,Kpube,Kpubr,Kpubbr,Kpubs,Kes,H,1,Te,Dummy_Ts,Dummy_Tend,Ne,Tickete,Set_34,SID).
 iknows(pair(Subprefix,pair(IDr,pair(IDe,pair(crypt(inv(Kpubs),pair(Subprefix,pair(IDe,pair(Kpube,pair(Ts,Tend))))),scrypt(Kes,Ne))))))
 =>
 state_enddevice(E,L,B,S,Subprefix,LLprefix,IDe,IDr,IDbr,IDs,Texp,Kpube,Kpubr,Kpubbr,Kpubs,Kes,H,10,Te,Ts,Tend,Ne,Tickete,Set_34,SID).
 request(E,S,sr_ed_ts,Ts,SID)

step step_2 (L,E,B,S,Subprefix,LLprefix,IDr,IDbr,IDs,Texp,Kpubr,Kpubbr,Kpubs,H,Dummy_Te,Ts,Tend,Dummy_IDe,Dummy_Kpube,Dummy_Y,SID,Te,IDe,Kpube,Y) :=
 state_router(L,E,B,S,Subprefix,LLprefix,IDr,IDbr,IDs,Texp,Kpubr,Kpubbr,Kpubs,H,2,Dummy_Te,Ts,Tend,Dummy_IDe,Dummy_Kpube,Dummy_Y,SID).
 iknows(pair(Subprefix,pair(IDe,pair(IDr,crypt(inv(Kpube),pair(Subprefix,pair(IDe,pair(IDr,pair(Te,pair(Kpube,pair(Kpubr,Y)))))))))))
 =>
 state_router(L,E,B,S,Subprefix,LLprefix,IDr,IDbr,IDs,Texp,Kpubr,Kpubbr,Kpubs,H,3,Te,Ts,Tend,IDe,Kpube,Y,SID).
 iknows(pair(Subprefix,pair(IDr,pair(IDbr,crypt(inv(Kpube),pair(Subprefix,pair(IDe,pair(IDr,pair(Te,pair(Kpube,pair(Kpubr,Y)))))))))))

step step_3 (L,E,B,S,Subprefix,LLprefix,IDr,IDbr,IDs,Texp,Kpubr,Kpubbr,Kpubs,H,Te,Dummy_Ts,Dummy_Tend,IDe,Kpube,Dummy_Y,SID,Ts,Tend,Y) :=
 state_router(L,E,B,S,Subprefix,LLprefix,IDr,IDbr,IDs,Texp,Kpubr,Kpubbr,Kpubs,H,3,Te,Dummy_Ts,Dummy_Tend,IDe,Kpube,Dummy_Y,SID).
 iknows(pair(Subprefix,pair(IDbr,pair(IDr,pair(crypt(inv(Kpubs),pair(Subprefix,pair(IDe,pair(Kpube,pair(Ts,Tend))))),Y)))))
 =>
 state_router(L,E,B,S,Subprefix,LLprefix,IDr,IDbr,IDs,Texp,Kpubr,Kpubbr,Kpubs,H,9,Te,Ts,Tend,IDe,Kpube,Y,SID).
 iknows(pair(Subprefix,pair(IDr,pair(IDe,pair(crypt(inv(Kpubs),pair(Subprefix,pair(IDe,pair(Kpube,pair(Ts,Tend))))),Y)))))

step step_4 (B,E,L,S,Subprefix,LLprefix,IDbr,IDs,Texp,Kpubbr,Kpubs,Kbs,H,Dummy_Te,Dummy_Tb,Ts,Tend,Dummy_IDe,Dummy_IDr,Dummy_Kpube,Dummy_Kpubr,Dummy_X,SID,Te,Tb,IDe,IDr,Kpube,Kpubr,X) :=
 state_brouter(B,E,L,S,Subprefix,LLprefix,IDbr,IDs,Texp,Kpubbr,Kpubs,Kbs,H,4,Dummy_Te,Dummy_Tb,Ts,Tend,Dummy_IDe,Dummy_IDr,Dummy_Kpube,Dummy_Kpubr,Dummy_X,SID).
 iknows(pair(Subprefix,pair(IDr,pair(IDbr,crypt(inv(Kpube),pair(Subprefix,pair(IDe,pair(IDr,pair(Te,pair(Kpube,pair(Kpubr,X)))))))))))
=[exists Tb]=>
 state_brouter(B,E,L,S,Subprefix,LLprefix,IDbr,IDs,Texp,Kpubbr,Kpubs,Kbs,H,5,Te,Tb,Ts,Tend,IDe,IDr,Kpube,Kpubr,X,SID).
 iknows(pair(Subprefix,pair(IDbr,pair(IDs,pair(crypt(inv(Kpube),pair(Subprefix,pair(IDe,pair(IDr,pair(Te,pair(Kpube,pair(Kpubr,X))))))),pair(Tb,apply(H,pair(IDe,pair(IDr,pair(IDbr,pair(Kpube,pair(Kpubr,pair(Kpubbr,Kbs)))))))))))))

step step_5 (B,E,L,S,Subprefix,LLprefix,IDbr,IDs,Texp,Kpubbr,Kpubs,Kbs,H,Te,Tb,Dummy_Ts,Dummy_Tend,IDe,IDr,Kpube,Kpubr,Dummy_X,SID,Ts,Tend,X) :=
 state_brouter(B,E,L,S,Subprefix,LLprefix,IDbr,IDs,Texp,Kpubbr,Kpubs,Kbs,H,5,Te,Tb,Dummy_Ts,Dummy_Tend,IDe,IDr,Kpube,Kpubr,Dummy_X,SID).
 iknows(pair(Subprefix,pair(IDs,pair(IDbr,pair(crypt(inv(Kpubs),pair(Subprefix,pair(IDe,pair(Kpube,pair(Ts,Tend))))),X)))))
 =>
 state_brouter(B,E,L,S,Subprefix,LLprefix,IDbr,IDs,Texp,Kpubbr,Kpubs,Kbs,H,8,Te,Tb,Ts,Tend,IDe,IDr,Kpube,Kpubr,X,SID).
 iknows(pair(Subprefix,pair(IDbr,pair(IDr,pair(crypt(inv(Kpubs),pair(Subprefix,pair(IDe,pair(Kpube,pair(Ts,Tend))))),X)))))

step step_6 (S,E,L,B,Subprefix,LLprefix,IDe,IDr,IDbr,IDs,Texp,Kpube,Kpubr,Kpubbr,Kpubs,Kbs,Kes,H,Dummy_Te,Dummy_Tb,Dummy_Ts,Dummy_Tend,Dummy_Ne,SID,Te,Tb,Ts,Ne) :=
 state_server(S,E,L,B,Subprefix,LLprefix,IDe,IDr,IDbr,IDs,Texp,Kpube,Kpubr,Kpubbr,Kpubs,Kbs,Kes,H,6,Dummy_Te,Dummy_Tb,Dummy_Ts,Dummy_Tend,Dummy_Ne,SID).
 iknows(pair(Subprefix,pair(IDbr,pair(IDs,pair(crypt(inv(Kpube),pair(Subprefix,pair(IDe,pair(IDr,pair(Te,pair(Kpube,pair(Kpubr,scrypt(Kes,Ne)))))))),pair(Tb,apply(H,pair(IDe,pair(IDr,pair(IDbr,pair(Kpube,pair(Kpubr,pair(Kpubbr,Kbs)))))))))))))
=[exists Ts]=>
 state_server(S,E,L,B,Subprefix,LLprefix,IDe,IDr,IDbr,IDs,Texp,Kpube,Kpubr,Kpubbr,Kpubs,Kbs,Kes,H,7,Te,Tb,Ts,xor(Ts,Texp),Ne,SID).
 iknows(pair(Subprefix,pair(IDs,pair(IDbr,pair(crypt(inv(Kpubs),pair(Subprefix,pair(IDe,pair(Kpube,pair(Ts,xor(Ts,Texp)))))),scrypt(Kes,Ne)))))).
 request(S,E,ed_sr_ne,Ne,SID).
 request(S,E,ed_sr_te,Te,SID).
 witness(S,E,sr_ed_ts,Ts)


section properties:

property secrecy_of_ne (MGoal,ASGoal) :=
 [] ((secret(MGoal,ne,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_ed_sr_ne (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,ed_sr_ne,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,ed_sr_ne,MGoal))
     /\ ((request(A1Goal,A2Goal,ed_sr_ne,MGoal,SID1)
           /\ request(A1Goal,A2Goal,ed_sr_ne,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_ed_sr_te (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,ed_sr_te,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,ed_sr_te,MGoal))
     /\ ((request(A1Goal,A2Goal,ed_sr_te,MGoal,SID1)
           /\ request(A1Goal,A2Goal,ed_sr_te,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sr_ed_ts (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sr_ed_ts,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sr_ed_ts,MGoal))
     /\ ((request(A1Goal,A2Goal,sr_ed_ts,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sr_ed_ts,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_ne (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,ne,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_ed_sr_ne (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,ed_sr_ne,MGoal,SID) &
 not(witness(A2Goal,A1Goal,ed_sr_ne,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_ed_sr_ne (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,ed_sr_ne,MGoal,SID1).
 request(A1Goal,A2Goal,ed_sr_ne,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_ed_sr_te (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,ed_sr_te,MGoal,SID) &
 not(witness(A2Goal,A1Goal,ed_sr_te,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_ed_sr_te (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,ed_sr_te,MGoal,SID1).
 request(A1Goal,A2Goal,ed_sr_te,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sr_ed_ts (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sr_ed_ts,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sr_ed_ts,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sr_ed_ts (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sr_ed_ts,MGoal,SID1).
 request(A1Goal,A2Goal,sr_ed_ts,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

