%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile8S3lHYGAk1

section signature:

state_server: agent * agent * symmetric_key * hash_func * nat * nat * nat * nat * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * nat -> fact
state_client: agent * agent * hash_func * message * text * text * nat * nat * nat * nat * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * nat -> fact


section types:

u_s_aui, u_s_aus, u_s_ti, u_s_sk: protocol_id
9, 7, 5, State, R, X, S, 6, 3, 4, 10, 2, 1, 0, SID, Dummy_S, Dummy_X, Dummy_R, Dummy_State, dummy_nat, SID2, SID1: nat
ASGoal: set(agent)
Ti, Regi, Ti1, R1, Tr, Ni, Ki, Sk, Ri, AUi, AUs, Aui1, C1, C2, C3, Dummy_Aui1, start, Dummy_Ti1, Dummy_C2, Ts, Dummy_AUs, Dummy_C3, Dummy_AUi, Dummy_Sk, Dummy_C1, Dummy_Ri, Dummy_Ki, Dummy_Ni, Dummy_R1, Dummy_Ti, dummy_msg, MGoal: message
V, Randi, Pwi, Sn, Rt, Ni1, Dummy_Rt, Dummy_Ni1, Dummy_V, dummy_nonce, ni, nb: text
u, srvr, Srvr, U, A2Goal, A1Goal, i: agent
H, h: hash_func
ki, kj, Ks, ks: symmetric_key


section inits:

initial_state init1 := 
 iknows(start).
 iknows(srvr).
 iknows(u).
 iknows(h).
 iknows(i).
