%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile6NANtg

section signature:

state_reader: agent * agent * agent * hash_func * nat * text * text * text * text * text * nat -> fact
state_tag: agent * agent * agent * text * text * hash_func * nat * text * text * set(agent) * nat -> fact
state_database: agent * agent * agent * hash_func * text * text * nat * text * text * set(agent) * set(agent) * nat -> fact


section types:

tidsecrecy, sessionkey, database_tag_k, database_tag_id: protocol_id
MGoal, start: message
h, H: hash_func
set_99, set_89, set_88, set_111, set_109, set_108: set
Dummy_Rt, Dummy_Rr, Dummy_K, dummy_nonce, tid, ktd, ki, idi, Rr, Rt, ID, K, M1, M2, M3, Dummy_M3, Dummy_M2, Dummy_M1: text
A2Goal, A1Goal, t, r, d, T, R, D, i: agent
Dummy_Set_56, Dummy_Set_54, ASGoal, Set_56, Set_54, Set_40, Dummy_Set_40: set(agent)
SID, Dummy_State, 3, SID2, SID1, State, 2, 1, 0, 9, 7, 5, 4: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(t).
 iknows(r).
 iknows(d).
 iknows(ki).
 iknows(idi).
 iknows(i).
 state_database(d,t,r,h,tid,ktd,0,dummy_nonce,dummy_nonce,set_88,set_89,3).
 state_tag(t,r,d,tid,ktd,h,0,dummy_nonce,dummy_nonce,set_99,4).
 state_reader(r,t,d,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,5).
 state_database(d,i,r,h,idi,ki,0,dummy_nonce,dummy_nonce,set_108,set_109,7).
 state_reader(r,i,d,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,9)


section rules:

step step_0 (D,T,R,H,ID,Dummy_K,Dummy_Rr,Dummy_Rt,Dummy_Set_54,Dummy_Set_56,SID,Rr,Rt) :=
 state_database(D,T,R,H,ID,Dummy_K,0,Dummy_Rr,Dummy_Rt,Dummy_Set_54,Dummy_Set_56,SID).
 iknows(pair(xor(Rt,Dummy_K),pair(apply(H,xor(xor(Rt,Rr),ID)),Rt)))
 =>
 state_database(D,T,R,H,ID,xor(xor(xor(apply(H,xor(xor(Dummy_Rt,Dummy_Rr),ID)),Dummy_Rt),Dummy_K),Dummy_K),1,Rr,Rt,Dummy_Set_54,Dummy_Set_56,SID).
 iknows(apply(H,xor(xor(ID,Rt),Dummy_K))).
 secret(xor(xor(xor(apply(H,xor(xor(Dummy_Rt,Dummy_Rr),ID)),Dummy_Rt),Dummy_K),Dummy_K),sessionkey,Dummy_Set_54).
 secret(ID,tidsecrecy,Dummy_Set_56).
 contains(D,Dummy_Set_54).
 contains(T,Dummy_Set_54).
 contains(D,Dummy_Set_56).
 contains(T,Dummy_Set_56)

step step_1 (T,R,D,ID,K,H,Dummy_Rt,Dummy_Rr,Set_40,SID,Rt,Rr) :=
 state_tag(T,R,D,ID,K,H,0,Dummy_Rt,Dummy_Rr,Set_40,SID).
 iknows(Rr)
=[exists Rt]=>
 state_tag(T,R,D,ID,K,H,1,Rt,Rr,Set_40,SID).
 iknows(pair(xor(Rt,K),apply(H,xor(xor(Rt,Rr),ID)))).
 witness(T,D,database_tag_id,ID).
 witness(T,D,database_tag_k,K)

step step_2 (T,R,D,ID,Dummy_K,H,Rt,Rr,Dummy_Set_40,SID) :=
 state_tag(T,R,D,ID,Dummy_K,H,1,Rt,Rr,Dummy_Set_40,SID).
 iknows(apply(H,xor(xor(ID,Rt),Dummy_K)))
 =>
 state_tag(T,R,D,ID,xor(xor(xor(apply(H,xor(xor(Rt,Rr),ID)),Rt),Dummy_K),Dummy_K),H,2,Rt,Rr,Dummy_Set_40,SID).
 secret(xor(xor(xor(apply(H,xor(xor(Rt,Rr),ID)),Rt),Dummy_K),Dummy_K),sessionkey,Dummy_Set_40).
 contains(D,Dummy_Set_40).
 contains(T,Dummy_Set_40)

step step_3 (R,T,D,H,M1,M2,M3,Dummy_Rr,Rt,SID,Rr) :=
 state_reader(R,T,D,H,0,M1,M2,M3,Dummy_Rr,Rt,SID).
 iknows(start)
=[exists Rr]=>
 state_reader(R,T,D,H,1,M1,M2,M3,Rr,Rt,SID).
 iknows(Rr)

step step_4 (R,T,D,H,Dummy_M1,Dummy_M2,M3,Rr,Rt,SID,M1,M2) :=
 state_reader(R,T,D,H,1,Dummy_M1,Dummy_M2,M3,Rr,Rt,SID).
 iknows(pair(M1,M2))
 =>
 state_reader(R,T,D,H,2,M1,M2,M3,Rr,Rt,SID).
 iknows(pair(M1,pair(M2,Rr)))

step step_5 (R,T,D,H,M1,M2,Dummy_M3,Rr,Rt,SID,M3) :=
 state_reader(R,T,D,H,2,M1,M2,Dummy_M3,Rr,Rt,SID).
 iknows(M3)
 =>
 state_reader(R,T,D,H,3,M1,M2,M3,Rr,Rt,SID).
 iknows(M3)


section properties:

property authentication_on_database_tag_id (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,database_tag_id,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,database_tag_id,MGoal))
     /\ ((request(A1Goal,A2Goal,database_tag_id,MGoal,SID1)
           /\ request(A1Goal,A2Goal,database_tag_id,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_database_tag_k (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,database_tag_k,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,database_tag_k,MGoal))
     /\ ((request(A1Goal,A2Goal,database_tag_k,MGoal,SID1)
           /\ request(A1Goal,A2Goal,database_tag_k,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property secrecy_of_sessionkey (MGoal,ASGoal) :=
 [] ((secret(MGoal,sessionkey,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_tidsecrecy (MGoal,ASGoal) :=
 [] ((secret(MGoal,tidsecrecy,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state authentication_on_database_tag_id (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,database_tag_id,MGoal,SID) &
 not(witness(A2Goal,A1Goal,database_tag_id,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_database_tag_id (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,database_tag_id,MGoal,SID1).
 request(A1Goal,A2Goal,database_tag_id,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_database_tag_k (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,database_tag_k,MGoal,SID) &
 not(witness(A2Goal,A1Goal,database_tag_k,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_database_tag_k (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,database_tag_k,MGoal,SID1).
 request(A1Goal,A2Goal,database_tag_k,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state secrecy_of_sessionkey (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sessionkey,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_tidsecrecy (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,tidsecrecy,ASGoal) &
 not(contains(i,ASGoal))

