%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilewQiGZFhD5X

section signature:

state_user: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_rc: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_server: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact


section types:

MGoal, start: message
user_server_ti, server_user_tj, user_server_alpha, server_user_beta, s1, s2, s3, s4: protocol_id
dummy_hash, h, bh, BH, H: hash_func
sksjrc, skuirc, SKuirc, SKsjrc: symmetric_key
Dummy_Set_51, Dummy_Set_49, Dummy_Set_47, Dummy_Set_43, ASGoal, Set_132, Set_130, Set_128, Set_126, Set_93, Set_91, Set_89, Set_87, Set_51, Set_49, Set_47, Set_43, Dummy_Set_132, Dummy_Set_130, Dummy_Set_128, Dummy_Set_126, Dummy_Set_93, Dummy_Set_91, Dummy_Set_89, Dummy_Set_87: set(agent)
Dummy_Set_50, Dummy_Set_48, Dummy_Set_46, Dummy_Set_42, Set_131, Set_129, Set_127, Set_125, Set_92, Set_90, Set_88, Set_86, Set_50, Set_48, Set_46, Set_42, Dummy_Set_131, Dummy_Set_129, Dummy_Set_127, Dummy_Set_125, Dummy_Set_92, Dummy_Set_90, Dummy_Set_88, Dummy_Set_86: set(text)
Dummy_Tj, Dummy_Ti, Dummy_SKji, Dummy_Zji, Dummy_Dj, Dummy_Beta, Dummy_Alpha, Dummy_Rj, dummy_nonce, mk, uidi, sidj, ri, rj, ti, tj, Di, Xij, Zji, SKji, Ti, Tj, RPWi, Ri, Rj, Alpha, Beta, PWi, Bi, Dj, UIDi, SIDj, MK, P, Q, G, SKsj, Yij, Dummy_Di, Dummy_Ri, Dummy_RPWi, Dummy_Yij, Dummy_Xij, Dummy_SKsj: text
A2Goal, A1Goal, ui, sj, Ui, Sj, RC, rc, i: agent
Dummy_State, 3, SID, SID2, SID1, 17, State, 15, 5, 13, 12, 6, 8, 4, 7, 2, 1, 0: nat
set_202, set_201, set_200, set_199, set_198, set_197, set_196, set_174, set_173, set_172, set_171, set_170, set_169, set_168, set_167, set_314, set_313, set_312, set_311, set_310, set_309, set_308, set_307, set_306, set_305, set_304, set_303, set_302, set_301, set_300, set_299, set_297, set_296, set_295, set_294, set_293, set_292, set_291, set_290, set_288, set_287, set_286, set_285, set_284, set_283, set_282, set_281, set_279, set_278, set_277, set_276, set_275, set_274, set_273, set_272, set_271, set_270, set_269, set_268, set_267, set_266, set_265, set_264, set_263, set_262, set_261, set_260, set_259, set_258, set_257, set_256, set_254, set_253, set_252, set_251, set_250, set_249, set_248, set_247, set_245, set_244, set_243, set_242, set_241, set_240, set_239, set_238, set_224, set_223, set_222, set_221, set_220, set_219, set_218, set_217, set_203: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(sj).
 iknows(rc).
 iknows(h).
 iknows(bh).
 iknows(uidi).
 iknows(ti).
 iknows(tj).
 iknows(i).
 state_server(sj,ui,rc,sksjrc,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_167,set_168,set_169,set_170,set_171,set_172,set_173,set_174,3).
 state_rc(rc,ui,sj,sksjrc,skuirc,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_196,set_197,set_198,set_199,set_200,set_201,set_202,set_203,4).
 state_user(ui,sj,rc,skuirc,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_217,set_218,set_219,set_220,set_221,set_222,set_223,set_224,5).
 state_server(sj,i,rc,sksjrc,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_238,set_239,set_240,set_241,set_242,set_243,set_244,set_245,7).
 state_rc(rc,i,sj,sksjrc,skuirc,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_247,set_248,set_249,set_250,set_251,set_252,set_253,set_254,8).
 state_rc(rc,ui,i,sksjrc,skuirc,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_272,set_273,set_274,set_275,set_276,set_277,set_278,set_279,12).
 state_user(ui,i,rc,skuirc,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_281,set_282,set_283,set_284,set_285,set_286,set_287,set_288,13).
 state_server(sj,ui,i,sksjrc,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_290,set_291,set_292,set_293,set_294,set_295,set_296,set_297,15).
 state_user(ui,sj,i,skuirc,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_307,set_308,set_309,set_310,set_311,set_312,set_313,set_314,17)


section rules:

step step_0 (Sj,Ui,RC,SKsjrc,H,UIDi,SIDj,MK,P,Q,G,Rj,Alpha,Beta,Dj,Zji,PWi,Bi,SKji,Ti,Tj,BH,Dummy_Set_42,Dummy_Set_43,Set_46,Set_47,Set_48,Set_49,Set_50,Set_51,SID) :=
 state_server(Sj,Ui,RC,SKsjrc,H,0,UIDi,SIDj,MK,P,Q,G,Rj,Alpha,Beta,Dj,Zji,PWi,Bi,SKji,Ti,Tj,BH,Dummy_Set_42,Dummy_Set_43,Set_46,Set_47,Set_48,Set_49,Set_50,Set_51,SID).
 iknows(start)
 =>
 state_server(Sj,Ui,RC,SKsjrc,H,2,UIDi,SIDj,MK,P,Q,G,Rj,Alpha,Beta,Dj,Zji,PWi,Bi,SKji,Ti,Tj,BH,Dummy_Set_42,Dummy_Set_43,Set_46,Set_47,Set_48,Set_49,Set_50,Set_51,SID).
 iknows(scrypt(SKsjrc,SIDj)).
 secret(Dummy_Set_42,s1,Dummy_Set_43).
 contains(SIDj,Dummy_Set_42).
 contains(Sj,Dummy_Set_43).
 contains(RC,Dummy_Set_43).
 contains(Ui,Dummy_Set_43)

step step_1 (Sj,Ui,RC,SKsjrc,H,UIDi,SIDj,MK,P,Q,G,Dummy_Rj,Alpha,Beta,Dj,Zji,PWi,Bi,SKji,Ti,Tj,BH,Set_42,Set_43,Dummy_Set_46,Dummy_Set_47,Dummy_Set_48,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,SID,Rj) :=
 state_server(Sj,Ui,RC,SKsjrc,H,2,UIDi,SIDj,MK,P,Q,G,Dummy_Rj,Alpha,Beta,Dj,Zji,PWi,Bi,SKji,Ti,Tj,BH,Set_42,Set_43,Dummy_Set_46,Dummy_Set_47,Dummy_Set_48,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,SID).
 iknows(scrypt(SKsjrc,pair(exp(G,apply(H,pair(Rj,pair(MK,SIDj)))),pair(G,pair(P,pair(Q,H))))))
 =>
 state_server(Sj,Ui,RC,SKsjrc,H,4,UIDi,SIDj,MK,P,Q,G,Rj,Alpha,Beta,Dj,Zji,PWi,Bi,SKji,Ti,Tj,BH,Set_42,Set_43,Dummy_Set_46,Dummy_Set_47,Dummy_Set_48,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,SID).
 secret(Dummy_Set_46,s2,Dummy_Set_47).
 secret(Dummy_Set_48,s3,Dummy_Set_49).
 secret(Dummy_Set_50,s4,Dummy_Set_51).
 contains(MK,Dummy_Set_46).
 contains(RC,Dummy_Set_47).
 contains(Rj,Dummy_Set_48).
 contains(RC,Dummy_Set_49).
 contains(PWi,Dummy_Set_50).
 contains(Bi,Dummy_Set_50).
 contains(Ui,Dummy_Set_51)

step step_2 (Sj,Ui,RC,SKsjrc,H,UIDi,SIDj,MK,P,Q,G,Dummy_Rj,Dummy_Alpha,Dummy_Beta,Dummy_Dj,Dummy_Zji,PWi,Bi,Dummy_SKji,Dummy_Ti,Dummy_Tj,BH,Set_42,Set_43,Set_46,Set_47,Set_48,Set_49,Set_50,Set_51,SID,Alpha,Beta,Ti,Tj) :=
 state_server(Sj,Ui,RC,SKsjrc,H,4,UIDi,SIDj,MK,P,Q,G,Dummy_Rj,Dummy_Alpha,Dummy_Beta,Dummy_Dj,Dummy_Zji,PWi,Bi,Dummy_SKji,Dummy_Ti,Dummy_Tj,BH,Set_42,Set_43,Set_46,Set_47,Set_48,Set_49,Set_50,Set_51,SID).
 iknows(pair(UIDi,pair(exp(G,Alpha),pair(apply(H,pair(UIDi,pair(exp(G,Alpha),pair(apply(H,pair(SIDj,pair(exp(G,apply(H,pair(Rj,pair(MK,SIDj)))),UIDi))),Ti)))),Ti))))
=[exists Tj,Beta]=>
 state_server(Sj,Ui,RC,SKsjrc,H,6,UIDi,SIDj,MK,P,Q,G,apply(H,pair(UIDi,pair(Ti,pair(apply(H,pair(UIDi,pair(exp(exp(G,Alpha),Beta),pair(apply(H,pair(SIDj,pair(exp(G,apply(H,pair(Rj,pair(MK,SIDj)))),UIDi))),SIDj)))),Tj)))),Alpha,Beta,exp(G,Beta),exp(exp(G,Alpha),Beta),PWi,Bi,apply(H,pair(UIDi,pair(exp(exp(G,Alpha),Beta),pair(apply(H,pair(SIDj,pair(exp(G,apply(H,pair(apply(H,pair(UIDi,pair(Ti,pair(apply(H,pair(UIDi,pair(exp(exp(G,Alpha),Beta),pair(apply(H,pair(SIDj,pair(exp(G,apply(H,pair(Rj,pair(MK,SIDj)))),UIDi))),SIDj)))),Tj)))),pair(MK,SIDj)))),UIDi))),SIDj)))),Ti,Tj,BH,Set_42,Set_43,Set_46,Set_47,Set_48,Set_49,Set_50,Set_51,SID).
 iknows(pair(exp(G,Beta),pair(apply(H,pair(UIDi,pair(Ti,pair(apply(H,pair(UIDi,pair(exp(exp(G,Alpha),Beta),pair(apply(H,pair(SIDj,pair(exp(G,apply(H,pair(Rj,pair(MK,SIDj)))),UIDi))),SIDj)))),Tj)))),Tj))).
 witness(Sj,Ui,server_user_beta,Beta).
 witness(Sj,Ui,server_user_tj,Tj).
 request(Ui,Sj,user_server_alpha,Alpha,SID).
 request(Ui,Sj,user_server_ti,Ti,SID)

step step_3 (RC,Ui,Sj,SKsjrc,SKuirc,H,UIDi,SIDj,MK,P,Q,G,Dummy_Rj,Alpha,Beta,Dj,PWi,Bi,Zji,Xij,SKji,Ti,Tj,Dummy_SKsj,Yij,BH,Dummy_Set_86,Dummy_Set_87,Dummy_Set_88,Dummy_Set_89,Dummy_Set_90,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,SID,Rj) :=
 state_rc(RC,Ui,Sj,SKsjrc,SKuirc,H,0,UIDi,SIDj,MK,P,Q,G,Dummy_Rj,Alpha,Beta,Dj,PWi,Bi,Zji,Xij,SKji,Ti,Tj,Dummy_SKsj,Yij,BH,Dummy_Set_86,Dummy_Set_87,Dummy_Set_88,Dummy_Set_89,Dummy_Set_90,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,SID).
 iknows(scrypt(SKsjrc,SIDj))
=[exists Rj]=>
 state_rc(RC,Ui,Sj,SKsjrc,SKuirc,H,3,UIDi,SIDj,MK,P,Q,G,Rj,Alpha,Beta,Dj,PWi,Bi,Zji,Xij,SKji,Ti,Tj,exp(G,apply(H,pair(Rj,pair(MK,SIDj)))),Yij,BH,Dummy_Set_86,Dummy_Set_87,Dummy_Set_88,Dummy_Set_89,Dummy_Set_90,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,SID).
 secret(Dummy_Set_86,s1,Dummy_Set_87).
 iknows(scrypt(SKsjrc,pair(exp(G,apply(H,pair(Rj,pair(MK,SIDj)))),pair(G,pair(P,pair(Q,H)))))).
 secret(Dummy_Set_88,s2,Dummy_Set_89).
 secret(Dummy_Set_90,s3,Dummy_Set_91).
 secret(Dummy_Set_92,s4,Dummy_Set_93).
 contains(SIDj,Dummy_Set_86).
 contains(Sj,Dummy_Set_87).
 contains(RC,Dummy_Set_87).
 contains(Ui,Dummy_Set_87).
 contains(MK,Dummy_Set_88).
 contains(RC,Dummy_Set_89).
 contains(Rj,Dummy_Set_90).
 contains(RC,Dummy_Set_91).
 contains(PWi,Dummy_Set_92).
 contains(Bi,Dummy_Set_92).
 contains(Ui,Dummy_Set_93)

step step_4 (RC,Ui,Sj,SKsjrc,SKuirc,H,UIDi,SIDj,MK,P,Q,G,Rj,Alpha,Beta,Dj,PWi,Bi,Zji,Dummy_Xij,SKji,Ti,Tj,SKsj,Dummy_Yij,BH,Set_86,Set_87,Set_88,Set_89,Set_90,Set_91,Set_92,Set_93,SID) :=
 state_rc(RC,Ui,Sj,SKsjrc,SKuirc,H,3,UIDi,SIDj,MK,P,Q,G,Rj,Alpha,Beta,Dj,PWi,Bi,Zji,Dummy_Xij,SKji,Ti,Tj,SKsj,Dummy_Yij,BH,Set_86,Set_87,Set_88,Set_89,Set_90,Set_91,Set_92,Set_93,SID).
 iknows(scrypt(SKuirc,pair(UIDi,apply(H,pair(UIDi,pair(PWi,apply(BH,Bi)))))))
 =>
 state_rc(RC,Ui,Sj,SKsjrc,SKuirc,H,5,UIDi,SIDj,MK,P,Q,G,Rj,Alpha,Beta,Dj,PWi,Bi,Zji,apply(H,pair(SIDj,pair(exp(G,apply(H,pair(Rj,pair(MK,SIDj)))),UIDi))),SKji,Ti,Tj,SKsj,xor(apply(H,pair(SIDj,pair(exp(G,apply(H,pair(Rj,pair(MK,SIDj)))),UIDi))),apply(H,pair(UIDi,pair(PWi,apply(BH,Bi))))),BH,Set_86,Set_87,Set_88,Set_89,Set_90,Set_91,Set_92,Set_93,SID).
 iknows(scrypt(SKuirc,pair(xor(apply(H,pair(SIDj,pair(exp(G,apply(H,pair(Rj,pair(MK,SIDj)))),UIDi))),apply(H,pair(UIDi,pair(PWi,apply(BH,Bi))))),pair(P,pair(Q,pair(G,pair(H,BH)))))))

step step_5 (Ui,Sj,RC,SKuirc,H,UIDi,SIDj,MK,P,Q,G,Ri,Rj,Alpha,Beta,PWi,Bi,Dj,Di,Xij,Zji,SKji,Ti,Tj,Dummy_RPWi,BH,Dummy_Set_125,Dummy_Set_126,Dummy_Set_127,Dummy_Set_128,Dummy_Set_129,Dummy_Set_130,Set_131,Set_132,SID) :=
 state_user(Ui,Sj,RC,SKuirc,H,0,UIDi,SIDj,MK,P,Q,G,Ri,Rj,Alpha,Beta,PWi,Bi,Dj,Di,Xij,Zji,SKji,Ti,Tj,Dummy_RPWi,BH,Dummy_Set_125,Dummy_Set_126,Dummy_Set_127,Dummy_Set_128,Dummy_Set_129,Dummy_Set_130,Set_131,Set_132,SID).
 iknows(start)
 =>
 state_user(Ui,Sj,RC,SKuirc,H,1,UIDi,SIDj,MK,P,Q,G,Ri,Rj,Alpha,Beta,PWi,Bi,Dj,Di,Xij,Zji,SKji,Ti,Tj,apply(H,pair(UIDi,pair(PWi,apply(BH,Bi)))),BH,Dummy_Set_125,Dummy_Set_126,Dummy_Set_127,Dummy_Set_128,Dummy_Set_129,Dummy_Set_130,Set_131,Set_132,SID).
 iknows(scrypt(SKuirc,pair(UIDi,apply(H,pair(UIDi,pair(PWi,apply(BH,Bi))))))).
 secret(Dummy_Set_125,s1,Dummy_Set_126).
 secret(Dummy_Set_127,s2,Dummy_Set_128).
 secret(Dummy_Set_129,s4,Dummy_Set_130).
 contains(SIDj,Dummy_Set_125).
 contains(Sj,Dummy_Set_126).
 contains(RC,Dummy_Set_126).
 contains(Ui,Dummy_Set_126).
 contains(MK,Dummy_Set_127).
 contains(RC,Dummy_Set_128).
 contains(PWi,Dummy_Set_129).
 contains(Bi,Dummy_Set_129).
 contains(Ui,Dummy_Set_130)

step step_6 (Ui,Sj,RC,SKuirc,H,UIDi,SIDj,MK,P,Q,G,Dummy_Ri,Dummy_Rj,Dummy_Alpha,Beta,PWi,Bi,Dj,Dummy_Di,Dummy_Xij,Zji,SKji,Dummy_Ti,Tj,RPWi,BH,Set_125,Set_126,Set_127,Set_128,Set_129,Set_130,Dummy_Set_131,Dummy_Set_132,SID,Rj,Alpha,Ti) :=
 state_user(Ui,Sj,RC,SKuirc,H,1,UIDi,SIDj,MK,P,Q,G,Dummy_Ri,Dummy_Rj,Dummy_Alpha,Beta,PWi,Bi,Dj,Dummy_Di,Dummy_Xij,Zji,SKji,Dummy_Ti,Tj,RPWi,BH,Set_125,Set_126,Set_127,Set_128,Set_129,Set_130,Dummy_Set_131,Dummy_Set_132,SID).
 iknows(scrypt(SKuirc,pair(xor(apply(H,pair(SIDj,pair(exp(G,apply(H,pair(Rj,pair(MK,SIDj)))),UIDi))),apply(H,pair(UIDi,pair(PWi,apply(BH,Bi))))),pair(P,pair(Q,pair(G,pair(H,BH)))))))
=[exists Ti,Alpha]=>
 state_user(Ui,Sj,RC,SKuirc,H,2,UIDi,SIDj,MK,P,Q,G,apply(H,pair(UIDi,pair(exp(G,Alpha),pair(apply(H,pair(SIDj,pair(exp(G,apply(H,pair(Rj,pair(MK,SIDj)))),UIDi))),Ti)))),Rj,Alpha,Beta,PWi,Bi,Dj,exp(G,Alpha),apply(H,pair(SIDj,pair(exp(G,apply(H,pair(Rj,pair(MK,SIDj)))),UIDi))),Zji,SKji,Ti,Tj,RPWi,BH,Set_125,Set_126,Set_127,Set_128,Set_129,Set_130,Dummy_Set_131,Dummy_Set_132,SID).
 secret(Dummy_Set_131,s3,Dummy_Set_132).
 iknows(pair(UIDi,pair(exp(G,Alpha),pair(apply(H,pair(UIDi,pair(exp(G,Alpha),pair(apply(H,pair(SIDj,pair(exp(G,apply(H,pair(Rj,pair(MK,SIDj)))),UIDi))),Ti)))),Ti)))).
 witness(Ui,Sj,user_server_alpha,Alpha).
 witness(Ui,Sj,user_server_ti,Ti).
 contains(Rj,Dummy_Set_131).
 contains(RC,Dummy_Set_132)

step step_7 (Ui,Sj,RC,SKuirc,H,UIDi,SIDj,MK,P,Q,G,Ri,Dummy_Rj,Dummy_Alpha,Dummy_Beta,PWi,Bi,Dj,Di,Xij,Zji,SKji,Dummy_Ti,Dummy_Tj,RPWi,BH,Set_125,Set_126,Set_127,Set_128,Set_129,Set_130,Set_131,Set_132,SID,Rj,Alpha,Beta,Ti,Tj) :=
 state_user(Ui,Sj,RC,SKuirc,H,2,UIDi,SIDj,MK,P,Q,G,Ri,Dummy_Rj,Dummy_Alpha,Dummy_Beta,PWi,Bi,Dj,Di,Xij,Zji,SKji,Dummy_Ti,Dummy_Tj,RPWi,BH,Set_125,Set_126,Set_127,Set_128,Set_129,Set_130,Set_131,Set_132,SID).
 iknows(pair(exp(G,Beta),pair(apply(H,pair(UIDi,pair(Ti,apply(H,pair(UIDi,pair(exp(exp(G,Alpha),Beta),pair(apply(H,pair(SIDj,pair(exp(G,apply(H,pair(Rj,pair(MK,SIDj)))),UIDi))),Tj))))))),Tj)))
 =>
 state_user(Ui,Sj,RC,SKuirc,H,3,UIDi,SIDj,MK,P,Q,G,Ri,Rj,Alpha,Beta,PWi,Bi,Dj,Di,Xij,Zji,SKji,Ti,Tj,RPWi,BH,Set_125,Set_126,Set_127,Set_128,Set_129,Set_130,Set_131,Set_132,SID).
 request(Sj,Ui,server_user_beta,Beta,SID).
 request(Sj,Ui,server_user_tj,Tj,SID)


section properties:

property secrecy_of_s1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_s2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_s3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_s4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_server_alpha (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_server_alpha,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_server_alpha,MGoal))
     /\ ((request(A1Goal,A2Goal,user_server_alpha,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_server_alpha,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_user_beta (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_user_beta,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_user_beta,MGoal))
     /\ ((request(A1Goal,A2Goal,server_user_beta,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_user_beta,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_server_ti (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_server_ti,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_server_ti,MGoal))
     /\ ((request(A1Goal,A2Goal,user_server_ti,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_server_ti,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_user_tj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_user_tj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_user_tj,MGoal))
     /\ ((request(A1Goal,A2Goal,server_user_tj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_user_tj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_s1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_s2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_s3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_s4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s4,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_server_alpha (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_server_alpha,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_alpha,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_server_alpha (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_server_alpha,MGoal,SID1).
 request(A1Goal,A2Goal,user_server_alpha,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_user_beta (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_user_beta,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_user_beta,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_user_beta (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_user_beta,MGoal,SID1).
 request(A1Goal,A2Goal,server_user_beta,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_server_ti (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_server_ti,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_ti,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_server_ti (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_server_ti,MGoal,SID1).
 request(A1Goal,A2Goal,user_server_ti,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_user_tj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_user_tj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_user_tj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_user_tj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_user_tj,MGoal,SID1).
 request(A1Goal,A2Goal,server_user_tj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

