%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile3Cyehm

section signature:

state_kgc: agent * agent * agent * agent * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * nat -> fact
state_cn: agent * agent * agent * agent * public_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(agent) * nat -> fact
state_ha: agent * agent * agent * agent * public_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * nat -> fact
state_mn: agent * agent * agent * agent * public_key * hash_func * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * nat * set(agent) * nat -> fact


section types:

set_185, set_167: set
MGoal, start: message
Hashv, has: hash_func
Kcn, kcn, ki: public_key
Dummy_Set_110, Dummy_Set_40, ASGoal, Set_40, Set_110: set(agent)
n0, n1, bu, ba: protocol_id
6, SID, 5, State, 4, Dummy_State, 3, 1, 10, 8, 0, 9, 7, 2: nat
MN, CN, HA, KGC, mn1, cn1, ha1, kgc1, i: agent
CNA, Dcn, RPP, KGCA, Blt, N0, Msglen, Type, DcnReq, SIDCN, BU, BA, K1, N1, N2, Dummy_BA, Dummy_N1, Dummy_BU, Dummy_N0, Dummy_KGCA, Dummy_CNA, Dummy_OldCoA, Dummy_HoA, CoA, Dummy_HAA, HAA, Dummy_CoA, HoA, OldCoA, dummy_nonce: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(mn1).
 iknows(cn1).
 iknows(ha1).
 iknows(kgc1).
 iknows(kcn).
 iknows(ki).
 iknows(has).
 iknows(i).
 state_mn(mn1,cn1,ha1,kgc1,kcn,has,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,0,set_167,3).
 state_ha(kgc1,mn1,cn1,ha1,kcn,has,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,4).
 state_cn(cn1,mn1,ha1,kgc1,kcn,has,2,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_185,5).
 state_kgc(kgc1,mn1,cn1,ha1,has,4,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,6)


section rules:

step step_0 (MN,KGC,CN,HA,Kcn,Hashv,Dummy_CoA,Dummy_HAA,Dummy_HoA,Dummy_OldCoA,Dummy_CNA,RPP,Dcn,Dummy_KGCA,Blt,Dummy_N0,BA,BU,Msglen,Type,DcnReq,SIDCN,K1,N1,N2,Set_40,SID,CoA,HAA,HoA,OldCoA,CNA,KGCA,N0) :=
 state_mn(MN,KGC,CN,HA,Kcn,Hashv,Dummy_CoA,Dummy_HAA,Dummy_HoA,Dummy_OldCoA,Dummy_CNA,RPP,Dcn,Dummy_KGCA,Blt,Dummy_N0,BA,BU,Msglen,Type,DcnReq,SIDCN,K1,N1,N2,0,Set_40,SID).
 iknows(start)
=[exists KGCA,HoA,CNA,OldCoA,HAA,CoA,N0]=>
 state_mn(MN,KGC,CN,HA,Kcn,Hashv,CoA,HAA,HoA,OldCoA,CNA,RPP,Dcn,KGCA,Blt,N0,BA,BU,Msglen,Type,DcnReq,SIDCN,K1,N1,N2,6,Set_40,SID).
 iknows(pair(CoA,pair(HAA,pair(HoA,pair(OldCoA,pair(CNA,pair(crypt(Kcn,N0),KGCA))))))).
 iknows(pair(CoA,pair(CNA,pair(OldCoA,pair(crypt(Kcn,N0),KGCA)))))

step step_1 (MN,KGC,CN,HA,Kcn,Hashv,Dummy_CoA,HAA,HoA,OldCoA,Dummy_CNA,RPP,Dcn,KGCA,Blt,N0,BA,Dummy_BU,Msglen,Type,DcnReq,SIDCN,K1,Dummy_N1,N2,Dummy_Set_40,SID,CoA,CNA,BU,N1) :=
 state_mn(MN,KGC,CN,HA,Kcn,Hashv,Dummy_CoA,HAA,HoA,OldCoA,Dummy_CNA,RPP,Dcn,KGCA,Blt,N0,BA,Dummy_BU,Msglen,Type,DcnReq,SIDCN,K1,Dummy_N1,N2,6,Dummy_Set_40,SID).
 iknows(pair(CNA,pair(CoA,apply(Hashv,pair(N0,N1)))))
=[exists BU]=>
 state_mn(MN,KGC,CN,HA,Kcn,Hashv,CoA,HAA,HoA,OldCoA,CNA,RPP,Dcn,KGCA,Blt,N0,BA,BU,Msglen,Type,DcnReq,SIDCN,K1,N1,N2,8,Dummy_Set_40,SID).
 iknows(pair(CoA,pair(CNA,pair(crypt(Kcn,N1),BU)))).
 secret(BU,bu,Dummy_Set_40).
 contains(MN,Dummy_Set_40).
 contains(CN,Dummy_Set_40)

step step_2 (MN,KGC,CN,HA,Kcn,Hashv,CoA,HAA,HoA,OldCoA,CNA,RPP,Dcn,KGCA,Blt,N0,Dummy_BA,BU,Msglen,Type,DcnReq,SIDCN,K1,N1,N2,Set_40,SID,BA) :=
 state_mn(MN,KGC,CN,HA,Kcn,Hashv,CoA,HAA,HoA,OldCoA,CNA,RPP,Dcn,KGCA,Blt,N0,Dummy_BA,BU,Msglen,Type,DcnReq,SIDCN,K1,N1,N2,8,Set_40,SID).
 iknows(pair(CNA,pair(CoA,BA)))
 =>
 state_mn(MN,KGC,CN,HA,Kcn,Hashv,CoA,HAA,HoA,OldCoA,CNA,RPP,Dcn,KGCA,Blt,N0,BA,BU,Msglen,Type,DcnReq,SIDCN,K1,N1,N2,10,Set_40,SID).
 iknows(pair(CNA,CoA))

step step_3 (HA,MN,KGC,CN,Kcn,Hashv,Dummy_CoA,Dummy_HAA,Dummy_HoA,Dummy_OldCoA,Dummy_CNA,RPP,Dummy_KGCA,Blt,Dummy_N0,Msglen,Type,Dcn,DcnReq,SIDCN,K1,BU,BA,N1,N2,SID,CoA,HAA,HoA,OldCoA,CNA,KGCA,N0) :=
 state_ha(HA,MN,KGC,CN,Kcn,Hashv,1,Dummy_CoA,Dummy_HAA,Dummy_HoA,Dummy_OldCoA,Dummy_CNA,RPP,Dummy_KGCA,Blt,Dummy_N0,Msglen,Type,Dcn,DcnReq,SIDCN,K1,BU,BA,N1,N2,SID).
 iknows(pair(CoA,pair(HAA,pair(HoA,pair(OldCoA,pair(CNA,pair(crypt(Kcn,N0),KGCA)))))))
 =>
 state_ha(HA,MN,KGC,CN,Kcn,Hashv,3,CoA,HAA,HoA,OldCoA,CNA,RPP,KGCA,Blt,N0,Msglen,Type,Dcn,DcnReq,SIDCN,K1,BU,BA,N1,N2,SID).
 iknows(pair(HoA,pair(CNA,pair(OldCoA,pair(crypt(Kcn,N0),KGCA)))))

step step_4 (CN,MN,HA,KGC,Kcn,Hashv,CoA,HAA,Dummy_HoA,Dummy_OldCoA,Dummy_CNA,Dcn,RPP,Dummy_KGCA,Blt,Dummy_N0,Msglen,Type,DcnReq,SIDCN,BU,BA,K1,N1,N2,Set_110,SID,HoA,OldCoA,CNA,KGCA,N0) :=
 state_cn(CN,MN,HA,KGC,Kcn,Hashv,2,CoA,HAA,Dummy_HoA,Dummy_OldCoA,Dummy_CNA,Dcn,RPP,Dummy_KGCA,Blt,Dummy_N0,Msglen,Type,DcnReq,SIDCN,BU,BA,K1,N1,N2,Set_110,SID).
 iknows(pair(HoA,pair(CNA,pair(OldCoA,pair(crypt(Kcn,N0),KGCA)))))
 =>
 state_cn(CN,MN,HA,KGC,Kcn,Hashv,3,CoA,HAA,HoA,OldCoA,CNA,Dcn,RPP,KGCA,Blt,N0,Msglen,Type,DcnReq,SIDCN,BU,BA,K1,N1,N2,Set_110,SID)

step step_5 (CN,MN,HA,KGC,Kcn,Hashv,Dummy_CoA,HAA,HoA,Dummy_OldCoA,Dummy_CNA,Dcn,RPP,Dummy_KGCA,Blt,Dummy_N0,Msglen,Type,DcnReq,SIDCN,BU,BA,K1,N1,N2,Set_110,SID,CoA,OldCoA,CNA,KGCA,N0) :=
 state_cn(CN,MN,HA,KGC,Kcn,Hashv,3,Dummy_CoA,HAA,HoA,Dummy_OldCoA,Dummy_CNA,Dcn,RPP,Dummy_KGCA,Blt,Dummy_N0,Msglen,Type,DcnReq,SIDCN,BU,BA,K1,N1,N2,Set_110,SID).
 iknows(pair(CoA,pair(CNA,pair(OldCoA,pair(crypt(Kcn,N0),KGCA)))))
 =>
 state_cn(CN,MN,HA,KGC,Kcn,Hashv,5,CoA,HAA,HoA,OldCoA,CNA,Dcn,RPP,KGCA,Blt,N0,Msglen,Type,DcnReq,SIDCN,BU,BA,K1,N1,N2,Set_110,SID).
 iknows(pair(CNA,pair(KGCA,DcnReq)))

step step_6 (CN,MN,HA,KGC,Kcn,Hashv,Dummy_CoA,HAA,HoA,OldCoA,Dummy_CNA,Dcn,RPP,KGCA,Blt,N0,Msglen,Type,DcnReq,SIDCN,BU,BA,K1,Dummy_N1,N2,Set_110,SID,CoA,CNA,N1) :=
 state_cn(CN,MN,HA,KGC,Kcn,Hashv,5,Dummy_CoA,HAA,HoA,OldCoA,Dummy_CNA,Dcn,RPP,KGCA,Blt,N0,Msglen,Type,DcnReq,SIDCN,BU,BA,K1,Dummy_N1,N2,Set_110,SID).
 iknows(pair(KGCA,pair(Dummy_CNA,Dcn)))
=[exists CoA,CNA,N1]=>
 state_cn(CN,MN,HA,KGC,Kcn,Hashv,7,CoA,HAA,HoA,OldCoA,CNA,Dcn,RPP,KGCA,Blt,N0,Msglen,Type,DcnReq,SIDCN,BU,BA,K1,N1,N2,Set_110,SID).
 iknows(pair(Dummy_CNA,pair(Dummy_CoA,apply(Hashv,pair(N0,N1)))))

step step_7 (CN,MN,HA,KGC,Kcn,Hashv,CoA,HAA,HoA,OldCoA,CNA,Dcn,RPP,KGCA,Blt,N0,Msglen,Type,DcnReq,SIDCN,Dummy_BU,Dummy_BA,K1,N1,N2,Dummy_Set_110,SID,BU,BA) :=
 state_cn(CN,MN,HA,KGC,Kcn,Hashv,7,CoA,HAA,HoA,OldCoA,CNA,Dcn,RPP,KGCA,Blt,N0,Msglen,Type,DcnReq,SIDCN,Dummy_BU,Dummy_BA,K1,N1,N2,Dummy_Set_110,SID).
 iknows(pair(CoA,pair(CNA,pair(crypt(Kcn,N1),BU))))
=[exists BA]=>
 state_cn(CN,MN,HA,KGC,Kcn,Hashv,9,CoA,HAA,HoA,OldCoA,CNA,Dcn,RPP,KGCA,Blt,N0,Msglen,Type,DcnReq,SIDCN,BU,BA,K1,N1,N2,Dummy_Set_110,SID).
 iknows(pair(CNA,pair(CoA,BA))).
 secret(BA,ba,Dummy_Set_110).
 contains(MN,Dummy_Set_110).
 contains(CN,Dummy_Set_110)

step step_8 (KGC,MN,CN,HA,Hashv,CoA,HAA,HoA,OldCoA,Dummy_CNA,RPP,Dummy_KGCA,Blt,N0,Msglen,Type,Dcn,DcnReq,SIDCN,K1,N1,BU,BA,N2,SID,CNA,KGCA) :=
 state_kgc(KGC,MN,CN,HA,Hashv,4,CoA,HAA,HoA,OldCoA,Dummy_CNA,RPP,Dummy_KGCA,Blt,N0,Msglen,Type,Dcn,DcnReq,SIDCN,K1,N1,BU,BA,N2,SID).
 iknows(pair(CNA,pair(KGCA,DcnReq)))
 =>
 state_kgc(KGC,MN,CN,HA,Hashv,6,CoA,HAA,HoA,OldCoA,CNA,RPP,KGCA,Blt,N0,Msglen,Type,Dcn,DcnReq,SIDCN,K1,N1,BU,BA,N2,SID).
 iknows(pair(KGCA,pair(CNA,Dcn)))


section properties:

property secrecy_of_bu (MGoal,ASGoal) :=
 [] ((secret(MGoal,bu,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_ba (MGoal,ASGoal) :=
 [] ((secret(MGoal,ba,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state secrecy_of_bu (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,bu,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_ba (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,ba,ASGoal) &
 not(contains(i,ASGoal))

