%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilermR8w9sUFl

section signature:

state_bob: agent * agent * hash_func * nat * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(text) * set(text) * nat -> fact
state_alice: agent * agent * hash_func * nat * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(text) * set(text) * set(text) * nat -> fact


section types:

MGoal, start: message
alice_bob_Ni, bob_alice_Yi, alice_bob_N1, bob_sensor_N2, sensor_bob_N3, subs1, subs2, subs3, subs4, subs5: protocol_id
Dummy_Yi, Dummy_N1, Dummy_Ni, dummy_nonce, UIDi, Pi, RPWi, Ni, N1, Yi, MK, N2, N3, SIDj: text
Dummy_Set_37, ASGoal, Set_63, Set_37, Dummy_Set_63: set(agent)
h, H: hash_func
Dummy_State, 3, SID, SID2, SID1, State, 2, 1, 0, 7, 6, 4: nat
A2Goal, A1Goal, ui, s, Ui, S, i: agent
set_88, set_87, set_86, set_85, set_84, set_83, set_125, set_124, set_123, set_122, set_121, set_119, set_118, set_117, set_116, set_115, set_114, set_106, set_105, set_104, set_103, set_102: set
Dummy_Set_42, Dummy_Set_38, Dummy_Set_36, Dummy_Set_34, Set_65, Set_64, Set_62, Set_61, Set_43, Set_42, Set_38, Set_36, Set_34, Dummy_Set_65, Dummy_Set_64, Dummy_Set_62, Dummy_Set_61, Dummy_Set_43: set(text)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(s).
 iknows(h).
 iknows(i).
 state_alice(ui,s,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_83,set_84,set_85,set_86,set_87,set_88,3).
 state_bob(s,ui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_102,set_103,set_104,set_105,set_106,4).
 state_alice(ui,s,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_114,set_115,set_116,set_117,set_118,set_119,6).
 state_bob(s,ui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_121,set_122,set_123,set_124,set_125,7)


section rules:

step step_0 (Ui,S,H,UIDi,Pi,RPWi,Dummy_Ni,N1,Yi,MK,N2,N3,SIDj,Dummy_Set_34,Dummy_Set_36,Dummy_Set_37,Dummy_Set_38,Set_42,Set_43,SID,Ni) :=
 state_alice(Ui,S,H,0,UIDi,Pi,RPWi,Dummy_Ni,N1,Yi,MK,N2,N3,SIDj,Dummy_Set_34,Dummy_Set_36,Dummy_Set_37,Dummy_Set_38,Set_42,Set_43,SID).
 iknows(start)
=[exists Ni]=>
 state_alice(Ui,S,H,1,UIDi,Pi,RPWi,Ni,N1,Yi,MK,N2,N3,SIDj,Dummy_Set_34,Dummy_Set_36,Dummy_Set_37,Dummy_Set_38,Set_42,Set_43,SID).
 secret(Dummy_Set_34,subs1,Ui).
 secret(Dummy_Set_36,subs2,Dummy_Set_37).
 iknows(Dummy_Set_38).
 witness(Ui,S,alice_bob_Ni,Ni).
 contains(Ni,Dummy_Set_34).
 contains(Pi,Dummy_Set_34).
 contains(UIDi,Dummy_Set_36).
 contains(Ui,Dummy_Set_37).
 contains(S,Dummy_Set_37).
 contains(UIDi,Dummy_Set_38).
 contains(apply(H,pair(Ni,Pi)),Dummy_Set_38)

step step_1 (Ui,S,H,UIDi,Pi,RPWi,Dummy_Ni,Dummy_N1,Dummy_Yi,MK,N2,N3,SIDj,Set_34,Set_36,Set_37,Set_38,Dummy_Set_42,Dummy_Set_43,SID,Ni,N1,Yi) :=
 state_alice(Ui,S,H,1,UIDi,Pi,RPWi,Dummy_Ni,Dummy_N1,Dummy_Yi,MK,N2,N3,SIDj,Set_34,Set_36,Set_37,Set_38,Dummy_Set_42,Dummy_Set_43,SID).
 iknows(xor(apply(H,pair(UIDi,apply(H,pair(Ni,Pi)))),Yi))
=[exists N1]=>
 state_alice(Ui,S,H,2,UIDi,Pi,RPWi,Ni,N1,Yi,MK,N2,N3,SIDj,Set_34,Set_36,Set_37,Set_38,Dummy_Set_42,Dummy_Set_43,SID).
 request(S,Ui,bob_alice_Yi,Yi,SID).
 secret(Dummy_Set_42,subs3,S).
 secret(Dummy_Set_43,subs4,Ui).
 iknows(apply(H,pair(apply(H,pair(MK,Yi)),pair(apply(H,pair(Yi,MK)),pair(N1,UIDi))))).
 witness(Ui,S,alice_bob_N1,N1).
 contains(MK,Dummy_Set_42).
 contains(Yi,Dummy_Set_42).
 contains(N1,Dummy_Set_43)

step step_2 (S,Ui,H,UIDi,Pi,RPWi,Dummy_Ni,N1,Dummy_Yi,MK,N2,N3,SIDj,Dummy_Set_61,Dummy_Set_62,Dummy_Set_63,Dummy_Set_64,Set_65,SID,Yi) :=
 state_bob(S,Ui,H,0,UIDi,Pi,RPWi,Dummy_Ni,N1,Dummy_Yi,MK,N2,N3,SIDj,Dummy_Set_61,Dummy_Set_62,Dummy_Set_63,Dummy_Set_64,Set_65,SID).
 iknows(UIDi)
=[exists Yi]=>
 state_bob(S,Ui,H,1,UIDi,Pi,RPWi,Dummy_Ni,N1,Yi,MK,N2,N3,SIDj,Dummy_Set_61,Dummy_Set_62,Dummy_Set_63,Dummy_Set_64,Set_65,SID).
 request(Ui,S,alice_bob_Ni,Ni,SID).
 secret(Dummy_Set_61,subs1,Ui).
 secret(Dummy_Set_62,subs2,Dummy_Set_63).
 secret(Dummy_Set_64,subs3,S).
 iknows(xor(apply(H,pair(UIDi,apply(H,pair(Ni,Pi)))),Yi)).
 witness(S,Ui,bob_alice_Yi,Yi).
 contains(Ni,Dummy_Set_61).
 contains(Pi,Dummy_Set_61).
 contains(UIDi,Dummy_Set_62).
 contains(Ui,Dummy_Set_63).
 contains(S,Dummy_Set_63).
 contains(MK,Dummy_Set_64).
 contains(Yi,Dummy_Set_64)

step step_3 (S,Ui,H,UIDi,Pi,RPWi,Ni,Dummy_N1,Dummy_Yi,MK,N2,N3,SIDj,Set_61,Set_62,Set_63,Set_64,Dummy_Set_65,SID,N1,Yi) :=
 state_bob(S,Ui,H,1,UIDi,Pi,RPWi,Ni,Dummy_N1,Dummy_Yi,MK,N2,N3,SIDj,Set_61,Set_62,Set_63,Set_64,Dummy_Set_65,SID).
 iknows(apply(H,pair(apply(H,pair(MK,Yi)),pair(apply(H,pair(Yi,MK)),pair(N1,UIDi)))))
 =>
 state_bob(S,Ui,H,2,UIDi,Pi,RPWi,Ni,N1,Yi,MK,N2,N3,SIDj,Set_61,Set_62,Set_63,Set_64,Dummy_Set_65,SID).
 secret(Dummy_Set_65,subs4,Ui).
 request(Ui,S,alice_bob_N1,N1,SID).
 contains(N1,Dummy_Set_65)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob_Ni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_Ni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_Ni,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_Ni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_Ni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_Yi (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_Yi,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_Yi,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_Yi,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_Yi,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_alice_bob_N1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_N1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_N1,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_N1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_N1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob_Ni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_Ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_Ni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_Ni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_Ni,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_Ni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_Yi (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_Yi,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_Yi,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_Yi (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_Yi,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_Yi,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_alice_bob_N1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_N1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_N1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_N1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_N1,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_N1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

