%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileRfqLVSwyp1

section signature:

state_registration_center: agent * agent * agent * text * text * text * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * hash_func * nat -> fact
state_serverj: agent * agent * agent * text * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(agent) * nat -> fact
state_useri: agent * agent * agent * text * text * text * text * text * text * text * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(text) * set(agent) * nat -> fact


section types:

set_191, set_189, set_188, set_187, set_184, set_183, set_182, set_181, set_167, set_147, set_146, set_145: set
Dummy_Set_43, Dummy_Set_41, Set_43, Set_41: set(text)
Set_84, Dummy_Set_84, Dummy_Set_47, Set_47, ASGoal: set(agent)
start, MGoal: message
s_rc_njr, rc_s_nrj, s_u_nj, u_s_ni, sec_SK, sec_id, sec_pwi: protocol_id
State, 13, 11, 9, 8, 12, 10, 5, SID, 4, Dummy_State, 3, 2, SID2, SID1, 1, 0, 21, 20: nat
Hash, dummy_hash, ha, Sum: hash_func
U, S, RC, A2Goal, A1Goal, u, s, rc, i: agent
Di, C0, C1, C2, SIDj, R, X, Y, Dummy_Ri, Ai, Ni, Dummy_Bi, Nj, Dummy_Hbpw, Njr, Dummy_C2, Nrj, Dummy_C1, Mjr, Dummy_Nrj, Mij1, Dummy_Mjr, Mij2, Dummy_Njr, Ti, Qi, CIDi, Pij, Dummy_SharedKey, Dummy_Mij2, Dummy_Mij1, Dummy_Nj, SharedKey, Hbpw, Bi, Dummy_C0, Dummy_Di, Dummy_Pij, Dummy_CIDi, Dummy_Qi, Dummy_Ti, HSIDjY, Dummy_Ni, Dummy_Ai, dummy_nonce, IDi, PWi, Vi, Hi, Ri, B: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(s).
 iknows(rc).
 iknows(ha).
 iknows(i).
 state_useri(u,s,rc,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,ha,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_145,set_146,set_147,3).
 state_serverj(s,u,rc,dummy_nonce,ha,10,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_167,4).
 state_registration_center(rc,u,s,dummy_nonce,dummy_nonce,dummy_nonce,ha,20,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,5).
 state_serverj(s,i,rc,dummy_nonce,ha,10,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_184,8).
 state_registration_center(rc,i,s,dummy_nonce,dummy_nonce,dummy_nonce,ha,20,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,9).
 state_useri(u,i,rc,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,ha,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_187,set_188,set_189,11).
 state_registration_center(rc,u,i,dummy_nonce,dummy_nonce,dummy_nonce,ha,20,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,13)


section rules:

step step_0 (U,S,RC,IDi,PWi,Vi,Bi,Hi,Ri,B,Hash,Dummy_Ai,Dummy_Ni,Nj,Dummy_Ti,Dummy_Qi,Mij1,Mij2,Dummy_CIDi,Dummy_Pij,Dummy_Di,Dummy_C0,SharedKey,SIDj,Sum,Dummy_Set_41,Dummy_Set_43,Set_47,SID,Ni) :=
 state_useri(U,S,RC,IDi,PWi,Vi,Bi,Hi,Ri,B,Hash,0,Dummy_Ai,Dummy_Ni,Nj,Dummy_Ti,Dummy_Qi,Mij1,Mij2,Dummy_CIDi,Dummy_Pij,Dummy_Di,Dummy_C0,SharedKey,SIDj,Sum,Dummy_Set_41,Dummy_Set_43,Set_47,SID).
 iknows(start)
=[exists Ni]=>
 state_useri(U,S,RC,IDi,PWi,Vi,Bi,Hi,Ri,B,Hash,1,xor(Bi,apply(Hash,xor(B,PWi))),Ni,Nj,xor(Vi,apply(Hash,pair(IDi,xor(B,PWi)))),apply(Hash,pair(Bi,pair(xor(Bi,apply(Hash,xor(B,PWi))),Ni))),Mij1,Mij2,xor(apply(Hash,xor(B,PWi)),apply(Hash,pair(xor(Vi,apply(Hash,pair(IDi,xor(B,PWi)))),pair(xor(Bi,apply(Hash,xor(B,PWi))),Ni)))),xor(xor(Vi,apply(Hash,pair(IDi,xor(B,PWi)))),apply(Hash,pair(xor(Bi,apply(Hash,xor(B,PWi))),pair(Ni,SIDj)))),xor(Ri,xor(SIDj,Ni)),apply(Hash,pair(xor(Bi,apply(Hash,xor(B,PWi))),pair(apply(Sum,Ni),SIDj))),SharedKey,SIDj,Sum,Dummy_Set_41,Dummy_Set_43,Set_47,SID).
 iknows(pair(xor(apply(Hash,xor(B,PWi)),apply(Hash,pair(xor(Vi,apply(Hash,pair(IDi,xor(B,PWi)))),pair(xor(Bi,apply(Hash,xor(B,PWi))),Ni)))),pair(xor(xor(Vi,apply(Hash,pair(IDi,xor(B,PWi)))),apply(Hash,pair(xor(Bi,apply(Hash,xor(B,PWi))),pair(Ni,SIDj)))),pair(apply(Hash,pair(Bi,pair(xor(Bi,apply(Hash,xor(B,PWi))),Ni))),pair(xor(Ri,xor(SIDj,Ni)),pair(apply(Hash,pair(xor(Bi,apply(Hash,xor(B,PWi))),pair(apply(Sum,Ni),SIDj))),Ni)))))).
 witness(U,S,u_s_ni,Ni).
 secret(Dummy_Set_41,sec_pwi,U).
 secret(Dummy_Set_43,sec_id,U).
 contains(PWi,Dummy_Set_41).
 contains(IDi,Dummy_Set_43)

step step_1 (U,S,RC,IDi,PWi,Vi,Bi,Hi,Ri,B,Hash,Ai,Ni,Dummy_Nj,Ti,Qi,Dummy_Mij1,Dummy_Mij2,CIDi,Pij,Di,C0,Dummy_SharedKey,SIDj,Sum,Set_41,Set_43,Dummy_Set_47,SID,Nj,Mij1) :=
 state_useri(U,S,RC,IDi,PWi,Vi,Bi,Hi,Ri,B,Hash,1,Ai,Ni,Dummy_Nj,Ti,Qi,Dummy_Mij1,Dummy_Mij2,CIDi,Pij,Di,C0,Dummy_SharedKey,SIDj,Sum,Set_41,Set_43,Dummy_Set_47,SID).
 iknows(pair(Mij1,Nj))
 =>
 state_useri(U,S,RC,IDi,PWi,Vi,Bi,Hi,Ri,B,Hash,2,Ai,Ni,Nj,Ti,Qi,Mij1,apply(Hash,pair(Bi,pair(Nj,pair(Ai,SIDj)))),CIDi,Pij,Di,C0,apply(Hash,pair(Bi,pair(Ni,pair(Nj,SIDj)))),SIDj,Sum,Set_41,Set_43,Dummy_Set_47,SID).
 iknows(apply(Hash,pair(Bi,pair(Nj,pair(Ai,SIDj))))).
 request(S,U,s_u_nj,Nj,SID).
 secret(apply(Hash,pair(Bi,pair(Ni,pair(Nj,SIDj)))),sec_SK,Dummy_Set_47).
 contains(U,Dummy_Set_47).
 contains(S,Dummy_Set_47)

step step_2 (S,U,RC,HSIDjY,Hash,Ai,Dummy_Ni,Nj,Dummy_Njr,Nrj,Dummy_Mjr,Mij1,Mij2,Ti,Dummy_Qi,Dummy_CIDi,Dummy_Pij,Dummy_Di,Dummy_C0,C1,C2,SharedKey,Hbpw,Bi,SIDj,Set_84,SID,Ni,Njr,Qi,CIDi,Pij,Di,C0) :=
 state_serverj(S,U,RC,HSIDjY,Hash,10,Ai,Dummy_Ni,Nj,Dummy_Njr,Nrj,Dummy_Mjr,Mij1,Mij2,Ti,Dummy_Qi,Dummy_CIDi,Dummy_Pij,Dummy_Di,Dummy_C0,C1,C2,SharedKey,Hbpw,Bi,SIDj,Set_84,SID).
 iknows(pair(CIDi,pair(Pij,pair(Qi,pair(Di,pair(C0,Ni))))))
=[exists Njr]=>
 state_serverj(S,U,RC,HSIDjY,Hash,11,Ai,Ni,Nj,Njr,Nrj,xor(HSIDjY,Njr),Mij1,Mij2,Ti,Qi,CIDi,Pij,Di,C0,C1,C2,SharedKey,Hbpw,Bi,SIDj,Set_84,SID).
 iknows(pair(xor(HSIDjY,Njr),pair(SIDj,pair(Di,pair(C0,Ni))))).
 request(U,S,u_s_ni,Ni,SID).
 witness(S,RC,s_rc_njr,Njr)

step step_3 (S,U,RC,HSIDjY,Hash,Dummy_Ai,Ni,Dummy_Nj,Njr,Dummy_Nrj,Mjr,Dummy_Mij1,Mij2,Dummy_Ti,Qi,CIDi,Pij,Di,C0,Dummy_C1,Dummy_C2,SharedKey,Dummy_Hbpw,Dummy_Bi,SIDj,Set_84,SID,Nj,Nrj,C1,C2) :=
 state_serverj(S,U,RC,HSIDjY,Hash,11,Dummy_Ai,Ni,Dummy_Nj,Njr,Dummy_Nrj,Mjr,Dummy_Mij1,Mij2,Dummy_Ti,Qi,CIDi,Pij,Di,C0,Dummy_C1,Dummy_C2,SharedKey,Dummy_Hbpw,Dummy_Bi,SIDj,Set_84,SID).
 iknows(pair(C1,pair(C2,Nrj)))
=[exists Nj]=>
 state_serverj(S,U,RC,HSIDjY,Hash,12,xor(Dummy_C2,apply(Hash,xor(HSIDjY,Dummy_Nrj))),Ni,Nj,Njr,Nrj,Mjr,apply(Hash,pair(xor(xor(Dummy_C2,apply(Hash,xor(HSIDjY,Dummy_Nrj))),xor(CIDi,apply(Hash,pair(xor(Dummy_C2,apply(Hash,xor(HSIDjY,Dummy_Nrj))),pair(xor(Pij,apply(Hash,pair(xor(Dummy_C2,apply(Hash,xor(HSIDjY,Dummy_Nrj))),pair(Ni,SIDj)))),Ni))))),pair(Ni,pair(xor(Dummy_C2,apply(Hash,xor(HSIDjY,Dummy_Nrj))),SIDj)))),Mij2,xor(Pij,apply(Hash,pair(xor(Dummy_C2,apply(Hash,xor(HSIDjY,Dummy_Nrj))),pair(Ni,SIDj)))),Qi,CIDi,Pij,Di,C0,C1,C2,SharedKey,xor(CIDi,apply(Hash,pair(xor(Dummy_C2,apply(Hash,xor(HSIDjY,Dummy_Nrj))),pair(xor(Pij,apply(Hash,pair(xor(Dummy_C2,apply(Hash,xor(HSIDjY,Dummy_Nrj))),pair(Ni,SIDj)))),Ni)))),xor(xor(Dummy_C2,apply(Hash,xor(HSIDjY,Dummy_Nrj))),xor(CIDi,apply(Hash,pair(xor(Dummy_C2,apply(Hash,xor(HSIDjY,Dummy_Nrj))),pair(xor(Pij,apply(Hash,pair(xor(Dummy_C2,apply(Hash,xor(HSIDjY,Dummy_Nrj))),pair(Ni,SIDj)))),Ni))))),SIDj,Set_84,SID).
 iknows(pair(apply(Hash,pair(xor(xor(Dummy_C2,apply(Hash,xor(HSIDjY,Dummy_Nrj))),xor(CIDi,apply(Hash,pair(xor(Dummy_C2,apply(Hash,xor(HSIDjY,Dummy_Nrj))),pair(xor(Pij,apply(Hash,pair(xor(Dummy_C2,apply(Hash,xor(HSIDjY,Dummy_Nrj))),pair(Ni,SIDj)))),Ni))))),pair(Ni,pair(xor(Dummy_C2,apply(Hash,xor(HSIDjY,Dummy_Nrj))),SIDj)))),Nj)).
 witness(S,U,s_u_nj,Nj).
 request(RC,S,rc_s_nrj,Njr,SID)

step step_4 (S,U,RC,HSIDjY,Hash,Ai,Ni,Nj,Njr,Nrj,Mjr,Mij1,Dummy_Mij2,Ti,Qi,CIDi,Pij,Di,C0,C1,C2,Dummy_SharedKey,Hbpw,Bi,SIDj,Dummy_Set_84,SID,Mij2) :=
 state_serverj(S,U,RC,HSIDjY,Hash,12,Ai,Ni,Nj,Njr,Nrj,Mjr,Mij1,Dummy_Mij2,Ti,Qi,CIDi,Pij,Di,C0,C1,C2,Dummy_SharedKey,Hbpw,Bi,SIDj,Dummy_Set_84,SID).
 iknows(Mij2)
 =>
 state_serverj(S,U,RC,HSIDjY,Hash,13,Ai,Ni,Nj,Njr,Nrj,Mjr,Mij1,Mij2,Ti,Qi,CIDi,Pij,Di,C0,C1,C2,apply(Hash,pair(Bi,pair(Ni,pair(Nj,SIDj)))),Hbpw,Bi,SIDj,Dummy_Set_84,SID).
 secret(apply(Hash,pair(Bi,pair(Ni,pair(Nj,SIDj)))),sec_SK,Dummy_Set_84).
 contains(U,Dummy_Set_84).
 contains(S,Dummy_Set_84)

step step_5 (RC,U,S,R,X,Y,Hash,Dummy_Ni,Dummy_Ai,Dummy_Ri,Dummy_Nrj,Dummy_Njr,Dummy_Mjr,Dummy_Di,Dummy_C0,Dummy_C1,Dummy_C2,SIDj,Sum,SID,Ni,Nrj,Mjr,Di) :=
 state_registration_center(RC,U,S,R,X,Y,Hash,20,Dummy_Ni,Dummy_Ai,Dummy_Ri,Dummy_Nrj,Dummy_Njr,Dummy_Mjr,Dummy_Di,Dummy_C0,Dummy_C1,Dummy_C2,SIDj,Sum,SID).
 iknows(pair(Mjr,pair(SIDj,pair(Di,pair(C0,Ni)))))
=[exists Nrj]=>
 state_registration_center(RC,U,S,R,X,Y,Hash,21,Ni,xor(xor(Dummy_Di,xor(SIDj,Dummy_Ni)),apply(Hash,xor(X,R))),xor(Dummy_Di,xor(SIDj,Dummy_Ni)),Nrj,xor(Dummy_Mjr,apply(Hash,pair(SIDj,Y))),Mjr,Di,apply(Hash,pair(xor(xor(Dummy_Di,xor(SIDj,Dummy_Ni)),apply(Hash,xor(X,R))),pair(apply(Sum,Dummy_Ni),SIDj))),apply(Hash,pair(xor(Dummy_Mjr,apply(Hash,pair(SIDj,Y))),pair(apply(Hash,pair(SIDj,Y)),Nrj))),xor(xor(xor(Dummy_Di,xor(SIDj,Dummy_Ni)),apply(Hash,xor(X,R))),apply(Hash,xor(apply(Hash,pair(SIDj,Y)),xor(Dummy_Mjr,apply(Hash,pair(SIDj,Y)))))),SIDj,Sum,SID).
 iknows(pair(apply(Hash,pair(xor(Dummy_Mjr,apply(Hash,pair(SIDj,Y))),pair(apply(Hash,pair(SIDj,Y)),Nrj))),pair(xor(xor(xor(Dummy_Di,xor(SIDj,Dummy_Ni)),apply(Hash,xor(X,R))),apply(Hash,xor(apply(Hash,pair(SIDj,Y)),xor(Dummy_Mjr,apply(Hash,pair(SIDj,Y)))))),Nrj))).
 request(S,RC,s_rc_njr,xor(Dummy_Mjr,apply(Hash,pair(SIDj,Y))),SID).
 witness(RC,S,rc_s_nrj,xor(Dummy_Mjr,apply(Hash,pair(SIDj,Y))))


section properties:

property secrecy_of_sec_SK (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_SK,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_id (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_id,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_pwi (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_pwi,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_s_u_nj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,s_u_nj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,s_u_nj,MGoal))
     /\ ((request(A1Goal,A2Goal,s_u_nj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,s_u_nj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_u_s_ni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,u_s_ni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,u_s_ni,MGoal))
     /\ ((request(A1Goal,A2Goal,u_s_ni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,u_s_ni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_s_rc_njr (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,s_rc_njr,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,s_rc_njr,MGoal))
     /\ ((request(A1Goal,A2Goal,s_rc_njr,MGoal,SID1)
           /\ request(A1Goal,A2Goal,s_rc_njr,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_rc_s_nrj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,rc_s_nrj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,rc_s_nrj,MGoal))
     /\ ((request(A1Goal,A2Goal,rc_s_nrj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,rc_s_nrj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec_SK (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_SK,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_id (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_id,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_pwi (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_pwi,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_s_u_nj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,s_u_nj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,s_u_nj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_s_u_nj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,s_u_nj,MGoal,SID1).
 request(A1Goal,A2Goal,s_u_nj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_u_s_ni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,u_s_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,u_s_ni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_u_s_ni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,u_s_ni,MGoal,SID1).
 request(A1Goal,A2Goal,u_s_ni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_s_rc_njr (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,s_rc_njr,MGoal,SID) &
 not(witness(A2Goal,A1Goal,s_rc_njr,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_s_rc_njr (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,s_rc_njr,MGoal,SID1).
 request(A1Goal,A2Goal,s_rc_njr,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_rc_s_nrj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,rc_s_nrj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,rc_s_nrj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_rc_s_nrj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,rc_s_nrj,MGoal,SID1).
 request(A1Goal,A2Goal,rc_s_nrj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

