%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileKVucf7

section signature:

state_role_C: agent * agent * text * text * hash_func * nat * text * text * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact
state_role_S: agent * agent * text * hash_func * nat * text * text * text * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact


section types:

sec_10, sec_9, sec_8, sec_7, auth_2, sec_6, sec_3, sec_4, auth_1, sec_5: protocol_id
MGoal, start: message
hash_0, H: hash_func
Dummy_Set_52, Dummy_Set_51, Dummy_Set_50, Dummy_Set_47, Dummy_Set_46, Dummy_Set_45, Dummy_Set_44, ASGoal, Set_52, Set_51, Set_50, Set_47, Set_46, Set_45, Set_44, Set_31, Set_30, Set_29, Set_26, Set_24, Set_19, Dummy_Set_31, Dummy_Set_30, Dummy_Set_29, Dummy_Set_26, Dummy_Set_24, Dummy_Set_19: set(agent)
Dummy_Rc, Dummy_ID, Dummy_Rs, dummy_nonce, sec1, id_0, Rc, ID, Rs, HXs: text
Dummy_State, 3, SID, SID2, SID1, State, 2, 1, 0, 4: nat
A2Goal, A1Goal, serveur, smartCard, C, S, i: agent
set_86, set_85, set_84, set_83, set_82, set_81, set_80, set_106, set_105, set_104, set_103, set_102, set_101: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(smartCard).
 iknows(serveur).
 iknows(hash_0).
 iknows(i).
 state_role_S(serveur,smartCard,sec1,hash_0,0,dummy_nonce,dummy_nonce,dummy_nonce,set_80,set_81,set_82,set_83,set_84,set_85,set_86,3).
 state_role_C(smartCard,serveur,id_0,sec1,hash_0,0,dummy_nonce,dummy_nonce,set_101,set_102,set_103,set_104,set_105,set_106,4)


section rules:

step step_0 (S,C,HXs,H,Dummy_Rs,Dummy_ID,Dummy_Rc,Dummy_Set_44,Dummy_Set_45,Dummy_Set_46,Dummy_Set_47,Set_50,Set_51,Set_52,SID,Rs,ID,Rc) :=
 state_role_S(S,C,HXs,H,0,Dummy_Rs,Dummy_ID,Dummy_Rc,Dummy_Set_44,Dummy_Set_45,Dummy_Set_46,Dummy_Set_47,Set_50,Set_51,Set_52,SID).
 iknows(pair(xor(HXs,Rc),pair(xor(pair(HXs,Rc),ID),apply(H,pair(HXs,Rc)))))
=[exists Rs]=>
 state_role_S(S,C,HXs,H,1,Rs,ID,Rc,Dummy_Set_44,Dummy_Set_45,Dummy_Set_46,Dummy_Set_47,Set_50,Set_51,Set_52,SID).
 iknows(pair(apply(H,pair(xor(HXs,Rc),Rc)),pair(xor(HXs,Rs),apply(H,pair(HXs,Rs))))).
 request(S,C,auth_1,Rc,SID).
 secret(Rc,sec_5,Dummy_Set_44).
 secret(HXs,sec_4,Dummy_Set_45).
 secret(ID,sec_3,Dummy_Set_46).
 secret(Rs,sec_6,Dummy_Set_47).
 witness(S,C,auth_2,Rs).
 contains(C,Dummy_Set_44).
 contains(S,Dummy_Set_44).
 contains(C,Dummy_Set_45).
 contains(S,Dummy_Set_45).
 contains(C,Dummy_Set_46).
 contains(S,Dummy_Set_46).
 contains(C,Dummy_Set_47).
 contains(S,Dummy_Set_47)

step step_1 (S,C,HXs,H,Rs,ID,Rc,Set_44,Set_45,Set_46,Set_47,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,SID) :=
 state_role_S(S,C,HXs,H,1,Rs,ID,Rc,Set_44,Set_45,Set_46,Set_47,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,SID).
 iknows(apply(H,pair(HXs,pair(Rc,Rs))))
 =>
 state_role_S(S,C,HXs,H,2,Rs,ID,Rc,Set_44,Set_45,Set_46,Set_47,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,SID).
 secret(Rs,sec_6,Dummy_Set_50).
 secret(Rc,sec_5,Dummy_Set_51).
 secret(HXs,sec_4,Dummy_Set_52).
 contains(C,Dummy_Set_50).
 contains(S,Dummy_Set_50).
 contains(C,Dummy_Set_51).
 contains(S,Dummy_Set_51).
 contains(C,Dummy_Set_52).
 contains(S,Dummy_Set_52)

step step_2 (C,S,ID,HXs,H,Rs,Dummy_Rc,Dummy_Set_19,Dummy_Set_24,Dummy_Set_26,Set_29,Set_30,Set_31,SID,Rc) :=
 state_role_C(C,S,ID,HXs,H,0,Rs,Dummy_Rc,Dummy_Set_19,Dummy_Set_24,Dummy_Set_26,Set_29,Set_30,Set_31,SID).
 iknows(start)
=[exists Rc]=>
 state_role_C(C,S,ID,HXs,H,1,Rs,Rc,Dummy_Set_19,Dummy_Set_24,Dummy_Set_26,Set_29,Set_30,Set_31,SID).
 iknows(pair(xor(HXs,Rc),pair(xor(pair(HXs,Rc),ID),apply(H,pair(HXs,Rc))))).
 secret(Rc,sec_5,Dummy_Set_19).
 witness(C,S,auth_1,Rc).
 secret(HXs,sec_4,Dummy_Set_24).
 secret(ID,sec_3,Dummy_Set_26).
 contains(C,Dummy_Set_19).
 contains(S,Dummy_Set_19).
 contains(C,Dummy_Set_24).
 contains(S,Dummy_Set_24).
 contains(C,Dummy_Set_26).
 contains(S,Dummy_Set_26)

step step_3 (C,S,ID,HXs,H,Dummy_Rs,Rc,Set_19,Set_24,Set_26,Dummy_Set_29,Dummy_Set_30,Dummy_Set_31,SID,Rs) :=
 state_role_C(C,S,ID,HXs,H,1,Dummy_Rs,Rc,Set_19,Set_24,Set_26,Dummy_Set_29,Dummy_Set_30,Dummy_Set_31,SID).
 iknows(pair(apply(H,pair(xor(HXs,Rc),Rc)),pair(xor(HXs,Rs),apply(H,pair(HXs,Rs)))))
 =>
 state_role_C(C,S,ID,HXs,H,2,Rs,Rc,Set_19,Set_24,Set_26,Dummy_Set_29,Dummy_Set_30,Dummy_Set_31,SID).
 iknows(apply(H,pair(HXs,pair(Rc,Rs)))).
 secret(Rs,sec_6,Dummy_Set_29).
 secret(HXs,sec_4,Dummy_Set_30).
 secret(Rc,sec_5,Dummy_Set_31).
 contains(C,Dummy_Set_29).
 contains(S,Dummy_Set_29).
 contains(C,Dummy_Set_30).
 contains(S,Dummy_Set_30).
 contains(C,Dummy_Set_31).
 contains(S,Dummy_Set_31)


section properties:

property authentication_on_auth_1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth_1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth_1,MGoal))
     /\ ((request(A1Goal,A2Goal,auth_1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth_1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_auth_2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth_2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth_2,MGoal))
     /\ ((request(A1Goal,A2Goal,auth_2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth_2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property secrecy_of_sec_3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_7 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_7,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_8 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_8,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_9 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_9,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_10 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_10,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state authentication_on_auth_1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth_1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth_1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth_1,MGoal,SID1).
 request(A1Goal,A2Goal,auth_1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_auth_2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth_2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth_2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth_2,MGoal,SID1).
 request(A1Goal,A2Goal,auth_2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state secrecy_of_sec_3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_6,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_7 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_7,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_8 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_8,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_9 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_9,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_10 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_10,ASGoal) &
 not(contains(i,ASGoal))

