%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilebUQjyo6SyL

section signature:

state_snode: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * nat -> fact
state_gateway: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_user: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(text) * set(agent) * nat -> fact


section types:

Set_179, Set_127, Set_125, Set_123, Set_121, Dummy_Set_179, Dummy_Set_127, Dummy_Set_125, Dummy_Set_123, Dummy_Set_121, Set_69, Set_65, Dummy_Set_69, Dummy_Set_65: set(text)
set_356, set_355, set_354, set_353, set_352, set_351, set_350, set_349, set_348, set_347, set_345, set_344, set_343, set_342, set_341, set_339, set_338, set_337, set_336, set_335, set_334, set_333, set_332, set_330, set_329, set_328, set_326, set_325, set_323, set_322, set_321, set_320, set_319, set_318, set_317, set_316, set_315, set_314, set_313, set_306, set_305, set_282, set_281, set_280, set_279, set_278, set_277, set_276, set_275, set_252, set_251, set_250: set
Set_180, Set_128, Set_126, Set_124, Set_122, Dummy_Set_180, Dummy_Set_128, Dummy_Set_126, Dummy_Set_124, Dummy_Set_122, Set_70, Dummy_Set_70, ASGoal: set(agent)
user_gateway_ri, gateway_snode_rk, snode_gateway_rj, snode_user_rj, sub1, sub2, sub3, sub4, sub5, sub6, sub7, user_gateway, gateway_snode, snode_user: protocol_id
D1, D2, D3, D4, D5, D6, D7, D8, D9, D10, D11, Dummy_D8, Dummy_D7, Dummy_D6, Dummy_D5, Dummy_D4, Dummy_D3, Dummy_D11, Dummy_D10, Dummy_D9, start, Dummy_D2, Dummy_D1, dummy_msg, MGoal, d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11: message
17, 15, State, 12, 4, 11, 9, 8, 5, SID, 3, 2, 1, 0, Dummy_State, SID2, SID1: nat
h, Inc, H, dummy_hash: hash_func
sk1, sk2, SK2, SK1: symmetric_key
ui, snj, hgwn, Ui, SNj, HGWN, A2Goal, A1Goal, i: agent
IDi, PWi, DIDi, RPWi, TIDi, IDgwnh, IDsnj, Yi, Vi, Ci, Ki, R, Ri, Rj, Rk, T1, T2, T3, T4, T5, T6, T7, Xk, Pj, PSj, Sran, SKi, Dummy_T6, Dummy_T3, Dummy_PSj, Dummy_Sran, Dummy_Pj, Dummy_Ki, Dummy_Yi, Dummy_TIDi, Dummy_SKi, Dummy_Rk, Dummy_Rj, Dummy_T1, Dummy_Ri, Dummy_R, Dummy_RPWi, Dummy_DIDi, dummy_nonce, idi, pwi, didi, rpwi, tidi, idgwnh, idsnj, yi, vi, ci, ki, r, ri, rj, rk, t1, t2, t3, t4, t5, t6, t7, xk, pj, psj, sran: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(snj).
 iknows(hgwn).
 iknows(h).
 iknows(yi).
 iknows(idgwnh).
 iknows(idsnj).
 iknows(vi).
 iknows(ci).
 iknows(tidi).
 iknows(d1).
 iknows(d2).
 iknows(t1).
 iknows(d3).
 iknows(d4).
 iknows(d5).
 iknows(d6).
 iknows(t3).
 iknows(d7).
 iknows(d8).
 iknows(t5).
 iknows(d9).
 iknows(d10).
 iknows(d11).
 iknows(t4).
 iknows(i).
 state_user(ui,snj,hgwn,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_250,set_251,set_252,3).
 state_gateway(hgwn,ui,snj,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_275,set_276,set_277,set_278,set_279,set_280,set_281,set_282,4).
 state_snode(snj,ui,hgwn,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_305,set_306,5).
 state_gateway(hgwn,i,snj,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_316,set_317,set_318,set_319,set_320,set_321,set_322,set_323,8).
 state_snode(snj,i,hgwn,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_325,set_326,9).
 state_user(ui,i,hgwn,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_328,set_329,set_330,11).
 state_gateway(hgwn,ui,i,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_332,set_333,set_334,set_335,set_336,set_337,set_338,set_339,12).
 state_user(ui,snj,i,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_343,set_344,set_345,15).
 state_snode(snj,ui,i,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_355,set_356,17)


section rules:

step step_0 (Ui,SNj,HGWN,SK1,H,IDi,PWi,Dummy_DIDi,Dummy_RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,Dummy_R,Ri,Rj,Rk,T1,T2,T3,T4,T5,T6,T7,Xk,Pj,Sran,SKi,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,Inc,Dummy_Set_65,Set_69,Set_70,SID,R) :=
 state_user(Ui,SNj,HGWN,SK1,H,0,IDi,PWi,Dummy_DIDi,Dummy_RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,Dummy_R,Ri,Rj,Rk,T1,T2,T3,T4,T5,T6,T7,Xk,Pj,Sran,SKi,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,Inc,Dummy_Set_65,Set_69,Set_70,SID).
 iknows(start)
=[exists R]=>
 state_user(Ui,SNj,HGWN,SK1,H,1,IDi,PWi,apply(H,pair(IDi,R)),apply(H,pair(PWi,pair(R,IDi))),TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,Rj,Rk,T1,T2,T3,T4,T5,T6,T7,Xk,Pj,Sran,SKi,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,Inc,Dummy_Set_65,Set_69,Set_70,SID).
 iknows(scrypt(SK1,pair(apply(H,pair(IDi,R)),apply(H,pair(PWi,pair(R,IDi)))))).
 secret(Dummy_Set_65,sub1,Ui).
 contains(IDi,Dummy_Set_65).
 contains(PWi,Dummy_Set_65)

step step_1 (Ui,SNj,HGWN,SK1,H,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Dummy_Ri,Rj,Rk,Dummy_T1,T2,T3,T4,T5,T6,T7,Xk,Pj,Sran,SKi,Dummy_D1,Dummy_D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,Inc,Set_65,Dummy_Set_69,Dummy_Set_70,SID,Ri,T1) :=
 state_user(Ui,SNj,HGWN,SK1,H,1,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Dummy_Ri,Rj,Rk,Dummy_T1,T2,T3,T4,T5,T6,T7,Xk,Pj,Sran,SKi,Dummy_D1,Dummy_D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,Inc,Set_65,Dummy_Set_69,Dummy_Set_70,SID).
 iknows(scrypt(SK1,pair(Yi,pair(IDgwnh,TIDi))))
=[exists T1,Ri]=>
 state_user(Ui,SNj,HGWN,SK1,H,2,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,Rj,Rk,T1,T2,T3,T4,T5,T6,T7,Xk,Pj,Sran,SKi,xor(apply(H,pair(Ki,pair(DIDi,IDsnj))),Ri),apply(H,pair(DIDi,pair(Ri,pair(TIDi,pair(Ki,pair(T1,IDsnj)))))),D3,D4,D5,D6,D7,D8,D9,D10,D11,Inc,Set_65,Dummy_Set_69,Dummy_Set_70,SID).
 iknows(pair(TIDi,pair(IDsnj,pair(Dummy_D1,pair(Dummy_D2,Dummy_T1))))).
 witness(Ui,HGWN,user_gateway_ri,Ri).
 secret(Dummy_Set_69,sub2,Dummy_Set_70).
 request(Ui,HGWN,user_gateway_ri,Ri,SID).
 contains(Ri,Dummy_Set_69).
 contains(Ui,Dummy_Set_70).
 contains(HGWN,Dummy_Set_70).
 contains(SNj,Dummy_Set_70)

step step_2 (Ui,SNj,HGWN,SK1,H,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,Dummy_Rj,Dummy_Rk,T1,T2,T3,T4,T5,T6,T7,Xk,Pj,Sran,Dummy_SKi,D1,D2,D3,D4,D5,D6,D7,D8,Dummy_D9,Dummy_D10,Dummy_D11,Inc,Set_65,Set_69,Set_70,SID,D9,D10) :=
 state_user(Ui,SNj,HGWN,SK1,H,2,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,Dummy_Rj,Dummy_Rk,T1,T2,T3,T4,T5,T6,T7,Xk,Pj,Sran,Dummy_SKi,D1,D2,D3,D4,D5,D6,D7,D8,Dummy_D9,Dummy_D10,Dummy_D11,Inc,Set_65,Set_69,Set_70,SID).
 iknows(pair(D9,pair(D10,pair(D11,T4))))
 =>
 state_user(Ui,SNj,HGWN,SK1,H,3,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,xor(Dummy_D10,apply(H,pair(Ki,pair(Dummy_Rk,pair(DIDi,Ri))))),xor(Dummy_D9,apply(H,pair(Ki,pair(DIDi,Ri)))),T1,T2,T3,T4,T5,T6,T7,Xk,Pj,Sran,apply(H,pair(DIDi,pair(Ri,pair(Dummy_Rj,pair(Dummy_Rk,IDsnj))))),D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,apply(H,pair(Ki,pair(DIDi,pair(Dummy_Rj,pair(T1,pair(Dummy_Rk,pair(T4,Ri))))))),Inc,Set_65,Set_69,Set_70,SID)

step step_3 (HGWN,Ui,SNj,SK1,SK2,H,IDi,PWi,DIDi,RPWi,Dummy_TIDi,IDgwnh,IDsnj,Dummy_Yi,Vi,Ci,Dummy_Ki,R,Ri,Rj,Rk,T1,T2,T3,T4,T5,T6,T7,Xk,Dummy_Pj,PSj,Dummy_Sran,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,Inc,Dummy_Set_121,Dummy_Set_122,Dummy_Set_123,Dummy_Set_124,Dummy_Set_125,Dummy_Set_126,Set_127,Set_128,SID,TIDi,Sran) :=
 state_gateway(HGWN,Ui,SNj,SK1,SK2,H,0,IDi,PWi,DIDi,RPWi,Dummy_TIDi,IDgwnh,IDsnj,Dummy_Yi,Vi,Ci,Dummy_Ki,R,Ri,Rj,Rk,T1,T2,T3,T4,T5,T6,T7,Xk,Dummy_Pj,PSj,Dummy_Sran,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,Inc,Dummy_Set_121,Dummy_Set_122,Dummy_Set_123,Dummy_Set_124,Dummy_Set_125,Dummy_Set_126,Set_127,Set_128,SID).
 iknows(scrypt(SK1,pair(DIDi,RPWi)))
=[exists Sran,TIDi]=>
 state_gateway(HGWN,Ui,SNj,SK1,SK2,H,1,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,xor(apply(H,pair(DIDi,pair(TIDi,Xk))),RPWi),Vi,Ci,apply(H,pair(DIDi,pair(TIDi,Xk))),R,Ri,Rj,Rk,T1,T2,T3,T4,T5,T6,T7,Xk,apply(H,pair(IDsnj,Sran)),PSj,Sran,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,Inc,Dummy_Set_121,Dummy_Set_122,Dummy_Set_123,Dummy_Set_124,Dummy_Set_125,Dummy_Set_126,Set_127,Set_128,SID).
 secret(Dummy_Set_121,sub3,Dummy_Set_122).
 secret(Dummy_Set_123,sub4,Dummy_Set_124).
 iknows(scrypt(SK1,pair(xor(apply(H,pair(DIDi,pair(TIDi,Xk))),RPWi),pair(IDgwnh,TIDi)))).
 secret(Dummy_Set_125,sub5,Dummy_Set_126).
 contains(Xk,Dummy_Set_121).
 contains(HGWN,Dummy_Set_122).
 contains(DIDi,Dummy_Set_123).
 contains(HGWN,Dummy_Set_124).
 contains(Ui,Dummy_Set_124).
 contains(apply(H,pair(IDsnj,Sran)),Dummy_Set_125).
 contains(Sran,Dummy_Set_125).
 contains(HGWN,Dummy_Set_126).
 contains(SNj,Dummy_Set_126)

step step_4 (HGWN,Ui,SNj,SK1,SK2,H,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,Rj,Rk,T1,T2,T3,T4,T5,T6,T7,Xk,Dummy_Pj,Dummy_PSj,Sran,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,Inc,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,Set_128,SID,PSj) :=
 state_gateway(HGWN,Ui,SNj,SK1,SK2,H,1,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,Rj,Rk,T1,T2,T3,T4,T5,T6,T7,Xk,Dummy_Pj,Dummy_PSj,Sran,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,Inc,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,Set_128,SID).
 iknows(pair(IDsnj,PSj))
 =>
 state_gateway(HGWN,Ui,SNj,SK1,SK2,H,2,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,Rj,Rk,T1,T2,T3,T4,T5,T6,T7,Xk,xor(PSj,Sran),PSj,Sran,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,Inc,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,Set_128,SID)

step step_5 (HGWN,Ui,SNj,SK1,SK2,H,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,Rj,Dummy_Rk,T1,T2,Dummy_T3,T4,T5,T6,T7,Xk,Pj,PSj,Sran,D1,D2,Dummy_D3,Dummy_D4,Dummy_D5,Dummy_D6,D7,D8,D9,D10,D11,Inc,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Dummy_Set_127,Dummy_Set_128,SID,Rk,T3) :=
 state_gateway(HGWN,Ui,SNj,SK1,SK2,H,2,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,Rj,Dummy_Rk,T1,T2,Dummy_T3,T4,T5,T6,T7,Xk,Pj,PSj,Sran,D1,D2,Dummy_D3,Dummy_D4,Dummy_D5,Dummy_D6,D7,D8,D9,D10,D11,Inc,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Dummy_Set_127,Dummy_Set_128,SID).
 iknows(pair(TIDi,pair(IDsnj,pair(D1,pair(D2,T1)))))
=[exists T3,Rk]=>
 state_gateway(HGWN,Ui,SNj,SK1,SK2,H,3,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,Rj,Rk,T1,T2,T3,T4,T5,T6,T7,Xk,Pj,PSj,Sran,D1,D2,xor(apply(H,pair(Pj,pair(Dummy_T3,pair(IDsnj,TIDi)))),Rk),xor(Ri,apply(H,pair(Pj,pair(TIDi,pair(Rk,T3))))),xor(DIDi,apply(H,pair(Pj,pair(Ri,pair(Rk,T3))))),apply(H,pair(IDsnj,pair(Ri,pair(DIDi,pair(Pj,pair(Rk,T3)))))),D7,D8,D9,D10,D11,Inc,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Dummy_Set_127,Dummy_Set_128,SID).
 iknows(pair(TIDi,pair(xor(apply(H,pair(Pj,pair(Dummy_T3,pair(IDsnj,TIDi)))),Rk),pair(xor(Ri,apply(H,pair(Pj,pair(TIDi,pair(Rk,T3))))),pair(xor(DIDi,apply(H,pair(Pj,pair(Ri,pair(Rk,T3))))),pair(apply(H,pair(IDsnj,pair(Ri,pair(DIDi,pair(Pj,pair(Rk,T3)))))),T3)))))).
 secret(Dummy_Set_127,sub6,Dummy_Set_128).
 request(HGWN,SNj,gateway_snode_rk,Rk,SID).
 contains(Rk,Dummy_Set_127).
 contains(Ui,Dummy_Set_128).
 contains(HGWN,Dummy_Set_128).
 contains(SNj,Dummy_Set_128)

step step_6 (HGWN,Ui,SNj,SK1,SK2,H,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,Dummy_Rj,Rk,T1,T2,T3,T4,T5,Dummy_T6,T7,Xk,Pj,PSj,Sran,D1,D2,D3,D4,D5,D6,D7,D8,Dummy_D9,Dummy_D10,Dummy_D11,Inc,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,Set_128,SID,T6) :=
 state_gateway(HGWN,Ui,SNj,SK1,SK2,H,3,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,Dummy_Rj,Rk,T1,T2,T3,T4,T5,Dummy_T6,T7,Xk,Pj,PSj,Sran,D1,D2,D3,D4,D5,D6,D7,D8,Dummy_D9,Dummy_D10,Dummy_D11,Inc,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,Set_128,SID).
 iknows(pair(D7,pair(D8,T5)))
=[exists T6]=>
 state_gateway(HGWN,Ui,SNj,SK1,SK2,H,4,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,xor(D7,apply(H,pair(Pj,pair(Rk,T5)))),Rk,T1,T2,T3,T4,T5,T6,T7,Xk,Pj,PSj,Sran,D1,D2,D3,D4,D5,D6,D7,D8,xor(Rk,apply(H,pair(Ki,pair(DIDi,Ri)))),xor(Dummy_Rj,apply(H,pair(Ki,pair(Rk,pair(DIDi,Ri))))),apply(H,pair(Ki,pair(DIDi,pair(Dummy_Rj,pair(T1,pair(Rk,pair(T4,Ri))))))),Inc,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,Set_128,SID).
 iknows(pair(xor(Rk,apply(H,pair(Ki,pair(DIDi,Ri)))),pair(xor(Dummy_Rj,apply(H,pair(Ki,pair(Rk,pair(DIDi,Ri))))),pair(apply(H,pair(Ki,pair(DIDi,pair(Dummy_Rj,pair(T1,pair(Rk,pair(T4,Ri))))))),T4))))

step step_7 (SNj,Ui,HGWN,SK1,SK2,H,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,Rj,Rk,T1,T2,T3,T4,T5,T6,T7,Xk,Pj,Dummy_PSj,Sran,SKi,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,Inc,Set_179,Set_180,SID) :=
 state_snode(SNj,Ui,HGWN,SK1,SK2,H,0,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,Rj,Rk,T1,T2,T3,T4,T5,T6,T7,Xk,Pj,Dummy_PSj,Sran,SKi,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,Inc,Set_179,Set_180,SID).
 iknows(start)
 =>
 state_snode(SNj,Ui,HGWN,SK1,SK2,H,1,IDi,PWi,DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Ri,Rj,Rk,T1,T2,T3,T4,T5,T6,T7,Xk,Pj,xor(Pj,Sran),Sran,SKi,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,Inc,Set_179,Set_180,SID).
 iknows(pair(IDsnj,xor(Pj,Sran)))

step step_8 (SNj,Ui,HGWN,SK1,SK2,H,IDi,PWi,Dummy_DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Dummy_Ri,Dummy_Rj,Dummy_Rk,T1,T2,Dummy_T3,T4,T5,T6,T7,Xk,Pj,PSj,Sran,SKi,D1,D2,D3,D4,D5,D6,Dummy_D7,Dummy_D8,D9,D10,D11,Inc,Dummy_Set_179,Dummy_Set_180,SID,Rj,T3) :=
 state_snode(SNj,Ui,HGWN,SK1,SK2,H,1,IDi,PWi,Dummy_DIDi,RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,Dummy_Ri,Dummy_Rj,Dummy_Rk,T1,T2,Dummy_T3,T4,T5,T6,T7,Xk,Pj,PSj,Sran,SKi,D1,D2,D3,D4,D5,D6,Dummy_D7,Dummy_D8,D9,D10,D11,Inc,Dummy_Set_179,Dummy_Set_180,SID).
 iknows(pair(TIDi,pair(D3,pair(D4,pair(D5,pair(D6,Dummy_T3))))))
=[exists T3,Rj]=>
 state_snode(SNj,Ui,HGWN,SK1,SK2,H,2,IDi,PWi,xor(D5,apply(H,pair(Pj,pair(xor(D4,apply(H,pair(Pj,pair(TIDi,pair(xor(apply(H,pair(Pj,pair(T3,pair(IDsnj,TIDi)))),D3),T3))))),pair(xor(apply(H,pair(Pj,pair(T3,pair(IDsnj,TIDi)))),D3),T3))))),RPWi,TIDi,IDgwnh,IDsnj,Yi,Vi,Ci,Ki,R,xor(D4,apply(H,pair(Pj,pair(TIDi,pair(xor(apply(H,pair(Pj,pair(T3,pair(IDsnj,TIDi)))),D3),T3))))),Rj,xor(apply(H,pair(Pj,pair(T3,pair(IDsnj,TIDi)))),D3),T1,T2,T3,T4,T5,T6,T7,Xk,Pj,PSj,Sran,SKi,D1,D2,D3,D4,D5,D6,xor(Rj,apply(H,pair(Pj,pair(Dummy_Rk,T3)))),apply(H,pair(Pj,pair(Rj,pair(T3,pair(Dummy_Rk,pair(TIDi,pair(Dummy_Ri,Dummy_T3))))))),D9,D10,D11,Inc,Dummy_Set_179,Dummy_Set_180,SID).
 iknows(pair(xor(Rj,apply(H,pair(Pj,pair(Dummy_Rk,T3)))),pair(apply(H,pair(Pj,pair(Rj,pair(T3,pair(Dummy_Rk,pair(TIDi,pair(Dummy_Ri,Dummy_T3))))))),T3))).
 secret(Dummy_Set_179,sub7,Dummy_Set_180).
 witness(SNj,Ui,snode_user_rj,Rj).
 request(SNj,HGWN,snode_gateway_rj,Rj,SID).
 contains(Rj,Dummy_Set_179).
 contains(Ui,Dummy_Set_180).
 contains(HGWN,Dummy_Set_180).
 contains(SNj,Dummy_Set_180)


section properties:

property secrecy_of_sub1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub7 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub7,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_gateway_ri (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_gateway_ri,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_gateway_ri,MGoal))
     /\ ((request(A1Goal,A2Goal,user_gateway_ri,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_gateway_ri,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gateway_snode_rk (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gateway_snode_rk,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gateway_snode_rk,MGoal))
     /\ ((request(A1Goal,A2Goal,gateway_snode_rk,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gateway_snode_rk,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_snode_user_rj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,snode_user_rj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,snode_user_rj,MGoal))
     /\ ((request(A1Goal,A2Goal,snode_user_rj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,snode_user_rj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_snode_gateway_rj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,snode_gateway_rj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,snode_gateway_rj,MGoal))
     /\ ((request(A1Goal,A2Goal,snode_gateway_rj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,snode_gateway_rj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sub1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub6,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub7 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub7,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_gateway_ri (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_gateway_ri,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_gateway_ri,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_gateway_ri (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_gateway_ri,MGoal,SID1).
 request(A1Goal,A2Goal,user_gateway_ri,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gateway_snode_rk (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gateway_snode_rk,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gateway_snode_rk,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gateway_snode_rk (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gateway_snode_rk,MGoal,SID1).
 request(A1Goal,A2Goal,gateway_snode_rk,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_snode_user_rj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,snode_user_rj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,snode_user_rj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_snode_user_rj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,snode_user_rj,MGoal,SID1).
 request(A1Goal,A2Goal,snode_user_rj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_snode_gateway_rj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,snode_gateway_rj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,snode_gateway_rj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_snode_gateway_rj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,snode_gateway_rj,MGoal,SID1).
 request(A1Goal,A2Goal,snode_gateway_rj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

