%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile9O5sbT

section signature:

state_tagg: agent * agent * text * text * hash_func * nat * text * text * text * set(agent) * set(agent) * set(agent) * nat -> fact
state_readerr: agent * agent * text * text * hash_func * nat * text * text * text * set(agent) * set(agent) * set(agent) * nat -> fact


section types:

uid2, uid1, tid, rt, tr: protocol_id
Set_48, Set_46, Set_45, Dummy_Set_48, Dummy_Set_46, Dummy_Set_45, Dummy_Set_31, Dummy_Set_29, Dummy_Set_26, Set_31, Set_29, Set_26, ASGoal: set(agent)
start, MGoal: message
H, h: hash_func
Dummy_U2, Nr, Nt, U2, U1, T, Dummy_T, Dummy_Nt, Dummy_Nr, dummy_nonce, u1, u2, tagid: text
6, 5, 3, 4, State, SID, Dummy_State, SID2, SID1, 2, 1, 0, 7: nat
Reader, Tag, A2Goal, A1Goal, r, t, i: agent
set_98, set_97, set_96, set_89, set_88, set_87, set_76, set_75, set_74, set_102, set_101, set_100: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(h).
 iknows(r).
 iknows(i).
 state_readerr(r,t,u1,u2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,set_74,set_75,set_76,3).
 state_tagg(t,r,u1,tagid,h,1,dummy_nonce,dummy_nonce,dummy_nonce,set_87,set_88,set_89,4).
 state_readerr(r,t,u1,u2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,set_96,set_97,set_98,6).
 state_tagg(t,r,u1,tagid,h,1,dummy_nonce,dummy_nonce,dummy_nonce,set_100,set_101,set_102,7)


section rules:

step step_0 (Reader,Tag,U1,U2,H,Dummy_Nr,Nt,T,Set_26,Set_29,Set_31,SID,Nr) :=
 state_readerr(Reader,Tag,U1,U2,H,0,Dummy_Nr,Nt,T,Set_26,Set_29,Set_31,SID).
 iknows(start)
=[exists Nr]=>
 state_readerr(Reader,Tag,U1,U2,H,2,Nr,Nt,T,Set_26,Set_29,Set_31,SID).
 iknows(Nr)

step step_1 (Reader,Tag,U1,U2,H,Nr,Dummy_Nt,Dummy_T,Dummy_Set_26,Dummy_Set_29,Dummy_Set_31,SID,Nt,T) :=
 state_readerr(Reader,Tag,U1,U2,H,2,Nr,Dummy_Nt,Dummy_T,Dummy_Set_26,Dummy_Set_29,Dummy_Set_31,SID).
 iknows(pair(Nt,pair(xor(T,apply(H,pair(Nt,pair(Nr,U1)))),apply(H,pair(Nt,pair(Nr,pair(U1,T)))))))
 =>
 state_readerr(Reader,Tag,U1,U2,H,4,Nr,Nt,T,Dummy_Set_26,Dummy_Set_29,Dummy_Set_31,SID).
 iknows(pair(xor(U2,apply(H,pair(Dummy_Nt,pair(Nr,Dummy_T)))),apply(H,pair(Dummy_Nt,pair(Nr,pair(Dummy_T,U2)))))).
 witness(Reader,Tag,tr,Dummy_T).
 request(Reader,Tag,rt,U1,SID).
 secret(T,tid,Dummy_Set_26).
 secret(U1,uid1,Dummy_Set_29).
 secret(U2,uid2,Dummy_Set_31).
 contains(Reader,Dummy_Set_26).
 contains(Tag,Dummy_Set_26).
 contains(Reader,Dummy_Set_29).
 contains(Tag,Dummy_Set_29).
 contains(Reader,Dummy_Set_31).
 contains(Tag,Dummy_Set_31)

step step_2 (Tag,Reader,U1,T,H,Dummy_Nr,Dummy_Nt,U2,Dummy_Set_45,Dummy_Set_46,Set_48,SID,Nr,Nt) :=
 state_tagg(Tag,Reader,U1,T,H,1,Dummy_Nr,Dummy_Nt,U2,Dummy_Set_45,Dummy_Set_46,Set_48,SID).
 iknows(Nr)
=[exists Nt]=>
 state_tagg(Tag,Reader,U1,T,H,3,Nr,Nt,U2,Dummy_Set_45,Dummy_Set_46,Set_48,SID).
 iknows(pair(Nt,pair(xor(T,apply(H,pair(Nt,pair(Dummy_Nr,U1)))),apply(H,pair(Nt,pair(Dummy_Nr,pair(U1,T))))))).
 witness(Reader,Tag,rt,U1).
 secret(T,tid,Dummy_Set_45).
 secret(U1,uid1,Dummy_Set_46).
 contains(Reader,Dummy_Set_45).
 contains(Tag,Dummy_Set_45).
 contains(Reader,Dummy_Set_46).
 contains(Tag,Dummy_Set_46)

step step_3 (Tag,Reader,U1,T,H,Nr,Nt,Dummy_U2,Set_45,Set_46,Dummy_Set_48,SID,U2) :=
 state_tagg(Tag,Reader,U1,T,H,3,Nr,Nt,Dummy_U2,Set_45,Set_46,Dummy_Set_48,SID).
 iknows(pair(xor(U2,apply(H,pair(Nt,pair(Nr,T)))),apply(H,pair(Nt,pair(Nr,pair(T,U2))))))
 =>
 state_tagg(Tag,Reader,U1,T,H,5,Nr,Nt,U2,Set_45,Set_46,Dummy_Set_48,SID).
 request(Reader,Tag,tr,T,SID).
 secret(Dummy_U2,uid2,Dummy_Set_48).
 contains(Reader,Dummy_Set_48).
 contains(Tag,Dummy_Set_48)


section properties:

property secrecy_of_uid1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,uid1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_uid2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,uid2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_tid (MGoal,ASGoal) :=
 [] ((secret(MGoal,tid,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_tr (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,tr,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,tr,MGoal))
     /\ ((request(A1Goal,A2Goal,tr,MGoal,SID1)
           /\ request(A1Goal,A2Goal,tr,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_rt (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,rt,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,rt,MGoal))
     /\ ((request(A1Goal,A2Goal,rt,MGoal,SID1)
           /\ request(A1Goal,A2Goal,rt,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_uid1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,uid1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_uid2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,uid2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_tid (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,tid,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_tr (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,tr,MGoal,SID) &
 not(witness(A2Goal,A1Goal,tr,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_tr (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,tr,MGoal,SID1).
 request(A1Goal,A2Goal,tr,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_rt (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,rt,MGoal,SID) &
 not(witness(A2Goal,A1Goal,rt,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_rt (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,rt,MGoal,SID1).
 request(A1Goal,A2Goal,rt,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

