%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileGJ36aS

section signature:

state_aaa_MIP_HA: agent * agent * agent * symmetric_key * nat * symmetric_key * symmetric_key * symmetric_key * scrypt(symmetric_key,pair(symmetric_key,symmetric_key)) * nat -> fact
state_aaa_MIP_AAAH: agent * agent * agent * agent * agent * symmetric_key * symmetric_key * symmetric_key * nat * symmetric_key * symmetric_key * symmetric_key * set(agent) * set(agent) * set(agent) * nat -> fact
state_aaa_MIP_AAAL: agent * agent * agent * agent * symmetric_key * symmetric_key * nat * symmetric_key * symmetric_key * scrypt(symmetric_key,pair(agent,pair(agent,agent))) * scrypt(symmetric_key,pair(symmetric_key,symmetric_key)) * scrypt(symmetric_key,scrypt(symmetric_key,pair(symmetric_key,symmetric_key))) * nat -> fact
state_aaa_MIP_FA: agent * agent * agent * agent * symmetric_key * nat * symmetric_key * symmetric_key * scrypt(symmetric_key,pair(agent,pair(agent,agent))) * scrypt(symmetric_key,pair(symmetric_key,symmetric_key)) * scrypt(symmetric_key,scrypt(symmetric_key,pair(symmetric_key,symmetric_key))) * nat -> fact
state_aaa_MIP_MN: agent * agent * agent * symmetric_key * nat * symmetric_key * symmetric_key * nat -> fact


section types:

set_144, set_143, set_142: set
SignedKeyMnFaKeyMnHa, Dummy_SignedKeyMnFaKeyMnHa, Dummy_SignKeyMnHaKeyMnFa, SignKeyMnHaKeyMnFa: scrypt(symmetric_key,scrypt(symmetric_key,pair(symmetric_key,symmetric_key)))
KeyMnFaKeyMnHa, Dummy_KeyMnFaKeyMnHa, Dummy_KeyMnHaKeyMnFa, KeyMnHaKeyMnFa: scrypt(symmetric_key,pair(symmetric_key,symmetric_key))
SignedRegReq, Dummy_SignedRegReq: scrypt(symmetric_key,pair(agent,pair(agent,agent)))
Set_77, Set_76, Set_74, Dummy_Set_77, Dummy_Set_76, Dummy_Set_74, ASGoal: set(agent)
start, MGoal: message
k_mnha1, k_faha2, secFAHA, secFAMN, secMNHA, k_mnfa1, k_faha1, k_mnfa2, k_mnha2: protocol_id
State, 7, SID, 6, 5, 3, 4, Dummy_State, 2, 1, 0: nat
K_MnFa, K_FaHa, K_MnHa, K_AAAHHa, K_MnAAAH, K_AAAHAAAL, KAAAHHa, K_FaAAAL, Dummy_K_FaHa, Dummy_K_MnHa, Dummy_K_MnFa, dummy_sk, k_mn_aaah, k_fa_aaal, k_aaah_aaal, k_ha_aaah: symmetric_key
HA, AAAH, MN, AAAL, FA, dummy_agent, A2Goal, A1Goal, mn, fa, aaal, aaah, ha, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(mn).
 iknows(fa).
 iknows(aaal).
 iknows(aaah).
 iknows(ha).
 iknows(i).
 state_aaa_MIP_MN(mn,aaah,fa,k_mn_aaah,0,dummy_sk,dummy_sk,3).
 state_aaa_MIP_FA(fa,aaal,aaah,mn,k_fa_aaal,0,dummy_sk,dummy_sk,scrypt(dummy_sk,pair(dummy_agent,pair(dummy_agent,dummy_agent))),scrypt(dummy_sk,pair(dummy_sk,dummy_sk)),scrypt(dummy_sk,scrypt(dummy_sk,pair(dummy_sk,dummy_sk))),4).
 state_aaa_MIP_AAAL(aaal,aaah,fa,mn,k_fa_aaal,k_aaah_aaal,0,dummy_sk,dummy_sk,scrypt(dummy_sk,pair(dummy_agent,pair(dummy_agent,dummy_agent))),scrypt(dummy_sk,pair(dummy_sk,dummy_sk)),scrypt(dummy_sk,scrypt(dummy_sk,pair(dummy_sk,dummy_sk))),5).
 state_aaa_MIP_AAAH(aaah,aaal,ha,fa,mn,k_mn_aaah,k_aaah_aaal,k_ha_aaah,0,dummy_sk,dummy_sk,dummy_sk,set_142,set_143,set_144,6).
 state_aaa_MIP_HA(ha,aaah,mn,k_ha_aaah,0,dummy_sk,dummy_sk,dummy_sk,scrypt(dummy_sk,pair(dummy_sk,dummy_sk)),7)


section rules:

step step_0 (MN,AAAH,FA,K_MnAAAH,K_MnFa,K_MnHa,SID) :=
 state_aaa_MIP_MN(MN,AAAH,FA,K_MnAAAH,0,K_MnFa,K_MnHa,SID).
 iknows(pair(FA,FA))
 =>
 state_aaa_MIP_MN(MN,AAAH,FA,K_MnAAAH,1,K_MnFa,K_MnHa,SID).
 iknows(pair(FA,pair(MN,pair(AAAH,scrypt(K_MnAAAH,pair(FA,pair(MN,AAAH)))))))

step step_1 (MN,AAAH,FA,K_MnAAAH,Dummy_K_MnFa,Dummy_K_MnHa,SID,K_MnFa,K_MnHa) :=
 state_aaa_MIP_MN(MN,AAAH,FA,K_MnAAAH,1,Dummy_K_MnFa,Dummy_K_MnHa,SID).
 iknows(pair(scrypt(K_MnAAAH,pair(K_MnFa,K_MnHa)),scrypt(K_MnHa,scrypt(K_MnAAAH,pair(K_MnFa,K_MnHa)))))
 =>
 state_aaa_MIP_MN(MN,AAAH,FA,K_MnAAAH,2,K_MnFa,K_MnHa,SID).
 wrequest(MN,AAAH,k_mnha2,K_MnHa,SID).
 wrequest(MN,AAAH,k_mnfa2,K_MnFa,SID)

step step_2 (FA,AAAL,AAAH,MN,K_FaAAAL,K_MnFa,K_FaHa,SignedRegReq,KeyMnHaKeyMnFa,SignKeyMnHaKeyMnFa,SID) :=
 state_aaa_MIP_FA(FA,AAAL,AAAH,MN,K_FaAAAL,0,K_MnFa,K_FaHa,SignedRegReq,KeyMnHaKeyMnFa,SignKeyMnHaKeyMnFa,SID).
 iknows(start)
 =>
 state_aaa_MIP_FA(FA,AAAL,AAAH,MN,K_FaAAAL,1,K_MnFa,K_FaHa,SignedRegReq,KeyMnHaKeyMnFa,SignKeyMnHaKeyMnFa,SID).
 iknows(pair(FA,FA))

step step_3 (FA,AAAL,AAAH,MN,K_FaAAAL,K_MnFa,K_FaHa,Dummy_SignedRegReq,KeyMnHaKeyMnFa,SignKeyMnHaKeyMnFa,SID,SignedRegReq) :=
 state_aaa_MIP_FA(FA,AAAL,AAAH,MN,K_FaAAAL,1,K_MnFa,K_FaHa,Dummy_SignedRegReq,KeyMnHaKeyMnFa,SignKeyMnHaKeyMnFa,SID).
 iknows(pair(FA,pair(MN,pair(AAAH,SignedRegReq))))
 =>
 state_aaa_MIP_FA(FA,AAAL,AAAH,MN,K_FaAAAL,2,K_MnFa,K_FaHa,SignedRegReq,KeyMnHaKeyMnFa,SignKeyMnHaKeyMnFa,SID).
 iknows(pair(FA,pair(MN,pair(AAAH,SignedRegReq))))

step step_4 (FA,AAAL,AAAH,MN,K_FaAAAL,Dummy_K_MnFa,Dummy_K_FaHa,SignedRegReq,Dummy_KeyMnHaKeyMnFa,Dummy_SignKeyMnHaKeyMnFa,SID,K_MnFa,K_FaHa,KeyMnHaKeyMnFa,SignKeyMnHaKeyMnFa) :=
 state_aaa_MIP_FA(FA,AAAL,AAAH,MN,K_FaAAAL,2,Dummy_K_MnFa,Dummy_K_FaHa,SignedRegReq,Dummy_KeyMnHaKeyMnFa,Dummy_SignKeyMnHaKeyMnFa,SID).
 iknows(pair(FA,pair(scrypt(K_FaAAAL,pair(K_MnFa,K_FaHa)),pair(KeyMnHaKeyMnFa,pair(SignKeyMnHaKeyMnFa,scrypt(K_FaAAAL,pair(FA,pair(scrypt(K_FaAAAL,pair(K_MnFa,K_FaHa)),pair(KeyMnHaKeyMnFa,SignKeyMnHaKeyMnFa)))))))))
 =>
 state_aaa_MIP_FA(FA,AAAL,AAAH,MN,K_FaAAAL,3,K_MnFa,K_FaHa,SignedRegReq,KeyMnHaKeyMnFa,SignKeyMnHaKeyMnFa,SID).
 iknows(pair(KeyMnHaKeyMnFa,SignKeyMnHaKeyMnFa)).
 wrequest(FA,AAAH,k_faha1,K_FaHa,SID).
 wrequest(FA,AAAH,k_mnfa1,K_MnFa,SID)

step step_5 (AAAL,AAAH,FA,MN,K_FaAAAL,K_AAAHAAAL,K_MnFa,K_FaHa,Dummy_SignedRegReq,KeyMnFaKeyMnHa,SignedKeyMnFaKeyMnHa,SID,SignedRegReq) :=
 state_aaa_MIP_AAAL(AAAL,AAAH,FA,MN,K_FaAAAL,K_AAAHAAAL,0,K_MnFa,K_FaHa,Dummy_SignedRegReq,KeyMnFaKeyMnHa,SignedKeyMnFaKeyMnHa,SID).
 iknows(pair(FA,pair(MN,pair(AAAH,SignedRegReq))))
 =>
 state_aaa_MIP_AAAL(AAAL,AAAH,FA,MN,K_FaAAAL,K_AAAHAAAL,1,K_MnFa,K_FaHa,SignedRegReq,KeyMnFaKeyMnHa,SignedKeyMnFaKeyMnHa,SID).
 iknows(pair(FA,pair(MN,pair(AAAH,SignedRegReq))))

step step_6 (AAAL,AAAH,FA,MN,K_FaAAAL,K_AAAHAAAL,Dummy_K_MnFa,Dummy_K_FaHa,SignedRegReq,Dummy_KeyMnFaKeyMnHa,Dummy_SignedKeyMnFaKeyMnHa,SID,K_MnFa,K_FaHa,KeyMnFaKeyMnHa,SignedKeyMnFaKeyMnHa) :=
 state_aaa_MIP_AAAL(AAAL,AAAH,FA,MN,K_FaAAAL,K_AAAHAAAL,1,Dummy_K_MnFa,Dummy_K_FaHa,SignedRegReq,Dummy_KeyMnFaKeyMnHa,Dummy_SignedKeyMnFaKeyMnHa,SID).
 iknows(pair(FA,pair(scrypt(K_AAAHAAAL,pair(K_MnFa,K_FaHa)),pair(KeyMnFaKeyMnHa,pair(SignedKeyMnFaKeyMnHa,scrypt(K_AAAHAAAL,pair(FA,pair(scrypt(K_AAAHAAAL,pair(K_MnFa,K_FaHa)),pair(KeyMnFaKeyMnHa,SignedKeyMnFaKeyMnHa)))))))))
 =>
 state_aaa_MIP_AAAL(AAAL,AAAH,FA,MN,K_FaAAAL,K_AAAHAAAL,2,K_MnFa,K_FaHa,SignedRegReq,KeyMnFaKeyMnHa,SignedKeyMnFaKeyMnHa,SID).
 iknows(pair(FA,pair(scrypt(K_FaAAAL,pair(K_MnFa,K_FaHa)),pair(KeyMnFaKeyMnHa,pair(SignedKeyMnFaKeyMnHa,scrypt(K_FaAAAL,pair(FA,pair(scrypt(K_FaAAAL,pair(K_MnFa,K_FaHa)),pair(KeyMnFaKeyMnHa,SignedKeyMnFaKeyMnHa)))))))))

step step_7 (AAAH,AAAL,HA,FA,MN,K_MnAAAH,K_AAAHAAAL,KAAAHHa,Dummy_K_FaHa,Dummy_K_MnHa,Dummy_K_MnFa,Set_74,Set_76,Set_77,SID,K_FaHa,K_MnHa,K_MnFa) :=
 state_aaa_MIP_AAAH(AAAH,AAAL,HA,FA,MN,K_MnAAAH,K_AAAHAAAL,KAAAHHa,0,Dummy_K_FaHa,Dummy_K_MnHa,Dummy_K_MnFa,Set_74,Set_76,Set_77,SID).
 iknows(pair(FA,pair(MN,pair(AAAH,scrypt(K_MnAAAH,pair(FA,pair(MN,AAAH)))))))
=[exists K_FaHa,K_MnFa,K_MnHa]=>
 state_aaa_MIP_AAAH(AAAH,AAAL,HA,FA,MN,K_MnAAAH,K_AAAHAAAL,KAAAHHa,1,K_FaHa,K_MnHa,K_MnFa,Set_74,Set_76,Set_77,SID).
 iknows(pair(MN,pair(scrypt(KAAAHHa,pair(K_MnHa,K_FaHa)),pair(scrypt(K_MnAAAH,pair(K_MnFa,K_MnHa)),scrypt(KAAAHHa,pair(MN,pair(scrypt(KAAAHHa,pair(K_MnHa,K_FaHa)),scrypt(K_MnAAAH,pair(K_MnFa,K_MnHa))))))))).
 witness(AAAH,FA,k_faha1,K_FaHa).
 witness(AAAH,HA,k_faha2,K_FaHa).
 witness(AAAH,FA,k_mnfa1,K_MnFa).
 witness(AAAH,MN,k_mnfa2,K_MnFa).
 witness(AAAH,MN,k_mnha2,K_MnHa).
 witness(AAAH,HA,k_mnha1,K_MnHa)

step step_8 (AAAH,AAAL,HA,FA,MN,K_MnAAAH,K_AAAHAAAL,KAAAHHa,K_FaHa,K_MnHa,K_MnFa,Dummy_Set_74,Dummy_Set_76,Dummy_Set_77,SID) :=
 state_aaa_MIP_AAAH(AAAH,AAAL,HA,FA,MN,K_MnAAAH,K_AAAHAAAL,KAAAHHa,1,K_FaHa,K_MnHa,K_MnFa,Dummy_Set_74,Dummy_Set_76,Dummy_Set_77,SID).
 iknows(pair(scrypt(K_MnAAAH,pair(K_MnFa,K_MnHa)),pair(scrypt(K_MnHa,scrypt(K_MnAAAH,pair(K_MnFa,K_MnHa))),scrypt(KAAAHHa,pair(scrypt(K_MnAAAH,pair(K_MnFa,K_MnHa)),scrypt(K_MnHa,scrypt(K_MnAAAH,pair(K_MnFa,K_MnHa))))))))
 =>
 state_aaa_MIP_AAAH(AAAH,AAAL,HA,FA,MN,K_MnAAAH,K_AAAHAAAL,KAAAHHa,2,K_FaHa,K_MnHa,K_MnFa,Dummy_Set_74,Dummy_Set_76,Dummy_Set_77,SID).
 iknows(pair(FA,pair(scrypt(K_AAAHAAAL,pair(K_MnFa,K_FaHa)),pair(scrypt(K_MnAAAH,pair(K_MnFa,K_MnHa)),pair(scrypt(K_MnHa,scrypt(K_MnAAAH,pair(K_MnFa,K_MnHa))),scrypt(K_AAAHAAAL,pair(FA,pair(scrypt(K_AAAHAAAL,pair(K_MnFa,K_FaHa)),pair(scrypt(K_MnAAAH,pair(K_MnFa,K_MnHa)),scrypt(K_MnHa,scrypt(K_MnAAAH,pair(K_MnFa,K_MnHa)))))))))))).
 secret(K_FaHa,secFAHA,Dummy_Set_74).
 secret(K_MnFa,secFAMN,Dummy_Set_76).
 secret(K_MnHa,secMNHA,Dummy_Set_77).
 contains(FA,Dummy_Set_74).
 contains(HA,Dummy_Set_74).
 contains(FA,Dummy_Set_76).
 contains(MN,Dummy_Set_76).
 contains(MN,Dummy_Set_77).
 contains(HA,Dummy_Set_77)

step step_9 (HA,AAAH,MN,K_AAAHHa,K_MnFa,Dummy_K_FaHa,Dummy_K_MnHa,Dummy_KeyMnFaKeyMnHa,SID,K_FaHa,K_MnHa,KeyMnFaKeyMnHa) :=
 state_aaa_MIP_HA(HA,AAAH,MN,K_AAAHHa,0,K_MnFa,Dummy_K_FaHa,Dummy_K_MnHa,Dummy_KeyMnFaKeyMnHa,SID).
 iknows(pair(MN,pair(scrypt(K_AAAHHa,pair(K_MnHa,K_FaHa)),pair(KeyMnFaKeyMnHa,scrypt(K_AAAHHa,pair(MN,pair(scrypt(K_AAAHHa,pair(K_MnHa,K_FaHa)),KeyMnFaKeyMnHa)))))))
 =>
 state_aaa_MIP_HA(HA,AAAH,MN,K_AAAHHa,1,K_MnFa,K_FaHa,K_MnHa,KeyMnFaKeyMnHa,SID).
 iknows(pair(KeyMnFaKeyMnHa,pair(scrypt(K_MnHa,KeyMnFaKeyMnHa),scrypt(K_AAAHHa,pair(KeyMnFaKeyMnHa,scrypt(K_MnHa,KeyMnFaKeyMnHa)))))).
 wrequest(HA,AAAH,k_faha2,K_FaHa,SID).
 wrequest(HA,AAAH,k_mnha1,K_MnHa,SID)


section properties:

property secrecy_of_secFAHA (MGoal,ASGoal) :=
 [] ((secret(MGoal,secFAHA,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secFAMN (MGoal,ASGoal) :=
 [] ((secret(MGoal,secFAMN,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secMNHA (MGoal,ASGoal) :=
 [] ((secret(MGoal,secMNHA,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property weak_authentication_on_k_faha1 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_faha1,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_faha1,MGoal))

property weak_authentication_on_k_mnfa1 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_mnfa1,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_mnfa1,MGoal))

property weak_authentication_on_k_faha2 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_faha2,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_faha2,MGoal))

property weak_authentication_on_k_mnha1 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_mnha1,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_mnha1,MGoal))

property weak_authentication_on_k_mnha2 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_mnha2,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_mnha2,MGoal))

property weak_authentication_on_k_mnfa2 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_mnfa2,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_mnfa2,MGoal))


section attack_states:

attack_state secrecy_of_secFAHA (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secFAHA,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secFAMN (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secFAMN,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secMNHA (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secMNHA,ASGoal) &
 not(contains(i,ASGoal))

attack_state weak_authentication_on_k_faha1 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_faha1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_faha1,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_mnfa1 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_mnfa1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_mnfa1,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_faha2 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_faha2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_faha2,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_mnha1 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_mnha1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_mnha1,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_mnha2 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_mnha2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_mnha2,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_mnfa2 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_mnfa2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_mnfa2,MGoal)) &
 not(equal(A2Goal,i))

