%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile7LCG1U

section signature:

state_server: agent * agent * hash_func * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * nat -> fact
state_user: agent * agent * hash_func * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * nat -> fact


section types:

ASGoal: set(agent)
MGoal, start: message
user_server_tu, user_server_ru, server_user_ts, server_user_rs, subs: protocol_id
skus, SKus: symmetric_key
h, mul, H, Mul: hash_func
Set_68, Set_37, Dummy_Set_68, Dummy_Set_37: set(text)
tu, ts, ruu, ru, rss, rs, idu, bu, pwu, x, Ku, Ks, P, SK, Tu, Ts, Ruu, Ru, Rss, Rs, IDu, Au, Bu, Ms, PWu, X, Dummy_Ks, Dummy_Ms, Dummy_SK, Mu, Dummy_Ku, Dummy_Rs, Dummy_Rss, Dummy_Ts, Dummy_Ru, Dummy_Ruu, Dummy_Tu, Dummy_Mu, Dummy_Au, dummy_nonce: text
A2Goal, A1Goal, u, s, U, S, i: agent
set_126, set_124, set_118, set_102: set
SID1, SID, State, 3, 2, 1, 0, 7, 6, 4, Dummy_State, SID2: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(s).
 iknows(h).
 iknows(mul).
 iknows(i).
 state_user(u,s,h,mul,skus,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_102,3).
 state_server(u,s,h,mul,skus,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_118,4).
 state_user(u,s,h,mul,skus,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_124,6).
 state_server(u,s,h,mul,skus,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_126,7)


section rules:

step step_0 (U,S,H,Mul,SKus,IDu,Dummy_Au,Bu,Mu,PWu,X,Tu,Ts,Ruu,Ru,Rss,Rs,Ku,Ks,P,SK,Dummy_Set_37,SID) :=
 state_user(U,S,H,Mul,SKus,0,IDu,Dummy_Au,Bu,Mu,PWu,X,Tu,Ts,Ruu,Ru,Rss,Rs,Ku,Ks,P,SK,Dummy_Set_37,SID).
 iknows(start)
 =>
 state_user(U,S,H,Mul,SKus,1,IDu,apply(H,pair(PWu,Bu)),Bu,Mu,PWu,X,Tu,Ts,Ruu,Ru,Rss,Rs,Ku,Ks,P,SK,Dummy_Set_37,SID).
 iknows(scrypt(SKus,pair(IDu,Dummy_Au))).
 secret(Dummy_Set_37,subs,U).
 contains(PWu,Dummy_Set_37).
 contains(Bu,Dummy_Set_37)

step step_1 (U,S,H,Mul,SKus,IDu,Au,Bu,Dummy_Mu,PWu,X,Dummy_Tu,Ts,Dummy_Ruu,Dummy_Ru,Rss,Rs,Ku,Ks,P,SK,Set_37,SID,Tu,Ru) :=
 state_user(U,S,H,Mul,SKus,1,IDu,Au,Bu,Dummy_Mu,PWu,X,Dummy_Tu,Ts,Dummy_Ruu,Dummy_Ru,Rss,Rs,Ku,Ks,P,SK,Set_37,SID).
 iknows(scrypt(SKus,pair(xor(apply(H,pair(IDu,X)),apply(H,pair(PWu,Bu))),pair(apply(Mul,pair(apply(H,pair(IDu,X)),P)),P))))
=[exists Tu,Ru]=>
 state_user(U,S,H,Mul,SKus,2,IDu,Au,Bu,apply(H,pair(IDu,pair(apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Ru)),P)),pair(apply(H,pair(IDu,X)),Tu)))),PWu,X,Tu,Ts,apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Ru)),P)),Ru,Rss,Rs,Ku,Ks,P,SK,Set_37,SID).
 iknows(pair(IDu,pair(apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Ru)),P)),pair(apply(H,pair(IDu,pair(apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Ru)),P)),pair(apply(H,pair(IDu,X)),Tu)))),Tu)))).
 witness(U,S,user_server_tu,Tu).
 witness(U,S,user_server_ru,Ru)

step step_2 (U,S,H,Mul,SKus,IDu,Au,Bu,Mu,PWu,X,Tu,Dummy_Ts,Ruu,Ru,Dummy_Rss,Dummy_Rs,Dummy_Ku,Ks,P,Dummy_SK,Set_37,SID,Ts,Rs) :=
 state_user(U,S,H,Mul,SKus,2,IDu,Au,Bu,Mu,PWu,X,Tu,Dummy_Ts,Ruu,Ru,Dummy_Rss,Dummy_Rs,Dummy_Ku,Ks,P,Dummy_SK,Set_37,SID).
 iknows(pair(IDu,pair(apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Rs)),P)),pair(apply(H,pair(IDu,pair(Rs,pair(apply(H,pair(IDu,X)),pair(Ts,SK))))),Ts))))
 =>
 state_user(U,S,H,Mul,SKus,3,IDu,Au,Bu,Mu,PWu,X,Tu,Ts,Ruu,Ru,apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Rs)),P)),Rs,apply(Mul,pair(apply(Mul,pair(apply(Mul,pair(apply(H,pair(IDu,X)),Ru)),apply(Mul,pair(apply(H,pair(IDu,X)),Rs)))),P)),Ks,P,apply(H,pair(IDu,pair(Ruu,pair(apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Rs)),P)),pair(Tu,pair(Ts,apply(Mul,pair(apply(Mul,pair(apply(Mul,pair(apply(H,pair(IDu,X)),Ru)),apply(Mul,pair(apply(H,pair(IDu,X)),Rs)))),P)))))))),Set_37,SID).
 request(S,U,server_user_ts,Ts,SID).
 request(S,U,server_user_rs,Rs,SID)

step step_3 (S,U,H,Mul,SKus,IDu,Au,Bu,Ms,PWu,X,Tu,Ts,Ruu,Ru,Rss,Rs,Ku,Ks,P,SK,Dummy_Set_68,SID) :=
 state_server(S,U,H,Mul,SKus,0,IDu,Au,Bu,Ms,PWu,X,Tu,Ts,Ruu,Ru,Rss,Rs,Ku,Ks,P,SK,Dummy_Set_68,SID).
 iknows(scrypt(SKus,pair(IDu,Au)))
 =>
 state_server(S,U,H,Mul,SKus,1,IDu,Au,Bu,Ms,PWu,X,Tu,Ts,Ruu,Ru,Rss,Rs,Ku,Ks,P,SK,Dummy_Set_68,SID).
 secret(Dummy_Set_68,subs,U).
 iknows(scrypt(SKus,pair(xor(apply(H,pair(IDu,X)),apply(H,pair(PWu,Bu))),pair(apply(Mul,pair(apply(H,pair(IDu,X)),P)),P)))).
 contains(PWu,Dummy_Set_68).
 contains(Bu,Dummy_Set_68)

step step_4 (S,U,H,Mul,SKus,IDu,Au,Bu,Dummy_Ms,PWu,X,Dummy_Tu,Dummy_Ts,Dummy_Ruu,Dummy_Ru,Dummy_Rss,Dummy_Rs,Ku,Dummy_Ks,P,Dummy_SK,Set_68,SID,Tu,Ts,Ru,Rs) :=
 state_server(S,U,H,Mul,SKus,1,IDu,Au,Bu,Dummy_Ms,PWu,X,Dummy_Tu,Dummy_Ts,Dummy_Ruu,Dummy_Ru,Dummy_Rss,Dummy_Rs,Ku,Dummy_Ks,P,Dummy_SK,Set_68,SID).
 iknows(pair(IDu,pair(apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Ru)),P)),pair(apply(H,pair(IDu,pair(Ruu,pair(apply(H,pair(IDu,X)),Tu)))),Tu))))
=[exists Ts,Rs]=>
 state_server(S,U,H,Mul,SKus,2,IDu,Au,Bu,apply(H,pair(IDu,pair(apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Rs)),P)),pair(apply(H,pair(IDu,X)),pair(Ts,apply(H,pair(IDu,pair(apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Ru)),P)),pair(apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Rs)),P)),pair(Tu,pair(Ts,apply(Mul,pair(apply(Mul,pair(apply(Mul,pair(apply(H,pair(IDu,X)),Ru)),apply(Mul,pair(apply(H,pair(IDu,X)),Rs)))),P))))))))))))),PWu,X,Tu,Ts,apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Ru)),P)),Ru,apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Rs)),P)),Rs,Ku,apply(Mul,pair(apply(Mul,pair(apply(Mul,pair(apply(H,pair(IDu,X)),Ru)),apply(Mul,pair(apply(H,pair(IDu,X)),Rs)))),P)),P,apply(H,pair(IDu,pair(apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Ru)),P)),pair(apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Rs)),P)),pair(Tu,pair(Ts,apply(Mul,pair(apply(Mul,pair(apply(Mul,pair(apply(H,pair(IDu,X)),Ru)),apply(Mul,pair(apply(H,pair(IDu,X)),Rs)))),P)))))))),Set_68,SID).
 iknows(pair(IDu,pair(apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Rs)),P)),pair(apply(H,pair(IDu,pair(apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Rs)),P)),pair(apply(H,pair(IDu,X)),pair(Ts,apply(H,pair(IDu,pair(apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Ru)),P)),pair(apply(Mul,pair(apply(H,pair(apply(H,pair(IDu,X)),Rs)),P)),pair(Tu,pair(Ts,apply(Mul,pair(apply(Mul,pair(apply(Mul,pair(apply(H,pair(IDu,X)),Ru)),apply(Mul,pair(apply(H,pair(IDu,X)),Rs)))),P))))))))))))),Ts)))).
 witness(S,U,server_user_ts,Ts).
 witness(S,U,server_user_rs,Rs).
 request(U,S,user_server_tu,Tu,SID).
 request(U,S,user_server_ru,Ru,SID)


section properties:

property secrecy_of_subs (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_server_tu (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_server_tu,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_server_tu,MGoal))
     /\ ((request(A1Goal,A2Goal,user_server_tu,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_server_tu,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_server_ru (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_server_ru,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_server_ru,MGoal))
     /\ ((request(A1Goal,A2Goal,user_server_ru,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_server_ru,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_user_ts (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_user_ts,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_user_ts,MGoal))
     /\ ((request(A1Goal,A2Goal,server_user_ts,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_user_ts,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_user_rs (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_user_rs,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_user_rs,MGoal))
     /\ ((request(A1Goal,A2Goal,server_user_rs,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_user_rs,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_server_tu (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_server_tu,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_tu,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_server_tu (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_server_tu,MGoal,SID1).
 request(A1Goal,A2Goal,user_server_tu,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_server_ru (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_server_ru,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_ru,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_server_ru (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_server_ru,MGoal,SID1).
 request(A1Goal,A2Goal,user_server_ru,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_user_ts (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_user_ts,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_user_ts,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_user_ts (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_user_ts,MGoal,SID1).
 request(A1Goal,A2Goal,server_user_ts,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_user_rs (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_user_rs,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_user_rs,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_user_rs (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_user_rs,MGoal,SID1).
 request(A1Goal,A2Goal,server_user_rs,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

