%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileoOoNo5

section signature:

state_server_role: agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact
state_user_role: agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(agent) * set(agent) * set(agent) * nat -> fact


section types:

user_server_x, secret_x, user_server_rpw, user_server_n, secret_n, secret_b_sk, user_server_j, user_server_r, user_server_l, user_server_Pw, user_server_RPW, secret_a_pwd, secret_b_pwd, secret_a_sk, user_server_c1, user_server_c2, user_server_hash, secret_hash: protocol_id
k, ki, K: symmetric_key
ID, RPW, N, L, AID, T, D, C1, J, IDU, Ts, C2, Sk, X, Y, Dummy_X, Dummy_IDU, Dummy_N, Dummy_Sk, Dummy_C2, Dummy_Ts, Pw, Dummy_Y, R, Dummy_AID, Dummy_D, Dummy_C1, Dummy_T, Dummy_J, Dummy_L, Dummy_R, C3, Dummy_RPW, Dummy_Pw, Dummy_ID, dummy_nonce: text
h, hi, Hash: hash_func
set_152, set_151, set_150, set_149, set_147, set_146, set_145, set_135, set_134, set_133, set_132, set_110, set_109, set_108: set
State, 7, 4, 3, 2, 6, 1, 0, SID, Dummy_State, SID2, SID1: nat
user, server, User, Server, A2Goal, A1Goal, i: agent
Set_84, Set_83, Set_82, Set_81, Set_51, Set_46, Set_44, Dummy_Set_84, Dummy_Set_83, Dummy_Set_82, Dummy_Set_81, Dummy_Set_51, Dummy_Set_46, Dummy_Set_44, ASGoal: set(agent)
start, MGoal: message


section inits:

initial_state init1 := 
 iknows(start).
 iknows(user).
 iknows(server).
 iknows(ki).
 iknows(i).
 state_user_role(user,server,h,k,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_108,set_109,set_110,3).
 state_server_role(user,server,h,k,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_132,set_133,set_134,set_135,4).
 state_user_role(user,server,hi,ki,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_145,set_146,set_147,6).
 state_server_role(user,server,hi,ki,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_149,set_150,set_151,set_152,7)


section rules:

step step_0 (User,Server,Hash,K,Dummy_ID,Dummy_Pw,R,Dummy_RPW,L,J,T,Ts,C1,C2,C3,D,AID,Sk,N,Y,Dummy_Set_44,Dummy_Set_46,Set_51,SID,ID,Pw) :=
 state_user_role(User,Server,Hash,K,0,Dummy_ID,Dummy_Pw,R,Dummy_RPW,L,J,T,Ts,C1,C2,C3,D,AID,Sk,N,Y,Dummy_Set_44,Dummy_Set_46,Set_51,SID).
 iknows(start)
=[exists Pw,ID]=>
 state_user_role(User,Server,Hash,K,1,ID,Pw,R,apply(Hash,pair(Dummy_ID,Dummy_Pw)),L,J,T,Ts,C1,C2,C3,D,AID,Sk,N,Y,Dummy_Set_44,Dummy_Set_46,Set_51,SID).
 iknows(pair(User,Dummy_RPW)).
 witness(User,Server,user_server_hash,Hash).
 secret(Hash,secret_hash,Dummy_Set_44).
 contains(User,Dummy_Set_44).
 contains(Server,Dummy_Set_44).
 contains(User,Dummy_Set_46)

step step_1 (User,Server,Hash,K,ID,Pw,Dummy_R,Dummy_RPW,Dummy_L,Dummy_J,Dummy_T,Ts,Dummy_C1,C2,C3,Dummy_D,Dummy_AID,Sk,N,Dummy_Y,Set_44,Set_46,Set_51,SID,R,L,T,D,Y) :=
 state_user_role(User,Server,Hash,K,1,ID,Pw,Dummy_R,Dummy_RPW,Dummy_L,Dummy_J,Dummy_T,Ts,Dummy_C1,C2,C3,Dummy_D,Dummy_AID,Sk,N,Dummy_Y,Set_44,Set_46,Set_51,SID).
 iknows(scrypt(K,pair(L,Y)))
=[exists D,T,R]=>
 state_user_role(User,Server,Hash,K,2,ID,Pw,R,pair(Dummy_R,Pw),L,xor(Dummy_L,Dummy_RPW),T,Ts,pair(Dummy_T,Dummy_J),C2,C3,D,xor(ID,apply(Hash,pair(Dummy_Y,pair(Dummy_T,Dummy_D)))),Sk,N,Y,Set_44,Set_46,Set_51,SID).
 iknows(pair(Dummy_AID,pair(Dummy_T,pair(Dummy_D,Dummy_C1))))

step step_2 (User,Server,Hash,K,ID,Pw,R,RPW,L,J,T,Dummy_Ts,Dummy_C1,Dummy_C2,C3,D,AID,Sk,N,Y,Set_44,Set_46,Set_51,SID,C1) :=
 state_user_role(User,Server,Hash,K,2,ID,Pw,R,RPW,L,J,T,Dummy_Ts,Dummy_C1,Dummy_C2,C3,D,AID,Sk,N,Y,Set_44,Set_46,Set_51,SID).
 iknows(C1)
 =>
 state_user_role(User,Server,Hash,K,3,ID,Pw,R,RPW,L,J,T,Dummy_Ts,C1,apply(Hash,xor(xor(Dummy_C1,J),Dummy_Ts)),C3,D,AID,Sk,N,Y,Set_44,Set_46,Set_51,SID)

step step_3 (User,Server,Hash,K,ID,Pw,R,RPW,L,J,T,Ts,C1,C3,D,AID,Dummy_Sk,N,Y,Set_44,Set_46,Dummy_Set_51,SID) :=
 state_user_role(User,Server,Hash,K,3,ID,Pw,R,RPW,L,J,T,Ts,C1,C1,C3,D,AID,Dummy_Sk,N,Y,Set_44,Set_46,Dummy_Set_51,SID)
 =>
 state_user_role(User,Server,Hash,K,4,ID,Pw,R,RPW,L,J,T,Ts,C1,C1,C3,D,AID,apply(Hash,xor(C1,J)),N,Y,Set_44,Set_46,Dummy_Set_51,SID).
 iknows(pair(User,apply(Hash,xor(C1,J)))).
 secret(Dummy_Sk,secret_a_sk,Dummy_Set_51).
 contains(User,Dummy_Set_51).
 contains(Server,Dummy_Set_51)

step step_4 (Server,User,Hash,K,ID,Dummy_RPW,Dummy_N,Dummy_L,AID,T,D,C1,Dummy_J,Dummy_IDU,Ts,C2,Sk,Dummy_X,Dummy_Y,Dummy_Set_81,Dummy_Set_82,Dummy_Set_83,Set_84,SID,RPW,X,Y) :=
 state_server_role(Server,User,Hash,K,0,ID,Dummy_RPW,Dummy_N,Dummy_L,AID,T,D,C1,Dummy_J,Dummy_IDU,Ts,C2,Sk,Dummy_X,Dummy_Y,Dummy_Set_81,Dummy_Set_82,Dummy_Set_83,Set_84,SID).
 iknows(pair(User,RPW))
=[exists Y,X]=>
 state_server_role(Server,User,Hash,K,1,ID,RPW,0,xor(Dummy_J,Dummy_RPW),AID,T,D,C1,apply(Hash,pair(Dummy_X,Dummy_IDU)),pair(ID,Dummy_N),Ts,C2,Sk,X,Y,Dummy_Set_81,Dummy_Set_82,Dummy_Set_83,Set_84,SID).
 iknows(scrypt(K,pair(Dummy_L,Dummy_Y))).
 witness(Server,User,user_server_n,Dummy_N).
 witness(User,Server,user_server_hash,Hash).
 secret(Hash,secret_hash,Dummy_Set_81).
 contains(User,Dummy_Set_81).
 contains(Server,Dummy_Set_81).
 contains(User,Dummy_Set_82).
 contains(Server,Dummy_Set_82).
 contains(Server,Dummy_Set_83)

step step_5 (Server,User,Hash,K,Dummy_ID,RPW,N,L,Dummy_AID,Dummy_T,Dummy_D,Dummy_C1,J,Dummy_IDU,Dummy_Ts,Dummy_C2,Sk,X,Y,Set_81,Set_82,Set_83,Set_84,SID,AID,Ts) :=
 state_server_role(Server,User,Hash,K,1,Dummy_ID,RPW,N,L,Dummy_AID,Dummy_T,Dummy_D,Dummy_C1,J,Dummy_IDU,Dummy_Ts,Dummy_C2,Sk,X,Y,Set_81,Set_82,Set_83,Set_84,SID).
 iknows(AID)
=[exists Ts]=>
 state_server_role(Server,User,Hash,K,2,xor(Dummy_AID,apply(Hash,pair(Y,pair(Dummy_T,Dummy_D)))),RPW,N,L,AID,Dummy_T,Dummy_D,Dummy_C1,J,pair(Dummy_ID,N),Ts,apply(Hash,xor(xor(Dummy_C1,J),Dummy_Ts)),Sk,X,Y,Set_81,Set_82,Set_83,Set_84,SID).
 iknows(pair(Dummy_C2,Dummy_Ts))

step step_6 (Server,User,Hash,K,ID,RPW,N,L,AID,T,D,C1,J,IDU,Ts,C2,Dummy_Sk,X,Y,Set_81,Set_82,Set_83,Dummy_Set_84,SID,Sk) :=
 state_server_role(Server,User,Hash,K,2,ID,RPW,N,L,AID,T,D,C1,J,IDU,Ts,C2,Dummy_Sk,X,Y,Set_81,Set_82,Set_83,Dummy_Set_84,SID).
 iknows(pair(User,Sk))
 =>
 state_server_role(Server,User,Hash,K,3,ID,RPW,N,L,AID,T,D,C1,J,IDU,Ts,C2,Sk,X,Y,Set_81,Set_82,Set_83,Dummy_Set_84,SID).
 secret(Dummy_Sk,secret_b_sk,Dummy_Set_84).
 contains(User,Dummy_Set_84).
 contains(Server,Dummy_Set_84)


section properties:

property secrecy_of_user_server_n (MGoal,ASGoal) :=
 [] ((secret(MGoal,user_server_n,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_user_server_Pw (MGoal,ASGoal) :=
 [] ((secret(MGoal,user_server_Pw,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_user_server_x (MGoal,ASGoal) :=
 [] ((secret(MGoal,user_server_x,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_user_server_RPW (MGoal,ASGoal) :=
 [] ((secret(MGoal,user_server_RPW,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_user_server_c1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,user_server_c1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_user_server_c2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,user_server_c2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_user_server_j (MGoal,ASGoal) :=
 [] ((secret(MGoal,user_server_j,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_user_server_l (MGoal,ASGoal) :=
 [] ((secret(MGoal,user_server_l,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_user_server_r (MGoal,ASGoal) :=
 [] ((secret(MGoal,user_server_r,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secret_b_sk (MGoal,ASGoal) :=
 [] ((secret(MGoal,secret_b_sk,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secret_a_sk (MGoal,ASGoal) :=
 [] ((secret(MGoal,secret_a_sk,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secret_hash (MGoal,ASGoal) :=
 [] ((secret(MGoal,secret_hash,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_user_server_hash (MGoal,ASGoal) :=
 [] ((secret(MGoal,user_server_hash,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_server_n (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_server_n,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_server_n,MGoal))
     /\ ((request(A1Goal,A2Goal,user_server_n,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_server_n,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_secret_n (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,secret_n,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,secret_n,MGoal))
     /\ ((request(A1Goal,A2Goal,secret_n,MGoal,SID1)
           /\ request(A1Goal,A2Goal,secret_n,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_secret_a_sk (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,secret_a_sk,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,secret_a_sk,MGoal))
     /\ ((request(A1Goal,A2Goal,secret_a_sk,MGoal,SID1)
           /\ request(A1Goal,A2Goal,secret_a_sk,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_secret_b_sk (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,secret_b_sk,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,secret_b_sk,MGoal))
     /\ ((request(A1Goal,A2Goal,secret_b_sk,MGoal,SID1)
           /\ request(A1Goal,A2Goal,secret_b_sk,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property weak_authentication_on_user_server_hash (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,user_server_hash,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,user_server_hash,MGoal))

property weak_authentication_on_user_server_x (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,user_server_x,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,user_server_x,MGoal))

property weak_authentication_on_user_server_Pw (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,user_server_Pw,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,user_server_Pw,MGoal))

property weak_authentication_on_user_server_RPW (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,user_server_RPW,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,user_server_RPW,MGoal))

property weak_authentication_on_user_server_n (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,user_server_n,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,user_server_n,MGoal))

property weak_authentication_on_user_server_r (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,user_server_r,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,user_server_r,MGoal))


section attack_states:

attack_state secrecy_of_user_server_n (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,user_server_n,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_user_server_Pw (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,user_server_Pw,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_user_server_x (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,user_server_x,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_user_server_RPW (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,user_server_RPW,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_user_server_c1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,user_server_c1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_user_server_c2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,user_server_c2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_user_server_j (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,user_server_j,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_user_server_l (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,user_server_l,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_user_server_r (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,user_server_r,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secret_b_sk (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secret_b_sk,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secret_a_sk (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secret_a_sk,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secret_hash (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secret_hash,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_user_server_hash (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,user_server_hash,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_server_n (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_server_n,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_n,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_server_n (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_server_n,MGoal,SID1).
 request(A1Goal,A2Goal,user_server_n,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_secret_n (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,secret_n,MGoal,SID) &
 not(witness(A2Goal,A1Goal,secret_n,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_secret_n (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,secret_n,MGoal,SID1).
 request(A1Goal,A2Goal,secret_n,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_secret_a_sk (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,secret_a_sk,MGoal,SID) &
 not(witness(A2Goal,A1Goal,secret_a_sk,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_secret_a_sk (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,secret_a_sk,MGoal,SID1).
 request(A1Goal,A2Goal,secret_a_sk,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_secret_b_sk (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,secret_b_sk,MGoal,SID) &
 not(witness(A2Goal,A1Goal,secret_b_sk,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_secret_b_sk (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,secret_b_sk,MGoal,SID1).
 request(A1Goal,A2Goal,secret_b_sk,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_user_server_hash (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,user_server_hash,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_hash,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_user_server_x (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,user_server_x,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_x,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_user_server_Pw (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,user_server_Pw,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_Pw,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_user_server_RPW (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,user_server_RPW,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_RPW,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_user_server_n (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,user_server_n,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_n,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_user_server_r (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,user_server_r,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_r,MGoal)) &
 not(equal(A2Goal,i))

