%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileRq1XAdKQv6

section signature:

state_server: agent * agent * symmetric_key * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * set(agent) * nat -> fact
state_user: agent * agent * symmetric_key * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * set(agent) * nat -> fact


section types:

subs1, subs2, subs3, subs4, subs5, password: protocol_id
h, f, H, F: hash_func
ASGoal, Set_74, Set_41, Dummy_Set_41, Dummy_Set_74: set(agent)
kus, kius, kisu, K1: symmetric_key
MGoal, start, D1, D2, D3, D4, D5, F1, Dummy_F1, Dummy_D5, Dummy_D4, Dummy_D3, Dummy_D2, Dummy_D1, dummy_msg: message
Rnd, T1, T3, Id, Pwd, Seed, Z, Ai, Bi, Ci, Ri, Cid, Dummy_Rndc, Rndc, Dummy_T3, Dummy_Cid, Dummy_Ri, Dummy_Ci, Dummy_Bi, Dummy_Ai, Dummy_T1, Dummy_Rnd, Dummy_Pwd, dummy_nonce: text
A2Goal, A1Goal, u, s, U, S, i: agent
set_131, set_129, set_124, set_102: set
SID1, SID, 6, 4, 0, State, 5, 3, 1, 2, 7, Dummy_State, SID2: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(s).
 iknows(h).
 iknows(f).
 iknows(kius).
 iknows(kisu).
 iknows(i).
 state_user(u,s,kus,h,f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_102,3).
 state_server(s,u,kus,h,f,2,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_124,4).
 state_user(s,u,kus,h,f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_129,6).
 state_server(u,s,kus,h,f,2,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_131,7)


section rules:

step step_0 (U,S,K1,H,F,Rnd,T1,T3,Id,Dummy_Pwd,Seed,Z,Ai,Bi,Ci,Ri,Cid,D1,D2,D3,D4,D5,F1,Dummy_Set_74,SID) :=
 state_user(U,S,K1,H,F,0,Rnd,T1,T3,Id,Dummy_Pwd,Seed,Z,Ai,Bi,Ci,Ri,Cid,D1,D2,D3,D4,D5,F1,Dummy_Set_74,SID).
 iknows(start)
 =>
 state_user(U,S,K1,H,F,1,Rnd,T1,T3,Id,apply(H,Dummy_Pwd),Seed,Z,Ai,Bi,Ci,Ri,Cid,D1,D2,D3,D4,D5,F1,Dummy_Set_74,SID).
 iknows(scrypt(K1,pair(Id,apply(H,Dummy_Pwd)))).
 secret(Dummy_Pwd,password,Dummy_Set_74).
 contains(U,Dummy_Set_74).
 contains(S,Dummy_Set_74)

step step_1 (U,S,K1,H,F,Dummy_Rnd,Dummy_T1,T3,Id,Pwd,Seed,Z,Dummy_Ai,Dummy_Bi,Dummy_Ci,Dummy_Ri,Dummy_Cid,Dummy_D1,Dummy_D2,Dummy_D3,Dummy_D4,Dummy_D5,F1,Set_74,SID,Rnd,T1,Ai,Bi,Ri) :=
 state_user(U,S,K1,H,F,1,Dummy_Rnd,Dummy_T1,T3,Id,Pwd,Seed,Z,Dummy_Ai,Dummy_Bi,Dummy_Ci,Dummy_Ri,Dummy_Cid,Dummy_D1,Dummy_D2,Dummy_D3,Dummy_D4,Dummy_D5,F1,Set_74,SID).
 iknows(scrypt(K1,pair(Ai,pair(Bi,pair(Ci,pair(Cid,Ri))))))
=[exists Rnd,T1]=>
 state_user(U,S,K1,H,F,4,Rnd,T1,T3,Id,Pwd,Seed,Z,Ai,Bi,apply(H,pair(Bi,Pwd)),Ri,apply(F,xor(Id,Ri)),pair(Bi,Pwd),apply(H,pair(pair(Bi,Pwd),T1)),xor(Ai,apply(H,Rnd)),apply(H,pair(apply(H,Rnd),T1)),xor(Dummy_Bi,apply(H,Rnd)),F1,Set_74,SID).
 request(U,S,subs1,apply(F,xor(Id,Ri)),SID).
 request(U,S,subs2,apply(H,pair(Bi,Pwd)),SID).
 iknows(pair(Id,T1)).
 witness(U,S,subs3,apply(H,pair(pair(Bi,Pwd),T1))).
 witness(U,S,subs4,apply(H,pair(apply(H,Rnd),T1)))

step step_2 (U,S,K1,H,F,Rnd,T1,Dummy_T3,Id,Pwd,Seed,Z,Ai,Bi,Ci,Ri,Cid,D1,D2,D3,D4,D5,Dummy_F1,Set_74,SID,T3) :=
 state_user(U,S,K1,H,F,4,Rnd,T1,Dummy_T3,Id,Pwd,Seed,Z,Ai,Bi,Ci,Ri,Cid,D1,D2,D3,D4,D5,Dummy_F1,Set_74,SID).
 iknows(pair(F1,T3))
 =>
 state_user(U,S,K1,H,F,6,Rnd,T1,T3,Id,Pwd,Seed,Z,Ai,Bi,Ci,Ri,Cid,D1,D2,D3,D4,D5,apply(H,pair(Id,pair(apply(H,Rnd),pair(Pwd,T3)))),Set_74,SID).
 request(U,S,subs5,apply(H,pair(Id,pair(apply(H,Rnd),pair(Pwd,T3)))),SID)

step step_3 (S,U,K1,H,F,Rndc,T1,T3,Id,Dummy_Pwd,Seed,Z,Dummy_Ai,Dummy_Bi,Dummy_Ci,Dummy_Ri,Dummy_Cid,D1,D2,D3,D4,D5,F1,Dummy_Set_41,SID,Pwd,Ri) :=
 state_server(S,U,K1,H,F,2,Rndc,T1,T3,Id,Dummy_Pwd,Seed,Z,Dummy_Ai,Dummy_Bi,Dummy_Ci,Dummy_Ri,Dummy_Cid,D1,D2,D3,D4,D5,F1,Dummy_Set_41,SID).
 iknows(scrypt(K1,pair(Id,Pwd)))
=[exists Ri]=>
 state_server(S,U,K1,H,F,3,Rndc,T1,T3,Id,Pwd,Seed,Z,apply(H,pair(Id,Seed)),xor(apply(H,pair(Id,Seed)),apply(H,exp(pair(Pwd,Z),2))),apply(H,pair(xor(apply(H,pair(Id,Seed)),apply(H,exp(pair(Pwd,Z),2))),Pwd)),Ri,apply(F,xor(Id,Ri)),D1,D2,D3,D4,D5,F1,Dummy_Set_41,SID).
 iknows(scrypt(K1,pair(apply(H,pair(Id,Seed)),pair(xor(apply(H,pair(Id,Seed)),apply(H,exp(pair(Pwd,Z),2))),pair(apply(H,pair(xor(apply(H,pair(Id,Seed)),apply(H,exp(pair(Pwd,Z),2))),Pwd)),pair(apply(F,xor(Id,Ri)),Ri)))))).
 witness(S,U,subs1,apply(F,xor(Id,Ri))).
 witness(S,U,subs2,apply(H,pair(xor(apply(H,pair(Id,Seed)),apply(H,exp(pair(Pwd,Z),2))),Pwd))).
 secret(Dummy_Pwd,password,Dummy_Set_41).
 contains(U,Dummy_Set_41).
 contains(S,Dummy_Set_41)

step step_4 (S,U,K1,H,F,Dummy_Rndc,Dummy_T1,Dummy_T3,Id,Pwd,Seed,Z,Ai,Dummy_Bi,Ci,Ri,Cid,D1,Dummy_D2,Dummy_D3,Dummy_D4,Dummy_D5,Dummy_F1,Set_41,SID,T1,T3) :=
 state_server(S,U,K1,H,F,3,Dummy_Rndc,Dummy_T1,Dummy_T3,Id,Pwd,Seed,Z,Ai,Dummy_Bi,Ci,Ri,Cid,D1,Dummy_D2,Dummy_D3,Dummy_D4,Dummy_D5,Dummy_F1,Set_41,SID).
 iknows(pair(Id,T1))
=[exists T3]=>
 state_server(S,U,K1,H,F,5,xor(pair(D3,Ai)),T1,T3,Id,Pwd,Seed,Z,Ai,xor(D5,xor(pair(D3,Ai))),Ci,Ri,Cid,D1,apply(H,pair(xor(D5,xor(pair(D3,Ai))),pair(Pwd,T1))),Dummy_D3,apply(H,pair(xor(pair(D3,Ai)),T1)),Dummy_D5,apply(H,pair(Id,pair(xor(pair(D3,Ai)),pair(Pwd,T3)))),Set_41,SID).
 request(S,U,subs4,apply(H,pair(xor(pair(D3,Ai)),T1)),SID).
 request(S,U,subs3,apply(H,pair(xor(D5,xor(pair(D3,Ai))),pair(Pwd,T1))),SID).
 iknows(pair(apply(H,pair(Id,pair(xor(pair(D3,Ai)),pair(Pwd,T3)))),T3)).
 witness(S,U,subs5,apply(H,pair(Id,pair(xor(pair(D3,Ai)),pair(Pwd,T3)))))


section properties:

property secrecy_of_password (MGoal,ASGoal) :=
 [] ((secret(MGoal,password,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_subs1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,subs1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,subs1,MGoal))
     /\ ((request(A1Goal,A2Goal,subs1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,subs1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_subs2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,subs2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,subs2,MGoal))
     /\ ((request(A1Goal,A2Goal,subs2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,subs2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_subs3 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,subs3,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,subs3,MGoal))
     /\ ((request(A1Goal,A2Goal,subs3,MGoal,SID1)
           /\ request(A1Goal,A2Goal,subs3,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_subs4 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,subs4,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,subs4,MGoal))
     /\ ((request(A1Goal,A2Goal,subs4,MGoal,SID1)
           /\ request(A1Goal,A2Goal,subs4,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_subs5 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,subs5,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,subs5,MGoal))
     /\ ((request(A1Goal,A2Goal,subs5,MGoal,SID1)
           /\ request(A1Goal,A2Goal,subs5,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_password (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,password,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_subs1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,subs1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,subs1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_subs1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,subs1,MGoal,SID1).
 request(A1Goal,A2Goal,subs1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_subs2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,subs2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,subs2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_subs2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,subs2,MGoal,SID1).
 request(A1Goal,A2Goal,subs2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_subs3 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,subs3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,subs3,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_subs3 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,subs3,MGoal,SID1).
 request(A1Goal,A2Goal,subs3,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_subs4 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,subs4,MGoal,SID) &
 not(witness(A2Goal,A1Goal,subs4,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_subs4 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,subs4,MGoal,SID1).
 request(A1Goal,A2Goal,subs4,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_subs5 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,subs5,MGoal,SID) &
 not(witness(A2Goal,A1Goal,subs5,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_subs5 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,subs5,MGoal,SID1).
 request(A1Goal,A2Goal,subs5,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

