%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileYXXD2UcDCj

section signature:

state_merchant: agent * agent * agent * symmetric_key * symmetric_key * symmetric_key * symmetric_key * symmetric_key * symmetric_key * hash_func * hash_func * public_key * public_key * public_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * nat -> fact
state_bank: agent * agent * agent * symmetric_key * symmetric_key * symmetric_key * symmetric_key * symmetric_key * symmetric_key * hash_func * hash_func * public_key * public_key * public_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(text) * set(text) * set(agent) * nat -> fact
state_client: agent * agent * agent * symmetric_key * symmetric_key * symmetric_key * symmetric_key * symmetric_key * symmetric_key * hash_func * hash_func * public_key * public_key * public_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * nat -> fact


section types:

set_387, set_386, set_385, set_383, set_382, set_381, set_380, set_379, set_378, set_377, set_375, set_374, set_373, set_371, set_370, set_369, set_367, set_366, set_365, set_364, set_363, set_362, set_361, set_359, set_358, set_357, set_342, set_341, set_340, set_319, set_318, set_317, set_316, set_315, set_314, set_313, set_282, set_281, set_280: set
start, MGoal: message
client_bank_x, bank_client_msk, merchant_bank_y, bank_merchant_msk, subs1, subs2, subs3, subs4: protocol_id
13, 12, 11, 9, State, 8, 7, 5, SID, 4, Dummy_State, 3, 2, SID2, SID1, 1, 0: nat
Pubx, Mpk, Puby, Dummy_Puby, Dummy_Mpk, Dummy_Pubx, pubx, mpk, puby: public_key
Sub, H, h, sub: hash_func
Kc, Km, Key, K, Kcb, Kbc, Dummy_K, Dummy_Km, Dummy_Kc, Dummy_Kbc, Dummy_Key, Dummy_Kcb, kc, km, key, k, kcb, kbc: symmetric_key
Dummy_Set_208, Set_147, Set_143, Dummy_Set_147, Dummy_Set_143, Dummy_Set_76, Set_76, ASGoal, Set_208: set(agent)
Dummy_Set_207, Dummy_Set_206, Set_146, Set_145, Set_142, Set_141, Dummy_Set_146, Dummy_Set_145, Dummy_Set_142, Dummy_Set_141, Dummy_Set_75, Dummy_Set_73, Set_75, Set_73, Set_207, Set_206: set(text)
C, B, M, A2Goal, A1Goal, c, b, m, i: agent
Dx, TDx, X, Msk, G, SKc, K1, N, Vi, Rvi, Rwi, Ri, Ei, Ts, IDm, Q, IMEIy, Dy, TDy, Y, SKm, K2, SKcm, Inv, Amt, Pay, R1, Succ, Bill, Payc, M1, M2, M3, Z, CNO, C1, Rc, Dummy_SKcm, Dummy_Pay, Dummy_K2, Dummy_Y, Dummy_Dy, Dummy_Q, Dummy_IDm, IMEIx, IDc, V, Dummy_Bill, Dummy_Succ, Dummy_SKm, Dummy_TDy, Dummy_Rc, Dummy_Z, Dummy_M2, Dummy_SKc, Dummy_TDx, Dummy_C1, Dummy_M3, Dummy_M1, Dummy_R1, Dummy_Amt, Dummy_Inv, Dummy_Ts, Dummy_Ei, Dummy_Ri, Dummy_Rwi, Dummy_Rvi, Dummy_Vi, Dummy_N, Dummy_K1, Dummy_Msk, Dummy_X, Dummy_Dx, Dummy_V, Dummy_IDc, dummy_nonce, v, q, dx, tdx, tdy, x, y, g, skc, skm, skcm, k1, k2, r1, succ, bill, n, vi, rvi, rwi, ei, ts, rc, m1, m2, m3, z, cno, c1: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(c).
 iknows(b).
 iknows(m).
 iknows(h).
 iknows(mpk).
 iknows(pubx).
 iknows(puby).
 iknows(i).
 state_client(c,b,m,kc,km,key,k,kcb,kbc,sub,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_280,set_281,set_282,3).
 state_bank(b,c,m,kc,km,key,k,kcb,kbc,sub,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_313,set_314,set_315,set_317,set_318,set_319,4).
 state_merchant(m,c,b,kc,km,key,k,kcb,kbc,sub,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_340,set_341,set_342,5).
 state_client(c,b,m,kc,km,key,k,kcb,kbc,sub,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_357,set_358,set_359,7).
 state_bank(b,c,m,kc,km,key,k,kcb,kbc,sub,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_361,set_362,set_363,set_365,set_366,set_367,8).
 state_merchant(m,c,b,kc,km,key,k,kcb,kbc,sub,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_369,set_370,set_371,9).
 state_client(c,b,m,kc,km,key,k,kcb,kbc,sub,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_373,set_374,set_375,11).
 state_bank(b,c,m,kc,km,key,k,kcb,kbc,sub,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_377,set_378,set_379,set_381,set_382,set_383,12).
 state_merchant(m,c,b,kc,km,key,k,kcb,kbc,sub,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_385,set_386,set_387,13)


section rules:

step step_0 (C,B,M,Kc,Km,Key,K,Kcb,Kbc,Sub,H,Dummy_Pubx,Mpk,Puby,IMEIx,Dummy_IDc,Dummy_V,Dummy_Dx,TDx,Dummy_X,Dummy_Msk,G,SKc,Dummy_K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Dummy_Set_73,Dummy_Set_75,Dummy_Set_76,SID,IDc,X,Msk) :=
 state_client(C,B,M,Kc,Km,Key,K,Kcb,Kbc,Sub,H,Dummy_Pubx,Mpk,Puby,0,IMEIx,Dummy_IDc,Dummy_V,Dummy_Dx,TDx,Dummy_X,Dummy_Msk,G,SKc,Dummy_K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Dummy_Set_73,Dummy_Set_75,Dummy_Set_76,SID).
 iknows(start)
=[exists Msk,IDc,X]=>
 state_client(C,B,M,Kc,Km,Key,K,Kcb,Kbc,Sub,H,exp(G,Dummy_X),Mpk,Puby,1,IMEIx,IDc,xor(apply(H,pair(Dummy_X,Dummy_IDc)),IMEIx),apply(H,pair(Dummy_X,IMEIx)),TDx,X,Msk,G,SKc,apply(H,pair(pair(IMEIx,Dummy_Pubx),Dummy_X)),N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Dummy_Set_73,Dummy_Set_75,Dummy_Set_76,SID).
 iknows(scrypt(Kc,pair(Dummy_IDc,pair(Dummy_Dx,pair(Dummy_Pubx,Dummy_K1))))).
 secret(Dummy_Set_73,subs1,C).
 secret(Dummy_Set_75,subs2,Dummy_Set_76).
 witness(C,B,client_bank_x,X).
 contains(Dummy_X,Dummy_Set_73).
 contains(Dummy_Msk,Dummy_Set_75).
 contains(C,Dummy_Set_76).
 contains(B,Dummy_Set_76)

step step_1 (C,B,M,Kc,Km,Key,K,Dummy_Kcb,Kbc,Sub,H,Pubx,Mpk,Puby,IMEIx,IDc,V,Dx,TDx,X,Msk,G,SKc,K1,Dummy_N,Dummy_Vi,Dummy_Rvi,Dummy_Rwi,Dummy_Ri,Dummy_Ei,Dummy_Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Set_73,Set_75,Set_76,SID,N,Ts) :=
 state_client(C,B,M,Kc,Km,Key,K,Dummy_Kcb,Kbc,Sub,H,Pubx,Mpk,Puby,1,IMEIx,IDc,V,Dx,TDx,X,Msk,G,SKc,K1,Dummy_N,Dummy_Vi,Dummy_Rvi,Dummy_Rwi,Dummy_Ri,Dummy_Ei,Dummy_Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Set_73,Set_75,Set_76,SID).
 iknows(scrypt(Kc,pair(B,pair(TDx,Mpk))))
=[exists Ts,N]=>
 state_client(C,B,M,Kc,Km,Key,K,apply(H,pair(Kc,pair(Dummy_Rvi,Dummy_Ts))),Kbc,Sub,H,Pubx,Mpk,Puby,2,IMEIx,IDc,V,Dx,TDx,X,Msk,G,SKc,K1,N,apply(H,pair(IDc,pair(Dummy_N,V))),xor(Dummy_Vi,Dummy_Ts),apply(H,pair(Dx,pair(apply(H,Amt),SKc))),xor(Dummy_Rvi,Dummy_Rwi),xor(apply(H,pair(Dummy_Rvi,K1)),apply(H,Dummy_N)),Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Set_73,Set_75,Set_76,SID).
 iknows(pair(Dx,pair(apply(H,Amt),pair(Dummy_Vi,pair(Dummy_Ri,scrypt(Dummy_Kcb,pair(Dummy_Ei,pair(Amt,TDx))))))))

step step_2 (C,B,M,Kc,Km,Dummy_Key,K,Kcb,Dummy_Kbc,Sub,H,Pubx,Mpk,Puby,IMEIx,IDc,V,Dx,TDx,X,Dummy_Msk,G,SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Dummy_Inv,Dummy_Amt,Pay,Dummy_R1,Succ,Bill,Payc,Dummy_M1,M2,Dummy_M3,Z,CNO,Dummy_C1,Rc,Set_73,Set_75,Set_76,SID,Msk,Inv) :=
 state_client(C,B,M,Kc,Km,Dummy_Key,K,Kcb,Dummy_Kbc,Sub,H,Pubx,Mpk,Puby,2,IMEIx,IDc,V,Dx,TDx,X,Dummy_Msk,G,SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Dummy_Inv,Dummy_Amt,Pay,Dummy_R1,Succ,Bill,Payc,Dummy_M1,M2,Dummy_M3,Z,CNO,Dummy_C1,Rc,Set_73,Set_75,Set_76,SID).
 iknows(pair(M2,pair(Dummy_M3,pair(Z,pair(apply(H,CNO),scrypt(Dummy_Kbc,pair(CNO,TDx)))))))
=[exists Msk,Inv]=>
 state_client(C,B,M,Kc,Km,apply(H,pair(Dummy_M1,pair(Kc,pair(Dummy_C1,Dummy_Inv)))),K,Kcb,apply(H,pair(apply(H,CNO),pair(xor(Ei,Dummy_C1),Z))),Sub,H,Pubx,Mpk,Puby,3,IMEIx,IDc,V,Dx,TDx,X,Msk,G,SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,xor(pair(Pay,Dummy_Inv)),Pay,apply(H,pair(Dx,pair(Dummy_Inv,pair(Pubx,apply(h,CNO))))),Succ,Bill,Payc,xor(Ei,Dummy_C1),M2,apply(H,pair(Dummy_C1,Z)),Z,CNO,xor(apply(H,N),M2),Rc,Set_73,Set_75,Set_76,SID).
 iknows(pair(Dx,pair(Dummy_Inv,pair(Pubx,pair(apply(H,CNO),pair(apply(H,pair(Dx,pair(Dummy_Inv,pair(Pubx,apply(h,CNO))))),scrypt(Dummy_Key,pair(Pay,TDx))))))))

step step_3 (C,B,M,Kc,Km,Key,K,Kcb,Kbc,Sub,H,Pubx,Mpk,Puby,IMEIx,IDc,V,Dx,TDx,X,Dummy_Msk,G,SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Set_73,Set_75,Set_76,SID,Msk) :=
 state_client(C,B,M,Kc,Km,Key,K,Kcb,Kbc,Sub,H,Pubx,Mpk,Puby,3,IMEIx,IDc,V,Dx,TDx,X,Dummy_Msk,G,SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Set_73,Set_75,Set_76,SID).
 iknows(scrypt(K,pair(Succ,pair(Bill,Inv))))
=[exists Msk]=>
 state_client(C,B,M,Kc,Km,Key,K,Kcb,Kbc,Sub,H,Pubx,Mpk,Puby,4,IMEIx,IDc,V,Dx,TDx,X,Msk,G,SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Set_73,Set_75,Set_76,SID).
 request(B,C,bank_client_msk,Msk,SID)

step step_4 (B,C,M,Dummy_Kc,Km,Key,K,Kcb,Kbc,Sub,H,Pubx,Dummy_Mpk,Puby,IMEIx,IDc,V,Dx,Dummy_TDx,X,Dummy_Msk,G,Dummy_SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Dummy_Set_141,Dummy_Set_142,Dummy_Set_143,Set_145,Set_146,Set_147,SID,Msk) :=
 state_bank(B,C,M,Dummy_Kc,Km,Key,K,Kcb,Kbc,Sub,H,Pubx,Dummy_Mpk,Puby,0,IMEIx,IDc,V,Dx,Dummy_TDx,X,Dummy_Msk,G,Dummy_SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Dummy_Set_141,Dummy_Set_142,Dummy_Set_143,Set_145,Set_146,Set_147,SID).
 iknows(scrypt(Dummy_Kc,pair(IMEIx,pair(Dx,pair(Pubx,K1)))))
=[exists Msk]=>
 state_bank(B,C,M,apply(H,pair(Dummy_SKc,pair(Dx,K1))),Km,Key,K,Kcb,Kbc,Sub,H,Pubx,exp(G,Dummy_Msk),Puby,1,IMEIx,IDc,V,Dx,apply(H,pair(Dx,Dummy_Msk)),X,Msk,G,exp(Pubx,Dummy_Msk),K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Dummy_Set_141,Dummy_Set_142,Dummy_Set_143,Set_145,Set_146,Set_147,SID).
 iknows(scrypt(Dummy_Kc,pair(B,pair(Dummy_TDx,Dummy_Mpk)))).
 secret(Dummy_Set_141,subs1,C).
 secret(Dummy_Set_142,subs2,Dummy_Set_143).
 witness(B,C,bank_client_msk,Msk).
 contains(X,Dummy_Set_141).
 contains(Dummy_Msk,Dummy_Set_142).
 contains(C,Dummy_Set_143).
 contains(B,Dummy_Set_143)

step step_5 (B,C,M,Kc,Km,Key,K,Dummy_Kcb,Dummy_Kbc,Sub,H,Pubx,Mpk,Puby,IMEIx,IDc,V,Dx,TDx,X,Msk,G,SKc,K1,N,Vi,Dummy_Rvi,Dummy_Rwi,Ri,Ei,Dummy_Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,Dummy_M1,Dummy_M2,Dummy_M3,Dummy_Z,CNO,C1,Dummy_Rc,Set_141,Set_142,Set_143,Set_145,Set_146,Set_147,SID,Rc) :=
 state_bank(B,C,M,Kc,Km,Key,K,Dummy_Kcb,Dummy_Kbc,Sub,H,Pubx,Mpk,Puby,1,IMEIx,IDc,V,Dx,TDx,X,Msk,G,SKc,K1,N,Vi,Dummy_Rvi,Dummy_Rwi,Ri,Ei,Dummy_Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,Dummy_M1,Dummy_M2,Dummy_M3,Dummy_Z,CNO,C1,Dummy_Rc,Set_141,Set_142,Set_143,Set_145,Set_146,Set_147,SID).
 iknows(scrypt(Kc,pair(Dx,pair(apply(H,Amt),pair(Vi,pair(Ri,scrypt(Dummy_Kcb,pair(Ei,pair(Amt,TDx)))))))))
=[exists Rc]=>
 state_bank(B,C,M,Kc,Km,Key,K,apply(H,pair(Kc,pair(xor(Ri,apply(H,pair(Dx,pair(apply(H,Amt),SKc)))),xor(xor(Ri,apply(H,pair(Dx,pair(apply(H,Amt),SKc)))),Vi)))),apply(H,pair(apply(H,CNO),pair(xor(Ei,Dummy_Rc),apply(H,pair(Msk,B))))),Sub,H,Pubx,Mpk,Puby,2,IMEIx,IDc,V,Dx,TDx,X,Msk,G,SKc,K1,N,Vi,xor(Ri,apply(H,pair(Dx,pair(apply(H,Amt),SKc)))),apply(H,pair(Dx,pair(apply(H,Amt),SKc))),Ri,Ei,xor(xor(Ri,apply(H,pair(Dx,pair(apply(H,Amt),SKc)))),Vi),IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,xor(Ei,Dummy_Rc),xor(apply(H,pair(xor(Ri,apply(H,pair(Dx,pair(apply(H,Amt),SKc)))),K1)),xor(Ei,Dummy_Rc)),apply(H,pair(Dummy_Rc,Dummy_Z)),apply(H,pair(Msk,B)),CNO,C1,Rc,Set_141,Set_142,Set_143,Set_145,Set_146,Set_147,SID).
 iknows(Set_144).
 contains(pair(Dummy_M2,pair(Dummy_M3,pair(Dummy_Z,pair(apply(H,CNO),scrypt(Dummy_Kbc,pair(CNO,TDx)))))),Set_144)

step step_6 (B,C,M,Kc,Dummy_Km,Key,K,Kcb,Kbc,Sub,H,Pubx,Mpk,Puby,IMEIx,IDc,V,Dx,TDx,X,Dummy_Msk,G,SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,Dummy_TDy,Y,Dummy_SKm,K2,SKcm,Inv,Amt,Pay,R1,Dummy_Succ,Dummy_Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Set_141,Set_142,Set_143,Dummy_Set_145,Dummy_Set_146,Dummy_Set_147,SID,Msk,Succ,Bill) :=
 state_bank(B,C,M,Kc,Dummy_Km,Key,K,Kcb,Kbc,Sub,H,Pubx,Mpk,Puby,2,IMEIx,IDc,V,Dx,TDx,X,Dummy_Msk,G,SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,Dummy_TDy,Y,Dummy_SKm,K2,SKcm,Inv,Amt,Pay,R1,Dummy_Succ,Dummy_Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Set_141,Set_142,Set_143,Dummy_Set_145,Dummy_Set_146,Dummy_Set_147,SID).
 iknows(pair(scrypt(Dummy_Km,pair(IMEIy,pair(Dy,pair(Puby,K2)))),pair(Dx,pair(Inv,pair(Pubx,pair(apply(H,CNO),pair(R1,scrypt(Key,pair(Pay,TDx)))))))))
=[exists Bill,Succ,Msk]=>
 state_bank(B,C,M,Kc,apply(H,pair(Dummy_SKm,pair(K2,Dy))),Key,K,Kcb,Kbc,Sub,H,Pubx,Mpk,Puby,3,IMEIx,IDc,V,Dx,TDx,X,Msk,G,SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,apply(H,pair(Dy,Dummy_Msk)),Y,exp(pair(Puby,Dummy_Msk)),K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Set_141,Set_142,Set_143,Dummy_Set_145,Dummy_Set_146,Dummy_Set_147,SID).
 iknows(scrypt(Dummy_Km,pair(Dummy_Succ,pair(Dummy_Bill,B)))).
 secret(Dummy_Set_145,subs3,M).
 secret(Dummy_Set_146,subs4,Dummy_Set_147).
 witness(B,M,bank_merchant_msk,Msk).
 contains(Y,Dummy_Set_145).
 contains(Dummy_Msk,Dummy_Set_146).
 contains(M,Dummy_Set_147).
 contains(B,Dummy_Set_147)

step step_7 (M,C,B,Kc,Km,Key,K,Kcb,Kbc,Sub,H,Pubx,Mpk,Dummy_Puby,IMEIx,IDc,V,Dx,TDx,X,Dummy_Msk,G,SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,Dummy_IDm,Dummy_Q,IMEIy,Dummy_Dy,TDy,Dummy_Y,SKm,Dummy_K2,SKcm,Inv,Amt,Dummy_Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Dummy_Set_206,Dummy_Set_207,Dummy_Set_208,SID,Msk,IDm,Y) :=
 state_merchant(M,C,B,Kc,Km,Key,K,Kcb,Kbc,Sub,H,Pubx,Mpk,Dummy_Puby,0,IMEIx,IDc,V,Dx,TDx,X,Dummy_Msk,G,SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,Dummy_IDm,Dummy_Q,IMEIy,Dummy_Dy,TDy,Dummy_Y,SKm,Dummy_K2,SKcm,Inv,Amt,Dummy_Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Dummy_Set_206,Dummy_Set_207,Dummy_Set_208,SID).
 iknows(pair(IMEIx,pair(Inv,pair(Pubx,pair(Amt,pair(apply(H,pair(IMEIx,pair(Inv,pair(Pubx,Dummy_Pay)))),scrypt(Key,pair(Dummy_Pay,TDx))))))))
=[exists IDm,Msk,Y]=>
 state_merchant(M,C,B,Kc,Km,Key,K,Kcb,Kbc,Sub,H,Pubx,Mpk,exp(G,Dummy_Y),1,IMEIx,IDc,V,Dx,TDx,X,Msk,G,SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,apply(H,pair(Dummy_Y,Dummy_IDm)),IMEIy,xor(apply(H,pair(Dummy_Y,Dummy_IDm)),IMEIy),TDy,Y,SKm,apply(H,pair(IMEIy,pair(Dummy_Puby,Dummy_Y))),SKcm,Inv,Amt,apply(Sub,pair(Amt,CNO)),R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Dummy_Set_206,Dummy_Set_207,Dummy_Set_208,SID).
 iknows(pair(scrypt(Km,pair(Dummy_IDm,pair(Dummy_Dy,pair(Dummy_Puby,Dummy_K2)))),pair(Dx,pair(Inv,pair(Pubx,pair(apply(H,CNO),pair(R1,scrypt(Key,pair(Dummy_Pay,TDx))))))))).
 secret(Dummy_Set_206,subs3,M).
 secret(Dummy_Set_207,subs4,Dummy_Set_208).
 witness(M,B,merchant_bank_y,Y).
 contains(Dummy_Y,Dummy_Set_206).
 contains(Dummy_Msk,Dummy_Set_207).
 contains(M,Dummy_Set_208).
 contains(B,Dummy_Set_208)

step step_8 (M,C,B,Kc,Km,Key,Dummy_K,Kcb,Kbc,Sub,H,Pubx,Mpk,Puby,IMEIx,IDc,V,Dx,TDx,X,Dummy_Msk,G,SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,Dummy_SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Set_206,Set_207,Set_208,SID,Msk) :=
 state_merchant(M,C,B,Kc,Km,Key,Dummy_K,Kcb,Kbc,Sub,H,Pubx,Mpk,Puby,1,IMEIx,IDc,V,Dx,TDx,X,Dummy_Msk,G,SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,Dummy_SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Set_206,Set_207,Set_208,SID).
 iknows(scrypt(Km,pair(Succ,pair(Bill,B))))
=[exists Msk]=>
 state_merchant(M,C,B,Kc,Km,Key,apply(H,pair(Dummy_SKcm,pair(Dy,Bill))),Kcb,Kbc,Sub,H,Pubx,Mpk,Puby,2,IMEIx,IDc,V,Dx,TDx,X,Msk,G,SKc,K1,N,Vi,Rvi,Rwi,Ri,Ei,Ts,IDm,Q,IMEIy,Dy,TDy,Y,SKm,K2,exp(pair(Pubx,Y)),Inv,Amt,Pay,R1,Succ,Bill,Payc,M1,M2,M3,Z,CNO,C1,Rc,Set_206,Set_207,Set_208,SID).
 iknows(scrypt(Dummy_K,pair(Succ,pair(Bill,Inv)))).
 request(B,M,bank_merchant_msk,Msk,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_client_bank_x (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,client_bank_x,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,client_bank_x,MGoal))
     /\ ((request(A1Goal,A2Goal,client_bank_x,MGoal,SID1)
           /\ request(A1Goal,A2Goal,client_bank_x,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_merchant_bank_y (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,merchant_bank_y,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,merchant_bank_y,MGoal))
     /\ ((request(A1Goal,A2Goal,merchant_bank_y,MGoal,SID1)
           /\ request(A1Goal,A2Goal,merchant_bank_y,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bank_client_msk (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bank_client_msk,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bank_client_msk,MGoal))
     /\ ((request(A1Goal,A2Goal,bank_client_msk,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bank_client_msk,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bank_merchant_msk (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bank_merchant_msk,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bank_merchant_msk,MGoal))
     /\ ((request(A1Goal,A2Goal,bank_merchant_msk,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bank_merchant_msk,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_client_bank_x (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,client_bank_x,MGoal,SID) &
 not(witness(A2Goal,A1Goal,client_bank_x,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_client_bank_x (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,client_bank_x,MGoal,SID1).
 request(A1Goal,A2Goal,client_bank_x,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_merchant_bank_y (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,merchant_bank_y,MGoal,SID) &
 not(witness(A2Goal,A1Goal,merchant_bank_y,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_merchant_bank_y (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,merchant_bank_y,MGoal,SID1).
 request(A1Goal,A2Goal,merchant_bank_y,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bank_client_msk (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bank_client_msk,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bank_client_msk,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bank_client_msk (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bank_client_msk,MGoal,SID1).
 request(A1Goal,A2Goal,bank_client_msk,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bank_merchant_msk (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bank_merchant_msk,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bank_merchant_msk,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bank_merchant_msk (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bank_merchant_msk,MGoal,SID1).
 request(A1Goal,A2Goal,bank_merchant_msk,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

