%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileBMIbaP

section signature:

state_user: agent * agent * nat * public_key * symmetric_key * text * nat -> fact


section types:

ASGoal: set(agent)
sk: protocol_id
MGoal, start: message
dummy_nonce, Passwd: text
dummy_sk, Sk: symmetric_key
dummy_pk, Pku: public_key
Dummy_State, 3, SID, 4, State, 2, 1, 0: nat
u, km, KM, U, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(km).
 iknows(i).
 state_user(u,km,0,dummy_pk,dummy_sk,dummy_nonce,3)


section rules:

step step_0 (U,KM,Pku,Sk,Passwd,SID) :=
 state_user(U,KM,0,Pku,Sk,Passwd,SID).
 iknows(start)
 =>
 state_user(U,KM,1,Pku,Sk,Passwd,SID).
 iknows(Passwd)

step step_1 (U,KM,Pku,Sk,Passwd,SID) :=
 state_user(U,KM,1,Pku,Sk,Passwd,SID).
 iknows(scrypt(Passwd,Sk))
 =>
 state_user(U,KM,2,Pku,Sk,Passwd,SID).
 iknows(scrypt(Sk,inv(Pku)))


section properties:

property secrecy_of_sk (MGoal,ASGoal) :=
 [] ((secret(MGoal,sk,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state secrecy_of_sk (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sk,ASGoal) &
 not(contains(i,ASGoal))

