%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfiledpKyDFftn7

section signature:

state_bob: agent * agent * text * nat * text * text * text * set(agent) * nat -> fact
state_alice: agent * agent * text * nat * text * text * text * set(agent) * set(agent) * nat -> fact


section types:

nb, sa, bob_alice_sa, alice_bob_nb, bob_alice_na, na: protocol_id
5, 3, 1, State, 6, 4, SID, 2, 0, Dummy_State: nat
set_75, set_73, set_72, set_68, set_58, set_57: set
Set_41, Set_27, Dummy_Set_41, Set_18, Dummy_Set_27, Dummy_Set_18, ASGoal: set(agent)
start, MGoal: message
Na, Nb, Secret, G, Dummy_Secret, Dummy_Nb, Dummy_Na, dummy_nonce, g: text
A, B, a, b, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(b).
 iknows(g).
 iknows(i).
 state_alice(a,b,g,0,dummy_nonce,dummy_nonce,dummy_nonce,set_57,set_58,3).
 state_bob(b,a,g,1,dummy_nonce,dummy_nonce,dummy_nonce,set_68,4).
 state_alice(a,i,g,0,dummy_nonce,dummy_nonce,dummy_nonce,set_72,set_73,6)


section rules:

step step_0 (A,B,G,Dummy_Na,Nb,Secret,Dummy_Set_18,Set_27,SID,Na) :=
 state_alice(A,B,G,0,Dummy_Na,Nb,Secret,Dummy_Set_18,Set_27,SID).
 iknows(start)
=[exists Na]=>
 state_alice(A,B,G,2,Na,Nb,Secret,Dummy_Set_18,Set_27,SID).
 iknows(exp(G,Na)).
 secret(Na,na,Dummy_Set_18).
 contains(A,Dummy_Set_18)

step step_1 (A,B,G,Na,Dummy_Nb,Dummy_Secret,Set_18,Dummy_Set_27,SID,Nb,Secret) :=
 state_alice(A,B,G,2,Na,Dummy_Nb,Dummy_Secret,Set_18,Dummy_Set_27,SID).
 iknows(exp(G,Nb))
=[exists Secret]=>
 state_alice(A,B,G,4,Na,Nb,Secret,Set_18,Dummy_Set_27,SID).
 iknows(scrypt(exp(exp(G,Nb),Na),Secret)).
 secret(Secret,sa,Dummy_Set_27).
 contains(A,Dummy_Set_27).
 contains(B,Dummy_Set_27)

step step_2 (B,A,G,Dummy_Na,Dummy_Nb,Secret,Dummy_Set_41,SID,Na,Nb) :=
 state_bob(B,A,G,1,Dummy_Na,Dummy_Nb,Secret,Dummy_Set_41,SID).
 iknows(exp(G,Na))
=[exists Nb]=>
 state_bob(B,A,G,3,Na,Nb,Secret,Dummy_Set_41,SID).
 iknows(exp(G,Nb)).
 secret(Nb,nb,Dummy_Set_41).
 contains(B,Dummy_Set_41)

step step_3 (B,A,G,Na,Nb,Dummy_Secret,Set_41,SID,Secret) :=
 state_bob(B,A,G,3,Na,Nb,Dummy_Secret,Set_41,SID).
 iknows(scrypt(exp(exp(G,Na),Nb),Secret))
 =>
 state_bob(B,A,G,5,Na,Nb,Secret,Set_41,SID)


section properties:

property secrecy_of_na (MGoal,ASGoal) :=
 [] ((secret(MGoal,na,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_nb (MGoal,ASGoal) :=
 [] ((secret(MGoal,nb,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sa (MGoal,ASGoal) :=
 [] ((secret(MGoal,sa,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state secrecy_of_na (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,na,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_nb (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,nb,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sa (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sa,ASGoal) &
 not(contains(i,ASGoal))

