%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfiledntjX48lij

section signature:

state_sensor: agent * agent * agent * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * nat -> fact
state_gwn: agent * agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(agent) * set(text) * set(text) * nat -> fact
state_user: agent * agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(agent) * set(text) * set(text) * nat -> fact


section types:

Dummy_Set_119, Dummy_Set_90, Dummy_Set_89, Dummy_Set_52, Dummy_Set_50, Set_119, Set_90, Set_89, Set_52, Set_50: set(text)
Dummy_Set_88, Dummy_Set_48, ASGoal, Set_88, Set_48: set(agent)
MGoal, start: message
sensor_gwn_t2, gwn_sensor_t3, user_sensor_t1, user_sensor_rni, sensor_user_t4, s1, s2, s3: protocol_id
Dummy_E2, Dummy_Rij, Dummy_Aj, Dummy_Hj, Dummy_Fij, Dummy_E1, Dummy_Fj, Dummy_T3, Dummy_T2, Dummy_Ei, Dummy_MIi, Dummy_T4, Dummy_B, Dummy_Kj, Dummy_Ni, Dummy_Zi, Dummy_Wi, Dummy_Vi, Dummy_Yi, Dummy_Xi, Dummy_Ki, Dummy_RNi, Dummy_A, Dummy_T1, Dummy_Fi, Dummy_Ri1, Dummy_MPi, Dummy_Ri, dummy_nonce, idi, sidj, t1, t2, t3, t4, Rij, Aj, E1, Fj, T3, T4, B, Kj, E2, XGWN, Ri1, IDi, A, P, RNi, SIDj, T1, T2, Fij, Hj, PWi, BIOi, Ri, MIi, Fi, Ei, Vi, Wi, Zi, Ni, MPi, Ki, Xi, Yi: text
skuigwn, SKuigwn: symmetric_key
dummy_hash, h, f, F, H: hash_func
5, SID, 4, Dummy_State, 3, SID2, SID1, State, 6, 2, 1, 0, 16, 15, 13, 11, 9, 8: nat
A2Goal, A1Goal, ui, sj, Ui, GWN, Sj, gwn, i: agent
set_196, set_182, set_181, set_180, set_154, set_153, set_152, set_229, set_227, set_226, set_225, set_223, set_222, set_221, set_219, set_218, set_217, set_216, set_214, set_213, set_212, set_210, set_208, set_207, set_206, set_205, set_204, set_203: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(sidj).
 iknows(t1).
 iknows(t2).
 iknows(t3).
 iknows(t4).
 iknows(h).
 iknows(f).
 iknows(i).
 state_user(ui,gwn,sj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_152,set_153,set_154,3).
 state_gwn(gwn,ui,sj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_180,set_181,set_182,4).
 state_sensor(sj,ui,gwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_196,5).
 state_gwn(gwn,i,sj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_206,set_207,set_208,8).
 state_sensor(sj,i,gwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_210,9).
 state_user(ui,i,sj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_212,set_213,set_214,11).
 state_sensor(sj,ui,i,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_219,13).
 state_user(ui,gwn,i,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_221,set_222,set_223,15).
 state_gwn(gwn,ui,i,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_225,set_226,set_227,16)


section rules:

step step_0 (Ui,GWN,Sj,H,SKuigwn,IDi,PWi,BIOi,Dummy_Ri,Ri1,MIi,Fi,Ei,XGWN,P,Dummy_MPi,T1,A,RNi,Ki,Xi,Yi,SIDj,Kj,Vi,Wi,Zi,Ni,B,T4,F,Dummy_Set_48,Dummy_Set_50,Set_52,SID,Ri) :=
 state_user(Ui,GWN,Sj,H,SKuigwn,0,IDi,PWi,BIOi,Dummy_Ri,Ri1,MIi,Fi,Ei,XGWN,P,Dummy_MPi,T1,A,RNi,Ki,Xi,Yi,SIDj,Kj,Vi,Wi,Zi,Ni,B,T4,F,Dummy_Set_48,Dummy_Set_50,Set_52,SID).
 iknows(start)
=[exists Ri]=>
 state_user(Ui,GWN,Sj,H,SKuigwn,1,IDi,PWi,BIOi,Ri,Ri1,MIi,Fi,Ei,XGWN,P,apply(H,pair(Ri,PWi)),T1,A,RNi,Ki,Xi,Yi,SIDj,Kj,Vi,Wi,Zi,Ni,B,T4,F,Dummy_Set_48,Dummy_Set_50,Set_52,SID).
 secret(IDi,s1,Dummy_Set_48).
 secret(Dummy_Set_50,s2,Ui).
 iknows(scrypt(SKuigwn,pair(IDi,apply(H,pair(Ri,PWi))))).
 contains(Ui,Dummy_Set_48).
 contains(GWN,Dummy_Set_48).
 contains(PWi,Dummy_Set_50).
 contains(BIOi,Dummy_Set_50).
 contains(Ri,Dummy_Set_50)

step step_1 (Ui,GWN,Sj,H,SKuigwn,IDi,PWi,BIOi,Dummy_Ri,Dummy_Ri1,MIi,Dummy_Fi,Ei,XGWN,P,MPi,Dummy_T1,Dummy_A,Dummy_RNi,Dummy_Ki,Dummy_Xi,Dummy_Yi,SIDj,Kj,Dummy_Vi,Dummy_Wi,Dummy_Zi,Dummy_Ni,B,T4,F,Set_48,Set_50,Dummy_Set_52,SID,Ri,Ri1,T1,A,RNi) :=
 state_user(Ui,GWN,Sj,H,SKuigwn,1,IDi,PWi,BIOi,Dummy_Ri,Dummy_Ri1,MIi,Dummy_Fi,Ei,XGWN,P,MPi,Dummy_T1,Dummy_A,Dummy_RNi,Dummy_Ki,Dummy_Xi,Dummy_Yi,SIDj,Kj,Dummy_Vi,Dummy_Wi,Dummy_Zi,Dummy_Ni,B,T4,F,Set_48,Set_50,Dummy_Set_52,SID).
 iknows(scrypt(SKuigwn,pair(apply(H,pair(Ri1,IDi)),pair(xor(apply(H,pair(Ri,PWi)),apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN))),H))))
=[exists RNi,A,T1]=>
 state_user(Ui,GWN,Sj,H,SKuigwn,2,IDi,PWi,BIOi,Ri,Ri1,MIi,apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),Ei,XGWN,P,MPi,T1,A,RNi,apply(F,pair(A,P)),apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)),apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),SIDj,Kj,apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1)))),xor(pair(RNi,apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))))),xor(pair(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1)))))),apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(pair(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1)))))),pair(apply(H,pair(Ri1,IDi)),SIDj)))),B,T4,F,Set_48,Set_50,Dummy_Set_52,SID).
 secret(Dummy_Set_52,s3,GWN).
 iknows(pair(apply(H,pair(Ri1,IDi)),pair(xor(pair(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1)))))),pair(xor(pair(RNi,apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))))),pair(apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(pair(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1)))))),pair(apply(H,pair(Ri1,IDi)),SIDj)))),T1))))).
 witness(Ui,Sj,user_sensor_t1,T1).
 witness(Ui,Sj,user_sensor_rni,RNi).
 contains(XGWN,Dummy_Set_52).
 contains(Ri1,Dummy_Set_52)

step step_2 (Ui,GWN,Sj,H,SKuigwn,IDi,PWi,BIOi,Ri,Dummy_Ri1,MIi,Fi,Ei,XGWN,P,MPi,Dummy_T1,Dummy_A,Dummy_RNi,Ki,Xi,Yi,SIDj,Dummy_Kj,Vi,Wi,Zi,Ni,Dummy_B,Dummy_T4,F,Set_48,Set_50,Set_52,SID,Ri1,T1,A,RNi,Kj,B,T4) :=
 state_user(Ui,GWN,Sj,H,SKuigwn,2,IDi,PWi,BIOi,Ri,Dummy_Ri1,MIi,Fi,Ei,XGWN,P,MPi,Dummy_T1,Dummy_A,Dummy_RNi,Ki,Xi,Yi,SIDj,Dummy_Kj,Vi,Wi,Zi,Ni,Dummy_B,Dummy_T4,F,Set_48,Set_50,Set_52,SID).
 iknows(pair(xor(apply(H,pair(apply(F,pair(A,P)),pair(T4,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1))))),Kj),pair(apply(H,pair(apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1))))),pair(apply(H,pair(Ri1,IDi)),SIDj)))))),pair(apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)),apply(F,pair(B,apply(F,pair(A,P))))))),T4)))
 =>
 state_user(Ui,GWN,Sj,H,SKuigwn,3,IDi,PWi,BIOi,Ri,Ri1,MIi,Fi,Ei,XGWN,P,MPi,T1,A,RNi,Ki,Xi,Yi,SIDj,Kj,Vi,Wi,Zi,Ni,B,T4,F,Set_48,Set_50,Set_52,SID).
 request(Sj,Ui,sensor_user_t4,T4,SID)

step step_3 (GWN,Ui,Sj,H,SKuigwn,IDi,PWi,BIOi,Dummy_Ri,Dummy_Ri1,Dummy_MIi,Dummy_Fi,Dummy_Ei,XGWN,A,P,SIDj,T1,RNi,T2,T3,Fj,E1,Fij,Hj,F,Dummy_Set_88,Dummy_Set_89,Dummy_Set_90,SID,Ri,Ri1) :=
 state_gwn(GWN,Ui,Sj,H,SKuigwn,0,IDi,PWi,BIOi,Dummy_Ri,Dummy_Ri1,Dummy_MIi,Dummy_Fi,Dummy_Ei,XGWN,A,P,SIDj,T1,RNi,T2,T3,Fj,E1,Fij,Hj,F,Dummy_Set_88,Dummy_Set_89,Dummy_Set_90,SID).
 iknows(scrypt(SKuigwn,pair(IDi,apply(H,pair(Ri,PWi)))))
=[exists Ri1]=>
 state_gwn(GWN,Ui,Sj,H,SKuigwn,3,IDi,PWi,BIOi,Ri,Ri1,apply(H,pair(Ri1,IDi)),apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),xor(apply(H,pair(Ri,PWi)),apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN))),XGWN,A,P,SIDj,T1,RNi,T2,T3,Fj,E1,Fij,Hj,F,Dummy_Set_88,Dummy_Set_89,Dummy_Set_90,SID).
 secret(IDi,s1,Dummy_Set_88).
 secret(Dummy_Set_89,s2,Ui).
 secret(Dummy_Set_90,s3,GWN).
 iknows(scrypt(SKuigwn,pair(apply(H,pair(Ri1,IDi)),pair(xor(apply(H,pair(Ri,PWi)),apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN))),H)))).
 contains(Ui,Dummy_Set_88).
 contains(GWN,Dummy_Set_88).
 contains(PWi,Dummy_Set_89).
 contains(BIOi,Dummy_Set_89).
 contains(Ri,Dummy_Set_89).
 contains(XGWN,Dummy_Set_90).
 contains(Ri1,Dummy_Set_90)

step step_4 (GWN,Ui,Sj,H,SKuigwn,IDi,PWi,BIOi,Ri,Dummy_Ri1,MIi,Fi,Ei,XGWN,Dummy_A,P,SIDj,Dummy_T1,Dummy_RNi,Dummy_T2,Dummy_T3,Dummy_Fj,Dummy_E1,Dummy_Fij,Dummy_Hj,F,Set_88,Set_89,Set_90,SID,Ri1,A,T1,RNi,T2,T3) :=
 state_gwn(GWN,Ui,Sj,H,SKuigwn,3,IDi,PWi,BIOi,Ri,Dummy_Ri1,MIi,Fi,Ei,XGWN,Dummy_A,P,SIDj,Dummy_T1,Dummy_RNi,Dummy_T2,Dummy_T3,Dummy_Fj,Dummy_E1,Dummy_Fij,Dummy_Hj,F,Set_88,Set_89,Set_90,SID).
 iknows(pair(apply(H,pair(Ri1,IDi)),pair(xor(pair(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1)))))),pair(apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(pair(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1)))))),pair(apply(H,pair(Ri1,IDi)),SIDj)))),pair(SIDj,pair(apply(H,pair(apply(H,pair(SIDj,XGWN)),pair(apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(pair(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1)))))),pair(apply(H,pair(Ri1,IDi)),SIDj)))),pair(T1,T2)))),pair(T1,T2)))))))
=[exists T3]=>
 state_gwn(GWN,Ui,Sj,H,SKuigwn,6,IDi,PWi,BIOi,Ri,Ri1,MIi,Fi,Ei,XGWN,A,P,SIDj,T1,RNi,T2,T3,apply(H,pair(SIDj,XGWN)),apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1))))),pair(apply(H,pair(Ri1,IDi)),SIDj)))))),xor(xor(apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)),apply(H,pair(apply(H,pair(SIDj,XGWN)),apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1))))),pair(apply(H,pair(Ri1,IDi)),SIDj))))))))),apply(H,pair(apply(H,pair(SIDj,XGWN)),T3))),apply(H,pair(SIDj,pair(apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)),T3))),F,Set_88,Set_89,Set_90,SID).
 iknows(pair(xor(xor(apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)),apply(H,pair(apply(H,pair(SIDj,XGWN)),apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1))))),pair(apply(H,pair(Ri1,IDi)),SIDj))))))))),apply(H,pair(apply(H,pair(SIDj,XGWN)),T3))),pair(apply(H,pair(SIDj,pair(apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)),T3))),pair(apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1))))),pair(apply(H,pair(Ri1,IDi)),SIDj)))))),T3)))).
 witness(GWN,Sj,gwn_sensor_t3,T3).
 request(Sj,GWN,sensor_gwn_t2,Dummy_T2,SID)

step step_5 (Sj,Ui,GWN,H,XGWN,Dummy_Ri1,IDi,Dummy_A,P,Dummy_RNi,SIDj,Dummy_T1,Dummy_T2,Rij,Dummy_Aj,E1,Fj,T3,T4,B,Kj,E2,F,Dummy_Set_119,SID,Ri1,A,RNi,T1,T2) :=
 state_sensor(Sj,Ui,GWN,H,0,XGWN,Dummy_Ri1,IDi,Dummy_A,P,Dummy_RNi,SIDj,Dummy_T1,Dummy_T2,Rij,Dummy_Aj,E1,Fj,T3,T4,B,Kj,E2,F,Dummy_Set_119,SID).
 iknows(pair(apply(H,pair(Ri1,IDi)),pair(xor(pair(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1)))))),pair(xor(pair(RNi,apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))))),pair(apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(pair(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1)))))),pair(apply(H,pair(Ri1,IDi)),SIDj)))),T1)))))
=[exists T2]=>
 state_sensor(Sj,Ui,GWN,H,2,XGWN,Ri1,IDi,A,P,RNi,SIDj,T1,T2,Rij,apply(H,pair(apply(H,pair(SIDj,XGWN)),pair(apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(pair(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1)))))),pair(apply(H,pair(Ri1,IDi)),SIDj)))),pair(T1,T2)))),E1,Fj,T3,T4,B,Kj,E2,F,Dummy_Set_119,SID).
 secret(Dummy_Set_119,s3,GWN).
 iknows(pair(apply(H,pair(Ri1,IDi)),pair(xor(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1))))),pair(apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1))))),pair(apply(H,pair(Ri1,IDi)),SIDj)))),pair(SIDj,pair(apply(H,pair(apply(H,pair(SIDj,XGWN)),pair(apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(pair(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1)))))),pair(apply(H,pair(Ri1,IDi)),SIDj)))),pair(T1,T2)))),pair(T1,T2))))))).
 witness(Sj,GWN,sensor_gwn_t2,T2).
 contains(XGWN,Dummy_Set_119).
 contains(Ri1,Dummy_Set_119)

step step_6 (Sj,Ui,GWN,H,XGWN,Dummy_Ri1,IDi,Dummy_A,P,Dummy_RNi,SIDj,Dummy_T1,T2,Dummy_Rij,Aj,Dummy_E1,Dummy_Fj,Dummy_T3,Dummy_T4,Dummy_B,Dummy_Kj,Dummy_E2,F,Set_119,SID,Ri1,A,RNi,T1,E1,Fj,T3,T4,B) :=
 state_sensor(Sj,Ui,GWN,H,2,XGWN,Dummy_Ri1,IDi,Dummy_A,P,Dummy_RNi,SIDj,Dummy_T1,T2,Dummy_Rij,Aj,Dummy_E1,Dummy_Fj,Dummy_T3,Dummy_T4,Dummy_B,Dummy_Kj,Dummy_E2,F,Set_119,SID).
 iknows(pair(xor(xor(apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)),apply(H,pair(Fj,E1))),pair(apply(H,pair(Fj,T3)),apply(H,pair(SIDj,pair(apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)),T3))))),pair(apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(pair(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1)))))),pair(apply(H,pair(Ri1,IDi)),SIDj)))))),T3)))
=[exists B,T4]=>
 state_sensor(Sj,Ui,GWN,H,4,XGWN,Ri1,IDi,A,P,RNi,SIDj,T1,T2,xor(apply(H,pair(apply(F,pair(A,P)),pair(T4,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1))))),apply(F,pair(B,P))),Aj,E1,Fj,T3,T4,B,apply(F,pair(B,P)),apply(H,pair(apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(pair(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1)))))),pair(apply(H,pair(Ri1,IDi)),SIDj)))))),pair(apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)),apply(F,pair(B,apply(F,pair(A,P))))))),F,Set_119,SID).
 iknows(pair(xor(apply(H,pair(apply(F,pair(A,P)),pair(T4,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1))))),apply(F,pair(B,P))),pair(apply(H,pair(apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),apply(H,pair(apply(H,pair(SIDj,apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)))),pair(xor(pair(apply(F,pair(A,P)),apply(H,pair(RNi,pair(apply(H,pair(Ri1,IDi)),pair(SIDj,T1)))))),pair(apply(H,pair(Ri1,IDi)),SIDj)))))),pair(apply(H,pair(apply(H,pair(apply(H,pair(Ri1,IDi)),XGWN)),T1)),apply(F,pair(B,apply(F,pair(A,P))))))),T4))).
 witness(Sj,Ui,sensor_user_t4,T4).
 request(Ui,Sj,user_sensor_t1,T1,SID).
 request(Ui,Sj,user_sensor_rni,RNi,SID).
 request(Ui,Sj,gwn_sensor_t3,T3,SID)


section properties:

property secrecy_of_s1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_s2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_s3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_sensor_t1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_sensor_t1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_sensor_t1,MGoal))
     /\ ((request(A1Goal,A2Goal,user_sensor_t1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_sensor_t1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_sensor_rni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_sensor_rni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_sensor_rni,MGoal))
     /\ ((request(A1Goal,A2Goal,user_sensor_rni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_sensor_rni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensor_gwn_t2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensor_gwn_t2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensor_gwn_t2,MGoal))
     /\ ((request(A1Goal,A2Goal,sensor_gwn_t2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensor_gwn_t2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gwn_sensor_t3 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gwn_sensor_t3,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gwn_sensor_t3,MGoal))
     /\ ((request(A1Goal,A2Goal,gwn_sensor_t3,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gwn_sensor_t3,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensor_user_t4 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensor_user_t4,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensor_user_t4,MGoal))
     /\ ((request(A1Goal,A2Goal,sensor_user_t4,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensor_user_t4,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_s1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_s2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_s3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s3,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_sensor_t1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_sensor_t1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_sensor_t1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_sensor_t1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_sensor_t1,MGoal,SID1).
 request(A1Goal,A2Goal,user_sensor_t1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_sensor_rni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_sensor_rni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_sensor_rni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_sensor_rni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_sensor_rni,MGoal,SID1).
 request(A1Goal,A2Goal,user_sensor_rni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensor_gwn_t2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensor_gwn_t2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensor_gwn_t2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensor_gwn_t2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensor_gwn_t2,MGoal,SID1).
 request(A1Goal,A2Goal,sensor_gwn_t2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gwn_sensor_t3 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gwn_sensor_t3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gwn_sensor_t3,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gwn_sensor_t3 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gwn_sensor_t3,MGoal,SID1).
 request(A1Goal,A2Goal,gwn_sensor_t3,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensor_user_t4 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensor_user_t4,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensor_user_t4,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensor_user_t4 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensor_user_t4,MGoal,SID1).
 request(A1Goal,A2Goal,sensor_user_t4,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

