%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilenqpTgP

section signature:

state_role_U: agent * agent * agent * text * text * text * text * text * text * text * text * hash_func * hash_func * hash_func * hash_func * hash_func * nat * text * text * nat -> fact
state_role_M: agent * agent * agent * text * hash_func * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * nat -> fact
state_role_H: agent * agent * agent * text * text * text * text * text * text * text * hash_func * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * nat -> fact


section types:

ASGoal: set(agent)
start, MGoal: message
State, 3, 5, SID, 4, Dummy_State, 2, 1, 0, SID2, SID1: nat
sec_2, auth_1: protocol_id
IMSI, SQN, RAND, SNID, K, AMF, Vf1, Vf2, Vf3, Vf4, Vf5, Dummy_K, Dummy_AMF, Dummy_IMSI, Dummy_SQN, Dummy_SNID, Dummy_RAND, Dummy_Vf5, Dummy_Vf4, Dummy_Vf3, Dummy_Vf2, Dummy_Vf1, dummy_nonce, const_1, rand, snid, imsi, k, amf: text
F1, F2, F3, F4, F5, f5, f3, f1, f2, f4, hash_0: hash_func
H, M, U, A2Goal, A1Goal, ue, hss, mme, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ue).
 iknows(i).
 state_role_H(hss,mme,ue,k,amf,const_1,const_1,const_1,const_1,const_1,f1,f2,f3,f4,f5,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,3).
 state_role_M(mme,hss,ue,snid,f1,f2,f3,f4,f5,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,4).
 state_role_U(ue,hss,mme,imsi,k,amf,const_1,const_1,const_1,const_1,const_1,f1,f2,f3,f4,f5,0,dummy_nonce,dummy_nonce,5)


section rules:

step step_0 (H,M,U,K,AMF,Dummy_Vf1,Dummy_Vf2,Dummy_Vf3,Dummy_Vf4,Dummy_Vf5,F1,F2,F3,F4,F5,Dummy_RAND,Dummy_SNID,Dummy_SQN,Dummy_IMSI,SID,RAND,SNID,SQN,IMSI) :=
 state_role_H(H,M,U,K,AMF,Dummy_Vf1,Dummy_Vf2,Dummy_Vf3,Dummy_Vf4,Dummy_Vf5,F1,F2,F3,F4,F5,0,Dummy_RAND,Dummy_SNID,Dummy_SQN,Dummy_IMSI,SID).
 iknows(pair(IMSI,SNID))
=[exists RAND,SQN]=>
