%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilepntCQm

section signature:

state_kerberos_V: agent * agent * agent * symmetric_key * nat * text * text * text * text * symmetric_key * set(agent) * nat -> fact
state_kerberos_TGS: agent * agent * agent * agent * symmetric_key * symmetric_key * nat * symmetric_key * symmetric_key * text * text * text * text * text * text * text * set(agent) * set(agent) * nat -> fact
state_kerberos_AS: agent * agent * agent * symmetric_key * symmetric_key * nat * symmetric_key * text * text * text * text * set(agent) * nat -> fact
state_kerberos_C: agent * agent * agent * agent * symmetric_key * nat * symmetric_key * symmetric_key * text * text * text * text * text * scrypt(symmetric_key,pair(agent,pair(text,pair(agent,pair(symmetric_key,pair(text,text)))))) * scrypt(symmetric_key,pair(agent,pair(text,pair(agent,pair(symmetric_key,pair(text,text)))))) * text * text * text * set(agent) * set(agent) * nat -> fact


section types:

Ticket_1, Ticket_2, Dummy_Ticket_2, Dummy_Ticket_1: scrypt(symmetric_key,pair(agent,pair(text,pair(agent,pair(symmetric_key,pair(text,text))))))
set_173, set_171, set_170, set_168, set_167, set_166, set_162, set_156, set_155, set_150, set_130, set_129: set
Set_97, Set_95, Set_69, Dummy_Set_69, Dummy_Set_52, Dummy_Set_51, Dummy_Set_24, Set_52, Set_51, Dummy_Set_97, Dummy_Set_95, Set_24, ASGoal: set(agent)
start, MGoal: message
sec_c_K_C_TGS, sec_c_K_C_V, sec_v_K_C_V, t2a, t2b, sec_tgs_K_C_TGS, sec_tgs_K_C_V, t1, k_c_v_1, k_c_v_2, sec_as_K_C_TGS, k_c_tgs_1, k_c_tgs_2: protocol_id
NID, NID2, Lifetime_2, Timestamp_1, Timestamp_2, Timestamp_3, Timestamp_4, Timestamp_5, Lifetime_4, Dummy_Lifetime_4, Dummy_Timestamp_1, Dummy_Timestamp_5, Dummy_Timestamp_4, Dummy_Lifetime_2, Dummy_NID2, Dummy_Timestamp_3, Dummy_Timestamp_2, Dummy_NID, dummy_nonce: text
4, 3, 2, State, 11, 10, 9, 6, SID, 5, Dummy_State, 1, 0: nat
K_C_TGS, K_C_V, K_C_AS, K_TGS_V, Dummy_K_C_V, Dummy_K_C_TGS, K_AS_TGS, dummy_sk, k_c_as, k_as_tgs, k_tgs_v, k_i_as: symmetric_key
C, AS, TGS, V, dummy_agent, A2Goal, A1Goal, c, as, tgs, v, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(c).
 iknows(as).
 iknows(tgs).
 iknows(v).
 iknows(k_i_as).
 iknows(i).
 state_kerberos_C(c,as,tgs,v,k_c_as,0,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,scrypt(dummy_sk,pair(dummy_agent,pair(dummy_nonce,pair(dummy_agent,pair(dummy_sk,pair(dummy_nonce,dummy_nonce)))))),scrypt(dummy_sk,pair(dummy_agent,pair(dummy_nonce,pair(dummy_agent,pair(dummy_sk,pair(dummy_nonce,dummy_nonce)))))),dummy_nonce,dummy_nonce,dummy_nonce,set_129,set_130,3).
 state_kerberos_AS(as,c,tgs,k_c_as,k_as_tgs,0,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_150,4).
 state_kerberos_TGS(tgs,as,v,c,k_as_tgs,k_tgs_v,0,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_155,set_156,5).
 state_kerberos_V(v,tgs,c,k_tgs_v,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,set_162,6).
 state_kerberos_AS(as,i,tgs,k_i_as,k_as_tgs,0,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_168,9).
 state_kerberos_TGS(tgs,as,v,i,k_as_tgs,k_tgs_v,0,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_170,set_171,10).
 state_kerberos_V(v,tgs,i,k_tgs_v,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,set_173,11)


section rules:

step step_0 (C,AS,TGS,V,K_C_AS,K_C_TGS,K_C_V,Timestamp_1,Timestamp_2,Timestamp_3,Timestamp_4,Timestamp_5,Ticket_1,Ticket_2,Dummy_NID,NID2,Lifetime_2,Set_95,Set_97,SID,NID) :=
 state_kerberos_C(C,AS,TGS,V,K_C_AS,0,K_C_TGS,K_C_V,Timestamp_1,Timestamp_2,Timestamp_3,Timestamp_4,Timestamp_5,Ticket_1,Ticket_2,Dummy_NID,NID2,Lifetime_2,Set_95,Set_97,SID).
 iknows(start)
=[exists NID]=>
 state_kerberos_C(C,AS,TGS,V,K_C_AS,1,K_C_TGS,K_C_V,Timestamp_1,Timestamp_2,Timestamp_3,Timestamp_4,Timestamp_5,Ticket_1,Ticket_2,NID,NID2,Lifetime_2,Set_95,Set_97,SID).
 iknows(pair(C,pair(TGS,pair(Timestamp_1,NID))))

step step_1 (C,AS,TGS,V,K_C_AS,Dummy_K_C_TGS,K_C_V,Timestamp_1,Dummy_Timestamp_2,Dummy_Timestamp_3,Timestamp_4,Timestamp_5,Dummy_Ticket_1,Ticket_2,NID,Dummy_NID2,Dummy_Lifetime_2,Dummy_Set_95,Set_97,SID,K_C_TGS,Timestamp_2,Timestamp_3,Ticket_1,NID2,Lifetime_2) :=
 state_kerberos_C(C,AS,TGS,V,K_C_AS,1,Dummy_K_C_TGS,K_C_V,Timestamp_1,Dummy_Timestamp_2,Dummy_Timestamp_3,Timestamp_4,Timestamp_5,Dummy_Ticket_1,Ticket_2,NID,Dummy_NID2,Dummy_Lifetime_2,Dummy_Set_95,Set_97,SID).
 iknows(scrypt(K_C_AS,pair(K_C_TGS,pair(TGS,pair(Timestamp_2,pair(Lifetime_2,Ticket_1))))))
=[exists Timestamp_3,NID2]=>
 state_kerberos_C(C,AS,TGS,V,K_C_AS,2,K_C_TGS,K_C_V,Timestamp_1,Timestamp_2,Timestamp_3,Timestamp_4,Timestamp_5,Ticket_1,Ticket_2,NID,NID2,Lifetime_2,Dummy_Set_95,Set_97,SID).
 iknows(pair(V,pair(Ticket_1,scrypt(K_C_TGS,pair(C,pair(NID2,Timestamp_3)))))).
 witness(C,TGS,t1,Timestamp_3).
 wrequest(C,AS,k_c_tgs_1,K_C_TGS,SID).
 secret(K_C_TGS,sec_c_K_C_TGS,Dummy_Set_95).
 contains(AS,Dummy_Set_95).
 contains(C,Dummy_Set_95).
 contains(TGS,Dummy_Set_95)

step step_2 (C,AS,TGS,V,K_C_AS,K_C_TGS,Dummy_K_C_V,Timestamp_1,Timestamp_2,Timestamp_3,Dummy_Timestamp_4,Dummy_Timestamp_5,Ticket_1,Dummy_Ticket_2,NID,Dummy_NID2,Lifetime_2,Set_95,Dummy_Set_97,SID,K_C_V,Timestamp_4,Timestamp_5,Ticket_2,NID2) :=
 state_kerberos_C(C,AS,TGS,V,K_C_AS,2,K_C_TGS,Dummy_K_C_V,Timestamp_1,Timestamp_2,Timestamp_3,Dummy_Timestamp_4,Dummy_Timestamp_5,Ticket_1,Dummy_Ticket_2,NID,Dummy_NID2,Lifetime_2,Set_95,Dummy_Set_97,SID).
 iknows(scrypt(K_C_TGS,pair(K_C_V,pair(V,pair(Timestamp_4,Ticket_2)))))
=[exists NID2,Timestamp_5]=>
 state_kerberos_C(C,AS,TGS,V,K_C_AS,3,K_C_TGS,K_C_V,Timestamp_1,Timestamp_2,Timestamp_3,Timestamp_4,Timestamp_5,Ticket_1,Ticket_2,NID,NID2,Lifetime_2,Set_95,Dummy_Set_97,SID).
 iknows(pair(Ticket_2,scrypt(K_C_V,pair(C,pair(NID2,Timestamp_5))))).
 witness(C,V,t2b,Timestamp_5).
 wrequest(C,TGS,k_c_v_1,K_C_V,SID).
 secret(K_C_V,sec_c_K_C_V,Dummy_Set_97).
 contains(TGS,Dummy_Set_97).
 contains(C,Dummy_Set_97).
 contains(V,Dummy_Set_97)

step step_3 (C,AS,TGS,V,K_C_AS,K_C_TGS,K_C_V,Timestamp_1,Timestamp_2,Timestamp_3,Timestamp_4,Timestamp_5,Ticket_1,Ticket_2,NID,NID2,Lifetime_2,Set_95,Set_97,SID) :=
 state_kerberos_C(C,AS,TGS,V,K_C_AS,3,K_C_TGS,K_C_V,Timestamp_1,Timestamp_2,Timestamp_3,Timestamp_4,Timestamp_5,Ticket_1,Ticket_2,NID,NID2,Lifetime_2,Set_95,Set_97,SID).
 iknows(scrypt(K_C_V,Timestamp_5))
 =>
 state_kerberos_C(C,AS,TGS,V,K_C_AS,4,K_C_TGS,K_C_V,Timestamp_1,Timestamp_2,Timestamp_3,Timestamp_4,Timestamp_5,Ticket_1,Ticket_2,NID,NID2,Lifetime_2,Set_95,Set_97,SID).
 wrequest(C,V,t2a,Timestamp_5,SID)

step step_4 (AS,C,TGS,K_C_AS,K_AS_TGS,Dummy_K_C_TGS,Dummy_Timestamp_1,Dummy_Timestamp_2,Dummy_Lifetime_2,Dummy_NID,Dummy_Set_24,SID,K_C_TGS,Timestamp_1,Timestamp_2,Lifetime_2,NID) :=
 state_kerberos_AS(AS,C,TGS,K_C_AS,K_AS_TGS,0,Dummy_K_C_TGS,Dummy_Timestamp_1,Dummy_Timestamp_2,Dummy_Lifetime_2,Dummy_NID,Dummy_Set_24,SID).
 iknows(pair(C,pair(TGS,pair(Timestamp_1,NID))))
=[exists K_C_TGS,Lifetime_2,Timestamp_2]=>
 state_kerberos_AS(AS,C,TGS,K_C_AS,K_AS_TGS,1,K_C_TGS,Timestamp_1,Timestamp_2,Lifetime_2,NID,Dummy_Set_24,SID).
 iknows(scrypt(K_C_AS,pair(K_C_TGS,pair(TGS,pair(Timestamp_2,pair(Lifetime_2,scrypt(K_AS_TGS,pair(C,pair(NID,pair(TGS,pair(K_C_TGS,pair(Timestamp_2,Lifetime_2)))))))))))).
 witness(AS,C,k_c_tgs_1,K_C_TGS).
 witness(AS,TGS,k_c_tgs_2,K_C_TGS).
 secret(K_C_TGS,sec_as_K_C_TGS,Dummy_Set_24).
 contains(AS,Dummy_Set_24).
 contains(C,Dummy_Set_24).
 contains(TGS,Dummy_Set_24)

step step_5 (TGS,AS,V,C,K_AS_TGS,K_TGS_V,Dummy_K_C_TGS,Dummy_K_C_V,Dummy_Timestamp_2,Dummy_Timestamp_3,Dummy_Timestamp_4,Dummy_Lifetime_2,Dummy_Lifetime_4,Dummy_NID,Dummy_NID2,Dummy_Set_51,Dummy_Set_52,SID,K_C_TGS,K_C_V,Timestamp_2,Timestamp_3,Timestamp_4,Lifetime_2,Lifetime_4,NID,NID2) :=
 state_kerberos_TGS(TGS,AS,V,C,K_AS_TGS,K_TGS_V,0,Dummy_K_C_TGS,Dummy_K_C_V,Dummy_Timestamp_2,Dummy_Timestamp_3,Dummy_Timestamp_4,Dummy_Lifetime_2,Dummy_Lifetime_4,Dummy_NID,Dummy_NID2,Dummy_Set_51,Dummy_Set_52,SID).
 iknows(pair(V,pair(scrypt(K_AS_TGS,pair(C,pair(NID,pair(TGS,pair(K_C_TGS,pair(Timestamp_2,Lifetime_2)))))),scrypt(K_C_TGS,pair(C,pair(NID2,Timestamp_3))))))
=[exists Lifetime_4,Timestamp_4,K_C_V]=>
 state_kerberos_TGS(TGS,AS,V,C,K_AS_TGS,K_TGS_V,1,K_C_TGS,K_C_V,Timestamp_2,Timestamp_3,Timestamp_4,Lifetime_2,Lifetime_4,NID,NID2,Dummy_Set_51,Dummy_Set_52,SID).
 iknows(scrypt(K_C_TGS,pair(V,pair(K_C_V,pair(Timestamp_4,scrypt(K_TGS_V,pair(C,pair(NID,pair(V,pair(K_C_V,pair(Timestamp_4,Lifetime_4))))))))))).
 wrequest(TGS,C,t1,Timestamp_3,SID).
 wrequest(TGS,AS,k_c_tgs_2,K_C_TGS,SID).
 witness(TGS,C,k_c_v_1,K_C_V).
 witness(TGS,V,k_c_v_2,K_C_V).
 secret(K_C_TGS,sec_tgs_K_C_TGS,Dummy_Set_51).
 secret(K_C_V,sec_tgs_K_C_V,Dummy_Set_52).
 contains(AS,Dummy_Set_51).
 contains(C,Dummy_Set_51).
 contains(TGS,Dummy_Set_51).
 contains(TGS,Dummy_Set_52).
 contains(C,Dummy_Set_52).
 contains(V,Dummy_Set_52)

step step_6 (V,TGS,C,K_TGS_V,Dummy_Timestamp_4,Timestamp_3,Dummy_NID,Dummy_Lifetime_4,Dummy_K_C_V,Dummy_Set_69,SID,Timestamp_4,NID,Lifetime_4,K_C_V) :=
 state_kerberos_V(V,TGS,C,K_TGS_V,0,Dummy_Timestamp_4,Timestamp_3,Dummy_NID,Dummy_Lifetime_4,Dummy_K_C_V,Dummy_Set_69,SID).
 iknows(pair(scrypt(K_TGS_V,pair(K_C_V,pair(C,pair(NID,pair(V,pair(Timestamp_4,Lifetime_4)))))),scrypt(K_C_V,pair(C,pair(Dummy_NID,Timestamp_3)))))
 =>
 state_kerberos_V(V,TGS,C,K_TGS_V,1,Timestamp_4,Timestamp_3,NID,Lifetime_4,K_C_V,Dummy_Set_69,SID).
 iknows(scrypt(K_C_V,Timestamp_4)).
 witness(V,C,t2a,Timestamp_4).
 wrequest(V,TGS,k_c_v_2,K_C_V,SID).
 wrequest(V,C,t2b,Timestamp_4,SID).
 secret(K_C_V,sec_v_K_C_V,Dummy_Set_69).
 contains(TGS,Dummy_Set_69).
 contains(C,Dummy_Set_69).
 contains(V,Dummy_Set_69)


section properties:

property secrecy_of_sec_as_K_C_TGS (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_as_K_C_TGS,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_tgs_K_C_TGS (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_tgs_K_C_TGS,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_tgs_K_C_V (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_tgs_K_C_V,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_v_K_C_V (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_v_K_C_V,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_c_K_C_TGS (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_c_K_C_TGS,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_c_K_C_V (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_c_K_C_V,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property weak_authentication_on_k_c_tgs_1 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_c_tgs_1,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_c_tgs_1,MGoal))

property weak_authentication_on_k_c_tgs_2 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_c_tgs_2,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_c_tgs_2,MGoal))

property weak_authentication_on_k_c_v_1 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_c_v_1,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_c_v_1,MGoal))

property weak_authentication_on_k_c_v_2 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_c_v_2,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_c_v_2,MGoal))

property weak_authentication_on_t2a (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,t2a,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,t2a,MGoal))

property weak_authentication_on_t2b (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,t2b,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,t2b,MGoal))

property weak_authentication_on_t1 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,t1,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,t1,MGoal))


section attack_states:

attack_state secrecy_of_sec_as_K_C_TGS (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_as_K_C_TGS,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_tgs_K_C_TGS (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_tgs_K_C_TGS,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_tgs_K_C_V (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_tgs_K_C_V,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_v_K_C_V (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_v_K_C_V,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_c_K_C_TGS (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_c_K_C_TGS,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_c_K_C_V (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_c_K_C_V,ASGoal) &
 not(contains(i,ASGoal))

attack_state weak_authentication_on_k_c_tgs_1 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_c_tgs_1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_c_tgs_1,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_c_tgs_2 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_c_tgs_2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_c_tgs_2,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_c_v_1 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_c_v_1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_c_v_1,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_c_v_2 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_c_v_2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_c_v_2,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_t2a (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,t2a,MGoal,SID) &
 not(witness(A2Goal,A1Goal,t2a,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_t2b (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,t2b,MGoal,SID) &
 not(witness(A2Goal,A1Goal,t2b,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_t1 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,t1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,t1,MGoal)) &
 not(equal(A2Goal,i))

