%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilemIXVTK

section signature:

state_cloud: agent * agent * agent * agent * agent * hash_func * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * nat * text * text * text * text * text * text * text * text * text * text * message * nat -> fact
state_kdc: agent * agent * agent * agent * agent * hash_func * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * nat * text * text * text * text * text * text * text * text * text * nat -> fact
state_trustee: agent * agent * agent * agent * agent * hash_func * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * nat * text * text * text * text * text * text * text * nat -> fact
state_reader: agent * agent * agent * agent * agent * hash_func * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * message * nat -> fact
state_creator: agent * agent * agent * agent * agent * hash_func * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * public_key * nat * text * text * text * text * text * text * text * text * text * text * text * message * nat -> fact


section types:

reader_cloud_pid, creator_cloud_pid: protocol_id
set_243, set_237, set_230: set
k1, Kbase, Id, A, Ai, Yi, Aa, Bb, G, T, Y, Hj, Nb, Si, Dummy_Y, Dummy_T, dummy_nonce: text
State, 3, 19, 2, 18, 1, 17, 0, 16, 15, 13, 12, 11, 10, 9, 7, SID, 6, 5, 4, Dummy_State, SID2, SID1: nat
h, H: hash_func
ASGoal: set(agent)
K1, start, dummy_msg, MGoal: message
cr, tr, clod, rdr, Cr, Tr, Kdc, Clod, Rdr, kdc, A2Goal, A1Goal, i: agent
ktrrdr, kkdccr, kkdcrdr, tpk, Kcrcc, Kcrtr, Kcrkdc, Krdrcc, Krdrtr, Krdrkdc, Ktrcr, Ktrrdr, Kkdccr, Kkdcrdr, TPK, kcrcc, kcrtr, kcrkdc, krdrcc, krdrtr, krdrkdc, ktrcr: public_key


section inits:

initial_state init1 := 
 iknows(start).
 iknows(cr).
 iknows(tr).
 iknows(kdc).
 iknows(clod).
 iknows(rdr).
 iknows(kcrcc).
 iknows(kcrtr).
 iknows(kcrkdc).
 iknows(krdrcc).
 iknows(krdrtr).
 iknows(krdrkdc).
 iknows(ktrcr).
 iknows(ktrrdr).
 iknows(kkdccr).
 iknows(kkdcrdr).
 iknows(tpk).
 iknows(h).
 iknows(i).
 state_creator(cr,tr,kdc,clod,rdr,h,kcrcc,kcrtr,kcrkdc,krdrcc,krdrtr,krdrkdc,ktrcr,ktrrdr,kkdccr,kkdcrdr,tpk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,3).
 state_reader(rdr,cr,tr,kdc,clod,h,kcrcc,kcrtr,kcrkdc,krdrcc,krdrtr,krdrkdc,ktrcr,ktrrdr,kkdccr,kkdcrdr,tpk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,4).
 state_trustee(tr,cr,kdc,clod,rdr,h,kcrcc,kcrtr,kcrkdc,krdrcc,krdrtr,krdrkdc,ktrcr,ktrrdr,kkdccr,kkdcrdr,tpk,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,5).
 state_kdc(kdc,cr,tr,clod,rdr,h,kcrcc,kcrtr,kcrkdc,krdrcc,krdrtr,krdrkdc,ktrcr,ktrrdr,kkdccr,kkdcrdr,tpk,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,6).
 state_cloud(clod,cr,tr,kdc,rdr,h,kcrcc,kcrtr,kcrkdc,krdrcc,krdrtr,krdrkdc,ktrcr,ktrrdr,kkdccr,kkdcrdr,tpk,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,7).
 state_creator(cr,tr,kdc,clod,rdr,h,kcrcc,kcrtr,kcrkdc,krdrcc,krdrtr,krdrkdc,ktrcr,ktrrdr,kkdccr,kkdcrdr,tpk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,9).
 state_reader(rdr,cr,tr,kdc,clod,h,kcrcc,kcrtr,kcrkdc,krdrcc,krdrtr,krdrkdc,ktrcr,ktrrdr,kkdccr,kkdcrdr,tpk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,10).
 state_trustee(tr,cr,kdc,clod,rdr,h,kcrcc,kcrtr,kcrkdc,krdrcc,krdrtr,krdrkdc,ktrcr,ktrrdr,kkdccr,kkdcrdr,tpk,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,11).
 state_kdc(kdc,cr,tr,clod,rdr,h,kcrcc,kcrtr,kcrkdc,krdrcc,krdrtr,krdrkdc,ktrcr,ktrrdr,kkdccr,kkdcrdr,tpk,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,12).
 state_cloud(clod,cr,tr,kdc,rdr,h,kcrcc,kcrtr,kcrkdc,krdrcc,krdrtr,krdrkdc,ktrcr,ktrrdr,kkdccr,kkdcrdr,tpk,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,13).
 state_creator(cr,tr,kdc,clod,rdr,h,kcrcc,kcrtr,kcrkdc,krdrcc,krdrtr,krdrkdc,ktrcr,ktrrdr,kkdccr,kkdcrdr,tpk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,15).
 state_reader(rdr,cr,tr,kdc,clod,h,kcrcc,kcrtr,kcrkdc,krdrcc,krdrtr,krdrkdc,ktrcr,ktrrdr,kkdccr,kkdcrdr,tpk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,16).
 state_trustee(tr,cr,kdc,clod,rdr,h,kcrcc,kcrtr,kcrkdc,krdrcc,krdrtr,krdrkdc,ktrcr,ktrrdr,kkdccr,kkdcrdr,tpk,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,17).
 state_kdc(kdc,cr,tr,clod,rdr,h,kcrcc,kcrtr,kcrkdc,krdrcc,krdrtr,krdrkdc,ktrcr,ktrrdr,kkdccr,kkdcrdr,tpk,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,18).
 state_cloud(clod,cr,tr,kdc,rdr,h,kcrcc,kcrtr,kcrkdc,krdrcc,krdrtr,krdrkdc,ktrcr,ktrrdr,kkdccr,kkdcrdr,tpk,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,19)


section rules:

step step_0 (Cr,Tr,Kdc,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,Kbase,Id,A,Ai,Yi,Aa,Bb,G,Hj,T,Y,K1,SID) :=
 state_creator(Cr,Tr,Kdc,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,0,Kbase,Id,A,Ai,Yi,Aa,Bb,G,Hj,T,Y,K1,SID).
 iknows(start)
 =>
 state_creator(Cr,Tr,Kdc,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,1,Kbase,Id,A,Ai,Yi,Aa,Bb,G,Hj,T,Y,K1,SID).
 iknows(crypt(Kcrtr,Id))

step step_1 (Cr,Tr,Kdc,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,Kbase,Id,A,Ai,Yi,Aa,Bb,G,Hj,T,Y,K1,SID) :=
 state_creator(Cr,Tr,Kdc,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,1,Kbase,Id,A,Ai,Yi,Aa,Bb,G,Hj,T,Y,K1,SID).
 iknows(crypt(inv(Ktrcr),apply(H,pair(Id,pair(Kbase,pair(apply(H,pair(Kbase,inv(A))),apply(H,pair(Id,Kbase))))))))
 =>
 state_creator(Cr,Tr,Kdc,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,2,Kbase,Id,A,Ai,Yi,Aa,Bb,G,Hj,T,Y,K1,SID).
 iknows(crypt(Kcrkdc,pair(Id,pair(Kbase,pair(apply(H,pair(Kbase,inv(A))),apply(H,pair(Id,Kbase)))))))

step step_2 (Cr,Tr,Kdc,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,Kbase,Id,A,Ai,Yi,Aa,Bb,G,Hj,Dummy_T,Dummy_Y,K1,SID,T,Y) :=
 state_creator(Cr,Tr,Kdc,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,2,Kbase,Id,A,Ai,Yi,Aa,Bb,G,Hj,Dummy_T,Dummy_Y,K1,SID).
 iknows(crypt(inv(Kkdccr),pair(apply(H,pair(Ai,Yi)),pair(apply(H,pair(apply(H,pair(apply(H,pair(G,G)),Ai)),Yi)),pair(apply(H,pair(Aa,Bb)),apply(H,pair(apply(H,pair(Hj,Aa)),apply(H,pair(Hj,Bb)))))))))
=[exists Y,T]=>
 state_creator(Cr,Tr,Kdc,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,3,Kbase,Id,A,Ai,Yi,Aa,Bb,G,Hj,T,Y,K1,SID).
 iknows(crypt(Kcrcc,pair(scrypt(apply(H,pair(apply(H,pair(apply(H,pair(G,G)),Ai)),Yi)),K1),pair(T,pair(apply(H,pair(TPK,pair(apply(H,pair(Aa,Bb)),pair(apply(H,pair(Id,pair(Kbase,pair(apply(H,pair(Kbase,inv(A))),apply(H,pair(Id,Kbase)))))),pair(K1,Y))))),Y)))))

step step_3 (Rdr,Cr,Tr,Kdc,Clod,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,Nb,Kbase,T,Si,Y,Id,A,Ai,Yi,Aa,Bb,G,Hj,K1,SID) :=
 state_reader(Rdr,Cr,Tr,Kdc,Clod,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,0,Nb,Kbase,T,Si,Y,Id,A,Ai,Yi,Aa,Bb,G,Hj,K1,SID).
 iknows(start)
 =>
 state_reader(Rdr,Cr,Tr,Kdc,Clod,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,1,Nb,Kbase,T,Si,Y,Id,A,Ai,Yi,Aa,Bb,G,Hj,K1,SID).
 iknows(Id)

step step_4 (Rdr,Cr,Tr,Kdc,Clod,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,Nb,Kbase,T,Si,Y,Id,A,Ai,Yi,Aa,Bb,G,Hj,K1,SID) :=
 state_reader(Rdr,Cr,Tr,Kdc,Clod,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,1,Nb,Kbase,T,Si,Y,Id,A,Ai,Yi,Aa,Bb,G,Hj,K1,SID).
 iknows(crypt(inv(Ktrcr),apply(H,pair(Id,pair(Kbase,pair(apply(H,pair(Kbase,inv(A))),apply(H,pair(Id,Kbase))))))))
 =>
 state_reader(Rdr,Cr,Tr,Kdc,Clod,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,2,Nb,Kbase,T,Si,Y,Id,A,Ai,Yi,Aa,Bb,G,Hj,K1,SID).
 iknows(apply(H,pair(Id,pair(Kbase,pair(apply(H,pair(Kbase,inv(A))),apply(H,pair(Id,Kbase)))))))

step step_5 (Rdr,Cr,Tr,Kdc,Clod,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,Nb,Kbase,T,Si,Y,Id,A,Ai,Yi,Aa,Bb,G,Hj,K1,SID) :=
 state_reader(Rdr,Cr,Tr,Kdc,Clod,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,2,Nb,Kbase,T,Si,Y,Id,A,Ai,Yi,Aa,Bb,G,Hj,K1,SID).
 iknows(pair(apply(H,pair(Ai,Yi)),pair(apply(H,pair(apply(H,pair(apply(H,pair(G,G)),Ai)),Yi)),pair(apply(H,pair(Aa,Bb)),apply(H,pair(apply(H,pair(Hj,Aa)),apply(H,pair(Hj,Bb))))))))
 =>
 state_reader(Rdr,Cr,Tr,Kdc,Clod,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,3,Nb,Kbase,T,Si,Y,Id,A,Ai,Yi,Aa,Bb,G,Hj,K1,SID).
 iknows(crypt(Krdrcc,pair(apply(H,pair(Id,pair(Kbase,pair(apply(H,pair(Kbase,inv(A))),apply(H,pair(Id,Kbase)))))),pair(apply(H,pair(Ai,Yi)),apply(H,pair(Aa,Bb)))))).
 iknows(scrypt(apply(H,pair(apply(H,pair(apply(H,pair(G,G)),Ai)),Yi)),K1))

step step_6 (Tr,Cr,Kdc,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,Nb,Kbase,T,Si,Y,Id,A,SID) :=
 state_trustee(Tr,Cr,Kdc,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,1,Nb,Kbase,T,Si,Y,Id,A,SID).
 iknows(crypt(inv(Kcrtr),Id))
 =>
 state_trustee(Tr,Cr,Kdc,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,2,Nb,Kbase,T,Si,Y,Id,A,SID).
 iknows(crypt(Ktrcr,apply(H,pair(Id,pair(Kbase,pair(apply(H,pair(Kbase,inv(A))),apply(H,pair(Id,Kbase))))))))

step step_7 (Tr,Cr,Kdc,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,Nb,Kbase,T,Si,Y,Id,A,SID) :=
 state_trustee(Tr,Cr,Kdc,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,2,Nb,Kbase,T,Si,Y,Id,A,SID).
 iknows(crypt(inv(Krdrtr),Id))
 =>
 state_trustee(Tr,Cr,Kdc,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,3,Nb,Kbase,T,Si,Y,Id,A,SID).
 iknows(crypt(Ktrrdr,apply(H,pair(Id,pair(Kbase,pair(apply(H,pair(Kbase,inv(A))),apply(H,pair(Id,Kbase))))))))

step step_8 (Kdc,Cr,Tr,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,Aa,Bb,G,Hj,Ai,Yi,Id,Kbase,A,SID) :=
 state_kdc(Kdc,Cr,Tr,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,1,Aa,Bb,G,Hj,Ai,Yi,Id,Kbase,A,SID).
 iknows(crypt(inv(Kcrkdc),pair(Id,pair(Kbase,pair(apply(H,pair(Kbase,inv(A))),apply(H,pair(Id,Kbase)))))))
 =>
 state_kdc(Kdc,Cr,Tr,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,2,Aa,Bb,G,Hj,Ai,Yi,Id,Kbase,A,SID).
 iknows(crypt(Kkdccr,pair(apply(H,pair(Ai,Yi)),pair(apply(H,pair(apply(H,pair(apply(H,pair(G,G)),Ai)),Yi)),pair(apply(H,pair(Aa,Bb)),apply(H,pair(apply(H,pair(Hj,Aa)),apply(H,pair(Hj,Bb)))))))))

step step_9 (Kdc,Cr,Tr,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,Aa,Bb,G,Hj,Ai,Yi,Id,Kbase,A,SID) :=
 state_kdc(Kdc,Cr,Tr,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,2,Aa,Bb,G,Hj,Ai,Yi,Id,Kbase,A,SID).
 iknows(crypt(inv(Krdrkdc),pair(Id,pair(Kbase,pair(apply(H,pair(Kbase,inv(A))),apply(H,pair(Id,Kbase)))))))
 =>
 state_kdc(Kdc,Cr,Tr,Clod,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,3,Aa,Bb,G,Hj,Ai,Yi,Id,Kbase,A,SID).
 iknows(crypt(Kkdcrdr,pair(apply(H,pair(Ai,Yi)),pair(apply(H,pair(apply(H,pair(apply(H,pair(G,G)),Ai)),Yi)),pair(apply(H,pair(Aa,Bb)),apply(H,pair(apply(H,pair(Hj,Aa)),apply(H,pair(Hj,Bb)))))))))

step step_10 (Clod,Cr,Tr,Kdc,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,Kbase,Id,A,Ai,Yi,Aa,Bb,G,Dummy_T,Dummy_Y,K1,SID,T,Y) :=
 state_cloud(Clod,Cr,Tr,Kdc,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,1,Kbase,Id,A,Ai,Yi,Aa,Bb,G,Dummy_T,Dummy_Y,K1,SID).
 iknows(crypt(inv(Kcrcc),pair(scrypt(apply(H,pair(apply(H,pair(apply(H,pair(G,G)),Ai)),Yi)),K1),pair(T,pair(apply(H,pair(TPK,pair(apply(H,pair(Aa,Bb)),pair(apply(H,pair(Id,pair(Kbase,pair(apply(H,pair(Kbase,inv(A))),apply(H,pair(Id,Kbase)))))),pair(K1,Y))))),Y)))))
 =>
 state_cloud(Clod,Cr,Tr,Kdc,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,2,Kbase,Id,A,Ai,Yi,Aa,Bb,G,T,Y,K1,SID).
 witness(Cr,Clod,creator_cloud_pid,Set_168).
 contains(apply(H,pair(TPK,pair(apply(H,pair(Aa,Bb)),pair(apply(H,pair(Id,pair(Kbase,pair(apply(H,pair(Kbase,inv(A))),apply(H,pair(Id,Kbase)))))),pair(K1,Y))))),Set_168)

step step_11 (Clod,Cr,Tr,Kdc,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,Kbase,Id,A,Ai,Yi,Aa,Bb,G,T,Y,K1,SID) :=
 state_cloud(Clod,Cr,Tr,Kdc,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,2,Kbase,Id,A,Ai,Yi,Aa,Bb,G,T,Y,K1,SID).
 iknows(crypt(inv(Krdrcc),pair(apply(H,pair(Id,pair(Kbase,pair(apply(H,pair(Kbase,inv(A))),apply(H,pair(Id,Kbase)))))),pair(apply(H,pair(Ai,Yi)),apply(H,pair(Aa,Bb))))))
 =>
 state_cloud(Clod,Cr,Tr,Kdc,Rdr,H,Kcrcc,Kcrtr,Kcrkdc,Krdrcc,Krdrtr,Krdrkdc,Ktrcr,Ktrrdr,Kkdccr,Kkdcrdr,TPK,3,Kbase,Id,A,Ai,Yi,Aa,Bb,G,T,Y,K1,SID).
 iknows(scrypt(apply(H,pair(apply(H,pair(apply(H,pair(G,G)),Ai)),Yi)),K1)).
 wirtness(Rdr,Clod,reader_cloud_pid,pair(apply(H,pair(Id,pair(Kbase,pair(apply(H,pair(Kbase,inv(A))),apply(H,pair(Id,Kbase)))))),pair(apply(H,pair(Ai,Yi)),apply(H,pair(Aa,Bb)))))


section properties:

property secrecy_of_k1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,k1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_creator_cloud_pid (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,creator_cloud_pid,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,creator_cloud_pid,MGoal))
     /\ ((request(A1Goal,A2Goal,creator_cloud_pid,MGoal,SID1)
           /\ request(A1Goal,A2Goal,creator_cloud_pid,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_reader_cloud_pid (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,reader_cloud_pid,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,reader_cloud_pid,MGoal))
     /\ ((request(A1Goal,A2Goal,reader_cloud_pid,MGoal,SID1)
           /\ request(A1Goal,A2Goal,reader_cloud_pid,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_k1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k1,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_creator_cloud_pid (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,creator_cloud_pid,MGoal,SID) &
 not(witness(A2Goal,A1Goal,creator_cloud_pid,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_creator_cloud_pid (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,creator_cloud_pid,MGoal,SID1).
 request(A1Goal,A2Goal,creator_cloud_pid,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_reader_cloud_pid (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,reader_cloud_pid,MGoal,SID) &
 not(witness(A2Goal,A1Goal,reader_cloud_pid,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_reader_cloud_pid (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,reader_cloud_pid,MGoal,SID1).
 request(A1Goal,A2Goal,reader_cloud_pid,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

