%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileAcUBM8

section signature:

state_paymentGateway: agent * agent * agent * agent * public_key * public_key * public_key * public_key * hash_func * symmetric_key * nat * nat * nat * nat * nat * nat * nat * nat * text * text * text * text * text * symmetric_key * symmetric_key * symmetric_key * symmetric_key * symmetric_key * symmetric_key * nat -> fact
state_merchant: agent * agent * agent * agent * public_key * public_key * public_key * public_key * hash_func * symmetric_key * nat * nat * nat * nat * nat * nat * nat * text * text * text * text * text * text * text * symmetric_key * symmetric_key * symmetric_key * symmetric_key * symmetric_key * symmetric_key * set(agent) * nat -> fact
state_bank: agent * agent * agent * agent * public_key * public_key * public_key * public_key * hash_func * symmetric_key * symmetric_key * nat * nat * nat * nat * nat * nat * nat * text * text * text * text * text * symmetric_key * symmetric_key * text * symmetric_key * symmetric_key * symmetric_key * nat -> fact
state_client: agent * agent * agent * agent * public_key * public_key * public_key * public_key * hash_func * symmetric_key * nat * nat * nat * nat * nat * nat * nat * nat * text * text * text * text * text * text * symmetric_key * symmetric_key * symmetric_key * symmetric_key * symmetric_key * set(agent) * nat -> fact


section types:

MGoal, start: message
alice_bob_num, purchase_order, authent_request, sessioncb, sessioncp, sessioncm: protocol_id
H, h: hash_func
set_194, set_216: set
sign_c, sign_m, sign_p, sign_b, sign_i, SignK_C, SignK_M, SignK_P, SignK_B: public_key
ASGoal, Set_119, Set_44, Dummy_Set_119, Dummy_Set_44: set(agent)
dummy_sk, masterkeycb, masterkeymb, SessionKeyCM, SessionKeyCB, SessionKeyCP, SessionKeyMP, PIN, OTP, MasterKeyCB, MasterKeyMB, Dummy_SessionKeyMP, Dummy_OTP, Dummy_PIN, Dummy_SessionKeyCP, Dummy_SessionKeyCB, Dummy_SessionKeyCM: symmetric_key
A2Goal, A1Goal, c, m, p, b, C, M, P, B, i: agent
dummy_nonce, DigMoney, Password, UserID, ItemInfo, Price, N1, Conform_Msg, Dummy_DigMoney, Dummy_N1: text
Dummy_ServID, Dummy_TransID, Dummy_S, 3, SID, dummy_nat, SID2, SID1, TOKENID, TICKETID2, TICKETID, Nonce, ItemID, ServID, TransID, S, 11, 9, 7, 6, 5, 4, 2, 1, 0, Dummy_TICKETID, Dummy_TOKENID, Dummy_ItemID: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(c).
 iknows(m).
 iknows(p).
 iknows(b).
 iknows(sign_c).
 iknows(sign_m).
 iknows(sign_p).
 iknows(sign_b).
 iknows(sign_i).
 iknows(inv(sign_i)).
 iknows(i).
 state_client(c,m,p,b,sign_c,sign_m,sign_p,sign_b,h,masterkeycb,0,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_sk,dummy_sk,dummy_sk,set_194,3).
 state_bank(b,c,m,p,sign_c,sign_m,sign_p,sign_b,h,masterkeycb,masterkeymb,2,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_nonce,dummy_sk,dummy_sk,dummy_sk,4).
 state_merchant(m,c,p,b,sign_c,sign_m,sign_p,sign_b,h,masterkeymb,1,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_sk,dummy_sk,dummy_sk,dummy_sk,set_216,5).
 state_paymentGateway(p,c,m,b,sign_c,sign_m,sign_p,sign_b,h,masterkeycb,3,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_sk,dummy_sk,dummy_sk,dummy_sk,6)


section rules:

step step_0 (C,M,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,Dummy_TransID,Dummy_ServID,Dummy_ItemID,Nonce,TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,Dummy_N1,PIN,OTP,Dummy_SessionKeyCM,SessionKeyCB,SessionKeyCP,Dummy_Set_44,SID,TransID,ServID,ItemID,N1,SessionKeyCM) :=
 state_client(C,M,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,0,Dummy_TransID,Dummy_ServID,Dummy_ItemID,Nonce,TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,Dummy_N1,PIN,OTP,Dummy_SessionKeyCM,SessionKeyCB,SessionKeyCP,Dummy_Set_44,SID).
 iknows(start)
=[exists SessionKeyCM,N1,ItemID,ServID,TransID]=>
 state_client(C,M,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,1,TransID,ServID,ItemID,Nonce,TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,Dummy_Set_44,SID).
 iknows(crypt(SignK_M,pair(TransID,pair(ServID,pair(ItemID,pair(N1,SessionKeyCM)))))).
 secret(SessionKeyCM,purchase_order,Dummy_Set_44).
 contains(C,Dummy_Set_44).
 contains(M,Dummy_Set_44)

step step_1 (C,M,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,Dummy_TransID,ServID,ItemID,Nonce,TICKETID,TICKETID2,Dummy_TOKENID,Price,ItemInfo,UserID,Password,DigMoney,N1,PIN,OTP,Dummy_SessionKeyCM,Dummy_SessionKeyCB,SessionKeyCP,Set_44,SID,TransID,TOKENID,SessionKeyCM,SessionKeyCB) :=
 state_client(C,M,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,1,Dummy_TransID,ServID,ItemID,Nonce,TICKETID,TICKETID2,Dummy_TOKENID,Price,ItemInfo,UserID,Password,DigMoney,N1,PIN,OTP,Dummy_SessionKeyCM,Dummy_SessionKeyCB,SessionKeyCP,Set_44,SID).
 iknows(scrypt(SessionKeyCM,pair(TransID,pair(pair(TOKENID,pair(ItemInfo,crypt(SignK_B,Price))),crypt(inv(SignK_M),apply(H,pair(TransID,pair(Price,ItemInfo))))))))
=[exists SessionKeyCB]=>
 state_client(C,M,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,2,TransID,ServID,ItemID,Nonce,TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,Set_44,SID).
 witness(C,M,alice_bob_num,N1).
 iknows(scrypt(MasterKeyCB,pair(UserID,pair(Password,pair(crypt(SignK_B,Price),SessionKeyCB)))))

step step_2 (C,M,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,TransID,ServID,ItemID,Nonce,Dummy_TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,Dummy_DigMoney,N1,PIN,OTP,SessionKeyCM,Dummy_SessionKeyCB,Dummy_SessionKeyCP,Set_44,SID,TICKETID,DigMoney,SessionKeyCB,SessionKeyCP) :=
 state_client(C,M,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,2,TransID,ServID,ItemID,Nonce,Dummy_TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,Dummy_DigMoney,N1,PIN,OTP,SessionKeyCM,Dummy_SessionKeyCB,Dummy_SessionKeyCP,Set_44,SID).
 iknows(scrypt(SessionKeyCB,pair(TICKETID,crypt(inv(SignK_B),DigMoney))))
=[exists SessionKeyCP]=>
 state_client(C,M,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,3,TransID,ServID,ItemID,Nonce,TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,Set_44,SID).
 iknows(crypt(SignK_P,pair(TICKETID,pair(crypt(inv(SignK_B),DigMoney),SessionKeyCP))))

step step_3 (C,M,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,TransID,ServID,ItemID,Nonce,Dummy_TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,Dummy_DigMoney,N1,Dummy_PIN,Dummy_OTP,SessionKeyCM,SessionKeyCB,Dummy_SessionKeyCP,Set_44,SID,TICKETID,DigMoney,PIN,OTP,SessionKeyCP) :=
 state_client(C,M,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,3,TransID,ServID,ItemID,Nonce,Dummy_TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,Dummy_DigMoney,N1,Dummy_PIN,Dummy_OTP,SessionKeyCM,SessionKeyCB,Dummy_SessionKeyCP,Set_44,SID).
 iknows(scrypt(SessionKeyCP,pair(TICKETID,pair(scrypt(OTP,scrypt(PIN,crypt(inv(SignK_B),DigMoney))),crypt(SignK_C,crypt(inv(SignK_P),PIN))))))
 =>
 state_client(C,M,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,4,TransID,ServID,ItemID,Nonce,TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,Set_44,SID).
 iknows(scrypt(SessionKeyCM,pair(pair(TOKENID,pair(ItemInfo,Price)),pair(pair(TICKETID,scrypt(OTP,scrypt(PIN,crypt(inv(SignK_B),DigMoney)))),apply(h,Dummy_PIN)))))

step step_4 (C,M,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,TransID,ServID,ItemID,Nonce,TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,Set_44,SID) :=
 state_client(C,M,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,4,TransID,ServID,ItemID,Nonce,TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,Set_44,SID)
 =>
 state_client(C,M,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,4,TransID,ServID,ItemID,Nonce,TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,Set_44,SID).
 iknows(scrypt(SessionKeyCM,crypt(inv(SignK_C),PIN)))

step step_5 (B,C,M,P,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,MasterKeyMB,TransID,ServID,ItemID,Nonce,Dummy_TICKETID,TOKENID,Price,ItemInfo,UserID,Password,Dummy_DigMoney,PIN,OTP,Conform_Msg,SessionKeyCM,Dummy_SessionKeyCB,SessionKeyCP,SID,TICKETID,DigMoney,SessionKeyCB) :=
 state_bank(B,C,M,P,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,MasterKeyMB,2,TransID,ServID,ItemID,Nonce,Dummy_TICKETID,TOKENID,Price,ItemInfo,UserID,Password,Dummy_DigMoney,PIN,OTP,Conform_Msg,SessionKeyCM,Dummy_SessionKeyCB,SessionKeyCP,SID).
 iknows(scrypt(MasterKeyCB,pair(UserID,pair(Password,pair(crypt(SignK_B,Price),SessionKeyCB)))))
=[exists DigMoney,TICKETID]=>
 state_bank(B,C,M,P,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,MasterKeyMB,4,TransID,ServID,ItemID,Nonce,TICKETID,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,PIN,OTP,Conform_Msg,SessionKeyCM,SessionKeyCB,SessionKeyCP,SID).
 iknows(scrypt(SessionKeyCB,pair(TICKETID,crypt(inv(SignK_B),DigMoney))))

step step_6 (B,C,M,P,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,MasterKeyMB,TransID,ServID,ItemID,Nonce,TICKETID,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,PIN,OTP,Conform_Msg,SessionKeyCM,SessionKeyCB,SessionKeyCP,SID) :=
 state_bank(B,C,M,P,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,MasterKeyMB,4,TransID,ServID,ItemID,Nonce,TICKETID,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,PIN,OTP,Conform_Msg,SessionKeyCM,SessionKeyCB,SessionKeyCP,SID).
 iknows(scrypt(MasterKeyMB,pair(TICKETID,crypt(inv(SignK_B),DigMoney))))
 =>
 state_bank(B,C,M,P,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,MasterKeyMB,6,TransID,ServID,ItemID,Nonce,TICKETID,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,PIN,OTP,Conform_Msg,SessionKeyCM,SessionKeyCB,SessionKeyCP,SID).
 iknows(crypt(SignK_M,pair(TICKETID,Conform_Msg)))

step step_7 (M,C,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyMB,Dummy_TransID,Dummy_ServID,Dummy_ItemID,Nonce,TICKETID,Dummy_TOKENID,Price,ItemInfo,UserID,Password,DigMoney,Conform_Msg,Dummy_N1,PIN,OTP,Dummy_SessionKeyCM,SessionKeyCB,SessionKeyCP,SessionKeyMP,Dummy_Set_119,SID,TransID,ServID,ItemID,TOKENID,N1,SessionKeyCM) :=
 state_merchant(M,C,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyMB,1,Dummy_TransID,Dummy_ServID,Dummy_ItemID,Nonce,TICKETID,Dummy_TOKENID,Price,ItemInfo,UserID,Password,DigMoney,Conform_Msg,Dummy_N1,PIN,OTP,Dummy_SessionKeyCM,SessionKeyCB,SessionKeyCP,SessionKeyMP,Dummy_Set_119,SID).
 iknows(crypt(SignK_M,pair(TransID,pair(ServID,pair(ItemID,pair(N1,SessionKeyCM))))))
=[exists TOKENID]=>
 state_merchant(M,C,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyMB,3,TransID,ServID,ItemID,Nonce,TICKETID,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,Conform_Msg,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,SessionKeyMP,Dummy_Set_119,SID).
 iknows(scrypt(SessionKeyCM,pair(TransID,pair(pair(TOKENID,pair(ItemInfo,crypt(SignK_B,Price))),crypt(inv(SignK_M),apply(h,pair(TransID,pair(Price,ItemInfo)))))))).
 secret(SessionKeyCM,purchase_order,Dummy_Set_119).
 contains(M,Dummy_Set_119).
 contains(C,Dummy_Set_119)

step step_8 (M,C,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyMB,TransID,ServID,ItemID,Nonce,Dummy_TICKETID,TOKENID,Price,ItemInfo,UserID,Password,Dummy_DigMoney,Conform_Msg,N1,Dummy_PIN,Dummy_OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,Dummy_SessionKeyMP,Set_119,SID,TICKETID,DigMoney,PIN,OTP,SessionKeyMP) :=
 state_merchant(M,C,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyMB,3,TransID,ServID,ItemID,Nonce,Dummy_TICKETID,TOKENID,Price,ItemInfo,UserID,Password,Dummy_DigMoney,Conform_Msg,N1,Dummy_PIN,Dummy_OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,Dummy_SessionKeyMP,Set_119,SID).
 iknows(scrypt(SessionKeyCM,pair(pair(TOKENID,pair(ItemInfo,Price)),pair(pair(TICKETID,scrypt(OTP,scrypt(PIN,crypt(inv(SignK_B),DigMoney)))),apply(h,Dummy_PIN)))))
=[exists SessionKeyMP]=>
 state_merchant(M,C,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyMB,5,TransID,ServID,ItemID,Nonce,TICKETID,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,Conform_Msg,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,SessionKeyMP,Set_119,SID).
 iknows(crypt(SignK_P,pair(Dummy_TICKETID,SessionKeyMP)))

step step_9 (M,C,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyMB,TransID,ServID,ItemID,Nonce,TICKETID,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,Conform_Msg,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,Dummy_SessionKeyMP,Set_119,SID,SessionKeyMP) :=
 state_merchant(M,C,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyMB,5,TransID,ServID,ItemID,Nonce,TICKETID,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,Conform_Msg,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,Dummy_SessionKeyMP,Set_119,SID).
 iknows(scrypt(SessionKeyMP,pair(TICKETID,crypt(inv(SignK_P),OTP))))
 =>
 state_merchant(M,C,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyMB,7,TransID,ServID,ItemID,Nonce,TICKETID,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,Conform_Msg,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,SessionKeyMP,Set_119,SID)

step step_10 (M,C,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyMB,TransID,ServID,ItemID,Nonce,Dummy_TICKETID,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,Conform_Msg,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,SessionKeyMP,Set_119,SID,TICKETID) :=
 state_merchant(M,C,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyMB,7,TransID,ServID,ItemID,Nonce,Dummy_TICKETID,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,Conform_Msg,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,SessionKeyMP,Set_119,SID).
 iknows(scrypt(SessionKeyCM,pair(TICKETID,crypt(inv(SignK_C),PIN))))
 =>
 state_merchant(M,C,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyMB,9,TransID,ServID,ItemID,Nonce,TICKETID,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,Conform_Msg,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,SessionKeyMP,Set_119,SID).
 iknows(scrypt(MasterKeyMB,pair(Dummy_TICKETID,crypt(inv(SignK_B),DigMoney))))

step step_11 (M,C,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyMB,TransID,ServID,ItemID,Nonce,TICKETID,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,Conform_Msg,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,SessionKeyMP,Set_119,SID) :=
 state_merchant(M,C,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyMB,9,TransID,ServID,ItemID,Nonce,TICKETID,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,Conform_Msg,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,SessionKeyMP,Set_119,SID).
 iknows(crypt(SignK_M,pair(TICKETID,Conform_Msg)))
 =>
 state_merchant(M,C,P,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyMB,11,TransID,ServID,ItemID,Nonce,TICKETID,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,Conform_Msg,N1,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,SessionKeyMP,Set_119,SID)

step step_12 (P,C,M,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,TransID,ServID,ItemID,Nonce,Dummy_TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,Dummy_DigMoney,Dummy_PIN,Dummy_OTP,SessionKeyCM,SessionKeyCB,Dummy_SessionKeyCP,SessionKeyMP,SID,TICKETID,DigMoney,PIN,OTP,SessionKeyCP) :=
 state_paymentGateway(P,C,M,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,3,TransID,ServID,ItemID,Nonce,Dummy_TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,Dummy_DigMoney,Dummy_PIN,Dummy_OTP,SessionKeyCM,SessionKeyCB,Dummy_SessionKeyCP,SessionKeyMP,SID).
 iknows(crypt(SignK_P,pair(TICKETID,pair(crypt(inv(SignK_B),DigMoney),SessionKeyCP))))
=[exists OTP,PIN]=>
 state_paymentGateway(P,C,M,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,6,TransID,ServID,ItemID,Nonce,TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,SessionKeyMP,SID).
 iknows(scrypt(SessionKeyCP,pair(TICKETID,pair(scrypt(OTP,scrypt(PIN,crypt(inv(SignK_B),DigMoney))),crypt(SignK_C,crypt(inv(SignK_P),PIN))))))

step step_13 (P,C,M,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,TransID,ServID,ItemID,Nonce,TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,Dummy_SessionKeyMP,SID,SessionKeyMP) :=
 state_paymentGateway(P,C,M,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,6,TransID,ServID,ItemID,Nonce,TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,Dummy_SessionKeyMP,SID).
 iknows(crypt(SignK_P,pair(TOKENID,SessionKeyMP)))
 =>
 state_paymentGateway(P,C,M,B,SignK_C,SignK_M,SignK_P,SignK_B,H,MasterKeyCB,9,TransID,ServID,ItemID,Nonce,TICKETID,TICKETID2,TOKENID,Price,ItemInfo,UserID,Password,DigMoney,PIN,OTP,SessionKeyCM,SessionKeyCB,SessionKeyCP,SessionKeyMP,SID).
 iknows(scrypt(SessionKeyMP,pair(TICKETID,crypt(inv(SignK_P),OTP))))


section properties:

property authentication_on_alice_bob_num (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_num,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_num,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_num,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_num,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property secrecy_of_purchase_order (MGoal,ASGoal) :=
 [] ((secret(MGoal,purchase_order,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_authent_request (MGoal,ASGoal) :=
 [] ((secret(MGoal,authent_request,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sessioncb (MGoal,ASGoal) :=
 [] ((secret(MGoal,sessioncb,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sessioncp (MGoal,ASGoal) :=
 [] ((secret(MGoal,sessioncp,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sessioncm (MGoal,ASGoal) :=
 [] ((secret(MGoal,sessioncm,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state authentication_on_alice_bob_num (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_num,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_num,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_num (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_num,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_num,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state secrecy_of_purchase_order (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,purchase_order,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_authent_request (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,authent_request,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sessioncb (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sessioncb,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sessioncp (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sessioncp,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sessioncm (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sessioncm,ASGoal) &
 not(contains(i,ASGoal))

