%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilej97URD

section signature:

state_server: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(agent) * nat -> fact
state_client: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(agent) * nat -> fact


section types:

subs1, subs2, subs3, subs4, subs5, user_server_tu, user_server_u, user_server_a, server_user_b, server_user_s, server_user_ts: protocol_id
Set_49, Dummy_Set_49: set(text)
set_153, set_152, set_151, set_150, set_148, set_147, set_145, set_143, set_142, set_133, set_114, set_113: set
State, 3, 2, 13, 9, 1, 0, 7, 6, 4, SID, Dummy_State, SID2, SID1: nat
skus, SKus: symmetric_key
Set_87, Set_51, Dummy_Set_87, Dummy_Set_51, ASGoal: set(agent)
start, MGoal: message
Realm, C2, Ms, SK, Auth, RPW, Ppub, P, C1, Cu, Mu, Ss, Uu, A, B, DIDu, Yu, IDu, PWu, Bu, Tu, Ts, Dummy_SK, Dummy_Ms, Dummy_C2, Dummy_Ppub, Dummy_Yu, Dummy_Auth, Dummy_B, Dummy_Ts, Dummy_Mu, Dummy_C1, Dummy_DIDu, Dummy_A, Dummy_Ss, Dummy_Tu, Dummy_RPW, Dummy_Uu, dummy_nonce, tu, ts, realm: text
u, s, U, S, A2Goal, A1Goal, i: agent
F, H, dummy_hash, f, h: hash_func


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(s).
 iknows(h).
 iknows(f).
 iknows(realm).
 iknows(tu).
 iknows(ts).
 iknows(i).
 state_client(u,s,skus,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_113,set_114,3).
 state_server(s,u,skus,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_133,4).
 state_client(u,s,skus,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_142,set_143,6).
 state_server(s,u,skus,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_145,7).
 state_client(u,i,skus,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_147,set_148,9).
 state_server(s,i,skus,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_153,13)


section rules:

step step_0 (U,S,SKus,H,IDu,PWu,Bu,Tu,Ts,Ss,Dummy_Uu,A,B,DIDu,Yu,Dummy_RPW,Ppub,P,C1,Cu,Mu,Realm,C2,Ms,SK,Auth,F,Dummy_Set_49,Dummy_Set_51,SID,Uu) :=
 state_client(U,S,SKus,H,0,IDu,PWu,Bu,Tu,Ts,Ss,Dummy_Uu,A,B,DIDu,Yu,Dummy_RPW,Ppub,P,C1,Cu,Mu,Realm,C2,Ms,SK,Auth,F,Dummy_Set_49,Dummy_Set_51,SID).
 iknows(start)
=[exists Uu]=>
 state_client(U,S,SKus,H,1,IDu,PWu,Bu,Tu,Ts,Ss,Uu,A,B,DIDu,Yu,apply(H,pair(IDu,pair(PWu,Uu))),Ppub,P,C1,Cu,Mu,Realm,C2,Ms,SK,Auth,F,Dummy_Set_49,Dummy_Set_51,SID).
 secret(Dummy_Set_49,subs1,U).
 secret(IDu,subs2,Dummy_Set_51).
 iknows(scrypt(SKus,pair(IDu,apply(H,pair(IDu,pair(PWu,Uu)))))).
 witness(U,S,user_server_u,Uu).
 contains(PWu,Dummy_Set_49).
 contains(Bu,Dummy_Set_49).
 contains(Uu,Dummy_Set_49).
 contains(U,Dummy_Set_51).
 contains(S,Dummy_Set_51)

step step_1 (U,S,SKus,H,IDu,PWu,Bu,Dummy_Tu,Ts,Dummy_Ss,Dummy_Uu,Dummy_A,B,Dummy_DIDu,Yu,RPW,Ppub,P,Dummy_C1,Cu,Dummy_Mu,Realm,C2,Ms,SK,Auth,F,Set_49,Set_51,SID,Tu,Ss,Uu,A) :=
 state_client(U,S,SKus,H,1,IDu,PWu,Bu,Dummy_Tu,Ts,Dummy_Ss,Dummy_Uu,Dummy_A,B,Dummy_DIDu,Yu,RPW,Ppub,P,Dummy_C1,Cu,Dummy_Mu,Realm,C2,Ms,SK,Auth,F,Set_49,Set_51,SID).
 iknows(scrypt(SKus,pair(xor(apply(H,pair(Ss,IDu)),apply(H,pair(IDu,pair(PWu,Uu)))),pair(apply(F,pair(Ss,P)),H))))
=[exists A,Tu]=>
 state_client(U,S,SKus,H,2,IDu,PWu,Bu,Tu,Ts,Ss,Uu,A,B,xor(IDu,apply(F,pair(A,apply(F,pair(Ss,P))))),Yu,RPW,Ppub,P,apply(F,pair(A,P)),Cu,apply(H,pair(IDu,pair(Tu,pair(apply(H,pair(Ss,IDu)),pair(apply(F,pair(A,apply(F,pair(Ss,P)))),apply(F,pair(A,P))))))),Realm,C2,Ms,SK,Auth,F,Set_49,Set_51,SID).
 secret(A,subs3,U).
 iknows(pair(xor(IDu,apply(F,pair(A,apply(F,pair(Ss,P))))),pair(apply(H,pair(IDu,pair(Tu,pair(apply(H,pair(Ss,IDu)),pair(apply(F,pair(A,apply(F,pair(Ss,P)))),apply(F,pair(A,P))))))),pair(apply(F,pair(A,P)),Tu)))).
 witness(U,S,user_server_tu,Tu).
 witness(U,S,user_server_a,A)

step step_2 (U,S,SKus,H,IDu,PWu,Bu,Dummy_Tu,Dummy_Ts,Dummy_Ss,Uu,Dummy_A,Dummy_B,DIDu,Yu,RPW,Ppub,P,C1,Cu,Mu,Realm,C2,Ms,SK,Dummy_Auth,F,Set_49,Set_51,SID,Tu,Ts,Ss,A,B) :=
 state_client(U,S,SKus,H,2,IDu,PWu,Bu,Dummy_Tu,Dummy_Ts,Dummy_Ss,Uu,Dummy_A,Dummy_B,DIDu,Yu,RPW,Ppub,P,C1,Cu,Mu,Realm,C2,Ms,SK,Dummy_Auth,F,Set_49,Set_51,SID).
 iknows(pair(Realm,pair(apply(F,pair(B,P)),pair(apply(H,pair(apply(H,pair(IDu,pair(apply(H,pair(Ss,IDu)),pair(Tu,pair(apply(F,pair(B,apply(F,pair(A,P)))),apply(F,pair(Ss,apply(F,pair(A,P))))))))),pair(Tu,pair(Ts,pair(apply(H,pair(Ss,IDu)),IDu))))),Ts))))
 =>
 state_client(U,S,SKus,H,3,IDu,PWu,Bu,Tu,Ts,Ss,Uu,A,B,DIDu,Yu,RPW,Ppub,P,C1,Cu,Mu,Realm,C2,Ms,SK,apply(H,pair(IDu,pair(apply(H,pair(Ss,IDu)),pair(Realm,pair(apply(H,pair(IDu,pair(apply(H,pair(Ss,IDu)),pair(Tu,pair(apply(F,pair(A,apply(F,pair(B,P)))),apply(F,pair(A,apply(F,pair(Ss,P))))))))),Ts))))),F,Set_49,Set_51,SID).
 iknows(pair(Realm,apply(H,pair(IDu,pair(apply(H,pair(Ss,IDu)),pair(Realm,pair(apply(H,pair(IDu,pair(apply(H,pair(Ss,IDu)),pair(Tu,pair(apply(F,pair(A,apply(F,pair(B,P)))),apply(F,pair(A,apply(F,pair(Ss,P))))))))),Ts))))))).
 request(S,U,server_user_ts,Ts,SID).
 request(S,U,server_user_b,B,SID)

step step_3 (S,U,SKus,H,IDu,PWu,Bu,Tu,Ts,Dummy_Ss,Dummy_Uu,A,B,DIDu,Dummy_Yu,RPW,Dummy_Ppub,P,C1,Cu,Mu,Realm,C2,Ms,SK,Auth,F,Dummy_Set_87,SID,Ss,Uu) :=
 state_server(S,U,SKus,H,0,IDu,PWu,Bu,Tu,Ts,Dummy_Ss,Dummy_Uu,A,B,DIDu,Dummy_Yu,RPW,Dummy_Ppub,P,C1,Cu,Mu,Realm,C2,Ms,SK,Auth,F,Dummy_Set_87,SID).
 iknows(scrypt(SKus,pair(IDu,apply(H,pair(IDu,pair(PWu,Uu))))))
=[exists Ss]=>
 state_server(S,U,SKus,H,1,IDu,PWu,Bu,Tu,Ts,Ss,Uu,A,B,DIDu,xor(apply(H,pair(Ss,IDu)),apply(H,pair(IDu,pair(PWu,Uu)))),RPW,apply(F,pair(Ss,P)),P,C1,Cu,Mu,Realm,C2,Ms,SK,Auth,F,Dummy_Set_87,SID).
 secret(IDu,subs2,Dummy_Set_87).
 secret(Ss,subs4,S).
 iknows(scrypt(SKus,pair(xor(apply(H,pair(Ss,IDu)),apply(H,pair(IDu,pair(PWu,Uu)))),pair(apply(F,pair(Ss,P)),H)))).
 contains(U,Dummy_Set_87).
 contains(S,Dummy_Set_87)

step step_4 (S,U,SKus,H,IDu,PWu,Bu,Dummy_Tu,Dummy_Ts,Dummy_Ss,Uu,Dummy_A,Dummy_B,DIDu,Yu,RPW,Ppub,P,C1,Cu,Mu,Realm,Dummy_C2,Dummy_Ms,Dummy_SK,Auth,F,Set_87,SID,Tu,Ts,Ss,A,B) :=
 state_server(S,U,SKus,H,1,IDu,PWu,Bu,Dummy_Tu,Dummy_Ts,Dummy_Ss,Uu,Dummy_A,Dummy_B,DIDu,Yu,RPW,Ppub,P,C1,Cu,Mu,Realm,Dummy_C2,Dummy_Ms,Dummy_SK,Auth,F,Set_87,SID).
 iknows(pair(xor(IDu,apply(F,pair(A,apply(F,pair(Ss,P))))),pair(apply(H,pair(IDu,pair(Tu,pair(apply(H,pair(Ss,IDu)),pair(apply(F,pair(A,apply(F,pair(Ss,P)))),apply(F,pair(A,P))))))),pair(apply(F,pair(A,P)),Tu))))
=[exists B,Ts]=>
 state_server(S,U,SKus,H,2,IDu,PWu,Bu,Tu,Ts,Ss,Uu,A,B,DIDu,Yu,RPW,Ppub,P,C1,Cu,Mu,Realm,apply(F,pair(B,P)),apply(H,pair(apply(H,pair(IDu,pair(apply(H,pair(Ss,IDu)),pair(Tu,pair(apply(F,pair(B,apply(F,pair(A,P)))),apply(F,pair(Ss,apply(F,pair(A,P))))))))),pair(Tu,pair(Ts,pair(apply(H,pair(Ss,IDu)),IDu))))),apply(H,pair(IDu,pair(apply(H,pair(Ss,IDu)),pair(Tu,pair(apply(F,pair(B,apply(F,pair(A,P)))),apply(F,pair(Ss,apply(F,pair(A,P))))))))),Auth,F,Set_87,SID).
 secret(B,subs5,S).
 iknows(pair(Realm,pair(apply(F,pair(B,P)),pair(apply(H,pair(apply(H,pair(IDu,pair(apply(H,pair(Ss,IDu)),pair(Tu,pair(apply(F,pair(B,apply(F,pair(A,P)))),apply(F,pair(Ss,apply(F,pair(A,P))))))))),pair(Tu,pair(Ts,pair(apply(H,pair(Ss,IDu)),IDu))))),Ts)))).
 witness(S,U,server_user_ts,Ts).
 witness(S,U,server_user_b,B)

step step_5 (S,U,SKus,H,IDu,PWu,Bu,Dummy_Tu,Dummy_Ts,Dummy_Ss,Uu,Dummy_A,Dummy_B,DIDu,Yu,RPW,Ppub,P,C1,Cu,Mu,Realm,C2,Ms,SK,Auth,F,Set_87,SID,Tu,Ts,Ss,A,B) :=
 state_server(S,U,SKus,H,2,IDu,PWu,Bu,Dummy_Tu,Dummy_Ts,Dummy_Ss,Uu,Dummy_A,Dummy_B,DIDu,Yu,RPW,Ppub,P,C1,Cu,Mu,Realm,C2,Ms,SK,Auth,F,Set_87,SID).
 iknows(pair(Realm,apply(H,pair(IDu,pair(apply(H,pair(Ss,IDu)),pair(Realm,pair(apply(H,pair(IDu,pair(apply(H,pair(Ss,IDu)),pair(Tu,pair(apply(F,pair(A,apply(F,pair(B,P)))),apply(F,pair(A,apply(F,pair(Ss,P))))))))),Ts)))))))
 =>
 state_server(S,U,SKus,H,3,IDu,PWu,Bu,Tu,Ts,Ss,Uu,A,B,DIDu,Yu,RPW,Ppub,P,C1,Cu,Mu,Realm,C2,Ms,SK,Auth,F,Set_87,SID).
 request(U,S,user_server_u,Uu,SID).
 request(U,S,user_server_tu,Tu,SID).
 request(U,S,user_server_a,A,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_server_u (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_server_u,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_server_u,MGoal))
     /\ ((request(A1Goal,A2Goal,user_server_u,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_server_u,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_server_tu (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_server_tu,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_server_tu,MGoal))
     /\ ((request(A1Goal,A2Goal,user_server_tu,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_server_tu,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_server_a (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_server_a,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_server_a,MGoal))
     /\ ((request(A1Goal,A2Goal,user_server_a,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_server_a,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_user_ts (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_user_ts,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_user_ts,MGoal))
     /\ ((request(A1Goal,A2Goal,server_user_ts,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_user_ts,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_user_b (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_user_b,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_user_b,MGoal))
     /\ ((request(A1Goal,A2Goal,server_user_b,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_user_b,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_server_u (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_server_u,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_u,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_server_u (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_server_u,MGoal,SID1).
 request(A1Goal,A2Goal,user_server_u,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_server_tu (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_server_tu,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_tu,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_server_tu (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_server_tu,MGoal,SID1).
 request(A1Goal,A2Goal,user_server_tu,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_server_a (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_server_a,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_a,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_server_a (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_server_a,MGoal,SID1).
 request(A1Goal,A2Goal,user_server_a,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_user_ts (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_user_ts,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_user_ts,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_user_ts (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_user_ts,MGoal,SID1).
 request(A1Goal,A2Goal,server_user_ts,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_user_b (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_user_b,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_user_b,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_user_b (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_user_b,MGoal,SID1).
 request(A1Goal,A2Goal,server_user_b,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

