%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileZnFixWRc5D

section signature:

state_merchant: agent * agent * agent * symmetric_key * symmetric_key * symmetric_key * symmetric_key * hash_func * public_key * public_key * public_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * nat -> fact
state_bank: agent * agent * agent * symmetric_key * symmetric_key * symmetric_key * symmetric_key * hash_func * public_key * public_key * public_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(text) * set(text) * set(agent) * nat -> fact
state_client: agent * agent * agent * symmetric_key * symmetric_key * symmetric_key * symmetric_key * hash_func * public_key * public_key * public_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * nat -> fact


section types:

MGoal, start: message
client_bank_x, bank_client_msk, merchant_bank_y, bank_merchant_msk, subs1, subs2, subs3, subs4: protocol_id
Dummy_State, 3, SID, SID2, SID1, State, 13, 12, 11, 9, 8, 2, 7, 1, 0, 5, 4: nat
Dummy_Pubx, pubx, mpk, puby, Pubx, Mpk, Puby, Dummy_Puby, Dummy_Mpk: public_key
h, H: hash_func
set_196, set_195, set_194, set_279, set_278, set_277, set_275, set_274, set_273, set_272, set_271, set_270, set_268, set_267, set_266, set_264, set_263, set_262, set_260, set_259, set_258, set_257, set_256, set_255, set_253, set_252, set_251, set_238, set_237, set_236, set_218, set_217, set_216, set_215, set_214, set_213: set
kc, km, key, k, Kc, Km, Key, K, Dummy_K, Dummy_Km, Dummy_Kc, Dummy_Key: symmetric_key
ASGoal, Set_142, Set_139, Set_99, Set_55, Dummy_Set_99, Dummy_Set_142, Dummy_Set_139, Dummy_Set_55: set(agent)
Set_141, Set_140, Set_138, Set_137, Set_98, Set_97, Set_54, Set_52, Dummy_Set_98, Dummy_Set_97, Dummy_Set_141, Dummy_Set_140, Dummy_Set_138, Dummy_Set_137, Dummy_Set_54, Dummy_Set_52: set(text)
A2Goal, A1Goal, c, b, m, C, B, M, i: agent
Dummy_Dx, dummy_nonce, dx, tdx, tdy, x, y, g, skc, skm, skcm, k1, k2, r1, succ, bill, IMEIx, Dx, TDx, X, Msk, G, SKc, K1, IMEIy, Dy, TDy, Y, SKm, K2, SKcm, Inv, Amt, Pay, R1, Succ, Bill, Payc, Dummy_SKcm, Dummy_Payc, Dummy_K2, Dummy_Y, Dummy_Dy, Dummy_Bill, Dummy_Succ, Dummy_SKm, Dummy_TDy, Dummy_SKc, Dummy_TDx, Dummy_Msk, Dummy_R1, Dummy_Amt, Dummy_Inv, Dummy_K1, Dummy_X: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(c).
 iknows(b).
 iknows(m).
 iknows(h).
 iknows(mpk).
 iknows(pubx).
 iknows(puby).
 iknows(i).
 state_client(c,b,m,kc,km,key,k,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_194,set_195,set_196,3).
 state_bank(b,c,m,kc,km,key,k,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_213,set_214,set_215,set_216,set_217,set_218,4).
 state_merchant(m,c,b,kc,km,key,k,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_236,set_237,set_238,5).
 state_client(c,b,m,kc,km,key,k,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_251,set_252,set_253,7).
 state_bank(b,c,m,kc,km,key,k,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_255,set_256,set_257,set_258,set_259,set_260,8).
 state_merchant(m,c,b,kc,km,key,k,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_262,set_263,set_264,9).
 state_client(c,b,m,kc,km,key,k,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_266,set_267,set_268,11).
 state_bank(b,c,m,kc,km,key,k,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_270,set_271,set_272,set_273,set_274,set_275,12).
 state_merchant(m,c,b,kc,km,key,k,h,mpk,pubx,puby,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_277,set_278,set_279,13)


section rules:

step step_0 (C,B,M,Kc,Km,Key,K,H,Dummy_Pubx,Mpk,Puby,IMEIx,Dummy_Dx,TDx,Dummy_X,Msk,G,SKc,Dummy_K1,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,Dummy_Set_52,Dummy_Set_54,Dummy_Set_55,SID,X) :=
 state_client(C,B,M,Kc,Km,Key,K,H,Dummy_Pubx,Mpk,Puby,0,IMEIx,Dummy_Dx,TDx,Dummy_X,Msk,G,SKc,Dummy_K1,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,Dummy_Set_52,Dummy_Set_54,Dummy_Set_55,SID).
 iknows(start)
=[exists X]=>
 state_client(C,B,M,Kc,Km,Key,K,H,exp(G,Dummy_X),Mpk,Puby,1,IMEIx,apply(H,pair(Dummy_X,IMEIx)),TDx,X,Msk,G,SKc,apply(H,pair(IMEIx,Dummy_Pubx)),IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,Dummy_Set_52,Dummy_Set_54,Dummy_Set_55,SID).
 iknows(scrypt(Kc,pair(IMEIx,pair(Dummy_Dx,pair(Dummy_Pubx,Dummy_K1))))).
 secret(Dummy_Set_52,subs1,C).
 secret(Dummy_Set_54,subs2,Dummy_Set_55).
 witness(C,B,client_bank_x,X).
 contains(Dummy_X,Dummy_Set_52).
 contains(Msk,Dummy_Set_54).
 contains(C,Dummy_Set_55).
 contains(B,Dummy_Set_55)

step step_1 (C,B,M,Kc,Km,Dummy_Key,K,H,Pubx,Mpk,Puby,IMEIx,Dx,TDx,X,Msk,G,SKc,K1,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Dummy_Inv,Dummy_Amt,Pay,Dummy_R1,Succ,Bill,Payc,Set_52,Set_54,Set_55,SID,Inv) :=
 state_client(C,B,M,Kc,Km,Dummy_Key,K,H,Pubx,Mpk,Puby,1,IMEIx,Dx,TDx,X,Msk,G,SKc,K1,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Dummy_Inv,Dummy_Amt,Pay,Dummy_R1,Succ,Bill,Payc,Set_52,Set_54,Set_55,SID).
 iknows(scrypt(Kc,pair(B,pair(TDx,Mpk))))
=[exists Inv]=>
 state_client(C,B,M,Kc,Km,apply(H,pair(IMEIx,pair(Pubx,pair(Kc,Pay)))),K,H,Pubx,Mpk,Puby,2,IMEIx,Dx,TDx,X,Msk,G,SKc,K1,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,xor(pair(Pay,Dummy_Inv)),Pay,apply(H,pair(IMEIx,pair(Dummy_Inv,pair(Pubx,Pay)))),Succ,Bill,Payc,Set_52,Set_54,Set_55,SID).
 iknows(pair(IMEIx,pair(Dummy_Inv,pair(Pubx,pair(Dummy_Amt,pair(apply(H,pair(IMEIx,pair(Dummy_Inv,pair(Pubx,Pay)))),scrypt(Dummy_Key,pair(Pay,TDx))))))))

step step_2 (C,B,M,Kc,Km,Key,K,H,Pubx,Mpk,Puby,IMEIx,Dx,TDx,X,Dummy_Msk,G,SKc,K1,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,Set_52,Set_54,Set_55,SID,Msk) :=
 state_client(C,B,M,Kc,Km,Key,K,H,Pubx,Mpk,Puby,2,IMEIx,Dx,TDx,X,Dummy_Msk,G,SKc,K1,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,Set_52,Set_54,Set_55,SID).
 iknows(scrypt(K,pair(Succ,pair(Bill,Inv))))
=[exists Msk]=>
 state_client(C,B,M,Kc,Km,Key,K,H,Pubx,Mpk,Puby,3,IMEIx,Dx,TDx,X,Msk,G,SKc,K1,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,Set_52,Set_54,Set_55,SID).
 request(B,C,bank_client_msk,Msk,SID)

step step_3 (B,C,M,Dummy_Kc,Km,Key,K,H,Pubx,Dummy_Mpk,Puby,IMEIx,Dx,Dummy_TDx,X,Dummy_Msk,G,Dummy_SKc,K1,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,Dummy_Set_137,Dummy_Set_138,Dummy_Set_139,Set_140,Set_141,Set_142,SID,Msk) :=
 state_bank(B,C,M,Dummy_Kc,Km,Key,K,H,Pubx,Dummy_Mpk,Puby,0,IMEIx,Dx,Dummy_TDx,X,Dummy_Msk,G,Dummy_SKc,K1,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,Dummy_Set_137,Dummy_Set_138,Dummy_Set_139,Set_140,Set_141,Set_142,SID).
 iknows(scrypt(Dummy_Kc,pair(IMEIx,pair(Dx,pair(Pubx,K1)))))
=[exists Msk]=>
 state_bank(B,C,M,apply(H,pair(Dummy_SKc,pair(Dx,K1))),Km,Key,K,H,Pubx,exp(G,Dummy_Msk),Puby,1,IMEIx,Dx,apply(H,pair(Dx,Dummy_Msk)),X,Msk,G,exp(Pubx,Dummy_Msk),K1,IMEIy,Dy,TDy,Y,SKm,K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,Dummy_Set_137,Dummy_Set_138,Dummy_Set_139,Set_140,Set_141,Set_142,SID).
 iknows(pair(scrypt(Dummy_Kc,pair(B,Dummy_TDx)),Dummy_Mpk)).
 secret(Dummy_Set_137,subs1,C).
 secret(Dummy_Set_138,subs2,Dummy_Set_139).
 witness(B,C,bank_client_msk,Msk).
 contains(X,Dummy_Set_137).
 contains(Dummy_Msk,Dummy_Set_138).
 contains(C,Dummy_Set_139).
 contains(B,Dummy_Set_139)

step step_4 (B,C,M,Kc,Dummy_Km,Key,K,H,Pubx,Mpk,Puby,IMEIx,Dx,TDx,X,Dummy_Msk,G,SKc,K1,IMEIy,Dy,Dummy_TDy,Y,Dummy_SKm,K2,SKcm,Inv,Amt,Pay,R1,Dummy_Succ,Dummy_Bill,Payc,Set_137,Set_138,Set_139,Dummy_Set_140,Dummy_Set_141,Dummy_Set_142,SID,Msk,Succ,Bill) :=
 state_bank(B,C,M,Kc,Dummy_Km,Key,K,H,Pubx,Mpk,Puby,1,IMEIx,Dx,TDx,X,Dummy_Msk,G,SKc,K1,IMEIy,Dy,Dummy_TDy,Y,Dummy_SKm,K2,SKcm,Inv,Amt,Pay,R1,Dummy_Succ,Dummy_Bill,Payc,Set_137,Set_138,Set_139,Dummy_Set_140,Dummy_Set_141,Dummy_Set_142,SID).
 iknows(pair(scrypt(Dummy_Km,pair(IMEIy,pair(Dy,pair(Puby,K2)))),pair(Pubx,pair(IMEIx,pair(Pay,pair(R1,scrypt(Key,pair(Pay,TDx))))))))
=[exists Bill,Succ,Msk]=>
 state_bank(B,C,M,Kc,apply(H,pair(Dummy_SKm,pair(K2,Dy))),Key,K,H,Pubx,Mpk,Puby,2,IMEIx,Dx,TDx,X,Msk,G,SKc,K1,IMEIy,Dy,apply(H,pair(Dy,Dummy_Msk)),Y,exp(pair(Puby,Dummy_Msk)),K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,Set_137,Set_138,Set_139,Dummy_Set_140,Dummy_Set_141,Dummy_Set_142,SID).
 iknows(scrypt(Dummy_Km,pair(Dummy_Succ,pair(Dummy_Bill,B)))).
 secret(Dummy_Set_140,subs3,M).
 secret(Dummy_Set_141,subs4,Dummy_Set_142).
 witness(B,M,bank_merchant_msk,Msk).
 contains(Y,Dummy_Set_140).
 contains(Dummy_Msk,Dummy_Set_141).
 contains(M,Dummy_Set_142).
 contains(B,Dummy_Set_142)

step step_5 (M,C,B,Kc,Km,Key,K,H,Pubx,Mpk,Dummy_Puby,IMEIx,Dx,TDx,X,Msk,G,SKc,K1,IMEIy,Dummy_Dy,TDy,Dummy_Y,SKm,Dummy_K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Dummy_Payc,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,SID,Y) :=
 state_merchant(M,C,B,Kc,Km,Key,K,H,Pubx,Mpk,Dummy_Puby,0,IMEIx,Dx,TDx,X,Msk,G,SKc,K1,IMEIy,Dummy_Dy,TDy,Dummy_Y,SKm,Dummy_K2,SKcm,Inv,Amt,Pay,R1,Succ,Bill,Dummy_Payc,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,SID).
 iknows(pair(IMEIx,pair(Inv,pair(Pubx,pair(Amt,pair(apply(H,pair(IMEIx,pair(Inv,pair(Pubx,Pay)))),scrypt(Key,pair(Pay,TDx))))))))
=[exists Y]=>
 state_merchant(M,C,B,Kc,Km,Key,K,H,Pubx,Mpk,exp(G,Dummy_Y),1,IMEIx,Dx,TDx,X,Msk,G,SKc,K1,IMEIy,apply(H,pair(Dummy_Y,IMEIy)),TDy,Y,SKm,apply(H,pair(IMEIy,Dummy_Puby)),SKcm,Inv,Amt,Pay,R1,Succ,Bill,xor(pair(Amt,Inv)),Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,SID).
 iknows(pair(scrypt(Km,pair(IMEIy,pair(Dummy_Dy,pair(Dummy_Puby,Dummy_K2)))),pair(Pubx,pair(IMEIx,pair(Pay,pair(R1,scrypt(Key,pair(Pay,TDx)))))))).
 secret(Dummy_Set_97,subs3,M).
 secret(Dummy_Set_98,subs4,Dummy_Set_99).
 witness(M,B,merchant_bank_y,Y).
 contains(Dummy_Y,Dummy_Set_97).
 contains(Msk,Dummy_Set_98).
 contains(M,Dummy_Set_99).
 contains(B,Dummy_Set_99)

step step_6 (M,C,B,Kc,Km,Key,Dummy_K,H,Pubx,Mpk,Puby,IMEIx,Dx,TDx,X,Dummy_Msk,G,SKc,K1,IMEIy,Dy,TDy,Y,SKm,K2,Dummy_SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,Set_97,Set_98,Set_99,SID,Msk) :=
 state_merchant(M,C,B,Kc,Km,Key,Dummy_K,H,Pubx,Mpk,Puby,1,IMEIx,Dx,TDx,X,Dummy_Msk,G,SKc,K1,IMEIy,Dy,TDy,Y,SKm,K2,Dummy_SKcm,Inv,Amt,Pay,R1,Succ,Bill,Payc,Set_97,Set_98,Set_99,SID).
 iknows(scrypt(Km,pair(Succ,pair(Bill,B))))
=[exists Msk]=>
 state_merchant(M,C,B,Kc,Km,Key,apply(H,pair(Dummy_SKcm,pair(IMEIy,Bill))),H,Pubx,Mpk,Puby,2,IMEIx,Dx,TDx,X,Msk,G,SKc,K1,IMEIy,Dy,TDy,Y,SKm,K2,exp(pair(Pubx,Y)),Inv,Amt,Pay,R1,Succ,Bill,Payc,Set_97,Set_98,Set_99,SID).
 iknows(scrypt(Dummy_K,pair(Succ,pair(Bill,Inv)))).
 request(B,M,bank_merchant_msk,Msk,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_client_bank_x (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,client_bank_x,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,client_bank_x,MGoal))
     /\ ((request(A1Goal,A2Goal,client_bank_x,MGoal,SID1)
           /\ request(A1Goal,A2Goal,client_bank_x,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_merchant_bank_y (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,merchant_bank_y,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,merchant_bank_y,MGoal))
     /\ ((request(A1Goal,A2Goal,merchant_bank_y,MGoal,SID1)
           /\ request(A1Goal,A2Goal,merchant_bank_y,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bank_client_msk (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bank_client_msk,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bank_client_msk,MGoal))
     /\ ((request(A1Goal,A2Goal,bank_client_msk,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bank_client_msk,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bank_merchant_msk (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bank_merchant_msk,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bank_merchant_msk,MGoal))
     /\ ((request(A1Goal,A2Goal,bank_merchant_msk,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bank_merchant_msk,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_client_bank_x (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,client_bank_x,MGoal,SID) &
 not(witness(A2Goal,A1Goal,client_bank_x,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_client_bank_x (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,client_bank_x,MGoal,SID1).
 request(A1Goal,A2Goal,client_bank_x,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_merchant_bank_y (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,merchant_bank_y,MGoal,SID) &
 not(witness(A2Goal,A1Goal,merchant_bank_y,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_merchant_bank_y (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,merchant_bank_y,MGoal,SID1).
 request(A1Goal,A2Goal,merchant_bank_y,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bank_client_msk (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bank_client_msk,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bank_client_msk,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bank_client_msk (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bank_client_msk,MGoal,SID1).
 request(A1Goal,A2Goal,bank_client_msk,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bank_merchant_msk (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bank_merchant_msk,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bank_merchant_msk,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bank_merchant_msk (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bank_merchant_msk,MGoal,SID1).
 request(A1Goal,A2Goal,bank_merchant_msk,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

