%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileaQ6RQk

section signature:

state_gwa: agent * agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * symmetric_key * symmetric_key * scrypt(symmetric_key,message) * scrypt(symmetric_key,symmetric_key) * set(agent) * set(agent) * nat -> fact
state_ilmaa: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * symmetric_key * scrypt(symmetric_key,message) * scrypt(symmetric_key,symmetric_key) * set(agent) * set(agent) * nat -> fact
state_ilmab: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * symmetric_key * scrypt(symmetric_key,message) * scrypt(symmetric_key,symmetric_key) * set(agent) * set(agent) * nat -> fact
state_gwb: agent * agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * symmetric_key * symmetric_key * scrypt(symmetric_key,symmetric_key) * message * message * scrypt(symmetric_key,message) * set(agent) * nat -> fact
state_mn: agent * agent * agent * symmetric_key * hash_func * nat * symmetric_key * text * text * text * text * scrypt(symmetric_key,text) * message * scrypt(symmetric_key,symmetric_key) * set(agent) * nat -> fact


section types:

Dummy_Sciphered, Sciphered: scrypt(symmetric_key,message)
authentication_ofGWAbyMN, tunC_secret, tunB_secret, tunA_secret, authentication_ofMNbyGWA, sk0_secret: protocol_id
Dummy_ESK2, ESK2: scrypt(symmetric_key,symmetric_key)
Dummy_M, Dummy_S, dummy_msg, MGoal, M, N, start, S: message
Dummy_Time, Time: scrypt(symmetric_key,text)
Dummy_T1, Dummy_PA, Dummy_DeviceID, Dummy_IDU, Dummy_PB, Dummy_T0, dummy_nonce, PA, PB, IDU, DeviceID, T0, T1: text
h, Hash: hash_func
Dummy_SK2, dummy_sk, sk0, sk0v2, sk0v3, tunA, tunB, tunC, SK1, SK2, SK0, TunC, TunB, TunA, Dummy_SK1: symmetric_key
Dummy_Set_55, Dummy_Set_25, ASGoal, Set_133, Set_132, Set_107, Set_105, Set_82, Set_80, Set_55, Set_25, Dummy_Set_133, Dummy_Set_132, Dummy_Set_107, Dummy_Set_105, Dummy_Set_82, Dummy_Set_80: set(agent)
A2Goal, A1Goal, iMobile_Node, iILMA_B, iGateway_B, iILMA_A, iGateway_A, MobileNode, ILMAA, GatewayA, GatewayB, ILMAB, i: agent
Dummy_State, 4, SID, Dummy_State2, 3, SID2, SID1, 41, 40, State, 32, 31, 30, 22, 21, 20, 13, 12, 11, 10, 18, 17, 16, 15, 2, 1, 0, 7, State2, 6, 5: nat
set_202, set_189, set_177, set_244, set_243, set_241, set_240, set_238, set_237, set_235, set_233, set_231, set_230, set_228, set_227, set_225, set_224, set_222, set_221, set_215, set_214, set_209, set_208, set_203: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(iMobile_Node).
 iknows(iGateway_B).
 iknows(iILMA_B).
 iknows(iILMA_A).
 iknows(iGateway_A).
 iknows(h).
 iknows(i).
 state_mn(iMobile_Node,iGateway_B,iGateway_A,sk0,h,0,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,scrypt(dummy_sk,dummy_nonce),dummy_msg,scrypt(dummy_sk,dummy_sk),set_177,3).
 state_gwb(iGateway_B,iMobile_Node,iGateway_A,iILMA_B,tunA,h,10,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,scrypt(dummy_sk,dummy_sk),dummy_msg,dummy_msg,scrypt(dummy_sk,dummy_msg),set_189,4).
 state_ilmab(iILMA_B,iGateway_B,iILMA_A,tunA,tunB,h,20,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,scrypt(dummy_sk,dummy_msg),scrypt(dummy_sk,dummy_sk),set_202,set_203,5).
 state_ilmaa(iILMA_A,iILMA_B,iGateway_A,tunB,tunC,h,30,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,scrypt(dummy_sk,dummy_msg),scrypt(dummy_sk,dummy_sk),set_208,set_209,6).
 state_gwa(iGateway_A,iMobile_Node,iILMA_A,iGateway_B,sk0,tunC,h,40,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,scrypt(dummy_sk,dummy_msg),scrypt(dummy_sk,dummy_sk),set_214,set_215,7).
 state_gwb(iGateway_B,i,iGateway_A,iILMA_B,tunA,h,10,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,scrypt(dummy_sk,dummy_sk),dummy_msg,dummy_msg,scrypt(dummy_sk,dummy_msg),set_222,10).
 state_ilmab(iILMA_B,iGateway_B,iILMA_A,tunA,tunB,h,20,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,scrypt(dummy_sk,dummy_msg),scrypt(dummy_sk,dummy_sk),set_224,set_225,11).
 state_ilmaa(iILMA_A,iILMA_B,iGateway_A,tunB,tunC,h,30,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,scrypt(dummy_sk,dummy_msg),scrypt(dummy_sk,dummy_sk),set_227,set_228,12).
 state_gwa(iGateway_A,i,iILMA_A,iGateway_B,sk0v2,tunC,h,40,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,scrypt(dummy_sk,dummy_msg),scrypt(dummy_sk,dummy_sk),set_230,set_231,13).
 state_mn(iMobile_Node,iGateway_B,i,sk0v3,h,0,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,scrypt(dummy_sk,dummy_nonce),dummy_msg,scrypt(dummy_sk,dummy_sk),set_233,15).
 state_gwb(iGateway_B,iMobile_Node,i,iILMA_B,tunA,h,10,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,scrypt(dummy_sk,dummy_sk),dummy_msg,dummy_msg,scrypt(dummy_sk,dummy_msg),set_235,16).
 state_ilmab(iILMA_B,iGateway_B,iILMA_A,tunA,tunB,h,20,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,scrypt(dummy_sk,dummy_msg),scrypt(dummy_sk,dummy_sk),set_237,set_238,17).
 state_ilmaa(iILMA_A,iILMA_B,i,tunB,tunC,h,30,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,scrypt(dummy_sk,dummy_msg),scrypt(dummy_sk,dummy_sk),set_240,set_241,18)


section rules:

step step_0 (MobileNode,GatewayB,GatewayA,SK0,Hash,SK2,Dummy_T0,T1,DeviceID,IDU,Time,Dummy_S,ESK2,Dummy_Set_25,SID,T0) :=
 state_mn(MobileNode,GatewayB,GatewayA,SK0,Hash,0,SK2,Dummy_T0,T1,DeviceID,IDU,Time,Dummy_S,ESK2,Dummy_Set_25,SID).
 iknows(start)
=[exists T0]=>
 state_mn(MobileNode,GatewayB,GatewayA,SK0,Hash,1,SK2,T0,T1,DeviceID,IDU,Time,apply(Hash,pair(DeviceID,T0)),ESK2,Dummy_Set_25,SID).
 iknows(pair(MobileNode,pair(GatewayB,pair(IDU,pair(DeviceID,pair(T0,scrypt(SK0,apply(Hash,pair(DeviceID,T0))))))))).
 secret(SK0,sk0_secret,Dummy_Set_25).
 witness(MobileNode,GatewayA,authentication_ofMNbyGWA,apply(Hash,pair(DeviceID,T0))).
 contains(MobileNode,Dummy_Set_25).
 contains(GatewayA,Dummy_Set_25)

step step_1 (MobileNode,GatewayB,GatewayA,SK0,Hash,SK2,T0,T1,DeviceID,IDU,Dummy_Time,S,Dummy_ESK2,Set_25,SID,Time,ESK2) :=
 state_mn(MobileNode,GatewayB,GatewayA,SK0,Hash,1,SK2,T0,T1,DeviceID,IDU,Dummy_Time,S,Dummy_ESK2,Set_25,SID).
 iknows(pair(GatewayB,pair(MobileNode,pair(Time,ESK2))))
 =>
 state_mn(MobileNode,GatewayB,GatewayA,SK0,Hash,2,SK2,T0,T1,DeviceID,IDU,Time,S,ESK2,Set_25,SID)

step step_2 (GatewayB,MobileNode,GatewayA,ILMAB,TunA,Hash,Dummy_PB,Dummy_IDU,Dummy_T0,Dummy_DeviceID,PA,T1,SK1,SK2,ESK2,M,N,Dummy_Sciphered,Dummy_Set_55,SID,PB,IDU,T0,DeviceID,Sciphered) :=
 state_gwb(GatewayB,MobileNode,GatewayA,ILMAB,TunA,Hash,10,Dummy_PB,Dummy_IDU,Dummy_T0,Dummy_DeviceID,PA,T1,SK1,SK2,ESK2,M,N,Dummy_Sciphered,Dummy_Set_55,SID).
 iknows(pair(MobileNode,pair(GatewayB,pair(IDU,pair(DeviceID,pair(T0,Sciphered))))))
=[exists PB]=>
 state_gwb(GatewayB,MobileNode,GatewayA,ILMAB,TunA,Hash,11,PB,IDU,T0,DeviceID,PA,T1,SK1,SK2,ESK2,M,N,Sciphered,Dummy_Set_55,SID).
 iknows(pair(GatewayB,pair(ILMAB,scrypt(TunA,pair(IDU,pair(DeviceID,pair(T0,pair(PB,Sciphered)))))))).
 secret(TunA,tunA_secret,Dummy_Set_55).
 contains(ILMAB,Dummy_Set_55).
 contains(GatewayB,Dummy_Set_55)

step step_3 (GatewayB,MobileNode,GatewayA,ILMAB,TunA,Hash,PB,IDU,T0,DeviceID,PA,T1,SK1,SK2,ESK2,Dummy_M,N,Sciphered,Set_55,SID,M) :=
 state_gwb(GatewayB,MobileNode,GatewayA,ILMAB,TunA,Hash,11,PB,IDU,T0,DeviceID,PA,T1,SK1,SK2,ESK2,Dummy_M,N,Sciphered,Set_55,SID).
 iknows(pair(GatewayA,pair(GatewayB,M)))
 =>
 state_gwb(GatewayB,MobileNode,GatewayA,ILMAB,TunA,Hash,12,PB,IDU,T0,DeviceID,PA,T1,SK1,SK2,ESK2,M,N,Sciphered,Set_55,SID)

step step_4 (GatewayB,MobileNode,GatewayA,ILMAB,TunA,Hash,PB,IDU,T0,DeviceID,Dummy_PA,Dummy_T1,SK1,Dummy_SK2,Dummy_ESK2,M,N,Sciphered,Set_55,SID,PA,T1,SK2,ESK2) :=
 state_gwb(GatewayB,MobileNode,GatewayA,ILMAB,TunA,Hash,12,PB,IDU,T0,DeviceID,Dummy_PA,Dummy_T1,SK1,Dummy_SK2,Dummy_ESK2,M,N,Sciphered,Set_55,SID).
 iknows(pair(ILMAB,pair(GatewayB,scrypt(TunA,pair(T1,pair(PA,pair(SK2,ESK2)))))))
 =>
 state_gwb(GatewayB,MobileNode,GatewayA,ILMAB,TunA,Hash,13,PB,IDU,T0,DeviceID,PA,T1,SK1,SK2,ESK2,M,N,Sciphered,Set_55,SID).
 iknows(pair(GatewayB,pair(MobileNode,pair(scrypt(SK2,T1),ESK2))))

step step_5 (ILMAB,GatewayB,ILMAA,TunA,TunB,Hash,Dummy_PB,Dummy_IDU,Dummy_DeviceID,Dummy_T0,T1,PA,SK2,Dummy_Sciphered,ESK2,Dummy_Set_80,Dummy_Set_82,SID,PB,IDU,DeviceID,T0,Sciphered) :=
 state_ilmab(ILMAB,GatewayB,ILMAA,TunA,TunB,Hash,20,Dummy_PB,Dummy_IDU,Dummy_DeviceID,Dummy_T0,T1,PA,SK2,Dummy_Sciphered,ESK2,Dummy_Set_80,Dummy_Set_82,SID).
 iknows(pair(GatewayB,pair(ILMAB,scrypt(TunA,pair(IDU,pair(DeviceID,pair(T0,pair(PB,Sciphered))))))))
 =>
 state_ilmab(ILMAB,GatewayB,ILMAA,TunA,TunB,Hash,21,PB,IDU,DeviceID,T0,T1,PA,SK2,Sciphered,ESK2,Dummy_Set_80,Dummy_Set_82,SID).
 iknows(pair(ILMAB,pair(ILMAA,scrypt(TunB,pair(IDU,pair(DeviceID,pair(T0,pair(PB,Sciphered)))))))).
 secret(TunA,tunA_secret,Dummy_Set_80).
 secret(TunB,tunB_secret,Dummy_Set_82).
 contains(ILMAB,Dummy_Set_80).
 contains(GatewayB,Dummy_Set_80).
 contains(ILMAB,Dummy_Set_82).
 contains(ILMAA,Dummy_Set_82)

step step_6 (ILMAB,GatewayB,ILMAA,TunA,TunB,Hash,PB,IDU,DeviceID,T0,Dummy_T1,Dummy_PA,Dummy_SK2,Sciphered,Dummy_ESK2,Set_80,Set_82,SID,T1,PA,SK2,ESK2) :=
 state_ilmab(ILMAB,GatewayB,ILMAA,TunA,TunB,Hash,21,PB,IDU,DeviceID,T0,Dummy_T1,Dummy_PA,Dummy_SK2,Sciphered,Dummy_ESK2,Set_80,Set_82,SID).
 iknows(pair(ILMAA,pair(ILMAB,scrypt(TunB,pair(T1,pair(PA,pair(SK2,ESK2)))))))
 =>
 state_ilmab(ILMAB,GatewayB,ILMAA,TunA,TunB,Hash,22,PB,IDU,DeviceID,T0,T1,PA,SK2,Sciphered,ESK2,Set_80,Set_82,SID).
 iknows(pair(ILMAB,pair(GatewayB,scrypt(TunA,pair(T1,pair(PA,pair(SK2,ESK2)))))))

step step_7 (ILMAA,ILMAB,GatewayA,TunB,TunC,Hash,Dummy_PB,Dummy_IDU,Dummy_DeviceID,Dummy_T0,T1,PA,SK2,Dummy_Sciphered,ESK2,Dummy_Set_105,Dummy_Set_107,SID,PB,IDU,DeviceID,T0,Sciphered) :=
 state_ilmaa(ILMAA,ILMAB,GatewayA,TunB,TunC,Hash,30,Dummy_PB,Dummy_IDU,Dummy_DeviceID,Dummy_T0,T1,PA,SK2,Dummy_Sciphered,ESK2,Dummy_Set_105,Dummy_Set_107,SID).
 iknows(pair(ILMAB,pair(ILMAA,scrypt(TunB,pair(IDU,pair(DeviceID,pair(T0,pair(PB,Sciphered))))))))
 =>
 state_ilmaa(ILMAA,ILMAB,GatewayA,TunB,TunC,Hash,31,PB,IDU,DeviceID,T0,T1,PA,SK2,Sciphered,ESK2,Dummy_Set_105,Dummy_Set_107,SID).
 iknows(pair(ILMAA,pair(GatewayA,scrypt(TunC,pair(IDU,pair(DeviceID,pair(T0,pair(PB,Sciphered)))))))).
 secret(TunB,tunB_secret,Dummy_Set_105).
 secret(TunC,tunC_secret,Dummy_Set_107).
 contains(ILMAB,Dummy_Set_105).
 contains(ILMAA,Dummy_Set_105).
 contains(ILMAA,Dummy_Set_107).
 contains(GatewayA,Dummy_Set_107)

step step_8 (ILMAA,ILMAB,GatewayA,TunB,TunC,Hash,PB,IDU,DeviceID,T0,Dummy_T1,Dummy_PA,Dummy_SK2,Sciphered,Dummy_ESK2,Set_105,Set_107,SID,T1,PA,SK2,ESK2) :=
 state_ilmaa(ILMAA,ILMAB,GatewayA,TunB,TunC,Hash,31,PB,IDU,DeviceID,T0,Dummy_T1,Dummy_PA,Dummy_SK2,Sciphered,Dummy_ESK2,Set_105,Set_107,SID).
 iknows(pair(GatewayA,pair(ILMAA,scrypt(TunC,pair(T1,pair(PA,pair(SK2,ESK2)))))))
 =>
 state_ilmaa(ILMAA,ILMAB,GatewayA,TunB,TunC,Hash,32,PB,IDU,DeviceID,T0,T1,PA,SK2,Sciphered,ESK2,Set_105,Set_107,SID).
 iknows(pair(ILMAA,pair(ILMAB,scrypt(TunB,pair(T1,pair(PA,pair(SK2,ESK2)))))))

step step_9 (GatewayA,MobileNode,ILMAA,GatewayB,SK0,TunC,Hash,Dummy_PA,Dummy_PB,Dummy_IDU,Dummy_DeviceID,Dummy_T0,Dummy_T1,Dummy_SK1,Dummy_SK2,Dummy_Sciphered,Dummy_ESK2,Dummy_Set_132,Dummy_Set_133,SID,PA,PB,IDU,DeviceID,T0,T1,SK2) :=
 state_gwa(GatewayA,MobileNode,ILMAA,GatewayB,SK0,TunC,Hash,40,Dummy_PA,Dummy_PB,Dummy_IDU,Dummy_DeviceID,Dummy_T0,Dummy_T1,Dummy_SK1,Dummy_SK2,Dummy_Sciphered,Dummy_ESK2,Dummy_Set_132,Dummy_Set_133,SID).
 iknows(pair(ILMAA,pair(GatewayA,scrypt(TunC,pair(IDU,pair(DeviceID,pair(T0,pair(PB,scrypt(SK0,apply(Hash,pair(DeviceID,T0)))))))))))
=[exists T1,SK2,PA]=>
 state_gwa(GatewayA,MobileNode,ILMAA,GatewayB,SK0,TunC,Hash,41,PA,PB,IDU,DeviceID,T0,T1,pair(PB,PA),SK2,scrypt(SK0,apply(Hash,pair(DeviceID,T0))),scrypt(SK0,SK2),Dummy_Set_132,Dummy_Set_133,SID).
 secret(SK0,sk0_secret,Dummy_Set_132).
 secret(TunC,tunC_secret,Dummy_Set_133).
 request(GatewayA,MobileNode,authentication_ofMNbyGWA,apply(Hash,pair(DeviceID,T0)),SID).
 iknows(pair(GatewayA,pair(GatewayB,scrypt(pair(PB,PA),pair(T1,pair(PA,pair(SK2,scrypt(SK0,SK2)))))))).
 iknows(pair(GatewayA,pair(ILMAA,scrypt(TunC,pair(T1,pair(PA,pair(SK2,scrypt(SK0,SK2)))))))).
 contains(MobileNode,Dummy_Set_132).
 contains(GatewayA,Dummy_Set_132).
 contains(ILMAA,Dummy_Set_133).
 contains(GatewayA,Dummy_Set_133)


section properties:

property secrecy_of_sk0_secret (MGoal,ASGoal) :=
 [] ((secret(MGoal,sk0_secret,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_tunA_secret (MGoal,ASGoal) :=
 [] ((secret(MGoal,tunA_secret,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_tunB_secret (MGoal,ASGoal) :=
 [] ((secret(MGoal,tunB_secret,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_tunC_secret (MGoal,ASGoal) :=
 [] ((secret(MGoal,tunC_secret,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_authentication_ofMNbyGWA (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,authentication_ofMNbyGWA,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,authentication_ofMNbyGWA,MGoal))
     /\ ((request(A1Goal,A2Goal,authentication_ofMNbyGWA,MGoal,SID1)
           /\ request(A1Goal,A2Goal,authentication_ofMNbyGWA,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sk0_secret (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sk0_secret,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_tunA_secret (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,tunA_secret,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_tunB_secret (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,tunB_secret,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_tunC_secret (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,tunC_secret,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_authentication_ofMNbyGWA (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,authentication_ofMNbyGWA,MGoal,SID) &
 not(witness(A2Goal,A1Goal,authentication_ofMNbyGWA,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_authentication_ofMNbyGWA (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,authentication_ofMNbyGWA,MGoal,SID1).
 request(A1Goal,A2Goal,authentication_ofMNbyGWA,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

