%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileajRufe

section signature:

state_user: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(text) * set(text) * nat -> fact
state_scpc: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(text) * nat -> fact
state_provider: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(text) * nat -> fact


section types:

ASGoal: set(agent)
MGoal, start: message
alice_bob_n1, bob_alice_n2, alice_bob_tj, subs1, subs2, subs3, subs4, subs5, subs6: protocol_id
Set_147, Set_146, Set_145, Set_104, Set_103, Set_60, Set_56, Dummy_Set_147, Dummy_Set_146, Dummy_Set_145, Dummy_Set_104, Dummy_Set_103, Dummy_Set_60, Dummy_Set_56: set(text)
sksui, skspj, SKsui, SKspj: symmetric_key
f, bh, h, F, BH, H, dummy_hash: hash_func
tj, qj, g, idj, k1, p, c1, ks, ids, idi, ri, req, n1, yj, xi, n2, k3, c2, rep, si, conf, k4, pwi, pwri, rbi, auth, zi, bi, Tj, Qj, G, IDj, K1, P, C1, Ks, IDs, IDi, Ri, Req, N1, Yj, Xi, N2, K3, C2, Rep, Si, Conf, K4, PWi, PWRi, RBi, Auth, Zi, Bi, Dummy_Zi, Dummy_Auth, Dummy_K4, Dummy_Req, Dummy_C1, Dummy_K1, Dummy_RBi, Dummy_PWRi, Dummy_Conf, Dummy_Rep, Dummy_C2, Dummy_K3, Dummy_N2, Dummy_Xi, Dummy_Yj, Dummy_N1, Dummy_Ri, Dummy_Qj, Dummy_Tj, dummy_nonce: text
set_267, set_266, set_265, set_263, set_262, set_260, set_259, set_257, set_256, set_255, set_253, set_252, set_250, set_249, set_235, set_234, set_233, set_228, set_227, set_208, set_207: set
4, State, 13, 3, 12, 2, 11, 9, 1, 0, 8, 7, 5, SID, Dummy_State, SID2, SID1: nat
A1Goal, s, pj, ui, S, Pj, Ui, i, A2Goal: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(s).
 iknows(pj).
 iknows(ui).
 iknows(h).
 iknows(bh).
 iknows(f).
 iknows(g).
 iknows(p).
 iknows(i).
 state_provider(pj,s,ui,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_207,set_208,3).
 state_scpc(s,pj,ui,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_227,set_228,4).
 state_user(ui,s,pj,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_233,set_234,set_235,5).
 state_provider(pj,s,ui,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_249,set_250,7).
 state_scpc(s,pj,ui,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_252,set_253,8).
 state_user(ui,s,pj,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_255,set_256,set_257,9).
 state_provider(pj,s,ui,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_259,set_260,11).
 state_scpc(s,pj,ui,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_262,set_263,12).
 state_user(ui,s,pj,skspj,sksui,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_265,set_266,set_267,13)


section rules:

step step_0 (Pj,S,Ui,SKspj,SKsui,H,BH,Dummy_Tj,Dummy_Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Bi,Ri,Req,N1,Yj,Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,F,Dummy_Set_56,Set_60,SID,Tj) :=
 state_provider(Pj,S,Ui,SKspj,SKsui,H,BH,0,Dummy_Tj,Dummy_Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Bi,Ri,Req,N1,Yj,Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,F,Dummy_Set_56,Set_60,SID).
 iknows(start)
=[exists Tj]=>
 state_provider(Pj,S,Ui,SKspj,SKsui,H,BH,1,Tj,apply(F,pair(Tj,G)),G,IDj,K1,P,C1,Ks,IDs,IDi,Bi,Ri,Req,N1,Yj,Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,F,Dummy_Set_56,Set_60,SID).
 iknows(scrypt(SKspj,pair(IDj,apply(F,pair(Tj,G))))).
 secret(Dummy_Set_56,subs6,Pj).
 witness(Pj,S,alice_bob_tj,Tj).
 contains(Tj,Dummy_Set_56)

step step_1 (Pj,S,Ui,SKspj,SKsui,H,BH,Dummy_Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Bi,Dummy_Ri,Req,Dummy_N1,Dummy_Yj,Dummy_Xi,Dummy_N2,Dummy_K3,Dummy_C2,Dummy_Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,F,Set_56,Dummy_Set_60,SID,Tj,Ri,N1,Yj,Xi,N2) :=
 state_provider(Pj,S,Ui,SKspj,SKsui,H,BH,1,Dummy_Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Bi,Dummy_Ri,Req,Dummy_N1,Dummy_Yj,Dummy_Xi,Dummy_N2,Dummy_K3,Dummy_C2,Dummy_Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,F,Set_56,Dummy_Set_60,SID).
 iknows(pair(apply(H,pair(IDj,pair(IDi,pair(apply(F,pair(Xi,apply(F,pair(apply(H,pair(Ks,IDs)),G)))),pair(scrypt(apply(F,pair(Dummy_Xi,apply(F,pair(Tj,G)))),pair(IDi,apply(F,pair(apply(H,pair(Ks,pair(IDs,pair(IDi,pair(apply(H,pair(IDi,pair(apply(BH,Bi),Ri))),G))))),N1)))),pair(N1,apply(F,pair(Dummy_Xi,apply(F,pair(Tj,G)))))))))),pair(scrypt(apply(F,pair(Dummy_Xi,apply(F,pair(Tj,G)))),pair(IDi,apply(F,pair(apply(H,pair(Ks,pair(IDs,pair(IDi,pair(apply(H,pair(IDi,pair(apply(BH,Bi),Ri))),G))))),N1)))),apply(F,pair(Xi,apply(F,pair(apply(H,pair(Ks,IDs)),G)))))))
=[exists N2,Yj]=>
 state_provider(Pj,S,Ui,SKspj,SKsui,H,BH,2,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Bi,Ri,Req,N1,Yj,Xi,N2,apply(F,pair(Yj,apply(F,pair(Xi,pair(Tj,G))))),scrypt(apply(F,pair(Yj,apply(F,pair(Xi,pair(Tj,G))))),N2),apply(H,pair(IDi,pair(IDj,pair(apply(F,pair(Yj,apply(F,pair(apply(H,pair(Ks,IDs)),G)))),pair(scrypt(apply(F,pair(Yj,apply(F,pair(Xi,pair(Tj,G))))),N2),pair(N2,apply(F,pair(Yj,apply(F,pair(Xi,pair(Tj,G))))))))))),Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,F,Set_56,Dummy_Set_60,SID).
 secret(Dummy_Set_60,subs3,S).
 iknows(pair(apply(H,pair(IDi,pair(IDj,pair(apply(F,pair(Yj,apply(F,pair(apply(H,pair(Ks,IDs)),G)))),pair(scrypt(apply(F,pair(Yj,apply(F,pair(Xi,pair(Tj,G))))),N2),pair(N2,apply(F,pair(Yj,apply(F,pair(Xi,pair(Tj,G))))))))))),pair(scrypt(apply(F,pair(Yj,apply(F,pair(Xi,pair(Tj,G))))),N2),apply(F,pair(Yj,apply(F,pair(apply(H,pair(Ks,IDs)),G))))))).
 witness(Pj,Ui,bob_alice_n2,N2).
 contains(Ks,Dummy_Set_60)

step step_2 (Pj,S,Ui,SKspj,SKsui,H,BH,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Bi,Ri,Req,Dummy_N1,Dummy_Yj,Dummy_Xi,N2,K3,C2,Rep,Si,Dummy_Conf,K4,PWi,PWRi,RBi,Auth,Zi,F,Set_56,Set_60,SID,N1,Yj,Xi) :=
 state_provider(Pj,S,Ui,SKspj,SKsui,H,BH,2,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Bi,Ri,Req,Dummy_N1,Dummy_Yj,Dummy_Xi,N2,K3,C2,Rep,Si,Dummy_Conf,K4,PWi,PWRi,RBi,Auth,Zi,F,Set_56,Set_60,SID).
 iknows(apply(H,pair(apply(F,pair(Si,apply(F,pair(Yj,apply(F,pair(apply(H,pair(Ks,IDs)),G)))))),pair(N1,apply(F,pair(Xi,apply(F,pair(Yj,apply(F,pair(apply(H,pair(Ks,IDs)),G))))))))))
 =>
 state_provider(Pj,S,Ui,SKspj,SKsui,H,BH,3,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Bi,Ri,Req,N1,Yj,Xi,N2,K3,C2,Rep,Si,apply(H,pair(IDi,pair(IDj,pair(N1,pair(N2,K3))))),K4,PWi,PWRi,RBi,Auth,Zi,F,Set_56,Set_60,SID).
 iknows(apply(H,pair(IDi,pair(IDj,pair(N1,pair(N2,K3)))))).
 request(Ui,Pj,alice_bob_n1,N1,SID)

step step_3 (S,Pj,Ui,SKspj,SKsui,H,BH,Dummy_Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Ri,Req,N1,Yj,Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,Bi,F,Dummy_Set_103,Set_104,SID,Tj) :=
 state_scpc(S,Pj,Ui,SKspj,SKsui,H,BH,0,Dummy_Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Ri,Req,N1,Yj,Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,Bi,F,Dummy_Set_103,Set_104,SID).
 iknows(scrypt(SKspj,pair(IDj,apply(F,pair(Tj,G)))))
 =>
 state_scpc(S,Pj,Ui,SKspj,SKsui,H,BH,1,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Ri,Req,N1,Yj,Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,Bi,F,Dummy_Set_103,Set_104,SID).
 secret(Dummy_Set_103,subs1,Ui).
 contains(PWi,Dummy_Set_103).
 contains(Bi,Dummy_Set_103)

step step_4 (S,Pj,Ui,SKspj,SKsui,H,BH,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Dummy_Ri,Req,N1,Yj,Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,Bi,F,Set_103,Dummy_Set_104,SID,Ri) :=
 state_scpc(S,Pj,Ui,SKspj,SKsui,H,BH,1,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Dummy_Ri,Req,N1,Yj,Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,Bi,F,Set_103,Dummy_Set_104,SID).
 iknows(scrypt(SKsui,pair(IDi,pair(apply(H,pair(IDi,pair(apply(H,Bi),Ri))),apply(H,pair(IDi,pair(PWi,Ri)))))))
 =>
 state_scpc(S,Pj,Ui,SKspj,SKsui,H,BH,2,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Ri,Req,N1,Yj,Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,Bi,F,Set_103,Dummy_Set_104,SID).
 secret(Dummy_Set_104,subs2,Ui).
 iknows(scrypt(SKsui,pair(xor(Si,apply(H,pair(IDi,pair(apply(H,pair(IDi,pair(apply(BH,Bi),Ri))),apply(H,pair(IDi,pair(PWi,Ri))))))),pair(apply(H,pair(Si,pair(apply(H,pair(IDi,pair(apply(BH,Bi),Ri))),apply(H,pair(IDi,pair(PWi,Ri)))))),pair(apply(F,pair(apply(H,pair(Ks,pair(IDs,pair(IDi,apply(H,pair(IDi,pair(apply(BH,Bi),Ri))))))),G)),pair(apply(H,pair(IDi,pair(apply(BH,Bi),Ri))),pair(apply(F,pair(apply(H,pair(Ks,IDs)),G)),pair(H,pair(BH,P))))))))).
 request(Pj,S,alice_bob_tj,Tj,SID).
 contains(Ri,Dummy_Set_104).
 contains(Si,Dummy_Set_104)

step step_5 (Ui,S,Pj,SKspj,SKsui,H,BH,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Dummy_Ri,Req,N1,Yj,Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,Dummy_PWRi,Dummy_RBi,Auth,Zi,Bi,F,Dummy_Set_145,Set_146,Set_147,SID,Ri) :=
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,0,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Dummy_Ri,Req,N1,Yj,Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,Dummy_PWRi,Dummy_RBi,Auth,Zi,Bi,F,Dummy_Set_145,Set_146,Set_147,SID).
 iknows(start)
=[exists Ri]=>
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,1,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Ri,Req,N1,Yj,Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,apply(H,pair(IDi,pair(PWi,Ri))),apply(BH,pair(IDi,pair(Bi,Ri))),Auth,Zi,Bi,F,Dummy_Set_145,Set_146,Set_147,SID).
 secret(Dummy_Set_145,subs1,Ui).
 iknows(scrypt(SKsui,pair(IDi,pair(apply(BH,pair(IDi,pair(Bi,Ri))),apply(H,pair(IDi,pair(PWi,Ri))))))).
 contains(PWi,Dummy_Set_145).
 contains(Bi,Dummy_Set_145)

step step_6 (Ui,S,Pj,SKspj,SKsui,H,BH,Tj,Qj,G,IDj,Dummy_K1,P,Dummy_C1,Ks,IDs,IDi,Dummy_Ri,Dummy_Req,Dummy_N1,Yj,Dummy_Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,Bi,F,Set_145,Dummy_Set_146,Dummy_Set_147,SID,Ri,N1,Xi) :=
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,1,Tj,Qj,G,IDj,Dummy_K1,P,Dummy_C1,Ks,IDs,IDi,Dummy_Ri,Dummy_Req,Dummy_N1,Yj,Dummy_Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,Bi,F,Set_145,Dummy_Set_146,Dummy_Set_147,SID).
 iknows(scrypt(SKsui,pair(xor(Si,apply(H,pair(IDi,pair(apply(H,pair(IDi,pair(apply(BH,Bi),Ri))),apply(H,pair(IDi,pair(PWi,Ri))))))),pair(apply(H,pair(Si,pair(apply(H,pair(IDi,pair(apply(BH,Bi),Ri))),apply(H,pair(IDi,pair(PWi,Ri)))))),pair(apply(F,pair(apply(H,pair(Ks,pair(IDs,pair(IDi,apply(H,pair(IDi,pair(apply(BH,Bi),Ri))))))),G)),pair(apply(H,pair(IDi,pair(apply(BH,Bi),Ri))),pair(apply(F,pair(apply(H,pair(Ks,IDs)),G)),pair(H,pair(BH,P)))))))))
=[exists Xi,N1]=>
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,2,Tj,Qj,G,IDj,apply(F,pair(Xi,apply(F,pair(Tj,G)))),P,scrypt(apply(F,pair(Xi,apply(F,pair(Tj,G)))),pair(IDi,pair(apply(F,pair(apply(H,pair(Ks,pair(IDs,pair(IDi,apply(H,pair(IDi,pair(apply(BH,Bi),Ri))))))),G)),N1))),Ks,IDs,IDi,Ri,apply(H,pair(IDj,pair(IDi,pair(apply(F,pair(Xi,apply(F,pair(apply(H,pair(Ks,IDs)),G)))),pair(scrypt(apply(F,pair(Xi,apply(F,pair(Tj,G)))),pair(IDi,pair(apply(F,pair(apply(H,pair(Ks,pair(IDs,pair(IDi,apply(H,pair(IDi,pair(apply(BH,Bi),Ri))))))),G)),N1))),pair(N1,apply(F,pair(Xi,apply(F,pair(Tj,G)))))))))),N1,Yj,Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,Bi,F,Set_145,Dummy_Set_146,Dummy_Set_147,SID).
 secret(Dummy_Set_146,subs2,Ui).
 iknows(pair(apply(H,pair(IDj,pair(IDi,pair(apply(F,pair(Xi,apply(F,pair(apply(H,pair(Ks,IDs)),G)))),pair(scrypt(apply(F,pair(Xi,apply(F,pair(Tj,G)))),pair(IDi,pair(apply(F,pair(apply(H,pair(Ks,pair(IDs,pair(IDi,apply(H,pair(IDi,pair(apply(BH,Bi),Ri))))))),G)),N1))),pair(N1,apply(F,pair(Xi,apply(F,pair(Tj,G)))))))))),pair(scrypt(apply(F,pair(Xi,apply(F,pair(Tj,G)))),pair(IDi,pair(apply(F,pair(apply(H,pair(Ks,pair(IDs,pair(IDi,apply(H,pair(IDi,pair(apply(BH,Bi),Ri))))))),G)),N1))),apply(F,pair(Xi,apply(F,pair(apply(H,pair(Ks,IDs)),G))))))).
 secret(Dummy_Set_147,subs3,S).
 witness(Ui,Pj,alice_bob_n1,N1).
 contains(Ri,Dummy_Set_146).
 contains(Si,Dummy_Set_146).
 contains(Ks,Dummy_Set_147)

step step_7 (Ui,S,Pj,SKspj,SKsui,H,BH,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Ri,Req,N1,Dummy_Yj,Dummy_Xi,Dummy_N2,K3,C2,Rep,Si,Conf,Dummy_K4,PWi,PWRi,RBi,Dummy_Auth,Dummy_Zi,Bi,F,Set_145,Set_146,Set_147,SID,Yj,Xi,N2) :=
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,2,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Ri,Req,N1,Dummy_Yj,Dummy_Xi,Dummy_N2,K3,C2,Rep,Si,Conf,Dummy_K4,PWi,PWRi,RBi,Dummy_Auth,Dummy_Zi,Bi,F,Set_145,Set_146,Set_147,SID).
 iknows(pair(apply(H,pair(IDi,pair(IDj,pair(apply(F,pair(Yj,apply(F,pair(apply(H,pair(Ks,IDs)),G)))),pair(scrypt(apply(F,pair(Dummy_Yj,apply(F,pair(Xi,pair(Tj,G))))),N2),pair(N2,apply(F,pair(Dummy_Yj,apply(F,pair(Xi,pair(Tj,G))))))))))),pair(scrypt(apply(F,pair(Dummy_Yj,apply(F,pair(Xi,pair(Tj,G))))),N2),apply(F,pair(Yj,apply(F,pair(apply(H,pair(Ks,IDs)),G)))))))
 =>
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,3,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Ri,Req,N1,Yj,Xi,N2,K3,C2,Rep,Si,Conf,apply(F,pair(Xi,apply(F,pair(Yj,apply(F,pair(apply(H,pair(Ks,IDs)),G)))))),PWi,PWRi,RBi,apply(H,pair(apply(F,pair(Si,apply(F,pair(Yj,apply(F,pair(apply(H,pair(Ks,IDs)),G)))))),pair(N1,apply(F,pair(Xi,apply(F,pair(Yj,apply(F,pair(apply(H,pair(Ks,IDs)),G))))))))),apply(F,pair(Si,apply(F,pair(Yj,apply(F,pair(apply(H,pair(Ks,IDs)),G)))))),Bi,F,Set_145,Set_146,Set_147,SID).
 iknows(pair(apply(H,pair(apply(F,pair(Si,apply(F,pair(Yj,apply(F,pair(apply(H,pair(Ks,IDs)),G)))))),pair(N1,apply(F,pair(Xi,apply(F,pair(Yj,apply(F,pair(apply(H,pair(Ks,IDs)),G))))))))),apply(F,pair(Si,apply(F,pair(Yj,apply(F,pair(apply(H,pair(Ks,IDs)),G))))))))

step step_8 (Ui,S,Pj,SKspj,SKsui,H,BH,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Ri,Req,Dummy_N1,Yj,Dummy_Xi,Dummy_N2,K3,C2,Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,Bi,F,Set_145,Set_146,Set_147,SID,N1,Xi,N2) :=
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,3,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Ri,Req,Dummy_N1,Yj,Dummy_Xi,Dummy_N2,K3,C2,Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,Bi,F,Set_145,Set_146,Set_147,SID).
 iknows(apply(H,pair(IDi,pair(IDj,pair(N1,pair(N2,apply(F,pair(Yj,apply(F,pair(Xi,pair(Tj,G)))))))))))
 =>
 state_user(Ui,S,Pj,SKspj,SKsui,H,BH,4,Tj,Qj,G,IDj,K1,P,C1,Ks,IDs,IDi,Ri,Req,N1,Yj,Xi,N2,K3,C2,Rep,Si,Conf,K4,PWi,PWRi,RBi,Auth,Zi,Bi,F,Set_145,Set_146,Set_147,SID).
 request(Pj,Ui,bob_alice_n2,N2,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob_tj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_tj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_tj,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_tj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_tj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_alice_bob_n1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_n1,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_n2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_n2,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob_tj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_tj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_tj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_tj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_tj,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_tj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_alice_bob_n1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_n1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_n1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_n2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_n2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_n2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

