%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileZcR8ea

section signature:

state_smartmeter: agent * agent * text * text * text * message * hash_func * nat * text * text * symmetric_key * message * message * message * message * message * message * message * message * message * set(agent) * set(agent) * set(agent) * nat -> fact
state_masterstation: agent * agent * message * text * text * text * text * hash_func * nat * symmetric_key * message * message * message * message * message * message * message * message * message * text * set(agent) * set(agent) * nat -> fact


section types:

rsm, ri, qsk, masterstation_smartmeter_auk, smartmeter_masterstation_rsm, smartmeter_masterstation_h, masterstation_smartmeter_m: protocol_id
ASGoal, Set_73, Set_72, Set_70, Set_41, Set_38, Dummy_Set_73, Dummy_Set_72, Dummy_Set_70, Dummy_Set_41, Dummy_Set_38: set(agent)
hsh, Hsh: hash_func
pow, dms, g, reg, Dsm, Rsm, Reg, G, Pow, Dummy_Dsm, Dummy_Rsm, Dummy_Pow, Dms, dummy_nonce: text
MGoal, L, M, Md, Aum, Auk, Qsk, Ri, Sk, Qms, N, start, Dummy_Qms, Dummy_Md, Dummy_Qsm, Qsm, Dummy_Sk, Dummy_Ri, Dummy_Qsk, Dummy_Auk, Dummy_Aum, Dummy_M, Dummy_L, dummy_msg: message
n, kism, kmsi, H, Dummy_H, dummy_sk: symmetric_key
set_126, set_125, set_124, set_104, set_103: set
A2Goal, A1Goal, ms, SM, MS, sm, i: agent
SID, 5, 3, State, 4, 2, 1, 0, Dummy_State, SID2, SID1: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(sm).
 iknows(ms).
 iknows(kism).
 iknows(kmsi).
 iknows(i).
 state_masterstation(ms,sm,n,dms,g,reg,pow,hsh,0,dummy_sk,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_nonce,set_103,set_104,3).
 state_smartmeter(sm,ms,reg,g,pow,n,hsh,1,dummy_nonce,dummy_nonce,dummy_sk,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_124,set_125,set_126,4)


section rules:

step step_0 (MS,SM,N,Dms,G,Reg,Pow,Hsh,H,Dummy_L,Dummy_M,Md,Auk,Qsk,Ri,Sk,Qsm,Dummy_Aum,Rsm,Set_38,Set_41,SID) :=
 state_masterstation(MS,SM,N,Dms,G,Reg,Pow,Hsh,0,H,Dummy_L,Dummy_M,Md,Auk,Qsk,Ri,Sk,Qsm,Dummy_Aum,Rsm,Set_38,Set_41,SID).
 iknows(start)
 =>
 state_masterstation(MS,SM,N,Dms,G,Reg,Pow,Hsh,2,H,apply(Hsh,pair(sm,Reg)),exp(exp(G,Dms),apply(Hsh,pair(sm,Reg))),Md,Auk,Qsk,Ri,Sk,Qsm,apply(Hsh,pair(exp(exp(G,Dms),apply(Hsh,pair(sm,Reg))),N)),Rsm,Set_38,Set_41,SID).
 iknows(pair(exp(exp(G,Dms),apply(Hsh,pair(sm,Reg))),apply(Hsh,pair(exp(exp(G,Dms),apply(Hsh,pair(sm,Reg))),N))))

step step_1 (MS,SM,N,Dms,G,Reg,Dummy_Pow,Hsh,Dummy_H,L,M,Md,Dummy_Auk,Dummy_Qsk,Dummy_Ri,Dummy_Sk,Dummy_Qsm,Aum,Dummy_Rsm,Dummy_Set_38,Dummy_Set_41,SID,H,Auk,Rsm) :=
 state_masterstation(MS,SM,N,Dms,G,Reg,Dummy_Pow,Hsh,2,Dummy_H,L,M,Md,Dummy_Auk,Dummy_Qsk,Dummy_Ri,Dummy_Sk,Dummy_Qsm,Aum,Dummy_Rsm,Dummy_Set_38,Dummy_Set_41,SID).
 iknows(pair(scrypt(H,pair(H,pair(xor(Rsm,apply(Hsh,N)),pair(apply(Hsh,M),Auk)))),MS))
 =>
 state_masterstation(MS,SM,N,Dms,G,Reg,apply(Hsh,Dummy_Pow),Hsh,4,H,L,M,Md,Auk,exp(exp(exp(H,L),inv(L)),Dms),xor(Dummy_Rsm,apply(Hsh,Dummy_Pow)),apply(Hsh,pair(exp(exp(exp(H,L),inv(L)),Dms),xor(Dummy_Rsm,apply(Hsh,Dummy_Pow)))),exp(exp(H,L),inv(L)),Aum,Rsm,Dummy_Set_38,Dummy_Set_41,SID).
 iknows(pair(scrypt(H,apply(Hsh,pair(Rsm,pair(H,N)))),SM)).
 secret(exp(exp(exp(H,L),inv(L)),Dms),qsk,Dummy_Set_38).
 secret(xor(Dummy_Rsm,apply(Hsh,Dummy_Pow)),ri,Dummy_Set_41).
 witness(MS,SM,smartmeter_masterstation_rsm,Rsm).
 witness(MS,SM,smartmeter_masterstation_h,H).
 request(MS,SM,masterstation_smartmeter_auk,Auk,SID).
 request(MS,SM,masterstation_smartmeter_m,M,SID).
 contains(SM,Dummy_Set_38).
 contains(MS,Dummy_Set_38).
 contains(SM,Dummy_Set_41).
 contains(MS,Dummy_Set_41)

step step_2 (SM,MS,Reg,G,Pow,N,Hsh,Dummy_Dsm,Dummy_Rsm,Dummy_H,Dummy_L,Dummy_M,Dummy_Md,Dummy_Aum,Dummy_Auk,Qsk,Ri,Sk,Qms,Dummy_Set_70,Set_72,Set_73,SID,Dsm,Rsm,M,Aum) :=
 state_smartmeter(SM,MS,Reg,G,Pow,N,Hsh,1,Dummy_Dsm,Dummy_Rsm,Dummy_H,Dummy_L,Dummy_M,Dummy_Md,Dummy_Aum,Dummy_Auk,Qsk,Ri,Sk,Qms,Dummy_Set_70,Set_72,Set_73,SID).
 iknows(pair(M,Aum))
=[exists Rsm,Dsm]=>
 state_smartmeter(SM,MS,Reg,G,Pow,N,Hsh,3,Dsm,Rsm,exp(exp(G,Dsm),apply(Hsh,pair(sm,reg))),apply(Hsh,pair(sm,reg)),M,exp(M,Dsm),Aum,apply(Hsh,pair(exp(exp(G,Dsm),apply(Hsh,pair(sm,reg))),pair(Rsm,N))),Qsk,Ri,Sk,Qms,Dummy_Set_70,Set_72,Set_73,SID).
 secret(Rsm,rsm,Dummy_Set_70).
 witness(SM,MS,masterstation_smartmeter_auk,Dummy_Auk).
 iknows(pair(scrypt(exp(exp(G,Dsm),apply(Hsh,pair(sm,reg))),pair(exp(exp(G,Dsm),apply(Hsh,pair(sm,reg))),pair(xor(Rsm,apply(Hsh,N)),pair(apply(Hsh,M),apply(Hsh,pair(exp(exp(G,Dsm),apply(Hsh,pair(sm,reg))),pair(Rsm,N))))))),MS)).
 witness(SM,MS,masterstation_smartmeter_m,M).
 contains(SM,Dummy_Set_70).
 contains(MS,Dummy_Set_70)

step step_3 (SM,MS,Reg,G,Dummy_Pow,N,Hsh,Dsm,Rsm,H,L,M,Md,Aum,Auk,Dummy_Qsk,Dummy_Ri,Dummy_Sk,Dummy_Qms,Set_70,Dummy_Set_72,Dummy_Set_73,SID) :=
 state_smartmeter(SM,MS,Reg,G,Dummy_Pow,N,Hsh,3,Dsm,Rsm,H,L,M,Md,Aum,Auk,Dummy_Qsk,Dummy_Ri,Dummy_Sk,Dummy_Qms,Set_70,Dummy_Set_72,Dummy_Set_73,SID).
 iknows(pair(scrypt(H,apply(Hsh,pair(Rsm,pair(H,N)))),SM))
 =>
 state_smartmeter(SM,MS,Reg,G,apply(Hsh,Dummy_Pow),N,Hsh,5,Dsm,Rsm,H,L,M,Md,Aum,Auk,exp(exp(exp(M,L),inv(L)),Dsm),xor(Rsm,apply(Hsh,Dummy_Pow)),apply(Hsh,pair(exp(exp(exp(M,L),inv(L)),Dsm),xor(Rsm,apply(Hsh,Dummy_Pow)))),exp(exp(M,L),inv(L)),Set_70,Dummy_Set_72,Dummy_Set_73,SID).
 secret(exp(exp(exp(M,L),inv(L)),Dsm),qsk,Dummy_Set_72).
 secret(xor(Rsm,apply(Hsh,Dummy_Pow)),ri,Dummy_Set_73).
 request(SM,MS,smartmeter_masterstation_rsm,Rsm,SID).
 request(SM,MS,smartmeter_masterstation_h,H,SID).
 contains(SM,Dummy_Set_72).
 contains(MS,Dummy_Set_72).
 contains(SM,Dummy_Set_73).
 contains(MS,Dummy_Set_73)


section properties:

property secrecy_of_rsm (MGoal,ASGoal) :=
 [] ((secret(MGoal,rsm,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_ri (MGoal,ASGoal) :=
 [] ((secret(MGoal,ri,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_qsk (MGoal,ASGoal) :=
 [] ((secret(MGoal,qsk,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_masterstation_smartmeter_auk (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,masterstation_smartmeter_auk,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,masterstation_smartmeter_auk,MGoal))
     /\ ((request(A1Goal,A2Goal,masterstation_smartmeter_auk,MGoal,SID1)
           /\ request(A1Goal,A2Goal,masterstation_smartmeter_auk,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_masterstation_smartmeter_m (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,masterstation_smartmeter_m,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,masterstation_smartmeter_m,MGoal))
     /\ ((request(A1Goal,A2Goal,masterstation_smartmeter_m,MGoal,SID1)
           /\ request(A1Goal,A2Goal,masterstation_smartmeter_m,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_smartmeter_masterstation_rsm (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,smartmeter_masterstation_rsm,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,smartmeter_masterstation_rsm,MGoal))
     /\ ((request(A1Goal,A2Goal,smartmeter_masterstation_rsm,MGoal,SID1)
           /\ request(A1Goal,A2Goal,smartmeter_masterstation_rsm,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_smartmeter_masterstation_h (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,smartmeter_masterstation_h,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,smartmeter_masterstation_h,MGoal))
     /\ ((request(A1Goal,A2Goal,smartmeter_masterstation_h,MGoal,SID1)
           /\ request(A1Goal,A2Goal,smartmeter_masterstation_h,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_rsm (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,rsm,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_ri (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,ri,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_qsk (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,qsk,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_masterstation_smartmeter_auk (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,masterstation_smartmeter_auk,MGoal,SID) &
 not(witness(A2Goal,A1Goal,masterstation_smartmeter_auk,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_masterstation_smartmeter_auk (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,masterstation_smartmeter_auk,MGoal,SID1).
 request(A1Goal,A2Goal,masterstation_smartmeter_auk,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_masterstation_smartmeter_m (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,masterstation_smartmeter_m,MGoal,SID) &
 not(witness(A2Goal,A1Goal,masterstation_smartmeter_m,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_masterstation_smartmeter_m (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,masterstation_smartmeter_m,MGoal,SID1).
 request(A1Goal,A2Goal,masterstation_smartmeter_m,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_smartmeter_masterstation_rsm (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,smartmeter_masterstation_rsm,MGoal,SID) &
 not(witness(A2Goal,A1Goal,smartmeter_masterstation_rsm,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_smartmeter_masterstation_rsm (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,smartmeter_masterstation_rsm,MGoal,SID1).
 request(A1Goal,A2Goal,smartmeter_masterstation_rsm,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_smartmeter_masterstation_h (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,smartmeter_masterstation_h,MGoal,SID) &
 not(witness(A2Goal,A1Goal,smartmeter_masterstation_h,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_smartmeter_masterstation_h (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,smartmeter_masterstation_h,MGoal,SID1).
 request(A1Goal,A2Goal,smartmeter_masterstation_h,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

