%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile99XRsm

section signature:

state_role_MR: agent * agent * agent * agent * agent * symmetric_key * hash_func * symmetric_key * symmetric_key * nat * text * text * text * text * text * set(agent) * nat -> fact
state_role_MAP: agent * agent * agent * agent * symmetric_key * hash_func * nat * text * text * symmetric_key * text * symmetric_key * text * text * symmetric_key * text * set(agent) * nat -> fact
state_role_A: agent * symmetric_key * agent * agent * agent * agent * symmetric_key * hash_func * symmetric_key * symmetric_key * symmetric_key * nat * text * text * symmetric_key * text * text * text * text * set(agent) * nat -> fact
state_role_HA: agent * agent * agent * agent * symmetric_key * hash_func * symmetric_key * nat * nat -> fact
state_role_AR2: agent * agent * agent * agent * symmetric_key * hash_func * nat * symmetric_key * text * symmetric_key * text * symmetric_key * text * nat -> fact


section types:

MGoal, start: message
sec_nsk, sec_n6, auth_3, auth_4, auth_2, auth_1, sec_n3: protocol_id
Dummy_N4, Dummy_N1, Dummy_N2, Dummy_N3, Dummy_N6, Dummy_N5, dummy_nonce, N3, N6, N5, N4, N1, N2, hack, hi, aaa_auth_rep, aaa_auth_req, ack, bit_r, bit_i, nlcoa, nid, sid, flback, lbu, fna, iprtadv, rtsolpr: text
h, hash_0, H: hash_func
Dummy_Ki, Dummy_NSK, Dummy_LK, Dummy_KAM, dummy_sk, nsk, lk, lkii, ki, kaa, kam, lki, kaar, NSK, LK, KAM, KAAR, KAA, Ki: symmetric_key
set_202, set_197, set_190, set_219, set_217, set_215, set_212, set_210, set_208: set
Dummy_Set_74, Dummy_Set_101, ASGoal, Set_101, Set_74, Set_39, Dummy_Set_39: set(agent)
A2Goal, A1Goal, aaa, map, ha, mr, A, MR, MAP, AR2, HA, ar2, i: agent
6, SID, 5, 4, Dummy_State, 3, SID2, SID1, State, 2, 1, 0, 19, 18, 17, 16, 15, 12, 11, 10, 9, 7: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(map).
 iknows(aaa).
 iknows(ha).
 iknows(mr).
 iknows(ar2).
 iknows(lki).
 iknows(lkii).
 iknows(i).
 state_role_AR2(ar2,map,mr,aaa,kaar,h,0,dummy_sk,dummy_nonce,dummy_sk,dummy_nonce,dummy_sk,dummy_nonce,3).
 state_role_HA(ha,aaa,mr,map,ki,h,kaa,0,4).
 state_role_A(aaa,lk,map,mr,ar2,ha,kam,h,kaar,kaa,nsk,0,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_190,5).
 state_role_MAP(map,aaa,mr,ar2,kam,h,0,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,dummy_sk,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,set_197,6).
 state_role_MR(mr,map,aaa,ha,ar2,lk,h,ki,nsk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_202,7).
 state_role_AR2(ar2,map,i,aaa,kaar,h,0,dummy_sk,dummy_nonce,dummy_sk,dummy_nonce,dummy_sk,dummy_nonce,9).
 state_role_HA(ha,aaa,i,map,lki,h,kaa,0,10).
 state_role_A(aaa,lk,map,i,ar2,ha,kam,h,kaar,kaa,nsk,0,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_208,11).
 state_role_MAP(map,aaa,i,ar2,kam,h,0,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,dummy_sk,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,set_210,12).
 state_role_AR2(ar2,map,mr,aaa,kaar,h,0,dummy_sk,dummy_nonce,dummy_sk,dummy_nonce,dummy_sk,dummy_nonce,15).
 state_role_HA(ha,aaa,mr,map,lki,h,kaa,0,16).
 state_role_A(aaa,lk,map,mr,ar2,ha,kam,h,kaar,kaa,nsk,0,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_215,17).
 state_role_MAP(map,aaa,mr,ar2,kam,h,0,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,dummy_sk,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,set_217,18).
 state_role_MR(mr,map,aaa,ha,ar2,lk,h,lki,nsk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_219,19)


section rules:

step step_0 (AR2,MAP,MR,A,KAAR,H,Dummy_KAM,Dummy_N5,LK,Dummy_N6,NSK,N3,SID,KAM,N5,N6) :=
 state_role_AR2(AR2,MAP,MR,A,KAAR,H,0,Dummy_KAM,Dummy_N5,LK,Dummy_N6,NSK,N3,SID).
 iknows(apply(hi,pair(sid,pair(nid,pair(MAP,pair(AR2,scrypt(KAM,pair(sid,pair(N5,pair(ar2,pair(MAP,N6)))))))))))
 =>
 state_role_AR2(AR2,MAP,MR,A,KAAR,H,1,KAM,N5,LK,N6,NSK,N3,SID).
 iknows(apply(aaa_auth_req,pair(sid,pair(nid,pair(A,pair(AR2,scrypt(KAM,pair(sid,pair(N5,pair(ar2,pair(MAP,N6)))))))))))

step step_1 (AR2,MAP,MR,A,KAAR,H,KAM,N5,Dummy_LK,N6,Dummy_NSK,Dummy_N3,SID,LK,NSK,N3) :=
 state_role_AR2(AR2,MAP,MR,A,KAAR,H,1,KAM,N5,Dummy_LK,N6,Dummy_NSK,Dummy_N3,SID).
 iknows(apply(aaa_auth_rep,pair(sid,pair(nid,pair(AR2,pair(A,pair(scrypt(LK,pair(N6,pair(N3,sid))),scrypt(KAAR,pair(sid,pair(NSK,pair(N3,pair(N5,A))))))))))))
 =>
 state_role_AR2(AR2,MAP,MR,A,KAAR,H,2,KAM,N5,LK,N6,NSK,N3,SID).
 iknows(apply(hack,pair(sid,pair(nid,pair(MAP,pair(AR2,pair(scrypt(LK,pair(N6,pair(N3,sid))),pair(scrypt(NSK,pair(sid,pair(N3,AR2))),apply(H,pair(sid,pair(N5,ack)))))))))))

step step_2 (AR2,MAP,MR,A,KAAR,H,KAM,N5,LK,N6,NSK,N3,SID) :=
 state_role_AR2(AR2,MAP,MR,A,KAAR,H,2,KAM,N5,LK,N6,NSK,N3,SID).
 iknows(apply(fna,pair(sid,pair(nid,pair(AR2,pair(MR,scrypt(NSK,pair(sid,pair(N3,pair(AR2,MR)))))))))).
 request(AR2,MR,auth_4,N3,SID).
 witness(AR2,MR,auth_3,scrypt(NSK,pair(sid,pair(N3,pair(AR2,MR)))))
 =>
 state_role_AR2(AR2,MAP,MR,A,KAAR,H,3,KAM,N5,LK,N6,NSK,N3,SID)

step step_3 (A,Dummy_LK,MAP,MR,AR2,HA,Dummy_KAM,H,KAAR,KAA,NSK,Dummy_N2,Dummy_N1,Ki,Dummy_N4,Dummy_N5,Dummy_N3,N6,Set_101,SID,LK,KAM,N2,N1,N4,N5,N3) :=
 state_role_A(A,Dummy_LK,MAP,MR,AR2,HA,Dummy_KAM,H,KAAR,KAA,NSK,0,Dummy_N2,Dummy_N1,Ki,Dummy_N4,Dummy_N5,Dummy_N3,N6,Set_101,SID).
 iknows(apply(aaa_auth_req,pair(sid,pair(nid,pair(MAP,pair(A,pair(N1,pair(N2,pair(scrypt(LK,pair(bit_i,pair(bit_r,pair(MR,N3)))),pair(apply(H,pair(sid,pair(MR,pair(N2,LK)))),scrypt(KAM,pair(MR,pair(sid,pair(bit_i,bit_r)))))))))))))).
 request(A,MR,auth_1,apply(H,pair(sid,pair(MR,pair(N2,LK)))),SID)
=[exists N4,N5]=>
 state_role_A(A,LK,MAP,MR,AR2,HA,KAM,H,KAAR,KAA,NSK,1,N2,N1,Ki,N4,N5,N3,N6,Set_101,SID).
 iknows(apply(aaa_auth_rep,pair(sid,pair(nid,pair(MAP,pair(A,pair(N4,scrypt(KAM,pair(apply(H,pair(sid,pair(MR,pair(A,pair(N4,Dummy_LK))))),pair(N5,sid))))))))))

step step_4 (A,LK,MAP,MR,AR2,HA,KAM,H,KAAR,KAA,NSK,N2,N1,Ki,N4,Dummy_N5,N3,Dummy_N6,Dummy_Set_101,SID,N5,N6) :=
 state_role_A(A,LK,MAP,MR,AR2,HA,KAM,H,KAAR,KAA,NSK,1,N2,N1,Ki,N4,Dummy_N5,N3,Dummy_N6,Dummy_Set_101,SID).
 iknows(apply(aaa_auth_req,pair(sid,pair(nid,pair(A,pair(AR2,scrypt(KAM,pair(sid,pair(N5,pair(ar2,pair(MAP,N6)))))))))))
 =>
 state_role_A(A,LK,MAP,MR,AR2,HA,KAM,H,KAAR,KAA,NSK,2,N2,N1,Ki,N4,N5,N3,N6,Dummy_Set_101,SID).
 iknows(apply(aaa_auth_rep,pair(sid,pair(nid,pair(AR2,pair(A,pair(scrypt(LK,pair(N6,pair(N3,sid))),scrypt(KAAR,pair(sid,pair(NSK,pair(N3,pair(Dummy_N5,A)))))))))))).
 secret(NSK,sec_nsk,Dummy_Set_101).
 contains(A,Dummy_Set_101).
 contains(AR2,Dummy_Set_101).
 contains(MR,Dummy_Set_101)

step step_5 (MAP,A,MR,AR2,KAM,H,Dummy_N2,Dummy_N1,Dummy_Ki,N5,Dummy_LK,N4,Dummy_N3,NSK,N6,Set_74,SID,N2,N1,Ki,LK,N3) :=
 state_role_MAP(MAP,A,MR,AR2,KAM,H,0,Dummy_N2,Dummy_N1,Dummy_Ki,N5,Dummy_LK,N4,Dummy_N3,NSK,N6,Set_74,SID).
 iknows(apply(rtsolpr,pair(sid,pair(nid,pair(bit_i,pair(bit_r,pair(MR,pair(N1,pair(N2,pair(scrypt(LK,pair(bit_i,pair(bit_r,pair(MR,pair(sid,N3))))),pair(apply(H,pair(sid,pair(MR,pair(N1,Ki)))),apply(H,pair(sid,pair(MR,pair(N2,LK)))))))))))))))
 =>
 state_role_MAP(MAP,A,MR,AR2,KAM,H,1,N2,N1,Ki,N5,LK,N4,N3,NSK,N6,Set_74,SID).
 iknows(apply(aaa_auth_req,pair(sid,pair(nid,pair(MAP,pair(A,pair(N1,pair(N2,pair(scrypt(LK,pair(bit_i,pair(bit_r,pair(MR,N3)))),pair(apply(H,pair(sid,pair(MR,pair(N2,LK)))),scrypt(KAM,pair(MR,pair(sid,pair(bit_i,bit_r))))))))))))))

step step_6 (MAP,A,MR,AR2,KAM,H,N2,N1,Ki,Dummy_N5,LK,Dummy_N4,N3,NSK,Dummy_N6,Dummy_Set_74,SID,N5,N4,N6) :=
 state_role_MAP(MAP,A,MR,AR2,KAM,H,1,N2,N1,Ki,Dummy_N5,LK,Dummy_N4,N3,NSK,Dummy_N6,Dummy_Set_74,SID).
 iknows(apply(aaa_auth_rep,pair(sid,pair(nid,pair(MAP,pair(A,pair(N4,scrypt(KAM,pair(apply(H,pair(sid,pair(MR,pair(A,pair(N4,LK))))),pair(N5,sid))))))))))
=[exists N6]=>
 state_role_MAP(MAP,A,MR,AR2,KAM,H,2,N2,N1,Ki,N5,LK,N4,N3,NSK,N6,Dummy_Set_74,SID).
 iknows(apply(iprtadv,pair(sid,pair(nid,pair(nlcoa,pair(MAP,pair(MR,pair(N4,apply(H,pair(apply(H,pair(sid,pair(MR,pair(A,pair(N4,LK))))),ack)))))))))).
 witness(MAP,MR,auth_2,apply(H,pair(apply(H,pair(sid,pair(MR,pair(A,pair(N4,LK))))),ack))).
 iknows(apply(hi,pair(sid,pair(nid,pair(MAP,pair(AR2,scrypt(KAM,pair(sid,pair(N5,pair(ar2,pair(MAP,N6))))))))))).
 secret(Dummy_N6,sec_n6,Dummy_Set_74).
 contains(A,Dummy_Set_74).
 contains(MAP,Dummy_Set_74).
 contains(MR,Dummy_Set_74)

step step_7 (MAP,A,MR,AR2,KAM,H,N2,N1,Ki,N5,LK,N4,N3,Dummy_NSK,N6,Set_74,SID,NSK) :=
 state_role_MAP(MAP,A,MR,AR2,KAM,H,2,N2,N1,Ki,N5,LK,N4,N3,Dummy_NSK,N6,Set_74,SID).
 iknows(apply(hack,pair(sid,pair(nid,pair(MAP,pair(AR2,pair(scrypt(LK,pair(N6,pair(N3,sid))),pair(scrypt(NSK,pair(sid,pair(N3,AR2))),apply(H,pair(sid,pair(N5,ack)))))))))))
 =>
 state_role_MAP(MAP,A,MR,AR2,KAM,H,3,N2,N1,Ki,N5,LK,N4,N3,NSK,N6,Set_74,SID).
 iknows(apply(flback,pair(sid,pair(nid,pair(MR,pair(MAP,pair(scrypt(LK,pair(N6,pair(N3,sid))),pair(scrypt(NSK,pair(sid,pair(N3,AR2))),apply(H,pair(MAP,pair(MR,pair(sid,pair(N4,LK)))))))))))))

step step_8 (MAP,A,MR,AR2,KAM,H,N2,N1,Ki,N5,LK,N4,N3,NSK,N6,Set_74,SID) :=
 state_role_MAP(MAP,A,MR,AR2,KAM,H,3,N2,N1,Ki,N5,LK,N4,N3,NSK,N6,Set_74,SID).
 iknows(apply(lbu,pair(sid,pair(nid,pair(MAP,pair(MR,apply(H,pair(sid,pair(MR,N6)))))))))
 =>
 state_role_MAP(MAP,A,MR,AR2,KAM,H,4,N2,N1,Ki,N5,LK,N4,N3,NSK,N6,Set_74,SID)

step step_9 (MR,MAP,A,HA,AR2,LK,H,Ki,NSK,Dummy_N2,Dummy_N1,N4,Dummy_N3,N6,Dummy_Set_39,SID,N2,N1,N3) :=
 state_role_MR(MR,MAP,A,HA,AR2,LK,H,Ki,NSK,0,Dummy_N2,Dummy_N1,N4,Dummy_N3,N6,Dummy_Set_39,SID).
 iknows(start)
=[exists N3,N1,N2]=>
 state_role_MR(MR,MAP,A,HA,AR2,LK,H,Ki,NSK,1,N2,N1,N4,N3,N6,Dummy_Set_39,SID).
 iknows(apply(rtsolpr,pair(sid,pair(nid,pair(bit_i,pair(bit_r,pair(MR,pair(N1,pair(N2,pair(scrypt(LK,pair(bit_i,pair(bit_r,pair(MR,pair(sid,N3))))),pair(apply(H,pair(sid,pair(MR,pair(N1,Ki)))),apply(H,pair(sid,pair(MR,pair(N2,LK))))))))))))))).
 witness(MR,A,auth_1,apply(H,pair(sid,pair(MR,pair(N2,LK))))).
 secret(Dummy_N3,sec_n3,Dummy_Set_39).
 contains(MR,Dummy_Set_39).
 contains(A,Dummy_Set_39).
 contains(AR2,Dummy_Set_39)

step step_10 (MR,MAP,A,HA,AR2,LK,H,Ki,NSK,N2,N1,Dummy_N4,N3,N6,Set_39,SID,N4) :=
 state_role_MR(MR,MAP,A,HA,AR2,LK,H,Ki,NSK,1,N2,N1,Dummy_N4,N3,N6,Set_39,SID).
 iknows(apply(iprtadv,pair(sid,pair(nid,pair(nlcoa,pair(MAP,pair(MR,pair(N4,apply(H,pair(apply(H,pair(sid,pair(MR,pair(A,pair(N4,LK))))),ack)))))))))).
 request(MR,MAP,auth_2,apply(H,pair(apply(H,pair(sid,pair(MR,pair(A,pair(N4,LK))))),ack)),SID)
 =>
 state_role_MR(MR,MAP,A,HA,AR2,LK,H,Ki,NSK,2,N2,N1,N4,N3,N6,Set_39,SID)

step step_11 (MR,MAP,A,HA,AR2,LK,H,Ki,NSK,N2,N1,N4,N3,Dummy_N6,Set_39,SID,N6) :=
 state_role_MR(MR,MAP,A,HA,AR2,LK,H,Ki,NSK,2,N2,N1,N4,N3,Dummy_N6,Set_39,SID).
 iknows(apply(flback,pair(sid,pair(nid,pair(MR,pair(MAP,pair(scrypt(LK,pair(N6,pair(N3,sid))),pair(scrypt(NSK,pair(sid,pair(N3,AR2))),apply(H,pair(MAP,pair(MR,pair(sid,pair(N4,LK)))))))))))))
 =>
 state_role_MR(MR,MAP,A,HA,AR2,LK,H,Ki,NSK,3,N2,N1,N4,N3,N6,Set_39,SID).
 iknows(apply(fna,pair(sid,pair(nid,pair(AR2,pair(MR,scrypt(NSK,pair(sid,pair(N3,pair(AR2,MR)))))))))).
 witness(MR,AR2,auth_4,N3).
 request(MR,AR2,auth_3,scrypt(NSK,pair(sid,pair(N3,pair(AR2,MR)))),SID).
 iknows(apply(lbu,pair(sid,pair(nid,pair(MAP,pair(MR,apply(H,pair(sid,pair(MR,N6)))))))))


section properties:

property authentication_on_auth_1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth_1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth_1,MGoal))
     /\ ((request(A1Goal,A2Goal,auth_1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth_1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_auth_2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth_2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth_2,MGoal))
     /\ ((request(A1Goal,A2Goal,auth_2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth_2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_auth_3 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth_3,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth_3,MGoal))
     /\ ((request(A1Goal,A2Goal,auth_3,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth_3,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_auth_4 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth_4,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth_4,MGoal))
     /\ ((request(A1Goal,A2Goal,auth_4,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth_4,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property secrecy_of_sec_nsk (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_nsk,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_n3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_n3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_n6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_n6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state authentication_on_auth_1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth_1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth_1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth_1,MGoal,SID1).
 request(A1Goal,A2Goal,auth_1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_auth_2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth_2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth_2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth_2,MGoal,SID1).
 request(A1Goal,A2Goal,auth_2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_auth_3 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth_3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_3,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth_3 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth_3,MGoal,SID1).
 request(A1Goal,A2Goal,auth_3,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_auth_4 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth_4,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_4,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth_4 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth_4,MGoal,SID1).
 request(A1Goal,A2Goal,auth_4,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state secrecy_of_sec_nsk (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_nsk,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_n3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_n3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_n6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_n6,ASGoal) &
 not(contains(i,ASGoal))

