%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileRgwFwi

section signature:

state_tag: agent * agent * agent * symmetric_key * hash_func * text * text * nat * text * text * text * message * message * message * message * set(agent) * nat -> fact
state_server: agent * agent * agent * symmetric_key * hash_func * text * text * nat * text * text * text * message * message * message * message * set(agent) * nat -> fact
state_reader: agent * agent * agent * text * nat * text * text * message * message * message * message * nat -> fact


section types:

sec_kj2, sec_kj1, bj, cj, dj: protocol_id
h, H: hash_func
kj, ki, KJ: symmetric_key
set_141, set_139, set_136, set_134, set_129, set_124: set
5, State, 14, 12, 10, 11, 9, 8, 7, SID, 6, 3, 4, 2, 1, 0, Dummy_State, SID2, SID1: nat
Set_77, Set_55, Dummy_Set_77, Dummy_Set_55, ASGoal: set(agent)
AJ, BJ, CJ, DJ, start, Dummy_DJ, Dummy_CJ, Dummy_BJ, Dummy_AJ, dummy_msg, MGoal: message
a, s, b, B, A, S, A2Goal, A1Goal, i: agent
RJ1, RJ2, TJ, IDJ, YJ, Dummy_RJ2, Dummy_YJ, Dummy_TJ, Dummy_RJ1, dummy_nonce, idj, idi, yj, yi: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(s).
 iknows(b).
 iknows(h).
 iknows(ki).
 iknows(idi).
 iknows(yi).
 iknows(i).
 state_reader(a,s,b,yj,0,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,3).
 state_server(s,a,b,kj,h,idj,yj,10,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_124,4).
 state_tag(b,a,s,kj,h,idj,yj,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_129,5).
 state_reader(a,s,b,yj,0,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,7).
 state_server(s,a,b,kj,h,idj,yj,10,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_134,8).
 state_tag(b,a,s,kj,h,idj,yj,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_136,9).
 state_reader(a,s,i,yi,0,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,11).
 state_server(s,a,i,ki,h,idi,yi,10,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_139,12)


section rules:

step step_0 (A,S,B,YJ,Dummy_RJ1,TJ,AJ,BJ,CJ,DJ,SID,RJ1) :=
 state_reader(A,S,B,YJ,0,Dummy_RJ1,TJ,AJ,BJ,CJ,DJ,SID).
 iknows(start)
=[exists RJ1]=>
 state_reader(A,S,B,YJ,2,RJ1,TJ,AJ,BJ,CJ,DJ,SID).
 iknows(RJ1)

step step_1 (A,S,B,YJ,RJ1,Dummy_TJ,Dummy_AJ,Dummy_BJ,CJ,DJ,SID,TJ,AJ,BJ) :=
 state_reader(A,S,B,YJ,2,RJ1,Dummy_TJ,Dummy_AJ,Dummy_BJ,CJ,DJ,SID).
 iknows(pair(AJ,pair(BJ,TJ)))
 =>
 state_reader(A,S,B,YJ,4,RJ1,TJ,AJ,BJ,CJ,DJ,SID).
 iknows(pair(RJ1,pair(AJ,pair(BJ,TJ))))

step step_2 (A,S,B,YJ,RJ1,TJ,AJ,BJ,Dummy_CJ,DJ,SID,CJ) :=
 state_reader(A,S,B,YJ,4,RJ1,TJ,AJ,BJ,Dummy_CJ,DJ,SID).
 iknows(CJ)
 =>
 state_reader(A,S,B,YJ,6,RJ1,TJ,AJ,BJ,CJ,DJ,SID).
 iknows(CJ)

step step_3 (A,S,B,Dummy_YJ,RJ1,TJ,AJ,BJ,CJ,Dummy_DJ,SID,YJ) :=
 state_reader(A,S,B,Dummy_YJ,6,RJ1,TJ,AJ,BJ,CJ,Dummy_DJ,SID).
 iknows(YJ)
 =>
 state_reader(A,S,B,YJ,8,RJ1,TJ,AJ,BJ,CJ,Dummy_DJ,SID).
 iknows(YJ)

step step_4 (S,A,B,KJ,H,IDJ,YJ,Dummy_RJ1,Dummy_RJ2,Dummy_TJ,Dummy_AJ,Dummy_BJ,Dummy_CJ,DJ,Set_55,SID,RJ1,TJ,AJ) :=
 state_server(S,A,B,KJ,H,IDJ,YJ,10,Dummy_RJ1,Dummy_RJ2,Dummy_TJ,Dummy_AJ,Dummy_BJ,Dummy_CJ,DJ,Set_55,SID).
 iknows(pair(RJ1,pair(AJ,pair(BJ,TJ))))
 =>
 state_server(S,A,B,KJ,H,IDJ,YJ,12,RJ1,xor(AJ,apply(H,xor(KJ,RJ1))),TJ,AJ,apply(H,pair(IDJ,pair(RJ1,pair(xor(AJ,apply(H,xor(KJ,RJ1))),pair(KJ,TJ))))),apply(H,xor(RJ1,xor(xor(AJ,apply(H,xor(KJ,RJ1))),KJ))),DJ,Set_55,SID).
 request(S,B,bj,apply(H,pair(IDJ,pair(RJ1,pair(xor(AJ,apply(H,xor(KJ,RJ1))),pair(KJ,TJ))))),SID).
 iknows(apply(H,xor(RJ1,xor(xor(AJ,apply(H,xor(KJ,RJ1))),KJ)))).
 witness(S,B,cj,apply(H,xor(RJ1,xor(xor(AJ,apply(H,xor(KJ,RJ1))),KJ))))

step step_5 (S,A,B,KJ,H,IDJ,Dummy_YJ,RJ1,RJ2,TJ,AJ,BJ,CJ,Dummy_DJ,Dummy_Set_55,SID,YJ) :=
 state_server(S,A,B,KJ,H,IDJ,Dummy_YJ,12,RJ1,RJ2,TJ,AJ,BJ,CJ,Dummy_DJ,Dummy_Set_55,SID).
 iknows(pair(YJ,DJ))
 =>
 state_server(S,A,B,KJ,H,IDJ,YJ,14,RJ1,RJ2,TJ,AJ,BJ,CJ,apply(H,xor(YJ,xor(KJ,RJ1))),Dummy_Set_55,SID).
 request(S,B,dj,apply(H,xor(YJ,xor(KJ,RJ1))),SID).
 secret(KJ,sec_kj1,Dummy_Set_55).
 contains(S,Dummy_Set_55).
 contains(B,Dummy_Set_55)

step step_6 (B,A,S,KJ,H,IDJ,YJ,Dummy_RJ1,Dummy_RJ2,Dummy_TJ,Dummy_AJ,Dummy_BJ,CJ,DJ,Set_77,SID,RJ1,RJ2,TJ) :=
 state_tag(B,A,S,KJ,H,IDJ,YJ,1,Dummy_RJ1,Dummy_RJ2,Dummy_TJ,Dummy_AJ,Dummy_BJ,CJ,DJ,Set_77,SID).
 iknows(RJ1)
=[exists TJ,RJ2]=>
 state_tag(B,A,S,KJ,H,IDJ,YJ,3,RJ1,RJ2,TJ,xor(apply(H,xor(KJ,RJ1)),RJ2),apply(H,pair(IDJ,pair(RJ1,pair(RJ2,pair(KJ,TJ))))),CJ,DJ,Set_77,SID).
 iknows(pair(xor(apply(H,xor(KJ,RJ1)),RJ2),pair(apply(H,pair(IDJ,pair(RJ1,pair(RJ2,pair(KJ,TJ))))),TJ))).
 witness(B,S,bj,apply(H,pair(IDJ,pair(RJ1,pair(RJ2,pair(KJ,TJ))))))

step step_7 (B,A,S,KJ,H,IDJ,YJ,RJ1,RJ2,TJ,AJ,BJ,Dummy_CJ,Dummy_DJ,Dummy_Set_77,SID) :=
 state_tag(B,A,S,KJ,H,IDJ,YJ,3,RJ1,RJ2,TJ,AJ,BJ,Dummy_CJ,Dummy_DJ,Dummy_Set_77,SID).
 iknows(CJ)
 =>
 state_tag(B,A,S,KJ,H,IDJ,YJ,5,RJ1,RJ2,TJ,AJ,BJ,apply(H,xor(RJ1,xor(RJ2,KJ))),apply(H,xor(YJ,xor(KJ,RJ1))),Dummy_Set_77,SID).
 request(B,S,cj,apply(H,xor(RJ1,xor(RJ2,KJ))),SID).
 iknows(apply(H,xor(YJ,xor(KJ,RJ1)))).
 witness(B,S,dj,apply(H,xor(YJ,xor(KJ,RJ1)))).
 secret(KJ,sec_kj2,Dummy_Set_77).
 contains(B,Dummy_Set_77).
 contains(S,Dummy_Set_77)


section properties:

property secrecy_of_sec_kj1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_kj1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_kj2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_kj2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_bj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bj,MGoal))
     /\ ((request(A1Goal,A2Goal,bj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_cj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,cj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,cj,MGoal))
     /\ ((request(A1Goal,A2Goal,cj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,cj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_dj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,dj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,dj,MGoal))
     /\ ((request(A1Goal,A2Goal,dj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,dj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec_kj1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_kj1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_kj2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_kj2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_bj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bj,MGoal,SID1).
 request(A1Goal,A2Goal,bj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_cj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,cj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,cj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_cj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,cj,MGoal,SID1).
 request(A1Goal,A2Goal,cj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_dj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,dj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,dj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_dj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,dj,MGoal,SID1).
 request(A1Goal,A2Goal,dj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

