%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileK1vA5o

section signature:

state_bob: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * nat -> fact
state_alice: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * nat -> fact
state_bs: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * nat -> fact


section types:

MGoal, start: message
alice_bob, sub1, sub2: protocol_id
H, h: hash_func
SKubs, skubs: symmetric_key
Dummy_Set_104, Dummy_Set_71, Set_71, Dummy_Set_40, Set_40, Set_104: set(symmetric_key)
Dummy_Set_105, Dummy_Set_103, Dummy_Set_72, Set_72, Dummy_Set_70, Set_70, Dummy_Set_41, Dummy_Set_38, ASGoal, Set_41, Set_38, Set_105, Set_103: set(agent)
BS, Ui, SNj, A2Goal, A1Goal, ui, snj, bs, i: agent
Dummy_Set_102, Dummy_Set_69, Set_69, Dummy_Set_37, Set_37, Set_102: set(text)
set_201, set_200, set_199, set_198, set_196, set_195, set_194, set_193, set_181, set_180, set_179, set_178, set_168, set_167, set_166, set_165, set_152, set_151, set_150, set_149, set_206, set_205, set_204, set_203: set
Ta, Pt, X, Qa, R, Na, Zr, Yr, Z1r, MAC1, MAC2, Ca, Ea, Q, Dummy_P, P, Dummy_MAC1, Aca, Dummy_Z1r, Ack, Dummy_Yr, Dummy_Zr, Dummy_MAC2, Dummy_Na, Dummy_R, Cat, Dummy_Q, Dummy_Ca, Dummy_Qa, Dummy_Ta, dummy_nonce, ca1, ta, p1, x, qa, r, na, zr, yr, z1r, mac1, mac2, ca, ea, q, p, aca, ack: text
7, State, 5, SID, 2, 4, Dummy_State, 3, SID2, SID1, 1, 0, 9, 8: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(bs).
 iknows(snj).
 iknows(h).
 iknows(i).
 state_bs(bs,ui,snj,skubs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_149,set_150,set_151,set_152,3).
 state_alice(ui,bs,snj,skubs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_165,set_166,set_167,set_168,4).
 state_bob(snj,bs,ui,skubs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_178,set_179,set_180,set_181,5).
 state_bs(bs,ui,snj,skubs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_193,set_194,set_195,set_196,7).
 state_alice(ui,bs,snj,skubs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_198,set_199,set_200,set_201,8).
 state_bob(snj,bs,ui,skubs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_203,set_204,set_205,set_206,9)


section rules:

step step_0 (BS,Ui,SNj,SKubs,H,Cat,Dummy_Ta,Pt,X,Dummy_Qa,R,Na,Zr,Yr,Z1r,MAC1,MAC2,Dummy_Ca,Ea,Dummy_Q,P,Aca,Ack,Dummy_Set_37,Dummy_Set_38,Dummy_Set_40,Dummy_Set_41,SID) :=
 state_bs(BS,Ui,SNj,SKubs,H,0,Cat,Dummy_Ta,Pt,X,Dummy_Qa,R,Na,Zr,Yr,Z1r,MAC1,MAC2,Dummy_Ca,Ea,Dummy_Q,P,Aca,Ack,Dummy_Set_37,Dummy_Set_38,Dummy_Set_40,Dummy_Set_41,SID).
 iknows(start)
 =>
 state_bs(BS,Ui,SNj,SKubs,H,1,Cat,pair(apply(H,pair(Cat,Pt)),pair(Aca,apply(H,pair(apply(H,pair(Cat,Pt)),Aca)))),Pt,X,apply(H,pair(apply(H,pair(Cat,Pt)),pair(Ea,apply(H,pair(X,Pt))))),R,Na,Zr,Yr,Z1r,MAC1,MAC2,apply(H,pair(Cat,Pt)),Ea,apply(H,pair(X,Pt)),P,Aca,Ack,Dummy_Set_37,Dummy_Set_38,Dummy_Set_40,Dummy_Set_41,SID).
 iknows(pair(BS,pair(Ui,scrypt(SKubs,pair(apply(H,pair(apply(H,pair(Cat,Pt)),pair(Ea,apply(H,pair(X,Pt))))),pair(apply(H,pair(apply(H,pair(Cat,Pt)),pair(Aca,apply(H,pair(apply(H,pair(Cat,Pt)),Aca))))),pair(apply(H,pair(X,Pt)),pair(apply(H,pair(Cat,Pt)),pair(Aca,apply(H,pair(apply(H,pair(Cat,Pt)),Aca))))))))))).
 secret(Dummy_Set_37,sub1,Dummy_Set_38).
 secret(Dummy_Set_40,sub2,Dummy_Set_41).
 contains(X,Dummy_Set_37).
 contains(BS,Dummy_Set_38).
 contains(SKubs,Dummy_Set_40).
 contains(BS,Dummy_Set_41).
 contains(Ui,Dummy_Set_41)

step step_1 (Ui,BS,SNj,SKubs,H,Cat,Ta,Pt,X,Qa,R,Na,Zr,Yr,Z1r,MAC1,MAC2,Ca,Ea,Q,P,Aca,Ack,Dummy_Set_69,Dummy_Set_70,Dummy_Set_71,Dummy_Set_72,SID) :=
 state_alice(Ui,BS,SNj,SKubs,H,0,Cat,Ta,Pt,X,Qa,R,Na,Zr,Yr,Z1r,MAC1,MAC2,Ca,Ea,Q,P,Aca,Ack,Dummy_Set_69,Dummy_Set_70,Dummy_Set_71,Dummy_Set_72,SID).
 iknows(pair(BS,pair(Ui,pair(BS,pair(Ui,scrypt(SKubs,pair(apply(H,pair(apply(H,pair(Cat,Pt)),pair(Ea,apply(H,pair(X,Pt))))),pair(apply(H,pair(apply(H,pair(Cat,Pt)),pair(Aca,apply(H,pair(apply(H,pair(Cat,Pt)),Aca))))),pair(apply(H,pair(X,Pt)),pair(apply(H,pair(Cat,Pt)),pair(Aca,apply(H,pair(apply(H,pair(Cat,Pt)),Aca)))))))))))))
 =>
 state_alice(Ui,BS,SNj,SKubs,H,1,Cat,Ta,Pt,X,Qa,R,Na,Zr,Yr,Z1r,MAC1,MAC2,Ca,Ea,Q,P,Aca,Ack,Dummy_Set_69,Dummy_Set_70,Dummy_Set_71,Dummy_Set_72,SID).
 iknows(pair(Ui,pair(SNj,pair(apply(H,pair(Cat,Pt)),pair(Aca,apply(H,pair(apply(H,pair(Cat,Pt)),Aca))))))).
 secret(Dummy_Set_69,sub1,Dummy_Set_70).
 secret(Dummy_Set_71,sub2,Dummy_Set_72).
 contains(X,Dummy_Set_69).
 contains(BS,Dummy_Set_70).
 contains(SKubs,Dummy_Set_71).
 contains(BS,Dummy_Set_72).
 contains(Ui,Dummy_Set_72)

step step_2 (Ui,BS,SNj,SKubs,H,Cat,Ta,Pt,X,Qa,Dummy_R,Dummy_Na,Zr,Yr,Z1r,MAC1,Dummy_MAC2,Ca,Ea,Q,P,Aca,Ack,Set_69,Set_70,Set_71,Set_72,SID,R,Na) :=
 state_alice(Ui,BS,SNj,SKubs,H,1,Cat,Ta,Pt,X,Qa,Dummy_R,Dummy_Na,Zr,Yr,Z1r,MAC1,Dummy_MAC2,Ca,Ea,Q,P,Aca,Ack,Set_69,Set_70,Set_71,Set_72,SID).
 iknows(pair(SNj,pair(Ui,pair(xor(R,apply(H,pair(apply(H,R),apply(H,pair(apply(H,pair(Cat,Pt)),pair(Ea,apply(H,pair(X,Pt)))))))),pair(apply(H,pair(apply(H,R),pair(apply(H,R),apply(H,pair(apply(H,pair(Cat,Pt)),pair(Ea,apply(H,pair(X,Pt)))))))),scrypt(R,Na))))))
 =>
 state_alice(Ui,BS,SNj,SKubs,H,2,Cat,Ta,Pt,X,Qa,R,Na,Zr,Yr,Z1r,MAC1,apply(H,pair(R,pair(Na,Aca))),Ca,Ea,Q,P,Aca,Ack,Set_69,Set_70,Set_71,Set_72,SID).
 iknows(pair(Ui,pair(SNj,apply(H,pair(R,pair(Na,Aca)))))).
 witness(Ui,SNj,alice_bob,Na)

step step_3 (SNj,BS,Ui,SKubs,H,Cat,Ta,Pt,X,Qa,Dummy_R,Dummy_Na,Dummy_Zr,Dummy_Yr,Dummy_Z1r,Dummy_MAC1,MAC2,Ca,Ea,Q,Dummy_P,Aca,Ack,Dummy_Set_102,Dummy_Set_103,Dummy_Set_104,Dummy_Set_105,SID,R,Na) :=
 state_bob(SNj,BS,Ui,SKubs,H,0,Cat,Ta,Pt,X,Qa,Dummy_R,Dummy_Na,Dummy_Zr,Dummy_Yr,Dummy_Z1r,Dummy_MAC1,MAC2,Ca,Ea,Q,Dummy_P,Aca,Ack,Dummy_Set_102,Dummy_Set_103,Dummy_Set_104,Dummy_Set_105,SID).
 iknows(pair(Ui,pair(SNj,pair(apply(H,pair(Cat,Pt)),pair(Aca,apply(H,pair(apply(H,pair(Cat,Pt)),Aca)))))))
=[exists Na,R]=>
 state_bob(SNj,BS,Ui,SKubs,H,1,Cat,Ta,Pt,X,Qa,R,Na,apply(H,pair(apply(H,R),apply(H,pair(apply(H,pair(Cat,Pt)),pair(Ea,apply(H,pair(X,Pt))))))),apply(H,pair(apply(H,R),pair(apply(H,R),apply(H,pair(apply(H,pair(Cat,Pt)),pair(Ea,apply(H,pair(X,Pt)))))))),xor(R,apply(H,pair(apply(H,R),apply(H,pair(apply(H,pair(Cat,Pt)),pair(Ea,apply(H,pair(X,Pt)))))))),scrypt(R,Na),MAC2,Ca,Ea,Q,pair(apply(H,R),apply(H,pair(apply(H,pair(Cat,Pt)),pair(Ea,apply(H,pair(X,Pt)))))),Aca,Ack,Dummy_Set_102,Dummy_Set_103,Dummy_Set_104,Dummy_Set_105,SID).
 iknows(pair(SNj,pair(Ui,pair(xor(R,apply(H,pair(apply(H,R),apply(H,pair(apply(H,pair(Cat,Pt)),pair(Ea,apply(H,pair(X,Pt)))))))),pair(apply(H,pair(apply(H,R),pair(apply(H,R),apply(H,pair(apply(H,pair(Cat,Pt)),pair(Ea,apply(H,pair(X,Pt)))))))),scrypt(R,Na)))))).
 secret(Dummy_Set_102,sub1,Dummy_Set_103).
 secret(Dummy_Set_104,sub2,Dummy_Set_105).
 contains(X,Dummy_Set_102).
 contains(BS,Dummy_Set_103).
 contains(SKubs,Dummy_Set_104).
 contains(BS,Dummy_Set_105).
 contains(Ui,Dummy_Set_105)

step step_4 (SNj,BS,Ui,SKubs,H,Cat,Ta,Pt,X,Qa,Dummy_R,Dummy_Na,Zr,Yr,Z1r,MAC1,MAC2,Ca,Ea,Q,P,Aca,Ack,Set_102,Set_103,Set_104,Set_105,SID,R,Na) :=
 state_bob(SNj,BS,Ui,SKubs,H,1,Cat,Ta,Pt,X,Qa,Dummy_R,Dummy_Na,Zr,Yr,Z1r,MAC1,MAC2,Ca,Ea,Q,P,Aca,Ack,Set_102,Set_103,Set_104,Set_105,SID).
 iknows(pair(Ui,pair(SNj,apply(H,pair(R,pair(Na,Aca))))))
 =>
 state_bob(SNj,BS,Ui,SKubs,H,2,Cat,Ta,Pt,X,Qa,R,Na,Zr,Yr,Z1r,MAC1,MAC2,Ca,Ea,Q,P,Aca,Ack,Set_102,Set_103,Set_104,Set_105,SID).
 iknows(Ack).
 request(Ui,SNj,alice_bob,Na,SID)


section properties:

property secrecy_of_sub1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sub1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

