%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilelJeRSF6PQc

section signature:

state_foreignagent: agent * agent * agent * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_homeagent: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_mobileuser: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact


section types:

MGoal, start: message
mu_fa_x, fa_ha_y, s1, s2, s3: protocol_id
dummy_hash, h, f, F, H: hash_func
skmuha, SKmuha: symmetric_key
Dummy_Set_84, Dummy_Set_82, Dummy_Set_80, Dummy_Set_49, Dummy_Set_46, Dummy_Set_43, ASGoal, Set_119, Set_117, Set_115, Set_84, Set_82, Set_80, Set_49, Set_46, Set_43, Dummy_Set_119, Dummy_Set_117, Dummy_Set_115: set(agent)
Dummy_Set_83, Dummy_Set_81, Dummy_Set_79, Dummy_Set_48, Dummy_Set_45, Dummy_Set_42, Set_118, Set_116, Set_114, Set_83, Set_81, Set_79, Set_48, Set_45, Set_42, Dummy_Set_118, Dummy_Set_116, Dummy_Set_114: set(text)
Dummy_M2, Dummy_Bmu, Dummy_Rl, Dummy_Cmu, Dummy_M4, Dummy_SK, Dummy_Y, Dummy_M1, Dummy_K, Dummy_AIDmu, Dummy_Rmm, Dummy_Rm, Dummy_X, Dummy_Z, Dummy_PIDmu, Dummy_Amu, Dummy_B, dummy_nonce, idha, idfa, aidmu, rm, rb, p, Rb, M2, M3, P, Z, IDha, X, Y, IDfa, SK, ACK, IDmu, PWmu, B, Mbu, Cmu, Rl, MSK, Bmu, M4, Rm, Rmm, AIDmu, K, M1, Amu, PIDmu, Dummy_M3, Dummy_Rb: text
4, SID, Dummy_State, 3, SID2, SID1, State, 5, 16, 15, 8, 13, 2, 1, 11, 0, 9: nat
A2Goal, A1Goal, mu, ha, fa, MU, HA, FA, i: agent
set_202, set_201, set_200, set_187, set_186, set_185, set_184, set_183, set_182, set_157, set_156, set_155, set_154, set_153, set_152, set_275, set_274, set_273, set_272, set_271, set_270, set_268, set_267, set_266, set_265, set_264, set_263, set_261, set_260, set_259, set_258, set_257, set_256, set_254, set_253, set_252, set_251, set_250, set_249, set_248, set_247, set_246, set_245, set_244, set_243, set_241, set_240, set_239, set_238, set_237, set_236, set_234, set_233, set_232, set_231, set_230, set_229, set_227, set_226, set_225, set_224, set_223, set_222, set_221, set_220, set_219, set_218, set_217, set_216, set_205, set_204, set_203: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(mu).
 iknows(ha).
 iknows(fa).
 iknows(h).
 iknows(f).
 iknows(idha).
 iknows(idfa).
 iknows(aidmu).
 iknows(rm).
 iknows(rb).
 iknows(p).
 iknows(i).
 state_mobileuser(mu,ha,fa,skmuha,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_152,set_153,set_154,set_155,set_156,set_157,3).
 state_homeagent(ha,mu,fa,skmuha,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_182,set_183,set_184,set_185,set_186,set_187,4).
 state_foreignagent(fa,mu,ha,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_200,set_201,set_202,set_203,set_204,set_205,5).
 state_homeagent(ha,i,fa,skmuha,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_222,set_223,set_224,set_225,set_226,set_227,8).
 state_foreignagent(fa,i,ha,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_229,set_230,set_231,set_232,set_233,set_234,9).
 state_mobileuser(mu,i,fa,skmuha,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_236,set_237,set_238,set_239,set_240,set_241,11).
 state_foreignagent(fa,mu,i,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_249,set_250,set_251,set_252,set_253,set_254,13).
 state_mobileuser(mu,ha,i,skmuha,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_256,set_257,set_258,set_259,set_260,set_261,15).
 state_homeagent(ha,mu,i,skmuha,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_263,set_264,set_265,set_266,set_267,set_268,16)


section rules:

step step_0 (MU,HA,FA,SKmuha,H,IDmu,PWmu,Dummy_B,Dummy_Amu,Dummy_PIDmu,MSK,P,Z,X,Rm,Rmm,AIDmu,K,M1,IDha,IDfa,Y,SK,M4,F,Dummy_Set_42,Dummy_Set_43,Dummy_Set_45,Dummy_Set_46,Set_48,Set_49,SID,B) :=
 state_mobileuser(MU,HA,FA,SKmuha,H,0,IDmu,PWmu,Dummy_B,Dummy_Amu,Dummy_PIDmu,MSK,P,Z,X,Rm,Rmm,AIDmu,K,M1,IDha,IDfa,Y,SK,M4,F,Dummy_Set_42,Dummy_Set_43,Dummy_Set_45,Dummy_Set_46,Set_48,Set_49,SID).
 iknows(start)
=[exists B]=>
 state_mobileuser(MU,HA,FA,SKmuha,H,2,IDmu,PWmu,B,apply(H,pair(PWmu,B)),apply(H,pair(IDmu,B)),MSK,P,Z,X,Rm,Rmm,AIDmu,K,M1,IDha,IDfa,Y,SK,M4,F,Dummy_Set_42,Dummy_Set_43,Dummy_Set_45,Dummy_Set_46,Set_48,Set_49,SID).
 iknows(scrypt(SKmuha,pair(apply(H,pair(IDmu,B)),apply(H,pair(PWmu,B))))).
 secret(Dummy_Set_42,s1,Dummy_Set_43).
 secret(Dummy_Set_45,s2,Dummy_Set_46).
 contains(IDmu,Dummy_Set_42).
 contains(MU,Dummy_Set_43).
 contains(HA,Dummy_Set_43).
 contains(PWmu,Dummy_Set_45).
 contains(B,Dummy_Set_45).
 contains(MU,Dummy_Set_46)

step step_1 (MU,HA,FA,SKmuha,H,IDmu,PWmu,Dummy_B,Amu,PIDmu,MSK,P,Dummy_Z,Dummy_X,Dummy_Rm,Dummy_Rmm,Dummy_AIDmu,Dummy_K,Dummy_M1,IDha,IDfa,Y,SK,M4,F,Set_42,Set_43,Set_45,Set_46,Dummy_Set_48,Dummy_Set_49,SID,B,Z,X) :=
 state_mobileuser(MU,HA,FA,SKmuha,H,2,IDmu,PWmu,Dummy_B,Amu,PIDmu,MSK,P,Dummy_Z,Dummy_X,Dummy_Rm,Dummy_Rmm,Dummy_AIDmu,Dummy_K,Dummy_M1,IDha,IDfa,Y,SK,M4,F,Set_42,Set_43,Set_45,Set_46,Dummy_Set_48,Dummy_Set_49,SID).
 iknows(scrypt(SKmuha,pair(IDha,pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),pair(apply(H,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(PWmu,B)),apply(H,pair(apply(H,pair(IDmu,B)),MSK))))),pair(P,pair(apply(F,pair(Z,P)),H)))))))
=[exists X]=>
 state_mobileuser(MU,HA,FA,SKmuha,H,4,IDmu,PWmu,B,Amu,PIDmu,MSK,P,Z,X,apply(F,pair(X,P)),apply(F,pair(X,apply(F,pair(Z,P)))),xor(apply(H,pair(IDmu,B)),apply(F,pair(X,apply(F,pair(Z,P))))),apply(H,pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(X,apply(F,pair(Z,P)))))),apply(H,pair(apply(H,pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(X,apply(F,pair(Z,P)))))),pair(IDfa,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(X,apply(F,pair(Z,P))))))))),IDha,IDfa,Y,SK,M4,F,Set_42,Set_43,Set_45,Set_46,Dummy_Set_48,Dummy_Set_49,SID).
 secret(Dummy_Set_48,s3,Dummy_Set_49).
 iknows(pair(IDha,pair(xor(apply(H,pair(IDmu,B)),apply(F,pair(X,apply(F,pair(Z,P))))),pair(apply(H,pair(apply(H,pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(X,apply(F,pair(Z,P)))))),pair(IDfa,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(X,apply(F,pair(Z,P))))))))),pair(P,apply(F,pair(X,P))))))).
 witness(MU,FA,mu_fa_x,X).
 contains(MSK,Dummy_Set_48).
 contains(HA,Dummy_Set_49)

step step_2 (MU,HA,FA,SKmuha,H,IDmu,PWmu,Dummy_B,Amu,PIDmu,MSK,P,Z,Dummy_X,Rm,Rmm,AIDmu,K,M1,IDha,IDfa,Dummy_Y,Dummy_SK,Dummy_M4,F,Set_42,Set_43,Set_45,Set_46,Set_48,Set_49,SID,B,X,Y) :=
 state_mobileuser(MU,HA,FA,SKmuha,H,4,IDmu,PWmu,Dummy_B,Amu,PIDmu,MSK,P,Z,Dummy_X,Rm,Rmm,AIDmu,K,M1,IDha,IDfa,Dummy_Y,Dummy_SK,Dummy_M4,F,Set_42,Set_43,Set_45,Set_46,Set_48,Set_49,SID).
 iknows(pair(apply(H,pair(IDha,pair(IDfa,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(Y,P))))))),pair(apply(H,pair(apply(H,pair(apply(F,pair(Y,apply(F,pair(X,P)))),pair(apply(F,pair(Y,P)),pair(apply(F,pair(X,P)),pair(IDha,IDfa))))),pair(IDfa,apply(H,pair(IDha,pair(IDfa,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(Y,P)))))))))),apply(F,pair(Y,P)))))
 =>
 state_mobileuser(MU,HA,FA,SKmuha,H,8,IDmu,PWmu,B,Amu,PIDmu,MSK,P,Z,X,Rm,Rmm,AIDmu,K,M1,IDha,IDfa,Y,apply(H,pair(apply(F,pair(Y,apply(F,pair(X,P)))),pair(apply(F,pair(Y,P)),pair(apply(F,pair(X,P)),pair(IDha,IDfa))))),apply(H,pair(apply(H,pair(apply(F,pair(Y,apply(F,pair(X,P)))),pair(apply(F,pair(Y,P)),pair(apply(F,pair(X,P)),pair(IDha,IDfa))))),pair(IDfa,IDha))),F,Set_42,Set_43,Set_45,Set_46,Set_48,Set_49,SID).
 iknows(apply(H,pair(apply(H,pair(apply(F,pair(Y,apply(F,pair(X,P)))),pair(apply(F,pair(Y,P)),pair(apply(F,pair(X,P)),pair(IDha,IDfa))))),pair(IDfa,IDha))))

step step_3 (HA,MU,FA,SKmuha,H,IDmu,PWmu,Dummy_B,Mbu,Dummy_Cmu,Dummy_Rl,MSK,P,Dummy_Z,IDha,IDfa,Dummy_Bmu,X,Y,M2,ACK,F,Dummy_Set_79,Dummy_Set_80,Dummy_Set_81,Dummy_Set_82,Dummy_Set_83,Dummy_Set_84,SID,B,Z) :=
 state_homeagent(HA,MU,FA,SKmuha,H,0,IDmu,PWmu,Dummy_B,Mbu,Dummy_Cmu,Dummy_Rl,MSK,P,Dummy_Z,IDha,IDfa,Dummy_Bmu,X,Y,M2,ACK,F,Dummy_Set_79,Dummy_Set_80,Dummy_Set_81,Dummy_Set_82,Dummy_Set_83,Dummy_Set_84,SID).
 iknows(scrypt(SKmuha,pair(apply(H,pair(IDmu,B)),apply(H,pair(PWmu,B)))))
=[exists Z]=>
 state_homeagent(HA,MU,FA,SKmuha,H,3,IDmu,PWmu,B,Mbu,apply(H,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(PWmu,B)),apply(H,pair(apply(H,pair(IDmu,B)),MSK))))),apply(F,pair(Z,P)),MSK,P,Z,IDha,IDfa,apply(H,pair(apply(H,pair(IDmu,B)),MSK)),X,Y,M2,ACK,F,Dummy_Set_79,Dummy_Set_80,Dummy_Set_81,Dummy_Set_82,Dummy_Set_83,Dummy_Set_84,SID).
 secret(Dummy_Set_79,s1,Dummy_Set_80).
 secret(Dummy_Set_81,s2,Dummy_Set_82).
 secret(Dummy_Set_83,s3,Dummy_Set_84).
 iknows(scrypt(SKmuha,pair(IDha,pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),pair(apply(H,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(PWmu,B)),apply(H,pair(apply(H,pair(IDmu,B)),MSK))))),pair(P,pair(apply(F,pair(Z,P)),H))))))).
 contains(IDmu,Dummy_Set_79).
 contains(MU,Dummy_Set_80).
 contains(HA,Dummy_Set_80).
 contains(PWmu,Dummy_Set_81).
 contains(B,Dummy_Set_81).
 contains(MU,Dummy_Set_82).
 contains(MSK,Dummy_Set_83).
 contains(HA,Dummy_Set_84)

step step_4 (HA,MU,FA,SKmuha,H,IDmu,PWmu,Dummy_B,Mbu,Cmu,Rl,MSK,P,Dummy_Z,IDha,IDfa,Bmu,Dummy_X,Dummy_Y,Dummy_M2,ACK,F,Set_79,Set_80,Set_81,Set_82,Set_83,Set_84,SID,B,Z,X,Y) :=
 state_homeagent(HA,MU,FA,SKmuha,H,3,IDmu,PWmu,Dummy_B,Mbu,Cmu,Rl,MSK,P,Dummy_Z,IDha,IDfa,Bmu,Dummy_X,Dummy_Y,Dummy_M2,ACK,F,Set_79,Set_80,Set_81,Set_82,Set_83,Set_84,SID).
 iknows(pair(xor(apply(H,pair(IDmu,B)),apply(F,pair(X,apply(F,pair(Z,P))))),pair(apply(H,pair(apply(H,pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(X,apply(F,pair(Z,P)))))),pair(IDfa,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(X,apply(F,pair(Z,P))))))))),pair(apply(F,pair(X,P)),pair(apply(F,pair(Y,P)),IDfa)))))
 =>
 state_homeagent(HA,MU,FA,SKmuha,H,5,IDmu,PWmu,B,Mbu,Cmu,Rl,MSK,P,Z,IDha,IDfa,Bmu,X,Y,apply(H,pair(IDha,pair(IDfa,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(Y,P))))))),ACK,F,Set_79,Set_80,Set_81,Set_82,Set_83,Set_84,SID).
 iknows(pair(IDha,pair(ACK,apply(H,pair(IDha,pair(IDfa,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(Y,P)))))))))).
 request(FA,HA,fa_ha_y,Y,SID)

step step_5 (FA,MU,HA,H,IDmu,PWmu,Dummy_B,Mbu,Cmu,Rl,MSK,P,Dummy_Z,IDha,Dummy_X,Dummy_Y,IDfa,SK,ACK,Dummy_Rb,M2,M3,F,Dummy_Set_114,Dummy_Set_115,Dummy_Set_116,Dummy_Set_117,Dummy_Set_118,Dummy_Set_119,SID,B,Z,X,Y) :=
 state_foreignagent(FA,MU,HA,H,0,IDmu,PWmu,Dummy_B,Mbu,Cmu,Rl,MSK,P,Dummy_Z,IDha,Dummy_X,Dummy_Y,IDfa,SK,ACK,Dummy_Rb,M2,M3,F,Dummy_Set_114,Dummy_Set_115,Dummy_Set_116,Dummy_Set_117,Dummy_Set_118,Dummy_Set_119,SID).
 iknows(pair(IDha,pair(xor(apply(H,pair(IDmu,B)),apply(F,pair(X,apply(F,pair(Z,P))))),pair(apply(H,pair(apply(H,pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(X,apply(F,pair(Z,P)))))),pair(IDfa,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(X,apply(F,pair(Z,P))))))))),pair(P,apply(F,pair(X,P)))))))
=[exists Y]=>
 state_foreignagent(FA,MU,HA,H,1,IDmu,PWmu,B,Mbu,Cmu,Rl,MSK,P,Z,IDha,X,Y,IDfa,SK,ACK,apply(F,pair(Y,P)),M2,M3,F,Dummy_Set_114,Dummy_Set_115,Dummy_Set_116,Dummy_Set_117,Dummy_Set_118,Dummy_Set_119,SID).
 secret(Dummy_Set_114,s1,Dummy_Set_115).
 secret(Dummy_Set_116,s2,Dummy_Set_117).
 secret(Dummy_Set_118,s3,Dummy_Set_119).
 iknows(pair(xor(apply(H,pair(IDmu,B)),apply(F,pair(X,apply(F,pair(Z,P))))),pair(apply(H,pair(apply(H,pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(X,apply(F,pair(Z,P)))))),pair(IDfa,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(X,apply(F,pair(Z,P))))))))),pair(apply(F,pair(X,P)),pair(apply(F,pair(Y,P)),IDfa))))).
 witness(FA,HA,fa_ha_y,Y).
 contains(IDmu,Dummy_Set_114).
 contains(MU,Dummy_Set_115).
 contains(HA,Dummy_Set_115).
 contains(PWmu,Dummy_Set_116).
 contains(B,Dummy_Set_116).
 contains(MU,Dummy_Set_117).
 contains(MSK,Dummy_Set_118).
 contains(HA,Dummy_Set_119)

step step_6 (FA,MU,HA,H,IDmu,PWmu,Dummy_B,Mbu,Cmu,Rl,MSK,P,Z,IDha,X,Dummy_Y,IDfa,Dummy_SK,ACK,Rb,M2,Dummy_M3,F,Set_114,Set_115,Set_116,Set_117,Set_118,Set_119,SID,B,Y) :=
 state_foreignagent(FA,MU,HA,H,1,IDmu,PWmu,Dummy_B,Mbu,Cmu,Rl,MSK,P,Z,IDha,X,Dummy_Y,IDfa,Dummy_SK,ACK,Rb,M2,Dummy_M3,F,Set_114,Set_115,Set_116,Set_117,Set_118,Set_119,SID).
 iknows(pair(IDha,pair(ACK,apply(H,pair(IDha,pair(IDfa,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(Y,P))))))))))
 =>
 state_foreignagent(FA,MU,HA,H,2,IDmu,PWmu,B,Mbu,Cmu,Rl,MSK,P,Z,IDha,X,Y,IDfa,apply(H,pair(apply(F,pair(Y,apply(F,pair(X,P)))),pair(apply(F,pair(Y,P)),pair(apply(F,pair(X,P)),pair(IDha,IDfa))))),ACK,Rb,M2,apply(H,pair(apply(H,pair(apply(F,pair(Y,apply(F,pair(X,P)))),pair(apply(F,pair(Y,P)),pair(apply(F,pair(X,P)),pair(IDha,IDfa))))),pair(IDfa,apply(H,pair(IDha,pair(IDfa,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(Y,P)))))))))),F,Set_114,Set_115,Set_116,Set_117,Set_118,Set_119,SID).
 iknows(pair(apply(H,pair(IDha,pair(IDfa,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(Y,P))))))),pair(apply(H,pair(apply(H,pair(apply(F,pair(Y,apply(F,pair(X,P)))),pair(apply(F,pair(Y,P)),pair(apply(F,pair(X,P)),pair(IDha,IDfa))))),pair(IDfa,apply(H,pair(IDha,pair(IDfa,pair(apply(H,pair(IDmu,B)),pair(apply(H,pair(apply(H,pair(IDmu,B)),MSK)),apply(F,pair(Y,P)))))))))),apply(F,pair(Y,P)))))

step step_7 (FA,MU,HA,H,IDmu,PWmu,B,Mbu,Cmu,Rl,MSK,P,Z,IDha,Dummy_X,Dummy_Y,IDfa,SK,ACK,Rb,M2,M3,F,Set_114,Set_115,Set_116,Set_117,Set_118,Set_119,SID,X,Y) :=
 state_foreignagent(FA,MU,HA,H,2,IDmu,PWmu,B,Mbu,Cmu,Rl,MSK,P,Z,IDha,Dummy_X,Dummy_Y,IDfa,SK,ACK,Rb,M2,M3,F,Set_114,Set_115,Set_116,Set_117,Set_118,Set_119,SID).
 iknows(pair(apply(H,pair(apply(F,pair(Y,apply(F,pair(X,P)))),pair(apply(F,pair(Y,P)),pair(apply(F,pair(X,P)),pair(IDha,IDfa))))),pair(IDfa,IDha)))
 =>
 state_foreignagent(FA,MU,HA,H,3,IDmu,PWmu,B,Mbu,Cmu,Rl,MSK,P,Z,IDha,X,Y,IDfa,SK,ACK,Rb,M2,M3,F,Set_114,Set_115,Set_116,Set_117,Set_118,Set_119,SID).
 request(MU,FA,mu_fa_x,X,SID)


section properties:

property secrecy_of_s1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_s2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_s3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_mu_fa_x (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,mu_fa_x,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,mu_fa_x,MGoal))
     /\ ((request(A1Goal,A2Goal,mu_fa_x,MGoal,SID1)
           /\ request(A1Goal,A2Goal,mu_fa_x,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_fa_ha_y (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,fa_ha_y,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,fa_ha_y,MGoal))
     /\ ((request(A1Goal,A2Goal,fa_ha_y,MGoal,SID1)
           /\ request(A1Goal,A2Goal,fa_ha_y,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_s1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_s2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_s3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s3,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_mu_fa_x (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,mu_fa_x,MGoal,SID) &
 not(witness(A2Goal,A1Goal,mu_fa_x,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_mu_fa_x (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,mu_fa_x,MGoal,SID1).
 request(A1Goal,A2Goal,mu_fa_x,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_fa_ha_y (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,fa_ha_y,MGoal,SID) &
 not(witness(A2Goal,A1Goal,fa_ha_y,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_fa_ha_y (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,fa_ha_y,MGoal,SID1).
 request(A1Goal,A2Goal,fa_ha_y,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

