%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileKnXYxOxEFu

section signature:

state_regcentre: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(text) * nat -> fact
state_bob: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * nat -> fact
state_alice: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(text) * set(agent) * set(text) * set(text) * set(agent) * nat -> fact


section types:

alice_bob, alice_regcentre, bob_alice, regcentre_alice, regcentre_bob, subs1, subs2, subs3, subs4, subs5, subs6, subs7, subs8: protocol_id
Set_173, Set_128, Set_127, Set_125, Set_122, Set_120, Set_119, Dummy_Set_128, Dummy_Set_127, Dummy_Set_125, Dummy_Set_122, Dummy_Set_120, Dummy_Set_119, Set_70, Set_69, Set_66, Set_64, Dummy_Set_173, Dummy_Set_70, Dummy_Set_69, Dummy_Set_66, Dummy_Set_64: set(text)
set_327, set_326, set_325, set_324, set_323, set_322, set_321, set_320, set_319, set_317, set_315, set_314, set_313, set_312, set_311, set_310, set_308, set_307, set_306, set_305, set_304, set_303, set_302, set_301, set_300, set_298, set_296, set_295, set_294, set_293, set_292, set_291, set_271, set_270, set_269, set_268, set_267, set_266, set_265, set_264, set_263, set_255, set_231, set_230, set_229, set_228, set_227, set_226: set
State, 13, 12, 11, 9, 8, 7, 3, 5, SID, 2, 1, 0, 4, Dummy_State, SID2, SID1: nat
Set_126, Set_123, Set_121, Dummy_Set_126, Dummy_Set_123, Dummy_Set_121, Set_71, Set_67, Dummy_Set_71, Dummy_Set_67, ASGoal: set(agent)
Pi, DID, Di, Xi, Gi, Wi, SK, Zi, Ti, Li, Yi, Hi, Ki, Dummy_Ki, Dummy_Yi, Dummy_Li, Dummy_Wi, start, Dummy_Hi, Dummy_Xi, Dummy_Zi, Dummy_SK, Dummy_Ti, Dummy_Di, Dummy_DID, Dummy_Pi, dummy_msg, MGoal: message
mul, add, sub, Inc, H, Mul, Add, Sub, h, dummy_hash: hash_func
sk1, skuisj, SK1, SKuisj: symmetric_key
ui, sj, rc, Ui, Sj, Rc, A2Goal, A1Goal, i: agent
x, krs, nr, ns, RPWi, PWi, R, DP, Bi, IDi, Ai, Ci, Fi, Nc, G, KRU, SIDj, X, KRS, Nr, Ns, Dummy_Nr, Dummy_Ci, Dummy_Ai, Dummy_KRS, Dummy_Ns, Dummy_SIDj, Dummy_KRU, Dummy_Nc, Dummy_DP, Dummy_R, Dummy_RPWi, dummy_nonce, rpwi, pwi, r, dp, bi, idi, ai, ci, fi, nc, g, kru, sidj: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(sj).
 iknows(rc).
 iknows(h).
 iknows(add).
 iknows(sub).
 iknows(mul).
 iknows(ai).
 iknows(ci).
 iknows(fi).
 iknows(i).
 state_alice(ui,sj,rc,skuisj,sk1,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_226,set_227,set_228,set_229,set_230,set_231,3).
 state_bob(sj,ui,rc,skuisj,sk1,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_255,4).
 state_regcentre(rc,ui,sj,skuisj,sk1,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_263,set_264,set_265,set_266,set_267,set_268,set_269,set_270,set_271,5).
 state_alice(ui,sj,rc,skuisj,sk1,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_291,set_292,set_293,set_294,set_295,set_296,7).
 state_bob(sj,ui,rc,skuisj,sk1,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_298,8).
 state_regcentre(rc,ui,sj,skuisj,sk1,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_300,set_301,set_302,set_303,set_304,set_305,set_306,set_307,set_308,9).
 state_alice(sj,ui,rc,skuisj,sk1,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_310,set_311,set_312,set_313,set_314,set_315,11).
 state_bob(ui,sj,rc,skuisj,sk1,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_317,12).
 state_regcentre(rc,sj,ui,skuisj,sk1,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_319,set_320,set_321,set_322,set_323,set_324,set_325,set_326,set_327,13)


section rules:

step step_0 (Ui,Sj,Rc,SKuisj,SK1,H,Mul,Add,Sub,Dummy_RPWi,PWi,Dummy_R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,SK,Zi,Ti,Li,Yi,Hi,Ki,Inc,Dummy_Set_64,Dummy_Set_66,Dummy_Set_67,Set_69,Set_70,Set_71,SID,R) :=
 state_alice(Ui,Sj,Rc,SKuisj,SK1,H,Mul,Add,Sub,0,Dummy_RPWi,PWi,Dummy_R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,SK,Zi,Ti,Li,Yi,Hi,Ki,Inc,Dummy_Set_64,Dummy_Set_66,Dummy_Set_67,Set_69,Set_70,Set_71,SID).
 iknows(start)
=[exists R]=>
 state_alice(Ui,Sj,Rc,SKuisj,SK1,H,Mul,Add,Sub,1,apply(H,pair(PWi,R)),PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,SK,Zi,Ti,Li,Yi,Hi,Ki,Inc,Dummy_Set_64,Dummy_Set_66,Dummy_Set_67,Set_69,Set_70,Set_71,SID).
 iknows(scrypt(SKuisj,pair(IDi,pair(apply(H,pair(PWi,R)),Fi)))).
 secret(Dummy_Set_64,subs1,Ui).
 secret(Dummy_Set_66,subs2,Dummy_Set_67).
 contains(PWi,Dummy_Set_64).
 contains(Bi,Dummy_Set_64).
 contains(IDi,Dummy_Set_66).
 contains(Ui,Dummy_Set_67).
 contains(Sj,Dummy_Set_67).
 contains(Rc,Dummy_Set_67)

step step_1 (Ui,Sj,Rc,SKuisj,SK1,H,Mul,Add,Sub,RPWi,PWi,R,Dummy_DP,Bi,IDi,Ai,Ci,Fi,Dummy_Nc,G,Dummy_KRU,SIDj,X,KRS,Nr,Ns,Dummy_Pi,Dummy_DID,Dummy_Di,Xi,Gi,Wi,SK,Zi,Dummy_Ti,Li,Yi,Hi,Ki,Inc,Set_64,Set_66,Set_67,Dummy_Set_69,Dummy_Set_70,Dummy_Set_71,SID,Nc) :=
 state_alice(Ui,Sj,Rc,SKuisj,SK1,H,Mul,Add,Sub,1,RPWi,PWi,R,Dummy_DP,Bi,IDi,Ai,Ci,Fi,Dummy_Nc,G,Dummy_KRU,SIDj,X,KRS,Nr,Ns,Dummy_Pi,Dummy_DID,Dummy_Di,Xi,Gi,Wi,SK,Zi,Dummy_Ti,Li,Yi,Hi,Ki,Inc,Set_64,Set_66,Set_67,Dummy_Set_69,Dummy_Set_70,Dummy_Set_71,SID).
 iknows(scrypt(SKuisj,pair(Fi,pair(Ai,Ci))))
=[exists Nc]=>
 state_alice(Ui,Sj,Rc,SKuisj,SK1,H,Mul,Add,Sub,2,RPWi,PWi,R,xor(R,apply(H,pair(IDi,PWi))),Bi,IDi,Ai,Ci,Fi,Nc,G,apply(Sub,pair(Ai,apply(Mul,pair(apply(H,pair(IDi,RPWi)),G)))),SIDj,X,KRS,Nr,Ns,apply(Add,pair(apply(Mul,pair(Nc,G)),apply(Mul,pair(apply(Sub,pair(Ai,apply(Mul,pair(apply(H,pair(IDi,RPWi)),G)))),RPWi)))),apply(H,pair(IDi,apply(Mul,pair(Nc,G)))),apply(H,pair(SIDj,pair(RPWi,pair(apply(Mul,pair(Nc,G)),apply(Sub,pair(Ai,apply(Mul,pair(apply(H,pair(IDi,RPWi)),G)))))))),Xi,Gi,Wi,SK,Zi,apply(Mul,pair(Nc,G)),Li,Yi,Hi,Ki,Inc,Set_64,Set_66,Set_67,Dummy_Set_69,Dummy_Set_70,Dummy_Set_71,SID).
 iknows(pair(apply(Add,pair(apply(Mul,pair(Nc,G)),apply(Mul,pair(apply(Sub,pair(Ai,apply(Mul,pair(apply(H,pair(IDi,RPWi)),G)))),RPWi)))),pair(apply(H,pair(IDi,apply(Mul,pair(Nc,G)))),pair(apply(H,pair(SIDj,pair(RPWi,pair(apply(Mul,pair(Nc,G)),apply(Sub,pair(Ai,apply(Mul,pair(apply(H,pair(IDi,RPWi)),G)))))))),SIDj)))).
 secret(Dummy_Set_69,subs3,Ui).
 secret(Dummy_Set_70,subs4,Dummy_Set_71).
 contains(Nc,Dummy_Set_69).
 contains(apply(Sub,pair(Ai,apply(Mul,pair(apply(H,pair(IDi,RPWi)),G)))),Dummy_Set_70).
 contains(Ui,Dummy_Set_71).
 contains(Rc,Dummy_Set_71)

step step_2 (Ui,Sj,Rc,SKuisj,SK1,H,Mul,Add,Sub,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,Dummy_SK,Dummy_Zi,Ti,Li,Yi,Hi,Ki,Inc,Set_64,Set_66,Set_67,Set_69,Set_70,Set_71,SID) :=
 state_alice(Ui,Sj,Rc,SKuisj,SK1,H,Mul,Add,Sub,2,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,Dummy_SK,Dummy_Zi,Ti,Li,Yi,Hi,Ki,Inc,Set_64,Set_66,Set_67,Set_69,Set_70,Set_71,SID).
 iknows(Xi)
 =>
 state_alice(Ui,Sj,Rc,SKuisj,SK1,H,Mul,Add,Sub,3,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,apply(Mul,pair(IDi,pair(SIDj,pair(Li,pair(Ti,Hi))))),apply(H,pair(IDi,apply(Mul,pair(IDi,pair(SIDj,pair(Li,pair(Ti,Hi))))))),Ti,Li,Yi,Hi,Ki,Inc,Set_64,Set_66,Set_67,Set_69,Set_70,Set_71,SID).
 iknows(apply(H,pair(IDi,apply(Mul,pair(IDi,pair(SIDj,pair(Li,pair(Ti,Hi))))))))

step step_3 (Sj,Ui,Rc,SKuisj,SK1,H,Mul,Add,Sub,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,Dummy_SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,SK,Zi,Ti,Li,Yi,Hi,Ki,Inc,Set_173,SID,SIDj) :=
 state_bob(Sj,Ui,Rc,SKuisj,SK1,H,Mul,Add,Sub,0,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,Dummy_SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,SK,Zi,Ti,Li,Yi,Hi,Ki,Inc,Set_173,SID).
 iknows(start)
=[exists SIDj]=>
 state_bob(Sj,Ui,Rc,SKuisj,SK1,H,Mul,Add,Sub,1,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,SK,Zi,Ti,Li,Yi,Hi,Ki,Inc,Set_173,SID).
 iknows(SIDj)

step step_4 (Sj,Ui,Rc,SKuisj,SK1,H,Mul,Add,Sub,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,Dummy_SIDj,X,KRS,Nr,Dummy_Ns,Pi,DID,Di,Dummy_Xi,Gi,Wi,SK,Dummy_Zi,Ti,Li,Yi,Dummy_Hi,Ki,Inc,Dummy_Set_173,SID,SIDj,Ns) :=
 state_bob(Sj,Ui,Rc,SKuisj,SK1,H,Mul,Add,Sub,1,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,Dummy_SIDj,X,KRS,Nr,Dummy_Ns,Pi,DID,Di,Dummy_Xi,Gi,Wi,SK,Dummy_Zi,Ti,Li,Yi,Dummy_Hi,Ki,Inc,Dummy_Set_173,SID).
 iknows(pair(scrypt(SK1,KRS),pair(SIDj,pair(Ki,pair(Yi,Wi)))))
=[exists Ns]=>
 state_bob(Sj,Ui,Rc,SKuisj,SK1,H,Mul,Add,Sub,2,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,KRS,Nr,Ns,Pi,DID,Di,apply(Add,pair(apply(Mul,pair(Ns,G)),Ti)),Gi,Wi,SK,apply(H,pair(Li,pair(IDi,pair(SIDj,apply(Mul,pair(Ns,G)))))),Ti,Li,Yi,apply(Mul,pair(Ns,G)),Ki,Inc,Dummy_Set_173,SID).
 iknows(pair(apply(Add,pair(apply(Mul,pair(Ns,G)),Ti)),pair(apply(H,pair(Li,pair(IDi,pair(SIDj,apply(Mul,pair(Ns,G)))))),pair(Wi,Dummy_SIDj)))).
 secret(Dummy_Set_173,subs8,Sj).
 contains(Ns,Dummy_Set_173)

step step_5 (Sj,Ui,Rc,SKuisj,SK1,H,Mul,Add,Sub,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,SK,Zi,Ti,Li,Yi,Hi,Ki,Inc,Set_173,SID) :=
 state_bob(Sj,Ui,Rc,SKuisj,SK1,H,Mul,Add,Sub,2,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,SK,Zi,Ti,Li,Yi,Hi,Ki,Inc,Set_173,SID).
 iknows(Zi)
 =>
 state_bob(Sj,Ui,Rc,SKuisj,SK1,H,Mul,Add,Sub,3,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,SK,Zi,Ti,Li,Yi,Hi,Ki,Inc,Set_173,SID)

step step_6 (Rc,Ui,Sj,SKuisj,SK1,H,Mul,Add,Sub,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,Dummy_KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,SK,Zi,Ti,Li,Yi,Hi,Ki,Inc,Dummy_Set_119,Dummy_Set_120,Dummy_Set_121,Set_122,Set_123,Set_125,Set_126,Set_127,Set_128,SID) :=
 state_regcentre(Rc,Ui,Sj,SKuisj,SK1,H,Mul,Add,Sub,0,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,Dummy_KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,SK,Zi,Ti,Li,Yi,Hi,Ki,Inc,Dummy_Set_119,Dummy_Set_120,Dummy_Set_121,Set_122,Set_123,Set_125,Set_126,Set_127,Set_128,SID).
 iknows(SIDj)
 =>
 state_regcentre(Rc,Ui,Sj,SKuisj,SK1,H,Mul,Add,Sub,1,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,apply(H,pair(SIDj,X)),Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,SK,Zi,Ti,Li,Yi,Hi,Ki,Inc,Dummy_Set_119,Dummy_Set_120,Dummy_Set_121,Set_122,Set_123,Set_125,Set_126,Set_127,Set_128,SID).
 secret(Dummy_Set_119,subs5,Rc).
 iknows(scrypt(SK1,apply(H,pair(SIDj,X)))).
 secret(Dummy_Set_120,subs6,Dummy_Set_121).
 contains(X,Dummy_Set_119).
 contains(apply(H,pair(SIDj,X)),Dummy_Set_120).
 contains(Sj,Dummy_Set_121).
 contains(Rc,Dummy_Set_121)

step step_7 (Rc,Ui,Sj,SKuisj,SK1,H,Mul,Add,Sub,RPWi,PWi,R,DP,Bi,IDi,Dummy_Ai,Dummy_Ci,Fi,Nc,G,Dummy_KRU,SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,SK,Zi,Ti,Li,Yi,Hi,Ki,Inc,Set_119,Set_120,Set_121,Dummy_Set_122,Dummy_Set_123,Dummy_Set_125,Dummy_Set_126,Dummy_Set_127,Set_128,SID) :=
 state_regcentre(Rc,Ui,Sj,SKuisj,SK1,H,Mul,Add,Sub,1,RPWi,PWi,R,DP,Bi,IDi,Dummy_Ai,Dummy_Ci,Fi,Nc,G,Dummy_KRU,SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,SK,Zi,Ti,Li,Yi,Hi,Ki,Inc,Set_119,Set_120,Set_121,Dummy_Set_122,Dummy_Set_123,Dummy_Set_125,Dummy_Set_126,Dummy_Set_127,Set_128,SID).
 iknows(scrypt(SKuisj,pair(IDi,pair(RPWi,Fi))))
 =>
 state_regcentre(Rc,Ui,Sj,SKuisj,SK1,H,Mul,Add,Sub,2,RPWi,PWi,R,DP,Bi,IDi,apply(Add,pair(apply(Mul,pair(apply(H,pair(IDi,X)),G)),apply(Mul,pair(apply(H,pair(IDi,RPWi)),G)))),apply(h,pair(apply(Mul,pair(apply(H,pair(IDi,X)),G)),pair(IDi,RPWi))),Fi,Nc,G,apply(Mul,pair(apply(H,pair(IDi,X)),G)),SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,Wi,SK,Zi,Ti,Li,Yi,Hi,Ki,Inc,Set_119,Set_120,Set_121,Dummy_Set_122,Dummy_Set_123,Dummy_Set_125,Dummy_Set_126,Dummy_Set_127,Set_128,SID).
 secret(Dummy_Set_122,subs2,Dummy_Set_123).
 iknows(scrypt(SKuisj,pair(Fi,pair(apply(Add,pair(apply(Mul,pair(apply(H,pair(IDi,X)),G)),apply(Mul,pair(apply(H,pair(IDi,RPWi)),G)))),apply(h,pair(apply(Mul,pair(apply(H,pair(IDi,X)),G)),pair(IDi,RPWi))))))).
 secret(Dummy_Set_125,subs4,Dummy_Set_126).
 secret(Dummy_Set_127,subs5,Rc).
 contains(IDi,Dummy_Set_122).
 contains(Ui,Dummy_Set_123).
 contains(Sj,Dummy_Set_123).
 contains(Rc,Dummy_Set_123).
 contains(apply(Mul,pair(apply(H,pair(IDi,X)),G)),Dummy_Set_125).
 contains(Ui,Dummy_Set_126).
 contains(Rc,Dummy_Set_126).
 contains(X,Dummy_Set_127)

step step_8 (Rc,Ui,Sj,SKuisj,SK1,H,Mul,Add,Sub,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,KRS,Dummy_Nr,Ns,Pi,DID,Di,Xi,Gi,Dummy_Wi,SK,Zi,Dummy_Ti,Dummy_Li,Dummy_Yi,Hi,Dummy_Ki,Inc,Set_119,Set_120,Set_121,Set_122,Set_123,Set_125,Set_126,Set_127,Dummy_Set_128,SID,Nr) :=
 state_regcentre(Rc,Ui,Sj,SKuisj,SK1,H,Mul,Add,Sub,2,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,KRS,Dummy_Nr,Ns,Pi,DID,Di,Xi,Gi,Dummy_Wi,SK,Zi,Dummy_Ti,Dummy_Li,Dummy_Yi,Hi,Dummy_Ki,Inc,Set_119,Set_120,Set_121,Set_122,Set_123,Set_125,Set_126,Set_127,Dummy_Set_128,SID).
 iknows(pair(Pi,pair(DID,pair(Di,SIDj))))
=[exists Nr]=>
 state_regcentre(Rc,Ui,Sj,SKuisj,SK1,H,Mul,Add,Sub,3,RPWi,PWi,R,DP,Bi,IDi,Ai,Ci,Fi,Nc,G,KRU,SIDj,X,KRS,Nr,Ns,Pi,DID,Di,Xi,Gi,apply(Add,pair(apply(Mul,pair(IDi,G)),apply(Mul,pair(Nr,G)))),SK,Zi,apply(Sub,pair(Pi,apply(Mul,pair(KRU,G)))),apply(Mul,pair(Nr,G)),apply(Add,pair(apply(Mul,pair(KRS,G)),apply(Sub,pair(Pi,apply(Mul,pair(KRU,G)))))),Hi,apply(H,pair(apply(Mul,pair(Nr,G)),pair(apply(Add,pair(apply(Mul,pair(KRS,G)),apply(Sub,pair(Pi,apply(Mul,pair(KRU,G)))))),pair(KRS,IDi)))),Inc,Set_119,Set_120,Set_121,Set_122,Set_123,Set_125,Set_126,Set_127,Dummy_Set_128,SID).
 iknows(pair(SIDj,pair(apply(H,pair(apply(Mul,pair(Nr,G)),pair(apply(Add,pair(apply(Mul,pair(KRS,G)),apply(Sub,pair(Pi,apply(Mul,pair(KRU,G)))))),pair(KRS,IDi)))),pair(apply(Add,pair(apply(Mul,pair(KRS,G)),apply(Sub,pair(Pi,apply(Mul,pair(KRU,G)))))),apply(Add,pair(apply(Mul,pair(IDi,G)),apply(Mul,pair(Nr,G)))))))).
 secret(Dummy_Set_128,subs7,Rc).
 contains(Nr,Dummy_Set_128)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs7 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs7,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs8 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs8,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_regcentre_nc (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_regcentre_nc,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_regcentre_nc,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_regcentre_nc,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_regcentre_nc,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_regcentre_bob_nr (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,regcentre_bob_nr,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,regcentre_bob_nr,MGoal))
     /\ ((request(A1Goal,A2Goal,regcentre_bob_nr,MGoal,SID1)
           /\ request(A1Goal,A2Goal,regcentre_bob_nr,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_ns (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_ns,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_ns,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_ns,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_ns,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs7 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs7,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs8 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs8,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_regcentre_nc (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_regcentre_nc,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_regcentre_nc,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_regcentre_nc (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_regcentre_nc,MGoal,SID1).
 request(A1Goal,A2Goal,alice_regcentre_nc,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_regcentre_bob_nr (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,regcentre_bob_nr,MGoal,SID) &
 not(witness(A2Goal,A1Goal,regcentre_bob_nr,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_regcentre_bob_nr (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,regcentre_bob_nr,MGoal,SID1).
 request(A1Goal,A2Goal,regcentre_bob_nr,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_ns (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_ns,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_ns,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_ns (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_ns,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_ns,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

