%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileNou7O4

section signature:

state_bob: agent * agent * agent * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(text) * set(agent) * set(agent) * nat -> fact
state_server: agent * agent * agent * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(text) * set(agent) * set(agent) * nat -> fact
state_alice: agent * agent * agent * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(text) * set(agent) * set(agent) * nat -> fact


section types:

MGoal, start: message
server_bob_ts2, bob_server_ts3, alice_server_ts1, server_alice_ts4, alice_server_tidi, server_alice_tidinew, subs1, subs2, subs3, subs4, subs5: protocol_id
Dummy_TS2, Dummy_TIDinew, Dummy_TS4, Dummy_TS3, Dummy_TIDi, Dummy_TS1, dummy_nonce, idi, idsnj, ts1, ts2, ts3, ts4, tidi, tidinew, M1, M3, RPWi, TCi, PTCi, PKSi, Ci, TIDinew, Kgwnu, Kgwns, Xs, TEi, TIDi, Ki, Kj, Cj, PKSj, IDi, IDsnj, K, PWi, Bi, TS1, TS2, TS3, TS4: text
Dummy_Set_95, Dummy_Set_94, Dummy_Set_92, Dummy_Set_53, Dummy_Set_52, Dummy_Set_50, ASGoal, Set_135, Set_134, Set_132, Set_95, Set_94, Set_92, Set_53, Set_52, Set_50, Dummy_Set_135, Dummy_Set_134, Dummy_Set_132: set(agent)
h, H: hash_func
Dummy_Set_93, Dummy_Set_91, Dummy_Set_90, Dummy_Set_51, Dummy_Set_49, Dummy_Set_47, Set_133, Set_131, Set_130, Set_93, Set_91, Set_90, Set_51, Set_49, Set_47, Dummy_Set_133, Dummy_Set_131, Dummy_Set_130: set(text)
4, SID, Dummy_State, 3, SID2, SID1, State, 2, 13, 12, 1, 0, 11, 9, 8, 7, 5: nat
A2Goal, A1Goal, ui, gwn, snj, Ui, GWN, SNj, i: agent
set_193, set_192, set_191, set_190, set_189, set_188, set_172, set_171, set_170, set_169, set_168, set_167, set_257, set_256, set_255, set_254, set_253, set_252, set_250, set_249, set_248, set_247, set_246, set_245, set_243, set_242, set_241, set_240, set_239, set_238, set_236, set_235, set_234, set_233, set_232, set_231, set_229, set_228, set_227, set_226, set_225, set_224, set_222, set_221, set_220, set_219, set_218, set_217, set_208, set_207, set_206, set_205, set_204, set_203: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(idsnj).
 iknows(h).
 iknows(i).
 state_alice(ui,gwn,snj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_167,set_168,set_169,set_170,set_171,set_172,3).
 state_server(gwn,ui,snj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_188,set_189,set_190,set_191,set_192,set_193,4).
 state_bob(snj,ui,gwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_203,set_204,set_205,set_206,set_207,set_208,5).
 state_alice(ui,gwn,snj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_217,set_218,set_219,set_220,set_221,set_222,7).
 state_server(gwn,ui,snj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_224,set_225,set_226,set_227,set_228,set_229,8).
 state_bob(snj,ui,gwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_231,set_232,set_233,set_234,set_235,set_236,9).
 state_alice(ui,gwn,snj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_238,set_239,set_240,set_241,set_242,set_243,11).
 state_server(gwn,ui,snj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_245,set_246,set_247,set_248,set_249,set_250,12).
 state_bob(snj,ui,gwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_252,set_253,set_254,set_255,set_256,set_257,13)


section rules:

step step_0 (Ui,GWN,SNj,H,IDi,IDsnj,K,PWi,Bi,Dummy_TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_47,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,SID,TS1,TIDi) :=
 state_alice(Ui,GWN,SNj,H,0,IDi,IDsnj,K,PWi,Bi,Dummy_TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_47,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,SID).
 iknows(start)
=[exists TIDi,TS1]=>
 state_alice(Ui,GWN,SNj,H,1,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_47,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,SID).
 secret(Dummy_Set_47,subs1,Ui).
 secret(Dummy_Set_49,subs2,Dummy_Set_50).
 secret(Dummy_Set_51,subs3,GWN).
 secret(Ki,subs4,Dummy_Set_52).
 secret(Kj,subs5,Dummy_Set_53).
 iknows(pair(TIDi,pair(apply(H,pair(IDi,pair(Ki,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(apply(H,pair(IDi,Xs)),pair(TIDi,TS1)))))),pair(xor(Ki,apply(H,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(apply(H,pair(IDi,Xs)),TS1)))),TS1)))).
 witness(Ui,GWN,alice_server_ts1,TS1).
 witness(Ui,GWN,alice_server_tidi,TIDi).
 contains(PWi,Dummy_Set_47).
 contains(Bi,Dummy_Set_47).
 contains(K,Dummy_Set_47).
 contains(IDi,Dummy_Set_49).
 contains(Dummy_TIDi,Dummy_Set_49).
 contains(Ui,Dummy_Set_50).
 contains(GWN,Dummy_Set_50).
 contains(Kgwnu,Dummy_Set_51).
 contains(Kgwns,Dummy_Set_51).
 contains(Xs,Dummy_Set_51).
 contains(TEi,Dummy_Set_51).
 contains(GWN,Dummy_Set_52).
 contains(Ui,Dummy_Set_52).
 contains(SNj,Dummy_Set_52).
 contains(GWN,Dummy_Set_53).
 contains(Ui,Dummy_Set_53).
 contains(SNj,Dummy_Set_53)

step step_1 (Ui,GWN,SNj,H,IDi,IDsnj,K,PWi,Bi,TS1,TS2,Dummy_TS3,Dummy_TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,Dummy_TIDinew,Set_47,Set_49,Set_50,Set_51,Set_52,Set_53,SID,TS3,TS4,TIDinew) :=
 state_alice(Ui,GWN,SNj,H,1,IDi,IDsnj,K,PWi,Bi,TS1,TS2,Dummy_TS3,Dummy_TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,Dummy_TIDinew,Set_47,Set_49,Set_50,Set_51,Set_52,Set_53,SID).
 iknows(pair(IDsnj,pair(TS3,pair(TS4,pair(xor(Kj,apply(H,pair(xor(Ki,apply(H,pair(IDi,Xs))),TS3))),pair(xor(TIDinew,apply(H,xor(Ki,pair(apply(H,pair(IDi,Xs)),pair(TS3,TS4))))),apply(H,pair(IDi,pair(IDsnj,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(xor(TIDinew,apply(H,xor(Ki,pair(apply(H,pair(IDi,Xs)),pair(TS3,TS4))))),pair(Kj,pair(TS3,TS4)))))))))))))
 =>
 state_alice(Ui,GWN,SNj,H,2,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Set_47,Set_49,Set_50,Set_51,Set_52,Set_53,SID).
 request(GWN,Ui,server_alice_ts4,TS4,SID).
 request(Ui,GWN,server_alice_tidinew,TIDinew,SID)

step step_2 (GWN,Ui,SNj,H,IDi,IDsnj,K,PWi,Bi,Dummy_TS1,Dummy_TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_90,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,SID,TS1,TS2,TIDi) :=
 state_server(GWN,Ui,SNj,H,0,IDi,IDsnj,K,PWi,Bi,Dummy_TS1,Dummy_TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_90,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,SID).
 iknows(pair(TIDi,pair(apply(H,pair(IDi,pair(Ki,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(apply(H,pair(IDi,Xs)),pair(TIDi,TS1)))))),pair(xor(Ki,apply(H,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(apply(H,pair(IDi,Xs)),TS1)))),TS1))))
=[exists TS2]=>
 state_server(GWN,Ui,SNj,H,1,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_90,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,SID).
 secret(Dummy_Set_90,subs1,Ui).
 secret(Dummy_Set_91,subs2,Dummy_Set_92).
 secret(Dummy_Set_93,subs3,GWN).
 secret(Ki,subs4,Dummy_Set_94).
 secret(Kj,subs5,Dummy_Set_95).
 iknows(pair(TS2,pair(TIDi,pair(apply(H,pair(TIDi,pair(apply(H,pair(Kgwns,IDsnj)),TS2))),xor(xor(Ki,apply(H,pair(IDi,Xs))),apply(H,pair(apply(H,pair(Kgwns,IDsnj)),TS2))))))).
 witness(GWN,SNj,server_bob_ts2,TS2).
 contains(PWi,Dummy_Set_90).
 contains(Bi,Dummy_Set_90).
 contains(K,Dummy_Set_90).
 contains(IDi,Dummy_Set_91).
 contains(Dummy_TIDi,Dummy_Set_91).
 contains(Ui,Dummy_Set_92).
 contains(GWN,Dummy_Set_92).
 contains(Kgwnu,Dummy_Set_93).
 contains(Kgwns,Dummy_Set_93).
 contains(Xs,Dummy_Set_93).
 contains(TEi,Dummy_Set_93).
 contains(GWN,Dummy_Set_94).
 contains(Ui,Dummy_Set_94).
 contains(SNj,Dummy_Set_94).
 contains(GWN,Dummy_Set_95).
 contains(Ui,Dummy_Set_95).
 contains(SNj,Dummy_Set_95)

step step_3 (GWN,Ui,SNj,H,IDi,IDsnj,K,PWi,Bi,TS1,TS2,Dummy_TS3,Dummy_TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,Dummy_TIDinew,Set_90,Set_91,Set_92,Set_93,Set_94,Set_95,SID,TS3,TS4,TIDi,TIDinew) :=
 state_server(GWN,Ui,SNj,H,1,IDi,IDsnj,K,PWi,Bi,TS1,TS2,Dummy_TS3,Dummy_TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,Dummy_TIDinew,Set_90,Set_91,Set_92,Set_93,Set_94,Set_95,SID).
 iknows(pair(IDsnj,pair(TS3,pair(apply(H,pair(Kj,pair(TIDi,pair(IDsnj,TS3)))),xor(Kj,apply(H,pair(xor(Ki,apply(H,pair(IDi,Xs))),TS3)))))))
=[exists TIDinew,TS4]=>
 state_server(GWN,Ui,SNj,H,2,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Set_90,Set_91,Set_92,Set_93,Set_94,Set_95,SID).
 iknows(pair(IDsnj,pair(TS3,pair(TS4,pair(xor(Kj,apply(H,pair(xor(Ki,apply(H,pair(IDi,Xs))),TS3))),pair(xor(TIDinew,apply(H,xor(Ki,pair(apply(H,pair(IDi,Xs)),pair(TS3,TS4))))),apply(H,pair(IDi,pair(IDsnj,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(xor(TIDinew,apply(H,xor(Ki,pair(apply(H,pair(IDi,Xs)),pair(TS3,TS4))))),pair(Kj,pair(TS3,TS4))))))))))))).
 witness(GWN,SNj,server_alice_ts4,TS4).
 witness(GWN,SNj,server_alice_tidinew,TIDinew).
 request(Ui,GWN,alice_server_ts1,TS1,SID).
 request(SNj,GWN,bob_server_ts3,TS3,SID).
 request(Ui,GWN,alice_server_tidi,Dummy_TIDi,SID)

step step_4 (SNj,Ui,GWN,H,IDi,IDsnj,K,PWi,Bi,TS1,Dummy_TS2,Dummy_TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,Cj,PKSj,M1,M3,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,Dummy_Set_134,Dummy_Set_135,SID,TS2,TS3,TIDi) :=
 state_bob(SNj,Ui,GWN,H,0,IDi,IDsnj,K,PWi,Bi,TS1,Dummy_TS2,Dummy_TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,Cj,PKSj,M1,M3,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,Dummy_Set_134,Dummy_Set_135,SID).
 iknows(pair(TS2,pair(TIDi,pair(apply(H,pair(TIDi,pair(apply(H,pair(Kgwns,IDsnj)),TS2))),xor(xor(Ki,apply(H,pair(IDi,Xs))),apply(H,pair(apply(H,pair(Kgwns,IDsnj)),TS2)))))))
=[exists TS3]=>
 state_bob(SNj,Ui,GWN,H,1,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,Cj,PKSj,M1,M3,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,Dummy_Set_134,Dummy_Set_135,SID).
 secret(Dummy_Set_130,subs1,Ui).
 secret(Dummy_Set_131,subs2,Dummy_Set_132).
 secret(Dummy_Set_133,subs3,GWN).
 secret(Ki,subs4,Dummy_Set_134).
 secret(Kj,subs5,Dummy_Set_135).
 iknows(pair(IDsnj,pair(TS3,pair(apply(H,pair(Kj,pair(TIDi,pair(IDsnj,TS3)))),xor(Kj,apply(H,pair(xor(Ki,apply(H,pair(IDi,Xs))),TS3))))))).
 witness(SNj,GWN,bob_server_ts3,TS3).
 request(GWN,SNj,server_bob_ts2,TS2,SID).
 contains(PWi,Dummy_Set_130).
 contains(Bi,Dummy_Set_130).
 contains(K,Dummy_Set_130).
 contains(IDi,Dummy_Set_131).
 contains(Dummy_TIDi,Dummy_Set_131).
 contains(Ui,Dummy_Set_132).
 contains(GWN,Dummy_Set_132).
 contains(Kgwnu,Dummy_Set_133).
 contains(Kgwns,Dummy_Set_133).
 contains(Xs,Dummy_Set_133).
 contains(TEi,Dummy_Set_133).
 contains(GWN,Dummy_Set_134).
 contains(Ui,Dummy_Set_134).
 contains(SNj,Dummy_Set_134).
 contains(GWN,Dummy_Set_135).
 contains(Ui,Dummy_Set_135).
 contains(SNj,Dummy_Set_135)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_server_ts1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_server_ts1,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_bob_ts2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_bob_ts2,MGoal))
     /\ ((request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_server_ts3 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_server_ts3,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_alice_ts4 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_alice_ts4,MGoal))
     /\ ((request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_alice_server_tidi (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_server_tidi,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_server_tidi,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_server_tidi,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_server_tidi,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_alice_tidinew (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_alice_tidinew,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_alice_tidinew,MGoal))
     /\ ((request(A1Goal,A2Goal,server_alice_tidinew,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_alice_tidinew,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_server_ts1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_server_ts1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_server_ts1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID1).
 request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_bob_ts2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_bob_ts2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_bob_ts2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID1).
 request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_server_ts3 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_server_ts3,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_server_ts3 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID1).
 request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_alice_ts4 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_alice_ts4,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_alice_ts4 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID1).
 request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_alice_server_tidi (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_server_tidi,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_server_tidi,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_server_tidi (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_server_tidi,MGoal,SID1).
 request(A1Goal,A2Goal,alice_server_tidi,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_alice_tidinew (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_alice_tidinew,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_alice_tidinew,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_alice_tidinew (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_alice_tidinew,MGoal,SID1).
 request(A1Goal,A2Goal,server_alice_tidinew,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

