%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile1GuHdX

section signature:

state_cap: agent * agent * agent * public_key * public_key * nat * symmetric_key * symmetric_key * text * text * text * text * text * text * text * text * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact
state_server: agent * agent * symmetric_key * text * hash_func * hash_func * hash_func * hash_func * hash_func * hash_func * hash_func * public_key * public_key * nat * symmetric_key * symmetric_key * symmetric_key * text * text * text * text * text * text * text * text * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact
state_mobile: agent * agent * agent * symmetric_key * text * hash_func * hash_func * hash_func * hash_func * hash_func * public_key * public_key * public_key * nat * symmetric_key * symmetric_key * symmetric_key * hash_func * hash_func * text * text * text * text * text * text * text * text * text * text * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact


section types:

seq_2_c, guti_2_c, kenb_2_c, seq_1_c, guti_1_c, kenb_1_c, kenb_2_mc, guti_2_mc, cert_2_m, kenb_1_mc, guti_1_mc, cert_1_m, sseq2, k_asme_m, guti_1_m, kenb_1_m, r1, r2, r10, r20, sseq1, k_asme_s, guti_1_s, kenb_1_s, cert_1_s, cert_2_s: protocol_id
set_343, set_342, set_341, set_340, set_339, set_338, set_337, set_336, set_335, set_334, set_333, set_332, set_330, set_329, set_328, set_327, set_326, set_325, set_324, set_323, set_322, set_321, set_319, set_318, set_317, set_316, set_315, set_314, set_312, set_311, set_310, set_309, set_308, set_307, set_306, set_305, set_304, set_303, set_302, set_301, set_300, set_299, set_298, set_297, set_286, set_285, set_284, set_283, set_282, set_281, set_270, set_269, set_268, set_267, set_266, set_265, set_232, set_231, set_230, set_229, set_228, set_227, set_226, set_225, set_224, set_223: set
22, 21, 20, 13, State, 11, 17, 15, 9, 8, 7, 5, SID, 4, 10, 6, 3, 2, 1, 0, Dummy_State: nat
Set_154, Set_153, Set_152, Set_150, Set_149, Set_148, Set_120, Set_119, Set_116, Set_114, Set_113, Set_112, Set_111, Set_109, Set_106, Set_105, Dummy_Set_154, Dummy_Set_153, Dummy_Set_152, Dummy_Set_150, Dummy_Set_149, Dummy_Set_148, Dummy_Set_59, Dummy_Set_56, Dummy_Set_54, Dummy_Set_51, Dummy_Set_50, Dummy_Set_45, Dummy_Set_120, Dummy_Set_119, Set_59, Dummy_Set_116, Set_56, Set_54, Dummy_Set_114, Dummy_Set_113, Set_51, Dummy_Set_112, Set_50, Dummy_Set_111, Dummy_Set_109, Set_45, Dummy_Set_106, Dummy_Set_105, ASGoal: set(agent)
start, MGoal: message
R5, Guti2, Seq2, Cert2, R4, Guti1, Seq1, Cert1, R, R1, R2, R3, Dummy_Seq2, Dummy_Seq1, Seq, Dummy_R5, Dummy_R4, Dummy_Cert2, Dummy_Guti2, Dummy_R3, Dummy_Cert1, Dummy_R2, Dummy_Guti1, Dummy_R1, Dummy_Seq, Dummy_R, dummy_nonce, seq_as, seq_is, seq_ai: text
k_as, k_is, k_ai, Kenb1, Kenb2, Kasme, Kenb_1, Kenb_2, Dummy_Kenb2, Dummy_Kenb1, K_M, Dummy_Kenb_2, Dummy_Kenb_1, Dummy_Kasme, dummy_sk: symmetric_key
Kc, Ks, Km, ks, kap1, kap2, ki, km, kc: public_key
m, s, c, C, M, S, A2Goal, A1Goal, i: agent
f_add, F_kenb, F_guti, F1, F2, F5, F_add, F_asme, Dummy_F_kenb, Dummy_F_guti, dummy_hash, f_asme, f_kenb, f_guti, f1, f2, f5: hash_func


section inits:

initial_state init1 := 
 iknows(start).
 iknows(m).
 iknows(s).
 iknows(f1).
 iknows(f2).
 iknows(f5).
 iknows(f_add).
 iknows(f_asme).
 iknows(f_kenb).
 iknows(f_guti).
 iknows(ki).
 iknows(inv(ki)).
 iknows(i).
 state_mobile(m,s,c,k_as,seq_as,f1,f2,f5,f_add,f_asme,km,ks,kc,1,dummy_sk,dummy_sk,dummy_sk,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_223,set_224,set_225,set_226,set_227,set_228,set_229,set_230,set_231,set_232,3).
 state_server(s,m,k_as,seq_as,f1,f2,f5,f_add,f_asme,f_kenb,f_guti,km,ks,0,dummy_sk,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_265,set_266,set_267,set_268,set_269,set_270,4).
 state_cap(c,m,s,kc,ks,20,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_281,set_282,set_283,set_284,set_285,set_286,5).
 state_server(s,i,k_is,seq_is,f1,f2,f5,f_add,f_asme,f_kenb,f_guti,ki,ks,0,dummy_sk,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_307,set_308,set_309,set_310,set_311,set_312,8).
 state_cap(c,i,s,kc,ks,20,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_314,set_315,set_316,set_317,set_318,set_319,9).
 state_mobile(m,i,c,k_ai,seq_ai,f1,f2,f5,f_add,f_asme,km,ki,kc,1,dummy_sk,dummy_sk,dummy_sk,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_321,set_322,set_323,set_324,set_325,set_326,set_327,set_328,set_329,set_330,11).
 state_cap(c,m,i,kc,ki,20,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_338,set_339,set_340,set_341,set_342,set_343,13)


section rules:

step step_0 (M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,Kasme,Kenb_1,Kenb_2,F_kenb,F_guti,Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,R4,R5,Set_105,Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Set_119,Set_120,SID) :=
 state_mobile(M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,1,Kasme,Kenb_1,Kenb_2,F_kenb,F_guti,Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,R4,R5,Set_105,Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Set_119,Set_120,SID).
 iknows(start)
 =>
 state_mobile(M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,3,Kasme,Kenb_1,Kenb_2,F_kenb,F_guti,Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,R4,R5,Set_105,Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Set_119,Set_120,SID).
 iknows(pair(S,M))

step step_1 (M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,Dummy_Kasme,Kenb_1,Kenb_2,F_kenb,F_guti,Guti1,Guti2,Cert1,Cert2,Dummy_R,R1,R2,R3,R4,R5,Dummy_Set_105,Dummy_Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Set_119,Set_120,SID,R) :=
 state_mobile(M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,3,Dummy_Kasme,Kenb_1,Kenb_2,F_kenb,F_guti,Guti1,Guti2,Cert1,Cert2,Dummy_R,R1,R2,R3,R4,R5,Dummy_Set_105,Dummy_Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Set_119,Set_120,SID).
 iknows(pair(M,pair(R,pair(scrypt(apply(F5,pair(K_M,R)),Seq),apply(F1,pair(K_M,pair(Seq,R)))))))
 =>
 state_mobile(M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,5,apply(F_asme,pair(K_M,R)),Kenb_1,Kenb_2,F_kenb,F_guti,Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,R4,R5,Dummy_Set_105,Dummy_Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Set_119,Set_120,SID).
 secret(Seq,sseq2,Dummy_Set_105).
 secret(apply(F_asme,pair(K_M,R)),k_asme_m,Dummy_Set_106).
 iknows(pair(S,apply(F2,pair(K_M,R)))).
 wrequest(M,S,r1,R,SID).
 witness(M,S,r2,R).
 contains(M,Dummy_Set_105).
 contains(S,Dummy_Set_105).
 contains(M,Dummy_Set_106).
 contains(S,Dummy_Set_106)

step step_2 (M,S,C,K_M,Dummy_Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,Kasme,Kenb_1,Kenb_2,F_kenb,Dummy_F_guti,Guti1,Guti2,Cert1,Cert2,R,Dummy_R1,R2,R3,R4,R5,Set_105,Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Set_119,Set_120,SID,F_guti,R1) :=
 state_mobile(M,S,C,K_M,Dummy_Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,5,Kasme,Kenb_1,Kenb_2,F_kenb,Dummy_F_guti,Guti1,Guti2,Cert1,Cert2,R,Dummy_R1,R2,R3,R4,R5,Set_105,Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Set_119,Set_120,SID).
 iknows(pair(M,scrypt(Kasme,F_guti)))
=[exists R1]=>
 state_mobile(M,S,C,K_M,apply(F_add,pair(Dummy_Seq,1)),F1,F2,F5,F_add,F_asme,Km,Ks,Kc,7,Kasme,Kenb_1,Kenb_2,F_kenb,F_guti,Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,R4,R5,Set_105,Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Set_119,Set_120,SID).
 iknows(pair(S,pair(M,scrypt(Kasme,R1)))).
 wrequest(M,S,r10,R1,SID).
 witness(M,S,r20,R1)

step step_3 (M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,Kasme,Kenb_1,Kenb_2,Dummy_F_kenb,F_guti,Dummy_Guti1,Guti2,Cert1,Cert2,R,R1,Dummy_R2,R3,R4,R5,Set_105,Set_106,Dummy_Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Set_119,Set_120,SID,F_kenb,R2) :=
 state_mobile(M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,7,Kasme,Kenb_1,Kenb_2,Dummy_F_kenb,F_guti,Dummy_Guti1,Guti2,Cert1,Cert2,R,R1,Dummy_R2,R3,R4,R5,Set_105,Set_106,Dummy_Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Set_119,Set_120,SID).
 iknows(pair(M,scrypt(Kasme,F_kenb)))
=[exists R2]=>
 state_mobile(M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,9,Kasme,Kenb_1,Kenb_2,F_kenb,F_guti,apply(F_guti,pair(M,pair(K_M,Seq))),Guti2,Cert1,Cert2,R,R1,R2,R3,R4,R5,Set_105,Set_106,Dummy_Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Set_119,Set_120,SID).
 secret(apply(F_guti,pair(M,pair(K_M,Seq))),guti_1_m,Dummy_Set_109).
 iknows(pair(S,pair(M,scrypt(Kasme,R2)))).
 contains(M,Dummy_Set_109).
 contains(S,Dummy_Set_109)

step step_4 (M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,Kasme,Dummy_Kenb_1,Kenb_2,F_kenb,F_guti,Guti1,Guti2,Dummy_Cert1,Cert2,R,R1,R2,Dummy_R3,R4,R5,Set_105,Set_106,Set_109,Dummy_Set_111,Dummy_Set_112,Dummy_Set_113,Dummy_Set_114,Set_116,Set_119,Set_120,SID,Cert1,R3) :=
 state_mobile(M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,9,Kasme,Dummy_Kenb_1,Kenb_2,F_kenb,F_guti,Guti1,Guti2,Dummy_Cert1,Cert2,R,R1,R2,Dummy_R3,R4,R5,Set_105,Set_106,Set_109,Dummy_Set_111,Dummy_Set_112,Dummy_Set_113,Dummy_Set_114,Set_116,Set_119,Set_120,SID).
 iknows(pair(M,scrypt(Kasme,Cert1)))
=[exists R3]=>
 state_mobile(M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,11,Kasme,apply(F_kenb,pair(Kasme,Guti1)),Kenb_2,F_kenb,F_guti,Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,R4,R5,Set_105,Set_106,Set_109,Dummy_Set_111,Dummy_Set_112,Dummy_Set_113,Dummy_Set_114,Set_116,Set_119,Set_120,SID).
 secret(apply(F_kenb,pair(Kasme,Guti1)),kenb_1_m,Dummy_Set_111).
 secret(Cert1,cert_1_m,Dummy_Set_112).
 iknows(pair(S,pair(M,scrypt(Kasme,R3)))).
 iknows(pair(C,crypt(Kc,pair(Seq,pair(Guti1,pair(apply(F_kenb,pair(Kasme,Guti1)),Cert1)))))).
 secret(Guti1,guti_1_mc,Dummy_Set_113).
 secret(apply(F_kenb,pair(Kasme,Guti1)),kenb_1_mc,Dummy_Set_114).
 contains(M,Dummy_Set_111).
 contains(S,Dummy_Set_111).
 contains(S,Dummy_Set_112).
 contains(M,Dummy_Set_112).
 contains(M,Dummy_Set_113).
 contains(C,Dummy_Set_113).
 contains(M,Dummy_Set_114).
 contains(C,Dummy_Set_114)

step step_5 (M,S,C,K_M,Dummy_Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,Kasme,Kenb_1,Dummy_Kenb_2,F_kenb,F_guti,Guti1,Dummy_Guti2,Cert1,Dummy_Cert2,R,R1,R2,R3,R4,R5,Set_105,Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Dummy_Set_116,Set_119,Set_120,SID,Cert2) :=
 state_mobile(M,S,C,K_M,Dummy_Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,11,Kasme,Kenb_1,Dummy_Kenb_2,F_kenb,F_guti,Guti1,Dummy_Guti2,Cert1,Dummy_Cert2,R,R1,R2,R3,R4,R5,Set_105,Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Dummy_Set_116,Set_119,Set_120,SID).
 iknows(pair(M,scrypt(Kasme,Cert2)))
 =>
 state_mobile(M,S,C,K_M,apply(F_add,pair(Dummy_Seq,1)),F1,F2,F5,F_add,F_asme,Km,Ks,Kc,13,Kasme,Kenb_1,apply(F_kenb,pair(Kenb_1,apply(F_guti,pair(Guti1,pair(K_M,Dummy_Seq))))),F_kenb,F_guti,Guti1,apply(F_guti,pair(Guti1,pair(K_M,Dummy_Seq))),Cert1,Cert2,R,R1,R2,R3,R4,R5,Set_105,Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Dummy_Set_116,Set_119,Set_120,SID).
 secret(Cert2,cert_2_m,Dummy_Set_116).
 contains(S,Dummy_Set_116).
 contains(M,Dummy_Set_116)

step step_6 (M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,Kasme,Kenb_1,Kenb_2,F_kenb,F_guti,Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,Dummy_R4,R5,Set_105,Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Set_119,Set_120,SID,R4) :=
 state_mobile(M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,13,Kasme,Kenb_1,Kenb_2,F_kenb,F_guti,Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,Dummy_R4,R5,Set_105,Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Set_119,Set_120,SID).
 iknows(pair(M,scrypt(Kenb_1,R4)))
 =>
 state_mobile(M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,15,Kasme,Kenb_1,Kenb_2,F_kenb,F_guti,Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,R4,R5,Set_105,Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Set_119,Set_120,SID).
 iknows(pair(C,crypt(Kc,pair(Seq,pair(Guti2,pair(Kenb_2,Cert2))))))

step step_7 (M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,Kasme,Kenb_1,Kenb_2,F_kenb,F_guti,Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,R4,Dummy_R5,Set_105,Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Dummy_Set_119,Dummy_Set_120,SID,R5) :=
 state_mobile(M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,15,Kasme,Kenb_1,Kenb_2,F_kenb,F_guti,Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,R4,Dummy_R5,Set_105,Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Dummy_Set_119,Dummy_Set_120,SID).
 iknows(pair(M,scrypt(Kenb_1,R5)))
 =>
 state_mobile(M,S,C,K_M,Seq,F1,F2,F5,F_add,F_asme,Km,Ks,Kc,17,Kasme,Kenb_1,Kenb_2,F_kenb,F_guti,Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,R4,R5,Set_105,Set_106,Set_109,Set_111,Set_112,Set_113,Set_114,Set_116,Dummy_Set_119,Dummy_Set_120,SID).
 secret(Guti2,guti_2_mc,Dummy_Set_119).
 secret(Kenb_2,kenb_2_mc,Dummy_Set_120).
 contains(M,Dummy_Set_119).
 contains(C,Dummy_Set_119).
 contains(M,Dummy_Set_120).
 contains(C,Dummy_Set_120)

step step_8 (S,M,K_M,Seq,F1,F2,F5,F_add,F_asme,F_kenb,F_guti,Km,Ks,Kasme,Kenb1,Kenb2,Guti1,Guti2,Cert1,Cert2,Dummy_R,R1,R2,R3,Dummy_Set_45,Set_50,Set_51,Set_54,Set_56,Set_59,SID,R) :=
 state_server(S,M,K_M,Seq,F1,F2,F5,F_add,F_asme,F_kenb,F_guti,Km,Ks,0,Kasme,Kenb1,Kenb2,Guti1,Guti2,Cert1,Cert2,Dummy_R,R1,R2,R3,Dummy_Set_45,Set_50,Set_51,Set_54,Set_56,Set_59,SID).
 iknows(pair(S,M))
=[exists R]=>
 state_server(S,M,K_M,Seq,F1,F2,F5,F_add,F_asme,F_kenb,F_guti,Km,Ks,2,Kasme,Kenb1,Kenb2,Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,Dummy_Set_45,Set_50,Set_51,Set_54,Set_56,Set_59,SID).
 iknows(pair(M,pair(R,pair(scrypt(apply(F5,pair(K_M,R)),Seq),apply(F1,pair(K_M,pair(Seq,R))))))).
 secret(Seq,sseq1,Dummy_Set_45).
 witness(S,M,r1,R).
 contains(S,Dummy_Set_45).
 contains(M,Dummy_Set_45)

step step_9 (S,M,K_M,Dummy_Seq,F1,F2,F5,F_add,F_asme,F_kenb,F_guti,Km,Ks,Dummy_Kasme,Kenb1,Kenb2,Dummy_Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,Set_45,Dummy_Set_50,Dummy_Set_51,Set_54,Set_56,Set_59,SID) :=
 state_server(S,M,K_M,Dummy_Seq,F1,F2,F5,F_add,F_asme,F_kenb,F_guti,Km,Ks,2,Dummy_Kasme,Kenb1,Kenb2,Dummy_Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,Set_45,Dummy_Set_50,Dummy_Set_51,Set_54,Set_56,Set_59,SID).
 iknows(pair(S,apply(F2,pair(K_M,R))))
 =>
 state_server(S,M,K_M,apply(F_add,pair(Dummy_Seq,1)),F1,F2,F5,F_add,F_asme,F_kenb,F_guti,Km,Ks,4,apply(F_asme,pair(K_M,R)),Kenb1,Kenb2,apply(F_guti,pair(M,pair(K_M,Dummy_Seq))),Guti2,Cert1,Cert2,R,R1,R2,R3,Set_45,Dummy_Set_50,Dummy_Set_51,Set_54,Set_56,Set_59,SID).
 wrequest(S,M,r2,R,SID).
 secret(apply(F_asme,pair(K_M,R)),k_asme_s,Dummy_Set_50).
 secret(apply(F_guti,pair(M,pair(K_M,Dummy_Seq))),guti_1_s,Dummy_Set_51).
 iknows(pair(M,scrypt(apply(F_asme,pair(K_M,R)),F_guti))).
 contains(S,Dummy_Set_50).
 contains(M,Dummy_Set_50).
 contains(M,Dummy_Set_51).
 contains(S,Dummy_Set_51)

step step_10 (S,M,K_M,Seq,F1,F2,F5,F_add,F_asme,F_kenb,F_guti,Km,Ks,Kasme,Dummy_Kenb1,Kenb2,Guti1,Guti2,Cert1,Cert2,R,Dummy_R1,R2,R3,Set_45,Set_50,Set_51,Dummy_Set_54,Set_56,Set_59,SID,R1) :=
 state_server(S,M,K_M,Seq,F1,F2,F5,F_add,F_asme,F_kenb,F_guti,Km,Ks,4,Kasme,Dummy_Kenb1,Kenb2,Guti1,Guti2,Cert1,Cert2,R,Dummy_R1,R2,R3,Set_45,Set_50,Set_51,Dummy_Set_54,Set_56,Set_59,SID).
 iknows(pair(S,pair(M,scrypt(Kasme,R1))))
 =>
 state_server(S,M,K_M,Seq,F1,F2,F5,F_add,F_asme,F_kenb,F_guti,Km,Ks,6,Kasme,apply(F_kenb,pair(Kasme,Guti1)),Kenb2,Guti1,Guti2,Cert1,Cert2,R,R1,R2,R3,Set_45,Set_50,Set_51,Dummy_Set_54,Set_56,Set_59,SID).
 secret(apply(F_kenb,pair(Kasme,Guti1)),kenb_1_s,Dummy_Set_54).
 iknows(pair(M,scrypt(Kasme,F_kenb))).
 wrequest(S,M,r20,R1,SID).
 contains(M,Dummy_Set_54).
 contains(S,Dummy_Set_54)

step step_11 (S,M,K_M,Seq,F1,F2,F5,F_add,F_asme,F_kenb,F_guti,Km,Ks,Kasme,Kenb1,Kenb2,Guti1,Guti2,Dummy_Cert1,Cert2,R,R1,Dummy_R2,R3,Set_45,Set_50,Set_51,Set_54,Dummy_Set_56,Set_59,SID,R2) :=
 state_server(S,M,K_M,Seq,F1,F2,F5,F_add,F_asme,F_kenb,F_guti,Km,Ks,6,Kasme,Kenb1,Kenb2,Guti1,Guti2,Dummy_Cert1,Cert2,R,R1,Dummy_R2,R3,Set_45,Set_50,Set_51,Set_54,Dummy_Set_56,Set_59,SID).
 iknows(pair(S,pair(M,scrypt(Kasme,R2))))
 =>
 state_server(S,M,K_M,Seq,F1,F2,F5,F_add,F_asme,F_kenb,F_guti,Km,Ks,8,Kasme,Kenb1,Kenb2,Guti1,Guti2,crypt(inv(Ks),pair(Guti1,Kenb1)),Cert2,R,R1,R2,R3,Set_45,Set_50,Set_51,Set_54,Dummy_Set_56,Set_59,SID).
 iknows(pair(M,scrypt(Kasme,crypt(inv(Ks),pair(Guti1,Kenb1))))).
 secret(crypt(inv(Ks),pair(Guti1,Kenb1)),cert_1_s,Dummy_Set_56).
 contains(M,Dummy_Set_56).
 contains(S,Dummy_Set_56)

step step_12 (S,M,K_M,Dummy_Seq,F1,F2,F5,F_add,F_asme,F_kenb,F_guti,Km,Ks,Kasme,Kenb1,Dummy_Kenb2,Guti1,Dummy_Guti2,Cert1,Dummy_Cert2,R,R1,R2,Dummy_R3,Set_45,Set_50,Set_51,Set_54,Set_56,Dummy_Set_59,SID,R3) :=
 state_server(S,M,K_M,Dummy_Seq,F1,F2,F5,F_add,F_asme,F_kenb,F_guti,Km,Ks,8,Kasme,Kenb1,Dummy_Kenb2,Guti1,Dummy_Guti2,Cert1,Dummy_Cert2,R,R1,R2,Dummy_R3,Set_45,Set_50,Set_51,Set_54,Set_56,Dummy_Set_59,SID).
 iknows(pair(S,pair(M,scrypt(Kasme,R3))))
 =>
 state_server(S,M,K_M,apply(F_add,pair(Dummy_Seq,1)),F1,F2,F5,F_add,F_asme,F_kenb,F_guti,Km,Ks,10,Kasme,Kenb1,apply(F_kenb,pair(Kenb1,apply(F_guti,pair(Guti1,pair(K_M,Dummy_Seq))))),Guti1,apply(F_guti,pair(Guti1,pair(K_M,Dummy_Seq))),Cert1,crypt(inv(Ks),pair(apply(F_guti,pair(Guti1,pair(K_M,Dummy_Seq))),apply(F_kenb,pair(Kenb1,apply(F_guti,pair(Guti1,pair(K_M,Dummy_Seq))))))),R,R1,R2,R3,Set_45,Set_50,Set_51,Set_54,Set_56,Dummy_Set_59,SID).
 iknows(pair(M,scrypt(Kasme,crypt(inv(Ks),pair(apply(F_guti,pair(Guti1,pair(K_M,Dummy_Seq))),apply(F_kenb,pair(Kenb1,apply(F_guti,pair(Guti1,pair(K_M,Dummy_Seq)))))))))).
 secret(crypt(inv(Ks),pair(apply(F_guti,pair(Guti1,pair(K_M,Dummy_Seq))),apply(F_kenb,pair(Kenb1,apply(F_guti,pair(Guti1,pair(K_M,Dummy_Seq))))))),cert_2_s,Dummy_Set_59).
 contains(M,Dummy_Set_59).
 contains(S,Dummy_Set_59)

step step_13 (C,M,S,Kc,Ks,Dummy_Kenb1,Kenb2,Dummy_R4,Dummy_Guti1,Dummy_Seq1,Dummy_Cert1,R5,Guti2,Seq2,Cert2,Dummy_Set_148,Dummy_Set_149,Dummy_Set_150,Set_152,Set_153,Set_154,SID,Kenb1,R4,Guti1,Seq1) :=
 state_cap(C,M,S,Kc,Ks,20,Dummy_Kenb1,Kenb2,Dummy_R4,Dummy_Guti1,Dummy_Seq1,Dummy_Cert1,R5,Guti2,Seq2,Cert2,Dummy_Set_148,Dummy_Set_149,Dummy_Set_150,Set_152,Set_153,Set_154,SID).
 iknows(pair(C,crypt(Kc,pair(Seq1,pair(Guti1,pair(Kenb1,crypt(inv(Ks),pair(Seq1,pair(Guti1,Kenb1)))))))))
=[exists R4]=>
 state_cap(C,M,S,Kc,Ks,21,Kenb1,Kenb2,R4,Guti1,Seq1,crypt(inv(Ks),pair(Seq1,pair(Guti1,Kenb1))),R5,Guti2,Seq2,Cert2,Dummy_Set_148,Dummy_Set_149,Dummy_Set_150,Set_152,Set_153,Set_154,SID).
 secret(Seq1,seq_1_c,Dummy_Set_148).
 secret(Guti1,guti_1_c,Dummy_Set_149).
 secret(Kenb1,kenb_1_c,Dummy_Set_150).
 iknows(pair(M,scrypt(Kenb1,R4))).
 contains(C,Dummy_Set_148).
 contains(M,Dummy_Set_148).
 contains(C,Dummy_Set_149).
 contains(M,Dummy_Set_149).
 contains(C,Dummy_Set_150).
 contains(M,Dummy_Set_150)

step step_14 (C,M,S,Kc,Ks,Kenb1,Dummy_Kenb2,R4,Guti1,Seq1,Cert1,Dummy_R5,Dummy_Guti2,Dummy_Seq2,Dummy_Cert2,Set_148,Set_149,Set_150,Dummy_Set_152,Dummy_Set_153,Dummy_Set_154,SID,Kenb2,R5,Guti2,Seq2) :=
 state_cap(C,M,S,Kc,Ks,21,Kenb1,Dummy_Kenb2,R4,Guti1,Seq1,Cert1,Dummy_R5,Dummy_Guti2,Dummy_Seq2,Dummy_Cert2,Set_148,Set_149,Set_150,Dummy_Set_152,Dummy_Set_153,Dummy_Set_154,SID).
 iknows(pair(C,crypt(Kc,pair(Seq2,pair(Guti2,pair(Kenb2,crypt(inv(Ks),pair(Seq2,pair(Guti2,Kenb2)))))))))
=[exists R5]=>
 state_cap(C,M,S,Kc,Ks,22,Kenb1,Kenb2,R4,Guti1,Seq1,Cert1,R5,Guti2,Seq2,crypt(inv(Ks),pair(Seq2,pair(Guti2,Kenb2))),Set_148,Set_149,Set_150,Dummy_Set_152,Dummy_Set_153,Dummy_Set_154,SID).
 secret(Seq2,seq_1_c,Dummy_Set_152).
 secret(Guti2,guti_1_c,Dummy_Set_153).
 secret(Kenb2,kenb_1_c,Dummy_Set_154).
 iknows(pair(M,scrypt(Kenb2,R5))).
 contains(C,Dummy_Set_152).
 contains(M,Dummy_Set_152).
 contains(C,Dummy_Set_153).
 contains(M,Dummy_Set_153).
 contains(C,Dummy_Set_154).
 contains(M,Dummy_Set_154)


section properties:

property secrecy_of_sseq1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sseq1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sseq2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sseq2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_asme_m (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_asme_m,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_asme_s (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_asme_s,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_guti_1_m (MGoal,ASGoal) :=
 [] ((secret(MGoal,guti_1_m,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_guti_1_s (MGoal,ASGoal) :=
 [] ((secret(MGoal,guti_1_s,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_kenb_1_m (MGoal,ASGoal) :=
 [] ((secret(MGoal,kenb_1_m,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_kenb_1_s (MGoal,ASGoal) :=
 [] ((secret(MGoal,kenb_1_s,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_guti_1_mc (MGoal,ASGoal) :=
 [] ((secret(MGoal,guti_1_mc,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_guti_1_c (MGoal,ASGoal) :=
 [] ((secret(MGoal,guti_1_c,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_kenb_1_mc (MGoal,ASGoal) :=
 [] ((secret(MGoal,kenb_1_mc,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_kenb_1_c (MGoal,ASGoal) :=
 [] ((secret(MGoal,kenb_1_c,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_cert_1_m (MGoal,ASGoal) :=
 [] ((secret(MGoal,cert_1_m,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_cert_1_s (MGoal,ASGoal) :=
 [] ((secret(MGoal,cert_1_s,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_seq_1_c (MGoal,ASGoal) :=
 [] ((secret(MGoal,seq_1_c,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_seq_2_c (MGoal,ASGoal) :=
 [] ((secret(MGoal,seq_2_c,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_cert_2_m (MGoal,ASGoal) :=
 [] ((secret(MGoal,cert_2_m,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_cert_2_s (MGoal,ASGoal) :=
 [] ((secret(MGoal,cert_2_s,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_guti_2_mc (MGoal,ASGoal) :=
 [] ((secret(MGoal,guti_2_mc,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_kenb_2_mc (MGoal,ASGoal) :=
 [] ((secret(MGoal,kenb_2_mc,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property weak_authentication_on_r1 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,r1,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,r1,MGoal))

property weak_authentication_on_r2 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,r2,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,r2,MGoal))

property weak_authentication_on_r10 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,r10,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,r10,MGoal))

property weak_authentication_on_r20 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,r20,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,r20,MGoal))


section attack_states:

attack_state secrecy_of_sseq1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sseq1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sseq2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sseq2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_asme_m (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_asme_m,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_asme_s (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_asme_s,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_guti_1_m (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,guti_1_m,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_guti_1_s (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,guti_1_s,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_kenb_1_m (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,kenb_1_m,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_kenb_1_s (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,kenb_1_s,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_guti_1_mc (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,guti_1_mc,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_guti_1_c (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,guti_1_c,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_kenb_1_mc (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,kenb_1_mc,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_kenb_1_c (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,kenb_1_c,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_cert_1_m (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,cert_1_m,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_cert_1_s (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,cert_1_s,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_seq_1_c (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,seq_1_c,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_seq_2_c (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,seq_2_c,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_cert_2_m (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,cert_2_m,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_cert_2_s (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,cert_2_s,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_guti_2_mc (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,guti_2_mc,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_kenb_2_mc (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,kenb_2_mc,ASGoal) &
 not(contains(i,ASGoal))

attack_state weak_authentication_on_r1 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,r1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,r1,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_r2 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,r2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,r2,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_r10 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,r10,MGoal,SID) &
 not(witness(A2Goal,A1Goal,r10,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_r20 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,r20,MGoal,SID) &
 not(witness(A2Goal,A1Goal,r20,MGoal)) &
 not(equal(A2Goal,i))

