%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilefIFj04

section signature:

state_bob: agent * agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(text) * set(agent) * set(agent) * nat -> fact
state_server: agent * agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(text) * set(agent) * set(agent) * nat -> fact
state_alice: agent * agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(agent) * nat -> fact


section types:

MGoal, start: message
server_bob_ts2, bob_server_ts3, alice_server_ts1, server_alice_ts4, alice_server_k, alice_server_tidi, server_alice_tidinew, subs1, subs2, subs3, subs4, subs5: protocol_id
Dummy_TS2, Dummy_TIDinew, Dummy_TS4, Dummy_TS3, Dummy_TIDi, Dummy_TS1, Dummy_RPWi, Dummy_K, dummy_nonce, idi, idsnj, ts1, ts2, ts3, ts4, tidi, tidinew, M1, M3, RPWi, TCi, PTCi, PKSi, Ci, TIDinew, Kgwnu, Kgwns, Xs, TEi, TIDi, Ki, Kj, Cj, PKSj, IDi, IDsnj, K, PWi, Bi, TS1, TS2, TS3, TS4, Dummy_Ki: text
skuigwn, SKuigwn: symmetric_key
4, SID, Dummy_State, 3, SID2, SID1, State, 13, 2, 12, 1, 0, 11, 9, 8, 7, 5: nat
h, H: hash_func
set_196, set_195, set_194, set_193, set_192, set_191, set_175, set_174, set_173, set_172, set_257, set_256, set_255, set_254, set_253, set_252, set_250, set_249, set_248, set_247, set_246, set_245, set_243, set_242, set_241, set_240, set_238, set_237, set_236, set_235, set_234, set_233, set_231, set_230, set_229, set_228, set_227, set_226, set_224, set_223, set_222, set_221, set_211, set_210, set_209, set_208, set_207, set_206: set
A2Goal, A1Goal, ui, gwn, snj, Ui, GWN, SNj, i: agent
Dummy_Set_94, Dummy_Set_54, Dummy_Set_53, ASGoal, Set_138, Set_137, Set_135, Set_97, Set_96, Set_94, Set_54, Set_53, Dummy_Set_138, Dummy_Set_137, Dummy_Set_135, Dummy_Set_97, Dummy_Set_96: set(agent)
Dummy_Set_93, Dummy_Set_92, Dummy_Set_52, Dummy_Set_49, Set_136, Set_134, Set_133, Set_95, Set_93, Set_92, Set_52, Set_49, Dummy_Set_136, Dummy_Set_134, Dummy_Set_133, Dummy_Set_95: set(text)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(idsnj).
 iknows(h).
 iknows(i).
 state_alice(ui,gwn,snj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_172,set_173,set_174,set_175,3).
 state_server(gwn,ui,snj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_191,set_192,set_193,set_194,set_195,set_196,4).
 state_bob(snj,ui,gwn,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_206,set_207,set_208,set_209,set_210,set_211,5).
 state_alice(ui,gwn,snj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_221,set_222,set_223,set_224,7).
 state_server(gwn,ui,snj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_226,set_227,set_228,set_229,set_230,set_231,8).
 state_bob(snj,ui,gwn,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_233,set_234,set_235,set_236,set_237,set_238,9).
 state_alice(ui,gwn,snj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_240,set_241,set_242,set_243,11).
 state_server(gwn,ui,snj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_245,set_246,set_247,set_248,set_249,set_250,12).
 state_bob(snj,ui,gwn,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_252,set_253,set_254,set_255,set_256,set_257,13)


section rules:

step step_0 (Ui,GWN,SNj,H,SKuigwn,IDi,IDsnj,Dummy_K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,Dummy_RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_49,Set_52,Set_53,Set_54,SID,K) :=
 state_alice(Ui,GWN,SNj,H,SKuigwn,0,IDi,IDsnj,Dummy_K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,Dummy_RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_49,Set_52,Set_53,Set_54,SID).
 iknows(start)
=[exists K]=>
 state_alice(Ui,GWN,SNj,H,SKuigwn,1,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,apply(H,pair(IDi,pair(K,PWi))),TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_49,Set_52,Set_53,Set_54,SID).
 secret(Dummy_Set_49,subs1,Ui).
 iknows(scrypt(SKuigwn,pair(IDi,apply(H,pair(IDi,pair(K,PWi)))))).
 contains(PWi,Dummy_Set_49).
 contains(Bi,Dummy_Set_49).
 contains(K,Dummy_Set_49)

step step_1 (Ui,GWN,SNj,H,SKuigwn,IDi,IDsnj,Dummy_K,PWi,Bi,Dummy_TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Set_49,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,SID,K,TS1,TIDi) :=
 state_alice(Ui,GWN,SNj,H,SKuigwn,1,IDi,IDsnj,Dummy_K,PWi,Bi,Dummy_TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Set_49,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,SID).
 iknows(scrypt(SKuigwn,pair(H,pair(TIDi,pair(TEi,pair(xor(apply(H,pair(Kgwnu,pair(IDi,TEi))),apply(H,pair(IDi,pair(K,PWi)))),apply(H,pair(IDi,Xs))))))))
=[exists TS1]=>
 state_alice(Ui,GWN,SNj,H,SKuigwn,2,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Set_49,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,SID).
 secret(Dummy_Set_52,subs3,GWN).
 secret(Ki,subs4,Dummy_Set_53).
 secret(Kj,subs5,Dummy_Set_54).
 iknows(pair(TIDi,pair(apply(H,pair(IDi,pair(Ki,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(apply(H,pair(IDi,Xs)),pair(TIDi,TS1)))))),pair(xor(Ki,apply(H,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(apply(H,pair(IDi,Xs)),TS1)))),TS1)))).
 witness(Ui,GWN,alice_server_ts1,TS1).
 witness(Ui,GWN,alice_server_tidi,TIDi).
 contains(Kgwnu,Dummy_Set_52).
 contains(Kgwns,Dummy_Set_52).
 contains(Xs,Dummy_Set_52).
 contains(TEi,Dummy_Set_52).
 contains(GWN,Dummy_Set_53).
 contains(Ui,Dummy_Set_53).
 contains(SNj,Dummy_Set_53).
 contains(GWN,Dummy_Set_54).
 contains(Ui,Dummy_Set_54).
 contains(SNj,Dummy_Set_54)

step step_2 (Ui,GWN,SNj,H,SKuigwn,IDi,IDsnj,K,PWi,Bi,TS1,TS2,Dummy_TS3,Dummy_TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,Dummy_TIDinew,Set_49,Set_52,Set_53,Set_54,SID,TS3,TS4,TIDinew) :=
 state_alice(Ui,GWN,SNj,H,SKuigwn,2,IDi,IDsnj,K,PWi,Bi,TS1,TS2,Dummy_TS3,Dummy_TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,Dummy_TIDinew,Set_49,Set_52,Set_53,Set_54,SID).
 iknows(pair(IDsnj,pair(TS3,pair(TS4,pair(xor(Kj,apply(H,pair(xor(Ki,apply(H,pair(IDi,Xs))),TS3))),pair(xor(TIDinew,apply(H,xor(Ki,pair(apply(H,pair(IDi,Xs)),pair(TS3,TS4))))),apply(H,pair(IDi,pair(IDsnj,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(xor(TIDinew,apply(H,xor(Ki,pair(apply(H,pair(IDi,Xs)),pair(TS3,TS4))))),pair(Kj,pair(TS3,TS4)))))))))))))
 =>
 state_alice(Ui,GWN,SNj,H,SKuigwn,3,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Set_49,Set_52,Set_53,Set_54,SID).
 request(GWN,Ui,server_alice_ts4,TS4,SID).
 request(Ui,GWN,server_alice_tidinew,TIDinew,SID)

step step_3 (GWN,Ui,SNj,H,SKuigwn,IDi,IDsnj,Dummy_K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,SID,K,TIDi) :=
 state_server(GWN,Ui,SNj,H,SKuigwn,0,IDi,IDsnj,Dummy_K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,SID).
 iknows(scrypt(SKuigwn,pair(IDi,apply(H,pair(IDi,pair(K,PWi))))))
=[exists TIDi]=>
 state_server(GWN,Ui,SNj,H,SKuigwn,1,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,SID).
 secret(Dummy_Set_92,subs1,Ui).
 iknows(scrypt(SKuigwn,pair(H,pair(TIDi,pair(TEi,pair(xor(apply(H,pair(Kgwnu,pair(IDi,TEi))),apply(H,pair(IDi,pair(K,PWi)))),apply(H,pair(IDi,Xs)))))))).
 contains(PWi,Dummy_Set_92).
 contains(Bi,Dummy_Set_92).
 contains(K,Dummy_Set_92)

step step_4 (GWN,Ui,SNj,H,SKuigwn,IDi,IDsnj,K,PWi,Bi,Dummy_TS1,Dummy_TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,Dummy_Set_97,SID,TS1,TS2,TIDi) :=
 state_server(GWN,Ui,SNj,H,SKuigwn,1,IDi,IDsnj,K,PWi,Bi,Dummy_TS1,Dummy_TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,Dummy_Set_97,SID).
 iknows(pair(TIDi,pair(apply(H,pair(IDi,pair(Ki,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(apply(H,pair(IDi,Xs)),pair(TIDi,TS1)))))),pair(xor(Ki,apply(H,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(apply(H,pair(IDi,Xs)),TS1)))),TS1))))
=[exists TS2]=>
 state_server(GWN,Ui,SNj,H,SKuigwn,2,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,Dummy_Set_97,SID).
 secret(Dummy_Set_93,subs2,Dummy_Set_94).
 secret(Dummy_Set_95,subs3,GWN).
 secret(Ki,subs4,Dummy_Set_96).
 secret(Kj,subs5,Dummy_Set_97).
 iknows(pair(TS2,pair(TIDi,pair(apply(H,pair(TIDi,pair(apply(H,pair(Kgwns,IDsnj)),TS2))),xor(xor(Ki,apply(H,pair(IDi,Xs))),apply(H,pair(apply(H,pair(Kgwns,IDsnj)),TS2))))))).
 witness(GWN,SNj,server_bob_ts2,TS2).
 contains(IDi,Dummy_Set_93).
 contains(Ui,Dummy_Set_94).
 contains(GWN,Dummy_Set_94).
 contains(Kgwnu,Dummy_Set_95).
 contains(Kgwns,Dummy_Set_95).
 contains(Xs,Dummy_Set_95).
 contains(TEi,Dummy_Set_95).
 contains(GWN,Dummy_Set_96).
 contains(Ui,Dummy_Set_96).
 contains(SNj,Dummy_Set_96).
 contains(GWN,Dummy_Set_97).
 contains(Ui,Dummy_Set_97).
 contains(SNj,Dummy_Set_97)

step step_5 (GWN,Ui,SNj,H,SKuigwn,IDi,IDsnj,K,PWi,Bi,TS1,TS2,Dummy_TS3,Dummy_TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,Dummy_TIDinew,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,SID,TS3,TS4,TIDi,TIDinew) :=
 state_server(GWN,Ui,SNj,H,SKuigwn,2,IDi,IDsnj,K,PWi,Bi,TS1,TS2,Dummy_TS3,Dummy_TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,Dummy_TIDinew,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,SID).
 iknows(pair(IDsnj,pair(TS3,pair(apply(H,pair(Kj,pair(TIDi,pair(IDsnj,TS3)))),xor(Kj,apply(H,pair(xor(Ki,apply(H,pair(IDi,Xs))),TS3)))))))
=[exists TIDinew,TS4]=>
 state_server(GWN,Ui,SNj,H,SKuigwn,3,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,SID).
 iknows(pair(IDsnj,pair(TS3,pair(TS4,pair(xor(Kj,apply(H,pair(xor(Ki,apply(H,pair(IDi,Xs))),TS3))),pair(xor(TIDinew,apply(H,xor(Ki,pair(apply(H,pair(IDi,Xs)),pair(TS3,TS4))))),apply(H,pair(IDi,pair(IDsnj,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(xor(TIDinew,apply(H,xor(Ki,pair(apply(H,pair(IDi,Xs)),pair(TS3,TS4))))),pair(Kj,pair(TS3,TS4))))))))))))).
 witness(GWN,SNj,server_alice_ts4,TS4).
 witness(GWN,SNj,server_alice_tidinew,TIDinew).
 request(Ui,GWN,alice_server_ts1,TS1,SID).
 request(SNj,GWN,bob_server_ts3,TS3,SID).
 request(Ui,GWN,alice_server_tidi,Dummy_TIDi,SID)

step step_6 (SNj,Ui,GWN,H,SKuigwn,IDi,IDsnj,K,PWi,Bi,TS1,Dummy_TS2,Dummy_TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Dummy_Ki,Kj,Cj,PKSj,M1,M3,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_133,Dummy_Set_134,Dummy_Set_135,Dummy_Set_136,Dummy_Set_137,Dummy_Set_138,SID,TS2,TS3,TIDi,Ki) :=
 state_bob(SNj,Ui,GWN,H,SKuigwn,0,IDi,IDsnj,K,PWi,Bi,TS1,Dummy_TS2,Dummy_TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Dummy_Ki,Kj,Cj,PKSj,M1,M3,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_133,Dummy_Set_134,Dummy_Set_135,Dummy_Set_136,Dummy_Set_137,Dummy_Set_138,SID).
 iknows(pair(TS2,pair(TIDi,pair(apply(H,pair(TIDi,pair(apply(H,pair(Kgwns,IDsnj)),TS2))),xor(xor(Dummy_Ki,apply(H,pair(IDi,Xs))),apply(H,pair(apply(H,pair(Kgwns,IDsnj)),TS2)))))))
=[exists Ki,TS3]=>
 state_bob(SNj,Ui,GWN,H,SKuigwn,1,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,Cj,PKSj,M1,M3,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_133,Dummy_Set_134,Dummy_Set_135,Dummy_Set_136,Dummy_Set_137,Dummy_Set_138,SID).
 secret(Dummy_Set_133,subs1,Ui).
 secret(Dummy_Set_134,subs2,Dummy_Set_135).
 secret(Dummy_Set_136,subs3,GWN).
 secret(Ki,subs4,Dummy_Set_137).
 secret(Kj,subs5,Dummy_Set_138).
 iknows(pair(IDsnj,pair(TS3,pair(apply(H,pair(Kj,pair(TIDi,pair(IDsnj,TS3)))),xor(Kj,apply(H,pair(xor(Dummy_Ki,apply(H,pair(IDi,Xs))),TS3))))))).
 witness(SNj,GWN,bob_server_ts3,TS3).
 request(GWN,SNj,server_bob_ts2,TS2,SID).
 contains(PWi,Dummy_Set_133).
 contains(Bi,Dummy_Set_133).
 contains(K,Dummy_Set_133).
 contains(IDi,Dummy_Set_134).
 contains(Ui,Dummy_Set_135).
 contains(GWN,Dummy_Set_135).
 contains(Kgwnu,Dummy_Set_136).
 contains(Kgwns,Dummy_Set_136).
 contains(Xs,Dummy_Set_136).
 contains(TEi,Dummy_Set_136).
 contains(GWN,Dummy_Set_137).
 contains(Ui,Dummy_Set_137).
 contains(SNj,Dummy_Set_137).
 contains(GWN,Dummy_Set_138).
 contains(Ui,Dummy_Set_138).
 contains(SNj,Dummy_Set_138)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_server_ts1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_server_ts1,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_bob_ts2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_bob_ts2,MGoal))
     /\ ((request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_server_ts3 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_server_ts3,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_alice_ts4 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_alice_ts4,MGoal))
     /\ ((request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_alice_server_tidi (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_server_tidi,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_server_tidi,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_server_tidi,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_server_tidi,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_alice_tidinew (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_alice_tidinew,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_alice_tidinew,MGoal))
     /\ ((request(A1Goal,A2Goal,server_alice_tidinew,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_alice_tidinew,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_server_ts1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_server_ts1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_server_ts1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID1).
 request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_bob_ts2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_bob_ts2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_bob_ts2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID1).
 request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_server_ts3 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_server_ts3,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_server_ts3 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID1).
 request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_alice_ts4 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_alice_ts4,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_alice_ts4 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID1).
 request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_alice_server_tidi (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_server_tidi,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_server_tidi,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_server_tidi (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_server_tidi,MGoal,SID1).
 request(A1Goal,A2Goal,alice_server_tidi,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_alice_tidinew (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_alice_tidinew,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_alice_tidinew,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_alice_tidinew (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_alice_tidinew,MGoal,SID1).
 request(A1Goal,A2Goal,server_alice_tidinew,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

