%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileKZi25x

section signature:

state_bob: agent * agent * agent * symmetric_key * hash_func * hash_func * text * text * text * text * nat * text * text * text * set(text) * nat -> fact
state_server: agent * agent * agent * symmetric_key * hash_func * hash_func * text * text * text * nat * text * text * text * text * set(text) * nat -> fact
state_alice: agent * agent * agent * symmetric_key * hash_func * hash_func * text * text * text * text * nat * text * text * set(text) * nat -> fact


section types:

alice_server, server_bob, bob_server, alice_bob, subs1, subs2: protocol_id
Set_70, Set_51, Set_29, Dummy_Set_70, Dummy_Set_51, Dummy_Set_29: set(text)
set_138, set_136, set_134, set_132, set_130, set_128, set_124, set_119, set_112: set
f, h, F, H: hash_func
mksj, MKsj: symmetric_key
State, 13, 12, 11, 3, 9, 8, 7, 1, 0, 5, SID, 4, Dummy_State, SID2, SID1: nat
ASGoal: set(agent)
start, MGoal: message
u, bs, sj, Sj, BS, U, A2Goal, A1Goal, i: agent
idsj, rnui, rnbs, IDi, RNui, RNbs, IDsj, PWi, Bi, S, Dummy_RNbs, Dummy_RNui, dummy_nonce, pwi, bi, s, idi: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(bs).
 iknows(sj).
 iknows(h).
 iknows(f).
 iknows(idi).
 iknows(idsj).
 iknows(i).
 state_alice(u,bs,sj,mksj,h,f,idi,pwi,bi,s,0,dummy_nonce,dummy_nonce,set_112,3).
 state_server(bs,sj,u,mksj,h,f,pwi,bi,s,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_119,4).
 state_bob(sj,bs,u,mksj,h,f,idsj,pwi,bi,s,0,dummy_nonce,dummy_nonce,dummy_nonce,set_124,5).
 state_alice(u,bs,sj,mksj,h,f,idi,pwi,bi,s,0,dummy_nonce,dummy_nonce,set_128,7).
 state_server(bs,sj,u,mksj,h,f,pwi,bi,s,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_130,8).
 state_bob(sj,bs,u,mksj,h,f,idsj,pwi,bi,s,0,dummy_nonce,dummy_nonce,dummy_nonce,set_132,9).
 state_alice(u,bs,sj,mksj,h,f,idi,pwi,bi,s,0,dummy_nonce,dummy_nonce,set_134,11).
 state_server(bs,sj,u,mksj,h,f,pwi,bi,s,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_136,12).
 state_bob(sj,bs,u,mksj,h,f,idsj,pwi,bi,s,0,dummy_nonce,dummy_nonce,dummy_nonce,set_138,13)


section rules:

step step_0 (U,BS,Sj,MKsj,H,F,IDi,PWi,Bi,S,IDsj,Dummy_RNui,Dummy_Set_29,SID,RNui) :=
 state_alice(U,BS,Sj,MKsj,H,F,IDi,PWi,Bi,S,0,IDsj,Dummy_RNui,Dummy_Set_29,SID).
 iknows(start)
=[exists RNui]=>
 state_alice(U,BS,Sj,MKsj,H,F,IDi,PWi,Bi,S,1,IDsj,RNui,Dummy_Set_29,SID).
 secret(Dummy_Set_29,subs1,U).
 secret(S,subs2,BS).
 iknows(pair(U,pair(BS,pair(IDi,pair(IDsj,scrypt(apply(H,pair(MKsj,pair(IDsj,pair(IDi,S)))),pair(xor(apply(H,pair(IDi,pair(PWi,apply(F,Bi)))),RNui),pair(apply(H,pair(xor(apply(H,pair(IDi,pair(PWi,apply(F,Bi)))),apply(H,S)),RNui)),RNui)))))))).
 witness(U,Sj,alice_bob,RNui).
 witness(U,BS,alice_server,RNui).
 contains(PWi,Dummy_Set_29).
 contains(Bi,Dummy_Set_29)

step step_1 (U,BS,Sj,MKsj,H,F,IDi,PWi,Bi,S,IDsj,Dummy_RNui,Set_29,SID,RNui) :=
 state_alice(U,BS,Sj,MKsj,H,F,IDi,PWi,Bi,S,1,IDsj,Dummy_RNui,Set_29,SID).
 iknows(pair(BS,pair(U,pair(IDi,pair(IDsj,scrypt(apply(H,pair(IDi,pair(IDsj,pair(RNui,xor(apply(H,pair(IDi,pair(PWi,apply(F,Bi)))),RNui))))),RNui))))))
 =>
 state_alice(U,BS,Sj,MKsj,H,F,IDi,PWi,Bi,S,3,IDsj,RNui,Set_29,SID)

step step_2 (BS,Sj,U,MKsj,H,F,PWi,Bi,S,IDi,IDsj,Dummy_RNui,Dummy_RNbs,Set_51,SID,RNui,RNbs) :=
 state_server(BS,Sj,U,MKsj,H,F,PWi,Bi,S,0,IDi,IDsj,Dummy_RNui,Dummy_RNbs,Set_51,SID).
 iknows(pair(U,pair(BS,pair(IDi,pair(IDsj,scrypt(apply(H,pair(MKsj,pair(IDsj,pair(IDi,S)))),pair(xor(apply(H,pair(IDi,pair(PWi,apply(F,Bi)))),RNui),pair(apply(H,pair(xor(apply(H,pair(IDi,pair(PWi,apply(F,Bi)))),apply(H,S)),RNui)),RNui))))))))
=[exists RNbs]=>
 state_server(BS,Sj,U,MKsj,H,F,PWi,Bi,S,1,IDi,IDsj,RNui,RNbs,Set_51,SID).
 iknows(pair(BS,pair(Sj,pair(IDsj,pair(IDi,scrypt(MKsj,pair(xor(apply(H,pair(IDi,pair(PWi,apply(F,Bi)))),RNui),pair(apply(H,pair(xor(apply(H,pair(IDi,pair(PWi,apply(F,Bi)))),RNui),pair(IDsj,pair(RNui,RNbs)))),pair(RNui,RNbs))))))))).
 witness(BS,Sj,server_bob,RNbs)

step step_3 (BS,Sj,U,MKsj,H,F,PWi,Bi,S,IDi,IDsj,Dummy_RNui,RNbs,Dummy_Set_51,SID,RNui) :=
 state_server(BS,Sj,U,MKsj,H,F,PWi,Bi,S,1,IDi,IDsj,Dummy_RNui,RNbs,Dummy_Set_51,SID).
 iknows(pair(BS,pair(U,pair(IDi,pair(IDsj,scrypt(apply(H,pair(IDi,pair(IDsj,pair(RNui,xor(apply(H,pair(IDi,pair(PWi,apply(F,Bi)))),RNui))))),RNui))))))
 =>
 state_server(BS,Sj,U,MKsj,H,F,PWi,Bi,S,3,IDi,IDsj,RNui,RNbs,Dummy_Set_51,SID).
 iknows(pair(BS,pair(U,pair(IDi,pair(IDsj,scrypt(apply(H,pair(IDi,pair(IDsj,pair(RNui,xor(apply(H,pair(IDi,pair(PWi,apply(F,Bi)))),RNui))))),RNui)))))).
 secret(Dummy_Set_51,subs1,U).
 secret(S,subs2,BS).
 request(U,BS,alice_server,Dummy_RNui,SID).
 contains(PWi,Dummy_Set_51).
 contains(Bi,Dummy_Set_51)

step step_4 (Sj,BS,U,MKsj,H,F,IDsj,PWi,Bi,S,IDi,Dummy_RNui,Dummy_RNbs,Dummy_Set_70,SID,RNui,RNbs) :=
 state_bob(Sj,BS,U,MKsj,H,F,IDsj,PWi,Bi,S,0,IDi,Dummy_RNui,Dummy_RNbs,Dummy_Set_70,SID).
 iknows(pair(BS,pair(Sj,pair(IDsj,pair(IDi,scrypt(MKsj,pair(xor(apply(H,pair(IDi,pair(PWi,apply(F,Bi)))),RNui),pair(apply(H,pair(xor(apply(H,pair(IDi,pair(PWi,apply(F,Bi)))),RNui),pair(IDsj,pair(RNui,RNbs)))),pair(RNui,RNbs)))))))))
 =>
 state_bob(Sj,BS,U,MKsj,H,F,IDsj,PWi,Bi,S,1,IDi,RNui,RNbs,Dummy_Set_70,SID).
 iknows(pair(BS,pair(U,pair(IDi,pair(IDsj,scrypt(apply(H,pair(IDi,pair(IDsj,pair(RNui,xor(apply(H,pair(IDi,pair(PWi,apply(F,Bi)))),RNui))))),RNui)))))).
 secret(Dummy_Set_70,subs1,U).
 secret(S,subs2,BS).
 request(BS,Sj,server_bob,Dummy_RNbs,SID).
 request(U,Sj,alice_bob,Dummy_RNui,SID).
 contains(PWi,Dummy_Set_70).
 contains(Bi,Dummy_Set_70)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_alice_server (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_server,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_server,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_server,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_server,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_bob (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_bob,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_bob,MGoal))
     /\ ((request(A1Goal,A2Goal,server_bob,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_bob,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_server (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_server,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_server,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_server,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_server,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_alice_server (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_server,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_server,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_server (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_server,MGoal,SID1).
 request(A1Goal,A2Goal,alice_server,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_bob (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_bob,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_bob,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_bob (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_bob,MGoal,SID1).
 request(A1Goal,A2Goal,server_bob,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_server (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_server,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_server,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_server (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_server,MGoal,SID1).
 request(A1Goal,A2Goal,bob_server,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

