%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileWjpQrM

section signature:

state_aserver: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * nat -> fact
state_server: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_alice: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(text) * set(agent) * nat -> fact


section types:

alice_server, server_aserver, aserver_alice, subs1, subs2, subs3, subs4, subs5, subs6: protocol_id
Set_176, Set_125, Set_123, Set_121, Dummy_Set_176, Dummy_Set_125, Dummy_Set_123, Dummy_Set_121, Set_69, Set_64, Dummy_Set_69, Dummy_Set_64: set(text)
set_333, set_332, set_330, set_329, set_328, set_327, set_326, set_325, set_323, set_322, set_321, set_319, set_318, set_316, set_315, set_314, set_313, set_312, set_311, set_309, set_308, set_307, set_296, set_295, set_274, set_273, set_272, set_271, set_270, set_269, set_243, set_242, set_241: set
Set_177, Set_126, Set_124, Set_122, Dummy_Set_177, Dummy_Set_126, Dummy_Set_124, Dummy_Set_122, Set_70, Dummy_Set_70, ASGoal: set(agent)
Gi, Fi, Zi, Li, LLi, Qcs, Vcs, Pcs, Rcs, Ji, Ki, Wj, WWj, SKi, SKj, SKcs, Dummy_SKj, Dummy_WWj, Dummy_Wj, Dummy_Ki, Dummy_Ji, Dummy_SKcs, Dummy_Rcs, Dummy_Pcs, Dummy_SKi, Dummy_Vcs, start, Dummy_Qcs, Dummy_LLi, Dummy_Li, Dummy_Zi, Dummy_Fi, Dummy_Gi, dummy_msg, MGoal: message
State, 13, 12, 11, 9, 8, 7, 5, SID, 4, 3, 2, 1, 0, Dummy_State, SID2, SID1: nat
h, Inc, H, dummy_hash: hash_func
sk2, sk1, SK2, SK1: symmetric_key
ui, s, sj, Sj, Ui, S, A2Goal, A1Goal, i: agent
vcs, ji, ki, IDi, SIDj, PIDi, PSIDj, Pi, B1, B2, X, Ai, Ci, Ei, BBi, BSj, Y, D, Di, Ni, Nj, Ncs, TSi, TSj, TScs, Dummy_TSj, Dummy_Ncs, Dummy_Nj, Dummy_D, Dummy_Y, Dummy_BSj, Dummy_PSIDj, Dummy_SIDj, Dummy_Ei, Dummy_Ci, Dummy_TSi, Dummy_Ni, Dummy_Di, Dummy_BBi, Dummy_Ai, Dummy_B2, Dummy_B1, Dummy_PIDi, dummy_nonce, idi, sidj, pidi, psidj, pi, b1, b2, x, ai, ci, ei, bbi, bsj, y, d, di, ni, nj, ncs, tsi, tsj, tscs, gi, fi, zi, pcs, rcs, qcs: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(s).
 iknows(sj).
 iknows(h).
 iknows(ci).
 iknows(ei).
 iknows(gi).
 iknows(fi).
 iknows(zi).
 iknows(pidi).
 iknows(pcs).
 iknows(rcs).
 iknows(qcs).
 iknows(vcs).
 iknows(ji).
 iknows(ki).
 iknows(i).
 state_alice(s,sj,ui,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_241,set_242,set_243,3).
 state_server(s,sj,ui,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_269,set_270,set_271,set_272,set_273,set_274,4).
 state_aserver(s,sj,ui,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_295,set_296,5).
 state_alice(ui,sj,s,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_307,set_308,set_309,7).
 state_server(ui,sj,s,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_311,set_312,set_313,set_314,set_315,set_316,8).
 state_aserver(ui,sj,s,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_318,set_319,9).
 state_alice(ui,s,sj,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_321,set_322,set_323,11).
 state_server(ui,s,sj,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_325,set_326,set_327,set_328,set_329,set_330,12).
 state_aserver(ui,s,sj,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_332,set_333,13)


section rules:

step step_0 (Ui,S,Sj,SK1,SK2,H,IDi,SIDj,Dummy_PIDi,PSIDj,Pi,Dummy_B1,Dummy_B2,X,Dummy_Ai,Ci,Ei,Dummy_BBi,BSj,Y,D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,SKi,SKj,Inc,Dummy_Set_64,Set_69,Set_70,SID,B1,B2) :=
 state_alice(Ui,S,Sj,SK1,SK2,H,0,IDi,SIDj,Dummy_PIDi,PSIDj,Pi,Dummy_B1,Dummy_B2,X,Dummy_Ai,Ci,Ei,Dummy_BBi,BSj,Y,D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,SKi,SKj,Inc,Dummy_Set_64,Set_69,Set_70,SID).
 iknows(start)
=[exists B2,B1]=>
 state_alice(Ui,S,Sj,SK1,SK2,H,1,IDi,SIDj,apply(H,pair(IDi,B2)),PSIDj,Pi,B1,B2,X,apply(H,pair(Pi,B1)),Ci,Ei,xor(B2,apply(H,pair(Pi,B1))),BSj,Y,D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,SKi,SKj,Inc,Dummy_Set_64,Set_69,Set_70,SID).
 iknows(scrypt(SK1,pair(apply(H,pair(Pi,B1)),Dummy_PIDi))).
 secret(Dummy_Set_64,subs1,Ui).
 contains(B1,Dummy_Set_64).
 contains(B2,Dummy_Set_64).
 contains(Pi,Dummy_Set_64).
 contains(IDi,Dummy_Set_64)

step step_1 (Ui,S,Sj,SK1,SK2,H,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,Dummy_Di,Dummy_Ni,Nj,Ncs,Dummy_TSi,TSj,TScs,Dummy_Gi,Dummy_Fi,Dummy_Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,SKi,SKj,Inc,Set_64,Dummy_Set_69,Dummy_Set_70,SID,Ni,TSi) :=
 state_alice(Ui,S,Sj,SK1,SK2,H,1,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,Dummy_Di,Dummy_Ni,Nj,Ncs,Dummy_TSi,TSj,TScs,Dummy_Gi,Dummy_Fi,Dummy_Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,SKi,SKj,Inc,Set_64,Dummy_Set_69,Dummy_Set_70,SID).
 iknows(scrypt(SK1,pair(Ci,Ei)))
=[exists TSi,Ni]=>
 state_alice(Ui,S,Sj,SK1,SK2,H,2,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,xor(Ei,Ai),Ni,Nj,Ncs,TSi,TSj,TScs,apply(H,pair(PIDi,pair(SIDj,pair(Ni,pair(TSi,xor(Ei,Ai)))))),xor(xor(Ei,Ai),Ni),xor(SIDj,apply(H,pair(xor(Ei,Ai),Ni))),Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,SKi,SKj,Inc,Set_64,Dummy_Set_69,Dummy_Set_70,SID).
 iknows(pair(apply(H,pair(PIDi,pair(SIDj,pair(Ni,pair(TSi,xor(Ei,Ai)))))),pair(xor(xor(Ei,Ai),Ni),pair(xor(SIDj,apply(H,pair(xor(Ei,Ai),Ni))),PIDi)))).
 secret(Dummy_Set_69,subs2,Dummy_Set_70).
 contains(Ni,Dummy_Set_69).
 contains(Ui,Dummy_Set_70).
 contains(S,Dummy_Set_70).
 contains(Sj,Dummy_Set_70)

step step_2 (Ui,S,Sj,SK1,SK2,H,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Dummy_Li,Dummy_LLi,Dummy_Qcs,Dummy_Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,Dummy_SKi,SKj,Inc,Set_64,Set_69,Set_70,SID,Qcs,Vcs) :=
 state_alice(Ui,S,Sj,SK1,SK2,H,2,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Dummy_Li,Dummy_LLi,Dummy_Qcs,Dummy_Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,Dummy_SKi,SKj,Inc,Set_64,Set_69,Set_70,SID).
 iknows(pair(Qcs,Vcs))
 =>
 state_alice(Ui,S,Sj,SK1,SK2,H,3,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,apply(H,pair(Ni,Di)),xor(Pcs,apply(H,pair(Ni,Di))),Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,apply(H,xor(xor(Pcs,apply(H,pair(Ni,Di))),Ni)),SKj,Inc,Set_64,Set_69,Set_70,SID)

step step_3 (S,Ui,Sj,SK1,SK2,H,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Dummy_Ci,Dummy_Ei,BBi,BSj,Y,D,Dummy_Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,SKi,SKj,SKcs,Inc,Dummy_Set_121,Dummy_Set_122,Set_123,Set_124,Set_125,Set_126,SID) :=
 state_server(S,Ui,Sj,SK1,SK2,H,0,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Dummy_Ci,Dummy_Ei,BBi,BSj,Y,D,Dummy_Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,SKi,SKj,SKcs,Inc,Dummy_Set_121,Dummy_Set_122,Set_123,Set_124,Set_125,Set_126,SID).
 iknows(scrypt(SK1,pair(Ai,PIDi)))
 =>
 state_server(S,Ui,Sj,SK1,SK2,H,1,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,apply(H,pair(Ai,PIDi)),xor(apply(H,pair(PIDi,X)),Ai),BBi,BSj,Y,D,apply(H,pair(PIDi,X)),Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,SKi,SKj,SKcs,Inc,Dummy_Set_121,Dummy_Set_122,Set_123,Set_124,Set_125,Set_126,SID).
 secret(Dummy_Set_121,subs3,Dummy_Set_122).
 iknows(scrypt(SK1,pair(apply(H,pair(Ai,PIDi)),xor(apply(H,pair(PIDi,X)),Ai)))).
 contains(X,Dummy_Set_121).
 contains(S,Dummy_Set_122)

step step_4 (S,Ui,Sj,SK1,SK2,H,IDi,Dummy_SIDj,PIDi,Dummy_PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,Dummy_BSj,Dummy_Y,Dummy_D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,SKi,SKj,SKcs,Inc,Set_121,Set_122,Dummy_Set_123,Dummy_Set_124,Set_125,Set_126,SID,SIDj,Y,D) :=
 state_server(S,Ui,Sj,SK1,SK2,H,1,IDi,Dummy_SIDj,PIDi,Dummy_PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,Dummy_BSj,Dummy_Y,Dummy_D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,SKi,SKj,SKcs,Inc,Set_121,Set_122,Dummy_Set_123,Dummy_Set_124,Set_125,Set_126,SID).
 iknows(scrypt(SK2,pair(SIDj,D)))
=[exists Y]=>
 state_server(S,Ui,Sj,SK1,SK2,H,2,IDi,SIDj,PIDi,apply(H,pair(SIDj,D)),Pi,B1,B2,X,Ai,Ci,Ei,BBi,apply(H,pair(apply(H,pair(SIDj,D)),Y)),Y,D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,SKi,SKj,SKcs,Inc,Set_121,Set_122,Dummy_Set_123,Dummy_Set_124,Set_125,Set_126,SID).
 iknows(scrypt(SK2,apply(H,pair(apply(H,pair(SIDj,D)),Y)))).
 secret(Dummy_Set_123,subs4,Dummy_Set_124).
 contains(apply(H,pair(apply(H,pair(SIDj,D)),Y)),Dummy_Set_123).
 contains(S,Dummy_Set_124).
 contains(Sj,Dummy_Set_124)

step step_5 (S,Ui,Sj,SK1,SK2,H,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,Di,Dummy_Ni,Dummy_Nj,Dummy_Ncs,Dummy_TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Dummy_Qcs,Dummy_Vcs,Dummy_Pcs,Dummy_Rcs,Ji,Ki,Wj,WWj,SKi,SKj,Dummy_SKcs,Inc,Set_121,Set_122,Set_123,Set_124,Dummy_Set_125,Dummy_Set_126,SID,Ncs,TSi) :=
 state_server(S,Ui,Sj,SK1,SK2,H,2,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,Di,Dummy_Ni,Dummy_Nj,Dummy_Ncs,Dummy_TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Dummy_Qcs,Dummy_Vcs,Dummy_Pcs,Dummy_Rcs,Ji,Ki,Wj,WWj,SKi,SKj,Dummy_SKcs,Inc,Set_121,Set_122,Set_123,Set_124,Dummy_Set_125,Dummy_Set_126,SID).
 iknows(pair(Ji,pair(Ki,pair(PSIDj,pair(Gi,pair(Fi,pair(Zi,pair(PIDi,TSi))))))))
=[exists Ncs]=>
 state_server(S,Ui,Sj,SK1,SK2,H,3,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,Di,xor(Fi,Di),xor(BSj,Ji),Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,apply(H,pair(xor(Dummy_Nj,Ncs),Dummy_SKcs)),apply(H,pair(xor(Dummy_Ni,Ncs),Dummy_SKcs)),xor(Dummy_Nj,Ncs,apply(H,pair(Dummy_Ni,Di))),xor(Dummy_Ni,Ncs,apply(H,pair(BSj,Dummy_Nj))),Ji,Ki,Wj,WWj,SKi,SKj,apply(H,xor(Dummy_Ni,Dummy_Nj,Ncs)),Inc,Set_121,Set_122,Set_123,Set_124,Dummy_Set_125,Dummy_Set_126,SID).
 iknows(pair(Dummy_Pcs,pair(Dummy_Rcs,pair(Dummy_Qcs,Dummy_Vcs)))).
 secret(Dummy_Set_125,subs5,Dummy_Set_126).
 contains(Ncs,Dummy_Set_125).
 contains(S,Dummy_Set_126).
 contains(Sj,Dummy_Set_126).
 contains(Ui,Dummy_Set_126)

step step_6 (Sj,Ui,S,SK1,SK2,H,IDi,Dummy_SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,Dummy_D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,SKi,SKj,SKcs,Inc,Set_176,Set_177,SID,SIDj,D) :=
 state_aserver(Sj,Ui,S,SK1,SK2,H,0,IDi,Dummy_SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,Dummy_D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,SKi,SKj,SKcs,Inc,Set_176,Set_177,SID).
 iknows(start)
=[exists D,SIDj]=>
 state_aserver(Sj,Ui,S,SK1,SK2,H,1,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Wj,WWj,SKi,SKj,SKcs,Inc,Set_176,Set_177,SID).
 iknows(scrypt(SK2,pair(SIDj,D)))

step step_7 (Sj,Ui,S,SK1,SK2,H,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,Di,Ni,Dummy_Nj,Ncs,Dummy_TSi,Dummy_TSj,TScs,Dummy_Gi,Dummy_Fi,Dummy_Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Dummy_Ji,Dummy_Ki,Wj,WWj,SKi,SKj,SKcs,Inc,Dummy_Set_176,Dummy_Set_177,SID,Nj,TSi,TSj,Gi,Fi,Zi) :=
 state_aserver(Sj,Ui,S,SK1,SK2,H,1,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,Di,Ni,Dummy_Nj,Ncs,Dummy_TSi,Dummy_TSj,TScs,Dummy_Gi,Dummy_Fi,Dummy_Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Dummy_Ji,Dummy_Ki,Wj,WWj,SKi,SKj,SKcs,Inc,Dummy_Set_176,Dummy_Set_177,SID).
 iknows(pair(Gi,pair(Fi,pair(Zi,pair(PIDi,TSi)))))
=[exists TSj,Nj]=>
 state_aserver(Sj,Ui,S,SK1,SK2,H,2,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,xor(BSj,Nj),apply(H,pair(Nj,pair(BSj,pair(Dummy_Gi,TSj)))),Wj,WWj,SKi,SKj,SKcs,Inc,Dummy_Set_176,Dummy_Set_177,SID).
 iknows(pair(xor(BSj,Nj),pair(apply(H,pair(Nj,pair(BSj,pair(Dummy_Gi,TSj)))),pair(PSIDj,pair(Dummy_Gi,pair(Dummy_Fi,pair(Dummy_Zi,pair(PIDi,TSi)))))))).
 secret(Dummy_Set_176,subs6,Dummy_Set_177).
 contains(Nj,Dummy_Set_176).
 contains(S,Dummy_Set_177).
 contains(Sj,Dummy_Set_177).
 contains(Ui,Dummy_Set_177)

step step_8 (Sj,Ui,S,SK1,SK2,H,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Dummy_Wj,Dummy_WWj,SKi,Dummy_SKj,SKcs,Inc,Set_176,Set_177,SID) :=
 state_aserver(Sj,Ui,S,SK1,SK2,H,2,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,Dummy_Wj,Dummy_WWj,SKi,Dummy_SKj,SKcs,Inc,Set_176,Set_177,SID).
 iknows(pair(Pcs,pair(Rcs,pair(Qcs,Vcs))))
 =>
 state_aserver(Sj,Ui,S,SK1,SK2,H,3,IDi,SIDj,PIDi,PSIDj,Pi,B1,B2,X,Ai,Ci,Ei,BBi,BSj,Y,D,Di,Ni,Nj,Ncs,TSi,TSj,TScs,Gi,Fi,Zi,Li,LLi,Qcs,Vcs,Pcs,Rcs,Ji,Ki,apply(H,pair(BSj,Nj)),xor(Rcs,apply(H,pair(BSj,Nj))),SKi,apply(H,xor(Dummy_WWj,Nj)),SKcs,Inc,Set_176,Set_177,SID).
 iknows(pair(Qcs,Vcs))


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_server_ni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_server_ni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_server_ni,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_server_ni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_server_ni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_aserver_ncs (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_aserver_ncs,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_aserver_ncs,MGoal))
     /\ ((request(A1Goal,A2Goal,server_aserver_ncs,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_aserver_ncs,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_aserver_alice_nj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,aserver_alice_nj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,aserver_alice_nj,MGoal))
     /\ ((request(A1Goal,A2Goal,aserver_alice_nj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,aserver_alice_nj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_server_ni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_server_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_server_ni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_server_ni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_server_ni,MGoal,SID1).
 request(A1Goal,A2Goal,alice_server_ni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_aserver_ncs (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_aserver_ncs,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_aserver_ncs,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_aserver_ncs (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_aserver_ncs,MGoal,SID1).
 request(A1Goal,A2Goal,server_aserver_ncs,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_aserver_alice_nj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,aserver_alice_nj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,aserver_alice_nj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_aserver_alice_nj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,aserver_alice_nj,MGoal,SID1).
 request(A1Goal,A2Goal,aserver_alice_nj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

