%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileqeEqGm

section signature:

state_bob: agent * agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * hash_func * set(text) * set(agent) * set(agent) * nat -> fact
state_server: agent * agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * hash_func * set(text) * set(agent) * set(agent) * nat -> fact
state_alice: agent * agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * hash_func * set(text) * set(agent) * nat -> fact


section types:

Set_100, Set_72, Dummy_Set_100, Dummy_Set_72, Dummy_Set_39, Set_39: set(text)
set_186, set_185, set_184, set_182, set_181, set_180, set_178, set_177, set_175, set_174, set_173, set_171, set_170, set_169, set_167, set_166, set_160, set_159, set_158, set_151, set_150, set_149, set_136, set_135: set
alice_server_t1, server_bob_t2, bob_alice_t3, sub1, sub2, sub3, sub4: protocol_id
start, MGoal: message
Xs, EKi, Kj, Request, R, RPWi, IDi, IDsnj, K, PWi, Bi, T1, T2, T3, Dummy_T2, Dummy_T3, Dummy_R, Dummy_T1, Dummy_RPWi, Dummy_K, dummy_nonce, idi, idsnj, t1, t2, t3: text
13, State, 12, 11, 9, 8, 7, 5, SID, 4, 3, 2, Dummy_State, 1, 0, SID2, SID1: nat
SKuigwn, skuigwn: symmetric_key
Gen, Rep, H, dummy_hash, h, gen, rep: hash_func
Ui, GWN, SNj, A2Goal, A1Goal, ui, gwn, snj, i: agent
Set_74, Set_73, Dummy_Set_102, Dummy_Set_101, Dummy_Set_74, Dummy_Set_73, Dummy_Set_41, Set_41, ASGoal, Set_102, Set_101: set(agent)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(idi).
 iknows(h).
 iknows(gen).
 iknows(rep).
 iknows(t3).
 iknows(i).
 state_alice(ui,gwn,snj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,set_135,set_136,3).
 state_server(gwn,ui,snj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,set_149,set_150,set_151,4).
 state_bob(snj,ui,gwn,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,set_158,set_159,set_160,5).
 state_alice(ui,gwn,snj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,set_166,set_167,7).
 state_server(gwn,ui,snj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,set_169,set_170,set_171,8).
 state_bob(snj,ui,gwn,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,set_173,set_174,set_175,9).
 state_alice(ui,gwn,snj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,set_177,set_178,11).
 state_server(gwn,ui,snj,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,set_180,set_181,set_182,12).
 state_bob(snj,ui,gwn,h,skuigwn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,set_184,set_185,set_186,13)


section rules:

step step_0 (Ui,GWN,SNj,H,SKuigwn,IDi,IDsnj,Dummy_K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,R,Dummy_RPWi,Gen,Rep,Dummy_Set_39,Dummy_Set_41,SID,K) :=
 state_alice(Ui,GWN,SNj,H,SKuigwn,0,IDi,IDsnj,Dummy_K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,R,Dummy_RPWi,Gen,Rep,Dummy_Set_39,Dummy_Set_41,SID).
 iknows(start)
=[exists K]=>
 state_alice(Ui,GWN,SNj,H,SKuigwn,1,IDi,IDsnj,K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,R,apply(H,pair(IDi,pair(PWi,K))),Gen,Rep,Dummy_Set_39,Dummy_Set_41,SID).
 secret(Dummy_Set_39,sub1,Ui).
 secret(EKi,sub2,Dummy_Set_41).
 iknows(scrypt(SKuigwn,pair(IDi,pair(apply(H,pair(IDi,pair(PWi,K))),EKi)))).
 contains(PWi,Dummy_Set_39).
 contains(Bi,Dummy_Set_39).
 contains(K,Dummy_Set_39).
 contains(Ui,Dummy_Set_41).
 contains(GWN,Dummy_Set_41)

step step_1 (Ui,GWN,SNj,H,SKuigwn,IDi,IDsnj,K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,R,RPWi,Gen,Rep,Set_39,Set_41,SID) :=
 state_alice(Ui,GWN,SNj,H,SKuigwn,1,IDi,IDsnj,K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,R,RPWi,Gen,Rep,Set_39,Set_41,SID).
 iknows(scrypt(SKuigwn,pair(H,pair(Gen,pair(Rep,apply(H,xor(IDi,apply(H,Xs))))))))
 =>
 state_alice(Ui,GWN,SNj,H,SKuigwn,2,IDi,IDsnj,K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,R,RPWi,Gen,Rep,Set_39,Set_41,SID).
 secret(Xs,sub3,GWN).
 iknows(pair(IDi,Request))

step step_2 (Ui,GWN,SNj,H,SKuigwn,IDi,IDsnj,K,PWi,Bi,Dummy_T1,T2,T3,Xs,EKi,Kj,Request,Dummy_R,RPWi,Gen,Rep,Set_39,Set_41,SID,T1,R) :=
 state_alice(Ui,GWN,SNj,H,SKuigwn,2,IDi,IDsnj,K,PWi,Bi,Dummy_T1,T2,T3,Xs,EKi,Kj,Request,Dummy_R,RPWi,Gen,Rep,Set_39,Set_41,SID).
 iknows(R)
=[exists T1]=>
 state_alice(Ui,GWN,SNj,H,SKuigwn,3,IDi,IDsnj,K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,R,RPWi,Gen,Rep,Set_39,Set_41,SID).
 iknows(scrypt(EKi,pair(R,pair(T1,IDsnj)))).
 witness(Ui,GWN,alice_server_t1,T1)

step step_3 (Ui,GWN,SNj,H,SKuigwn,IDi,IDsnj,K,PWi,Bi,Dummy_T1,T2,Dummy_T3,Xs,EKi,Kj,Request,R,RPWi,Gen,Rep,Set_39,Set_41,SID,T1,T3) :=
 state_alice(Ui,GWN,SNj,H,SKuigwn,3,IDi,IDsnj,K,PWi,Bi,Dummy_T1,T2,Dummy_T3,Xs,EKi,Kj,Request,R,RPWi,Gen,Rep,Set_39,Set_41,SID).
 iknows(apply(H,pair(apply(H,pair(apply(H,pair(IDsnj,apply(H,xor(IDi,apply(H,Xs))))),pair(IDi,pair(IDsnj,pair(T1,T3))))),T3)))
 =>
 state_alice(Ui,GWN,SNj,H,SKuigwn,4,IDi,IDsnj,K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,R,RPWi,Gen,Rep,Set_39,Set_41,SID).
 request(SNj,Ui,bob_alice_t3,T3,SID)

step step_4 (GWN,Ui,SNj,H,SKuigwn,IDi,IDsnj,Dummy_K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,R,RPWi,Gen,Rep,Dummy_Set_72,Set_73,Set_74,SID,K) :=
 state_server(GWN,Ui,SNj,H,SKuigwn,0,IDi,IDsnj,Dummy_K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,R,RPWi,Gen,Rep,Dummy_Set_72,Set_73,Set_74,SID).
 iknows(scrypt(SKuigwn,pair(IDi,pair(apply(H,pair(IDi,pair(PWi,K))),EKi))))
 =>
 state_server(GWN,Ui,SNj,H,SKuigwn,1,IDi,IDsnj,K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,R,RPWi,Gen,Rep,Dummy_Set_72,Set_73,Set_74,SID).
 secret(Dummy_Set_72,sub1,Ui).
 iknows(scrypt(SKuigwn,pair(H,pair(Gen,pair(Rep,apply(H,xor(IDi,apply(H,Xs)))))))).
 contains(PWi,Dummy_Set_72).
 contains(Bi,Dummy_Set_72).
 contains(K,Dummy_Set_72)

step step_5 (GWN,Ui,SNj,H,SKuigwn,IDi,IDsnj,K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,Dummy_R,RPWi,Gen,Rep,Set_72,Dummy_Set_73,Dummy_Set_74,SID,R) :=
 state_server(GWN,Ui,SNj,H,SKuigwn,1,IDi,IDsnj,K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,Dummy_R,RPWi,Gen,Rep,Set_72,Dummy_Set_73,Dummy_Set_74,SID).
 iknows(pair(IDi,Request))
=[exists R]=>
 state_server(GWN,Ui,SNj,H,SKuigwn,2,IDi,IDsnj,K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,R,RPWi,Gen,Rep,Set_72,Dummy_Set_73,Dummy_Set_74,SID).
 secret(EKi,sub2,Dummy_Set_73).
 secret(Xs,sub3,GWN).
 secret(Kj,sub4,Dummy_Set_74).
 iknows(R).
 contains(Ui,Dummy_Set_73).
 contains(GWN,Dummy_Set_73).
 contains(GWN,Dummy_Set_74).
 contains(SNj,Dummy_Set_74)

step step_6 (GWN,Ui,SNj,H,SKuigwn,IDi,IDsnj,K,PWi,Bi,Dummy_T1,Dummy_T2,T3,Xs,EKi,Kj,Request,Dummy_R,RPWi,Gen,Rep,Set_72,Set_73,Set_74,SID,T1,T2,R) :=
 state_server(GWN,Ui,SNj,H,SKuigwn,2,IDi,IDsnj,K,PWi,Bi,Dummy_T1,Dummy_T2,T3,Xs,EKi,Kj,Request,Dummy_R,RPWi,Gen,Rep,Set_72,Set_73,Set_74,SID).
 iknows(scrypt(EKi,pair(R,pair(T1,IDsnj))))
=[exists T2]=>
 state_server(GWN,Ui,SNj,H,SKuigwn,3,IDi,IDsnj,K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,R,RPWi,Gen,Rep,Set_72,Set_73,Set_74,SID).
 iknows(pair(IDi,scrypt(Kj,pair(IDi,pair(IDsnj,pair(T1,pair(T2,apply(H,pair(IDsnj,apply(H,xor(IDi,apply(H,Xs)))))))))))).
 witness(GWN,SNj,server_bob_t2,T2).
 request(Ui,GWN,alice_server_t1,T1,SID)

step step_7 (SNj,Ui,GWN,H,SKuigwn,IDi,IDsnj,K,PWi,Bi,Dummy_T1,Dummy_T2,Dummy_T3,Xs,EKi,Kj,Request,R,RPWi,Gen,Rep,Dummy_Set_100,Dummy_Set_101,Dummy_Set_102,SID,T1,T2,T3) :=
 state_bob(SNj,Ui,GWN,H,SKuigwn,0,IDi,IDsnj,K,PWi,Bi,Dummy_T1,Dummy_T2,Dummy_T3,Xs,EKi,Kj,Request,R,RPWi,Gen,Rep,Dummy_Set_100,Dummy_Set_101,Dummy_Set_102,SID).
 iknows(pair(IDi,scrypt(Kj,pair(IDi,pair(IDsnj,pair(T1,pair(T2,apply(H,pair(IDsnj,apply(H,xor(IDi,apply(H,Xs))))))))))))
=[exists T3]=>
 state_bob(SNj,Ui,GWN,H,SKuigwn,1,IDi,IDsnj,K,PWi,Bi,T1,T2,T3,Xs,EKi,Kj,Request,R,RPWi,Gen,Rep,Dummy_Set_100,Dummy_Set_101,Dummy_Set_102,SID).
 secret(Dummy_Set_100,sub1,Ui).
 secret(EKi,sub2,Dummy_Set_101).
 secret(Xs,sub3,GWN).
 secret(Kj,sub4,Dummy_Set_102).
 iknows(apply(H,pair(apply(H,pair(apply(H,pair(IDsnj,apply(H,xor(IDi,apply(H,Xs))))),pair(IDi,pair(IDsnj,pair(T1,T3))))),T3))).
 witness(SNj,Ui,bob_alice_t3,T3).
 request(GWN,SNj,server_bob_t2,T2,SID).
 contains(PWi,Dummy_Set_100).
 contains(Bi,Dummy_Set_100).
 contains(K,Dummy_Set_100).
 contains(Ui,Dummy_Set_101).
 contains(GWN,Dummy_Set_101).
 contains(GWN,Dummy_Set_102).
 contains(SNj,Dummy_Set_102)


section properties:

property secrecy_of_sub1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_server_t1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_server_t1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_server_t1,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_server_t1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_server_t1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_bob_t2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_bob_t2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_bob_t2,MGoal))
     /\ ((request(A1Goal,A2Goal,server_bob_t2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_bob_t2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_t3 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_t3,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_t3,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_t3,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_t3,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sub1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub4,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_server_t1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_server_t1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_server_t1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_server_t1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_server_t1,MGoal,SID1).
 request(A1Goal,A2Goal,alice_server_t1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_bob_t2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_bob_t2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_bob_t2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_bob_t2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_bob_t2,MGoal,SID1).
 request(A1Goal,A2Goal,server_bob_t2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_t3 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_t3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_t3,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_t3 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_t3,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_t3,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

