%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilegycfXz

section signature:

state_user3: agent * agent * agent * public_key * public_key * public_key * message * message * message * hash_func * hash_func * hash_func * hash_func * hash_func * hash_func * message * nat * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * symmetric_key * set(pair(agent,message)) * set(agent) * nat -> fact
state_user2: agent * agent * agent * public_key * public_key * public_key * message * message * message * hash_func * hash_func * hash_func * hash_func * hash_func * hash_func * message * nat * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * symmetric_key * set(pair(agent,message)) * set(agent) * nat -> fact
state_user1: agent * agent * agent * public_key * public_key * public_key * message * message * message * hash_func * hash_func * hash_func * hash_func * hash_func * hash_func * message * nat * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * symmetric_key * set(pair(agent,message)) * set(agent) * nat -> fact
state_kgc: agent * agent * agent * agent * message * message * message * message * message * public_key * public_key * public_key * hash_func * hash_func * hash_func * hash_func * hash_func * hash_func * nat * message * message * message * message * message * message * message * message * message * message * nat -> fact


section types:

u2_u3_w, u3_u2_w, sk, u1_u3_w, u1_u2_w, u3_u1_w, u2_u1_w: protocol_id
SK, Dummy_SK, dummy_sk: symmetric_key
set_335, set_333, set_330, set_327, set_324, set_321, set_317, set_314, set_312, set_300, set_288, set_264: set
IDRing, set_334, set_332, set_329, set_326, set_323, set_320, set_316, set_313, set_311, set_299, set_287, set_263: set(pair(agent,message))
dummy_set: set(message)
Set_191, Set_144, Dummy_Set_191, Dummy_Set_144, Set_94, Dummy_Set_94, ASGoal: set(agent)
State, 21, 19, 18, 15, 14, 13, 11, 10, 8, 6, SID, 3, 2, 5, 4, Dummy_State, SID2, SID1, 1, 0: nat
H, H1, M, M1, A, A1, h, h1, m, m1, a, a1: hash_func
K1, K2, K3, k1, k2, k3, ki: public_key
W3, W2, W1, R1, R2, R3, S3, X3, K32, K31, K1r, K2r, K3r, EX1, EX2, EX3, K3R, K3L, Q1, Q2, Q3, Ww3, Ppub, P, ID1, ID2, ID3, S2, X2, K23, K21, K2R, K2L, Ww2, Dummy_K3L, Dummy_K3R, Dummy_K31, Dummy_K32, Dummy_Ww3, Dummy_X3, Dummy_K1r, Dummy_K2L, Dummy_K2R, Dummy_K21, Dummy_K23, Dummy_Ww2, Dummy_X2, Dummy_EX3, Dummy_EX2, Dummy_K3r, S1, Dummy_K2r, Dummy_Q3, Dummy_Q2, Dummy_K1L, X1, Dummy_K1R, K12, Dummy_EX1, K13, Dummy_K13, Dummy_K12, Dummy_W2, Dummy_W3, Dummy_Ww1, Dummy_Q1, Dummy_X1, K1R, Dummy_W1, K1L, Ww1, Dummy_Rr3, Dummy_Rr2, Dummy_Rr1, Dummy_R3, Dummy_R2, Dummy_R1, Dummy_S3, Dummy_S2, Dummy_S1, Dummy_Ppub, dummy_msg, start, MGoal, p, id1, id2, id3, idi, Rr1, s, Rr2, Rr3, S: message
U1, U2, U3, A2Goal, A1Goal, u1, u2, u3, kc, Kc, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u1).
 iknows(u2).
 iknows(u3).
 iknows(kc).
 iknows(k1).
 iknows(k2).
 iknows(k3).
 iknows(p).
 iknows(h).
 iknows(h1).
 iknows(m).
 iknows(m1).
 iknows(a).
 iknows(a1).
 iknows(ki).
 iknows(idi).
 iknows(i).
 state_kgc(kc,u1,u2,u3,p,s,id1,id2,id3,k1,k2,k3,h,h1,m,m1,a,a1,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,3).
 state_user1(u1,u2,u3,k1,k2,k3,id1,id2,id3,h,h1,m,m1,a,a1,p,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_sk,set_263,set_264,4).
 state_user2(u2,u1,u3,k1,k2,k3,id1,id2,id3,h,h1,m,m1,a,a1,p,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_sk,set_287,set_288,5).
 state_user3(u3,u1,u2,k1,k2,k3,id1,id2,id3,h,h1,m,m1,a,a1,p,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_sk,set_299,set_300,6).
 state_kgc(kc,i,u2,u3,p,s,idi,id2,id3,ki,k2,k3,h,h1,m,m1,a,a1,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,8).
 state_user2(u2,i,u3,ki,k2,k3,idi,id2,id3,h,h1,m,m1,a,a1,p,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_sk,set_313,set_314,10).
 state_user3(u3,i,u2,ki,k2,k3,idi,id2,id3,h,h1,m,m1,a,a1,p,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_sk,set_316,set_317,11).
 state_kgc(kc,u1,u2,i,p,s,id1,id2,idi,k1,k2,ki,h,h1,m,m1,a,a1,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,13).
 state_user1(u1,u2,i,k1,k2,ki,id1,id2,idi,h,h1,m,m1,a,a1,p,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_sk,set_320,set_321,14).
 state_user2(u2,u1,i,k1,k2,ki,id1,id2,idi,h,h1,m,m1,a,a1,p,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_sk,set_323,set_324,15).
 state_kgc(kc,u1,i,u3,p,s,id1,idi,id3,k1,ki,k3,h,h1,m,m1,a,a1,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,18).
 state_user1(u1,i,u3,k1,ki,k3,id1,idi,id3,h,h1,m,m1,a,a1,p,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_sk,set_329,set_330,19).
 state_user3(u3,u1,i,k1,ki,k3,id1,idi,id3,h,h1,m,m1,a,a1,p,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_sk,set_334,set_335,21).
 contains(pair(u1,id1),set_263).
 contains(pair(u2,id2),set_263).
 contains(pair(u3,id3),set_263).
 contains(pair(u1,id1),set_287).
 contains(pair(u2,id2),set_287).
 contains(pair(u3,id3),set_287).
 contains(pair(u1,id1),set_299).
 contains(pair(u2,id2),set_299).
 contains(pair(u3,id3),set_299).
 contains(pair(i,idi),set_313).
 contains(pair(u2,id2),set_313).
 contains(pair(u3,id3),set_313).
 contains(pair(i,idi),set_316).
 contains(pair(u2,id2),set_316).
 contains(pair(u3,id3),set_316).
 contains(pair(u1,id1),set_320).
 contains(pair(u2,id2),set_320).
 contains(pair(i,idi),set_320).
 contains(pair(u1,id1),set_323).
 contains(pair(u2,id2),set_323).
 contains(pair(i,idi),set_323).
 contains(pair(u1,id1),set_329).
 contains(pair(i,idi),set_329).
 contains(pair(u3,id3),set_329).
 contains(pair(u1,id1),set_334).
 contains(pair(i,idi),set_334).
 contains(pair(u3,id3),set_334)


section rules:

step step_0 (Kc,U1,U2,U3,P,S,ID1,ID2,ID3,K1,K2,K3,H,H1,M,M1,A,A1,Dummy_Ppub,Dummy_S1,Dummy_S2,Dummy_S3,Dummy_R1,Dummy_R2,Dummy_R3,Dummy_Rr1,Dummy_Rr2,Dummy_Rr3,SID,Rr1,Rr2,Rr3) :=
 state_kgc(Kc,U1,U2,U3,P,S,ID1,ID2,ID3,K1,K2,K3,H,H1,M,M1,A,A1,0,Dummy_Ppub,Dummy_S1,Dummy_S2,Dummy_S3,Dummy_R1,Dummy_R2,Dummy_R3,Dummy_Rr1,Dummy_Rr2,Dummy_Rr3,SID).
 iknows(start)
=[exists Rr3,Rr2,Rr1]=>
 state_kgc(Kc,U1,U2,U3,P,S,ID1,ID2,ID3,K1,K2,K3,H,H1,M,M1,A,A1,1,apply(M,pair(P,S)),apply(A1,pair(Rr1,apply(M1,pair(S,apply(H,ID1))))),apply(A1,pair(Rr2,apply(M1,pair(S,apply(H,ID2))))),apply(A1,pair(Rr3,apply(M1,pair(S,apply(H,ID3))))),apply(M,pair(P,Rr1)),apply(M,pair(P,Rr2)),apply(M,pair(P,Rr3)),Rr1,Rr2,Rr3,SID).
 iknows(crypt(K1,pair(apply(M,pair(P,Rr1)),pair(apply(A1,pair(Rr1,apply(M1,pair(S,apply(H,ID1))))),apply(M,pair(P,S)))))).
 iknows(crypt(K2,pair(apply(M,pair(P,Rr2)),pair(apply(A1,pair(Rr2,apply(M1,pair(S,apply(H,ID2))))),apply(M,pair(P,S)))))).
 iknows(crypt(K3,pair(apply(M,pair(P,Rr3)),pair(apply(A1,pair(Rr3,apply(M1,pair(S,apply(H,ID3))))),apply(M,pair(P,S))))))

step step_1 (U1,U2,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,W3,W2,Dummy_W1,Dummy_S1,Dummy_R1,R2,R3,Dummy_X1,K12,K13,K1r,K2r,K3r,EX1,EX2,EX3,K1R,K1L,Dummy_Ppub,Dummy_Q1,Q2,Q3,Dummy_Ww1,SK,IDRing,Set_94,SID,S1,R1,X1,Ppub,Ww1) :=
 state_user1(U1,U2,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,0,W3,W2,Dummy_W1,Dummy_S1,Dummy_R1,R2,R3,Dummy_X1,K12,K13,K1r,K2r,K3r,EX1,EX2,EX3,K1R,K1L,Dummy_Ppub,Dummy_Q1,Q2,Q3,Dummy_Ww1,SK,IDRing,Set_94,SID).
 iknows(crypt(K1,pair(R1,pair(S1,Ppub))))
=[exists Ww1,X1]=>
 state_user1(U1,U2,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,1,W3,W2,apply(M,pair(P,Ww1)),S1,R1,R2,R3,X1,K12,K13,K1r,K2r,K3r,EX1,EX2,EX3,K1R,K1L,Ppub,apply(M,pair(P,X1)),Q2,Q3,Ww1,SK,IDRing,Set_94,SID).
 iknows(crypt(inv(K1),pair(U1,pair(ID1,pair(apply(M,pair(P,Ww1)),pair(R1,apply(M,pair(P,X1)))))))).
 witness(U1,U2,u2_u1_w,pair(apply(M,pair(P,Ww1)),R1)).
 witness(U1,U3,u3_u1_w,pair(apply(M,pair(P,Ww1)),R1))

step step_2 (U1,U2,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,Dummy_W3,Dummy_W2,W1,S1,R1,Dummy_R2,Dummy_R3,X1,Dummy_K12,Dummy_K13,K1r,K2r,K3r,Dummy_EX1,EX2,EX3,Dummy_K1R,Dummy_K1L,Ppub,Q1,Dummy_Q2,Dummy_Q3,Ww1,SK,IDRing,Set_94,SID,W3,W2,R2,R3,Q2,Q3) :=
 state_user1(U1,U2,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,1,Dummy_W3,Dummy_W2,W1,S1,R1,Dummy_R2,Dummy_R3,X1,Dummy_K12,Dummy_K13,K1r,K2r,K3r,Dummy_EX1,EX2,EX3,Dummy_K1R,Dummy_K1L,Ppub,Q1,Dummy_Q2,Dummy_Q3,Ww1,SK,IDRing,Set_94,SID).
 iknows(crypt(inv(K2),pair(U2,pair(ID2,pair(W2,pair(R2,Q2)))))).
 iknows(crypt(inv(K3),pair(U3,pair(ID3,pair(W3,pair(R3,Q3)))))).
 contains(pair(U2,ID2),IDRing).
 contains(pair(U3,ID3),IDRing)
 =>
 state_user1(U1,U2,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,2,W3,W2,W1,S1,R1,R2,R3,X1,apply(A,pair(apply(M,pair(W2,apply(A1,pair(S1,X1)))),apply(M,pair(apply(A,pair(R2,pair(Q2,apply(M,pair(Ppub,apply(H,ID2)))))),Ww1)))),apply(A,pair(apply(M,pair(W3,apply(A1,pair(S1,X1)))),apply(M,pair(apply(A,pair(R3,pair(Q3,apply(M,pair(Ppub,apply(H,ID3)))))),Ww1)))),K1r,K2r,K3r,xor(apply(H1,apply(A,pair(apply(M,pair(W3,apply(A1,pair(S1,X1)))),apply(M,pair(apply(A,pair(R3,pair(Q3,apply(M,pair(Ppub,apply(H,ID3)))))),Ww1))))),apply(H1,apply(A,pair(apply(M,pair(W2,apply(A1,pair(S1,X1)))),apply(M,pair(apply(A,pair(R2,pair(Q2,apply(M,pair(Ppub,apply(H,ID2)))))),Ww1)))))),EX2,EX3,apply(H1,apply(A,pair(apply(M,pair(W2,apply(A1,pair(S1,X1)))),apply(M,pair(apply(A,pair(R2,pair(Q2,apply(M,pair(Ppub,apply(H,ID2)))))),Ww1))))),apply(H1,apply(A,pair(apply(M,pair(W3,apply(A1,pair(S1,X1)))),apply(M,pair(apply(A,pair(R3,pair(Q3,apply(M,pair(Ppub,apply(H,ID3)))))),Ww1))))),Ppub,Q1,Q2,Q3,Ww1,SK,IDRing,Set_94,SID).
 request(U1,U2,u1_u2_w,pair(W2,R2),SID).
 request(U1,U3,u1_u3_w,pair(W3,R3),SID).
 iknows(xor(apply(H1,apply(A,pair(apply(M,pair(W3,apply(A1,pair(S1,X1)))),apply(M,pair(apply(A,pair(R3,pair(Q3,apply(M,pair(Ppub,apply(H,ID3)))))),Ww1))))),apply(H1,apply(A,pair(apply(M,pair(W2,apply(A1,pair(S1,X1)))),apply(M,pair(apply(A,pair(R2,pair(Q2,apply(M,pair(Ppub,apply(H,ID2)))))),Ww1))))))).
 contains(pair(U2,ID2),IDRing).
 contains(pair(U3,ID3),IDRing)

step step_3 (U1,U2,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,W3,W2,W1,S1,R1,R2,R3,X1,K12,K13,K1r,Dummy_K2r,Dummy_K3r,EX1,Dummy_EX2,Dummy_EX3,K1R,K1L,Ppub,Q1,Q2,Q3,Ww1,Dummy_SK,IDRing,Dummy_Set_94,SID,EX2,EX3) :=
 state_user1(U1,U2,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,2,W3,W2,W1,S1,R1,R2,R3,X1,K12,K13,K1r,Dummy_K2r,Dummy_K3r,EX1,Dummy_EX2,Dummy_EX3,K1R,K1L,Ppub,Q1,Q2,Q3,Ww1,Dummy_SK,IDRing,Dummy_Set_94,SID).
 iknows(EX2).
 iknows(EX3)
 =>
 state_user1(U1,U2,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,3,W3,W2,W1,S1,R1,R2,R3,X1,K12,K13,K1r,xor(EX2,K1R),xor(EX3,xor(EX2,K1R)),EX1,EX2,EX3,K1R,K1L,Ppub,Q1,Q2,Q3,Ww1,apply(H,pair(K1R,pair(xor(EX2,K1R),xor(EX3,xor(EX2,K1R))))),IDRing,Dummy_Set_94,SID).
 secret(apply(H,pair(K1R,pair(xor(EX2,K1R),xor(EX3,xor(EX2,K1R))))),sk,Dummy_Set_94).
 contains(U1,Dummy_Set_94).
 contains(U2,Dummy_Set_94).
 contains(U3,Dummy_Set_94)

step step_4 (U2,U1,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,W3,Dummy_W2,W1,R1,Dummy_R2,Dummy_S2,R3,Dummy_X2,K23,K21,K1r,K2r,K3r,EX1,EX2,EX3,K2R,K2L,Dummy_Ppub,Q1,Dummy_Q2,Q3,Dummy_Ww2,SK,IDRing,Set_144,SID,R2,S2,X2,Ppub,Ww2) :=
 state_user2(U2,U1,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,0,W3,Dummy_W2,W1,R1,Dummy_R2,Dummy_S2,R3,Dummy_X2,K23,K21,K1r,K2r,K3r,EX1,EX2,EX3,K2R,K2L,Dummy_Ppub,Q1,Dummy_Q2,Q3,Dummy_Ww2,SK,IDRing,Set_144,SID).
 iknows(crypt(K2,pair(R2,pair(S2,Ppub))))
=[exists Ww2,X2]=>
 state_user2(U2,U1,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,1,W3,apply(M,pair(P,Ww2)),W1,R1,R2,S2,R3,X2,K23,K21,K1r,K2r,K3r,EX1,EX2,EX3,K2R,K2L,Ppub,Q1,apply(M,pair(P,X2)),Q3,Ww2,SK,IDRing,Set_144,SID).
 iknows(crypt(inv(K2),pair(U2,pair(ID2,pair(apply(M,pair(P,Ww2)),pair(R2,apply(M,pair(P,X2)))))))).
 witness(U2,U3,u3_u2_w,pair(apply(M,pair(P,Ww2)),R2)).
 witness(U2,U1,u1_u2_w,pair(apply(M,pair(P,Ww2)),R2))

step step_5 (U2,U1,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,Dummy_W3,W2,Dummy_W1,Dummy_R1,R2,S2,Dummy_R3,X2,Dummy_K23,Dummy_K21,K1r,K2r,K3r,EX1,Dummy_EX2,EX3,Dummy_K2R,Dummy_K2L,Ppub,Dummy_Q1,Q2,Dummy_Q3,Ww2,SK,IDRing,Set_144,SID,W3,W1,R1,R3,Q1,Q3) :=
 state_user2(U2,U1,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,1,Dummy_W3,W2,Dummy_W1,Dummy_R1,R2,S2,Dummy_R3,X2,Dummy_K23,Dummy_K21,K1r,K2r,K3r,EX1,Dummy_EX2,EX3,Dummy_K2R,Dummy_K2L,Ppub,Dummy_Q1,Q2,Dummy_Q3,Ww2,SK,IDRing,Set_144,SID).
 iknows(crypt(inv(K1),pair(U1,pair(ID1,pair(W1,pair(R1,Q1)))))).
 iknows(crypt(inv(K3),pair(U3,pair(ID3,pair(W3,pair(R3,Q3)))))).
 contains(pair(U1,ID1),IDRing).
 contains(pair(U3,ID3),IDRing)
 =>
 state_user2(U2,U1,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,2,W3,W2,W1,R1,R2,S2,R3,X2,apply(A,pair(apply(M,pair(W3,apply(A1,pair(S2,X2)))),apply(M,pair(apply(A,pair(R3,pair(Q3,apply(M,pair(Ppub,apply(H,ID3)))))),Ww2)))),apply(A,pair(apply(M,pair(W1,apply(A1,pair(S2,X2)))),apply(M,pair(apply(A,pair(R1,pair(Q1,apply(M,pair(Ppub,apply(H,ID1)))))),Ww2)))),K1r,K2r,K3r,EX1,xor(apply(H1,apply(A,pair(apply(M,pair(W1,apply(A1,pair(S2,X2)))),apply(M,pair(apply(A,pair(R1,pair(Q1,apply(M,pair(Ppub,apply(H,ID1)))))),Ww2))))),apply(H1,apply(A,pair(apply(M,pair(W3,apply(A1,pair(S2,X2)))),apply(M,pair(apply(A,pair(R3,pair(Q3,apply(M,pair(Ppub,apply(H,ID3)))))),Ww2)))))),EX3,apply(H1,apply(A,pair(apply(M,pair(W3,apply(A1,pair(S2,X2)))),apply(M,pair(apply(A,pair(R3,pair(Q3,apply(M,pair(Ppub,apply(H,ID3)))))),Ww2))))),apply(H1,apply(A,pair(apply(M,pair(W1,apply(A1,pair(S2,X2)))),apply(M,pair(apply(A,pair(R1,pair(Q1,apply(M,pair(Ppub,apply(H,ID1)))))),Ww2))))),Ppub,Q1,Q2,Q3,Ww2,SK,IDRing,Set_144,SID).
 request(U2,U1,u2_u1_w,pair(W1,R1),SID).
 request(U2,U3,u2_u3_w,pair(W3,R3),SID).
 iknows(xor(apply(H1,apply(A,pair(apply(M,pair(W1,apply(A1,pair(S2,X2)))),apply(M,pair(apply(A,pair(R1,pair(Q1,apply(M,pair(Ppub,apply(H,ID1)))))),Ww2))))),apply(H1,apply(A,pair(apply(M,pair(W3,apply(A1,pair(S2,X2)))),apply(M,pair(apply(A,pair(R3,pair(Q3,apply(M,pair(Ppub,apply(H,ID3)))))),Ww2))))))).
 contains(pair(U1,ID1),IDRing).
 contains(pair(U3,ID3),IDRing)

step step_6 (U2,U1,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,W3,W2,W1,R1,R2,S2,R3,X2,K23,K21,Dummy_K1r,K2r,Dummy_K3r,Dummy_EX1,EX2,Dummy_EX3,K2R,K2L,Ppub,Q1,Q2,Q3,Ww2,Dummy_SK,IDRing,Dummy_Set_144,SID,EX1) :=
 state_user2(U2,U1,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,2,W3,W2,W1,R1,R2,S2,R3,X2,K23,K21,Dummy_K1r,K2r,Dummy_K3r,Dummy_EX1,EX2,Dummy_EX3,K2R,K2L,Ppub,Q1,Q2,Q3,Ww2,Dummy_SK,IDRing,Dummy_Set_144,SID).
 iknows(EX1)
 =>
 state_user2(U2,U1,U3,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,3,W3,W2,W1,R1,R2,S2,R3,X2,K23,K21,xor(EX1,xor(EX3,K2R)),K2r,xor(EX3,K2R),EX1,EX2,Dummy_EX3,K2R,K2L,Ppub,Q1,Q2,Q3,Ww2,apply(H,pair(xor(EX1,xor(EX3,K2R)),pair(K2R,xor(EX3,K2R)))),IDRing,Dummy_Set_144,SID).
 secret(apply(H,pair(xor(EX1,xor(EX3,K2R)),pair(K2R,xor(EX3,K2R)))),sk,Dummy_Set_144).
 contains(U1,Dummy_Set_144).
 contains(U2,Dummy_Set_144).
 contains(U3,Dummy_Set_144)

step step_7 (U3,U1,U2,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,Dummy_W3,W2,W1,R1,R2,Dummy_R3,Dummy_S3,Dummy_X3,K32,K31,K1r,K2r,K3r,EX1,EX2,EX3,K3R,K3L,Q1,Q2,Dummy_Q3,Dummy_Ww3,Dummy_Ppub,SK,IDRing,Set_191,SID,R3,S3,X3,Ww3,Ppub) :=
 state_user3(U3,U1,U2,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,0,Dummy_W3,W2,W1,R1,R2,Dummy_R3,Dummy_S3,Dummy_X3,K32,K31,K1r,K2r,K3r,EX1,EX2,EX3,K3R,K3L,Q1,Q2,Dummy_Q3,Dummy_Ww3,Dummy_Ppub,SK,IDRing,Set_191,SID).
 iknows(crypt(K3,pair(R3,pair(S3,Ppub))))
=[exists Ww3,X3]=>
 state_user3(U3,U1,U2,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,1,apply(M,pair(P,Ww3)),W2,W1,R1,R2,R3,S3,X3,K32,K31,K1r,K2r,K3r,EX1,EX2,EX3,K3R,K3L,Q1,Q2,apply(M,pair(P,X3)),Ww3,Ppub,SK,IDRing,Set_191,SID).
 iknows(crypt(inv(K3),pair(U3,pair(ID3,pair(apply(M,pair(P,Ww3)),pair(R3,apply(M,pair(P,X3)))))))).
 witness(U3,U2,u2_u3_w,pair(apply(M,pair(P,Ww3)),R3)).
 witness(U3,U1,u3_u1_w,pair(apply(M,pair(P,Ww3)),R3))

step step_8 (U3,U1,U2,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,W3,Dummy_W2,Dummy_W1,Dummy_R1,Dummy_R2,R3,S3,X3,Dummy_K32,Dummy_K31,K1r,K2r,K3r,EX1,EX2,Dummy_EX3,Dummy_K3R,Dummy_K3L,Dummy_Q1,Dummy_Q2,Q3,Ww3,Ppub,SK,IDRing,Set_191,SID,W2,W1,R1,R2,Q1,Q2) :=
 state_user3(U3,U1,U2,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,1,W3,Dummy_W2,Dummy_W1,Dummy_R1,Dummy_R2,R3,S3,X3,Dummy_K32,Dummy_K31,K1r,K2r,K3r,EX1,EX2,Dummy_EX3,Dummy_K3R,Dummy_K3L,Dummy_Q1,Dummy_Q2,Q3,Ww3,Ppub,SK,IDRing,Set_191,SID).
 iknows(crypt(inv(K1),pair(U1,pair(ID1,pair(W1,pair(R1,Q1)))))).
 iknows(crypt(inv(K2),pair(U2,pair(ID2,pair(W2,pair(R2,Q2)))))).
 contains(pair(U1,ID1),IDRing).
 contains(pair(U2,ID2),IDRing)
 =>
 state_user3(U3,U1,U2,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,2,W3,W2,W1,R1,R2,R3,S3,X3,apply(A,pair(apply(M,pair(W1,apply(A1,pair(S3,X3)))),apply(M,pair(apply(A,pair(R2,pair(Q2,apply(M,pair(Ppub,apply(H,ID2)))))),Ww3)))),apply(A,pair(apply(M,pair(W1,apply(A1,pair(S3,X3)))),apply(M,pair(apply(A,pair(R1,pair(Q1,apply(M,pair(Ppub,apply(H,ID1)))))),Ww3)))),K1r,K2r,K3r,EX1,EX2,xor(apply(H1,apply(A,pair(apply(M,pair(W1,apply(A1,pair(S3,X3)))),apply(M,pair(apply(A,pair(R2,pair(Q2,apply(M,pair(Ppub,apply(H,ID2)))))),Ww3))))),apply(H1,apply(A,pair(apply(M,pair(W1,apply(A1,pair(S3,X3)))),apply(M,pair(apply(A,pair(R1,pair(Q1,apply(M,pair(Ppub,apply(H,ID1)))))),Ww3)))))),apply(H1,apply(A,pair(apply(M,pair(W1,apply(A1,pair(S3,X3)))),apply(M,pair(apply(A,pair(R1,pair(Q1,apply(M,pair(Ppub,apply(H,ID1)))))),Ww3))))),apply(H1,apply(A,pair(apply(M,pair(W1,apply(A1,pair(S3,X3)))),apply(M,pair(apply(A,pair(R2,pair(Q2,apply(M,pair(Ppub,apply(H,ID2)))))),Ww3))))),Q1,Q2,Q3,Ww3,Ppub,SK,IDRing,Set_191,SID).
 request(U3,U1,u3_u1_w,pair(W1,R1),SID).
 request(U3,U2,u3_u2_w,pair(W2,R2),SID).
 iknows(xor(apply(H1,apply(A,pair(apply(M,pair(W1,apply(A1,pair(S3,X3)))),apply(M,pair(apply(A,pair(R2,pair(Q2,apply(M,pair(Ppub,apply(H,ID2)))))),Ww3))))),apply(H1,apply(A,pair(apply(M,pair(W1,apply(A1,pair(S3,X3)))),apply(M,pair(apply(A,pair(R1,pair(Q1,apply(M,pair(Ppub,apply(H,ID1)))))),Ww3))))))).
 contains(pair(U1,ID1),IDRing).
 contains(pair(U2,ID2),IDRing)

step step_9 (U3,U1,U2,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,W3,W2,W1,R1,R2,R3,S3,X3,K32,K31,Dummy_K1r,Dummy_K2r,K3r,Dummy_EX1,Dummy_EX2,EX3,K3R,K3L,Q1,Q2,Q3,Ww3,Ppub,Dummy_SK,IDRing,Dummy_Set_191,SID,EX1) :=
 state_user3(U3,U1,U2,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,2,W3,W2,W1,R1,R2,R3,S3,X3,K32,K31,Dummy_K1r,Dummy_K2r,K3r,Dummy_EX1,Dummy_EX2,EX3,K3R,K3L,Q1,Q2,Q3,Ww3,Ppub,Dummy_SK,IDRing,Dummy_Set_191,SID).
 iknows(EX1)
 =>
 state_user3(U3,U1,U2,K1,K2,K3,ID1,ID2,ID3,H,H1,M,M1,A,A1,P,3,W3,W2,W1,R1,R2,R3,S3,X3,K32,K31,xor(EX1,K3R),xor(EX2,xor(EX1,K3R)),K3r,EX1,Dummy_EX2,EX3,K3R,K3L,Q1,Q2,Q3,Ww3,Ppub,apply(H,pair(xor(EX1,K3R),pair(xor(EX2,xor(EX1,K3R)),K3R))),IDRing,Dummy_Set_191,SID).
 secret(apply(H,pair(xor(EX1,K3R),pair(xor(EX2,xor(EX1,K3R)),K3R))),sk,Dummy_Set_191).
 contains(U1,Dummy_Set_191).
 contains(U2,Dummy_Set_191).
 contains(U3,Dummy_Set_191)


section properties:

property secrecy_of_sk (MGoal,ASGoal) :=
 [] ((secret(MGoal,sk,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_u2_u1_w (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,u2_u1_w,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,u2_u1_w,MGoal))
     /\ ((request(A1Goal,A2Goal,u2_u1_w,MGoal,SID1)
           /\ request(A1Goal,A2Goal,u2_u1_w,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_u3_u1_w (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,u3_u1_w,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,u3_u1_w,MGoal))
     /\ ((request(A1Goal,A2Goal,u3_u1_w,MGoal,SID1)
           /\ request(A1Goal,A2Goal,u3_u1_w,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_u1_u2_w (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,u1_u2_w,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,u1_u2_w,MGoal))
     /\ ((request(A1Goal,A2Goal,u1_u2_w,MGoal,SID1)
           /\ request(A1Goal,A2Goal,u1_u2_w,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_u3_u2_w (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,u3_u2_w,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,u3_u2_w,MGoal))
     /\ ((request(A1Goal,A2Goal,u3_u2_w,MGoal,SID1)
           /\ request(A1Goal,A2Goal,u3_u2_w,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_u2_u3_w (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,u2_u3_w,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,u2_u3_w,MGoal))
     /\ ((request(A1Goal,A2Goal,u2_u3_w,MGoal,SID1)
           /\ request(A1Goal,A2Goal,u2_u3_w,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_u1_u3_w (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,u1_u3_w,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,u1_u3_w,MGoal))
     /\ ((request(A1Goal,A2Goal,u1_u3_w,MGoal,SID1)
           /\ request(A1Goal,A2Goal,u1_u3_w,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sk (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sk,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_u2_u1_w (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,u2_u1_w,MGoal,SID) &
 not(witness(A2Goal,A1Goal,u2_u1_w,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_u2_u1_w (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,u2_u1_w,MGoal,SID1).
 request(A1Goal,A2Goal,u2_u1_w,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_u3_u1_w (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,u3_u1_w,MGoal,SID) &
 not(witness(A2Goal,A1Goal,u3_u1_w,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_u3_u1_w (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,u3_u1_w,MGoal,SID1).
 request(A1Goal,A2Goal,u3_u1_w,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_u1_u2_w (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,u1_u2_w,MGoal,SID) &
 not(witness(A2Goal,A1Goal,u1_u2_w,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_u1_u2_w (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,u1_u2_w,MGoal,SID1).
 request(A1Goal,A2Goal,u1_u2_w,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_u3_u2_w (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,u3_u2_w,MGoal,SID) &
 not(witness(A2Goal,A1Goal,u3_u2_w,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_u3_u2_w (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,u3_u2_w,MGoal,SID1).
 request(A1Goal,A2Goal,u3_u2_w,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_u2_u3_w (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,u2_u3_w,MGoal,SID) &
 not(witness(A2Goal,A1Goal,u2_u3_w,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_u2_u3_w (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,u2_u3_w,MGoal,SID1).
 request(A1Goal,A2Goal,u2_u3_w,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_u1_u3_w (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,u1_u3_w,MGoal,SID) &
 not(witness(A2Goal,A1Goal,u1_u3_w,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_u1_u3_w (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,u1_u3_w,MGoal,SID1).
 request(A1Goal,A2Goal,u1_u3_w,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

