%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile66XIbb

section signature:

state_server: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * hash_func * nat -> fact
state_user: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * hash_func * set(text) * set(agent) * nat -> fact


section types:

MGoal, start: message
subs1, subs2, subs3, subs4, user_server_r, user_server_tmu, server_user_u, server_user_tls: protocol_id
set_96, set_95, set_122, set_121, set_119, set_118, set_115, set_114: set
dummy_hash, gen, rep, h, Gen, Rep, H: hash_func
skmus, SKmus: symmetric_key
ASGoal, Set_41, Dummy_Set_41: set(agent)
Set_39, Dummy_Set_39: set(text)
A2Goal, A1Goal, mu, s, MU, S, i: agent
dummy_nonce, tmu, tls, R, U, W, DIDmu, Ymu, Kmu, X, KEYdc, IDmu, IDdc, PWmu, Bmu, Tmu, Tls, Dummy_Kmu, Dummy_Ymu, Dummy_DIDmu, Dummy_Tls, Dummy_U, Dummy_Tmu, Dummy_W, Dummy_R: text
3, SID, SID2, SID1, State, 2, 1, 0, 13, 9, 7, 6, 4, Dummy_State: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(mu).
 iknows(s).
 iknows(h).
 iknows(gen).
 iknows(rep).
 iknows(tmu).
 iknows(tls).
 iknows(i).
 state_user(mu,s,skmus,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,set_95,set_96,3).
 state_server(s,mu,skmus,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,4).
 state_user(mu,s,skmus,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,set_114,set_115,6).
 state_server(s,mu,skmus,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,7).
 state_user(mu,i,skmus,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,set_118,set_119,9).
 state_server(s,i,skmus,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,13)


section rules:

step step_0 (MU,S,SKmus,H,IDmu,IDdc,PWmu,Bmu,Tmu,Tls,Dummy_R,U,Dummy_W,DIDmu,Kmu,Ymu,X,KEYdc,Gen,Rep,Dummy_Set_39,Dummy_Set_41,SID,R) :=
 state_user(MU,S,SKmus,H,0,IDmu,IDdc,PWmu,Bmu,Tmu,Tls,Dummy_R,U,Dummy_W,DIDmu,Kmu,Ymu,X,KEYdc,Gen,Rep,Dummy_Set_39,Dummy_Set_41,SID).
 iknows(start)
=[exists R]=>
 state_user(MU,S,SKmus,H,1,IDmu,IDdc,PWmu,Bmu,Tmu,Tls,R,U,apply(H,pair(PWmu,pair(R,pair(IDmu,apply(Gen,Bmu))))),DIDmu,Kmu,Ymu,X,KEYdc,Gen,Rep,Dummy_Set_39,Dummy_Set_41,SID).
 secret(Dummy_Set_39,subs1,MU).
 secret(IDmu,subs2,Dummy_Set_41).
 iknows(scrypt(SKmus,pair(IDmu,apply(H,pair(PWmu,pair(R,pair(IDmu,apply(Gen,Bmu)))))))).
 witness(MU,S,user_server_r,R).
 contains(PWmu,Dummy_Set_39).
 contains(Bmu,Dummy_Set_39).
 contains(MU,Dummy_Set_41).
 contains(S,Dummy_Set_41)

step step_1 (MU,S,SKmus,H,IDmu,IDdc,PWmu,Bmu,Dummy_Tmu,Tls,Dummy_R,Dummy_U,W,DIDmu,Kmu,Ymu,X,KEYdc,Gen,Rep,Set_39,Set_41,SID,Tmu,R,U) :=
 state_user(MU,S,SKmus,H,1,IDmu,IDdc,PWmu,Bmu,Dummy_Tmu,Tls,Dummy_R,Dummy_U,W,DIDmu,Kmu,Ymu,X,KEYdc,Gen,Rep,Set_39,Set_41,SID).
 iknows(pair(xor(apply(H,pair(IDmu,pair(U,X))),apply(H,pair(PWmu,pair(R,pair(IDmu,apply(Gen,Bmu)))))),scrypt(X,pair(IDmu,U))))
=[exists Tmu]=>
 state_user(MU,S,SKmus,H,2,IDmu,IDdc,PWmu,Bmu,Tmu,Tls,R,U,W,DIDmu,Kmu,Ymu,X,KEYdc,Gen,Rep,Set_39,Set_41,SID).
 iknows(pair(scrypt(X,pair(IDmu,U)),pair(xor(IDdc,apply(H,pair(apply(H,pair(IDmu,pair(R,X))),pair(Tmu,IDmu)))),pair(apply(H,pair(IDmu,pair(IDdc,pair(Tmu,apply(H,pair(IDmu,pair(R,X))))))),Tmu)))).
 witness(MU,S,user_server_tmu,Tmu)

step step_2 (MU,S,SKmus,H,IDmu,IDdc,PWmu,Bmu,Dummy_Tmu,Dummy_Tls,Dummy_R,U,W,DIDmu,Kmu,Ymu,X,KEYdc,Gen,Rep,Set_39,Set_41,SID,Tmu,Tls,R) :=
 state_user(MU,S,SKmus,H,2,IDmu,IDdc,PWmu,Bmu,Dummy_Tmu,Dummy_Tls,Dummy_R,U,W,DIDmu,Kmu,Ymu,X,KEYdc,Gen,Rep,Set_39,Set_41,SID).
 iknows(pair(xor(KEYdc,apply(H,pair(IDmu,pair(apply(H,pair(IDmu,pair(R,X))),pair(Tls,Tmu))))),pair(apply(H,pair(IDmu,pair(apply(H,pair(IDmu,pair(R,X))),pair(Tmu,pair(Tls,KEYdc))))),Tls)))
 =>
 state_user(MU,S,SKmus,H,3,IDmu,IDdc,PWmu,Bmu,Tmu,Tls,R,U,W,DIDmu,Kmu,Ymu,X,KEYdc,Gen,Rep,Set_39,Set_41,SID).
 request(S,MU,server_user_u,U,SID).
 request(S,MU,server_user_tls,Tls,SID)

step step_3 (S,MU,SKmus,H,IDmu,IDdc,PWmu,Bmu,Tmu,Tls,Dummy_R,Dummy_U,W,Dummy_DIDmu,Dummy_Ymu,Dummy_Kmu,X,KEYdc,Gen,Rep,SID,R,U) :=
 state_server(S,MU,SKmus,H,0,IDmu,IDdc,PWmu,Bmu,Tmu,Tls,Dummy_R,Dummy_U,W,Dummy_DIDmu,Dummy_Ymu,Dummy_Kmu,X,KEYdc,Gen,Rep,SID).
 iknows(scrypt(SKmus,pair(IDmu,apply(H,pair(PWmu,pair(R,pair(IDmu,apply(Gen,Bmu))))))))
=[exists U]=>
 state_server(S,MU,SKmus,H,1,IDmu,IDdc,PWmu,Bmu,Tmu,Tls,R,U,W,scrypt(X,pair(IDmu,U)),xor(apply(H,pair(IDmu,pair(U,X))),apply(H,pair(PWmu,pair(R,pair(IDmu,apply(Gen,Bmu)))))),apply(H,pair(IDmu,pair(U,X))),X,KEYdc,Gen,Rep,SID).
 secret(X,subs3,S).
 iknows(pair(xor(apply(H,pair(IDmu,pair(U,X))),apply(H,pair(PWmu,pair(R,pair(IDmu,apply(Gen,Bmu)))))),scrypt(X,pair(IDmu,U)))).
 witness(S,MU,server_user_u,U)

step step_4 (S,MU,SKmus,H,IDmu,IDdc,PWmu,Bmu,Dummy_Tmu,Dummy_Tls,Dummy_R,Dummy_U,W,DIDmu,Ymu,Kmu,X,KEYdc,Gen,Rep,SID,Tmu,Tls,R,U) :=
 state_server(S,MU,SKmus,H,1,IDmu,IDdc,PWmu,Bmu,Dummy_Tmu,Dummy_Tls,Dummy_R,Dummy_U,W,DIDmu,Ymu,Kmu,X,KEYdc,Gen,Rep,SID).
 iknows(pair(scrypt(X,pair(IDmu,U)),pair(xor(IDdc,apply(H,pair(apply(H,pair(IDmu,pair(R,X))),pair(Tmu,IDmu)))),pair(apply(H,pair(IDmu,pair(IDdc,pair(Tmu,apply(H,pair(IDmu,pair(R,X))))))),Tmu))))
=[exists Tls]=>
 state_server(S,MU,SKmus,H,2,IDmu,IDdc,PWmu,Bmu,Tmu,Tls,R,U,W,DIDmu,Ymu,Kmu,X,KEYdc,Gen,Rep,SID).
 secret(KEYdc,subs4,S).
 iknows(pair(xor(KEYdc,apply(H,pair(IDmu,pair(apply(H,pair(IDmu,pair(R,X))),pair(Tls,Tmu))))),pair(apply(H,pair(IDmu,pair(apply(H,pair(IDmu,pair(R,X))),pair(Tmu,pair(Tls,KEYdc))))),Tls))).
 witness(S,MU,server_user_tls,Tls).
 request(MU,S,user_server_r,R,SID).
 request(MU,S,user_server_tmu,Tmu,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_server_r (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_server_r,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_server_r,MGoal))
     /\ ((request(A1Goal,A2Goal,user_server_r,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_server_r,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_server_tmu (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_server_tmu,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_server_tmu,MGoal))
     /\ ((request(A1Goal,A2Goal,user_server_tmu,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_server_tmu,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_user_u (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_user_u,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_user_u,MGoal))
     /\ ((request(A1Goal,A2Goal,server_user_u,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_user_u,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_user_tls (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_user_tls,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_user_tls,MGoal))
     /\ ((request(A1Goal,A2Goal,server_user_tls,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_user_tls,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_server_r (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_server_r,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_r,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_server_r (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_server_r,MGoal,SID1).
 request(A1Goal,A2Goal,user_server_r,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_server_tmu (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_server_tmu,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_tmu,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_server_tmu (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_server_tmu,MGoal,SID1).
 request(A1Goal,A2Goal,user_server_tmu,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_user_u (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_user_u,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_user_u,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_user_u (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_user_u,MGoal,SID1).
 request(A1Goal,A2Goal,server_user_u,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_user_tls (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_user_tls,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_user_tls,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_user_tls (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_user_tls,MGoal,SID1).
 request(A1Goal,A2Goal,server_user_tls,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

