%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilejaoafo

section signature:

state_eU: agent * agent * agent * text * text * text * text * text * text * text * symmetric_key * hash_func * hash_func * hash_func * hash_func * hash_func * nat * text * text * pair(symmetric_key,text) * pair(symmetric_key,text) * pair(symmetric_key,text) * pair(symmetric_key,text) * pair(symmetric_key,pair(text,pair(text,text))) * set(agent) * set(agent) * nat -> fact
state_mME: agent * agent * agent * text * hash_func * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * symmetric_key * text * text * text * text * text * text * pair(symmetric_key,text) * pair(symmetric_key,text) * pair(symmetric_key,text) * pair(symmetric_key,text) * pair(symmetric_key,pair(text,pair(text,text))) * nat -> fact
state_hSS: agent * agent * agent * text * text * text * text * text * text * symmetric_key * hash_func * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * nat -> fact


section types:

set_177, set_176: set
Dummy_Set_47, Dummy_Set_41, ASGoal, Set_47, Set_41: set(agent)
MGoal, start: message
imsii, imsi2, sq, imsi3, ue_mme_vf1, ue_hss_vf4, mme_ue_vf2: protocol_id
Prmf1, Dummy_Prmf1: pair(symmetric_key,pair(text,pair(text,text)))
Prmf2, Prmf3, Dummy_Prmf5, Prmf4, Dummy_Prmf4, Prmf5, Dummy_Prmf3, Dummy_Prmf2: pair(symmetric_key,text)
State, 5, SID, 3, 4, Dummy_State, SID2, SID1, 2, 1, 0: nat
F1, F2, F3, F4, F5, f1, f2, f3, f4, f5: hash_func
K, dummy_sk, k, ki: symmetric_key
IMSI, SQN, RAND, SNID, AMF, Valf1, Valf2, Valf3, Valf4, Valf5, Dummy_AMF, Dummy_IMSI, Dummy_SQN, Dummy_SNID, Dummy_RAND, Dummy_Valf5, Dummy_Valf4, Dummy_Valf3, Dummy_Valf2, Dummy_Valf1, dummy_nonce, valf1, valf2, valf3, valf4, valf5, const_1, rand, snid, imsi, amf: text
H, M, U, A2Goal, A1Goal, ue, mme, hss, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ki).
 iknows(snid).
 iknows(f1).
 iknows(f2).
 iknows(f3).
 iknows(f4).
 iknows(f5).
 iknows(i).
 state_hSS(hss,mme,ue,amf,valf1,valf2,valf3,valf4,valf5,k,f1,f2,f3,f4,f5,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,3).
 state_mME(mme,hss,ue,snid,f1,f2,f3,f4,f5,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,pair(dummy_sk,dummy_nonce),pair(dummy_sk,dummy_nonce),pair(dummy_sk,dummy_nonce),pair(dummy_sk,dummy_nonce),pair(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce))),4).
 state_eU(ue,hss,mme,imsi,amf,valf1,valf2,valf3,valf4,valf5,k,f1,f2,f3,f4,f5,0,dummy_nonce,dummy_nonce,pair(dummy_sk,dummy_nonce),pair(dummy_sk,dummy_nonce),pair(dummy_sk,dummy_nonce),pair(dummy_sk,dummy_nonce),pair(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce))),set_176,set_177,5)


section rules:

step step_0 (H,M,U,AMF,Dummy_Valf1,Dummy_Valf2,Dummy_Valf3,Dummy_Valf4,Dummy_Valf5,K,F1,F2,F3,F4,F5,Dummy_RAND,Dummy_SNID,Dummy_SQN,Dummy_IMSI,SID,RAND,SNID,SQN,IMSI) :=
 state_hSS(H,M,U,AMF,Dummy_Valf1,Dummy_Valf2,Dummy_Valf3,Dummy_Valf4,Dummy_Valf5,K,F1,F2,F3,F4,F5,0,Dummy_RAND,Dummy_SNID,Dummy_SQN,Dummy_IMSI,SID).
 iknows(pair(IMSI,SNID))
=[exists RAND,SQN]=>
 state_hSS(H,M,U,AMF,apply(F1,pair(K,pair(SQN,pair(RAND,AMF)))),apply(F2,pair(K,RAND)),apply(F3,pair(K,RAND)),apply(F4,pair(K,RAND)),apply(F5,pair(K,RAND)),K,F1,F2,F3,F4,F5,1,RAND,SNID,SQN,IMSI,SID).
 iknows(pair(RAND,pair(apply(F2,pair(K,RAND)),pair(apply(F3,pair(K,RAND)),pair(apply(F4,pair(K,RAND)),pair(xor(SQN,apply(F5,pair(K,RAND))),pair(AMF,apply(F1,pair(K,pair(SQN,pair(RAND,AMF)))))))))))

step step_1 (M,H,U,SNID,F1,F2,F3,F4,F5,IMSI,AMF,SQN,K,RAND,Valf1,Valf2,Valf3,Valf4,Valf5,Prmf2,Prmf3,Prmf4,Prmf5,Prmf1,SID) :=
 state_mME(M,H,U,SNID,F1,F2,F3,F4,F5,0,IMSI,AMF,SQN,K,RAND,Valf1,Valf2,Valf3,Valf4,Valf5,Prmf2,Prmf3,Prmf4,Prmf5,Prmf1,SID).
 iknows(IMSI)
 =>
 state_mME(M,H,U,SNID,F1,F2,F3,F4,F5,1,IMSI,AMF,SQN,K,RAND,Valf1,Valf2,Valf3,Valf4,Valf5,Prmf2,Prmf3,Prmf4,Prmf5,Prmf1,SID).
 iknows(pair(IMSI,SNID))

step step_2 (M,H,U,SNID,F1,F2,F3,F4,F5,IMSI,Dummy_AMF,Dummy_SQN,K,Dummy_RAND,Valf1,Valf2,Valf3,Valf4,Valf5,Dummy_Prmf2,Dummy_Prmf3,Dummy_Prmf4,Dummy_Prmf5,Dummy_Prmf1,SID,AMF,SQN,RAND,Prmf2,Prmf3,Prmf4,Prmf5,Prmf1) :=
 state_mME(M,H,U,SNID,F1,F2,F3,F4,F5,1,IMSI,Dummy_AMF,Dummy_SQN,K,Dummy_RAND,Valf1,Valf2,Valf3,Valf4,Valf5,Dummy_Prmf2,Dummy_Prmf3,Dummy_Prmf4,Dummy_Prmf5,Dummy_Prmf1,SID).
 iknows(pair(RAND,pair(apply(F2,Prmf2),pair(apply(F3,Prmf3),pair(apply(F4,Prmf4),pair(xor(SQN,apply(F5,Prmf5)),pair(AMF,apply(F1,Prmf1))))))))
 =>
 state_mME(M,H,U,SNID,F1,F2,F3,F4,F5,2,IMSI,AMF,SQN,K,RAND,Valf1,Valf2,Valf3,Valf4,Valf5,Prmf2,Prmf3,Prmf4,Prmf5,Prmf1,SID).
 iknows(pair(RAND,pair(xor(SQN,apply(F5,Prmf5)),pair(AMF,apply(F1,Prmf1)))))

step step_3 (M,H,U,SNID,F1,F2,F3,F4,F5,IMSI,AMF,SQN,K,Dummy_RAND,Valf1,Valf2,Valf3,Valf4,Valf5,Prmf2,Prmf3,Prmf4,Prmf5,Prmf1,SID,RAND) :=
 state_mME(M,H,U,SNID,F1,F2,F3,F4,F5,2,IMSI,AMF,SQN,K,Dummy_RAND,Valf1,Valf2,Valf3,Valf4,Valf5,Prmf2,Prmf3,Prmf4,Prmf5,Prmf1,SID).
 iknows(apply(F2,pair(K,RAND))) &
 equal(apply(F2,pair(K,RAND)),apply(F2,pair(K,Dummy_RAND)))
 =>
 state_mME(M,H,U,SNID,F1,F2,F3,F4,F5,3,IMSI,AMF,SQN,K,RAND,Valf1,Valf2,Valf3,Valf4,Valf5,Prmf2,Prmf3,Prmf4,Prmf5,Prmf1,SID)

step step_4 (U,H,M,IMSI,AMF,Valf1,Valf2,Valf3,Valf4,Valf5,K,F1,F2,F3,F4,F5,SQN,RAND,Prmf2,Prmf3,Prmf4,Prmf5,Prmf1,Dummy_Set_41,Set_47,SID) :=
 state_eU(U,H,M,IMSI,AMF,Valf1,Valf2,Valf3,Valf4,Valf5,K,F1,F2,F3,F4,F5,0,SQN,RAND,Prmf2,Prmf3,Prmf4,Prmf5,Prmf1,Dummy_Set_41,Set_47,SID).
 iknows(start)
 =>
 state_eU(U,H,M,IMSI,AMF,Valf1,Valf2,Valf3,Valf4,Valf5,K,F1,F2,F3,F4,F5,1,SQN,RAND,Prmf2,Prmf3,Prmf4,Prmf5,Prmf1,Dummy_Set_41,Set_47,SID).
 iknows(IMSI).
 contains(H,Dummy_Set_41).
 contains(U,Dummy_Set_41)

step step_5 (U,H,M,IMSI,Dummy_AMF,Valf1,Valf2,Valf3,Valf4,Valf5,K,F1,F2,F3,F4,F5,Dummy_SQN,Dummy_RAND,Prmf2,Prmf3,Prmf4,Dummy_Prmf5,Dummy_Prmf1,Set_41,Dummy_Set_47,SID,AMF,SQN,RAND,Prmf5,Prmf1) :=
 state_eU(U,H,M,IMSI,Dummy_AMF,Valf1,Valf2,Valf3,Valf4,Valf5,K,F1,F2,F3,F4,F5,1,Dummy_SQN,Dummy_RAND,Prmf2,Prmf3,Prmf4,Dummy_Prmf5,Dummy_Prmf1,Set_41,Dummy_Set_47,SID).
 iknows(pair(RAND,pair(xor(SQN,apply(F5,Prmf5)),pair(AMF,apply(F1,Prmf1)))))
 =>
 state_eU(U,H,M,IMSI,AMF,Valf1,Valf2,Valf3,Valf4,Valf5,K,F1,F2,F3,F4,F5,2,SQN,RAND,Prmf2,Prmf3,Prmf4,Prmf5,Prmf1,Set_41,Dummy_Set_47,SID).
 iknows(apply(F2,pair(K,RAND))).
 contains(U,Dummy_Set_47).
 contains(H,Dummy_Set_47)


section properties:

property authentication_on_mme (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,mme,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,mme,MGoal))
     /\ ((request(A1Goal,A2Goal,mme,MGoal,SID1)
           /\ request(A1Goal,A2Goal,mme,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_ue (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,ue,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,ue,MGoal))
     /\ ((request(A1Goal,A2Goal,ue,MGoal,SID1)
           /\ request(A1Goal,A2Goal,ue,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property secrecy_of_imsi (MGoal,ASGoal) :=
 [] ((secret(MGoal,imsi,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state authentication_on_mme (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,mme,MGoal,SID) &
 not(witness(A2Goal,A1Goal,mme,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_mme (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,mme,MGoal,SID1).
 request(A1Goal,A2Goal,mme,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_ue (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,ue,MGoal,SID) &
 not(witness(A2Goal,A1Goal,ue,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_ue (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,ue,MGoal,SID1).
 request(A1Goal,A2Goal,ue,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state secrecy_of_imsi (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,imsi,ASGoal) &
 not(contains(i,ASGoal))

