%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile6Ke7FT

section signature:

state_cn: agent * agent * agent * agent * agent * public_key * symmetric_key * hash_func * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * nat * set(agent) * nat -> fact
state_cnmag: agent * agent * agent * agent * agent * public_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * nat -> fact
state_mag: agent * agent * agent * agent * agent * public_key * symmetric_key * hash_func * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * nat * nat -> fact
state_mnmag: agent * agent * agent * agent * agent * public_key * symmetric_key * hash_func * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * nat * set(agent) * set(agent) * nat -> fact
state_mn: agent * agent * agent * agent * agent * public_key * symmetric_key * hash_func * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * nat * nat -> fact


section types:

set_250, set_229, set_228: set
BDATA, CONN, C, DATA1, CONN1, MNMAGADDR, N1MN, MAGDEST, HOA, PCOAMN, NMNMAG, NMN, R0, MSG, MNMAGREQ, PCOAMNREQ, CNMAGADDR, NCNMAG, PCOACN, Dummy_DATA1, Dummy_NCNMAG, Dummy_CNMAGADDR, Dummy_PCOAMNREQ, Dummy_MNMAGREQ, Dummy_R0, Dummy_NMN, Dummy_NMNMAG, Dummy_PCOAMN, Dummy_HOA, Dummy_MAGDEST, Dummy_MNMAGADDR, Dummy_MSG, Dummy_BDATA, Dummy_CONN, dummy_nonce: text
8, 4, State, 15, 11, 9, 3, 10, 7, 2, 16, 14, 12, 6, 1, SID, 5, 17, 13, 0, Dummy_State, SID2, SID1: nat
Set_184, Set_74, Set_71, Dummy_Set_184, Dummy_Set_74, Dummy_Set_71, ASGoal: set(agent)
start, MGoal: message
msg, cn_cnmag_msg, mnmag_mag_pcoamn, mnmag_mag_hoa, pcoamn, hoa, r0: protocol_id
HASHE, hashe: hash_func
SK, sk: symmetric_key
KCN, kcn: public_key
MN, MNMAG, MAG, CNMAG, CN, A2Goal, A1Goal, mn1, mnmag1, mag1, cnmag1, cn1, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(i).
 state_mn(mn1,mnmag1,mag1,cnmag1,cn1,kcn,sk,hashe,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,0,3).
 state_mnmag(mnmag1,mn1,mag1,cnmag1,cn1,kcn,sk,hashe,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,1,set_228,set_229,4).
 state_mag(mag1,mn1,mnmag1,cnmag1,cn1,kcn,sk,hashe,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,2,5).
 state_cnmag(mag1,mn1,mnmag1,cnmag1,cn1,kcn,sk,hashe,3,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,6).
 state_cn(cn1,mn1,mnmag1,mag1,cnmag1,kcn,sk,hashe,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,4,set_250,7)


section rules:

step step_0 (MN,MNMAG,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,Dummy_CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,SID,CONN) :=
 state_mn(MN,MNMAG,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,Dummy_CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,0,SID).
 iknows(start)
=[exists CONN]=>
 state_mn(MN,MNMAG,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,5,SID).
 iknows(CONN)

step step_1 (MN,MNMAG,MAG,CNMAG,CN,KCN,SK,HASHE,Dummy_BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,SID,BDATA) :=
 state_mn(MN,MNMAG,MAG,CNMAG,CN,KCN,SK,HASHE,Dummy_BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,5,SID).
 iknows(BDATA)
 =>
 state_mn(MN,MNMAG,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,13,SID)

step step_2 (MN,MNMAG,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,NMNMAG,NMN,R0,Dummy_MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,SID,MSG) :=
 state_mn(MN,MNMAG,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,NMNMAG,NMN,R0,Dummy_MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,13,SID).
 iknows(pair(apply(HASHE,MSG),scrypt(SK,crypt(KCN,MSG))))
 =>
 state_mn(MN,MNMAG,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,17,SID)

step step_3 (MNMAG,MN,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,Dummy_CONN,C,DATA1,Dummy_MNMAGADDR,N1MN,Dummy_MAGDEST,Dummy_HOA,Dummy_PCOAMN,PCOACN,Dummy_NMNMAG,Dummy_NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,Dummy_Set_71,Dummy_Set_74,SID,CONN,MNMAGADDR,MAGDEST,HOA,PCOAMN,NMNMAG,NMN) :=
 state_mnmag(MNMAG,MN,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,Dummy_CONN,C,DATA1,Dummy_MNMAGADDR,N1MN,Dummy_MAGDEST,Dummy_HOA,Dummy_PCOAMN,PCOACN,Dummy_NMNMAG,Dummy_NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,1,Dummy_Set_71,Dummy_Set_74,SID).
 iknows(CONN)
=[exists NMN,NMNMAG,PCOAMN,HOA,MAGDEST,MNMAGADDR]=>
 state_mnmag(MNMAG,MN,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,6,Dummy_Set_71,Dummy_Set_74,SID).
 iknows(pair(MNMAGADDR,pair(MAGDEST,pair(NMNMAG,pair(crypt(KCN,pair(HOA,pair(PCOAMN,NMN))),apply(HASHE,pair(crypt(KCN,pair(HOA,pair(PCOAMN,pair(NMN,KCN)))),pair(NMNMAG,NMN)))))))).
 secret(HOA,hoa,Dummy_Set_71).
 secret(PCOAMN,pcoamn,Dummy_Set_74).
 witness(MNMAG,MAG,mnmag_mag_hoa,HOA).
 witness(MNMAG,MAG,mnmag_mag_pcoamn,PCOAMN).
 contains(MNMAG,Dummy_Set_71).
 contains(MAG,Dummy_Set_71).
 contains(MNMAG,Dummy_Set_74).
 contains(MAG,Dummy_Set_74)

step step_4 (MNMAG,MN,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,Dummy_R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,Set_71,Set_74,SID,R0) :=
 state_mnmag(MNMAG,MN,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,Dummy_R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,6,Set_71,Set_74,SID).
 iknows(pair(MNMAGADDR,pair(MAGDEST,pair(NMNMAG,pair(crypt(KCN,N1MN),xor(NMNMAG,R0))))))
 =>
 state_mnmag(MNMAG,MN,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,12,Set_71,Set_74,SID)

step step_5 (MNMAG,MN,MAG,CNMAG,CN,KCN,SK,HASHE,Dummy_BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,Set_71,Set_74,SID,BDATA) :=
 state_mnmag(MNMAG,MN,MAG,CNMAG,CN,KCN,SK,HASHE,Dummy_BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,12,Set_71,Set_74,SID).
 iknows(BDATA)
 =>
 state_mnmag(MNMAG,MN,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,14,Set_71,Set_74,SID).
 iknows(BDATA)

step step_6 (MNMAG,MN,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,Dummy_MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,Set_71,Set_74,SID,MSG) :=
 state_mnmag(MNMAG,MN,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,Dummy_MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,14,Set_71,Set_74,SID).
 iknows(pair(apply(HASHE,MSG),scrypt(SK,crypt(KCN,MSG))))
 =>
 state_mnmag(MNMAG,MN,MAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,16,Set_71,Set_74,SID).
 iknows(pair(apply(HASHE,MSG),scrypt(SK,crypt(KCN,MSG))))

step step_7 (MAG,MN,MNMAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,Dummy_MNMAGADDR,CONN1,Dummy_MAGDEST,Dummy_HOA,Dummy_PCOAMN,PCOACN,Dummy_NMNMAG,Dummy_NMN,Dummy_R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,N1MN,SID,MNMAGADDR,MAGDEST,HOA,PCOAMN,NMNMAG,NMN,R0) :=
 state_mag(MAG,MN,MNMAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,Dummy_MNMAGADDR,CONN1,Dummy_MAGDEST,Dummy_HOA,Dummy_PCOAMN,PCOACN,Dummy_NMNMAG,Dummy_NMN,Dummy_R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,N1MN,2,SID).
 iknows(pair(MNMAGADDR,pair(MAGDEST,pair(NMNMAG,pair(crypt(KCN,pair(HOA,pair(PCOAMN,NMN))),apply(HASHE,pair(crypt(KCN,pair(HOA,pair(PCOAMN,pair(NMN,KCN)))),pair(NMNMAG,NMN))))))))
=[exists R0]=>
 state_mag(MAG,MN,MNMAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,CONN1,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,N1MN,7,SID).
 iknows(pair(Dummy_MNMAGADDR,pair(Dummy_MAGDEST,pair(Dummy_NMNMAG,pair(crypt(KCN,N1MN),xor(Dummy_NMNMAG,R0)))))).
 request(MAG,MNMAG,mnmag_mag_hoa,HOA,SID).
 request(MAG,MNMAG,mnmag_mag_pcoamn,PCOAMN,SID)

step step_8 (MAG,MN,MNMAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,CONN1,Dummy_MAGDEST,HOA,Dummy_PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,Dummy_MNMAGREQ,Dummy_PCOAMNREQ,Dummy_CNMAGADDR,Dummy_NCNMAG,N1MN,SID,MAGDEST,PCOAMN,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG) :=
 state_mag(MAG,MN,MNMAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,CONN1,Dummy_MAGDEST,HOA,Dummy_PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,Dummy_MNMAGREQ,Dummy_PCOAMNREQ,Dummy_CNMAGADDR,Dummy_NCNMAG,N1MN,7,SID).
 iknows(pair(CNMAGADDR,pair(MAGDEST,pair(NCNMAG,pair(MNMAGREQ,pair(PCOAMNREQ,apply(HASHE,NCNMAG)))))))
=[exists PCOAMN]=>
 state_mag(MAG,MN,MNMAG,CNMAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,CONN1,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,N1MN,10,SID).
 iknows(pair(CNMAGADDR,pair(Dummy_MAGDEST,pair(NCNMAG,pair(crypt(KCN,PCOAMN),apply(HASHE,PCOAMN))))))

step step_9 (CNMAG,MN,MNMAG,MAG,CN,KCN,SK,HASHE,BDATA,CONN,C,Dummy_DATA1,MNMAGADDR,N1MN,Dummy_MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,Dummy_MNMAGREQ,Dummy_PCOAMNREQ,Dummy_CNMAGADDR,Dummy_NCNMAG,SID,DATA1,MAGDEST,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG) :=
 state_cnmag(CNMAG,MN,MNMAG,MAG,CN,KCN,SK,HASHE,3,BDATA,CONN,C,Dummy_DATA1,MNMAGADDR,N1MN,Dummy_MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,Dummy_MNMAGREQ,Dummy_PCOAMNREQ,Dummy_CNMAGADDR,Dummy_NCNMAG,SID).
 iknows(DATA1)
=[exists PCOAMNREQ,MNMAGREQ,NCNMAG,MAGDEST,CNMAGADDR]=>
 state_cnmag(CNMAG,MN,MNMAG,MAG,CN,KCN,SK,HASHE,9,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,SID).
 iknows(pair(CNMAGADDR,pair(MAGDEST,pair(NCNMAG,pair(MNMAGREQ,pair(PCOAMNREQ,apply(HASHE,NCNMAG)))))))

step step_10 (CNMAG,MN,MNMAG,MAG,CN,KCN,SK,HASHE,Dummy_BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,Dummy_PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,Dummy_CNMAGADDR,Dummy_NCNMAG,SID,BDATA,PCOAMN,CNMAGADDR,NCNMAG) :=
 state_cnmag(CNMAG,MN,MNMAG,MAG,CN,KCN,SK,HASHE,9,Dummy_BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,Dummy_PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,Dummy_CNMAGADDR,Dummy_NCNMAG,SID).
 iknows(pair(CNMAGADDR,pair(MAGDEST,pair(NCNMAG,pair(crypt(KCN,PCOAMN),apply(HASHE,PCOAMN))))))
=[exists BDATA]=>
 state_cnmag(CNMAG,MN,MNMAG,MAG,CN,KCN,SK,HASHE,11,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,SID).
 iknows(BDATA)

step step_11 (CNMAG,MN,MNMAG,MAG,CN,KCN,SK,HASHE,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,Dummy_MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,SID,MSG) :=
 state_cnmag(CNMAG,MN,MNMAG,MAG,CN,KCN,SK,HASHE,11,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,Dummy_MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,SID).
 iknows(pair(apply(HASHE,MSG),scrypt(SK,crypt(KCN,MSG))))
 =>
 state_cnmag(CNMAG,MN,MNMAG,MAG,CN,KCN,SK,HASHE,15,BDATA,CONN,C,DATA1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,PCOACN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,SID).
 iknows(pair(apply(HASHE,MSG),scrypt(SK,crypt(KCN,MSG)))).
 request(CNMAG,CN,cn_cnmag_msg,MSG,SID)

step step_12 (CN,MN,MNMAG,MAG,CNMAG,KCN,SK,HASHE,BDATA,CONN,C,Dummy_DATA1,CONN1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,NMNMAG,NMN,R0,Dummy_MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,Dummy_Set_184,SID,DATA1,MSG) :=
 state_cn(CN,MN,MNMAG,MAG,CNMAG,KCN,SK,HASHE,BDATA,CONN,C,Dummy_DATA1,CONN1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,NMNMAG,NMN,R0,Dummy_MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,4,Dummy_Set_184,SID).
 iknows(start)
=[exists MSG,DATA1]=>
 state_cn(CN,MN,MNMAG,MAG,CNMAG,KCN,SK,HASHE,BDATA,CONN,C,DATA1,CONN1,MNMAGADDR,N1MN,MAGDEST,HOA,PCOAMN,NMNMAG,NMN,R0,MSG,MNMAGREQ,PCOAMNREQ,CNMAGADDR,NCNMAG,8,Dummy_Set_184,SID).
 iknows(DATA1).
 iknows(pair(apply(HASHE,MSG),scrypt(SK,crypt(KCN,MSG)))).
 secret(MSG,msg,Dummy_Set_184).
 witness(CN,CNMAG,cn_cnmag_msg,MSG).
 contains(CN,Dummy_Set_184).
 contains(CNMAG,Dummy_Set_184)


section properties:

property secrecy_of_hoa (MGoal,ASGoal) :=
 [] ((secret(MGoal,hoa,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_pcoamn (MGoal,ASGoal) :=
 [] ((secret(MGoal,pcoamn,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_msg (MGoal,ASGoal) :=
 [] ((secret(MGoal,msg,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_cn_cnmag_msg (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,cn_cnmag_msg,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,cn_cnmag_msg,MGoal))
     /\ ((request(A1Goal,A2Goal,cn_cnmag_msg,MGoal,SID1)
           /\ request(A1Goal,A2Goal,cn_cnmag_msg,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_mnmag_mag_hoa (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,mnmag_mag_hoa,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,mnmag_mag_hoa,MGoal))
     /\ ((request(A1Goal,A2Goal,mnmag_mag_hoa,MGoal,SID1)
           /\ request(A1Goal,A2Goal,mnmag_mag_hoa,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_mnmag_mag_pcoamn (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,mnmag_mag_pcoamn,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,mnmag_mag_pcoamn,MGoal))
     /\ ((request(A1Goal,A2Goal,mnmag_mag_pcoamn,MGoal,SID1)
           /\ request(A1Goal,A2Goal,mnmag_mag_pcoamn,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_hoa (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,hoa,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_pcoamn (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,pcoamn,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_msg (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,msg,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_cn_cnmag_msg (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,cn_cnmag_msg,MGoal,SID) &
 not(witness(A2Goal,A1Goal,cn_cnmag_msg,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_cn_cnmag_msg (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,cn_cnmag_msg,MGoal,SID1).
 request(A1Goal,A2Goal,cn_cnmag_msg,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_mnmag_mag_hoa (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,mnmag_mag_hoa,MGoal,SID) &
 not(witness(A2Goal,A1Goal,mnmag_mag_hoa,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_mnmag_mag_hoa (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,mnmag_mag_hoa,MGoal,SID1).
 request(A1Goal,A2Goal,mnmag_mag_hoa,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_mnmag_mag_pcoamn (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,mnmag_mag_pcoamn,MGoal,SID) &
 not(witness(A2Goal,A1Goal,mnmag_mag_pcoamn,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_mnmag_mag_pcoamn (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,mnmag_mag_pcoamn,MGoal,SID1).
 request(A1Goal,A2Goal,mnmag_mag_pcoamn,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

