%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileeoE7UhHSbd

section signature:

state_bank: agent * agent * symmetric_key * symmetric_key * symmetric_key * symmetric_key * hash_func * hash_func * hash_func * public_key * public_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * nat -> fact
state_client: agent * agent * symmetric_key * symmetric_key * symmetric_key * symmetric_key * hash_func * hash_func * hash_func * public_key * public_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * nat -> fact


section types:

MGoal, start: message
client_x, bank_msk, subs1, subs2: protocol_id
mul, sub, h, Mul, Sub, H: hash_func
Dummy_Set_59, ASGoal, Set_112, Set_59, Dummy_Set_112: set(agent)
Dummy_Set_58, Set_111, Set_58, Dummy_Set_111: set(text)
Dummy_Kcb, Dummy_Kc, Dummy_SKc, skc, kc, kcb, kbc, SKc, Kc, Kcb, Kbc, Dummy_Kbc: symmetric_key
Dummy_Pubc, pubc, mpk, Pubc, Mpk, Dummy_Mpk: public_key
Dummy_State, 3, SID, SID2, SID1, State, 4, 2, 1, 0, 7, 6: nat
A2Goal, A1Goal, c, b, C, B, i: agent
set_173, set_172, set_225, set_224, set_222, set_221, set_205, set_204: set
Dummy_M2, Dummy_K3, Dummy_K2, Dummy_U, Dummy_A, Dummy_Z, Dummy_E, Dummy_Rwc, Dummy_Rvc, Dummy_Vc, Dummy_Ts, Dummy_N, Dummy_K1, Dummy_Dc, Dummy_V, Dummy_W, Dummy_IMEIc, Dummy_IDc, Dummy_X, dummy_nonce, g, idc, idb, w, v, dc, k1, vc, rvc, rwc, rc, e, m1, m2, m3, z, c1, tdc, amt, u, a, m, k2, k3, X, G, IDc, IDb, Msk, Nb, IMEIc, W, V, Dc, K1, N, Ts, Vc, Rvc, Rwc, Rc, E, R, M1, M2, M3, Z, CNO, C1, TDc, Amt, A, U, M, K2, K3, Dummy_M, Dummy_CNO, Dummy_M3, Dummy_M1, Dummy_R, Dummy_TDc, Dummy_Nb, Dummy_Msk, Dummy_IDb, Dummy_C1: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(c).
 iknows(b).
 iknows(mul).
 iknows(sub).
 iknows(h).
 iknows(mpk).
 iknows(pubc).
 iknows(i).
 state_client(c,b,skc,kc,kcb,kbc,sub,h,mul,mpk,pubc,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_172,set_173,3).
 state_bank(c,b,skc,kc,kcb,kbc,sub,h,mul,mpk,pubc,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_204,set_205,4).
 state_client(c,b,skc,kc,kcb,kbc,sub,h,mul,mpk,pubc,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_221,set_222,6).
 state_bank(c,b,skc,kc,kcb,kbc,sub,h,mul,mpk,pubc,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_224,set_225,7)


section rules:

step step_0 (C,B,SKc,Kc,Kcb,Kbc,Mul,Sub,H,Dummy_Pubc,Mpk,Dummy_X,G,Dummy_IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,N,Ts,Vc,Rvc,Rwc,Rc,E,R,M1,M2,M3,Z,CNO,C1,TDc,Amt,A,U,M,K2,K3,Dummy_Set_58,Dummy_Set_59,SID,X,IDc) :=
 state_client(C,B,SKc,Kc,Kcb,Kbc,Mul,Sub,H,Dummy_Pubc,Mpk,0,Dummy_X,G,Dummy_IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,N,Ts,Vc,Rvc,Rwc,Rc,E,R,M1,M2,M3,Z,CNO,C1,TDc,Amt,A,U,M,K2,K3,Dummy_Set_58,Dummy_Set_59,SID).
 iknows(start)
=[exists X,IDc]=>
 state_client(C,B,SKc,Kc,Kcb,Kbc,Mul,Sub,H,exp(G,Dummy_X),Mpk,1,X,G,IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,N,Ts,Vc,Rvc,Rwc,Rc,E,R,M1,M2,M3,Z,CNO,C1,TDc,Amt,A,U,M,K2,K3,Dummy_Set_58,Dummy_Set_59,SID).
 iknows(pair(Dummy_IDc,Dummy_Pubc)).
 secret(Dummy_Set_58,subs1,Dummy_Set_59).
 contains(Dummy_X,Dummy_Set_58).
 contains(C,Dummy_Set_59).
 contains(B,Dummy_Set_59)

step step_1 (C,B,SKc,Kc,Kcb,Kbc,Mul,Sub,H,Pubc,Mpk,X,G,IDc,IDb,Msk,Nb,Dummy_IMEIc,Dummy_W,Dummy_V,Dummy_Dc,Dummy_K1,N,Ts,Vc,Rvc,Rwc,Rc,E,R,M1,M2,M3,Z,CNO,C1,TDc,Amt,A,U,M,K2,K3,Set_58,Set_59,SID,IMEIc) :=
 state_client(C,B,SKc,Kc,Kcb,Kbc,Mul,Sub,H,Pubc,Mpk,1,X,G,IDc,IDb,Msk,Nb,Dummy_IMEIc,Dummy_W,Dummy_V,Dummy_Dc,Dummy_K1,N,Ts,Vc,Rvc,Rwc,Rc,E,R,M1,M2,M3,Z,CNO,C1,TDc,Amt,A,U,M,K2,K3,Set_58,Set_59,SID).
 iknows(pair(IDb,pair(Mpk,Nb)))
=[exists IMEIc]=>
 state_client(C,B,SKc,Kc,Kcb,Kbc,Mul,Sub,H,Pubc,Mpk,2,X,G,IDc,IDb,Msk,Nb,IMEIc,apply(H,Dummy_IMEIc),apply(H,pair(X,IDc)),xor(Dummy_W,Dummy_IMEIc),apply(H,pair(Dummy_IMEIc,pair(Pubc,X))),N,Ts,Vc,Rvc,Rwc,Rc,E,R,M1,M2,M3,Z,CNO,C1,TDc,Amt,A,U,M,K2,K3,Set_58,Set_59,SID).
 iknows(pair(IDc,pair(IDb,pair(Dummy_Dc,pair(Dummy_K1,pair(Dummy_W,Nb))))))

step step_2 (C,B,Dummy_SKc,Dummy_Kc,Dummy_Kcb,Kbc,Mul,Sub,H,Pubc,Mpk,X,G,IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,Dummy_N,Dummy_Ts,Dummy_Vc,Dummy_Rvc,Dummy_Rwc,Rc,Dummy_E,R,M1,M2,M3,Dummy_Z,CNO,C1,TDc,Amt,Dummy_A,Dummy_U,M,Dummy_K2,Dummy_K3,Set_58,Set_59,SID,N,Ts,U) :=
 state_client(C,B,Dummy_SKc,Dummy_Kc,Dummy_Kcb,Kbc,Mul,Sub,H,Pubc,Mpk,2,X,G,IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,Dummy_N,Dummy_Ts,Dummy_Vc,Dummy_Rvc,Dummy_Rwc,Rc,Dummy_E,R,M1,M2,M3,Dummy_Z,CNO,C1,TDc,Amt,Dummy_A,Dummy_U,M,Dummy_K2,Dummy_K3,Set_58,Set_59,SID).
 iknows(scrypt(Dummy_Kc,pair(IDc,TDc)))
=[exists Ts,U,N]=>
 state_client(C,B,exp(Mpk,X),apply(H,pair(exp(Mpk,X),pair(Dc,K1))),apply(H,pair(Dummy_K2,pair(Dummy_Ts,Mpk))),Kbc,Mul,Sub,H,Pubc,Mpk,3,X,G,IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,N,Ts,apply(H,pair(W,pair(X,V))),xor(Dummy_A,Dummy_Rwc),apply(H,pair(Dummy_N,pair(apply(H,Amt),Dummy_SKc))),Rc,apply(H,pair(Dummy_Vc,Dummy_N)),R,M1,M2,M3,xor(apply(H,pair(K1,Dummy_K3)),apply(H,Dummy_U)),CNO,C1,TDc,Amt,exp(G,Dummy_U),U,M,exp(G,apply(Mul,pair(Dummy_E,X))),apply(Sub,pair(apply(Mul,pair(Dummy_E,X)),apply(Mul,pair(Dummy_U,Dummy_Rwc)))),Set_58,Set_59,SID).
 iknows(pair(Dc,pair(scrypt(Dummy_Kc,pair(apply(H,Amt),pair(Dummy_A,pair(Dummy_K3,pair(Dummy_Rvc,Dummy_Ts))))),scrypt(Dummy_Kcb,pair(Amt,pair(TDc,Dummy_Z))))))

step step_3 (C,B,SKc,Kc,Kcb,Kbc,Mul,Sub,H,Pubc,Mpk,X,G,IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,N,Ts,Vc,Rvc,Rwc,Rc,E,R,M1,Dummy_M2,M3,Z,CNO,Dummy_C1,TDc,Amt,A,U,M,K2,K3,Set_58,Set_59,SID) :=
 state_client(C,B,SKc,Kc,Kcb,Kbc,Mul,Sub,H,Pubc,Mpk,3,X,G,IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,N,Ts,Vc,Rvc,Rwc,Rc,E,R,M1,Dummy_M2,M3,Z,CNO,Dummy_C1,TDc,Amt,A,U,M,K2,K3,Set_58,Set_59,SID).
 iknows(scrypt(Kbc,pair(IDb,pair(M1,pair(M3,pair(apply(H,CNO),pair(CNO,TDc)))))))
 =>
 state_client(C,B,SKc,Kc,Kcb,Kbc,Mul,Sub,H,Pubc,Mpk,4,X,G,IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,N,Ts,Vc,Rvc,Rwc,Rc,E,R,M1,apply(Mul,pair(exp(G,M3),exp(Pubc,M1))),M3,Z,CNO,xor(Z,M1),TDc,Amt,A,U,M,K2,K3,Set_58,Set_59,SID)

step step_4 (C,B,SKc,Kc,Kcb,Kbc,Mul,Sub,H,Pubc,Dummy_Mpk,X,G,IDc,Dummy_IDb,Dummy_Msk,Dummy_Nb,IMEIc,W,V,Dc,K1,N,Ts,Vc,Rvc,Rwc,Rc,E,R,M1,M2,M3,Z,CNO,C1,TDc,Amt,A,U,M,K2,K3,Dummy_Set_111,Dummy_Set_112,SID,IDb,Msk,Nb) :=
 state_bank(C,B,SKc,Kc,Kcb,Kbc,Mul,Sub,H,Pubc,Dummy_Mpk,0,X,G,IDc,Dummy_IDb,Dummy_Msk,Dummy_Nb,IMEIc,W,V,Dc,K1,N,Ts,Vc,Rvc,Rwc,Rc,E,R,M1,M2,M3,Z,CNO,C1,TDc,Amt,A,U,M,K2,K3,Dummy_Set_111,Dummy_Set_112,SID).
 iknows(IDc)
=[exists Nb,Msk,IDb]=>
 state_bank(C,B,SKc,Kc,Kcb,Kbc,Mul,Sub,H,Pubc,exp(G,Dummy_Msk),1,X,G,IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,N,Ts,Vc,Rvc,Rwc,Rc,E,R,M1,M2,M3,Z,CNO,C1,TDc,Amt,A,U,M,K2,K3,Dummy_Set_111,Dummy_Set_112,SID).
 iknows(pair(Dummy_IDb,pair(Dummy_Mpk,Dummy_Nb))).
 secret(Dummy_Set_111,subs2,Dummy_Set_112).
 contains(Dummy_Msk,Dummy_Set_111).
 contains(B,Dummy_Set_112).
 contains(C,Dummy_Set_112)

step step_5 (C,B,Dummy_SKc,Dummy_Kc,Kcb,Kbc,Mul,Sub,H,Pubc,Mpk,X,G,IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,N,Ts,Vc,Rvc,Rwc,Rc,E,R,M1,M2,M3,Z,CNO,C1,Dummy_TDc,Amt,A,U,M,K2,K3,Set_111,Set_112,SID) :=
 state_bank(C,B,Dummy_SKc,Dummy_Kc,Kcb,Kbc,Mul,Sub,H,Pubc,Mpk,1,X,G,IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,N,Ts,Vc,Rvc,Rwc,Rc,E,R,M1,M2,M3,Z,CNO,C1,Dummy_TDc,Amt,A,U,M,K2,K3,Set_111,Set_112,SID).
 iknows(pair(IDc,pair(IDb,pair(Dc,pair(K1,pair(W,Nb))))))
 =>
 state_bank(C,B,exp(Pubc,Msk),apply(H,pair(Dummy_SKc,pair(Dc,K1))),Kcb,Kbc,Mul,Sub,H,Pubc,Mpk,2,X,G,IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,N,Ts,Vc,Rvc,Rwc,Rc,E,R,M1,M2,M3,Z,CNO,C1,xor(W,apply(H,Msk)),Amt,A,U,M,K2,K3,Set_111,Set_112,SID).
 iknows(scrypt(Dummy_Kc,pair(IDc,Dummy_TDc)))

step step_6 (C,B,SKc,Kc,Kcb,Dummy_Kbc,Mul,Sub,H,Pubc,Mpk,X,G,IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,N,Ts,Vc,Rvc,Dummy_Rwc,Rc,E,Dummy_R,Dummy_M1,Dummy_M2,Dummy_M3,Z,Dummy_CNO,C1,TDc,Amt,A,U,Dummy_M,Dummy_K2,K3,Set_111,Set_112,SID,R,CNO) :=
 state_bank(C,B,SKc,Kc,Kcb,Dummy_Kbc,Mul,Sub,H,Pubc,Mpk,2,X,G,IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,N,Ts,Vc,Rvc,Dummy_Rwc,Rc,E,Dummy_R,Dummy_M1,Dummy_M2,Dummy_M3,Z,Dummy_CNO,C1,TDc,Amt,A,U,Dummy_M,Dummy_K2,K3,Set_111,Set_112,SID).
 iknows(pair(Dc,pair(scrypt(Kc,pair(apply(H,Amt),pair(A,pair(K3,pair(Rvc,Ts))))),scrypt(Kcb,pair(Amt,pair(TDc,Z))))))
=[exists CNO,R]=>
 state_bank(C,B,SKc,Kc,Kcb,apply(H,pair(apply(Mul,pair(exp(G,K3),exp(A,xor(Rvc,A)))),pair(Mpk,Ts))),Mul,Sub,H,Pubc,Mpk,3,X,G,IDc,IDb,Msk,Nb,IMEIc,W,V,Dc,K1,N,Ts,Vc,Rvc,xor(Rvc,A),Rc,E,R,xor(Z,apply(H,Dummy_R)),exp(G,apply(Mul,pair(Dummy_R,apply(H,Dummy_CNO)))),apply(Sub,pair(apply(Mul,pair(Dummy_R,apply(H,Dummy_CNO))),apply(Mul,pair(Dummy_M1,Msk)))),Z,CNO,C1,TDc,Amt,A,U,apply(H,Dummy_R),apply(Mul,pair(exp(G,K3),exp(A,xor(Rvc,A)))),K3,Set_111,Set_112,SID).
 iknows(scrypt(Dummy_Kbc,pair(IDb,pair(Dummy_M1,pair(Dummy_M3,pair(apply(H,Dummy_CNO),pair(Dummy_CNO,TDc)))))))


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_client_x (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,client_x,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,client_x,MGoal))
     /\ ((request(A1Goal,A2Goal,client_x,MGoal,SID1)
           /\ request(A1Goal,A2Goal,client_x,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bank_msk (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bank_msk,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bank_msk,MGoal))
     /\ ((request(A1Goal,A2Goal,bank_msk,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bank_msk,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_client_x (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,client_x,MGoal,SID) &
 not(witness(A2Goal,A1Goal,client_x,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_client_x (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,client_x,MGoal,SID1).
 request(A1Goal,A2Goal,client_x,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bank_msk (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bank_msk,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bank_msk,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bank_msk (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bank_msk,MGoal,SID1).
 request(A1Goal,A2Goal,bank_msk,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

