%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileL1K7AT

section signature:

state_control_center: agent * agent * agent * symmetric_key * hash_func * public_key * text * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * nat -> fact
state_ids_sensor: agent * agent * agent * symmetric_key * symmetric_key * hash_func * public_key * text * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(symmetric_key) * set(agent) * nat -> fact
state_smart_meter: agent * agent * agent * symmetric_key * hash_func * public_key * text * nat * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(symmetric_key) * set(agent) * nat -> fact


section types:

Set_69, Dummy_Set_69, Dummy_Set_36, Set_36: set(symmetric_key)
Set_96, Dummy_Set_96, Set_68, Dummy_Set_68, Dummy_Set_33, Set_33: set(text)
set_168, set_158, set_157, set_156, set_136, set_135, set_134: set
Set_70, Dummy_Set_70, Dummy_Set_37, Set_37, ASGoal: set(agent)
b_c, c_b, subs3, subs4, subs5, a_b, b_a, subs1, subs2: protocol_id
start, MGoal: message
State, 5, SID, 4, Dummy_State, 3, 2, SID2, 1, SID1, 0: nat
X, SIDi, E, F, MIDi, D, O, SMi, K, W1, W2, Pr, IDcs, G, Dummy_MIDi, Dummy_W1, Dummy_X, Dummy_E, Dummy_Rb, Y, Dummy_IDcs, Rb, Dummy_F, Dummy_SIDi, Dummy_Y, Dummy_W2, Dummy_K, Dummy_SMi, Dummy_O, Dummy_D, Dummy_Ra, dummy_nonce, g, Ra: text
Ppub, Dummy_Ppub, ppub: public_key
H, h: hash_func
Sj, Dummy_SK, SK, kia, kai, kbi, kib, kci, kic, sj, sk: symmetric_key
A, B, C, A2Goal, A1Goal, a, b, c, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(b).
 iknows(c).
 iknows(ppub).
 iknows(kia).
 iknows(kai).
 iknows(kbi).
 iknows(kib).
 iknows(kci).
 iknows(kic).
 iknows(i).
 state_smart_meter(a,b,c,sk,h,ppub,g,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_134,set_135,set_136,3).
 state_ids_sensor(b,a,c,sk,sj,h,ppub,g,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_156,set_157,set_158,4).
 state_control_center(c,a,b,sj,h,ppub,g,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_168,5)


section rules:

step step_0 (A,B,C,SK,H,Dummy_Ppub,G,MIDi,Dummy_Ra,Dummy_D,Dummy_O,Dummy_SMi,Dummy_K,W2,Y,SIDi,F,IDcs,Dummy_Set_33,Set_36,Set_37,SID,Ppub,Ra) :=
 state_smart_meter(A,B,C,SK,H,Dummy_Ppub,G,0,MIDi,Dummy_Ra,Dummy_D,Dummy_O,Dummy_SMi,Dummy_K,W2,Y,SIDi,F,IDcs,Dummy_Set_33,Set_36,Set_37,SID).
 iknows(Ppub)
=[exists Ra]=>
 state_smart_meter(A,B,C,SK,H,Ppub,G,1,MIDi,Ra,exp(G,Dummy_Ra),exp(Ppub,Dummy_Ra),xor(MIDi,apply(H,Dummy_O)),apply(H,pair(MIDi,pair(Dummy_O,exp(G,Dummy_Ra)))),W2,Y,SIDi,F,IDcs,Dummy_Set_33,Set_36,Set_37,SID).
 request(A,B,a_b,apply(H,pair(MIDi,pair(Dummy_O,exp(G,Dummy_Ra)))),SID).
 secret(Dummy_Set_33,subs1,A).
 iknows(pair(xor(MIDi,apply(H,Dummy_O)),pair(apply(H,pair(MIDi,pair(Dummy_O,exp(G,Dummy_Ra)))),Dummy_D))).
 contains(Dummy_Ra,Dummy_Set_33).
 contains(Dummy_O,Dummy_Set_33).
 contains(MIDi,Dummy_Set_33)

step step_1 (A,B,C,Dummy_SK,H,Ppub,G,MIDi,Ra,D,O,SMi,K,Dummy_W2,Dummy_Y,Dummy_SIDi,Dummy_F,Dummy_IDcs,Set_33,Dummy_Set_36,Dummy_Set_37,SID,SIDi,F,IDcs) :=
 state_smart_meter(A,B,C,Dummy_SK,H,Ppub,G,1,MIDi,Ra,D,O,SMi,K,Dummy_W2,Dummy_Y,Dummy_SIDi,Dummy_F,Dummy_IDcs,Set_33,Dummy_Set_36,Dummy_Set_37,SID).
 iknows(pair(SIDi,pair(F,pair(Y,IDcs))))
 =>
 state_smart_meter(A,B,C,exp(F,Ra),H,Ppub,G,2,MIDi,Ra,D,O,SMi,K,apply(H,pair(IDcs,pair(O,MIDi))),apply(H,pair(MIDi,pair(Dummy_SIDi,pair(Dummy_SK,pair(Dummy_F,Dummy_W2))))),SIDi,F,IDcs,Set_33,Dummy_Set_36,Dummy_Set_37,SID).
 secret(Dummy_Set_36,subs2,Dummy_Set_37).
 request(A,B,a_b,apply(H,pair(MIDi,pair(Dummy_SIDi,pair(Dummy_SK,pair(Dummy_F,Dummy_W2))))),SID).
 contains(Dummy_SK,Dummy_Set_36).
 contains(A,Dummy_Set_37).
 contains(B,Dummy_Set_37)

step step_2 (B,A,C,Sj,SK,H,Dummy_Ppub,G,SIDi,Dummy_Rb,Dummy_F,Dummy_E,Dummy_X,Dummy_SMi,Dummy_K,D,W1,W2,IDcs,MIDi,Y,Dummy_Set_68,Set_69,Set_70,SID,Ppub,Rb,SMi,K) :=
 state_ids_sensor(B,A,C,Sj,SK,H,Dummy_Ppub,G,0,SIDi,Dummy_Rb,Dummy_F,Dummy_E,Dummy_X,Dummy_SMi,Dummy_K,D,W1,W2,IDcs,MIDi,Y,Dummy_Set_68,Set_69,Set_70,SID).
 iknows(Ppub).
 iknows(pair(SMi,pair(K,D)))
=[exists Rb]=>
 state_ids_sensor(B,A,C,Sj,SK,H,Ppub,G,1,SIDi,Rb,exp(G,Dummy_Rb),exp(Ppub,Dummy_Rb),apply(H,pair(SIDi,pair(Dummy_E,pair(Dummy_F,pair(SMi,pair(D,pair(K,Sj))))))),SMi,K,D,W1,W2,IDcs,MIDi,Y,Dummy_Set_68,Set_69,Set_70,SID).
 secret(Dummy_Set_68,subs3,B).
 request(B,C,b_c,apply(H,pair(SIDi,pair(Dummy_E,pair(Dummy_F,pair(SMi,pair(D,pair(K,Sj))))))),SID).
 iknows(scrypt(Sj,pair(SIDi,pair(Dummy_F,pair(apply(H,pair(SIDi,pair(Dummy_E,pair(Dummy_F,pair(SMi,pair(D,pair(K,Sj))))))),pair(SMi,pair(D,K))))))).
 contains(Dummy_Rb,Dummy_Set_68).
 contains(Dummy_E,Dummy_Set_68)

step step_3 (B,A,C,Sj,Dummy_SK,H,Ppub,G,SIDi,Rb,F,E,X,SMi,K,D,Dummy_W1,W2,IDcs,MIDi,Dummy_Y,Set_68,Dummy_Set_69,Dummy_Set_70,SID) :=
 state_ids_sensor(B,A,C,Sj,Dummy_SK,H,Ppub,G,1,SIDi,Rb,F,E,X,SMi,K,D,Dummy_W1,W2,IDcs,MIDi,Dummy_Y,Set_68,Dummy_Set_69,Dummy_Set_70,SID).
 iknows(scrypt(Sj,pair(Dummy_W1,pair(W2,pair(IDcs,MIDi)))))
 =>
 state_ids_sensor(B,A,C,Sj,exp(D,Rb),H,Ppub,G,2,SIDi,Rb,F,E,X,SMi,K,D,apply(H,pair(IDcs,pair(E,pair(SIDi,Sj)))),W2,IDcs,MIDi,apply(H,pair(MIDi,pair(SIDi,pair(Dummy_SK,pair(F,W2))))),Set_68,Dummy_Set_69,Dummy_Set_70,SID).
 request(B,C,b_c,apply(H,pair(IDcs,pair(E,pair(SIDi,Sj)))),SID).
 secret(Dummy_Set_69,subs4,Dummy_Set_70).
 iknows(pair(SIDi,pair(F,pair(apply(H,pair(MIDi,pair(SIDi,pair(Dummy_SK,pair(F,W2))))),IDcs)))).
 request(B,A,b_a,apply(H,pair(MIDi,pair(SIDi,pair(Dummy_SK,pair(F,W2))))),SID).
 contains(Dummy_SK,Dummy_Set_69).
 contains(B,Dummy_Set_70).
 contains(A,Dummy_Set_70)

step step_4 (C,A,B,Sj,H,Dummy_Ppub,G,IDcs,Pr,D,O,SMi,K,W1,W2,X,SIDi,E,F,MIDi,Set_96,SID) :=
 state_control_center(C,A,B,Sj,H,Dummy_Ppub,G,0,IDcs,Pr,D,O,SMi,K,W1,W2,X,SIDi,E,F,MIDi,Set_96,SID).
 iknows(start)
 =>
 state_control_center(C,A,B,Sj,H,exp(G,Pr),G,1,IDcs,Pr,D,O,SMi,K,W1,W2,X,SIDi,E,F,MIDi,Set_96,SID).
 iknows(exp(G,Pr))

step step_5 (C,A,B,Sj,H,Ppub,G,IDcs,Pr,Dummy_D,Dummy_O,Dummy_SMi,Dummy_K,Dummy_W1,Dummy_W2,Dummy_X,Dummy_SIDi,Dummy_E,Dummy_F,Dummy_MIDi,Dummy_Set_96,SID,D,SMi,SIDi,F) :=
 state_control_center(C,A,B,Sj,H,Ppub,G,1,IDcs,Pr,Dummy_D,Dummy_O,Dummy_SMi,Dummy_K,Dummy_W1,Dummy_W2,Dummy_X,Dummy_SIDi,Dummy_E,Dummy_F,Dummy_MIDi,Dummy_Set_96,SID).
 iknows(scrypt(Sj,pair(SIDi,pair(F,pair(X,pair(SMi,pair(D,K)))))))
 =>
 state_control_center(C,A,B,Sj,H,Ppub,G,2,IDcs,Pr,D,exp(D,Pr),SMi,apply(H,pair(xor(SMi,apply(H,exp(D,Pr))),pair(exp(D,Pr),D))),apply(H,pair(IDcs,pair(exp(F,Pr),pair(SIDi,Sj)))),apply(H,pair(IDcs,pair(exp(D,Pr),xor(SMi,apply(H,exp(D,Pr)))))),apply(H,pair(SIDi,pair(exp(F,Pr),pair(F,pair(SMi,pair(D,pair(apply(H,pair(xor(SMi,apply(H,exp(D,Pr))),pair(exp(D,Pr),D))),Sj))))))),SIDi,exp(F,Pr),F,xor(SMi,apply(H,exp(D,Pr))),Dummy_Set_96,SID).
 request(C,B,c_b,apply(H,pair(SIDi,pair(exp(F,Pr),pair(F,pair(SMi,pair(D,pair(apply(H,pair(xor(SMi,apply(H,exp(D,Pr))),pair(exp(D,Pr),D))),Sj))))))),SID).
 request(C,B,c_b,apply(H,pair(xor(SMi,apply(H,exp(D,Pr))),pair(exp(D,Pr),D))),SID).
 secret(Dummy_Set_96,subs5,C).
 iknows(scrypt(Sj,pair(Dummy_W1,pair(Dummy_W2,pair(IDcs,Dummy_MIDi))))).
 request(C,B,c_b,apply(H,pair(IDcs,pair(exp(F,Pr),pair(SIDi,Sj)))),SID).
 request(C,B,c_b,apply(H,pair(IDcs,pair(exp(D,Pr),xor(SMi,apply(H,exp(D,Pr)))))),SID).
 contains(Pr,Dummy_Set_96).
 contains(exp(D,Pr),Dummy_Set_96).
 contains(xor(SMi,apply(H,exp(D,Pr))),Dummy_Set_96).
 contains(exp(F,Pr),Dummy_Set_96)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_a_b (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,a_b,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,a_b,MGoal))
     /\ ((request(A1Goal,A2Goal,a_b,MGoal,SID1)
           /\ request(A1Goal,A2Goal,a_b,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_b_c (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,b_c,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,b_c,MGoal))
     /\ ((request(A1Goal,A2Goal,b_c,MGoal,SID1)
           /\ request(A1Goal,A2Goal,b_c,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_c_b (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,c_b,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,c_b,MGoal))
     /\ ((request(A1Goal,A2Goal,c_b,MGoal,SID1)
           /\ request(A1Goal,A2Goal,c_b,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_b_a (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,b_a,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,b_a,MGoal))
     /\ ((request(A1Goal,A2Goal,b_a,MGoal,SID1)
           /\ request(A1Goal,A2Goal,b_a,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_a_b (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,a_b,MGoal,SID) &
 not(witness(A2Goal,A1Goal,a_b,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_a_b (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,a_b,MGoal,SID1).
 request(A1Goal,A2Goal,a_b,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_b_c (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,b_c,MGoal,SID) &
 not(witness(A2Goal,A1Goal,b_c,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_b_c (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,b_c,MGoal,SID1).
 request(A1Goal,A2Goal,b_c,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_c_b (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,c_b,MGoal,SID) &
 not(witness(A2Goal,A1Goal,c_b,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_c_b (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,c_b,MGoal,SID1).
 request(A1Goal,A2Goal,c_b,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_b_a (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,b_a,MGoal,SID) &
 not(witness(A2Goal,A1Goal,b_a,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_b_a (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,b_a,MGoal,SID1).
 request(A1Goal,A2Goal,b_a,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

