%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileagpXrY

section signature:

state_locationRecipient: agent * agent * agent * public_key * public_key * public_key * hash_func * nat * text * text * apply(hash_func,public_key) * public_key * apply(hash_func,text) * nat -> fact
state_locationServer: agent * agent * agent * set(pair(apply(hash_func,public_key),pair(apply(hash_func,public_key),hash_func))) * public_key * hash_func * nat * public_key * public_key * text * apply(hash_func,public_key) * text * text * hash_func * nat -> fact
state_target: agent * agent * agent * public_key * public_key * public_key * hash_func * nat * text * public_key * apply(hash_func,public_key) * text * text * hash_func * set(agent) * set(agent) * nat -> fact


section types:

Filtered_LI, Dummy_Filtered_LI: apply(hash_func,text)
Psi_Table, Dummy_Psi_Table: set(pair(apply(hash_func,public_key),pair(apply(hash_func,public_key),hash_func)))
lr_LS_N2, ls_LR_P_LR, lr_T_filtered_LI, filtered_LI, li, ls_T_GR, t_LR_Psi_LR, lr_T_N1: protocol_id
Psi_T, Psi_LR, Dummy_Psi_T, Dummy_Psi_LR: apply(hash_func,public_key)
N1, N2, LI, TS, Dummy_N2, Dummy_TS, Dummy_LI, Dummy_N1, dummy_nonce: text
set_146, set_145, set_142, set_141, set_116, set_115, set_114: set
10, 8, 2, 0, State, 11, 9, 7, 5, 12, SID, 4, 3, 1, Dummy_State, SID2, SID1: nat
Set_33, Set_30, Dummy_Set_33, Dummy_Set_30, ASGoal: set(agent)
start, dummy_msg, MGoal: message
H, GR, Dummy_GR, dummy_hash, h: hash_func
t, ls, lr, T, LS, LR, A2Goal, A1Goal, i: agent
P_LR, K_T, K_LS, K_LR, P_T, Dummy_P_LR, Dummy_P_T, dummy_pk, k_T, k_LS, k_LR, k_i: public_key


section inits:

initial_state init1 := 
 iknows(start).
 iknows(t).
 iknows(ls).
 iknows(lr).
 iknows(k_T).
 iknows(k_LS).
 iknows(k_LR).
 iknows(k_i).
 iknows(inv(k_i)).
 iknows(h).
 iknows(i).
 state_target(t,ls,lr,k_T,k_LS,k_LR,h,1,dummy_nonce,dummy_pk,dummy_msg,dummy_nonce,dummy_nonce,dummy_hash,set_115,set_116,3).
 state_locationServer(ls,t,lr,set_114,k_LS,h,5,dummy_pk,dummy_pk,dummy_nonce,dummy_msg,dummy_nonce,dummy_nonce,dummy_hash,4).
 state_locationRecipient(lr,t,ls,k_T,k_LS,k_LR,h,0,dummy_nonce,dummy_nonce,dummy_msg,dummy_pk,dummy_msg,5).
 state_locationServer(ls,i,lr,set_114,k_LS,h,5,dummy_pk,dummy_pk,dummy_nonce,dummy_msg,dummy_nonce,dummy_nonce,dummy_hash,8).
 state_locationRecipient(lr,i,ls,k_i,k_LS,k_LR,h,0,dummy_nonce,dummy_nonce,dummy_msg,dummy_pk,dummy_msg,9).
 state_target(t,ls,i,k_T,k_LS,k_i,h,1,dummy_nonce,dummy_pk,dummy_msg,dummy_nonce,dummy_nonce,dummy_hash,set_145,set_146,11).
 state_locationServer(ls,t,i,set_114,k_LS,h,5,dummy_pk,dummy_pk,dummy_nonce,dummy_msg,dummy_nonce,dummy_nonce,dummy_hash,12)


section rules:

step step_0 (T,LS,LR,K_T,K_LS,K_LR,H,Dummy_N1,Dummy_P_T,Dummy_Psi_LR,Dummy_LI,Dummy_TS,Dummy_GR,Dummy_Set_30,Dummy_Set_33,SID,N1,P_T,Psi_LR,LI,TS,GR) :=
 state_target(T,LS,LR,K_T,K_LS,K_LR,H,1,Dummy_N1,Dummy_P_T,Dummy_Psi_LR,Dummy_LI,Dummy_TS,Dummy_GR,Dummy_Set_30,Dummy_Set_33,SID).
 iknows(pair(crypt(K_T,LR),crypt(inv(K_LR),pair(crypt(K_T,pair(T,N1)),Psi_LR))))
=[exists TS,LI,GR,P_T]=>
 state_target(T,LS,LR,K_T,K_LS,K_LR,H,3,N1,P_T,Psi_LR,LI,TS,GR,Dummy_Set_30,Dummy_Set_33,SID).
 iknows(crypt(inv(K_T),pair(crypt(K_LR,N1),apply(H,P_T)))).
 witness(T,LR,lr_T_N1,N1).
 wrequest(T,LR,t_LR_Psi_LR,Psi_LR,SID).
 iknows(pair(crypt(inv(P_T),pair(GR,pair(Psi_LR,apply(H,P_T)))),P_T)).
 witness(T,LS,ls_T_GR,GR).
 secret(LI,li,Dummy_Set_30).
 secret(apply(GR,LI),filtered_LI,Dummy_Set_33).
 iknows(pair(crypt(inv(P_T),pair(TS,crypt(K_LS,pair(LI,apply(H,P_T))))),P_T)).
 witness(T,LR,lr_T_filtered_LI,apply(GR,LI)).
 witness(LS,LR,ls_LR_P_LR,LS).
 contains(T,Dummy_Set_30).
 contains(LS,Dummy_Set_30).
 contains(LR,Dummy_Set_30).
 contains(T,Dummy_Set_33).
 contains(LS,Dummy_Set_33).
 contains(LR,Dummy_Set_33)

step step_1 (LS,T,LR,Dummy_Psi_Table,K_LS,H,Dummy_P_T,P_LR,N2,Dummy_Psi_LR,LI,TS,Dummy_GR,SID,P_T,Psi_LR,GR) :=
 state_locationServer(LS,T,LR,Dummy_Psi_Table,K_LS,H,5,Dummy_P_T,P_LR,N2,Dummy_Psi_LR,LI,TS,Dummy_GR,SID).
 iknows(pair(crypt(inv(P_T),pair(GR,pair(Psi_LR,apply(H,P_T)))),P_T))
 =>
 state_locationServer(LS,T,LR,Dummy_Psi_Table,K_LS,H,7,P_T,P_LR,N2,Psi_LR,LI,TS,GR,SID).
 contains(pair(Psi_LR,pair(apply(H,P_T),GR)),Dummy_Psi_Table)

step step_2 (LS,T,LR,Psi_Table,K_LS,H,P_T,P_LR,N2,Psi_LR,Dummy_LI,Dummy_TS,GR,SID,LI,TS) :=
 state_locationServer(LS,T,LR,Psi_Table,K_LS,H,7,P_T,P_LR,N2,Psi_LR,Dummy_LI,Dummy_TS,GR,SID).
 iknows(pair(crypt(inv(P_T),pair(TS,crypt(K_LS,pair(LI,apply(H,P_T))))),P_T))
 =>
 state_locationServer(LS,T,LR,Psi_Table,K_LS,H,9,P_T,P_LR,N2,Psi_LR,LI,TS,GR,SID)

step step_3 (LS,T,LR,Psi_Table,K_LS,H,P_T,Dummy_P_LR,Dummy_N2,Psi_LR,LI,TS,Dummy_GR,SID,P_LR,N2,GR) :=
 state_locationServer(LS,T,LR,Psi_Table,K_LS,H,9,P_T,Dummy_P_LR,Dummy_N2,Psi_LR,LI,TS,Dummy_GR,SID).
 iknows(pair(crypt(inv(P_LR),pair(apply(H,P_LR),pair(apply(H,P_T),N2))),P_LR)).
 contains(pair(apply(H,P_LR),pair(apply(H,P_T),GR)),Psi_Table)
 =>
 state_locationServer(LS,T,LR,Psi_Table,K_LS,H,11,P_T,P_LR,N2,Psi_LR,LI,TS,GR,SID).
 iknows(crypt(inv(K_LS),pair(crypt(P_LR,apply(GR,LI)),N2))).
 wrequest(LS,T,ls_T_GR,GR,SID).
 wrequest(LS,LR,ls_LR_P_LR,P_LR,SID).
 witness(LS,LS,lr_LS_N2,N2).
 contains(pair(apply(H,P_LR),pair(apply(H,P_T),GR)),Psi_Table)

step step_4 (LR,T,LS,K_T,K_LS,K_LR,H,Dummy_N1,N2,Psi_T,Dummy_P_LR,Filtered_LI,SID,N1,P_LR) :=
 state_locationRecipient(LR,T,LS,K_T,K_LS,K_LR,H,0,Dummy_N1,N2,Psi_T,Dummy_P_LR,Filtered_LI,SID).
 iknows(start)
=[exists P_LR,N1]=>
 state_locationRecipient(LR,T,LS,K_T,K_LS,K_LR,H,2,N1,N2,Psi_T,P_LR,Filtered_LI,SID).
 iknows(pair(crypt(K_T,LR),crypt(inv(K_LR),pair(crypt(K_T,pair(T,N1)),apply(H,P_LR))))).
 witness(LR,T,t_LR_Psi_LR,apply(H,P_LR))

step step_5 (LR,T,LS,K_T,K_LS,K_LR,H,N1,Dummy_N2,Dummy_Psi_T,P_LR,Filtered_LI,SID,N2,Psi_T) :=
 state_locationRecipient(LR,T,LS,K_T,K_LS,K_LR,H,2,N1,Dummy_N2,Dummy_Psi_T,P_LR,Filtered_LI,SID).
 iknows(crypt(inv(K_T),pair(crypt(K_LR,N1),Psi_T)))
=[exists N2]=>
 state_locationRecipient(LR,T,LS,K_T,K_LS,K_LR,H,8,N1,N2,Psi_T,P_LR,Filtered_LI,SID).
 iknows(pair(crypt(inv(P_LR),pair(apply(H,P_LR),pair(Psi_T,N2))),P_LR)).
 witness(LR,LS,ls_LR_P_LR,P_LR).
 request(LR,T,lr_T_N1,N1,SID).
 witness(LS,T,ls_T_GR,LS)

step step_6 (LR,T,LS,K_T,K_LS,K_LR,H,N1,N2,Psi_T,P_LR,Dummy_Filtered_LI,SID,Filtered_LI) :=
 state_locationRecipient(LR,T,LS,K_T,K_LS,K_LR,H,8,N1,N2,Psi_T,P_LR,Dummy_Filtered_LI,SID).
 iknows(crypt(inv(K_LS),pair(crypt(P_LR,Filtered_LI),N2)))
 =>
 state_locationRecipient(LR,T,LS,K_T,K_LS,K_LR,H,10,N1,N2,Psi_T,P_LR,Filtered_LI,SID).
 request(LR,T,lr_T_filtered_LI,Filtered_LI,SID).
 request(LS,LS,lr_LS_N2,N2,SID)


section properties:

property secrecy_of_li (MGoal,ASGoal) :=
 [] ((secret(MGoal,li,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_filtered_LI (MGoal,ASGoal) :=
 [] ((secret(MGoal,filtered_LI,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_lr_T_filtered_LI (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,lr_T_filtered_LI,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,lr_T_filtered_LI,MGoal))
     /\ ((request(A1Goal,A2Goal,lr_T_filtered_LI,MGoal,SID1)
           /\ request(A1Goal,A2Goal,lr_T_filtered_LI,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_lr_LS_N2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,lr_LS_N2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,lr_LS_N2,MGoal))
     /\ ((request(A1Goal,A2Goal,lr_LS_N2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,lr_LS_N2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property weak_authentication_on_ls_LR_P_LR (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,ls_LR_P_LR,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,ls_LR_P_LR,MGoal))

property weak_authentication_on_ls_T_GR (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,ls_T_GR,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,ls_T_GR,MGoal))

property authentication_on_lr_T_N1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,lr_T_N1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,lr_T_N1,MGoal))
     /\ ((request(A1Goal,A2Goal,lr_T_N1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,lr_T_N1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property weak_authentication_on_t_LR_Psi_LR (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,t_LR_Psi_LR,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,t_LR_Psi_LR,MGoal))


section attack_states:

attack_state secrecy_of_li (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,li,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_filtered_LI (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,filtered_LI,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_lr_T_filtered_LI (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,lr_T_filtered_LI,MGoal,SID) &
 not(witness(A2Goal,A1Goal,lr_T_filtered_LI,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_lr_T_filtered_LI (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,lr_T_filtered_LI,MGoal,SID1).
 request(A1Goal,A2Goal,lr_T_filtered_LI,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_lr_LS_N2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,lr_LS_N2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,lr_LS_N2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_lr_LS_N2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,lr_LS_N2,MGoal,SID1).
 request(A1Goal,A2Goal,lr_LS_N2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_ls_LR_P_LR (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,ls_LR_P_LR,MGoal,SID) &
 not(witness(A2Goal,A1Goal,ls_LR_P_LR,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_ls_T_GR (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,ls_T_GR,MGoal,SID) &
 not(witness(A2Goal,A1Goal,ls_T_GR,MGoal)) &
 not(equal(A2Goal,i))

attack_state authentication_on_lr_T_N1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,lr_T_N1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,lr_T_N1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_lr_T_N1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,lr_T_N1,MGoal,SID1).
 request(A1Goal,A2Goal,lr_T_N1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_t_LR_Psi_LR (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,t_LR_Psi_LR,MGoal,SID) &
 not(witness(A2Goal,A1Goal,t_LR_Psi_LR,MGoal)) &
 not(equal(A2Goal,i))

