%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile9dg5Bn

section signature:

state_responder: agent * agent * hash_func * public_key * public_key * nat * text * text * text * text * nat -> fact
state_initiator: agent * agent * hash_func * public_key * public_key * nat * text * text * text * text * text * set(text) * set(agent) * nat -> fact


section types:

Set_41, Dummy_Set_41: set(text)
set_69, set_68: set
alice_bob, bob_alice, sub1: protocol_id
2, State, 4, SID, Dummy_State, 3, 1, 0, SID2, SID1: nat
Set_42, Dummy_Set_42, ASGoal: set(agent)
start, MGoal: message
IPubKey, RPubKey, dummy_pk, pub_keya, pub_keyb: public_key
hFunc, Hfunc: hash_func
UIDA, R, TK, TS, KAB, Dummy_KAB, Dummy_TS, Dummy_TK, Dummy_R, Dummy_UIDA, dummy_nonce, uaid: text
P, Q, A2Goal, A1Goal, x, y, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(x).
 iknows(y).
 iknows(hFunc).
 iknows(uaid).
 iknows(pub_keya).
 iknows(pub_keyb).
 iknows(i).
 state_initiator(x,y,hFunc,dummy_pk,dummy_pk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_68,set_69,3).
 state_responder(y,x,hFunc,dummy_pk,dummy_pk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,4)


section rules:

step step_0 (P,Q,Hfunc,IPubKey,RPubKey,Dummy_UIDA,Dummy_R,Dummy_TK,Dummy_TS,KAB,Set_41,Set_42,SID,UIDA,R,TS) :=
 state_initiator(P,Q,Hfunc,IPubKey,RPubKey,0,Dummy_UIDA,Dummy_R,Dummy_TK,Dummy_TS,KAB,Set_41,Set_42,SID).
 iknows(start)
=[exists TS,UIDA,R]=>
 state_initiator(P,Q,Hfunc,IPubKey,RPubKey,1,UIDA,R,pair(R,apply(hFunc,Dummy_UIDA)),TS,KAB,Set_41,Set_42,SID).
 iknows(crypt(inv(IPubKey),pair(TS,pair(pair(R,apply(hFunc,Dummy_UIDA)),Dummy_UIDA)))).
 witness(P,Q,alice_bob,pair(R,apply(hFunc,Dummy_UIDA)))

step step_1 (P,Q,Hfunc,IPubKey,RPubKey,UIDA,R,TK,Dummy_TS,Dummy_KAB,Dummy_Set_41,Dummy_Set_42,SID,TS,KAB) :=
 state_initiator(P,Q,Hfunc,IPubKey,RPubKey,1,UIDA,R,TK,Dummy_TS,Dummy_KAB,Dummy_Set_41,Dummy_Set_42,SID).
 iknows(crypt(inv(RPubKey),pair(KAB,TS)))
 =>
 state_initiator(P,Q,Hfunc,IPubKey,RPubKey,2,UIDA,R,TK,TS,KAB,Dummy_Set_41,Dummy_Set_42,SID).
 request(Q,P,bob_alice,KAB,SID).
 secret(Dummy_Set_41,sub1,Dummy_Set_42).
 contains(KAB,Dummy_Set_41).
 contains(P,Dummy_Set_42).
 contains(Q,Dummy_Set_42)

step step_2 (Q,P,Hfunc,IPubKey,RPubKey,UIDA,Dummy_TS,Dummy_TK,Dummy_KAB,SID,TS,TK,KAB) :=
 state_responder(Q,P,Hfunc,IPubKey,RPubKey,0,UIDA,Dummy_TS,Dummy_TK,Dummy_KAB,SID).
 iknows(crypt(inv(IPubKey),pair(TS,pair(TK,UIDA))))
=[exists KAB]=>
 state_responder(Q,P,Hfunc,IPubKey,RPubKey,1,UIDA,TS,TK,KAB,SID).
 iknows(crypt(inv(RPubKey),pair(KAB,TS))).
 witness(Q,P,bob_alice,KAB).
 request(P,Q,alice_bob,TK,SID)


section properties:

property secrecy_of_sub1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sub1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub1,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

