%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilewrMqpx

section signature:

state_user: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact
state_basestation: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact
state_sensornode: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact


section types:

MGoal, start: message
sensornode_user, sensornode_basestation, user_basestation, user_sensornode, subs1, subs2, subs3, subs4, subs5, subs6: protocol_id
set_200, set_199, set_198, set_197, set_196, set_195, set_194, set_193, set_192, set_191, set_190, set_257, set_256, set_255, set_254, set_253, set_252, set_251, set_250, set_249, set_248, set_247, set_230, set_229, set_228, set_227, set_226, set_225, set_224, set_223, set_222, set_221, set_220: set
h, H: hash_func
mkui, mksj, MKsj, MKui: symmetric_key
Set_137, Set_96, Dummy_Set_50, Set_50, Dummy_Set_96, Dummy_Set_137: set(symmetric_key)
ASGoal, Set_144, Set_142, Set_140, Set_138, Set_136, Set_103, Set_101, Set_99, Set_97, Set_95, Dummy_Set_57, Dummy_Set_55, Dummy_Set_53, Dummy_Set_51, Dummy_Set_48, Set_57, Set_55, Set_53, Set_51, Set_48, Dummy_Set_103, Dummy_Set_101, Dummy_Set_99, Dummy_Set_97, Dummy_Set_95, Dummy_Set_144, Dummy_Set_142, Dummy_Set_140, Dummy_Set_138, Dummy_Set_136: set(agent)
Set_145, Set_143, Set_141, Set_139, Set_135, Set_104, Set_102, Set_100, Set_98, Set_94, Dummy_Set_58, Dummy_Set_56, Dummy_Set_54, Dummy_Set_52, Set_58, Dummy_Set_47, Set_56, Set_54, Set_52, Set_47, Dummy_Set_104, Dummy_Set_102, Dummy_Set_100, Dummy_Set_98, Dummy_Set_94, Dummy_Set_145, Dummy_Set_143, Dummy_Set_141, Dummy_Set_139, Dummy_Set_135: set(text)
dummy_nonce, rpwi, rui, si, zi, kui, kj, rnui, tj, t1, t2, apmi, gidi, kbs, snj, ui, IDi, APMi, GIdi, Wi, RMui, T1, T2, Si, Zi, Rui, Kui, Pu, PWi, UKi, M3, IDsj, Tj, Kj, Kbs, Ri, Ru, S, Dummy_Wi, Dummy_UKi, Dummy_Ri, Dummy_RMui, RNuj, Dummy_M3, Dummy_Kui, Dummy_T2, Dummy_T1: text
A2Goal, A1Goal, sn, bs, u, SN, BS, U, i: agent
SID, SID2, SID1, State, 3, 5, 2, 1, 0, 4, Dummy_State: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(bs).
 iknows(sn).
 iknows(h).
 iknows(snj).
 iknows(ui).
 iknows(i).
 state_sensornode(sn,bs,u,mksj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_190,set_191,set_192,set_193,set_194,set_195,set_196,set_197,set_198,set_199,set_200,3).
 state_basestation(bs,u,sn,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_220,set_221,set_222,set_223,set_224,set_225,set_226,set_227,set_228,set_229,set_230,4).
 state_user(u,bs,sn,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_247,set_248,set_249,set_250,set_251,set_252,set_253,set_254,set_255,set_256,set_257,5)


section rules:

step step_0 (SN,BS,U,MKsj,H,IDsj,Tj,Kj,Kbs,IDi,APMi,GIdi,Wi,RMui,Dummy_T1,T2,Si,Zi,Rui,Kui,Pu,PWi,UKi,M3,Dummy_Set_135,Dummy_Set_136,Dummy_Set_137,Dummy_Set_138,Dummy_Set_139,Dummy_Set_140,Dummy_Set_141,Dummy_Set_142,Dummy_Set_143,Dummy_Set_144,Dummy_Set_145,SID,T1) :=
 state_sensornode(SN,BS,U,MKsj,H,0,IDsj,Tj,Kj,Kbs,IDi,APMi,GIdi,Wi,RMui,Dummy_T1,T2,Si,Zi,Rui,Kui,Pu,PWi,UKi,M3,Dummy_Set_135,Dummy_Set_136,Dummy_Set_137,Dummy_Set_138,Dummy_Set_139,Dummy_Set_140,Dummy_Set_141,Dummy_Set_142,Dummy_Set_143,Dummy_Set_144,Dummy_Set_145,SID).
 iknows(start)
=[exists T1]=>
 state_sensornode(SN,BS,U,MKsj,H,1,IDsj,Tj,Kj,Kbs,IDi,APMi,GIdi,Wi,RMui,T1,T2,Si,Zi,Rui,Kui,Pu,PWi,UKi,M3,Dummy_Set_135,Dummy_Set_136,Dummy_Set_137,Dummy_Set_138,Dummy_Set_139,Dummy_Set_140,Dummy_Set_141,Dummy_Set_142,Dummy_Set_143,Dummy_Set_144,Dummy_Set_145,SID).
 secret(Dummy_Set_135,subs1,Dummy_Set_136).
 secret(Dummy_Set_137,subs2,Dummy_Set_138).
 secret(Dummy_Set_139,subs3,Dummy_Set_140).
 secret(Dummy_Set_141,subs4,Dummy_Set_142).
 secret(Dummy_Set_143,subs5,Dummy_Set_144).
 secret(Dummy_Set_145,subs6,U).
 iknows(pair(SN,pair(BS,pair(IDsj,pair(Tj,scrypt(MKsj,pair(Kj,pair(IDsj,Tj)))))))).
 witness(SN,BS,sensornode_basestation,T1).
 contains(Kj,Dummy_Set_135).
 contains(SN,Dummy_Set_136).
 contains(BS,Dummy_Set_136).
 contains(MKsj,Dummy_Set_137).
 contains(SN,Dummy_Set_138).
 contains(BS,Dummy_Set_138).
 contains(RMui,Dummy_Set_139).
 contains(U,Dummy_Set_140).
 contains(BS,Dummy_Set_140).
 contains(Kbs,Dummy_Set_141).
 contains(SN,Dummy_Set_142).
 contains(BS,Dummy_Set_142).
 contains(APMi,Dummy_Set_143).
 contains(GIdi,Dummy_Set_143).
 contains(U,Dummy_Set_144).
 contains(BS,Dummy_Set_144).
 contains(PWi,Dummy_Set_145).
 contains(Pu,Dummy_Set_145)

step step_1 (SN,BS,U,MKsj,H,IDsj,Tj,Kj,Kbs,IDi,APMi,GIdi,Wi,RMui,Dummy_T1,Dummy_T2,Si,Zi,Rui,Dummy_Kui,Pu,PWi,UKi,Dummy_M3,Set_135,Set_136,Set_137,Set_138,Set_139,Set_140,Set_141,Set_142,Set_143,Set_144,Set_145,SID,T1,T2,Kui,M3) :=
 state_sensornode(SN,BS,U,MKsj,H,1,IDsj,Tj,Kj,Kbs,IDi,APMi,GIdi,Wi,RMui,Dummy_T1,Dummy_T2,Si,Zi,Rui,Dummy_Kui,Pu,PWi,UKi,Dummy_M3,Set_135,Set_136,Set_137,Set_138,Set_139,Set_140,Set_141,Set_142,Set_143,Set_144,Set_145,SID).
 iknows(pair(U,pair(SN,pair(IDsj,pair(IDi,pair(Zi,pair(Si,pair(scrypt(Kui,pair(IDsj,pair(IDi,pair(Rui,pair(GIdi,pair(T1,pair(Si,Zi))))))),pair(apply(H,pair(T1,pair(Si,Zi))),pair(scrypt(MKsj,pair(IDsj,pair(IDi,pair(M3,pair(Rui,pair(T1,T2)))))),scrypt(Kj,pair(IDsj,pair(IDi,pair(GIdi,T1))))))))))))))
 =>
 state_sensornode(SN,BS,U,MKsj,H,2,IDsj,Tj,Kj,Kbs,IDi,APMi,GIdi,Wi,RMui,T1,T2,Si,Zi,Rui,Kui,Pu,PWi,UKi,M3,Set_135,Set_136,Set_137,Set_138,Set_139,Set_140,Set_141,Set_142,Set_143,Set_144,Set_145,SID).
 request(U,SN,user_sensornode,T1,SID)

step step_2 (BS,SN,U,MKsj,MKui,H,Wi,RMui,Rui,Kbs,Dummy_Kui,Si,Zi,T2,APMi,GIdi,Pu,PWi,UKi,Ri,Ru,S,IDsj,IDi,Kj,Tj,T1,M3,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,Set_103,Set_104,SID) :=
 state_basestation(BS,SN,U,MKsj,MKui,H,0,Wi,RMui,Rui,Kbs,Dummy_Kui,Si,Zi,T2,APMi,GIdi,Pu,PWi,UKi,Ri,Ru,S,IDsj,IDi,Kj,Tj,T1,M3,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,Set_103,Set_104,SID).
 iknows(pair(SN,pair(BS,pair(IDsj,pair(Tj,scrypt(MKsj,pair(Kj,pair(IDsj,Tj))))))))
 =>
 state_basestation(BS,SN,U,MKsj,MKui,H,1,Wi,RMui,Rui,Kbs,apply(H,pair(IDsj,pair(IDi,pair(Kbs,Kj)))),Si,Zi,T2,APMi,GIdi,Pu,PWi,UKi,Ri,Ru,S,IDsj,IDi,Kj,Tj,T1,M3,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,Set_103,Set_104,SID)

step step_3 (BS,SN,U,MKsj,MKui,H,Wi,Dummy_RMui,Rui,Kbs,Kui,Si,Zi,T2,APMi,GIdi,Pu,PWi,UKi,Dummy_Ri,Ru,S,IDsj,IDi,Kj,Tj,T1,M3,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,Dummy_Set_100,Dummy_Set_101,Dummy_Set_102,Dummy_Set_103,Dummy_Set_104,SID,RMui) :=
 state_basestation(BS,SN,U,MKsj,MKui,H,1,Wi,Dummy_RMui,Rui,Kbs,Kui,Si,Zi,T2,APMi,GIdi,Pu,PWi,UKi,Dummy_Ri,Ru,S,IDsj,IDi,Kj,Tj,T1,M3,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,Dummy_Set_100,Dummy_Set_101,Dummy_Set_102,Dummy_Set_103,Dummy_Set_104,SID).
 iknows(pair(U,pair(BS,scrypt(MKui,pair(IDi,pair(apply(H,pair(IDi,pair(PWi,Ru))),RMui))))))
 =>
 state_basestation(BS,SN,U,MKsj,MKui,H,2,Wi,RMui,Rui,Kbs,Kui,Si,Zi,T2,APMi,GIdi,Pu,PWi,UKi,xor(apply(H,pair(IDi,pair(PWi,Ru))),apply(H,pair(IDi,S))),Ru,S,IDsj,IDi,Kj,Tj,T1,M3,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,Dummy_Set_100,Dummy_Set_101,Dummy_Set_102,Dummy_Set_103,Dummy_Set_104,SID).
 iknows(pair(BS,pair(U,scrypt(MKui,pair(xor(apply(H,pair(IDi,pair(PWi,Ru))),apply(H,pair(IDi,S))),pair(H,RMui)))))).
 secret(Dummy_Set_94,subs1,Dummy_Set_95).
 secret(Dummy_Set_96,subs2,Dummy_Set_97).
 secret(Dummy_Set_98,subs3,Dummy_Set_99).
 secret(Dummy_Set_100,subs4,Dummy_Set_101).
 secret(Dummy_Set_102,subs5,Dummy_Set_103).
 secret(Dummy_Set_104,subs6,U).
 request(SN,BS,sensornode_basestation,Tj,SID).
 contains(Kj,Dummy_Set_94).
 contains(SN,Dummy_Set_95).
 contains(BS,Dummy_Set_95).
 contains(MKsj,Dummy_Set_96).
 contains(SN,Dummy_Set_97).
 contains(BS,Dummy_Set_97).
 contains(RMui,Dummy_Set_98).
 contains(U,Dummy_Set_99).
 contains(BS,Dummy_Set_99).
 contains(Kbs,Dummy_Set_100).
 contains(SN,Dummy_Set_101).
 contains(BS,Dummy_Set_101).
 contains(APMi,Dummy_Set_102).
 contains(GIdi,Dummy_Set_102).
 contains(U,Dummy_Set_103).
 contains(BS,Dummy_Set_103).
 contains(PWi,Dummy_Set_104).
 contains(Pu,Dummy_Set_104)

step step_4 (BS,SN,U,MKsj,MKui,H,Wi,Dummy_RMui,Rui,Kbs,Kui,Si,Zi,Dummy_T2,APMi,GIdi,Pu,PWi,Dummy_UKi,Ri,Ru,S,IDsj,IDi,Kj,Tj,Dummy_T1,Dummy_M3,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,Set_103,Set_104,SID,RMui,T2,T1) :=
 state_basestation(BS,SN,U,MKsj,MKui,H,2,Wi,Dummy_RMui,Rui,Kbs,Kui,Si,Zi,Dummy_T2,APMi,GIdi,Pu,PWi,Dummy_UKi,Ri,Ru,S,IDsj,IDi,Kj,Tj,Dummy_T1,Dummy_M3,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,Set_103,Set_104,SID).
 iknows(pair(U,pair(BS,pair(IDi,pair(apply(H,pair(apply(H,pair(apply(H,pair(PWi,Pu)),pair(GIdi,RMui))),T1)),T1)))))
=[exists T2]=>
 state_basestation(BS,SN,U,MKsj,MKui,H,3,Wi,RMui,Rui,Kbs,Kui,Si,Zi,T2,APMi,GIdi,Pu,PWi,apply(H,pair(Rui,pair(IDi,pair(T1,T2)))),Ri,Ru,S,IDsj,IDi,Kj,Tj,T1,xor(APMi,GIdi),Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,Set_103,Set_104,SID).
 iknows(pair(BS,pair(U,pair(scrypt(Dummy_UKi,pair(Si,pair(Zi,pair(Kui,IDsj)))),pair(T2,pair(T1,pair(IDsj,pair(IDi,pair(scrypt(MKsj,pair(IDsj,pair(IDi,pair(xor(APMi,GIdi),pair(Rui,pair(T1,T2)))))),scrypt(Kj,pair(IDsj,pair(IDi,pair(GIdi,T1))))))))))))).
 request(U,BS,user_basestation,T1,SID)

step step_5 (U,BS,SN,MKsj,MKui,H,IDi,Dummy_Wi,APMi,Dummy_RMui,Pu,PWi,UKi,Rui,Kui,IDsj,Si,Zi,Kj,Kbs,GIdi,RNuj,M3,Ru,S,T1,T2,Set_47,Set_48,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,Set_56,Set_57,Set_58,SID,RMui) :=
 state_user(U,BS,SN,MKsj,MKui,H,0,IDi,Dummy_Wi,APMi,Dummy_RMui,Pu,PWi,UKi,Rui,Kui,IDsj,Si,Zi,Kj,Kbs,GIdi,RNuj,M3,Ru,S,T1,T2,Set_47,Set_48,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,Set_56,Set_57,Set_58,SID).
 iknows(start)
=[exists RMui]=>
 state_user(U,BS,SN,MKsj,MKui,H,1,IDi,apply(H,pair(IDi,pair(PWi,Ru))),APMi,RMui,Pu,PWi,UKi,Rui,Kui,IDsj,Si,Zi,Kj,Kbs,GIdi,RNuj,M3,Ru,S,T1,T2,Set_47,Set_48,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,Set_56,Set_57,Set_58,SID).
 iknows(pair(U,pair(BS,scrypt(MKui,pair(IDi,pair(apply(H,pair(IDi,pair(PWi,Ru))),RMui))))))

step step_6 (U,BS,SN,MKsj,MKui,H,IDi,Wi,APMi,Dummy_RMui,Pu,PWi,UKi,Rui,Kui,IDsj,Si,Zi,Kj,Kbs,GIdi,RNuj,M3,Ru,S,Dummy_T1,T2,Dummy_Set_47,Dummy_Set_48,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,Dummy_Set_55,Dummy_Set_56,Dummy_Set_57,Dummy_Set_58,SID,RMui,T1) :=
 state_user(U,BS,SN,MKsj,MKui,H,1,IDi,Wi,APMi,Dummy_RMui,Pu,PWi,UKi,Rui,Kui,IDsj,Si,Zi,Kj,Kbs,GIdi,RNuj,M3,Ru,S,Dummy_T1,T2,Dummy_Set_47,Dummy_Set_48,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,Dummy_Set_55,Dummy_Set_56,Dummy_Set_57,Dummy_Set_58,SID).
 iknows(pair(BS,pair(U,scrypt(MKui,pair(xor(apply(H,pair(IDi,pair(PWi,Ru))),apply(H,pair(IDi,S))),pair(H,RMui))))))
=[exists T1]=>
 state_user(U,BS,SN,MKsj,MKui,H,2,IDi,Wi,APMi,RMui,Pu,PWi,UKi,Rui,Kui,IDsj,Si,Zi,Kj,Kbs,GIdi,RNuj,M3,Ru,S,T1,T2,Dummy_Set_47,Dummy_Set_48,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,Dummy_Set_55,Dummy_Set_56,Dummy_Set_57,Dummy_Set_58,SID).
 secret(Dummy_Set_47,subs1,Dummy_Set_48).
 secret(Dummy_Set_50,subs2,Dummy_Set_51).
 secret(Dummy_Set_52,subs3,Dummy_Set_53).
 secret(Dummy_Set_54,subs4,Dummy_Set_55).
 secret(Dummy_Set_56,subs5,Dummy_Set_57).
 secret(Dummy_Set_58,subs6,U).
 iknows(pair(U,pair(BS,pair(IDi,pair(apply(H,pair(apply(H,pair(apply(H,pair(PWi,Pu)),pair(GIdi,Dummy_RMui))),T1)),T1))))).
 witness(U,BS,user_basestation,T1).
 contains(Kj,Dummy_Set_47).
 contains(SN,Dummy_Set_48).
 contains(BS,Dummy_Set_48).
 contains(MKsj,Dummy_Set_50).
 contains(SN,Dummy_Set_51).
 contains(BS,Dummy_Set_51).
 contains(RMui,Dummy_Set_52).
 contains(U,Dummy_Set_53).
 contains(BS,Dummy_Set_53).
 contains(Kbs,Dummy_Set_54).
 contains(SN,Dummy_Set_55).
 contains(BS,Dummy_Set_55).
 contains(APMi,Dummy_Set_56).
 contains(GIdi,Dummy_Set_56).
 contains(U,Dummy_Set_57).
 contains(BS,Dummy_Set_57).
 contains(PWi,Dummy_Set_58).
 contains(Pu,Dummy_Set_58)

step step_7 (U,BS,SN,MKsj,MKui,H,IDi,Wi,APMi,RMui,Pu,PWi,Dummy_UKi,Rui,Dummy_Kui,IDsj,Si,Zi,Kj,Kbs,GIdi,RNuj,Dummy_M3,Ru,S,Dummy_T1,Dummy_T2,Set_47,Set_48,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,Set_56,Set_57,Set_58,SID,M3,T1,T2) :=
 state_user(U,BS,SN,MKsj,MKui,H,2,IDi,Wi,APMi,RMui,Pu,PWi,Dummy_UKi,Rui,Dummy_Kui,IDsj,Si,Zi,Kj,Kbs,GIdi,RNuj,Dummy_M3,Ru,S,Dummy_T1,Dummy_T2,Set_47,Set_48,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,Set_56,Set_57,Set_58,SID).
 iknows(pair(BS,pair(U,pair(scrypt(Dummy_UKi,pair(Si,pair(Zi,pair(Dummy_Kui,IDsj)))),pair(T2,pair(T1,pair(IDsj,pair(IDi,pair(scrypt(MKsj,pair(IDsj,pair(IDi,pair(M3,pair(Rui,pair(T1,T2)))))),scrypt(Kj,pair(IDsj,pair(IDi,pair(GIdi,T1)))))))))))))
 =>
 state_user(U,BS,SN,MKsj,MKui,H,3,IDi,Wi,APMi,RMui,Pu,PWi,apply(H,pair(Rui,pair(IDi,pair(T1,T2)))),Rui,apply(H,pair(IDsj,pair(IDi,pair(Kbs,Kj)))),IDsj,Si,Zi,Kj,Kbs,GIdi,RNuj,M3,Ru,S,T1,T2,Set_47,Set_48,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,Set_56,Set_57,Set_58,SID).
 iknows(pair(U,pair(SN,pair(IDsj,pair(IDi,pair(Zi,pair(Si,pair(scrypt(apply(H,pair(IDsj,pair(IDi,pair(Kbs,Kj)))),pair(IDsj,pair(IDi,pair(Rui,pair(GIdi,pair(T1,pair(Si,Zi))))))),pair(apply(H,pair(T1,pair(Si,Zi))),pair(scrypt(MKsj,pair(IDsj,pair(IDi,pair(M3,pair(Rui,pair(T1,T2)))))),scrypt(Kj,pair(IDsj,pair(IDi,pair(GIdi,T1)))))))))))))).
 witness(U,SN,user_sensornode,T1)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_basestation (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_basestation,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_basestation,MGoal))
     /\ ((request(A1Goal,A2Goal,user_basestation,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_basestation,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_basestation_user (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,basestation_user,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,basestation_user,MGoal))
     /\ ((request(A1Goal,A2Goal,basestation_user,MGoal,SID1)
           /\ request(A1Goal,A2Goal,basestation_user,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensornode_user (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensornode_user,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensornode_user,MGoal))
     /\ ((request(A1Goal,A2Goal,sensornode_user,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensornode_user,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_sensornode (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_sensornode,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_sensornode,MGoal))
     /\ ((request(A1Goal,A2Goal,user_sensornode,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_sensornode,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensornode_basestation (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensornode_basestation,MGoal))
     /\ ((request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_basestation_sensornode (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,basestation_sensornode,MGoal))
     /\ ((request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID1)
           /\ request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_basestation (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_basestation,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_basestation,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_basestation (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_basestation,MGoal,SID1).
 request(A1Goal,A2Goal,user_basestation,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_basestation_user (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,basestation_user,MGoal,SID) &
 not(witness(A2Goal,A1Goal,basestation_user,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_basestation_user (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,basestation_user,MGoal,SID1).
 request(A1Goal,A2Goal,basestation_user,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensornode_user (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensornode_user,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensornode_user,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensornode_user (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensornode_user,MGoal,SID1).
 request(A1Goal,A2Goal,sensornode_user,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_sensornode (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_sensornode,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_sensornode,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_sensornode (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_sensornode,MGoal,SID1).
 request(A1Goal,A2Goal,user_sensornode,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensornode_basestation (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensornode_basestation,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensornode_basestation (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID1).
 request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_basestation_sensornode (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID) &
 not(witness(A2Goal,A1Goal,basestation_sensornode,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_basestation_sensornode (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID1).
 request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

