%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileJKqZHA

section signature:

state_bob: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * nat -> fact
state_bs: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * nat -> fact
state_alice: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact


section types:

Set_89, Dummy_Set_89, Set_65, Dummy_Set_65, Set_61, Dummy_Set_61, Dummy_Set_37, Dummy_Set_35, Set_37, Set_35: set(text)
Set_91, Dummy_Set_91, Set_63, Dummy_Set_63, Dummy_Set_32, Set_32: set(symmetric_key)
set_193, set_192, set_191, set_190, set_188, set_187, set_186, set_185, set_184, set_183, set_181, set_180, set_179, set_178, set_177, set_176, set_169, set_168, set_167, set_166, set_157, set_156, set_155, set_154, set_153, set_152, set_136, set_135, set_134, set_133, set_132, set_131: set
Set_92, Set_90, Dummy_Set_92, Dummy_Set_90, Set_66, Set_64, Dummy_Set_66, Set_62, Dummy_Set_64, Dummy_Set_62, Dummy_Set_38, Dummy_Set_36, Dummy_Set_33, Set_38, Set_36, Set_33, ASGoal: set(agent)
start, MGoal: message
alice_bs, alice_bob, bs_bob, sub1, sub2, sub3, bs_bobsub1: protocol_id
3, 9, 8, 7, State, 5, SID, 2, 4, Dummy_State, 1, 0, SID2, SID1: nat
DIDi, DSDj, Ts, P, G, UIDi, Sig, R, TK, SIDj, Dummy_TK, Dummy_R, Dummy_Sig, Dummy_Ts, Dummy_DIDi, dummy_nonce, didi, dsdj, ts, p, g, uidi, sig, r, tk, sidj: text
H, h: hash_func
SKubs, SKsbs, skubs, sksbs: symmetric_key
Ui, SNj, BS, bs, A2Goal, A1Goal, ui, snj, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(snj).
 iknows(bs).
 iknows(h).
 iknows(i).
 state_alice(ui,snj,bs,skubs,sksbs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_131,set_132,set_133,set_134,set_135,set_136,3).
 state_bs(bs,ui,snj,skubs,sksbs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_152,set_153,set_154,set_155,set_156,set_157,4).
 state_bob(snj,ui,bs,skubs,sksbs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_166,set_167,set_168,set_169,5).
 state_alice(ui,snj,bs,skubs,sksbs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_176,set_177,set_178,set_179,set_180,set_181,7).
 state_bs(bs,ui,snj,skubs,sksbs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_183,set_184,set_185,set_186,set_187,set_188,8).
 state_bob(snj,ui,bs,skubs,sksbs,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_190,set_191,set_192,set_193,9)


section rules:

step step_0 (Ui,SNj,BS,SKubs,SKsbs,H,Dummy_DIDi,DSDj,Dummy_Ts,P,G,UIDi,Dummy_Sig,Dummy_R,Dummy_TK,SIDj,Dummy_Set_32,Dummy_Set_33,Dummy_Set_35,Dummy_Set_36,Dummy_Set_37,Dummy_Set_38,SID,DIDi,Ts,R) :=
 state_alice(Ui,SNj,BS,SKubs,SKsbs,H,0,Dummy_DIDi,DSDj,Dummy_Ts,P,G,UIDi,Dummy_Sig,Dummy_R,Dummy_TK,SIDj,Dummy_Set_32,Dummy_Set_33,Dummy_Set_35,Dummy_Set_36,Dummy_Set_37,Dummy_Set_38,SID).
 iknows(pair(BS,pair(Ui,scrypt(SKubs,pair(DIDi,P)))))
=[exists R,Ts]=>
 state_alice(Ui,SNj,BS,SKubs,SKsbs,H,1,DIDi,DSDj,Ts,P,G,UIDi,apply(H,pair(pair(R,apply(H,UIDi)),pair(Ts,UIDi))),R,pair(R,apply(H,UIDi)),SIDj,Dummy_Set_32,Dummy_Set_33,Dummy_Set_35,Dummy_Set_36,Dummy_Set_37,Dummy_Set_38,SID).
 iknows(pair(Ui,pair(BS,scrypt(SKubs,pair(UIDi,pair(Ts,G)))))).
 secret(Dummy_Set_32,sub1,Dummy_Set_33).
 secret(Dummy_Set_35,sub1,Dummy_Set_36).
 secret(Dummy_Set_37,sub2,Dummy_Set_38).
 witness(Ui,BS,alice_bs,Ts).
 iknows(pair(Ui,pair(SNj,pair(pair(R,apply(H,UIDi)),pair(Ts,pair(UIDi,apply(H,pair(pair(R,apply(H,UIDi)),pair(Ts,UIDi))))))))).
 witness(Ui,SNj,alice_bob,Ts).
 witness(Ui,SNj,alice_bob,R).
 contains(SKubs,Dummy_Set_32).
 contains(Ui,Dummy_Set_33).
 contains(BS,Dummy_Set_33).
 contains(Dummy_DIDi,Dummy_Set_35).
 contains(Ui,Dummy_Set_36).
 contains(BS,Dummy_Set_36).
 contains(DSDj,Dummy_Set_37).
 contains(SNj,Dummy_Set_38).
 contains(BS,Dummy_Set_38)

step step_1 (BS,Ui,SNj,SKubs,SKsbs,H,DIDi,DSDj,Ts,P,G,UIDi,Sig,R,TK,SIDj,Dummy_Set_61,Dummy_Set_62,Dummy_Set_63,Dummy_Set_64,Dummy_Set_65,Dummy_Set_66,SID) :=
 state_bs(BS,Ui,SNj,SKubs,SKsbs,H,0,DIDi,DSDj,Ts,P,G,UIDi,Sig,R,TK,SIDj,Dummy_Set_61,Dummy_Set_62,Dummy_Set_63,Dummy_Set_64,Dummy_Set_65,Dummy_Set_66,SID).
 iknows(start)
 =>
 state_bs(BS,Ui,SNj,SKubs,SKsbs,H,1,DIDi,DSDj,Ts,P,G,UIDi,Sig,R,TK,SIDj,Dummy_Set_61,Dummy_Set_62,Dummy_Set_63,Dummy_Set_64,Dummy_Set_65,Dummy_Set_66,SID).
 iknows(pair(BS,pair(Ui,scrypt(SKubs,pair(DIDi,P))))).
 iknows(pair(BS,pair(SNj,scrypt(SKsbs,pair(DSDj,pair(SIDj,P)))))).
 secret(Dummy_Set_61,sub1,Dummy_Set_62).
 secret(Dummy_Set_63,sub1,Dummy_Set_64).
 secret(Dummy_Set_65,sub2,Dummy_Set_66).
 contains(DIDi,Dummy_Set_61).
 contains(Ui,Dummy_Set_62).
 contains(BS,Dummy_Set_62).
 contains(SKubs,Dummy_Set_63).
 contains(Ui,Dummy_Set_64).
 contains(BS,Dummy_Set_64).
 contains(DSDj,Dummy_Set_65).
 contains(SNj,Dummy_Set_66).
 contains(BS,Dummy_Set_66)

step step_2 (BS,Ui,SNj,SKubs,SKsbs,H,DIDi,DSDj,Dummy_Ts,P,G,UIDi,Sig,R,TK,SIDj,Set_61,Set_62,Set_63,Set_64,Set_65,Set_66,SID,Ts) :=
 state_bs(BS,Ui,SNj,SKubs,SKsbs,H,1,DIDi,DSDj,Dummy_Ts,P,G,UIDi,Sig,R,TK,SIDj,Set_61,Set_62,Set_63,Set_64,Set_65,Set_66,SID).
 iknows(pair(Ui,pair(BS,scrypt(SKubs,pair(UIDi,pair(Ts,G))))))
 =>
 state_bs(BS,Ui,SNj,SKubs,SKsbs,H,2,DIDi,DSDj,Ts,P,G,UIDi,Sig,R,TK,SIDj,Set_61,Set_62,Set_63,Set_64,Set_65,Set_66,SID).
 request(Ui,BS,alice_bs,Ts,SID).
 iknows(pair(BS,pair(SNj,pair(apply(H,UIDi),pair(Ts,G))))).
 witness(BS,SNj,bs_bob,Ts)

step step_3 (SNj,Ui,BS,SKubs,SKsbs,H,DIDi,DSDj,Ts,P,G,UIDi,Sig,R,TK,SIDj,Dummy_Set_89,Dummy_Set_90,Dummy_Set_91,Dummy_Set_92,SID) :=
 state_bob(SNj,Ui,BS,SKubs,SKsbs,H,0,DIDi,DSDj,Ts,P,G,UIDi,Sig,R,TK,SIDj,Dummy_Set_89,Dummy_Set_90,Dummy_Set_91,Dummy_Set_92,SID).
 iknows(pair(BS,pair(SNj,scrypt(SKsbs,pair(DSDj,pair(SIDj,P))))))
 =>
 state_bob(SNj,Ui,BS,SKubs,SKsbs,H,1,DIDi,DSDj,Ts,P,G,UIDi,Sig,R,TK,SIDj,Dummy_Set_89,Dummy_Set_90,Dummy_Set_91,Dummy_Set_92,SID).
 secret(Dummy_Set_89,sub2,Dummy_Set_90).
 secret(Dummy_Set_91,sub3,Dummy_Set_92).
 contains(DSDj,Dummy_Set_89).
 contains(SNj,Dummy_Set_90).
 contains(BS,Dummy_Set_90).
 contains(SKsbs,Dummy_Set_91).
 contains(SNj,Dummy_Set_92).
 contains(BS,Dummy_Set_92)

step step_4 (SNj,Ui,BS,SKubs,SKsbs,H,DIDi,DSDj,Dummy_Ts,P,G,UIDi,Sig,R,TK,SIDj,Set_89,Set_90,Set_91,Set_92,SID,Ts) :=
 state_bob(SNj,Ui,BS,SKubs,SKsbs,H,1,DIDi,DSDj,Dummy_Ts,P,G,UIDi,Sig,R,TK,SIDj,Set_89,Set_90,Set_91,Set_92,SID).
 iknows(pair(BS,pair(SNj,pair(apply(H,UIDi),pair(Ts,G)))))
 =>
 state_bob(SNj,Ui,BS,SKubs,SKsbs,H,2,DIDi,DSDj,Ts,P,G,UIDi,Sig,R,TK,SIDj,Set_89,Set_90,Set_91,Set_92,SID).
 request(BS,SNj,bs_bob,Ts,SID)

step step_5 (SNj,Ui,BS,SKubs,SKsbs,H,DIDi,DSDj,Dummy_Ts,P,G,UIDi,Sig,Dummy_R,Dummy_TK,SIDj,Set_89,Set_90,Set_91,Set_92,SID,Ts,R,TK) :=
 state_bob(SNj,Ui,BS,SKubs,SKsbs,H,2,DIDi,DSDj,Dummy_Ts,P,G,UIDi,Sig,Dummy_R,Dummy_TK,SIDj,Set_89,Set_90,Set_91,Set_92,SID).
 iknows(pair(Ui,pair(SNj,pair(R,pair(apply(H,UIDi),pair(Ts,pair(UIDi,apply(H,pair(TK,pair(Ts,UIDi))))))))))
 =>
 state_bob(SNj,Ui,BS,SKubs,SKsbs,H,3,DIDi,DSDj,Ts,P,G,UIDi,Sig,R,TK,SIDj,Set_89,Set_90,Set_91,Set_92,SID).
 request(Ui,SNj,alice_bob,Ts,SID).
 request(Ui,SNj,alice_bob,R,SID)


section properties:

property secrecy_of_sub3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_alice_bs (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bs,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bs,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bs,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bs,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bs_bob (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bs_bob,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bs_bob,MGoal))
     /\ ((request(A1Goal,A2Goal,bs_bob,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bs_bob,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sub3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_alice_bs (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bs,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bs,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bs (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bs,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bs,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bs_bob (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bs_bob,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bs_bob,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bs_bob (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bs_bob,MGoal,SID1).
 request(A1Goal,A2Goal,bs_bob,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

