%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileBzM8MqNdO4

section signature:

state_server: agent * agent * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * symmetric_key * hash_func * nat -> fact
state_user: agent * agent * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * symmetric_key * hash_func * set(agent) * set(agent) * nat -> fact


section types:

MGoal, start: message
ui_s_r1, s_ui_r2, g1, g2, g3, g4, g5: protocol_id
set_89, set_88, set_112, set_111: set
dummy_hash, h, f, F, H: hash_func
Dummy_State, 3, SID, SID2, SID1, 5, State, 4, 2, 1, 0, 7, 6: nat
ASGoal, Set_41, Set_40, Dummy_Set_41, Dummy_Set_40: set(agent)
dummy_sk, SK, Dummy_SK: symmetric_key
A2Goal, A1Goal, ui, s, Ui, S, i: agent
Dummy_C1, Dummy_MV1, Dummy_R1s, Dummy_R1p, Dummy_R1, dummy_nonce, p, IDi, R1, R2, R1p, R2p, R1s, K, MV1, MV2, MV3, C1, P, Qs, Dummy_MV2, Dummy_R2p, Dummy_MV3, Dummy_K, Dummy_R2: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(s).
 iknows(h).
 iknows(f).
 iknows(p).
 iknows(i).
 state_user(ui,s,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_hash,set_88,set_89,3).
 state_server(s,ui,h,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_hash,4).
 state_user(ui,s,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_hash,set_111,set_112,6).
 state_server(s,ui,h,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_hash,7)


section rules:

step step_0 (Ui,S,H,IDi,Dummy_R1,R2,Dummy_R1p,R2p,Dummy_R1s,K,Dummy_MV1,MV2,MV3,Dummy_C1,P,Qs,SK,F,Set_40,Set_41,SID,R1) :=
 state_user(Ui,S,H,0,IDi,Dummy_R1,R2,Dummy_R1p,R2p,Dummy_R1s,K,Dummy_MV1,MV2,MV3,Dummy_C1,P,Qs,SK,F,Set_40,Set_41,SID).
 iknows(start)
=[exists R1]=>
 state_user(Ui,S,H,2,IDi,R1,R2,apply(F,pair(R1,P)),R2p,apply(F,pair(R1,apply(F,pair(Qs,P)))),K,apply(H,pair(IDi,pair(apply(F,pair(R1,P)),pair(apply(F,pair(R1,apply(F,pair(Qs,P)))),apply(H,pair(IDi,Qs)))))),MV2,MV3,scrypt(apply(H,apply(F,pair(R1,apply(F,pair(Qs,P))))),pair(IDi,apply(H,pair(IDi,pair(apply(F,pair(R1,P)),pair(apply(F,pair(R1,apply(F,pair(Qs,P)))),apply(H,pair(IDi,Qs)))))))),P,Qs,SK,F,Set_40,Set_41,SID).
 iknows(pair(scrypt(apply(H,apply(F,pair(R1,apply(F,pair(Qs,P))))),pair(IDi,apply(H,pair(IDi,pair(apply(F,pair(R1,P)),pair(apply(F,pair(R1,apply(F,pair(Qs,P)))),apply(H,pair(IDi,Qs)))))))),apply(F,pair(R1,P)))).
 witness(Ui,S,ui_s_r1,R1).
 secret(Qs,g1,S).
 secret(R1,g2,Ui)

step step_1 (Ui,S,H,IDi,Dummy_R1,Dummy_R2,R1p,R2p,R1s,Dummy_K,MV1,MV2,Dummy_MV3,C1,P,Qs,Dummy_SK,F,Dummy_Set_40,Dummy_Set_41,SID,R1,R2) :=
 state_user(Ui,S,H,2,IDi,Dummy_R1,Dummy_R2,R1p,R2p,R1s,Dummy_K,MV1,MV2,Dummy_MV3,C1,P,Qs,Dummy_SK,F,Dummy_Set_40,Dummy_Set_41,SID).
 iknows(pair(apply(H,pair(IDi,pair(scrypt(apply(H,apply(F,pair(R1,apply(F,pair(Qs,P))))),pair(IDi,apply(H,pair(IDi,pair(apply(F,pair(R1,P)),pair(apply(F,pair(R1,apply(F,pair(Qs,P)))),apply(H,pair(IDi,Qs)))))))),pair(apply(F,pair(R2,P)),pair(apply(F,pair(R1,P)),pair(apply(F,pair(R1,apply(F,pair(Qs,P)))),apply(F,pair(R2,apply(F,pair(R1,P)))))))))),apply(F,pair(R2,P))))
 =>
 state_user(Ui,S,H,4,IDi,R1,R2,R1p,R2p,R1s,apply(F,pair(R1,apply(F,pair(R2,P)))),MV1,MV2,apply(H,pair(apply(H,pair(IDi,pair(scrypt(apply(H,apply(F,pair(R1,apply(F,pair(Qs,P))))),pair(IDi,apply(H,pair(IDi,pair(apply(F,pair(R1,P)),pair(apply(F,pair(R1,apply(F,pair(Qs,P)))),apply(H,pair(IDi,Qs)))))))),pair(apply(F,pair(R2,P)),pair(apply(F,pair(R1,P)),pair(apply(F,pair(R1,apply(F,pair(Qs,P)))),apply(F,pair(R2,apply(F,pair(R1,P)))))))))),pair(apply(F,pair(R2,P)),apply(F,pair(R1,apply(F,pair(R2,P))))))),C1,P,Qs,apply(H,pair(IDi,pair(apply(F,pair(R1,P)),pair(apply(F,pair(R2,P)),apply(F,pair(R1,apply(F,pair(R2,P)))))))),F,Dummy_Set_40,Dummy_Set_41,SID).
 iknows(apply(H,pair(apply(H,pair(IDi,pair(scrypt(apply(H,apply(F,pair(R1,apply(F,pair(Qs,P))))),pair(IDi,apply(H,pair(IDi,pair(apply(F,pair(R1,P)),pair(apply(F,pair(R1,apply(F,pair(Qs,P)))),apply(H,pair(IDi,Qs)))))))),pair(apply(F,pair(R2,P)),pair(apply(F,pair(R1,P)),pair(apply(F,pair(R1,apply(F,pair(Qs,P)))),apply(F,pair(R2,apply(F,pair(R1,P)))))))))),pair(apply(F,pair(R2,P)),apply(F,pair(R1,apply(F,pair(R2,P)))))))).
 secret(apply(F,pair(R1,apply(F,pair(R2,P)))),g4,Dummy_Set_40).
 secret(apply(H,pair(IDi,pair(apply(F,pair(R1,P)),pair(apply(F,pair(R2,P)),apply(F,pair(R1,apply(F,pair(R2,P)))))))),g5,Dummy_Set_41).
 request(S,Ui,s_ui_r2,Dummy_R2,SID).
 contains(Ui,Dummy_Set_40).
 contains(S,Dummy_Set_40).
 contains(Ui,Dummy_Set_41).
 contains(S,Dummy_Set_41)

step step_2 (S,Ui,H,IDi,R1,Dummy_R2,R1p,Dummy_R2p,Dummy_R1s,Dummy_K,MV1,Dummy_MV2,MV3,C1,P,Qs,SK,F,SID,R2) :=
 state_server(S,Ui,H,1,IDi,R1,Dummy_R2,R1p,Dummy_R2p,Dummy_R1s,Dummy_K,MV1,Dummy_MV2,MV3,C1,P,Qs,SK,F,SID).
 iknows(pair(scrypt(apply(H,apply(F,pair(R1,apply(F,pair(Qs,P))))),pair(IDi,apply(H,pair(IDi,pair(R1p,pair(Dummy_R1s,apply(H,pair(IDi,Qs)))))))),apply(F,pair(R1,P))))
=[exists R2]=>
 state_server(S,Ui,H,3,IDi,R1,R2,R1p,apply(F,pair(R2,P)),apply(F,pair(Qs,apply(F,pair(R1,P)))),apply(F,pair(R2,apply(F,pair(R1,P)))),MV1,apply(H,pair(IDi,pair(scrypt(apply(H,apply(F,pair(R1,apply(F,pair(Qs,P))))),pair(IDi,apply(H,pair(IDi,pair(apply(F,pair(R1,P)),pair(apply(F,pair(R1,apply(F,pair(Qs,P)))),apply(H,pair(IDi,Qs)))))))),pair(apply(F,pair(R2,P)),pair(apply(F,pair(R1,P)),pair(apply(F,pair(Qs,apply(F,pair(R1,P)))),apply(F,pair(R2,apply(F,pair(R1,P)))))))))),MV3,C1,P,Qs,SK,F,SID).
 iknows(pair(apply(H,pair(IDi,pair(scrypt(apply(H,apply(F,pair(R1,apply(F,pair(Qs,P))))),pair(IDi,apply(H,pair(IDi,pair(apply(F,pair(R1,P)),pair(apply(F,pair(R1,apply(F,pair(Qs,P)))),apply(H,pair(IDi,Qs)))))))),pair(apply(F,pair(R2,P)),pair(apply(F,pair(R1,P)),pair(apply(F,pair(Qs,apply(F,pair(R1,P)))),apply(F,pair(R2,apply(F,pair(R1,P)))))))))),apply(F,pair(R2,P)))).
 witness(S,Ui,s_ui_r2,Dummy_R2).
 secret(apply(F,pair(R2,P)),g3,S)

step step_3 (S,Ui,H,IDi,R1,Dummy_R2,R1p,R2p,R1s,Dummy_K,MV1,Dummy_MV2,MV3,C1,P,Qs,Dummy_SK,F,SID,R2,K,MV2) :=
 state_server(S,Ui,H,3,IDi,R1,Dummy_R2,R1p,R2p,R1s,Dummy_K,MV1,Dummy_MV2,MV3,C1,P,Qs,Dummy_SK,F,SID).
 iknows(apply(H,pair(MV2,pair(apply(F,pair(R2,P)),K))))
 =>
 state_server(S,Ui,H,5,IDi,R1,R2,R1p,R2p,R1s,K,MV1,MV2,MV3,C1,P,Qs,apply(H,pair(IDi,pair(apply(F,pair(R1,P)),pair(apply(F,pair(R2,P)),K)))),F,SID).
 request(Ui,S,ui_s_r1,R1,SID)


section properties:

property secrecy_of_g1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,g1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_g2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,g2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_g3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,g3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_g4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,g4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_g5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,g5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_ui_s_r1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,ui_s_r1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,ui_s_r1,MGoal))
     /\ ((request(A1Goal,A2Goal,ui_s_r1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,ui_s_r1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_s_ui_r2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,s_ui_r2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,s_ui_r2,MGoal))
     /\ ((request(A1Goal,A2Goal,s_ui_r2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,s_ui_r2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_g1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,g1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_g2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,g2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_g3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,g3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_g4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,g4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_g5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,g5,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_ui_s_r1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,ui_s_r1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,ui_s_r1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_ui_s_r1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,ui_s_r1,MGoal,SID1).
 request(A1Goal,A2Goal,ui_s_r1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_s_ui_r2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,s_ui_r2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,s_ui_r2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_s_ui_r2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,s_ui_r2,MGoal,SID1).
 request(A1Goal,A2Goal,s_ui_r2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

