%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileFMPoL5

section signature:

state_user: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(text) * set(agent) * nat -> fact
state_basestation: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(text) * set(agent) * nat -> fact
state_sensornode: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(text) * set(agent) * nat -> fact


section types:

MGoal, start: message
basestation_sensornode, sensornode_basestation, sensornode_basestaion, user_basestation, basestation_user, user_sensornode, sensornode_user, subs1, subs2, subs3, subs4, subs5, subs6, subs7: protocol_id
Set_168, Set_124, Dummy_Set_70, Set_70, Dummy_Set_124, Dummy_Set_168: set(symmetric_key)
Set_177, Set_176, Set_174, Set_172, Set_170, Set_166, Set_133, Set_132, Set_130, Set_128, Set_126, Set_122, Dummy_Set_79, Dummy_Set_78, Dummy_Set_76, Dummy_Set_74, Dummy_Set_72, Dummy_Set_67, Set_79, Set_78, Set_76, Set_74, Set_72, Dummy_Set_133, Dummy_Set_132, Set_67, Dummy_Set_130, Dummy_Set_128, Dummy_Set_126, Dummy_Set_122, Dummy_Set_177, Dummy_Set_176, Dummy_Set_174, Dummy_Set_172, Dummy_Set_170, Dummy_Set_166: set(text)
idi, idsj, IDi, IDsj, PWi, RNui, RNUsi, APMi, GIDx, Pu, Tokenij, Keyij, T1, T2, T3, Tj, SKuisj, M1, M5, M7, M8, Kj, Ru, Wi, Ri, S, M3, Dummy_M7, M4, Dummy_M6, Mx1, Dummy_M5, Mx2, Dummy_Mx1, Dummy_KUGi, Dummy_M3, Tg1, Dummy_M2, Tg2, Dummy_M1, Dummy_Wi, Kui, KUGi, HGi, Ji, Dummy_HGi, Dummy_Tg2, Dummy_Tg1, Dummy_Mx2, Dummy_Kui, Dummy_T2, Dummy_T1, Dummy_M4, Dummy_Tokenij, Dummy_Keyij, Dummy_RNui, Dummy_Ri, M2, Dummy_M8, Dummy_SKuisj, Dummy_T3, Dummy_RNUsi, Dummy_Kj, Dummy_Tj, M6, dummy_nonce: text
h, H: hash_func
mkui, mksj, MKsj, MKui: symmetric_key
set_297, set_296, set_295, set_294, set_293, set_292, set_291, set_290, set_289, set_288, set_287, set_286, set_285, set_257, set_256, set_255, set_254, set_253, set_252, set_251, set_250, set_249, set_248, set_247, set_246, set_245, set_221, set_220, set_219, set_218, set_217, set_216, set_215, set_214, set_213, set_212, set_211, set_210, set_209: set
State, 5, SID, 4, 3, 2, 1, 0, Dummy_State, SID2, SID1: nat
sn, bs, u, SNj, BS, Ui, A2Goal, i, A1Goal: agent
Set_178, Set_175, Set_173, Set_171, Set_169, Set_167, Set_134, Set_131, Set_129, Set_127, Set_125, Set_123, Dummy_Set_80, Dummy_Set_77, Dummy_Set_75, Dummy_Set_73, Dummy_Set_71, Dummy_Set_68, Set_80, Set_77, Set_75, Set_73, Set_71, Dummy_Set_134, Set_68, Dummy_Set_131, Dummy_Set_129, Dummy_Set_127, Dummy_Set_125, Dummy_Set_123, Dummy_Set_178, Dummy_Set_175, Dummy_Set_173, Dummy_Set_171, Dummy_Set_169, Dummy_Set_167, ASGoal: set(agent)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(bs).
 iknows(sn).
 iknows(h).
 iknows(idi).
 iknows(idsj).
 iknows(i).
 state_sensornode(sn,bs,u,mksj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_209,set_210,set_211,set_212,set_213,set_214,set_215,set_216,set_217,set_218,set_219,set_220,set_221,3).
 state_basestation(bs,u,sn,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_245,set_246,set_247,set_248,set_249,set_250,set_251,set_252,set_253,set_254,set_255,set_256,set_257,4).
 state_user(u,bs,sn,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_285,set_286,set_287,set_288,set_289,set_290,set_291,set_292,set_293,set_294,set_295,set_296,set_297,5)


section rules:

step step_0 (SNj,BS,Ui,MKsj,H,IDi,IDsj,PWi,RNui,RNUsi,APMi,GIDx,Pu,Tokenij,Keyij,T1,T2,T3,Dummy_Tj,SKuisj,M1,M5,M7,M8,Dummy_Kj,Ru,Set_166,Set_167,Set_168,Set_169,Set_170,Set_171,Set_172,Set_173,Set_174,Set_175,Set_176,Set_177,Set_178,SID,Tj,Kj) :=
 state_sensornode(SNj,BS,Ui,MKsj,H,0,IDi,IDsj,PWi,RNui,RNUsi,APMi,GIDx,Pu,Tokenij,Keyij,T1,T2,T3,Dummy_Tj,SKuisj,M1,M5,M7,M8,Dummy_Kj,Ru,Set_166,Set_167,Set_168,Set_169,Set_170,Set_171,Set_172,Set_173,Set_174,Set_175,Set_176,Set_177,Set_178,SID).
 iknows(start)
=[exists Kj,Tj]=>
 state_sensornode(SNj,BS,Ui,MKsj,H,1,IDi,IDsj,PWi,RNui,RNUsi,APMi,GIDx,Pu,Tokenij,Keyij,T1,T2,T3,Tj,SKuisj,M1,M5,M7,M8,Kj,Ru,Set_166,Set_167,Set_168,Set_169,Set_170,Set_171,Set_172,Set_173,Set_174,Set_175,Set_176,Set_177,Set_178,SID).
 iknows(pair(SNj,pair(BS,pair(IDsj,pair(Tj,scrypt(MKsj,pair(Kj,pair(IDsj,Tj))))))))

step step_1 (SNj,BS,Ui,MKsj,H,IDi,IDsj,PWi,RNui,Dummy_RNUsi,APMi,GIDx,Pu,Tokenij,Keyij,T1,T2,Dummy_T3,Tj,Dummy_SKuisj,M1,M5,M7,Dummy_M8,Kj,Ru,Dummy_Set_166,Dummy_Set_167,Dummy_Set_168,Dummy_Set_169,Dummy_Set_170,Dummy_Set_171,Dummy_Set_172,Dummy_Set_173,Dummy_Set_174,Dummy_Set_175,Dummy_Set_176,Dummy_Set_177,Dummy_Set_178,SID,RNUsi,T3) :=
 state_sensornode(SNj,BS,Ui,MKsj,H,1,IDi,IDsj,PWi,RNui,Dummy_RNUsi,APMi,GIDx,Pu,Tokenij,Keyij,T1,T2,Dummy_T3,Tj,Dummy_SKuisj,M1,M5,M7,Dummy_M8,Kj,Ru,Dummy_Set_166,Dummy_Set_167,Dummy_Set_168,Dummy_Set_169,Dummy_Set_170,Dummy_Set_171,Dummy_Set_172,Dummy_Set_173,Dummy_Set_174,Dummy_Set_175,Dummy_Set_176,Dummy_Set_177,Dummy_Set_178,SID).
 iknows(pair(Ui,pair(SNj,pair(IDi,pair(IDsj,pair(scrypt(Keyij,pair(xor(xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui),RNUsi),pair(apply(H,pair(xor(xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui),RNUsi),pair(IDsj,RNUsi))),pair(T1,pair(T2,pair(APMi,pair(RNUsi,T3))))))),pair(Tokenij,T3)))))))
 =>
 state_sensornode(SNj,BS,Ui,MKsj,H,2,IDi,IDsj,PWi,RNui,RNUsi,APMi,GIDx,Pu,Tokenij,Keyij,T1,T2,T3,Tj,apply(H,pair(IDi,pair(IDsj,pair(RNUsi,xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui))))),M1,M5,M7,scrypt(apply(H,pair(IDi,pair(IDsj,pair(RNUsi,xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui))))),RNUsi),Kj,Ru,Dummy_Set_166,Dummy_Set_167,Dummy_Set_168,Dummy_Set_169,Dummy_Set_170,Dummy_Set_171,Dummy_Set_172,Dummy_Set_173,Dummy_Set_174,Dummy_Set_175,Dummy_Set_176,Dummy_Set_177,Dummy_Set_178,SID).
 secret(Dummy_Set_166,subs1,Dummy_Set_167).
 secret(Dummy_Set_168,subs2,Dummy_Set_169).
 secret(Dummy_Set_170,subs3,Dummy_Set_171).
 secret(Dummy_Set_172,subs4,Dummy_Set_173).
 secret(Dummy_Set_174,subs5,Dummy_Set_175).
 secret(Dummy_Set_176,subs6,Ui).
 secret(Dummy_Set_177,subs7,Dummy_Set_178).
 request(Ui,SNj,user_sensornode,T3,SID).
 iknows(pair(SNj,pair(Ui,pair(IDi,pair(IDsj,scrypt(apply(H,pair(IDi,pair(IDsj,pair(RNUsi,xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui))))),RNUsi)))))).
 witness(SNj,Ui,sensornode_user,RNUsi).
 contains(Kj,Dummy_Set_166).
 contains(SNj,Dummy_Set_167).
 contains(BS,Dummy_Set_167).
 contains(MKsj,Dummy_Set_168).
 contains(SNj,Dummy_Set_169).
 contains(BS,Dummy_Set_169).
 contains(RNui,Dummy_Set_170).
 contains(Ui,Dummy_Set_171).
 contains(BS,Dummy_Set_171).
 contains(RNUsi,Dummy_Set_172).
 contains(Ui,Dummy_Set_173).
 contains(SNj,Dummy_Set_173).
 contains(APMi,Dummy_Set_174).
 contains(GIDx,Dummy_Set_174).
 contains(Ui,Dummy_Set_175).
 contains(BS,Dummy_Set_175).
 contains(PWi,Dummy_Set_176).
 contains(Pu,Dummy_Set_176).
 contains(Keyij,Dummy_Set_177).
 contains(Ui,Dummy_Set_178).
 contains(SNj,Dummy_Set_178)

step step_2 (BS,SNj,Ui,MKsj,MKui,H,IDi,IDsj,PWi,Wi,Ri,S,Dummy_Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,Mx2,T1,T2,Tg1,Tg2,Dummy_Tj,Kui,KUGi,HGi,Ji,Ru,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,Set_128,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,SID,Kj,Tj) :=
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,0,IDi,IDsj,PWi,Wi,Ri,S,Dummy_Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,Mx2,T1,T2,Tg1,Tg2,Dummy_Tj,Kui,KUGi,HGi,Ji,Ru,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,Set_128,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,SID).
 iknows(pair(SNj,pair(BS,pair(IDsj,pair(Tj,scrypt(MKsj,pair(Kj,pair(IDsj,Tj))))))))
 =>
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,1,IDi,IDsj,PWi,Wi,Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,Mx2,T1,T2,Tg1,Tg2,Tj,Kui,KUGi,HGi,Ji,Ru,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,Set_128,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,SID)

step step_3 (BS,SNj,Ui,MKsj,MKui,H,IDi,IDsj,PWi,Wi,Dummy_Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,Mx2,T1,T2,Tg1,Tg2,Tj,Kui,KUGi,HGi,Ji,Ru,Dummy_Set_122,Dummy_Set_123,Dummy_Set_124,Dummy_Set_125,Dummy_Set_126,Dummy_Set_127,Dummy_Set_128,Dummy_Set_129,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,Dummy_Set_134,SID) :=
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,1,IDi,IDsj,PWi,Wi,Dummy_Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,Mx2,T1,T2,Tg1,Tg2,Tj,Kui,KUGi,HGi,Ji,Ru,Dummy_Set_122,Dummy_Set_123,Dummy_Set_124,Dummy_Set_125,Dummy_Set_126,Dummy_Set_127,Dummy_Set_128,Dummy_Set_129,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,Dummy_Set_134,SID).
 iknows(pair(Ui,pair(BS,scrypt(MKui,pair(IDi,apply(H,pair(IDi,pair(PWi,Ru))))))))
 =>
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,2,IDi,IDsj,PWi,Wi,xor(Wi,apply(H,pair(IDi,S))),S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,Mx2,T1,T2,Tg1,Tg2,Tj,Kui,KUGi,HGi,Ji,Ru,Dummy_Set_122,Dummy_Set_123,Dummy_Set_124,Dummy_Set_125,Dummy_Set_126,Dummy_Set_127,Dummy_Set_128,Dummy_Set_129,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,Dummy_Set_134,SID).
 secret(Dummy_Set_122,subs1,Dummy_Set_123).
 secret(Dummy_Set_124,subs2,Dummy_Set_125).
 secret(Dummy_Set_126,subs3,Dummy_Set_127).
 secret(Dummy_Set_128,subs4,Dummy_Set_129).
 secret(Dummy_Set_130,subs5,Dummy_Set_131).
 secret(Dummy_Set_132,subs6,Ui).
 secret(Dummy_Set_133,subs7,Dummy_Set_134).
 iknows(pair(BS,pair(Ui,scrypt(MKui,pair(xor(apply(H,pair(IDi,pair(PWi,Ru))),apply(H,pair(IDi,S))),H))))).
 contains(Kj,Dummy_Set_122).
 contains(SNj,Dummy_Set_123).
 contains(BS,Dummy_Set_123).
 contains(MKsj,Dummy_Set_124).
 contains(SNj,Dummy_Set_125).
 contains(BS,Dummy_Set_125).
 contains(RNui,Dummy_Set_126).
 contains(Ui,Dummy_Set_127).
 contains(BS,Dummy_Set_127).
 contains(RNUsi,Dummy_Set_128).
 contains(Ui,Dummy_Set_129).
 contains(SNj,Dummy_Set_129).
 contains(APMi,Dummy_Set_130).
 contains(GIDx,Dummy_Set_130).
 contains(Ui,Dummy_Set_131).
 contains(BS,Dummy_Set_131).
 contains(PWi,Dummy_Set_132).
 contains(Pu,Dummy_Set_132).
 contains(Keyij,Dummy_Set_133).
 contains(Ui,Dummy_Set_134).
 contains(BS,Dummy_Set_134)

step step_4 (BS,SNj,Ui,MKsj,MKui,H,IDi,IDsj,PWi,Wi,Ri,S,Kj,Dummy_RNui,RNUsi,APMi,GIDx,Pu,Dummy_Keyij,Dummy_Tokenij,M1,M3,Dummy_M4,Mx1,Mx2,Dummy_T1,Dummy_T2,Tg1,Tg2,Tj,Dummy_Kui,KUGi,HGi,Ji,Ru,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,Set_128,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,SID,RNui,T1,T2) :=
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,2,IDi,IDsj,PWi,Wi,Ri,S,Kj,Dummy_RNui,RNUsi,APMi,GIDx,Pu,Dummy_Keyij,Dummy_Tokenij,M1,M3,Dummy_M4,Mx1,Mx2,Dummy_T1,Dummy_T2,Tg1,Tg2,Tj,Dummy_Kui,KUGi,HGi,Ji,Ru,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,Set_128,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,SID).
 iknows(pair(Ui,pair(BS,pair(IDi,pair(scrypt(Kui,pair(GIDx,pair(xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui),pair(apply(H,pair(Ri,pair(RNui,pair(GIDx,T1)))),RNui)))),T1)))))
=[exists T2]=>
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,3,IDi,IDsj,PWi,Wi,Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,apply(H,pair(IDi,pair(IDsj,pair(MKsj,Kj)))),apply(H,pair(IDi,pair(IDsj,pair(T1,pair(T2,pair(APMi,pair(MKsj,xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui)))))))),M1,M3,scrypt(xor(xor(Ji,Ru),T1),pair(IDi,pair(IDsj,pair(apply(H,pair(IDi,pair(IDsj,pair(MKsj,Kj)))),pair(apply(H,pair(IDi,pair(IDsj,pair(T1,pair(T2,pair(APMi,pair(MKsj,xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui)))))))),pair(APMi,pair(T1,T2))))))),Mx1,Mx2,T1,T2,Tg1,Tg2,Tj,xor(xor(Ji,Ru),T1),KUGi,HGi,Ji,Ru,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,Set_128,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,SID).
 request(Ui,BS,user_basestation,T1,SID).
 iknows(pair(BS,pair(Ui,pair(IDi,pair(scrypt(xor(xor(Ji,Ru),T1),pair(IDi,pair(IDsj,pair(apply(H,pair(IDi,pair(IDsj,pair(MKsj,Kj)))),pair(apply(H,pair(IDi,pair(IDsj,pair(T1,pair(T2,pair(APMi,pair(MKsj,xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui)))))))),pair(APMi,pair(T1,T2))))))),T2))))).
 witness(BS,Ui,basestation_user,T2)

step step_5 (BS,SNj,Ui,MKsj,MKui,H,IDi,IDsj,PWi,Wi,Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,Dummy_Mx2,T1,T2,Dummy_Tg1,Dummy_Tg2,Tj,Kui,KUGi,Dummy_HGi,Ji,Ru,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,Set_128,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,SID,Tg1,Tg2) :=
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,3,IDi,IDsj,PWi,Wi,Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,Dummy_Mx2,T1,T2,Dummy_Tg1,Dummy_Tg2,Tj,Kui,KUGi,Dummy_HGi,Ji,Ru,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,Set_128,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,SID).
 iknows(pair(Ui,pair(BS,pair(IDi,pair(apply(H,pair(xor(xor(Ji,Ru),Tg1),pair(IDi,pair(GIDx,pair(Tg1,Dummy_HGi))))),pair(Tg1,pair(GIDx,Dummy_HGi)))))))
=[exists Tg2]=>
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,4,IDi,IDsj,PWi,Wi,Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,apply(H,pair(KUGi,pair(xor(Dummy_HGi,apply(H,pair(GIDx,apply(H,pair(IDi,S))))),pair(Tg1,Tg2)))),T1,T2,Tg1,Tg2,Tj,Kui,KUGi,xor(Dummy_HGi,apply(H,pair(GIDx,apply(H,pair(IDi,S))))),Ji,Ru,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,Set_128,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,SID).
 request(Ui,BS,user_basestation,Tg1,SID).
 iknows(pair(BS,pair(Ui,pair(IDi,pair(apply(H,pair(KUGi,pair(xor(Dummy_HGi,apply(H,pair(GIDx,apply(H,pair(IDi,S))))),pair(Tg1,Tg2)))),Tg2))))).
 witness(BS,Ui,basestation_user,Tg2)

step step_6 (Ui,BS,SNj,MKsj,MKui,H,Dummy_Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,S,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,Set_74,Set_75,Set_76,Set_77,Set_78,Set_79,Set_80,SID) :=
 state_user(Ui,BS,SNj,MKsj,MKui,H,0,Dummy_Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,S,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,Set_74,Set_75,Set_76,Set_77,Set_78,Set_79,Set_80,SID).
 iknows(start)
 =>
 state_user(Ui,BS,SNj,MKsj,MKui,H,1,apply(H,pair(IDi,pair(PWi,Ru))),IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,S,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,Set_74,Set_75,Set_76,Set_77,Set_78,Set_79,Set_80,SID).
 iknows(pair(Ui,pair(BS,scrypt(MKui,pair(IDi,apply(H,pair(IDi,pair(PWi,Ru))))))))

step step_7 (Ui,BS,SNj,MKsj,MKui,H,Dummy_Wi,IDi,IDsj,PWi,Ru,Ri,Kj,Dummy_RNui,RNUsi,APMi,GIDx,Pu,Dummy_M1,Dummy_T1,Dummy_M2,Dummy_Kui,Ji,Dummy_M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,S,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,Set_74,Set_75,Set_76,Set_77,Set_78,Set_79,Set_80,SID,RNui,T1) :=
 state_user(Ui,BS,SNj,MKsj,MKui,H,1,Dummy_Wi,IDi,IDsj,PWi,Ru,Ri,Kj,Dummy_RNui,RNUsi,APMi,GIDx,Pu,Dummy_M1,Dummy_T1,Dummy_M2,Dummy_Kui,Ji,Dummy_M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,S,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,Set_74,Set_75,Set_76,Set_77,Set_78,Set_79,Set_80,SID).
 iknows(pair(BS,pair(Ui,scrypt(MKui,pair(xor(apply(H,pair(IDi,pair(PWi,Ru))),apply(H,pair(IDi,S))),H)))))
=[exists T1,RNui]=>
 state_user(Ui,BS,SNj,MKsj,MKui,H,2,apply(H,pair(IDi,pair(PWi,Ru))),IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui),T1,apply(H,pair(Ri,pair(RNui,pair(GIDx,T1)))),xor(xor(Ji,Ru),T1),Ji,scrypt(xor(xor(Ji,Ru),T1),pair(GIDx,pair(xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui),pair(apply(H,pair(Ri,pair(RNui,pair(GIDx,T1)))),RNui)))),M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,S,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,Set_74,Set_75,Set_76,Set_77,Set_78,Set_79,Set_80,SID).
 iknows(pair(Ui,pair(BS,pair(IDi,pair(scrypt(xor(xor(Ji,Ru),T1),pair(GIDx,pair(xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui),pair(apply(H,pair(Ri,pair(RNui,pair(GIDx,T1)))),RNui)))),T1))))).
 witness(Ui,BS,user_basestation,T1)

step step_8 (Ui,BS,SNj,MKsj,MKui,H,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,Dummy_RNui,RNUsi,APMi,GIDx,Pu,M1,Dummy_T1,M2,Dummy_Kui,Ji,M3,M4,Dummy_T2,Dummy_KUGi,Dummy_Tg1,Dummy_Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,S,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,Set_74,Set_75,Set_76,Set_77,Set_78,Set_79,Set_80,SID,RNui,T1,Kui,T2,Tg1) :=
 state_user(Ui,BS,SNj,MKsj,MKui,H,2,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,Dummy_RNui,RNUsi,APMi,GIDx,Pu,M1,Dummy_T1,M2,Dummy_Kui,Ji,M3,M4,Dummy_T2,Dummy_KUGi,Dummy_Tg1,Dummy_Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,S,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,Set_74,Set_75,Set_76,Set_77,Set_78,Set_79,Set_80,SID).
 iknows(pair(BS,pair(Ui,pair(IDi,pair(scrypt(Kui,pair(IDi,pair(IDsj,pair(apply(H,pair(IDi,pair(IDsj,pair(MKsj,Kj)))),pair(apply(H,pair(IDi,pair(IDsj,pair(T1,pair(T2,pair(APMi,pair(MKsj,xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui)))))))),pair(APMi,pair(T1,T2))))))),T2)))))
=[exists Tg1]=>
 state_user(Ui,BS,SNj,MKsj,MKui,H,3,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,xor(xor(Ji,Ru),Tg1),Tg1,apply(H,pair(xor(xor(Ji,Ru),Tg1),pair(IDi,pair(GIDx,pair(Tg1,HGi))))),HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,S,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,Set_74,Set_75,Set_76,Set_77,Set_78,Set_79,Set_80,SID).
 request(BS,Ui,basestation_user,T2,SID).
 iknows(pair(Ui,pair(BS,pair(IDi,pair(apply(H,pair(xor(xor(Ji,Ru),Tg1),pair(IDi,pair(GIDx,pair(Tg1,HGi))))),pair(Tg1,pair(GIDx,HGi))))))).
 witness(Ui,BS,user_basestation,Tg1)

step step_9 (Ui,BS,SNj,MKsj,MKui,H,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,Dummy_RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Dummy_Tg1,Mx1,HGi,Mx2,Dummy_Tg2,Dummy_M5,Dummy_M6,Dummy_T3,Dummy_M7,Keyij,Tokenij,M8,S,Dummy_Set_67,Dummy_Set_68,Dummy_Set_70,Dummy_Set_71,Dummy_Set_72,Dummy_Set_73,Dummy_Set_74,Dummy_Set_75,Dummy_Set_76,Dummy_Set_77,Dummy_Set_78,Dummy_Set_79,Dummy_Set_80,SID,RNUsi,Tg1,Tg2,T3) :=
 state_user(Ui,BS,SNj,MKsj,MKui,H,3,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,Dummy_RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Dummy_Tg1,Mx1,HGi,Mx2,Dummy_Tg2,Dummy_M5,Dummy_M6,Dummy_T3,Dummy_M7,Keyij,Tokenij,M8,S,Dummy_Set_67,Dummy_Set_68,Dummy_Set_70,Dummy_Set_71,Dummy_Set_72,Dummy_Set_73,Dummy_Set_74,Dummy_Set_75,Dummy_Set_76,Dummy_Set_77,Dummy_Set_78,Dummy_Set_79,Dummy_Set_80,SID).
 iknows(pair(BS,pair(Ui,pair(IDi,pair(apply(H,pair(KUGi,pair(xor(HGi,apply(H,pair(GIDx,apply(H,pair(IDi,S))))),pair(Tg1,Tg2)))),Tg2)))))
=[exists T3,RNUsi]=>
 state_user(Ui,BS,SNj,MKsj,MKui,H,4,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,xor(xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui),RNUsi),apply(H,pair(xor(xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui),RNUsi),pair(IDsj,RNUsi))),T3,scrypt(Keyij,pair(xor(xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui),RNUsi),pair(apply(H,pair(xor(xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui),RNUsi),pair(IDsj,RNUsi))),pair(T1,pair(T2,pair(APMi,pair(RNUsi,T3))))))),Keyij,Tokenij,M8,S,Dummy_Set_67,Dummy_Set_68,Dummy_Set_70,Dummy_Set_71,Dummy_Set_72,Dummy_Set_73,Dummy_Set_74,Dummy_Set_75,Dummy_Set_76,Dummy_Set_77,Dummy_Set_78,Dummy_Set_79,Dummy_Set_80,SID).
 secret(Dummy_Set_67,subs1,Dummy_Set_68).
 secret(Dummy_Set_70,subs2,Dummy_Set_71).
 secret(Dummy_Set_72,subs3,Dummy_Set_73).
 secret(Dummy_Set_74,subs4,Dummy_Set_75).
 secret(Dummy_Set_76,subs5,Dummy_Set_77).
 secret(Dummy_Set_78,subs6,Ui).
 secret(Dummy_Set_79,subs7,Dummy_Set_80).
 request(BS,Ui,basestation_user,Tg2,SID).
 iknows(pair(Ui,pair(SNj,pair(IDi,pair(IDsj,pair(scrypt(Keyij,pair(xor(xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui),RNUsi),pair(apply(H,pair(xor(xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui),RNUsi),pair(IDsj,RNUsi))),pair(T1,pair(T2,pair(APMi,pair(RNUsi,T3))))))),pair(Tokenij,T3))))))).
 witness(Ui,SNj,user_sensornode,T3).
 contains(Kj,Dummy_Set_67).
 contains(SNj,Dummy_Set_68).
 contains(BS,Dummy_Set_68).
 contains(MKsj,Dummy_Set_70).
 contains(SNj,Dummy_Set_71).
 contains(BS,Dummy_Set_71).
 contains(RNui,Dummy_Set_72).
 contains(Ui,Dummy_Set_73).
 contains(BS,Dummy_Set_73).
 contains(Dummy_RNUsi,Dummy_Set_74).
 contains(Ui,Dummy_Set_75).
 contains(SNj,Dummy_Set_75).
 contains(APMi,Dummy_Set_76).
 contains(GIDx,Dummy_Set_76).
 contains(Ui,Dummy_Set_77).
 contains(BS,Dummy_Set_77).
 contains(PWi,Dummy_Set_78).
 contains(Pu,Dummy_Set_78).
 contains(Keyij,Dummy_Set_79).
 contains(Ui,Dummy_Set_80).
 contains(BS,Dummy_Set_80)

step step_10 (Ui,BS,SNj,MKsj,MKui,H,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,Dummy_M8,S,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,Set_74,Set_75,Set_76,Set_77,Set_78,Set_79,Set_80,SID,M8) :=
 state_user(Ui,BS,SNj,MKsj,MKui,H,4,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,Dummy_M8,S,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,Set_74,Set_75,Set_76,Set_77,Set_78,Set_79,Set_80,SID).
 iknows(pair(SNj,pair(Ui,pair(IDi,pair(IDsj,M8)))))
 =>
 state_user(Ui,BS,SNj,MKsj,MKui,H,5,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,S,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,Set_74,Set_75,Set_76,Set_77,Set_78,Set_79,Set_80,SID).
 request(SNj,Ui,sensornode_user,RNUsi,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs7 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs7,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_basestation (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_basestation,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_basestation,MGoal))
     /\ ((request(A1Goal,A2Goal,user_basestation,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_basestation,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_basestation_user (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,basestation_user,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,basestation_user,MGoal))
     /\ ((request(A1Goal,A2Goal,basestation_user,MGoal,SID1)
           /\ request(A1Goal,A2Goal,basestation_user,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensornode_user (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensornode_user,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensornode_user,MGoal))
     /\ ((request(A1Goal,A2Goal,sensornode_user,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensornode_user,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_sensornode (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_sensornode,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_sensornode,MGoal))
     /\ ((request(A1Goal,A2Goal,user_sensornode,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_sensornode,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensornode_basestation (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensornode_basestation,MGoal))
     /\ ((request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_basestation_sensornode (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,basestation_sensornode,MGoal))
     /\ ((request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID1)
           /\ request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs7 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs7,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_basestation (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_basestation,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_basestation,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_basestation (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_basestation,MGoal,SID1).
 request(A1Goal,A2Goal,user_basestation,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_basestation_user (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,basestation_user,MGoal,SID) &
 not(witness(A2Goal,A1Goal,basestation_user,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_basestation_user (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,basestation_user,MGoal,SID1).
 request(A1Goal,A2Goal,basestation_user,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensornode_user (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensornode_user,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensornode_user,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensornode_user (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensornode_user,MGoal,SID1).
 request(A1Goal,A2Goal,sensornode_user,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_sensornode (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_sensornode,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_sensornode,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_sensornode (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_sensornode,MGoal,SID1).
 request(A1Goal,A2Goal,user_sensornode,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensornode_basestation (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensornode_basestation,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensornode_basestation (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID1).
 request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_basestation_sensornode (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID) &
 not(witness(A2Goal,A1Goal,basestation_sensornode,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_basestation_sensornode (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID1).
 request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

