%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile9ZLu02

section signature:

state_querier: agent * agent * agent * agent * nat * nat * nat * hash_func * symmetric_key * symmetric_key * public_key * symmetric_key * text * text * text * text * text * text * text * nat * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact
state_relay: agent * agent * agent * agent * nat * nat * nat * hash_func * symmetric_key * symmetric_key * public_key * symmetric_key * text * text * text * text * text * text * text * nat * nat -> fact
state_gateway: agent * agent * agent * agent * nat * nat * nat * hash_func * symmetric_key * symmetric_key * public_key * symmetric_key * text * text * text * text * text * text * text * nat * nat -> fact
state_group_member: agent * agent * agent * agent * nat * nat * nat * hash_func * symmetric_key * symmetric_key * public_key * symmetric_key * text * text * text * text * text * text * text * nat * set(agent) * set(agent) * nat -> fact


section types:

MGoal, start: message
sa_tf_q_gm, kd_tf_q_gm, sk_ge_q_gm, sa_ts_q_gm, kd_ts_q_gm, m_id_q_gm_3, m_id_gm_q_2, m_id_q_gm_2, sk_ua_gm_q, sk_ue_gm_q, m_id_gm_q_1, m_id_q_gm_1: protocol_id
Dummy_KDtf, Dummy_SAtf, Dummy_SPI_LIST, Dummy_S_REQ, Dummy_REJ, Dummy_KDts, Dummy_SAts, dummy_nonce, SPI_LIST, S_REQ, REJ, SAtf, KDtf, SAts, KDts: text
sk_g_a, SK_g_a: public_key
sk_u_a, sk_u_e, sk_g_e, SK_g_e, SK_u_e, SK_u_a: symmetric_key
func, Func: hash_func
Dummy_Set_37, Dummy_Set_34, ASGoal, Set_80, Set_78, Set_74, Set_72, Set_70, Set_37, Set_34, Dummy_Set_80, Dummy_Set_78, Dummy_Set_74, Dummy_Set_72, Dummy_Set_70: set(agent)
A2Goal, A1Goal, r, gw, gm, q, R, GW, Q, GM, i: agent
5, SID, 4, Dummy_State, 3, SID2, SID1, m_id_1, m_id_2, m_id_3, 21, 19, 17, 15, 13, 11, State, M_id_1, M_id_2, M_id_3, 20, 18, 16, 14, 12, 10, 6, 0, 7, 2, 1, 9, 8: nat
set_202, set_201, set_200, set_199, set_181, set_180, set_220, set_219, set_218, set_217, set_216, set_212, set_211, set_203: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(gm).
 iknows(q).
 iknows(gw).
 iknows(r).
 iknows(m_id_1).
 iknows(m_id_2).
 iknows(m_id_3).
 iknows(func).
 iknows(sk_g_a).
 iknows(sk_u_a).
 iknows(sk_u_e).
 iknows(sk_g_e).
 iknows(i).
 state_group_member(gm,q,gw,r,m_id_1,m_id_2,m_id_3,func,sk_u_a,sk_u_e,sk_g_a,sk_g_e,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,1,set_180,set_181,3).
 state_gateway(gw,q,gm,r,m_id_1,m_id_2,m_id_3,func,sk_u_a,sk_u_e,sk_g_a,sk_g_e,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,10,4).
 state_relay(r,gw,q,gm,m_id_1,m_id_2,m_id_3,func,sk_u_a,sk_u_e,sk_g_a,sk_g_e,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,11,5).
 state_querier(q,gm,gw,r,m_id_1,m_id_2,m_id_3,func,sk_u_a,sk_u_e,sk_g_a,sk_g_e,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,0,set_199,set_200,set_201,set_202,set_203,6).
 state_group_member(gm,i,gw,r,m_id_1,m_id_2,m_id_3,func,sk_u_a,sk_u_e,sk_g_a,sk_g_e,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,1,set_211,set_212,8).
 state_gateway(gw,i,gm,r,m_id_1,m_id_2,m_id_3,func,sk_u_a,sk_u_e,sk_g_a,sk_g_e,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,10,9).
 state_relay(r,gw,i,gm,m_id_1,m_id_2,m_id_3,func,sk_u_a,sk_u_e,sk_g_a,sk_g_e,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,11,10)


section rules:

step step_0 (GM,Q,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,Dummy_SAts,Dummy_KDts,SAtf,KDtf,Dummy_REJ,S_REQ,SPI_LIST,Dummy_Set_34,Dummy_Set_37,SID,SAts,KDts,REJ) :=
 state_group_member(GM,Q,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,Dummy_SAts,Dummy_KDts,SAtf,KDtf,Dummy_REJ,S_REQ,SPI_LIST,1,Dummy_Set_34,Dummy_Set_37,SID).
 iknows(scrypt(SK_g_e,pair(M_id_1,pair(SAts,pair(KDts,apply(Func,crypt(inv(SK_g_a),pair(M_id_1,pair(SAts,KDts)))))))))
=[exists REJ]=>
 state_group_member(GM,Q,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,3,Dummy_Set_34,Dummy_Set_37,SID).
 request(GM,Q,m_id_q_gm_1,M_id_1,SID).
 iknows(scrypt(SK_u_e,pair(M_id_1,pair(REJ,apply(Func,pair(SK_u_a,pair(M_id_1,REJ))))))).
 witness(GM,Q,m_id_gm_q_1,M_id_1).
 secret(SK_u_e,sk_ue_gm_q,Dummy_Set_34).
 secret(SK_u_a,sk_ua_gm_q,Dummy_Set_37).
 contains(GM,Dummy_Set_34).
 contains(Q,Dummy_Set_34).
 contains(GM,Dummy_Set_37).
 contains(Q,Dummy_Set_37)

step step_1 (GM,Q,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,Dummy_S_REQ,Dummy_SPI_LIST,Set_34,Set_37,SID,S_REQ,SPI_LIST) :=
 state_group_member(GM,Q,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,Dummy_S_REQ,Dummy_SPI_LIST,3,Set_34,Set_37,SID).
 iknows(scrypt(SK_g_e,pair(M_id_2,pair(S_REQ,apply(Func,crypt(inv(SK_g_a),pair(M_id_2,S_REQ)))))))
=[exists SPI_LIST]=>
 state_group_member(GM,Q,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,5,Set_34,Set_37,SID).
 request(GM,Q,m_id_q_gm_2,M_id_2,SID).
 iknows(scrypt(SK_u_e,pair(M_id_2,pair(SPI_LIST,apply(Func,pair(SK_u_a,pair(M_id_2,SPI_LIST))))))).
 witness(GM,Q,m_id_gm_q_2,M_id_2)

step step_2 (GM,Q,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,Dummy_SAtf,Dummy_KDtf,REJ,S_REQ,SPI_LIST,Set_34,Set_37,SID,SAtf,KDtf) :=
 state_group_member(GM,Q,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,Dummy_SAtf,Dummy_KDtf,REJ,S_REQ,SPI_LIST,5,Set_34,Set_37,SID).
 iknows(scrypt(SK_g_e,pair(M_id_3,pair(SAtf,pair(KDtf,apply(Func,crypt(inv(SK_g_a),pair(M_id_3,pair(SAtf,KDtf)))))))))
 =>
 state_group_member(GM,Q,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,7,Set_34,Set_37,SID).
 request(GM,Q,m_id_q_gm_3,M_id_3,SID)

step step_3 (GW,R,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,Dummy_SAts,Dummy_KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,SID,SAts,KDts) :=
 state_gateway(GW,R,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,Dummy_SAts,Dummy_KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,10,SID).
 iknows(scrypt(SK_g_e,pair(M_id_1,pair(SAts,pair(KDts,apply(Func,crypt(inv(SK_g_a),pair(M_id_1,pair(SAts,KDts)))))))))
 =>
 state_gateway(GW,R,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,12,SID).
 iknows(scrypt(SK_g_e,pair(M_id_1,pair(SAts,pair(KDts,apply(Func,crypt(inv(SK_g_a),pair(M_id_1,pair(SAts,KDts)))))))))

step step_4 (GW,R,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,Dummy_REJ,S_REQ,SPI_LIST,SID,REJ) :=
 state_gateway(GW,R,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,Dummy_REJ,S_REQ,SPI_LIST,12,SID).
 iknows(scrypt(SK_u_e,pair(M_id_1,pair(REJ,apply(Func,pair(SK_u_a,pair(M_id_1,REJ)))))))
 =>
 state_gateway(GW,R,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,14,SID).
 iknows(scrypt(SK_u_e,pair(M_id_1,pair(REJ,apply(Func,pair(SK_u_a,pair(M_id_1,REJ)))))))

step step_5 (GW,R,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,Dummy_S_REQ,SPI_LIST,SID,S_REQ) :=
 state_gateway(GW,R,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,Dummy_S_REQ,SPI_LIST,14,SID).
 iknows(scrypt(SK_g_e,pair(M_id_2,pair(S_REQ,apply(Func,crypt(inv(SK_g_a),pair(M_id_2,S_REQ)))))))
 =>
 state_gateway(GW,R,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,16,SID).
 iknows(scrypt(SK_g_e,pair(M_id_2,pair(S_REQ,apply(Func,crypt(inv(SK_g_a),pair(M_id_2,S_REQ)))))))

step step_6 (GW,R,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,Dummy_SPI_LIST,SID,SPI_LIST) :=
 state_gateway(GW,R,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,Dummy_SPI_LIST,16,SID).
 iknows(scrypt(SK_u_e,pair(M_id_2,pair(SPI_LIST,apply(Func,pair(SK_u_a,pair(M_id_2,SPI_LIST)))))))
 =>
 state_gateway(GW,R,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,18,SID).
 iknows(scrypt(SK_u_e,pair(M_id_2,pair(SPI_LIST,apply(Func,pair(SK_u_a,pair(M_id_2,SPI_LIST)))))))

step step_7 (GW,R,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,Dummy_SAtf,Dummy_KDtf,REJ,S_REQ,SPI_LIST,SID,SAtf,KDtf) :=
 state_gateway(GW,R,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,Dummy_SAtf,Dummy_KDtf,REJ,S_REQ,SPI_LIST,18,SID).
 iknows(scrypt(SK_g_e,pair(M_id_3,pair(SAtf,pair(KDtf,apply(Func,crypt(inv(SK_g_a),pair(M_id_3,pair(SAtf,KDtf)))))))))
 =>
 state_gateway(GW,R,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,20,SID).
 iknows(scrypt(SK_g_e,pair(M_id_3,pair(SAtf,pair(KDtf,apply(Func,crypt(inv(SK_g_a),pair(M_id_3,pair(SAtf,KDtf)))))))))

step step_8 (R,GW,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,Dummy_SAts,Dummy_KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,SID,SAts,KDts) :=
 state_relay(R,GW,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,Dummy_SAts,Dummy_KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,11,SID).
 iknows(scrypt(SK_g_e,pair(M_id_1,pair(SAts,pair(KDts,apply(Func,crypt(inv(SK_g_a),pair(M_id_1,pair(SAts,KDts)))))))))
 =>
 state_relay(R,GW,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,13,SID).
 iknows(scrypt(SK_g_e,pair(M_id_1,pair(SAts,pair(KDts,apply(Func,crypt(inv(SK_g_a),pair(M_id_1,pair(SAts,KDts)))))))))

step step_9 (R,GW,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,Dummy_REJ,S_REQ,SPI_LIST,SID,REJ) :=
 state_relay(R,GW,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,Dummy_REJ,S_REQ,SPI_LIST,13,SID).
 iknows(scrypt(SK_u_e,pair(M_id_1,pair(REJ,apply(Func,pair(SK_u_a,pair(M_id_1,REJ)))))))
 =>
 state_relay(R,GW,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,15,SID).
 iknows(scrypt(SK_u_e,pair(M_id_1,pair(REJ,apply(Func,pair(SK_u_a,pair(M_id_1,REJ)))))))

step step_10 (R,GW,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,Dummy_S_REQ,SPI_LIST,SID,S_REQ) :=
 state_relay(R,GW,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,Dummy_S_REQ,SPI_LIST,15,SID).
 iknows(scrypt(SK_g_e,pair(M_id_2,pair(S_REQ,apply(Func,crypt(inv(SK_g_a),pair(M_id_2,S_REQ)))))))
 =>
 state_relay(R,GW,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,17,SID).
 iknows(scrypt(SK_g_e,pair(M_id_2,pair(S_REQ,apply(Func,crypt(inv(SK_g_a),pair(M_id_2,S_REQ)))))))

step step_11 (R,GW,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,Dummy_SPI_LIST,SID,SPI_LIST) :=
 state_relay(R,GW,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,Dummy_SPI_LIST,17,SID).
 iknows(scrypt(SK_u_e,pair(M_id_2,pair(SPI_LIST,apply(Func,pair(SK_u_a,pair(M_id_2,SPI_LIST)))))))
 =>
 state_relay(R,GW,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,19,SID).
 iknows(scrypt(SK_u_e,pair(M_id_2,pair(SPI_LIST,apply(Func,pair(SK_u_a,pair(M_id_2,SPI_LIST)))))))

step step_12 (R,GW,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,Dummy_SAtf,Dummy_KDtf,REJ,S_REQ,SPI_LIST,SID,SAtf,KDtf) :=
 state_relay(R,GW,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,Dummy_SAtf,Dummy_KDtf,REJ,S_REQ,SPI_LIST,19,SID).
 iknows(scrypt(SK_g_e,pair(M_id_3,pair(SAtf,pair(KDtf,apply(Func,crypt(inv(SK_g_a),pair(M_id_3,pair(SAtf,KDtf)))))))))
 =>
 state_relay(R,GW,Q,GM,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,21,SID).
 iknows(scrypt(SK_g_e,pair(M_id_3,pair(SAtf,pair(KDtf,apply(Func,crypt(inv(SK_g_a),pair(M_id_3,pair(SAtf,KDtf)))))))))

step step_13 (Q,GM,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,Dummy_SAts,Dummy_KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,Dummy_Set_70,Dummy_Set_72,Dummy_Set_74,Set_78,Set_80,SID,SAts,KDts) :=
 state_querier(Q,GM,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,Dummy_SAts,Dummy_KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,0,Dummy_Set_70,Dummy_Set_72,Dummy_Set_74,Set_78,Set_80,SID).
 iknows(start)
=[exists KDts,SAts]=>
 state_querier(Q,GM,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,2,Dummy_Set_70,Dummy_Set_72,Dummy_Set_74,Set_78,Set_80,SID).
 iknows(scrypt(SK_g_e,pair(M_id_1,pair(SAts,pair(KDts,apply(Func,crypt(inv(SK_g_a),pair(M_id_1,pair(SAts,KDts))))))))).
 witness(Q,GM,m_id_q_gm_1,M_id_1).
 secret(KDts,kd_ts_q_gm,Dummy_Set_70).
 secret(SAts,sa_ts_q_gm,Dummy_Set_72).
 secret(SK_g_e,sk_ge_q_gm,Dummy_Set_74).
 contains(Q,Dummy_Set_70).
 contains(GM,Dummy_Set_70).
 contains(Q,Dummy_Set_72).
 contains(GM,Dummy_Set_72).
 contains(Q,Dummy_Set_74).
 contains(GM,Dummy_Set_74)

step step_14 (Q,GM,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,Dummy_REJ,Dummy_S_REQ,SPI_LIST,Set_70,Set_72,Set_74,Set_78,Set_80,SID,REJ,S_REQ) :=
 state_querier(Q,GM,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,Dummy_REJ,Dummy_S_REQ,SPI_LIST,2,Set_70,Set_72,Set_74,Set_78,Set_80,SID).
 iknows(scrypt(SK_u_e,pair(M_id_1,pair(REJ,apply(Func,pair(SK_u_a,pair(M_id_1,REJ)))))))
=[exists S_REQ]=>
 state_querier(Q,GM,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,4,Set_70,Set_72,Set_74,Set_78,Set_80,SID).
 iknows(scrypt(SK_g_e,pair(M_id_2,pair(S_REQ,apply(Func,crypt(inv(SK_g_a),pair(M_id_2,S_REQ))))))).
 request(Q,GM,m_id_gm_q_1,M_id_1,SID).
 witness(Q,GM,m_id_q_gm_2,M_id_2)

step step_15 (Q,GM,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,Dummy_SAtf,Dummy_KDtf,REJ,S_REQ,Dummy_SPI_LIST,Set_70,Set_72,Set_74,Dummy_Set_78,Dummy_Set_80,SID,SAtf,KDtf,SPI_LIST) :=
 state_querier(Q,GM,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,Dummy_SAtf,Dummy_KDtf,REJ,S_REQ,Dummy_SPI_LIST,4,Set_70,Set_72,Set_74,Dummy_Set_78,Dummy_Set_80,SID).
 iknows(scrypt(SK_u_e,pair(M_id_2,pair(SPI_LIST,apply(Func,pair(SK_u_a,pair(M_id_2,SPI_LIST)))))))
=[exists KDtf,SAtf]=>
 state_querier(Q,GM,GW,R,M_id_1,M_id_2,M_id_3,Func,SK_u_a,SK_u_e,SK_g_a,SK_g_e,SAts,KDts,SAtf,KDtf,REJ,S_REQ,SPI_LIST,6,Set_70,Set_72,Set_74,Dummy_Set_78,Dummy_Set_80,SID).
 request(Q,GM,m_id_gm_q_2,M_id_2,SID).
 iknows(scrypt(SK_g_e,pair(M_id_3,pair(SAtf,pair(KDtf,apply(Func,crypt(inv(SK_g_a),pair(M_id_3,pair(SAtf,KDtf))))))))).
 witness(Q,GM,m_id_q_gm_3,M_id_3).
 secret(KDtf,kd_tf_q_gm,Dummy_Set_78).
 secret(SAtf,sa_tf_q_gm,Dummy_Set_80).
 contains(Q,Dummy_Set_78).
 contains(GM,Dummy_Set_78).
 contains(Q,Dummy_Set_80).
 contains(GM,Dummy_Set_80)


section properties:

property secrecy_of_sa_ts_q_gm (MGoal,ASGoal) :=
 [] ((secret(MGoal,sa_ts_q_gm,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_kd_ts_q_gm (MGoal,ASGoal) :=
 [] ((secret(MGoal,kd_ts_q_gm,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sa_tf_q_gm (MGoal,ASGoal) :=
 [] ((secret(MGoal,sa_tf_q_gm,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_kd_tf_q_gm (MGoal,ASGoal) :=
 [] ((secret(MGoal,kd_tf_q_gm,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sk_ua_gm_q (MGoal,ASGoal) :=
 [] ((secret(MGoal,sk_ua_gm_q,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sk_ue_gm_q (MGoal,ASGoal) :=
 [] ((secret(MGoal,sk_ue_gm_q,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sk_ge_q_gm (MGoal,ASGoal) :=
 [] ((secret(MGoal,sk_ge_q_gm,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_m_id_q_gm_1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,m_id_q_gm_1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,m_id_q_gm_1,MGoal))
     /\ ((request(A1Goal,A2Goal,m_id_q_gm_1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,m_id_q_gm_1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_m_id_q_gm_2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,m_id_q_gm_2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,m_id_q_gm_2,MGoal))
     /\ ((request(A1Goal,A2Goal,m_id_q_gm_2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,m_id_q_gm_2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_m_id_q_gm_3 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,m_id_q_gm_3,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,m_id_q_gm_3,MGoal))
     /\ ((request(A1Goal,A2Goal,m_id_q_gm_3,MGoal,SID1)
           /\ request(A1Goal,A2Goal,m_id_q_gm_3,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_m_id_gm_q_1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,m_id_gm_q_1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,m_id_gm_q_1,MGoal))
     /\ ((request(A1Goal,A2Goal,m_id_gm_q_1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,m_id_gm_q_1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_m_id_gm_q_2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,m_id_gm_q_2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,m_id_gm_q_2,MGoal))
     /\ ((request(A1Goal,A2Goal,m_id_gm_q_2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,m_id_gm_q_2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sa_ts_q_gm (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sa_ts_q_gm,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_kd_ts_q_gm (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,kd_ts_q_gm,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sa_tf_q_gm (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sa_tf_q_gm,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_kd_tf_q_gm (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,kd_tf_q_gm,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sk_ua_gm_q (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sk_ua_gm_q,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sk_ue_gm_q (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sk_ue_gm_q,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sk_ge_q_gm (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sk_ge_q_gm,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_m_id_q_gm_1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,m_id_q_gm_1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,m_id_q_gm_1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_m_id_q_gm_1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,m_id_q_gm_1,MGoal,SID1).
 request(A1Goal,A2Goal,m_id_q_gm_1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_m_id_q_gm_2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,m_id_q_gm_2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,m_id_q_gm_2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_m_id_q_gm_2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,m_id_q_gm_2,MGoal,SID1).
 request(A1Goal,A2Goal,m_id_q_gm_2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_m_id_q_gm_3 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,m_id_q_gm_3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,m_id_q_gm_3,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_m_id_q_gm_3 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,m_id_q_gm_3,MGoal,SID1).
 request(A1Goal,A2Goal,m_id_q_gm_3,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_m_id_gm_q_1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,m_id_gm_q_1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,m_id_gm_q_1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_m_id_gm_q_1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,m_id_gm_q_1,MGoal,SID1).
 request(A1Goal,A2Goal,m_id_gm_q_1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_m_id_gm_q_2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,m_id_gm_q_2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,m_id_gm_q_2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_m_id_gm_q_2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,m_id_gm_q_2,MGoal,SID1).
 request(A1Goal,A2Goal,m_id_gm_q_2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

