%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileNnvxHI

section signature:

state_server: agent * agent * symmetric_key * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_alice: agent * agent * symmetric_key * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact


section types:

alice_server_ti, server_alice_rs, alice_server, server_alice, subs1, subs2, subs3, subs4, subs5, subs6: protocol_id
set_202, set_201, set_200, set_199, set_162, set_161, set_160, set_159, set_158, set_157, set_223, set_222, set_221, set_220, set_218, set_217, set_216, set_215, set_214, set_213: set
dummy_hash, h, mul, add, sub, Inc, H, Mul, Add, Sub: hash_func
skas, SKas: symmetric_key
Dummy_Regidi, Dummy_TSi, Dummy_Ti, Dummy_Ri, Dummy_TIDi, Dummy_Pubrs, Dummy_IDi, dummy_nonce, idi, p, didi, di, pubrs, tidi, s, ri, ti, rs, tsi, regidi, m1, m2, qi, ai, bi, zi, fi, gi, li, IDi, P, Pubrs, TIDi, S, Ri, Rs, TSi, Regidi, PWi, Ti, Dummy_Rs: text
Dummy_Set_61, Dummy_Set_59, Dummy_Set_55, ASGoal, Set_106, Set_103, Set_61, Set_59, Set_55, Dummy_Set_106, Dummy_Set_103: set(agent)
Dummy_Set_60, Dummy_Set_58, Dummy_Set_54, Set_105, Set_102, Set_60, Set_58, Set_54, Dummy_Set_105, Dummy_Set_102: set(text)
Dummy_M1, Dummy_Qi, Dummy_SKu, Dummy_M2, Dummy_M4, Dummy_M3, Dummy_Din, Dummy_TIDin, Dummy_TSin, Dummy_Li, Dummy_Gi, Dummy_Fi, Dummy_Zi, Dummy_Bi, Dummy_Ai, Dummy_DIDi, Dummy_Di, dummy_msg, MGoal, Yi, M1, DIDi, Ai, AL, Bi, Zi, Fi, TIDin, TSin, M3, M4, Gi, Li, M2, SKrs, Qi, start, Di, Din, SKu, Dummy_SKrs, Dummy_Yi, Dummy_AL: message
A2Goal, A1Goal, ui, rsj, RSj, Ui, i: agent
Dummy_State, 3, SID, SID2, SID1, State, 2, 1, 0, 7, 6, 4: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(rsj).
 iknows(h).
 iknows(mul).
 iknows(add).
 iknows(sub).
 iknows(fi).
 iknows(gi).
 iknows(ri).
 iknows(li).
 iknows(qi).
 iknows(m2).
 iknows(didi).
 iknows(ai).
 iknows(bi).
 iknows(di).
 iknows(i).
 state_alice(ui,rsj,skas,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_157,set_158,set_159,set_160,set_161,set_162,3).
 state_server(ui,rsj,skas,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_199,set_200,set_201,set_202,4).
 state_alice(rsj,ui,skas,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_213,set_214,set_215,set_216,set_217,set_218,6).
 state_server(rsj,ui,skas,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_220,set_221,set_222,set_223,7)


section rules:

step step_0 (Ui,RSj,SKas,H,Mul,Add,Sub,Dummy_IDi,PWi,P,Pubrs,TIDi,S,Ri,Ti,TSi,Regidi,Di,DIDi,Ai,Bi,Zi,Fi,Gi,TSin,TIDin,Din,M3,M4,Li,M2,SKu,Qi,M1,Inc,Dummy_Set_54,Dummy_Set_55,Set_58,Set_59,Set_60,Set_61,SID,IDi) :=
 state_alice(Ui,RSj,SKas,H,Mul,Add,Sub,0,Dummy_IDi,PWi,P,Pubrs,TIDi,S,Ri,Ti,TSi,Regidi,Di,DIDi,Ai,Bi,Zi,Fi,Gi,TSin,TIDin,Din,M3,M4,Li,M2,SKu,Qi,M1,Inc,Dummy_Set_54,Dummy_Set_55,Set_58,Set_59,Set_60,Set_61,SID).
 iknows(start)
=[exists IDi]=>
 state_alice(Ui,RSj,SKas,H,Mul,Add,Sub,1,IDi,PWi,P,Pubrs,TIDi,S,Ri,Ti,TSi,Regidi,Di,DIDi,Ai,Bi,Zi,Fi,Gi,TSin,TIDin,Din,M3,M4,Li,M2,SKu,Qi,M1,Inc,Dummy_Set_54,Dummy_Set_55,Set_58,Set_59,Set_60,Set_61,SID).
 iknows(scrypt(SKas,IDi)).
 secret(Dummy_Set_54,subs1,Dummy_Set_55).
 contains(Dummy_IDi,Dummy_Set_54).
 contains(Ui,Dummy_Set_55).
 contains(RSj,Dummy_Set_55)

step step_1 (Ui,RSj,SKas,H,Mul,Add,Sub,IDi,PWi,P,Dummy_Pubrs,Dummy_TIDi,S,Dummy_Ri,Dummy_Ti,Dummy_TSi,Dummy_Regidi,Dummy_Di,Dummy_DIDi,Dummy_Ai,Dummy_Bi,Dummy_Zi,Dummy_Fi,Dummy_Gi,TSin,TIDin,Din,M3,M4,Dummy_Li,M2,SKu,Qi,M1,Inc,Set_54,Set_55,Dummy_Set_58,Dummy_Set_59,Dummy_Set_60,Dummy_Set_61,SID,Pubrs,TIDi,Ri,Ti,TSi,Regidi) :=
 state_alice(Ui,RSj,SKas,H,Mul,Add,Sub,1,IDi,PWi,P,Dummy_Pubrs,Dummy_TIDi,S,Dummy_Ri,Dummy_Ti,Dummy_TSi,Dummy_Regidi,Dummy_Di,Dummy_DIDi,Dummy_Ai,Dummy_Bi,Dummy_Zi,Dummy_Fi,Dummy_Gi,TSin,TIDin,Din,M3,M4,Dummy_Li,M2,SKu,Qi,M1,Inc,Set_54,Set_55,Dummy_Set_58,Dummy_Set_59,Dummy_Set_60,Dummy_Set_61,SID).
 iknows(scrypt(SKas,pair(TIDi,pair(Regidi,pair(TSi,Pubrs)))))
=[exists Ti,Ri]=>
 state_alice(Ui,RSj,SKas,H,Mul,Add,Sub,2,IDi,PWi,P,Pubrs,TIDi,S,Ri,Ti,TSi,Regidi,xor(Dummy_TSi,apply(H,pair(IDi,PWi))),apply(Add,pair(Dummy_Regidi,apply(H,PWi))),apply(H,pair(IDi,pair(Dummy_Regidi,apply(H,PWi)))),xor(PWi,apply(H,IDi)),xor(xor(Dummy_TSi,apply(H,pair(IDi,PWi))),apply(H,pair(IDi,PWi))),xor(IDi,apply(H,pair(Dummy_Zi,Dummy_Ri))),apply(Add,pair(apply(Mul,pair(Dummy_Ti,Dummy_Pubrs)),Dummy_Regidi)),TSin,TIDin,Din,M3,M4,apply(H,pair(Dummy_Ti,pair(Dummy_Pubrs,IDi))),M2,SKu,Qi,M1,Inc,Set_54,Set_55,Dummy_Set_58,Dummy_Set_59,Dummy_Set_60,Dummy_Set_61,SID).
 iknows(pair(Dummy_TIDi,pair(xor(IDi,apply(H,pair(Dummy_Zi,Dummy_Ri))),pair(apply(Add,pair(apply(Mul,pair(Dummy_Ti,Dummy_Pubrs)),Dummy_Regidi)),pair(Ri,apply(H,pair(Dummy_Ti,pair(Dummy_Pubrs,IDi)))))))).
 secret(Dummy_Set_58,subs2,Dummy_Set_59).
 secret(Dummy_Set_60,subs3,Dummy_Set_61).
 contains(PWi,Dummy_Set_58).
 contains(Ui,Dummy_Set_59).
 contains(Dummy_Ti,Dummy_Set_60).
 contains(Ui,Dummy_Set_61)

step step_2 (Ui,RSj,SKas,H,Mul,Add,Sub,IDi,PWi,P,Pubrs,TIDi,S,Ri,Ti,TSi,Regidi,Di,DIDi,Ai,Bi,Zi,Fi,Gi,Dummy_TSin,Dummy_TIDin,Dummy_Din,Dummy_M3,Dummy_M4,Li,Dummy_M2,Dummy_SKu,Dummy_Qi,Dummy_M1,Inc,Set_54,Set_55,Set_58,Set_59,Set_60,Set_61,SID,M3,M4,M2,Qi) :=
 state_alice(Ui,RSj,SKas,H,Mul,Add,Sub,2,IDi,PWi,P,Pubrs,TIDi,S,Ri,Ti,TSi,Regidi,Di,DIDi,Ai,Bi,Zi,Fi,Gi,Dummy_TSin,Dummy_TIDin,Dummy_Din,Dummy_M3,Dummy_M4,Li,Dummy_M2,Dummy_SKu,Dummy_Qi,Dummy_M1,Inc,Set_54,Set_55,Set_58,Set_59,Set_60,Set_61,SID).
 iknows(pair(Qi,pair(M2,pair(M3,M4))))
 =>
 state_alice(Ui,RSj,SKas,H,Mul,Add,Sub,3,IDi,PWi,P,Pubrs,TIDi,S,Ri,Ti,TSi,Regidi,Di,DIDi,Ai,Bi,Zi,Fi,Gi,xor(Dummy_M3,apply(H,pair(Regidi,pair(apply(Add,pair(Dummy_M2,Regidi)),apply(Mul,pair(Ti,Pubrs)))))),xor(Dummy_M4,apply(H,apply(Add,pair(Dummy_M2,Regidi)))),xor(xor(Dummy_M3,apply(H,pair(Regidi,pair(apply(Add,pair(Dummy_M2,Regidi)),apply(Mul,pair(Ti,Pubrs)))))),apply(H,pair(IDi,PWi))),M3,M4,Li,M2,apply(H,pair(Regidi,pair(apply(Add,pair(Dummy_M2,Regidi)),apply(Mul,pair(Ti,Pubrs))))),Qi,apply(Add,pair(Dummy_M2,Regidi)),Inc,Set_54,Set_55,Set_58,Set_59,Set_60,Set_61,SID)

step step_3 (RSj,Ui,SKas,H,Mul,Add,Sub,Dummy_IDi,P,Dummy_Pubrs,Dummy_TIDi,S,Ri,Rs,Dummy_TSi,Dummy_Regidi,Yi,M1,DIDi,Ai,Dummy_AL,Bi,Zi,Fi,TIDin,TSin,M3,M4,Gi,Li,M2,SKrs,Qi,Inc,Dummy_Set_102,Dummy_Set_103,Set_105,Set_106,SID,IDi,TIDi) :=
 state_server(RSj,Ui,SKas,H,Mul,Add,Sub,0,Dummy_IDi,P,Dummy_Pubrs,Dummy_TIDi,S,Ri,Rs,Dummy_TSi,Dummy_Regidi,Yi,M1,DIDi,Ai,Dummy_AL,Bi,Zi,Fi,TIDin,TSin,M3,M4,Gi,Li,M2,SKrs,Qi,Inc,Dummy_Set_102,Dummy_Set_103,Set_105,Set_106,SID).
 iknows(IDi)
=[exists TIDi]=>
 state_server(RSj,Ui,SKas,H,Mul,Add,Sub,1,IDi,P,apply(Mul,pair(S,P)),TIDi,S,Ri,Rs,apply(H,pair(TIDi,S)),apply(Mul,pair(S,apply(H,Dummy_IDi))),Yi,M1,DIDi,Ai,apply(Mul,pair(apply(Mul,pair(S,P)),P)),Bi,Zi,Fi,TIDin,TSin,M3,M4,Gi,Li,M2,SKrs,Qi,Inc,Dummy_Set_102,Dummy_Set_103,Set_105,Set_106,SID).
 iknows(scrypt(SKas,pair(TIDi,pair(apply(Mul,pair(S,apply(H,Dummy_IDi))),pair(apply(H,pair(TIDi,S)),apply(Mul,pair(S,P))))))).
 secret(Dummy_Set_102,subs5,Dummy_Set_103).
 contains(S,Dummy_Set_102).
 contains(RSj,Dummy_Set_103)

step step_4 (RSj,Ui,SKas,H,Mul,Add,Sub,IDi,P,Pubrs,TIDi,S,Dummy_Ri,Dummy_Rs,TSi,Regidi,Dummy_Yi,Dummy_M1,DIDi,Ai,AL,Bi,Zi,Dummy_Fi,Dummy_TIDin,Dummy_TSin,Dummy_M3,Dummy_M4,Dummy_Gi,Dummy_Li,Dummy_M2,Dummy_SKrs,Dummy_Qi,Inc,Set_102,Set_103,Dummy_Set_105,Dummy_Set_106,SID,Ri,Rs,Fi,TIDin,Gi,Li) :=
 state_server(RSj,Ui,SKas,H,Mul,Add,Sub,1,IDi,P,Pubrs,TIDi,S,Dummy_Ri,Dummy_Rs,TSi,Regidi,Dummy_Yi,Dummy_M1,DIDi,Ai,AL,Bi,Zi,Dummy_Fi,Dummy_TIDin,Dummy_TSin,Dummy_M3,Dummy_M4,Dummy_Gi,Dummy_Li,Dummy_M2,Dummy_SKrs,Dummy_Qi,Inc,Set_102,Set_103,Dummy_Set_105,Dummy_Set_106,SID).
 iknows(pair(TIDi,pair(Fi,pair(Gi,pair(Ri,Li)))))
=[exists TIDin,Rs]=>
 state_server(RSj,Ui,SKas,H,Mul,Add,Sub,2,IDi,P,Pubrs,TIDi,S,Ri,Rs,TSi,Regidi,apply(Sub,pair(Dummy_Gi,Regidi)),apply(Mul,pair(Dummy_Rs,P)),DIDi,Ai,AL,Bi,Zi,Fi,TIDin,apply(H,pair(TIDin,S)),xor(apply(H,pair(TIDin,S)),Dummy_SKrs),xor(TIDin,apply(H,IDi)),Gi,Li,apply(Add,pair(Dummy_M1,Regidi)),apply(H,pair(Regidi,pair(apply(Mul,pair(Dummy_Rs,P)),apply(Sub,pair(Dummy_Gi,Regidi))))),apply(H,pair(IDi,pair(Dummy_SKrs,Dummy_M1))),Inc,Set_102,Set_103,Dummy_Set_105,Dummy_Set_106,SID).
 secret(Dummy_Set_105,subs6,Dummy_Set_106).
 iknows(pair(apply(H,pair(IDi,pair(Dummy_SKrs,Dummy_M1))),pair(apply(Add,pair(Dummy_M1,Regidi)),pair(xor(apply(H,pair(TIDin,S)),Dummy_SKrs),xor(TIDin,apply(H,IDi)))))).
 contains(Rs,Dummy_Set_105).
 contains(RSj,Dummy_Set_106)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_server_ti (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_server_ti,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_server_ti,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_server_ti,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_server_ti,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_alice_rs (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_alice_rs,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_alice_rs,MGoal))
     /\ ((request(A1Goal,A2Goal,server_alice_rs,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_alice_rs,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_server_ti (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_server_ti,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_server_ti,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_server_ti (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_server_ti,MGoal,SID1).
 request(A1Goal,A2Goal,alice_server_ti,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_alice_rs (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_alice_rs,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_alice_rs,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_alice_rs (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_alice_rs,MGoal,SID1).
 request(A1Goal,A2Goal,server_alice_rs,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

