%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileBb1NdzJqvw

section signature:

state_registration_center: agent * agent * agent * message * message * message * hash_func * nat * message * message * message * message * message * message * message * message * message * message * message * hash_func * nat -> fact
state_serverj: agent * agent * agent * message * hash_func * nat * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * set(agent) * nat -> fact
state_useri: agent * agent * agent * message * message * message * message * message * message * message * hash_func * nat * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(message) * set(agent) * nat -> fact


section types:

Dummy_Set_81, Dummy_Set_46, ASGoal, Set_81, Set_46: set(agent)
Dummy_Set_38, Set_38: set(message)
s_rc_nrj, s_rc_njr, sec_SK, u_s_nj, sec_id, rc_u_ni: protocol_id
dummy_hash, ha, Sum, Ha: hash_func
Dummy_SIDj, Dummy_C1, Dummy_Ri, Dummy_Bi, Dummy_Hbpw, Dummy_C2, Dummy_Mij1, Dummy_Nrj, Dummy_Mjr, Dummy_Njr, Dummy_SharedKey, Dummy_Mij2, Dummy_Nj, Dummy_C0, Dummy_Di, Dummy_Pij, Dummy_CIDi, Dummy_Qi, Dummy_Ti, Dummy_Ni, Dummy_Ai, dummy_msg, MGoal, xi, yi, rri, idi, pwi, vi, bui, hi, bi, ri, hsidi, x, y, r, id1, pw1, v1, bu1, h1, b1, r1, hsid1, Ni, Ai, Ri, Nrj, Njr, Mjr, Di, C0, C1, C2, SIDj, R, X, Y, Nj, Mij1, Mij2, Ti, Qi, CIDi, Pij, SharedKey, Hbpw, Bi, HSIDjY, start, IDi, PWi, Vi, Hi, B: message
9, 8, 7, 5, SID, 4, Dummy_State, 3, SID2, SID1, State, 2, 1, 0, 20, 19, 17, 15, 13, 12: nat
A2Goal, A1Goal, u, s, rc, U, S, RC, i: agent
set_200, set_198, set_197, set_181, set_162, set_161, set_216, set_214, set_213, set_211, set_209, set_208, set_205, set_204, set_203: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(s).
 iknows(rc).
 iknows(xi).
 iknows(yi).
 iknows(rri).
 iknows(idi).
 iknows(pwi).
 iknows(vi).
 iknows(bui).
 iknows(hi).
 iknows(bi).
 iknows(ri).
 iknows(hsidi).
 iknows(ha).
 iknows(i).
 state_useri(u,s,rc,id1,pw1,v1,bu1,h1,r1,b1,ha,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_161,set_162,3).
 state_serverj(s,u,rc,hsid1,ha,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_181,4).
 state_registration_center(rc,u,s,r,x,y,ha,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,5).
 state_useri(u,s,rc,id1,pw1,v1,bu1,h1,r1,b1,ha,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_197,set_198,7).
 state_serverj(s,u,rc,hsid1,ha,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_200,8).
 state_registration_center(rc,u,s,r,x,y,ha,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,9).
 state_serverj(s,i,rc,hsid1,ha,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_205,12).
 state_registration_center(rc,i,s,r,x,y,ha,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,13).
 state_useri(u,i,rc,id1,pw1,v1,bu1,h1,r1,b1,ha,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_208,set_209,15).
 state_registration_center(rc,u,i,r,x,y,ha,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,17).
 state_useri(u,s,i,id1,pw1,v1,bu1,h1,r1,b1,ha,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_213,set_214,19).
 state_serverj(s,u,i,hsid1,ha,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_216,20)


section rules:

step step_0 (U,S,RC,IDi,PWi,Vi,Bi,Hi,Ri,B,Ha,Dummy_Ai,Dummy_Ni,Nj,Dummy_Ti,Dummy_Qi,Mij1,Mij2,Dummy_CIDi,Dummy_Pij,Dummy_Di,Dummy_C0,SharedKey,SIDj,Sum,Dummy_Set_38,Set_46,SID,Ni) :=
 state_useri(U,S,RC,IDi,PWi,Vi,Bi,Hi,Ri,B,Ha,0,Dummy_Ai,Dummy_Ni,Nj,Dummy_Ti,Dummy_Qi,Mij1,Mij2,Dummy_CIDi,Dummy_Pij,Dummy_Di,Dummy_C0,SharedKey,SIDj,Sum,Dummy_Set_38,Set_46,SID).
 iknows(start)
=[exists Ni]=>
 state_useri(U,S,RC,IDi,PWi,Vi,Bi,Hi,Ri,B,Ha,1,xor(Bi,apply(Ha,xor(B,PWi))),Ni,Nj,xor(Vi,apply(Ha,pair(IDi,xor(B,PWi)))),apply(Ha,pair(Bi,pair(xor(Bi,apply(Ha,xor(B,PWi))),Ni))),Mij1,Mij2,xor(apply(Ha,xor(B,PWi)),apply(Ha,pair(xor(Vi,apply(Ha,pair(IDi,xor(B,PWi)))),pair(xor(Bi,apply(Ha,xor(B,PWi))),Ni)))),xor(xor(Vi,apply(Ha,pair(IDi,xor(B,PWi)))),apply(Ha,pair(xor(Bi,apply(Ha,xor(B,PWi))),pair(Ni,SIDj)))),xor(Ri,xor(SIDj,Ni)),apply(Ha,pair(xor(Bi,apply(Ha,xor(B,PWi))),pair(apply(Sum,Ni),SIDj))),SharedKey,SIDj,Sum,Dummy_Set_38,Set_46,SID).
 iknows(pair(xor(apply(Ha,xor(B,PWi)),apply(Ha,pair(xor(Vi,apply(Ha,pair(IDi,xor(B,PWi)))),pair(xor(Bi,apply(Ha,xor(B,PWi))),Ni)))),pair(xor(xor(Vi,apply(Ha,pair(IDi,xor(B,PWi)))),apply(Ha,pair(xor(Bi,apply(Ha,xor(B,PWi))),pair(Ni,SIDj)))),pair(apply(Ha,pair(Bi,pair(xor(Bi,apply(Ha,xor(B,PWi))),Ni))),pair(xor(Ri,xor(SIDj,Ni)),pair(apply(Ha,pair(xor(Bi,apply(Ha,xor(B,PWi))),pair(apply(Sum,Ni),SIDj))),Ni)))))).
 witness(U,RC,rc_u_ni,Ni).
 secret(Dummy_Set_38,sec_id,U).
 contains(IDi,Dummy_Set_38).
 contains(PWi,Dummy_Set_38)

step step_1 (U,S,RC,IDi,PWi,Vi,Bi,Hi,Ri,B,Ha,Ai,Ni,Dummy_Nj,Ti,Qi,Mij1,Dummy_Mij2,CIDi,Pij,Di,C0,Dummy_SharedKey,SIDj,Sum,Set_38,Dummy_Set_46,SID,Nj) :=
 state_useri(U,S,RC,IDi,PWi,Vi,Bi,Hi,Ri,B,Ha,1,Ai,Ni,Dummy_Nj,Ti,Qi,Mij1,Dummy_Mij2,CIDi,Pij,Di,C0,Dummy_SharedKey,SIDj,Sum,Set_38,Dummy_Set_46,SID).
 iknows(pair(apply(Ha,pair(Bi,pair(Ni,pair(Ai,SIDj)))),Nj))
 =>
 state_useri(U,S,RC,IDi,PWi,Vi,Bi,Hi,Ri,B,Ha,2,Ai,Ni,Nj,Ti,Qi,Mij1,apply(Ha,pair(Bi,pair(Nj,pair(Ai,SIDj)))),CIDi,Pij,Di,C0,apply(Ha,pair(Bi,pair(Ni,pair(Nj,SIDj)))),SIDj,Sum,Set_38,Dummy_Set_46,SID).
 iknows(apply(Ha,pair(Bi,pair(Nj,pair(Ai,SIDj))))).
 request(S,U,u_s_nj,Nj,SID).
 secret(apply(Ha,pair(Bi,pair(Ni,pair(Nj,SIDj)))),sec_SK,Dummy_Set_46).
 contains(U,Dummy_Set_46).
 contains(S,Dummy_Set_46)

step step_2 (S,U,RC,HSIDjY,Ha,Ai,Dummy_Ni,Nj,Dummy_Njr,Nrj,Dummy_Mjr,Mij1,Mij2,Ti,Dummy_Qi,Dummy_CIDi,Dummy_Pij,Dummy_Di,Dummy_C0,C1,C2,SharedKey,Hbpw,Bi,SIDj,Set_81,SID,Ni,Njr,Qi,CIDi,Pij,Di,C0) :=
 state_serverj(S,U,RC,HSIDjY,Ha,0,Ai,Dummy_Ni,Nj,Dummy_Njr,Nrj,Dummy_Mjr,Mij1,Mij2,Ti,Dummy_Qi,Dummy_CIDi,Dummy_Pij,Dummy_Di,Dummy_C0,C1,C2,SharedKey,Hbpw,Bi,SIDj,Set_81,SID).
 iknows(pair(CIDi,pair(Pij,pair(Qi,pair(Di,pair(C0,Ni))))))
=[exists Njr]=>
 state_serverj(S,U,RC,HSIDjY,Ha,1,Ai,Ni,Nj,Njr,Nrj,xor(HSIDjY,Njr),Mij1,Mij2,Ti,Qi,CIDi,Pij,Di,C0,C1,C2,SharedKey,Hbpw,Bi,SIDj,Set_81,SID).
 iknows(pair(xor(HSIDjY,Njr),pair(SIDj,pair(Di,pair(C0,Ni))))).
 witness(S,RC,s_rc_njr,Njr)

step step_3 (S,U,RC,HSIDjY,Ha,Dummy_Ai,Ni,Dummy_Nj,Njr,Dummy_Nrj,Mjr,Dummy_Mij1,Mij2,Dummy_Ti,Qi,CIDi,Pij,Di,C0,C1,Dummy_C2,SharedKey,Dummy_Hbpw,Dummy_Bi,SIDj,Set_81,SID,Nj,Nrj,C2) :=
 state_serverj(S,U,RC,HSIDjY,Ha,1,Dummy_Ai,Ni,Dummy_Nj,Njr,Dummy_Nrj,Mjr,Dummy_Mij1,Mij2,Dummy_Ti,Qi,CIDi,Pij,Di,C0,C1,Dummy_C2,SharedKey,Dummy_Hbpw,Dummy_Bi,SIDj,Set_81,SID).
 iknows(pair(apply(Ha,pair(Njr,pair(HSIDjY,Nrj))),pair(C2,Nrj)))
=[exists Nj]=>
 state_serverj(S,U,RC,HSIDjY,Ha,2,xor(C2,apply(Ha,xor(HSIDjY,Nrj))),Ni,Nj,Njr,Nrj,Mjr,apply(Ha,pair(xor(xor(C2,apply(Ha,xor(HSIDjY,Nrj))),xor(CIDi,apply(Ha,pair(xor(C2,apply(Ha,xor(HSIDjY,Nrj))),pair(xor(Pij,apply(Ha,pair(xor(C2,apply(Ha,xor(HSIDjY,Nrj))),pair(Ni,SIDj)))),Ni))))),pair(Ni,pair(xor(C2,apply(Ha,xor(HSIDjY,Nrj))),SIDj)))),Mij2,xor(Pij,apply(Ha,pair(xor(C2,apply(Ha,xor(HSIDjY,Nrj))),pair(Ni,SIDj)))),Qi,CIDi,Pij,Di,C0,C1,C2,SharedKey,xor(CIDi,apply(Ha,pair(xor(C2,apply(Ha,xor(HSIDjY,Nrj))),pair(xor(Pij,apply(Ha,pair(xor(C2,apply(Ha,xor(HSIDjY,Nrj))),pair(Ni,SIDj)))),Ni)))),xor(xor(C2,apply(Ha,xor(HSIDjY,Nrj))),xor(CIDi,apply(Ha,pair(xor(C2,apply(Ha,xor(HSIDjY,Nrj))),pair(xor(Pij,apply(Ha,pair(xor(C2,apply(Ha,xor(HSIDjY,Nrj))),pair(Ni,SIDj)))),Ni))))),SIDj,Set_81,SID).
 iknows(pair(apply(Ha,pair(xor(xor(C2,apply(Ha,xor(HSIDjY,Nrj))),xor(CIDi,apply(Ha,pair(xor(C2,apply(Ha,xor(HSIDjY,Nrj))),pair(xor(Pij,apply(Ha,pair(xor(C2,apply(Ha,xor(HSIDjY,Nrj))),pair(Ni,SIDj)))),Ni))))),pair(Ni,pair(xor(C2,apply(Ha,xor(HSIDjY,Nrj))),SIDj)))),Nj)).
 witness(S,U,u_s_nj,Nj).
 request(RC,S,s_rc_nrj,Nrj,SID)

step step_4 (S,U,RC,HSIDjY,Ha,Ai,Ni,Nj,Njr,Nrj,Mjr,Mij1,Mij2,Ti,Qi,CIDi,Pij,Di,C0,C1,C2,Dummy_SharedKey,Hbpw,Bi,SIDj,Dummy_Set_81,SID) :=
 state_serverj(S,U,RC,HSIDjY,Ha,2,Ai,Ni,Nj,Njr,Nrj,Mjr,Mij1,Mij2,Ti,Qi,CIDi,Pij,Di,C0,C1,C2,Dummy_SharedKey,Hbpw,Bi,SIDj,Dummy_Set_81,SID).
 iknows(apply(Ha,pair(Bi,pair(Nj,pair(Ai,SIDj)))))
 =>
 state_serverj(S,U,RC,HSIDjY,Ha,3,Ai,Ni,Nj,Njr,Nrj,Mjr,Mij1,Mij2,Ti,Qi,CIDi,Pij,Di,C0,C1,C2,apply(Ha,pair(Bi,pair(Ni,pair(Nj,SIDj)))),Hbpw,Bi,SIDj,Dummy_Set_81,SID).
 secret(apply(Ha,pair(Bi,pair(Ni,pair(Nj,SIDj)))),sec_SK,Dummy_Set_81).
 contains(U,Dummy_Set_81).
 contains(S,Dummy_Set_81)

step step_5 (RC,U,S,R,X,Y,Ha,Dummy_Ni,Dummy_Ai,Dummy_Ri,Dummy_Nrj,Dummy_Njr,Dummy_Mjr,Dummy_Di,C0,Dummy_C1,Dummy_C2,Dummy_SIDj,Sum,SID,Ni,Nrj,Mjr,Di,SIDj) :=
 state_registration_center(RC,U,S,R,X,Y,Ha,0,Dummy_Ni,Dummy_Ai,Dummy_Ri,Dummy_Nrj,Dummy_Njr,Dummy_Mjr,Dummy_Di,C0,Dummy_C1,Dummy_C2,Dummy_SIDj,Sum,SID).
 iknows(pair(Mjr,pair(SIDj,pair(Di,pair(apply(Ha,pair(xor(xor(Di,xor(SIDj,Ni)),apply(Ha,xor(X,R))),pair(apply(Sum,Ni),SIDj))),Ni)))))
=[exists Nrj]=>
 state_registration_center(RC,U,S,R,X,Y,Ha,1,Ni,xor(xor(Di,xor(SIDj,Ni)),apply(Ha,xor(X,R))),xor(Di,xor(SIDj,Ni)),Nrj,xor(Mjr,apply(Ha,pair(SIDj,Y))),Mjr,Di,C0,apply(Ha,pair(xor(Mjr,apply(Ha,pair(SIDj,Y))),pair(apply(Ha,pair(SIDj,Y)),Nrj))),xor(xor(xor(Di,xor(SIDj,Ni)),apply(Ha,xor(X,R))),apply(Ha,xor(apply(Ha,pair(SIDj,Y)),xor(Mjr,apply(Ha,pair(SIDj,Y)))))),SIDj,Sum,SID).
 iknows(pair(apply(Ha,pair(xor(Mjr,apply(Ha,pair(SIDj,Y))),pair(apply(Ha,pair(SIDj,Y)),Nrj))),pair(xor(xor(xor(Di,xor(SIDj,Ni)),apply(Ha,xor(X,R))),apply(Ha,xor(apply(Ha,pair(SIDj,Y)),xor(Mjr,apply(Ha,pair(SIDj,Y)))))),Nrj))).
 request(S,RC,s_rc_njr,xor(Mjr,apply(Ha,pair(SIDj,Y))),SID).
 request(U,RC,rc_u_ni,Ni,SID).
 witness(RC,S,s_rc_nrj,Nrj)


section properties:

property secrecy_of_sec_SK (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_SK,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_id (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_id,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_u_s_nj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,u_s_nj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,u_s_nj,MGoal))
     /\ ((request(A1Goal,A2Goal,u_s_nj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,u_s_nj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_rc_u_ni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,rc_u_ni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,rc_u_ni,MGoal))
     /\ ((request(A1Goal,A2Goal,rc_u_ni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,rc_u_ni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_s_rc_njr (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,s_rc_njr,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,s_rc_njr,MGoal))
     /\ ((request(A1Goal,A2Goal,s_rc_njr,MGoal,SID1)
           /\ request(A1Goal,A2Goal,s_rc_njr,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_s_rc_nrj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,s_rc_nrj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,s_rc_nrj,MGoal))
     /\ ((request(A1Goal,A2Goal,s_rc_nrj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,s_rc_nrj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec_SK (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_SK,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_id (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_id,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_u_s_nj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,u_s_nj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,u_s_nj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_u_s_nj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,u_s_nj,MGoal,SID1).
 request(A1Goal,A2Goal,u_s_nj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_rc_u_ni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,rc_u_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,rc_u_ni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_rc_u_ni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,rc_u_ni,MGoal,SID1).
 request(A1Goal,A2Goal,rc_u_ni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_s_rc_njr (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,s_rc_njr,MGoal,SID) &
 not(witness(A2Goal,A1Goal,s_rc_njr,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_s_rc_njr (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,s_rc_njr,MGoal,SID1).
 request(A1Goal,A2Goal,s_rc_njr,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_s_rc_nrj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,s_rc_nrj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,s_rc_nrj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_s_rc_nrj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,s_rc_nrj,MGoal,SID1).
 request(A1Goal,A2Goal,s_rc_nrj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

