%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile2lTDWL

section signature:

state_role_MR: agent * agent * agent * agent * agent * agent * hash_func * agent * symmetric_key * symmetric_key * text * text * text * text * text * nat * text * text * text * text * text * text * text * text * text * text * message * message * set(agent) * nat -> fact
state_role_MAP1: agent * agent * agent * agent * agent * agent * hash_func * agent * symmetric_key * text * text * text * text * nat * text * text * text * text * symmetric_key * message * text * text * text * symmetric_key * text * text * message * text * text * text * set(agent) * nat -> fact
state_role_CAAA: agent * agent * agent * agent * hash_func * agent * symmetric_key * symmetric_key * symmetric_key * text * nat * message * text * text * text * text * text * symmetric_key * text * text * text * text * text * set(agent) * nat -> fact
state_role_HAAA: agent * agent * agent * agent * agent * agent * hash_func * agent * symmetric_key * symmetric_key * nat * text * text * text * text * text * text * message * message * set(agent) * nat -> fact
state_role_NAAA: agent * agent * agent * agent * agent * agent * agent * hash_func * symmetric_key * symmetric_key * symmetric_key * symmetric_key * nat * symmetric_key * text * text * text * message * text * text * text * text * text * symmetric_key * text * text * message * message * set(agent) * nat -> fact
state_role_AR3: agent * agent * agent * agent * agent * hash_func * agent * symmetric_key * text * text * nat * text * text * message * text * message * text * text * text * nat -> fact
state_role_MAP2: agent * agent * agent * agent * agent * agent * hash_func * agent * symmetric_key * text * nat * message * text * text * text * text * text * symmetric_key * text * nat -> fact


section types:

set_360, set_354, set_347, set_343, set_335: set
State, 9, SID, 8, 7, 6, 5, 4, Dummy_State, 3, SID2, SID1, 2, 1, 0: nat
Ki, KNHAAA, LK, KNAMAP2, KNAAR3, KCNAAA, Dummy_Ki, KCAMAP1, Dummy_LK, dummy_sk, kcnaaa, lk, knaar3, ki, kcamap1, knhaaa, knamap2: symmetric_key
H, h, hash_0: hash_func
Set_187, Dummy_Set_44, Dummy_Set_98, Set_152, Dummy_Set_152, Dummy_Set_212, Dummy_Set_187, ASGoal, Set_98, Set_44, Set_212: set(agent)
sec_nsk, sec_tk, sec_n6, auth_4, auth_3, auth_2, auth_1, sec_n3, sec_nlk: protocol_id
NSK, TK, NLK, Dummy_NLK, Dummy_NSK, Dummy_TK, dummy_msg, MGoal, start: message
NAAA, AR3, MAP2, CAAA, MR, MAP1, HAAA, A2Goal, A1Goal, naaa, ar3, caaa, map1, map2, mr, haaa, i: agent
NID, N1, SIDD, N3, NRCOA, N6, NLCOA, N5, N2, MRid, Dummy_ACK3, Dummy_ACK2, Dummy_MAP1id, Dummy_AR3id, Dummy_ACK1, N4, Dummy_N4, Dummy_BitR, Dummy_BitI, BitR, BitI, Dummy_N5, Dummy_N2, MAP1id, Dummy_MRid, Dummy_NLCOA, Dummy_N1, Dummy_N3, Dummy_SIDD, Dummy_NID, Dummy_NRCOA, Dummy_N6, dummy_nonce, ACK3, ack3, mapID, sid, bitI, flbu, nlcoa, hack, ack2, hi, ar3ID, aaa_auth_rep, ack1, aaa_auth_req, nrcoa, mrID, bitR, AR3id, nid, ACK1, ACK2, flback, lbu, fna, iprtadv, irtsolpr: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(mr).
 iknows(map1).
 iknows(map2).
 iknows(ar3).
 iknows(naaa).
 iknows(i).
 state_role_MAP2(map2,map1,mr,caaa,haaa,ar3,h,naaa,knamap2,ack3,0,dummy_msg,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,3).
 state_role_AR3(ar3,map1,mr,caaa,map2,h,naaa,knaar3,ar3ID,ack1,0,dummy_nonce,dummy_nonce,dummy_msg,dummy_nonce,dummy_msg,dummy_nonce,dummy_nonce,dummy_nonce,4).
 state_role_NAAA(naaa,map1,mr,caaa,haaa,map2,ar3,h,knhaaa,kcnaaa,knaar3,knamap2,0,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,set_335,5).
 state_role_HAAA(haaa,map1,mr,caaa,map2,ar3,h,naaa,knhaaa,ki,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,set_343,6).
 state_role_CAAA(caaa,map1,mr,haaa,h,naaa,lk,kcnaaa,kcamap1,mapID,0,dummy_msg,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_347,7).
 state_role_MAP1(map1,mr,caaa,haaa,map2,ar3,h,naaa,kcamap1,mapID,nlcoa,nrcoa,ack2,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_msg,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_nonce,dummy_nonce,dummy_msg,dummy_nonce,dummy_nonce,dummy_nonce,set_354,8).
 state_role_MR(mr,map1,caaa,haaa,map2,ar3,h,naaa,lk,ki,mrID,bitI,bitR,sid,nid,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,set_360,9)


section rules:

step step_0 (MAP2,MAP1,MR,CAAA,HAAA,AR3,H,NAAA,KNAMAP2,ACK3,Dummy_TK,Dummy_N6,Dummy_NRCOA,Dummy_NID,N3,Dummy_SIDD,LK,N1,SID,TK,N6,NRCOA,NID,SIDD) :=
 state_role_MAP2(MAP2,MAP1,MR,CAAA,HAAA,AR3,H,NAAA,KNAMAP2,ACK3,0,Dummy_TK,Dummy_N6,Dummy_NRCOA,Dummy_NID,N3,Dummy_SIDD,LK,N1,SID).
 iknows(apply(flbu,pair(MAP1,pair(MAP2,pair(SIDD,pair(NID,pair(NRCOA,pair(apply(H,pair(NRCOA,TK)),scrypt(TK,pair(SIDD,N6))))))))))
 =>
 state_role_MAP2(MAP2,MAP1,MR,CAAA,HAAA,AR3,H,NAAA,KNAMAP2,ACK3,1,TK,N6,NRCOA,NID,N3,SIDD,LK,N1,SID).
 iknows(apply(aaa_auth_req,pair(MAP2,pair(NAAA,pair(SIDD,pair(NID,pair(NRCOA,pair(apply(H,pair(NRCOA,TK)),scrypt(TK,pair(SIDD,N6))))))))))

step step_1 (MAP2,MAP1,MR,CAAA,HAAA,AR3,H,NAAA,KNAMAP2,ACK3,TK,N6,NRCOA,NID,Dummy_N3,SIDD,Dummy_LK,Dummy_N1,SID,N3,LK,N1) :=
 state_role_MAP2(MAP2,MAP1,MR,CAAA,HAAA,AR3,H,NAAA,KNAMAP2,ACK3,1,TK,N6,NRCOA,NID,Dummy_N3,SIDD,Dummy_LK,Dummy_N1,SID).
 iknows(apply(aaa_auth_rep,pair(NAAA,pair(MAP2,pair(SIDD,pair(NID,scrypt(KNAMAP2,pair(SIDD,apply(H,pair(SIDD,pair(LK,pair(N3,N1))))))))))))
 =>
 state_role_MAP2(MAP2,MAP1,MR,CAAA,HAAA,AR3,H,NAAA,KNAMAP2,ACK3,2,TK,N6,NRCOA,NID,N3,SIDD,LK,N1,SID).
 iknows(apply(flback,pair(MAP2,pair(MR,apply(H,pair(SIDD,pair(apply(H,pair(SIDD,pair(LK,pair(N3,N1)))),ACK3)))))))

step step_2 (MAP2,MAP1,MR,CAAA,HAAA,AR3,H,NAAA,KNAMAP2,ACK3,TK,N6,NRCOA,NID,N3,SIDD,LK,N1,SID) :=
 state_role_MAP2(MAP2,MAP1,MR,CAAA,HAAA,AR3,H,NAAA,KNAMAP2,ACK3,2,TK,N6,NRCOA,NID,N3,SIDD,LK,N1,SID).
 iknows(apply(lbu,pair(MR,pair(MAP2,apply(H,pair(apply(H,pair(SIDD,pair(LK,pair(N3,N1)))),MR))))))
 =>
 state_role_MAP2(MAP2,MAP1,MR,CAAA,HAAA,AR3,H,NAAA,KNAMAP2,ACK3,3,TK,N6,NRCOA,NID,N3,SIDD,LK,N1,SID)

step step_3 (AR3,MAP1,MR,CAAA,MAP2,H,NAAA,KNAAR3,AR3id,ACK1,Dummy_NLCOA,Dummy_N6,Dummy_TK,Dummy_NID,NSK,MRid,Dummy_SIDD,N3,SID,NLCOA,N6,TK,NID,SIDD) :=
 state_role_AR3(AR3,MAP1,MR,CAAA,MAP2,H,NAAA,KNAAR3,AR3id,ACK1,0,Dummy_NLCOA,Dummy_N6,Dummy_TK,Dummy_NID,NSK,MRid,Dummy_SIDD,N3,SID).
 iknows(apply(hi,pair(MAP1,pair(AR3,pair(SIDD,pair(NID,pair(NLCOA,pair(apply(H,pair(NLCOA,TK)),scrypt(TK,pair(SIDD,N6))))))))))
 =>
 state_role_AR3(AR3,MAP1,MR,CAAA,MAP2,H,NAAA,KNAAR3,AR3id,ACK1,1,NLCOA,N6,TK,NID,NSK,MRid,SIDD,N3,SID).
 iknows(apply(aaa_auth_req,pair(AR3,pair(NAAA,pair(SIDD,pair(NID,pair(NLCOA,pair(apply(H,pair(NLCOA,Dummy_TK)),scrypt(Dummy_TK,pair(SIDD,N6))))))))))

step step_4 (AR3,MAP1,MR,CAAA,MAP2,H,NAAA,KNAAR3,AR3id,ACK1,NLCOA,N6,TK,NID,Dummy_NSK,MRid,SIDD,Dummy_N3,SID,NSK,N3) :=
 state_role_AR3(AR3,MAP1,MR,CAAA,MAP2,H,NAAA,KNAAR3,AR3id,ACK1,1,NLCOA,N6,TK,NID,Dummy_NSK,MRid,SIDD,Dummy_N3,SID).
 iknows(apply(aaa_auth_rep,pair(NAAA,pair(AR3,pair(SIDD,pair(NID,scrypt(KNAAR3,pair(SIDD,pair(NSK,pair(N3,apply(H,pair(SIDD,pair(N6,TK)))))))))))))
 =>
 state_role_AR3(AR3,MAP1,MR,CAAA,MAP2,H,NAAA,KNAAR3,AR3id,ACK1,2,NLCOA,N6,TK,NID,NSK,MRid,SIDD,N3,SID).
 iknows(apply(hack,pair(AR3,pair(MAP1,pair(SIDD,pair(NID,pair(scrypt(NSK,pair(SIDD,pair(N3,AR3id))),apply(H,pair(SIDD,pair(apply(H,pair(SIDD,pair(N6,TK))),ACK1)))))))))).
 witness(AR3,MR,auth_3,scrypt(NSK,pair(SIDD,pair(N3,AR3id))))

step step_5 (AR3,MAP1,MR,CAAA,MAP2,H,NAAA,KNAAR3,AR3id,ACK1,NLCOA,N6,TK,NID,NSK,Dummy_MRid,SIDD,N3,SID,MRid) :=
 state_role_AR3(AR3,MAP1,MR,CAAA,MAP2,H,NAAA,KNAAR3,AR3id,ACK1,2,NLCOA,N6,TK,NID,NSK,Dummy_MRid,SIDD,N3,SID).
 iknows(apply(fna,pair(MR,pair(AR3,scrypt(NSK,pair(SIDD,pair(AR3id,pair(MRid,N3)))))))).
 request(AR3,MR,auth_4,scrypt(NSK,pair(SIDD,pair(AR3id,pair(MRid,N3)))),SID)
 =>
 state_role_AR3(AR3,MAP1,MR,CAAA,MAP2,H,NAAA,KNAAR3,AR3id,ACK1,3,NLCOA,N6,TK,NID,NSK,MRid,SIDD,N3,SID)

step step_6 (NAAA,MAP1,MR,CAAA,HAAA,MAP2,AR3,H,KNHAAA,KCNAAA,KNAAR3,KNAMAP2,Dummy_Ki,Dummy_MRid,Dummy_N2,Dummy_N5,NLK,NLCOA,N6,NRCOA,Dummy_N3,Dummy_SIDD,Dummy_LK,Dummy_N1,Dummy_NID,Dummy_TK,NSK,Set_187,SID,Ki,MRid,N2,N5,N3,SIDD,LK,N1,NID,TK) :=
 state_role_NAAA(NAAA,MAP1,MR,CAAA,HAAA,MAP2,AR3,H,KNHAAA,KCNAAA,KNAAR3,KNAMAP2,0,Dummy_Ki,Dummy_MRid,Dummy_N2,Dummy_N5,NLK,NLCOA,N6,NRCOA,Dummy_N3,Dummy_SIDD,Dummy_LK,Dummy_N1,Dummy_NID,Dummy_TK,NSK,Set_187,SID).
 iknows(apply(aaa_auth_req,pair(CAAA,pair(NAAA,pair(SIDD,pair(NID,pair(N2,pair(N5,pair(apply(H,pair(MRid,pair(SIDD,pair(N2,Ki)))),scrypt(KCNAAA,pair(apply(H,pair(SIDD,pair(LK,pair(N3,N1)))),pair(N3,TK))))))))))))
 =>
 state_role_NAAA(NAAA,MAP1,MR,CAAA,HAAA,MAP2,AR3,H,KNHAAA,KCNAAA,KNAAR3,KNAMAP2,1,Ki,MRid,N2,N5,NLK,NLCOA,N6,NRCOA,N3,SIDD,LK,N1,NID,TK,NSK,Set_187,SID).
 iknows(apply(aaa_auth_req,pair(NAAA,pair(HAAA,pair(SIDD,pair(NID,pair(N1,pair(N2,pair(N5,apply(H,pair(MRid,pair(SIDD,pair(N2,Ki)))))))))))))

step step_7 (NAAA,MAP1,MR,CAAA,HAAA,MAP2,AR3,H,KNHAAA,KCNAAA,KNAAR3,KNAMAP2,Ki,MRid,N2,N5,Dummy_NLK,NLCOA,N6,NRCOA,N3,SIDD,LK,N1,NID,TK,Dummy_NSK,Set_187,SID,NLK) :=
 state_role_NAAA(NAAA,MAP1,MR,CAAA,HAAA,MAP2,AR3,H,KNHAAA,KCNAAA,KNAAR3,KNAMAP2,1,Ki,MRid,N2,N5,Dummy_NLK,NLCOA,N6,NRCOA,N3,SIDD,LK,N1,NID,TK,Dummy_NSK,Set_187,SID).
 iknows(apply(aaa_auth_rep,pair(HAAA,pair(NAAA,pair(SIDD,pair(NID,scrypt(KNHAAA,pair(SIDD,NLK))))))))
 =>
 state_role_NAAA(NAAA,MAP1,MR,CAAA,HAAA,MAP2,AR3,H,KNHAAA,KCNAAA,KNAAR3,KNAMAP2,2,Ki,MRid,N2,N5,NLK,NLCOA,N6,NRCOA,N3,SIDD,LK,N1,NID,TK,apply(H,pair(NLK,pair(N3,SIDD))),Set_187,SID)

step step_8 (NAAA,MAP1,MR,CAAA,HAAA,MAP2,AR3,H,KNHAAA,KCNAAA,KNAAR3,KNAMAP2,Ki,MRid,N2,N5,NLK,Dummy_NLCOA,Dummy_N6,NRCOA,N3,SIDD,LK,N1,NID,Dummy_TK,NSK,Dummy_Set_187,SID,NLCOA,N6,TK) :=
 state_role_NAAA(NAAA,MAP1,MR,CAAA,HAAA,MAP2,AR3,H,KNHAAA,KCNAAA,KNAAR3,KNAMAP2,2,Ki,MRid,N2,N5,NLK,Dummy_NLCOA,Dummy_N6,NRCOA,N3,SIDD,LK,N1,NID,Dummy_TK,NSK,Dummy_Set_187,SID).
 iknows(apply(aaa_auth_req,pair(AR3,pair(NAAA,pair(SIDD,pair(NID,pair(NLCOA,pair(apply(H,pair(NLCOA,TK)),scrypt(TK,pair(SIDD,N6))))))))))
 =>
 state_role_NAAA(NAAA,MAP1,MR,CAAA,HAAA,MAP2,AR3,H,KNHAAA,KCNAAA,KNAAR3,KNAMAP2,3,Ki,MRid,N2,N5,NLK,NLCOA,N6,NRCOA,N3,SIDD,LK,N1,NID,TK,NSK,Dummy_Set_187,SID).
 iknows(apply(aaa_auth_rep,pair(NAAA,pair(AR3,pair(SIDD,pair(NID,scrypt(KNAAR3,pair(SIDD,pair(NSK,pair(N3,apply(H,pair(SIDD,pair(N6,Dummy_TK))))))))))))).
 secret(NSK,sec_nsk,Dummy_Set_187).
 contains(MR,Dummy_Set_187).
 contains(NAAA,Dummy_Set_187).
 contains(AR3,Dummy_Set_187)

step step_9 (NAAA,MAP1,MR,CAAA,HAAA,MAP2,AR3,H,KNHAAA,KCNAAA,KNAAR3,KNAMAP2,Ki,MRid,N2,N5,NLK,NLCOA,N6,Dummy_NRCOA,N3,SIDD,LK,N1,NID,TK,NSK,Set_187,SID,NRCOA) :=
 state_role_NAAA(NAAA,MAP1,MR,CAAA,HAAA,MAP2,AR3,H,KNHAAA,KCNAAA,KNAAR3,KNAMAP2,3,Ki,MRid,N2,N5,NLK,NLCOA,N6,Dummy_NRCOA,N3,SIDD,LK,N1,NID,TK,NSK,Set_187,SID).
 iknows(apply(aaa_auth_req,pair(MAP2,pair(NAAA,pair(SIDD,pair(NID,pair(NRCOA,pair(apply(H,pair(NRCOA,TK)),scrypt(TK,pair(SIDD,N6))))))))))
 =>
 state_role_NAAA(NAAA,MAP1,MR,CAAA,HAAA,MAP2,AR3,H,KNHAAA,KCNAAA,KNAAR3,KNAMAP2,4,Ki,MRid,N2,N5,NLK,NLCOA,N6,NRCOA,N3,SIDD,LK,N1,NID,TK,NSK,Set_187,SID).
 iknows(apply(aaa_auth_rep,pair(NAAA,pair(MAP2,pair(SIDD,pair(NID,scrypt(KNAMAP2,pair(SIDD,apply(H,pair(SIDD,pair(LK,pair(N3,N1))))))))))))

step step_10 (HAAA,MAP1,MR,CAAA,MAP2,AR3,H,NAAA,KNHAAA,Ki,Dummy_MRid,Dummy_N2,Dummy_N1,Dummy_N5,Dummy_SIDD,Dummy_NID,Dummy_NLK,TK,Dummy_Set_212,SID,MRid,N2,N1,N5,SIDD,NID) :=
 state_role_HAAA(HAAA,MAP1,MR,CAAA,MAP2,AR3,H,NAAA,KNHAAA,Ki,0,Dummy_MRid,Dummy_N2,Dummy_N1,Dummy_N5,Dummy_SIDD,Dummy_NID,Dummy_NLK,TK,Dummy_Set_212,SID).
 iknows(apply(aaa_auth_req,pair(NAAA,pair(HAAA,pair(SIDD,pair(NID,pair(N1,pair(N2,pair(N5,apply(H,pair(MRid,pair(SIDD,pair(N2,Ki)))))))))))))
 =>
 state_role_HAAA(HAAA,MAP1,MR,CAAA,MAP2,AR3,H,NAAA,KNHAAA,Ki,1,MRid,N2,N1,N5,SIDD,NID,apply(H,pair(Dummy_SIDD,pair(Ki,Dummy_N5))),TK,Dummy_Set_212,SID).
 iknows(apply(aaa_auth_rep,pair(HAAA,pair(NAAA,pair(SIDD,pair(NID,scrypt(KNHAAA,pair(SIDD,apply(H,pair(Dummy_SIDD,pair(Ki,Dummy_N5))))))))))).
 secret(apply(H,pair(Dummy_SIDD,pair(Ki,Dummy_N5))),sec_nlk,Dummy_Set_212).
 contains(HAAA,Dummy_Set_212).
 contains(NAAA,Dummy_Set_212).
 contains(MR,Dummy_Set_212)

step step_11 (CAAA,MAP1,MR,HAAA,H,NAAA,LK,KCNAAA,KCAMAP1,MAP1id,Dummy_TK,Dummy_BitI,Dummy_BitR,Dummy_N3,Dummy_N1,Dummy_N2,Dummy_Ki,Dummy_SIDD,Dummy_MRid,Dummy_N5,Dummy_N4,Dummy_NID,Dummy_Set_152,SID,BitI,BitR,N3,N1,N2,Ki,SIDD,MRid,N5,N4,NID) :=
 state_role_CAAA(CAAA,MAP1,MR,HAAA,H,NAAA,LK,KCNAAA,KCAMAP1,MAP1id,0,Dummy_TK,Dummy_BitI,Dummy_BitR,Dummy_N3,Dummy_N1,Dummy_N2,Dummy_Ki,Dummy_SIDD,Dummy_MRid,Dummy_N5,Dummy_N4,Dummy_NID,Dummy_Set_152,SID).
 iknows(apply(aaa_auth_req,pair(MAP1,pair(CAAA,pair(N1,pair(N2,pair(SIDD,pair(NID,pair(BitI,pair(BitR,pair(apply(H,pair(BitI,pair(BitR,pair(SIDD,LK)))),pair(scrypt(LK,pair(SIDD,N3)),pair(apply(H,pair(MRid,pair(SIDD,pair(N2,Ki)))),apply(H,pair(MRid,pair(SIDD,pair(N1,LK)))))))))))))))))
=[exists N4,N5]=>
 state_role_CAAA(CAAA,MAP1,MR,HAAA,H,NAAA,LK,KCNAAA,KCAMAP1,MAP1id,1,apply(H,pair(LK,pair(N4,Dummy_SIDD))),BitI,BitR,N3,N1,N2,Ki,SIDD,MRid,N5,N4,NID,Dummy_Set_152,SID).
 witness(CAAA,MR,auth_2,N1).
 secret(Dummy_TK,sec_tk,Dummy_Set_152).
 iknows(apply(aaa_auth_req,pair(CAAA,pair(NAAA,pair(SIDD,pair(NID,pair(N2,pair(N5,pair(apply(H,pair(MRid,pair(SIDD,pair(N2,Ki)))),scrypt(KCNAAA,pair(apply(H,pair(SIDD,pair(LK,pair(N3,N1)))),pair(N3,apply(H,pair(LK,pair(N4,Dummy_SIDD))))))))))))))).
 iknows(apply(aaa_auth_rep,pair(CAAA,pair(MAP1,pair(SIDD,pair(NID,pair(N5,scrypt(KCAMAP1,pair(SIDD,pair(apply(H,pair(MRid,pair(MAP1id,pair(SIDD,pair(N5,LK))))),Dummy_TK)))))))))).
 contains(MAP1,Dummy_Set_152).
 contains(CAAA,Dummy_Set_152).
 contains(NAAA,Dummy_Set_152)

step step_12 (MAP1,MR,CAAA,HAAA,MAP2,AR3,H,NAAA,KCAMAP1,MAP1id,NLCOA,NRCOA,ACK2,Dummy_N1,Dummy_BitI,Dummy_BitR,Dummy_N2,Dummy_Ki,TK,ACK1,N5,Dummy_MRid,Dummy_LK,Dummy_N3,AR3id,NSK,Dummy_SIDD,N6,Dummy_NID,Set_98,SID,N1,BitI,BitR,N2,Ki,MRid,LK,N3,SIDD,NID) :=
 state_role_MAP1(MAP1,MR,CAAA,HAAA,MAP2,AR3,H,NAAA,KCAMAP1,MAP1id,NLCOA,NRCOA,ACK2,0,Dummy_N1,Dummy_BitI,Dummy_BitR,Dummy_N2,Dummy_Ki,TK,ACK1,N5,Dummy_MRid,Dummy_LK,Dummy_N3,AR3id,NSK,Dummy_SIDD,N6,Dummy_NID,Set_98,SID).
 iknows(apply(irtsolpr,pair(MR,pair(MAP1,pair(N1,pair(N2,pair(SIDD,pair(NID,pair(BitI,pair(BitR,pair(apply(H,pair(BitI,pair(BitR,pair(SIDD,LK)))),pair(scrypt(LK,pair(SIDD,N3)),pair(apply(H,pair(MRid,pair(SIDD,pair(N2,Ki)))),apply(H,pair(MRid,pair(SIDD,pair(N1,LK))))))))))))))))).
 request(CAAA,MR,auth_1,apply(H,pair(MRid,pair(SIDD,pair(N1,LK)))),SID)
 =>
 state_role_MAP1(MAP1,MR,CAAA,HAAA,MAP2,AR3,H,NAAA,KCAMAP1,MAP1id,NLCOA,NRCOA,ACK2,1,N1,BitI,BitR,N2,Ki,TK,ACK1,N5,MRid,LK,N3,AR3id,NSK,SIDD,N6,NID,Set_98,SID).
 iknows(apply(aaa_auth_req,pair(MAP1,pair(CAAA,pair(N1,pair(N2,pair(SIDD,pair(NID,pair(BitI,pair(BitR,pair(apply(H,pair(BitI,pair(BitR,pair(SIDD,LK)))),pair(scrypt(LK,pair(SIDD,N3)),pair(apply(H,pair(MRid,pair(SIDD,pair(N2,Ki)))),apply(H,pair(MRid,pair(SIDD,pair(N1,LK)))))))))))))))))

step step_13 (MAP1,MR,CAAA,HAAA,MAP2,AR3,H,NAAA,KCAMAP1,MAP1id,NLCOA,NRCOA,ACK2,N1,BitI,BitR,N2,Ki,TK,ACK1,Dummy_N5,MRid,LK,N3,AR3id,NSK,SIDD,Dummy_N6,NID,Dummy_Set_98,SID,N5,N6) :=
 state_role_MAP1(MAP1,MR,CAAA,HAAA,MAP2,AR3,H,NAAA,KCAMAP1,MAP1id,NLCOA,NRCOA,ACK2,1,N1,BitI,BitR,N2,Ki,TK,ACK1,Dummy_N5,MRid,LK,N3,AR3id,NSK,SIDD,Dummy_N6,NID,Dummy_Set_98,SID).
 iknows(apply(aaa_auth_rep,pair(CAAA,pair(MAP1,pair(SIDD,pair(NID,pair(N5,scrypt(KCAMAP1,pair(SIDD,pair(apply(H,pair(MRid,pair(MAP1id,pair(SIDD,pair(N5,LK))))),TK))))))))))
=[exists N6]=>
 state_role_MAP1(MAP1,MR,CAAA,HAAA,MAP2,AR3,H,NAAA,KCAMAP1,MAP1id,NLCOA,NRCOA,ACK2,2,N1,BitI,BitR,N2,Ki,TK,ACK1,N5,MRid,LK,N3,AR3id,NSK,SIDD,N6,NID,Dummy_Set_98,SID).
 iknows(apply(iprtadv,pair(MAP1,pair(MR,pair(SIDD,pair(NID,pair(NLCOA,pair(NRCOA,pair(N5,apply(H,pair(apply(H,pair(MRid,pair(MAP1id,pair(SIDD,pair(N5,LK))))),pair(NLCOA,NRCOA)))))))))))).
 witness(CAAA,MR,auth_2,apply(H,pair(MRid,pair(MAP1id,pair(SIDD,pair(N5,LK)))))).
 secret(Dummy_N6,sec_n6,Dummy_Set_98).
 iknows(apply(hi,pair(MAP1,pair(AR3,pair(SIDD,pair(NID,pair(NLCOA,pair(apply(H,pair(NLCOA,TK)),scrypt(TK,pair(SIDD,N6)))))))))).
 contains(MAP1,Dummy_Set_98).
 contains(NAAA,Dummy_Set_98).
 contains(CAAA,Dummy_Set_98)

step step_14 (MAP1,MR,CAAA,HAAA,MAP2,AR3,H,NAAA,KCAMAP1,MAP1id,NLCOA,NRCOA,ACK2,N1,BitI,BitR,N2,Ki,TK,Dummy_ACK1,N5,MRid,LK,N3,Dummy_AR3id,Dummy_NSK,SIDD,N6,NID,Set_98,SID,ACK1,AR3id,NSK) :=
 state_role_MAP1(MAP1,MR,CAAA,HAAA,MAP2,AR3,H,NAAA,KCAMAP1,MAP1id,NLCOA,NRCOA,ACK2,2,N1,BitI,BitR,N2,Ki,TK,Dummy_ACK1,N5,MRid,LK,N3,Dummy_AR3id,Dummy_NSK,SIDD,N6,NID,Set_98,SID).
 iknows(apply(hack,pair(AR3,pair(MAP1,pair(SIDD,pair(NID,pair(scrypt(NSK,pair(SIDD,pair(N3,AR3id))),apply(H,pair(SIDD,pair(apply(H,pair(SIDD,pair(N6,TK))),ACK1))))))))))
 =>
 state_role_MAP1(MAP1,MR,CAAA,HAAA,MAP2,AR3,H,NAAA,KCAMAP1,MAP1id,NLCOA,NRCOA,ACK2,3,N1,BitI,BitR,N2,Ki,TK,ACK1,N5,MRid,LK,N3,AR3id,NSK,SIDD,N6,NID,Set_98,SID).
 iknows(apply(flback,pair(MAP1,pair(MR,pair(SIDD,pair(NID,pair(scrypt(Dummy_NSK,pair(SIDD,pair(AR3id,N3))),apply(H,pair(SIDD,pair(apply(H,pair(MRid,pair(MAP1id,pair(SIDD,pair(N5,LK))))),ACK2)))))))))).
 iknows(apply(flbu,pair(MAP1,pair(MAP2,pair(SIDD,pair(NID,pair(NRCOA,pair(apply(H,pair(NRCOA,TK)),scrypt(TK,pair(SIDD,N6))))))))))

step step_15 (MR,MAP1,CAAA,HAAA,MAP2,AR3,H,NAAA,LK,Ki,MRid,BitI,BitR,SIDD,NID,Dummy_N2,NRCOA,NLCOA,ACK2,N5,MAP1id,ACK3,AR3id,Dummy_N3,Dummy_N1,NLK,NSK,Dummy_Set_44,SID,N2,N3,N1) :=
 state_role_MR(MR,MAP1,CAAA,HAAA,MAP2,AR3,H,NAAA,LK,Ki,MRid,BitI,BitR,SIDD,NID,0,Dummy_N2,NRCOA,NLCOA,ACK2,N5,MAP1id,ACK3,AR3id,Dummy_N3,Dummy_N1,NLK,NSK,Dummy_Set_44,SID).
 iknows(start)
=[exists N3,N2,N1]=>
 state_role_MR(MR,MAP1,CAAA,HAAA,MAP2,AR3,H,NAAA,LK,Ki,MRid,BitI,BitR,SIDD,NID,1,N2,NRCOA,NLCOA,ACK2,N5,MAP1id,ACK3,AR3id,N3,N1,NLK,NSK,Dummy_Set_44,SID).
 secret(Dummy_N3,sec_n3,Dummy_Set_44).
 iknows(apply(irtsolpr,pair(MR,pair(MAP1,pair(N1,pair(N2,pair(SIDD,pair(NID,pair(BitI,pair(BitR,pair(apply(H,pair(BitI,pair(BitR,pair(SIDD,LK)))),pair(scrypt(LK,pair(SIDD,N3)),pair(apply(H,pair(MRid,pair(SIDD,pair(N2,Ki)))),apply(H,pair(MRid,pair(SIDD,pair(N1,LK))))))))))))))))).
 witness(MR,CAAA,auth_1,apply(H,pair(MRid,pair(SIDD,pair(N1,LK))))).
 contains(MR,Dummy_Set_44).
 contains(NAAA,Dummy_Set_44).
 contains(CAAA,Dummy_Set_44).
 contains(AR3,Dummy_Set_44)

step step_16 (MR,MAP1,CAAA,HAAA,MAP2,AR3,H,NAAA,LK,Ki,MRid,BitI,BitR,SIDD,NID,N2,Dummy_NRCOA,Dummy_NLCOA,ACK2,Dummy_N5,Dummy_MAP1id,ACK3,AR3id,N3,N1,NLK,NSK,Set_44,SID,NRCOA,NLCOA,N5,MAP1id) :=
 state_role_MR(MR,MAP1,CAAA,HAAA,MAP2,AR3,H,NAAA,LK,Ki,MRid,BitI,BitR,SIDD,NID,1,N2,Dummy_NRCOA,Dummy_NLCOA,ACK2,Dummy_N5,Dummy_MAP1id,ACK3,AR3id,N3,N1,NLK,NSK,Set_44,SID).
 iknows(apply(iprtadv,pair(MAP1,pair(MR,pair(SIDD,pair(NID,pair(NLCOA,pair(NRCOA,pair(N5,apply(H,pair(apply(H,pair(MRid,pair(MAP1id,pair(SIDD,pair(N5,LK))))),pair(NLCOA,NRCOA)))))))))))).
 request(MR,CAAA,auth_2,apply(H,pair(MRid,pair(MAP1id,pair(SIDD,pair(N5,LK))))),SID)
 =>
 state_role_MR(MR,MAP1,CAAA,HAAA,MAP2,AR3,H,NAAA,LK,Ki,MRid,BitI,BitR,SIDD,NID,2,N2,NRCOA,NLCOA,ACK2,N5,MAP1id,ACK3,AR3id,N3,N1,NLK,NSK,Set_44,SID)

step step_17 (MR,MAP1,CAAA,HAAA,MAP2,AR3,H,NAAA,LK,Ki,MRid,BitI,BitR,SIDD,NID,N2,NRCOA,NLCOA,Dummy_ACK2,N5,MAP1id,ACK3,Dummy_AR3id,N3,N1,NLK,Dummy_NSK,Set_44,SID,ACK2,AR3id,NSK) :=
 state_role_MR(MR,MAP1,CAAA,HAAA,MAP2,AR3,H,NAAA,LK,Ki,MRid,BitI,BitR,SIDD,NID,2,N2,NRCOA,NLCOA,Dummy_ACK2,N5,MAP1id,ACK3,Dummy_AR3id,N3,N1,NLK,Dummy_NSK,Set_44,SID).
 iknows(apply(flback,pair(MAP1,pair(MR,pair(SIDD,pair(NID,pair(scrypt(NSK,pair(SIDD,pair(AR3id,N3))),apply(H,pair(SIDD,pair(apply(H,pair(MRid,pair(MAP1id,pair(SIDD,pair(N5,LK))))),ACK2)))))))))).
 request(MR,AR3,auth_3,scrypt(Dummy_NSK,pair(SIDD,pair(AR3id,N3))),SID)
 =>
 state_role_MR(MR,MAP1,CAAA,HAAA,MAP2,AR3,H,NAAA,LK,Ki,MRid,BitI,BitR,SIDD,NID,3,N2,NRCOA,NLCOA,ACK2,N5,MAP1id,ACK3,AR3id,N3,N1,NLK,NSK,Set_44,SID)

step step_18 (MR,MAP1,CAAA,HAAA,MAP2,AR3,H,NAAA,LK,Ki,MRid,BitI,BitR,SIDD,NID,N2,NRCOA,NLCOA,ACK2,N5,MAP1id,Dummy_ACK3,AR3id,N3,N1,NLK,NSK,Set_44,SID,ACK3) :=
 state_role_MR(MR,MAP1,CAAA,HAAA,MAP2,AR3,H,NAAA,LK,Ki,MRid,BitI,BitR,SIDD,NID,3,N2,NRCOA,NLCOA,ACK2,N5,MAP1id,Dummy_ACK3,AR3id,N3,N1,NLK,NSK,Set_44,SID).
 iknows(apply(flback,pair(MAP2,pair(MR,apply(H,pair(SIDD,pair(apply(H,pair(SIDD,pair(LK,pair(N3,N1)))),ACK3)))))))
 =>
 state_role_MR(MR,MAP1,CAAA,HAAA,MAP2,AR3,H,NAAA,LK,Ki,MRid,BitI,BitR,SIDD,NID,4,N2,NRCOA,NLCOA,ACK2,N5,MAP1id,ACK3,AR3id,N3,N1,NLK,NSK,Set_44,SID).
 iknows(apply(fna,pair(MR,pair(AR3,scrypt(NSK,pair(SIDD,pair(AR3id,pair(MRid,N3)))))))).
 witness(MR,AR3,auth_4,scrypt(NSK,pair(SIDD,pair(AR3id,pair(MRid,N3))))).
 iknows(apply(lbu,pair(MR,pair(MAP2,apply(H,pair(apply(H,pair(SIDD,pair(LK,pair(N3,N1)))),MR))))))


section properties:

property authentication_on_auth_1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth_1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth_1,MGoal))
     /\ ((request(A1Goal,A2Goal,auth_1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth_1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_auth_2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth_2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth_2,MGoal))
     /\ ((request(A1Goal,A2Goal,auth_2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth_2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_auth_3 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth_3,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth_3,MGoal))
     /\ ((request(A1Goal,A2Goal,auth_3,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth_3,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_auth_4 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth_4,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth_4,MGoal))
     /\ ((request(A1Goal,A2Goal,auth_4,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth_4,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property secrecy_of_sec_nsk (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_nsk,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_tk (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_tk,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_nlk (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_nlk,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_n3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_n3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_n6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_n6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state authentication_on_auth_1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth_1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth_1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth_1,MGoal,SID1).
 request(A1Goal,A2Goal,auth_1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_auth_2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth_2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth_2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth_2,MGoal,SID1).
 request(A1Goal,A2Goal,auth_2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_auth_3 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth_3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_3,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth_3 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth_3,MGoal,SID1).
 request(A1Goal,A2Goal,auth_3,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_auth_4 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth_4,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_4,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth_4 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth_4,MGoal,SID1).
 request(A1Goal,A2Goal,auth_4,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state secrecy_of_sec_nsk (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_nsk,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_tk (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_tk,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_nlk (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_nlk,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_n3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_n3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_n6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_n6,ASGoal) &
 not(contains(i,ASGoal))

