%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilerj6ngD

section signature:

state_reader: agent * agent * text * text * text * text * text * text * text * message * message * message * message * message * message * nat * set(agent) * nat -> fact
state_tag: agent * agent * text * text * text * text * text * text * text * message * message * message * message * message * message * nat * set(agent) * nat -> fact


section types:

authid, idtag, authk1: protocol_id
4, SID, Dummy_State, 3, 5, 1, State, 6, 2, 0: nat
set_97, set_89, set_108, set_106: set
Dummy_Set_57, ASGoal, Set_57, Set_31, Dummy_Set_31: set(agent)
r, t, R, T, i: agent
Dummy_N2, Dummy_N1, dummy_msg, MGoal, N1, N2, A, B, C, D, start, Dummy_C, Dummy_B, Dummy_A: message
dummy_nonce, hello, k1, k2, k3, k4, ki1, ki2, ki3, ki4, ident, identi, ids, Hello, K1, K2, K3, K4, IDen, IDS, Dummy_IDS: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(r).
 iknows(t).
 iknows(hello).
 iknows(ki1).
 iknows(ki2).
 iknows(ki3).
 iknows(ki4).
 iknows(identi).
 iknows(i).
 state_tag(t,r,hello,k1,k2,k3,k4,ident,ids,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,1,set_89,3).
 state_reader(r,t,hello,k1,k2,k3,k4,ident,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,0,set_97,4).
 state_tag(t,i,hello,k1,k2,k3,k4,ident,ids,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,1,set_106,6)


section rules:

step step_0 (T,R,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,Set_57,SID) :=
 state_tag(T,R,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,1,Set_57,SID).
 iknows(Hello)
 =>
 state_tag(T,R,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,3,Set_57,SID).
 iknows(IDS)

step step_1 (T,R,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,Dummy_N1,Dummy_N2,Dummy_Set_57,SID,N1,N2) :=
 state_tag(T,R,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,Dummy_N1,Dummy_N2,3,Dummy_Set_57,SID).
 iknows(pair(xor(xor(IDS,K1),N1),pair(xor(xor(IDS,K2),N1),xor(xor(IDS,K3),N2))))
 =>
 state_tag(T,R,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,5,Dummy_Set_57,SID).
 iknows(xor(xor(xor(IDS,IDen),xor(xor(xor(xor(IDS,K1),N1),IDS),K1)),xor(xor(xor(xor(IDS,K3),N2),IDS),K3))).
 secret(IDen,idtag,Dummy_Set_57).
 contains(R,Dummy_Set_57).
 contains(T,Dummy_Set_57)

step step_2 (R,T,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,Set_31,SID) :=
 state_reader(R,T,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,0,Set_31,SID).
 iknows(start)
 =>
 state_reader(R,T,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,2,Set_31,SID).
 iknows(Hello)

step step_3 (R,T,Hello,K1,K2,K3,K4,IDen,Dummy_IDS,Dummy_A,Dummy_B,Dummy_C,D,Dummy_N1,Dummy_N2,Set_31,SID,IDS,N1,N2) :=
 state_reader(R,T,Hello,K1,K2,K3,K4,IDen,Dummy_IDS,Dummy_A,Dummy_B,Dummy_C,D,Dummy_N1,Dummy_N2,2,Set_31,SID).
 iknows(IDS)
=[exists N2,N1]=>
 state_reader(R,T,Hello,K1,K2,K3,K4,IDen,IDS,xor(xor(IDS,K1),N1),xor(xor(IDS,K2),N1),xor(xor(IDS,K3),N2),D,N1,N2,4,Set_31,SID).
 iknows(pair(xor(xor(IDS,K1),N1),pair(xor(xor(IDS,K2),N1),xor(xor(IDS,K3),N2))))

step step_4 (R,T,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,Dummy_Set_31,SID) :=
 state_reader(R,T,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,4,Dummy_Set_31,SID).
 iknows(xor(xor(xor(IDS,IDen),N1),N2))
 =>
 state_reader(R,T,Hello,K1,K2,K3,K4,IDen,IDS,A,B,C,D,N1,N2,6,Dummy_Set_31,SID).
 secret(IDen,idtag,Dummy_Set_31).
 contains(R,Dummy_Set_31).
 contains(T,Dummy_Set_31)


section properties:

property secrecy_of_idtag (MGoal,ASGoal) :=
 [] ((secret(MGoal,idtag,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state secrecy_of_idtag (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,idtag,ASGoal) &
 not(contains(i,ASGoal))

