%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileJs6x6U

section signature:

state_sdDest: agent * agent * public_key * public_key * public_key * nat * text * public_key * nat -> fact
state_dest: agent * agent * agent * agent * public_key * public_key * public_key * public_key * symmetric_key * nat * text * text * message * message * message * public_key * nat -> fact
state_sp: agent * agent * public_key * public_key * nat * message * message * text * public_key * public_key * public_key * public_key * public_key * nat -> fact
state_teeAdmin: agent * agent * agent * agent * public_key * public_key * public_key * public_key * nat * message * message * message * text * public_key * public_key * nat -> fact
state_src: agent * agent * agent * agent * agent * public_key * public_key * public_key * public_key * public_key * symmetric_key * nat * text * text * message * public_key * nat -> fact
state_sdSrc: agent * agent * agent * agent * public_key * public_key * public_key * public_key * text * nat * text * public_key * set(agent) * nat -> fact


section types:

set_184, set_178, set_156: set
SK, sk: symmetric_key
Dummy_Set_24, ASGoal, Set_24: set(agent)
transfer: protocol_id
SDCreate, Ack, Param, dummy_msg, MGoal, start: message
TimeStamp, EncSD, Dummy_TimeStamp, Dummy_EncSD, dummy_nonce, sdcred, SDCred: text
State, 22, 21, 20, 18, 17, 15, 14, 13, 12, 10, 8, SID, 7, 6, 5, 4, 3, Dummy_State, 2, 1, 0: nat
KProxy, PKDesTEE, PKTEEAdmin, PKSP, PKSDdest, PKSrcTEE, PKSDsrc, Dummy_KProxy, Dummy_PKSDdest, dummy_pk, pksdsrc, pksddest, pksrctee, pkdestee, pkteeadmin, pksp, ki: public_key
SrcTEE, DesTEE, TEEAdmin, SDDest, SP, sdsrc, sddest, srctee, destee, teeadmin, spagent, SDsrc, SDdest, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(srctee).
 iknows(destee).
 iknows(teeadmin).
 iknows(spagent).
 iknows(pksrctee).
 iknows(pkdestee).
 iknows(pkteeadmin).
 iknows(pksp).
 iknows(ki).
 iknows(inv(ki)).
 iknows(i).
 state_sdSrc(sdsrc,srctee,sddest,spagent,pksrctee,pksdsrc,pksddest,pksp,sdcred,0,dummy_nonce,dummy_pk,set_156,3).
 state_src(srctee,sdsrc,destee,teeadmin,spagent,pksrctee,pksdsrc,pkdestee,pkteeadmin,pksp,sk,0,dummy_nonce,dummy_nonce,dummy_msg,dummy_pk,4).
 state_teeAdmin(teeadmin,srctee,destee,spagent,pksrctee,pkdestee,pkteeadmin,pksp,0,dummy_msg,dummy_msg,dummy_msg,dummy_nonce,dummy_pk,dummy_pk,5).
 state_sp(spagent,teeadmin,pkteeadmin,pksp,0,dummy_msg,dummy_msg,dummy_nonce,dummy_pk,dummy_pk,dummy_pk,dummy_pk,dummy_pk,6).
 state_dest(destee,srctee,teeadmin,sddest,pkdestee,pkteeadmin,pksp,pksddest,sk,0,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_pk,7).
 state_sdDest(sddest,destee,pkdestee,pksdsrc,pksddest,0,dummy_nonce,dummy_pk,8).
 state_sdSrc(sdsrc,i,sddest,spagent,pksrctee,pksdsrc,pksddest,pksp,sdcred,0,dummy_nonce,dummy_pk,set_178,10).
 state_teeAdmin(teeadmin,i,destee,spagent,pksrctee,pkdestee,pkteeadmin,pksp,0,dummy_msg,dummy_msg,dummy_msg,dummy_nonce,dummy_pk,dummy_pk,12).
 state_sp(spagent,teeadmin,pkteeadmin,pksp,0,dummy_msg,dummy_msg,dummy_nonce,dummy_pk,dummy_pk,dummy_pk,dummy_pk,dummy_pk,13).
 state_dest(destee,i,teeadmin,sddest,pkdestee,pkteeadmin,pksp,pksddest,sk,0,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_pk,14).
 state_sdDest(sddest,destee,pkdestee,pksdsrc,pksddest,0,dummy_nonce,dummy_pk,15).
 state_sdSrc(sdsrc,srctee,sddest,spagent,pksrctee,pksdsrc,pksddest,pksp,sdcred,0,dummy_nonce,dummy_pk,set_184,17).
 state_src(srctee,sdsrc,destee,i,spagent,pksrctee,pksdsrc,pkdestee,pkteeadmin,pksp,sk,0,dummy_nonce,dummy_nonce,dummy_msg,dummy_pk,18).
 state_sp(spagent,i,pkteeadmin,pksp,0,dummy_msg,dummy_msg,dummy_nonce,dummy_pk,dummy_pk,dummy_pk,dummy_pk,dummy_pk,20).
 state_dest(destee,srctee,i,sddest,pkdestee,pkteeadmin,pksp,pksddest,sk,0,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_pk,21).
 state_sdDest(sddest,destee,pkdestee,pksdsrc,pksddest,0,dummy_nonce,dummy_pk,22)


section rules:

step step_0 (SDsrc,SrcTEE,SDdest,SP,PKSrcTEE,PKSDsrc,PKSDdest,PKSP,SDCred,Dummy_EncSD,KProxy,Set_24,SID) :=
 state_sdSrc(SDsrc,SrcTEE,SDdest,SP,PKSrcTEE,PKSDsrc,PKSDdest,PKSP,SDCred,0,Dummy_EncSD,KProxy,Set_24,SID).
 iknows(start)
 =>
 state_sdSrc(SDsrc,SrcTEE,SDdest,SP,PKSrcTEE,PKSDsrc,PKSDdest,PKSP,SDCred,1,crypt(PKSDsrc,SDCred),KProxy,Set_24,SID)

step step_1 (SDsrc,SrcTEE,SDdest,SP,PKSrcTEE,PKSDsrc,PKSDdest,PKSP,SDCred,EncSD,KProxy,Dummy_Set_24,SID) :=
 state_sdSrc(SDsrc,SrcTEE,SDdest,SP,PKSrcTEE,PKSDsrc,PKSDdest,PKSP,SDCred,1,EncSD,KProxy,Dummy_Set_24,SID)
 =>
 state_sdSrc(SDsrc,SrcTEE,SDdest,SP,PKSrcTEE,PKSDsrc,PKSDdest,PKSP,SDCred,1,EncSD,KProxy,Dummy_Set_24,SID).
 iknows(EncSD).
 idequal(crypt(KProxy,EncSD),crypt(PKSDdest,SDCred)).
 secret(SDCred,transfer,Dummy_Set_24).
 contains(SDsrc,Dummy_Set_24).
 contains(SP,Dummy_Set_24).
 contains(SDdest,Dummy_Set_24)

step step_2 (SrcTEE,SDsrc,DesTEE,TEEAdmin,SP,PKSrcTEE,PKSDsrc,PKDesTEE,PKTEEAdmin,PKSP,SK,Dummy_TimeStamp,EncSD,Ack,KProxy,SID,TimeStamp) :=
 state_src(SrcTEE,SDsrc,DesTEE,TEEAdmin,SP,PKSrcTEE,PKSDsrc,PKDesTEE,PKTEEAdmin,PKSP,SK,0,Dummy_TimeStamp,EncSD,Ack,KProxy,SID).
 iknows(EncSD)
=[exists TimeStamp]=>
 state_src(SrcTEE,SDsrc,DesTEE,TEEAdmin,SP,PKSrcTEE,PKSDsrc,PKDesTEE,PKTEEAdmin,PKSP,SK,1,TimeStamp,EncSD,Ack,KProxy,SID).
 iknows(pair(SrcTEE,pair(TEEAdmin,pair(PKSP,pair(PKSDsrc,pair(PKSrcTEE,pair(PKDesTEE,crypt(inv(PKSrcTEE),pair(PKSP,pair(PKSDsrc,pair(PKSrcTEE,pair(PKDesTEE,TimeStamp))))))))))))

step step_3 (SrcTEE,SDsrc,DesTEE,TEEAdmin,SP,PKSrcTEE,PKSDsrc,PKDesTEE,PKTEEAdmin,PKSP,SK,TimeStamp,EncSD,Ack,KProxy,SID) :=
 state_src(SrcTEE,SDsrc,DesTEE,TEEAdmin,SP,PKSrcTEE,PKSDsrc,PKDesTEE,PKTEEAdmin,PKSP,SK,1,TimeStamp,EncSD,Ack,KProxy,SID).
 iknows(pair(SrcTEE,pair(TEEAdmin,pair(KProxy,pair(crypt(inv(PKSP),pair(PKSP,pair(PKSrcTEE,PKDesTEE))),crypt(inv(PKTEEAdmin),pair(KProxy,crypt(inv(PKSP),pair(PKSP,pair(PKSrcTEE,pair(PKDesTEE,TimeStamp)))))))))))
 =>
 state_src(SrcTEE,SDsrc,DesTEE,TEEAdmin,SP,PKSrcTEE,PKSDsrc,PKDesTEE,PKTEEAdmin,PKSP,SK,2,TimeStamp,EncSD,Ack,KProxy,SID)

step step_4 (SrcTEE,SDsrc,DesTEE,TEEAdmin,SP,PKSrcTEE,PKSDsrc,PKDesTEE,PKTEEAdmin,PKSP,SK,TimeStamp,EncSD,Ack,KProxy,SID) :=
 state_src(SrcTEE,SDsrc,DesTEE,TEEAdmin,SP,PKSrcTEE,PKSDsrc,PKDesTEE,PKTEEAdmin,PKSP,SK,2,TimeStamp,EncSD,Ack,KProxy,SID).
 iknows(pair(SrcTEE,pair(DesTEE,scrypt(SK,pair(crypt(KProxy,EncSD),PKSP)))))
 =>
 state_src(SrcTEE,SDsrc,DesTEE,TEEAdmin,SP,PKSrcTEE,PKSDsrc,PKDesTEE,PKTEEAdmin,PKSP,SK,2,TimeStamp,EncSD,Ack,KProxy,SID).
 iknows(scrypt(SK,pair(SrcTEE,pair(DesTEE,pair(Ack,TimeStamp)))))

step step_5 (TEEAdmin,SrcTEE,DesTEE,SP,PKSrcTEE,PKDesTEE,PKTEEAdmin,PKSP,SDCreate,Param,Ack,TimeStamp,PKSDsrc,KProxy,SID) :=
 state_teeAdmin(TEEAdmin,SrcTEE,DesTEE,SP,PKSrcTEE,PKDesTEE,PKTEEAdmin,PKSP,0,SDCreate,Param,Ack,TimeStamp,PKSDsrc,KProxy,SID).
 iknows(pair(TEEAdmin,pair(SrcTEE,pair(PKSP,pair(PKSDsrc,pair(PKSrcTEE,pair(PKDesTEE,crypt(inv(PKSrcTEE),pair(PKSP,pair(PKSDsrc,pair(PKSrcTEE,pair(PKDesTEE,TimeStamp))))))))))))
 =>
 state_teeAdmin(TEEAdmin,SrcTEE,DesTEE,SP,PKSrcTEE,PKDesTEE,PKTEEAdmin,PKSP,1,SDCreate,Param,Ack,TimeStamp,PKSDsrc,KProxy,SID).
 iknows(pair(TEEAdmin,pair(SP,pair(PKSDsrc,pair(PKSrcTEE,PKDesTEE)))))

step step_6 (TEEAdmin,SrcTEE,DesTEE,SP,PKSrcTEE,PKDesTEE,PKTEEAdmin,PKSP,SDCreate,Param,Ack,Dummy_TimeStamp,PKSDsrc,KProxy,SID,TimeStamp) :=
 state_teeAdmin(TEEAdmin,SrcTEE,DesTEE,SP,PKSrcTEE,PKDesTEE,PKTEEAdmin,PKSP,1,SDCreate,Param,Ack,Dummy_TimeStamp,PKSDsrc,KProxy,SID).
 iknows(pair(TEEAdmin,pair(SP,pair(SDCreate,PKDesTEE))))
=[exists TimeStamp]=>
 state_teeAdmin(TEEAdmin,SrcTEE,DesTEE,SP,PKSrcTEE,PKDesTEE,PKTEEAdmin,PKSP,2,SDCreate,Param,Ack,TimeStamp,PKSDsrc,KProxy,SID).
 iknows(pair(TEEAdmin,pair(DesTEE,pair(SDCreate,crypt(inv(PKTEEAdmin),pair(SDCreate,TimeStamp))))))

step step_7 (TEEAdmin,SrcTEE,DesTEE,SP,PKSrcTEE,PKDesTEE,PKTEEAdmin,PKSP,SDCreate,Param,Ack,TimeStamp,PKSDsrc,KProxy,SID) :=
 state_teeAdmin(TEEAdmin,SrcTEE,DesTEE,SP,PKSrcTEE,PKDesTEE,PKTEEAdmin,PKSP,2,SDCreate,Param,Ack,TimeStamp,PKSDsrc,KProxy,SID).
 iknows(pair(TEEAdmin,pair(DesTEE,pair(Ack,pair(Param,crypt(inv(PKDesTEE),pair(Ack,pair(Param,TimeStamp))))))))
 =>
 state_teeAdmin(TEEAdmin,SrcTEE,DesTEE,SP,PKSrcTEE,PKDesTEE,PKTEEAdmin,PKSP,3,SDCreate,Param,Ack,TimeStamp,PKSDsrc,KProxy,SID).
 iknows(pair(TEEAdmin,pair(SP,Param)))

step step_8 (TEEAdmin,SrcTEE,DesTEE,SP,PKSrcTEE,PKDesTEE,PKTEEAdmin,PKSP,SDCreate,Param,Ack,TimeStamp,PKSDsrc,KProxy,SID) :=
 state_teeAdmin(TEEAdmin,SrcTEE,DesTEE,SP,PKSrcTEE,PKDesTEE,PKTEEAdmin,PKSP,3,SDCreate,Param,Ack,TimeStamp,PKSDsrc,KProxy,SID).
 iknows(pair(TEEAdmin,pair(SP,pair(KProxy,crypt(inv(PKSP),pair(PKSP,pair(PKSrcTEE,pair(PKDesTEE,TimeStamp))))))))
 =>
 state_teeAdmin(TEEAdmin,SrcTEE,DesTEE,SP,PKSrcTEE,PKDesTEE,PKTEEAdmin,PKSP,3,SDCreate,Param,Ack,TimeStamp,PKSDsrc,KProxy,SID).
 iknows(pair(TEEAdmin,pair(SrcTEE,pair(KProxy,pair(crypt(inv(PKSP),pair(PKSP,pair(PKSrcTEE,pair(PKDesTEE,TimeStamp)))),crypt(inv(PKTEEAdmin),pair(KProxy,crypt(inv(PKSP),pair(PKSP,pair(PKSrcTEE,pair(PKDesTEE,TimeStamp)))))))))))

step step_9 (SP,TEEAdmin,PKTEEAdmin,PKSP,SDCreate,Param,TimeStamp,PKSrcTEE,PKDesTEE,PKSDsrc,PKSDdest,KProxy,SID) :=
 state_sp(SP,TEEAdmin,PKTEEAdmin,PKSP,0,SDCreate,Param,TimeStamp,PKSrcTEE,PKDesTEE,PKSDsrc,PKSDdest,KProxy,SID).
 iknows(pair(SP,pair(TEEAdmin,pair(PKSDsrc,pair(PKSrcTEE,PKDesTEE)))))
 =>
 state_sp(SP,TEEAdmin,PKTEEAdmin,PKSP,1,SDCreate,Param,TimeStamp,PKSrcTEE,PKDesTEE,PKSDsrc,PKSDdest,KProxy,SID).
 iknows(pair(SP,pair(TEEAdmin,pair(SDCreate,PKDesTEE))))

step step_10 (SP,TEEAdmin,PKTEEAdmin,PKSP,SDCreate,Param,Dummy_TimeStamp,PKSrcTEE,PKDesTEE,PKSDsrc,Dummy_PKSDdest,Dummy_KProxy,SID,TimeStamp,PKSDdest,KProxy) :=
 state_sp(SP,TEEAdmin,PKTEEAdmin,PKSP,1,SDCreate,Param,Dummy_TimeStamp,PKSrcTEE,PKDesTEE,PKSDsrc,Dummy_PKSDdest,Dummy_KProxy,SID).
 iknows(Param)
=[exists KProxy,PKSDdest,TimeStamp]=>
 state_sp(SP,TEEAdmin,PKTEEAdmin,PKSP,1,SDCreate,Param,TimeStamp,PKSrcTEE,PKDesTEE,PKSDsrc,PKSDdest,KProxy,SID).
 iknows(pair(KProxy,crypt(inv(PKSP),pair(PKSP,pair(PKSrcTEE,pair(PKDesTEE,TimeStamp))))))

step step_11 (DesTEE,SrcTEE,TEEAdmin,SDDest,PKDesTEE,PKTEEAdmin,PKSP,PKSDdest,SK,Dummy_TimeStamp,EncSD,SDCreate,Ack,Param,KProxy,SID,TimeStamp) :=
 state_dest(DesTEE,SrcTEE,TEEAdmin,SDDest,PKDesTEE,PKTEEAdmin,PKSP,PKSDdest,SK,0,Dummy_TimeStamp,EncSD,SDCreate,Ack,Param,KProxy,SID).
 iknows(pair(DesTEE,pair(TEEAdmin,pair(SDCreate,crypt(inv(PKTEEAdmin),pair(SDCreate,Dummy_TimeStamp))))))
=[exists TimeStamp]=>
 state_dest(DesTEE,SrcTEE,TEEAdmin,SDDest,PKDesTEE,PKTEEAdmin,PKSP,PKSDdest,SK,1,TimeStamp,EncSD,SDCreate,Ack,Param,KProxy,SID).
 iknows(pair(DesTEE,pair(TEEAdmin,pair(Ack,pair(Param,crypt(inv(PKDesTEE),pair(Ack,pair(Param,TimeStamp))))))))

step step_12 (DesTEE,SrcTEE,TEEAdmin,SDDest,PKDesTEE,PKTEEAdmin,PKSP,PKSDdest,SK,Dummy_TimeStamp,EncSD,SDCreate,Ack,Param,KProxy,SID,TimeStamp) :=
 state_dest(DesTEE,SrcTEE,TEEAdmin,SDDest,PKDesTEE,PKTEEAdmin,PKSP,PKSDdest,SK,1,Dummy_TimeStamp,EncSD,SDCreate,Ack,Param,KProxy,SID).
 iknows(pair(DesTEE,pair(SrcTEE,scrypt(SK,pair(crypt(KProxy,EncSD),PKSP)))))
=[exists TimeStamp]=>
 state_dest(DesTEE,SrcTEE,TEEAdmin,SDDest,PKDesTEE,PKTEEAdmin,PKSP,PKSDdest,SK,2,TimeStamp,EncSD,SDCreate,Ack,Param,KProxy,SID).
 iknows(pair(DesTEE,pair(SrcTEE,scrypt(SK,pair(Ack,TimeStamp)))))

step step_13 (DesTEE,SrcTEE,TEEAdmin,SDDest,PKDesTEE,PKTEEAdmin,PKSP,PKSDdest,SK,TimeStamp,EncSD,SDCreate,Ack,Param,KProxy,SID) :=
 state_dest(DesTEE,SrcTEE,TEEAdmin,SDDest,PKDesTEE,PKTEEAdmin,PKSP,PKSDdest,SK,2,TimeStamp,EncSD,SDCreate,Ack,Param,KProxy,SID)
 =>
 state_dest(DesTEE,SrcTEE,TEEAdmin,SDDest,PKDesTEE,PKTEEAdmin,PKSP,PKSDdest,SK,2,TimeStamp,EncSD,SDCreate,Ack,Param,KProxy,SID).
 iknows(pair(DesTEE,pair(SDDest,crypt(KProxy,EncSD))))

step step_14 (SDDest,DesTEE,PKDesTEE,PKSDsrc,PKSDdest,EncSD,KProxy,SID) :=
 state_sdDest(SDDest,DesTEE,PKDesTEE,PKSDsrc,PKSDdest,0,EncSD,KProxy,SID)
 =>
 state_sdDest(SDDest,DesTEE,PKDesTEE,PKSDsrc,PKSDdest,0,EncSD,KProxy,SID).
 iknows(crypt(KProxy,EncSD))


section properties:

property secrecy_of_transfer (MGoal,ASGoal) :=
 [] ((secret(MGoal,transfer,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state secrecy_of_transfer (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,transfer,ASGoal) &
 not(contains(i,ASGoal))

