%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilekks7Dz

section signature:

state_sed_or_esi: agent * agent * symmetric_key * symmetric_key * message * nat * text * text * message * public_key * public_key * symmetric_key * set(agent) * nat -> fact
state_sed: agent * agent * symmetric_key * symmetric_key * message * nat * text * text * message * public_key * public_key * symmetric_key * set(agent) * nat -> fact


section types:

mac_v, mac_u, link_key: protocol_id
set_92, set_77: set
Eu, Ev, Dummy_Ev, Dummy_Eu, dummy_pk: public_key
MACu, MACv, Dummy_MACv, Dummy_MACu, dummy_nonce: text
Cu, Dummy_Cu, Cv, Dummy_Cv, dummy_msg, start, MGoal, cu, cv: message
Kl, Dummy_Kl, Knwk, Ktcl, dummy_sk, ktcl, kn: symmetric_key
V, U, A2Goal, A1Goal, u, v, i: agent
Dummy_Set_51, Dummy_Set_28, Set_28, ASGoal, Set_51: set(agent)
7, 4, SID, State, Dummy_State, 3, 6, SID2, SID1, 2, 1, 8, 0, 5: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(v).
 iknows(cu).
 iknows(cv).
 iknows(i).
 state_sed(u,v,kn,ktcl,cu,0,dummy_nonce,dummy_nonce,dummy_msg,dummy_pk,dummy_pk,dummy_sk,set_77,3).
 state_sed_or_esi(v,u,kn,ktcl,cv,1,dummy_nonce,dummy_nonce,dummy_msg,dummy_pk,dummy_pk,dummy_sk,set_92,4)


section rules:

step step_0 (U,V,Knwk,Ktcl,Cu,MACu,MACv,Cv,Eu,Ev,Kl,Set_28,SID) :=
 state_sed(U,V,Knwk,Ktcl,Cu,0,MACu,MACv,Cv,Eu,Ev,Kl,Set_28,SID).
 iknows(start)
 =>
 state_sed(U,V,Knwk,Ktcl,Cu,2,MACu,MACv,Cv,Eu,Ev,Kl,Set_28,SID).
 iknows(scrypt(Knwk,Cu))

step step_1 (U,V,Knwk,Ktcl,Cu,MACu,MACv,Dummy_Cv,Dummy_Eu,Ev,Kl,Set_28,SID,Cv,Eu) :=
 state_sed(U,V,Knwk,Ktcl,Cu,2,MACu,MACv,Dummy_Cv,Dummy_Eu,Ev,Kl,Set_28,SID).
 iknows(scrypt(Knwk,Cv))
=[exists Eu]=>
 state_sed(U,V,Knwk,Ktcl,Cu,4,MACu,MACv,Cv,Eu,Ev,Kl,Set_28,SID).
 iknows(scrypt(Knwk,Eu))

step step_2 (U,V,Knwk,Ktcl,Cu,Dummy_MACu,MACv,Cv,Eu,Dummy_Ev,Dummy_Kl,Dummy_Set_28,SID,MACu,Ev,Kl) :=
 state_sed(U,V,Knwk,Ktcl,Cu,4,Dummy_MACu,MACv,Cv,Eu,Dummy_Ev,Dummy_Kl,Dummy_Set_28,SID).
 iknows(scrypt(Knwk,Ev))
=[exists MACu,Kl]=>
 state_sed(U,V,Knwk,Ktcl,Cu,6,MACu,MACv,Cv,Eu,Ev,Kl,Dummy_Set_28,SID).
 secret(Kl,link_key,Dummy_Set_28).
 iknows(scrypt(Knwk,MACu)).
 witness(U,V,mac_u,MACu).
 contains(U,Dummy_Set_28).
 contains(V,Dummy_Set_28)

step step_3 (U,V,Knwk,Ktcl,Cu,MACu,Dummy_MACv,Cv,Eu,Ev,Kl,Set_28,SID,MACv) :=
 state_sed(U,V,Knwk,Ktcl,Cu,6,MACu,Dummy_MACv,Cv,Eu,Ev,Kl,Set_28,SID).
 iknows(scrypt(Knwk,MACv))
 =>
 state_sed(U,V,Knwk,Ktcl,Cu,8,MACu,MACv,Cv,Eu,Ev,Kl,Set_28,SID).
 request(U,V,mac_v,MACv,SID)

step step_4 (V,U,Knwk,Ktcl,Cv,MACu,MACv,Dummy_Cu,Eu,Ev,Kl,Set_51,SID,Cu) :=
 state_sed_or_esi(V,U,Knwk,Ktcl,Cv,1,MACu,MACv,Dummy_Cu,Eu,Ev,Kl,Set_51,SID).
 iknows(scrypt(Knwk,Cu))
 =>
 state_sed_or_esi(V,U,Knwk,Ktcl,Cv,3,MACu,MACv,Cu,Eu,Ev,Kl,Set_51,SID).
 iknows(scrypt(Knwk,Cv))

step step_5 (V,U,Knwk,Ktcl,Cv,MACu,MACv,Cu,Dummy_Eu,Dummy_Ev,Kl,Set_51,SID,Eu,Ev) :=
 state_sed_or_esi(V,U,Knwk,Ktcl,Cv,3,MACu,MACv,Cu,Dummy_Eu,Dummy_Ev,Kl,Set_51,SID).
 iknows(scrypt(Knwk,Eu))
=[exists Ev]=>
 state_sed_or_esi(V,U,Knwk,Ktcl,Cv,5,MACu,MACv,Cu,Eu,Ev,Kl,Set_51,SID).
 iknows(scrypt(Knwk,Ev))

step step_6 (V,U,Knwk,Ktcl,Cv,Dummy_MACu,Dummy_MACv,Cu,Eu,Ev,Dummy_Kl,Dummy_Set_51,SID,MACu,MACv,Kl) :=
 state_sed_or_esi(V,U,Knwk,Ktcl,Cv,5,Dummy_MACu,Dummy_MACv,Cu,Eu,Ev,Dummy_Kl,Dummy_Set_51,SID).
 iknows(scrypt(Knwk,MACu))
=[exists MACv,Kl]=>
 state_sed_or_esi(V,U,Knwk,Ktcl,Cv,7,MACu,MACv,Cu,Eu,Ev,Kl,Dummy_Set_51,SID).
 secret(Kl,link_key,Dummy_Set_51).
 iknows(scrypt(Knwk,MACv)).
 request(V,U,mac_u,MACu,SID).
 witness(V,U,mac_v,MACv).
 contains(U,Dummy_Set_51).
 contains(V,Dummy_Set_51)


section properties:

property secrecy_of_link_key (MGoal,ASGoal) :=
 [] ((secret(MGoal,link_key,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_mac_u (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,mac_u,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,mac_u,MGoal))
     /\ ((request(A1Goal,A2Goal,mac_u,MGoal,SID1)
           /\ request(A1Goal,A2Goal,mac_u,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_mac_v (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,mac_v,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,mac_v,MGoal))
     /\ ((request(A1Goal,A2Goal,mac_v,MGoal,SID1)
           /\ request(A1Goal,A2Goal,mac_v,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_link_key (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,link_key,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_mac_u (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,mac_u,MGoal,SID) &
 not(witness(A2Goal,A1Goal,mac_u,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_mac_u (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,mac_u,MGoal,SID1).
 request(A1Goal,A2Goal,mac_u,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_mac_v (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,mac_v,MGoal,SID) &
 not(witness(A2Goal,A1Goal,mac_v,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_mac_v (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,mac_v,MGoal,SID1).
 request(A1Goal,A2Goal,mac_v,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

