%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilevDE8wY

section signature:

state_pANA_Client: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * text * text * text * text * nat * text * message * message * message * text * text * message * nat -> fact
state_new_PANA_Authentication_Agent: agent * agent * agent * symmetric_key * text * hash_func * hash_func * nat * text * text * text * text * text * message * message * message * message * set(agent) * nat -> fact
state_previous_PANA_Authentication_Agent: agent * agent * agent * symmetric_key * symmetric_key * symmetric_key * hash_func * hash_func * text * text * text * text * nat * text * text * message * nat -> fact


section types:

set_149, set_135: set
ppaa_pac_ip_pac, npaa_pac_mac_key, mac_key: protocol_id
Dummy_Set_33, Set_33, ASGoal: set(agent)
AAA_k_i, Signature, New_AAA_k, MAC_key, Dummy_MAC_key, Dummy_New_AAA_k, Dummy_H1, Dummy_AAA_k_i, dummy_msg, start, H1, MGoal: message
5, 3, State, 9, 7, 1, 8, SID, 4, Dummy_State, 6, 2, SID2, 0, SID1: nat
NPaC, NnPAA, IP_PaC, AAA_ID, Session_ID, IP_pPAA, NSId, Dummy_NSId, Dummy_NnPAA, Dummy_IP_pPAA, Dummy_IP_PaC, Dummy_NPaC, dummy_nonce, p_pac, ip_pac, aaa_id, ip_pPAA, sid1, sidi, ip_i: text
CTP_KEY, ESP_Key, AAA_k, ctp_key, esp_key, aaa_k, aaa_k_i, ctp_key_i: symmetric_key
Hash, Key_f, h, key_f: hash_func
NPAA, PaC, PPAA, A2Goal, A1Goal, npaa, pac, ppaa, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(npaa).
 iknows(pac).
 iknows(ppaa).
 iknows(h).
 iknows(key_f).
 iknows(aaa_id).
 iknows(aaa_k_i).
 iknows(ip_pPAA).
 iknows(ctp_key_i).
 iknows(session_id_i).
 iknows(ip_i).
 iknows(i).
 state_previous_PANA_Authentication_Agent(ppaa,npaa,pac,ctp_key,esp_key,aaa_k,h,key_f,p_pac,aaa_id,sid1,ip_pPAA,3,dummy_nonce,dummy_nonce,dummy_msg,3).
 state_new_PANA_Authentication_Agent(npaa,pac,ppaa,esp_key,aaa_id,h,key_f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_135,4).
 state_pANA_Client(pac,npaa,ppaa,ctp_key,aaa_k,h,key_f,p_pac,aaa_id,sid1,ip_pPAA,1,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,dummy_msg,5).
 state_previous_PANA_Authentication_Agent(ppaa,npaa,i,ctp_key_i,esp_key,aaa_k_i,h,key_f,ip_i,aaa_id,sidi,ip_pPAA,3,dummy_nonce,dummy_nonce,dummy_msg,7).
 state_new_PANA_Authentication_Agent(npaa,i,ppaa,esp_key,aaa_id,h,key_f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_149,8)


section rules:

step step_0 (PPAA,NPAA,PaC,CTP_KEY,ESP_Key,AAA_k,Hash,Key_f,IP_PaC,AAA_ID,Session_ID,IP_pPAA,Dummy_NPaC,NnPAA,Dummy_AAA_k_i,SID,NPaC) :=
 state_previous_PANA_Authentication_Agent(PPAA,NPAA,PaC,CTP_KEY,ESP_Key,AAA_k,Hash,Key_f,IP_PaC,AAA_ID,Session_ID,IP_pPAA,3,Dummy_NPaC,NnPAA,Dummy_AAA_k_i,SID).
 iknows(scrypt(ESP_Key,pair(IP_PaC,pair(IP_pPAA,pair(NPaC,apply(Hash,pair(CTP_KEY,pair(IP_PaC,pair(IP_pPAA,NPaC)))))))))
 =>
 state_previous_PANA_Authentication_Agent(PPAA,NPAA,PaC,CTP_KEY,ESP_Key,AAA_k,Hash,Key_f,IP_PaC,AAA_ID,Session_ID,IP_pPAA,5,NPaC,NnPAA,apply(Key_f,pair(AAA_k,pair(AAA_ID,Session_ID))),SID).
 iknows(scrypt(ESP_Key,pair(AAA_ID,pair(apply(Key_f,pair(AAA_k,pair(AAA_ID,Session_ID))),PaC)))).
 request(PPAA,PaC,ppaa_pac_ip_pac,IP_PaC,SID)

step step_1 (NPAA,PaC,PPAA,ESP_Key,AAA_ID,Hash,Key_f,NnPAA,NSId,NPaC,IP_PaC,IP_pPAA,New_AAA_k,MAC_key,AAA_k_i,H1,Set_33,SID) :=
 state_new_PANA_Authentication_Agent(NPAA,PaC,PPAA,ESP_Key,AAA_ID,Hash,Key_f,0,NnPAA,NSId,NPaC,IP_PaC,IP_pPAA,New_AAA_k,MAC_key,AAA_k_i,H1,Set_33,SID).
 iknows(start)
 =>
 state_new_PANA_Authentication_Agent(NPAA,PaC,PPAA,ESP_Key,AAA_ID,Hash,Key_f,2,NnPAA,NSId,NPaC,IP_PaC,IP_pPAA,New_AAA_k,MAC_key,AAA_k_i,H1,Set_33,SID).
 iknows(NPAA)

step step_2 (NPAA,PaC,PPAA,ESP_Key,AAA_ID,Hash,Key_f,NnPAA,NSId,Dummy_NPaC,Dummy_IP_PaC,Dummy_IP_pPAA,New_AAA_k,MAC_key,AAA_k_i,Dummy_H1,Set_33,SID,NPaC,IP_PaC,IP_pPAA,H1) :=
 state_new_PANA_Authentication_Agent(NPAA,PaC,PPAA,ESP_Key,AAA_ID,Hash,Key_f,2,NnPAA,NSId,Dummy_NPaC,Dummy_IP_PaC,Dummy_IP_pPAA,New_AAA_k,MAC_key,AAA_k_i,Dummy_H1,Set_33,SID).
 iknows(pair(IP_PaC,pair(IP_pPAA,pair(NPaC,H1))))
 =>
 state_new_PANA_Authentication_Agent(NPAA,PaC,PPAA,ESP_Key,AAA_ID,Hash,Key_f,4,NnPAA,NSId,NPaC,IP_PaC,IP_pPAA,New_AAA_k,MAC_key,AAA_k_i,H1,Set_33,SID).
 iknows(scrypt(ESP_Key,pair(IP_PaC,pair(IP_pPAA,pair(NPaC,H1)))))

step step_3 (NPAA,PaC,PPAA,ESP_Key,AAA_ID,Hash,Key_f,Dummy_NnPAA,Dummy_NSId,NPaC,IP_PaC,IP_pPAA,Dummy_New_AAA_k,Dummy_MAC_key,Dummy_AAA_k_i,H1,Set_33,SID,NnPAA,NSId,AAA_k_i) :=
 state_new_PANA_Authentication_Agent(NPAA,PaC,PPAA,ESP_Key,AAA_ID,Hash,Key_f,4,Dummy_NnPAA,Dummy_NSId,NPaC,IP_PaC,IP_pPAA,Dummy_New_AAA_k,Dummy_MAC_key,Dummy_AAA_k_i,H1,Set_33,SID).
 iknows(scrypt(ESP_Key,pair(AAA_ID,pair(AAA_k_i,PaC))))
=[exists NSId,NnPAA]=>
 state_new_PANA_Authentication_Agent(NPAA,PaC,PPAA,ESP_Key,AAA_ID,Hash,Key_f,6,NnPAA,NSId,NPaC,IP_PaC,IP_pPAA,apply(Key_f,pair(AAA_k_i,pair(NPaC,NnPAA))),apply(Key_f,pair(apply(Key_f,pair(AAA_k_i,pair(NPaC,NnPAA))),pair(NPaC,pair(NnPAA,NSId)))),AAA_k_i,H1,Set_33,SID).
 iknows(pair(NSId,pair(NnPAA,apply(Hash,pair(apply(Key_f,pair(apply(Key_f,pair(AAA_k_i,pair(NPaC,NnPAA))),pair(NPaC,pair(NnPAA,NSId)))),pair(NSId,NnPAA))))))

step step_4 (NPAA,PaC,PPAA,ESP_Key,AAA_ID,Hash,Key_f,NnPAA,NSId,NPaC,IP_PaC,IP_pPAA,New_AAA_k,MAC_key,AAA_k_i,H1,Dummy_Set_33,SID) :=
 state_new_PANA_Authentication_Agent(NPAA,PaC,PPAA,ESP_Key,AAA_ID,Hash,Key_f,6,NnPAA,NSId,NPaC,IP_PaC,IP_pPAA,New_AAA_k,MAC_key,AAA_k_i,H1,Dummy_Set_33,SID).
 iknows(pair(NnPAA,apply(Hash,pair(MAC_key,NnPAA))))
 =>
 state_new_PANA_Authentication_Agent(NPAA,PaC,PPAA,ESP_Key,AAA_ID,Hash,Key_f,8,NnPAA,NSId,NPaC,IP_PaC,IP_pPAA,New_AAA_k,MAC_key,AAA_k_i,H1,Dummy_Set_33,SID).
 request(NPAA,PaC,npaa_pac_mac_key,MAC_key,SID).
 secret(MAC_key,mac_key,Dummy_Set_33).
 contains(PaC,Dummy_Set_33).
 contains(NPAA,Dummy_Set_33)

step step_5 (PaC,NPAA,PPAA,CTP_KEY,AAA_k,Hash,Key_f,IP_PaC,AAA_ID,Session_ID,IP_pPAA,Dummy_NPaC,New_AAA_k,AAA_k_i,MAC_key,NnPAA,NSId,Signature,SID,NPaC) :=
 state_pANA_Client(PaC,NPAA,PPAA,CTP_KEY,AAA_k,Hash,Key_f,IP_PaC,AAA_ID,Session_ID,IP_pPAA,1,Dummy_NPaC,New_AAA_k,AAA_k_i,MAC_key,NnPAA,NSId,Signature,SID).
 iknows(NPAA)
=[exists NPaC]=>
 state_pANA_Client(PaC,NPAA,PPAA,CTP_KEY,AAA_k,Hash,Key_f,IP_PaC,AAA_ID,Session_ID,IP_pPAA,7,NPaC,New_AAA_k,AAA_k_i,MAC_key,NnPAA,NSId,Signature,SID).
 iknows(pair(IP_PaC,pair(IP_pPAA,pair(NPaC,apply(Hash,pair(CTP_KEY,pair(IP_PaC,pair(IP_pPAA,NPaC)))))))).
 witness(PaC,PPAA,ppaa_pac_ip_pac,IP_PaC)

step step_6 (PaC,NPAA,PPAA,CTP_KEY,AAA_k,Hash,Key_f,IP_PaC,AAA_ID,Session_ID,IP_pPAA,NPaC,Dummy_New_AAA_k,Dummy_AAA_k_i,Dummy_MAC_key,Dummy_NnPAA,Dummy_NSId,Signature,SID,NnPAA,NSId) :=
 state_pANA_Client(PaC,NPAA,PPAA,CTP_KEY,AAA_k,Hash,Key_f,IP_PaC,AAA_ID,Session_ID,IP_pPAA,7,NPaC,Dummy_New_AAA_k,Dummy_AAA_k_i,Dummy_MAC_key,Dummy_NnPAA,Dummy_NSId,Signature,SID).
 iknows(pair(NSId,pair(NnPAA,apply(Hash,pair(apply(Key_f,pair(apply(Key_f,pair(apply(Key_f,pair(AAA_k,pair(AAA_ID,Session_ID))),pair(NPaC,NnPAA))),pair(NPaC,pair(NnPAA,NSId)))),pair(NSId,NnPAA))))))
 =>
 state_pANA_Client(PaC,NPAA,PPAA,CTP_KEY,AAA_k,Hash,Key_f,IP_PaC,AAA_ID,Session_ID,IP_pPAA,9,NPaC,apply(Key_f,pair(apply(Key_f,pair(AAA_k,pair(AAA_ID,Session_ID))),pair(NPaC,NnPAA))),apply(Key_f,pair(AAA_k,pair(AAA_ID,Session_ID))),apply(Key_f,pair(apply(Key_f,pair(apply(Key_f,pair(AAA_k,pair(AAA_ID,Session_ID))),pair(NPaC,NnPAA))),pair(NPaC,pair(NnPAA,NSId)))),NnPAA,NSId,Signature,SID).
 iknows(pair(NnPAA,apply(Hash,pair(apply(Key_f,pair(apply(Key_f,pair(apply(Key_f,pair(AAA_k,pair(AAA_ID,Session_ID))),pair(NPaC,NnPAA))),pair(NPaC,pair(NnPAA,NSId)))),NnPAA)))).
 witness(PaC,NPAA,npaa_pac_mac_key,apply(Key_f,pair(apply(Key_f,pair(apply(Key_f,pair(AAA_k,pair(AAA_ID,Session_ID))),pair(NPaC,NnPAA))),pair(NPaC,pair(NnPAA,NSId)))))


section properties:

property secrecy_of_mac_key (MGoal,ASGoal) :=
 [] ((secret(MGoal,mac_key,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_ppaa_pac_ip_pac (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,ppaa_pac_ip_pac,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,ppaa_pac_ip_pac,MGoal))
     /\ ((request(A1Goal,A2Goal,ppaa_pac_ip_pac,MGoal,SID1)
           /\ request(A1Goal,A2Goal,ppaa_pac_ip_pac,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_npaa_pac_mac_key (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,npaa_pac_mac_key,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,npaa_pac_mac_key,MGoal))
     /\ ((request(A1Goal,A2Goal,npaa_pac_mac_key,MGoal,SID1)
           /\ request(A1Goal,A2Goal,npaa_pac_mac_key,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_mac_key (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,mac_key,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_ppaa_pac_ip_pac (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,ppaa_pac_ip_pac,MGoal,SID) &
 not(witness(A2Goal,A1Goal,ppaa_pac_ip_pac,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_ppaa_pac_ip_pac (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,ppaa_pac_ip_pac,MGoal,SID1).
 request(A1Goal,A2Goal,ppaa_pac_ip_pac,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_npaa_pac_mac_key (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,npaa_pac_mac_key,MGoal,SID) &
 not(witness(A2Goal,A1Goal,npaa_pac_mac_key,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_npaa_pac_mac_key (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,npaa_pac_mac_key,MGoal,SID1).
 request(A1Goal,A2Goal,npaa_pac_mac_key,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

