%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileIarb1O

section signature:

state_bob: agent * agent * symmetric_key * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(text) * set(agent) * nat -> fact
state_alice: agent * agent * symmetric_key * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(text) * nat -> fact


section types:

MGoal, start: message
alice_bob_n1, bob_alice_n2, alice_bob_ni, bob_alice_tr, subs1, subs2, subs3: protocol_id
ASGoal, Set_69, Set_41, Dummy_Set_69, Dummy_Set_41: set(agent)
Set_68, Set_67, Set_66, Set_44, Set_40, Set_38, Dummy_Set_68, Dummy_Set_67, Dummy_Set_66, Dummy_Set_44, Dummy_Set_40, Dummy_Set_38: set(text)
bh, h, BH, H: hash_func
skuisj, SKuisj: symmetric_key
SID2, SID1, SID, State, 3, 2, 7, 1, 0, 6, 4, Dummy_State: nat
pwi, bioi, x, idi, sidj, n1, n2, SIDj, N1, N2, IDi, PWi, Ni, BIOi, X, Tr, PSK, Xi, Yi, Zi, W1, W2, Dummy_N2, Dummy_N1, Dummy_Tr, Dummy_W2, Dummy_W1, Dummy_Ni, dummy_nonce: text
A2Goal, A1Goal, ui, sj, Ui, Sj, i: agent
set_137, set_136, set_135, set_134, set_132, set_131, set_130, set_129, set_122, set_121, set_120, set_119, set_104, set_103, set_102, set_101: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(sj).
 iknows(bh).
 iknows(h).
 iknows(i).
 state_alice(ui,sj,skuisj,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_101,set_102,set_103,set_104,3).
 state_bob(sj,ui,skuisj,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_119,set_120,set_121,set_122,4).
 state_alice(ui,sj,skuisj,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_129,set_130,set_131,set_132,6).
 state_bob(sj,ui,skuisj,h,bh,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_134,set_135,set_136,set_137,7)


section rules:

step step_0 (Ui,Sj,SKuisj,H,BH,IDi,PWi,Dummy_Ni,BIOi,X,Tr,PSK,SIDj,N1,N2,Xi,Yi,Zi,Dummy_W1,Dummy_W2,Dummy_Set_38,Dummy_Set_40,Dummy_Set_41,Set_44,SID,Ni) :=
 state_alice(Ui,Sj,SKuisj,H,BH,0,IDi,PWi,Dummy_Ni,BIOi,X,Tr,PSK,SIDj,N1,N2,Xi,Yi,Zi,Dummy_W1,Dummy_W2,Dummy_Set_38,Dummy_Set_40,Dummy_Set_41,Set_44,SID).
 iknows(start)
=[exists Ni]=>
 state_alice(Ui,Sj,SKuisj,H,BH,1,IDi,PWi,Ni,BIOi,X,Tr,PSK,SIDj,N1,N2,Xi,Yi,Zi,apply(H,pair(PWi,Ni)),apply(H,xor(IDi,Ni)),Dummy_Set_38,Dummy_Set_40,Dummy_Set_41,Set_44,SID).
 iknows(scrypt(SKuisj,pair(IDi,pair(apply(H,pair(PWi,Ni)),apply(H,xor(IDi,Ni)))))).
 secret(Dummy_Set_38,subs2,Ui).
 secret(Dummy_Set_40,subs3,Dummy_Set_41).
 witness(Ui,Sj,alice_bob_ni,Ni).
 contains(PWi,Dummy_Set_38).
 contains(BIOi,Dummy_Set_38).
 contains(Ni,Dummy_Set_38).
 contains(IDi,Dummy_Set_40).
 contains(Ui,Dummy_Set_41).
 contains(Sj,Dummy_Set_41)

step step_1 (Ui,Sj,SKuisj,H,BH,IDi,PWi,Dummy_Ni,BIOi,X,Dummy_Tr,PSK,SIDj,Dummy_N1,N2,Xi,Yi,Zi,W1,W2,Set_38,Set_40,Set_41,Dummy_Set_44,SID,Ni,Tr,N1) :=
 state_alice(Ui,Sj,SKuisj,H,BH,1,IDi,PWi,Dummy_Ni,BIOi,X,Dummy_Tr,PSK,SIDj,Dummy_N1,N2,Xi,Yi,Zi,W1,W2,Set_38,Set_40,Set_41,Dummy_Set_44,SID).
 iknows(scrypt(SKuisj,pair(xor(apply(H,apply(H,pair(IDi,pair(X,Tr)))),apply(H,pair(PWi,Ni))),pair(xor(apply(H,PSK),apply(H,xor(IDi,Ni))),pair(xor(PSK,apply(H,pair(IDi,pair(X,Tr)))),H)))))
=[exists N1]=>
 state_alice(Ui,Sj,SKuisj,H,BH,2,IDi,PWi,Ni,BIOi,X,Tr,PSK,SIDj,N1,N2,Xi,Yi,Zi,W1,W2,Set_38,Set_40,Set_41,Dummy_Set_44,SID).
 secret(Dummy_Set_44,subs1,Sj).
 iknows(pair(xor(PSK,apply(H,pair(IDi,pair(X,Tr)))),pair(xor(apply(H,PSK),N1),pair(xor(IDi,apply(H,pair(N1,apply(H,apply(H,pair(IDi,pair(X,Tr))))))),apply(H,pair(IDi,pair(N1,apply(H,apply(H,pair(IDi,pair(X,Dummy_Tr))))))))))).
 witness(Ui,Sj,alice_bob_n1,N1).
 contains(X,Dummy_Set_44).
 contains(PSK,Dummy_Set_44).
 contains(Tr,Dummy_Set_44)

step step_2 (Ui,Sj,SKuisj,H,BH,IDi,PWi,Ni,BIOi,X,Dummy_Tr,PSK,SIDj,Dummy_N1,Dummy_N2,Xi,Yi,Zi,W1,W2,Set_38,Set_40,Set_41,Set_44,SID,Tr,N1,N2) :=
 state_alice(Ui,Sj,SKuisj,H,BH,2,IDi,PWi,Ni,BIOi,X,Dummy_Tr,PSK,SIDj,Dummy_N1,Dummy_N2,Xi,Yi,Zi,W1,W2,Set_38,Set_40,Set_41,Set_44,SID).
 iknows(pair(SIDj,pair(xor(N2,apply(H,pair(IDi,N1))),apply(H,pair(apply(H,pair(IDi,pair(SIDj,pair(apply(H,apply(H,pair(IDi,pair(X,Tr)))),pair(N1,N2))))),pair(N1,N2))))))
 =>
 state_alice(Ui,Sj,SKuisj,H,BH,3,IDi,PWi,Ni,BIOi,X,Tr,PSK,SIDj,N1,N2,Xi,Yi,Zi,W1,W2,Set_38,Set_40,Set_41,Set_44,SID).
 iknows(apply(H,pair(apply(H,pair(IDi,pair(SIDj,pair(apply(H,apply(H,pair(IDi,pair(X,Tr)))),pair(N1,N2))))),pair(N1,N2)))).
 request(Sj,Ui,bob_alice_n2,N2,SID).
 request(Sj,Ui,bob_alice_tr,Tr,SID)

step step_3 (Sj,Ui,SKuisj,H,BH,IDi,PWi,Dummy_Ni,BIOi,X,Dummy_Tr,PSK,SIDj,N1,N2,Dummy_Set_66,Dummy_Set_67,Dummy_Set_68,Dummy_Set_69,SID,Ni,Tr) :=
 state_bob(Sj,Ui,SKuisj,H,BH,0,IDi,PWi,Dummy_Ni,BIOi,X,Dummy_Tr,PSK,SIDj,N1,N2,Dummy_Set_66,Dummy_Set_67,Dummy_Set_68,Dummy_Set_69,SID).
 iknows(scrypt(SKuisj,pair(IDi,pair(apply(H,pair(PWi,Ni)),apply(H,xor(IDi,Ni))))))
=[exists Tr]=>
 state_bob(Sj,Ui,SKuisj,H,BH,1,IDi,PWi,Ni,BIOi,X,Tr,PSK,SIDj,N1,N2,Dummy_Set_66,Dummy_Set_67,Dummy_Set_68,Dummy_Set_69,SID).
 request(Ui,Sj,alice_bob_ni,Ni,SID).
 secret(Dummy_Set_66,subs1,Sj).
 secret(Dummy_Set_67,subs2,Ui).
 secret(Dummy_Set_68,subs3,Dummy_Set_69).
 iknows(scrypt(SKuisj,pair(xor(apply(H,apply(H,pair(IDi,pair(X,Dummy_Tr)))),apply(H,pair(PWi,Ni))),pair(xor(apply(H,PSK),apply(H,xor(IDi,Ni))),pair(xor(PSK,apply(H,pair(IDi,pair(X,Dummy_Tr)))),H))))).
 contains(X,Dummy_Set_66).
 contains(PSK,Dummy_Set_66).
 contains(Dummy_Tr,Dummy_Set_66).
 contains(PWi,Dummy_Set_67).
 contains(BIOi,Dummy_Set_67).
 contains(Ni,Dummy_Set_67).
 contains(IDi,Dummy_Set_68).
 contains(Ui,Dummy_Set_69).
 contains(Sj,Dummy_Set_69)

step step_4 (Sj,Ui,SKuisj,H,BH,IDi,PWi,Ni,BIOi,X,Tr,PSK,SIDj,Dummy_N1,Dummy_N2,Set_66,Set_67,Set_68,Set_69,SID,N1,N2) :=
 state_bob(Sj,Ui,SKuisj,H,BH,1,IDi,PWi,Ni,BIOi,X,Tr,PSK,SIDj,Dummy_N1,Dummy_N2,Set_66,Set_67,Set_68,Set_69,SID).
 iknows(pair(xor(PSK,apply(H,pair(IDi,pair(X,Tr)))),pair(xor(apply(H,PSK),N1),pair(xor(IDi,apply(H,pair(N1,apply(H,apply(H,pair(IDi,pair(X,Tr))))))),apply(H,pair(IDi,pair(N1,apply(H,apply(H,pair(IDi,pair(X,Tr)))))))))))
=[exists N2]=>
 state_bob(Sj,Ui,SKuisj,H,BH,2,IDi,PWi,Ni,BIOi,X,Tr,PSK,SIDj,N1,N2,Set_66,Set_67,Set_68,Set_69,SID).
 iknows(pair(SIDj,pair(xor(N2,apply(H,pair(IDi,N1))),apply(H,pair(apply(H,pair(IDi,pair(SIDj,pair(apply(H,apply(H,pair(IDi,pair(X,Tr)))),pair(N1,N2))))),pair(N1,N2)))))).
 witness(Sj,Ui,bob_alice_n2,N2)

step step_5 (Sj,Ui,SKuisj,H,BH,IDi,PWi,Ni,BIOi,X,Tr,PSK,SIDj,Dummy_N1,Dummy_N2,Set_66,Set_67,Set_68,Set_69,SID,N1,N2) :=
 state_bob(Sj,Ui,SKuisj,H,BH,2,IDi,PWi,Ni,BIOi,X,Tr,PSK,SIDj,Dummy_N1,Dummy_N2,Set_66,Set_67,Set_68,Set_69,SID).
 iknows(apply(H,pair(apply(H,pair(IDi,pair(SIDj,pair(apply(H,apply(H,pair(IDi,pair(X,Tr)))),pair(N1,N2))))),pair(N1,N2))))
 =>
 state_bob(Sj,Ui,SKuisj,H,BH,3,IDi,PWi,Ni,BIOi,X,Tr,PSK,SIDj,N1,N2,Set_66,Set_67,Set_68,Set_69,SID).
 request(Ui,Sj,alice_bob_n1,N1,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob_ni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_ni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_ni,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_ni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_ni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_alice_bob_n1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_n1,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_tr (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_tr,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_tr,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_tr,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_tr,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_n2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_n2,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob_ni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_ni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_ni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_ni,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_ni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_alice_bob_n1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_n1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_n1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_n1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_tr (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_tr,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_tr,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_tr (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_tr,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_tr,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_n2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_n2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_n2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_n2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

