%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileaENaWh

section signature:

state_user: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact
state_basestation: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact
state_sensornode: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact


section types:

Set_157, Set_119, Dummy_Set_64, Dummy_Set_119, Set_64, Dummy_Set_157: set(symmetric_key)
Set_165, Set_163, Set_161, Set_159, Set_155, Set_127, Set_125, Set_123, Set_121, Set_117, Dummy_Set_73, Dummy_Set_71, Dummy_Set_68, Dummy_Set_66, Dummy_Set_61, Dummy_Set_127, Set_73, Dummy_Set_125, Set_71, Dummy_Set_123, Set_68, Dummy_Set_121, Set_66, Dummy_Set_117, Set_61, Dummy_Set_165, Dummy_Set_163, Dummy_Set_161, Dummy_Set_159, Dummy_Set_155: set(text)
set_391, set_390, set_389, set_388, set_387, set_386, set_385, set_384, set_383, set_382, set_381, set_379, set_378, set_377, set_376, set_375, set_374, set_373, set_372, set_371, set_370, set_369, set_367, set_366, set_365, set_364, set_363, set_362, set_361, set_360, set_359, set_358, set_357, set_355, set_354, set_353, set_352, set_351, set_350, set_349, set_348, set_347, set_346, set_345, set_343, set_342, set_341, set_340, set_339, set_338, set_337, set_336, set_335, set_334, set_333, set_331, set_330, set_329, set_328, set_327, set_326, set_325, set_324, set_323, set_322, set_321, set_299, set_298, set_297, set_296, set_295, set_294, set_293, set_292, set_291, set_290, set_289, set_262, set_261, set_260, set_259, set_258, set_257, set_256, set_255, set_254, set_253, set_252, set_230, set_229, set_228, set_227, set_226, set_225, set_224, set_223, set_222, set_221, set_220: set
13, 12, 11, 9, 8, State, 7, 5, SID, 4, 3, 2, 1, 0, Dummy_State, SID2, SID1: nat
Set_164, Set_162, Set_160, Set_158, Set_156, Set_126, Set_124, Set_122, Set_120, Set_118, Dummy_Set_72, Dummy_Set_70, Dummy_Set_67, Dummy_Set_65, Dummy_Set_62, Dummy_Set_126, Set_72, Dummy_Set_124, Set_70, Dummy_Set_122, Set_67, Dummy_Set_120, Set_65, Dummy_Set_118, Set_62, Dummy_Set_164, Dummy_Set_162, Dummy_Set_160, Dummy_Set_158, Dummy_Set_156, ASGoal: set(agent)
h, H: hash_func
start, MGoal: message
sensornode_basestation, sensornode_basestaion, user_basestation, basestation_user, user_sensornode, sensornode_user, subs1, subs2, subs3, subs4, subs5, subs6, basestation_sensornode: protocol_id
mkui, mksj, MKsj, MKui: symmetric_key
sn, bs, u, SNj, BS, Ui, A2Goal, A1Goal, i: agent
m1, m2, m3, m4, m5, m6, m7, m8, mx1, mx2, idi, idsj, wi, ru, ri, hgi, ji, IDi, IDsj, PWi, RNui, RNUsi, APMi, GIDx, Pu, Tokenij, Keyij, T3, Tj, SKuisj, M1, M7, M8, Kj, Dummy_M6, Dummy_M5, Dummy_RNUsi, Dummy_KUGi, Wi, Ri, S, Dummy_Kui, Dummy_M2, M3, Dummy_M1, M4, Dummy_RNui, Mx1, Mx2, T1, T2, Tg1, Tg2, Kui, KUGi, HGi, Dummy_HGi, Dummy_Tg2, Dummy_Tg1, Dummy_Mx2, Dummy_Mx1, Dummy_T2, Dummy_T1, Dummy_M4, Dummy_M3, Dummy_Tokenij, Dummy_Keyij, Dummy_Ri, Dummy_Wi, Dummy_M8, Dummy_M7, Dummy_SKuisj, Dummy_T3, Ru, Dummy_Kj, M2, Dummy_Tj, Ji, dummy_nonce, M5, M6, kui, kugi, kj, t1, t2, t3, tg1, tg2, tj: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(bs).
 iknows(sn).
 iknows(h).
 iknows(idi).
 iknows(idsj).
 iknows(i).
 state_sensornode(sn,u,bs,mksj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_220,set_221,set_222,set_223,set_224,set_225,set_226,set_227,set_228,set_229,set_230,3).
 state_basestation(u,bs,sn,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_252,set_253,set_254,set_255,set_256,set_257,set_258,set_259,set_260,set_261,set_262,4).
 state_user(bs,u,sn,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_289,set_290,set_291,set_292,set_293,set_294,set_295,set_296,set_297,set_298,set_299,5).
 state_sensornode(u,sn,bs,mksj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_321,set_322,set_323,set_324,set_325,set_326,set_327,set_328,set_329,set_330,set_331,7).
 state_basestation(sn,bs,u,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_333,set_334,set_335,set_336,set_337,set_338,set_339,set_340,set_341,set_342,set_343,8).
 state_user(bs,sn,u,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_345,set_346,set_347,set_348,set_349,set_350,set_351,set_352,set_353,set_354,set_355,9).
 state_sensornode(u,sn,bs,mksj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_357,set_358,set_359,set_360,set_361,set_362,set_363,set_364,set_365,set_366,set_367,11).
 state_basestation(sn,bs,u,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_369,set_370,set_371,set_372,set_373,set_374,set_375,set_376,set_377,set_378,set_379,12).
 state_user(bs,sn,u,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_381,set_382,set_383,set_384,set_385,set_386,set_387,set_388,set_389,set_390,set_391,13)


section rules:

step step_0 (SNj,BS,Ui,MKsj,H,IDi,IDsj,PWi,RNui,RNUsi,APMi,GIDx,Pu,Tokenij,Keyij,T3,Dummy_Tj,SKuisj,M1,M7,M8,Dummy_Kj,Dummy_Set_155,Dummy_Set_156,Dummy_Set_157,Dummy_Set_158,Dummy_Set_159,Dummy_Set_160,Dummy_Set_161,Dummy_Set_162,Dummy_Set_163,Dummy_Set_164,Dummy_Set_165,SID,Tj,Kj) :=
 state_sensornode(SNj,BS,Ui,MKsj,H,0,IDi,IDsj,PWi,RNui,RNUsi,APMi,GIDx,Pu,Tokenij,Keyij,T3,Dummy_Tj,SKuisj,M1,M7,M8,Dummy_Kj,Dummy_Set_155,Dummy_Set_156,Dummy_Set_157,Dummy_Set_158,Dummy_Set_159,Dummy_Set_160,Dummy_Set_161,Dummy_Set_162,Dummy_Set_163,Dummy_Set_164,Dummy_Set_165,SID).
 iknows(start)
=[exists Kj,Tj]=>
 state_sensornode(SNj,BS,Ui,MKsj,H,1,IDi,IDsj,PWi,RNui,RNUsi,APMi,GIDx,Pu,Tokenij,Keyij,T3,Tj,SKuisj,M1,M7,M8,Kj,Dummy_Set_155,Dummy_Set_156,Dummy_Set_157,Dummy_Set_158,Dummy_Set_159,Dummy_Set_160,Dummy_Set_161,Dummy_Set_162,Dummy_Set_163,Dummy_Set_164,Dummy_Set_165,SID).
 secret(Dummy_Set_155,subs1,Dummy_Set_156).
 secret(Dummy_Set_157,subs2,Dummy_Set_158).
 secret(Dummy_Set_159,subs3,Dummy_Set_160).
 secret(Dummy_Set_163,subs5,Dummy_Set_164).
 secret(Dummy_Set_165,subs6,Ui).
 iknows(pair(SNj,pair(BS,pair(IDsj,pair(Tj,scrypt(MKsj,pair(Kj,pair(IDsj,Tj)))))))).
 contains(Dummy_Kj,Dummy_Set_155).
 contains(SNj,Dummy_Set_156).
 contains(BS,Dummy_Set_156).
 contains(MKsj,Dummy_Set_157).
 contains(SNj,Dummy_Set_158).
 contains(BS,Dummy_Set_158).
 contains(RNui,Dummy_Set_159).
 contains(Ui,Dummy_Set_160).
 contains(BS,Dummy_Set_160).
 contains(Keyij,Dummy_Set_161).
 contains(Ui,Dummy_Set_162).
 contains(BS,Dummy_Set_162).
 contains(SNj,Dummy_Set_162).
 contains(APMi,Dummy_Set_163).
 contains(GIDx,Dummy_Set_163).
 contains(Ui,Dummy_Set_164).
 contains(BS,Dummy_Set_164).
 contains(PWi,Dummy_Set_165).
 contains(Pu,Dummy_Set_165)

step step_1 (SNj,BS,Ui,MKsj,H,IDi,IDsj,PWi,RNui,RNUsi,APMi,GIDx,Pu,Tokenij,Keyij,Dummy_T3,Tj,Dummy_SKuisj,M1,Dummy_M7,Dummy_M8,Kj,Set_155,Set_156,Set_157,Set_158,Set_159,Set_160,Set_161,Set_162,Set_163,Set_164,Set_165,SID,T3,M7) :=
 state_sensornode(SNj,BS,Ui,MKsj,H,1,IDi,IDsj,PWi,RNui,RNUsi,APMi,GIDx,Pu,Tokenij,Keyij,Dummy_T3,Tj,Dummy_SKuisj,M1,Dummy_M7,Dummy_M8,Kj,Set_155,Set_156,Set_157,Set_158,Set_159,Set_160,Set_161,Set_162,Set_163,Set_164,Set_165,SID).
 iknows(pair(Ui,pair(SNj,pair(IDi,pair(IDsj,pair(M7,pair(Tokenij,T3)))))))
 =>
 state_sensornode(SNj,BS,Ui,MKsj,H,2,IDi,IDsj,PWi,RNui,RNUsi,APMi,GIDx,Pu,Tokenij,Keyij,T3,Tj,apply(H,pair(IDi,pair(IDsj,pair(RNUsi,M1)))),M1,M7,scrypt(apply(H,pair(IDi,pair(IDsj,pair(RNUsi,M1)))),RNUsi),Kj,Set_155,Set_156,Set_157,Set_158,Set_159,Set_160,Set_161,Set_162,Set_163,Set_164,Set_165,SID).
 request(Ui,SNj,user_sensornode,T3,SID).
 iknows(pair(SNj,pair(Ui,pair(IDi,pair(IDsj,scrypt(apply(H,pair(IDi,pair(IDsj,pair(RNUsi,M1)))),RNUsi)))))).
 witness(SNj,Ui,sensornode_user,RNUsi)

step step_2 (BS,SNj,Ui,MKsj,MKui,H,IDi,IDsj,PWi,Wi,Ri,S,Dummy_Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,Mx2,T1,T2,Tg1,Tg2,Dummy_Tj,Kui,KUGi,HGi,Set_117,Set_118,Set_119,Set_120,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,SID,Kj,Tj) :=
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,0,IDi,IDsj,PWi,Wi,Ri,S,Dummy_Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,Mx2,T1,T2,Tg1,Tg2,Dummy_Tj,Kui,KUGi,HGi,Set_117,Set_118,Set_119,Set_120,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,SID).
 iknows(pair(SNj,pair(BS,pair(IDsj,pair(Tj,scrypt(MKsj,pair(Kj,pair(IDsj,Tj))))))))
 =>
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,1,IDi,IDsj,PWi,Wi,Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,Mx2,T1,T2,Tg1,Tg2,Tj,Kui,KUGi,HGi,Set_117,Set_118,Set_119,Set_120,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,SID)

step step_3 (BS,SNj,Ui,MKsj,MKui,H,IDi,IDsj,PWi,Dummy_Wi,Dummy_Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,Mx2,T1,T2,Tg1,Tg2,Tj,Kui,KUGi,HGi,Dummy_Set_117,Dummy_Set_118,Dummy_Set_119,Dummy_Set_120,Dummy_Set_121,Dummy_Set_122,Dummy_Set_123,Dummy_Set_124,Dummy_Set_125,Dummy_Set_126,Dummy_Set_127,SID,Wi) :=
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,1,IDi,IDsj,PWi,Dummy_Wi,Dummy_Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,Mx2,T1,T2,Tg1,Tg2,Tj,Kui,KUGi,HGi,Dummy_Set_117,Dummy_Set_118,Dummy_Set_119,Dummy_Set_120,Dummy_Set_121,Dummy_Set_122,Dummy_Set_123,Dummy_Set_124,Dummy_Set_125,Dummy_Set_126,Dummy_Set_127,SID).
 iknows(pair(Ui,pair(BS,scrypt(MKui,pair(IDi,Wi)))))
 =>
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,2,IDi,IDsj,PWi,Wi,xor(Dummy_Wi,apply(H,pair(IDi,S))),S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,Mx2,T1,T2,Tg1,Tg2,Tj,Kui,KUGi,HGi,Dummy_Set_117,Dummy_Set_118,Dummy_Set_119,Dummy_Set_120,Dummy_Set_121,Dummy_Set_122,Dummy_Set_123,Dummy_Set_124,Dummy_Set_125,Dummy_Set_126,Dummy_Set_127,SID).
 secret(Dummy_Set_117,subs1,Dummy_Set_118).
 secret(Dummy_Set_119,subs2,Dummy_Set_120).
 secret(Dummy_Set_121,subs3,Dummy_Set_122).
 secret(Dummy_Set_125,subs5,Dummy_Set_126).
 secret(Dummy_Set_127,subs6,Ui).
 iknows(pair(BS,pair(Ui,scrypt(MKui,pair(xor(Dummy_Wi,apply(H,pair(IDi,S))),H))))).
 contains(Kj,Dummy_Set_117).
 contains(SNj,Dummy_Set_118).
 contains(BS,Dummy_Set_118).
 contains(MKsj,Dummy_Set_119).
 contains(SNj,Dummy_Set_120).
 contains(BS,Dummy_Set_120).
 contains(RNui,Dummy_Set_121).
 contains(Ui,Dummy_Set_122).
 contains(BS,Dummy_Set_122).
 contains(Keyij,Dummy_Set_123).
 contains(Ui,Dummy_Set_124).
 contains(BS,Dummy_Set_124).
 contains(SNj,Dummy_Set_124).
 contains(APMi,Dummy_Set_125).
 contains(GIDx,Dummy_Set_125).
 contains(Ui,Dummy_Set_126).
 contains(BS,Dummy_Set_126).
 contains(PWi,Dummy_Set_127).
 contains(Pu,Dummy_Set_127)

step step_4 (BS,SNj,Ui,MKsj,MKui,H,IDi,IDsj,PWi,Wi,Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Dummy_Keyij,Dummy_Tokenij,M1,Dummy_M3,Dummy_M4,Mx1,Mx2,Dummy_T1,Dummy_T2,Tg1,Tg2,Tj,Kui,KUGi,HGi,Set_117,Set_118,Set_119,Set_120,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,SID,M3,T1,T2) :=
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,2,IDi,IDsj,PWi,Wi,Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Dummy_Keyij,Dummy_Tokenij,M1,Dummy_M3,Dummy_M4,Mx1,Mx2,Dummy_T1,Dummy_T2,Tg1,Tg2,Tj,Kui,KUGi,HGi,Set_117,Set_118,Set_119,Set_120,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,SID).
 iknows(pair(Ui,pair(BS,pair(IDi,pair(M3,T1)))))
=[exists T2]=>
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,3,IDi,IDsj,PWi,Wi,Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,apply(H,pair(IDi,pair(IDsj,pair(MKsj,Kj)))),apply(H,pair(IDi,pair(IDsj,pair(T1,pair(T2,pair(APMi,pair(MKsj,M1))))))),M1,M3,scrypt(Kui,pair(IDi,pair(IDsj,pair(apply(H,pair(IDi,pair(IDsj,pair(MKsj,Kj)))),pair(apply(H,pair(IDi,pair(IDsj,pair(T1,pair(T2,pair(APMi,pair(MKsj,M1))))))),pair(APMi,pair(T1,T2))))))),Mx1,Mx2,T1,T2,Tg1,Tg2,Tj,Kui,KUGi,HGi,Set_117,Set_118,Set_119,Set_120,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,SID).
 request(Ui,BS,user_basestation,T1,SID).
 iknows(pair(BS,pair(Ui,pair(IDi,pair(scrypt(Kui,pair(IDi,pair(IDsj,pair(apply(H,pair(IDi,pair(IDsj,pair(MKsj,Kj)))),pair(apply(H,pair(IDi,pair(IDsj,pair(T1,pair(T2,pair(APMi,pair(MKsj,M1))))))),pair(APMi,pair(T1,T2))))))),T2))))).
 witness(BS,Ui,basestation_user,T2)

step step_5 (BS,SNj,Ui,MKsj,MKui,H,IDi,IDsj,PWi,Wi,Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Dummy_Mx1,Dummy_Mx2,T1,T2,Dummy_Tg1,Dummy_Tg2,Tj,Kui,KUGi,Dummy_HGi,Set_117,Set_118,Set_119,Set_120,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,SID,Mx1,Tg1,Tg2) :=
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,3,IDi,IDsj,PWi,Wi,Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Dummy_Mx1,Dummy_Mx2,T1,T2,Dummy_Tg1,Dummy_Tg2,Tj,Kui,KUGi,Dummy_HGi,Set_117,Set_118,Set_119,Set_120,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,SID).
 iknows(pair(Ui,pair(BS,pair(IDi,pair(Mx1,pair(Tg1,pair(GIDx,Dummy_HGi)))))))
=[exists Tg2]=>
 state_basestation(BS,SNj,Ui,MKsj,MKui,H,4,IDi,IDsj,PWi,Wi,Ri,S,Kj,RNui,RNUsi,APMi,GIDx,Pu,Keyij,Tokenij,M1,M3,M4,Mx1,apply(H,pair(KUGi,pair(xor(Dummy_HGi,apply(H,pair(GIDx,apply(H,pair(IDi,S))))),pair(Tg1,Tg2)))),T1,T2,Tg1,Tg2,Tj,Kui,KUGi,xor(Dummy_HGi,apply(H,pair(GIDx,apply(H,pair(IDi,S))))),Set_117,Set_118,Set_119,Set_120,Set_121,Set_122,Set_123,Set_124,Set_125,Set_126,Set_127,SID).
 request(Ui,BS,user_basestation,Tg1,SID).
 iknows(pair(BS,pair(Ui,pair(IDi,pair(apply(H,pair(KUGi,pair(xor(Dummy_HGi,apply(H,pair(GIDx,apply(H,pair(IDi,S))))),pair(Tg1,Tg2)))),Tg2))))).
 witness(BS,Ui,basestation_user,Tg2)

step step_6 (Ui,BS,SNj,MKsj,MKui,H,Dummy_Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,Set_61,Set_62,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,SID) :=
 state_user(Ui,BS,SNj,MKsj,MKui,H,0,Dummy_Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,Set_61,Set_62,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,SID).
 iknows(start)
 =>
 state_user(Ui,BS,SNj,MKsj,MKui,H,1,apply(H,pair(IDi,pair(PWi,Ru))),IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,Set_61,Set_62,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,SID).
 iknows(pair(Ui,pair(BS,scrypt(MKui,pair(IDi,apply(H,pair(IDi,pair(PWi,Ru))))))))

step step_7 (Ui,BS,SNj,MKsj,MKui,H,Dummy_Wi,IDi,IDsj,PWi,Ru,Dummy_Ri,Kj,Dummy_RNui,RNUsi,APMi,GIDx,Pu,Dummy_M1,Dummy_T1,Dummy_M2,Dummy_Kui,Ji,Dummy_M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,Dummy_Set_61,Dummy_Set_62,Dummy_Set_64,Dummy_Set_65,Dummy_Set_66,Dummy_Set_67,Dummy_Set_68,Dummy_Set_70,Dummy_Set_71,Dummy_Set_72,Dummy_Set_73,SID,Ri,RNui,T1) :=
 state_user(Ui,BS,SNj,MKsj,MKui,H,1,Dummy_Wi,IDi,IDsj,PWi,Ru,Dummy_Ri,Kj,Dummy_RNui,RNUsi,APMi,GIDx,Pu,Dummy_M1,Dummy_T1,Dummy_M2,Dummy_Kui,Ji,Dummy_M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,Dummy_Set_61,Dummy_Set_62,Dummy_Set_64,Dummy_Set_65,Dummy_Set_66,Dummy_Set_67,Dummy_Set_68,Dummy_Set_70,Dummy_Set_71,Dummy_Set_72,Dummy_Set_73,SID).
 iknows(pair(BS,pair(Ui,scrypt(MKui,pair(Ri,H)))))
=[exists T1,RNui]=>
 state_user(Ui,BS,SNj,MKsj,MKui,H,2,apply(H,pair(IDi,pair(PWi,Ru))),IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui),T1,apply(H,pair(Dummy_Ri,pair(Dummy_RNui,pair(GIDx,T1)))),xor(Ji,Ru,T1),Ji,scrypt(xor(Ji,Ru,T1),pair(GIDx,pair(xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui),pair(apply(H,pair(Dummy_Ri,pair(Dummy_RNui,pair(GIDx,T1)))),Dummy_RNui)))),M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,Dummy_Set_61,Dummy_Set_62,Dummy_Set_64,Dummy_Set_65,Dummy_Set_66,Dummy_Set_67,Dummy_Set_68,Dummy_Set_70,Dummy_Set_71,Dummy_Set_72,Dummy_Set_73,SID).
 secret(Dummy_Set_61,subs1,Dummy_Set_62).
 secret(Dummy_Set_64,subs2,Dummy_Set_65).
 secret(Dummy_Set_66,subs3,Dummy_Set_67).
 secret(Dummy_Set_71,subs5,Dummy_Set_72).
 secret(Dummy_Set_73,subs6,Ui).
 iknows(pair(Ui,pair(BS,pair(IDi,pair(scrypt(xor(Ji,Ru,T1),pair(GIDx,pair(xor(apply(H,pair(IDi,pair(PWi,Ru))),RNui),pair(apply(H,pair(Dummy_Ri,pair(Dummy_RNui,pair(GIDx,T1)))),Dummy_RNui)))),T1))))).
 witness(Ui,BS,user_basestation,T1).
 contains(Kj,Dummy_Set_61).
 contains(SNj,Dummy_Set_62).
 contains(BS,Dummy_Set_62).
 contains(MKsj,Dummy_Set_64).
 contains(SNj,Dummy_Set_65).
 contains(BS,Dummy_Set_65).
 contains(Dummy_RNui,Dummy_Set_66).
 contains(Ui,Dummy_Set_67).
 contains(BS,Dummy_Set_67).
 contains(Keyij,Dummy_Set_68).
 contains(Ui,Dummy_Set_70).
 contains(BS,Dummy_Set_70).
 contains(SNj,Dummy_Set_70).
 contains(APMi,Dummy_Set_71).
 contains(GIDx,Dummy_Set_71).
 contains(Ui,Dummy_Set_72).
 contains(BS,Dummy_Set_72).
 contains(PWi,Dummy_Set_73).
 contains(Pu,Dummy_Set_73)

step step_8 (Ui,BS,SNj,MKsj,MKui,H,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,Dummy_M4,Dummy_T2,Dummy_KUGi,Dummy_Tg1,Dummy_Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,Set_61,Set_62,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,SID,M4,T2,Tg1) :=
 state_user(Ui,BS,SNj,MKsj,MKui,H,2,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,Dummy_M4,Dummy_T2,Dummy_KUGi,Dummy_Tg1,Dummy_Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,Set_61,Set_62,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,SID).
 iknows(pair(BS,pair(Ui,pair(IDi,pair(M4,T2)))))
=[exists Tg1]=>
 state_user(Ui,BS,SNj,MKsj,MKui,H,3,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,xor(Ji,Ru,Dummy_Tg1),Tg1,apply(H,pair(xor(Ji,Ru,Dummy_Tg1),pair(IDi,pair(GIDx,pair(Tg1,HGi))))),HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,Set_61,Set_62,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,SID).
 request(BS,Ui,basestation_user,T2,SID).
 iknows(pair(Ui,pair(BS,pair(IDi,pair(apply(H,pair(xor(Ji,Ru,Dummy_Tg1),pair(IDi,pair(GIDx,pair(Tg1,HGi))))),pair(Tg1,pair(GIDx,HGi))))))).
 witness(Ui,BS,user_basestation,Tg1)

step step_9 (Ui,BS,SNj,MKsj,MKui,H,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,Dummy_RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Dummy_Mx2,Dummy_Tg2,Dummy_M5,Dummy_M6,Dummy_T3,Dummy_M7,Keyij,Tokenij,M8,Set_61,Set_62,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,SID,RNUsi,Mx2,Tg2,T3) :=
 state_user(Ui,BS,SNj,MKsj,MKui,H,3,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,Dummy_RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Dummy_Mx2,Dummy_Tg2,Dummy_M5,Dummy_M6,Dummy_T3,Dummy_M7,Keyij,Tokenij,M8,Set_61,Set_62,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,SID).
 iknows(pair(BS,pair(Ui,pair(IDi,pair(Mx2,Tg2)))))
=[exists T3,RNUsi]=>
 state_user(Ui,BS,SNj,MKsj,MKui,H,4,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,xor(M1,RNUsi),apply(H,pair(xor(M1,RNUsi),pair(IDsj,RNUsi))),T3,scrypt(Keyij,pair(xor(M1,RNUsi),pair(apply(H,pair(xor(M1,RNUsi),pair(IDsj,RNUsi))),pair(T1,pair(T2,pair(APMi,pair(RNUsi,T3))))))),Keyij,Tokenij,M8,Set_61,Set_62,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,SID).
 request(BS,Ui,basestation_user,Tg2,SID).
 iknows(pair(Ui,pair(SNj,pair(IDi,pair(IDsj,pair(scrypt(Keyij,pair(xor(M1,RNUsi),pair(apply(H,pair(xor(M1,RNUsi),pair(IDsj,RNUsi))),pair(T1,pair(T2,pair(APMi,pair(RNUsi,T3))))))),pair(Tokenij,T3))))))).
 witness(Ui,SNj,user_sensornode,T3)

step step_10 (Ui,BS,SNj,MKsj,MKui,H,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,Dummy_M8,Set_61,Set_62,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,SID,M8) :=
 state_user(Ui,BS,SNj,MKsj,MKui,H,4,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,Dummy_M8,Set_61,Set_62,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,SID).
 iknows(pair(SNj,pair(Ui,pair(IDi,pair(IDsj,M8)))))
 =>
 state_user(Ui,BS,SNj,MKsj,MKui,H,5,Wi,IDi,IDsj,PWi,Ru,Ri,Kj,RNui,RNUsi,APMi,GIDx,Pu,M1,T1,M2,Kui,Ji,M3,M4,T2,KUGi,Tg1,Mx1,HGi,Mx2,Tg2,M5,M6,T3,M7,Keyij,Tokenij,M8,Set_61,Set_62,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Set_72,Set_73,SID).
 request(SNj,Ui,sensornode_user,RNUsi,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_basestation (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_basestation,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_basestation,MGoal))
     /\ ((request(A1Goal,A2Goal,user_basestation,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_basestation,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_basestation_user (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,basestation_user,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,basestation_user,MGoal))
     /\ ((request(A1Goal,A2Goal,basestation_user,MGoal,SID1)
           /\ request(A1Goal,A2Goal,basestation_user,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensornode_user (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensornode_user,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensornode_user,MGoal))
     /\ ((request(A1Goal,A2Goal,sensornode_user,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensornode_user,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_sensornode (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_sensornode,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_sensornode,MGoal))
     /\ ((request(A1Goal,A2Goal,user_sensornode,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_sensornode,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensornode_basestation (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensornode_basestation,MGoal))
     /\ ((request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_basestation_sensornode (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,basestation_sensornode,MGoal))
     /\ ((request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID1)
           /\ request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_basestation (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_basestation,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_basestation,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_basestation (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_basestation,MGoal,SID1).
 request(A1Goal,A2Goal,user_basestation,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_basestation_user (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,basestation_user,MGoal,SID) &
 not(witness(A2Goal,A1Goal,basestation_user,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_basestation_user (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,basestation_user,MGoal,SID1).
 request(A1Goal,A2Goal,basestation_user,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensornode_user (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensornode_user,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensornode_user,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensornode_user (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensornode_user,MGoal,SID1).
 request(A1Goal,A2Goal,sensornode_user,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_sensornode (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_sensornode,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_sensornode,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_sensornode (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_sensornode,MGoal,SID1).
 request(A1Goal,A2Goal,user_sensornode,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensornode_basestation (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensornode_basestation,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensornode_basestation (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID1).
 request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_basestation_sensornode (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID) &
 not(witness(A2Goal,A1Goal,basestation_sensornode,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_basestation_sensornode (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID1).
 request(A1Goal,A2Goal,basestation_sensornode,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

