%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilewicCdK

section signature:

state_smartmeter: agent * agent * text * text * text * message * hash_func * nat * text * text * symmetric_key * message * message * message * message * message * message * message * message * message * message * message * set(agent) * set(agent) * set(agent) * nat -> fact
state_masterstation: agent * agent * message * text * text * text * text * hash_func * nat * symmetric_key * message * message * message * message * message * message * message * message * message * message * message * text * set(agent) * set(agent) * set(agent) * nat -> fact


section types:

rsm, data, ri, qsk, masterstation_smartmeter_auk, smartmeter_masterstation_rsm, smartmeter_masterstation_h, smartmeter_masterstation_aud, masterstation_smartmeter_m: protocol_id
n, kism, kmsi, H, Dummy_H, dummy_sk: symmetric_key
hsh, Hsh: hash_func
set_138, set_137, set_136, set_113, set_112, set_111: set
7, 5, 3, State, 4, SID, 2, 1, 0, Dummy_State, SID2, SID1: nat
Set_80, Set_79, Set_77, Set_46, Dummy_Set_80, Set_44, Dummy_Set_79, Dummy_Set_77, Set_41, Dummy_Set_46, Dummy_Set_44, Dummy_Set_41, ASGoal: set(agent)
L, M, Md, Aum, Auk, Qsk, Ri, Sk, Qms, Data, Aud, N, Dummy_Qms, Dummy_Md, start, Dummy_Aud, Dummy_Data, Dummy_Qsm, Dummy_Sk, Dummy_Ri, Dummy_Qsk, Dummy_Auk, Dummy_Aum, Qsm, Dummy_M, Dummy_L, dummy_msg, MGoal: message
ms, SM, MS, sm, A2Goal, A1Goal, i: agent
reg, Dsm, Rsm, Reg, G, Pow, Dummy_Dsm, Dummy_Rsm, Dummy_Pow, dummy_nonce, Dms, pow, dms, g: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(sm).
 iknows(ms).
 iknows(kism).
 iknows(kmsi).
 iknows(i).
 state_masterstation(ms,sm,n,dms,g,reg,pow,hsh,0,dummy_sk,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_nonce,set_111,set_112,set_113,3).
 state_smartmeter(sm,ms,reg,g,pow,n,hsh,1,dummy_nonce,dummy_nonce,dummy_sk,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_136,set_137,set_138,4)


section rules:

step step_0 (MS,SM,N,Dms,G,Reg,Pow,Hsh,H,Dummy_L,Dummy_M,Md,Auk,Qsk,Ri,Sk,Qsm,Dummy_Aum,Data,Aud,Rsm,Set_41,Set_44,Set_46,SID) :=
 state_masterstation(MS,SM,N,Dms,G,Reg,Pow,Hsh,0,H,Dummy_L,Dummy_M,Md,Auk,Qsk,Ri,Sk,Qsm,Dummy_Aum,Data,Aud,Rsm,Set_41,Set_44,Set_46,SID).
 iknows(start)
 =>
 state_masterstation(MS,SM,N,Dms,G,Reg,Pow,Hsh,2,H,apply(Hsh,pair(sm,Reg)),exp(exp(G,Dms),apply(Hsh,pair(sm,Reg))),Md,Auk,Qsk,Ri,Sk,Qsm,apply(Hsh,pair(exp(exp(G,Dms),apply(Hsh,pair(sm,Reg))),N)),Data,Aud,Rsm,Set_41,Set_44,Set_46,SID).
 iknows(pair(exp(exp(G,Dms),apply(Hsh,pair(sm,Reg))),apply(Hsh,pair(exp(exp(G,Dms),apply(Hsh,pair(sm,Reg))),N))))

step step_1 (MS,SM,N,Dms,G,Reg,Dummy_Pow,Hsh,Dummy_H,L,M,Md,Dummy_Auk,Dummy_Qsk,Dummy_Ri,Dummy_Sk,Dummy_Qsm,Aum,Dummy_Data,Dummy_Aud,Dummy_Rsm,Dummy_Set_41,Dummy_Set_44,Dummy_Set_46,SID,H,Auk,Data,Rsm) :=
 state_masterstation(MS,SM,N,Dms,G,Reg,Dummy_Pow,Hsh,2,Dummy_H,L,M,Md,Dummy_Auk,Dummy_Qsk,Dummy_Ri,Dummy_Sk,Dummy_Qsm,Aum,Dummy_Data,Dummy_Aud,Dummy_Rsm,Dummy_Set_41,Dummy_Set_44,Dummy_Set_46,SID).
 iknows(pair(scrypt(H,pair(H,pair(xor(Rsm,apply(Hsh,N)),pair(apply(Hsh,M),Auk)))),MS))
=[exists Data]=>
 state_masterstation(MS,SM,N,Dms,G,Reg,apply(Hsh,Dummy_Pow),Hsh,4,H,L,M,Md,Auk,exp(exp(exp(H,L),inv(L)),Dms),xor(Dummy_Rsm,apply(Hsh,Dummy_Pow)),apply(Hsh,pair(exp(exp(exp(H,L),inv(L)),Dms),xor(Dummy_Rsm,apply(Hsh,Dummy_Pow)))),exp(exp(H,L),inv(L)),Aum,Data,apply(Hsh,pair(Data,apply(Hsh,pair(exp(exp(exp(H,L),inv(L)),Dms),xor(Dummy_Rsm,apply(Hsh,Dummy_Pow)))))),Rsm,Dummy_Set_41,Dummy_Set_44,Dummy_Set_46,SID).
 iknows(pair(scrypt(H,apply(Hsh,pair(Rsm,pair(H,N)))),SM)).
 secret(exp(exp(exp(H,L),inv(L)),Dms),qsk,Dummy_Set_41).
 secret(xor(Dummy_Rsm,apply(Hsh,Dummy_Pow)),ri,Dummy_Set_44).
 iknows(pair(scrypt(apply(Hsh,pair(exp(exp(exp(H,L),inv(L)),Dms),xor(Dummy_Rsm,apply(Hsh,Dummy_Pow)))),Dummy_Data),apply(Hsh,pair(Data,apply(Hsh,pair(exp(exp(exp(H,L),inv(L)),Dms),xor(Dummy_Rsm,apply(Hsh,Dummy_Pow)))))))).
 secret(Data,data,Dummy_Set_46).
 witness(MS,SM,smartmeter_masterstation_aud,apply(Hsh,pair(Data,apply(Hsh,pair(exp(exp(exp(H,L),inv(L)),Dms),xor(Dummy_Rsm,apply(Hsh,Dummy_Pow))))))).
 witness(MS,SM,smartmeter_masterstation_rsm,Rsm).
 witness(MS,SM,smartmeter_masterstation_h,H).
 request(MS,SM,masterstation_smartmeter_auk,Auk,SID).
 request(MS,SM,masterstation_smartmeter_m,M,SID).
 contains(SM,Dummy_Set_41).
 contains(MS,Dummy_Set_41).
 contains(SM,Dummy_Set_44).
 contains(MS,Dummy_Set_44).
 contains(SM,Dummy_Set_46).
 contains(MS,Dummy_Set_46)

step step_2 (SM,MS,Reg,G,Pow,N,Hsh,Dummy_Dsm,Dummy_Rsm,Dummy_H,Dummy_L,Dummy_M,Dummy_Md,Dummy_Aum,Dummy_Auk,Qsk,Ri,Sk,Qms,Data,Aud,Dummy_Set_77,Set_79,Set_80,SID,Dsm,Rsm,M,Aum) :=
 state_smartmeter(SM,MS,Reg,G,Pow,N,Hsh,1,Dummy_Dsm,Dummy_Rsm,Dummy_H,Dummy_L,Dummy_M,Dummy_Md,Dummy_Aum,Dummy_Auk,Qsk,Ri,Sk,Qms,Data,Aud,Dummy_Set_77,Set_79,Set_80,SID).
 iknows(pair(M,Aum))
=[exists Rsm,Dsm]=>
 state_smartmeter(SM,MS,Reg,G,Pow,N,Hsh,3,Dsm,Rsm,exp(exp(G,Dsm),apply(Hsh,pair(sm,reg))),apply(Hsh,pair(sm,reg)),M,exp(M,Dsm),Aum,apply(Hsh,pair(exp(exp(G,Dsm),apply(Hsh,pair(sm,reg))),pair(Rsm,N))),Qsk,Ri,Sk,Qms,Data,Aud,Dummy_Set_77,Set_79,Set_80,SID).
 secret(Rsm,rsm,Dummy_Set_77).
 witness(SM,MS,masterstation_smartmeter_auk,Dummy_Auk).
 iknows(pair(scrypt(exp(exp(G,Dsm),apply(Hsh,pair(sm,reg))),pair(exp(exp(G,Dsm),apply(Hsh,pair(sm,reg))),pair(xor(Rsm,apply(Hsh,N)),pair(apply(Hsh,M),apply(Hsh,pair(exp(exp(G,Dsm),apply(Hsh,pair(sm,reg))),pair(Rsm,N))))))),MS)).
 witness(SM,MS,masterstation_smartmeter_m,M).
 contains(SM,Dummy_Set_77).
 contains(MS,Dummy_Set_77)

step step_3 (SM,MS,Reg,G,Dummy_Pow,N,Hsh,Dsm,Rsm,H,L,M,Md,Aum,Auk,Dummy_Qsk,Dummy_Ri,Dummy_Sk,Dummy_Qms,Data,Aud,Set_77,Dummy_Set_79,Dummy_Set_80,SID) :=
 state_smartmeter(SM,MS,Reg,G,Dummy_Pow,N,Hsh,3,Dsm,Rsm,H,L,M,Md,Aum,Auk,Dummy_Qsk,Dummy_Ri,Dummy_Sk,Dummy_Qms,Data,Aud,Set_77,Dummy_Set_79,Dummy_Set_80,SID).
 iknows(pair(scrypt(H,apply(Hsh,pair(Rsm,pair(H,N)))),SM))
 =>
 state_smartmeter(SM,MS,Reg,G,apply(Hsh,Dummy_Pow),N,Hsh,5,Dsm,Rsm,H,L,M,Md,Aum,Auk,exp(exp(exp(M,L),inv(L)),Dsm),xor(Rsm,apply(Hsh,Dummy_Pow)),apply(Hsh,pair(exp(exp(exp(M,L),inv(L)),Dsm),xor(Rsm,apply(Hsh,Dummy_Pow)))),exp(exp(M,L),inv(L)),Data,Aud,Set_77,Dummy_Set_79,Dummy_Set_80,SID).
 secret(exp(exp(exp(M,L),inv(L)),Dsm),qsk,Dummy_Set_79).
 secret(xor(Rsm,apply(Hsh,Dummy_Pow)),ri,Dummy_Set_80).
 request(SM,MS,smartmeter_masterstation_rsm,Rsm,SID).
 request(SM,MS,smartmeter_masterstation_h,H,SID).
 contains(SM,Dummy_Set_79).
 contains(MS,Dummy_Set_79).
 contains(SM,Dummy_Set_80).
 contains(MS,Dummy_Set_80)

step step_4 (SM,MS,Reg,G,Pow,N,Hsh,Dsm,Rsm,H,L,M,Md,Aum,Auk,Qsk,Ri,Dummy_Sk,Qms,Data,Dummy_Aud,Set_77,Set_79,Set_80,SID,Sk,Aud) :=
 state_smartmeter(SM,MS,Reg,G,Pow,N,Hsh,5,Dsm,Rsm,H,L,M,Md,Aum,Auk,Qsk,Ri,Dummy_Sk,Qms,Data,Dummy_Aud,Set_77,Set_79,Set_80,SID).
 iknows(pair(scrypt(Sk,Data),Aud))
 =>
 state_smartmeter(SM,MS,Reg,G,Pow,N,Hsh,7,Dsm,Rsm,H,L,M,Md,Aum,Auk,Qsk,Ri,Sk,Qms,Data,Aud,Set_77,Set_79,Set_80,SID).
 request(SM,MS,smartmeter_masterstation_aud,Aud,SID)


section properties:

property secrecy_of_rsm (MGoal,ASGoal) :=
 [] ((secret(MGoal,rsm,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_ri (MGoal,ASGoal) :=
 [] ((secret(MGoal,ri,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_qsk (MGoal,ASGoal) :=
 [] ((secret(MGoal,qsk,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_data (MGoal,ASGoal) :=
 [] ((secret(MGoal,data,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_masterstation_smartmeter_auk (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,masterstation_smartmeter_auk,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,masterstation_smartmeter_auk,MGoal))
     /\ ((request(A1Goal,A2Goal,masterstation_smartmeter_auk,MGoal,SID1)
           /\ request(A1Goal,A2Goal,masterstation_smartmeter_auk,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_masterstation_smartmeter_m (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,masterstation_smartmeter_m,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,masterstation_smartmeter_m,MGoal))
     /\ ((request(A1Goal,A2Goal,masterstation_smartmeter_m,MGoal,SID1)
           /\ request(A1Goal,A2Goal,masterstation_smartmeter_m,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_smartmeter_masterstation_rsm (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,smartmeter_masterstation_rsm,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,smartmeter_masterstation_rsm,MGoal))
     /\ ((request(A1Goal,A2Goal,smartmeter_masterstation_rsm,MGoal,SID1)
           /\ request(A1Goal,A2Goal,smartmeter_masterstation_rsm,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_smartmeter_masterstation_h (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,smartmeter_masterstation_h,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,smartmeter_masterstation_h,MGoal))
     /\ ((request(A1Goal,A2Goal,smartmeter_masterstation_h,MGoal,SID1)
           /\ request(A1Goal,A2Goal,smartmeter_masterstation_h,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_smartmeter_masterstation_aud (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,smartmeter_masterstation_aud,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,smartmeter_masterstation_aud,MGoal))
     /\ ((request(A1Goal,A2Goal,smartmeter_masterstation_aud,MGoal,SID1)
           /\ request(A1Goal,A2Goal,smartmeter_masterstation_aud,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_rsm (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,rsm,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_ri (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,ri,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_qsk (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,qsk,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_data (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,data,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_masterstation_smartmeter_auk (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,masterstation_smartmeter_auk,MGoal,SID) &
 not(witness(A2Goal,A1Goal,masterstation_smartmeter_auk,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_masterstation_smartmeter_auk (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,masterstation_smartmeter_auk,MGoal,SID1).
 request(A1Goal,A2Goal,masterstation_smartmeter_auk,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_masterstation_smartmeter_m (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,masterstation_smartmeter_m,MGoal,SID) &
 not(witness(A2Goal,A1Goal,masterstation_smartmeter_m,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_masterstation_smartmeter_m (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,masterstation_smartmeter_m,MGoal,SID1).
 request(A1Goal,A2Goal,masterstation_smartmeter_m,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_smartmeter_masterstation_rsm (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,smartmeter_masterstation_rsm,MGoal,SID) &
 not(witness(A2Goal,A1Goal,smartmeter_masterstation_rsm,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_smartmeter_masterstation_rsm (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,smartmeter_masterstation_rsm,MGoal,SID1).
 request(A1Goal,A2Goal,smartmeter_masterstation_rsm,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_smartmeter_masterstation_h (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,smartmeter_masterstation_h,MGoal,SID) &
 not(witness(A2Goal,A1Goal,smartmeter_masterstation_h,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_smartmeter_masterstation_h (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,smartmeter_masterstation_h,MGoal,SID1).
 request(A1Goal,A2Goal,smartmeter_masterstation_h,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_smartmeter_masterstation_aud (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,smartmeter_masterstation_aud,MGoal,SID) &
 not(witness(A2Goal,A1Goal,smartmeter_masterstation_aud,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_smartmeter_masterstation_aud (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,smartmeter_masterstation_aud,MGoal,SID1).
 request(A1Goal,A2Goal,smartmeter_masterstation_aud,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

