%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilelSBuiQ

section signature:

state_sk_5: agent * agent * agent * agent * agent * text * hash_func * symmetric_key * nat * text * symmetric_key * message * message * message * message * set(agent) * nat -> fact
state_sk_4: agent * agent * agent * agent * agent * text * hash_func * symmetric_key * symmetric_key * nat * text * symmetric_key * symmetric_key * message * message * message * message * message * message * set(agent) * nat -> fact
state_sk_3: agent * agent * agent * agent * agent * text * hash_func * symmetric_key * symmetric_key * nat * text * symmetric_key * symmetric_key * message * message * message * message * message * message * message * message * message * message * message * message * set(agent) * nat -> fact
state_sk_2: agent * agent * agent * agent * agent * text * hash_func * symmetric_key * symmetric_key * nat * text * symmetric_key * symmetric_key * message * message * message * message * message * message * message * message * message * message * message * set(agent) * nat -> fact
state_sk_1: agent * agent * agent * agent * agent * text * hash_func * symmetric_key * nat * text * symmetric_key * symmetric_key * symmetric_key * symmetric_key * message * message * message * message * message * message * message * message * message * message * message * message * message * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact


section types:

sec_K_CA, sec_K_NA, sec_K_BA, sec_K_HA, k_ca, k_na, k_ba, k_ha, k_ac, k_an, k_ab, k_ah, sec_K_AH, sec_K_AB, sec_K_AN, sec_K_AC: protocol_id
pwd, kai, kia, khi, kih, kbi, kib, kni, kin, kci, kic, khb, kbn, knc, TKac, Knc, TKan, Kbn, TKab, Khb, TKah, Pwd, Dummy_TKac, Dummy_TKan, Dummy_TKab, Dummy_TKah, dummy_sk: symmetric_key
g, Rc, G, Rn, Rb, Rh, Dummy_Rc, Dummy_Rn, Dummy_Rb, Dummy_Rh, Dummy_Ra, Ra, dummy_nonce: text
set_265, set_259, set_252, set_243, set_214, set_213, set_212, set_211: set
State, 7, SID, 6, 5, 4, 2, 1, 0, Dummy_State, 3, SID2, SID1: nat
Set_159, Set_139, Set_115, Set_85, Dummy_Set_159, Dummy_Set_139, Dummy_Set_115, Set_51, Set_49, Dummy_Set_85, Set_47, Set_44, Dummy_Set_51, Dummy_Set_49, Dummy_Set_47, Dummy_Set_44, ASGoal: set(agent)
a, h, b, n, c, A, H, B, N, C, A2Goal, A1Goal, i: agent
Kc, Xnc, Yc, Xcc, Kn, Xbn, Yn, Ync, Kb, Yh, Yhb, Yhbnc, Yhbn, Xhb, Yb, Ybn, Ybnc, Kh, Temp1, Xah, Dummy_Yc, Dummy_Ync, Dummy_Yn, Dummy_Ybnc, Dummy_Ybn, Dummy_Yb, Dummy_Temp1, start, Dummy_Kc, Dummy_Kn, Dummy_Kb, Dummy_Kh, Dummy_Yhbnc, Dummy_Yhbn, Dummy_Yhb, Dummy_Yh, Dummy_Xcc, Dummy_Xnc, Dummy_Xbn, Dummy_Xhb, Dummy_Xah, dummy_msg, MGoal: message
Hsh, hsh: hash_func


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(h).
 iknows(b).
 iknows(n).
 iknows(c).
 iknows(kai).
 iknows(kia).
 iknows(khi).
 iknows(kih).
 iknows(kbi).
 iknows(kib).
 iknows(kni).
 iknows(kin).
 iknows(kci).
 iknows(kic).
 iknows(i).
 state_sk_1(a,h,b,n,c,g,hsh,pwd,0,dummy_nonce,dummy_sk,dummy_sk,dummy_sk,dummy_sk,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_211,set_212,set_213,set_214,3).
 state_sk_2(h,a,b,n,c,g,hsh,khb,pwd,0,dummy_nonce,dummy_sk,dummy_sk,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_243,4).
 state_sk_3(n,a,h,b,c,g,hsh,khb,kbn,0,dummy_nonce,dummy_sk,dummy_sk,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_252,5).
 state_sk_4(n,a,h,b,c,g,hsh,kbn,knc,0,dummy_nonce,dummy_sk,dummy_sk,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_259,6).
 state_sk_5(c,a,h,b,n,g,hsh,knc,0,dummy_nonce,dummy_sk,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_265,7)


section rules:

step step_0 (A,H,B,N,C,G,Hsh,Pwd,Dummy_Ra,Dummy_TKah,Dummy_TKab,Dummy_TKan,Dummy_TKac,Dummy_Xah,Xhb,Xbn,Xnc,Xcc,Yh,Yhb,Yhbn,Yhbnc,Kh,Kb,Kn,Kc,Set_44,Set_47,Set_49,Set_51,SID,Ra) :=
 state_sk_1(A,H,B,N,C,G,Hsh,Pwd,0,Dummy_Ra,Dummy_TKah,Dummy_TKab,Dummy_TKan,Dummy_TKac,Dummy_Xah,Xhb,Xbn,Xnc,Xcc,Yh,Yhb,Yhbn,Yhbnc,Kh,Kb,Kn,Kc,Set_44,Set_47,Set_49,Set_51,SID).
 iknows(start)
=[exists Ra]=>
 state_sk_1(A,H,B,N,C,G,Hsh,Pwd,1,Ra,apply(Hsh,pair(A,pair(Pwd,H))),apply(Hsh,pair(apply(Hsh,pair(A,pair(Pwd,H))),B)),apply(Hsh,pair(apply(Hsh,pair(apply(Hsh,pair(A,pair(Pwd,H))),B)),N)),apply(Hsh,pair(apply(Hsh,pair(apply(Hsh,pair(apply(Hsh,pair(A,pair(Pwd,H))),B)),N)),C)),exp(G,Ra),Xhb,Xbn,Xnc,Xcc,Yh,Yhb,Yhbn,Yhbnc,Kh,Kb,Kn,Kc,Set_44,Set_47,Set_49,Set_51,SID).
 iknows(pair(A,pair(scrypt(apply(Hsh,pair(A,pair(Pwd,H))),exp(G,Ra)),H)))

step step_1 (A,H,B,N,C,G,Hsh,Pwd,Ra,TKah,TKab,TKan,TKac,Xah,Dummy_Xhb,Dummy_Xbn,Dummy_Xnc,Dummy_Xcc,Dummy_Yh,Dummy_Yhb,Dummy_Yhbn,Dummy_Yhbnc,Dummy_Kh,Dummy_Kb,Dummy_Kn,Dummy_Kc,Dummy_Set_44,Dummy_Set_47,Dummy_Set_49,Dummy_Set_51,SID,Yh,Yhb,Yhbn,Yhbnc) :=
 state_sk_1(A,H,B,N,C,G,Hsh,Pwd,1,Ra,TKah,TKab,TKan,TKac,Xah,Dummy_Xhb,Dummy_Xbn,Dummy_Xnc,Dummy_Xcc,Dummy_Yh,Dummy_Yhb,Dummy_Yhbn,Dummy_Yhbnc,Dummy_Kh,Dummy_Kb,Dummy_Kn,Dummy_Kc,Dummy_Set_44,Dummy_Set_47,Dummy_Set_49,Dummy_Set_51,SID).
 iknows(pair(H,pair(scrypt(TKah,Yh),pair(scrypt(TKah,Yhb),pair(scrypt(TKah,Yhbn),pair(scrypt(TKah,Yhbnc),A))))))
 =>
 state_sk_1(A,H,B,N,C,G,Hsh,Pwd,2,Ra,TKah,TKab,TKan,TKac,Xah,exp(Yh,Ra),exp(Yhb,Ra),exp(Yhbn,Ra),exp(Yhbnc,Ra),Yh,Yhb,Yhbn,Yhbnc,apply(Hsh,pair(exp(Yh,Ra),pair(TKah,pair(TKab,Xah)))),apply(Hsh,pair(exp(Yhb,Ra),pair(TKah,pair(TKab,Xah)))),apply(Hsh,pair(exp(Yhbn,Ra),pair(TKan,pair(TKac,exp(Yhb,Ra))))),apply(Hsh,pair(exp(Yhbnc,Ra),pair(TKac,pair(TKac,exp(Yhbn,Ra))))),Dummy_Set_44,Dummy_Set_47,Dummy_Set_49,Dummy_Set_51,SID).
 witness(A,H,k_ah,apply(Hsh,pair(exp(Yh,Ra),pair(TKah,pair(TKab,Xah))))).
 secret(apply(Hsh,pair(exp(Yh,Ra),pair(TKah,pair(TKab,Xah)))),sec_K_AH,Dummy_Set_44).
 witness(A,B,k_ab,apply(Hsh,pair(exp(Yhb,Ra),pair(TKah,pair(TKab,Xah))))).
 secret(apply(Hsh,pair(exp(Yhb,Ra),pair(TKah,pair(TKab,Xah)))),sec_K_AB,Dummy_Set_47).
 witness(A,N,k_an,apply(Hsh,pair(exp(Yhbn,Ra),pair(TKan,pair(TKac,exp(Yhb,Ra)))))).
 secret(apply(Hsh,pair(exp(Yhbn,Ra),pair(TKan,pair(TKac,exp(Yhb,Ra))))),sec_K_AN,Dummy_Set_49).
 witness(A,C,k_ac,apply(Hsh,pair(exp(Yhbnc,Ra),pair(TKac,pair(TKac,exp(Yhbn,Ra)))))).
 secret(apply(Hsh,pair(exp(Yhbnc,Ra),pair(TKac,pair(TKac,exp(Yhbn,Ra))))),sec_K_AC,Dummy_Set_51).
 request(A,H,k_ha,apply(Hsh,pair(exp(Yh,Ra),pair(TKah,pair(TKab,Xah)))),SID).
 request(A,B,k_ba,apply(Hsh,pair(exp(Yhb,Ra),pair(TKah,pair(TKab,Xah)))),SID).
 request(A,N,k_na,apply(Hsh,pair(exp(Yhbn,Ra),pair(TKan,pair(TKac,exp(Yhb,Ra))))),SID).
 request(A,C,k_ca,apply(Hsh,pair(exp(Yhbnc,Ra),pair(TKac,pair(TKac,exp(Yhbn,Ra))))),SID).
 contains(A,Dummy_Set_44).
 contains(H,Dummy_Set_44).
 contains(A,Dummy_Set_47).
 contains(B,Dummy_Set_47).
 contains(A,Dummy_Set_49).
 contains(N,Dummy_Set_49).
 contains(A,Dummy_Set_51).
 contains(C,Dummy_Set_51)

step step_2 (H,A,B,N,C,G,Hsh,Khb,Pwd,Dummy_Rh,Dummy_TKah,Dummy_TKab,Dummy_Temp1,Dummy_Xah,Dummy_Xhb,Yb,Ybn,Ybnc,Yh,Yhb,Yhbnc,Yhbn,Kh,Set_85,SID,Rh) :=
 state_sk_2(H,A,B,N,C,G,Hsh,Khb,Pwd,0,Dummy_Rh,Dummy_TKah,Dummy_TKab,Dummy_Temp1,Dummy_Xah,Dummy_Xhb,Yb,Ybn,Ybnc,Yh,Yhb,Yhbnc,Yhbn,Kh,Set_85,SID).
 iknows(A)
=[exists Rh]=>
 state_sk_2(H,A,B,N,C,G,Hsh,Khb,Pwd,1,Rh,apply(Hsh,pair(A,pair(Pwd,H))),apply(Hsh,pair(apply(Hsh,pair(A,pair(Pwd,H))),B)),Dummy_Temp1,scrypt(apply(Hsh,pair(A,pair(Pwd,H))),Temp1),exp(scrypt(apply(Hsh,pair(A,pair(Pwd,H))),Temp1),Rh),Yb,Ybn,Ybnc,Yh,Yhb,Yhbnc,Yhbn,Kh,Set_85,SID).
 iknows(pair(H,pair(scrypt(Khb,apply(Hsh,pair(apply(Hsh,pair(A,pair(Pwd,H))),B))),pair(scrypt(Khb,exp(scrypt(apply(Hsh,pair(A,pair(Pwd,H))),Temp1),Rh)),B))))

step step_3 (H,A,B,N,C,G,Hsh,Khb,Pwd,Rh,TKah,TKab,Temp1,Xah,Xhb,Dummy_Yb,Dummy_Ybn,Dummy_Ybnc,Dummy_Yh,Dummy_Yhb,Dummy_Yhbnc,Dummy_Yhbn,Dummy_Kh,Dummy_Set_85,SID,Yb,Ybn,Ybnc) :=
 state_sk_2(H,A,B,N,C,G,Hsh,Khb,Pwd,1,Rh,TKah,TKab,Temp1,Xah,Xhb,Dummy_Yb,Dummy_Ybn,Dummy_Ybnc,Dummy_Yh,Dummy_Yhb,Dummy_Yhbnc,Dummy_Yhbn,Dummy_Kh,Dummy_Set_85,SID).
 iknows(pair(B,pair(scrypt(Khb,Yb),pair(scrypt(Khb,Ybn),pair(scrypt(Khb,Ybnc),H)))))
 =>
 state_sk_2(H,A,B,N,C,G,Hsh,Khb,Pwd,2,Rh,TKah,TKab,Temp1,Xah,Xhb,Yb,Ybn,Ybnc,exp(G,Rh),exp(Yb,Rh),exp(Ybnc,Rh),exp(Ybn,Rh),apply(Hsh,pair(Xhb,pair(TKah,pair(TKab,Xah)))),Dummy_Set_85,SID).
 iknows(pair(H,pair(scrypt(TKah,exp(G,Rh)),pair(scrypt(TKah,exp(Yb,Rh)),pair(scrypt(TKah,exp(Ybnc,Rh)),A))))).
 witness(H,A,k_ha,apply(Hsh,pair(Xhb,pair(TKah,pair(TKab,Xah))))).
 secret(apply(Hsh,pair(Xhb,pair(TKah,pair(TKab,Xah)))),sec_K_HA,Dummy_Set_85).
 request(H,A,k_ah,apply(Hsh,pair(Xhb,pair(TKah,pair(TKab,Xah)))),SID).
 contains(H,Dummy_Set_85).
 contains(A,Dummy_Set_85)

step step_4 (B,A,H,N,C,G,Hsh,Khb,Kbn,Dummy_Rb,Dummy_TKab,Dummy_TKan,Dummy_Xhb,Dummy_Xbn,Yn,Ync,Yb,Ybn,Ybnc,Yh,Yhb,Yhbnc,Yhbn,Kb,Set_115,SID,Rb,TKab,Xhb) :=
 state_sk_3(B,A,H,N,C,G,Hsh,Khb,Kbn,0,Dummy_Rb,Dummy_TKab,Dummy_TKan,Dummy_Xhb,Dummy_Xbn,Yn,Ync,Yb,Ybn,Ybnc,Yh,Yhb,Yhbnc,Yhbn,Kb,Set_115,SID).
 iknows(pair(H,pair(scrypt(Khb,TKab),pair(scrypt(Khb,Xhb),B))))
=[exists Rb]=>
 state_sk_3(B,A,H,N,C,G,Hsh,Khb,Kbn,1,Rb,TKab,apply(Hsh,pair(TKab,N)),Xhb,exp(Xhb,Rb),Yn,Ync,Yb,Ybn,Ybnc,Yh,Yhb,Yhbnc,Yhbn,Kb,Set_115,SID).
 iknows(pair(B,pair(scrypt(Kbn,apply(Hsh,pair(TKab,N))),pair(scrypt(Kbn,exp(Xhb,Rb)),N))))

step step_5 (B,A,H,N,C,G,Hsh,Khb,Kbn,Rb,TKab,TKan,Xhb,Xbn,Dummy_Yn,Dummy_Ync,Dummy_Yb,Dummy_Ybn,Dummy_Ybnc,Yh,Yhb,Yhbnc,Yhbn,Dummy_Kb,Dummy_Set_115,SID,Yn,Ync) :=
 state_sk_3(B,A,H,N,C,G,Hsh,Khb,Kbn,1,Rb,TKab,TKan,Xhb,Xbn,Dummy_Yn,Dummy_Ync,Dummy_Yb,Dummy_Ybn,Dummy_Ybnc,Yh,Yhb,Yhbnc,Yhbn,Dummy_Kb,Dummy_Set_115,SID).
 iknows(pair(N,pair(scrypt(Kbn,Yn),pair(scrypt(Kbn,Ync),B))))
 =>
 state_sk_3(B,A,H,N,C,G,Hsh,Khb,Kbn,2,Rb,TKab,TKan,Xhb,Xbn,Yn,Ync,exp(G,Rb),exp(Yn,Rb),exp(Ync,Rb),Yh,Yhb,Yhbnc,Yhbn,apply(Hsh,pair(Xbn,pair(TKab,pair(TKan,Xhb)))),Dummy_Set_115,SID).
 iknows(pair(B,pair(scrypt(Khb,exp(G,Rb)),pair(scrypt(Khb,exp(Yn,Rb)),pair(scrypt(Khb,exp(Ync,Rb)),H))))).
 witness(B,A,k_ab,apply(Hsh,pair(Xbn,pair(TKab,pair(TKan,Xhb))))).
 secret(apply(Hsh,pair(Xbn,pair(TKab,pair(TKan,Xhb)))),sec_K_BA,Dummy_Set_115).
 request(B,A,k_ab,apply(Hsh,pair(Xbn,pair(TKab,pair(TKan,Xhb)))),SID).
 contains(B,Dummy_Set_115).
 contains(A,Dummy_Set_115)

step step_6 (N,A,H,B,C,G,Hsh,Kbn,Knc,Dummy_Rn,Dummy_TKan,Dummy_TKac,Dummy_Xbn,Dummy_Xnc,Yc,Yn,Ync,Kn,Set_139,SID,Rn,TKan,Xbn) :=
 state_sk_4(N,A,H,B,C,G,Hsh,Kbn,Knc,0,Dummy_Rn,Dummy_TKan,Dummy_TKac,Dummy_Xbn,Dummy_Xnc,Yc,Yn,Ync,Kn,Set_139,SID).
 iknows(pair(B,pair(scrypt(Kbn,TKan),pair(scrypt(Kbn,Xbn),N))))
=[exists Rn]=>
 state_sk_4(N,A,H,B,C,G,Hsh,Kbn,Knc,1,Rn,TKan,apply(Hsh,pair(TKan,C)),Xbn,exp(Xbn,Rn),Yc,Yn,Ync,Kn,Set_139,SID).
 iknows(pair(N,pair(scrypt(Knc,apply(Hsh,pair(TKan,C))),pair(scrypt(Knc,exp(Xbn,Rn)),B))))

step step_7 (N,A,H,B,C,G,Hsh,Kbn,Knc,Rn,TKan,TKac,Xbn,Xnc,Dummy_Yc,Dummy_Yn,Dummy_Ync,Dummy_Kn,Dummy_Set_139,SID,Yc) :=
 state_sk_4(N,A,H,B,C,G,Hsh,Kbn,Knc,1,Rn,TKan,TKac,Xbn,Xnc,Dummy_Yc,Dummy_Yn,Dummy_Ync,Dummy_Kn,Dummy_Set_139,SID).
 iknows(pair(C,pair(scrypt(Knc,Yc),N)))
 =>
 state_sk_4(N,A,H,B,C,G,Hsh,Kbn,Knc,2,Rn,TKan,TKac,Xbn,Xnc,Yc,exp(G,Rn),exp(Yc,Rn),apply(Hsh,pair(Xnc,pair(TKan,pair(TKac,Xbn)))),Dummy_Set_139,SID).
 iknows(pair(N,pair(scrypt(Kbn,exp(G,Rn)),B))).
 witness(N,A,k_na,apply(Hsh,pair(Xnc,pair(TKan,pair(TKac,Xbn))))).
 secret(apply(Hsh,pair(Xnc,pair(TKan,pair(TKac,Xbn)))),sec_K_NA,Dummy_Set_139).
 request(N,A,k_an,apply(Hsh,pair(Xnc,pair(TKan,pair(TKac,Xbn)))),SID).
 contains(N,Dummy_Set_139).
 contains(A,Dummy_Set_139)

step step_8 (C,A,H,B,N,G,Hsh,Knc,Dummy_Rc,Dummy_TKac,Dummy_Xnc,Dummy_Yc,Dummy_Xcc,Dummy_Kc,Dummy_Set_159,SID,Rc,TKac,Xnc) :=
 state_sk_5(C,A,H,B,N,G,Hsh,Knc,0,Dummy_Rc,Dummy_TKac,Dummy_Xnc,Dummy_Yc,Dummy_Xcc,Dummy_Kc,Dummy_Set_159,SID).
 iknows(pair(N,pair(scrypt(Knc,TKac),pair(scrypt(Knc,Xnc),C))))
=[exists Rc]=>
 state_sk_5(C,A,H,B,N,G,Hsh,Knc,1,Rc,TKac,Xnc,exp(G,Rc),exp(Xnc,Rc),apply(Hsh,pair(pair(Dummy_Xcc,pair(TKac,Dummy_TKac)),Xnc)),Dummy_Set_159,SID).
 iknows(pair(C,pair(scrypt(Knc,exp(G,Rc)),N))).
 witness(C,A,k_ca,apply(Hsh,pair(pair(Dummy_Xcc,pair(TKac,Dummy_TKac)),Xnc))).
 secret(apply(Hsh,pair(pair(Dummy_Xcc,pair(TKac,Dummy_TKac)),Xnc)),sec_K_CA,Dummy_Set_159).
 request(C,A,k_ac,apply(Hsh,pair(pair(Dummy_Xcc,pair(TKac,Dummy_TKac)),Xnc)),SID).
 contains(C,Dummy_Set_159).
 contains(A,Dummy_Set_159)


section properties:

property secrecy_of_sec_K_AH (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_K_AH,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_K_HA (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_K_HA,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_K_AB (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_K_AB,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_K_BA (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_K_BA,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_K_AN (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_K_AN,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_K_NA (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_K_NA,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_K_AC (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_K_AC,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_K_CA (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_K_CA,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_k_ah (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,k_ah,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,k_ah,MGoal))
     /\ ((request(A1Goal,A2Goal,k_ah,MGoal,SID1)
           /\ request(A1Goal,A2Goal,k_ah,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_k_ha (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,k_ha,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,k_ha,MGoal))
     /\ ((request(A1Goal,A2Goal,k_ha,MGoal,SID1)
           /\ request(A1Goal,A2Goal,k_ha,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_k_ab (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,k_ab,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,k_ab,MGoal))
     /\ ((request(A1Goal,A2Goal,k_ab,MGoal,SID1)
           /\ request(A1Goal,A2Goal,k_ab,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_k_ba (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,k_ba,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,k_ba,MGoal))
     /\ ((request(A1Goal,A2Goal,k_ba,MGoal,SID1)
           /\ request(A1Goal,A2Goal,k_ba,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_k_an (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,k_an,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,k_an,MGoal))
     /\ ((request(A1Goal,A2Goal,k_an,MGoal,SID1)
           /\ request(A1Goal,A2Goal,k_an,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_k_na (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,k_na,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,k_na,MGoal))
     /\ ((request(A1Goal,A2Goal,k_na,MGoal,SID1)
           /\ request(A1Goal,A2Goal,k_na,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_k_ac (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,k_ac,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,k_ac,MGoal))
     /\ ((request(A1Goal,A2Goal,k_ac,MGoal,SID1)
           /\ request(A1Goal,A2Goal,k_ac,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_k_ca (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,k_ca,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,k_ca,MGoal))
     /\ ((request(A1Goal,A2Goal,k_ca,MGoal,SID1)
           /\ request(A1Goal,A2Goal,k_ca,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec_K_AH (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_K_AH,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_K_HA (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_K_HA,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_K_AB (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_K_AB,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_K_BA (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_K_BA,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_K_AN (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_K_AN,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_K_NA (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_K_NA,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_K_AC (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_K_AC,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_K_CA (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_K_CA,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_k_ah (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,k_ah,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_ah,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_k_ah (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,k_ah,MGoal,SID1).
 request(A1Goal,A2Goal,k_ah,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_k_ha (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,k_ha,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_ha,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_k_ha (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,k_ha,MGoal,SID1).
 request(A1Goal,A2Goal,k_ha,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_k_ab (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,k_ab,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_ab,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_k_ab (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,k_ab,MGoal,SID1).
 request(A1Goal,A2Goal,k_ab,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_k_ba (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,k_ba,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_ba,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_k_ba (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,k_ba,MGoal,SID1).
 request(A1Goal,A2Goal,k_ba,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_k_an (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,k_an,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_an,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_k_an (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,k_an,MGoal,SID1).
 request(A1Goal,A2Goal,k_an,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_k_na (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,k_na,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_na,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_k_na (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,k_na,MGoal,SID1).
 request(A1Goal,A2Goal,k_na,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_k_ac (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,k_ac,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_ac,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_k_ac (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,k_ac,MGoal,SID1).
 request(A1Goal,A2Goal,k_ac,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_k_ca (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,k_ca,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_ca,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_k_ca (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,k_ca,MGoal,SID1).
 request(A1Goal,A2Goal,k_ca,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

