%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilepeYBkn

section signature:

state_ha: agent * agent * agent * symmetric_key * symmetric_key * symmetric_key * symmetric_key * hash_func * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * nat * nat -> fact
state_mn: agent * agent * agent * symmetric_key * symmetric_key * symmetric_key * symmetric_key * hash_func * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * nat * nat -> fact
state_fa: agent * agent * agent * symmetric_key * symmetric_key * symmetric_key * symmetric_key * hash_func * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * nat * nat -> fact


section types:

start: message
6, 2, State, 8, 4, 1, 5, SID, 7, 3, 0, Dummy_State: nat
IDFA, MNCOA, NFA, NHA, NMN, IDHA, IDMN, Advertisement, TMN, TMNSTAR, TFA, TFASTAR, NDASHA, THA, THASTAR, Dummy_THASTAR, Dummy_THA, Dummy_NDASHA, Dummy_TFASTAR, Dummy_TFA, Dummy_TMNSTAR, Dummy_TMN, Dummy_IDMN, Dummy_IDHA, Dummy_NMN, Dummy_NHA, Dummy_Advertisement, Dummy_NFA, Dummy_MNCOA, Dummy_IDFA, dummy_nonce: text
HASHE, ha: hash_func
MNPK, HAPK, FAPK, KMNHA, mnpk, hapk, fapk, kmnha: symmetric_key
FA, MN, HA, mn1, fa1, ha1, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(i).
 state_fa(fa1,mn1,ha1,mnpk,hapk,fapk,kmnha,ha,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,0,3).
 state_mn(mn1,fa1,ha1,mnpk,hapk,fapk,kmnha,ha,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,1,4).
 state_ha(ha1,fa1,mn1,mnpk,hapk,fapk,kmnha,ha,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,2,5)


section rules:

step step_0 (FA,MN,HA,MNPK,HAPK,FAPK,KMNHA,HASHE,Dummy_IDFA,Dummy_MNCOA,Dummy_NFA,NHA,NMN,IDHA,IDMN,Dummy_Advertisement,TMN,TMNSTAR,TFA,TFASTAR,NDASHA,THA,THASTAR,SID,IDFA,MNCOA,NFA,Advertisement) :=
 state_fa(FA,MN,HA,MNPK,HAPK,FAPK,KMNHA,HASHE,Dummy_IDFA,Dummy_MNCOA,Dummy_NFA,NHA,NMN,IDHA,IDMN,Dummy_Advertisement,TMN,TMNSTAR,TFA,TFASTAR,NDASHA,THA,THASTAR,0,SID).
 iknows(start)
=[exists NFA,MNCOA,IDFA,Advertisement]=>
 state_fa(FA,MN,HA,MNPK,HAPK,FAPK,KMNHA,HASHE,IDFA,MNCOA,NFA,NHA,NMN,IDHA,IDMN,Advertisement,TMN,TMNSTAR,TFA,TFASTAR,NDASHA,THA,THASTAR,3,SID).
 iknows(pair(Advertisement,pair(IDFA,pair(MNCOA,NFA))))

step step_1 (FA,MN,HA,MNPK,HAPK,FAPK,KMNHA,HASHE,Dummy_IDFA,MNCOA,NFA,Dummy_NHA,Dummy_NMN,Dummy_IDHA,Dummy_IDMN,Advertisement,Dummy_TMN,Dummy_TMNSTAR,Dummy_TFA,Dummy_TFASTAR,NDASHA,THA,THASTAR,SID,IDFA,NHA,NMN,IDHA,IDMN,TMN,TMNSTAR,TFA,TFASTAR) :=
 state_fa(FA,MN,HA,MNPK,HAPK,FAPK,KMNHA,HASHE,Dummy_IDFA,MNCOA,NFA,Dummy_NHA,Dummy_NMN,Dummy_IDHA,Dummy_IDMN,Advertisement,Dummy_TMN,Dummy_TMNSTAR,Dummy_TFA,Dummy_TFASTAR,NDASHA,THA,THASTAR,3,SID).
 iknows(pair(IDHA,pair(IDMN,pair(MNCOA,pair(NHA,pair(NMN,pair(scrypt(KMNHA,pair(IDHA,pair(IDMN,pair(MNCOA,pair(NHA,NMN))))),pair(TMN,apply(HASHE,pair(IDMN,pair(IDFA,pair(TMN,TMNSTAR))))))))))))
=[exists TFASTAR,TFA]=>
 state_fa(FA,MN,HA,MNPK,HAPK,FAPK,KMNHA,HASHE,IDFA,MNCOA,NFA,NHA,NMN,IDHA,IDMN,Advertisement,TMN,TMNSTAR,TFA,TFASTAR,NDASHA,THA,THASTAR,5,SID).
 iknows(pair(Dummy_IDHA,pair(Dummy_IDMN,pair(MNCOA,pair(Dummy_NHA,pair(Dummy_NMN,pair(scrypt(KMNHA,pair(Dummy_IDHA,pair(Dummy_IDMN,pair(MNCOA,pair(Dummy_NHA,Dummy_NMN))))),pair(Dummy_TMN,apply(HASHE,pair(Dummy_IDHA,pair(Dummy_IDFA,pair(TFA,TFASTAR))))))))))))

step step_2 (FA,MN,HA,MNPK,HAPK,FAPK,KMNHA,HASHE,IDFA,MNCOA,NFA,NHA,NMN,Dummy_IDHA,IDMN,Advertisement,TMN,TMNSTAR,TFA,TFASTAR,Dummy_NDASHA,Dummy_THA,Dummy_THASTAR,SID,IDHA,NDASHA,THA,THASTAR) :=
 state_fa(FA,MN,HA,MNPK,HAPK,FAPK,KMNHA,HASHE,IDFA,MNCOA,NFA,NHA,NMN,Dummy_IDHA,IDMN,Advertisement,TMN,TMNSTAR,TFA,TFASTAR,Dummy_NDASHA,Dummy_THA,Dummy_THASTAR,5,SID).
 iknows(pair(Dummy_IDHA,pair(NHA,pair(NMN,pair(scrypt(KMNHA,pair(Dummy_IDHA,pair(NHA,NMN))),pair(scrypt(KMNHA,NDASHA),pair(Dummy_THA,apply(HASHE,pair(Dummy_IDHA,pair(IDFA,pair(THA,THASTAR)))))))))))
=[exists IDHA]=>
 state_fa(FA,MN,HA,MNPK,HAPK,FAPK,KMNHA,HASHE,IDFA,MNCOA,NFA,NHA,NMN,IDHA,IDMN,Advertisement,TMN,TMNSTAR,TFA,TFASTAR,NDASHA,THA,THASTAR,7,SID).
 iknows(pair(IDHA,pair(NHA,pair(NMN,pair(scrypt(KMNHA,pair(IDHA,pair(NHA,NMN))),pair(scrypt(KMNHA,Dummy_NDASHA),pair(TFA,apply(HASHE,pair(IDHA,pair(IDFA,pair(TFA,TFASTAR)))))))))))

step step_3 (MN,FA,HA,MNPK,HAPK,FAPK,KMNHA,HASHE,Dummy_IDFA,Dummy_MNCOA,Dummy_NFA,Dummy_NHA,Dummy_NMN,Dummy_IDHA,Dummy_IDMN,Dummy_Advertisement,Dummy_TMN,Dummy_TMNSTAR,TFA,TFASTAR,NDASHA,THA,THASTAR,SID,IDFA,MNCOA,NFA,NHA,NMN,IDHA,IDMN,Advertisement,TMN,TMNSTAR) :=
 state_mn(MN,FA,HA,MNPK,HAPK,FAPK,KMNHA,HASHE,Dummy_IDFA,Dummy_MNCOA,Dummy_NFA,Dummy_NHA,Dummy_NMN,Dummy_IDHA,Dummy_IDMN,Dummy_Advertisement,Dummy_TMN,Dummy_TMNSTAR,TFA,TFASTAR,NDASHA,THA,THASTAR,1,SID).
 iknows(pair(Advertisement,pair(IDFA,pair(MNCOA,NFA))))
=[exists TMNSTAR,TMN,NMN,NHA,IDMN,IDHA]=>
 state_mn(MN,FA,HA,MNPK,HAPK,FAPK,KMNHA,HASHE,IDFA,MNCOA,NFA,NHA,NMN,IDHA,IDMN,Advertisement,TMN,TMNSTAR,TFA,TFASTAR,NDASHA,THA,THASTAR,4,SID).
 iknows(pair(IDHA,pair(IDMN,pair(Dummy_MNCOA,pair(NHA,pair(NMN,pair(scrypt(KMNHA,pair(IDHA,pair(IDMN,pair(Dummy_MNCOA,pair(NHA,NMN))))),pair(TMN,apply(HASHE,pair(IDMN,pair(IDFA,pair(TMN,TMNSTAR))))))))))))

step step_4 (MN,FA,HA,MNPK,HAPK,FAPK,KMNHA,HASHE,IDFA,MNCOA,NFA,NHA,NMN,Dummy_IDHA,IDMN,Advertisement,TMN,TMNSTAR,TFA,TFASTAR,NDASHA,THA,THASTAR,SID,IDHA) :=
 state_mn(MN,FA,HA,MNPK,HAPK,FAPK,KMNHA,HASHE,IDFA,MNCOA,NFA,NHA,NMN,Dummy_IDHA,IDMN,Advertisement,TMN,TMNSTAR,TFA,TFASTAR,NDASHA,THA,THASTAR,4,SID).
 iknows(pair(IDHA,pair(NHA,pair(NMN,pair(scrypt(KMNHA,pair(IDHA,pair(NHA,NMN))),pair(scrypt(KMNHA,NDASHA),pair(TFA,apply(HASHE,pair(IDHA,pair(IDFA,pair(TFA,TFASTAR)))))))))))
 =>
 state_mn(MN,FA,HA,MNPK,HAPK,FAPK,KMNHA,HASHE,IDFA,MNCOA,NFA,NHA,NMN,IDHA,IDMN,Advertisement,TMN,TMNSTAR,TFA,TFASTAR,NDASHA,THA,THASTAR,8,SID)

step step_5 (HA,FA,MN,MNPK,HAPK,FAPK,KMNHA,HASHE,IDFA,MNCOA,NFA,NHA,NMN,Dummy_IDHA,IDMN,Advertisement,TMN,TMNSTAR,Dummy_TFA,Dummy_TFASTAR,Dummy_NDASHA,Dummy_THA,Dummy_THASTAR,SID,IDHA,TFA,TFASTAR,NDASHA,THA,THASTAR) :=
 state_ha(HA,FA,MN,MNPK,HAPK,FAPK,KMNHA,HASHE,IDFA,MNCOA,NFA,NHA,NMN,Dummy_IDHA,IDMN,Advertisement,TMN,TMNSTAR,Dummy_TFA,Dummy_TFASTAR,Dummy_NDASHA,Dummy_THA,Dummy_THASTAR,2,SID).
 iknows(pair(IDHA,pair(IDMN,pair(MNCOA,pair(NHA,pair(NMN,pair(scrypt(KMNHA,pair(IDHA,pair(IDMN,pair(MNCOA,pair(NHA,NMN))))),pair(TMN,apply(HASHE,pair(IDHA,pair(IDFA,pair(TFA,TFASTAR))))))))))))
=[exists NDASHA,THASTAR,THA]=>
 state_ha(HA,FA,MN,MNPK,HAPK,FAPK,KMNHA,HASHE,IDFA,MNCOA,NFA,NHA,NMN,IDHA,IDMN,Advertisement,TMN,TMNSTAR,TFA,TFASTAR,NDASHA,THA,THASTAR,6,SID).
 iknows(pair(Dummy_IDHA,pair(NHA,pair(NMN,pair(scrypt(KMNHA,pair(Dummy_IDHA,pair(NHA,NMN))),pair(scrypt(KMNHA,NDASHA),pair(Dummy_THA,apply(HASHE,pair(Dummy_IDHA,pair(IDFA,pair(THA,THASTAR)))))))))))


