%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileushobx

section signature:

state_home: agent * agent * public_key * public_key * hash_func * nat * text * text * text * text * text * text * set(agent) * nat -> fact
state_mobile: agent * agent * public_key * public_key * hash_func * nat * text * text * text * text * text * text * set(agent) * nat -> fact


section types:

set_86, set_74: set
nh, home_mobile_nh, mobile_home_nh, home_mobile_na, na, mobile_home_na: protocol_id
start, MGoal: message
Mn_tmp, Nh, HoA, CoA, MN_sig, Nm, Dummy_Nm, Dummy_CoA, Dummy_MN_sig, Dummy_HoA, Dummy_Nh, Dummy_Mn_tmp, dummy_nonce: text
Hash, h: hash_func
K_rabinb, K_rabina, ka, kb, ki: public_key
A, B, A2Goal, A1Goal, a, b, i: agent
3, 1, State, 4, SID, Dummy_State, 2, 0, 5: nat
Dummy_Set_50, Dummy_Set_24, Set_24, ASGoal, Set_50: set(agent)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(b).
 iknows(a).
 iknows(kb).
 iknows(ka).
 iknows(ki).
 iknows(inv(ki)).
 iknows(i).
 state_mobile(a,b,ka,kb,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_74,3).
 state_home(a,b,ka,kb,h,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_86,4)


section rules:

step step_0 (A,B,K_rabina,K_rabinb,Hash,Dummy_Mn_tmp,Dummy_Nh,Dummy_HoA,Dummy_MN_sig,Dummy_CoA,Dummy_Nm,Dummy_Set_24,SID,Mn_tmp,Nh,HoA,MN_sig,CoA,Nm) :=
 state_mobile(A,B,K_rabina,K_rabinb,Hash,0,Dummy_Mn_tmp,Dummy_Nh,Dummy_HoA,Dummy_MN_sig,Dummy_CoA,Dummy_Nm,Dummy_Set_24,SID).
 iknows(start)
=[exists Nh,Nm,CoA,MN_sig,HoA,Mn_tmp]=>
 state_mobile(A,B,K_rabina,K_rabinb,Hash,2,Mn_tmp,Nh,HoA,MN_sig,CoA,Nm,Dummy_Set_24,SID).
 iknows(pair(HoA,pair(MN_sig,crypt(K_rabinb,pair(CoA,pair(Mn_tmp,apply(Hash,pair(pair(Nm,pair(Nh,K_rabina)),K_rabinb)))))))).
 iknows(apply(Hash,pair(Nm,xor(Nh)))).
 iknows(pair(apply(Hash,apply(Hash,pair(Nm,xor(Nh)))),xor(Nh))).
 secret(Mn_tmp,na,Dummy_Set_24).
 contains(A,Dummy_Set_24).
 contains(B,Dummy_Set_24)

step step_1 (A,B,K_rabina,K_rabinb,Hash,Dummy_Mn_tmp,Dummy_Nh,Dummy_HoA,Dummy_MN_sig,Dummy_CoA,Dummy_Nm,Set_24,SID,Mn_tmp,Nh,HoA,MN_sig,CoA,Nm) :=
 state_mobile(A,B,K_rabina,K_rabinb,Hash,2,Dummy_Mn_tmp,Dummy_Nh,Dummy_HoA,Dummy_MN_sig,Dummy_CoA,Dummy_Nm,Set_24,SID).
 iknows(pair(HoA,pair(MN_sig,crypt(K_rabina,pair(CoA,pair(Mn_tmp,apply(Hash,pair(pair(Nm,pair(Nh,K_rabina)),K_rabinb)))))))).
 iknows(apply(Hash,pair(Nm,xor(Nh)))).
 iknows(pair(apply(Hash,apply(Hash,pair(Nm,xor(Nh)))),xor(Nh)))
 =>
 state_mobile(A,B,K_rabina,K_rabinb,Hash,4,Mn_tmp,Nh,HoA,MN_sig,CoA,Nm,Set_24,SID)

step step_2 (B,A,K_rabina,K_rabinb,Hash,Dummy_Mn_tmp,Dummy_Nh,Dummy_HoA,Dummy_CoA,Dummy_MN_sig,Dummy_Nm,Dummy_Set_50,SID,Mn_tmp,Nh,HoA,CoA,MN_sig,Nm) :=
 state_home(B,A,K_rabina,K_rabinb,Hash,1,Dummy_Mn_tmp,Dummy_Nh,Dummy_HoA,Dummy_CoA,Dummy_MN_sig,Dummy_Nm,Dummy_Set_50,SID).
 iknows(pair(HoA,pair(MN_sig,crypt(K_rabinb,pair(CoA,pair(Mn_tmp,apply(Hash,pair(pair(Nm,pair(Nh,K_rabina)),K_rabinb))))))))
 =>
 state_home(B,A,K_rabina,K_rabinb,Hash,3,Mn_tmp,Nh,HoA,CoA,MN_sig,Nm,Dummy_Set_50,SID).
 iknows(pair(HoA,crypt(K_rabina,pair(CoA,pair(Mn_tmp,apply(Hash,pair(pair(Nm,pair(Nh,K_rabina)),K_rabinb))))))).
 iknows(apply(Hash,pair(Nm,xor(Nh)))).
 iknows(pair(apply(Hash,apply(Hash,pair(Nm,xor(Nh)))),xor(Nh))).
 secret(Dummy_Nh,nh,Dummy_Set_50).
 contains(B,Dummy_Set_50).
 contains(A,Dummy_Set_50)

step step_3 (B,A,K_rabina,K_rabinb,Hash,Mn_tmp,Dummy_Nh,HoA,CoA,MN_sig,Nm,Set_50,SID,Nh) :=
 state_home(B,A,K_rabina,K_rabinb,Hash,3,Mn_tmp,Dummy_Nh,HoA,CoA,MN_sig,Nm,Set_50,SID).
 iknows(crypt(K_rabinb,Nh))
 =>
 state_home(B,A,K_rabina,K_rabinb,Hash,5,Mn_tmp,Nh,HoA,CoA,MN_sig,Nm,Set_50,SID)


section properties:

property secrecy_of_na (MGoal,ASGoal) :=
 [] ((secret(MGoal,na,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_nh (MGoal,ASGoal) :=
 [] ((secret(MGoal,nh,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property weak_authentication_on_home_mobile_nh (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,home_mobile_nh,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,home_mobile_nh,MGoal))

property weak_authentication_on_mobile_home_na (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,mobile_home_na,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,mobile_home_na,MGoal))


section attack_states:

attack_state secrecy_of_na (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,na,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_nh (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,nh,ASGoal) &
 not(contains(i,ASGoal))

attack_state weak_authentication_on_home_mobile_nh (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,home_mobile_nh,MGoal,SID) &
 not(witness(A2Goal,A1Goal,home_mobile_nh,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_mobile_home_na (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,mobile_home_na,MGoal,SID) &
 not(witness(A2Goal,A1Goal,mobile_home_na,MGoal)) &
 not(equal(A2Goal,i))

