%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileqn5925

section signature:

state_bob: agent * agent * public_key * public_key * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(agent) * nat -> fact
state_alice: agent * agent * public_key * public_key * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * nat -> fact


section types:

data2, na, nb, alice_bob_nb, alice_bob_data3, bob_alice_iv2, bob_alice_na: protocol_id
MGoal, start: message
f, h, mac, F, H, Mac: hash_func
set_117, set_114, set_110: set
ka, kb, ki, Ka, Kb: public_key
SID, 7, 5, 3, 1, State, 6, 4, 2, 0, 9, Dummy_State: nat
A2Goal, A1Goal, a, b, A, B, i: agent
Na, Iv1, Iv2, Data1, Data2, Data3, Cfinal, Dfinal, Qfinal, Atr, Btr, Ctr, Dtr, Etr, Nb, Dummy_Nb, Dummy_Data3, Dummy_Iv2, Dummy_Na, dummy_nonce: text
Set_71, Dummy_Set_71, ASGoal: set(agent)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(b).
 iknows(ka).
 iknows(kb).
 iknows(ki).
 iknows(inv(ki)).
 iknows(i).
 state_alice(a,b,ka,kb,f,h,mac,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,3).
 state_bob(b,a,ka,kb,f,h,mac,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_110,4).
 state_bob(b,i,ka,kb,f,h,mac,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_114,7).
 state_alice(a,i,ka,kb,f,h,mac,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,9)


section rules:

step step_0 (A,B,Ka,Kb,F,H,Mac,Dummy_Na,Iv1,Iv2,Data1,Data2,Data3,Atr,Btr,Ctr,Dtr,Etr,Qfinal,Cfinal,Dfinal,Nb,SID,Na) :=
 state_alice(A,B,Ka,Kb,F,H,Mac,0,Dummy_Na,Iv1,Iv2,Data1,Data2,Data3,Atr,Btr,Ctr,Dtr,Etr,Qfinal,Cfinal,Dfinal,Nb,SID).
 iknows(start)
=[exists Na]=>
 state_alice(A,B,Ka,Kb,F,H,Mac,2,Na,Iv1,Iv2,Data1,Data2,Data3,Atr,Btr,Ctr,Dtr,Etr,Qfinal,Cfinal,Dfinal,Nb,SID).
 iknows(pair(A,pair(B,crypt(inv(Ka),pair(Dtr,pair(B,pair(Na,pair(Iv1,pair(Data1,Data1))))))))).
 witness(A,B,bob_alice_na,Na)

step step_1 (A,B,Ka,Kb,F,H,Mac,Na,Iv1,Dummy_Iv2,Data1,Data2,Dummy_Data3,Atr,Btr,Ctr,Dtr,Etr,Qfinal,Cfinal,Dfinal,Nb,SID,Iv2,Data3) :=
 state_alice(A,B,Ka,Kb,F,H,Mac,2,Na,Iv1,Dummy_Iv2,Data1,Data2,Dummy_Data3,Atr,Btr,Ctr,Dtr,Etr,Qfinal,Cfinal,Dfinal,Nb,SID).
 iknows(pair(B,pair(A,pair(crypt(inv(Kb),pair(Dtr,pair(A,pair(Na,pair(Qfinal,pair(Data3,Data1)))))),crypt(inv(Kb),pair(Etr,pair(A,pair(Data1,Data3))))))))
=[exists Iv2]=>
 state_alice(A,B,Ka,Kb,F,H,Mac,4,Na,Iv1,Iv2,Data1,Data2,Data3,Atr,Btr,Ctr,Dtr,Etr,Qfinal,Cfinal,Dfinal,Nb,SID).
 iknows(crypt(Kb,pair(Atr,pair(Iv2,pair(A,crypt(inv(Ka),pair(Dtr,pair(B,pair(Dtr,pair(Qfinal,pair(Data3,Data1))))))))))).
 witness(A,B,bob_alice_iv2,Iv2).
 wrequest(A,B,alice_bob_data3,Data3,SID)

step step_2 (A,B,Ka,Kb,F,H,Mac,Na,Iv1,Dummy_Iv2,Data1,Data2,Data3,Atr,Btr,Ctr,Dtr,Etr,Qfinal,Cfinal,Dfinal,Dummy_Nb,SID,Iv2,Nb) :=
 state_alice(A,B,Ka,Kb,F,H,Mac,4,Na,Iv1,Dummy_Iv2,Data1,Data2,Data3,Atr,Btr,Ctr,Dtr,Etr,Qfinal,Cfinal,Dfinal,Dummy_Nb,SID).
 iknows(crypt(Ka,pair(Btr,pair(Iv2,Nb))))
 =>
 state_alice(A,B,Ka,Kb,F,H,Mac,6,Na,Iv1,Iv2,Data1,Data2,Data3,Atr,Btr,Ctr,Dtr,Etr,Qfinal,Cfinal,Dfinal,Nb,SID).
 iknows(crypt(Kb,pair(Ctr,Nb))).
 wrequest(A,B,alice_bob_nb,Nb,SID)

step step_3 (B,A,Ka,Kb,F,H,Mac,Na,Iv1,Iv2,Data1,Data2,Dummy_Data3,Cfinal,Dfinal,Qfinal,Atr,Btr,Ctr,Dtr,Etr,Nb,Set_71,SID,Data3) :=
 state_bob(B,A,Ka,Kb,F,H,Mac,1,Na,Iv1,Iv2,Data1,Data2,Dummy_Data3,Cfinal,Dfinal,Qfinal,Atr,Btr,Ctr,Dtr,Etr,Nb,Set_71,SID).
 iknows(pair(A,pair(B,crypt(inv(Ka),pair(Dtr,pair(B,pair(Na,pair(Iv1,pair(Data1,Data1)))))))))
=[exists Data3]=>
 state_bob(B,A,Ka,Kb,F,H,Mac,3,Na,Iv1,Iv2,Data1,Data2,Data3,Cfinal,Dfinal,Qfinal,Atr,Btr,Ctr,Dtr,Etr,Nb,Set_71,SID).
 iknows(pair(B,pair(A,pair(crypt(inv(Kb),pair(Dtr,pair(A,pair(Na,pair(Qfinal,pair(Data3,Data1)))))),crypt(inv(Kb),pair(Etr,pair(A,pair(Data1,Data3)))))))).
 witness(B,A,alice_bob_data3,Data3)

step step_4 (B,A,Ka,Kb,F,H,Mac,Na,Iv1,Iv2,Data1,Data2,Dummy_Data3,Cfinal,Dfinal,Qfinal,Atr,Btr,Ctr,Dtr,Etr,Dummy_Nb,Dummy_Set_71,SID,Data3,Nb) :=
 state_bob(B,A,Ka,Kb,F,H,Mac,3,Na,Iv1,Iv2,Data1,Data2,Dummy_Data3,Cfinal,Dfinal,Qfinal,Atr,Btr,Ctr,Dtr,Etr,Dummy_Nb,Dummy_Set_71,SID).
 iknows(crypt(Kb,pair(Atr,pair(Iv2,pair(A,crypt(inv(Ka),pair(Dtr,pair(B,pair(Dtr,pair(Qfinal,pair(Data3,Data1)))))))))))
=[exists Nb]=>
 state_bob(B,A,Ka,Kb,F,H,Mac,5,Na,Iv1,Iv2,Data1,Data2,Data3,Cfinal,Dfinal,Qfinal,Atr,Btr,Ctr,Dtr,Etr,Nb,Dummy_Set_71,SID).
 iknows(crypt(Ka,pair(Btr,pair(Iv2,Nb)))).
 secret(Nb,nb,Dummy_Set_71).
 wrequest(B,A,bob_alice_iv2,Iv2,SID).
 witness(B,A,alice_bob_nb,Nb).
 contains(A,Dummy_Set_71).
 contains(B,Dummy_Set_71)

step step_5 (B,A,Ka,Kb,F,H,Mac,Na,Iv1,Iv2,Data1,Data2,Data3,Cfinal,Dfinal,Qfinal,Atr,Btr,Ctr,Dtr,Etr,Nb,Set_71,SID) :=
 state_bob(B,A,Ka,Kb,F,H,Mac,5,Na,Iv1,Iv2,Data1,Data2,Data3,Cfinal,Dfinal,Qfinal,Atr,Btr,Ctr,Dtr,Etr,Nb,Set_71,SID).
 iknows(crypt(Kb,pair(Ctr,Nb)))
 =>
 state_bob(B,A,Ka,Kb,F,H,Mac,7,Na,Iv1,Iv2,Data1,Data2,Data3,Cfinal,Dfinal,Qfinal,Atr,Btr,Ctr,Dtr,Etr,Nb,Set_71,SID).
 wrequest(B,A,bob_alice_na,Na,SID)


section properties:

property weak_authentication_on_bob_alice_iv2 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,bob_alice_iv2,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,bob_alice_iv2,MGoal))

property weak_authentication_on_bob_alice_na (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,bob_alice_na,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,bob_alice_na,MGoal))

property weak_authentication_on_alice_bob_data3 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,alice_bob_data3,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,alice_bob_data3,MGoal))

property weak_authentication_on_alice_bob_nb (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,alice_bob_nb,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,alice_bob_nb,MGoal))

property secrecy_of_nb (MGoal,ASGoal) :=
 [] ((secret(MGoal,nb,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state weak_authentication_on_bob_alice_iv2 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,bob_alice_iv2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_iv2,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_bob_alice_na (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,bob_alice_na,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_na,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_alice_bob_data3 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,alice_bob_data3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_data3,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_alice_bob_nb (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,alice_bob_nb,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_nb,MGoal)) &
 not(equal(A2Goal,i))

attack_state secrecy_of_nb (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,nb,ASGoal) &
 not(contains(i,ASGoal))

