%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilevmgoBy

section signature:

state_home: agent * agent * text * text * text * text * text * public_key * public_key * public_key * hash_func * nat * text * text * set(agent) * nat -> fact
state_mobile: agent * agent * text * text * text * text * text * public_key * public_key * public_key * hash_func * nat * text * text * set(agent) * nat -> fact


section types:

MGoal, start: message
Hash, h: hash_func
K_b, K_a, K_rabin, dummy_pk, k_a, k_b, ka, kb, ki: public_key
set_91, set_103: set
home_mobile_nh, mobile_home_nh, na, mobile_home_na, home_mobile_na, nh: protocol_id
ASGoal, Set_26, Dummy_Set_53, Set_53, Dummy_Set_26: set(agent)
A2Goal, A, A1Goal, B, a, b, i: agent
Dummy_State, State, 3, SID, SID2, SID1, 4, 2, 0, 5, 1: nat
Mn_tmp, Dummy_Nm, Nh, Dummy_CoA, Dummy_MN_sig, Dummy_HoA, Dummy_MN_tmp, HoA, dummy_nonce, MN_tmp, CoA, MN_sig, Nm, Dummy_Nh, Dummy_Mn_tmp: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(b).
 iknows(h).
 iknows(ka).
 iknows(kb).
 iknows(ki).
 iknows(inv(ki)).
 iknows(i).
 state_mobile(a,b,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,kb,dummy_pk,dummy_pk,h,0,dummy_nonce,dummy_nonce,set_91,3).
 state_home(a,b,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,kb,dummy_pk,dummy_pk,h,1,dummy_nonce,dummy_nonce,set_103,4)


section rules:

step step_0 (A,B,Dummy_MN_tmp,Dummy_HoA,Dummy_MN_sig,Dummy_CoA,Dummy_Nm,K_rabin,K_a,K_b,Hash,Dummy_Mn_tmp,Dummy_Nh,Dummy_Set_26,SID,MN_tmp,HoA,MN_sig,CoA,Nm,Mn_tmp,Nh) :=
 state_mobile(A,B,Dummy_MN_tmp,Dummy_HoA,Dummy_MN_sig,Dummy_CoA,Dummy_Nm,K_rabin,K_a,K_b,Hash,0,Dummy_Mn_tmp,Dummy_Nh,Dummy_Set_26,SID).
 iknows(start)
=[exists Nh,Nm,Mn_tmp,CoA,MN_sig,HoA,MN_tmp]=>
 state_mobile(A,B,MN_tmp,HoA,MN_sig,CoA,Nm,K_rabin,K_a,K_b,Hash,2,Mn_tmp,Nh,Dummy_Set_26,SID).
 iknows(pair(MN_tmp,pair(HoA,pair(MN_sig,crypt(K_rabin,pair(CoA,pair(Mn_tmp,apply(Hash,pair(pair(Nm,pair(Nh,K_a)),K_b))))))))).
 iknows(apply(Hash,pair(Nm,xor(Nh)))).
 iknows(pair(apply(Hash,apply(Hash,pair(Nm,xor(Nh)))),xor(Nh))).
 secret(Mn_tmp,na,Dummy_Set_26).
 contains(A,Dummy_Set_26).
 contains(B,Dummy_Set_26)

step step_1 (A,B,Dummy_MN_tmp,Dummy_HoA,MN_sig,Dummy_CoA,Dummy_Nm,K_rabin,K_a,K_b,Hash,Dummy_Mn_tmp,Dummy_Nh,Set_26,SID,MN_tmp,HoA,CoA,Nm,Mn_tmp,Nh) :=
 state_mobile(A,B,Dummy_MN_tmp,Dummy_HoA,MN_sig,Dummy_CoA,Dummy_Nm,K_rabin,K_a,K_b,Hash,2,Dummy_Mn_tmp,Dummy_Nh,Set_26,SID).
 iknows(pair(HoA,pair(MN_tmp,crypt(K_rabin,pair(CoA,pair(Mn_tmp,apply(Hash,pair(pair(Nm,pair(Nh,K_a)),K_b)))))))).
 iknows(apply(Hash,pair(Nm,xor(Nh)))).
 iknows(pair(apply(Hash,apply(Hash,pair(Nm,xor(Nh)))),xor(Nh)))
 =>
 state_mobile(A,B,MN_tmp,HoA,MN_sig,CoA,Nm,K_rabin,K_a,K_b,Hash,4,Mn_tmp,Nh,Set_26,SID).
 iknows(crypt(K_rabin,Nh)).
 request(A,B,mobile_home_nh,Nh,SID)

step step_2 (B,A,Dummy_HoA,Dummy_MN_tmp,Dummy_CoA,Dummy_MN_sig,Dummy_Nm,K_rabin,K_a,K_b,Hash,Dummy_Mn_tmp,Dummy_Nh,Dummy_Set_53,SID,HoA,MN_tmp,CoA,MN_sig,Nm,Mn_tmp,Nh) :=
 state_home(B,A,Dummy_HoA,Dummy_MN_tmp,Dummy_CoA,Dummy_MN_sig,Dummy_Nm,K_rabin,K_a,K_b,Hash,1,Dummy_Mn_tmp,Dummy_Nh,Dummy_Set_53,SID).
 iknows(pair(MN_tmp,pair(HoA,pair(MN_sig,crypt(K_rabin,pair(CoA,pair(Mn_tmp,apply(Hash,pair(pair(Nm,pair(Nh,K_a)),K_b)))))))))
 =>
 state_home(B,A,HoA,MN_tmp,CoA,MN_sig,Nm,K_rabin,K_a,K_b,Hash,3,Mn_tmp,Nh,Dummy_Set_53,SID).
 iknows(pair(HoA,pair(MN_tmp,crypt(K_rabin,pair(CoA,pair(Mn_tmp,apply(Hash,pair(pair(Nm,pair(Nh,K_a)),K_b)))))))).
 iknows(apply(Hash,pair(Nm,xor(Nh)))).
 iknows(pair(apply(Hash,apply(Hash,pair(Nm,xor(Nh)))),xor(Nh))).
 secret(Nh,nh,Dummy_Set_53).
 contains(B,Dummy_Set_53).
 contains(A,Dummy_Set_53)

step step_3 (B,A,Dummy_HoA,Dummy_MN_tmp,Dummy_CoA,MN_sig,Dummy_Nm,K_rabin,K_a,K_b,Hash,Dummy_Mn_tmp,Dummy_Nh,Set_53,SID,HoA,MN_tmp,CoA,Nm,Mn_tmp,Nh) :=
 state_home(B,A,Dummy_HoA,Dummy_MN_tmp,Dummy_CoA,MN_sig,Dummy_Nm,K_rabin,K_a,K_b,Hash,3,Dummy_Mn_tmp,Dummy_Nh,Set_53,SID).
 iknows(pair(HoA,pair(MN_tmp,crypt(K_rabin,pair(CoA,pair(Mn_tmp,apply(Hash,pair(pair(Nm,pair(Nh,K_a)),K_b)))))))).
 iknows(apply(Hash,pair(Nm,xor(Nh)))).
 iknows(pair(apply(Hash,apply(Hash,pair(Nm,xor(Nh)))),xor(Nh)))
 =>
 state_home(B,A,HoA,MN_tmp,CoA,MN_sig,Nm,K_rabin,K_a,K_b,Hash,5,Mn_tmp,Nh,Set_53,SID).
 request(B,A,home_mobile_na,Dummy_Mn_tmp,SID).
 iknows(pair(apply(Hash,apply(Hash,pair(Nm,xor(Nh)))),xor(Nh)))


section properties:

property secrecy_of_na (MGoal,ASGoal) :=
 [] ((secret(MGoal,na,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_nh (MGoal,ASGoal) :=
 [] ((secret(MGoal,nh,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_home_mobile_na (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,home_mobile_na,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,home_mobile_na,MGoal))
     /\ ((request(A1Goal,A2Goal,home_mobile_na,MGoal,SID1)
           /\ request(A1Goal,A2Goal,home_mobile_na,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_mobile_home_nh (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,mobile_home_nh,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,mobile_home_nh,MGoal))
     /\ ((request(A1Goal,A2Goal,mobile_home_nh,MGoal,SID1)
           /\ request(A1Goal,A2Goal,mobile_home_nh,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_na (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,na,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_nh (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,nh,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_home_mobile_na (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,home_mobile_na,MGoal,SID) &
 not(witness(A2Goal,A1Goal,home_mobile_na,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_home_mobile_na (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,home_mobile_na,MGoal,SID1).
 request(A1Goal,A2Goal,home_mobile_na,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_mobile_home_nh (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,mobile_home_nh,MGoal,SID) &
 not(witness(A2Goal,A1Goal,mobile_home_nh,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_mobile_home_nh (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,mobile_home_nh,MGoal,SID1).
 request(A1Goal,A2Goal,mobile_home_nh,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

