%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilesknoaC

section signature:

state_bob: agent * agent * hash_func * hash_func * hash_func * symmetric_key * nat * text * text * nat * nat * nat * nat * text * text * text * text * text * set(agent) * nat -> fact
state_alice: agent * agent * hash_func * hash_func * hash_func * symmetric_key * nat * text * text * text * text * nat * nat * nat * nat * text * text * text * set(agent) * set(agent) * nat -> fact


section types:

MGoal, start: message
bs_ni_Kab1, bs_ni_Kab2, secret_data1, secret_data2, secret_kab: protocol_id
kbn, kbi, kni, Km: symmetric_key
Dummy_Set_37, Dummy_Set_35, ASGoal, Set_61, Set_37, Set_35, Dummy_Set_61: set(agent)
h, mac, f, F, H, Mac: hash_func
set_88, set_87, set_114, set_113, set_112, set_107: set
Dummy_Counter1, Dummy_Size1, Dummy_State, 3, SID, dummy_nat, Size1, Size2, Counter1, Counter2, State, 2, 1, 0, 7, 4, Dummy_Counter2, Dummy_Size2: nat
A2Goal, A1Goal, n, b, Bs, Ni, i: agent
Dummy_Iv1, Dummy_Data1, Dummy_Am1, dummy_nonce, Mac_rcv2, Iv1, Iv2, Am1, Am2, Data1, Data2, Mac_rcv1, Dummy_Mac_rcv2, Dummy_Iv2, Dummy_Mac_rcv1, Dummy_Data2, Dummy_Am2: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(n).
 iknows(h).
 iknows(f).
 iknows(mac).
 iknows(kni).
 iknows(i).
 state_alice(b,n,f,h,mac,kbn,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,set_87,set_88,3).
 state_bob(n,b,f,h,mac,kbn,1,dummy_nonce,dummy_nonce,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_107,4).
 state_bob(n,i,f,h,mac,kni,1,dummy_nonce,dummy_nonce,dummy_nat,dummy_nat,dummy_nat,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_114,7)


section rules:

step step_0 (Bs,Ni,F,H,Mac,Km,Dummy_Am1,Am2,Dummy_Data1,Data2,Dummy_Size1,Size2,Dummy_Counter1,Counter2,Mac_rcv1,Dummy_Iv1,Iv2,Dummy_Set_35,Dummy_Set_37,SID,Am1,Data1,Size1,Counter1) :=
 state_alice(Bs,Ni,F,H,Mac,Km,0,Dummy_Am1,Am2,Dummy_Data1,Data2,Dummy_Size1,Size2,Dummy_Counter1,Counter2,Mac_rcv1,Dummy_Iv1,Iv2,Dummy_Set_35,Dummy_Set_37,SID).
 iknows(start)
=[exists Counter1,Am1,Size1,Data1]=>
 state_alice(Bs,Ni,F,H,Mac,Km,2,Am1,Am2,Data1,Data2,Size1,Size2,Counter1,Counter2,Mac_rcv1,pair(Ni,pair(Am1,pair(Size1,pair(Bs,Counter1)))),Iv2,Dummy_Set_35,Dummy_Set_37,SID).
 iknows(pair(pair(Ni,pair(Am1,pair(Size1,pair(Bs,Counter1)))),pair(scrypt(apply(F,pair(Km,Ni)),xor(pair(Ni,pair(Am1,pair(Size1,pair(Bs,Counter1)))),Data1)),scrypt(apply(H,pair(Km,Ni)),apply(Mac,pair(pair(Ni,pair(Am1,pair(Size1,pair(Bs,Counter1)))),Data1)))))).
 witness(Bs,Ni,bs_ni_Kab1,pair(pair(Ni,pair(Am1,pair(Size1,pair(Bs,Counter1)))),pair(scrypt(apply(F,pair(Km,Ni)),xor(pair(Ni,pair(Am1,pair(Size1,pair(Bs,Counter1)))),Data1)),scrypt(apply(H,pair(Km,Ni)),apply(Mac,pair(pair(Ni,pair(Am1,pair(Size1,pair(Bs,Counter1)))),Data1)))))).
 secret(Data1,secret_data1,Dummy_Set_35).
 secret(Km,secret_kab,Dummy_Set_37).
 contains(Bs,Dummy_Set_35).
 contains(Ni,Dummy_Set_35).
 contains(Bs,Dummy_Set_37).
 contains(Ni,Dummy_Set_37)

step step_1 (Bs,Ni,F,H,Mac,Km,Am1,Dummy_Am2,Data1,Dummy_Data2,Size1,Dummy_Size2,Counter1,Dummy_Counter2,Dummy_Mac_rcv1,Iv1,Dummy_Iv2,Set_35,Set_37,SID,Am2,Data2,Size2,Counter2) :=
 state_alice(Bs,Ni,F,H,Mac,Km,2,Am1,Dummy_Am2,Data1,Dummy_Data2,Size1,Dummy_Size2,Counter1,Dummy_Counter2,Dummy_Mac_rcv1,Iv1,Dummy_Iv2,Set_35,Set_37,SID).
 iknows(pair(Bs,pair(Am2,pair(Size2,pair(Ni,pair(Counter2,pair(scrypt(apply(F,pair(Km,Ni)),xor(pair(Bs,pair(Am2,pair(Size2,pair(Ni,Counter2)))),Data2)),scrypt(apply(H,pair(Km,Ni)),apply(Mac,pair(pair(Bs,pair(Am2,pair(Size2,pair(Ni,Counter2)))),Data2))))))))))
 =>
 state_alice(Bs,Ni,F,H,Mac,Km,3,Am1,Am2,Data1,Data2,Size1,Size2,Counter1,Counter2,scrypt(apply(H,pair(Km,Ni)),apply(Mac,pair(pair(Bs,pair(Am2,pair(Size2,pair(Ni,Counter2)))),Data2))),Iv1,pair(Bs,pair(Am2,pair(Size2,pair(Ni,Counter2)))),Set_35,Set_37,SID)

step step_2 (Ni,Bs,F,H,Mac,Km,Dummy_Data1,Dummy_Data2,Dummy_Size1,Dummy_Size2,Dummy_Counter1,Dummy_Counter2,Dummy_Am1,Dummy_Am2,Dummy_Mac_rcv2,Dummy_Iv1,Dummy_Iv2,Dummy_Set_61,SID,Data1,Data2,Size1,Size2,Counter1,Counter2,Am1,Am2) :=
 state_bob(Ni,Bs,F,H,Mac,Km,1,Dummy_Data1,Dummy_Data2,Dummy_Size1,Dummy_Size2,Dummy_Counter1,Dummy_Counter2,Dummy_Am1,Dummy_Am2,Dummy_Mac_rcv2,Dummy_Iv1,Dummy_Iv2,Dummy_Set_61,SID).
 iknows(pair(Ni,pair(Am1,pair(Size1,pair(Bs,pair(Counter1,pair(scrypt(apply(F,pair(Km,Ni)),xor(pair(Ni,pair(Am1,pair(Size1,pair(Bs,Counter1)))),Data1)),scrypt(apply(H,pair(Km,Ni)),apply(Mac,pair(Ni,pair(Am1,pair(Size1,Data1))))))))))))
=[exists Counter2,Am2,Size2,Data2]=>
 state_bob(Ni,Bs,F,H,Mac,Km,3,Data1,Data2,Size1,Size2,Counter1,Counter2,Am1,Am2,scrypt(apply(H,pair(Km,Ni)),apply(Mac,pair(Ni,pair(Am1,pair(Size1,Data1))))),pair(Ni,pair(Am1,pair(Size1,pair(Bs,Counter1)))),pair(Bs,pair(Am2,pair(Size2,pair(Ni,Counter2)))),Dummy_Set_61,SID).
 iknows(pair(pair(Bs,pair(Am2,pair(Size2,pair(Ni,Counter2)))),pair(scrypt(apply(F,pair(Km,Ni)),xor(pair(Bs,pair(Am2,pair(Size2,pair(Ni,Counter2)))),Data2)),scrypt(apply(H,pair(Km,Ni)),apply(Mac,pair(pair(Bs,pair(Am2,pair(Size2,pair(Ni,Counter2)))),Data2)))))).
 witness(Ni,Bs,bs_ni_Kab2,pair(pair(Bs,pair(Am2,pair(Size2,pair(Ni,Counter2)))),pair(scrypt(apply(F,pair(Km,Ni)),xor(pair(Bs,pair(Am2,pair(Size2,pair(Ni,Counter2)))),Data2)),scrypt(apply(H,pair(Km,Ni)),apply(Mac,pair(pair(Bs,pair(Am2,pair(Size2,pair(Ni,Counter2)))),Data2)))))).
 secret(Dummy_Data2,secret_data2,Dummy_Set_61).
 contains(Bs,Dummy_Set_61).
 contains(Ni,Dummy_Set_61)


section properties:

property weak_authentication_on_bs_ni_Kab1 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,bs_ni_Kab1,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,bs_ni_Kab1,MGoal))

property weak_authentication_on_bs_ni_Kab2 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,bs_ni_Kab2,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,bs_ni_Kab2,MGoal))

property secrecy_of_secret_data1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,secret_data1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secret_data2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,secret_data2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secret_kab (MGoal,ASGoal) :=
 [] ((secret(MGoal,secret_kab,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state weak_authentication_on_bs_ni_Kab1 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,bs_ni_Kab1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bs_ni_Kab1,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_bs_ni_Kab2 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,bs_ni_Kab2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bs_ni_Kab2,MGoal)) &
 not(equal(A2Goal,i))

attack_state secrecy_of_secret_data1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secret_data1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secret_data2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secret_data2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secret_kab (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secret_kab,ASGoal) &
 not(contains(i,ASGoal))

