%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile6cmqd5

section signature:

state_bob: agent * agent * public_key * public_key * nat * text * text * text * text * nat -> fact
state_alice: agent * agent * public_key * public_key * nat * text * text * text * nat -> fact


section types:

3, State, 6, 2, 4, SID, 1, 0, Dummy_State, SID2, SID1: nat
ASGoal: set(agent)
start, MGoal: message
alice_bob_na, bob_alice_nb, bob_alice_na, alice_bob_nb, na, nb: protocol_id
a, b, A, B, A2Goal, A1Goal, i: agent
Clist, Dlist, S0, S1, Dummy_Clist, Dummy_Dlist, Dummy_S1, dummy_nonce, clist: text
p1, ki, P0, P1, p0: public_key


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(b).
 iknows(p0).
 iknows(p1).
 iknows(clist).
 iknows(i).
 state_alice(a,b,p0,p1,0,dummy_nonce,dummy_nonce,dummy_nonce,3).
 state_bob(b,a,p0,p1,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,4).
 state_alice(a,i,p0,p1,0,dummy_nonce,dummy_nonce,dummy_nonce,6)


section rules:

step step_0 (A,B,P0,P1,Dummy_S1,Dummy_Dlist,Clist,SID) :=
 state_alice(A,B,P0,P1,0,Dummy_S1,Dummy_Dlist,Clist,SID).
 iknows(start)
 =>
 state_alice(A,B,P0,P1,2,crypt(P0,crypt(inv(P1),Clist)),crypt(inv(P1),Clist),Clist,SID).
 iknows(pair(crypt(inv(P1),Clist),crypt(P0,crypt(inv(P1),Clist))))

step step_1 (B,A,P0,P1,S0,Dummy_S1,Dummy_Dlist,Dummy_Clist,SID,S1,Dlist) :=
 state_bob(B,A,P0,P1,1,S0,Dummy_S1,Dummy_Dlist,Dummy_Clist,SID).
 iknows(pair(Dlist,S1))
 =>
 state_bob(B,A,P0,P1,3,S0,S1,Dlist,crypt(P1,Dummy_Dlist),SID)


section properties:

property secrecy_of_na (MGoal,ASGoal) :=
 [] ((secret(MGoal,na,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_nb (MGoal,ASGoal) :=
 [] ((secret(MGoal,nb,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob_nb (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_nb,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_nb,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_nb,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_nb,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_na (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_na,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_na,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_na,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_na,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_na (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,na,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_nb (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,nb,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob_nb (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_nb,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_nb,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_nb (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_nb,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_nb,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_na (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_na,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_na,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_na (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_na,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_na,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

