%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileqd4sVr

section signature:

state_tagi: agent * agent * agent * agent * symmetric_key * symmetric_key * nat * text * text * text * text * text * text * text * scrypt(symmetric_key,pair(text,pair(text,text))) * set(agent) * set(agent) * nat -> fact
state_tag1: agent * agent * agent * agent * symmetric_key * symmetric_key * nat * text * text * text * text * text * text * text * scrypt(symmetric_key,pair(text,pair(text,text))) * set(agent) * set(agent) * nat -> fact
state_reader: agent * agent * agent * agent * symmetric_key * nat * text * text * text * scrypt(symmetric_key,pair(text,pair(text,text))) * scrypt(symmetric_key,pair(text,pair(text,text))) * scrypt(symmetric_key,pair(text,pair(text,pair(text,text)))) * scrypt(symmetric_key,pair(text,pair(text,pair(text,text)))) * scrypt(symmetric_key,pair(text,text)) * nat -> fact
state_server: agent * agent * agent * agent * symmetric_key * symmetric_key * symmetric_key * nat * text * text * text * text * text * text * text * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact


section types:

Dummy_P, P: scrypt(symmetric_key,pair(text,text))
Dummy_MG2, MG2, Dummy_MG1, MG1: scrypt(symmetric_key,pair(text,pair(text,pair(text,text))))
set_194, set_193, set_191, set_190, set_187, set_186, set_185, set_184, set_183, set_182, set_181, set_180, set_177, set_176, set_175, set_174, set_168, set_167, set_160, set_159, set_139, set_138, set_137, set_136: set
MGoal: message
tagi_tag1_TSG, tagi_tag1_IDG, id2, id, tag1_tagi_TSG, tag1_tagi_IDG, id6, id5, id4, id3, tagi_server_TS2, tagi_server_ID2, tag1_server_TS1, tag1_server_ID1: protocol_id
State, 16, 15, 14, 13, 9, 8, 6, SID, 5, 7, 4, 3, 2, Dummy_State, SID2, SID1, 1, 0: nat
Si, SG, S1, dummy_sk, SR, s1, si, sR, sG, sint: symmetric_key
Set_85, Set_83, Dummy_Set_107, Dummy_Set_106, Dummy_Set_85, Dummy_Set_83, Dummy_Set_37, Dummy_Set_35, Dummy_Set_33, Dummy_Set_30, Set_37, Set_35, Set_33, Set_30, ASGoal, Set_107, Set_106: set(agent)
M2, Dummy_M2, Dummy_M1, M1: scrypt(symmetric_key,pair(text,pair(text,text)))
S, R, T1, Ti, A2Goal, A1Goal, s, r, t1, ti, i: agent
TS2, IDG, TSG, R1, R2, T, ID1, TS1, Dummy_TS2, Dummy_TSG, Dummy_TS1, Dummy_R2, Dummy_R1, Dummy_T, dummy_nonce, ID2: text


section inits:

initial_state init1 := 
 iknows(s).
 iknows(r).
 iknows(t1).
 iknows(ti).
 iknows(sint).
 iknows(i).
 state_server(s,r,t1,ti,s1,si,sR,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_136,set_137,set_138,set_139,3).
 state_reader(r,s,t1,ti,sR,0,dummy_nonce,dummy_nonce,dummy_nonce,scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce))),scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce))),scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce)))),scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce)))),scrypt(dummy_sk,pair(dummy_nonce,dummy_nonce)),4).
 state_tag1(t1,s,r,ti,s1,sG,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce))),set_159,set_160,5).
 state_tagi(t1,s,r,ti,si,sG,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce))),set_167,set_168,6).
 state_server(s,r,i,ti,sint,si,sR,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_174,set_175,set_176,set_177,8).
 state_reader(r,s,i,ti,sR,0,dummy_nonce,dummy_nonce,dummy_nonce,scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce))),scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce))),scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce)))),scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce)))),scrypt(dummy_sk,pair(dummy_nonce,dummy_nonce)),9).
 state_server(s,r,t1,i,s1,sint,sR,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_184,set_185,set_186,set_187,13).
 state_reader(r,s,t1,i,sR,0,dummy_nonce,dummy_nonce,dummy_nonce,scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce))),scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce))),scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce)))),scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce)))),scrypt(dummy_sk,pair(dummy_nonce,dummy_nonce)),14).
 state_tag1(t1,s,r,i,s1,sG,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce))),set_190,set_191,15).
 state_tagi(t1,s,r,i,sint,sG,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,scrypt(dummy_sk,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce))),set_193,set_194,16)


section rules:

step step_0 (S,R,T1,Ti,S1,Si,SR,R1,R2,Dummy_T,ID1,TS1,ID2,TS2,Dummy_Set_30,Dummy_Set_33,Dummy_Set_35,Dummy_Set_37,SID,T) :=
 state_server(S,R,T1,Ti,S1,Si,SR,0,R1,R2,Dummy_T,ID1,TS1,ID2,TS2,Dummy_Set_30,Dummy_Set_33,Dummy_Set_35,Dummy_Set_37,SID).
 iknows(T)
 =>
 state_server(S,R,T1,Ti,S1,Si,SR,1,R1,R2,T,ID1,TS1,ID2,TS2,Dummy_Set_30,Dummy_Set_33,Dummy_Set_35,Dummy_Set_37,SID).
 iknows(scrypt(SR,pair(T,pair(R1,pair(R2,scrypt(S1,pair(scrypt(S1,pair(ID1,pair(R1,TS1))),scrypt(Si,pair(ID2,pair(R2,TS2)))))))))).
 witness(S,T1,tag1_server_ID1,ID1).
 witness(S,T1,tag1_server_TS1,TS1).
 witness(S,Ti,tagi_server_ID2,ID2).
 witness(S,Ti,tagi_server_TS2,TS2).
 secret(ID1,id3,Dummy_Set_30).
 secret(TS1,id4,Dummy_Set_33).
 secret(ID2,id5,Dummy_Set_35).
 secret(TS2,id6,Dummy_Set_37).
 contains(T1,Dummy_Set_30).
 contains(S,Dummy_Set_30).
 contains(T1,Dummy_Set_33).
 contains(S,Dummy_Set_33).
 contains(Ti,Dummy_Set_35).
 contains(S,Dummy_Set_35).
 contains(Ti,Dummy_Set_37).
 contains(S,Dummy_Set_37)

step step_1 (R,S,T1,Ti,SR,R1,R2,Dummy_T,M1,M2,MG1,MG2,P,SID,T) :=
 state_reader(R,S,T1,Ti,SR,0,R1,R2,Dummy_T,M1,M2,MG1,MG2,P,SID).
 iknows(T)
 =>
 state_reader(R,S,T1,Ti,SR,1,R1,R2,T,M1,M2,MG1,MG2,P,SID).
 iknows(T)

step step_2 (R,S,T1,Ti,SR,Dummy_R1,R2,T,Dummy_M1,M2,Dummy_MG1,MG2,P,SID,R1,M1,MG1) :=
 state_reader(R,S,T1,Ti,SR,2,Dummy_R1,R2,T,Dummy_M1,M2,Dummy_MG1,MG2,P,SID).
 iknows(pair(R1,pair(M1,MG1)))
 =>
 state_reader(R,S,T1,Ti,SR,3,R1,R2,T,M1,M2,MG1,MG2,P,SID).
 iknows(pair(R1,pair(M1,pair(MG1,T))))

step step_3 (R,S,T1,Ti,SR,R1,Dummy_R2,T,M1,Dummy_M2,MG1,Dummy_MG2,P,SID,R2,M2,MG2) :=
 state_reader(R,S,T1,Ti,SR,4,R1,Dummy_R2,T,M1,Dummy_M2,MG1,Dummy_MG2,P,SID).
 iknows(pair(R2,pair(M2,MG2)))
 =>
 state_reader(R,S,T1,Ti,SR,5,R1,R2,T,M1,M2,MG1,MG2,P,SID).
 iknows(pair(R2,pair(M2,MG2)))

step step_4 (R,S,T1,Ti,SR,R1,R2,T,M1,M2,MG1,MG2,Dummy_P,SID,P) :=
 state_reader(R,S,T1,Ti,SR,6,R1,R2,T,M1,M2,MG1,MG2,Dummy_P,SID).
 iknows(P)
 =>
 state_reader(R,S,T1,Ti,SR,7,R1,R2,T,M1,M2,MG1,MG2,P,SID).
 iknows(scrypt(SR,pair(T,pair(R1,pair(R2,P)))))

step step_5 (T1,S,R,Ti,S1,SG,Dummy_R1,R2,Dummy_T,ID1,TS1,IDG,TSG,M2,Dummy_Set_83,Dummy_Set_85,SID,R1,T) :=
 state_tag1(T1,S,R,Ti,S1,SG,1,Dummy_R1,R2,Dummy_T,ID1,TS1,IDG,TSG,M2,Dummy_Set_83,Dummy_Set_85,SID).
 iknows(T)
=[exists R1]=>
 state_tag1(T1,S,R,Ti,S1,SG,2,R1,R2,T,ID1,TS1,IDG,TSG,M2,Dummy_Set_83,Dummy_Set_85,SID).
 iknows(pair(R1,pair(scrypt(S1,pair(ID1,pair(R1,TS1))),scrypt(SG,pair(IDG,pair(R1,pair(TSG,T))))))).
 request(T1,Ti,tag1_tagi_IDG,IDG,SID).
 request(T1,Ti,tag1_tagi_TSG,TSG,SID).
 secret(TSG,id,Dummy_Set_83).
 secret(IDG,id2,Dummy_Set_85).
 contains(T1,Dummy_Set_83).
 contains(Ti,Dummy_Set_83).
 contains(T1,Dummy_Set_85).
 contains(Ti,Dummy_Set_85)

step step_6 (T1,S,R,Ti,S1,SG,Dummy_R1,Dummy_R2,T,ID1,TS1,IDG,TSG,Dummy_M2,Set_83,Set_85,SID,R1,R2,M2) :=
 state_tag1(T1,S,R,Ti,S1,SG,3,Dummy_R1,Dummy_R2,T,ID1,TS1,IDG,TSG,Dummy_M2,Set_83,Set_85,SID).
 iknows(pair(R2,pair(M2,scrypt(SG,pair(IDG,pair(R2,pair(TSG,scrypt(S1,pair(ID1,pair(R1,TS1))))))))))
 =>
 state_tag1(T1,S,R,Ti,S1,SG,4,R1,R2,T,ID1,TS1,IDG,TSG,M2,Set_83,Set_85,SID).
 witness(T1,Ti,tagi_tag1_IDG,IDG).
 witness(T1,Ti,tagi_tag1_TSG,TSG)

step step_7 (T1,S,R,Ti,S1,SG,Dummy_R1,R2,T,ID1,Dummy_TS1,IDG,Dummy_TSG,Dummy_M2,Set_83,Set_85,SID,R1,TS1,TSG,M2) :=
 state_tag1(T1,S,R,Ti,S1,SG,5,Dummy_R1,R2,T,ID1,Dummy_TS1,IDG,Dummy_TSG,Dummy_M2,Set_83,Set_85,SID).
 iknows(scrypt(S1,pair(scrypt(S1,pair(ID1,pair(R1,Dummy_TS1))),M2))).
 request(T1,S,tag1_server_ID1,ID1,SID).
 request(T1,S,tag1_server_TS1,Dummy_TS1,SID)
=[exists TSG,TS1]=>
 state_tag1(T1,S,R,Ti,S1,SG,6,R1,R2,T,ID1,TS1,IDG,TSG,M2,Set_83,Set_85,SID)

step step_8 (T1,S,R,Ti,Si,SG,Dummy_R1,Dummy_R2,Dummy_T,ID2,Dummy_TS2,IDG,Dummy_TSG,Dummy_M1,Dummy_Set_106,Dummy_Set_107,SID,R1,R2,T,TS2,TSG,M1) :=
 state_tagi(T1,S,R,Ti,Si,SG,1,Dummy_R1,Dummy_R2,Dummy_T,ID2,Dummy_TS2,IDG,Dummy_TSG,Dummy_M1,Dummy_Set_106,Dummy_Set_107,SID).
 iknows(pair(R1,pair(M1,pair(scrypt(SG,pair(IDG,pair(R1,pair(Dummy_TSG,T)))),T)))).
 witness(Ti,T1,tag1_tagi_IDG,IDG).
 witness(Ti,T1,tag1_tagi_TSG,Dummy_TSG)
=[exists TSG,TS2,R2]=>
 state_tagi(T1,S,R,Ti,Si,SG,3,R1,R2,T,ID2,TS2,IDG,TSG,M1,Dummy_Set_106,Dummy_Set_107,SID).
 iknows(pair(R2,pair(scrypt(Si,pair(ID2,pair(R2,Dummy_TS2))),scrypt(SG,pair(IDG,pair(R2,pair(Dummy_TSG,M1))))))).
 request(Ti,T1,tagi_tag1_IDG,IDG,SID).
 request(Ti,T1,tagi_tag1_TSG,Dummy_TSG,SID).
 request(Ti,S,tagi_server_ID2,ID2,SID).
 request(Ti,S,tagi_server_TS2,Dummy_TS2,SID).
 secret(Dummy_TSG,id,Dummy_Set_106).
 secret(IDG,id2,Dummy_Set_107).
 contains(T1,Dummy_Set_106).
 contains(Ti,Dummy_Set_106).
 contains(T1,Dummy_Set_107).
 contains(Ti,Dummy_Set_107)


section properties:

property secrecy_of_id (MGoal,ASGoal) :=
 [] ((secret(MGoal,id,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_id2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,id2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_id3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,id3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_id4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,id4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_id5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,id5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_id6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,id6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_tag1_server_ID1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,tag1_server_ID1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,tag1_server_ID1,MGoal))
     /\ ((request(A1Goal,A2Goal,tag1_server_ID1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,tag1_server_ID1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_tag1_server_TS1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,tag1_server_TS1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,tag1_server_TS1,MGoal))
     /\ ((request(A1Goal,A2Goal,tag1_server_TS1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,tag1_server_TS1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_tagi_server_ID2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,tagi_server_ID2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,tagi_server_ID2,MGoal))
     /\ ((request(A1Goal,A2Goal,tagi_server_ID2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,tagi_server_ID2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_tagi_server_TS2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,tagi_server_TS2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,tagi_server_TS2,MGoal))
     /\ ((request(A1Goal,A2Goal,tagi_server_TS2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,tagi_server_TS2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_tag1_tagi_IDG (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,tag1_tagi_IDG,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,tag1_tagi_IDG,MGoal))
     /\ ((request(A1Goal,A2Goal,tag1_tagi_IDG,MGoal,SID1)
           /\ request(A1Goal,A2Goal,tag1_tagi_IDG,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_tag1_tagi_TSG (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,tag1_tagi_TSG,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,tag1_tagi_TSG,MGoal))
     /\ ((request(A1Goal,A2Goal,tag1_tagi_TSG,MGoal,SID1)
           /\ request(A1Goal,A2Goal,tag1_tagi_TSG,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_tagi_tag1_IDG (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,tagi_tag1_IDG,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,tagi_tag1_IDG,MGoal))
     /\ ((request(A1Goal,A2Goal,tagi_tag1_IDG,MGoal,SID1)
           /\ request(A1Goal,A2Goal,tagi_tag1_IDG,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_tagi_tag1_TSG (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,tagi_tag1_TSG,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,tagi_tag1_TSG,MGoal))
     /\ ((request(A1Goal,A2Goal,tagi_tag1_TSG,MGoal,SID1)
           /\ request(A1Goal,A2Goal,tagi_tag1_TSG,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_id (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,id,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_id2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,id2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_id3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,id3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_id4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,id4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_id5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,id5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_id6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,id6,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_tag1_server_ID1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,tag1_server_ID1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,tag1_server_ID1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_tag1_server_ID1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,tag1_server_ID1,MGoal,SID1).
 request(A1Goal,A2Goal,tag1_server_ID1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_tag1_server_TS1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,tag1_server_TS1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,tag1_server_TS1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_tag1_server_TS1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,tag1_server_TS1,MGoal,SID1).
 request(A1Goal,A2Goal,tag1_server_TS1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_tagi_server_ID2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,tagi_server_ID2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,tagi_server_ID2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_tagi_server_ID2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,tagi_server_ID2,MGoal,SID1).
 request(A1Goal,A2Goal,tagi_server_ID2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_tagi_server_TS2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,tagi_server_TS2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,tagi_server_TS2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_tagi_server_TS2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,tagi_server_TS2,MGoal,SID1).
 request(A1Goal,A2Goal,tagi_server_TS2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_tag1_tagi_IDG (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,tag1_tagi_IDG,MGoal,SID) &
 not(witness(A2Goal,A1Goal,tag1_tagi_IDG,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_tag1_tagi_IDG (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,tag1_tagi_IDG,MGoal,SID1).
 request(A1Goal,A2Goal,tag1_tagi_IDG,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_tag1_tagi_TSG (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,tag1_tagi_TSG,MGoal,SID) &
 not(witness(A2Goal,A1Goal,tag1_tagi_TSG,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_tag1_tagi_TSG (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,tag1_tagi_TSG,MGoal,SID1).
 request(A1Goal,A2Goal,tag1_tagi_TSG,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_tagi_tag1_IDG (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,tagi_tag1_IDG,MGoal,SID) &
 not(witness(A2Goal,A1Goal,tagi_tag1_IDG,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_tagi_tag1_IDG (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,tagi_tag1_IDG,MGoal,SID1).
 request(A1Goal,A2Goal,tagi_tag1_IDG,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_tagi_tag1_TSG (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,tagi_tag1_TSG,MGoal,SID) &
 not(witness(A2Goal,A1Goal,tagi_tag1_TSG,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_tagi_tag1_TSG (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,tagi_tag1_TSG,MGoal,SID1).
 request(A1Goal,A2Goal,tagi_tag1_TSG,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

