%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile3ZKzWInJjb

section signature:

state_bob: agent * agent * symmetric_key * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_alice: agent * agent * symmetric_key * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * hash_func * set(text) * set(text) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact


section types:

suns2, alice_bob, bob_alice, subs1, subs2, subs3, subs4, subs5, subs6: protocol_id
Dummy_Li, Dummy_Hi, Dummy_SK, Dummy_Zi, Dummy_Mi, Dummy_Gi, Dummy_DID, dummy_msg, MGoal, DID, Gi, Mi, Hi, Li, Zi, SK, start: message
Dummy_IDi, Dummy_Qi, Dummy_Di, Dummy_Ci, Dummy_Ji, Dummy_Nj, Dummy_Ei, Dummy_Ai, Dummy_Yi, Dummy_Ni, Dummy_Rn, Dummy_Bi, Dummy_R, Dummy_PWBi, dummy_nonce, pwbi, idi, r, pwi, bi, fi, rn, ni, nj, p, yi, ai, ci, di, x, ei, ji, qi, PWBi, IDi, R, PWi, Bi, Fi, Rn, Ni, Nj, P, Yi, Ai, Ci, Di, X, Ei, Ji, Qi: text
4, SID, Dummy_State, 3, SID2, SID1, State, 2, 1, 0, 7, 6: nat
dummy_hash, h, mul, add, sub, Inc, H, Mul, Add, Sub: hash_func
skuisj, SKuisj: symmetric_key
set_192, set_191, set_190, set_189, set_188, set_187, set_159, set_158, set_157, set_156, set_155, set_154, set_219, set_218, set_217, set_216, set_215, set_214, set_212, set_211, set_210, set_209, set_208, set_207: set
A2Goal, A1Goal, ui, sj, Ui, Sj, i: agent
Dummy_Set_102, Dummy_Set_61, Dummy_Set_57, ASGoal, Set_106, Set_104, Set_102, Set_61, Set_57, Dummy_Set_106, Dummy_Set_104: set(agent)
Dummy_Set_101, Dummy_Set_60, Dummy_Set_56, Dummy_Set_55, Dummy_Set_52, Set_105, Set_103, Set_101, Set_60, Set_56, Set_55, Set_52, Dummy_Set_105, Dummy_Set_103: set(text)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(sj).
 iknows(h).
 iknows(add).
 iknows(sub).
 iknows(mul).
 iknows(pair(bi,pair(ci,pair(di,qi)))).
 iknows(i).
 state_alice(ui,sj,skuisj,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_154,set_155,set_156,set_157,set_158,set_159,3).
 state_bob(sj,ui,skuisj,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_187,set_188,set_189,set_190,set_191,set_192,4).
 state_alice(ui,sj,skuisj,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_207,set_208,set_209,set_210,set_211,set_212,6).
 state_bob(sj,ui,skuisj,h,mul,add,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_214,set_215,set_216,set_217,set_218,set_219,7)


section rules:

step step_0 (Ui,Sj,SKuisj,H,Mul,Add,Sub,Dummy_PWBi,IDi,Dummy_R,PWi,Dummy_Bi,Fi,Rn,Ni,Nj,P,Yi,Ai,Ci,Di,X,Ei,Ji,Qi,DID,Gi,Mi,Hi,Li,Zi,SK,Inc,Dummy_Set_52,Set_55,Set_56,Set_57,Set_60,Set_61,SID,R) :=
 state_alice(Ui,Sj,SKuisj,H,Mul,Add,Sub,0,Dummy_PWBi,IDi,Dummy_R,PWi,Dummy_Bi,Fi,Rn,Ni,Nj,P,Yi,Ai,Ci,Di,X,Ei,Ji,Qi,DID,Gi,Mi,Hi,Li,Zi,SK,Inc,Dummy_Set_52,Set_55,Set_56,Set_57,Set_60,Set_61,SID).
 iknows(start)
=[exists R]=>
 state_alice(Ui,Sj,SKuisj,H,Mul,Add,Sub,1,apply(H,pair(IDi,pair(R,PWi))),IDi,R,PWi,apply(H,Fi),Fi,Rn,Ni,Nj,P,Yi,Ai,Ci,Di,X,Ei,Ji,Qi,DID,Gi,Mi,Hi,Li,Zi,SK,Inc,Dummy_Set_52,Set_55,Set_56,Set_57,Set_60,Set_61,SID).
 iknows(scrypt(SKuisj,pair(IDi,pair(apply(H,pair(IDi,pair(R,PWi))),apply(H,Fi))))).
 secret(Dummy_Set_52,subs1,Ui).
 contains(PWi,Dummy_Set_52).
 contains(Fi,Dummy_Set_52)

step step_1 (Ui,Sj,SKuisj,H,Mul,Add,Sub,PWBi,IDi,R,PWi,Bi,Fi,Dummy_Rn,Dummy_Ni,Nj,P,Dummy_Yi,Dummy_Ai,Ci,Di,X,Dummy_Ei,Ji,Qi,Dummy_DID,Dummy_Gi,Dummy_Mi,Hi,Li,Zi,SK,Inc,Set_52,Dummy_Set_55,Dummy_Set_56,Dummy_Set_57,Set_60,Set_61,SID,Ni) :=
 state_alice(Ui,Sj,SKuisj,H,Mul,Add,Sub,1,PWBi,IDi,R,PWi,Bi,Fi,Dummy_Rn,Dummy_Ni,Nj,P,Dummy_Yi,Dummy_Ai,Ci,Di,X,Dummy_Ei,Ji,Qi,Dummy_DID,Dummy_Gi,Dummy_Mi,Hi,Li,Zi,SK,Inc,Set_52,Dummy_Set_55,Dummy_Set_56,Dummy_Set_57,Set_60,Set_61,SID).
 iknows(scrypt(SKuisj,pair(Bi,pair(Ci,pair(Di,Qi)))))
=[exists Ni]=>
 state_alice(Ui,Sj,SKuisj,H,Mul,Add,Sub,2,PWBi,IDi,R,PWi,Bi,Fi,xor(R,apply(H,pair(IDi,PWi))),Ni,Nj,P,apply(Sub,pair(Qi,apply(Mul,pair(apply(H,pair(IDi,PWBi)),P)))),apply(Sub,pair(Ci,apply(Mul,pair(apply(H,PWBi),P)))),Ci,Di,X,apply(Mul,pair(Ni,apply(Sub,pair(Qi,apply(Mul,pair(apply(H,pair(IDi,PWBi)),P)))))),Ji,Qi,xor(IDi,apply(H,pair(apply(Sub,pair(Qi,apply(Mul,pair(apply(H,pair(IDi,PWBi)),P)))),apply(Mul,pair(Ni,apply(Sub,pair(Qi,apply(Mul,pair(apply(H,pair(IDi,PWBi)),P))))))))),apply(H,pair(IDi,pair(apply(Mul,pair(Ni,P)),apply(Sub,pair(Ci,apply(Mul,pair(apply(H,PWBi),P))))))),apply(Mul,pair(Ni,P)),Hi,Li,Zi,SK,Inc,Set_52,Dummy_Set_55,Dummy_Set_56,Dummy_Set_57,Set_60,Set_61,SID).
 iknows(pair(xor(IDi,apply(H,pair(apply(Sub,pair(Qi,apply(Mul,pair(apply(H,pair(IDi,PWBi)),P)))),apply(Mul,pair(Ni,apply(Sub,pair(Qi,apply(Mul,pair(apply(H,pair(IDi,PWBi)),P))))))))),pair(apply(H,pair(IDi,pair(apply(Mul,pair(Ni,P)),apply(Sub,pair(Ci,apply(Mul,pair(apply(H,PWBi),P))))))),apply(Mul,pair(Ni,P))))).
 secret(Dummy_Set_55,subs2,Ui).
 secret(Dummy_Set_56,subs3,Dummy_Set_57).
 contains(Ni,Dummy_Set_55).
 contains(apply(Sub,pair(Ci,apply(Mul,pair(apply(H,PWBi),P)))),Dummy_Set_56).
 contains(PWBi,Dummy_Set_56).
 contains(apply(Mul,pair(Ni,apply(Sub,pair(Qi,apply(Mul,pair(apply(H,pair(IDi,PWBi)),P)))))),Dummy_Set_56).
 contains(apply(Sub,pair(Qi,apply(Mul,pair(apply(H,pair(IDi,PWBi)),P)))),Dummy_Set_56).
 contains(IDi,Dummy_Set_56).
 contains(Ui,Dummy_Set_57).
 contains(Sj,Dummy_Set_57)

step step_2 (Ui,Sj,SKuisj,H,Mul,Add,Sub,PWBi,IDi,R,PWi,Bi,Fi,Rn,Ni,Dummy_Nj,P,Yi,Ai,Ci,Di,X,Ei,Dummy_Ji,Qi,DID,Gi,Mi,Hi,Li,Dummy_Zi,Dummy_SK,Inc,Set_52,Set_55,Set_56,Set_57,Dummy_Set_60,Dummy_Set_61,SID) :=
 state_alice(Ui,Sj,SKuisj,H,Mul,Add,Sub,2,PWBi,IDi,R,PWi,Bi,Fi,Rn,Ni,Dummy_Nj,P,Yi,Ai,Ci,Di,X,Ei,Dummy_Ji,Qi,DID,Gi,Mi,Hi,Li,Dummy_Zi,Dummy_SK,Inc,Set_52,Set_55,Set_56,Set_57,Dummy_Set_60,Dummy_Set_61,SID).
 iknows(Hi)
 =>
 state_alice(Ui,Sj,SKuisj,H,Mul,Add,Sub,3,PWBi,IDi,R,PWi,Bi,Fi,Rn,Ni,xor(Hi,apply(H,pair(Ei,Ai))),P,Yi,Ai,Ci,Di,X,Ei,apply(Mul,pair(xor(Hi,apply(H,pair(Ei,Ai))),Yi)),Qi,DID,Gi,Mi,Hi,Li,apply(H,pair(IDi,apply(H,pair(Ei,pair(apply(Mul,pair(xor(Hi,apply(H,pair(Ei,Ai))),Yi)),pair(IDi,Ai)))))),apply(H,pair(Ei,pair(apply(Mul,pair(xor(Hi,apply(H,pair(Ei,Ai))),Yi)),pair(IDi,Ai)))),Inc,Set_52,Set_55,Set_56,Set_57,Dummy_Set_60,Dummy_Set_61,SID).
 secret(Dummy_Set_60,subs4,Dummy_Set_61).
 iknows(apply(H,pair(IDi,apply(H,pair(Ei,pair(apply(Mul,pair(xor(Hi,apply(H,pair(Ei,Ai))),Yi)),pair(IDi,Ai))))))).
 contains(Ei,Dummy_Set_60).
 contains(apply(Mul,pair(xor(Hi,apply(H,pair(Ei,Ai))),Yi)),Dummy_Set_60).
 contains(Ui,Dummy_Set_61).
 contains(Sj,Dummy_Set_61)

step step_3 (Sj,Ui,SKuisj,H,Mul,Add,Sub,PWBi,IDi,R,PWi,Bi,Fi,Rn,Ni,Nj,P,Dummy_Yi,Dummy_Ai,Dummy_Ci,Dummy_Di,X,Ei,Ji,Dummy_Qi,DID,Gi,Mi,Hi,Li,Zi,SK,Inc,Dummy_Set_101,Dummy_Set_102,Set_103,Set_104,Set_105,Set_106,SID) :=
 state_bob(Sj,Ui,SKuisj,H,Mul,Add,Sub,0,PWBi,IDi,R,PWi,Bi,Fi,Rn,Ni,Nj,P,Dummy_Yi,Dummy_Ai,Dummy_Ci,Dummy_Di,X,Ei,Ji,Dummy_Qi,DID,Gi,Mi,Hi,Li,Zi,SK,Inc,Dummy_Set_101,Dummy_Set_102,Set_103,Set_104,Set_105,Set_106,SID).
 iknows(scrypt(SKuisj,pair(IDi,pair(PWBi,Bi))))
 =>
 state_bob(Sj,Ui,SKuisj,H,Mul,Add,Sub,1,PWBi,IDi,R,PWi,Bi,Fi,Rn,Ni,Nj,P,apply(Mul,pair(X,P)),apply(Mul,pair(apply(H,pair(IDi,X)),P)),apply(Add,pair(apply(Mul,pair(apply(H,pair(IDi,X)),P)),apply(Mul,pair(apply(H,PWBi),P)))),apply(H,pair(PWBi,apply(Mul,pair(apply(H,pair(IDi,X)),P)))),X,Ei,Ji,apply(Add,pair(apply(Mul,pair(X,P)),apply(Mul,pair(apply(H,pair(IDi,PWBi)),P)))),DID,Gi,Mi,Hi,Li,Zi,SK,Inc,Dummy_Set_101,Dummy_Set_102,Set_103,Set_104,Set_105,Set_106,SID).
 iknows(scrypt(SKuisj,pair(apply(Add,pair(apply(Mul,pair(apply(H,pair(IDi,X)),P)),apply(Mul,pair(apply(H,PWBi),P)))),pair(apply(H,pair(PWBi,apply(Mul,pair(apply(H,pair(IDi,X)),P)))),pair(apply(Mul,pair(X,P)),pair(Bi,apply(Add,pair(apply(Mul,pair(X,P)),apply(Mul,pair(apply(H,pair(IDi,PWBi)),P)))))))))).
 secret(Dummy_Set_101,subs5,Dummy_Set_102).
 contains(X,Dummy_Set_101).
 contains(Sj,Dummy_Set_102)

step step_4 (Sj,Ui,SKuisj,H,Mul,Add,Sub,PWBi,Dummy_IDi,R,PWi,Bi,Fi,Rn,Ni,Dummy_Nj,P,Yi,Dummy_Ai,Ci,Di,X,Dummy_Ei,Dummy_Ji,Qi,DID,Dummy_Gi,Mi,Dummy_Hi,Dummy_Li,Zi,SK,Inc,Set_101,Set_102,Dummy_Set_103,Dummy_Set_104,Dummy_Set_105,Dummy_Set_106,SID,Nj) :=
 state_bob(Sj,Ui,SKuisj,H,Mul,Add,Sub,1,PWBi,Dummy_IDi,R,PWi,Bi,Fi,Rn,Ni,Dummy_Nj,P,Yi,Dummy_Ai,Ci,Di,X,Dummy_Ei,Dummy_Ji,Qi,DID,Dummy_Gi,Mi,Dummy_Hi,Dummy_Li,Zi,SK,Inc,Set_101,Set_102,Dummy_Set_103,Dummy_Set_104,Dummy_Set_105,Dummy_Set_106,SID).
 iknows(pair(DID,pair(Dummy_Gi,Mi)))
=[exists Nj]=>
 state_bob(Sj,Ui,SKuisj,H,Mul,Add,Sub,2,PWBi,xor(DID,apply(H,pair(Yi,apply(Mul,pair(X,Mi))))),R,PWi,Bi,Fi,Rn,Ni,Nj,P,Yi,apply(Mul,pair(apply(H,pair(xor(DID,apply(H,pair(Yi,apply(Mul,pair(X,Mi))))),X)),P)),Ci,Di,X,apply(Mul,pair(X,Mi)),apply(Mul,pair(Nj,pair(X,P))),Qi,DID,apply(H,pair(xor(DID,apply(H,pair(Yi,apply(Mul,pair(X,Mi))))),pair(Mi,apply(Mul,pair(apply(H,pair(xor(DID,apply(H,pair(Yi,apply(Mul,pair(X,Mi))))),X)),P))))),Mi,xor(Nj,apply(H,pair(apply(Mul,pair(X,Mi)),apply(Mul,pair(apply(H,pair(xor(DID,apply(H,pair(Yi,apply(Mul,pair(X,Mi))))),X)),P))))),apply(H,pair(apply(Mul,pair(Nj,pair(X,P))),pair(apply(Mul,pair(apply(H,pair(xor(DID,apply(H,pair(Yi,apply(Mul,pair(X,Mi))))),X)),P)),Yi))),Zi,SK,Inc,Set_101,Set_102,Dummy_Set_103,Dummy_Set_104,Dummy_Set_105,Dummy_Set_106,SID).
 iknows(pair(xor(Nj,apply(H,pair(apply(Mul,pair(X,Mi)),apply(Mul,pair(apply(H,pair(xor(DID,apply(H,pair(Yi,apply(Mul,pair(X,Mi))))),X)),P))))),apply(H,pair(apply(Mul,pair(Nj,pair(X,P))),pair(apply(Mul,pair(apply(H,pair(xor(DID,apply(H,pair(Yi,apply(Mul,pair(X,Mi))))),X)),P)),Yi))))).
 secret(Dummy_Set_103,subs6,Dummy_Set_104).
 secret(Dummy_Set_105,subs4,Dummy_Set_106).
 contains(Nj,Dummy_Set_103).
 contains(Sj,Dummy_Set_104).
 contains(apply(Mul,pair(X,Mi)),Dummy_Set_105).
 contains(apply(Mul,pair(Nj,pair(X,P))),Dummy_Set_105).
 contains(Ui,Dummy_Set_106).
 contains(Sj,Dummy_Set_106)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob_ni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_ni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_ni,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_ni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_ni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_nj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_nj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_nj,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_nj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_nj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob_ni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_ni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_ni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_ni,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_ni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_nj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_nj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_nj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_nj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_nj,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_nj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

