%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileJP2csd

section signature:

state_p_SN: agent * agent * agent * hash_func * nat * symmetric_key * text * text * text * text * text * text * text * text * message * set(agent) * set(agent) * nat -> fact
state_p_GWN: agent * agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * symmetric_key * symmetric_key * text * text * text * text * text * text * text * text * text * text * text * text * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact
state_p_UD: agent * agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * scrypt(symmetric_key,pair(agent,pair(agent,pair(hash_func,pair(text,pair(text,text)))))) * symmetric_key * text * text * text * text * text * text * message * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact


section types:

sec_a_K_xs, sec_a_K, k_xs, k_K, k_hash, sec_a_K_hash, sec_k_ni, sec_k_ali, sec_k_bei, k_ni, k_ali, k_bei, sec_a_pwd, sec_a_pwdn, k_pwd, k_pwdn: protocol_id
Dummy_MSG, dummy_msg, MGoal, MSG, start: message
Smart_Card: scrypt(symmetric_key,pair(agent,pair(agent,pair(hash_func,pair(text,pair(text,text))))))
set_195, set_194, set_193, set_192, set_191, set_190, set_189, set_156, set_155, set_154, set_153, set_152, set_151, set_150, set_240, set_239, set_237, set_236, set_235, set_234, set_233, set_232, set_231, set_230, set_229, set_228, set_227, set_226, set_225, set_224, set_217, set_216: set
4, SID, Dummy_State, 3, SID2, SID1, State, 5, 2, 1, 0, 9, 8: nat
Dummy_K, Dummy_Xs, dummy_sk, kug, kia, Xs, K, K_UG: symmetric_key
Dummy_Hash, dummy_hash, h, hi, Hash: hash_func
Dummy_BEni, Dummy_ALni, Dummy_Nni, Dummy_PWni, Dummy_T_1, Dummy_Ei, Dummy_DIDi, Dummy_BEi, Dummy_AL_t, Dummy_ALi, Dummy_H_pw, Dummy_Ni, Dummy_IDS, Dummy_PWn, Dummy_PWi, dummy_nonce, ACC, Wi, MUi, SIG_ti, T_2, T_3, SIGi, DIDi, MU_ti, W_ti, X_t, E_ti, T_1, Ei, BEi, ALi, Ni, H_pw, IDS, Nni, ALni, BEni, Dummy_MUi, AL_t, Dummy_SIG_ti, PWi, PWn, PWni, Dummy_ACC, Dummy_MU_ti, Dummy_W_ti, Dummy_Wi, Dummy_T_3, Dummy_T_2, Dummy_SIGi, Dummy_E_ti, Dummy_X_t: text
dummy_agent, A2Goal, A1Goal, ud, gwn, sn, SN, UD, GWN, i: agent
Dummy_Set_98, Dummy_Set_97, Dummy_Set_96, Dummy_Set_63, Dummy_Set_58, Dummy_Set_57, Dummy_Set_56, Dummy_Set_55, Dummy_Set_51, Dummy_Set_47, ASGoal, Set_122, Set_121, Set_102, Set_101, Set_100, Set_99, Set_98, Set_97, Set_96, Set_63, Set_58, Set_57, Set_56, Set_55, Set_51, Set_47, Dummy_Set_122, Dummy_Set_121, Dummy_Set_102, Dummy_Set_101, Dummy_Set_100, Dummy_Set_99: set(agent)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ud).
 iknows(gwn).
 iknows(sn).
 iknows(kia).
 iknows(i).
 state_p_UD(ud,gwn,sn,h,kug,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,scrypt(dummy_sk,pair(dummy_agent,pair(dummy_agent,pair(dummy_hash,pair(dummy_nonce,pair(dummy_nonce,dummy_nonce)))))),dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_150,set_151,set_152,set_153,set_154,set_155,set_156,3).
 state_p_GWN(gwn,ud,sn,h,kug,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_189,set_190,set_191,set_192,set_193,set_194,set_195,4).
 state_p_SN(sn,ud,gwn,h,0,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_216,set_217,5).
 state_p_GWN(gwn,i,sn,hi,kia,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_231,set_232,set_233,set_234,set_235,set_236,set_237,8).
 state_p_SN(sn,i,gwn,hi,0,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,set_239,set_240,9)


section rules:

step step_0 (UD,GWN,SN,Hash,K_UG,Dummy_PWi,PWn,PWni,IDS,Ni,H_pw,ALi,AL_t,BEi,Smart_Card,Xs,DIDi,Ei,T_1,Nni,ALni,BEni,MSG,Dummy_Set_47,Set_51,Set_55,Set_56,Set_57,Set_58,Set_63,SID,PWi) :=
 state_p_UD(UD,GWN,SN,Hash,K_UG,0,Dummy_PWi,PWn,PWni,IDS,Ni,H_pw,ALi,AL_t,BEi,Smart_Card,Xs,DIDi,Ei,T_1,Nni,ALni,BEni,MSG,Dummy_Set_47,Set_51,Set_55,Set_56,Set_57,Set_58,Set_63,SID).
 iknows(start)
=[exists PWi]=>
 state_p_UD(UD,GWN,SN,Hash,K_UG,1,PWi,PWn,PWni,IDS,Ni,H_pw,ALi,AL_t,BEi,Smart_Card,Xs,DIDi,Ei,T_1,Nni,ALni,BEni,MSG,Dummy_Set_47,Set_51,Set_55,Set_56,Set_57,Set_58,Set_63,SID).
 iknows(pair(UD,apply(Hash,PWi))).
 secret(PWi,sec_a_pwd,Dummy_Set_47).
 contains(UD,Dummy_Set_47)

step step_1 (UD,GWN,SN,Hash,K_UG,PWi,Dummy_PWn,PWni,Dummy_IDS,Dummy_Ni,Dummy_H_pw,Dummy_ALi,Dummy_AL_t,Dummy_BEi,Smart_Card,Dummy_Xs,DIDi,Ei,T_1,Nni,ALni,BEni,MSG,Set_47,Dummy_Set_51,Dummy_Set_55,Dummy_Set_56,Dummy_Set_57,Dummy_Set_58,Set_63,SID,IDS,Ni,ALi,BEi) :=
 state_p_UD(UD,GWN,SN,Hash,K_UG,1,PWi,Dummy_PWn,PWni,Dummy_IDS,Dummy_Ni,Dummy_H_pw,Dummy_ALi,Dummy_AL_t,Dummy_BEi,Smart_Card,Dummy_Xs,DIDi,Ei,T_1,Nni,ALni,BEni,MSG,Set_47,Dummy_Set_51,Dummy_Set_55,Dummy_Set_56,Dummy_Set_57,Dummy_Set_58,Set_63,SID).
 iknows(scrypt(K_UG,pair(IDS,pair(UD,pair(Hash,pair(Ni,pair(ALi,BEi)))))))
 =>
 state_p_UD(UD,GWN,SN,Hash,K_UG,2,PWi,PWi,PWni,IDS,Ni,apply(Hash,PWi),ALi,apply(Hash,xor(apply(Hash,PWi),xor(BEi,apply(Hash,pair(IDS,apply(Hash,PWi)))))),BEi,Smart_Card,xor(BEi,apply(Hash,pair(IDS,apply(Hash,PWi)))),DIDi,Ei,T_1,Nni,ALni,BEni,MSG,Set_47,Dummy_Set_51,Dummy_Set_55,Dummy_Set_56,Dummy_Set_57,Dummy_Set_58,Set_63,SID).
 secret(Hash,sec_a_K_hash,Dummy_Set_51).
 wrequest(UD,GWN,k_ids,IDS,SID).
 secret(IDS,sec_k_ids,Dummy_Set_55).
 wrequest(UD,GWN,k_ni,Ni,SID).
 secret(Ni,sec_k_ni,Dummy_Set_56).
 wrequest(UD,GWN,k_ali,ALi,SID).
 secret(Ni,sec_k_ali,Dummy_Set_57).
 wrequest(UD,GWN,k_bei,BEi,SID).
 secret(BEi,sec_k_bei,Dummy_Set_58).
 contains(UD,Dummy_Set_51).
 contains(GWN,Dummy_Set_51).
 contains(SN,Dummy_Set_51).
 contains(UD,Dummy_Set_55).
 contains(GWN,Dummy_Set_55).
 contains(UD,Dummy_Set_56).
 contains(GWN,Dummy_Set_56).
 contains(UD,Dummy_Set_57).
 contains(GWN,Dummy_Set_57).
 contains(UD,Dummy_Set_58).
 contains(GWN,Dummy_Set_58)

step step_2 (UD,GWN,SN,Hash,K_UG,PWi,PWn,PWni,IDS,Ni,H_pw,ALi,BEi,Smart_Card,Xs,Dummy_DIDi,Dummy_Ei,Dummy_T_1,Nni,ALni,BEni,MSG,Set_47,Set_51,Set_55,Set_56,Set_57,Set_58,Set_63,SID,T_1) :=
 state_p_UD(UD,GWN,SN,Hash,K_UG,2,PWi,PWn,PWni,IDS,Ni,H_pw,ALi,ALi,BEi,Smart_Card,Xs,Dummy_DIDi,Dummy_Ei,Dummy_T_1,Nni,ALni,BEni,MSG,Set_47,Set_51,Set_55,Set_56,Set_57,Set_58,Set_63,SID)
=[exists T_1]=>
 state_p_UD(UD,GWN,SN,Hash,K_UG,3,PWi,PWn,PWni,IDS,Ni,H_pw,ALi,ALi,BEi,Smart_Card,Xs,xor(apply(Hash,pair(UD,pair(H_pw,Xs))),apply(Hash,pair(Xs,T_1))),apply(Hash,pair(Ni,pair(Xs,T_1))),T_1,Nni,ALni,BEni,MSG,Set_47,Set_51,Set_55,Set_56,Set_57,Set_58,Set_63,SID).
 iknows(pair(xor(apply(Hash,pair(UD,pair(H_pw,Xs))),apply(Hash,pair(Xs,T_1))),pair(apply(Hash,pair(Ni,pair(Xs,T_1))),T_1)))

step step_3 (UD,GWN,SN,Hash,K_UG,PWi,PWn,PWni,IDS,Ni,H_pw,ALi,AL_t,BEi,Smart_Card,Xs,DIDi,Ei,T_1,Nni,ALni,BEni,Dummy_MSG,Set_47,Set_51,Set_55,Set_56,Set_57,Set_58,Set_63,SID,MSG) :=
 state_p_UD(UD,GWN,SN,Hash,K_UG,3,PWi,PWn,PWni,IDS,Ni,H_pw,ALi,AL_t,BEi,Smart_Card,Xs,DIDi,Ei,T_1,Nni,ALni,BEni,Dummy_MSG,Set_47,Set_51,Set_55,Set_56,Set_57,Set_58,Set_63,SID).
 iknows(MSG)
 =>
 state_p_UD(UD,GWN,SN,Hash,K_UG,4,PWi,PWn,PWni,IDS,Ni,H_pw,ALi,AL_t,BEi,Smart_Card,Xs,DIDi,Ei,T_1,Nni,ALni,BEni,MSG,Set_47,Set_51,Set_55,Set_56,Set_57,Set_58,Set_63,SID)

step step_4 (UD,GWN,SN,Hash,K_UG,PWi,PWn,PWni,IDS,Ni,Dummy_H_pw,ALi,Dummy_AL_t,BEi,Smart_Card,Dummy_Xs,DIDi,Ei,T_1,Nni,ALni,BEni,MSG,Set_47,Set_51,Set_55,Set_56,Set_57,Set_58,Set_63,SID) :=
 state_p_UD(UD,GWN,SN,Hash,K_UG,4,PWi,PWn,PWni,IDS,Ni,Dummy_H_pw,ALi,Dummy_AL_t,BEi,Smart_Card,Dummy_Xs,DIDi,Ei,T_1,Nni,ALni,BEni,MSG,Set_47,Set_51,Set_55,Set_56,Set_57,Set_58,Set_63,SID)
 =>
 state_p_UD(UD,GWN,SN,Hash,K_UG,5,PWi,PWn,PWni,IDS,Ni,apply(Hash,PWi),ALi,apply(Hash,xor(apply(Hash,PWi),xor(BEi,apply(Hash,pair(IDS,apply(Hash,PWi)))))),BEi,Smart_Card,xor(BEi,apply(Hash,pair(IDS,apply(Hash,PWi)))),DIDi,Ei,T_1,Nni,ALni,BEni,MSG,Set_47,Set_51,Set_55,Set_56,Set_57,Set_58,Set_63,SID)

step step_5 (UD,GWN,SN,Hash,K_UG,PWi,PWn,Dummy_PWni,IDS,Dummy_Ni,Dummy_H_pw,Dummy_ALi,Dummy_BEi,Smart_Card,Dummy_Xs,DIDi,Ei,T_1,Dummy_Nni,Dummy_ALni,Dummy_BEni,MSG,Set_47,Set_51,Set_55,Set_56,Set_57,Set_58,Dummy_Set_63,SID,PWni) :=
 state_p_UD(UD,GWN,SN,Hash,K_UG,5,PWi,PWn,Dummy_PWni,IDS,Dummy_Ni,Dummy_H_pw,Dummy_ALi,Dummy_ALi,Dummy_BEi,Smart_Card,Dummy_Xs,DIDi,Ei,T_1,Dummy_Nni,Dummy_ALni,Dummy_BEni,MSG,Set_47,Set_51,Set_55,Set_56,Set_57,Set_58,Dummy_Set_63,SID)
=[exists PWni]=>
 state_p_UD(UD,GWN,SN,Hash,K_UG,2,PWi,PWn,PWni,IDS,xor(xor(Dummy_Ni,apply(Hash,pair(UD,pair(apply(Hash,PWni),Dummy_Xs)))),apply(Hash,pair(UD,pair(apply(Hash,PWni),Dummy_Xs)))),apply(Hash,PWni),apply(Hash,xor(apply(Hash,PWni),Dummy_Xs)),apply(Hash,xor(Dummy_H_pw,xor(xor(Dummy_Xs,apply(Hash,pair(IDS,apply(Hash,PWni)))),apply(Hash,pair(IDS,Dummy_H_pw))))),xor(Dummy_Xs,apply(Hash,pair(IDS,apply(Hash,PWni)))),Smart_Card,xor(xor(Dummy_Xs,apply(Hash,pair(IDS,apply(Hash,PWni)))),apply(Hash,pair(IDS,Dummy_H_pw))),DIDi,Ei,T_1,xor(xor(Dummy_Ni,apply(Hash,pair(UD,pair(apply(Hash,PWni),Dummy_Xs)))),apply(Hash,pair(UD,pair(apply(Hash,PWni),Dummy_Xs)))),apply(Hash,xor(apply(Hash,PWni),Dummy_Xs)),xor(Dummy_Xs,apply(Hash,pair(IDS,apply(Hash,PWni)))),MSG,Set_47,Set_51,Set_55,Set_56,Set_57,Set_58,Dummy_Set_63,SID).
 secret(PWni,sec_a_pwdn,Dummy_Set_63).
 contains(UD,Dummy_Set_63)

step step_6 (GWN,UD,SN,Dummy_Hash,K_UG,Dummy_IDS,Dummy_H_pw,Dummy_Ni,Dummy_ALi,Dummy_BEi,Dummy_K,Dummy_Xs,DIDi,Ei,T_1,X_t,E_ti,SIGi,T_2,T_3,Wi,W_ti,MU_ti,ACC,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,Dummy_Set_100,Dummy_Set_101,Dummy_Set_102,SID,Hash,IDS,H_pw,K,Xs) :=
 state_p_GWN(GWN,UD,SN,Dummy_Hash,K_UG,0,Dummy_IDS,Dummy_H_pw,Dummy_Ni,Dummy_ALi,Dummy_BEi,Dummy_K,Dummy_Xs,DIDi,Ei,T_1,X_t,E_ti,SIGi,T_2,T_3,Wi,W_ti,MU_ti,ACC,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,Dummy_Set_100,Dummy_Set_101,Dummy_Set_102,SID).
 iknows(pair(UD,H_pw))
=[exists Xs,Hash,K,IDS]=>
 state_p_GWN(GWN,UD,SN,Hash,K_UG,1,IDS,H_pw,xor(apply(Dummy_Hash,pair(UD,pair(H_pw,Dummy_Xs))),apply(Dummy_Hash,Dummy_K)),apply(Dummy_Hash,xor(H_pw,Dummy_Xs)),xor(Dummy_Xs,apply(Dummy_Hash,pair(IDS,H_pw))),K,Xs,DIDi,Ei,T_1,X_t,E_ti,SIGi,T_2,T_3,Wi,W_ti,MU_ti,ACC,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,Dummy_Set_100,Dummy_Set_101,Dummy_Set_102,SID).
 iknows(scrypt(K_UG,pair(IDS,pair(UD,pair(Dummy_Hash,pair(xor(apply(Dummy_Hash,pair(UD,pair(H_pw,Dummy_Xs))),apply(Dummy_Hash,Dummy_K)),pair(apply(Dummy_Hash,xor(H_pw,Dummy_Xs)),xor(Dummy_Xs,apply(Dummy_Hash,pair(IDS,H_pw)))))))))).
 witness(GWN,SN,k_xs,Xs).
 secret(Hash,sec_a_K_hash,Dummy_Set_97).
 secret(K,sec_a_K,Dummy_Set_98).
 witness(GWN,UD,k_ids,IDS).
 secret(IDS,sec_k_ids,Dummy_Set_99).
 witness(GWN,UD,k_ni,xor(apply(Dummy_Hash,pair(UD,pair(H_pw,Dummy_Xs))),apply(Dummy_Hash,Dummy_K))).
 secret(xor(apply(Dummy_Hash,pair(UD,pair(H_pw,Dummy_Xs))),apply(Dummy_Hash,Dummy_K)),sec_k_ni,Dummy_Set_100).
 witness(GWN,UD,k_ali,apply(Dummy_Hash,xor(H_pw,Dummy_Xs))).
 secret(xor(apply(Dummy_Hash,pair(UD,pair(H_pw,Dummy_Xs))),apply(Dummy_Hash,Dummy_K)),sec_k_ali,Dummy_Set_101).
 witness(GWN,UD,k_bei,xor(Dummy_Xs,apply(Dummy_Hash,pair(IDS,H_pw)))).
 secret(xor(Dummy_Xs,apply(Dummy_Hash,pair(IDS,H_pw))),sec_k_bei,Dummy_Set_102).
 contains(GWN,Dummy_Set_96).
 contains(SN,Dummy_Set_96).
 contains(GWN,Dummy_Set_97).
 contains(SN,Dummy_Set_97).
 contains(UD,Dummy_Set_97).
 contains(GWN,Dummy_Set_98).
 contains(GWN,Dummy_Set_99).
 contains(UD,Dummy_Set_99).
 contains(GWN,Dummy_Set_100).
 contains(UD,Dummy_Set_100).
 contains(GWN,Dummy_Set_101).
 contains(UD,Dummy_Set_101).
 contains(GWN,Dummy_Set_102).
 contains(UD,Dummy_Set_102)

step step_7 (GWN,UD,SN,Hash,K_UG,IDS,H_pw,Ni,ALi,BEi,K,Xs,Dummy_DIDi,Dummy_Ei,Dummy_T_1,Dummy_X_t,Dummy_E_ti,SIGi,T_2,T_3,Wi,W_ti,MU_ti,ACC,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,SID,DIDi,Ei,T_1) :=
 state_p_GWN(GWN,UD,SN,Hash,K_UG,1,IDS,H_pw,Ni,ALi,BEi,K,Xs,Dummy_DIDi,Dummy_Ei,Dummy_T_1,Dummy_X_t,Dummy_E_ti,SIGi,T_2,T_3,Wi,W_ti,MU_ti,ACC,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,SID).
 iknows(pair(DIDi,pair(Ei,T_1)))
 =>
 state_p_GWN(GWN,UD,SN,Hash,K_UG,2,IDS,H_pw,Ni,ALi,BEi,K,Xs,DIDi,Ei,T_1,xor(DIDi,apply(Hash,pair(Xs,T_1))),pair(apply(Hash,xor(xor(DIDi,apply(Hash,pair(Xs,T_1))),apply(Hash,K))),pair(Xs,T_1)),SIGi,T_2,T_3,Wi,W_ti,MU_ti,ACC,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,SID)

step step_8 (GWN,UD,SN,Hash,K_UG,IDS,H_pw,Ni,ALi,BEi,K,Xs,DIDi,E_ti,T_1,X_t,Dummy_SIGi,Dummy_T_2,T_3,Wi,W_ti,MU_ti,ACC,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,SID,T_2) :=
 state_p_GWN(GWN,UD,SN,Hash,K_UG,2,IDS,H_pw,Ni,ALi,BEi,K,Xs,DIDi,E_ti,T_1,X_t,E_ti,Dummy_SIGi,Dummy_T_2,T_3,Wi,W_ti,MU_ti,ACC,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,SID)
=[exists T_2]=>
 state_p_GWN(GWN,UD,SN,Hash,K_UG,3,IDS,H_pw,Ni,ALi,BEi,K,Xs,DIDi,E_ti,T_1,X_t,E_ti,apply(Hash,pair(DIDi,pair(SN,pair(Xs,T_2)))),T_2,T_3,Wi,W_ti,MU_ti,ACC,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,SID).
 iknows(pair(DIDi,pair(apply(Hash,pair(DIDi,pair(SN,pair(Xs,T_2)))),T_2)))

step step_9 (GWN,UD,SN,Hash,K_UG,IDS,H_pw,Ni,ALi,BEi,K,Xs,DIDi,Ei,T_1,X_t,E_ti,SIGi,T_2,Dummy_T_3,Dummy_Wi,Dummy_W_ti,Dummy_MU_ti,ACC,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,SID,T_3,Wi) :=
 state_p_GWN(GWN,UD,SN,Hash,K_UG,3,IDS,H_pw,Ni,ALi,BEi,K,Xs,DIDi,Ei,T_1,X_t,E_ti,SIGi,T_2,Dummy_T_3,Dummy_Wi,Dummy_W_ti,Dummy_MU_ti,ACC,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,SID).
 iknows(pair(Wi,T_3))
 =>
 state_p_GWN(GWN,UD,SN,Hash,K_UG,4,IDS,H_pw,Ni,ALi,BEi,K,Xs,DIDi,Ei,T_1,X_t,E_ti,SIGi,T_2,T_3,Wi,apply(Hash,pair(xor(SIGi,Xs),pair(Xs,T_3))),xor(SIGi,Xs),ACC,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,SID)

step step_10 (GWN,UD,SN,Hash,K_UG,IDS,H_pw,Ni,ALi,BEi,K,Xs,DIDi,Ei,T_1,X_t,E_ti,SIGi,T_2,T_3,W_ti,MU_ti,Dummy_ACC,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,SID,ACC) :=
 state_p_GWN(GWN,UD,SN,Hash,K_UG,4,IDS,H_pw,Ni,ALi,BEi,K,Xs,DIDi,Ei,T_1,X_t,E_ti,SIGi,T_2,T_3,W_ti,W_ti,MU_ti,Dummy_ACC,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,SID)
=[exists ACC]=>
 state_p_GWN(GWN,UD,SN,Hash,K_UG,5,IDS,H_pw,Ni,ALi,BEi,K,Xs,DIDi,Ei,T_1,X_t,E_ti,SIGi,T_2,T_3,W_ti,W_ti,MU_ti,ACC,Set_96,Set_97,Set_98,Set_99,Set_100,Set_101,Set_102,SID).
 iknows(ACC)

step step_11 (SN,UD,GWN,Hash,Xs,Dummy_DIDi,Dummy_SIGi,Dummy_T_2,T_3,Dummy_SIG_ti,MUi,Wi,ACC,MSG,Dummy_Set_121,Dummy_Set_122,SID,DIDi,SIGi,T_2) :=
 state_p_SN(SN,UD,GWN,Hash,0,Xs,Dummy_DIDi,Dummy_SIGi,Dummy_T_2,T_3,Dummy_SIG_ti,MUi,Wi,ACC,MSG,Dummy_Set_121,Dummy_Set_122,SID).
 iknows(pair(DIDi,pair(SIGi,T_2)))
 =>
 state_p_SN(SN,UD,GWN,Hash,1,Xs,DIDi,SIGi,T_2,T_3,apply(Hash,pair(DIDi,pair(SN,pair(Xs,T_2)))),MUi,Wi,ACC,MSG,Dummy_Set_121,Dummy_Set_122,SID).
 secret(Hash,sec_a_K_hash,Dummy_Set_122).
 contains(SN,Dummy_Set_121).
 contains(GWN,Dummy_Set_121).
 contains(SN,Dummy_Set_122).
 contains(GWN,Dummy_Set_122).
 contains(UD,Dummy_Set_122)

step step_12 (SN,UD,GWN,Hash,Xs,DIDi,SIG_ti,T_2,Dummy_T_3,Dummy_MUi,Dummy_Wi,ACC,MSG,Set_121,Set_122,SID,T_3) :=
 state_p_SN(SN,UD,GWN,Hash,1,Xs,DIDi,SIG_ti,T_2,Dummy_T_3,SIG_ti,Dummy_MUi,Dummy_Wi,ACC,MSG,Set_121,Set_122,SID)
=[exists T_3]=>
 state_p_SN(SN,UD,GWN,Hash,2,Xs,DIDi,SIG_ti,T_2,T_3,SIG_ti,xor(SIG_ti,Xs),apply(Hash,pair(xor(SIG_ti,Xs),pair(Xs,T_3))),ACC,MSG,Set_121,Set_122,SID).
 iknows(pair(apply(Hash,pair(xor(SIG_ti,Xs),pair(Xs,T_3))),T_3))

step step_13 (SN,UD,GWN,Hash,Xs,DIDi,SIGi,T_2,T_3,SIG_ti,MUi,Wi,ACC,Dummy_MSG,Set_121,Set_122,SID,MSG) :=
 state_p_SN(SN,UD,GWN,Hash,2,Xs,DIDi,SIGi,T_2,T_3,SIG_ti,MUi,Wi,ACC,Dummy_MSG,Set_121,Set_122,SID).
 iknows(ACC)
=[exists MSG]=>
 state_p_SN(SN,UD,GWN,Hash,3,Xs,DIDi,SIGi,T_2,T_3,SIG_ti,MUi,Wi,ACC,MSG,Set_121,Set_122,SID).
 iknows(MSG)


section properties:

property secrecy_of_k_xs (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_xs,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_hash (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_hash,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_K (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_K,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_pwd (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_pwd,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_pwdn (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_pwdn,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_ni (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_ni,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_ali (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_ali,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_bei (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_bei,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_ids (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_ids,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_a_K_hash (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_a_K_hash,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_a_K (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_a_K,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_a_pwd (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_a_pwd,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_a_pwdn (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_a_pwdn,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_k_ni (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_k_ni,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_k_ali (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_k_ali,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_k_bei (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_k_bei,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_k_ids (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_k_ids,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_sec_a_K (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sec_a_K,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sec_a_K,MGoal))
     /\ ((request(A1Goal,A2Goal,sec_a_K,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sec_a_K,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sec_a_pwd (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sec_a_pwd,MGoal))
     /\ ((request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sec_a_pwdn (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sec_a_pwdn,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sec_a_pwdn,MGoal))
     /\ ((request(A1Goal,A2Goal,sec_a_pwdn,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sec_a_pwdn,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sec_k_ni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sec_k_ni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sec_k_ni,MGoal))
     /\ ((request(A1Goal,A2Goal,sec_k_ni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sec_k_ni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sec_k_ali (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sec_k_ali,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sec_k_ali,MGoal))
     /\ ((request(A1Goal,A2Goal,sec_k_ali,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sec_k_ali,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sec_k_bei (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sec_k_bei,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sec_k_bei,MGoal))
     /\ ((request(A1Goal,A2Goal,sec_k_bei,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sec_k_bei,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sec_k_ids (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sec_k_ids,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sec_k_ids,MGoal))
     /\ ((request(A1Goal,A2Goal,sec_k_ids,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sec_k_ids,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property weak_authentication_on_k_hash (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_hash,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_hash,MGoal))

property weak_authentication_on_k_xs (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_xs,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_xs,MGoal))

property weak_authentication_on_k_K (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_K,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_K,MGoal))

property weak_authentication_on_k_pwd (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_pwd,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_pwd,MGoal))

property weak_authentication_on_k_pwdn (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_pwdn,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_pwdn,MGoal))

property weak_authentication_on_k_ni (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_ni,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_ni,MGoal))

property weak_authentication_on_k_ali (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_ali,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_ali,MGoal))

property weak_authentication_on_k_bei (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_bei,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_bei,MGoal))

property weak_authentication_on_k_ids (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_ids,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_ids,MGoal))


section attack_states:

attack_state secrecy_of_k_xs (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_xs,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_hash (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_hash,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_K (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_K,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_pwd (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_pwd,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_pwdn (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_pwdn,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_ni (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_ni,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_ali (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_ali,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_bei (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_bei,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_ids (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_ids,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_a_K_hash (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_a_K_hash,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_a_K (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_a_K,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_a_pwd (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_a_pwd,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_a_pwdn (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_a_pwdn,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_k_ni (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_k_ni,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_k_ali (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_k_ali,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_k_bei (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_k_bei,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_k_ids (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_k_ids,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_sec_a_K (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sec_a_K,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sec_a_K,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sec_a_K (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sec_a_K,MGoal,SID1).
 request(A1Goal,A2Goal,sec_a_K,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sec_a_pwd (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sec_a_pwd,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sec_a_pwd (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID1).
 request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sec_a_pwdn (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sec_a_pwdn,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sec_a_pwdn,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sec_a_pwdn (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sec_a_pwdn,MGoal,SID1).
 request(A1Goal,A2Goal,sec_a_pwdn,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sec_k_ni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sec_k_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sec_k_ni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sec_k_ni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sec_k_ni,MGoal,SID1).
 request(A1Goal,A2Goal,sec_k_ni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sec_k_ali (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sec_k_ali,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sec_k_ali,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sec_k_ali (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sec_k_ali,MGoal,SID1).
 request(A1Goal,A2Goal,sec_k_ali,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sec_k_bei (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sec_k_bei,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sec_k_bei,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sec_k_bei (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sec_k_bei,MGoal,SID1).
 request(A1Goal,A2Goal,sec_k_bei,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sec_k_ids (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sec_k_ids,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sec_k_ids,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sec_k_ids (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sec_k_ids,MGoal,SID1).
 request(A1Goal,A2Goal,sec_k_ids,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_hash (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_hash,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_hash,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_xs (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_xs,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_xs,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_K (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_K,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_K,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_pwd (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_pwd,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_pwd,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_pwdn (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_pwdn,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_pwdn,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_ni (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_ni,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_ali (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_ali,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_ali,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_bei (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_bei,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_bei,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_ids (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_ids,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_ids,MGoal)) &
 not(equal(A2Goal,i))

