%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileRC5AGThejK

section signature:

state_sensor: agent * agent * symmetric_key * text * text * hash_func * hash_func * hash_func * nat * text * text * text * symmetric_key * message * nat -> fact
state_gateway: agent * agent * agent * symmetric_key * symmetric_key * text * text * text * text * text * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * message * symmetric_key * set(agent) * nat -> fact
state_user: agent * agent * agent * symmetric_key * text * text * text * text * hash_func * hash_func * hash_func * nat * text * text * text * text * text * symmetric_key * set(agent) * nat -> fact


section types:

set_154, set_143: set
Set_71, Dummy_Set_71, Dummy_Set_36, Set_36, ASGoal: set(agent)
AIDu, Dummy_AIDu, dummy_msg, MGoal, start: message
se_sk, sseq1, nu, auth_sk, r1, r2, tsug_id, auth_nu, auth_sk2, secret_sk: protocol_id
State, 5, SID, 4, Dummy_State, 3, SID2, SID1, 2, 1: nat
Hash, F2, F5, add, Add, f1, f2, f5: hash_func
R2, T, T2, Seq, IDsn, R, Dummy_TS, Nu, Dummy_T2, Dummy_M, TS, TSugnew, Dummy_T, Dummy_R2, IDu, TSug, Dummy_TSugnew, M, Dummy_R, Dummy_Nu, dummy_nonce, seq, idu, idsn, tsug, m: text
SK, Kgs, Dummy_SK, Kug, dummy_sk, kug, kgs, k_is, kai: symmetric_key
SENSOR, GATEWAY, USER, A2Goal, A1Goal, u, g, s, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(f1).
 iknows(f2).
 iknows(f5).
 iknows(i).
 state_user(u,s,g,kug,seq,idu,idsn,tsug,f1,f2,f5,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,set_143,3).
 state_gateway(g,u,s,kug,kgs,seq,idu,idsn,tsug,m,f1,f2,f5,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_sk,set_154,4).
 state_sensor(s,g,kgs,seq,idsn,f1,f2,f5,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_msg,5)


section rules:

step step_0 (USER,SENSOR,GATEWAY,Kug,Seq,IDu,IDsn,TSug,Hash,F2,F5,R,R2,Dummy_Nu,TS,TSugnew,SK,Set_36,SID,Nu) :=
 state_user(USER,SENSOR,GATEWAY,Kug,Seq,IDu,IDsn,TSug,Hash,F2,F5,1,R,R2,Dummy_Nu,TS,TSugnew,SK,Set_36,SID).
 iknows(start)
=[exists Nu]=>
 state_user(USER,SENSOR,GATEWAY,Kug,Seq,IDu,IDsn,TSug,Hash,F2,F5,2,R,R2,Nu,TS,TSugnew,SK,Set_36,SID).
 iknows(pair(xor(Kug,Nu),pair(apply(Hash,pair(IDu,pair(Kug,pair(Nu,TSug)))),pair(TSug,pair(IDsn,apply(Hash,pair(apply(Hash,pair(IDu,pair(Kug,pair(Nu,TSug)))),pair(Kug,pair(xor(Kug,Nu),IDsn))))))))).
 witness(USER,GATEWAY,auth_nu,Nu)

step step_1 (USER,SENSOR,GATEWAY,Kug,Seq,IDu,IDsn,TSug,Hash,F2,F5,Dummy_R,R2,Nu,TS,Dummy_TSugnew,Dummy_SK,Dummy_Set_36,SID,R,TSugnew,SK) :=
 state_user(USER,SENSOR,GATEWAY,Kug,Seq,IDu,IDsn,TSug,Hash,F2,F5,2,Dummy_R,R2,Nu,TS,Dummy_TSugnew,Dummy_SK,Dummy_Set_36,SID).
 iknows(pair(apply(Hash,Nu),pair(xor(R,Kug),pair(xor(apply(Hash,pair(Kug,pair(IDu,Nu))),SK),pair(xor(TSugnew,apply(Hash,pair(Kug,pair(IDu,Nu)))),apply(Hash,pair(xor(apply(Hash,pair(Kug,pair(IDu,Nu))),SK),pair(Nu,Kug))))))))
 =>
 state_user(USER,SENSOR,GATEWAY,Kug,Seq,IDu,IDsn,TSug,Hash,F2,F5,3,R,R2,Nu,TS,TSugnew,SK,Dummy_Set_36,SID).
 secret(R,r1,Dummy_Set_36).
 contains(GATEWAY,Dummy_Set_36).
 contains(USER,Dummy_Set_36)

step step_2 (GATEWAY,USER,SENSOR,Kug,Kgs,Seq,IDu,IDsn,TSug,M,Hash,Add,F5,R,Dummy_R2,Dummy_Nu,Dummy_T,T2,TS,TSugnew,Dummy_AIDu,Dummy_SK,Dummy_Set_71,SID,R2,Nu,T,SK) :=
 state_gateway(GATEWAY,USER,SENSOR,Kug,Kgs,Seq,IDu,IDsn,TSug,M,Hash,Add,F5,1,R,Dummy_R2,Dummy_Nu,Dummy_T,T2,TS,TSugnew,Dummy_AIDu,Dummy_SK,Dummy_Set_71,SID).
 iknows(pair(xor(Kug,Nu),pair(apply(Hash,pair(IDu,pair(Kug,pair(Nu,TSug)))),pair(TSug,pair(IDsn,apply(Hash,pair(apply(Hash,pair(IDu,pair(Kug,pair(Nu,TSug)))),pair(Kug,pair(xor(Kug,Nu),IDsn)))))))))
=[exists T,SK,R2]=>
 state_gateway(GATEWAY,USER,SENSOR,Kug,Kgs,Seq,IDu,IDsn,TSug,M,Hash,Add,F5,2,R,R2,Nu,T,T2,TS,TSugnew,apply(Hash,pair(IDu,pair(Kug,pair(Nu,TSug)))),SK,Dummy_Set_71,SID).
 iknows(pair(xor(R2,Kgs),pair(Dummy_AIDu,pair(xor(SK,apply(Hash,Kgs)),pair(T,apply(Hash,pair(Dummy_AIDu,pair(xor(apply(Hash,Kgs),SK),pair(T,Kgs))))))))).
 secret(Nu,nu,Dummy_Set_71).
 request(GATEWAY,USER,auth_nu,Nu,SID).
 witness(GATEWAY,SENSOR,auth_sk,SK).
 contains(GATEWAY,Dummy_Set_71).
 contains(USER,Dummy_Set_71)

step step_3 (GATEWAY,USER,SENSOR,Kug,Kgs,Seq,IDu,IDsn,TSug,Dummy_M,Hash,Add,F5,Dummy_R,R2,Nu,T,Dummy_T2,Dummy_TS,Dummy_TSugnew,AIDu,SK,Set_71,SID,R,T2) :=
 state_gateway(GATEWAY,USER,SENSOR,Kug,Kgs,Seq,IDu,IDsn,TSug,Dummy_M,Hash,Add,F5,2,Dummy_R,R2,Nu,T,Dummy_T2,Dummy_TS,Dummy_TSugnew,AIDu,SK,Set_71,SID).
 iknows(pair(apply(Hash,R2),pair(T2,pair(IDsn,apply(Hash,pair(SK,pair(Kgs,pair(IDsn,T2))))))))
=[exists R]=>
 state_gateway(GATEWAY,USER,SENSOR,Kug,Kgs,Seq,IDu,IDsn,TSug,apply(Add,Dummy_M),Hash,Add,F5,3,R,R2,Nu,T,T2,xor(TSug,apply(Hash,pair(Kug,pair(IDu,Nu)))),apply(Add,Dummy_M),AIDu,SK,Set_71,SID).
 iknows(pair(apply(Hash,Nu),pair(xor(R,Kug),pair(xor(apply(Hash,pair(Kug,pair(IDu,Nu))),SK),pair(xor(TSug,apply(Hash,pair(Kug,pair(IDu,Nu)))),apply(Hash,pair(xor(apply(Hash,pair(Kug,pair(IDu,Nu))),SK),pair(Nu,Kug))))))))

step step_4 (SENSOR,GATEWAY,Kgs,Seq,IDsn,Hash,F2,F5,Dummy_R2,Dummy_T,Dummy_T2,Dummy_SK,Dummy_AIDu,SID,R2,T,T2,SK,AIDu) :=
 state_sensor(SENSOR,GATEWAY,Kgs,Seq,IDsn,Hash,F2,F5,1,Dummy_R2,Dummy_T,Dummy_T2,Dummy_SK,Dummy_AIDu,SID).
 iknows(pair(xor(R2,Kgs),pair(AIDu,pair(xor(SK,apply(Hash,Kgs)),pair(T,apply(Hash,pair(AIDu,pair(xor(apply(Hash,Kgs),SK),pair(T,Kgs)))))))))
=[exists T2]=>
 state_sensor(SENSOR,GATEWAY,Kgs,Seq,IDsn,Hash,F2,F5,2,R2,T,T2,SK,AIDu,SID).
 iknows(pair(apply(Hash,R2),pair(T2,pair(IDsn,apply(Hash,pair(SK,pair(Kgs,pair(IDsn,T2)))))))).
 request(SENSOR,GATEWAY,auth_sk,SK,SID)


section properties:

property secrecy_of_nu (MGoal,ASGoal) :=
 [] ((secret(MGoal,nu,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_r1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,r1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_r2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,r2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_auth_nu (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth_nu,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth_nu,MGoal))
     /\ ((request(A1Goal,A2Goal,auth_nu,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth_nu,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_auth_sk (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth_sk,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth_sk,MGoal))
     /\ ((request(A1Goal,A2Goal,auth_sk,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth_sk,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_nu (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,nu,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_r1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,r1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_r2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,r2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_auth_nu (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth_nu,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_nu,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth_nu (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth_nu,MGoal,SID1).
 request(A1Goal,A2Goal,auth_nu,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_auth_sk (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth_sk,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_sk,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth_sk (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth_sk,MGoal,SID1).
 request(A1Goal,A2Goal,auth_sk,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

