%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile4NY6Ig

section signature:

state_mn: agent * agent * symmetric_key * symmetric_key * symmetric_key * symmetric_key * hash_func * text * text * text * text * text * text * text * text * text * text * nat * nat -> fact
state_fa: agent * agent * symmetric_key * symmetric_key * symmetric_key * symmetric_key * hash_func * text * text * text * text * text * text * text * text * text * text * nat * nat -> fact


section types:

start: message
IDFA, MNCOA, NFA, NHA, NMN, IDHA, IDMN, Advertisement, TMN, TMNSTAR, Dummy_TMNSTAR, Dummy_TMN, Dummy_IDMN, Dummy_IDHA, Dummy_NMN, Dummy_NHA, Dummy_Advertisement, Dummy_NFA, Dummy_MNCOA, Dummy_IDFA, dummy_nonce: text
HASHE, ha: hash_func
MNPK, HAPK, FAPK, KMNHA, mnpk, hapk, fapk, kmnha: symmetric_key
FA, MN, mn1, fa1, i: agent
State, 4, SID, Dummy_State, 2, 0, 3, 1: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(i).
 state_fa(fa1,mn1,mnpk,hapk,fapk,kmnha,ha,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,0,3).
 state_mn(mn1,fa1,mnpk,hapk,fapk,kmnha,ha,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,1,4)


section rules:

step step_0 (FA,MN,MNPK,HAPK,FAPK,KMNHA,HASHE,Dummy_IDFA,Dummy_MNCOA,Dummy_NFA,NHA,NMN,IDHA,IDMN,Dummy_Advertisement,TMN,TMNSTAR,SID,IDFA,MNCOA,NFA,Advertisement) :=
 state_fa(FA,MN,MNPK,HAPK,FAPK,KMNHA,HASHE,Dummy_IDFA,Dummy_MNCOA,Dummy_NFA,NHA,NMN,IDHA,IDMN,Dummy_Advertisement,TMN,TMNSTAR,0,SID).
 iknows(start)
=[exists NFA,MNCOA,IDFA,Advertisement]=>
 state_fa(FA,MN,MNPK,HAPK,FAPK,KMNHA,HASHE,IDFA,MNCOA,NFA,NHA,NMN,IDHA,IDMN,Advertisement,TMN,TMNSTAR,2,SID).
 iknows(pair(Advertisement,pair(IDFA,pair(MNCOA,NFA))))

step step_1 (FA,MN,MNPK,HAPK,FAPK,KMNHA,HASHE,Dummy_IDFA,MNCOA,NFA,Dummy_NHA,Dummy_NMN,Dummy_IDHA,Dummy_IDMN,Advertisement,Dummy_TMN,Dummy_TMNSTAR,SID,IDFA,NHA,NMN,IDHA,IDMN,TMN,TMNSTAR) :=
 state_fa(FA,MN,MNPK,HAPK,FAPK,KMNHA,HASHE,Dummy_IDFA,MNCOA,NFA,Dummy_NHA,Dummy_NMN,Dummy_IDHA,Dummy_IDMN,Advertisement,Dummy_TMN,Dummy_TMNSTAR,2,SID).
 iknows(pair(IDHA,pair(IDMN,pair(MNCOA,pair(NHA,pair(NMN,pair(scrypt(KMNHA,pair(IDHA,pair(IDMN,pair(MNCOA,pair(NHA,NMN))))),pair(TMN,apply(HASHE,pair(IDMN,pair(IDFA,pair(TMN,TMNSTAR))))))))))))
 =>
 state_fa(FA,MN,MNPK,HAPK,FAPK,KMNHA,HASHE,IDFA,MNCOA,NFA,NHA,NMN,IDHA,IDMN,Advertisement,TMN,TMNSTAR,4,SID)

step step_2 (MN,FA,MNPK,HAPK,FAPK,KMNHA,HASHE,Dummy_IDFA,Dummy_MNCOA,Dummy_NFA,Dummy_NHA,Dummy_NMN,Dummy_IDHA,Dummy_IDMN,Dummy_Advertisement,Dummy_TMN,Dummy_TMNSTAR,SID,IDFA,MNCOA,NFA,NHA,NMN,IDHA,IDMN,Advertisement,TMN,TMNSTAR) :=
 state_mn(MN,FA,MNPK,HAPK,FAPK,KMNHA,HASHE,Dummy_IDFA,Dummy_MNCOA,Dummy_NFA,Dummy_NHA,Dummy_NMN,Dummy_IDHA,Dummy_IDMN,Dummy_Advertisement,Dummy_TMN,Dummy_TMNSTAR,1,SID).
 iknows(pair(Advertisement,pair(IDFA,pair(MNCOA,NFA))))
=[exists TMNSTAR,TMN,NMN,NHA,IDMN,IDHA]=>
 state_mn(MN,FA,MNPK,HAPK,FAPK,KMNHA,HASHE,IDFA,MNCOA,NFA,NHA,NMN,IDHA,IDMN,Advertisement,TMN,TMNSTAR,3,SID).
 iknows(pair(IDHA,pair(IDMN,pair(Dummy_MNCOA,pair(NHA,pair(NMN,pair(scrypt(KMNHA,pair(IDHA,pair(IDMN,pair(Dummy_MNCOA,pair(NHA,NMN))))),pair(TMN,apply(HASHE,pair(IDMN,pair(IDFA,pair(TMN,TMNSTAR))))))))))))


