%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileUOC7oR

section signature:

state_aserver: agent * agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * nat -> fact
state_fserver: agent * agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * nat -> fact
state_rserver: agent * agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * nat -> fact
state_user: agent * agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(message) * set(agent) * nat -> fact


section types:

set_380, set_379, set_377, set_376, set_374, set_373, set_371, set_370, set_369, set_367, set_366, set_364, set_363, set_361, set_360, set_358, set_357, set_356, set_346, set_345, set_338, set_337, set_329, set_328, set_298, set_297, set_296: set
Dummy_Set_72, Set_72: set(message)
rserver_aserver, subs6, subs7, user_rserver, rserver_fserver, fserver_rserver, user_aserver, subs1, subs2, subs3, subs4, subs5, aserver_user: protocol_id
Set_174, Dummy_Set_224, Dummy_Set_174, Dummy_Set_124, Set_124, Dummy_Set_73, ASGoal, Set_73, Set_224: set(agent)
Set_173, Dummy_Set_223, Dummy_Set_173, Dummy_Set_123, Set_123, Dummy_Set_65, Set_65, Set_223: set(text)
State, 16, 15, 14, 13, 11, 10, 9, 8, 6, SID, 5, 4, Dummy_State, 3, SID2, SID1, 2, 1, 0: nat
H, Inc, dummy_hash, h: hash_func
SK2, SK1, sk2, sk1: symmetric_key
Fi, Gi, Ki, FFk, LLi, MMi, PPi, NNi, QQj, RRj, DFFi, FGk, SKij, GGi, Dummy_RRj, Dummy_QQj, Dummy_LLj, Dummy_GGi, Dummy_FGk, Dummy_DFFi, Dummy_SKij, Dummy_NNi, Dummy_PPi, Dummy_MMi, Dummy_LLi, Dummy_FFk, Dummy_Ki, Dummy_Gi, Dummy_Fi, dummy_msg, MGoal, start, LLj: message
ASj, Ui, RSk, RSf, A2Goal, A1Goal, ui, asj, rsk, rsf, i: agent
Bi, Ak, TIDi, IDrsk, IDasj, REGi, Ri, Ni, Nj, Nk, T1f, T2f, Xk, XXk, Pj, Sj, Rshrd, IDi, PWi, DIDi, PWRi, Ei, Dummy_T2f, Dummy_IDasj, Dummy_Sj, Dummy_Pj, Dummy_Nj, Dummy_T1f, Dummy_T1, Dummy_Ni, Dummy_REGi, Dummy_TIDi, Dummy_Ak, Dummy_Ri, Dummy_Ei, Dummy_PWRi, Dummy_DIDi, dummy_nonce, T1, idi, pwi, didi, pwri, ei, bi, ak, tidi, idrsk, idasj, regi, ri, ni, nj, nk, t1f, t2f, xk, xxk, pj, sj, rshrd: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(asj).
 iknows(rsk).
 iknows(rsf).
 iknows(h).
 iknows(regi).
 iknows(idasj).
 iknows(ak).
 iknows(tidi).
 iknows(ei).
 iknows(idrsk).
 iknows(t1f).
 iknows(t2f).
 iknows(qqj).
 iknows(rrj).
 iknows(mmi).
 iknows(nni).
 iknows(ppi).
 iknows(ggi).
 iknows(fgk).
 iknows(dffi).
 iknows(gi).
 iknows(ki).
 iknows(i).
 state_user(asj,ui,rsk,rsf,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_296,set_297,set_298,3).
 state_rserver(ui,asj,rsk,rsf,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_328,set_329,4).
 state_fserver(rsf,ui,asj,rsk,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_337,set_338,5).
 state_aserver(rsk,ui,asj,rsf,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_345,set_346,6).
 state_user(asj,rsk,ui,rsf,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_356,set_357,set_358,8).
 state_rserver(rsk,asj,ui,rsf,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_360,set_361,9).
 state_fserver(rsf,rsk,asj,ui,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_363,set_364,10).
 state_aserver(ui,rsk,asj,rsf,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_366,set_367,11).
 state_user(rsk,asj,ui,rsf,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_369,set_370,set_371,13).
 state_rserver(asj,rsk,ui,rsf,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_373,set_374,14).
 state_fserver(rsf,asj,rsk,ui,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_376,set_377,15).
 state_aserver(ui,asj,rsk,rsf,sk1,sk2,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_379,set_380,16)


section rules:

step step_0 (Ui,ASj,RSk,RSf,SK1,SK2,H,IDi,PWi,Dummy_DIDi,Dummy_PWRi,Dummy_Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Dummy_Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,PPi,GGi,NNi,QQj,RRj,DFFi,FGk,SKij,Inc,Dummy_Set_65,Set_72,Set_73,SID,Ri) :=
 state_user(Ui,ASj,RSk,RSf,SK1,SK2,H,0,IDi,PWi,Dummy_DIDi,Dummy_PWRi,Dummy_Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Dummy_Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,PPi,GGi,NNi,QQj,RRj,DFFi,FGk,SKij,Inc,Dummy_Set_65,Set_72,Set_73,SID).
 iknows(start)
=[exists Ri]=>
 state_user(Ui,ASj,RSk,RSf,SK1,SK2,H,1,IDi,PWi,apply(H,pair(IDi,Ri)),apply(H,pair(PWi,Ri)),apply(H,Bi),Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,PPi,GGi,NNi,QQj,RRj,DFFi,FGk,SKij,Inc,Dummy_Set_65,Set_72,Set_73,SID).
 iknows(scrypt(SK1,pair(apply(H,pair(IDi,Ri)),pair(apply(H,pair(PWi,Ri)),apply(H,Bi))))).
 secret(Dummy_Set_65,subs1,Ui).
 contains(IDi,Dummy_Set_65).
 contains(PWi,Dummy_Set_65)

step step_1 (Ui,ASj,RSk,RSf,SK1,SK2,H,IDi,PWi,DIDi,PWRi,Ei,Bi,Dummy_Ak,Dummy_TIDi,IDrsk,IDasj,Dummy_REGi,Ri,Dummy_Ni,Nj,Nk,Dummy_T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Dummy_Fi,Dummy_Gi,Dummy_Ki,FFk,LLi,MMi,PPi,GGi,NNi,QQj,RRj,DFFi,FGk,SKij,Inc,Set_65,Set_72,Set_73,SID,Ak,TIDi,REGi,Ni,T1) :=
 state_user(Ui,ASj,RSk,RSf,SK1,SK2,H,1,IDi,PWi,DIDi,PWRi,Ei,Bi,Dummy_Ak,Dummy_TIDi,IDrsk,IDasj,Dummy_REGi,Ri,Dummy_Ni,Nj,Nk,Dummy_T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Dummy_Fi,Dummy_Gi,Dummy_Ki,FFk,LLi,MMi,PPi,GGi,NNi,QQj,RRj,DFFi,FGk,SKij,Inc,Set_65,Set_72,Set_73,SID).
 iknows(scrypt(SK1,pair(REGi,pair(Ak,pair(IDrsk,pair(TIDi,Ei))))))
=[exists T1,Ni]=>
 state_user(Ui,ASj,RSk,RSf,SK1,SK2,H,2,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,xor(Dummy_Ak,apply(H,pair(PWRi,Ei))),apply(H,pair(IDrsk,pair(xor(Dummy_Ak,apply(H,pair(PWRi,Ei))),pair(Ni,T1)))),xor(xor(Dummy_Ak,apply(H,pair(PWRi,Ei))),Ni),FFk,LLi,MMi,PPi,GGi,NNi,QQj,RRj,DFFi,FGk,SKij,Inc,Set_65,Set_72,Set_73,SID).
 iknows(pair(IDasj,pair(Dummy_TIDi,pair(apply(H,pair(IDrsk,pair(xor(Dummy_Ak,apply(H,pair(PWRi,Ei))),pair(Ni,T1)))),pair(xor(xor(Dummy_Ak,apply(H,pair(PWRi,Ei))),Ni),Dummy_T1)))))

step step_2 (Ui,ASj,RSk,RSf,SK1,SK2,H,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Dummy_Ni,Nj,Nk,T1,Dummy_T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,Dummy_FFk,Dummy_LLi,Dummy_MMi,Dummy_PPi,GGi,Dummy_NNi,QQj,RRj,DFFi,FGk,SKij,Inc,Set_65,Set_72,Set_73,SID,Ni,T1f) :=
 state_user(Ui,ASj,RSk,RSf,SK1,SK2,H,2,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Dummy_Ni,Nj,Nk,T1,Dummy_T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,Dummy_FFk,Dummy_LLi,Dummy_MMi,Dummy_PPi,GGi,Dummy_NNi,QQj,RRj,DFFi,FGk,SKij,Inc,Set_65,Set_72,Set_73,SID).
 iknows(DFFi)
=[exists T1f,Ni]=>
 state_user(Ui,ASj,RSk,RSf,SK1,SK2,H,3,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,xor(DFFi,DIDi),xor(Dummy_FFk,GGi),xor(DIDi,Dummy_LLi),xor(DIDi,Ni),GGi,apply(H,pair(xor(Dummy_FFk,GGi),pair(DIDi,pair(Dummy_Ni,Dummy_T1f)))),QQj,RRj,DFFi,FGk,SKij,Inc,Set_65,Set_72,Set_73,SID).
 iknows(pair(TIDi,pair(xor(DIDi,Dummy_LLi),pair(apply(H,pair(xor(Dummy_FFk,GGi),pair(DIDi,pair(Dummy_Ni,Dummy_T1f)))),pair(xor(DIDi,Ni),T1f)))))

step step_3 (Ui,ASj,RSk,RSf,SK1,SK2,H,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Dummy_Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,PPi,GGi,NNi,QQj,RRj,DFFi,FGk,Dummy_SKij,Inc,Set_65,Dummy_Set_72,Dummy_Set_73,SID) :=
 state_user(Ui,ASj,RSk,RSf,SK1,SK2,H,3,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Dummy_Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,PPi,GGi,NNi,QQj,RRj,DFFi,FGk,Dummy_SKij,Inc,Set_65,Dummy_Set_72,Dummy_Set_73,SID).
 iknows(QQj)
 =>
 state_user(Ui,ASj,RSk,RSf,SK1,SK2,H,4,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,xor(QQj,Ni),Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,PPi,GGi,NNi,QQj,RRj,DFFi,FGk,apply(H,pair(IDasj,pair(DIDi,pair(Ni,xor(QQj,Ni))))),Inc,Set_65,Dummy_Set_72,Dummy_Set_73,SID).
 secret(Dummy_Set_72,subs2,Dummy_Set_73).
 contains(apply(H,pair(IDasj,pair(DIDi,pair(Ni,xor(QQj,Ni))))),Dummy_Set_72).
 contains(Ni,Dummy_Set_72).
 contains(xor(QQj,Ni),Dummy_Set_72).
 contains(Ui,Dummy_Set_73).
 contains(ASj,Dummy_Set_73)

step step_4 (RSk,Ui,ASj,RSf,SK1,SK2,H,IDi,PWi,DIDi,PWRi,Ei,Bi,Dummy_Ak,Dummy_TIDi,IDrsk,IDasj,Dummy_REGi,Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,PPi,NNi,QQj,GGi,RRj,DFFi,FGk,SKij,Inc,Dummy_Set_123,Dummy_Set_124,SID,TIDi) :=
 state_rserver(RSk,Ui,ASj,RSf,SK1,SK2,H,0,IDi,PWi,DIDi,PWRi,Ei,Bi,Dummy_Ak,Dummy_TIDi,IDrsk,IDasj,Dummy_REGi,Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,PPi,NNi,QQj,GGi,RRj,DFFi,FGk,SKij,Inc,Dummy_Set_123,Dummy_Set_124,SID).
 iknows(scrypt(SK1,pair(DIDi,pair(PWRi,Ei))))
=[exists TIDi]=>
 state_rserver(RSk,Ui,ASj,RSf,SK1,SK2,H,1,IDi,PWi,DIDi,PWRi,Ei,Bi,xor(apply(H,pair(DIDi,Xk)),apply(H,xor(pair(PWRi,Ei)))),TIDi,IDrsk,IDasj,apply(H,pair(DIDi,PWRi)),Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,PPi,NNi,QQj,GGi,RRj,DFFi,FGk,SKij,Inc,Dummy_Set_123,Dummy_Set_124,SID).
 secret(Dummy_Set_123,subs3,Dummy_Set_124).
 iknows(scrypt(SK1,pair(apply(H,pair(DIDi,PWRi)),pair(xor(apply(H,pair(DIDi,Xk)),apply(H,xor(pair(PWRi,Ei)))),pair(IDrsk,pair(TIDi,Ei)))))).
 contains(Xk,Dummy_Set_123).
 contains(RSk,Dummy_Set_124)

step step_5 (RSk,Ui,ASj,RSf,SK1,SK2,H,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Dummy_Pj,Dummy_Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,PPi,NNi,QQj,GGi,RRj,DFFi,FGk,SKij,Inc,Set_123,Set_124,SID,Sj) :=
 state_rserver(RSk,Ui,ASj,RSf,SK1,SK2,H,1,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Dummy_Pj,Dummy_Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,PPi,NNi,QQj,GGi,RRj,DFFi,FGk,SKij,Inc,Set_123,Set_124,SID).
 iknows(IDasj)
=[exists Sj]=>
 state_rserver(RSk,Ui,ASj,RSf,SK1,SK2,H,2,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,apply(H,pair(IDasj,Sj)),Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,PPi,NNi,QQj,GGi,RRj,DFFi,FGk,SKij,Inc,Set_123,Set_124,SID).
 iknows(scrypt(SK2,apply(H,pair(IDasj,Sj))))

step step_6 (RSk,Ui,ASj,RSf,SK1,SK2,H,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Dummy_Gi,Dummy_Ki,FFk,LLi,MMi,PPi,NNi,QQj,GGi,RRj,DFFi,FGk,SKij,Inc,Set_123,Set_124,SID,Gi,Ki) :=
 state_rserver(RSk,Ui,ASj,RSf,SK1,SK2,H,2,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Dummy_Gi,Dummy_Ki,FFk,LLi,MMi,PPi,NNi,QQj,GGi,RRj,DFFi,FGk,SKij,Inc,Set_123,Set_124,SID).
 iknows(pair(IDasj,pair(TIDi,pair(Gi,pair(Ki,T1)))))
 =>
 state_rserver(RSk,Ui,ASj,RSf,SK1,SK2,H,3,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,PPi,NNi,QQj,GGi,RRj,DFFi,FGk,SKij,Inc,Set_123,Set_124,SID).
 iknows(IDrsk)

step step_7 (RSk,Ui,ASj,RSf,SK1,SK2,H,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,Dummy_FFk,LLi,MMi,PPi,NNi,QQj,GGi,RRj,Dummy_DFFi,FGk,SKij,Inc,Set_123,Set_124,SID) :=
 state_rserver(RSk,Ui,ASj,RSf,SK1,SK2,H,3,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,Dummy_FFk,LLi,MMi,PPi,NNi,QQj,GGi,RRj,Dummy_DFFi,FGk,SKij,Inc,Set_123,Set_124,SID).
 iknows(GGi)
 =>
 state_rserver(RSk,Ui,ASj,RSf,SK1,SK2,H,4,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,xor(FGk,Rshrd),LLi,MMi,PPi,NNi,QQj,GGi,RRj,xor(Dummy_FFk,DIDi),FGk,SKij,Inc,Set_123,Set_124,SID).
 iknows(IDrsk).
 iknows(xor(Dummy_FFk,DIDi))

step step_8 (RSf,Ui,ASj,RSk,SK1,SK2,H,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,Dummy_FFk,LLi,MMi,PPi,NNi,QQj,RRj,DFFi,Dummy_FGk,SKij,Dummy_GGi,Inc,Dummy_Set_173,Dummy_Set_174,SID) :=
 state_fserver(RSf,Ui,ASj,RSk,SK1,SK2,H,0,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,Dummy_FFk,LLi,MMi,PPi,NNi,QQj,RRj,DFFi,Dummy_FGk,SKij,Dummy_GGi,Inc,Dummy_Set_173,Dummy_Set_174,SID).
 iknows(IDrsk)
 =>
 state_fserver(RSf,Ui,ASj,RSk,SK1,SK2,H,1,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,apply(H,pair(TIDi,XXk)),LLi,MMi,PPi,NNi,QQj,RRj,DFFi,xor(Dummy_FFk,Rshrd),SKij,xor(Dummy_FFk,apply(H,pair(TIDi,pair(IDasj,Pj)))),Inc,Dummy_Set_173,Dummy_Set_174,SID).
 iknows(xor(Dummy_FFk,apply(H,pair(TIDi,pair(IDasj,Pj))))).
 secret(Dummy_Set_173,subs4,Dummy_Set_174).
 contains(Rshrd,Dummy_Set_173).
 contains(RSk,Dummy_Set_174).
 contains(RSf,Dummy_Set_174)

step step_9 (ASj,Ui,RSk,RSf,SK1,SK2,H,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,Dummy_IDasj,REGi,Ri,Ni,Nj,Nk,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,LLj,PPi,NNi,QQj,RRj,DFFi,FGk,SKij,Inc,Set_223,Set_224,SID,IDasj) :=
 state_aserver(ASj,Ui,RSk,RSf,SK1,SK2,H,0,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,Dummy_IDasj,REGi,Ri,Ni,Nj,Nk,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,LLj,PPi,NNi,QQj,RRj,DFFi,FGk,SKij,Inc,Set_223,Set_224,SID).
 iknows(start)
=[exists IDasj]=>
 state_aserver(ASj,Ui,RSk,RSf,SK1,SK2,H,1,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,LLj,PPi,NNi,QQj,RRj,DFFi,FGk,SKij,Inc,Set_223,Set_224,SID).
 iknows(Dummy_IDasj)

step step_10 (ASj,Ui,RSk,RSf,SK1,SK2,H,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,LLj,PPi,NNi,QQj,RRj,DFFi,FGk,SKij,Inc,Dummy_Set_223,Dummy_Set_224,SID) :=
 state_aserver(ASj,Ui,RSk,RSf,SK1,SK2,H,1,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,LLj,PPi,NNi,QQj,RRj,DFFi,FGk,SKij,Inc,Dummy_Set_223,Dummy_Set_224,SID).
 iknows(scrypt(SK2,Pj))
 =>
 state_aserver(ASj,Ui,RSk,RSf,SK1,SK2,H,2,IDi,PWi,DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Ni,Nj,Nk,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,LLj,PPi,NNi,QQj,RRj,DFFi,FGk,SKij,Inc,Dummy_Set_223,Dummy_Set_224,SID).
 secret(Dummy_Set_223,subs5,Dummy_Set_224).
 contains(Pj,Dummy_Set_223).
 contains(ASj,Dummy_Set_224).
 contains(RSf,Dummy_Set_224)

step step_11 (ASj,Ui,RSk,RSf,SK1,SK2,H,IDi,PWi,Dummy_DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Dummy_Ni,Dummy_Nj,Nk,Dummy_T1f,Dummy_T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,Dummy_MMi,Dummy_LLj,Dummy_PPi,Dummy_NNi,Dummy_QQj,Dummy_RRj,DFFi,FGk,SKij,Inc,Set_223,Set_224,SID,Nj,T1f,T2f,MMi,PPi,NNi) :=
 state_aserver(ASj,Ui,RSk,RSf,SK1,SK2,H,2,IDi,PWi,Dummy_DIDi,PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,Dummy_Ni,Dummy_Nj,Nk,Dummy_T1f,Dummy_T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,Dummy_MMi,Dummy_LLj,Dummy_PPi,Dummy_NNi,Dummy_QQj,Dummy_RRj,DFFi,FGk,SKij,Inc,Set_223,Set_224,SID).
 iknows(pair(TIDi,pair(MMi,pair(NNi,pair(PPi,T1f)))))
=[exists T2f,Nj]=>
 state_aserver(ASj,Ui,RSk,RSf,SK1,SK2,H,3,IDi,PWi,xor(Dummy_MMi,apply(H,pair(TIDi,pair(IDasj,Pj)))),PWRi,Ei,Bi,Ak,TIDi,IDrsk,IDasj,REGi,Ri,xor(xor(Dummy_MMi,apply(H,pair(TIDi,pair(IDasj,Pj)))),Dummy_PPi),Nj,Nk,T1f,T2f,Xk,XXk,Pj,Sj,Rshrd,Fi,Gi,Ki,FFk,LLi,MMi,apply(H,pair(TIDi,pair(IDasj,Pj))),PPi,NNi,xor(xor(xor(Dummy_MMi,apply(H,pair(TIDi,pair(IDasj,Pj)))),Dummy_PPi),Nj),apply(H,pair(TIDi,pair(IDasj,pair(Dummy_DIDi,pair(apply(H,pair(TIDi,pair(IDasj,Pj))),pair(Nj,Dummy_T2f)))))),DFFi,FGk,SKij,Inc,Set_223,Set_224,SID).
 iknows(xor(xor(xor(Dummy_MMi,apply(H,pair(TIDi,pair(IDasj,Pj)))),Dummy_PPi),Nj))


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_rserver_ni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_rserver_ni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_rserver_ni,MGoal))
     /\ ((request(A1Goal,A2Goal,user_rserver_ni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_rserver_ni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_aserver_user_nj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,aserver_user_nj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,aserver_user_nj,MGoal))
     /\ ((request(A1Goal,A2Goal,aserver_user_nj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,aserver_user_nj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_rserver_ni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_rserver_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_rserver_ni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_rserver_ni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_rserver_ni,MGoal,SID1).
 request(A1Goal,A2Goal,user_rserver_ni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_aserver_user_nj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,aserver_user_nj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,aserver_user_nj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_aserver_user_nj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,aserver_user_nj,MGoal,SID1).
 request(A1Goal,A2Goal,aserver_user_nj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

