%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfiletFNWqE

section signature:

state_bob: agent * agent * symmetric_key * nat * text * nat -> fact
state_alice: agent * agent * symmetric_key * nat * text * nat -> fact


section types:

Dummy_Na, dummy_nonce, Na: text
7, 6, 4, SID, Dummy_State, 3, 1, State, 2, 0: nat
kab, Kab: symmetric_key
a, b, A, B, i: agent


section inits:

initial_state init1 := 
 iknows(i).
 state_alice(a,b,kab,0,dummy_nonce,3).
 state_bob(a,b,kab,1,dummy_nonce,4).
 state_alice(b,a,kab,0,dummy_nonce,6).
 state_bob(b,a,kab,1,dummy_nonce,7)


section rules:

step step_0 (A,B,Kab,Dummy_Na,SID,Na) :=
 state_alice(A,B,Kab,0,Dummy_Na,SID).
 iknows(Na)
 =>
 state_alice(A,B,Kab,2,Na,SID).
 iknows(scrypt(Kab,Na))

step step_1 (B,A,Kab,Dummy_Na,SID,Na) :=
 state_bob(B,A,Kab,1,Dummy_Na,SID).
 iknows(Na)
 =>
 state_bob(B,A,Kab,3,Na,SID).
 iknows(scrypt(Kab,Na))


