%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilepBn9FJpraR

section signature:

state_authser: agent * agent * agent * agent * public_key * public_key * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * nat * text * text * text * text * text * set(text) * set(text) * set(text) * set(text) * set(pair(text,text)) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(agent) * set(agent) * nat -> fact
state_bank: agent * agent * agent * agent * public_key * public_key * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * nat * text * text * text * text * text * set(text) * set(text) * set(text) * set(pair(text,text)) * set(agent) * set(text) * set(agent) * set(agent) * nat -> fact
state_dns: agent * agent * agent * agent * public_key * public_key * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * nat * text * text * text * text * text * set(text) * set(text) * set(text) * set(text) * set(text) * set(text) * set(pair(text,text)) * set(agent) * set(agent) * nat -> fact
state_mobuser: agent * agent * agent * agent * public_key * public_key * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * nat * text * text * text * text * set(text) * set(text) * set(text) * set(pair(text,text)) * set(agent) * set(text) * set(pair(text,text)) * set(text) * set(pair(text,text)) * set(text) * set(agent) * set(agent) * set(text) * set(agent) * nat -> fact


section types:

Dummy_Set_217, Dummy_Set_216, Dummy_Set_214, Dummy_Set_211, Dummy_Set_208, Dummy_Set_205, Dummy_Set_166, Dummy_Set_165, Dummy_Set_160, Dummy_Set_124, Dummy_Set_122, Dummy_Set_75, Dummy_Set_71, Dummy_Set_70, Dummy_Set_60, ASGoal, Set_217, Set_216, Set_214, Set_211, Set_208, Set_205, Set_166, Set_165, Set_160, Set_124, Set_122, Set_75, Set_71, Set_70, Set_60: set(agent)
Dummy_Set_204, Dummy_Set_159, Dummy_Set_121, Dummy_Set_67, Dummy_Set_65, Dummy_Set_59, Set_204, Set_159, Set_121, Set_67, Set_65, Set_59: set(pair(text,text))
Dummy_Set_213, Dummy_Set_210, Dummy_Set_207, Dummy_Set_203, Dummy_Set_202, Dummy_Set_201, Dummy_Set_200, Dummy_Set_162, Dummy_Set_158, Dummy_Set_157, Dummy_Set_156, Dummy_Set_120, Dummy_Set_119, Dummy_Set_118, Dummy_Set_117, Dummy_Set_116, Dummy_Set_115, Dummy_Set_74, Dummy_Set_68, Dummy_Set_66, Dummy_Set_64, Dummy_Set_58, Dummy_Set_57, Dummy_Set_56, Set_213, Set_210, Set_207, Set_203, Set_202, Set_201, Set_200, Set_162, Set_158, Set_157, Set_156, Set_120, Set_119, Set_118, Set_117, Set_116, Set_115, Set_74, Set_68, Set_66, Set_64, Set_58, Set_57, Set_56: set(text)
MGoal, start: message
h1, Hash: hash_func
Dummy_Ts, Dummy_Beta, Dummy_Alpha, Dummy_NAs1, Dummy_Ip, Dummy_D_res, Dummy_As_info, Dummy_Rc_mobuser, Dummy_Mu_id, Dummy_NMu1, Dummy_D_req, Dummy_Auth_info, Dummy_Bank_webinfo, dummy_nonce, mu_id, mu_ph, mu_usr, mum_pwd, link, rc_mobuser1, b_name, place_branch, b_code, bank_webinfo1, auth_info1, as_info, as_name, as_id, d_req, d_res, dns_ser, dns_serres, ip, ipfake, NMu1, Alpha, Beta, NAs1, Ts, Auth_info, As_info, As_name, As_id, Mu_id, Mu_ph, Mu_usr, Mu_pwd, Url, Link, Rc_mobuser, B_name, Place_branch, B_code, Bank_webinfo, url, D_req, D_res, Dns_ser, Dns_serres, Ip, Ipfake: text
6, SID, 5, 4, Dummy_State, 3, SID2, SID1, 9, State, 7, 2, 1, 0, 11, 10, 8: nat
ku, kas, Ku, Kas: public_key
ts1, authser_bank_ts1, bank_authser_ts, bank_authser_auth_info, dns_res, bank, authser, nas1, mobuser_authser_nas1, bank_webinfo, auth_info, ts, rc_mobuser, mobuser: protocol_id
A2Goal, A1Goal, mu, ddns, ubank, authserver, Mu, Dns, B, As, i: agent
set_406, set_405, set_404, set_403, set_386, set_385, set_384, set_383, set_382, set_381, set_380, set_379, set_378, set_377, set_376, set_375, set_374, set_373, set_360, set_359, set_358, set_357, set_356, set_355, set_354, set_353, set_341, set_340, set_339, set_338, set_337, set_336, set_335, set_334, set_333, set_303, set_302, set_301, set_300, set_299, set_298, set_297, set_296, set_295, set_294, set_293, set_292, set_291, set_290, set_450, set_449, set_448, set_447, set_446, set_445, set_444, set_443, set_442, set_441, set_440, set_439, set_438, set_437, set_435, set_434, set_433, set_432, set_431, set_430, set_429, set_428, set_426, set_425, set_424, set_423, set_422, set_421, set_420, set_419, set_418, set_416, set_415, set_414, set_413, set_412, set_411, set_410, set_409, set_408, set_407: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(mu).
 iknows(ddns).
 iknows(ubank).
 iknows(authserver).
 iknows(i).
 state_mobuser(mu,ddns,ubank,authserver,ku,kas,mu_id,mu_ph,mu_usr,mum_pwd,url,link,rc_mobuser1,b_name,place_branch,b_code,bank_webinfo1,auth_info1,as_info,as_name,as_id,d_req,d_res,ip,dns_ser,dns_serres,ipfake,h1,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_290,set_291,set_292,set_293,set_294,set_295,set_296,set_297,set_298,set_299,set_300,set_301,set_302,set_303,3).
 state_dns(mu,ddns,ubank,authserver,ku,kas,mu_id,mu_ph,mu_usr,mum_pwd,url,link,rc_mobuser1,b_name,place_branch,b_code,bank_webinfo1,auth_info1,as_info,as_name,as_id,d_req,d_res,ip,dns_ser,dns_serres,ipfake,h1,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_333,set_334,set_335,set_336,set_337,set_338,set_339,set_340,set_341,4).
 state_bank(mu,ddns,ubank,authserver,ku,kas,mu_id,mu_ph,mu_usr,mum_pwd,url,link,rc_mobuser1,b_name,place_branch,b_code,bank_webinfo1,auth_info1,as_info,as_name,as_id,h1,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_353,set_354,set_355,set_356,set_357,set_358,set_359,set_360,5).
 state_authser(authserver,mu,ddns,ubank,ku,kas,mu_id,mu_ph,mu_usr,mum_pwd,url,link,rc_mobuser1,b_name,place_branch,b_code,bank_webinfo1,auth_info1,as_info,as_name,as_id,h1,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_373,set_374,set_375,set_376,set_377,set_378,set_379,set_380,set_381,set_382,set_383,set_384,set_385,set_386,6).
 state_mobuser(mu,ddns,ubank,authserver,ku,kas,mu_id,mu_ph,mu_usr,mum_pwd,url,link,rc_mobuser1,b_name,place_branch,b_code,bank_webinfo1,auth_info1,as_info,as_name,as_id,d_req,d_res,ip,dns_ser,dns_serres,ipfake,h1,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_403,set_404,set_405,set_406,set_407,set_408,set_409,set_410,set_411,set_412,set_413,set_414,set_415,set_416,8).
 state_dns(mu,ddns,ubank,authserver,ku,kas,mu_id,mu_ph,mu_usr,mum_pwd,url,link,rc_mobuser1,b_name,place_branch,b_code,bank_webinfo1,auth_info1,as_info,as_name,as_id,d_req,d_res,ip,dns_ser,dns_serres,ipfake,h1,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_418,set_419,set_420,set_421,set_422,set_423,set_424,set_425,set_426,9).
 state_bank(mu,ddns,ubank,authserver,ku,kas,mu_id,mu_ph,mu_usr,mum_pwd,url,link,rc_mobuser1,b_name,place_branch,b_code,bank_webinfo1,auth_info1,as_info,as_name,as_id,h1,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_428,set_429,set_430,set_431,set_432,set_433,set_434,set_435,10).
 state_authser(authserver,mu,ddns,ubank,ku,kas,mu_id,mu_ph,mu_usr,mum_pwd,url,link,rc_mobuser1,b_name,place_branch,b_code,bank_webinfo1,auth_info1,as_info,as_name,as_id,h1,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_437,set_438,set_439,set_440,set_441,set_442,set_443,set_444,set_445,set_446,set_447,set_448,set_449,set_450,11)


section rules:

step step_0 (Mu,Dns,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Dummy_D_req,D_res,Dns_ser,Dns_serres,Ip,Ipfake,Hash,Dummy_NMu1,Alpha,Beta,NAs1,Dummy_Set_56,Dummy_Set_57,Dummy_Set_58,Dummy_Set_59,Dummy_Set_60,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Set_74,Set_75,SID,NMu1) :=
 state_mobuser(Mu,Dns,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Dummy_D_req,D_res,Dns_ser,Dns_serres,Ip,Ipfake,Hash,0,Dummy_NMu1,Alpha,Beta,NAs1,Dummy_Set_56,Dummy_Set_57,Dummy_Set_58,Dummy_Set_59,Dummy_Set_60,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Set_74,Set_75,SID).
 iknows(start)
=[exists NMu1]=>
 state_mobuser(Mu,Dns,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Dummy_Set_57,Dummy_Set_58,As_info,As_name,As_id,Dummy_Set_56,D_res,Dns_ser,Dns_serres,Ip,Ipfake,Hash,2,NMu1,Alpha,Beta,NAs1,Dummy_Set_56,Dummy_Set_57,Dummy_Set_58,Dummy_Set_59,Dummy_Set_60,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Set_74,Set_75,SID).
 iknows(Dummy_Set_59).
 contains(Dns_ser,Dummy_Set_56).
 contains(Link,Dummy_Set_57).
 contains(B_name,Dummy_Set_58).
 contains(Place_branch,Dummy_Set_58).
 contains(B_code,Dummy_Set_58).
 contains(pair(Url,Dummy_Set_56),Dummy_Set_59).
 contains(Mu,Dummy_Set_60).
 contains(Dns,Dummy_Set_60)

step step_1 (Mu,Dns,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Dummy_Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,Dummy_As_info,As_name,As_id,D_req,Dummy_D_res,Dns_ser,Dns_serres,Dummy_Ip,Ipfake,Hash,NMu1,Alpha,Beta,Dummy_NAs1,Set_56,Set_57,Set_58,Set_59,Set_60,Dummy_Set_64,Dummy_Set_65,Dummy_Set_66,Dummy_Set_67,Dummy_Set_68,Dummy_Set_70,Dummy_Set_71,Set_74,Set_75,SID,D_res,Ip,NAs1) :=
 state_mobuser(Mu,Dns,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Dummy_Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,Dummy_As_info,As_name,As_id,D_req,Dummy_D_res,Dns_ser,Dns_serres,Dummy_Ip,Ipfake,Hash,2,NMu1,Alpha,Beta,Dummy_NAs1,Set_56,Set_57,Set_58,Set_59,Set_60,Dummy_Set_64,Dummy_Set_65,Dummy_Set_66,Dummy_Set_67,Dummy_Set_68,Dummy_Set_70,Dummy_Set_71,Set_74,Set_75,SID).
 iknows(pair(D_res,Ip))
=[exists NAs1]=>
 state_mobuser(Mu,Dns,B,As,Ku,Kas,Dummy_Set_64,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Dummy_Set_66,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,Dummy_Set_68,As_name,As_id,D_req,D_res,Dns_ser,Dns_serres,Ip,Ipfake,Hash,3,NMu1,Alpha,Beta,NAs1,Set_56,Set_57,Set_58,Set_59,Set_60,Dummy_Set_64,Dummy_Set_65,Dummy_Set_66,Dummy_Set_67,Dummy_Set_68,Dummy_Set_70,Dummy_Set_71,Set_74,Set_75,SID).
 iknows(Dummy_Set_65).
 iknows(Dummy_Set_67).
 contains(Mu_ph,Dummy_Set_64).
 contains(pair(Link,Dummy_Set_64),Dummy_Set_65).
 contains(Mu_usr,Dummy_Set_66).
 contains(Mu_pwd,Dummy_Set_66).
 contains(pair(Dummy_Set_64,Dummy_Set_66),Dummy_Set_67).
 contains(As_name,Dummy_Set_68).
 contains(As_id,Dummy_Set_68).
 contains(Dns,Dummy_Set_70).
 contains(Mu,Dummy_Set_70).
 contains(Mu,Dummy_Set_71).
 contains(As,Dummy_Set_71)

step step_2 (Mu,Dns,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,Dummy_As_info,As_name,As_id,D_req,D_res,Dns_ser,Dns_serres,Ip,Ipfake,Hash,NMu1,Dummy_Alpha,Beta,Dummy_NAs1,Set_56,Set_57,Set_58,Set_59,Set_60,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Dummy_Set_74,Dummy_Set_75,SID,As_info,NAs1) :=
 state_mobuser(Mu,Dns,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,Dummy_As_info,As_name,As_id,D_req,D_res,Dns_ser,Dns_serres,Ip,Ipfake,Hash,3,NMu1,Dummy_Alpha,Beta,Dummy_NAs1,Set_56,Set_57,Set_58,Set_59,Set_60,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Dummy_Set_74,Dummy_Set_75,SID).
 iknows(pair(NAs1,As_info))
 =>
 state_mobuser(Mu,Dns,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Set_74,As_info,As_name,As_id,D_req,D_res,Dns_ser,Dns_serres,Ip,Ipfake,Hash,5,NMu1,apply(Hash,pair(NAs1,Dummy_Set_74)),Beta,NAs1,Set_56,Set_57,Set_58,Set_59,Set_60,Set_64,Set_65,Set_66,Set_67,Set_68,Set_70,Set_71,Dummy_Set_74,Dummy_Set_75,SID).
 iknows(crypt(inv(Ku),pair(apply(Hash,pair(NAs1,Dummy_Set_74)),Dummy_Set_74))).
 secret(Dummy_NAs1,nas1,Dummy_Set_75).
 contains(B_name,Dummy_Set_74).
 contains(Place_branch,Dummy_Set_74).
 contains(B_code,Dummy_Set_74).
 contains(Mu,Dummy_Set_75).
 contains(As,Dummy_Set_75)

step step_3 (Mu,Dns,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Dummy_D_req,Dummy_D_res,Dns_ser,Dns_serres,Dummy_Ip,Ipfake,Hash,NMu1,Alpha,Beta,NAs1,Ts,Dummy_Set_115,Dummy_Set_116,Dummy_Set_117,Dummy_Set_118,Dummy_Set_119,Dummy_Set_120,Dummy_Set_121,Dummy_Set_122,Set_124,SID) :=
 state_dns(Mu,Dns,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Dummy_D_req,Dummy_D_res,Dns_ser,Dns_serres,Dummy_Ip,Ipfake,Hash,0,NMu1,Alpha,Beta,NAs1,Ts,Dummy_Set_115,Dummy_Set_116,Dummy_Set_117,Dummy_Set_118,Dummy_Set_119,Dummy_Set_120,Dummy_Set_121,Dummy_Set_122,Set_124,SID).
 iknows(start)
 =>
 state_dns(Mu,Dns,B,As,Ku,Kas,Dummy_Set_115,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Dummy_Set_116,Dummy_Set_120,As_info,As_name,As_id,Dummy_Set_117,Dummy_Set_118,Dns_ser,Dns_serres,Dummy_Set_119,Ipfake,Hash,1,NMu1,Alpha,Beta,NAs1,Ts,Dummy_Set_115,Dummy_Set_116,Dummy_Set_117,Dummy_Set_118,Dummy_Set_119,Dummy_Set_120,Dummy_Set_121,Dummy_Set_122,Set_124,SID).
 iknows(Dummy_Set_121).
 contains(Mu_ph,Dummy_Set_115).
 contains(Link,Dummy_Set_116).
 contains(Dns_ser,Dummy_Set_117).
 contains(Dns_serres,Dummy_Set_118).
 contains(Ipfake,Dummy_Set_119).
 contains(B_name,Dummy_Set_120).
 contains(Place_branch,Dummy_Set_120).
 contains(B_code,Dummy_Set_120).
 contains(pair(Dummy_Set_118,Dummy_Set_119),Dummy_Set_121).
 contains(Dns,Dummy_Set_122).
 contains(Mu,Dummy_Set_122)

step step_4 (Mu,Dns,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,As_info,As_name,As_id,Dummy_D_req,D_res,Dns_ser,Dns_serres,Ip,Ipfake,Hash,NMu1,Alpha,Beta,NAs1,Ts,Set_115,Set_116,Set_117,Set_118,Set_119,Set_120,Set_121,Set_122,Dummy_Set_124,SID,D_req) :=
 state_dns(Mu,Dns,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,As_info,As_name,As_id,Dummy_D_req,D_res,Dns_ser,Dns_serres,Ip,Ipfake,Hash,1,NMu1,Alpha,Beta,NAs1,Ts,Set_115,Set_116,Set_117,Set_118,Set_119,Set_120,Set_121,Set_122,Dummy_Set_124,SID).
 iknows(pair(Url,D_req))
 =>
 state_dns(Mu,Dns,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,As_info,As_name,As_id,D_req,D_res,Dns_ser,Dns_serres,Ip,Ipfake,Hash,5,NMu1,Alpha,Beta,NAs1,Ts,Set_115,Set_116,Set_117,Set_118,Set_119,Set_120,Set_121,Set_122,Dummy_Set_124,SID).
 contains(Mu,Dummy_Set_124).
 contains(Dns,Dummy_Set_124)

step step_5 (Mu,Dns,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,NMu1,Alpha,Beta,NAs1,Ts,Dummy_Set_156,Dummy_Set_157,Dummy_Set_158,Dummy_Set_159,Dummy_Set_160,Set_162,Set_165,Set_166,SID) :=
 state_bank(Mu,Dns,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,0,NMu1,Alpha,Beta,NAs1,Ts,Dummy_Set_156,Dummy_Set_157,Dummy_Set_158,Dummy_Set_159,Dummy_Set_160,Set_162,Set_165,Set_166,SID).
 iknows(start)
 =>
 state_bank(Mu,Dns,B,As,Ku,Kas,Dummy_Set_156,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Dummy_Set_157,Dummy_Set_158,As_info,As_name,As_id,Hash,2,NMu1,Alpha,Beta,NAs1,Ts,Dummy_Set_156,Dummy_Set_157,Dummy_Set_158,Dummy_Set_159,Dummy_Set_160,Set_162,Set_165,Set_166,SID).
 iknows(Dummy_Set_159).
 contains(Mu_ph,Dummy_Set_156).
 contains(Link,Dummy_Set_157).
 contains(B_name,Dummy_Set_158).
 contains(Place_branch,Dummy_Set_158).
 contains(B_code,Dummy_Set_158).
 contains(pair(Dummy_Set_157,Dummy_Set_158),Dummy_Set_159).
 contains(B,Dummy_Set_160).
 contains(As,Dummy_Set_160)

step step_6 (Mu,Dns,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,NMu1,Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_156,Set_157,Set_158,Set_159,Set_160,Dummy_Set_162,Set_165,Set_166,SID,Mu_id,Bank_webinfo,Ts) :=
 state_bank(Mu,Dns,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,2,NMu1,Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_156,Set_157,Set_158,Set_159,Set_160,Dummy_Set_162,Set_165,Set_166,SID).
 iknows(pair(Bank_webinfo,Mu_id))
=[exists Ts]=>
 state_bank(Mu,Dns,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Set_162,As_info,As_name,As_id,Hash,5,NMu1,Alpha,apply(Hash,pair(Mu_id,pair(Dummy_Set_162,Ts))),NAs1,Ts,Set_156,Set_157,Set_158,Set_159,Set_160,Dummy_Set_162,Set_165,Set_166,SID).
 contains(B_name,Dummy_Set_162).
 contains(Place_branch,Dummy_Set_162).
 contains(B_code,Dummy_Set_162)

step step_7 (Mu,Dns,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,NMu1,Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_156,Set_157,Set_158,Set_159,Set_160,Set_162,Dummy_Set_165,Dummy_Set_166,SID,Auth_info,Beta,Ts) :=
 state_bank(Mu,Dns,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,5,NMu1,Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_156,Set_157,Set_158,Set_159,Set_160,Set_162,Dummy_Set_165,Dummy_Set_166,SID).
 iknows(crypt(inv(Kas),pair(Beta,pair(Auth_info,Ts))))
 =>
 state_bank(Mu,Dns,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,As_info,As_name,As_id,Hash,7,NMu1,Alpha,Beta,NAs1,Ts,Set_156,Set_157,Set_158,Set_159,Set_160,Set_162,Dummy_Set_165,Dummy_Set_166,SID).
 contains(B,Dummy_Set_165).
 contains(As,Dummy_Set_165).
 contains(B,Dummy_Set_166).
 contains(As,Dummy_Set_166)

step step_8 (As,Mu,Dns,B,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Dummy_Rc_mobuser,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,NMu1,Alpha,Beta,NAs1,Ts,Dummy_Set_200,Dummy_Set_201,Dummy_Set_202,Dummy_Set_203,Dummy_Set_204,Dummy_Set_205,Set_207,Set_208,Set_210,Set_211,Set_213,Set_214,Set_216,Set_217,SID) :=
 state_authser(As,Mu,Dns,B,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Dummy_Rc_mobuser,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,0,NMu1,Alpha,Beta,NAs1,Ts,Dummy_Set_200,Dummy_Set_201,Dummy_Set_202,Dummy_Set_203,Dummy_Set_204,Dummy_Set_205,Set_207,Set_208,Set_210,Set_211,Set_213,Set_214,Set_216,Set_217,SID).
 iknows(start)
 =>
 state_authser(As,Mu,Dns,B,Ku,Kas,Dummy_Set_202,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Dummy_Set_203,B_name,Place_branch,B_code,Dummy_Set_200,Dummy_Set_201,As_info,As_name,As_id,Hash,2,NMu1,Alpha,Beta,NAs1,Ts,Dummy_Set_200,Dummy_Set_201,Dummy_Set_202,Dummy_Set_203,Dummy_Set_204,Dummy_Set_205,Set_207,Set_208,Set_210,Set_211,Set_213,Set_214,Set_216,Set_217,SID).
 iknows(Dummy_Set_204).
 contains(Link,Dummy_Set_200).
 contains(B_name,Dummy_Set_201).
 contains(Place_branch,Dummy_Set_201).
 contains(B_code,Dummy_Set_201).
 contains(Mu_ph,Dummy_Set_202).
 contains(Mu_usr,Dummy_Set_203).
 contains(Mu_pwd,Dummy_Set_203).
 contains(pair(Dummy_Set_200,Dummy_Set_201),Dummy_Set_204).
 contains(B,Dummy_Set_205).
 contains(As,Dummy_Set_205)

step step_9 (As,Mu,Dns,B,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Dummy_Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,Dummy_As_info,As_name,As_id,Hash,NMu1,Alpha,Beta,Dummy_NAs1,Ts,Set_200,Set_201,Set_202,Set_203,Set_204,Set_205,Dummy_Set_207,Dummy_Set_208,Set_210,Set_211,Set_213,Set_214,Set_216,Set_217,SID,Mu_id,Rc_mobuser,NAs1) :=
 state_authser(As,Mu,Dns,B,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Dummy_Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,Dummy_As_info,As_name,As_id,Hash,2,NMu1,Alpha,Beta,Dummy_NAs1,Ts,Set_200,Set_201,Set_202,Set_203,Set_204,Set_205,Dummy_Set_207,Dummy_Set_208,Set_210,Set_211,Set_213,Set_214,Set_216,Set_217,SID).
 iknows(pair(Mu_id,Rc_mobuser))
=[exists NAs1]=>
 state_authser(As,Mu,Dns,B,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,Dummy_Set_207,As_name,As_id,Hash,3,NMu1,Alpha,Beta,NAs1,Ts,Set_200,Set_201,Set_202,Set_203,Set_204,Set_205,Dummy_Set_207,Dummy_Set_208,Set_210,Set_211,Set_213,Set_214,Set_216,Set_217,SID).
 contains(As_name,Dummy_Set_207).
 contains(As_id,Dummy_Set_207).
 contains(Mu,Dummy_Set_208).
 contains(As,Dummy_Set_208)

step step_10 (As,Mu,Dns,B,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,Dummy_As_info,As_name,As_id,Hash,NMu1,Dummy_Alpha,Beta,Dummy_NAs1,Ts,Set_200,Set_201,Set_202,Set_203,Set_204,Set_205,Set_207,Set_208,Dummy_Set_210,Dummy_Set_211,Set_213,Set_214,Set_216,Set_217,SID,As_info,NAs1) :=
 state_authser(As,Mu,Dns,B,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,Dummy_As_info,As_name,As_id,Hash,3,NMu1,Dummy_Alpha,Beta,Dummy_NAs1,Ts,Set_200,Set_201,Set_202,Set_203,Set_204,Set_205,Set_207,Set_208,Dummy_Set_210,Dummy_Set_211,Set_213,Set_214,Set_216,Set_217,SID).
 iknows(pair(NAs1,As_info))
 =>
 state_authser(As,Mu,Dns,B,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Set_210,As_info,As_name,As_id,Hash,5,NMu1,apply(Hash,pair(NAs1,Dummy_Set_210)),Beta,NAs1,Ts,Set_200,Set_201,Set_202,Set_203,Set_204,Set_205,Set_207,Set_208,Dummy_Set_210,Dummy_Set_211,Set_213,Set_214,Set_216,Set_217,SID).
 secret(NAs1,nas1,Dummy_Set_211).
 contains(B_name,Dummy_Set_210).
 contains(Place_branch,Dummy_Set_210).
 contains(B_code,Dummy_Set_210).
 contains(Mu,Dummy_Set_211).
 contains(As,Dummy_Set_211)

step step_11 (As,Mu,Dns,B,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,NMu1,Dummy_Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_200,Set_201,Set_202,Set_203,Set_204,Set_205,Set_207,Set_208,Set_210,Set_211,Dummy_Set_213,Dummy_Set_214,Set_216,Set_217,SID,Auth_info,Alpha,Ts) :=
 state_authser(As,Mu,Dns,B,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,5,NMu1,Dummy_Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_200,Set_201,Set_202,Set_203,Set_204,Set_205,Set_207,Set_208,Set_210,Set_211,Dummy_Set_213,Dummy_Set_214,Set_216,Set_217,SID).
 iknows(crypt(inv(Ku),pair(Alpha,Auth_info)))
=[exists Ts]=>
 state_authser(As,Mu,Dns,B,Ku,Kas,Dummy_Set_213,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,As_info,As_name,As_id,Hash,7,NMu1,Alpha,apply(Hash,pair(Dummy_Set_213,pair(Auth_info,Ts))),NAs1,Ts,Set_200,Set_201,Set_202,Set_203,Set_204,Set_205,Set_207,Set_208,Set_210,Set_211,Dummy_Set_213,Dummy_Set_214,Set_216,Set_217,SID).
 contains(Mu_ph,Dummy_Set_213).
 contains(Mu,Dummy_Set_214).
 contains(As,Dummy_Set_214)

step step_12 (As,Mu,Dns,B,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,NMu1,Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_200,Set_201,Set_202,Set_203,Set_204,Set_205,Set_207,Set_208,Set_210,Set_211,Set_213,Set_214,Dummy_Set_216,Dummy_Set_217,SID,Auth_info,Beta,Ts) :=
 state_authser(As,Mu,Dns,B,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,7,NMu1,Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_200,Set_201,Set_202,Set_203,Set_204,Set_205,Set_207,Set_208,Set_210,Set_211,Set_213,Set_214,Dummy_Set_216,Dummy_Set_217,SID).
 iknows(crypt(inv(Kas),pair(Beta,pair(Auth_info,Ts))))
 =>
 state_authser(As,Mu,Dns,B,Ku,Kas,Mu_id,Mu_ph,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,As_info,As_name,As_id,Hash,9,NMu1,Alpha,Beta,NAs1,Ts,Set_200,Set_201,Set_202,Set_203,Set_204,Set_205,Set_207,Set_208,Set_210,Set_211,Set_213,Set_214,Dummy_Set_216,Dummy_Set_217,SID).
 contains(B,Dummy_Set_216).
 contains(As,Dummy_Set_216).
 contains(B,Dummy_Set_217).
 contains(As,Dummy_Set_217)


section properties:

property secrecy_of_nas1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,nas1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_bank_authser_ts (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bank_authser_ts,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bank_authser_ts,MGoal))
     /\ ((request(A1Goal,A2Goal,bank_authser_ts,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bank_authser_ts,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bank_authser_auth_info (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bank_authser_auth_info,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bank_authser_auth_info,MGoal))
     /\ ((request(A1Goal,A2Goal,bank_authser_auth_info,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bank_authser_auth_info,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property weak_authentication_on_auth_info (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,auth_info,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,auth_info,MGoal))


section attack_states:

attack_state secrecy_of_nas1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,nas1,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_bank_authser_ts (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bank_authser_ts,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bank_authser_ts,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bank_authser_ts (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bank_authser_ts,MGoal,SID1).
 request(A1Goal,A2Goal,bank_authser_ts,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bank_authser_auth_info (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bank_authser_auth_info,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bank_authser_auth_info,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bank_authser_auth_info (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bank_authser_auth_info,MGoal,SID1).
 request(A1Goal,A2Goal,bank_authser_auth_info,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_auth_info (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,auth_info,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_info,MGoal)) &
 not(equal(A2Goal,i))

