%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilecZT9rS

section signature:

state_r: agent * agent * agent * agent * agent * symmetric_key * nat * text * symmetric_key * symmetric_key * nat -> fact
state_p2: agent * agent * agent * agent * agent * symmetric_key * nat * text * text * text * symmetric_key * symmetric_key * nat -> fact
state_p1: agent * agent * agent * agent * agent * symmetric_key * nat * text * text * text * symmetric_key * symmetric_key * nat -> fact
state_s: agent * agent * agent * agent * agent * symmetric_key * nat * text * text * symmetric_key * symmetric_key * nat -> fact
state_ca: agent * agent * agent * agent * agent * symmetric_key * symmetric_key * symmetric_key * symmetric_key * nat * text * text * text * text * text * text * text * symmetric_key * symmetric_key * symmetric_key * symmetric_key * set(symmetric_key) * set(agent) * set(symmetric_key) * set(agent) * set(symmetric_key) * set(agent) * set(symmetric_key) * set(agent) * nat -> fact


section types:

Dummy_Set_44, Dummy_Set_42, Dummy_Set_40, Dummy_Set_37, ASGoal, Set_44, Set_42, Set_40, Set_37: set(agent)
Dummy_Set_43, Dummy_Set_41, Dummy_Set_39, Dummy_Set_36, Set_43, Set_41, Set_39, Set_36: set(symmetric_key)
MGoal, start: message
protocol4, protocol3, protocol2, protcocol2, sub1, sub2, sub3, sub4, protocol1: protocol_id
Dummy_M3, Dummy_M2, Dummy_M1, dummy_nonce, IDr, IDp2, M2, M3, IDp1, M1, IDs: text
dummy_sk, K34, K, K4, K23, K3, K12, K2, K1: symmetric_key
set_201, set_200, set_199, set_198, set_197, set_196, set_195, set_194, set_188, set_187, set_186, set_185, set_184, set_183, set_182, set_181, set_175, set_174, set_173, set_172, set_171, set_170, set_169, set_168, set_144, set_143, set_142, set_141, set_140, set_139, set_138, set_137, set_214, set_213, set_212, set_211, set_210, set_209, set_208, set_207: set
A2Goal, A1Goal, CA, S, R, P1, P2, r, p2, p1, s, ca, i: agent
21, 19, 18, 17, 16, 15, 13, 12, 11, 10, 9, 7, SID, 6, 5, 4, Dummy_State, 3, SID2, SID1, 8, State, 2, 1, 0, 31, 30, 29, 28, 27, 25, 24, 23, 22: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ca).
 iknows(s).
 iknows(r).
 iknows(p1).
 iknows(p2).
 iknows(i).
 state_ca(ca,s,r,p1,p2,dummy_sk,dummy_sk,dummy_sk,dummy_sk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_sk,dummy_sk,set_137,set_138,set_139,set_140,set_141,set_142,set_143,set_144,3).
 state_s(s,ca,r,p1,p2,dummy_sk,2,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,4).
 state_p1(p1,ca,s,r,p2,dummy_sk,4,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,5).
 state_p2(p2,ca,s,r,p1,dummy_sk,6,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,6).
 state_r(r,ca,s,p1,p2,dummy_sk,8,dummy_nonce,dummy_sk,dummy_sk,7).
 state_ca(ca,s,r,p1,p2,dummy_sk,dummy_sk,dummy_sk,dummy_sk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_sk,dummy_sk,set_168,set_169,set_170,set_171,set_172,set_173,set_174,set_175,9).
 state_s(s,ca,r,p1,p2,dummy_sk,2,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,10).
 state_p1(p1,ca,s,r,p2,dummy_sk,4,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,11).
 state_p2(p2,ca,s,r,p1,dummy_sk,6,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,12).
 state_r(r,ca,s,p1,p2,dummy_sk,8,dummy_nonce,dummy_sk,dummy_sk,13).
 state_ca(ca,s,r,p1,p2,dummy_sk,dummy_sk,dummy_sk,dummy_sk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_sk,dummy_sk,set_181,set_182,set_183,set_184,set_185,set_186,set_187,set_188,15).
 state_s(s,ca,r,p1,p2,dummy_sk,2,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,16).
 state_p1(p1,ca,s,r,p2,dummy_sk,4,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,17).
 state_p2(p2,ca,s,r,p1,dummy_sk,6,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,18).
 state_r(r,ca,s,p1,p2,dummy_sk,8,dummy_nonce,dummy_sk,dummy_sk,19).
 state_ca(ca,s,r,p1,p2,dummy_sk,dummy_sk,dummy_sk,dummy_sk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_sk,dummy_sk,set_194,set_195,set_196,set_197,set_198,set_199,set_200,set_201,21).
 state_s(s,ca,r,p1,p2,dummy_sk,2,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,22).
 state_p1(p1,ca,s,r,p2,dummy_sk,4,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,23).
 state_p2(p2,ca,s,r,p1,dummy_sk,6,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,24).
 state_r(r,ca,s,p1,p2,dummy_sk,8,dummy_nonce,dummy_sk,dummy_sk,25).
 state_ca(ca,s,r,p1,p2,dummy_sk,dummy_sk,dummy_sk,dummy_sk,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_sk,dummy_sk,set_207,set_208,set_209,set_210,set_211,set_212,set_213,set_214,27).
 state_s(s,ca,r,p1,p2,dummy_sk,2,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,28).
 state_p1(p1,ca,s,r,p2,dummy_sk,4,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,29).
 state_p2(p2,ca,s,r,p1,dummy_sk,6,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,30).
 state_r(r,ca,s,p1,p2,dummy_sk,8,dummy_nonce,dummy_sk,dummy_sk,31)


section rules:

step step_0 (CA,S,R,P1,P2,K1,K2,K3,K4,IDs,IDp1,IDp2,IDr,Dummy_M1,Dummy_M2,Dummy_M3,K,K12,K23,K34,Dummy_Set_36,Dummy_Set_37,Dummy_Set_39,Dummy_Set_40,Dummy_Set_41,Dummy_Set_42,Dummy_Set_43,Dummy_Set_44,SID) :=
 state_ca(CA,S,R,P1,P2,K1,K2,K3,K4,0,IDs,IDp1,IDp2,IDr,Dummy_M1,Dummy_M2,Dummy_M3,K,K12,K23,K34,Dummy_Set_36,Dummy_Set_37,Dummy_Set_39,Dummy_Set_40,Dummy_Set_41,Dummy_Set_42,Dummy_Set_43,Dummy_Set_44,SID).
 iknows(start)
 =>
 state_ca(CA,S,R,P1,P2,K1,K2,K3,K4,1,IDs,IDp1,IDp2,IDr,scrypt(K2,pair(IDp1,pair(K12,pair(K23,Dummy_M2)))),scrypt(K3,pair(IDp2,pair(K23,pair(K34,Dummy_M3)))),scrypt(K4,pair(IDr,pair(K34,K))),K,K12,K23,K34,Dummy_Set_36,Dummy_Set_37,Dummy_Set_39,Dummy_Set_40,Dummy_Set_41,Dummy_Set_42,Dummy_Set_43,Dummy_Set_44,SID).
 iknows(scrypt(K1,pair(IDs,pair(K12,pair(K,scrypt(K2,pair(IDp1,pair(K12,pair(K23,Dummy_M2))))))))).
 secret(Dummy_Set_36,sub1,Dummy_Set_37).
 secret(Dummy_Set_39,sub2,Dummy_Set_40).
 secret(Dummy_Set_41,sub3,Dummy_Set_42).
 secret(Dummy_Set_43,sub4,Dummy_Set_44).
 witness(CA,S,protocol1,scrypt(K1,pair(IDs,pair(K12,pair(K,Dummy_M1))))).
 contains(K,Dummy_Set_36).
 contains(CA,Dummy_Set_37).
 contains(S,Dummy_Set_37).
 contains(R,Dummy_Set_37).
 contains(K12,Dummy_Set_39).
 contains(CA,Dummy_Set_40).
 contains(S,Dummy_Set_40).
 contains(P1,Dummy_Set_40).
 contains(K23,Dummy_Set_41).
 contains(CA,Dummy_Set_42).
 contains(P1,Dummy_Set_42).
 contains(P2,Dummy_Set_42).
 contains(K34,Dummy_Set_43).
 contains(CA,Dummy_Set_44).
 contains(P2,Dummy_Set_44).
 contains(R,Dummy_Set_44)

step step_1 (S,CA,R,P1,P2,K1,IDs,M1,K,K12,SID) :=
 state_s(S,CA,R,P1,P2,K1,2,IDs,M1,K,K12,SID).
 iknows(scrypt(K1,pair(IDs,pair(K12,pair(K,M1)))))
 =>
 state_s(S,CA,R,P1,P2,K1,3,IDs,M1,K,K12,SID).
 iknows(M1).
 request(CA,S,protocol1,scrypt(K1,pair(IDs,pair(K12,pair(K,M1)))),SID).
 witness(S,P1,protocol2,M1)

step step_2 (P1,CA,S,R,P2,K2,IDp1,M1,M2,K12,K23,SID) :=
 state_p1(P1,CA,S,R,P2,K2,4,IDp1,M1,M2,K12,K23,SID).
 iknows(scrypt(K2,pair(IDp1,pair(K12,pair(K23,M2)))))
 =>
 state_p1(P1,CA,S,R,P2,K2,5,IDp1,M1,M2,K12,K23,SID).
 iknows(M2).
 request(S,P1,protocol2,M1,SID).
 witness(P1,P2,protocol3,M2)

step step_3 (P2,CA,S,R,P1,K3,IDp2,M2,M3,K23,K34,SID) :=
 state_p2(P2,CA,S,R,P1,K3,6,IDp2,M2,M3,K23,K34,SID).
 iknows(scrypt(K3,pair(IDp2,pair(K23,pair(K34,M3)))))
 =>
 state_p2(P2,CA,S,R,P1,K3,7,IDp2,M2,M3,K23,K34,SID).
 iknows(M3).
 request(P1,P2,protocol3,M2,SID).
 witness(P2,R,protocol4,M3)

step step_4 (R,CA,S,P1,P2,K4,IDr,K34,K,SID) :=
 state_r(R,CA,S,P1,P2,K4,8,IDr,K34,K,SID).
 iknows(scrypt(K4,pair(IDr,pair(K34,K))))
 =>
 state_r(R,CA,S,P1,P2,K4,9,IDr,K34,K,SID).
 request(P2,R,protocol4,scrypt(K4,pair(IDr,pair(K34,K))),SID)


section properties:

property secrecy_of_sub1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sub4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sub4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_protocol1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,protocol1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,protocol1,MGoal))
     /\ ((request(A1Goal,A2Goal,protocol1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,protocol1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_protocol2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,protocol2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,protocol2,MGoal))
     /\ ((request(A1Goal,A2Goal,protocol2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,protocol2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_protocol3 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,protocol3,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,protocol3,MGoal))
     /\ ((request(A1Goal,A2Goal,protocol3,MGoal,SID1)
           /\ request(A1Goal,A2Goal,protocol3,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_protocol4 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,protocol4,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,protocol4,MGoal))
     /\ ((request(A1Goal,A2Goal,protocol4,MGoal,SID1)
           /\ request(A1Goal,A2Goal,protocol4,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sub1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sub4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sub4,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_protocol1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,protocol1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,protocol1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_protocol1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,protocol1,MGoal,SID1).
 request(A1Goal,A2Goal,protocol1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_protocol2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,protocol2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,protocol2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_protocol2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,protocol2,MGoal,SID1).
 request(A1Goal,A2Goal,protocol2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_protocol3 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,protocol3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,protocol3,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_protocol3 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,protocol3,MGoal,SID1).
 request(A1Goal,A2Goal,protocol3,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_protocol4 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,protocol4,MGoal,SID) &
 not(witness(A2Goal,A1Goal,protocol4,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_protocol4 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,protocol4,MGoal,SID1).
 request(A1Goal,A2Goal,protocol4,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

