%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilenxIV0A

section signature:

state_special: agent * agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * nat -> fact
state_mserver: agent * agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * nat -> fact
state_server: agent * agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_alice: agent * agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(text) * set(agent) * nat -> fact


section types:

Set_162, Set_118, Set_116, Set_115, Set_113, Dummy_Set_162, Set_111, Set_109, Dummy_Set_118, Dummy_Set_116, Dummy_Set_115, Dummy_Set_113, Dummy_Set_111, Dummy_Set_109, Set_61, Set_59, Dummy_Set_61, Dummy_Set_59: set(text)
alice_server, server_mserver, mserver_special, special_alice, alice_mserver, subs1, subs2, subs3, subs4, subs5: protocol_id
set_377, set_376, set_374, set_373, set_372, set_371, set_370, set_369, set_368, set_367, set_366, set_365, set_364, set_362, set_361, set_360, set_357, set_356, set_354, set_353, set_352, set_351, set_350, set_349, set_348, set_347, set_346, set_345, set_344, set_342, set_341, set_340, set_337, set_336, set_334, set_333, set_332, set_331, set_330, set_329, set_328, set_327, set_326, set_325, set_324, set_322, set_321, set_320, set_304, set_303, set_288, set_287, set_286, set_285, set_284, set_283, set_282, set_281, set_280, set_279, set_278, set_251, set_250, set_249: set
Set_163, Set_119, Set_117, Set_114, Dummy_Set_163, Set_112, Set_110, Dummy_Set_119, Dummy_Set_117, Dummy_Set_114, Dummy_Set_112, Dummy_Set_110, Set_62, Dummy_Set_62, ASGoal: set(agent)
IDi, IDmsj, IDk, PWi, Bi, Xc, Xj, Xk, Fi, PWDi, Aj, Pj, REGi, Rc, Rms, Rk, Dummy_Rms, Dummy_Xk, Dummy_IDi, Dummy_Xj, Dummy_Rk, Dummy_Rc, Dummy_REGi, Dummy_Pj, Dummy_Aj, Dummy_Fi, Dummy_IDk, Dummy_IDmsj, Dummy_PWDi, dummy_nonce, idi, idmsj, idk, pwi, bi, xc, xj, xk, fi, pwdi, aj, pj, regi, rc, rms, rk: text
21, State, 20, 19, 18, 16, 15, 14, 13, 11, 10, 9, 8, 6, SID, 5, 4, 3, 2, 1, 0, Dummy_State: nat
SK1, SKuisj, sk1, skuisj: symmetric_key
H, Inc, dummy_hash, h: hash_func
SS, Ui, MRS, MS, ui, mrs, ms, ss, i: agent
Gi, Li, Nj, Oj, Sj, RANj, Qj, Tk, RANk, Vk, SK, Ci, Di, Ei, Dummy_SK, Dummy_Qj, Dummy_RANj, Dummy_Sj, Dummy_Oj, Dummy_Nj, Dummy_Vk, Dummy_RANk, Dummy_Tk, Dummy_Li, Dummy_Gi, Dummy_Ei, Dummy_Di, Dummy_Ci, start, dummy_msg, MGoal: message


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(mrs).
 iknows(ms).
 iknows(ss).
 iknows(h).
 iknows(fi).
 iknows(i).
 state_alice(ms,mrs,ui,ss,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_249,set_250,set_251,3).
 state_server(ms,mrs,ui,ss,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_278,set_279,set_280,set_281,set_282,set_283,set_284,set_285,set_286,set_287,set_288,4).
 state_mserver(ms,mrs,ui,ss,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_303,set_304,5).
 state_special(ms,mrs,ui,ss,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,6).
 state_alice(ui,mrs,ms,ss,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_320,set_321,set_322,8).
 state_server(ui,mrs,ms,ss,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_324,set_325,set_326,set_327,set_328,set_329,set_330,set_331,set_332,set_333,set_334,9).
 state_mserver(ui,mrs,ms,ss,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_336,set_337,10).
 state_special(ui,mrs,ms,ss,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,11).
 state_alice(ui,ms,ss,mrs,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_340,set_341,set_342,13).
 state_server(ui,ms,ss,mrs,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_344,set_345,set_346,set_347,set_348,set_349,set_350,set_351,set_352,set_353,set_354,14).
 state_mserver(ui,ms,ss,mrs,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_356,set_357,15).
 state_special(ui,ms,ss,mrs,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,16).
 state_alice(ms,ss,ui,mrs,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_360,set_361,set_362,18).
 state_server(ms,ss,ui,mrs,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_364,set_365,set_366,set_367,set_368,set_369,set_370,set_371,set_372,set_373,set_374,19).
 state_mserver(ms,ss,ui,mrs,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_376,set_377,20).
 state_special(ms,ss,ui,mrs,skuisj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,21)


section rules:

step step_0 (Ui,MRS,MS,SS,SKuisj,SK1,H,IDi,IDmsj,IDk,PWi,Bi,Xc,Xj,Xk,Fi,Dummy_PWDi,Aj,Pj,REGi,Rc,Rms,Rk,Ci,Di,Ei,Gi,Li,Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Dummy_Set_59,Dummy_Set_61,Dummy_Set_62,SID) :=
 state_alice(Ui,MRS,MS,SS,SKuisj,SK1,H,0,IDi,IDmsj,IDk,PWi,Bi,Xc,Xj,Xk,Fi,Dummy_PWDi,Aj,Pj,REGi,Rc,Rms,Rk,Ci,Di,Ei,Gi,Li,Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Dummy_Set_59,Dummy_Set_61,Dummy_Set_62,SID).
 iknows(start)
 =>
 state_alice(Ui,MRS,MS,SS,SKuisj,SK1,H,1,IDi,IDmsj,IDk,PWi,Bi,Xc,Xj,Xk,Fi,apply(H,pair(IDi,PWi)),Aj,Pj,REGi,Rc,Rms,Rk,Ci,Di,Ei,Gi,Li,Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Dummy_Set_59,Dummy_Set_61,Dummy_Set_62,SID).
 iknows(scrypt(SKuisj,pair(IDi,pair(apply(H,pair(IDi,PWi)),Bi)))).
 secret(Dummy_Set_59,subs2,Ui).
 secret(Dummy_Set_61,subs3,Dummy_Set_62).
 contains(PWi,Dummy_Set_59).
 contains(IDi,Dummy_Set_61).
 contains(Ui,Dummy_Set_62).
 contains(MRS,Dummy_Set_62).
 contains(MS,Dummy_Set_62).
 contains(SS,Dummy_Set_62)

step step_1 (Ui,MRS,MS,SS,SKuisj,SK1,H,IDi,Dummy_IDmsj,Dummy_IDk,PWi,Bi,Xc,Xj,Xk,Dummy_Fi,PWDi,Dummy_Aj,Dummy_Pj,Dummy_REGi,Dummy_Rc,Rms,Rk,Dummy_Ci,Dummy_Di,Dummy_Ei,Dummy_Gi,Dummy_Li,Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Set_59,Set_61,Set_62,SID,IDmsj,IDk,Fi,Aj,Pj,REGi,Rc) :=
 state_alice(Ui,MRS,MS,SS,SKuisj,SK1,H,1,IDi,Dummy_IDmsj,Dummy_IDk,PWi,Bi,Xc,Xj,Xk,Dummy_Fi,PWDi,Dummy_Aj,Dummy_Pj,Dummy_REGi,Dummy_Rc,Rms,Rk,Dummy_Ci,Dummy_Di,Dummy_Ei,Dummy_Gi,Dummy_Li,Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Set_59,Set_61,Set_62,SID).
 iknows(scrypt(SKuisj,pair(Fi,pair(REGi,pair(Aj,Pj)))))
=[exists IDk,IDmsj,Rc]=>
 state_alice(Ui,MRS,MS,SS,SKuisj,SK1,H,2,IDi,IDmsj,IDk,PWi,Bi,Xc,Xj,Xk,Fi,PWDi,Aj,Pj,REGi,Rc,Rms,Rk,xor(Aj,REGi),apply(H,pair(xor(Aj,REGi),Rc)),xor(Pj,apply(H,pair(REGi,Fi))),xor(IDi,xor(Pj,apply(H,pair(REGi,Fi)))),xor(xor(Pj,apply(H,pair(REGi,Fi))),Rc),Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Set_59,Set_61,Set_62,SID).
 iknows(pair(Fi,pair(apply(H,pair(xor(Aj,REGi),Rc)),pair(xor(IDi,xor(Pj,apply(H,pair(REGi,Fi)))),pair(xor(xor(Pj,apply(H,pair(REGi,Fi))),Rc),pair(IDmsj,IDk))))))

step step_2 (Ui,MRS,MS,SS,SKuisj,SK1,H,IDi,IDmsj,IDk,PWi,Bi,Xc,Xj,Xk,Fi,PWDi,Aj,Pj,REGi,Rc,Rms,Dummy_Rk,Ci,Di,Ei,Gi,Li,Nj,Oj,Sj,RANj,Qj,Dummy_Tk,Dummy_RANk,Dummy_Vk,SK,Inc,Set_59,Set_61,Set_62,SID,Rk,Tk,RANk,Vk) :=
 state_alice(Ui,MRS,MS,SS,SKuisj,SK1,H,2,IDi,IDmsj,IDk,PWi,Bi,Xc,Xj,Xk,Fi,PWDi,Aj,Pj,REGi,Rc,Rms,Dummy_Rk,Ci,Di,Ei,Gi,Li,Nj,Oj,Sj,RANj,Qj,Dummy_Tk,Dummy_RANk,Dummy_Vk,SK,Inc,Set_59,Set_61,Set_62,SID).
 iknows(pair(Tk,pair(RANk,Vk)))
=[exists Rk]=>
 state_alice(Ui,MRS,MS,SS,SKuisj,SK1,H,3,IDi,IDmsj,IDk,PWi,Bi,Xc,Xj,Xk,Fi,PWDi,Aj,Pj,REGi,Rc,Rms,Rk,Ci,Di,Ei,Gi,Li,Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Set_59,Set_61,Set_62,SID)

step step_3 (MRS,Ui,MS,SS,SKuisj,SK1,H,IDi,Dummy_IDmsj,IDk,PWi,Bi,Xc,Dummy_Xj,Xk,Fi,PWDi,Aj,Pj,REGi,Rc,Rms,Rk,Ci,Di,Ei,Gi,Li,Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Dummy_Set_109,Dummy_Set_110,Dummy_Set_111,Dummy_Set_112,Set_113,Set_114,Set_115,Set_116,Set_117,Set_118,Set_119,SID,IDmsj) :=
 state_server(MRS,Ui,MS,SS,SKuisj,SK1,H,0,IDi,Dummy_IDmsj,IDk,PWi,Bi,Xc,Dummy_Xj,Xk,Fi,PWDi,Aj,Pj,REGi,Rc,Rms,Rk,Ci,Di,Ei,Gi,Li,Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Dummy_Set_109,Dummy_Set_110,Dummy_Set_111,Dummy_Set_112,Set_113,Set_114,Set_115,Set_116,Set_117,Set_118,Set_119,SID).
 iknows(IDmsj)
 =>
 state_server(MRS,Ui,MS,SS,SKuisj,SK1,H,1,IDi,IDmsj,IDk,PWi,Bi,Xc,apply(H,pair(IDmsj,Xc)),Xk,Fi,PWDi,Aj,Pj,REGi,Rc,Rms,Rk,Ci,Di,Ei,Gi,Li,Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Dummy_Set_109,Dummy_Set_110,Dummy_Set_111,Dummy_Set_112,Set_113,Set_114,Set_115,Set_116,Set_117,Set_118,Set_119,SID).
 secret(Dummy_Set_109,subs1,Dummy_Set_110).
 secret(Dummy_Set_111,subs4,Dummy_Set_112).
 iknows(scrypt(SK1,apply(H,pair(IDmsj,Xc)))).
 contains(Dummy_Xj,Dummy_Set_109).
 contains(MRS,Dummy_Set_110).
 contains(MS,Dummy_Set_110).
 contains(Xc,Dummy_Set_111).
 contains(MRS,Dummy_Set_112)

step step_4 (MRS,Ui,MS,SS,SKuisj,SK1,H,IDi,IDmsj,IDk,PWi,Bi,Xc,Xj,Xk,Dummy_Fi,PWDi,Dummy_Aj,Dummy_Pj,Dummy_REGi,Rc,Rms,Rk,Ci,Di,Ei,Gi,Li,Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Set_109,Set_110,Set_111,Set_112,Dummy_Set_113,Dummy_Set_114,Dummy_Set_115,Dummy_Set_116,Dummy_Set_117,Dummy_Set_118,Dummy_Set_119,SID) :=
 state_server(MRS,Ui,MS,SS,SKuisj,SK1,H,1,IDi,IDmsj,IDk,PWi,Bi,Xc,Xj,Xk,Dummy_Fi,PWDi,Dummy_Aj,Dummy_Pj,Dummy_REGi,Rc,Rms,Rk,Ci,Di,Ei,Gi,Li,Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Set_109,Set_110,Set_111,Set_112,Dummy_Set_113,Dummy_Set_114,Dummy_Set_115,Dummy_Set_116,Dummy_Set_117,Dummy_Set_118,Dummy_Set_119,SID).
 iknows(scrypt(SKuisj,pair(IDi,pair(apply(H,pair(IDi,PWi)),Bi))))
 =>
 state_server(MRS,Ui,MS,SS,SKuisj,SK1,H,2,IDi,IDmsj,IDk,PWi,Bi,Xc,Xj,Xk,apply(H,Bi),PWDi,xor(apply(H,pair(IDi,Xj)),apply(H,pair(IDi,apply(H,pair(IDi,PWi))))),xor(apply(H,pair(IDmsj,pair(Xj,apply(H,Bi)))),apply(H,pair(apply(H,pair(IDi,apply(H,pair(IDi,PWi)))),apply(H,Bi)))),apply(H,pair(IDi,apply(H,pair(IDi,PWi)))),Rc,Rms,Rk,Ci,Di,Ei,Gi,Li,Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Set_109,Set_110,Set_111,Set_112,Dummy_Set_113,Dummy_Set_114,Dummy_Set_115,Dummy_Set_116,Dummy_Set_117,Dummy_Set_118,Dummy_Set_119,SID).
 secret(Dummy_Set_113,subs1,Dummy_Set_114).
 secret(Dummy_Set_115,subs2,Ui).
 secret(Dummy_Set_116,subs3,Dummy_Set_117).
 secret(Dummy_Set_118,subs4,Dummy_Set_119).
 iknows(scrypt(SKuisj,pair(apply(H,Bi),pair(apply(H,pair(IDi,apply(H,pair(IDi,PWi)))),pair(xor(apply(H,pair(IDi,Xj)),apply(H,pair(IDi,apply(H,pair(IDi,PWi))))),xor(apply(H,pair(IDmsj,pair(Xj,apply(H,Bi)))),apply(H,pair(apply(H,pair(IDi,apply(H,pair(IDi,PWi)))),apply(H,Bi))))))))).
 contains(Xj,Dummy_Set_113).
 contains(MRS,Dummy_Set_114).
 contains(MS,Dummy_Set_114).
 contains(PWi,Dummy_Set_115).
 contains(IDi,Dummy_Set_116).
 contains(Ui,Dummy_Set_117).
 contains(MRS,Dummy_Set_117).
 contains(MS,Dummy_Set_117).
 contains(SS,Dummy_Set_117).
 contains(Xc,Dummy_Set_118).
 contains(MRS,Dummy_Set_119)

step step_5 (MS,Ui,MRS,SS,SKuisj,SK1,H,IDi,Dummy_IDmsj,IDk,PWi,Bi,Xc,Xj,Xk,Fi,PWDi,Aj,Pj,REGi,Rc,Rms,Rk,Ci,Di,Ei,Gi,Li,Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Set_162,Set_163,SID,IDmsj) :=
 state_mserver(MS,Ui,MRS,SS,SKuisj,SK1,H,0,IDi,Dummy_IDmsj,IDk,PWi,Bi,Xc,Xj,Xk,Fi,PWDi,Aj,Pj,REGi,Rc,Rms,Rk,Ci,Di,Ei,Gi,Li,Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Set_162,Set_163,SID).
 iknows(start)
=[exists IDmsj]=>
 state_mserver(MS,Ui,MRS,SS,SKuisj,SK1,H,1,IDi,IDmsj,IDk,PWi,Bi,Xc,Xj,Xk,Fi,PWDi,Aj,Pj,REGi,Rc,Rms,Rk,Ci,Di,Ei,Gi,Li,Nj,Oj,Sj,RANj,Qj,Tk,RANk,Vk,SK,Inc,Set_162,Set_163,SID).
 iknows(IDmsj)

step step_6 (MS,Ui,MRS,SS,SKuisj,SK1,H,Dummy_IDi,Dummy_IDmsj,Dummy_IDk,PWi,Bi,Xc,Dummy_Xj,Dummy_Xk,Dummy_Fi,PWDi,Aj,Pj,REGi,Dummy_Rc,Dummy_Rms,Rk,Ci,Dummy_Di,Dummy_Ei,Dummy_Gi,Dummy_Li,Dummy_Nj,Dummy_Oj,Dummy_Sj,Dummy_RANj,Dummy_Qj,Tk,RANk,Vk,SK,Inc,Dummy_Set_162,Dummy_Set_163,SID,Xj,Rms) :=
 state_mserver(MS,Ui,MRS,SS,SKuisj,SK1,H,1,Dummy_IDi,Dummy_IDmsj,Dummy_IDk,PWi,Bi,Xc,Dummy_Xj,Dummy_Xk,Dummy_Fi,PWDi,Aj,Pj,REGi,Dummy_Rc,Dummy_Rms,Rk,Ci,Dummy_Di,Dummy_Ei,Dummy_Gi,Dummy_Li,Dummy_Nj,Dummy_Oj,Dummy_Sj,Dummy_RANj,Dummy_Qj,Tk,RANk,Vk,SK,Inc,Dummy_Set_162,Dummy_Set_163,SID).
 iknows(scrypt(SK1,Xj))
=[exists Rms]=>
 state_mserver(MS,Ui,MRS,SS,SKuisj,SK1,H,2,xor(Gi,apply(H,pair(Dummy_IDmsj,pair(Xj,Fi)))),Dummy_IDmsj,Dummy_IDk,PWi,Bi,Xc,Xj,apply(H,pair(IDk,Xj)),Dummy_Fi,PWDi,Aj,Pj,REGi,xor(Li,apply(H,pair(Dummy_IDmsj,pair(Xj,Fi)))),Rms,Rk,Ci,Dummy_Di,apply(H,pair(Dummy_IDmsj,pair(Xj,Fi))),Dummy_Gi,Dummy_Li,apply(H,pair(IDk,pair(apply(H,pair(IDk,Xj)),Fi))),xor(xor(Gi,apply(H,pair(Dummy_IDmsj,pair(Xj,Fi)))),apply(H,pair(IDk,pair(apply(H,pair(IDk,Xj)),Fi)))),xor(apply(H,pair(IDk,apply(H,pair(IDk,Xj)))),Rms),xor(xor(Li,apply(H,pair(Dummy_IDmsj,pair(Xj,Fi)))),Rms),apply(H,pair(xor(Gi,apply(H,pair(Dummy_IDmsj,pair(Xj,Fi)))),pair(apply(H,pair(IDk,Xj)),pair(apply(H,pair(IDk,pair(apply(H,pair(IDk,Xj)),Fi))),Rms)))),Tk,RANk,Vk,SK,Inc,Dummy_Set_162,Dummy_Set_163,SID).
 iknows(pair(xor(xor(Gi,apply(H,pair(Dummy_IDmsj,pair(Xj,Fi)))),apply(H,pair(IDk,pair(apply(H,pair(IDk,Xj)),Fi)))),pair(xor(apply(H,pair(IDk,apply(H,pair(IDk,Xj)))),Rms),pair(apply(H,pair(xor(Gi,apply(H,pair(Dummy_IDmsj,pair(Xj,Fi)))),pair(apply(H,pair(IDk,Xj)),pair(apply(H,pair(IDk,pair(apply(H,pair(IDk,Xj)),Fi))),Rms)))),pair(IDk,pair(Fi,xor(xor(Li,apply(H,pair(Dummy_IDmsj,pair(Xj,Fi)))),Rms))))))).
 secret(Dummy_Set_162,subs5,Dummy_Set_163).
 contains(Dummy_Xk,Dummy_Set_162).
 contains(MRS,Dummy_Set_163).
 contains(SS,Dummy_Set_163)

step step_7 (SS,Ui,MRS,MS,SKuisj,SK1,H,Dummy_IDi,IDmsj,IDk,PWi,Bi,Xc,Xj,Dummy_Xk,Dummy_Fi,PWDi,Aj,Pj,REGi,Dummy_Rc,Dummy_Rms,Dummy_Rk,Ci,Di,Ei,Gi,Li,Dummy_Nj,Dummy_Oj,Dummy_Sj,Dummy_RANj,Dummy_Qj,Dummy_Tk,Dummy_RANk,Dummy_Vk,Dummy_SK,Inc,SID,Xk,Fi,Rk,Oj,Sj,RANj,Qj) :=
 state_special(SS,Ui,MRS,MS,SKuisj,SK1,H,0,Dummy_IDi,IDmsj,IDk,PWi,Bi,Xc,Xj,Dummy_Xk,Dummy_Fi,PWDi,Aj,Pj,REGi,Dummy_Rc,Dummy_Rms,Dummy_Rk,Ci,Di,Ei,Gi,Li,Dummy_Nj,Dummy_Oj,Dummy_Sj,Dummy_RANj,Dummy_Qj,Dummy_Tk,Dummy_RANk,Dummy_Vk,Dummy_SK,Inc,SID).
 iknows(pair(Oj,pair(Sj,pair(Qj,pair(IDk,pair(Fi,RANj))))))
=[exists Xk,Rk]=>
 state_special(SS,Ui,MRS,MS,SKuisj,SK1,H,1,xor(Oj,apply(H,pair(IDk,pair(Xk,Fi)))),IDmsj,IDk,PWi,Bi,Xc,Xj,Xk,Fi,PWDi,Aj,Pj,REGi,xor(RANj,xor(apply(H,pair(xor(Oj,apply(H,pair(IDk,pair(Xk,Fi)))),Xk)),Sj)),xor(apply(H,pair(xor(Oj,apply(H,pair(IDk,pair(Xk,Fi)))),Xk)),Sj),Rk,Ci,Di,Ei,Gi,Li,apply(H,pair(IDk,pair(Xk,Fi))),Oj,Sj,RANj,Qj,apply(H,pair(apply(H,pair(xor(Oj,apply(H,pair(IDk,pair(Xk,Fi)))),Xk)),apply(H,pair(xor(Oj,apply(H,pair(IDk,pair(Xk,Fi)))),pair(IDk,pair(xor(RANj,xor(apply(H,pair(xor(Oj,apply(H,pair(IDk,pair(Xk,Fi)))),Xk)),Sj)),Rk)))))),xor(xor(RANj,xor(apply(H,pair(xor(Oj,apply(H,pair(IDk,pair(Xk,Fi)))),Xk)),Sj)),Rk),xor(apply(H,pair(xor(Oj,apply(H,pair(IDk,pair(Xk,Fi)))),Rk))),apply(H,pair(xor(Oj,apply(H,pair(IDk,pair(Xk,Fi)))),pair(IDk,pair(xor(RANj,xor(apply(H,pair(xor(Oj,apply(H,pair(IDk,pair(Xk,Fi)))),Xk)),Sj)),Rk)))),Inc,SID).
 iknows(pair(apply(H,pair(apply(H,pair(xor(Oj,apply(H,pair(IDk,pair(Xk,Fi)))),Xk)),apply(H,pair(xor(Oj,apply(H,pair(IDk,pair(Xk,Fi)))),pair(IDk,pair(xor(RANj,xor(apply(H,pair(xor(Oj,apply(H,pair(IDk,pair(Xk,Fi)))),Xk)),Sj)),Rk)))))),pair(xor(xor(RANj,xor(apply(H,pair(xor(Oj,apply(H,pair(IDk,pair(Xk,Fi)))),Xk)),Sj)),Rk),xor(apply(H,pair(xor(Oj,apply(H,pair(IDk,pair(Xk,Fi)))),Rk))))))


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

