%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilehDM1j6

section signature:

state_iRouter_HXTR: agent * agent * agent * symmetric_key * nat * symmetric_key * symmetric_key * symmetric_key * scrypt(symmetric_key,pair(symmetric_key,symmetric_key)) * nat -> fact
state_iServer_MS: agent * agent * agent * agent * agent * symmetric_key * symmetric_key * symmetric_key * nat * symmetric_key * symmetric_key * symmetric_key * set(agent) * set(agent) * set(agent) * nat -> fact
state_iServer_MR: agent * agent * agent * agent * symmetric_key * symmetric_key * nat * symmetric_key * symmetric_key * scrypt(symmetric_key,pair(agent,pair(agent,agent))) * scrypt(symmetric_key,pair(symmetric_key,symmetric_key)) * scrypt(symmetric_key,scrypt(symmetric_key,pair(symmetric_key,symmetric_key))) * nat -> fact
state_iRouter_FXTR: agent * agent * agent * agent * symmetric_key * nat * symmetric_key * symmetric_key * scrypt(symmetric_key,pair(agent,pair(agent,agent))) * scrypt(symmetric_key,pair(symmetric_key,symmetric_key)) * scrypt(symmetric_key,scrypt(symmetric_key,pair(symmetric_key,symmetric_key))) * nat -> fact
state_iMobile_MN: agent * agent * agent * symmetric_key * nat * symmetric_key * symmetric_key * nat -> fact


section types:

set_144, set_143, set_142: set
SignedKeyMnFlocatorKeyMnHlocator, Dummy_SignedKeyMnFlocatorKeyMnHlocator, Dummy_SignKeyMnHlocatorKeyMnFlocator, SignKeyMnHlocatorKeyMnFlocator: scrypt(symmetric_key,scrypt(symmetric_key,pair(symmetric_key,symmetric_key)))
KeyMnFlocatorKeyMnHlocator, Dummy_KeyMnFlocatorKeyMnHlocator, Dummy_KeyMnHlocatorKeyMnFlocator, KeyMnHlocatorKeyMnFlocator: scrypt(symmetric_key,pair(symmetric_key,symmetric_key))
SignedRegReq, Dummy_SignedRegReq: scrypt(symmetric_key,pair(agent,pair(agent,agent)))
Set_77, Set_76, Set_74, Dummy_Set_77, Dummy_Set_76, Dummy_Set_74, ASGoal: set(agent)
start, MGoal: message
k_mnhlocator1, k_flocatorhlocator2, secFXTRHXTR, secFXTRMN, secMNHXTR, k_mnflocator1, k_flocatorhlocator1, k_mnflocator2, k_mnhlocator2: protocol_id
State, 7, SID, 6, 5, 3, 4, Dummy_State, 2, 1, 0: nat
K_MnFlocator, K_FlocatorHlocator, K_MnHlocator, K_MSHlocator, K_MnMS, K_MSMR, KMSHlocator, K_FlocatorMR, Dummy_K_FlocatorHlocator, Dummy_K_MnHlocator, Dummy_K_MnFlocator, dummy_sk, k_mn_idns, k_flocator_ireq, k_idns_ireq, k_hlocator_idns: symmetric_key
HXTR, MS, MN, MR, FXTR, dummy_agent, A2Goal, A1Goal, mn, flocator, ireq, idns, hlocator, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(mn).
 iknows(flocator).
 iknows(ireq).
 iknows(idns).
 iknows(hlocator).
 iknows(i).
 state_iMobile_MN(mn,idns,flocator,k_mn_idns,0,dummy_sk,dummy_sk,3).
 state_iRouter_FXTR(flocator,ireq,idns,mn,k_flocator_ireq,0,dummy_sk,dummy_sk,scrypt(dummy_sk,pair(dummy_agent,pair(dummy_agent,dummy_agent))),scrypt(dummy_sk,pair(dummy_sk,dummy_sk)),scrypt(dummy_sk,scrypt(dummy_sk,pair(dummy_sk,dummy_sk))),4).
 state_iServer_MR(ireq,idns,flocator,mn,k_flocator_ireq,k_idns_ireq,0,dummy_sk,dummy_sk,scrypt(dummy_sk,pair(dummy_agent,pair(dummy_agent,dummy_agent))),scrypt(dummy_sk,pair(dummy_sk,dummy_sk)),scrypt(dummy_sk,scrypt(dummy_sk,pair(dummy_sk,dummy_sk))),5).
 state_iServer_MS(idns,ireq,hlocator,flocator,mn,k_mn_idns,k_idns_ireq,k_hlocator_idns,0,dummy_sk,dummy_sk,dummy_sk,set_142,set_143,set_144,6).
 state_iRouter_HXTR(hlocator,idns,mn,k_hlocator_idns,0,dummy_sk,dummy_sk,dummy_sk,scrypt(dummy_sk,pair(dummy_sk,dummy_sk)),7)


section rules:

step step_0 (MN,MS,FXTR,K_MnMS,K_MnFlocator,K_MnHlocator,SID) :=
 state_iMobile_MN(MN,MS,FXTR,K_MnMS,0,K_MnFlocator,K_MnHlocator,SID).
 iknows(pair(FXTR,FXTR))
 =>
 state_iMobile_MN(MN,MS,FXTR,K_MnMS,1,K_MnFlocator,K_MnHlocator,SID).
 iknows(pair(FXTR,pair(MN,pair(MS,scrypt(K_MnMS,pair(FXTR,pair(MN,MS)))))))

step step_1 (MN,MS,FXTR,K_MnMS,Dummy_K_MnFlocator,Dummy_K_MnHlocator,SID,K_MnFlocator,K_MnHlocator) :=
 state_iMobile_MN(MN,MS,FXTR,K_MnMS,1,Dummy_K_MnFlocator,Dummy_K_MnHlocator,SID).
 iknows(pair(scrypt(K_MnMS,pair(K_MnFlocator,K_MnHlocator)),scrypt(K_MnHlocator,scrypt(K_MnMS,pair(K_MnFlocator,K_MnHlocator)))))
 =>
 state_iMobile_MN(MN,MS,FXTR,K_MnMS,2,K_MnFlocator,K_MnHlocator,SID).
 wrequest(MN,MS,k_mnhlocator2,K_MnHlocator,SID).
 wrequest(MN,MS,k_mnflocator2,K_MnFlocator,SID)

step step_2 (FXTR,MR,MS,MN,K_FlocatorMR,K_MnFlocator,K_FlocatorHlocator,SignedRegReq,KeyMnHlocatorKeyMnFlocator,SignKeyMnHlocatorKeyMnFlocator,SID) :=
 state_iRouter_FXTR(FXTR,MR,MS,MN,K_FlocatorMR,0,K_MnFlocator,K_FlocatorHlocator,SignedRegReq,KeyMnHlocatorKeyMnFlocator,SignKeyMnHlocatorKeyMnFlocator,SID).
 iknows(start)
 =>
 state_iRouter_FXTR(FXTR,MR,MS,MN,K_FlocatorMR,1,K_MnFlocator,K_FlocatorHlocator,SignedRegReq,KeyMnHlocatorKeyMnFlocator,SignKeyMnHlocatorKeyMnFlocator,SID).
 iknows(pair(FXTR,FXTR))

step step_3 (FXTR,MR,MS,MN,K_FlocatorMR,K_MnFlocator,K_FlocatorHlocator,Dummy_SignedRegReq,KeyMnHlocatorKeyMnFlocator,SignKeyMnHlocatorKeyMnFlocator,SID,SignedRegReq) :=
 state_iRouter_FXTR(FXTR,MR,MS,MN,K_FlocatorMR,1,K_MnFlocator,K_FlocatorHlocator,Dummy_SignedRegReq,KeyMnHlocatorKeyMnFlocator,SignKeyMnHlocatorKeyMnFlocator,SID).
 iknows(pair(FXTR,pair(MN,pair(MS,SignedRegReq))))
 =>
 state_iRouter_FXTR(FXTR,MR,MS,MN,K_FlocatorMR,2,K_MnFlocator,K_FlocatorHlocator,SignedRegReq,KeyMnHlocatorKeyMnFlocator,SignKeyMnHlocatorKeyMnFlocator,SID).
 iknows(pair(FXTR,pair(MN,pair(MS,SignedRegReq))))

step step_4 (FXTR,MR,MS,MN,K_FlocatorMR,Dummy_K_MnFlocator,Dummy_K_FlocatorHlocator,SignedRegReq,Dummy_KeyMnHlocatorKeyMnFlocator,Dummy_SignKeyMnHlocatorKeyMnFlocator,SID,K_MnFlocator,K_FlocatorHlocator,KeyMnHlocatorKeyMnFlocator,SignKeyMnHlocatorKeyMnFlocator) :=
 state_iRouter_FXTR(FXTR,MR,MS,MN,K_FlocatorMR,2,Dummy_K_MnFlocator,Dummy_K_FlocatorHlocator,SignedRegReq,Dummy_KeyMnHlocatorKeyMnFlocator,Dummy_SignKeyMnHlocatorKeyMnFlocator,SID).
 iknows(pair(FXTR,pair(scrypt(K_FlocatorMR,pair(K_MnFlocator,K_FlocatorHlocator)),pair(KeyMnHlocatorKeyMnFlocator,pair(SignKeyMnHlocatorKeyMnFlocator,scrypt(K_FlocatorMR,pair(FXTR,pair(scrypt(K_FlocatorMR,pair(K_MnFlocator,K_FlocatorHlocator)),pair(KeyMnHlocatorKeyMnFlocator,SignKeyMnHlocatorKeyMnFlocator)))))))))
 =>
 state_iRouter_FXTR(FXTR,MR,MS,MN,K_FlocatorMR,3,K_MnFlocator,K_FlocatorHlocator,SignedRegReq,KeyMnHlocatorKeyMnFlocator,SignKeyMnHlocatorKeyMnFlocator,SID).
 iknows(pair(KeyMnHlocatorKeyMnFlocator,SignKeyMnHlocatorKeyMnFlocator)).
 wrequest(FXTR,MS,k_flocatorhlocator1,K_FlocatorHlocator,SID).
 wrequest(FXTR,MS,k_mnflocator1,K_MnFlocator,SID)

step step_5 (MR,MS,FXTR,MN,K_FlocatorMR,K_MSMR,K_MnFlocator,K_FlocatorHlocator,Dummy_SignedRegReq,KeyMnFlocatorKeyMnHlocator,SignedKeyMnFlocatorKeyMnHlocator,SID,SignedRegReq) :=
 state_iServer_MR(MR,MS,FXTR,MN,K_FlocatorMR,K_MSMR,0,K_MnFlocator,K_FlocatorHlocator,Dummy_SignedRegReq,KeyMnFlocatorKeyMnHlocator,SignedKeyMnFlocatorKeyMnHlocator,SID).
 iknows(pair(FXTR,pair(MN,pair(MS,SignedRegReq))))
 =>
 state_iServer_MR(MR,MS,FXTR,MN,K_FlocatorMR,K_MSMR,1,K_MnFlocator,K_FlocatorHlocator,SignedRegReq,KeyMnFlocatorKeyMnHlocator,SignedKeyMnFlocatorKeyMnHlocator,SID).
 iknows(pair(FXTR,pair(MN,pair(MS,SignedRegReq))))

step step_6 (MR,MS,FXTR,MN,K_FlocatorMR,K_MSMR,Dummy_K_MnFlocator,Dummy_K_FlocatorHlocator,SignedRegReq,Dummy_KeyMnFlocatorKeyMnHlocator,Dummy_SignedKeyMnFlocatorKeyMnHlocator,SID,K_MnFlocator,K_FlocatorHlocator,KeyMnFlocatorKeyMnHlocator,SignedKeyMnFlocatorKeyMnHlocator) :=
 state_iServer_MR(MR,MS,FXTR,MN,K_FlocatorMR,K_MSMR,1,Dummy_K_MnFlocator,Dummy_K_FlocatorHlocator,SignedRegReq,Dummy_KeyMnFlocatorKeyMnHlocator,Dummy_SignedKeyMnFlocatorKeyMnHlocator,SID).
 iknows(pair(FXTR,pair(scrypt(K_MSMR,pair(K_MnFlocator,K_FlocatorHlocator)),pair(KeyMnFlocatorKeyMnHlocator,pair(SignedKeyMnFlocatorKeyMnHlocator,scrypt(K_MSMR,pair(FXTR,pair(scrypt(K_MSMR,pair(K_MnFlocator,K_FlocatorHlocator)),pair(KeyMnFlocatorKeyMnHlocator,SignedKeyMnFlocatorKeyMnHlocator)))))))))
 =>
 state_iServer_MR(MR,MS,FXTR,MN,K_FlocatorMR,K_MSMR,2,K_MnFlocator,K_FlocatorHlocator,SignedRegReq,KeyMnFlocatorKeyMnHlocator,SignedKeyMnFlocatorKeyMnHlocator,SID).
 iknows(pair(FXTR,pair(scrypt(K_FlocatorMR,pair(K_MnFlocator,K_FlocatorHlocator)),pair(KeyMnFlocatorKeyMnHlocator,pair(SignedKeyMnFlocatorKeyMnHlocator,scrypt(K_FlocatorMR,pair(FXTR,pair(scrypt(K_FlocatorMR,pair(K_MnFlocator,K_FlocatorHlocator)),pair(KeyMnFlocatorKeyMnHlocator,SignedKeyMnFlocatorKeyMnHlocator)))))))))

step step_7 (MS,MR,HXTR,FXTR,MN,K_MnMS,K_MSMR,KMSHlocator,Dummy_K_FlocatorHlocator,Dummy_K_MnHlocator,Dummy_K_MnFlocator,Set_74,Set_76,Set_77,SID,K_FlocatorHlocator,K_MnHlocator,K_MnFlocator) :=
 state_iServer_MS(MS,MR,HXTR,FXTR,MN,K_MnMS,K_MSMR,KMSHlocator,0,Dummy_K_FlocatorHlocator,Dummy_K_MnHlocator,Dummy_K_MnFlocator,Set_74,Set_76,Set_77,SID).
 iknows(pair(FXTR,pair(MN,pair(MS,scrypt(K_MnMS,pair(FXTR,pair(MN,MS)))))))
=[exists K_FlocatorHlocator,K_MnFlocator,K_MnHlocator]=>
 state_iServer_MS(MS,MR,HXTR,FXTR,MN,K_MnMS,K_MSMR,KMSHlocator,1,K_FlocatorHlocator,K_MnHlocator,K_MnFlocator,Set_74,Set_76,Set_77,SID).
 iknows(pair(MN,pair(scrypt(KMSHlocator,pair(K_MnHlocator,K_FlocatorHlocator)),pair(scrypt(K_MnMS,pair(K_MnFlocator,K_MnHlocator)),scrypt(KMSHlocator,pair(MN,pair(scrypt(KMSHlocator,pair(K_MnHlocator,K_FlocatorHlocator)),scrypt(K_MnMS,pair(K_MnFlocator,K_MnHlocator))))))))).
 witness(MS,FXTR,k_flocatorhlocator1,K_FlocatorHlocator).
 witness(MS,HXTR,k_flocatorhlocator2,K_FlocatorHlocator).
 witness(MS,FXTR,k_mnflocator1,K_MnFlocator).
 witness(MS,MN,k_mnflocator2,K_MnFlocator).
 witness(MS,MN,k_mnhlocator2,K_MnHlocator).
 witness(MS,HXTR,k_mnhlocator1,K_MnHlocator)

step step_8 (MS,MR,HXTR,FXTR,MN,K_MnMS,K_MSMR,KMSHlocator,K_FlocatorHlocator,K_MnHlocator,K_MnFlocator,Dummy_Set_74,Dummy_Set_76,Dummy_Set_77,SID) :=
 state_iServer_MS(MS,MR,HXTR,FXTR,MN,K_MnMS,K_MSMR,KMSHlocator,1,K_FlocatorHlocator,K_MnHlocator,K_MnFlocator,Dummy_Set_74,Dummy_Set_76,Dummy_Set_77,SID).
 iknows(pair(scrypt(K_MnMS,pair(K_MnFlocator,K_MnHlocator)),pair(scrypt(K_MnHlocator,scrypt(K_MnMS,pair(K_MnFlocator,K_MnHlocator))),scrypt(KMSHlocator,pair(scrypt(K_MnMS,pair(K_MnFlocator,K_MnHlocator)),scrypt(K_MnHlocator,scrypt(K_MnMS,pair(K_MnFlocator,K_MnHlocator))))))))
 =>
 state_iServer_MS(MS,MR,HXTR,FXTR,MN,K_MnMS,K_MSMR,KMSHlocator,2,K_FlocatorHlocator,K_MnHlocator,K_MnFlocator,Dummy_Set_74,Dummy_Set_76,Dummy_Set_77,SID).
 iknows(pair(FXTR,pair(scrypt(K_MSMR,pair(K_MnFlocator,K_FlocatorHlocator)),pair(scrypt(K_MnMS,pair(K_MnFlocator,K_MnHlocator)),pair(scrypt(K_MnHlocator,scrypt(K_MnMS,pair(K_MnFlocator,K_MnHlocator))),scrypt(K_MSMR,pair(FXTR,pair(scrypt(K_MSMR,pair(K_MnFlocator,K_FlocatorHlocator)),pair(scrypt(K_MnMS,pair(K_MnFlocator,K_MnHlocator)),scrypt(K_MnHlocator,scrypt(K_MnMS,pair(K_MnFlocator,K_MnHlocator)))))))))))).
 secret(K_FlocatorHlocator,secFXTRHXTR,Dummy_Set_74).
 secret(K_MnFlocator,secFXTRMN,Dummy_Set_76).
 secret(K_MnHlocator,secMNHXTR,Dummy_Set_77).
 contains(FXTR,Dummy_Set_74).
 contains(HXTR,Dummy_Set_74).
 contains(FXTR,Dummy_Set_76).
 contains(MN,Dummy_Set_76).
 contains(MN,Dummy_Set_77).
 contains(HXTR,Dummy_Set_77)

step step_9 (HXTR,MS,MN,K_MSHlocator,K_MnFlocator,Dummy_K_FlocatorHlocator,Dummy_K_MnHlocator,Dummy_KeyMnFlocatorKeyMnHlocator,SID,K_FlocatorHlocator,K_MnHlocator,KeyMnFlocatorKeyMnHlocator) :=
 state_iRouter_HXTR(HXTR,MS,MN,K_MSHlocator,0,K_MnFlocator,Dummy_K_FlocatorHlocator,Dummy_K_MnHlocator,Dummy_KeyMnFlocatorKeyMnHlocator,SID).
 iknows(pair(MN,pair(scrypt(K_MSHlocator,pair(K_MnHlocator,K_FlocatorHlocator)),pair(KeyMnFlocatorKeyMnHlocator,scrypt(K_MSHlocator,pair(MN,pair(scrypt(K_MSHlocator,pair(K_MnHlocator,K_FlocatorHlocator)),KeyMnFlocatorKeyMnHlocator)))))))
 =>
 state_iRouter_HXTR(HXTR,MS,MN,K_MSHlocator,1,K_MnFlocator,K_FlocatorHlocator,K_MnHlocator,KeyMnFlocatorKeyMnHlocator,SID).
 iknows(pair(KeyMnFlocatorKeyMnHlocator,pair(scrypt(K_MnHlocator,KeyMnFlocatorKeyMnHlocator),scrypt(K_MSHlocator,pair(KeyMnFlocatorKeyMnHlocator,scrypt(K_MnHlocator,KeyMnFlocatorKeyMnHlocator)))))).
 wrequest(HXTR,MS,k_flocatorhlocator2,K_FlocatorHlocator,SID).
 wrequest(HXTR,MS,k_mnhlocator1,K_MnHlocator,SID)


section properties:

property secrecy_of_secFXTRHXTR (MGoal,ASGoal) :=
 [] ((secret(MGoal,secFXTRHXTR,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secFXTRMN (MGoal,ASGoal) :=
 [] ((secret(MGoal,secFXTRMN,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_secMNHXTR (MGoal,ASGoal) :=
 [] ((secret(MGoal,secMNHXTR,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property weak_authentication_on_k_flocatorhlocator1 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_flocatorhlocator1,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_flocatorhlocator1,MGoal))

property weak_authentication_on_k_mnflocator1 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_mnflocator1,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_mnflocator1,MGoal))

property weak_authentication_on_k_flocatorhlocator2 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_flocatorhlocator2,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_flocatorhlocator2,MGoal))

property weak_authentication_on_k_mnhlocator1 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_mnhlocator1,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_mnhlocator1,MGoal))

property weak_authentication_on_k_mnhlocator2 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_mnhlocator2,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_mnhlocator2,MGoal))

property weak_authentication_on_k_mnflocator2 (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_mnflocator2,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_mnflocator2,MGoal))


section attack_states:

attack_state secrecy_of_secFXTRHXTR (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secFXTRHXTR,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secFXTRMN (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secFXTRMN,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_secMNHXTR (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,secMNHXTR,ASGoal) &
 not(contains(i,ASGoal))

attack_state weak_authentication_on_k_flocatorhlocator1 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_flocatorhlocator1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_flocatorhlocator1,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_mnflocator1 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_mnflocator1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_mnflocator1,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_flocatorhlocator2 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_flocatorhlocator2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_flocatorhlocator2,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_mnhlocator1 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_mnhlocator1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_mnhlocator1,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_mnhlocator2 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_mnhlocator2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_mnhlocator2,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_mnflocator2 (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_mnflocator2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_mnflocator2,MGoal)) &
 not(equal(A2Goal,i))

