%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileAvjm5b

section signature:

state_bob: agent * agent * symmetric_key * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * set(text) * set(text) * set(text) * set(agent) * nat -> fact
state_alice: agent * agent * symmetric_key * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * set(text) * set(text) * set(text) * set(agent) * nat -> fact


section types:

Set_93, Set_92, Set_91, Dummy_Set_93, Dummy_Set_92, Dummy_Set_91, Set_51, Set_50, Set_48, Dummy_Set_51, Dummy_Set_50, Dummy_Set_48: set(text)
alice_bob_tu, bob_alice_ts, alice_bob_rnu, bob_alice_rns, subs1, subs2, subs3: protocol_id
set_176, set_175, set_174, set_173, set_171, set_170, set_169, set_168, set_156, set_155, set_154, set_153, set_131, set_130, set_129, set_128: set
Set_94, Dummy_Set_94, Set_52, Dummy_Set_52, ASGoal: set(agent)
M1, M2, M3, M4, M5, M6, M7, M8, M9, Dummy_M9, Dummy_M8, Dummy_M7, Dummy_M5, Dummy_M4, Dummy_M3, Dummy_M2, start, Dummy_M1, dummy_msg, MGoal: message
7, 6, State, 4, SID, 3, 2, 1, 0, Dummy_State, SID2, SID1: nat
RPWi, PWi, RBi, Bi, Xs, K, N, IDi, NIDi, TDi, Di, Fi, Tu, Ts, RNu, RNs, Dummy_RNs, Dummy_Ts, Dummy_RNu, Dummy_Tu, Dummy_TDi, Dummy_NIDi, Dummy_N, Dummy_RBi, Dummy_RPWi, dummy_nonce, pwi, bi, xs, k, idi, nidi, tu, ts, rnu, rns: text
H, Hc, h, hc: hash_func
SKuisj, skuisj: symmetric_key
Ui, Sj, A2Goal, A1Goal, ui, sj, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(sj).
 iknows(hc).
 iknows(h).
 iknows(tu).
 iknows(ts).
 iknows(i).
 state_alice(ui,sj,skuisj,hc,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_128,set_129,set_130,set_131,3).
 state_bob(sj,ui,skuisj,hc,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_153,set_154,set_155,set_156,4).
 state_alice(ui,sj,skuisj,hc,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_168,set_169,set_170,set_171,6).
 state_bob(sj,ui,skuisj,hc,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_173,set_174,set_175,set_176,7)


section rules:

step step_0 (Ui,Sj,SKuisj,Hc,H,Dummy_RPWi,PWi,Dummy_RBi,Bi,Xs,K,Dummy_N,IDi,NIDi,TDi,Di,Fi,Tu,Ts,RNu,RNs,M1,M2,M3,M4,M5,M6,M7,M8,M9,Dummy_Set_48,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,SID,N) :=
 state_alice(Ui,Sj,SKuisj,Hc,H,0,Dummy_RPWi,PWi,Dummy_RBi,Bi,Xs,K,Dummy_N,IDi,NIDi,TDi,Di,Fi,Tu,Ts,RNu,RNs,M1,M2,M3,M4,M5,M6,M7,M8,M9,Dummy_Set_48,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,SID).
 iknows(start)
=[exists N]=>
 state_alice(Ui,Sj,SKuisj,Hc,H,1,xor(apply(Hc,PWi),N),PWi,xor(apply(H,Bi),N),Bi,Xs,K,N,IDi,NIDi,TDi,Di,Fi,Tu,Ts,RNu,RNs,M1,M2,M3,M4,M5,M6,M7,M8,M9,Dummy_Set_48,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,SID).
 iknows(scrypt(SKuisj,pair(IDi,pair(xor(apply(Hc,PWi),N),xor(apply(H,Bi),N))))).
 secret(Dummy_Set_48,subs1,Sj).
 secret(Dummy_Set_50,subs2,Ui).
 secret(Dummy_Set_51,subs3,Dummy_Set_52).
 contains(Xs,Dummy_Set_48).
 contains(PWi,Dummy_Set_50).
 contains(Bi,Dummy_Set_50).
 contains(K,Dummy_Set_50).
 contains(IDi,Dummy_Set_51).
 contains(Ui,Dummy_Set_52).
 contains(Sj,Dummy_Set_52)

step step_1 (Ui,Sj,SKuisj,Hc,H,RPWi,PWi,RBi,Bi,Xs,K,N,IDi,Dummy_NIDi,Dummy_TDi,Di,Fi,Dummy_Tu,Ts,Dummy_RNu,RNs,Dummy_M1,Dummy_M2,Dummy_M3,M4,M5,M6,M7,M8,M9,Set_48,Set_50,Set_51,Set_52,SID,NIDi,Tu,RNu) :=
 state_alice(Ui,Sj,SKuisj,Hc,H,1,RPWi,PWi,RBi,Bi,Xs,K,N,IDi,Dummy_NIDi,Dummy_TDi,Di,Fi,Dummy_Tu,Ts,Dummy_RNu,RNs,Dummy_M1,Dummy_M2,Dummy_M3,M4,M5,M6,M7,M8,M9,Set_48,Set_50,Set_51,Set_52,SID).
 iknows(scrypt(SKuisj,pair(xor(NIDi,apply(Hc,IDi)),pair(xor(NIDi,apply(Hc,IDi)),pair(apply(Hc,apply(Hc,xor(IDi,Xs))),pair(xor(apply(Hc,xor(IDi,Xs)),apply(Hc,xor(xor(apply(Hc,PWi),apply(H,Bi)),IDi))),pair(Hc,H)))))))
=[exists RNu,Tu]=>
 state_alice(Ui,Sj,SKuisj,Hc,H,2,RPWi,PWi,RBi,Bi,Xs,K,N,IDi,NIDi,xor(NIDi,apply(Hc,IDi)),Di,Fi,Tu,Ts,RNu,RNs,apply(Hc,xor(IDi,Xs)),xor(xor(apply(Hc,xor(IDi,Xs)),RNu),Tu),apply(Hc,pair(apply(Hc,xor(IDi,Xs)),pair(RNu,pair(Tu,IDi)))),M4,M5,M6,M7,M8,M9,Set_48,Set_50,Set_51,Set_52,SID).
 iknows(pair(xor(apply(Hc,IDi),xor(NIDi,apply(Hc,IDi))),pair(xor(xor(apply(Hc,xor(IDi,Xs)),RNu),Tu),apply(Hc,pair(apply(Hc,xor(IDi,Xs)),pair(RNu,pair(Tu,IDi))))))).
 witness(Ui,Sj,alice_bob_tu,Tu).
 witness(Ui,Sj,alice_bob_rnu,RNu)

step step_2 (Ui,Sj,SKuisj,Hc,H,RPWi,PWi,RBi,Bi,Xs,K,N,IDi,Dummy_NIDi,TDi,Di,Fi,Dummy_Tu,Dummy_Ts,Dummy_RNu,Dummy_RNs,M1,M2,M3,M4,M5,M6,M7,M8,M9,Set_48,Set_50,Set_51,Set_52,SID,NIDi,Tu,Ts,RNu,RNs) :=
 state_alice(Ui,Sj,SKuisj,Hc,H,2,RPWi,PWi,RBi,Bi,Xs,K,N,IDi,Dummy_NIDi,TDi,Di,Fi,Dummy_Tu,Dummy_Ts,Dummy_RNu,Dummy_RNs,M1,M2,M3,M4,M5,M6,M7,M8,M9,Set_48,Set_50,Set_51,Set_52,SID).
 iknows(pair(xor(xor(apply(Hc,xor(IDi,Xs)),RNs),Ts),pair(apply(Hc,pair(apply(Hc,xor(IDi,Xs)),pair(RNs,pair(Ts,pair(RNu,pair(Tu,pair(IDi,NIDi))))))),pair(xor(NIDi,apply(Hc,pair(apply(Hc,xor(IDi,Xs)),pair(RNs,pair(Ts,IDi))))),Ts))))
 =>
 state_alice(Ui,Sj,SKuisj,Hc,H,3,RPWi,PWi,RBi,Bi,Xs,K,N,IDi,NIDi,TDi,Di,Fi,Tu,Ts,RNu,RNs,M1,M2,M3,M4,M5,M6,M7,M8,M9,Set_48,Set_50,Set_51,Set_52,SID).
 request(Sj,Ui,bob_alice_ts,Ts,SID).
 request(Sj,Ui,bob_alice_rns,RNs,SID)

step step_3 (Sj,Ui,SKuisj,Hc,H,RPWi,PWi,RBi,Bi,Xs,K,Dummy_N,IDi,Dummy_NIDi,TDi,Di,Fi,Tu,Ts,RNu,RNs,M1,M2,M3,M4,M5,M6,M7,M8,M9,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,SID,N,NIDi) :=
 state_bob(Sj,Ui,SKuisj,Hc,H,0,RPWi,PWi,RBi,Bi,Xs,K,Dummy_N,IDi,Dummy_NIDi,TDi,Di,Fi,Tu,Ts,RNu,RNs,M1,M2,M3,M4,M5,M6,M7,M8,M9,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,SID).
 iknows(scrypt(SKuisj,pair(IDi,pair(xor(apply(Hc,PWi),N),xor(apply(H,Bi),N)))))
=[exists NIDi]=>
 state_bob(Sj,Ui,SKuisj,Hc,H,1,RPWi,PWi,RBi,Bi,Xs,K,N,IDi,NIDi,TDi,Di,Fi,Tu,Ts,RNu,RNs,M1,M2,M3,M4,M5,M6,M7,M8,M9,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,SID).
 secret(Dummy_Set_91,subs1,Sj).
 secret(Dummy_Set_92,subs2,Ui).
 secret(Dummy_Set_93,subs3,Dummy_Set_94).
 iknows(scrypt(SKuisj,pair(xor(NIDi,apply(Hc,IDi)),pair(xor(NIDi,apply(Hc,IDi)),pair(apply(Hc,apply(Hc,xor(IDi,Xs))),pair(xor(apply(Hc,xor(IDi,Xs)),apply(Hc,xor(xor(apply(Hc,PWi),apply(H,Bi)),IDi))),pair(Hc,H))))))).
 contains(Xs,Dummy_Set_91).
 contains(PWi,Dummy_Set_92).
 contains(Bi,Dummy_Set_92).
 contains(K,Dummy_Set_92).
 contains(IDi,Dummy_Set_93).
 contains(Ui,Dummy_Set_94).
 contains(Sj,Dummy_Set_94)

step step_4 (Sj,Ui,SKuisj,Hc,H,RPWi,PWi,RBi,Bi,Xs,K,N,IDi,Dummy_NIDi,TDi,Di,Fi,Dummy_Tu,Dummy_Ts,Dummy_RNu,Dummy_RNs,Dummy_M1,Dummy_M2,M3,Dummy_M4,Dummy_M5,M6,Dummy_M7,Dummy_M8,Dummy_M9,Set_91,Set_92,Set_93,Set_94,SID,NIDi,Tu,Ts,RNu,RNs) :=
 state_bob(Sj,Ui,SKuisj,Hc,H,1,RPWi,PWi,RBi,Bi,Xs,K,N,IDi,Dummy_NIDi,TDi,Di,Fi,Dummy_Tu,Dummy_Ts,Dummy_RNu,Dummy_RNs,Dummy_M1,Dummy_M2,M3,Dummy_M4,Dummy_M5,M6,Dummy_M7,Dummy_M8,Dummy_M9,Set_91,Set_92,Set_93,Set_94,SID).
 iknows(pair(xor(apply(Hc,IDi),xor(NIDi,apply(Hc,IDi))),pair(xor(xor(apply(Hc,xor(IDi,Xs)),RNu),Tu),apply(Hc,pair(apply(Hc,xor(IDi,Xs)),pair(RNu,pair(Tu,IDi)))))))
=[exists RNs,Ts]=>
 state_bob(Sj,Ui,SKuisj,Hc,H,2,RPWi,PWi,RBi,Bi,Xs,K,N,IDi,NIDi,TDi,Di,Fi,Tu,Ts,RNu,RNs,apply(Hc,xor(IDi,Xs)),xor(xor(apply(Hc,xor(IDi,Xs)),RNu),Tu),M3,apply(Hc,xor(IDi,Xs)),xor(xor(xor(xor(apply(Hc,xor(IDi,Xs)),RNu),Tu),Tu),apply(Hc,xor(IDi,Xs))),M6,xor(xor(apply(Hc,xor(IDi,Xs)),RNs),Ts),apply(Hc,pair(apply(Hc,xor(IDi,Xs)),pair(RNs,pair(Ts,pair(xor(xor(xor(xor(apply(Hc,xor(IDi,Xs)),RNu),Tu),Tu),apply(Hc,xor(IDi,Xs))),pair(Tu,pair(IDi,NIDi))))))),xor(NIDi,apply(Hc,pair(apply(Hc,xor(IDi,Xs)),pair(RNs,pair(Ts,IDi))))),Set_91,Set_92,Set_93,Set_94,SID).
 iknows(pair(xor(xor(apply(Hc,xor(IDi,Xs)),RNs),Ts),pair(apply(Hc,pair(apply(Hc,xor(IDi,Xs)),pair(RNs,pair(Ts,pair(xor(xor(xor(xor(apply(Hc,xor(IDi,Xs)),RNu),Tu),Tu),apply(Hc,xor(IDi,Xs))),pair(Tu,pair(IDi,NIDi))))))),pair(xor(NIDi,apply(Hc,pair(apply(Hc,xor(IDi,Xs)),pair(RNs,pair(Ts,IDi))))),Ts)))).
 witness(Sj,Ui,bob_alice_ts,Ts).
 witness(Sj,Ui,bob_alice_rns,RNs).
 request(Ui,Sj,alice_bob_tu,Tu,SID).
 request(Ui,Sj,alice_bob_rnu,RNu,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob_tu (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_tu,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_tu,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_tu,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_tu,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_alice_bob_rnu (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_rnu,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_rnu,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_rnu,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_rnu,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_ts (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_ts,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_ts,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_ts,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_ts,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_rns (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_rns,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_rns,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_rns,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_rns,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob_tu (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_tu,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_tu,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_tu (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_tu,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_tu,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_alice_bob_rnu (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_rnu,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_rnu,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_rnu (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_rnu,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_rnu,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_ts (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_ts,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_ts,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_ts (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_ts,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_ts,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_rns (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_rns,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_rns,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_rns (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_rns,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_rns,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

