%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileQFvxWU

section signature:

state_chap_Resp: agent * agent * symmetric_key * public_key * hash_func * nat * text * text * nat -> fact
state_chap_Init: agent * agent * symmetric_key * public_key * hash_func * nat * text * text * set(agent) * nat -> fact


section types:

set_78, set_76, set_66: set
nb, na, sec_kab1: protocol_id
Na, Nb, Dummy_Nb, Dummy_Na, dummy_nonce: text
State, 9, 6, 4, 3, SID, Dummy_State, 2, 1, 0, SID2, SID1: nat
Dummy_Set_22, Set_22, ASGoal: set(agent)
start, MGoal: message
H, hab, hai, hib: hash_func
Kb, kb, ki: public_key
Kab, kab, kai, kbi: symmetric_key
b, B, A, A2Goal, A1Goal, i, a: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(b).
 iknows(hai).
 iknows(hib).
 iknows(ki).
 iknows(kai).
 iknows(kbi).
 iknows(i).
 state_chap_Init(a,b,kab,kb,hab,0,dummy_nonce,dummy_nonce,set_66,3).
 state_chap_Resp(b,a,kab,kb,hab,0,dummy_nonce,dummy_nonce,4).
 state_chap_Init(a,i,kai,ki,hai,0,dummy_nonce,dummy_nonce,set_76,6).
 state_chap_Init(b,i,kbi,kb,hib,0,dummy_nonce,dummy_nonce,set_78,9)


section rules:

step step_0 (A,B,Kab,Kb,H,Na,Nb,Set_22,SID) :=
 state_chap_Init(A,B,Kab,Kb,H,0,Na,Nb,Set_22,SID).
 iknows(start)
 =>
 state_chap_Init(A,B,Kab,Kb,H,1,Na,Nb,Set_22,SID).
 iknows(A)

step step_1 (A,B,Kab,Kb,H,Dummy_Na,Dummy_Nb,Dummy_Set_22,SID,Na,Nb) :=
 state_chap_Init(A,B,Kab,Kb,H,1,Dummy_Na,Dummy_Nb,Dummy_Set_22,SID).
 iknows(Nb)
=[exists Na]=>
 state_chap_Init(A,B,Kab,Kb,H,2,Na,Nb,Dummy_Set_22,SID).
 iknows(apply(H,pair(Kab,pair(Na,pair(Nb,A))))).
 witness(A,B,na,Na).
 secret(Kab,sec_kab1,Dummy_Set_22).
 contains(A,Dummy_Set_22).
 contains(B,Dummy_Set_22)

step step_2 (A,B,Kab,Kb,H,Na,Nb,Set_22,SID) :=
 state_chap_Init(A,B,Kab,Kb,H,2,Na,Nb,Set_22,SID).
 iknows(Na)
 =>
 state_chap_Init(A,B,Kab,Kb,H,3,Na,Nb,Set_22,SID).
 request(A,B,nb,Nb,SID)

step step_3 (B,A,Kab,Kb,H,Na,Dummy_Nb,SID,Nb) :=
 state_chap_Resp(B,A,Kab,Kb,H,0,Na,Dummy_Nb,SID).
 iknows(A)
=[exists Nb]=>
 state_chap_Resp(B,A,Kab,Kb,H,1,Na,Nb,SID).
 iknows(Nb).
 witness(B,A,nb,Nb)

step step_4 (B,A,Kab,Kb,H,Dummy_Na,Nb,SID,Na) :=
 state_chap_Resp(B,A,Kab,Kb,H,1,Dummy_Na,Nb,SID).
 iknows(apply(H,pair(Kab,pair(Na,pair(Nb,A)))))
 =>
 state_chap_Resp(B,A,Kab,Kb,H,2,Na,Nb,SID).
 iknows(Na).
 request(B,A,na,Na,SID)


section properties:

property secrecy_of_sec_kab1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_kab1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_nb (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,nb,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,nb,MGoal))
     /\ ((request(A1Goal,A2Goal,nb,MGoal,SID1)
           /\ request(A1Goal,A2Goal,nb,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_na (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,na,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,na,MGoal))
     /\ ((request(A1Goal,A2Goal,na,MGoal,SID1)
           /\ request(A1Goal,A2Goal,na,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec_kab1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_kab1,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_nb (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,nb,MGoal,SID) &
 not(witness(A2Goal,A1Goal,nb,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_nb (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,nb,MGoal,SID1).
 request(A1Goal,A2Goal,nb,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_na (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,na,MGoal,SID) &
 not(witness(A2Goal,A1Goal,na,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_na (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,na,MGoal,SID1).
 request(A1Goal,A2Goal,na,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

