%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileeu2n4QzjlW

section signature:

state_server: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * symmetric_key * nat -> fact
state_user: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(agent) * set(agent) * nat -> fact


section types:

h, H: hash_func
x, ki, Xs, X, Dummy_Xs, dummy_sk, Dummy_X: symmetric_key
State, 7, 6, 3, 2, 1, 0, 4, SID, Dummy_State: nat
Vi, Rnew, V2, IDnewstar, T1, T2, T3, ID, PW, B, Bi, TuX, D1, IM1, IM2, IM3, IM4, IMstar2, SK, Y1, Y2, Y3, Kinew, IMstar1, V, Ki, TCol, CtrUi, Kinewstar, R, Dummy_IDnewstar, Dummy_Kinewstar, Dummy_Rnew, Dummy_IMstar2, Dummy_V, Dummy_IMstar1, Dummy_Kinew, Dummy_TCol, Dummy_Ki, Dummy_R, Dummy_T3, Dummy_T2, Dummy_Y3, Dummy_Y2, Dummy_Y1, Dummy_V2, Dummy_IMstar2new, Dummy_IMstar1new, Dummy_SK, Dummy_TColSec, Dummy_TuX, IMstar1new, Dummy_CtrUi, IMstar2new, Dummy_IM4, TColSec, Dummy_IM3, Dummy_IM2, Fi, Dummy_IM1, Dummy_D1, Dummy_Vi, D2, Dummy_Fi, RPWi, Dummy_D2, Tu, Dummy_T1, Dummy_RPWi, Dummy_B, Dummy_Bi, Dummy_PW, Dummy_ID, dummy_nonce: text
set_157, set_156, set_153, set_152, set_104, set_103: set
U, S, server, user, i: agent
Set_46, Set_43, Dummy_Set_46, Dummy_Set_43, ASGoal: set(agent)
start, MGoal: message


section inits:

initial_state init1 := 
 iknows(start).
 iknows(user).
 iknows(server).
 iknows(i).
 state_user(user,server,x,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_103,set_104,3).
 state_server(user,server,x,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,4).
 state_user(user,i,x,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_152,set_153,6).
 state_server(user,i,x,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,7)


section rules:

step step_0 (U,S,X,H,Dummy_ID,Dummy_PW,Dummy_Bi,Dummy_B,Dummy_RPWi,Tu,T1,D2,Fi,Vi,TColSec,SK,IMstar1new,IMstar2new,V2,D1,IM1,IM2,IM3,IM4,CtrUi,Y1,Y2,Y3,TuX,T2,T3,Dummy_Set_43,Dummy_Set_46,SID,ID,PW,Bi,B) :=
 state_user(U,S,X,H,0,Dummy_ID,Dummy_PW,Dummy_Bi,Dummy_B,Dummy_RPWi,Tu,T1,D2,Fi,Vi,TColSec,SK,IMstar1new,IMstar2new,V2,D1,IM1,IM2,IM3,IM4,CtrUi,Y1,Y2,Y3,TuX,T2,T3,Dummy_Set_43,Dummy_Set_46,SID).
 iknows(start)
=[exists B,Bi,PW,ID]=>
 state_user(U,S,X,H,1,ID,PW,Bi,B,apply(H,pair(apply(H,pair(ID,PW)),apply(H,Bi))),Tu,T1,D2,Fi,Vi,TColSec,SK,IMstar1new,IMstar2new,V2,D1,IM1,IM2,IM3,IM4,CtrUi,Y1,Y2,Y3,TuX,T2,T3,Dummy_Set_43,Dummy_Set_46,SID).
 iknows(pair(ID,apply(H,pair(apply(H,pair(ID,pair(PW,B))),apply(H,Bi))))).
 secret(PW,us_pw,Dummy_Set_43).
 secret(ID,us_id,Dummy_Set_46).
 contains(U,Dummy_Set_43).
 contains(S,Dummy_Set_43).
 contains(U,Dummy_Set_46).
 contains(S,Dummy_Set_46)

step step_1 (U,S,Dummy_X,H,ID,PW,Bi,B,RPWi,Tu,Dummy_T1,Dummy_D2,Dummy_Fi,Dummy_Vi,TColSec,SK,IMstar1new,IMstar2new,V2,Dummy_D1,Dummy_IM1,Dummy_IM2,Dummy_IM3,Dummy_IM4,Dummy_CtrUi,Y1,Y2,Y3,Dummy_TuX,T2,T3,Set_43,Set_46,SID,T1,D1,IM1,IM2,IM3,IM4,CtrUi,TuX) :=
 state_user(U,S,Dummy_X,H,1,ID,PW,Bi,B,RPWi,Tu,Dummy_T1,Dummy_D2,Dummy_Fi,Dummy_Vi,TColSec,SK,IMstar1new,IMstar2new,V2,Dummy_D1,Dummy_IM1,Dummy_IM2,Dummy_IM3,Dummy_IM4,Dummy_CtrUi,Y1,Y2,Y3,Dummy_TuX,T2,T3,Set_43,Set_46,SID).
 iknows(pair(D1,pair(IM1,pair(IM2,pair(IM3,pair(IM4,CtrUi))))))
=[exists T1,TuX]=>
 state_user(U,S,xor(D1,apply(H,pair(apply(H,pair(ID,pair(PW,B))),apply(H,Bi)))),H,2,ID,PW,Bi,B,RPWi,Tu,T1,xor(RPWi,B),apply(H,pair(RPWi,B)),apply(H,pair(xor(D1,apply(H,pair(apply(H,pair(ID,pair(PW,B))),apply(H,Bi)))),pair(IM1,pair(IM2,pair(scrypt(xor(D1,apply(H,pair(apply(H,pair(ID,pair(PW,B))),apply(H,Bi)))),CtrUi),pair(TuX,T1)))))),TColSec,SK,IMstar1new,IMstar2new,V2,D1,IM1,IM2,IM3,IM4,CtrUi,Y1,Y2,Y3,TuX,T2,T3,Set_43,Set_46,SID).
 iknows(pair(IM1,pair(IM2,pair(TuX,pair(scrypt(xor(D1,apply(H,pair(apply(H,pair(ID,pair(PW,B))),apply(H,Bi)))),CtrUi),pair(apply(H,pair(xor(D1,apply(H,pair(apply(H,pair(ID,pair(PW,B))),apply(H,Bi)))),pair(IM1,pair(IM2,pair(scrypt(xor(D1,apply(H,pair(apply(H,pair(ID,pair(PW,B))),apply(H,Bi)))),CtrUi),pair(TuX,T1)))))),T1))))))

step step_2 (U,S,X,H,ID,PW,Bi,B,RPWi,Tu,T1,D2,Fi,Vi,Dummy_TColSec,Dummy_SK,Dummy_IMstar1new,Dummy_IMstar2new,Dummy_V2,D1,IM1,IM2,IM3,IM4,CtrUi,Dummy_Y1,Dummy_Y2,Dummy_Y3,Dummy_TuX,Dummy_T2,Dummy_T3,Set_43,Set_46,SID,TColSec,Y1,Y2,Y3,TuX,T2,T3) :=
 state_user(U,S,X,H,2,ID,PW,Bi,B,RPWi,Tu,T1,D2,Fi,Vi,Dummy_TColSec,Dummy_SK,Dummy_IMstar1new,Dummy_IMstar2new,Dummy_V2,D1,IM1,IM2,IM3,IM4,CtrUi,Dummy_Y1,Dummy_Y2,Dummy_Y3,Dummy_TuX,Dummy_T2,Dummy_T3,Set_43,Set_46,SID).
 iknows(pair(Y1,pair(Y2,pair(Y3,pair(TuX,T2)))))
=[exists T3,TColSec]=>
 state_user(U,S,X,H,3,ID,PW,Bi,B,RPWi,Tu,T1,D2,Fi,Vi,TColSec,apply(H,pair(TColSec,CtrUi)),xor(Dummy_Y1,xor(apply(H,pair(apply(H,pair(TColSec,CtrUi)),T1)),apply(H,pair(ID,CtrUi)))),xor(Dummy_Y2,xor(apply(H,pair(apply(H,pair(TColSec,CtrUi)),Dummy_T2)),apply(H,pair(ID,CtrUi)))),apply(H,pair(xor(Dummy_Y1,xor(apply(H,pair(apply(H,pair(TColSec,CtrUi)),T1)),apply(H,pair(ID,CtrUi)))),pair(xor(Dummy_Y2,xor(apply(H,pair(apply(H,pair(TColSec,CtrUi)),Dummy_T2)),apply(H,pair(ID,CtrUi)))),pair(apply(H,pair(TColSec,CtrUi)),T3)))),D1,IM1,IM2,IM3,IM4,CtrUi,Y1,Y2,Y3,TuX,T2,T3,Set_43,Set_46,SID).
 iknows(pair(apply(H,pair(xor(Dummy_Y1,xor(apply(H,pair(apply(H,pair(TColSec,CtrUi)),T1)),apply(H,pair(ID,CtrUi)))),pair(xor(Dummy_Y2,xor(apply(H,pair(apply(H,pair(TColSec,CtrUi)),Dummy_T2)),apply(H,pair(ID,CtrUi)))),pair(apply(H,pair(TColSec,CtrUi)),T3)))),T3))

step step_3 (S,U,X,H,Dummy_R,Dummy_CtrUi,Kinewstar,Dummy_Ki,TCol,Kinew,IMstar1,V,IMstar2,SK,Y1,Y2,Y3,Dummy_D1,Dummy_IM1,Dummy_IM2,Dummy_IM3,Dummy_IM4,Dummy_ID,Dummy_PW,Dummy_B,Dummy_Bi,TuX,T1,T2,T3,Vi,Rnew,V2,IDnewstar,Dummy_Xs,SID,R,CtrUi,ID,PW,B,Bi,Xs) :=
 state_server(S,U,X,H,0,Dummy_R,Dummy_CtrUi,Kinewstar,Dummy_Ki,TCol,Kinew,IMstar1,V,IMstar2,SK,Y1,Y2,Y3,Dummy_D1,Dummy_IM1,Dummy_IM2,Dummy_IM3,Dummy_IM4,Dummy_ID,Dummy_PW,Dummy_B,Dummy_Bi,TuX,T1,T2,T3,Vi,Rnew,V2,IDnewstar,Dummy_Xs,SID).
 iknows(pair(ID,apply(H,pair(apply(H,pair(ID,pair(PW,B))),apply(H,Bi)))))
=[exists CtrUi,Xs,R]=>
 state_server(S,U,X,H,1,R,CtrUi,Kinewstar,scrypt(Xs,pair(R,CtrUi)),TCol,Kinew,IMstar1,V,IMstar2,SK,Y1,Y2,Y3,xor(apply(H,pair(Dummy_ID,Xs)),apply(H,pair(apply(H,pair(Dummy_ID,pair(Dummy_PW,Dummy_B))),apply(H,Dummy_Bi)))),xor(apply(H,Xs),scrypt(Xs,pair(R,CtrUi))),xor(apply(H,pair(Xs,scrypt(Xs,pair(R,CtrUi)))),ID),xor(apply(H,Xs),scrypt(Xs,pair(R,CtrUi))),xor(apply(H,pair(Xs,scrypt(Xs,pair(R,CtrUi)))),ID),ID,PW,B,Bi,TuX,T1,T2,T3,Vi,Rnew,V2,IDnewstar,Xs,SID).
 iknows(pair(xor(apply(H,pair(Dummy_ID,Xs)),apply(H,pair(apply(H,pair(Dummy_ID,pair(Dummy_PW,Dummy_B))),apply(H,Dummy_Bi)))),pair(xor(apply(H,Xs),scrypt(Xs,pair(R,CtrUi))),pair(xor(apply(H,pair(Xs,scrypt(Xs,pair(R,CtrUi)))),ID),pair(xor(apply(H,Xs),scrypt(Xs,pair(R,CtrUi))),pair(xor(apply(H,pair(Xs,scrypt(Xs,pair(R,CtrUi)))),ID),pair(ID,CtrUi)))))))

step step_4 (S,U,Dummy_X,H,R,Dummy_CtrUi,Kinewstar,Dummy_Ki,Dummy_TCol,Dummy_Kinew,Dummy_IMstar1,Dummy_V,Dummy_IMstar2,Dummy_SK,Dummy_Y1,Dummy_Y2,Dummy_Y3,D1,Dummy_IM1,Dummy_IM2,IM3,IM4,ID,PW,B,Bi,Dummy_TuX,Dummy_T1,Dummy_T2,T3,Dummy_Vi,Dummy_Rnew,V2,IDnewstar,Xs,SID,X,CtrUi,TCol,V,IM1,IM2,TuX,T1,T2,Vi,Rnew) :=
 state_server(S,U,Dummy_X,H,1,R,Dummy_CtrUi,Kinewstar,Dummy_Ki,Dummy_TCol,Dummy_Kinew,Dummy_IMstar1,Dummy_V,Dummy_IMstar2,Dummy_SK,Dummy_Y1,Dummy_Y2,Dummy_Y3,D1,Dummy_IM1,Dummy_IM2,IM3,IM4,ID,PW,B,Bi,Dummy_TuX,Dummy_T1,Dummy_T2,T3,Dummy_Vi,Dummy_Rnew,V2,IDnewstar,Xs,SID).
 iknows(pair(IM1,pair(IM2,pair(TuX,pair(scrypt(X,CtrUi),pair(Vi,T1))))))
=[exists T2,V,Rnew,TCol]=>
 state_server(S,U,X,H,2,R,CtrUi,Kinewstar,xor(IM1,apply(H,Xs)),TCol,scrypt(Xs,pair(Rnew,CtrUi)),xor(apply(H,Xs),scrypt(Xs,pair(Rnew,CtrUi))),V,xor(apply(H,pair(Xs,scrypt(Xs,pair(Rnew,CtrUi)))),ID),apply(H,pair(TCol,CtrUi)),xor(xor(xor(apply(H,Xs),scrypt(Xs,pair(Rnew,CtrUi))),apply(H,pair(apply(H,pair(TCol,CtrUi)),T1))),apply(H,pair(ID,CtrUi))),xor(xor(xor(apply(H,Xs),scrypt(Xs,pair(Rnew,CtrUi))),apply(H,pair(apply(H,pair(TCol,CtrUi)),T2))),apply(H,pair(ID,CtrUi))),apply(H,pair(apply(H,pair(TCol,CtrUi)),pair(xor(apply(H,Xs),scrypt(Xs,pair(Rnew,CtrUi))),pair(xor(apply(H,pair(Xs,scrypt(Xs,pair(Rnew,CtrUi)))),ID),pair(TuX,T2))))),D1,IM1,IM2,IM3,IM4,ID,PW,B,Bi,TuX,T1,T2,T3,Vi,Rnew,V2,IDnewstar,Xs,SID).
 iknows(pair(xor(xor(xor(apply(H,Xs),scrypt(Xs,pair(Rnew,CtrUi))),apply(H,pair(apply(H,pair(TCol,CtrUi)),T1))),apply(H,pair(ID,CtrUi))),pair(xor(xor(xor(apply(H,Xs),scrypt(Xs,pair(Rnew,CtrUi))),apply(H,pair(apply(H,pair(TCol,CtrUi)),T2))),apply(H,pair(ID,CtrUi))),pair(apply(H,pair(apply(H,pair(TCol,CtrUi)),pair(xor(apply(H,Xs),scrypt(Xs,pair(Rnew,CtrUi))),pair(xor(apply(H,pair(Xs,scrypt(Xs,pair(Rnew,CtrUi)))),ID),pair(TuX,T2))))),pair(TuX,T2)))))

step step_5 (S,U,X,H,R,CtrUi,Dummy_Kinewstar,Ki,TCol,Kinew,IMstar1,V,IMstar2,SK,Y1,Y2,Y3,D1,IM1,IM2,IM3,IM4,ID,PW,B,Bi,TuX,T1,T2,Dummy_T3,Vi,Rnew,Dummy_V2,Dummy_IDnewstar,Xs,SID,Kinewstar,T3,V2,IDnewstar) :=
 state_server(S,U,X,H,2,R,CtrUi,Dummy_Kinewstar,Ki,TCol,Kinew,IMstar1,V,IMstar2,SK,Y1,Y2,Y3,D1,IM1,IM2,IM3,IM4,ID,PW,B,Bi,TuX,T1,T2,Dummy_T3,Vi,Rnew,Dummy_V2,Dummy_IDnewstar,Xs,SID).
 iknows(pair(V2,T3))
=[exists Kinewstar,IDnewstar]=>
 state_server(S,U,X,H,3,R,CtrUi,Kinewstar,Ki,TCol,Kinew,IMstar1,V,IMstar2,SK,Y1,Y2,Y3,D1,IM1,IM2,IM3,IM4,ID,PW,B,Bi,TuX,T1,T2,T3,Vi,Rnew,V2,IDnewstar,Xs,SID)


section properties:

property secrecy_of_us_pw (MGoal,ASGoal) :=
 [] ((secret(MGoal,us_pw,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_us_id (MGoal,ASGoal) :=
 [] ((secret(MGoal,us_id,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state secrecy_of_us_pw (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,us_pw,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_us_id (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,us_id,ASGoal) &
 not(contains(i,ASGoal))

