%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile32SEdH

section signature:

state_reader: agent * agent * text * text * text * text * text * text * text * message * message * message * message * message * message * nat * set(agent) * nat -> fact
state_tag: agent * agent * text * message * message * message * message * text * text * text * text * text * text * message * message * nat * nat -> fact


section types:

set_98, set_96, set_89: set
authid, idtag, authk1: protocol_id
Dummy_Set_31, Set_31, ASGoal: set(agent)
7, 6, 4, SID, Dummy_State, 3, SID2, SID1, 2, 0, State, 5, 1: nat
R, T, tag, A2Goal, A1Goal, reader, i: agent
A, B, C, D, Dummy_C, Dummy_B, Dummy_A, Dummy_N2, Dummy_N1, dummy_msg, start, MGoal, N1, N2: message
K2, K3, K4, IDen, IDS, Dummy_IDen, Dummy_IDS, Hello, dummy_nonce, hello, k1, k2, k3, k4, ids, K1, iden: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(tag).
 iknows(reader).
 iknows(hello).
 iknows(i).
 state_tag(reader,tag,hello,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,1,3).
 state_reader(reader,tag,hello,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,0,set_89,4).
 state_tag(reader,i,hello,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,1,6).
 state_reader(reader,i,hello,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,0,set_96,7)


section rules:

step step_0 (T,R,Hello,A,B,C,D,K1,K2,K3,K4,IDen,IDS,N1,N2,SID) :=
 state_tag(T,R,Hello,A,B,C,D,K1,K2,K3,K4,IDen,IDS,N1,N2,1,SID).
 iknows(Hello)
 =>
 state_tag(T,R,Hello,A,B,C,D,K1,K2,K3,K4,IDen,IDS,N1,N2,3,SID).
 iknows(IDS)

step step_1 (T,R,Hello,A,B,C,D,K1,K2,K3,K4,IDen,IDS,Dummy_N1,Dummy_N2,SID,N1,N2) :=
 state_tag(T,R,Hello,A,B,C,D,K1,K2,K3,K4,IDen,IDS,Dummy_N1,Dummy_N2,3,SID).
 iknows(pair(xor(xor(IDS,K1),N1),pair(xor(xor(IDS,K2),N1),xor(xor(IDS,K3),N2))))
 =>
 state_tag(T,R,Hello,A,B,C,D,K1,K2,K3,K4,IDen,IDS,N1,N2,5,SID).
 iknows(xor(xor(xor(IDS,IDen),xor(xor(xor(xor(IDS,K1),N1),IDS),K1)),xor(xor(xor(xor(IDS,K3),N2),IDS),K3)))

step step_2 (T,R,Hello,Dummy_A,Dummy_B,Dummy_C,D,K1,K2,K3,K4,IDen,IDS,Dummy_N1,Dummy_N2,SID,A,B,C) :=
 state_tag(T,R,Hello,Dummy_A,Dummy_B,Dummy_C,D,K1,K2,K3,K4,IDen,IDS,Dummy_N1,Dummy_N2,5,SID).
 iknows(pair(A,pair(B,C)))
 =>
 state_tag(T,R,Hello,A,B,C,D,K1,K2,K3,K4,IDen,IDS,xor(xor(A,IDS),K1),xor(xor(C,IDS),K3),7,SID).
 iknows(xor(xor(xor(IDS,IDen),xor(xor(A,IDS),K1)),xor(xor(C,IDS),K3)))

step step_3 (R,T,Hello,IDS,K1,K2,K3,K4,IDen,A,B,C,D,N1,N2,Set_31,SID) :=
 state_reader(R,T,Hello,IDS,K1,K2,K3,K4,IDen,A,B,C,D,N1,N2,0,Set_31,SID).
 iknows(start)
 =>
 state_reader(R,T,Hello,IDS,K1,K2,K3,K4,IDen,A,B,C,D,N1,N2,2,Set_31,SID).
 iknows(Hello)

step step_4 (R,T,Hello,Dummy_IDS,K1,K2,K3,K4,IDen,Dummy_A,Dummy_B,Dummy_C,D,Dummy_N1,Dummy_N2,Set_31,SID,IDS,N1,N2) :=
 state_reader(R,T,Hello,Dummy_IDS,K1,K2,K3,K4,IDen,Dummy_A,Dummy_B,Dummy_C,D,Dummy_N1,Dummy_N2,2,Set_31,SID).
 iknows(IDS)
=[exists N2,N1]=>
 state_reader(R,T,Hello,IDS,K1,K2,K3,K4,IDen,xor(xor(IDS,K1),N1),xor(xor(IDS,K2),N1),xor(xor(IDS,K3),N2),D,N1,N2,4,Set_31,SID).
 iknows(pair(xor(xor(IDS,K1),N1),pair(xor(xor(IDS,K2),N1),xor(xor(IDS,K3),N2)))).
 witness(R,T,authk1,K1)

step step_5 (R,T,Hello,Dummy_IDS,K1,K2,K3,K4,Dummy_IDen,A,B,C,D,N1,N2,Dummy_Set_31,SID,IDS,IDen) :=
 state_reader(R,T,Hello,Dummy_IDS,K1,K2,K3,K4,Dummy_IDen,A,B,C,D,N1,N2,4,Dummy_Set_31,SID).
 iknows(xor(xor(xor(IDS,IDen),N1),N2))
 =>
 state_reader(R,T,Hello,IDS,K1,K2,K3,K4,IDen,A,B,C,D,N1,N2,6,Dummy_Set_31,SID).
 secret(Dummy_IDen,idtag,Dummy_Set_31).
 request(R,T,authid,Dummy_IDen,SID).
 contains(R,Dummy_Set_31).
 contains(T,Dummy_Set_31)


section properties:

property secrecy_of_idtag (MGoal,ASGoal) :=
 [] ((secret(MGoal,idtag,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_authk1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,authk1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,authk1,MGoal))
     /\ ((request(A1Goal,A2Goal,authk1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,authk1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_authid (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,authid,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,authid,MGoal))
     /\ ((request(A1Goal,A2Goal,authid,MGoal,SID1)
           /\ request(A1Goal,A2Goal,authid,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_idtag (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,idtag,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_authk1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,authk1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,authk1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_authk1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,authk1,MGoal,SID1).
 request(A1Goal,A2Goal,authk1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_authid (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,authid,MGoal,SID) &
 not(witness(A2Goal,A1Goal,authid,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_authid (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,authid,MGoal,SID1).
 request(A1Goal,A2Goal,authid,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

