%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile7Ridlf

section signature:

state_server: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * set(agent) * set(agent) * nat -> fact
state_user: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * nat -> fact


section types:

Dummy_Set_31, Set_31: set(text)
MGoal, start: message
subs1, subs2, user_server_na, server_user_nb: protocol_id
Dummy_State, 3, SID, SID2, SID1, 5, State, 8, 6, 4, 2, 1, 0: nat
set_94, set_93, set_92, set_91, set_112, set_111: set
dummy_hash, h, H: hash_func
dummy_sk, SKus: symmetric_key
Dummy_PWi, dummy_nonce, PWi, Ni, Y, X, Na, CID, Bi, Ci, Nb, HPWi, Ack, Dummy_Nb, Dummy_X, Ni_new, PWi_new, Dummy_PWi_new, Dummy_Ni_new, Dummy_Ci, Dummy_Bi, Dummy_CID, Dummy_Na, Dummy_Y, Dummy_Ni: text
A2Goal, A1Goal, u, s, U, S, i: agent
Dummy_Set_32, ASGoal, Set_61, Set_60, Set_35, Set_32, Dummy_Set_61, Dummy_Set_60, Dummy_Set_35: set(agent)
Set_34, Dummy_Set_34: set(symmetric_key)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(s).
 iknows(h).
 iknows(i).
 state_user(u,s,dummy_sk,dummy_hash,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_91,set_92,set_93,set_94,3).
 state_server(s,u,dummy_sk,dummy_hash,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_111,set_112,4)


section rules:

step step_0 (U,S,SKus,H,Dummy_PWi,Ni,Y,Na,CID,Bi,Ci,Nb,Ack,Ni_new,PWi_new,Dummy_Set_31,Dummy_Set_32,Dummy_Set_34,Dummy_Set_35,SID,PWi) :=
 state_user(U,S,SKus,H,0,Dummy_PWi,Ni,Y,Na,CID,Bi,Ci,Nb,Ack,Ni_new,PWi_new,Dummy_Set_31,Dummy_Set_32,Dummy_Set_34,Dummy_Set_35,SID).
 iknows(start)
=[exists PWi]=>
 state_user(U,S,SKus,H,2,PWi,Ni,Y,Na,CID,Bi,Ci,Nb,Ack,Ni_new,PWi_new,Dummy_Set_31,Dummy_Set_32,Dummy_Set_34,Dummy_Set_35,SID).
 iknows(scrypt(SKus,PWi)).
 secret(Dummy_Set_31,subs1,Dummy_Set_32).
 secret(Dummy_Set_34,subs2,Dummy_Set_35).
 contains(PWi,Dummy_Set_31).
 contains(U,Dummy_Set_32).
 contains(S,Dummy_Set_32).
 contains(SKus,Dummy_Set_34).
 contains(U,Dummy_Set_35).
 contains(S,Dummy_Set_35)

step step_1 (U,S,SKus,H,PWi,Dummy_Ni,Dummy_Y,Na,CID,Bi,Ci,Nb,Ack,Ni_new,PWi_new,Set_31,Set_32,Set_34,Set_35,SID,Ni,Y) :=
 state_user(U,S,SKus,H,2,PWi,Dummy_Ni,Dummy_Y,Na,CID,Bi,Ci,Nb,Ack,Ni_new,PWi_new,Set_31,Set_32,Set_34,Set_35,SID).
 iknows(scrypt(SKus,pair(PWi,pair(H,pair(Ni,Y)))))
 =>
 state_user(U,S,SKus,H,4,PWi,Ni,Y,Na,CID,Bi,Ci,Nb,Ack,Ni_new,PWi_new,Set_31,Set_32,Set_34,Set_35,SID)

step step_2 (U,S,SKus,H,Dummy_PWi,Dummy_Ni,Dummy_Y,Dummy_Na,Dummy_CID,Dummy_Bi,Dummy_Ci,Nb,Ack,Ni_new,PWi_new,Set_31,Set_32,Set_34,Set_35,SID,PWi,Ni,Y,Na) :=
 state_user(U,S,SKus,H,4,Dummy_PWi,Dummy_Ni,Dummy_Y,Dummy_Na,Dummy_CID,Dummy_Bi,Dummy_Ci,Nb,Ack,Ni_new,PWi_new,Set_31,Set_32,Set_34,Set_35,SID).
 iknows(scrypt(SKus,pair(PWi,pair(H,pair(Ni,Y)))))
=[exists Na]=>
 state_user(U,S,SKus,H,6,PWi,Ni,Y,Na,xor(apply(H,PWi),apply(H,xor(Ni,xor(Y,Na)))),apply(H,xor(xor(apply(H,PWi),apply(H,xor(Ni,xor(Y,Na)))),apply(H,Dummy_PWi))),apply(H,xor(Na,xor(Ni,xor(apply(H,xor(xor(apply(H,PWi),apply(H,xor(Ni,xor(Y,Na)))),apply(H,Dummy_PWi))),Y)))),Nb,Ack,Ni_new,PWi_new,Set_31,Set_32,Set_34,Set_35,SID).
 witness(U,S,user_server_na,Na).
 iknows(pair(xor(apply(H,PWi),apply(H,xor(Ni,xor(Y,Na)))),pair(Ni,pair(apply(H,xor(Na,xor(Ni,xor(apply(H,xor(xor(apply(H,PWi),apply(H,xor(Ni,xor(Y,Na)))),apply(H,Dummy_PWi))),Y)))),Na))))

step step_3 (U,S,SKus,H,PWi,Dummy_Ni,Y,Na,CID,Bi,Ci,Nb,Ack,Dummy_Ni_new,Dummy_PWi_new,Set_31,Set_32,Set_34,Set_35,SID,PWi_new) :=
 state_user(U,S,SKus,H,6,PWi,Dummy_Ni,Y,Na,CID,Bi,Ci,Nb,Ack,Dummy_Ni_new,Dummy_PWi_new,Set_31,Set_32,Set_34,Set_35,SID)
=[exists PWi_new]=>
 state_user(U,S,SKus,H,8,PWi,xor(Ni,xor(apply(H,PWi),apply(H,PWi_new))),Y,Na,CID,Bi,Ci,Nb,Ack,xor(xor(Ni,xor(apply(H,PWi),apply(H,PWi_new))),xor(apply(H,PWi),apply(H,PWi_new))),PWi_new,Set_31,Set_32,Set_34,Set_35,SID)

step step_4 (S,U,SKus,H,Dummy_PWi,Dummy_Ni,Dummy_Y,Dummy_X,Na,CID,Bi,Ci,Nb,HPWi,Ack,Dummy_Set_60,Dummy_Set_61,SID,PWi,Y,X) :=
 state_server(S,U,SKus,H,1,Dummy_PWi,Dummy_Ni,Dummy_Y,Dummy_X,Na,CID,Bi,Ci,Nb,HPWi,Ack,Dummy_Set_60,Dummy_Set_61,SID).
 iknows(scrypt(SKus,PWi))
=[exists Y,X]=>
 state_server(S,U,SKus,H,3,PWi,xor(PWi,X),Y,X,Na,CID,Bi,Ci,Nb,HPWi,Ack,Dummy_Set_60,Dummy_Set_61,SID).
 secret(X,subs1,Dummy_Set_60).
 secret(Y,subs2,Dummy_Set_61).
 iknows(scrypt(SKus,pair(PWi,pair(H,pair(xor(PWi,X),Y))))).
 contains(S,Dummy_Set_60).
 contains(U,Dummy_Set_61).
 contains(S,Dummy_Set_61)

step step_5 (S,U,SKus,H,PWi,Dummy_Ni,Y,X,Dummy_Na,Dummy_CID,Bi,Dummy_Ci,Dummy_Nb,HPWi,Ack,Set_60,Set_61,SID,Ni,Na,CID,Ci,Nb) :=
 state_server(S,U,SKus,H,3,PWi,Dummy_Ni,Y,X,Dummy_Na,Dummy_CID,Bi,Dummy_Ci,Dummy_Nb,HPWi,Ack,Set_60,Set_61,SID).
 iknows(pair(CID,pair(Ni,pair(Ci,Na))))
=[exists Nb]=>
 state_server(S,U,SKus,H,5,PWi,Ni,Y,X,Na,CID,Bi,Ci,Nb,HPWi,Ack,Set_60,Set_61,SID).
 request(S,U,user_server_na,Na,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_server_na (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_server_na,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_server_na,MGoal))
     /\ ((request(A1Goal,A2Goal,user_server_na,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_server_na,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_user_nb (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_user_nb,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_user_nb,MGoal))
     /\ ((request(A1Goal,A2Goal,server_user_nb,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_user_nb,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_server_na (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_server_na,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_na,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_server_na (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_server_na,MGoal,SID1).
 request(A1Goal,A2Goal,user_server_na,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_user_nb (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_user_nb,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_user_nb,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_user_nb (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_user_nb,MGoal,SID1).
 request(A1Goal,A2Goal,server_user_nb,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

