%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilexSEl7J

section signature:

state_bob: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(text) * nat -> fact
state_alice: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * set(text) * set(text) * nat -> fact


section types:

ASGoal: set(agent)
MGoal, start: message
alice_bob_rnu, bob_alice_rns, subs1, subs2, subs3, subs4, subs5: protocol_id
Set_72, Set_71, Set_41, Set_39, Dummy_Set_72, Dummy_Set_71, Dummy_Set_41, Dummy_Set_39: set(text)
skuisj, SKuisj: symmetric_key
SID2, SID1, SID, State, 3, 2, 1, 0, 7, 6, 4, Dummy_State: nat
h, F, H, dummy_hash: hash_func
pwi, bi, xs, k, idi, rnu, rns, RPWi, PWi, Bi, Xs, K, IDi, Q, R, Fi, N, Ri, Si, P, RNu, RNs, SKij, Dummy_R, Dummy_Ri, Dummy_N, dummy_nonce: text
A2Goal, A1Goal, ui, sj, Ui, Sj, i: agent
set_123, set_122, set_120, set_119, set_114, set_113, set_102, set_101: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(sj).
 iknows(h).
 iknows(i).
 state_alice(ui,sj,skuisj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_101,set_102,3).
 state_bob(sj,ui,skuisj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_113,set_114,4).
 state_alice(ui,sj,skuisj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_119,set_120,6).
 state_bob(sj,ui,skuisj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_122,set_123,7)


section rules:

step step_0 (Ui,Sj,SKuisj,H,RPWi,PWi,Bi,Xs,K,IDi,Q,R,Fi,Ri,Dummy_N,Si,P,RNu,RNs,SKij,F,Dummy_Set_39,Dummy_Set_41,SID,N) :=
 state_alice(Ui,Sj,SKuisj,H,0,RPWi,PWi,Bi,Xs,K,IDi,Q,R,Fi,Ri,Dummy_N,Si,P,RNu,RNs,SKij,F,Dummy_Set_39,Dummy_Set_41,SID).
 iknows(start)
=[exists N]=>
 state_alice(Ui,Sj,SKuisj,H,1,RPWi,PWi,Bi,Xs,K,IDi,Q,R,Fi,Ri,N,Si,P,RNu,RNs,SKij,F,Dummy_Set_39,Dummy_Set_41,SID).
 iknows(scrypt(SKuisj,pair(IDi,xor(apply(H,pair(PWi,Bi)),N)))).
 secret(Dummy_Set_39,subs1,Sj).
 secret(Dummy_Set_41,subs2,Ui).
 contains(Xs,Dummy_Set_39).
 contains(PWi,Dummy_Set_41).
 contains(Bi,Dummy_Set_41)

step step_1 (Ui,Sj,SKuisj,H,RPWi,PWi,Bi,Xs,K,IDi,Q,R,Fi,Dummy_Ri,Dummy_N,Si,P,RNu,RNs,SKij,F,Set_39,Set_41,SID,Ri,N) :=
 state_alice(Ui,Sj,SKuisj,H,1,RPWi,PWi,Bi,Xs,K,IDi,Q,R,Fi,Dummy_Ri,Dummy_N,Si,P,RNu,RNs,SKij,F,Set_39,Set_41,SID).
 iknows(scrypt(SKuisj,pair(P,pair(Q,pair(apply(F,pair(Xs,P)),pair(H,xor(apply(H,pair(IDi,Xs)),xor(apply(H,pair(PWi,Bi)),N))))))))
=[exists Ri]=>
 state_alice(Ui,Sj,SKuisj,H,2,RPWi,PWi,Bi,Xs,K,IDi,Q,R,Fi,Ri,N,Si,P,RNu,RNs,SKij,F,Set_39,Set_41,SID).
 secret(Ri,subs4,Ui).
 iknows(pair(apply(F,pair(Ri,P)),pair(xor(IDi,apply(H,pair(apply(F,pair(Ri,P)),apply(F,pair(Ri,apply(F,pair(Xs,P))))))),apply(H,pair(IDi,pair(xor(IDi,apply(H,pair(apply(F,pair(Ri,P)),apply(F,pair(Ri,apply(F,pair(Xs,P))))))),apply(H,pair(apply(F,pair(Ri,P)),pair(apply(F,pair(Ri,apply(F,pair(Xs,P)))),apply(H,pair(IDi,Xs))))))))))).
 witness(Ui,Sj,alice_bob_rnu,Ri)

step step_2 (Ui,Sj,SKuisj,H,RPWi,PWi,Bi,Xs,K,IDi,Q,Dummy_R,Fi,Dummy_Ri,N,Si,P,RNu,RNs,SKij,F,Set_39,Set_41,SID,R,Ri) :=
 state_alice(Ui,Sj,SKuisj,H,2,RPWi,PWi,Bi,Xs,K,IDi,Q,Dummy_R,Fi,Dummy_Ri,N,Si,P,RNu,RNs,SKij,F,Set_39,Set_41,SID).
 iknows(pair(apply(F,pair(R,P)),pair(apply(H,apply(F,pair(R,apply(F,pair(Ri,P))))),pair(apply(F,pair(Ri,apply(F,pair(Xs,P)))),pair(apply(F,pair(R,P)),apply(H,pair(IDi,Xs)))))))
 =>
 state_alice(Ui,Sj,SKuisj,H,3,RPWi,PWi,Bi,Xs,K,IDi,Q,R,Fi,Ri,N,Si,P,RNu,RNs,SKij,F,Set_39,Set_41,SID).
 request(Sj,Ui,bob_alice_rns,R,SID)

step step_3 (Sj,Ui,SKuisj,H,RPWi,PWi,Bi,Xs,K,IDi,Q,R,Fi,Dummy_N,Ri,Si,P,RNu,RNs,SKij,F,Dummy_Set_71,Dummy_Set_72,SID,N) :=
 state_bob(Sj,Ui,SKuisj,H,0,RPWi,PWi,Bi,Xs,K,IDi,Q,R,Fi,Dummy_N,Ri,Si,P,RNu,RNs,SKij,F,Dummy_Set_71,Dummy_Set_72,SID).
 iknows(scrypt(SKuisj,pair(IDi,xor(apply(H,pair(PWi,Bi)),N))))
 =>
 state_bob(Sj,Ui,SKuisj,H,1,RPWi,PWi,Bi,Xs,K,IDi,Q,R,Fi,N,Ri,Si,P,RNu,RNs,SKij,F,Dummy_Set_71,Dummy_Set_72,SID).
 secret(Dummy_Set_71,subs1,Sj).
 secret(Dummy_Set_72,subs2,Ui).
 iknows(scrypt(SKuisj,pair(P,pair(Q,pair(apply(F,pair(Xs,P)),pair(H,xor(apply(H,pair(IDi,Xs)),xor(apply(H,pair(PWi,Bi)),N)))))))).
 contains(Xs,Dummy_Set_71).
 contains(PWi,Dummy_Set_72).
 contains(Bi,Dummy_Set_72).
 contains(K,Dummy_Set_72)

step step_4 (Sj,Ui,SKuisj,H,RPWi,PWi,Bi,Xs,K,IDi,Q,Dummy_R,Fi,N,Dummy_Ri,Si,P,RNu,RNs,SKij,F,Set_71,Set_72,SID,R,Ri) :=
 state_bob(Sj,Ui,SKuisj,H,1,RPWi,PWi,Bi,Xs,K,IDi,Q,Dummy_R,Fi,N,Dummy_Ri,Si,P,RNu,RNs,SKij,F,Set_71,Set_72,SID).
 iknows(pair(apply(F,pair(Ri,P)),pair(xor(IDi,apply(H,pair(apply(F,pair(Ri,P)),apply(F,pair(Ri,apply(F,pair(Xs,P))))))),apply(H,pair(IDi,pair(xor(IDi,apply(H,pair(apply(F,pair(Ri,P)),apply(F,pair(Ri,apply(F,pair(Xs,P))))))),apply(H,pair(apply(F,pair(Ri,P)),pair(apply(F,pair(Ri,apply(F,pair(Xs,P)))),apply(H,pair(IDi,Xs)))))))))))
=[exists R]=>
 state_bob(Sj,Ui,SKuisj,H,2,RPWi,PWi,Bi,Xs,K,IDi,Q,R,Fi,N,Ri,Si,P,RNu,RNs,SKij,F,Set_71,Set_72,SID).
 secret(R,subs5,Sj).
 iknows(pair(apply(F,pair(R,P)),pair(apply(H,apply(F,pair(R,apply(F,pair(Ri,P))))),pair(apply(F,pair(Ri,apply(F,pair(Xs,P)))),pair(apply(F,pair(R,P)),apply(H,pair(IDi,Xs))))))).
 witness(Sj,Ui,bob_alice_rns,R).
 request(Ui,Sj,alice_bob_rnu,Ri,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob_rnu (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_rnu,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_rnu,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_rnu,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_rnu,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_rns (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_rns,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_rns,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_rns,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_rns,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob_rnu (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_rnu,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_rnu,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_rnu (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_rnu,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_rnu,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_rns (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_rns,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_rns,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_rns (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_rns,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_rns,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

