%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilezR88qH

section signature:

state_bob: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(symmetric_key) * set(agent) * set(text) * set(agent) * nat -> fact
state_server: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * nat -> fact
state_alice: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(text) * set(agent) * nat -> fact


section types:

Set_171, Set_119, Dummy_Set_171, Dummy_Set_119: set(symmetric_key)
Set_173, Set_117, Dummy_Set_173, Dummy_Set_117, Set_65, Dummy_Set_65, Set_61, Dummy_Set_61: set(text)
set_318, set_317, set_316, set_315, set_313, set_312, set_311, set_310, set_308, set_307, set_306, set_305, set_297, set_296, set_295, set_294, set_273, set_272, set_271, set_270, set_244, set_243, set_242, set_241: set
Set_174, Set_172, Set_120, Set_118, Dummy_Set_174, Dummy_Set_172, Dummy_Set_120, Dummy_Set_118, Set_66, Dummy_Set_66, Set_62, Dummy_Set_62, ASGoal: set(agent)
start, MGoal: message
server_bob, alice_server, bob_server, alice_bob, bob_alice, subs1, subs2, subs3, sub2: protocol_id
3, State, 9, 8, 7, 5, SID, 4, 2, 1, 0, Dummy_State, SID2, SID1: nat
h, H: hash_func
mki, MKi, MKsi: symmetric_key
sn, bs, u, U, BS, SN, A2Goal, A1Goal, i: agent
ks, ks1, ksv, ksvi, ai, e1, e2, e3, e4, Ui, SNj, Ri, R1i, Si, B, Xj, T, TSi, TSj, Tbs, E, P, AL, T1, T2, T3, T4, Tu, Wj, Fi, X, A, SKi, SKij, Y1, Y, Tj, KK, M, Ks, KS, KSv, KSvi, Ai, E1, E2, E3, E4, Dummy_B, Dummy_E4, Dummy_E3, Dummy_E2, Dummy_E1, Dummy_Tbs, Dummy_Ai, Dummy_Y, Dummy_SKij, Dummy_SKi, Dummy_A, Dummy_X, Dummy_Fi, Dummy_Tu, Dummy_P, Dummy_KSvi, Dummy_KSv, Dummy_KS, Dummy_Ks, Dummy_M, Dummy_KK, Dummy_Tj, Dummy_AL, Dummy_E, Dummy_TSj, Dummy_TSi, Dummy_Xj, Dummy_Si, Dummy_R1i, Dummy_Ri, Dummy_Wj, Dummy_T, dummy_nonce, ui, snj, ri, r1i, si, b, xj, t, tsj, tsi, tbs, e, p, al, t1, t2, t3, t4, tu, wj, fi, x, a, ski, skij, y1, y, tj, kk, m: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(bs).
 iknows(sn).
 iknows(h).
 iknows(ui).
 iknows(snj).
 iknows(i).
 state_alice(sn,u,bs,mki,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_241,set_242,set_243,set_244,3).
 state_server(u,bs,sn,mki,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_270,set_271,set_272,set_273,4).
 state_bob(bs,u,sn,mki,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_294,set_295,set_296,set_297,5).
 state_alice(u,sn,bs,mki,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_305,set_306,set_307,set_308,7).
 state_server(sn,bs,u,mki,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_310,set_311,set_312,set_313,8).
 state_bob(bs,sn,u,mki,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_315,set_316,set_317,set_318,9)


section rules:

step step_0 (SN,BS,U,MKsi,H,Ui,SNj,Ri,R1i,Si,B,Xj,Dummy_T,TSi,TSj,Tbs,E,P,AL,T1,T2,T3,T4,Tu,Dummy_Wj,Fi,X,A,SKi,SKij,Y1,Y,Tj,KK,M,Ks,KS,KSv,KSvi,Ai,E1,E2,E3,E4,Dummy_Set_61,Dummy_Set_62,Set_65,Set_66,SID,T,Wj) :=
 state_alice(SN,BS,U,MKsi,H,0,Ui,SNj,Ri,R1i,Si,B,Xj,Dummy_T,TSi,TSj,Tbs,E,P,AL,T1,T2,T3,T4,Tu,Dummy_Wj,Fi,X,A,SKi,SKij,Y1,Y,Tj,KK,M,Ks,KS,KSv,KSvi,Ai,E1,E2,E3,E4,Dummy_Set_61,Dummy_Set_62,Set_65,Set_66,SID).
 iknows(pair(BS,pair(SN,pair(SNj,pair(apply(H,Y1),pair(apply(H,pair(T1,pair(T2,pair(T3,T4)))),pair(T,Wj)))))))
 =>
 state_alice(SN,BS,U,MKsi,H,1,Ui,SNj,Ri,R1i,Si,B,Xj,T,TSi,TSj,Tbs,E,P,AL,T1,T2,T3,T4,Tu,Wj,Fi,X,A,SKi,SKij,Y1,Y,Tj,KK,M,Ks,KS,KSv,KSvi,Ai,E1,E2,E3,E4,Dummy_Set_61,Dummy_Set_62,Set_65,Set_66,SID).
 secret(Dummy_Set_61,subs1,Dummy_Set_62).
 contains(T1,Dummy_Set_61).
 contains(T2,Dummy_Set_61).
 contains(T3,Dummy_Set_61).
 contains(T4,Dummy_Set_61).
 contains(Y1,Dummy_Set_61).
 contains(BS,Dummy_Set_62)

step step_1 (SN,BS,U,MKsi,H,Ui,SNj,Dummy_Ri,Dummy_R1i,Dummy_Si,B,Dummy_Xj,Dummy_T,Dummy_TSi,Dummy_TSj,Tbs,Dummy_E,P,Dummy_AL,T1,T2,T3,T4,Tu,Wj,Fi,X,A,SKi,SKij,Y1,Y,Dummy_Tj,Dummy_KK,Dummy_M,Dummy_Ks,Dummy_KS,Dummy_KSv,Dummy_KSvi,Ai,E1,E2,E3,E4,Set_61,Set_62,Dummy_Set_65,Dummy_Set_66,SID,Ri,Si,Xj,T,TSi,TSj,AL,Tj,M,Ks) :=
 state_alice(SN,BS,U,MKsi,H,1,Ui,SNj,Dummy_Ri,Dummy_R1i,Dummy_Si,B,Dummy_Xj,Dummy_T,Dummy_TSi,Dummy_TSj,Tbs,Dummy_E,P,Dummy_AL,T1,T2,T3,T4,Tu,Wj,Fi,X,A,SKi,SKij,Y1,Y,Dummy_Tj,Dummy_KK,Dummy_M,Dummy_Ks,Dummy_KS,Dummy_KSv,Dummy_KSvi,Ai,E1,E2,E3,E4,Set_61,Set_62,Dummy_Set_65,Dummy_Set_66,SID).
 iknows(pair(U,pair(SN,pair(Ui,pair(xor(apply(H,pair(Ri,SNj)),apply(H,pair(Xj,Ui))),pair(xor(SNj,xor(xor(apply(H,pair(Ui,T)),xor(apply(H,pair(Ri,SNj)),apply(H,pair(Xj,Ui)))),apply(H,pair(Si,pair(Ui,SNj))))),pair(TSi,apply(H,pair(Si,pair(Ui,pair(SNj,TSi)))))))))))
=[exists TSj,Ks,M,Tj,AL]=>
 state_alice(SN,BS,U,MKsi,H,2,Ui,SNj,Ri,apply(H,pair(Ri,pair(TSi,TSj))),Si,B,Xj,T,TSi,TSj,Tbs,pair(apply(H,pair(apply(H,Ks),TSi)),apply(H,pair(Y,AL))),P,AL,T1,T2,T3,T4,Tu,Wj,Fi,X,A,SKi,SKij,Y1,Y,Tj,apply(H,pair(apply(H,pair(Xj,Ui)),pair(apply(H,pair(T1,pair(T2,pair(T3,T4)))),pair(Tj,Wj)))),M,Ks,apply(H,Ks),apply(H,pair(apply(H,Ks),TSi)),apply(H,pair(apply(H,pair(apply(H,Ks),TSi)),apply(H,pair(Ri,pair(TSi,TSj))))),Ai,E1,E2,E3,E4,Set_61,Set_62,Dummy_Set_65,Dummy_Set_66,SID).
 secret(Dummy_Set_65,subs1,Dummy_Set_66).
 iknows(pair(SN,pair(BS,pair(SNj,pair(Tj,pair(Ui,pair(scrypt(apply(H,pair(apply(H,pair(Xj,Ui)),pair(apply(H,pair(T1,pair(T2,pair(T3,T4)))),pair(Tj,Wj)))),AL),apply(H,pair(AL,pair(apply(H,pair(T1,pair(T2,pair(T3,T4)))),pair(Tj,Wj))))))))))).
 witness(SN,BS,alice_server,Tj).
 iknows(pair(SN,pair(U,pair(Ui,pair(SNj,pair(pair(apply(H,pair(apply(H,Ks),TSi)),apply(H,pair(Y,AL))),pair(scrypt(apply(H,pair(apply(H,pair(apply(H,Ks),TSi)),apply(H,pair(Ri,pair(TSi,TSj))))),M),pair(TSj,apply(H,pair(Ui,pair(SNj,pair(pair(apply(H,pair(apply(H,Ks),TSi)),apply(H,pair(Y,AL))),pair(TSj,pair(TSi,pair(M,Ri))))))))))))))).
 witness(SN,U,alice_bob,TSj).
 contains(Xj,Dummy_Set_65).
 contains(SN,Dummy_Set_66).
 contains(BS,Dummy_Set_66)

step step_2 (BS,SN,U,MKi,H,Ui,SNj,Dummy_Ri,R1i,Si,B,Dummy_Xj,Dummy_T,TSi,TSj,Tbs,E,Dummy_P,AL,T1,T2,T3,T4,Dummy_Tu,Wj,Dummy_Fi,Dummy_X,Dummy_A,Dummy_SKi,Dummy_SKij,Y1,Dummy_Y,Tj,KK,M,Ks,KS,KSv,KSvi,Dummy_Ai,E1,E2,E3,E4,Dummy_Set_117,Dummy_Set_118,Dummy_Set_119,Dummy_Set_120,SID,Ri,Xj,T,P,SKi,Ai) :=
 state_server(BS,SN,U,MKi,H,0,Ui,SNj,Dummy_Ri,R1i,Si,B,Dummy_Xj,Dummy_T,TSi,TSj,Tbs,E,Dummy_P,AL,T1,T2,T3,T4,Dummy_Tu,Wj,Dummy_Fi,Dummy_X,Dummy_A,Dummy_SKi,Dummy_SKij,Y1,Dummy_Y,Tj,KK,M,Ks,KS,KSv,KSvi,Dummy_Ai,E1,E2,E3,E4,Dummy_Set_117,Dummy_Set_118,Dummy_Set_119,Dummy_Set_120,SID).
 iknows(start)
=[exists SKi,Ai,P,Ri,Xj,T]=>
 state_server(BS,SN,U,MKi,H,1,Ui,SNj,Ri,R1i,Si,B,Xj,T,TSi,TSj,Tbs,E,P,AL,T1,T2,T3,T4,apply(H,pair(T1,pair(T2,pair(T3,T4)))),Wj,apply(H,pair(Ui,T)),xor(apply(H,pair(Ri,SNj)),apply(H,pair(Xj,Ui))),xor(apply(H,pair(Ui,T)),xor(apply(H,pair(Ri,SNj)),apply(H,pair(Xj,Ui)))),SKi,xor(apply(H,pair(Ri,SNj)),apply(H,pair(Xj,Ui))),Y1,apply(H,Y1),Tj,KK,M,Ks,KS,KSv,KSvi,Ai,E1,E2,E3,E4,Dummy_Set_117,Dummy_Set_118,Dummy_Set_119,Dummy_Set_120,SID).
 secret(Dummy_Set_117,subs1,Dummy_Set_118).
 iknows(pair(BS,pair(SN,pair(SNj,pair(apply(H,Y1),pair(apply(H,pair(T1,pair(T2,pair(T3,T4)))),pair(T,Wj))))))).
 iknows(pair(BS,pair(U,scrypt(MKi,pair(Ui,pair(xor(apply(H,pair(Ri,SNj)),apply(H,pair(Xj,Ui))),pair(SKi,pair(P,pair(Ri,Ai))))))))).
 secret(Dummy_Set_119,subs2,Dummy_Set_120).
 contains(T1,Dummy_Set_117).
 contains(T2,Dummy_Set_117).
 contains(T3,Dummy_Set_117).
 contains(T4,Dummy_Set_117).
 contains(Y1,Dummy_Set_117).
 contains(BS,Dummy_Set_118).
 contains(MKi,Dummy_Set_119).
 contains(BS,Dummy_Set_120).
 contains(U,Dummy_Set_120)

step step_3 (BS,SN,U,MKi,H,Ui,SNj,Ri,R1i,Si,B,Dummy_Xj,T,TSi,TSj,Dummy_Tbs,E,P,Dummy_AL,T1,T2,T3,T4,Tu,Dummy_Wj,Fi,X,A,SKi,SKij,Y1,Y,Dummy_Tj,KK,M,Ks,KS,KSv,KSvi,Ai,Dummy_E1,Dummy_E2,Dummy_E3,Dummy_E4,Set_117,Set_118,Set_119,Set_120,SID,Xj,Tbs,AL,Wj,Tj) :=
 state_server(BS,SN,U,MKi,H,1,Ui,SNj,Ri,R1i,Si,B,Dummy_Xj,T,TSi,TSj,Dummy_Tbs,E,P,Dummy_AL,T1,T2,T3,T4,Tu,Dummy_Wj,Fi,X,A,SKi,SKij,Y1,Y,Dummy_Tj,KK,M,Ks,KS,KSv,KSvi,Ai,Dummy_E1,Dummy_E2,Dummy_E3,Dummy_E4,Set_117,Set_118,Set_119,Set_120,SID).
 iknows(pair(SN,pair(BS,pair(SNj,pair(Tj,pair(Ui,pair(scrypt(apply(H,pair(apply(H,pair(Xj,Ui)),pair(apply(H,pair(T1,pair(T2,pair(T3,T4)))),pair(Tj,Wj)))),AL),apply(H,pair(AL,pair(apply(H,pair(T1,pair(T2,pair(T3,T4)))),pair(Tj,Wj)))))))))))
=[exists Tbs]=>
 state_server(BS,SN,U,MKi,H,2,Ui,SNj,Ri,R1i,Si,B,Xj,T,TSi,TSj,Tbs,E,P,AL,T1,T2,T3,T4,Tu,Wj,Fi,X,A,SKi,SKij,Y1,Y,Tj,KK,M,Ks,KS,KSv,KSvi,Ai,apply(H,pair(AL,T1)),apply(H,pair(AL,T2)),apply(H,pair(AL,T3)),apply(H,pair(AL,T4)),Set_117,Set_118,Set_119,Set_120,SID).
 request(SN,BS,alice_server,Tj,SID).
 iknows(pair(BS,pair(U,pair(Ui,pair(SNj,pair(Tbs,pair(scrypt(apply(H,pair(Xj,Ui)),apply(H,pair(Ui,pair(SNj,pair(apply(H,pair(apply(H,pair(AL,T1)),pair(apply(H,pair(AL,T2)),pair(apply(H,pair(AL,T3)),apply(H,pair(AL,T4)))))),Tbs))))),pair(apply(H,pair(AL,T1)),pair(apply(H,pair(AL,T2)),pair(apply(H,pair(AL,T3)),apply(H,pair(AL,T4)))))))))))).
 witness(BS,U,server_bob,Tbs)

step step_4 (U,BS,SN,MKi,H,Ui,SNj,Dummy_Ri,R1i,Dummy_Si,Dummy_B,Dummy_Xj,Dummy_T,Dummy_TSi,TSj,Tbs,E,Dummy_P,AL,T1,T2,T3,T4,Tu,Wj,Fi,X,A,Dummy_SKi,SKij,Y1,Y,Tj,KK,M,Ks,KS,KSv,KSvi,Ai,E1,E2,E3,E4,Dummy_Set_171,Dummy_Set_172,Set_173,Set_174,SID,Ri,Xj,T,TSi,P,SKi) :=
 state_bob(U,BS,SN,MKi,H,0,Ui,SNj,Dummy_Ri,R1i,Dummy_Si,Dummy_B,Dummy_Xj,Dummy_T,Dummy_TSi,TSj,Tbs,E,Dummy_P,AL,T1,T2,T3,T4,Tu,Wj,Fi,X,A,Dummy_SKi,SKij,Y1,Y,Tj,KK,M,Ks,KS,KSv,KSvi,Ai,E1,E2,E3,E4,Dummy_Set_171,Dummy_Set_172,Set_173,Set_174,SID).
 iknows(pair(BS,pair(U,scrypt(MKi,pair(Ui,pair(xor(apply(H,pair(Ri,SNj)),apply(H,pair(Xj,Ui))),pair(SKi,pair(P,pair(Ri,xor(apply(H,pair(Ui,T)),xor(apply(H,pair(Ri,SNj)),apply(H,pair(Xj,Ui)))))))))))))
=[exists TSi]=>
 state_bob(U,BS,SN,MKi,H,1,Ui,SNj,Ri,R1i,xor(xor(apply(H,pair(Ui,T)),xor(apply(H,pair(Ri,SNj)),apply(H,pair(Xj,Ui)))),apply(H,pair(Si,pair(Ui,SNj)))),apply(H,pair(xor(xor(apply(H,pair(Ui,T)),xor(apply(H,pair(Ri,SNj)),apply(H,pair(Xj,Ui)))),apply(H,pair(Si,pair(Ui,SNj)))),pair(Ui,pair(SNj,pair(TSi,Ri))))),Xj,T,TSi,TSj,Tbs,E,P,AL,T1,T2,T3,T4,Tu,Wj,Fi,X,A,SKi,SKij,Y1,Y,Tj,KK,M,Ks,KS,KSv,KSvi,Ai,E1,E2,E3,E4,Dummy_Set_171,Dummy_Set_172,Set_173,Set_174,SID).
 secret(Dummy_Set_171,subs2,Dummy_Set_172).
 iknows(pair(U,pair(SN,pair(Ui,pair(xor(apply(H,pair(Ri,SNj)),apply(H,pair(Xj,Ui))),pair(xor(SNj,xor(xor(apply(H,pair(Ui,T)),xor(apply(H,pair(Ri,SNj)),apply(H,pair(Xj,Ui)))),apply(H,pair(Si,pair(Ui,SNj))))),pair(TSi,apply(H,pair(xor(xor(apply(H,pair(Ui,T)),xor(apply(H,pair(Ri,SNj)),apply(H,pair(Xj,Ui)))),apply(H,pair(Si,pair(Ui,SNj)))),pair(Ui,pair(SNj,pair(TSi,Ri)))))))))))).
 contains(MKi,Dummy_Set_171).
 contains(BS,Dummy_Set_172).
 contains(U,Dummy_Set_172)

step step_5 (U,BS,SN,MKi,H,Ui,SNj,Ri,R1i,Si,B,Dummy_Xj,T,TSi,TSj,Dummy_Tbs,E,P,Dummy_AL,T1,T2,T3,T4,Tu,Wj,Fi,X,A,SKi,SKij,Y1,Y,Tj,KK,M,Ks,KS,KSv,KSvi,Ai,E1,E2,E3,E4,Set_171,Set_172,Dummy_Set_173,Dummy_Set_174,SID,Xj,Tbs,AL) :=
 state_bob(U,BS,SN,MKi,H,1,Ui,SNj,Ri,R1i,Si,B,Dummy_Xj,T,TSi,TSj,Dummy_Tbs,E,P,Dummy_AL,T1,T2,T3,T4,Tu,Wj,Fi,X,A,SKi,SKij,Y1,Y,Tj,KK,M,Ks,KS,KSv,KSvi,Ai,E1,E2,E3,E4,Set_171,Set_172,Dummy_Set_173,Dummy_Set_174,SID).
 iknows(pair(BS,pair(U,pair(Ui,pair(SNj,pair(Tbs,pair(scrypt(apply(H,pair(Xj,Ui)),apply(H,pair(Ui,pair(SNj,pair(apply(H,pair(apply(H,pair(AL,T1)),pair(apply(H,pair(AL,T2)),pair(apply(H,pair(AL,T3)),apply(H,pair(AL,T4)))))),Tbs))))),apply(H,pair(apply(H,pair(AL,T1)),pair(apply(H,pair(AL,T2)),pair(apply(H,pair(AL,T3)),apply(H,pair(AL,T4)))))))))))))
 =>
 state_bob(U,BS,SN,MKi,H,2,Ui,SNj,Ri,R1i,Si,B,Xj,T,TSi,TSj,Tbs,E,P,AL,T1,T2,T3,T4,Tu,Wj,Fi,X,A,SKi,SKij,Y1,Y,Tj,KK,M,Ks,KS,KSv,KSvi,Ai,E1,E2,E3,E4,Set_171,Set_172,Dummy_Set_173,Dummy_Set_174,SID).
 request(BS,U,server_bob,Tbs,SID).
 secret(Dummy_Set_173,subs1,Dummy_Set_174).
 contains(T1,Dummy_Set_173).
 contains(T2,Dummy_Set_173).
 contains(T3,Dummy_Set_173).
 contains(T4,Dummy_Set_173).
 contains(Y1,Dummy_Set_173).
 contains(BS,Dummy_Set_174)

step step_6 (U,BS,SN,MKi,H,Ui,SNj,Dummy_Ri,R1i,Si,B,Xj,T,Dummy_TSi,Dummy_TSj,Tbs,Dummy_E,P,Dummy_AL,T1,T2,T3,T4,Tu,Wj,Fi,X,A,SKi,SKij,Y1,Y,Tj,KK,Dummy_M,Dummy_Ks,KS,KSv,KSvi,Ai,E1,E2,E3,E4,Set_171,Set_172,Set_173,Set_174,SID,Ri,TSi,TSj,E,AL,M,Ks) :=
 state_bob(U,BS,SN,MKi,H,2,Ui,SNj,Dummy_Ri,R1i,Si,B,Xj,T,Dummy_TSi,Dummy_TSj,Tbs,Dummy_E,P,Dummy_AL,T1,T2,T3,T4,Tu,Wj,Fi,X,A,SKi,SKij,Y1,Y,Tj,KK,Dummy_M,Dummy_Ks,KS,KSv,KSvi,Ai,E1,E2,E3,E4,Set_171,Set_172,Set_173,Set_174,SID).
 iknows(pair(SN,pair(U,pair(Ui,pair(SNj,pair(apply(H,pair(apply(H,Ks),TSi)),pair(apply(H,pair(Y,AL)),pair(scrypt(apply(H,pair(apply(H,pair(apply(H,Ks),TSi)),apply(H,pair(Ri,pair(TSi,TSj))))),M),pair(TSj,apply(H,pair(Ui,pair(SNj,pair(E,pair(TSj,pair(TSi,pair(M,Ri))))))))))))))))
 =>
 state_bob(U,BS,SN,MKi,H,3,Ui,SNj,Ri,R1i,Si,B,Xj,T,TSi,TSj,Tbs,E,P,AL,T1,T2,T3,T4,Tu,Wj,Fi,X,A,SKi,SKij,Y1,Y,Tj,KK,M,Ks,KS,KSv,KSvi,Ai,E1,E2,E3,E4,Set_171,Set_172,Set_173,Set_174,SID).
 request(SN,U,alice_bob,TSj,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_alice_server (MGoal,ASGoal) :=
 [] ((secret(MGoal,alice_server,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_server (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_server,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_server,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_server,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_server,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_server (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_server,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_server,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_server,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_server,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_bob (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_bob,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_bob,MGoal))
     /\ ((request(A1Goal,A2Goal,server_bob,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_bob,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_alice_bob (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_alice_server (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,alice_server,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_server (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_server,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_server,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_server (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_server,MGoal,SID1).
 request(A1Goal,A2Goal,alice_server,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_server (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_server,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_server,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_server (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_server,MGoal,SID1).
 request(A1Goal,A2Goal,bob_server,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_bob (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_bob,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_bob,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_bob (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_bob,MGoal,SID1).
 request(A1Goal,A2Goal,server_bob,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_alice_bob (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

