%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileblfzUq6I5r

section signature:

state_authser: agent * agent * agent * public_key * public_key * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * nat * text * text * text * text * text * set(text) * set(text) * set(text) * set(text) * set(pair(text,text)) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(agent) * set(agent) * nat -> fact
state_bank: agent * agent * agent * public_key * public_key * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * nat * text * text * text * text * text * set(text) * set(text) * set(text) * set(pair(text,text)) * set(agent) * set(text) * set(agent) * set(agent) * nat -> fact
state_mobuser: agent * agent * agent * public_key * public_key * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * nat * text * text * text * text * set(text) * set(text) * set(text) * set(text) * set(pair(text,text)) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact


section types:

Set_148, Set_101, Dummy_Set_148, Dummy_Set_101, Set_53, Dummy_Set_53: set(pair(text,text))
Set_156, Set_153, Set_150, Set_147, Set_146, Set_145, Set_144, Set_104, Set_100, Set_99, Set_98, Dummy_Set_156, Dummy_Set_153, Dummy_Set_150, Dummy_Set_147, Dummy_Set_146, Dummy_Set_145, Dummy_Set_144, Dummy_Set_104, Set_62, Dummy_Set_100, Dummy_Set_99, Dummy_Set_98, Set_58, Set_52, Set_51, Set_50, Set_49, Dummy_Set_62, Dummy_Set_58, Dummy_Set_52, Dummy_Set_51, Dummy_Set_50, Dummy_Set_49: set(text)
set_336, set_335, set_334, set_333, set_332, set_331, set_330, set_329, set_328, set_327, set_326, set_325, set_324, set_323, set_321, set_320, set_319, set_318, set_317, set_316, set_315, set_314, set_312, set_311, set_310, set_309, set_308, set_307, set_306, set_305, set_304, set_303, set_286, set_285, set_284, set_283, set_282, set_281, set_280, set_279, set_278, set_277, set_276, set_275, set_274, set_273, set_260, set_259, set_258, set_257, set_256, set_255, set_254, set_253, set_230, set_229, set_228, set_227, set_226, set_225, set_224, set_223, set_222, set_221: set
9, State, 8, 7, 5, SID, 4, 3, 2, 0, Dummy_State, SID2, SID1: nat
Set_160, Set_159, Set_157, Set_154, Set_151, Set_149, Set_107, Set_106, Set_102, Dummy_Set_160, Dummy_Set_159, Dummy_Set_157, Dummy_Set_154, Dummy_Set_151, Dummy_Set_149, Dummy_Set_107, Dummy_Set_106, Dummy_Set_102, Set_63, Set_59, Set_54, Dummy_Set_63, Dummy_Set_59, Dummy_Set_54, ASGoal: set(agent)
start, MGoal: message
Hash, h1: hash_func
ku, kas, Ku, Kas: public_key
ts1, authser_bank_ts1, bank_authser_ts, bank_authser_auth_info, bank, authser, nas1, mobuser_authser_nas1, bank_webinfo, auth_info, ts, rc_mobuser, mobuser: protocol_id
mu, ubank, authserver, Mu, B, As, A2Goal, A1Goal, i: agent
place_branch, b_code, bank_webinfo1, auth_info1, as_info, as_name, as_id, NMu1, Alpha, Beta, NAs1, Ts, Mu_id, Mu_ph, Mu_mmid, Mu_mpin, Mu_usr, Mu_pwd, Url, Link, Rc_mobuser, B_name, Place_branch, B_code, Bank_webinfo, Auth_info, As_info, As_name, As_id, Dummy_Ts, Dummy_Beta, Dummy_Alpha, Dummy_NAs1, Dummy_As_info, Dummy_NMu1, Dummy_Auth_info, Dummy_Bank_webinfo, Dummy_Rc_mobuser, Dummy_Mu_id, dummy_nonce, mu_id, mu_ph, mu_mmid, mu_mpin, mu_usr, mum_pwd, url, link, rc_mobuser1, b_name: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(mu).
 iknows(ubank).
 iknows(authserver).
 iknows(i).
 state_mobuser(mu,ubank,authserver,ku,kas,mu_id,mu_ph,mu_mmid,mu_mpin,mu_usr,mum_pwd,url,link,rc_mobuser1,b_name,place_branch,b_code,bank_webinfo1,auth_info1,as_info,as_name,as_id,h1,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_221,set_222,set_223,set_224,set_225,set_226,set_227,set_228,set_229,set_230,3).
 state_bank(mu,ubank,authserver,ku,kas,mu_id,mu_ph,mu_mmid,mu_mpin,mu_usr,mum_pwd,url,link,b_name,place_branch,b_code,bank_webinfo1,auth_info1,as_info,as_name,as_id,h1,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_253,set_254,set_255,set_256,set_257,set_258,set_259,set_260,4).
 state_authser(authserver,mu,ubank,ku,kas,mu_id,mu_ph,mu_mmid,mu_mpin,mu_usr,mum_pwd,url,link,rc_mobuser1,b_name,place_branch,b_code,bank_webinfo1,auth_info1,as_info,as_name,as_id,h1,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_273,set_274,set_275,set_276,set_277,set_278,set_279,set_280,set_281,set_282,set_283,set_284,set_285,set_286,5).
 state_mobuser(mu,ubank,authserver,ku,kas,mu_id,mu_ph,mu_mmid,mu_mpin,mu_usr,mum_pwd,url,link,rc_mobuser1,b_name,place_branch,b_code,bank_webinfo1,auth_info1,as_info,as_name,as_id,h1,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_303,set_304,set_305,set_306,set_307,set_308,set_309,set_310,set_311,set_312,7).
 state_bank(mu,ubank,authserver,ku,kas,mu_id,mu_ph,mu_mmid,mu_mpin,mu_usr,mum_pwd,url,link,b_name,place_branch,b_code,bank_webinfo1,auth_info1,as_info,as_name,as_id,h1,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_314,set_315,set_316,set_317,set_318,set_319,set_320,set_321,8).
 state_authser(authserver,mu,ubank,ku,kas,mu_id,mu_ph,mu_mmid,mu_mpin,mu_usr,mum_pwd,url,link,rc_mobuser1,b_name,place_branch,b_code,bank_webinfo1,auth_info1,as_info,as_name,as_id,h1,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_323,set_324,set_325,set_326,set_327,set_328,set_329,set_330,set_331,set_332,set_333,set_334,set_335,set_336,9)


section rules:

step step_0 (Mu,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Dummy_Rc_mobuser,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,Dummy_NMu1,Alpha,Beta,NAs1,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,Set_58,Set_59,Set_62,Set_63,SID,NMu1) :=
 state_mobuser(Mu,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Dummy_Rc_mobuser,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,0,Dummy_NMu1,Alpha,Beta,NAs1,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,Set_58,Set_59,Set_62,Set_63,SID).
 iknows(start)
=[exists NMu1]=>
 state_mobuser(Mu,B,As,Ku,Kas,Dummy_Set_49,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Dummy_Set_50,B_name,Place_branch,B_code,Dummy_Set_51,Dummy_Set_52,As_info,As_name,As_id,Hash,2,NMu1,Alpha,Beta,NAs1,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,Set_58,Set_59,Set_62,Set_63,SID).
 iknows(Dummy_Set_53).
 contains(Mu_ph,Dummy_Set_49).
 contains(Mu_mmid,Dummy_Set_49).
 contains(Mu_mpin,Dummy_Set_49).
 contains(Mu_usr,Dummy_Set_50).
 contains(Mu_pwd,Dummy_Set_50).
 contains(Url,Dummy_Set_51).
 contains(Link,Dummy_Set_51).
 contains(B_name,Dummy_Set_52).
 contains(Place_branch,Dummy_Set_52).
 contains(B_code,Dummy_Set_52).
 contains(pair(Dummy_Set_51,Dummy_Set_49),Dummy_Set_53).
 contains(Mu,Dummy_Set_54).
 contains(B,Dummy_Set_54)

step step_1 (Mu,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Dummy_Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,Dummy_As_info,As_name,As_id,Hash,NMu1,Alpha,Beta,Dummy_NAs1,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Dummy_Set_58,Dummy_Set_59,Set_62,Set_63,SID,Mu_id,Rc_mobuser,NAs1) :=
 state_mobuser(Mu,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Dummy_Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,Dummy_As_info,As_name,As_id,Hash,2,NMu1,Alpha,Beta,Dummy_NAs1,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Dummy_Set_58,Dummy_Set_59,Set_62,Set_63,SID).
 iknows(pair(Mu_id,Rc_mobuser))
=[exists NAs1]=>
 state_mobuser(Mu,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,Dummy_Set_58,As_name,As_id,Hash,3,NMu1,Alpha,Beta,NAs1,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Dummy_Set_58,Dummy_Set_59,Set_62,Set_63,SID).
 contains(As_name,Dummy_Set_58).
 contains(As_id,Dummy_Set_58).
 contains(Mu,Dummy_Set_59).
 contains(As,Dummy_Set_59)

step step_2 (Mu,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,Dummy_As_info,As_name,As_id,Hash,NMu1,Dummy_Alpha,Beta,Dummy_NAs1,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_58,Set_59,Dummy_Set_62,Dummy_Set_63,SID,As_info,NAs1) :=
 state_mobuser(Mu,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,Dummy_As_info,As_name,As_id,Hash,3,NMu1,Dummy_Alpha,Beta,Dummy_NAs1,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_58,Set_59,Dummy_Set_62,Dummy_Set_63,SID).
 iknows(pair(NAs1,As_info))
 =>
 state_mobuser(Mu,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Set_62,As_info,As_name,As_id,Hash,5,NMu1,apply(Hash,pair(NAs1,Dummy_Set_62)),Beta,NAs1,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_58,Set_59,Dummy_Set_62,Dummy_Set_63,SID).
 iknows(crypt(inv(Ku),pair(apply(Hash,pair(NAs1,Dummy_Set_62)),Dummy_Set_62))).
 secret(Dummy_NAs1,nas1,Dummy_Set_63).
 contains(B_name,Dummy_Set_62).
 contains(Place_branch,Dummy_Set_62).
 contains(B_code,Dummy_Set_62).
 contains(Mu,Dummy_Set_63).
 contains(As,Dummy_Set_63)

step step_3 (Mu,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,NMu1,Alpha,Beta,NAs1,Ts,Dummy_Set_98,Dummy_Set_99,Dummy_Set_100,Dummy_Set_101,Dummy_Set_102,Set_104,Set_106,Set_107,SID) :=
 state_bank(Mu,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,0,NMu1,Alpha,Beta,NAs1,Ts,Dummy_Set_98,Dummy_Set_99,Dummy_Set_100,Dummy_Set_101,Dummy_Set_102,Set_104,Set_106,Set_107,SID).
 iknows(start)
 =>
 state_bank(Mu,B,As,Ku,Kas,Dummy_Set_98,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,B_name,Place_branch,B_code,Dummy_Set_99,Dummy_Set_100,As_info,As_name,As_id,Hash,2,NMu1,Alpha,Beta,NAs1,Ts,Dummy_Set_98,Dummy_Set_99,Dummy_Set_100,Dummy_Set_101,Dummy_Set_102,Set_104,Set_106,Set_107,SID).
 iknows(Dummy_Set_101).
 contains(Mu_ph,Dummy_Set_98).
 contains(Mu_mmid,Dummy_Set_98).
 contains(Mu_mpin,Dummy_Set_98).
 contains(Url,Dummy_Set_99).
 contains(Link,Dummy_Set_99).
 contains(B_name,Dummy_Set_100).
 contains(Place_branch,Dummy_Set_100).
 contains(B_code,Dummy_Set_100).
 contains(pair(Dummy_Set_99,Dummy_Set_100),Dummy_Set_101).
 contains(B,Dummy_Set_102).
 contains(As,Dummy_Set_102)

step step_4 (Mu,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,NMu1,Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_98,Set_99,Set_100,Set_101,Set_102,Dummy_Set_104,Set_106,Set_107,SID,Mu_id,Bank_webinfo,Ts) :=
 state_bank(Mu,B,As,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,2,NMu1,Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_98,Set_99,Set_100,Set_101,Set_102,Dummy_Set_104,Set_106,Set_107,SID).
 iknows(pair(Bank_webinfo,Mu_id))
=[exists Ts]=>
 state_bank(Mu,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Set_104,As_info,As_name,As_id,Hash,5,NMu1,Alpha,apply(Hash,pair(Mu_id,pair(Dummy_Set_104,Ts))),NAs1,Ts,Set_98,Set_99,Set_100,Set_101,Set_102,Dummy_Set_104,Set_106,Set_107,SID).
 contains(B_name,Dummy_Set_104).
 contains(Place_branch,Dummy_Set_104).
 contains(B_code,Dummy_Set_104)

step step_5 (Mu,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,NMu1,Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_98,Set_99,Set_100,Set_101,Set_102,Set_104,Dummy_Set_106,Dummy_Set_107,SID,Auth_info,Beta,Ts) :=
 state_bank(Mu,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,5,NMu1,Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_98,Set_99,Set_100,Set_101,Set_102,Set_104,Dummy_Set_106,Dummy_Set_107,SID).
 iknows(crypt(inv(Kas),pair(Beta,pair(Auth_info,Ts))))
 =>
 state_bank(Mu,B,As,Ku,Kas,Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,As_info,As_name,As_id,Hash,7,NMu1,Alpha,Beta,NAs1,Ts,Set_98,Set_99,Set_100,Set_101,Set_102,Set_104,Dummy_Set_106,Dummy_Set_107,SID).
 contains(B,Dummy_Set_106).
 contains(As,Dummy_Set_106).
 contains(B,Dummy_Set_107).
 contains(As,Dummy_Set_107)

step step_6 (As,Mu,B,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Dummy_Rc_mobuser,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,NMu1,Alpha,Beta,NAs1,Ts,Dummy_Set_144,Dummy_Set_145,Dummy_Set_146,Dummy_Set_147,Dummy_Set_148,Dummy_Set_149,Set_150,Set_151,Set_153,Set_154,Set_156,Set_157,Set_159,Set_160,SID) :=
 state_authser(As,Mu,B,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Dummy_Rc_mobuser,B_name,Place_branch,B_code,Dummy_Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,0,NMu1,Alpha,Beta,NAs1,Ts,Dummy_Set_144,Dummy_Set_145,Dummy_Set_146,Dummy_Set_147,Dummy_Set_148,Dummy_Set_149,Set_150,Set_151,Set_153,Set_154,Set_156,Set_157,Set_159,Set_160,SID).
 iknows(start)
 =>
 state_authser(As,Mu,B,Ku,Kas,Dummy_Set_146,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Dummy_Set_147,B_name,Place_branch,B_code,Dummy_Set_144,Dummy_Set_145,As_info,As_name,As_id,Hash,2,NMu1,Alpha,Beta,NAs1,Ts,Dummy_Set_144,Dummy_Set_145,Dummy_Set_146,Dummy_Set_147,Dummy_Set_148,Dummy_Set_149,Set_150,Set_151,Set_153,Set_154,Set_156,Set_157,Set_159,Set_160,SID).
 iknows(Dummy_Set_148).
 contains(Url,Dummy_Set_144).
 contains(Link,Dummy_Set_144).
 contains(B_name,Dummy_Set_145).
 contains(Place_branch,Dummy_Set_145).
 contains(B_code,Dummy_Set_145).
 contains(Mu_ph,Dummy_Set_146).
 contains(Mu_mmid,Dummy_Set_146).
 contains(Mu_mpin,Dummy_Set_146).
 contains(Mu_usr,Dummy_Set_147).
 contains(Mu_pwd,Dummy_Set_147).
 contains(pair(Dummy_Set_144,Dummy_Set_145),Dummy_Set_148).
 contains(B,Dummy_Set_149).
 contains(As,Dummy_Set_149)

step step_7 (As,Mu,B,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Dummy_Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,Dummy_As_info,As_name,As_id,Hash,NMu1,Alpha,Beta,Dummy_NAs1,Ts,Set_144,Set_145,Set_146,Set_147,Set_148,Set_149,Dummy_Set_150,Dummy_Set_151,Set_153,Set_154,Set_156,Set_157,Set_159,Set_160,SID,Mu_id,Rc_mobuser,NAs1) :=
 state_authser(As,Mu,B,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Dummy_Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,Dummy_As_info,As_name,As_id,Hash,2,NMu1,Alpha,Beta,Dummy_NAs1,Ts,Set_144,Set_145,Set_146,Set_147,Set_148,Set_149,Dummy_Set_150,Dummy_Set_151,Set_153,Set_154,Set_156,Set_157,Set_159,Set_160,SID).
 iknows(pair(Mu_id,Rc_mobuser))
=[exists NAs1]=>
 state_authser(As,Mu,B,Ku,Kas,Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,Dummy_Set_150,As_name,As_id,Hash,3,NMu1,Alpha,Beta,NAs1,Ts,Set_144,Set_145,Set_146,Set_147,Set_148,Set_149,Dummy_Set_150,Dummy_Set_151,Set_153,Set_154,Set_156,Set_157,Set_159,Set_160,SID).
 contains(As_name,Dummy_Set_150).
 contains(As_id,Dummy_Set_150).
 contains(Mu,Dummy_Set_151).
 contains(As,Dummy_Set_151)

step step_8 (As,Mu,B,Ku,Kas,Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,Dummy_As_info,As_name,As_id,Hash,NMu1,Dummy_Alpha,Beta,Dummy_NAs1,Ts,Set_144,Set_145,Set_146,Set_147,Set_148,Set_149,Set_150,Set_151,Dummy_Set_153,Dummy_Set_154,Set_156,Set_157,Set_159,Set_160,SID,As_info,NAs1) :=
 state_authser(As,Mu,B,Ku,Kas,Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,Dummy_As_info,As_name,As_id,Hash,3,NMu1,Dummy_Alpha,Beta,Dummy_NAs1,Ts,Set_144,Set_145,Set_146,Set_147,Set_148,Set_149,Set_150,Set_151,Dummy_Set_153,Dummy_Set_154,Set_156,Set_157,Set_159,Set_160,SID).
 iknows(pair(NAs1,As_info))
 =>
 state_authser(As,Mu,B,Ku,Kas,Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Set_153,As_info,As_name,As_id,Hash,5,NMu1,apply(Hash,pair(NAs1,Dummy_Set_153)),Beta,NAs1,Ts,Set_144,Set_145,Set_146,Set_147,Set_148,Set_149,Set_150,Set_151,Dummy_Set_153,Dummy_Set_154,Set_156,Set_157,Set_159,Set_160,SID).
 secret(NAs1,nas1,Dummy_Set_154).
 contains(B_name,Dummy_Set_153).
 contains(Place_branch,Dummy_Set_153).
 contains(B_code,Dummy_Set_153).
 contains(Mu,Dummy_Set_154).
 contains(As,Dummy_Set_154)

step step_9 (As,Mu,B,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,NMu1,Dummy_Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_144,Set_145,Set_146,Set_147,Set_148,Set_149,Set_150,Set_151,Set_153,Set_154,Dummy_Set_156,Dummy_Set_157,Set_159,Set_160,SID,Auth_info,Alpha,Ts) :=
 state_authser(As,Mu,B,Ku,Kas,Dummy_Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,5,NMu1,Dummy_Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_144,Set_145,Set_146,Set_147,Set_148,Set_149,Set_150,Set_151,Set_153,Set_154,Dummy_Set_156,Dummy_Set_157,Set_159,Set_160,SID).
 iknows(crypt(inv(Ku),pair(Alpha,Auth_info)))
=[exists Ts]=>
 state_authser(As,Mu,B,Ku,Kas,Dummy_Set_156,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,As_info,As_name,As_id,Hash,7,NMu1,Alpha,apply(Hash,pair(Dummy_Set_156,pair(Auth_info,Ts))),NAs1,Ts,Set_144,Set_145,Set_146,Set_147,Set_148,Set_149,Set_150,Set_151,Set_153,Set_154,Dummy_Set_156,Dummy_Set_157,Set_159,Set_160,SID).
 contains(Mu_ph,Dummy_Set_156).
 contains(Mu_mmid,Dummy_Set_156).
 contains(Mu_mpin,Dummy_Set_156).
 contains(Mu,Dummy_Set_157).
 contains(As,Dummy_Set_157)

step step_10 (As,Mu,B,Ku,Kas,Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,NMu1,Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_144,Set_145,Set_146,Set_147,Set_148,Set_149,Set_150,Set_151,Set_153,Set_154,Set_156,Set_157,Dummy_Set_159,Dummy_Set_160,SID,Auth_info,Beta,Ts) :=
 state_authser(As,Mu,B,Ku,Kas,Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Dummy_Auth_info,As_info,As_name,As_id,Hash,7,NMu1,Alpha,Dummy_Beta,NAs1,Dummy_Ts,Set_144,Set_145,Set_146,Set_147,Set_148,Set_149,Set_150,Set_151,Set_153,Set_154,Set_156,Set_157,Dummy_Set_159,Dummy_Set_160,SID).
 iknows(crypt(inv(Kas),pair(Beta,pair(Auth_info,Ts))))
 =>
 state_authser(As,Mu,B,Ku,Kas,Mu_id,Mu_ph,Mu_mmid,Mu_mpin,Mu_usr,Mu_pwd,Url,Link,Rc_mobuser,B_name,Place_branch,B_code,Bank_webinfo,Auth_info,As_info,As_name,As_id,Hash,9,NMu1,Alpha,Beta,NAs1,Ts,Set_144,Set_145,Set_146,Set_147,Set_148,Set_149,Set_150,Set_151,Set_153,Set_154,Set_156,Set_157,Dummy_Set_159,Dummy_Set_160,SID).
 contains(B,Dummy_Set_159).
 contains(As,Dummy_Set_159).
 contains(B,Dummy_Set_160).
 contains(As,Dummy_Set_160)


section properties:

property secrecy_of_nas1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,nas1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_bank_authser_ts (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bank_authser_ts,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bank_authser_ts,MGoal))
     /\ ((request(A1Goal,A2Goal,bank_authser_ts,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bank_authser_ts,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bank_authser_auth_info (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bank_authser_auth_info,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bank_authser_auth_info,MGoal))
     /\ ((request(A1Goal,A2Goal,bank_authser_auth_info,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bank_authser_auth_info,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property weak_authentication_on_auth_info (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,auth_info,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,auth_info,MGoal))


section attack_states:

attack_state secrecy_of_nas1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,nas1,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_bank_authser_ts (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bank_authser_ts,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bank_authser_ts,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bank_authser_ts (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bank_authser_ts,MGoal,SID1).
 request(A1Goal,A2Goal,bank_authser_ts,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bank_authser_auth_info (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bank_authser_auth_info,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bank_authser_auth_info,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bank_authser_auth_info (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bank_authser_auth_info,MGoal,SID1).
 request(A1Goal,A2Goal,bank_authser_auth_info,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_auth_info (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,auth_info,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth_info,MGoal)) &
 not(equal(A2Goal,i))

