%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile59fnSN

section signature:

state_deviceB: agent * agent * public_key * hash_func * nat * text * text * text * text * symmetric_key * symmetric_key * public_key * set(agent) * set(agent) * nat -> fact
state_deviceA: agent * agent * public_key * hash_func * nat * text * text * text * text * symmetric_key * symmetric_key * public_key * set(agent) * set(agent) * set(agent) * nat -> fact


section types:

ra, rb, sid, rc, ra_rb: protocol_id
MGoal, start: message
Dummy_K56, Dummy_K24, dummy_sk, k2, K24, K56, k5: symmetric_key
Dummy_Ssid, Dummy_Rc, Dummy_Rb, Dummy_Ra, dummy_nonce, Ra, Rc, Rb, Ssid: text
hasz, Hash: hash_func
dummy_pk, certa, certb, certi, CertA, CertB: public_key
Dummy_State, 3, SID, SID2, SID1, 1, State, 5, 4, 13, 2, 0, 9, 7, 6: nat
set_87, set_86, set_85, set_126, set_125, set_124, set_123, set_122, set_121, set_120, set_118, set_117, set_116, set_114, set_113, set_111, set_110, set_109, set_104, set_103: set
A2Goal, A1Goal, a, b, IDa, IDb, i: agent
Dummy_Set_28, ASGoal, Set_58, Set_57, Set_37, Set_36, Set_28, Dummy_Set_58, Dummy_Set_57, Dummy_Set_37, Dummy_Set_36: set(agent)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ra_rb).
 iknows(rb).
 iknows(certa).
 iknows(certb).
 iknows(inv(certa)).
 iknows(a).
 iknows(b).
 iknows(certi).
 iknows(inv(certi)).
 iknows(i).
 state_deviceA(a,b,certa,hasz,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_pk,set_85,set_86,set_87,3).
 state_deviceB(b,a,certb,hasz,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_pk,set_103,set_104,4).
 state_deviceA(b,a,certb,hasz,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_pk,set_109,set_110,set_111,6).
 state_deviceB(a,b,certa,hasz,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_pk,set_113,set_114,7).
 state_deviceA(a,i,certa,hasz,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_pk,set_116,set_117,set_118,9).
 state_deviceB(b,i,certb,hasz,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_pk,set_125,set_126,13)


section rules:

step step_0 (IDa,IDb,CertA,Hash,Ssid,Dummy_Ra,Rb,Rc,K24,K56,CertB,Set_28,Set_36,Set_37,SID,Ra) :=
 state_deviceA(IDa,IDb,CertA,Hash,0,Ssid,Dummy_Ra,Rb,Rc,K24,K56,CertB,Set_28,Set_36,Set_37,SID).
 iknows(start)
=[exists Ra]=>
 state_deviceA(IDa,IDb,CertA,Hash,2,Ssid,Ra,Rb,Rc,K24,K56,CertB,Set_28,Set_36,Set_37,SID).
 iknows(pair(Ra,IDa))

step step_1 (IDa,IDb,CertA,Hash,Ssid,Ra,Dummy_Rb,Dummy_Rc,Dummy_K24,Dummy_K56,CertB,Dummy_Set_28,Set_36,Set_37,SID,Rb,Rc,K24,K56) :=
 state_deviceA(IDa,IDb,CertA,Hash,2,Ssid,Ra,Dummy_Rb,Dummy_Rc,Dummy_K24,Dummy_K56,CertB,Dummy_Set_28,Set_36,Set_37,SID).
 iknows(pair(Rb,pair(IDb,pair(crypt(inv(CertB),apply(Hash,pair(Rb,pair(Ra,IDa)))),CertB))))
=[exists Rc,K56,K24]=>
 state_deviceA(IDa,IDb,CertA,Hash,3,Ssid,Ra,Rb,Rc,K24,K56,CertB,Dummy_Set_28,Set_36,Set_37,SID).
 iknows(pair(IDb,pair(scrypt(K24,pair(K56,pair(Ra,pair(Rb,pair(Rc,pair(IDb,crypt(inv(CertA),apply(Hash,pair(Ra,pair(Rb,K56)))))))))),pair(crypt(CertB,pair(K24,IDb)),CertA)))).
 secret(K56,k5,Dummy_Set_28).
 contains(IDa,Dummy_Set_28).
 contains(IDb,Dummy_Set_28)

step step_2 (IDa,IDb,CertA,Hash,Dummy_Ssid,Ra,Rb,Rc,K24,K56,CertB,Set_28,Dummy_Set_36,Dummy_Set_37,SID,Ssid) :=
 state_deviceA(IDa,IDb,CertA,Hash,4,Dummy_Ssid,Ra,Rb,Rc,K24,K56,CertB,Set_28,Dummy_Set_36,Dummy_Set_37,SID).
 iknows(scrypt(K56,pair(Rc,pair(Ssid,IDa))))
 =>
 state_deviceA(IDa,IDb,CertA,Hash,5,Ssid,Ra,Rb,Rc,K24,K56,CertB,Set_28,Dummy_Set_36,Dummy_Set_37,SID).
 secret(K56,k5,Dummy_Set_37).
 contains(IDa,Dummy_Set_36).
 contains(IDb,Dummy_Set_36).
 contains(IDa,Dummy_Set_37).
 contains(IDb,Dummy_Set_37)

step step_3 (IDb,IDa,CertB,Hash,Dummy_Ra,Rc,Dummy_Rb,Ssid,K24,K56,CertA,Set_57,Set_58,SID,Ra,Rb) :=
 state_deviceB(IDb,IDa,CertB,Hash,1,Dummy_Ra,Rc,Dummy_Rb,Ssid,K24,K56,CertA,Set_57,Set_58,SID).
 iknows(pair(Ra,IDa))
=[exists Rb]=>
 state_deviceB(IDb,IDa,CertB,Hash,3,Ra,Rc,Rb,Ssid,K24,K56,CertA,Set_57,Set_58,SID).
 iknows(pair(Rb,pair(IDb,pair(crypt(inv(CertB),apply(Hash,pair(Ra,pair(Rb,IDa)))),CertB)))).
 witness(IDb,IDa,rb,Rb)

step step_4 (IDb,IDa,CertB,Hash,Ra,Rc,Rb,Dummy_Ssid,Dummy_K24,Dummy_K56,CertA,Dummy_Set_57,Dummy_Set_58,SID,Ssid,K24,K56) :=
 state_deviceB(IDb,IDa,CertB,Hash,3,Ra,Rc,Rb,Dummy_Ssid,Dummy_K24,Dummy_K56,CertA,Dummy_Set_57,Dummy_Set_58,SID).
 iknows(pair(IDb,pair(scrypt(K24,pair(K56,pair(Ra,pair(Rb,pair(Rc,pair(IDb,crypt(inv(CertA),apply(Hash,pair(Ra,pair(Rb,K56)))))))))),pair(crypt(CertB,pair(K24,IDb)),CertA))))
=[exists Ssid]=>
 state_deviceB(IDb,IDa,CertB,Hash,5,Ra,Rc,Rb,Ssid,K24,K56,CertA,Dummy_Set_57,Dummy_Set_58,SID).
 iknows(scrypt(K56,pair(Rc,pair(Ssid,IDa)))).
 secret(Dummy_K56,k5,Dummy_Set_58).
 request(IDb,IDa,rb,Rb,SID).
 contains(IDa,Dummy_Set_57).
 contains(IDb,Dummy_Set_57).
 contains(IDa,Dummy_Set_58).
 contains(IDb,Dummy_Set_58)


section properties:

property secrecy_of_k5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,k5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_ra (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,ra,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,ra,MGoal))
     /\ ((request(A1Goal,A2Goal,ra,MGoal,SID1)
           /\ request(A1Goal,A2Goal,ra,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_rb (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,rb,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,rb,MGoal))
     /\ ((request(A1Goal,A2Goal,rb,MGoal,SID1)
           /\ request(A1Goal,A2Goal,rb,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_k5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k5,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_ra (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,ra,MGoal,SID) &
 not(witness(A2Goal,A1Goal,ra,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_ra (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,ra,MGoal,SID1).
 request(A1Goal,A2Goal,ra,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_rb (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,rb,MGoal,SID) &
 not(witness(A2Goal,A1Goal,rb,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_rb (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,rb,MGoal,SID1).
 request(A1Goal,A2Goal,rb,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

