%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileQf28Ge8BX2

section signature:

state_sensor: agent * agent * agent * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(text) * nat -> fact
state_gwn: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * nat -> fact
state_user: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * nat -> fact


section types:

MGoal, start: message
sensor_gwn_rj, sensor_gwn_t1, gwn_sensor_t2, user_sensor_t11, user_sensor_ki, sensor_gwn_kj, sensor_gwn_t21, gwn_sensor_t3, sensor_user_t4, s1, s2, s3, s4: protocol_id
ASGoal, Set_154, Set_110, Dummy_Set_154, Dummy_Set_110: set(agent)
h, H: hash_func
skuigwn, SKuigwn: symmetric_key
Dummy_Set_60, Set_155, Set_153, Set_109, Set_107, Set_60, Dummy_Set_155, Dummy_Set_153, Dummy_Set_109, Dummy_Set_107: set(text)
Dummy_State, 3, SID, SID2, SID1, 12, 9, State, 6, 4, 5, 2, 1, 16, 0, 15, 13, 11, 8: nat
set_188, set_264, set_263, set_262, set_260, set_259, set_258, set_256, set_254, set_253, set_252, set_251, set_250, set_249, set_247, set_245, set_244, set_243, set_241, set_240, set_239, set_238, set_227, set_226, set_225, set_207, set_206, set_205: set
A2Goal, A1Goal, ui, sj, Ui, GWN, Sj, gwn, i: agent
Dummy_Kj, Dummy_Ki, Dummy_T11, Dummy_M3, Dummy_M2, Dummy_M1, Dummy_Ri, Dummy_MPi, Dummy_MIi, dummy_nonce, t1, t2, t3, t4, t11, t21, M4, M5, NSIDj, M6, M7, T3, T4, SK, M8, Fj, M1, M2, M3, T11, T21, Ki, Kj, MNj, MPj, Xgwn, Xgwnsj, Rj, T1, T2, Xj, Ej, Dj, IDi, SIDj, PWi, MIi, MPi, Ri, Dummy_M8, Dummy_SK, Dummy_M5, Dummy_MPj, Dummy_MNj, Dummy_M7, Dummy_M6, Dummy_NSIDj, Dummy_M4, Dummy_T21, Dummy_Fj, Dummy_Dj, Dummy_Ej, Dummy_Xj, Dummy_T2, Dummy_T1, Dummy_Rj, Dummy_T4, Dummy_T3: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(gwn).
 iknows(sj).
 iknows(h).
 iknows(t1).
 iknows(t2).
 iknows(t3).
 iknows(t4).
 iknows(t11).
 iknows(t21).
 iknows(i).
 state_user(ui,gwn,sj,skuigwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_188,3).
 state_gwn(gwn,ui,sj,skuigwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_205,set_206,set_207,4).
 state_sensor(sj,ui,gwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_225,set_226,set_227,5).
 state_gwn(gwn,i,sj,skuigwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_239,set_240,set_241,8).
 state_sensor(sj,i,gwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_243,set_244,set_245,9).
 state_user(ui,i,sj,skuigwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_247,11).
 state_sensor(sj,ui,i,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_252,set_253,set_254,13).
 state_user(ui,gwn,i,skuigwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_256,15).
 state_gwn(gwn,ui,i,skuigwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_258,set_259,set_260,16)


section rules:

step step_0 (Ui,GWN,Sj,SKuigwn,H,IDi,SIDj,PWi,Dummy_MIi,Dummy_MPi,Dummy_Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Dummy_Set_60,SID,Ri) :=
 state_user(Ui,GWN,Sj,SKuigwn,H,0,IDi,SIDj,PWi,Dummy_MIi,Dummy_MPi,Dummy_Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Dummy_Set_60,SID).
 iknows(start)
=[exists Ri]=>
 state_user(Ui,GWN,Sj,SKuigwn,H,1,IDi,SIDj,PWi,apply(H,pair(IDi,Ri)),apply(H,xor(xor(IDi,Ri),PWi)),Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Dummy_Set_60,SID).
 iknows(scrypt(SKuigwn,pair(apply(H,pair(IDi,Ri)),apply(H,xor(xor(IDi,Ri),PWi))))).
 secret(Dummy_Set_60,s1,Ui).
 secret(Ri,s2,GWN).
 contains(IDi,Dummy_Set_60).
 contains(PWi,Dummy_Set_60)

step step_1 (Ui,GWN,Sj,SKuigwn,H,IDi,SIDj,PWi,MIi,MPi,Dummy_Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,Dummy_M1,Dummy_M2,Dummy_M3,Dummy_T11,T21,Dummy_Ki,Kj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Set_60,SID,Ri,T11,Ki) :=
 state_user(Ui,GWN,Sj,SKuigwn,H,1,IDi,SIDj,PWi,MIi,MPi,Dummy_Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,Dummy_M1,Dummy_M2,Dummy_M3,Dummy_T11,T21,Dummy_Ki,Kj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Set_60,SID).
 iknows(scrypt(SKuigwn,pair(apply(H,pair(apply(H,pair(IDi,Ri)),apply(H,xor(xor(pair(IDi,Ri)),PWi)))),pair(xor(apply(H,Xgwn),apply(H,apply(H,pair(xor(xor(IDi,Ri),PWi),apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)))))),xor(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),apply(H,pair(apply(H,pair(IDi,Ri)),xor(apply(H,Xgwn),apply(H,apply(H,pair(xor(xor(IDi,Ri),PWi),apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)))))))))))))
=[exists Ki,T11]=>
 state_user(Ui,GWN,Sj,SKuigwn,H,3,IDi,SIDj,PWi,MIi,MPi,Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,xor(apply(H,pair(IDi,Ri)),apply(H,pair(apply(H,Xgwn),T1))),xor(Ki,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),T11))),apply(H,pair(Ki,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),pair(xor(apply(H,pair(IDi,Ri)),apply(H,pair(apply(H,Xgwn),T1))),pair(xor(Ki,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),T11))),T11))))),T11,T21,Ki,Kj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Set_60,SID).
 iknows(pair(xor(apply(H,pair(IDi,Ri)),apply(H,pair(apply(H,Xgwn),T1))),pair(xor(Ki,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),T11))),pair(apply(H,pair(Ki,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),pair(xor(apply(H,pair(IDi,Ri)),apply(H,pair(apply(H,Xgwn),T1))),pair(xor(Ki,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),T11))),T11))))),T11)))).
 witness(Ui,Sj,user_sensor_t11,T11).
 witness(Ui,Sj,user_sensor_ki,Ki)

step step_2 (Ui,GWN,Sj,SKuigwn,H,IDi,SIDj,PWi,MIi,MPi,Dummy_Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Dummy_Ki,Dummy_Kj,M4,M5,NSIDj,M6,M7,Dummy_T3,Dummy_T4,SK,M8,Set_60,SID,Ri,Ki,Kj,T3,T4) :=
 state_user(Ui,GWN,Sj,SKuigwn,H,3,IDi,SIDj,PWi,MIi,MPi,Dummy_Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Dummy_Ki,Dummy_Kj,M4,M5,NSIDj,M6,M7,Dummy_T3,Dummy_T4,SK,M8,Set_60,SID).
 iknows(pair(xor(Kj,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),pair(T3,Ki)))),pair(xor(Ki,apply(H,pair(apply(H,pair(Xgwn,SIDj)),pair(apply(H,pair(Xgwnsj,Xgwn)),pair(Kj,T3))))),pair(apply(H,pair(xor(Kj,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),pair(T3,Ki)))),pair(xor(Ki,apply(H,pair(apply(H,pair(Xgwn,SIDj)),pair(apply(H,pair(Xgwnsj,Xgwn)),pair(Kj,T3))))),pair(apply(H,pair(apply(H,xor(Ki,Kj)),pair(T3,T4))),pair(T3,T4))))),pair(T3,T4)))))
 =>
 state_user(Ui,GWN,Sj,SKuigwn,H,5,IDi,SIDj,PWi,MIi,MPi,Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Set_60,SID).
 request(Sj,Ui,sensor_user_t4,T4,SID)

step step_3 (GWN,Ui,Sj,SKuigwn,H,IDi,SIDj,PWi,MIi,MPi,Dummy_Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Dummy_Set_107,Set_109,Set_110,SID,Ri) :=
 state_gwn(GWN,Ui,Sj,SKuigwn,H,0,IDi,SIDj,PWi,MIi,MPi,Dummy_Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Dummy_Set_107,Set_109,Set_110,SID).
 iknows(scrypt(SKuigwn,pair(apply(H,pair(IDi,Ri)),apply(H,xor(xor(IDi,Ri),PWi)))))
 =>
 state_gwn(GWN,Ui,Sj,SKuigwn,H,2,IDi,SIDj,PWi,MIi,MPi,Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Dummy_Set_107,Set_109,Set_110,SID).
 iknows(scrypt(SKuigwn,pair(apply(H,pair(apply(H,pair(IDi,Ri)),apply(H,xor(xor(pair(IDi,Ri)),PWi)))),pair(xor(apply(H,Xgwn),apply(H,apply(H,pair(xor(xor(IDi,Ri),PWi),apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)))))),xor(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),apply(H,pair(apply(H,pair(IDi,Ri)),xor(apply(H,Xgwn),apply(H,apply(H,pair(xor(xor(IDi,Ri),PWi),apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn))))))))))))).
 secret(Dummy_Set_107,s1,Ui).
 secret(Ri,s2,GWN).
 contains(IDi,Dummy_Set_107).
 contains(PWi,Dummy_Set_107)

step step_4 (GWN,Ui,Sj,SKuigwn,H,IDi,SIDj,PWi,MIi,MPi,Ri,Xgwn,Xgwnsj,Dummy_Rj,Dummy_T1,Dummy_T2,Dummy_Xj,Dummy_Ej,Dummy_Dj,Dummy_Fj,M1,M2,M3,T11,T21,Ki,Kj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Set_107,Dummy_Set_109,Dummy_Set_110,SID,Rj,T1,T2) :=
 state_gwn(GWN,Ui,Sj,SKuigwn,H,2,IDi,SIDj,PWi,MIi,MPi,Ri,Xgwn,Xgwnsj,Dummy_Rj,Dummy_T1,Dummy_T2,Dummy_Xj,Dummy_Ej,Dummy_Dj,Dummy_Fj,M1,M2,M3,T11,T21,Ki,Kj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Set_107,Dummy_Set_109,Dummy_Set_110,SID).
 iknows(pair(SIDj,pair(apply(H,xor(xor(Xgwnsj,SIDj),Rj)),pair(apply(H,pair(Xgwnsj,pair(Rj,pair(SIDj,T1)))),T1))))
=[exists T2]=>
 state_gwn(GWN,Ui,Sj,SKuigwn,H,4,IDi,SIDj,PWi,MIi,MPi,Ri,Xgwn,Xgwnsj,Rj,T1,T2,apply(H,pair(Xgwnsj,Xgwn)),xor(apply(H,pair(Xgwnsj,Xgwn)),Xgwnsj),xor(apply(H,pair(Xgwn,SIDj)),apply(H,pair(Xgwnsj,T2))),apply(H,pair(Xgwnsj,pair(apply(H,pair(Xgwnsj,Xgwn)),pair(xor(apply(H,pair(Xgwn,SIDj)),apply(H,pair(Xgwnsj,T2))),T2)))),M1,M2,M3,T11,T21,Ki,Kj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Set_107,Dummy_Set_109,Dummy_Set_110,SID).
 secret(Dummy_Set_109,s4,Dummy_Set_110).
 iknows(pair(xor(apply(H,pair(Xgwn,SIDj)),apply(H,pair(Xgwnsj,T2))),pair(xor(apply(H,pair(Xgwnsj,Xgwn)),Xgwnsj),pair(apply(H,pair(Xgwnsj,pair(apply(H,pair(Xgwnsj,Xgwn)),pair(xor(apply(H,pair(Xgwn,SIDj)),apply(H,pair(Xgwnsj,T2))),T2)))),T2)))).
 witness(GWN,Sj,gwn_sensor_t2,T2).
 contains(Xgwnsj,Dummy_Set_109).
 contains(GWN,Dummy_Set_110).
 contains(Sj,Dummy_Set_110)

step step_5 (GWN,Ui,Sj,SKuigwn,H,IDi,SIDj,PWi,MIi,MPi,Dummy_Ri,Xgwn,Xgwnsj,Rj,Dummy_T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,Dummy_T11,Dummy_T21,Dummy_Ki,Dummy_Kj,Dummy_M4,M5,Dummy_NSIDj,Dummy_M6,Dummy_M7,Dummy_T3,T4,SK,M8,Set_107,Set_109,Set_110,SID,Ri,T1,T11,T21,Ki,Kj,M4,NSIDj,T3) :=
 state_gwn(GWN,Ui,Sj,SKuigwn,H,4,IDi,SIDj,PWi,MIi,MPi,Dummy_Ri,Xgwn,Xgwnsj,Rj,Dummy_T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,Dummy_T11,Dummy_T21,Dummy_Ki,Dummy_Kj,Dummy_M4,M5,Dummy_NSIDj,Dummy_M6,Dummy_M7,Dummy_T3,T4,SK,M8,Set_107,Set_109,Set_110,SID).
 iknows(pair(xor(apply(H,pair(IDi,Ri)),apply(H,pair(apply(H,Xgwn),T1))),pair(xor(Ki,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),T11))),pair(apply(H,pair(Ki,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),pair(xor(apply(H,pair(IDi,Ri)),apply(H,pair(apply(H,Xgwn),T1))),pair(xor(Ki,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),T11))),T11))))),pair(T11,pair(T21,pair(NSIDj,pair(xor(apply(H,pair(apply(H,pair(Xgwnsj,Xgwn)),pair(T11,T21))),Kj),apply(H,pair(M4,pair(NSIDj,pair(T11,pair(T21,Kj)))))))))))))
=[exists T3]=>
 state_gwn(GWN,Ui,Sj,SKuigwn,H,6,IDi,SIDj,PWi,MIi,MPi,Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,M4,M5,NSIDj,xor(Kj,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),pair(T3,Ki)))),xor(Ki,apply(H,pair(apply(H,pair(Xgwn,SIDj)),pair(apply(H,pair(Xgwnsj,Xgwn)),pair(Kj,T3))))),T3,T4,SK,M8,Set_107,Set_109,Set_110,SID).
 iknows(pair(xor(Kj,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),pair(T3,Ki)))),pair(xor(Ki,apply(H,pair(apply(H,pair(Xgwn,SIDj)),pair(apply(H,pair(Xgwnsj,Xgwn)),pair(Kj,T3))))),T3))).
 witness(GWN,Sj,gwn_sensor_t3,T3).
 request(Sj,GWN,sensor_gwn_kj,Kj,SID).
 request(Sj,GWN,sensor_gwn_t21,T21,SID)

step step_6 (Sj,Ui,GWN,H,IDi,SIDj,PWi,MIi,MPi,Ri,Xgwn,Xgwnsj,Dummy_Rj,Dummy_T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,Dummy_MNj,Dummy_MPj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Dummy_Set_153,Dummy_Set_154,Set_155,SID,Rj,T1) :=
 state_sensor(Sj,Ui,GWN,H,0,IDi,SIDj,PWi,MIi,MPi,Ri,Xgwn,Xgwnsj,Dummy_Rj,Dummy_T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,Dummy_MNj,Dummy_MPj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Dummy_Set_153,Dummy_Set_154,Set_155,SID).
 iknows(start)
=[exists T1,Rj]=>
 state_sensor(Sj,Ui,GWN,H,3,IDi,SIDj,PWi,MIi,MPi,Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,apply(H,xor(xor(Xgwnsj,SIDj),Rj)),apply(H,pair(Xgwnsj,pair(Rj,pair(SIDj,T1)))),M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Dummy_Set_153,Dummy_Set_154,Set_155,SID).
 iknows(pair(SIDj,pair(apply(H,xor(xor(Xgwnsj,SIDj),Rj)),pair(apply(H,pair(Xgwnsj,pair(Rj,pair(SIDj,T1)))),T1)))).
 secret(Dummy_Set_153,s4,Dummy_Set_154).
 contains(Xgwnsj,Dummy_Set_153).
 contains(GWN,Dummy_Set_154).
 contains(Sj,Dummy_Set_154)

step step_7 (Sj,Ui,GWN,H,IDi,SIDj,PWi,MIi,MPi,Ri,Xgwn,Xgwnsj,Rj,T1,Dummy_T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,MNj,MPj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Set_153,Set_154,Dummy_Set_155,SID,T2) :=
 state_sensor(Sj,Ui,GWN,H,3,IDi,SIDj,PWi,MIi,MPi,Ri,Xgwn,Xgwnsj,Rj,T1,Dummy_T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,MNj,MPj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Set_153,Set_154,Dummy_Set_155,SID).
 iknows(pair(xor(apply(H,pair(Xgwn,SIDj)),apply(H,pair(Xgwnsj,T2))),pair(xor(apply(H,pair(Xgwnsj,Xgwn)),Xgwnsj),pair(apply(H,pair(Xgwnsj,pair(apply(H,pair(Xgwnsj,Xgwn)),pair(xor(apply(H,pair(Xgwn,SIDj)),apply(H,pair(Xgwnsj,T2))),T2)))),T2))))
 =>
 state_sensor(Sj,Ui,GWN,H,6,IDi,SIDj,PWi,MIi,MPi,Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,MNj,MPj,M4,M5,NSIDj,M6,M7,T3,T4,SK,M8,Set_153,Set_154,Dummy_Set_155,SID).
 request(GWN,Sj,gwn_sensor_t2,T2,SID).
 contains(Xgwn,Dummy_Set_155)

step step_8 (Sj,Ui,GWN,H,IDi,SIDj,PWi,MIi,MPi,Dummy_Ri,Xgwn,Xgwnsj,Rj,Dummy_T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,Dummy_T11,Dummy_T21,Dummy_Ki,Dummy_Kj,MNj,MPj,Dummy_M4,Dummy_M5,Dummy_NSIDj,M6,M7,T3,T4,SK,M8,Set_153,Set_154,Set_155,SID,Ri,T1,T11,T21,Ki,Kj) :=
 state_sensor(Sj,Ui,GWN,H,6,IDi,SIDj,PWi,MIi,MPi,Dummy_Ri,Xgwn,Xgwnsj,Rj,Dummy_T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,Dummy_T11,Dummy_T21,Dummy_Ki,Dummy_Kj,MNj,MPj,Dummy_M4,Dummy_M5,Dummy_NSIDj,M6,M7,T3,T4,SK,M8,Set_153,Set_154,Set_155,SID).
 iknows(pair(xor(apply(H,pair(IDi,Ri)),apply(H,pair(apply(H,Xgwn),T1))),pair(xor(Ki,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),T11))),pair(apply(H,pair(Ki,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),pair(xor(apply(H,pair(IDi,Ri)),apply(H,pair(apply(H,Xgwn),T1))),pair(xor(Ki,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),T11))),T11))))),T11))))
=[exists T21,Kj]=>
 state_sensor(Sj,Ui,GWN,H,9,IDi,SIDj,PWi,MIi,MPi,Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,MNj,MPj,xor(apply(H,pair(apply(H,pair(Xgwnsj,Xgwn)),pair(T11,T21))),Kj),apply(H,pair(xor(apply(H,pair(apply(H,pair(Xgwnsj,Xgwn)),pair(T11,T21))),Kj),pair(apply(H,pair(apply(H,pair(Xgwn,SIDj)),T21)),pair(T11,pair(T21,Kj))))),apply(H,pair(apply(H,pair(Xgwn,SIDj)),T21)),M6,M7,T3,T4,SK,M8,Set_153,Set_154,Set_155,SID).
 iknows(pair(xor(apply(H,pair(IDi,Ri)),apply(H,pair(apply(H,Xgwn),T1))),pair(xor(Ki,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),T11))),pair(apply(H,pair(Ki,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),pair(xor(apply(H,pair(IDi,Ri)),apply(H,pair(apply(H,Xgwn),T1))),pair(xor(Ki,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),T11))),T11))))),pair(T11,pair(T21,pair(apply(H,pair(apply(H,pair(Xgwn,SIDj)),T21)),pair(xor(apply(H,pair(apply(H,pair(Xgwnsj,Xgwn)),pair(T11,T21))),Kj),apply(H,pair(xor(apply(H,pair(apply(H,pair(Xgwnsj,Xgwn)),pair(T11,T21))),Kj),pair(apply(H,pair(apply(H,pair(Xgwn,SIDj)),T21)),pair(T11,pair(T21,Kj))))))))))))).
 witness(Sj,GWN,sensor_gwn_kj,Kj).
 witness(Sj,GWN,sensor_gwn_t21,T21)

step step_9 (Sj,Ui,GWN,H,IDi,SIDj,PWi,MIi,MPi,Dummy_Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Dummy_Ki,Dummy_Kj,MNj,MPj,M4,M5,NSIDj,M6,M7,Dummy_T3,Dummy_T4,Dummy_SK,Dummy_M8,Set_153,Set_154,Set_155,SID,Ri,Ki,Kj,T3,T4) :=
 state_sensor(Sj,Ui,GWN,H,9,IDi,SIDj,PWi,MIi,MPi,Dummy_Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Dummy_Ki,Dummy_Kj,MNj,MPj,M4,M5,NSIDj,M6,M7,Dummy_T3,Dummy_T4,Dummy_SK,Dummy_M8,Set_153,Set_154,Set_155,SID).
 iknows(pair(xor(Kj,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),pair(T3,Ki)))),pair(xor(Ki,apply(H,pair(apply(H,pair(Xgwn,SIDj)),pair(apply(H,pair(Xgwnsj,Xgwn)),pair(Kj,T3))))),T3)))
=[exists T4]=>
 state_sensor(Sj,Ui,GWN,H,12,IDi,SIDj,PWi,MIi,MPi,Ri,Xgwn,Xgwnsj,Rj,T1,T2,Xj,Ej,Dj,Fj,M1,M2,M3,T11,T21,Ki,Kj,MNj,MPj,M4,M5,NSIDj,M6,M7,T3,T4,apply(H,pair(apply(H,xor(Ki,Kj)),pair(T3,T4))),apply(H,pair(xor(Kj,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),pair(T3,Ki)))),pair(xor(Ki,apply(H,pair(apply(H,pair(Xgwn,SIDj)),pair(apply(H,pair(Xgwnsj,Xgwn)),pair(Kj,T3))))),pair(apply(H,pair(apply(H,xor(Ki,Kj)),pair(T3,T4))),pair(T3,T4))))),Set_153,Set_154,Set_155,SID).
 iknows(pair(xor(Kj,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),pair(T3,Ki)))),pair(xor(Ki,apply(H,pair(apply(H,pair(Xgwn,SIDj)),pair(apply(H,pair(Xgwnsj,Xgwn)),pair(Kj,T3))))),pair(apply(H,pair(xor(Kj,apply(H,pair(apply(H,pair(apply(H,pair(IDi,Ri)),Xgwn)),pair(T3,Ki)))),pair(xor(Ki,apply(H,pair(apply(H,pair(Xgwn,SIDj)),pair(apply(H,pair(Xgwnsj,Xgwn)),pair(Kj,T3))))),pair(apply(H,pair(apply(H,xor(Ki,Kj)),pair(T3,T4))),pair(T3,T4))))),pair(T3,T4))))).
 witness(Sj,Ui,sensor_user_t4,T4).
 request(Ui,Sj,user_sensor_t11,T11,SID).
 request(GWN,Sj,gwn_sensor_t3,T3,SID)


section properties:

property secrecy_of_s1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_s2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_s4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_gwn_sensor_t2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gwn_sensor_t2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gwn_sensor_t2,MGoal))
     /\ ((request(A1Goal,A2Goal,gwn_sensor_t2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gwn_sensor_t2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_sensor_t11 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_sensor_t11,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_sensor_t11,MGoal))
     /\ ((request(A1Goal,A2Goal,user_sensor_t11,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_sensor_t11,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_sensor_ki (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_sensor_ki,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_sensor_ki,MGoal))
     /\ ((request(A1Goal,A2Goal,user_sensor_ki,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_sensor_ki,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensor_gwn_kj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensor_gwn_kj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensor_gwn_kj,MGoal))
     /\ ((request(A1Goal,A2Goal,sensor_gwn_kj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensor_gwn_kj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensor_gwn_t21 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensor_gwn_t21,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensor_gwn_t21,MGoal))
     /\ ((request(A1Goal,A2Goal,sensor_gwn_t21,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensor_gwn_t21,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gwn_sensor_t3 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gwn_sensor_t3,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gwn_sensor_t3,MGoal))
     /\ ((request(A1Goal,A2Goal,gwn_sensor_t3,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gwn_sensor_t3,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensor_user_t4 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensor_user_t4,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensor_user_t4,MGoal))
     /\ ((request(A1Goal,A2Goal,sensor_user_t4,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensor_user_t4,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_s1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_s2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_s4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s4,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_gwn_sensor_t2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gwn_sensor_t2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gwn_sensor_t2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gwn_sensor_t2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gwn_sensor_t2,MGoal,SID1).
 request(A1Goal,A2Goal,gwn_sensor_t2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_sensor_t11 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_sensor_t11,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_sensor_t11,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_sensor_t11 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_sensor_t11,MGoal,SID1).
 request(A1Goal,A2Goal,user_sensor_t11,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_sensor_ki (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_sensor_ki,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_sensor_ki,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_sensor_ki (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_sensor_ki,MGoal,SID1).
 request(A1Goal,A2Goal,user_sensor_ki,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensor_gwn_kj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensor_gwn_kj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensor_gwn_kj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensor_gwn_kj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensor_gwn_kj,MGoal,SID1).
 request(A1Goal,A2Goal,sensor_gwn_kj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensor_gwn_t21 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensor_gwn_t21,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensor_gwn_t21,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensor_gwn_t21 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensor_gwn_t21,MGoal,SID1).
 request(A1Goal,A2Goal,sensor_gwn_t21,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gwn_sensor_t3 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gwn_sensor_t3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gwn_sensor_t3,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gwn_sensor_t3 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gwn_sensor_t3,MGoal,SID1).
 request(A1Goal,A2Goal,gwn_sensor_t3,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensor_user_t4 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensor_user_t4,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensor_user_t4,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensor_user_t4 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensor_user_t4,MGoal,SID1).
 request(A1Goal,A2Goal,sensor_user_t4,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

