%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile0nqOg3YPzG

section signature:

state_snode: agent * agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * nat -> fact
state_gateway: agent * agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_user: agent * agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(text) * set(agent) * nat -> fact


section types:

set_400, set_399, set_397, set_396, set_395, set_394, set_393, set_392, set_390, set_389, set_388, set_386, set_385, set_383, set_382, set_381, set_380, set_379, set_378, set_376, set_375, set_374, set_372, set_371, set_369, set_368, set_367, set_366, set_365, set_364, set_362, set_361, set_360, set_354, set_353, set_339, set_338, set_337, set_336, set_335, set_334, set_303, set_302, set_301: set
user_gateway, gateway_snode, snode_user, reg_center, subs1, subs2, subs3, subs4, subs5, subs6, subs7, subs8: protocol_id
Set_184, Set_182, Set_180, Dummy_Set_233, Dummy_Set_184, Dummy_Set_182, Dummy_Set_180, Set_132, Set_130, Set_128, Set_126, Set_124, Dummy_Set_70, Set_122, Set_120, ASGoal, Set_70, Set_233: set(agent)
Set_183, Set_181, Set_179, Dummy_Set_232, Dummy_Set_183, Dummy_Set_181, Dummy_Set_179, Set_131, Set_129, Set_127, Set_125, Set_123, Dummy_Set_69, Set_121, Set_119, Dummy_Set_65, Set_69, Set_65, Set_232: set(text)
CIDi, Authij, Verij, Authjk, Authkj, Authji, Verjk, Verkj, Verji, M4, Dummy_Verkj, Dummy_M4, Dummy_Authkj, Dummy_Verjk, Dummy_Verji, Dummy_Authji, Dummy_Authjk, Dummy_Verij, Dummy_Authij, Dummy_CIDi, dummy_msg, MGoal, start: message
17, 16, State, 15, 13, 12, 11, 9, 8, 7, 5, SID, 4, Dummy_State, 3, SID2, SID1, 2, 1, 0: nat
H, Inc, dummy_hash, h: hash_func
SK1, sk1: symmetric_key
Ui, SNk, GWj, RC, A2Goal, A1Goal, ui, snk, gwj, rc, i: agent
Ru, Rg, Rs, TS1, TS2, TS3, TS4, K, GIDj, SIDk, Xc, XGj, Gj, XSk, SIXk, IDi, PWi, Bi, NIDij, SINDijk, HBi, M1, M2, M3, HPWi, Dummy_TS3, Dummy_TS2, Dummy_K, Dummy_TS4, Dummy_Rs, Dummy_Rg, Dummy_TS1, Dummy_Ru, Dummy_M3, Dummy_M2, Dummy_M1, Dummy_SINDijk, Dummy_NIDij, Dummy_GIDj, Dummy_HPWi, Dummy_HBi, Dummy_Bi, dummy_nonce, gidj, sidk, xc, xgj, gj, xsk, sixk, idi, pwi, bi, nidij, sindijk, hbi, m1, m2, m3, hpwi, cidi, authij, verij, authjk, authkj, authji, verjk, verkj, verji, m4, ru, rg, tS1, tS2, tS3, tS4, k, rs: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(gidj).
 iknows(cidi).
 iknows(sidk).
 iknows(nidij).
 iknows(hbi).
 iknows(m1).
 iknows(m2).
 iknows(m3).
 iknows(m4).
 iknows(authij).
 iknows(authjk).
 iknows(authkj).
 iknows(authji).
 iknows(verij).
 iknows(verjk).
 iknows(verkj).
 iknows(verji).
 iknows(i).
 state_user(gwj,ui,snk,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_301,set_302,set_303,3).
 state_gateway(snk,ui,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_334,set_335,set_336,set_337,set_338,set_339,4).
 state_snode(ui,snk,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_353,set_354,5).
 state_user(gwj,ui,snk,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_360,set_361,set_362,7).
 state_gateway(snk,ui,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_364,set_365,set_366,set_367,set_368,set_369,8).
 state_snode(ui,snk,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_371,set_372,9).
 state_user(gwj,ui,snk,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_374,set_375,set_376,11).
 state_gateway(snk,ui,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_378,set_379,set_380,set_381,set_382,set_383,12).
 state_snode(ui,snk,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_385,set_386,13).
 state_user(gwj,ui,snk,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_388,set_389,set_390,15).
 state_gateway(snk,ui,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_392,set_393,set_394,set_395,set_396,set_397,16).
 state_snode(ui,snk,gwj,rc,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_399,set_400,17)


section rules:

step step_0 (Ui,SNk,GWj,RC,SK1,H,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Dummy_Bi,NIDij,SINDijk,Dummy_HBi,M1,M2,M3,Dummy_HPWi,Ru,Rg,Rs,TS1,TS2,TS3,TS4,K,CIDi,Authij,Verij,Authjk,Authkj,Authji,Verjk,Verkj,Verji,M4,Inc,Dummy_Set_65,Set_69,Set_70,SID,Bi) :=
 state_user(Ui,SNk,GWj,RC,SK1,H,0,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Dummy_Bi,NIDij,SINDijk,Dummy_HBi,M1,M2,M3,Dummy_HPWi,Ru,Rg,Rs,TS1,TS2,TS3,TS4,K,CIDi,Authij,Verij,Authjk,Authkj,Authji,Verjk,Verkj,Verji,M4,Inc,Dummy_Set_65,Set_69,Set_70,SID).
 iknows(start)
=[exists Bi]=>
 state_user(Ui,SNk,GWj,RC,SK1,H,1,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,SINDijk,xor(apply(H,pair(PWi,IDi)),Bi),M1,M2,M3,apply(H,pair(PWi,Bi)),Ru,Rg,Rs,TS1,TS2,TS3,TS4,K,CIDi,Authij,Verij,Authjk,Authkj,Authji,Verjk,Verkj,Verji,M4,Inc,Dummy_Set_65,Set_69,Set_70,SID).
 iknows(scrypt(SK1,pair(IDi,apply(H,pair(PWi,Bi))))).
 secret(Dummy_Set_65,subs1,Ui).
 contains(IDi,Dummy_Set_65).
 contains(PWi,Dummy_Set_65).
 contains(Bi,Dummy_Set_65)

step step_1 (Ui,SNk,GWj,RC,SK1,H,Dummy_GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Dummy_Bi,Dummy_NIDij,Dummy_SINDijk,HBi,Dummy_M1,Dummy_M2,Dummy_M3,Dummy_HPWi,Dummy_Ru,Rg,Rs,Dummy_TS1,TS2,TS3,TS4,K,Dummy_CIDi,Dummy_Authij,Dummy_Verij,Authjk,Authkj,Authji,Verjk,Verkj,Verji,M4,Inc,Set_65,Dummy_Set_69,Dummy_Set_70,SID,GIDj,Bi,NIDij,M1,M2,M3,Ru,TS1) :=
 state_user(Ui,SNk,GWj,RC,SK1,H,1,Dummy_GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Dummy_Bi,Dummy_NIDij,Dummy_SINDijk,HBi,Dummy_M1,Dummy_M2,Dummy_M3,Dummy_HPWi,Dummy_Ru,Rg,Rs,Dummy_TS1,TS2,TS3,TS4,K,Dummy_CIDi,Dummy_Authij,Dummy_Verij,Authjk,Authkj,Authji,Verjk,Verkj,Verji,M4,Inc,Set_65,Dummy_Set_69,Dummy_Set_70,SID).
 iknows(scrypt(SK1,pair(NIDij,pair(GIDj,pair(M1,pair(M2,pair(M3,xor(apply(H,pair(PWi,IDi)),Bi))))))))
=[exists TS1,Ru]=>
 state_user(Ui,SNk,GWj,RC,SK1,H,2,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,xor(Dummy_M3,apply(H,pair(Dummy_GIDj,apply(H,pair(PWi,Bi))))),HBi,M1,M2,M3,apply(H,pair(PWi,Bi)),Ru,Rg,Rs,TS1,TS2,TS3,TS4,K,xor(apply(H,pair(apply(H,pair(PWi,Bi)),xor(Dummy_M3,apply(H,pair(Dummy_GIDj,apply(H,pair(PWi,Bi))))))),apply(H,pair(xor(Dummy_M3,apply(H,pair(Dummy_GIDj,apply(H,pair(PWi,Bi))))),pair(Ru,TS1)))),apply(H,pair(Dummy_M1,pair(xor(Dummy_M3,apply(H,pair(Dummy_GIDj,apply(H,pair(PWi,Bi))))),pair(Ru,TS1)))),xor(pair(Ru,TS1),xor(Dummy_M3,apply(H,pair(Dummy_GIDj,apply(H,pair(PWi,Bi)))))),Authjk,Authkj,Authji,Verjk,Verkj,Verji,M4,Inc,Set_65,Dummy_Set_69,Dummy_Set_70,SID).
 iknows(Dummy_GIDj).
 secret(Dummy_Set_69,subs2,Dummy_Set_70).
 contains(Ru,Dummy_Set_69).
 contains(Ui,Dummy_Set_70).
 contains(GWj,Dummy_Set_70).
 contains(SNk,Dummy_Set_70)

step step_2 (Ui,SNk,GWj,RC,SK1,H,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,SINDijk,HBi,M1,M2,M3,HPWi,Ru,Dummy_Rg,Dummy_Rs,TS1,TS2,TS3,Dummy_TS4,Dummy_K,CIDi,Authij,Verij,Dummy_Authjk,Authkj,Dummy_Authji,Verjk,Verkj,Dummy_Verji,M4,Inc,Set_65,Set_69,Set_70,SID,Rg,Rs,TS4,Verji) :=
 state_user(Ui,SNk,GWj,RC,SK1,H,2,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,SINDijk,HBi,M1,M2,M3,HPWi,Ru,Dummy_Rg,Dummy_Rs,TS1,TS2,TS3,Dummy_TS4,Dummy_K,CIDi,Authij,Verij,Dummy_Authjk,Authkj,Dummy_Authji,Verjk,Verkj,Dummy_Verji,M4,Inc,Set_65,Set_69,Set_70,SID).
 iknows(pair(Authji,pair(Verji,xor(pair(Rs,pair(Rg,TS4)),SINDijk))))
 =>
 state_user(Ui,SNk,GWj,RC,SK1,H,3,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,SINDijk,HBi,M1,M2,M3,HPWi,Ru,Rg,Rs,TS1,TS2,TS3,TS4,apply(H,pair(CIDi,pair(Ru,pair(Rg,Rs)))),CIDi,Authij,Verij,xor(Verji,Rs,SINDijk),Authkj,apply(H,pair(CIDi,pair(Ru,pair(Authij,pair(xor(Verji,Rs,SINDijk),pair(SINDijk,pair(TS4,apply(H,pair(CIDi,pair(Ru,pair(Rg,Rs))))))))))),Verjk,Verkj,Verji,M4,Inc,Set_65,Set_69,Set_70,SID)

step step_3 (GWj,Ui,SNk,RC,SK1,H,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,SINDijk,HBi,M1,M2,M3,HPWi,Ru,Rg,Rs,TS1,TS2,TS3,TS4,K,CIDi,Authij,Verij,Authjk,Authkj,Authji,Verjk,Verkj,Verji,M4,Inc,Dummy_Set_179,Dummy_Set_180,Dummy_Set_181,Dummy_Set_182,Set_183,Set_184,SID) :=
 state_gateway(GWj,Ui,SNk,RC,SK1,H,0,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,SINDijk,HBi,M1,M2,M3,HPWi,Ru,Rg,Rs,TS1,TS2,TS3,TS4,K,CIDi,Authij,Verij,Authjk,Authkj,Authji,Verjk,Verkj,Verji,M4,Inc,Dummy_Set_179,Dummy_Set_180,Dummy_Set_181,Dummy_Set_182,Set_183,Set_184,SID).
 iknows(scrypt(SK1,pair(GIDj,pair(SIDk,pair(Gj,pair(XGj,SIXk))))))
 =>
 state_gateway(GWj,Ui,SNk,RC,SK1,H,1,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,SINDijk,HBi,M1,M2,M3,HPWi,Ru,Rg,Rs,TS1,TS2,TS3,TS4,K,CIDi,Authij,Verij,Authjk,Authkj,Authji,Verjk,Verkj,Verji,M4,Inc,Dummy_Set_179,Dummy_Set_180,Dummy_Set_181,Dummy_Set_182,Set_183,Set_184,SID).
 secret(Dummy_Set_179,subs5,Dummy_Set_180).
 secret(Dummy_Set_181,subs3,Dummy_Set_182).
 contains(SIXk,Dummy_Set_179).
 contains(RC,Dummy_Set_180).
 contains(GWj,Dummy_Set_180).
 contains(SNk,Dummy_Set_180).
 contains(XGj,Dummy_Set_181).
 contains(Gj,Dummy_Set_181).
 contains(GWj,Dummy_Set_182).
 contains(RC,Dummy_Set_182)

step step_4 (GWj,Ui,SNk,RC,SK1,H,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,Dummy_SINDijk,HBi,M1,M2,M3,HPWi,Dummy_Ru,Dummy_Rg,Rs,Dummy_TS1,Dummy_TS2,TS3,TS4,K,CIDi,Dummy_Authij,Verij,Dummy_Authjk,Authkj,Authji,Dummy_Verjk,Verkj,Verji,M4,Inc,Set_179,Set_180,Set_181,Set_182,Dummy_Set_183,Dummy_Set_184,SID,Ru,Rg,TS1,TS2) :=
 state_gateway(GWj,Ui,SNk,RC,SK1,H,0,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,Dummy_SINDijk,HBi,M1,M2,M3,HPWi,Dummy_Ru,Dummy_Rg,Rs,Dummy_TS1,Dummy_TS2,TS3,TS4,K,CIDi,Dummy_Authij,Verij,Dummy_Authjk,Authkj,Authji,Dummy_Verjk,Verkj,Verji,M4,Inc,Set_179,Set_180,Set_181,Set_182,Dummy_Set_183,Dummy_Set_184,SID).
 iknows(pair(GIDj,pair(SIDk,pair(CIDi,pair(NIDij,pair(Dummy_Authij,xor(pair(Ru,TS1),Dummy_SINDijk)))))))
=[exists TS2,Rg]=>
 state_gateway(GWj,Ui,SNk,RC,SK1,H,2,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,apply(H,pair(NIDij,pair(Gj,SIXk))),HBi,M1,M2,M3,HPWi,Ru,Rg,Rs,TS1,TS2,TS3,TS4,K,CIDi,apply(H,pair(xor(CIDi,apply(H,pair(apply(H,pair(NIDij,pair(Gj,SIXk))),pair(Ru,TS1))),apply(H,pair(NIDij,XGj))),pair(apply(H,pair(NIDij,pair(Gj,SIXk))),pair(Ru,TS1)))),Verij,apply(H,pair(CIDi,pair(SIDk,pair(SIXk,Rg)))),Authkj,Authji,xor(pair(Ru,pair(Rg,TS2)),SIXk),Verkj,Verji,M4,Inc,Set_179,Set_180,Set_181,Set_182,Dummy_Set_183,Dummy_Set_184,SID).
 iknows(SIDk).
 secret(Dummy_Set_183,subs7,Dummy_Set_184).
 contains(Rg,Dummy_Set_183).
 contains(Ui,Dummy_Set_184).
 contains(GWj,Dummy_Set_184).
 contains(SNk,Dummy_Set_184)

step step_5 (GWj,Ui,SNk,RC,SK1,H,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,SINDijk,HBi,M1,M2,M3,HPWi,Ru,Rg,Dummy_Rs,TS1,TS2,Dummy_TS3,Dummy_TS4,Dummy_K,CIDi,Authij,Verij,Authjk,Dummy_Authkj,Dummy_Authji,Verjk,Verkj,Dummy_Verji,Dummy_M4,Inc,Set_179,Set_180,Set_181,Set_182,Set_183,Set_184,SID,Rs,TS3,TS4) :=
 state_gateway(GWj,Ui,SNk,RC,SK1,H,2,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,SINDijk,HBi,M1,M2,M3,HPWi,Ru,Rg,Dummy_Rs,TS1,TS2,Dummy_TS3,Dummy_TS4,Dummy_K,CIDi,Authij,Verij,Authjk,Dummy_Authkj,Dummy_Authji,Verjk,Verkj,Dummy_Verji,Dummy_M4,Inc,Set_179,Set_180,Set_181,Set_182,Set_183,Set_184,SID).
 iknows(xor(pair(Rs,TS3),SIXk))
=[exists TS4]=>
 state_gateway(GWj,Ui,SNk,RC,SK1,H,3,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,SINDijk,HBi,M1,M2,M3,HPWi,Ru,Rg,Rs,TS1,TS2,TS3,TS4,apply(H,pair(CIDi,pair(Ru,pair(Rg,Rs)))),CIDi,Authij,Verij,Authjk,apply(H,pair(xor(Authjk,Rs),pair(Rs,pair(Rg,pair(SIXk,Dummy_K))))),apply(H,pair(CIDi,pair(Ru,pair(Authij,pair(Authjk,pair(SINDijk,pair(Dummy_TS4,Dummy_K))))))),Verjk,Verkj,xor(Authjk,Rs,SINDijk),xor(pair(Rs,pair(Rg,Dummy_TS4)),SINDijk),Inc,Set_179,Set_180,Set_181,Set_182,Set_183,Set_184,SID).
 iknows(apply(H,pair(CIDi,pair(Ru,pair(Authij,pair(Authjk,pair(SINDijk,pair(Dummy_TS4,Dummy_K))))))))

step step_6 (SNk,Ui,GWj,RC,SK1,H,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,SINDijk,HBi,M1,M2,M3,HPWi,Dummy_Ru,Dummy_Rg,Dummy_Rs,TS1,Dummy_TS2,Dummy_TS3,TS4,Dummy_K,Dummy_CIDi,Authij,Verij,Dummy_Authjk,Dummy_Authkj,Authji,Verjk,Dummy_Verkj,Verji,M4,Inc,Dummy_Set_232,Dummy_Set_233,SID,Rs,TS3) :=
 state_snode(SNk,Ui,GWj,RC,SK1,H,0,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,SINDijk,HBi,M1,M2,M3,HPWi,Dummy_Ru,Dummy_Rg,Dummy_Rs,TS1,Dummy_TS2,Dummy_TS3,TS4,Dummy_K,Dummy_CIDi,Authij,Verij,Dummy_Authjk,Dummy_Authkj,Authji,Verjk,Dummy_Verkj,Verji,M4,Inc,Dummy_Set_232,Dummy_Set_233,SID).
 iknows(SIDk)
=[exists Rs,TS3]=>
 state_snode(SNk,Ui,GWj,RC,SK1,H,1,GIDj,SIDk,Xc,XGj,Gj,XSk,SIXk,IDi,PWi,Bi,NIDij,SINDijk,HBi,M1,M2,M3,HPWi,Dummy_Ru,Dummy_Rg,Rs,TS1,Dummy_TS2,TS3,TS4,apply(H,pair(Dummy_CIDi,pair(Ru,pair(Rg,Rs)))),Dummy_CIDi,Authij,Verij,apply(H,pair(CIDi,pair(SIDk,pair(SIXk,Rg)))),apply(H,pair(xor(apply(H,pair(CIDi,pair(SIDk,pair(SIXk,Rg)))),Dummy_Rs),pair(Dummy_Rs,pair(Rg,pair(SIXk,apply(H,pair(Dummy_CIDi,pair(Ru,pair(Rg,Rs))))))))),Authji,Verjk,xor(pair(rs,Dummy_TS3),SIXk),Verji,M4,Inc,Dummy_Set_232,Dummy_Set_233,SID).
 iknows(Dummy_Verkj).
 secret(Dummy_Set_232,subs8,Dummy_Set_233).
 contains(Dummy_Rs,Dummy_Set_232).
 contains(Ui,Dummy_Set_233).
 contains(GWj,Dummy_Set_233).
 contains(SNk,Dummy_Set_233)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs7 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs7,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs8 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs8,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_gateway_ru (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_gateway_ru,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_gateway_ru,MGoal))
     /\ ((request(A1Goal,A2Goal,user_gateway_ru,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_gateway_ru,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gateway_snode_rg (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gateway_snode_rg,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gateway_snode_rg,MGoal))
     /\ ((request(A1Goal,A2Goal,gateway_snode_rg,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gateway_snode_rg,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_snode_user_rs (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,snode_user_rs,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,snode_user_rs,MGoal))
     /\ ((request(A1Goal,A2Goal,snode_user_rs,MGoal,SID1)
           /\ request(A1Goal,A2Goal,snode_user_rs,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs7 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs7,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs8 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs8,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_gateway_ru (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_gateway_ru,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_gateway_ru,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_gateway_ru (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_gateway_ru,MGoal,SID1).
 request(A1Goal,A2Goal,user_gateway_ru,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gateway_snode_rg (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gateway_snode_rg,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gateway_snode_rg,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gateway_snode_rg (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gateway_snode_rg,MGoal,SID1).
 request(A1Goal,A2Goal,gateway_snode_rg,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_snode_user_rs (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,snode_user_rs,MGoal,SID) &
 not(witness(A2Goal,A1Goal,snode_user_rs,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_snode_user_rs (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,snode_user_rs,MGoal,SID1).
 request(A1Goal,A2Goal,snode_user_rs,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

