%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileTy1biV

section signature:

state_cindy: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * nat -> fact
state_bob: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * nat -> fact
state_alice: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * set(text) * nat -> fact


section types:

ASGoal: set(agent)
Dummy_Set_104, Dummy_Set_103, Dummy_Set_71, Dummy_Set_70, Dummy_Set_36, Set_104, Set_103, Set_71, Set_70, Set_36: set(text)
MGoal, start: message
alice_bob_na, bob_alice_nb, bob_cindy_nc, cindy_bob_nd, subs1, subs2: protocol_id
Dummy_Sig, Dummy_M, Dummy_R, Dummy_Qp, Dummy_Sp, Dummy_Lt, Dummy_V, Dummy_Xr, Dummy_K, dummy_nonce, sa, sb, sp, sc, qa, qb, qp, qc, k, xr, r, v, m, mw, sig, lt, Sa, Sb, Sp, Sc, Qa, Qb, Qp, Qc, K, Xr, R, V, M, Mw, Sig, Lt: text
ebilinear, minus, union, pred, h2, h3, Ebilinear, Minus, Union, Pred, H2, H3: hash_func
p, ppub, P, Ppub: symmetric_key
7, 5, SID, 4, Dummy_State, 3, SID2, SID1, State, 1, 0, 13, 12, 11, 9, 8: nat
A2Goal, A1Goal, a, b, c, A, B, C, i: agent
set_201, set_196, set_195, set_185, set_184, set_175, set_215, set_214, set_212, set_211, set_209, set_207, set_206, set_204, set_203: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(b).
 iknows(c).
 iknows(h2).
 iknows(h3).
 iknows(ebilinear).
 iknows(minus).
 iknows(union).
 iknows(pred).
 iknows(p).
 iknows(ppub).
 iknows(qa).
 iknows(qb).
 iknows(qp).
 iknows(qc).
 iknows(m).
 iknows(mw).
 iknows(i).
 state_alice(a,b,c,p,ppub,h2,h3,ebilinear,minus,union,pred,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_175,3).
 state_bob(b,a,c,p,ppub,h2,h3,ebilinear,minus,union,pred,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_184,set_185,4).
 state_cindy(c,a,b,p,ppub,h2,h3,ebilinear,minus,union,pred,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_195,set_196,5).
 state_alice(a,b,c,p,ppub,h2,h3,ebilinear,minus,union,pred,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_201,7).
 state_bob(b,a,c,p,ppub,h2,h3,ebilinear,minus,union,pred,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_203,set_204,8).
 state_cindy(c,a,b,p,ppub,h2,h3,ebilinear,minus,union,pred,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_206,set_207,9).
 state_alice(a,b,c,p,ppub,h2,h3,ebilinear,minus,union,pred,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_209,11).
 state_bob(b,a,c,p,ppub,h2,h3,ebilinear,minus,union,pred,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_211,set_212,12).
 state_cindy(c,a,b,p,ppub,h2,h3,ebilinear,minus,union,pred,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_214,set_215,13)


section rules:

step step_0 (A,B,C,P,Ppub,H2,H3,Ebilinear,Minus,Union,Pred,Sa,Qa,Dummy_K,Dummy_Xr,Dummy_V,Mw,Sig,Dummy_Lt,Dummy_Set_36,SID,K) :=
 state_alice(A,B,C,P,Ppub,H2,H3,Ebilinear,Minus,Union,Pred,0,Sa,Qa,Dummy_K,Dummy_Xr,Dummy_V,Mw,Sig,Dummy_Lt,Dummy_Set_36,SID).
 iknows(start)
=[exists K]=>
 state_alice(A,B,C,P,Ppub,H2,H3,Ebilinear,Minus,Union,Pred,1,Sa,Qa,K,apply(Pred,pair(K,P)),apply(Union,pair(apply(Pred,pair(Dummy_K,Ppub)),apply(Pred,pair(apply(H2,pair(Mw,apply(Pred,pair(K,P)))),Sa)))),Mw,Sig,apply(H2,pair(Mw,apply(Pred,pair(K,P)))),Dummy_Set_36,SID).
 secret(Dummy_Set_36,subs1,A).
 iknows(pair(Mw,pair(apply(Pred,pair(K,P)),apply(Union,pair(apply(Pred,pair(Dummy_K,Ppub)),apply(Pred,pair(apply(H2,pair(Mw,apply(Pred,pair(K,P)))),Sa))))))).
 witness(A,B,bob_alice_nb,K).
 contains(K,Dummy_Set_36).
 contains(Sa,Dummy_Set_36)

step step_1 (B,A,C,P,Ppub,H2,H3,Ebilinear,Minus,Union,Pred,Sa,Sb,Sc,Dummy_Sp,Qa,Qb,Qc,Dummy_Qp,Dummy_K,Xr,Dummy_R,V,Dummy_M,Mw,Dummy_Sig,Dummy_Lt,Dummy_Set_70,Dummy_Set_71,SID,K,R,M) :=
 state_bob(B,A,C,P,Ppub,H2,H3,Ebilinear,Minus,Union,Pred,0,Sa,Sb,Sc,Dummy_Sp,Qa,Qb,Qc,Dummy_Qp,Dummy_K,Xr,Dummy_R,V,Dummy_M,Mw,Dummy_Sig,Dummy_Lt,Dummy_Set_70,Dummy_Set_71,SID).
 iknows(pair(Mw,pair(apply(Pred,pair(K,P)),apply(Union,pair(apply(Pred,pair(Dummy_K,Ppub)),apply(Pred,pair(apply(H2,pair(Mw,apply(Pred,pair(K,P)))),Sa)))))))
=[exists R,M]=>
 state_bob(B,A,C,P,Ppub,H2,H3,Ebilinear,Minus,Union,Pred,1,Sa,Sb,Sc,apply(Union,pair(V,apply(Pred,pair(apply(H2,pair(Mw,Xr)),Sb)))),Qa,Qb,Qc,apply(Union,pair(Xr,apply(Pred,pair(apply(H2,pair(Mw,Xr)),apply(Union,pair(Qa,Qb)))))),K,Xr,R,V,M,Mw,apply(H3,pair(Dummy_M,pair(Mw,apply(Ebilinear,pair(apply(Pred,pair(apply(Union,pair(V,apply(Pred,pair(apply(H2,pair(Mw,Xr)),Sb)))),R)),Qc))))),apply(H2,pair(Mw,Xr)),Dummy_Set_70,Dummy_Set_71,SID).
 secret(Dummy_Set_70,subs1,A).
 secret(Dummy_Set_71,subs2,B).
 iknows(pair(Mw,pair(M,pair(Xr,pair(R,apply(H3,pair(Dummy_M,pair(Mw,apply(Ebilinear,pair(apply(Pred,pair(apply(Union,pair(V,apply(Pred,pair(apply(H2,pair(Mw,Xr)),Sb)))),R)),Qc)))))))))).
 witness(B,C,cindy_bob_nd,apply(Union,pair(V,apply(Pred,pair(apply(H2,pair(Mw,Xr)),Sb))))).
 contains(K,Dummy_Set_70).
 contains(Sa,Dummy_Set_70).
 contains(apply(Union,pair(V,apply(Pred,pair(apply(H2,pair(Mw,Xr)),Sb)))),Dummy_Set_71).
 contains(R,Dummy_Set_71)

step step_2 (C,A,B,P,Ppub,H2,H3,Ebilinear,Minus,Union,Pred,Sa,Sb,Sp,Sc,Qa,Qb,Qp,Qc,K,Dummy_Xr,Dummy_R,V,Dummy_M,Mw,Dummy_Sig,Lt,Dummy_Set_103,Dummy_Set_104,SID,Xr,R,M,Sig) :=
 state_cindy(C,A,B,P,Ppub,H2,H3,Ebilinear,Minus,Union,Pred,0,Sa,Sb,Sp,Sc,Qa,Qb,Qp,Qc,K,Dummy_Xr,Dummy_R,V,Dummy_M,Mw,Dummy_Sig,Lt,Dummy_Set_103,Dummy_Set_104,SID).
 iknows(pair(Mw,pair(M,pair(Xr,pair(R,Sig)))))
 =>
 state_cindy(C,A,B,P,Ppub,H2,H3,Ebilinear,Minus,Union,Pred,1,Sa,Sb,Sp,Sc,Qa,Qb,Qp,Qc,K,Xr,R,V,M,Mw,Sig,Lt,Dummy_Set_103,Dummy_Set_104,SID).
 secret(Dummy_Set_103,subs1,A).
 secret(Dummy_Set_104,subs2,B).
 contains(K,Dummy_Set_103).
 contains(Sa,Dummy_Set_103).
 contains(Sp,Dummy_Set_104).
 contains(Sb,Dummy_Set_104)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob_na (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_na,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_na,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_na,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_na,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_nb (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_nb,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_nb,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_nb,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_nb,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_cindy_nc (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_cindy_nc,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_cindy_nc,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_cindy_nc,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_cindy_nc,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_cindy_bob_nd (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,cindy_bob_nd,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,cindy_bob_nd,MGoal))
     /\ ((request(A1Goal,A2Goal,cindy_bob_nd,MGoal,SID1)
           /\ request(A1Goal,A2Goal,cindy_bob_nd,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob_na (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_na,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_na,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_na (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_na,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_na,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_nb (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_nb,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_nb,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_nb (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_nb,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_nb,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_cindy_nc (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_cindy_nc,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_cindy_nc,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_cindy_nc (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_cindy_nc,MGoal,SID1).
 request(A1Goal,A2Goal,bob_cindy_nc,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_cindy_bob_nd (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,cindy_bob_nd,MGoal,SID) &
 not(witness(A2Goal,A1Goal,cindy_bob_nd,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_cindy_bob_nd (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,cindy_bob_nd,MGoal,SID1).
 request(A1Goal,A2Goal,cindy_bob_nd,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

