%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilejqRNKZ

section signature:

state_server: agent * agent * agent * symmetric_key * hash_func * text * nat * text * text * text * text * text * text * set(agent) * nat -> fact
state_tag: agent * agent * agent * symmetric_key * hash_func * text * nat * text * text * text * text * text * text * set(agent) * nat -> fact
state_reader: agent * agent * agent * nat * text * text * text * text * nat -> fact


section types:

sec_sj2, di, ci, sec_sj1: protocol_id
h, H: hash_func
sj, si, Sj: symmetric_key
MGoal, start: message
ASGoal, Set_69, Set_47, Dummy_Set_47, Dummy_Set_69: set(agent)
set_130, set_128, set_126, set_125, set_122, set_120, set_115, set_109: set
A2Goal, A1Goal, a, s, b, A, S, B, i: agent
SID2, SID1, SID, 12, 10, 8, State, 7, 5, 17, 16, 13, 6, 11, 3, 9, 4, 2, 1, 0, Dummy_State: nat
id, idi, Ai, Bi, Ci, Di, Rr, Rt, ID, Dummy_Bi, Dummy_Rt, Dummy_Di, Dummy_Ci, Dummy_Ai, Dummy_Rr, dummy_nonce: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(s).
 iknows(b).
 iknows(si).
 iknows(h).
 iknows(idi).
 iknows(i).
 state_reader(a,s,b,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,3).
 state_tag(b,a,s,sj,h,id,8,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_109,4).
 state_server(s,a,b,sj,h,id,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_115,5).
 state_reader(a,s,b,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,7).
 state_tag(b,a,s,sj,h,id,8,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_120,8).
 state_server(s,a,b,sj,h,id,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_122,9).
 state_reader(a,s,i,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,11).
 state_server(s,a,i,si,h,idi,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_126,13).
 state_tag(b,i,s,si,h,idi,8,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_128,16).
 state_server(s,i,b,si,h,idi,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_130,17)


section rules:

step step_0 (A,S,B,Dummy_Rr,Ai,Ci,Di,SID,Rr) :=
 state_reader(A,S,B,0,Dummy_Rr,Ai,Ci,Di,SID).
 iknows(start)
=[exists Rr]=>
 state_reader(A,S,B,2,Rr,Ai,Ci,Di,SID).
 iknows(Rr)

step step_1 (A,S,B,Rr,Dummy_Ai,Dummy_Ci,Di,SID,Ai,Ci) :=
 state_reader(A,S,B,2,Rr,Dummy_Ai,Dummy_Ci,Di,SID).
 iknows(pair(Ai,Ci))
 =>
 state_reader(A,S,B,4,Rr,Ai,Ci,Di,SID).
 iknows(pair(Ai,pair(Ci,Rr)))

step step_2 (A,S,B,Rr,Ai,Ci,Dummy_Di,SID,Di) :=
 state_reader(A,S,B,4,Rr,Ai,Ci,Dummy_Di,SID).
 iknows(Di)
 =>
 state_reader(A,S,B,6,Rr,Ai,Ci,Di,SID).
 iknows(Di)

step step_3 (B,A,S,Sj,H,ID,Dummy_Rr,Dummy_Rt,Dummy_Ai,Dummy_Bi,Dummy_Ci,Di,Set_69,SID,Rr,Rt) :=
 state_tag(B,A,S,Sj,H,ID,8,Dummy_Rr,Dummy_Rt,Dummy_Ai,Dummy_Bi,Dummy_Ci,Di,Set_69,SID).
 iknows(Rr)
=[exists Rt]=>
 state_tag(B,A,S,Sj,H,ID,10,Rr,Rt,xor(apply(H,pair(Sj,ID)),Rt),xor(xor(apply(H,pair(Sj,ID)),Rt),apply(H,pair(ID,pair(Rr,Rt)))),apply(H,xor(xor(xor(apply(H,pair(Sj,ID)),Rt),apply(H,pair(ID,pair(Rr,Rt)))),Rt)),Di,Set_69,SID).
 iknows(pair(xor(apply(H,pair(Sj,ID)),Rt),apply(H,xor(xor(xor(apply(H,pair(Sj,ID)),Rt),apply(H,pair(ID,pair(Rr,Rt)))),Rt)))).
 witness(B,S,ci,apply(H,xor(xor(xor(apply(H,pair(Sj,ID)),Rt),apply(H,pair(ID,pair(Rr,Rt)))),Rt)))

step step_4 (B,A,S,Sj,H,ID,Rr,Rt,Ai,Bi,Ci,Dummy_Di,Dummy_Set_69,SID) :=
 state_tag(B,A,S,Sj,H,ID,10,Rr,Rt,Ai,Bi,Ci,Dummy_Di,Dummy_Set_69,SID).
 iknows(Di)
 =>
 state_tag(B,A,S,Sj,H,ID,12,Rr,Rt,Ai,Bi,Ci,apply(H,xor(Bi,Sj)),Dummy_Set_69,SID).
 request(B,S,di,apply(H,xor(Bi,Sj)),SID).
 secret(Sj,sec_sj2,Dummy_Set_69).
 contains(B,Dummy_Set_69).
 contains(S,Dummy_Set_69)

step step_5 (S,A,B,Sj,H,ID,Rr,Dummy_Rt,Dummy_Ai,Dummy_Bi,Dummy_Ci,Dummy_Di,Set_47,SID,Ai) :=
 state_server(S,A,B,Sj,H,ID,1,Rr,Dummy_Rt,Dummy_Ai,Dummy_Bi,Dummy_Ci,Dummy_Di,Set_47,SID).
 iknows(pair(Ai,pair(Ci,Rr)))
 =>
 state_server(S,A,B,Sj,H,ID,3,Rr,xor(Ai,apply(H,pair(Sj,ID))),Ai,xor(Ai,apply(H,pair(ID,pair(Rr,xor(Ai,apply(H,pair(Sj,ID))))))),apply(H,xor(xor(Ai,apply(H,pair(ID,pair(Rr,xor(Ai,apply(H,pair(Sj,ID))))))),xor(Ai,apply(H,pair(Sj,ID))))),apply(H,xor(xor(Ai,apply(H,pair(ID,pair(Rr,xor(Ai,apply(H,pair(Sj,ID))))))),Sj)),Set_47,SID).
 request(S,B,ci,apply(H,xor(xor(Ai,apply(H,pair(ID,pair(Rr,xor(Ai,apply(H,pair(Sj,ID))))))),xor(Ai,apply(H,pair(Sj,ID))))),SID).
 iknows(apply(H,xor(xor(Ai,apply(H,pair(ID,pair(Rr,xor(Ai,apply(H,pair(Sj,ID))))))),Sj)))

step step_6 (S,A,B,Sj,H,ID,Rr,Rt,Ai,Bi,Ci,Dummy_Di,Dummy_Set_47,SID) :=
 state_server(S,A,B,Sj,H,ID,5,Rr,Rt,Ai,Bi,Ci,Dummy_Di,Dummy_Set_47,SID).
 witness(S,B,di,Di)
 =>
 state_server(S,A,B,Sj,H,ID,7,Rr,Rt,Ai,Bi,Ci,Dummy_Di,Dummy_Set_47,SID).
 secret(Sj,sec_sj1,Dummy_Set_47).
 contains(S,Dummy_Set_47).
 contains(B,Dummy_Set_47)


section properties:

property secrecy_of_sec_sj1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_sj1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_sj2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_sj2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_ci (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,ci,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,ci,MGoal))
     /\ ((request(A1Goal,A2Goal,ci,MGoal,SID1)
           /\ request(A1Goal,A2Goal,ci,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_di (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,di,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,di,MGoal))
     /\ ((request(A1Goal,A2Goal,di,MGoal,SID1)
           /\ request(A1Goal,A2Goal,di,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec_sj1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_sj1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_sj2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_sj2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_ci (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,ci,MGoal,SID) &
 not(witness(A2Goal,A1Goal,ci,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_ci (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,ci,MGoal,SID1).
 request(A1Goal,A2Goal,ci,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_di (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,di,MGoal,SID) &
 not(witness(A2Goal,A1Goal,di,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_di (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,di,MGoal,SID1).
 request(A1Goal,A2Goal,di,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

