%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileoYpENuzKMG

section signature:

state_sensor: agent * agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(text) * set(agent) * set(text) * set(text) * set(agent) * set(text) * set(text) * nat -> fact
state_bob: agent * agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(text) * set(text) * set(agent) * set(text) * set(text) * set(agent) * set(text) * set(text) * set(agent) * nat -> fact
state_alice: agent * agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(text) * set(text) * set(text) * set(agent) * set(text) * set(text) * set(text) * set(agent) * nat -> fact


section types:

subssid, alice_bob_Ni, bob_alice_Yi, alice_bob_N1, bob_sensor_N2, sensor_bob_N3, subsnpb, subsid, subsy, subsx, subsn1, subsn2, subsn3, subsskj: protocol_id
Set_165, Set_164, Set_162, Set_161, Set_159, Set_158, Set_156, Set_154, Set_117, Set_116, Set_114, Set_113, Set_111, Set_110, Set_108, Dummy_Set_165, Set_107, Dummy_Set_164, Dummy_Set_162, Dummy_Set_161, Dummy_Set_159, Dummy_Set_158, Dummy_Set_156, Dummy_Set_154, Dummy_Set_117, Dummy_Set_116, Dummy_Set_114, Dummy_Set_113, Set_69, Set_68, Dummy_Set_111, Dummy_Set_110, Set_66, Dummy_Set_108, Dummy_Set_107, Set_63, Set_62, Set_59, Set_57, Set_55, Dummy_Set_69, Dummy_Set_68, Dummy_Set_66, Dummy_Set_63, Dummy_Set_62, Dummy_Set_59, Dummy_Set_57, Dummy_Set_55: set(text)
set_385, set_384, set_383, set_382, set_381, set_380, set_379, set_378, set_377, set_376, set_375, set_374, set_372, set_371, set_370, set_369, set_368, set_367, set_366, set_365, set_364, set_363, set_362, set_361, set_359, set_358, set_357, set_356, set_355, set_354, set_353, set_352, set_351, set_350, set_349, set_347, set_346, set_345, set_344, set_343, set_342, set_341, set_340, set_339, set_338, set_337, set_336, set_334, set_333, set_332, set_331, set_330, set_329, set_328, set_327, set_326, set_325, set_324, set_323, set_322, set_321, set_320, set_319, set_318, set_317, set_316, set_315, set_314, set_313, set_312, set_296, set_295, set_294, set_293, set_292, set_291, set_290, set_289, set_288, set_287, set_286, set_285, set_264, set_263, set_262, set_261, set_260, set_259, set_258, set_257, set_256, set_255, set_254, set_253, set_227, set_226, set_225, set_224, set_223, set_222, set_221, set_220, set_219, set_218, set_217: set
12, 11, 9, 8, State, 5, SID, 3, 4, 2, 1, 0, Dummy_State, SID2, SID1: nat
skj, SKj: symmetric_key
h, H: hash_func
Set_163, Set_160, Set_157, Set_155, Set_118, Set_115, Set_112, Set_109, Dummy_Set_163, Dummy_Set_160, Dummy_Set_157, Dummy_Set_155, Dummy_Set_118, Dummy_Set_115, Set_70, Dummy_Set_112, Dummy_Set_109, Set_64, Set_58, Dummy_Set_70, Dummy_Set_64, Dummy_Set_58, ASGoal: set(agent)
start, MGoal: message
ui, s, snk, Ui, S, SNk, A2Goal, A1Goal, i: agent
yi, x, ji, hi, c1, d1, ki, vi, ai, m1, bioi, sidj, c2, d2, c3, d3, c4, d4, nj, IDi, PWi, RPWi, Ni, N1, N2, N3, Yi, X, Ji, Hi, C1, D1, Ki, Vi, Ai, M1, BIOi, SIDj, C2, D2, C3, D3, C4, D4, Nj, Dummy_N3, Dummy_D3, Dummy_Nj, Dummy_D2, Dummy_C2, Dummy_M1, Dummy_N2, Dummy_D4, Dummy_C4, Dummy_C3, Dummy_D1, Dummy_C1, Dummy_Hi, Dummy_Yi, Dummy_N1, Dummy_Ni, Dummy_RPWi, dummy_nonce, idi, pwi, rpwi, ni, n1, n2, n3: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(snk).
 iknows(h).
 iknows(i).
 state_alice(ui,s,snk,h,skj,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_217,set_218,set_219,set_220,set_221,set_222,set_223,set_224,set_225,set_226,set_227,3).
 state_bob(s,ui,snk,h,skj,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_253,set_254,set_255,set_256,set_257,set_258,set_259,set_260,set_261,set_262,set_263,set_264,4).
 state_sensor(snk,ui,s,h,skj,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_285,set_286,set_287,set_288,set_289,set_290,set_291,set_292,set_293,set_294,set_295,set_296,5).
 state_bob(s,i,snk,h,skj,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_323,set_324,set_325,set_326,set_327,set_328,set_329,set_330,set_331,set_332,set_333,set_334,8).
 state_sensor(snk,i,s,h,skj,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_336,set_337,set_338,set_339,set_340,set_341,set_342,set_343,set_344,set_345,set_346,set_347,9).
 state_alice(ui,s,i,h,skj,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_349,set_350,set_351,set_352,set_353,set_354,set_355,set_356,set_357,set_358,set_359,11).
 state_bob(s,ui,i,h,skj,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_361,set_362,set_363,set_364,set_365,set_366,set_367,set_368,set_369,set_370,set_371,set_372,12)


section rules:

step step_0 (Ui,S,SNk,H,SKj,IDi,PWi,Dummy_RPWi,Dummy_Ni,N1,N2,N3,Nj,Yi,X,Ji,Hi,C1,D1,Ki,Vi,Ai,M1,BIOi,SIDj,C2,D2,C3,D3,C4,D4,Dummy_Set_55,Dummy_Set_57,Dummy_Set_58,Dummy_Set_59,Set_62,Set_63,Set_64,Set_66,Set_68,Set_69,Set_70,SID,Ni) :=
 state_alice(Ui,S,SNk,H,SKj,0,IDi,PWi,Dummy_RPWi,Dummy_Ni,N1,N2,N3,Nj,Yi,X,Ji,Hi,C1,D1,Ki,Vi,Ai,M1,BIOi,SIDj,C2,D2,C3,D3,C4,D4,Dummy_Set_55,Dummy_Set_57,Dummy_Set_58,Dummy_Set_59,Set_62,Set_63,Set_64,Set_66,Set_68,Set_69,Set_70,SID).
 iknows(start)
=[exists Ni]=>
 state_alice(Ui,S,SNk,H,SKj,1,IDi,PWi,apply(H,pair(Ni,PWi)),Ni,N1,N2,N3,Nj,Yi,X,Ji,Hi,C1,D1,Ki,Vi,Ai,M1,BIOi,SIDj,C2,D2,C3,D3,C4,D4,Dummy_Set_55,Dummy_Set_57,Dummy_Set_58,Dummy_Set_59,Set_62,Set_63,Set_64,Set_66,Set_68,Set_69,Set_70,SID).
 secret(Dummy_Set_55,subsnpb,Ui).
 secret(Dummy_Set_57,subsid,Dummy_Set_58).
 iknows(Dummy_Set_59).
 witness(Ui,S,alice_bob_Ni,Ni).
 contains(Ni,Dummy_Set_55).
 contains(PWi,Dummy_Set_55).
 contains(IDi,Dummy_Set_57).
 contains(Ui,Dummy_Set_58).
 contains(S,Dummy_Set_58).
 contains(IDi,Dummy_Set_59).
 contains(apply(H,pair(Ni,PWi)),Dummy_Set_59)

step step_1 (Ui,S,SNk,H,SKj,IDi,PWi,RPWi,Ni,Dummy_N1,N2,N3,Nj,Dummy_Yi,X,Ji,Dummy_Hi,Dummy_C1,Dummy_D1,Ki,Vi,Ai,M1,BIOi,SIDj,C2,D2,C3,D3,C4,D4,Set_55,Set_57,Set_58,Set_59,Dummy_Set_62,Dummy_Set_63,Dummy_Set_64,Dummy_Set_66,Set_68,Set_69,Set_70,SID,N1,Yi) :=
 state_alice(Ui,S,SNk,H,SKj,1,IDi,PWi,RPWi,Ni,Dummy_N1,N2,N3,Nj,Dummy_Yi,X,Ji,Dummy_Hi,Dummy_C1,Dummy_D1,Ki,Vi,Ai,M1,BIOi,SIDj,C2,D2,C3,D3,C4,D4,Set_55,Set_57,Set_58,Set_59,Dummy_Set_62,Dummy_Set_63,Dummy_Set_64,Dummy_Set_66,Set_68,Set_69,Set_70,SID).
 iknows(Yi)
=[exists N1]=>
 state_alice(Ui,S,SNk,H,SKj,2,IDi,PWi,RPWi,Ni,N1,N2,N3,Nj,Yi,X,Ji,Dummy_Hi,xor(apply(H,pair(IDi,apply(H,pair(IDi,pair(X,Yi))))),N1),apply(H,pair(Yi,pair(apply(H,pair(IDi,pair(X,Yi))),pair(N1,IDi)))),Ki,Vi,Ai,M1,BIOi,SIDj,C2,D2,C3,D3,C4,D4,Set_55,Set_57,Set_58,Set_59,Dummy_Set_62,Dummy_Set_63,Dummy_Set_64,Dummy_Set_66,Set_68,Set_69,Set_70,SID).
 secret(Dummy_Set_62,subsx,S).
 secret(Dummy_Set_63,subsy,Dummy_Set_64).
 request(S,Ui,bob_alice_Yi,Yi,SID).
 secret(Dummy_Set_66,subsn1,Ui).
 witness(Ui,S,alice_bob_N1,N1).
 iknows(xor(apply(H,pair(IDi,apply(H,pair(IDi,pair(X,Yi))))),N1)).
 contains(X,Dummy_Set_62).
 contains(Yi,Dummy_Set_63).
 contains(S,Dummy_Set_64).
 contains(N1,Dummy_Set_66)

step step_2 (Ui,S,SNk,H,SKj,IDi,PWi,RPWi,Ni,N1,N2,N3,Nj,Yi,X,Ji,Hi,C1,D1,Ki,Vi,Ai,M1,BIOi,SIDj,C2,D2,Dummy_C3,D3,Dummy_C4,Dummy_D4,Set_55,Set_57,Set_58,Set_59,Set_62,Set_63,Set_64,Set_66,Dummy_Set_68,Dummy_Set_69,Dummy_Set_70,SID,C4) :=
 state_alice(Ui,S,SNk,H,SKj,2,IDi,PWi,RPWi,Ni,N1,N2,N3,Nj,Yi,X,Ji,Hi,C1,D1,Ki,Vi,Ai,M1,BIOi,SIDj,C2,D2,Dummy_C3,D3,Dummy_C4,Dummy_D4,Set_55,Set_57,Set_58,Set_59,Set_62,Set_63,Set_64,Set_66,Dummy_Set_68,Dummy_Set_69,Dummy_Set_70,SID).
 iknows(C4)
 =>
 state_alice(Ui,S,SNk,H,SKj,3,IDi,PWi,RPWi,Ni,N1,N2,N3,Nj,Yi,X,Ji,Hi,C1,D1,Ki,Vi,Ai,M1,BIOi,SIDj,C2,D2,Dummy_C3,D3,C4,Dummy_D4,Set_55,Set_57,Set_58,Set_59,Set_62,Set_63,Set_64,Set_66,Dummy_Set_68,Dummy_Set_69,Dummy_Set_70,SID).
 secret(Dummy_Set_68,subsn3,SNk).
 secret(Dummy_Set_69,subsn2,Dummy_Set_70).
 contains(N3,Dummy_Set_68).
 contains(N2,Dummy_Set_69).
 contains(S,Dummy_Set_70)

step step_3 (S,Ui,SNk,H,SKj,IDi,PWi,Dummy_RPWi,Ni,N1,N2,N3,Dummy_Yi,X,Ji,Dummy_Hi,C1,D1,Ki,Vi,Ai,M1,BIOi,SIDj,C2,D2,C3,D3,C4,D4,Nj,Dummy_Set_107,Dummy_Set_108,Dummy_Set_109,Dummy_Set_110,Dummy_Set_111,Dummy_Set_112,Set_113,Set_114,Set_115,Set_116,Set_117,Set_118,SID,Yi) :=
 state_bob(S,Ui,SNk,H,SKj,0,IDi,PWi,Dummy_RPWi,Ni,N1,N2,N3,Dummy_Yi,X,Ji,Dummy_Hi,C1,D1,Ki,Vi,Ai,M1,BIOi,SIDj,C2,D2,C3,D3,C4,D4,Nj,Dummy_Set_107,Dummy_Set_108,Dummy_Set_109,Dummy_Set_110,Dummy_Set_111,Dummy_Set_112,Set_113,Set_114,Set_115,Set_116,Set_117,Set_118,SID).
 iknows(IDi)
=[exists Yi]=>
 state_bob(S,Ui,SNk,H,SKj,1,IDi,PWi,Dummy_RPWi,Ni,N1,N2,N3,Yi,X,Ji,xor(apply(H,pair(RPWi,IDi)),apply(H,pair(IDi,pair(X,Yi)))),C1,D1,Ki,Vi,Ai,M1,BIOi,SIDj,C2,D2,C3,D3,C4,D4,Nj,Dummy_Set_107,Dummy_Set_108,Dummy_Set_109,Dummy_Set_110,Dummy_Set_111,Dummy_Set_112,Set_113,Set_114,Set_115,Set_116,Set_117,Set_118,SID).
 secret(Dummy_Set_107,subsnpb,Ui).
 secret(Dummy_Set_108,subsid,Dummy_Set_109).
 request(Ui,S,alice_bob_Ni,Ni,SID).
 secret(Dummy_Set_110,subsx,S).
 secret(Dummy_Set_111,subsy,Dummy_Set_112).
 iknows(Yi).
 witness(S,Ui,bob_alice_Yi,Yi).
 contains(Ni,Dummy_Set_107).
 contains(PWi,Dummy_Set_107).
 contains(BIOi,Dummy_Set_107).
 contains(IDi,Dummy_Set_108).
 contains(Ui,Dummy_Set_109).
 contains(S,Dummy_Set_109).
 contains(X,Dummy_Set_110).
 contains(Yi,Dummy_Set_111).
 contains(S,Dummy_Set_112)

step step_4 (S,Ui,SNk,H,SKj,IDi,PWi,RPWi,Ni,N1,Dummy_N2,N3,Dummy_Yi,X,Ji,Hi,Dummy_C1,Dummy_D1,Ki,Vi,Ai,Dummy_M1,BIOi,SIDj,Dummy_C2,Dummy_D2,C3,D3,C4,D4,Dummy_Nj,Set_107,Set_108,Set_109,Set_110,Set_111,Set_112,Dummy_Set_113,Dummy_Set_114,Dummy_Set_115,Set_116,Set_117,Set_118,SID,N2,C1,Nj) :=
 state_bob(S,Ui,SNk,H,SKj,1,IDi,PWi,RPWi,Ni,N1,Dummy_N2,N3,Dummy_Yi,X,Ji,Hi,Dummy_C1,Dummy_D1,Ki,Vi,Ai,Dummy_M1,BIOi,SIDj,Dummy_C2,Dummy_D2,C3,D3,C4,D4,Dummy_Nj,Set_107,Set_108,Set_109,Set_110,Set_111,Set_112,Dummy_Set_113,Dummy_Set_114,Dummy_Set_115,Set_116,Set_117,Set_118,SID).
 iknows(C1)
=[exists Nj,N2]=>
 state_bob(S,Ui,SNk,H,SKj,2,IDi,PWi,RPWi,Ni,N1,N2,N3,Dummy_Yi,X,Ji,Hi,C1,Dummy_D1,Ki,Vi,Ai,xor(N2,apply(H,pair(SIDj,pair(SKj,Nj)))),BIOi,SIDj,xor(N1,apply(H,pair(SKj,N2))),apply(H,pair(N1,pair(SKj,pair(N2,SIDj)))),C3,D3,C4,D4,Nj,Set_107,Set_108,Set_109,Set_110,Set_111,Set_112,Dummy_Set_113,Dummy_Set_114,Dummy_Set_115,Set_116,Set_117,Set_118,SID).
 secret(Dummy_Set_113,subsn1,Ui).
 request(Ui,S,alice_bob_N1,N1,SID).
 secret(Dummy_Set_114,subsn2,Dummy_Set_115).
 iknows(xor(N2,apply(H,pair(SIDj,pair(SKj,Nj))))).
 witness(S,SNk,bob_sensor_N2,N2).
 contains(N1,Dummy_Set_113).
 contains(N2,Dummy_Set_114).
 contains(S,Dummy_Set_115)

step step_5 (S,Ui,SNk,H,SKj,IDi,PWi,RPWi,Ni,N1,N2,N3,Yi,X,Ji,Hi,C1,D1,Ki,Vi,Ai,M1,BIOi,SIDj,C2,D2,Dummy_C3,Dummy_D3,Dummy_C4,Dummy_D4,Nj,Set_107,Set_108,Set_109,Set_110,Set_111,Set_112,Set_113,Set_114,Set_115,Dummy_Set_116,Dummy_Set_117,Dummy_Set_118,SID,C3) :=
 state_bob(S,Ui,SNk,H,SKj,2,IDi,PWi,RPWi,Ni,N1,N2,N3,Yi,X,Ji,Hi,C1,D1,Ki,Vi,Ai,M1,BIOi,SIDj,C2,D2,Dummy_C3,Dummy_D3,Dummy_C4,Dummy_D4,Nj,Set_107,Set_108,Set_109,Set_110,Set_111,Set_112,Set_113,Set_114,Set_115,Dummy_Set_116,Dummy_Set_117,Dummy_Set_118,SID).
 iknows(C3)
 =>
 state_bob(S,Ui,SNk,H,SKj,3,IDi,PWi,RPWi,Ni,N1,N2,N3,Yi,X,Ji,Hi,C1,D1,Ki,Vi,Ai,M1,BIOi,SIDj,C2,D2,C3,Dummy_D3,xor(N2,apply(H,pair(apply(H,pair(IDi,pair(X,Yi))),pair(IDi,N1)))),apply(H,pair(N2,pair(apply(H,pair(IDi,pair(X,Yi))),pair(N3,pair(IDi,N1))))),Nj,Set_107,Set_108,Set_109,Set_110,Set_111,Set_112,Set_113,Set_114,Set_115,Dummy_Set_116,Dummy_Set_117,Dummy_Set_118,SID).
 secret(Dummy_Set_116,subsn3,SNk).
 secret(Dummy_Set_117,subssid,Dummy_Set_118).
 request(SNk,S,sensor_bob_N3,N3,SID).
 iknows(xor(N2,apply(H,pair(apply(H,pair(IDi,pair(X,Yi))),pair(IDi,N1))))).
 contains(N3,Dummy_Set_116).
 contains(SIDj,Dummy_Set_117).
 contains(S,Dummy_Set_118).
 contains(SNk,Dummy_Set_118)

step step_6 (SNk,Ui,S,H,SKj,IDi,PWi,RPWi,Ni,N1,N2,Dummy_N3,Yi,X,Ji,Hi,C1,D1,Ki,Vi,Ai,Dummy_M1,BIOi,SIDj,Dummy_C2,Dummy_D2,Dummy_C3,Dummy_D3,C4,D4,Nj,Dummy_Set_154,Dummy_Set_155,Dummy_Set_156,Dummy_Set_157,Dummy_Set_158,Dummy_Set_159,Dummy_Set_160,Dummy_Set_161,Dummy_Set_162,Dummy_Set_163,Dummy_Set_164,Dummy_Set_165,SID,N3,M1) :=
 state_sensor(SNk,Ui,S,H,SKj,0,IDi,PWi,RPWi,Ni,N1,N2,Dummy_N3,Yi,X,Ji,Hi,C1,D1,Ki,Vi,Ai,Dummy_M1,BIOi,SIDj,Dummy_C2,Dummy_D2,Dummy_C3,Dummy_D3,C4,D4,Nj,Dummy_Set_154,Dummy_Set_155,Dummy_Set_156,Dummy_Set_157,Dummy_Set_158,Dummy_Set_159,Dummy_Set_160,Dummy_Set_161,Dummy_Set_162,Dummy_Set_163,Dummy_Set_164,Dummy_Set_165,SID).
 iknows(M1)
=[exists N3]=>
 state_sensor(SNk,Ui,S,H,SKj,1,IDi,PWi,RPWi,Ni,N1,N2,N3,Yi,X,Ji,Hi,C1,D1,Ki,Vi,Ai,M1,BIOi,SIDj,Dummy_C2,Dummy_D2,xor(apply(H,pair(N1,N3)),N2),apply(H,pair(N1,pair(SKj,pair(N3,pair(SIDj,N2))))),C4,D4,Nj,Dummy_Set_154,Dummy_Set_155,Dummy_Set_156,Dummy_Set_157,Dummy_Set_158,Dummy_Set_159,Dummy_Set_160,Dummy_Set_161,Dummy_Set_162,Dummy_Set_163,Dummy_Set_164,Dummy_Set_165,SID).
 secret(Dummy_Set_154,subssid,Dummy_Set_155).
 secret(Dummy_Set_156,subsn2,Dummy_Set_157).
 secret(Dummy_Set_158,subsnpb,Ui).
 secret(Dummy_Set_159,subsid,Dummy_Set_160).
 secret(Dummy_Set_161,subsx,S).
 secret(Dummy_Set_162,subsy,Dummy_Set_163).
 secret(Dummy_Set_164,subsn1,Ui).
 request(S,SNk,bob_sensor_N2,N2,SID).
 secret(Dummy_Set_165,subsn3,SNk).
 witness(SNk,S,sensor_bob_N3,N3).
 iknows(xor(apply(H,pair(N1,N3)),N2)).
 contains(SIDj,Dummy_Set_154).
 contains(S,Dummy_Set_155).
 contains(SNk,Dummy_Set_155).
 contains(N2,Dummy_Set_156).
 contains(S,Dummy_Set_157).
 contains(Ni,Dummy_Set_158).
 contains(PWi,Dummy_Set_158).
 contains(IDi,Dummy_Set_159).
 contains(Ui,Dummy_Set_160).
 contains(S,Dummy_Set_160).
 contains(X,Dummy_Set_161).
 contains(Yi,Dummy_Set_162).
 contains(S,Dummy_Set_163).
 contains(N1,Dummy_Set_164).
 contains(N3,Dummy_Set_165)


section properties:

property secrecy_of_subsnpb (MGoal,ASGoal) :=
 [] ((secret(MGoal,subsnpb,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subssid (MGoal,ASGoal) :=
 [] ((secret(MGoal,subssid,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subsid (MGoal,ASGoal) :=
 [] ((secret(MGoal,subsid,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subsy (MGoal,ASGoal) :=
 [] ((secret(MGoal,subsy,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subsx (MGoal,ASGoal) :=
 [] ((secret(MGoal,subsx,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subsn1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subsn1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subsn2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subsn2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subsn3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subsn3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subsskj (MGoal,ASGoal) :=
 [] ((secret(MGoal,subsskj,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob_Ni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_Ni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_Ni,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_Ni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_Ni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_Yi (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_Yi,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_Yi,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_Yi,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_Yi,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_alice_bob_N1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_N1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_N1,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_N1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_N1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_sensor_N2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_sensor_N2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_sensor_N2,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_sensor_N2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_sensor_N2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensor_bob_N3 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensor_bob_N3,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensor_bob_N3,MGoal))
     /\ ((request(A1Goal,A2Goal,sensor_bob_N3,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensor_bob_N3,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subsnpb (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subsnpb,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subssid (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subssid,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subsid (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subsid,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subsy (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subsy,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subsx (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subsx,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subsn1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subsn1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subsn2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subsn2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subsn3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subsn3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subsskj (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subsskj,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob_Ni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_Ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_Ni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_Ni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_Ni,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_Ni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_Yi (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_Yi,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_Yi,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_Yi (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_Yi,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_Yi,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_alice_bob_N1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_N1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_N1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_N1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_N1,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_N1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_sensor_N2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_sensor_N2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_sensor_N2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_sensor_N2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_sensor_N2,MGoal,SID1).
 request(A1Goal,A2Goal,bob_sensor_N2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensor_bob_N3 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensor_bob_N3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensor_bob_N3,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensor_bob_N3 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensor_bob_N3,MGoal,SID1).
 request(A1Goal,A2Goal,sensor_bob_N3,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

