%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileyAM5Iw

section signature:

state_userB: agent * agent * agent * hash_func * hash_func * nat * text * text * text * text * text * hash_func * hash_func * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(text) * nat -> fact
state_userA: agent * agent * agent * hash_func * hash_func * nat * text * text * text * text * text * hash_func * hash_func * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(text) * nat -> fact


section types:

a_b_ra, b_a_rb, s1, s2, s3: protocol_id
Set_88, Set_87, Set_86, Set_48, Set_47, Set_45, Dummy_Set_88, Dummy_Set_87, Dummy_Set_86, Dummy_Set_48, Dummy_Set_47, Dummy_Set_45: set(text)
set_160, set_159, set_158, set_156, set_155, set_154, set_152, set_151, set_150, set_149, set_148, set_147, set_137, set_136, set_135, set_117, set_116, set_115: set
State, 9, 7, 3, 2, 1, 0, 4, SID, Dummy_State, SID2, SID1: nat
ASGoal: set(agent)
start, MGoal: message
PAi, PBj, RAi, RBj, DAi, DBj, QqAi, QqBj, QBj, SK, Qtsm, LTAi, LTBj, Dtsm, KB, IDb, MacTagB, IDa, IDtsm, Ra, Rb, G, Dummy_MacTagB, Dummy_KB, Dummy_RBj, Dummy_PBj, Dummy_SK, Dummy_KA, Dummy_MacTagA, Dummy_QqBj, Dummy_RAi, Dummy_Rb, Dummy_Ra, Dummy_QqAi, Dummy_PAi, MacTagA, KA, dummy_nonce, idtsm: text
KDF, W, H, F, dummy_hash, h, f, kdf, w: hash_func
tsm, A, B, TSM, A2Goal, A1Goal, i, a, b: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(b).
 iknows(tsm).
 iknows(idtsm).
 iknows(h).
 iknows(f).
 iknows(w).
 iknows(kdf).
 iknows(i).
 state_userA(a,b,tsm,h,f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_115,set_116,set_117,3).
 state_userB(b,a,tsm,h,f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_135,set_136,set_137,4).
 state_userB(b,i,tsm,h,f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_150,set_151,set_152,7).
 state_userA(a,i,tsm,h,f,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_154,set_155,set_156,9)


section rules:

step step_0 (A,B,TSM,H,F,IDa,IDtsm,Ra,Rb,G,KDF,W,Dummy_PAi,PBj,RAi,RBj,DAi,DBj,Dummy_QqAi,QqBj,QBj,SK,Qtsm,LTAi,LTBj,Dtsm,IDb,MacTagA,KA,Dummy_Set_45,Dummy_Set_47,Dummy_Set_48,SID,QqAi) :=
 state_userA(A,B,TSM,H,F,0,IDa,IDtsm,Ra,Rb,G,KDF,W,Dummy_PAi,PBj,RAi,RBj,DAi,DBj,Dummy_QqAi,QqBj,QBj,SK,Qtsm,LTAi,LTBj,Dtsm,IDb,MacTagA,KA,Dummy_Set_45,Dummy_Set_47,Dummy_Set_48,SID).
 iknows(start)
=[exists QqAi]=>
 state_userA(A,B,TSM,H,F,1,IDa,IDtsm,Ra,Rb,G,KDF,W,pair(apply(W,pair(QqAi,G)),pair(scrypt(Dtsm,pair(IDa,QqAi)),pair(IDtsm,LTAi))),PBj,RAi,RBj,DAi,DBj,QqAi,QqBj,QBj,SK,Qtsm,LTAi,LTBj,Dtsm,IDb,MacTagA,KA,Dummy_Set_45,Dummy_Set_47,Dummy_Set_48,SID).
 secret(Dummy_Set_45,s1,TSM).
 secret(Dummy_Set_47,s2,A).
 secret(Dummy_Set_48,s3,B).
 iknows(pair(apply(W,pair(QqAi,G)),pair(scrypt(Dtsm,pair(IDa,QqAi)),pair(IDtsm,LTAi)))).
 contains(Dtsm,Dummy_Set_45).
 contains(QqAi,Dummy_Set_45).
 contains(DAi,Dummy_Set_47).
 contains(IDa,Dummy_Set_47).
 contains(DBj,Dummy_Set_48).
 contains(IDb,Dummy_Set_48)

step step_1 (A,B,TSM,H,F,IDa,IDtsm,Dummy_Ra,Dummy_Rb,G,KDF,W,PAi,PBj,Dummy_RAi,RBj,DAi,DBj,Dummy_QqAi,Dummy_QqBj,QBj,SK,Qtsm,LTAi,LTBj,Dtsm,IDb,Dummy_MacTagA,Dummy_KA,Set_45,Set_47,Set_48,SID,Ra,Rb,QqAi,QqBj) :=
 state_userA(A,B,TSM,H,F,1,IDa,IDtsm,Dummy_Ra,Dummy_Rb,G,KDF,W,PAi,PBj,Dummy_RAi,RBj,DAi,DBj,Dummy_QqAi,Dummy_QqBj,QBj,SK,Qtsm,LTAi,LTBj,Dtsm,IDb,Dummy_MacTagA,Dummy_KA,Set_45,Set_47,Set_48,SID).
 iknows(apply(W,pair(apply(H,pair(Rb,DBj)),pair(apply(W,pair(apply(W,pair(QqAi,G)),apply(W,pair(apply(H,pair(IDa,pair(IDtsm,pair(apply(W,pair(QqAi,G)),pair(scrypt(Dtsm,pair(IDa,QqAi)),pair(IDtsm,LTAi)))))),apply(W,pair(Dtsm,G)))))),pair(apply(W,pair(QqBj,G)),pair(scrypt(Dtsm,pair(IDb,QqBj)),pair(IDtsm,LTBj)))))))
=[exists Ra]=>
 state_userA(A,B,TSM,H,F,2,IDa,IDtsm,Ra,Rb,G,KDF,W,PAi,PBj,apply(W,pair(apply(H,pair(Ra,DAi)),apply(W,pair(apply(F,pair(QqBj,G)),pair(apply(H,pair(IDb,pair(IDtsm,pair(apply(W,pair(QqBj,G)),pair(scrypt(Dtsm,pair(IDb,QqBj)),pair(IDtsm,LTBj)))))),apply(W,pair(Dtsm,G))))))),RBj,DAi,DBj,QqAi,QqBj,QBj,SK,Qtsm,LTAi,LTBj,Dtsm,IDb,apply(F,pair(apply(W,pair(apply(H,pair(Ra,DAi)),pair(apply(H,pair(Rb,DBj)),G))),pair(IDa,pair(IDb,pair(apply(W,pair(apply(H,pair(Ra,DAi)),apply(W,pair(apply(F,pair(QqBj,G)),pair(apply(H,pair(IDb,pair(IDtsm,pair(apply(W,pair(QqBj,G)),pair(scrypt(Dtsm,pair(IDb,QqBj)),pair(IDtsm,LTBj)))))),apply(W,pair(Dtsm,G))))))),apply(W,pair(apply(H,pair(Rb,DBj)),apply(W,pair(apply(W,pair(QqAi,G)),apply(W,pair(apply(H,pair(IDa,pair(IDtsm,pair(apply(W,pair(QqAi,G)),pair(scrypt(Dtsm,pair(IDa,QqAi)),pair(IDtsm,LTAi)))))),apply(W,pair(Dtsm,G))))))))))))),apply(W,pair(apply(H,pair(Ra,DAi)),pair(apply(H,pair(Rb,DBj)),G))),Set_45,Set_47,Set_48,SID).
 iknows(pair(apply(W,pair(apply(H,pair(Ra,DAi)),apply(W,pair(apply(F,pair(QqBj,G)),pair(apply(H,pair(IDb,pair(IDtsm,pair(apply(W,pair(QqBj,G)),pair(scrypt(Dtsm,pair(IDb,QqBj)),pair(IDtsm,LTBj)))))),apply(W,pair(Dtsm,G))))))),apply(F,pair(apply(W,pair(apply(H,pair(Ra,DAi)),pair(apply(H,pair(Rb,DBj)),G))),pair(IDa,pair(IDb,pair(apply(W,pair(apply(H,pair(Ra,DAi)),apply(W,pair(apply(F,pair(QqBj,G)),pair(apply(H,pair(IDb,pair(IDtsm,pair(apply(W,pair(QqBj,G)),pair(scrypt(Dtsm,pair(IDb,QqBj)),pair(IDtsm,LTBj)))))),apply(W,pair(Dtsm,G))))))),apply(W,pair(apply(H,pair(Rb,DBj)),apply(W,pair(apply(W,pair(QqAi,G)),apply(W,pair(apply(H,pair(IDa,pair(IDtsm,pair(apply(W,pair(QqAi,G)),pair(scrypt(Dtsm,pair(IDa,QqAi)),pair(IDtsm,LTAi)))))),apply(W,pair(Dtsm,G))))))))))))))).
 witness(A,B,a_b_ra,Ra)

step step_2 (A,B,TSM,H,F,IDa,IDtsm,Dummy_Ra,Dummy_Rb,G,KDF,W,PAi,PBj,RAi,RBj,DAi,DBj,Dummy_QqAi,Dummy_QqBj,QBj,Dummy_SK,Qtsm,LTAi,LTBj,Dtsm,IDb,MacTagA,KA,Set_45,Set_47,Set_48,SID,Ra,Rb,QqAi,QqBj,SK) :=
 state_userA(A,B,TSM,H,F,2,IDa,IDtsm,Dummy_Ra,Dummy_Rb,G,KDF,W,PAi,PBj,RAi,RBj,DAi,DBj,Dummy_QqAi,Dummy_QqBj,QBj,Dummy_SK,Qtsm,LTAi,LTBj,Dtsm,IDb,MacTagA,KA,Set_45,Set_47,Set_48,SID).
 iknows(apply(F,pair(SK,pair(IDb,pair(IDa,apply(W,pair(apply(H,pair(Rb,DBj)),pair(apply(W,pair(apply(W,pair(QqAi,G)),apply(W,pair(apply(H,pair(IDa,pair(IDtsm,pair(apply(W,pair(QqAi,G)),pair(scrypt(Dtsm,pair(IDa,QqAi)),pair(IDtsm,LTAi)))))),apply(W,pair(Dtsm,G)))))),apply(W,pair(apply(H,pair(Ra,DAi)),apply(W,pair(apply(F,pair(QqBj,G)),pair(apply(H,pair(IDb,pair(IDtsm,pair(apply(W,pair(QqBj,G)),pair(scrypt(Dtsm,pair(IDb,QqBj)),pair(IDtsm,LTBj)))))),apply(W,pair(Dtsm,G)))))))))))))))
 =>
 state_userA(A,B,TSM,H,F,3,IDa,IDtsm,Ra,Rb,G,KDF,W,PAi,PBj,RAi,RBj,DAi,DBj,QqAi,QqBj,QBj,SK,Qtsm,LTAi,LTBj,Dtsm,IDb,MacTagA,KA,Set_45,Set_47,Set_48,SID).
 request(B,A,b_a_rb,Rb,SID)

step step_3 (B,A,TSM,H,F,IDa,IDtsm,Ra,Dummy_Rb,G,KDF,W,PAi,Dummy_PBj,RAi,Dummy_RBj,DAi,DBj,Dummy_QqAi,Dummy_QqBj,QBj,SK,Qtsm,LTAi,LTBj,Dtsm,KB,IDb,MacTagB,Dummy_Set_86,Dummy_Set_87,Dummy_Set_88,SID,Rb,QqAi,QqBj) :=
 state_userB(B,A,TSM,H,F,0,IDa,IDtsm,Ra,Dummy_Rb,G,KDF,W,PAi,Dummy_PBj,RAi,Dummy_RBj,DAi,DBj,Dummy_QqAi,Dummy_QqBj,QBj,SK,Qtsm,LTAi,LTBj,Dtsm,KB,IDb,MacTagB,Dummy_Set_86,Dummy_Set_87,Dummy_Set_88,SID).
 iknows(pair(apply(W,pair(QqAi,G)),pair(scrypt(Dtsm,pair(IDa,QqAi)),pair(IDtsm,LTAi))))
=[exists QqBj,Rb]=>
 state_userB(B,A,TSM,H,F,1,IDa,IDtsm,Ra,Rb,G,KDF,W,PAi,pair(apply(W,pair(QqBj,G)),pair(scrypt(Dtsm,pair(IDb,QqBj)),pair(IDtsm,LTBj))),RAi,apply(W,pair(apply(H,pair(Rb,DBj)),apply(W,pair(apply(W,pair(QqAi,G)),apply(W,pair(apply(H,pair(IDa,pair(IDtsm,pair(apply(W,pair(QqAi,G)),pair(scrypt(Dtsm,pair(IDa,QqAi)),pair(IDtsm,LTAi)))))),apply(W,pair(Dtsm,G)))))))),DAi,DBj,QqAi,QqBj,QBj,SK,Qtsm,LTAi,LTBj,Dtsm,KB,IDb,MacTagB,Dummy_Set_86,Dummy_Set_87,Dummy_Set_88,SID).
 secret(Dummy_Set_86,s1,TSM).
 secret(Dummy_Set_87,s2,A).
 secret(Dummy_Set_88,s3,B).
 iknows(pair(apply(W,pair(apply(H,pair(Rb,DBj)),apply(W,pair(apply(W,pair(QqAi,G)),apply(W,pair(apply(H,pair(IDa,pair(IDtsm,pair(apply(W,pair(QqAi,G)),pair(scrypt(Dtsm,pair(IDa,QqAi)),pair(IDtsm,LTAi)))))),apply(W,pair(Dtsm,G)))))))),pair(apply(W,pair(QqBj,G)),pair(scrypt(Dtsm,pair(IDb,QqBj)),pair(IDtsm,LTBj))))).
 witness(B,A,b_a_rb,Rb).
 contains(Dtsm,Dummy_Set_86).
 contains(QqAi,Dummy_Set_86).
 contains(DAi,Dummy_Set_87).
 contains(IDa,Dummy_Set_87).
 contains(DBj,Dummy_Set_88).
 contains(IDb,Dummy_Set_88)

step step_4 (B,A,TSM,H,F,IDa,IDtsm,Dummy_Ra,Dummy_Rb,G,KDF,W,PAi,PBj,RAi,RBj,DAi,DBj,Dummy_QqAi,Dummy_QqBj,QBj,Dummy_SK,Qtsm,LTAi,LTBj,Dtsm,Dummy_KB,IDb,Dummy_MacTagB,Set_86,Set_87,Set_88,SID,Ra,Rb,QqAi,QqBj) :=
 state_userB(B,A,TSM,H,F,1,IDa,IDtsm,Dummy_Ra,Dummy_Rb,G,KDF,W,PAi,PBj,RAi,RBj,DAi,DBj,Dummy_QqAi,Dummy_QqBj,QBj,Dummy_SK,Qtsm,LTAi,LTBj,Dtsm,Dummy_KB,IDb,Dummy_MacTagB,Set_86,Set_87,Set_88,SID).
 iknows(pair(apply(W,pair(apply(H,pair(Ra,DAi)),apply(W,pair(apply(F,pair(QqBj,G)),pair(apply(H,pair(IDb,pair(IDtsm,pair(apply(W,pair(QqBj,G)),pair(scrypt(Dtsm,pair(IDb,QqBj)),pair(IDtsm,LTBj)))))),apply(W,pair(Dtsm,G))))))),apply(F,pair(apply(W,pair(apply(H,pair(Ra,DAi)),pair(apply(H,pair(Rb,DBj)),G))),pair(IDa,pair(IDb,pair(apply(W,pair(apply(H,pair(Ra,DAi)),apply(W,pair(apply(F,pair(QqBj,G)),pair(apply(H,pair(IDb,pair(IDtsm,pair(apply(W,pair(QqBj,G)),pair(scrypt(Dtsm,pair(IDb,QqBj)),pair(IDtsm,LTBj)))))),apply(W,pair(Dtsm,G))))))),apply(W,pair(apply(H,pair(Rb,DBj)),apply(W,pair(apply(W,pair(QqAi,G)),apply(W,pair(apply(H,pair(IDa,pair(IDtsm,pair(apply(W,pair(QqAi,G)),pair(scrypt(Dtsm,pair(IDa,QqAi)),pair(IDtsm,LTAi)))))),apply(W,pair(Dtsm,G)))))))))))))))
 =>
 state_userB(B,A,TSM,H,F,2,IDa,IDtsm,Ra,Rb,G,KDF,W,PAi,PBj,RAi,RBj,DAi,DBj,QqAi,QqBj,QBj,apply(KDF,pair(apply(W,pair(apply(H,pair(Rb,DBj)),pair(apply(H,pair(Ra,DAi)),G))),pair(Ra,Rb))),Qtsm,LTAi,LTBj,Dtsm,apply(W,pair(apply(H,pair(Rb,DBj)),pair(apply(H,pair(Ra,DAi)),G))),IDb,apply(F,pair(apply(KDF,pair(apply(W,pair(apply(H,pair(Rb,DBj)),pair(apply(H,pair(Ra,DAi)),G))),pair(Ra,Rb))),pair(IDb,pair(IDa,apply(W,pair(apply(H,pair(Rb,DBj)),pair(apply(W,pair(apply(W,pair(QqAi,G)),apply(W,pair(apply(H,pair(IDa,pair(IDtsm,pair(apply(W,pair(QqAi,G)),pair(scrypt(Dtsm,pair(IDa,QqAi)),pair(IDtsm,LTAi)))))),apply(W,pair(Dtsm,G)))))),apply(W,pair(apply(H,pair(Ra,DAi)),apply(W,pair(apply(F,pair(QqBj,G)),pair(apply(H,pair(IDb,pair(IDtsm,pair(apply(W,pair(QqBj,G)),pair(scrypt(Dtsm,pair(IDb,QqBj)),pair(IDtsm,LTBj)))))),apply(W,pair(Dtsm,G)))))))))))))),Set_86,Set_87,Set_88,SID).
 iknows(apply(F,pair(apply(KDF,pair(apply(W,pair(apply(H,pair(Rb,DBj)),pair(apply(H,pair(Ra,DAi)),G))),pair(Ra,Rb))),pair(IDb,pair(IDa,apply(W,pair(apply(H,pair(Rb,DBj)),pair(apply(W,pair(apply(W,pair(QqAi,G)),apply(W,pair(apply(H,pair(IDa,pair(IDtsm,pair(apply(W,pair(QqAi,G)),pair(scrypt(Dtsm,pair(IDa,QqAi)),pair(IDtsm,LTAi)))))),apply(W,pair(Dtsm,G)))))),apply(W,pair(apply(H,pair(Ra,DAi)),apply(W,pair(apply(F,pair(QqBj,G)),pair(apply(H,pair(IDb,pair(IDtsm,pair(apply(W,pair(QqBj,G)),pair(scrypt(Dtsm,pair(IDb,QqBj)),pair(IDtsm,LTBj)))))),apply(W,pair(Dtsm,G))))))))))))))).
 request(A,B,a_b_ra,Ra,SID)


section properties:

property secrecy_of_s1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_s2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_s3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,s3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_a_b_ra (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,a_b_ra,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,a_b_ra,MGoal))
     /\ ((request(A1Goal,A2Goal,a_b_ra,MGoal,SID1)
           /\ request(A1Goal,A2Goal,a_b_ra,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_b_a_rb (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,b_a_rb,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,b_a_rb,MGoal))
     /\ ((request(A1Goal,A2Goal,b_a_rb,MGoal,SID1)
           /\ request(A1Goal,A2Goal,b_a_rb,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_s1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_s2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_s3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,s3,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_a_b_ra (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,a_b_ra,MGoal,SID) &
 not(witness(A2Goal,A1Goal,a_b_ra,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_a_b_ra (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,a_b_ra,MGoal,SID1).
 request(A1Goal,A2Goal,a_b_ra,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_b_a_rb (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,b_a_rb,MGoal,SID) &
 not(witness(A2Goal,A1Goal,b_a_rb,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_b_a_rb (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,b_a_rb,MGoal,SID1).
 request(A1Goal,A2Goal,b_a_rb,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

