%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileKtJZGY

section signature:

state_user: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact
state_basestation: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact
state_sensornode: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(agent) * set(symmetric_key) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * nat -> fact


section types:

MGoal, start: message
sensornode_user, sensornode_basestation, user_basestation, user_sensornode, subs1, subs2, subs3, subs4, subs5, subs6: protocol_id
Dummy_Set_131, Set_131, Set_93, Set_49, Dummy_Set_49, Dummy_Set_93: set(symmetric_key)
Dummy_Set_136, Dummy_Set_134, Dummy_Set_132, Dummy_Set_130, ASGoal, Set_136, Set_134, Set_132, Set_130, Set_98, Set_96, Set_94, Set_92, Set_54, Set_52, Set_50, Set_47, Dummy_Set_54, Dummy_Set_52, Dummy_Set_50, Dummy_Set_47, Dummy_Set_98, Dummy_Set_96, Dummy_Set_94, Dummy_Set_92: set(agent)
Dummy_Set_137, Dummy_Set_135, Dummy_Set_133, Dummy_Set_129, Set_137, Set_135, Set_133, Set_129, Set_99, Set_97, Set_95, Set_91, Set_55, Set_53, Set_51, Dummy_Set_55, Set_46, Dummy_Set_53, Dummy_Set_51, Dummy_Set_46, Dummy_Set_99, Dummy_Set_97, Dummy_Set_95, Dummy_Set_91: set(text)
Dummy_State, 3, SID, SID2, SID1, State, 13, 12, 11, 9, 8, 7, 2, 1, 0, 5, 4: nat
h, H: hash_func
mkui, mksj, MKsj, MKeyij: symmetric_key
set_188, set_187, set_186, set_185, set_184, set_183, set_182, set_181, set_180, set_309, set_308, set_307, set_306, set_305, set_304, set_303, set_302, set_301, set_299, set_298, set_297, set_296, set_295, set_294, set_293, set_292, set_291, set_289, set_288, set_287, set_286, set_285, set_284, set_283, set_282, set_281, set_279, set_278, set_277, set_276, set_275, set_274, set_273, set_272, set_271, set_269, set_268, set_267, set_266, set_265, set_264, set_263, set_262, set_261, set_259, set_258, set_257, set_256, set_255, set_254, set_253, set_252, set_251, set_238, set_237, set_236, set_235, set_234, set_233, set_232, set_231, set_230, set_214, set_213, set_212, set_211, set_210, set_209, set_208, set_207, set_206: set
A2Goal, A1Goal, sn, bs, u, SN, BS, Ui, i: agent
Dummy_T1, dummy_nonce, rpwi, rui, si, zi, kui, kj, rnui, tj, t1, t2, apmi, gidi, kbs, snj, ui, IDi, APMi, GIdx, Wi, RMui, T1, T2, Si, Zi, Rui, Keyij, Pu, PWi, UKi, M1, IDsj, Tj, Kj, Ri, Ru, S, Tokenij, Dummy_Wi, Dummy_Tokenij, Dummy_UKi, RNuj, Dummy_Ri, Dummy_RMui, Dummy_M1, Dummy_Keyij, Dummy_T2: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(u).
 iknows(bs).
 iknows(sn).
 iknows(h).
 iknows(snj).
 iknows(ui).
 iknows(i).
 state_sensornode(sn,u,bs,mksj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_180,set_181,set_182,set_183,set_184,set_185,set_186,set_187,set_188,3).
 state_basestation(u,bs,sn,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_206,set_207,set_208,set_209,set_210,set_211,set_212,set_213,set_214,4).
 state_user(bs,u,sn,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_230,set_231,set_232,set_233,set_234,set_235,set_236,set_237,set_238,5).
 state_sensornode(u,sn,bs,mksj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_251,set_252,set_253,set_254,set_255,set_256,set_257,set_258,set_259,7).
 state_basestation(sn,bs,u,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_261,set_262,set_263,set_264,set_265,set_266,set_267,set_268,set_269,8).
 state_user(bs,sn,u,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_271,set_272,set_273,set_274,set_275,set_276,set_277,set_278,set_279,9).
 state_sensornode(u,sn,bs,mksj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_281,set_282,set_283,set_284,set_285,set_286,set_287,set_288,set_289,11).
 state_basestation(sn,bs,u,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_291,set_292,set_293,set_294,set_295,set_296,set_297,set_298,set_299,12).
 state_user(bs,sn,u,mksj,mkui,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_301,set_302,set_303,set_304,set_305,set_306,set_307,set_308,set_309,13)


section rules:

step step_0 (SN,BS,Ui,MKsj,H,IDsj,Tj,Kj,IDi,APMi,GIdx,Wi,RMui,Dummy_T1,T2,Si,Zi,Rui,Keyij,Pu,PWi,UKi,M1,Dummy_Set_129,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,Dummy_Set_134,Dummy_Set_135,Dummy_Set_136,Dummy_Set_137,SID,T1) :=
 state_sensornode(SN,BS,Ui,MKsj,H,0,IDsj,Tj,Kj,IDi,APMi,GIdx,Wi,RMui,Dummy_T1,T2,Si,Zi,Rui,Keyij,Pu,PWi,UKi,M1,Dummy_Set_129,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,Dummy_Set_134,Dummy_Set_135,Dummy_Set_136,Dummy_Set_137,SID).
 iknows(start)
=[exists T1]=>
 state_sensornode(SN,BS,Ui,MKsj,H,1,IDsj,Tj,Kj,IDi,APMi,GIdx,Wi,RMui,T1,T2,Si,Zi,Rui,Keyij,Pu,PWi,UKi,M1,Dummy_Set_129,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,Dummy_Set_134,Dummy_Set_135,Dummy_Set_136,Dummy_Set_137,SID).
 secret(Dummy_Set_129,subs1,Dummy_Set_130).
 secret(Dummy_Set_131,subs2,Dummy_Set_132).
 secret(Dummy_Set_133,subs3,Dummy_Set_134).
 secret(Dummy_Set_135,subs5,Dummy_Set_136).
 secret(Dummy_Set_137,subs6,Ui).
 iknows(pair(SN,pair(BS,pair(IDsj,pair(Tj,scrypt(MKsj,pair(Kj,pair(IDsj,Tj)))))))).
 witness(SN,BS,sensornode_basestation,T1).
 contains(Kj,Dummy_Set_129).
 contains(SN,Dummy_Set_130).
 contains(BS,Dummy_Set_130).
 contains(MKsj,Dummy_Set_131).
 contains(SN,Dummy_Set_132).
 contains(BS,Dummy_Set_132).
 contains(RMui,Dummy_Set_133).
 contains(Ui,Dummy_Set_134).
 contains(BS,Dummy_Set_134).
 contains(APMi,Dummy_Set_135).
 contains(GIdx,Dummy_Set_135).
 contains(Ui,Dummy_Set_136).
 contains(BS,Dummy_Set_136).
 contains(PWi,Dummy_Set_137).
 contains(Pu,Dummy_Set_137)

step step_1 (SN,BS,Ui,MKsj,H,IDsj,Tj,Kj,IDi,APMi,GIdx,Wi,RMui,Dummy_T1,Dummy_T2,Si,Zi,Rui,Dummy_Keyij,Pu,PWi,UKi,Dummy_M1,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,Set_135,Set_136,Set_137,SID,T1,T2,Keyij,M1) :=
 state_sensornode(SN,BS,Ui,MKsj,H,1,IDsj,Tj,Kj,IDi,APMi,GIdx,Wi,RMui,Dummy_T1,Dummy_T2,Si,Zi,Rui,Dummy_Keyij,Pu,PWi,UKi,Dummy_M1,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,Set_135,Set_136,Set_137,SID).
 iknows(pair(Ui,pair(SN,pair(IDi,pair(IDsj,pair(scrypt(Keyij,pair(IDi,pair(IDsj,pair(Rui,pair(GIdx,pair(T1,pair(Si,Zi))))))),apply(H,pair(IDi,pair(IDsj,pair(T1,pair(T2,pair(APMi,pair(MKsj,M1)))))))))))))
 =>
 state_sensornode(SN,BS,Ui,MKsj,H,2,IDsj,Tj,Kj,IDi,APMi,GIdx,Wi,RMui,T1,T2,Si,Zi,Rui,Keyij,Pu,PWi,UKi,M1,Set_129,Set_130,Set_131,Set_132,Set_133,Set_134,Set_135,Set_136,Set_137,SID).
 request(Ui,SN,user_sensornode,T1,SID)

step step_2 (BS,SN,Ui,MKsj,MKeyij,H,Wi,RMui,Rui,Dummy_Keyij,Si,Zi,T2,APMi,GIdx,Pu,PWi,UKi,Ri,Ru,S,Tokenij,IDsj,IDi,Kj,Tj,T1,M1,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,SID) :=
 state_basestation(BS,SN,Ui,MKsj,MKeyij,H,0,Wi,RMui,Rui,Dummy_Keyij,Si,Zi,T2,APMi,GIdx,Pu,PWi,UKi,Ri,Ru,S,Tokenij,IDsj,IDi,Kj,Tj,T1,M1,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,SID).
 iknows(pair(SN,pair(BS,pair(IDsj,pair(Tj,scrypt(MKsj,pair(Kj,pair(IDsj,Tj))))))))
 =>
 state_basestation(BS,SN,Ui,MKsj,MKeyij,H,1,Wi,RMui,Rui,apply(H,pair(IDi,pair(IDsj,pair(MKsj,Kj)))),Si,Zi,T2,APMi,GIdx,Pu,PWi,UKi,Ri,Ru,S,Tokenij,IDsj,IDi,Kj,Tj,T1,M1,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,SID)

step step_3 (BS,SN,Ui,MKsj,MKeyij,H,Wi,Dummy_RMui,Rui,Keyij,Si,Zi,T2,APMi,GIdx,Pu,PWi,UKi,Dummy_Ri,Ru,S,Tokenij,IDsj,IDi,Kj,Tj,T1,M1,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,SID,RMui) :=
 state_basestation(BS,SN,Ui,MKsj,MKeyij,H,1,Wi,Dummy_RMui,Rui,Keyij,Si,Zi,T2,APMi,GIdx,Pu,PWi,UKi,Dummy_Ri,Ru,S,Tokenij,IDsj,IDi,Kj,Tj,T1,M1,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,SID).
 iknows(pair(Ui,pair(BS,scrypt(MKeyij,pair(IDi,pair(apply(H,pair(IDi,pair(PWi,Ru))),RMui))))))
 =>
 state_basestation(BS,SN,Ui,MKsj,MKeyij,H,2,Wi,RMui,Rui,Keyij,Si,Zi,T2,APMi,GIdx,Pu,PWi,UKi,xor(apply(H,pair(IDi,pair(PWi,Ru))),apply(H,pair(IDi,S))),Ru,S,Tokenij,IDsj,IDi,Kj,Tj,T1,M1,Dummy_Set_91,Dummy_Set_92,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,SID).
 iknows(pair(BS,pair(Ui,scrypt(MKeyij,pair(xor(apply(H,pair(IDi,pair(PWi,Ru))),apply(H,pair(IDi,S))),pair(H,RMui)))))).
 secret(Dummy_Set_91,subs1,Dummy_Set_92).
 secret(Dummy_Set_93,subs2,Dummy_Set_94).
 secret(Dummy_Set_95,subs3,Dummy_Set_96).
 secret(Dummy_Set_97,subs5,Dummy_Set_98).
 secret(Dummy_Set_99,subs6,Ui).
 request(SN,BS,sensornode_basestation,Tj,SID).
 contains(Kj,Dummy_Set_91).
 contains(SN,Dummy_Set_92).
 contains(BS,Dummy_Set_92).
 contains(MKsj,Dummy_Set_93).
 contains(SN,Dummy_Set_94).
 contains(BS,Dummy_Set_94).
 contains(RMui,Dummy_Set_95).
 contains(Ui,Dummy_Set_96).
 contains(BS,Dummy_Set_96).
 contains(APMi,Dummy_Set_97).
 contains(GIdx,Dummy_Set_97).
 contains(Ui,Dummy_Set_98).
 contains(BS,Dummy_Set_98).
 contains(PWi,Dummy_Set_99).
 contains(Pu,Dummy_Set_99)

step step_4 (BS,SN,Ui,MKsj,MKeyij,H,Wi,Dummy_RMui,Rui,Keyij,Si,Zi,Dummy_T2,APMi,GIdx,Pu,PWi,Dummy_UKi,Ri,Ru,S,Dummy_Tokenij,IDsj,IDi,Kj,Tj,Dummy_T1,Dummy_M1,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,SID,RMui,T2,T1) :=
 state_basestation(BS,SN,Ui,MKsj,MKeyij,H,2,Wi,Dummy_RMui,Rui,Keyij,Si,Zi,Dummy_T2,APMi,GIdx,Pu,PWi,Dummy_UKi,Ri,Ru,S,Dummy_Tokenij,IDsj,IDi,Kj,Tj,Dummy_T1,Dummy_M1,Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,SID).
 iknows(pair(Ui,pair(BS,pair(IDi,pair(apply(H,pair(apply(H,pair(apply(H,pair(PWi,Pu)),pair(GIdx,RMui))),T1)),T1)))))
=[exists T2]=>
 state_basestation(BS,SN,Ui,MKsj,MKeyij,H,3,Wi,RMui,Rui,Keyij,Si,Zi,T2,APMi,GIdx,Pu,PWi,apply(H,pair(Rui,pair(IDi,pair(T1,T2)))),Ri,Ru,S,apply(H,pair(IDi,pair(IDsj,pair(T1,pair(T2,pair(APMi,pair(MKsj,xor(pair(apply(H,pair(IDi,pair(PWi,Ru))),RMui))))))))),IDsj,IDi,Kj,Tj,T1,xor(pair(apply(H,pair(IDi,pair(PWi,Ru))),RMui)),Set_91,Set_92,Set_93,Set_94,Set_95,Set_96,Set_97,Set_98,Set_99,SID).
 iknows(pair(BS,pair(Ui,pair(scrypt(Dummy_UKi,pair(Si,pair(Zi,pair(Keyij,IDsj)))),pair(T2,pair(T1,pair(IDi,pair(IDsj,apply(H,pair(IDi,pair(IDsj,pair(T1,pair(T2,pair(APMi,pair(MKsj,xor(pair(apply(H,pair(IDi,pair(PWi,Ru))),RMui))))))))))))))))).
 request(Ui,BS,user_basestation,T1,SID)

step step_5 (Ui,BS,SN,MKsj,MKeyij,H,IDi,Dummy_Wi,APMi,Dummy_RMui,Pu,PWi,UKi,Rui,Keyij,IDsj,Si,Zi,Kj,GIdx,RNuj,M1,Ru,S,T1,T2,Set_46,Set_47,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,SID,RMui) :=
 state_user(Ui,BS,SN,MKsj,MKeyij,H,0,IDi,Dummy_Wi,APMi,Dummy_RMui,Pu,PWi,UKi,Rui,Keyij,IDsj,Si,Zi,Kj,GIdx,RNuj,M1,Ru,S,T1,T2,Set_46,Set_47,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,SID).
 iknows(start)
=[exists RMui]=>
 state_user(Ui,BS,SN,MKsj,MKeyij,H,1,IDi,apply(H,pair(IDi,pair(PWi,Ru))),APMi,RMui,Pu,PWi,UKi,Rui,Keyij,IDsj,Si,Zi,Kj,GIdx,RNuj,M1,Ru,S,T1,T2,Set_46,Set_47,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,SID).
 iknows(pair(Ui,pair(BS,scrypt(MKeyij,pair(IDi,pair(apply(H,pair(IDi,pair(PWi,Ru))),RMui))))))

step step_6 (Ui,BS,SN,MKsj,MKeyij,H,IDi,Wi,APMi,Dummy_RMui,Pu,PWi,UKi,Rui,Keyij,IDsj,Si,Zi,Kj,GIdx,RNuj,M1,Ru,S,Dummy_T1,T2,Dummy_Set_46,Dummy_Set_47,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,Dummy_Set_55,SID,RMui,T1) :=
 state_user(Ui,BS,SN,MKsj,MKeyij,H,1,IDi,Wi,APMi,Dummy_RMui,Pu,PWi,UKi,Rui,Keyij,IDsj,Si,Zi,Kj,GIdx,RNuj,M1,Ru,S,Dummy_T1,T2,Dummy_Set_46,Dummy_Set_47,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,Dummy_Set_55,SID).
 iknows(pair(BS,pair(Ui,scrypt(MKeyij,pair(xor(apply(H,pair(IDi,pair(PWi,Ru))),apply(H,pair(IDi,S))),pair(H,RMui))))))
=[exists T1]=>
 state_user(Ui,BS,SN,MKsj,MKeyij,H,2,IDi,Wi,APMi,RMui,Pu,PWi,UKi,Rui,Keyij,IDsj,Si,Zi,Kj,GIdx,RNuj,M1,Ru,S,T1,T2,Dummy_Set_46,Dummy_Set_47,Dummy_Set_49,Dummy_Set_50,Dummy_Set_51,Dummy_Set_52,Dummy_Set_53,Dummy_Set_54,Dummy_Set_55,SID).
 secret(Dummy_Set_46,subs1,Dummy_Set_47).
 secret(Dummy_Set_49,subs2,Dummy_Set_50).
 secret(Dummy_Set_51,subs3,Dummy_Set_52).
 secret(Dummy_Set_53,subs5,Dummy_Set_54).
 secret(Dummy_Set_55,subs6,Ui).
 iknows(pair(Ui,pair(BS,pair(IDi,pair(apply(H,pair(apply(H,pair(apply(H,pair(PWi,Pu)),pair(GIdx,Dummy_RMui))),T1)),T1))))).
 witness(Ui,BS,user_basestation,T1).
 contains(Kj,Dummy_Set_46).
 contains(SN,Dummy_Set_47).
 contains(BS,Dummy_Set_47).
 contains(MKsj,Dummy_Set_49).
 contains(SN,Dummy_Set_50).
 contains(BS,Dummy_Set_50).
 contains(RMui,Dummy_Set_51).
 contains(Ui,Dummy_Set_52).
 contains(BS,Dummy_Set_52).
 contains(APMi,Dummy_Set_53).
 contains(GIdx,Dummy_Set_53).
 contains(Ui,Dummy_Set_54).
 contains(BS,Dummy_Set_54).
 contains(PWi,Dummy_Set_55).
 contains(Pu,Dummy_Set_55)

step step_7 (Ui,BS,SN,MKsj,MKeyij,H,IDi,Wi,APMi,RMui,Pu,PWi,Dummy_UKi,Rui,Dummy_Keyij,IDsj,Si,Zi,Kj,GIdx,RNuj,Dummy_M1,Ru,S,Dummy_T1,Dummy_T2,Set_46,Set_47,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,SID,M1,T1,T2) :=
 state_user(Ui,BS,SN,MKsj,MKeyij,H,2,IDi,Wi,APMi,RMui,Pu,PWi,Dummy_UKi,Rui,Dummy_Keyij,IDsj,Si,Zi,Kj,GIdx,RNuj,Dummy_M1,Ru,S,Dummy_T1,Dummy_T2,Set_46,Set_47,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,SID).
 iknows(pair(BS,pair(Ui,pair(scrypt(Dummy_UKi,pair(Si,pair(Zi,pair(Dummy_Keyij,IDsj)))),pair(T2,pair(T1,pair(IDi,pair(IDsj,apply(H,pair(IDi,pair(IDsj,pair(T1,pair(T2,pair(APMi,pair(MKsj,M1)))))))))))))))
 =>
 state_user(Ui,BS,SN,MKsj,MKeyij,H,3,IDi,Wi,APMi,RMui,Pu,PWi,apply(H,pair(Rui,pair(IDi,pair(T1,T2)))),Rui,apply(H,pair(IDi,pair(IDsj,pair(MKsj,Kj)))),IDsj,Si,Zi,Kj,GIdx,RNuj,M1,Ru,S,T1,T2,Set_46,Set_47,Set_49,Set_50,Set_51,Set_52,Set_53,Set_54,Set_55,SID).
 iknows(pair(Ui,pair(SN,pair(IDi,pair(IDsj,pair(scrypt(apply(H,pair(IDi,pair(IDsj,pair(MKsj,Kj)))),pair(IDi,pair(IDsj,pair(Rui,pair(GIdx,pair(T1,pair(Si,Zi))))))),apply(H,pair(IDi,pair(IDsj,pair(T1,pair(T2,pair(APMi,pair(MKsj,M1))))))))))))).
 witness(Ui,SN,user_sensornode,T1)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_basestation (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_basestation,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_basestation,MGoal))
     /\ ((request(A1Goal,A2Goal,user_basestation,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_basestation,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensornode_user (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensornode_user,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensornode_user,MGoal))
     /\ ((request(A1Goal,A2Goal,sensornode_user,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensornode_user,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_sensornode (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_sensornode,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_sensornode,MGoal))
     /\ ((request(A1Goal,A2Goal,user_sensornode,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_sensornode,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensornode_basestation (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensornode_basestation,MGoal))
     /\ ((request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_basestation (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_basestation,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_basestation,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_basestation (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_basestation,MGoal,SID1).
 request(A1Goal,A2Goal,user_basestation,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensornode_user (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensornode_user,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensornode_user,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensornode_user (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensornode_user,MGoal,SID1).
 request(A1Goal,A2Goal,sensornode_user,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_sensornode (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_sensornode,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_sensornode,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_sensornode (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_sensornode,MGoal,SID1).
 request(A1Goal,A2Goal,user_sensornode,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensornode_basestation (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensornode_basestation,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensornode_basestation (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID1).
 request(A1Goal,A2Goal,sensornode_basestation,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

