%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilexA9dyGehnm

section signature:

state_sensor: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(message) * set(agent) * set(text) * set(agent) * nat -> fact
state_gateway: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_user: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(text) * set(agent) * nat -> fact


section types:

user_gateway_n1, gateway_sensor_n2, sensor_user_n3, subs1, subs2, subs3, subs4, subs5, subs6: protocol_id
Set_130, Dummy_Set_130: set(message)
Dummy_N3, Dummy_N2, Dummy_N1, Dummy_Ni, Dummy_RPWi, dummy_nonce, idi, pwi, rpwi, n1, n2, n3, x, yi, hi, d1, c1, c3, d3, c4, d4, c2, d2, nj, m1, IDi, PWi, RPWi, N1, Ni, N2, N3, Nj, Bi, SKj, SIDj, X, Dummy_Nj, Dummy_IDi: text
Dummy_Set_48, ASGoal, Set_133, Set_131, Set_93, Set_91, Set_48, Dummy_Set_133, Dummy_Set_131, Dummy_Set_93, Dummy_Set_91: set(agent)
dummy_hash, h, Inc, H: hash_func
Dummy_Set_47, Dummy_Set_45, Set_132, Set_92, Set_90, Set_47, Set_45, Dummy_Set_132, Dummy_Set_92, Dummy_Set_90: set(text)
sckj, SCKj: symmetric_key
Dummy_State, 3, SID, SID2, SID1, State, 13, 12, 2, 11, 1, 9, 0, 8, 7, 5, 4: nat
set_180, set_179, set_178, set_259, set_258, set_257, set_256, set_254, set_253, set_252, set_251, set_249, set_248, set_247, set_245, set_244, set_243, set_242, set_240, set_239, set_238, set_237, set_235, set_234, set_233, set_226, set_225, set_224, set_223, set_208, set_207, set_206, set_205: set
A2Goal, A1Goal, ui, gwn, snj, SNj, Ui, GWN, i: agent
Dummy_C4, Dummy_D1, Dummy_C1, Dummy_Ji, Dummy_Vi, Dummy_Ai, Dummy_Hi, Dummy_Yi, dummy_msg, MGoal, Yi, Hi, Ai, Vi, Ji, C1, D1, C4, C3, D3, SK, M1, C2, D2, D4, Ki, start, Dummy_D3, Dummy_C3, Dummy_D2, Dummy_C2, Dummy_M1, Dummy_Ki, Dummy_SK, Dummy_D4: message


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(gwn).
 iknows(snj).
 iknows(h).
 iknows(yi).
 iknows(hi).
 iknows(d1).
 iknows(c1).
 iknows(c3).
 iknows(d3).
 iknows(c4).
 iknows(d4).
 iknows(c2).
 iknows(d2).
 iknows(nj).
 iknows(m1).
 iknows(i).
 state_user(gwn,ui,snj,sckj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_178,set_179,set_180,3).
 state_gateway(gwn,ui,snj,sckj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_205,set_206,set_207,set_208,4).
 state_sensor(gwn,ui,snj,sckj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_223,set_224,set_225,set_226,5).
 state_user(ui,gwn,snj,sckj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_233,set_234,set_235,7).
 state_gateway(ui,gwn,snj,sckj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_237,set_238,set_239,set_240,8).
 state_sensor(ui,gwn,snj,sckj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_242,set_243,set_244,set_245,9).
 state_user(snj,ui,gwn,sckj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_247,set_248,set_249,11).
 state_gateway(snj,ui,gwn,sckj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_251,set_252,set_253,set_254,12).
 state_sensor(snj,ui,gwn,sckj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_256,set_257,set_258,set_259,13)


section rules:

step step_0 (Ui,GWN,SNj,SCKj,H,IDi,PWi,Dummy_RPWi,N1,Dummy_Ni,N2,N3,Bi,Yi,Hi,Ai,Vi,Ji,C1,D1,C4,C3,D4,SK,Inc,Dummy_Set_45,Dummy_Set_47,Dummy_Set_48,SID,Ni) :=
 state_user(Ui,GWN,SNj,SCKj,H,0,IDi,PWi,Dummy_RPWi,N1,Dummy_Ni,N2,N3,Bi,Yi,Hi,Ai,Vi,Ji,C1,D1,C4,C3,D4,SK,Inc,Dummy_Set_45,Dummy_Set_47,Dummy_Set_48,SID).
 iknows(start)
=[exists Ni]=>
 state_user(Ui,GWN,SNj,SCKj,H,1,IDi,PWi,apply(H,pair(Ni,PWi)),N1,Ni,N2,N3,Bi,Yi,Hi,Ai,Vi,Ji,C1,D1,C4,C3,D4,SK,Inc,Dummy_Set_45,Dummy_Set_47,Dummy_Set_48,SID).
 iknows(scrypt(SCKj,pair(IDi,apply(H,pair(Ni,PWi))))).
 secret(Dummy_Set_45,subs1,Ui).
 secret(Dummy_Set_47,subs2,Dummy_Set_48).
 contains(PWi,Dummy_Set_45).
 contains(Ni,Dummy_Set_45).
 contains(IDi,Dummy_Set_47).
 contains(Ui,Dummy_Set_48).
 contains(GWN,Dummy_Set_48)

step step_1 (Ui,GWN,SNj,SCKj,H,IDi,PWi,RPWi,Dummy_N1,Ni,N2,N3,Bi,Dummy_Yi,Dummy_Hi,Dummy_Ai,Dummy_Vi,Dummy_Ji,Dummy_C1,Dummy_D1,C4,C3,D4,SK,Inc,Set_45,Set_47,Set_48,SID,N1,Yi,Hi) :=
 state_user(Ui,GWN,SNj,SCKj,H,1,IDi,PWi,RPWi,Dummy_N1,Ni,N2,N3,Bi,Dummy_Yi,Dummy_Hi,Dummy_Ai,Dummy_Vi,Dummy_Ji,Dummy_C1,Dummy_D1,C4,C3,D4,SK,Inc,Set_45,Set_47,Set_48,SID).
 iknows(scrypt(SCKj,pair(Yi,Hi)))
=[exists N1]=>
 state_user(Ui,GWN,SNj,SCKj,H,2,IDi,PWi,RPWi,N1,Ni,N2,N3,Bi,Yi,Hi,xor(Ni,apply(H,pair(IDi,pair(apply(H,Bi),PWi)))),apply(H,pair(IDi,pair(Ni,pair(apply(H,Bi),PWi)))),xor(Dummy_Hi,apply(H,pair(RPWi,IDi))),xor(apply(H,pair(IDi,Dummy_Ji)),N1),apply(H,pair(Dummy_Yi,pair(xor(Dummy_Hi,apply(H,pair(RPWi,IDi))),pair(N1,IDi)))),C4,C3,D4,SK,Inc,Set_45,Set_47,Set_48,SID).
 iknows(pair(apply(H,pair(Dummy_Yi,pair(xor(Dummy_Hi,apply(H,pair(RPWi,IDi))),pair(N1,IDi)))),pair(xor(apply(H,pair(IDi,Dummy_Ji)),N1),Dummy_Yi))).
 witness(Ui,GWN,user_gateway_n1,N1)

step step_2 (Ui,GWN,SNj,SCKj,H,IDi,PWi,RPWi,N1,Ni,Dummy_N2,Dummy_N3,Bi,Yi,Hi,Ai,Vi,Ji,C1,D1,Dummy_C4,C3,Dummy_D4,Dummy_SK,Inc,Set_45,Set_47,Set_48,SID,C4,D4) :=
 state_user(Ui,GWN,SNj,SCKj,H,2,IDi,PWi,RPWi,N1,Ni,Dummy_N2,Dummy_N3,Bi,Yi,Hi,Ai,Vi,Ji,C1,D1,Dummy_C4,C3,Dummy_D4,Dummy_SK,Inc,Set_45,Set_47,Set_48,SID).
 iknows(pair(C4,pair(C3,D4)))
 =>
 state_user(Ui,GWN,SNj,SCKj,H,3,IDi,PWi,RPWi,N1,Ni,xor(Dummy_C4,apply(H,pair(Ji,pair(IDi,N1)))),xor(C3,apply(H,pair(N1,xor(Dummy_C4,apply(H,pair(Ji,pair(IDi,N1))))))),Bi,Yi,Hi,Ai,Vi,Ji,C1,D1,C4,C3,D4,apply(H,pair(N1,pair(xor(C3,apply(H,pair(N1,xor(Dummy_C4,apply(H,pair(Ji,pair(IDi,N1))))))),xor(Dummy_C4,apply(H,pair(Ji,pair(IDi,N1))))))),Inc,Set_45,Set_47,Set_48,SID)

step step_3 (GWN,Ui,SNj,SCKj,H,IDi,PWi,Dummy_RPWi,N1,Ni,N2,N3,Bi,SKj,X,Nj,SIDj,Dummy_Yi,Dummy_Hi,Ai,Vi,Dummy_Ji,C1,D1,C4,C3,D4,SK,Dummy_Ki,M1,C2,D2,D3,Inc,Dummy_Set_90,Dummy_Set_91,Set_92,Set_93,SID,RPWi,Yi) :=
 state_gateway(GWN,Ui,SNj,SCKj,H,0,IDi,PWi,Dummy_RPWi,N1,Ni,N2,N3,Bi,SKj,X,Nj,SIDj,Dummy_Yi,Dummy_Hi,Ai,Vi,Dummy_Ji,C1,D1,C4,C3,D4,SK,Dummy_Ki,M1,C2,D2,D3,Inc,Dummy_Set_90,Dummy_Set_91,Set_92,Set_93,SID).
 iknows(scrypt(SCKj,pair(IDi,RPWi)))
=[exists Yi]=>
 state_gateway(GWN,Ui,SNj,SCKj,H,1,IDi,PWi,RPWi,N1,Ni,N2,N3,Bi,SKj,X,Nj,SIDj,Yi,xor(apply(H,pair(Dummy_RPWi,IDi)),apply(H,pair(IDi,pair(X,Yi)))),Ai,Vi,apply(H,pair(IDi,pair(X,Yi))),C1,D1,C4,C3,D4,SK,xor(IDi,apply(H,xor(X,Yi))),M1,C2,D2,D3,Inc,Dummy_Set_90,Dummy_Set_91,Set_92,Set_93,SID).
 iknows(scrypt(SCKj,pair(Yi,xor(apply(H,pair(Dummy_RPWi,IDi)),apply(H,pair(IDi,pair(X,Yi))))))).
 secret(Dummy_Set_90,subs3,Dummy_Set_91).
 contains(X,Dummy_Set_90).
 contains(GWN,Dummy_Set_91)

step step_4 (GWN,Ui,SNj,SCKj,H,Dummy_IDi,PWi,RPWi,Dummy_N1,Ni,Dummy_N2,N3,Bi,SKj,X,Dummy_Nj,SIDj,Yi,Hi,Ai,Vi,Ji,Dummy_C1,Dummy_D1,C4,C3,D4,SK,Ki,Dummy_M1,Dummy_C2,Dummy_D2,D3,Inc,Set_90,Set_91,Dummy_Set_92,Dummy_Set_93,SID,N2,Nj,C1,D1) :=
 state_gateway(GWN,Ui,SNj,SCKj,H,1,Dummy_IDi,PWi,RPWi,Dummy_N1,Ni,Dummy_N2,N3,Bi,SKj,X,Dummy_Nj,SIDj,Yi,Hi,Ai,Vi,Ji,Dummy_C1,Dummy_D1,C4,C3,D4,SK,Ki,Dummy_M1,Dummy_C2,Dummy_D2,D3,Inc,Set_90,Set_91,Dummy_Set_92,Dummy_Set_93,SID).
 iknows(pair(D1,pair(C1,Yi)))
=[exists Nj,N2]=>
 state_gateway(GWN,Ui,SNj,SCKj,H,2,xor(Ki,apply(H,xor(X,Yi))),PWi,RPWi,xor(C1,apply(H,pair(xor(Ki,apply(H,xor(X,Yi))),apply(H,pair(xor(Ki,apply(H,xor(X,Yi))),pair(X,Yi)))))),Ni,N2,N3,Bi,SKj,X,Nj,SIDj,Yi,Hi,Ai,Vi,Ji,C1,D1,C4,C3,D4,SK,Ki,xor(N2,apply(H,pair(SIDj,pair(SKj,Nj)))),xor(xor(C1,apply(H,pair(xor(Ki,apply(H,xor(X,Yi))),apply(H,pair(xor(Ki,apply(H,xor(X,Yi))),pair(X,Yi)))))),apply(H,pair(SKj,N2))),apply(H,pair(xor(C1,apply(H,pair(xor(Ki,apply(H,xor(X,Yi))),apply(H,pair(xor(Ki,apply(H,xor(X,Yi))),pair(X,Yi)))))),pair(SKj,pair(N2,SIDj)))),D3,Inc,Set_90,Set_91,Dummy_Set_92,Dummy_Set_93,SID).
 iknows(pair(xor(N2,apply(H,pair(SIDj,pair(SKj,Nj)))),pair(xor(xor(C1,apply(H,pair(xor(Ki,apply(H,xor(X,Yi))),apply(H,pair(xor(Ki,apply(H,xor(X,Yi))),pair(X,Yi)))))),apply(H,pair(SKj,N2))),pair(apply(H,pair(xor(C1,apply(H,pair(xor(Ki,apply(H,xor(X,Yi))),apply(H,pair(xor(Ki,apply(H,xor(X,Yi))),pair(X,Yi)))))),pair(SKj,pair(N2,SIDj)))),Nj)))).
 secret(Dummy_Set_92,subs4,Dummy_Set_93).
 witness(GWN,SNj,gateway_sensor_n2,N2).
 request(SNj,GWN,gateway_sensor_n2,N2,SID).
 contains(SKj,Dummy_Set_92).
 contains(SNj,Dummy_Set_93).
 contains(GWN,Dummy_Set_93)

step step_5 (GWN,Ui,SNj,SCKj,H,IDi,PWi,RPWi,N1,Ni,N2,Dummy_N3,Bi,SKj,X,Nj,SIDj,Yi,Hi,Ai,Vi,Ji,C1,D1,Dummy_C4,Dummy_C3,Dummy_D4,SK,Ki,M1,C2,D2,Dummy_D3,Inc,Set_90,Set_91,Set_92,Set_93,SID,C3,D3) :=
 state_gateway(GWN,Ui,SNj,SCKj,H,1,IDi,PWi,RPWi,N1,Ni,N2,Dummy_N3,Bi,SKj,X,Nj,SIDj,Yi,Hi,Ai,Vi,Ji,C1,D1,Dummy_C4,Dummy_C3,Dummy_D4,SK,Ki,M1,C2,D2,Dummy_D3,Inc,Set_90,Set_91,Set_92,Set_93,SID).
 iknows(pair(C3,D3))
 =>
 state_gateway(GWN,Ui,SNj,SCKj,H,2,IDi,PWi,RPWi,N1,Ni,N2,xor(Dummy_C3,apply(H,pair(N1,N2))),Bi,SKj,X,Nj,SIDj,Yi,Hi,Ai,Vi,Ji,C1,D1,xor(N2,apply(H,pair(apply(H,pair(IDi,pair(X,Yi))),pair(IDi,N1)))),C3,apply(H,pair(apply(H,pair(IDi,pair(X,Yi))),pair(xor(Dummy_C3,apply(H,pair(N1,N2))),pair(IDi,N1)))),SK,Ki,M1,C2,D2,D3,Inc,Set_90,Set_91,Set_92,Set_93,SID).
 iknows(pair(xor(N2,apply(H,pair(apply(H,pair(IDi,pair(X,Yi))),pair(IDi,N1)))),pair(Dummy_C3,apply(H,pair(apply(H,pair(IDi,pair(X,Yi))),pair(xor(Dummy_C3,apply(H,pair(N1,N2))),pair(IDi,N1)))))))

step step_6 (SNj,Ui,GWN,SCKj,H,IDi,PWi,RPWi,Dummy_N1,Ni,Dummy_N2,Dummy_N3,Dummy_Nj,Bi,SKj,SIDj,Yi,Hi,Ai,Vi,Ji,C1,D1,C4,Dummy_C3,Dummy_D3,Dummy_SK,Dummy_M1,Dummy_C2,Dummy_D2,Inc,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,SID,N3,Nj,M1,C2,D2) :=
 state_sensor(SNj,Ui,GWN,SCKj,H,0,IDi,PWi,RPWi,Dummy_N1,Ni,Dummy_N2,Dummy_N3,Dummy_Nj,Bi,SKj,SIDj,Yi,Hi,Ai,Vi,Ji,C1,D1,C4,Dummy_C3,Dummy_D3,Dummy_SK,Dummy_M1,Dummy_C2,Dummy_D2,Inc,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,SID).
 iknows(pair(M1,pair(C2,pair(D2,Nj))))
=[exists N3]=>
 state_sensor(SNj,Ui,GWN,SCKj,H,1,IDi,PWi,RPWi,xor(Dummy_C2,apply(H,pair(SKj,xor(Dummy_M1,apply(H,pair(SIDj,pair(SKj,Dummy_Nj))))))),Ni,xor(Dummy_M1,apply(H,pair(SIDj,pair(SKj,Dummy_Nj)))),N3,Nj,Bi,SKj,SIDj,Yi,Hi,Ai,Vi,Ji,C1,D1,C4,xor(apply(H,pair(xor(Dummy_C2,apply(H,pair(SKj,xor(Dummy_M1,apply(H,pair(SIDj,pair(SKj,Dummy_Nj))))))),xor(Dummy_M1,apply(H,pair(SIDj,pair(SKj,Dummy_Nj)))))),N3),apply(H,pair(xor(Dummy_C2,apply(H,pair(SKj,xor(Dummy_M1,apply(H,pair(SIDj,pair(SKj,Dummy_Nj))))))),pair(SKj,pair(N3,pair(SIDj,xor(Dummy_M1,apply(H,pair(SIDj,pair(SKj,Dummy_Nj))))))))),apply(H,pair(xor(Dummy_C2,apply(H,pair(SKj,xor(Dummy_M1,apply(H,pair(SIDj,pair(SKj,Dummy_Nj))))))),pair(N3,xor(Dummy_M1,apply(H,pair(SIDj,pair(SKj,Dummy_Nj))))))),M1,C2,D2,Inc,Dummy_Set_130,Dummy_Set_131,Dummy_Set_132,Dummy_Set_133,SID).
 iknows(pair(xor(apply(H,pair(xor(Dummy_C2,apply(H,pair(SKj,xor(Dummy_M1,apply(H,pair(SIDj,pair(SKj,Dummy_Nj))))))),xor(Dummy_M1,apply(H,pair(SIDj,pair(SKj,Dummy_Nj)))))),N3),apply(H,pair(xor(Dummy_C2,apply(H,pair(SKj,xor(Dummy_M1,apply(H,pair(SIDj,pair(SKj,Dummy_Nj))))))),pair(SKj,pair(N3,pair(SIDj,xor(Dummy_M1,apply(H,pair(SIDj,pair(SKj,Dummy_Nj))))))))))).
 witness(SNj,Ui,sensor_user_n3,N3).
 request(Ui,SNj,sensor_user_n3,N3,SID).
 secret(Dummy_Set_130,subs5,Dummy_Set_131).
 secret(Dummy_Set_132,subs6,Dummy_Set_133).
 contains(apply(H,pair(xor(Dummy_C2,apply(H,pair(SKj,xor(Dummy_M1,apply(H,pair(SIDj,pair(SKj,Dummy_Nj))))))),pair(N3,xor(Dummy_M1,apply(H,pair(SIDj,pair(SKj,Dummy_Nj))))))),Dummy_Set_130).
 contains(Ui,Dummy_Set_131).
 contains(SNj,Dummy_Set_131).
 contains(Dummy_N1,Dummy_Set_132).
 contains(Dummy_N2,Dummy_Set_132).
 contains(Dummy_N3,Dummy_Set_132).
 contains(Ui,Dummy_Set_133).
 contains(SNj,Dummy_Set_133)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_gateway_n1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_gateway_n1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_gateway_n1,MGoal))
     /\ ((request(A1Goal,A2Goal,user_gateway_n1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_gateway_n1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gateway_sensor_n2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gateway_sensor_n2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gateway_sensor_n2,MGoal))
     /\ ((request(A1Goal,A2Goal,gateway_sensor_n2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gateway_sensor_n2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sensor_user_n3 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sensor_user_n3,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sensor_user_n3,MGoal))
     /\ ((request(A1Goal,A2Goal,sensor_user_n3,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sensor_user_n3,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_gateway_n1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_gateway_n1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_gateway_n1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_gateway_n1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_gateway_n1,MGoal,SID1).
 request(A1Goal,A2Goal,user_gateway_n1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gateway_sensor_n2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gateway_sensor_n2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gateway_sensor_n2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gateway_sensor_n2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gateway_sensor_n2,MGoal,SID1).
 request(A1Goal,A2Goal,gateway_sensor_n2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sensor_user_n3 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sensor_user_n3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sensor_user_n3,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sensor_user_n3 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sensor_user_n3,MGoal,SID1).
 request(A1Goal,A2Goal,sensor_user_n3,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

