%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileIoSDHK

section signature:

state_lwAKE_Resp: agent * agent * symmetric_key * text * nat * text * text * text * hash_func * set(agent) * nat -> fact
state_lwAKE_Init: agent * agent * symmetric_key * text * nat * hash_func * text * text * text * set(agent) * nat -> fact


section types:

sec_k2, nb, na, sec_k1: protocol_id
set_93, set_92, set_90, set_89, set_88, set_86, set_85, set_83, set_81, set_79, set_75, set_65: set
H, dummy_hash: hash_func
19, 16, 12, State, 9, 7, 6, 4, SID, 2, Dummy_State, 3, 1, 0, SID2, SID1: nat
Set_40, Dummy_Set_40, Dummy_Set_23, Set_23, ASGoal: set(agent)
start, MGoal: message
Na, Nb, K, TID, Dummy_K, Dummy_Nb, Dummy_Na, dummy_nonce, tid, k: text
Kab, kab, kai, kbi: symmetric_key
B, A, A2Goal, A1Goal, a, i, b: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(a).
 iknows(b).
 iknows(kai).
 iknows(kbi).
 iknows(na).
 iknows(i).
 state_lwAKE_Init(a,b,kab,tid,0,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,set_65,3).
 state_lwAKE_Resp(b,a,kab,tid,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_75,4).
 state_lwAKE_Init(b,a,kab,tid,0,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,set_79,6).
 state_lwAKE_Resp(a,b,kab,tid,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_81,7).
 state_lwAKE_Init(a,i,kai,tid,0,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,set_83,9).
 state_lwAKE_Init(b,i,kbi,tid,0,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,set_86,12).
 state_lwAKE_Resp(a,i,kai,tid,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_90,16).
 state_lwAKE_Resp(b,i,kbi,tid,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,set_93,19)


section rules:

step step_0 (A,B,Kab,TID,H,Dummy_Na,Nb,K,Set_23,SID,Na) :=
 state_lwAKE_Init(A,B,Kab,TID,0,H,Dummy_Na,Nb,K,Set_23,SID).
 iknows(start)
=[exists Na]=>
 state_lwAKE_Init(A,B,Kab,TID,1,H,Na,Nb,K,Set_23,SID).
 witness(A,B,na,Na).
 iknows(Na)

step step_1 (A,B,Kab,TID,H,Dummy_Na,Dummy_Nb,Dummy_K,Dummy_Set_23,SID,Na,Nb) :=
 state_lwAKE_Init(A,B,Kab,TID,1,H,Dummy_Na,Dummy_Nb,Dummy_K,Dummy_Set_23,SID).
 iknows(scrypt(Kab,xor(xor(TID,Nb),apply(H,pair(K,Na)))))
 =>
 state_lwAKE_Init(A,B,Kab,TID,2,H,Na,Nb,apply(H,pair(Kab,pair(Nb,Na))),Dummy_Set_23,SID).
 iknows(scrypt(Kab,xor(Nb,apply(H,pair(apply(H,pair(Kab,pair(Nb,Na))),pair(Na,TID)))))).
 secret(apply(H,pair(Kab,pair(Nb,Na))),sec_k1,Dummy_Set_23).
 request(A,B,nb,Nb,SID).
 contains(A,Dummy_Set_23).
 contains(B,Dummy_Set_23)

step step_2 (B,A,Kab,TID,Dummy_Na,Dummy_Nb,Dummy_K,H,Dummy_Set_40,SID,Na,Nb) :=
 state_lwAKE_Resp(B,A,Kab,TID,0,Dummy_Na,Dummy_Nb,Dummy_K,H,Dummy_Set_40,SID).
 iknows(Na)
=[exists Nb]=>
 state_lwAKE_Resp(B,A,Kab,TID,1,Na,Nb,apply(H,pair(Kab,pair(Nb,Na))),H,Dummy_Set_40,SID).
 witness(B,A,nb,Nb).
 iknows(scrypt(Kab,xor(xor(TID,Nb),apply(H,pair(apply(H,pair(Kab,pair(Nb,Na))),Na))))).
 secret(apply(H,pair(Kab,pair(Nb,Na))),sec_k2,Dummy_Set_40).
 contains(A,Dummy_Set_40).
 contains(B,Dummy_Set_40)

step step_3 (B,A,Kab,TID,Dummy_Na,Dummy_Nb,Dummy_K,H,Set_40,SID,Na,Nb,K) :=
 state_lwAKE_Resp(B,A,Kab,TID,1,Dummy_Na,Dummy_Nb,Dummy_K,H,Set_40,SID).
 iknows(scrypt(Kab,xor(Nb,apply(H,pair(K,pair(Na,TID))))))
 =>
 state_lwAKE_Resp(B,A,Kab,TID,2,Na,Nb,K,H,Set_40,SID).
 request(B,A,na,Na,SID)


section properties:

property secrecy_of_sec_k1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_k1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_k2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_k2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_nb (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,nb,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,nb,MGoal))
     /\ ((request(A1Goal,A2Goal,nb,MGoal,SID1)
           /\ request(A1Goal,A2Goal,nb,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_na (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,na,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,na,MGoal))
     /\ ((request(A1Goal,A2Goal,na,MGoal,SID1)
           /\ request(A1Goal,A2Goal,na,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec_k1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_k1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_k2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_k2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_nb (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,nb,MGoal,SID) &
 not(witness(A2Goal,A1Goal,nb,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_nb (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,nb,MGoal,SID1).
 request(A1Goal,A2Goal,nb,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_na (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,na,MGoal,SID) &
 not(witness(A2Goal,A1Goal,na,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_na (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,na,MGoal,SID1).
 request(A1Goal,A2Goal,na,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

