%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfiledWXkek

section signature:

state_p_Server: agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * symmetric_key * symmetric_key * text * text * text * text * text * text * text * text * text * text * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact
state_initiator_User: agent * agent * hash_func * symmetric_key * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(agent) * set(agent) * set(agent) * nat -> fact


section types:

sec_k_ni, sec_a_K_xs, k_ni, sec_K_hash, session_a, session_b, k_pw, k_r, k_rpw, k_hash, k_xs, sec_a_pwd, k_ci, ki_ci_2, k_j, k_l: protocol_id
AID, D, Ci, Ci_2, S, Y, A, T_1, T_2, RPW, J, L, Ni, IDi, IDU, Dummy_Ni, Dummy_IDU, Dummy_S, Dummy_T_2, Dummy_Ci_2, Dummy_T_1, Dummy_AID, Dummy_Y, T_3, Dummy_D, Dummy_J, Dummy_L, Dummy_Ci, A_1, Dummy_R, Dummy_RPW, Dummy_IDi, Dummy_PWi, dummy_nonce, R, PWi: text
set_157, set_156, set_155, set_154, set_152, set_151, set_150, set_139, set_138, set_137, set_136, set_114, set_113, set_112: set
State, 7, 5, 4, 6, 3, 2, 1, 0, SID, Dummy_State, SID2, SID1: nat
Set_88, Set_87, Set_86, Set_85, Set_55, Set_49, Dummy_Set_88, Set_47, Dummy_Set_87, Dummy_Set_86, Dummy_Set_85, Dummy_Set_55, Dummy_Set_49, Dummy_Set_47, ASGoal: set(agent)
start, MGoal: message
K, Xs, K_UG, Dummy_Xs, dummy_sk, kug, kia: symmetric_key
user, server, Server, User, A2Goal, A1Goal, i: agent
Hash, h, hi: hash_func


section inits:

initial_state init1 := 
 iknows(start).
 iknows(user).
 iknows(server).
 iknows(kia).
 iknows(i).
 state_initiator_User(user,server,h,kug,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_112,set_113,set_114,3).
 state_p_Server(server,user,h,kug,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_136,set_137,set_138,set_139,4).
 state_initiator_User(server,user,hi,kia,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_150,set_151,set_152,6).
 state_p_Server(user,server,hi,kia,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_154,set_155,set_156,set_157,7)


section rules:

step step_0 (User,Server,Hash,K_UG,Dummy_PWi,R,Dummy_IDi,Ni,Ci,Ci_2,L,J,D,Dummy_RPW,Y,A,A_1,AID,T_1,T_2,T_3,S,Dummy_Set_47,Dummy_Set_49,Set_55,SID,PWi,IDi) :=
 state_initiator_User(User,Server,Hash,K_UG,0,Dummy_PWi,R,Dummy_IDi,Ni,Ci,Ci_2,L,J,D,Dummy_RPW,Y,A,A_1,AID,T_1,T_2,T_3,S,Dummy_Set_47,Dummy_Set_49,Set_55,SID).
 iknows(start)
=[exists PWi,IDi]=>
 state_initiator_User(User,Server,Hash,K_UG,1,PWi,R,IDi,Ni,Ci,Ci_2,L,J,D,apply(Hash,pair(Dummy_IDi,Dummy_PWi)),Y,A,A_1,AID,T_1,T_2,T_3,S,Dummy_Set_47,Dummy_Set_49,Set_55,SID).
 iknows(pair(User,Dummy_RPW)).
 witness(User,Server,k_hash,Hash).
 secret(Hash,sec_K_hash,Dummy_Set_47).
 contains(User,Dummy_Set_47).
 contains(Server,Dummy_Set_47).
 contains(User,Dummy_Set_49)

step step_1 (User,Server,Hash,K_UG,PWi,Dummy_R,IDi,Ni,Dummy_Ci,Ci_2,Dummy_L,Dummy_J,Dummy_D,Dummy_RPW,Dummy_Y,A,A_1,Dummy_AID,Dummy_T_1,T_2,T_3,S,Set_47,Set_49,Set_55,SID,R,L,D,Y,T_1) :=
 state_initiator_User(User,Server,Hash,K_UG,1,PWi,Dummy_R,IDi,Ni,Dummy_Ci,Ci_2,Dummy_L,Dummy_J,Dummy_D,Dummy_RPW,Dummy_Y,A,A_1,Dummy_AID,Dummy_T_1,T_2,T_3,S,Set_47,Set_49,Set_55,SID).
 iknows(scrypt(K_UG,pair(L,Y)))
=[exists D,R,T_1]=>
 state_initiator_User(User,Server,Hash,K_UG,2,PWi,R,IDi,Ni,pair(Dummy_T_1,Dummy_J),Ci_2,L,xor(Dummy_L,Dummy_RPW),D,pair(Dummy_R,PWi),Y,A,A_1,xor(IDi,apply(Hash,pair(Dummy_Y,pair(Dummy_T_1,Dummy_D)))),T_1,T_2,T_3,S,Set_47,Set_49,Set_55,SID).
 iknows(pair(Dummy_AID,pair(Dummy_T_1,pair(Dummy_D,Dummy_Ci))))

step step_2 (User,Server,Hash,K_UG,PWi,R,IDi,Ni,Dummy_Ci,Dummy_Ci_2,L,J,D,RPW,Y,A,A_1,AID,T_1,Dummy_T_2,T_3,S,Set_47,Set_49,Set_55,SID,Ci,T_2) :=
 state_initiator_User(User,Server,Hash,K_UG,2,PWi,R,IDi,Ni,Dummy_Ci,Dummy_Ci_2,L,J,D,RPW,Y,A,A_1,AID,T_1,Dummy_T_2,T_3,S,Set_47,Set_49,Set_55,SID).
 iknows(pair(Ci,T_2))
 =>
 state_initiator_User(User,Server,Hash,K_UG,3,PWi,R,IDi,Ni,Ci,apply(Hash,xor(xor(Dummy_Ci,J),Dummy_T_2)),L,J,D,RPW,Y,A,A_1,AID,T_1,T_2,T_3,S,Set_47,Set_49,Set_55,SID)

step step_3 (User,Server,Hash,K_UG,PWi,R,IDi,Ni,Ci,L,J,D,RPW,Y,A,A_1,AID,T_1,T_2,T_3,Dummy_S,Set_47,Set_49,Dummy_Set_55,SID) :=
 state_initiator_User(User,Server,Hash,K_UG,3,PWi,R,IDi,Ni,Ci,Ci,L,J,D,RPW,Y,A,A_1,AID,T_1,T_2,T_3,Dummy_S,Set_47,Set_49,Dummy_Set_55,SID)
 =>
 state_initiator_User(User,Server,Hash,K_UG,4,PWi,R,IDi,Ni,Ci,Ci,L,J,D,RPW,Y,A,A_1,AID,T_1,T_2,T_3,apply(Hash,xor(Ci,J)),Set_47,Set_49,Dummy_Set_55,SID).
 iknows(pair(User,apply(Hash,xor(Ci,J)))).
 secret(Dummy_S,session_a,Dummy_Set_55).
 contains(User,Dummy_Set_55).
 contains(Server,Dummy_Set_55)

step step_4 (User,Server,Hash,K_UG,Dummy_PWi,R,IDi,Ni,Ci,Ci_2,L,Dummy_J,D,Dummy_RPW,Y,A,A_1,AID,T_1,T_2,T_3,S,Set_47,Set_49,Set_55,SID,PWi) :=
 state_initiator_User(User,Server,Hash,K_UG,4,Dummy_PWi,R,IDi,Ni,Ci,Ci_2,L,Dummy_J,D,Dummy_RPW,Y,A,A_1,AID,T_1,T_2,T_3,S,Set_47,Set_49,Set_55,SID)
=[exists PWi]=>
 state_initiator_User(User,Server,Hash,K_UG,5,PWi,R,IDi,Ni,Ci,Ci_2,L,xor(L,Dummy_RPW),D,apply(Hash,pair(IDi,Dummy_PWi)),Y,A,A_1,AID,T_1,T_2,T_3,S,Set_47,Set_49,Set_55,SID)

step step_5 (Server,User,Hash,K_UG,IDi,Dummy_IDU,Dummy_Ni,Dummy_J,Dummy_L,K,Dummy_Xs,Dummy_RPW,T_1,T_2,Y,A,S,AID,D,Ci,Ci_2,Dummy_Set_85,Dummy_Set_86,Dummy_Set_87,Set_88,SID,Xs,RPW) :=
 state_p_Server(Server,User,Hash,K_UG,0,IDi,Dummy_IDU,Dummy_Ni,Dummy_J,Dummy_L,K,Dummy_Xs,Dummy_RPW,T_1,T_2,Y,A,S,AID,D,Ci,Ci_2,Dummy_Set_85,Dummy_Set_86,Dummy_Set_87,Set_88,SID).
 iknows(pair(User,RPW))
=[exists Xs]=>
 state_p_Server(Server,User,Hash,K_UG,1,IDi,pair(IDi,Dummy_Ni),0,apply(Hash,pair(Dummy_Xs,Dummy_IDU)),xor(Dummy_J,Dummy_RPW),K,Xs,RPW,T_1,T_2,Y,A,S,AID,D,Ci,Ci_2,Dummy_Set_85,Dummy_Set_86,Dummy_Set_87,Set_88,SID).
 iknows(scrypt(K_UG,pair(Dummy_L,Y))).
 witness(User,Server,k_hash,Hash).
 witness(User,Server,k_ni,Dummy_Ni).
 secret(Hash,sec_K_hash,Dummy_Set_85).
 secret(Dummy_Xs,sec_a_K_xs,Dummy_Set_87).
 contains(User,Dummy_Set_85).
 contains(Server,Dummy_Set_85).
 contains(User,Dummy_Set_86).
 contains(Server,Dummy_Set_86).
 contains(Server,Dummy_Set_87)

step step_6 (Server,User,Hash,K_UG,Dummy_IDi,Dummy_IDU,Ni,J,L,K,Xs,RPW,Dummy_T_1,Dummy_T_2,Y,A,S,Dummy_AID,Dummy_D,Dummy_Ci,Dummy_Ci_2,Set_85,Set_86,Set_87,Set_88,SID,T_1,T_2,AID,D,Ci) :=
 state_p_Server(Server,User,Hash,K_UG,1,Dummy_IDi,Dummy_IDU,Ni,J,L,K,Xs,RPW,Dummy_T_1,Dummy_T_2,Y,A,S,Dummy_AID,Dummy_D,Dummy_Ci,Dummy_Ci_2,Set_85,Set_86,Set_87,Set_88,SID).
 iknows(pair(AID,pair(T_1,pair(D,Ci))))
=[exists T_2]=>
 state_p_Server(Server,User,Hash,K_UG,2,xor(Dummy_AID,apply(Hash,pair(Y,pair(Dummy_T_1,Dummy_D)))),pair(Dummy_IDi,Ni),Ni,J,L,K,Xs,RPW,T_1,T_2,Y,A,S,AID,D,Ci,apply(Hash,xor(xor(Dummy_Ci,J),Dummy_T_2)),Set_85,Set_86,Set_87,Set_88,SID).
 iknows(pair(Dummy_Ci_2,Dummy_T_2))

step step_7 (Server,User,Hash,K_UG,IDi,IDU,Ni,J,L,K,Xs,RPW,T_1,T_2,Y,A,S,AID,D,Ci,Ci_2,Set_85,Set_86,Set_87,Set_88,SID) :=
 state_p_Server(Server,User,Hash,K_UG,2,IDi,IDU,Ni,J,L,K,Xs,RPW,T_1,T_2,Y,A,S,AID,D,Ci,Ci_2,Set_85,Set_86,Set_87,Set_88,SID)
 =>
 state_p_Server(Server,User,Hash,K_UG,3,IDi,IDU,Ni,J,L,K,Xs,RPW,T_1,T_2,Y,A,S,AID,D,Ci,Ci_2,Set_85,Set_86,Set_87,Set_88,SID)

step step_8 (Server,User,Hash,K_UG,IDi,IDU,Ni,J,L,K,Xs,RPW,T_1,T_2,Y,A,Dummy_S,AID,D,Ci,Ci_2,Set_85,Set_86,Set_87,Dummy_Set_88,SID,S) :=
 state_p_Server(Server,User,Hash,K_UG,3,IDi,IDU,Ni,J,L,K,Xs,RPW,T_1,T_2,Y,A,Dummy_S,AID,D,Ci,Ci_2,Set_85,Set_86,Set_87,Dummy_Set_88,SID).
 iknows(pair(User,S))
 =>
 state_p_Server(Server,User,Hash,K_UG,4,IDi,IDU,Ni,J,L,K,Xs,RPW,T_1,T_2,Y,A,S,AID,D,Ci,Ci_2,Set_85,Set_86,Set_87,Dummy_Set_88,SID).
 secret(Dummy_S,session_b,Dummy_Set_88).
 contains(User,Dummy_Set_88).
 contains(Server,Dummy_Set_88)


section properties:

property secrecy_of_k_ni (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_ni,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_pw (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_pw,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_hash (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_hash,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_xs (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_xs,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_rpw (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_rpw,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_ci (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_ci,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_ki_ci_2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,ki_ci_2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_j (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_j,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_l (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_l,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_k_r (MGoal,ASGoal) :=
 [] ((secret(MGoal,k_r,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_session_a (MGoal,ASGoal) :=
 [] ((secret(MGoal,session_a,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_session_b (MGoal,ASGoal) :=
 [] ((secret(MGoal,session_b,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_K_hash (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_K_hash,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_a_K_xs (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_a_K_xs,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_sec_a_pwd (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sec_a_pwd,MGoal))
     /\ ((request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_sec_k_ni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,sec_k_ni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,sec_k_ni,MGoal))
     /\ ((request(A1Goal,A2Goal,sec_k_ni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,sec_k_ni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_session_a (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,session_a,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,session_a,MGoal))
     /\ ((request(A1Goal,A2Goal,session_a,MGoal,SID1)
           /\ request(A1Goal,A2Goal,session_a,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_session_b (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,session_b,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,session_b,MGoal))
     /\ ((request(A1Goal,A2Goal,session_b,MGoal,SID1)
           /\ request(A1Goal,A2Goal,session_b,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property weak_authentication_on_k_hash (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_hash,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_hash,MGoal))

property weak_authentication_on_k_xs (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_xs,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_xs,MGoal))

property weak_authentication_on_k_pw (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_pw,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_pw,MGoal))

property weak_authentication_on_k_rpw (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_rpw,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_rpw,MGoal))

property weak_authentication_on_k_ni (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_ni,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_ni,MGoal))

property weak_authentication_on_k_r (A1Goal,A2Goal,MGoal,SID) :=
 [] ((wrequest(A1Goal,A2Goal,k_r,MGoal,SID)
      /\ ~ equal(A2Goal,i))
     => witness(A2Goal,A1Goal,k_r,MGoal))


section attack_states:

attack_state secrecy_of_k_ni (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_ni,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_pw (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_pw,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_hash (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_hash,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_xs (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_xs,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_rpw (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_rpw,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_ci (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_ci,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_ki_ci_2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,ki_ci_2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_j (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_j,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_l (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_l,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_k_r (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,k_r,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_session_a (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,session_a,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_session_b (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,session_b,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_K_hash (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_K_hash,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_a_K_xs (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_a_K_xs,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_sec_a_pwd (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sec_a_pwd,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sec_a_pwd (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID1).
 request(A1Goal,A2Goal,sec_a_pwd,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_sec_k_ni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,sec_k_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,sec_k_ni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_sec_k_ni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,sec_k_ni,MGoal,SID1).
 request(A1Goal,A2Goal,sec_k_ni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_session_a (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,session_a,MGoal,SID) &
 not(witness(A2Goal,A1Goal,session_a,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_session_a (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,session_a,MGoal,SID1).
 request(A1Goal,A2Goal,session_a,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_session_b (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,session_b,MGoal,SID) &
 not(witness(A2Goal,A1Goal,session_b,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_session_b (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,session_b,MGoal,SID1).
 request(A1Goal,A2Goal,session_b,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_hash (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_hash,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_hash,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_xs (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_xs,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_xs,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_pw (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_pw,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_pw,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_rpw (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_rpw,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_rpw,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_ni (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_ni,MGoal)) &
 not(equal(A2Goal,i))

attack_state weak_authentication_on_k_r (A1Goal,A2Goal,MGoal,SID) :=
 wrequest(A1Goal,A2Goal,k_r,MGoal,SID) &
 not(witness(A2Goal,A1Goal,k_r,MGoal)) &
 not(equal(A2Goal,i))

