%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile4EQCrA

section signature:

state_pserver: agent * agent * agent * symmetric_key * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_server: agent * agent * agent * symmetric_key * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * nat -> fact
state_alice: agent * agent * agent * symmetric_key * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(text) * set(agent) * set(text) * set(agent) * set(message) * set(agent) * nat -> fact


section types:

alice_server, server_pserver, pserver_alice, subs1, subs2, subs3, subs4, subs5, subs6, subs7, subs8: protocol_id
Set_65, Dummy_Set_65: set(message)
ASGoal, Set_160, Set_158, Set_109, Dummy_Set_160, Dummy_Set_158, Set_66, Set_62, Set_58, Dummy_Set_109, Dummy_Set_66, Dummy_Set_62, Dummy_Set_58: set(agent)
Set_159, Set_157, Set_108, Dummy_Set_159, Dummy_Set_157, Set_61, Set_57, Set_55, Dummy_Set_108, Dummy_Set_61, Dummy_Set_57, Dummy_Set_55: set(text)
MGoal, Di, Ci, Bi, Biii, M1, M3, M4, K2, K3, K4, K5, K6, K7, Z1, Z2, Z3, SKV, SKVj, SKj, Ai, Dummy_SKVj, Dummy_SKj, Dummy_Z2, start, Dummy_K7, Dummy_K6, Dummy_K5, Dummy_K4, Dummy_K3, Dummy_K2, Dummy_Biii, Dummy_Ai, Dummy_SKu, Dummy_SKV, Dummy_Z1, Bii, Dummy_Z3, M2, Dummy_M4, Dummy_M3, Dummy_M2, Dummy_M1, SKu, Dummy_Bii, Dummy_Bi, Dummy_Ci, Dummy_Di, dummy_msg: message
idi, idpsj, pwi, pwri, a, b, bi, ci, m1, m3, m4, tsi, k6, k7, ts, z3, tsj, IDi, PWRi, R, Py, Px, TSj, P, Pub, TIDi, IDpsj, S, A, B, TS, Xp, Yp, TSi, Xj, Dummy_B, Dummy_TS, Dummy_TSj, PWi, Dummy_A, Dummy_IDpsj, Dummy_TIDi, Dummy_TSi, Dummy_PWRi, dummy_nonce: text
h, mul, Inc, H, Mul, dummy_hash: hash_func
skuisj, SKuisj: symmetric_key
set_304, set_303, set_302, set_301, set_299, set_298, set_296, set_295, set_294, set_293, set_292, set_291, set_290, set_288, set_287, set_286, set_285, set_283, set_282, set_280, set_279, set_278, set_277, set_276, set_275, set_274, set_263, set_262, set_261, set_260, set_246, set_245, set_213, set_212, set_211, set_210, set_209, set_208, set_207: set
A2Goal, A1Goal, ui, cms, psj, PSj, Ui, CMS, i: agent
State, 13, 12, 11, 9, 8, 7, 111, 3, 5, SID, 2, 1, 0, 4, Dummy_State, SID2, SID1: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(cms).
 iknows(psj).
 iknows(h).
 iknows(mul).
 iknows(bi).
 iknows(ci).
 iknows(m1).
 iknows(m3).
 iknows(m4).
 iknows(tsi).
 iknows(k6).
 iknows(k7).
 iknows(ts).
 iknows(z3).
 iknows(tsj).
 iknows(i).
 state_alice(cms,ui,psj,skuisj,h,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_207,set_208,set_209,set_210,set_211,set_212,set_213,3).
 state_server(cms,ui,psj,skuisj,h,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_245,set_246,4).
 state_pserver(cms,ui,psj,skuisj,h,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_260,set_261,set_262,set_263,5).
 state_alice(ui,cms,psj,skuisj,h,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_274,set_275,set_276,set_277,set_278,set_279,set_280,7).
 state_server(ui,cms,psj,skuisj,h,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_282,set_283,8).
 state_pserver(ui,cms,psj,skuisj,h,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_285,set_286,set_287,set_288,9).
 state_alice(psj,ui,cms,skuisj,h,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_290,set_291,set_292,set_293,set_294,set_295,set_296,11).
 state_server(psj,ui,cms,skuisj,h,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_298,set_299,12).
 state_pserver(psj,ui,cms,skuisj,h,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_301,set_302,set_303,set_304,13)


section rules:

step step_0 (Ui,CMS,PSj,SKuisj,H,Mul,IDi,PWi,Dummy_PWRi,R,Py,Px,TSi,TSj,P,Pub,TIDi,IDpsj,S,A,Dummy_Di,Ci,Bi,Bii,M1,M2,M3,M4,Z3,Z1,SKV,SKu,Inc,Dummy_Set_55,Dummy_Set_57,Dummy_Set_58,Set_61,Set_62,Set_65,Set_66,SID) :=
 state_alice(Ui,CMS,PSj,SKuisj,H,Mul,0,IDi,PWi,Dummy_PWRi,R,Py,Px,TSi,TSj,P,Pub,TIDi,IDpsj,S,A,Dummy_Di,Ci,Bi,Bii,M1,M2,M3,M4,Z3,Z1,SKV,SKu,Inc,Dummy_Set_55,Dummy_Set_57,Dummy_Set_58,Set_61,Set_62,Set_65,Set_66,SID).
 iknows(start)
 =>
 state_alice(Ui,CMS,PSj,SKuisj,H,Mul,1,IDi,PWi,xor(PWi,R),R,Py,Px,TSi,TSj,P,Pub,TIDi,IDpsj,S,A,xor(R,apply(H,pair(IDi,apply(H,Py)))),Ci,Bi,Bii,M1,M2,M3,M4,Z3,Z1,SKV,SKu,Inc,Dummy_Set_55,Dummy_Set_57,Dummy_Set_58,Set_61,Set_62,Set_65,Set_66,SID).
 iknows(scrypt(SKuisj,pair(IDi,xor(PWi,R)))).
 secret(Dummy_Set_55,subs1,Ui).
 secret(Dummy_Set_57,subs2,Dummy_Set_58).
 contains(PWi,Dummy_Set_55).
 contains(IDi,Dummy_Set_57).
 contains(Ui,Dummy_Set_58).
 contains(CMS,Dummy_Set_58).
 contains(PSj,Dummy_Set_58)

step step_1 (Ui,CMS,PSj,SKuisj,H,Mul,IDi,PWi,PWRi,R,Py,Px,Dummy_TSi,TSj,P,Pub,Dummy_TIDi,Dummy_IDpsj,S,Dummy_A,Di,Dummy_Ci,Dummy_Bi,Dummy_Bii,Dummy_M1,Dummy_M2,Dummy_M3,Dummy_M4,Z3,Z1,SKV,SKu,Inc,Set_55,Set_57,Set_58,Dummy_Set_61,Dummy_Set_62,Set_65,Set_66,SID,TSi,TIDi,IDpsj,A,Ci,Bi) :=
 state_alice(Ui,CMS,PSj,SKuisj,H,Mul,1,IDi,PWi,PWRi,R,Py,Px,Dummy_TSi,TSj,P,Pub,Dummy_TIDi,Dummy_IDpsj,S,Dummy_A,Di,Dummy_Ci,Dummy_Bi,Dummy_Bii,Dummy_M1,Dummy_M2,Dummy_M3,Dummy_M4,Z3,Z1,SKV,SKu,Inc,Set_55,Set_57,Set_58,Dummy_Set_61,Dummy_Set_62,Set_65,Set_66,SID).
 iknows(scrypt(SKuisj,pair(Ci,pair(Bi,TIDi))))
=[exists IDpsj,TSi,A]=>
 state_alice(Ui,CMS,PSj,SKuisj,H,Mul,2,IDi,PWi,PWRi,R,Py,Px,TSi,TSj,P,Pub,TIDi,IDpsj,S,A,Di,Ci,Bi,scrypt(Px,Dummy_Bi),apply(Mul,pair(Dummy_A,P)),apply(Mul,pair(Dummy_A,Pub)),xor(Dummy_TIDi,apply(H,Dummy_M2)),apply(H,pair(scrypt(Px,Dummy_Bi),pair(IDi,pair(Dummy_M2,Dummy_TSi)))),Z3,Z1,SKV,SKu,Inc,Set_55,Set_57,Set_58,Dummy_Set_61,Dummy_Set_62,Set_65,Set_66,SID).
 iknows(pair(apply(Mul,pair(Dummy_A,P)),pair(xor(Dummy_TIDi,apply(H,Dummy_M2)),pair(apply(H,pair(scrypt(Px,Dummy_Bi),pair(IDi,pair(Dummy_M2,Dummy_TSi)))),pair(TSi,IDpsj))))).
 secret(Dummy_Set_61,subs3,Dummy_Set_62).
 contains(A,Dummy_Set_61).
 contains(Ui,Dummy_Set_62)

step step_2 (Ui,CMS,PSj,SKuisj,H,Mul,IDi,PWi,PWRi,R,Py,Px,TSi,Dummy_TSj,P,Pub,TIDi,IDpsj,S,A,Di,Ci,Bi,Bii,M1,M2,M3,M4,Dummy_Z3,Dummy_Z1,Dummy_SKV,Dummy_SKu,Inc,Set_55,Set_57,Set_58,Set_61,Set_62,Dummy_Set_65,Dummy_Set_66,SID,TSj,Z3) :=
 state_alice(Ui,CMS,PSj,SKuisj,H,Mul,2,IDi,PWi,PWRi,R,Py,Px,TSi,Dummy_TSj,P,Pub,TIDi,IDpsj,S,A,Di,Ci,Bi,Bii,M1,M2,M3,M4,Dummy_Z3,Dummy_Z1,Dummy_SKV,Dummy_SKu,Inc,Set_55,Set_57,Set_58,Set_61,Set_62,Dummy_Set_65,Dummy_Set_66,SID).
 iknows(pair(Z3,TSj))
 =>
 state_alice(Ui,CMS,PSj,SKuisj,H,Mul,3,IDi,PWi,PWRi,R,Py,Px,TSi,TSj,P,Pub,TIDi,IDpsj,S,A,Di,Ci,Bi,Bii,M1,M2,M3,M4,Z3,scrypt(Px,Z3),apply(H,pair(111,apply(Mul,pair(A,scrypt(Px,Z3))))),apply(Mul,pair(A,scrypt(Px,Z3))),Inc,Set_55,Set_57,Set_58,Set_61,Set_62,Dummy_Set_65,Dummy_Set_66,SID).
 secret(Dummy_Set_65,subs4,Dummy_Set_66).
 iknows(apply(H,pair(111,apply(Mul,pair(A,scrypt(Px,Z3)))))).
 contains(Dummy_SKu,Dummy_Set_65).
 contains(Ui,Dummy_Set_66).
 contains(PSj,Dummy_Set_66)

step step_3 (CMS,Ui,PSj,SKuisj,H,Mul,IDi,Dummy_PWRi,R,Py,Px,TSi,P,Pub,Dummy_TIDi,IDpsj,S,A,TS,Xp,Yp,Xj,Di,Dummy_Ai,Dummy_Ci,Dummy_Bi,Biii,M1,M3,M4,K2,K3,K4,K5,K6,K7,Inc,Set_108,Set_109,SID,PWRi,TIDi) :=
 state_server(CMS,Ui,PSj,SKuisj,H,Mul,0,IDi,Dummy_PWRi,R,Py,Px,TSi,P,Pub,Dummy_TIDi,IDpsj,S,A,TS,Xp,Yp,Xj,Di,Dummy_Ai,Dummy_Ci,Dummy_Bi,Biii,M1,M3,M4,K2,K3,K4,K5,K6,K7,Inc,Set_108,Set_109,SID).
 iknows(scrypt(SKuisj,pair(IDi,PWRi)))
=[exists TIDi]=>
 state_server(CMS,Ui,PSj,SKuisj,H,Mul,1,IDi,PWRi,R,Py,Px,TSi,P,Pub,TIDi,IDpsj,S,A,TS,Xp,Yp,Xj,Di,apply(Mul,pair(IDi,P)),apply(H,pair(IDi,Dummy_PWRi)),scrypt(Px,apply(H,pair(IDi,S))),Biii,M1,M3,M4,K2,K3,K4,K5,K6,K7,Inc,Set_108,Set_109,SID).
 iknows(scrypt(SKuisj,pair(apply(H,pair(IDi,Dummy_PWRi)),pair(scrypt(Px,apply(H,pair(IDi,S))),TIDi))))

step step_4 (CMS,Ui,PSj,SKuisj,H,Mul,IDi,PWRi,R,Py,Px,Dummy_TSi,P,Pub,TIDi,Dummy_IDpsj,S,A,Dummy_TS,Xp,Yp,Xj,Di,Ai,Ci,Bi,Dummy_Biii,Dummy_M1,Dummy_M3,Dummy_M4,Dummy_K2,Dummy_K3,Dummy_K4,Dummy_K5,Dummy_K6,Dummy_K7,Inc,Dummy_Set_108,Dummy_Set_109,SID,TSi,IDpsj,TS,M1,M3,M4) :=
 state_server(CMS,Ui,PSj,SKuisj,H,Mul,1,IDi,PWRi,R,Py,Px,Dummy_TSi,P,Pub,TIDi,Dummy_IDpsj,S,A,Dummy_TS,Xp,Yp,Xj,Di,Ai,Ci,Bi,Dummy_Biii,Dummy_M1,Dummy_M3,Dummy_M4,Dummy_K2,Dummy_K3,Dummy_K4,Dummy_K5,Dummy_K6,Dummy_K7,Inc,Dummy_Set_108,Dummy_Set_109,SID).
 iknows(pair(M1,pair(M3,pair(M4,pair(TSi,IDpsj)))))
=[exists TS]=>
 state_server(CMS,Ui,PSj,SKuisj,H,Mul,2,IDi,PWRi,R,Py,Px,TSi,P,Pub,TIDi,IDpsj,S,A,TS,Xp,Yp,Xj,Di,Ai,Ci,Bi,apply(H,pair(IDi,S)),M1,M3,M4,apply(H,pair(IDi,pair(Dummy_IDpsj,S))),apply(Mul,pair(Xj,P)),apply(H,pair(Dummy_TS,apply(H,pair(IDi,S)))),xor(IDi,apply(H,apply(Mul,pair(Dummy_K4,P)))),apply(H,pair(Dummy_IDpsj,pair(IDi,pair(Dummy_K4,pair(Dummy_TS,Yp))))),scrypt(Xp,pair(Dummy_K2,pair(Dummy_K4,Dummy_K5))),Inc,Dummy_Set_108,Dummy_Set_109,SID).
 secret(Dummy_Set_108,subs5,Dummy_Set_109).
 iknows(pair(apply(H,pair(Dummy_IDpsj,pair(IDi,pair(Dummy_K4,pair(Dummy_TS,Yp))))),pair(scrypt(Xp,pair(Dummy_K2,pair(Dummy_K4,Dummy_K5))),pair(Dummy_M1,TS)))).
 contains(Xj,Dummy_Set_108).
 contains(Xp,Dummy_Set_108).
 contains(Yp,Dummy_Set_108).
 contains(CMS,Dummy_Set_109).
 contains(PSj,Dummy_Set_109)

step step_5 (PSj,Ui,CMS,SKuisj,H,Mul,IDi,PWRi,R,Py,Px,Dummy_TSj,P,Pub,TIDi,IDpsj,S,A,Dummy_B,Dummy_TS,Xp,Yp,Di,Ci,Bi,Biii,M1,M3,M4,Dummy_K2,K3,K4,K5,Dummy_K6,Dummy_K7,Dummy_Z1,Dummy_Z2,Dummy_Z3,SKV,SKVj,Dummy_SKj,Inc,Dummy_Set_157,Dummy_Set_158,Dummy_Set_159,Dummy_Set_160,SID,TSj,B,TS,K6,K7) :=
 state_pserver(PSj,Ui,CMS,SKuisj,H,Mul,0,IDi,PWRi,R,Py,Px,Dummy_TSj,P,Pub,TIDi,IDpsj,S,A,Dummy_B,Dummy_TS,Xp,Yp,Di,Ci,Bi,Biii,M1,M3,M4,Dummy_K2,K3,K4,K5,Dummy_K6,Dummy_K7,Dummy_Z1,Dummy_Z2,Dummy_Z3,SKV,SKVj,Dummy_SKj,Inc,Dummy_Set_157,Dummy_Set_158,Dummy_Set_159,Dummy_Set_160,SID).
 iknows(pair(K6,pair(K7,pair(M1,TS))))
=[exists TSj,B]=>
 state_pserver(PSj,Ui,CMS,SKuisj,H,Mul,1,IDi,PWRi,R,Py,Px,TSj,P,Pub,TIDi,IDpsj,S,A,B,TS,Xp,Yp,Di,Ci,Bi,Biii,M1,M3,M4,scrypt(Xp,Dummy_K7),K3,K4,K5,K6,K7,apply(Mul,pair(Dummy_B,P)),apply(H,pair(Dummy_K2,pair(Dummy_Z1,pair(M1,Dummy_TSj)))),scrypt(Px,pair(apply(Mul,pair(Dummy_B,P)),pair(apply(H,pair(Dummy_K2,pair(Dummy_Z1,pair(M1,Dummy_TSj)))),scrypt(Xp,Dummy_K7)))),SKV,SKVj,apply(Mul,pair(Dummy_B,M1)),Inc,Dummy_Set_157,Dummy_Set_158,Dummy_Set_159,Dummy_Set_160,SID).
 iknows(pair(scrypt(Px,pair(apply(Mul,pair(Dummy_B,P)),pair(apply(H,pair(Dummy_K2,pair(Dummy_Z1,pair(M1,Dummy_TSj)))),scrypt(Xp,Dummy_K7)))),TSj)).
 secret(Dummy_Set_157,subs6,Dummy_Set_158).
 secret(Dummy_Set_159,subs7,Dummy_Set_160).
 contains(B,Dummy_Set_157).
 contains(PSj,Dummy_Set_158).
 contains(Px,Dummy_Set_159).
 contains(Py,Dummy_Set_159).
 contains(Ui,Dummy_Set_160).
 contains(CMS,Dummy_Set_160).
 contains(PSj,Dummy_Set_160)

step step_6 (PSj,Ui,CMS,SKuisj,H,Mul,IDi,PWRi,R,Py,Px,TSj,P,Pub,TIDi,IDpsj,S,A,B,TS,Xp,Yp,Di,Ci,Bi,Biii,M1,M3,M4,K2,K3,K4,K5,K6,K7,Z1,Z2,Z3,Dummy_SKV,Dummy_SKVj,SKj,Inc,Set_157,Set_158,Set_159,Set_160,SID,SKV) :=
 state_pserver(PSj,Ui,CMS,SKuisj,H,Mul,1,IDi,PWRi,R,Py,Px,TSj,P,Pub,TIDi,IDpsj,S,A,B,TS,Xp,Yp,Di,Ci,Bi,Biii,M1,M3,M4,K2,K3,K4,K5,K6,K7,Z1,Z2,Z3,Dummy_SKV,Dummy_SKVj,SKj,Inc,Set_157,Set_158,Set_159,Set_160,SID).
 iknows(SKV)
 =>
 state_pserver(PSj,Ui,CMS,SKuisj,H,Mul,2,IDi,PWRi,R,Py,Px,TSj,P,Pub,TIDi,IDpsj,S,A,B,TS,Xp,Yp,Di,Ci,Bi,Biii,M1,M3,M4,K2,K3,K4,K5,K6,K7,Z1,Z2,Z3,SKV,apply(H,pair(111,SKj)),SKj,Inc,Set_157,Set_158,Set_159,Set_160,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs7 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs7,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_mserver_a (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_mserver_a,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_mserver_a,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_mserver_a,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_mserver_a,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_mserver_pserver_b (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,mserver_pserver_b,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,mserver_pserver_b,MGoal))
     /\ ((request(A1Goal,A2Goal,mserver_pserver_b,MGoal,SID1)
           /\ request(A1Goal,A2Goal,mserver_pserver_b,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs7 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs7,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_mserver_a (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_mserver_a,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_mserver_a,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_mserver_a (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_mserver_a,MGoal,SID1).
 request(A1Goal,A2Goal,alice_mserver_a,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_mserver_pserver_b (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,mserver_pserver_b,MGoal,SID) &
 not(witness(A2Goal,A1Goal,mserver_pserver_b,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_mserver_pserver_b (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,mserver_pserver_b,MGoal,SID1).
 request(A1Goal,A2Goal,mserver_pserver_b,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

