%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilegQjd7wqdOJ

section signature:

state_aserver: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * hash_func * nat * text * text * text * text * text * message * message * message * message * message * message * message * message * hash_func * set(message) * set(agent) * nat -> fact
state_rserver: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_user: agent * agent * agent * symmetric_key * symmetric_key * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(message) * set(agent) * nat -> fact


section types:

user_aserver_Ri, aserver_user_Rj, user_rserver, rserver_aserver, aserver_user, sec1, sec2, sec3, sec4, sec5, sec6: protocol_id
Dummy_State, 3, SID, SID2, SID1, State, 13, 12, 4, 11, 2, 9, 1, 8, 0, 7, 5: nat
set_186, set_185, set_184, set_183, set_182, set_181, set_269, set_268, set_266, set_265, set_264, set_263, set_261, set_260, set_259, set_258, set_257, set_256, set_254, set_253, set_251, set_250, set_249, set_248, set_246, set_245, set_244, set_243, set_242, set_241, set_234, set_233, set_221, set_220, set_219, set_218: set
Set_126, Set_61, Dummy_Set_126, Dummy_Set_61: set(message)
dummy_hash, mul, sub, Inc, H, MUL, SUB, h: hash_func
skey2, skey1, SKey2, SKey1: symmetric_key
Dummy_M2, Dummy_M1, Dummy_Ri, Dummy_Ci, Dummy_Bi, Dummy_Fi, Dummy_Ei, Dummy_Di, Dummy_Ai, dummy_msg, MGoal, M5, M9, Ri, M4, Rj, Rij, SKj, M6, Ai, Bi, Ci, Di, Ei, Fi, X, M1, M2, M3, start, Dummy_SKj, Dummy_M9, SKi, Dummy_SKi, Dummy_Rj, Dummy_Rij, Dummy_M6, Dummy_M5, Dummy_M4, Dummy_M3: message
Dummy_N, dummy_nonce, idi, pwi, idj, ai, bi, ci, di, ei, fi, m1, m2, m3, m4, m5, m6, ri, rj, rij, ski, skj, n, IDi, IDj, Ej, Dj, Yj, P, Q, N, W, G, Dummy_Dj, Dummy_W, Dummy_Q, Dummy_P, Dummy_IDj, PWi, Dummy_Yj, Dummy_Ej: text
A2Goal, A1Goal, ui, rc, asj, ASj, Ui, RC, i: agent
ASGoal, Set_127, Set_99, Set_97, Set_62, Set_58, Set_54, Dummy_Set_127, Dummy_Set_99, Dummy_Set_97, Dummy_Set_62, Dummy_Set_58, Dummy_Set_54: set(agent)
Set_98, Set_96, Set_57, Set_53, Dummy_Set_98, Dummy_Set_96, Dummy_Set_57, Dummy_Set_53: set(text)


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(rc).
 iknows(asj).
 iknows(h).
 iknows(mul).
 iknows(m6).
 iknows(rij).
 iknows(m5).
 iknows(m3).
 iknows(di).
 iknows(ei).
 iknows(fi).
 iknows(n).
 iknows(m1).
 iknows(m2).
 iknows(idj).
 iknows(i).
 state_user(rc,ui,asj,skey1,skey2,h,mul,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_181,set_182,set_183,set_184,set_185,set_186,3).
 state_rserver(rc,ui,asj,skey1,skey2,h,mul,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_218,set_219,set_220,set_221,4).
 state_aserver(rc,ui,asj,skey1,skey2,h,mul,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_233,set_234,5).
 state_user(ui,rc,asj,skey1,skey2,h,mul,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_241,set_242,set_243,set_244,set_245,set_246,7).
 state_rserver(ui,rc,asj,skey1,skey2,h,mul,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_248,set_249,set_250,set_251,8).
 state_aserver(ui,rc,asj,skey1,skey2,h,mul,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_253,set_254,9).
 state_user(asj,ui,rc,skey1,skey2,h,mul,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_256,set_257,set_258,set_259,set_260,set_261,11).
 state_rserver(asj,ui,rc,skey1,skey2,h,mul,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_263,set_264,set_265,set_266,12).
 state_aserver(asj,ui,rc,skey1,skey2,h,mul,sub,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_268,set_269,13)


section rules:

step step_0 (Ui,RC,ASj,SKey1,SKey2,H,MUL,SUB,IDi,PWi,IDj,N,Ej,Yj,Di,Ei,Fi,Dummy_Ai,Bi,Ci,Ri,M1,M2,M3,M4,M6,Rij,Rj,M5,SKi,Inc,Set_53,Set_54,Set_57,Set_58,Set_61,Set_62,SID) :=
 state_user(Ui,RC,ASj,SKey1,SKey2,H,MUL,SUB,0,IDi,PWi,IDj,N,Ej,Yj,Di,Ei,Fi,Dummy_Ai,Bi,Ci,Ri,M1,M2,M3,M4,M6,Rij,Rj,M5,SKi,Inc,Set_53,Set_54,Set_57,Set_58,Set_61,Set_62,SID).
 iknows(start)
 =>
 state_user(Ui,RC,ASj,SKey1,SKey2,H,MUL,SUB,1,IDi,PWi,IDj,N,Ej,Yj,Di,Ei,Fi,apply(h,pair(IDi,PWi)),Bi,Ci,Ri,M1,M2,M3,M4,M6,Rij,Rj,M5,SKi,Inc,Set_53,Set_54,Set_57,Set_58,Set_61,Set_62,SID).
 iknows(scrypt(SKey2,pair(IDi,apply(h,pair(IDi,PWi)))))

step step_1 (Ui,RC,ASj,SKey1,SKey2,H,MUL,SUB,IDi,PWi,IDj,Dummy_N,Ej,Yj,Dummy_Di,Dummy_Ei,Dummy_Fi,Ai,Dummy_Bi,Dummy_Ci,Dummy_Ri,Dummy_M1,Dummy_M2,M3,M4,M6,Rij,Rj,M5,SKi,Inc,Dummy_Set_53,Dummy_Set_54,Set_57,Set_58,Set_61,Set_62,SID,N,Di,Ei,Fi,Ri) :=
 state_user(Ui,RC,ASj,SKey1,SKey2,H,MUL,SUB,1,IDi,PWi,IDj,Dummy_N,Ej,Yj,Dummy_Di,Dummy_Ei,Dummy_Fi,Ai,Dummy_Bi,Dummy_Ci,Dummy_Ri,Dummy_M1,Dummy_M2,M3,M4,M6,Rij,Rj,M5,SKi,Inc,Dummy_Set_53,Dummy_Set_54,Set_57,Set_58,Set_61,Set_62,SID).
 iknows(scrypt(SKey2,pair(Di,pair(Ei,pair(Fi,N)))))
=[exists Ri]=>
 state_user(Ui,RC,ASj,SKey1,SKey2,H,MUL,SUB,2,IDi,PWi,IDj,N,Ej,Yj,Di,Ei,Fi,Ai,xor(Di,exp(IDi,Ai)),exp(IDi,Ai),Ri,apply(h,pair(xor(Di,exp(IDi,Ai)),Ri)),xor(apply(h,xor(Di,exp(IDi,Ai))),Ri),M3,M4,M6,Rij,Rj,M5,SKi,Inc,Dummy_Set_53,Dummy_Set_54,Set_57,Set_58,Set_61,Set_62,SID).
 iknows(pair(apply(h,pair(xor(Di,exp(IDi,Ai)),Ri)),pair(xor(apply(h,xor(Di,exp(IDi,Ai))),Ri),pair(Dummy_Fi,IDj)))).
 secret(Dummy_Set_53,sec1,Dummy_Set_54).
 contains(PWi,Dummy_Set_53).
 contains(Ui,Dummy_Set_54)

step step_2 (Ui,RC,ASj,SKey1,SKey2,H,MUL,SUB,IDi,PWi,IDj,N,Dummy_Ej,Dummy_Yj,Di,Ei,Fi,Ai,Bi,Ci,Ri,M1,M2,Dummy_M3,Dummy_M4,M6,Rij,Rj,Dummy_M5,SKi,Inc,Set_53,Set_54,Dummy_Set_57,Dummy_Set_58,Set_61,Set_62,SID,Ej,M3) :=
 state_user(Ui,RC,ASj,SKey1,SKey2,H,MUL,SUB,2,IDi,PWi,IDj,N,Dummy_Ej,Dummy_Yj,Di,Ei,Fi,Ai,Bi,Ci,Ri,M1,M2,Dummy_M3,Dummy_M4,M6,Rij,Rj,Dummy_M5,SKi,Inc,Set_53,Set_54,Dummy_Set_57,Dummy_Set_58,Set_61,Set_62,SID).
 iknows(pair(Ej,M3))
 =>
 state_user(Ui,RC,ASj,SKey1,SKey2,H,MUL,SUB,3,IDi,PWi,IDj,N,Ej,xor(M3,IDi),Di,Ei,Fi,Ai,Bi,Ci,Ri,M1,M2,M3,apply(h,pair(IDi,pair(Ri,pair(xor(M3,IDi),IDj)))),M6,Rij,Rj,exp(pair(IDi,pair(Ri,apply(h,pair(IDi,pair(Ri,pair(xor(M3,IDi),IDj)))))),Dummy_Ej),SKi,Inc,Set_53,Set_54,Dummy_Set_57,Dummy_Set_58,Set_61,Set_62,SID).
 iknows(exp(pair(IDi,pair(Ri,apply(h,pair(IDi,pair(Ri,pair(xor(M3,IDi),IDj)))))),Dummy_Ej)).
 secret(Dummy_Set_57,sec2,Dummy_Set_58).
 contains(xor(M3,IDi),Dummy_Set_57).
 contains(Ui,Dummy_Set_58).
 contains(ASj,Dummy_Set_58).
 contains(RC,Dummy_Set_58)

step step_3 (Ui,RC,ASj,SKey1,SKey2,H,MUL,SUB,IDi,PWi,IDj,N,Ej,Yj,Di,Ei,Fi,Ai,Bi,Ci,Ri,M1,M2,M3,M4,Dummy_M6,Dummy_Rij,Dummy_Rj,M5,Dummy_SKi,Inc,Set_53,Set_54,Set_57,Set_58,Dummy_Set_61,Dummy_Set_62,SID,M6) :=
 state_user(Ui,RC,ASj,SKey1,SKey2,H,MUL,SUB,3,IDi,PWi,IDj,N,Ej,Yj,Di,Ei,Fi,Ai,Bi,Ci,Ri,M1,M2,M3,M4,Dummy_M6,Dummy_Rij,Dummy_Rj,M5,Dummy_SKi,Inc,Set_53,Set_54,Set_57,Set_58,Dummy_Set_61,Dummy_Set_62,SID).
 iknows(M6)
 =>
 state_user(Ui,RC,ASj,SKey1,SKey2,H,MUL,SUB,4,IDi,PWi,IDj,N,Ej,Yj,Di,Ei,Fi,Ai,Bi,Ci,Ri,M1,M2,M3,M4,M6,Dummy_Rij,xor(Dummy_Rij,Ri),M5,apply(h,pair(IDi,pair(IDj,pair(Ri,xor(Dummy_Rij,Ri))))),Inc,Set_53,Set_54,Set_57,Set_58,Dummy_Set_61,Dummy_Set_62,SID).
 secret(Dummy_Set_61,sec3,Dummy_Set_62).
 contains(Dummy_SKi,Dummy_Set_61).
 contains(Ui,Dummy_Set_62).
 contains(ASj,Dummy_Set_62)

step step_4 (RC,Ui,ASj,SKey1,SKey2,H,MUL,SUB,Dummy_IDj,IDi,Dummy_Ej,Dummy_P,Dummy_Q,Dummy_N,Dummy_W,Dummy_Dj,G,Dummy_Yj,Ai,Bi,Ci,Di,Ei,Fi,X,M1,M2,M3,Inc,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,SID,IDj,Ej,P,Q,Dj) :=
 state_rserver(RC,Ui,ASj,SKey1,SKey2,H,MUL,SUB,0,Dummy_IDj,IDi,Dummy_Ej,Dummy_P,Dummy_Q,Dummy_N,Dummy_W,Dummy_Dj,G,Dummy_Yj,Ai,Bi,Ci,Di,Ei,Fi,X,M1,M2,M3,Inc,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,SID).
 iknows(scrypt(SKey1,IDj))
=[exists Q,P,Dj,Ej]=>
 state_rserver(RC,Ui,ASj,SKey1,SKey2,H,MUL,SUB,1,IDj,IDi,Ej,P,Q,apply(MUL,pair(P,Q)),apply(MUL,pair(apply(SUB,pair(P,1)),apply(SUB,pair(Q,1)))),Dj,G,apply(h,pair(Ej,Dj)),Ai,Bi,Ci,Di,Ei,Fi,X,M1,M2,M3,Inc,Dummy_Set_96,Dummy_Set_97,Dummy_Set_98,Dummy_Set_99,SID).
 iknows(scrypt(SKey1,pair(Ej,Dj))).
 secret(Dummy_Set_96,sec4,Dummy_Set_97).
 secret(Dummy_Set_98,sec5,Dummy_Set_99).
 contains(Dj,Dummy_Set_96).
 contains(ASj,Dummy_Set_97).
 contains(RC,Dummy_Set_97).
 contains(P,Dummy_Set_98).
 contains(Q,Dummy_Set_98).
 contains(RC,Dummy_Set_99)

step step_5 (RC,Ui,ASj,SKey1,SKey2,H,MUL,SUB,IDj,IDi,Ej,P,Q,N,W,Dj,G,Yj,Dummy_Ai,Dummy_Bi,Dummy_Ci,Dummy_Di,Dummy_Ei,Dummy_Fi,X,M1,M2,M3,Inc,Set_96,Set_97,Set_98,Set_99,SID,Ai) :=
 state_rserver(RC,Ui,ASj,SKey1,SKey2,H,MUL,SUB,1,IDj,IDi,Ej,P,Q,N,W,Dj,G,Yj,Dummy_Ai,Dummy_Bi,Dummy_Ci,Dummy_Di,Dummy_Ei,Dummy_Fi,X,M1,M2,M3,Inc,Set_96,Set_97,Set_98,Set_99,SID).
 iknows(scrypt(SKey2,pair(IDi,Ai)))
 =>
 state_rserver(RC,Ui,ASj,SKey1,SKey2,H,MUL,SUB,2,IDj,IDi,Ej,P,Q,N,W,Dj,G,Yj,Ai,exp(G,apply(MUL,pair(X,IDi))),exp(IDi,Dummy_Ai),xor(exp(G,apply(MUL,pair(X,IDi))),exp(IDi,Dummy_Ai)),apply(h,pair(Dummy_Ai,exp(G,apply(MUL,pair(X,IDi))))),scrypt(X,IDi),X,M1,M2,M3,Inc,Set_96,Set_97,Set_98,Set_99,SID).
 iknows(scrypt(SKey2,pair(xor(exp(G,apply(MUL,pair(X,IDi))),exp(IDi,Dummy_Ai)),pair(apply(h,pair(Dummy_Ai,exp(G,apply(MUL,pair(X,IDi))))),pair(scrypt(X,IDi),N)))))

step step_6 (RC,Ui,ASj,SKey1,SKey2,H,MUL,SUB,IDj,IDi,Ej,P,Q,N,W,Dj,G,Yj,Ai,Bi,Ci,Di,Ei,Fi,X,Dummy_M1,Dummy_M2,Dummy_M3,Inc,Set_96,Set_97,Set_98,Set_99,SID,M1,M2) :=
 state_rserver(RC,Ui,ASj,SKey1,SKey2,H,MUL,SUB,2,IDj,IDi,Ej,P,Q,N,W,Dj,G,Yj,Ai,Bi,Ci,Di,Ei,Fi,X,Dummy_M1,Dummy_M2,Dummy_M3,Inc,Set_96,Set_97,Set_98,Set_99,SID).
 iknows(pair(M1,pair(M2,pair(Fi,IDj))))
 =>
 state_rserver(RC,Ui,ASj,SKey1,SKey2,H,MUL,SUB,3,IDj,IDi,Ej,P,Q,N,W,Dj,G,Yj,Ai,Bi,Ci,Di,Ei,Fi,X,M1,M2,xor(Yj,IDi),Inc,Set_96,Set_97,Set_98,Set_99,SID).
 iknows(pair(Ej,xor(Yj,IDi)))

step step_7 (ASj,Ui,RC,SKey1,SKey2,H,MUL,SUB,IDi,Dummy_IDj,Ej,Dj,Yj,M5,M9,Ri,M4,Rj,Rij,SKj,M6,Inc,Set_126,Set_127,SID,IDj) :=
 state_aserver(ASj,Ui,RC,SKey1,SKey2,H,MUL,SUB,0,IDi,Dummy_IDj,Ej,Dj,Yj,M5,M9,Ri,M4,Rj,Rij,SKj,M6,Inc,Set_126,Set_127,SID).
 iknows(start)
=[exists IDj]=>
 state_aserver(ASj,Ui,RC,SKey1,SKey2,H,MUL,SUB,1,IDi,IDj,Ej,Dj,Yj,M5,M9,Ri,M4,Rj,Rij,SKj,M6,Inc,Set_126,Set_127,SID).
 iknows(scrypt(SKey1,IDj)).
 iknows(scrypt(SKey1,pair(Ej,Dj)))

step step_8 (ASj,Ui,RC,SKey1,SKey2,H,MUL,SUB,IDi,IDj,Ej,Dj,Dummy_Yj,Dummy_M5,Dummy_M9,Ri,M4,Dummy_Rj,Dummy_Rij,Dummy_SKj,Dummy_M6,Inc,Dummy_Set_126,Dummy_Set_127,SID,M5,Rj) :=
 state_aserver(ASj,Ui,RC,SKey1,SKey2,H,MUL,SUB,1,IDi,IDj,Ej,Dj,Dummy_Yj,Dummy_M5,Dummy_M9,Ri,M4,Dummy_Rj,Dummy_Rij,Dummy_SKj,Dummy_M6,Inc,Dummy_Set_126,Dummy_Set_127,SID).
 iknows(M5)
=[exists Rj]=>
 state_aserver(ASj,Ui,RC,SKey1,SKey2,H,MUL,SUB,2,IDi,IDj,Ej,Dj,apply(h,pair(Ej,Dj)),M5,exp(M5,Dj),Ri,M4,Rj,xor(Ri,Dummy_Rj),apply(h,pair(IDi,pair(IDj,pair(Ri,Rj)))),apply(h,pair(apply(h,pair(IDi,pair(IDj,pair(Ri,Rj)))),pair(Rj,IDj))),Inc,Dummy_Set_126,Dummy_Set_127,SID).
 iknows(pair(apply(h,pair(apply(h,pair(IDi,pair(IDj,pair(Ri,Rj)))),pair(Rj,IDj))),xor(Ri,Dummy_Rj))).
 secret(Dummy_Set_126,sec6,Dummy_Set_127).
 contains(Ri,Dummy_Set_126).
 contains(Rj,Dummy_Set_126).
 contains(ASj,Dummy_Set_127).
 contains(Ui,Dummy_Set_127)


section properties:

property secrecy_of_sec1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_aserver_Ri (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_aserver_Ri,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_aserver_Ri,MGoal))
     /\ ((request(A1Goal,A2Goal,user_aserver_Ri,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_aserver_Ri,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_aserver_user_Rj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,aserver_user_Rj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,aserver_user_Rj,MGoal))
     /\ ((request(A1Goal,A2Goal,aserver_user_Rj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,aserver_user_Rj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec6,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_aserver_Ri (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_aserver_Ri,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_aserver_Ri,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_aserver_Ri (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_aserver_Ri,MGoal,SID1).
 request(A1Goal,A2Goal,user_aserver_Ri,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_aserver_user_Rj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,aserver_user_Rj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,aserver_user_Rj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_aserver_user_Rj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,aserver_user_Rj,MGoal,SID1).
 request(A1Goal,A2Goal,aserver_user_Rj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

