%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfile74xjYr

section signature:

state_bob: agent * agent * agent * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(text) * nat -> fact
state_server: agent * agent * agent * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(text) * nat -> fact
state_alice: agent * agent * agent * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(text) * set(text) * set(agent) * set(text) * nat -> fact


section types:

MGoal, start: message
alice_server, server_bob, bob_server, alice_bob, server_bob_ts2, bob_server_ts3, alice_server_ts1, server_alice_ts4, subs1, subs2, subs3, subs4, subs5: protocol_id
set_202, set_201, set_200, set_199, set_191, set_190, set_189, set_188, set_166, set_165, set_164, set_163, set_240, set_239, set_238, set_237, set_235, set_234, set_233, set_232, set_230, set_229, set_228, set_227, set_225, set_224, set_223, set_222, set_220, set_219, set_218, set_217, set_215, set_214, set_213, set_212: set
h, H: hash_func
Dummy_Set_88, Dummy_Set_48, ASGoal, Set_126, Set_88, Set_48, Dummy_Set_126: set(agent)
Dummy_Set_89, Dummy_Set_87, Dummy_Set_86, Dummy_Set_49, Dummy_Set_47, Dummy_Set_45, Set_127, Set_125, Set_124, Set_89, Set_87, Set_86, Set_49, Set_47, Set_45, Dummy_Set_127, Dummy_Set_125, Dummy_Set_124: set(text)
Dummy_TS2, Dummy_TIDinew, Dummy_Kj, Dummy_TS4, Dummy_TS3, Dummy_Ci, Dummy_PKSi, Dummy_PTCi, Dummy_TCi, Dummy_RPWi, Dummy_M1, Dummy_Ki, Dummy_TIDi, Dummy_TS1, dummy_nonce, idi, idsnj, ts1, ts2, ts3, ts4, tidi, tidinew, M1, M3, RPWi, TCi, PTCi, PKSi, Ci, TIDinew, Kgwnu, Kgwns, Xs, TEi, TIDi, Ki, Kj, Cj, PKSj, IDi, IDsnj, K, PWi, Bi, TS1, TS2, TS3, TS4, Dummy_M3, Dummy_PKSj, Dummy_Cj: text
A2Goal, A1Goal, ui, gwn, snj, Ui, GWN, SNj, i: agent
4, SID, Dummy_State, 3, SID2, SID1, State, 2, 1, 0, 13, 12, 11, 9, 8, 7, 5: nat


section inits:

initial_state init1 := 
 iknows(start).
 iknows(idsnj).
 iknows(ts1).
 iknows(ts2).
 iknows(ts3).
 iknows(ts4).
 iknows(h).
 iknows(tidi).
 iknows(tidinew).
 iknows(i).
 state_alice(ui,gwn,snj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_163,set_164,set_165,set_166,3).
 state_server(gwn,ui,snj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_188,set_189,set_190,set_191,4).
 state_bob(snj,ui,gwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_199,set_200,set_201,set_202,5).
 state_alice(ui,gwn,snj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_212,set_213,set_214,set_215,7).
 state_server(gwn,ui,snj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_217,set_218,set_219,set_220,8).
 state_bob(snj,ui,gwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_222,set_223,set_224,set_225,9).
 state_alice(ui,gwn,snj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_227,set_228,set_229,set_230,11).
 state_server(gwn,ui,snj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_232,set_233,set_234,set_235,12).
 state_bob(snj,ui,gwn,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_237,set_238,set_239,set_240,13)


section rules:

step step_0 (Ui,GWN,SNj,H,IDi,IDsnj,K,PWi,Bi,Dummy_TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Dummy_Ki,Kj,Dummy_M1,Dummy_RPWi,Dummy_TCi,Dummy_PTCi,Dummy_PKSi,Dummy_Ci,TIDinew,Dummy_Set_45,Dummy_Set_47,Dummy_Set_48,Dummy_Set_49,SID,TS1,TIDi,Ki) :=
 state_alice(Ui,GWN,SNj,H,0,IDi,IDsnj,K,PWi,Bi,Dummy_TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Dummy_Ki,Kj,Dummy_M1,Dummy_RPWi,Dummy_TCi,Dummy_PTCi,Dummy_PKSi,Dummy_Ci,TIDinew,Dummy_Set_45,Dummy_Set_47,Dummy_Set_48,Dummy_Set_49,SID).
 iknows(start)
=[exists TS1,TIDi,Ki]=>
 state_alice(Ui,GWN,SNj,H,1,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,apply(H,pair(IDi,Xs)),apply(H,pair(IDi,pair(K,PWi))),apply(H,pair(Kgwnu,pair(IDi,TEi))),xor(apply(H,pair(Kgwnu,pair(IDi,TEi))),apply(H,pair(IDi,pair(K,PWi)))),xor(Ki,apply(H,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(apply(H,pair(IDi,Xs)),TS1)))),apply(H,pair(IDi,pair(Ki,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(apply(H,pair(IDi,Xs)),TS1))))),TIDinew,Dummy_Set_45,Dummy_Set_47,Dummy_Set_48,Dummy_Set_49,SID).
 secret(Dummy_Set_45,subs1,Ui).
 secret(Dummy_Set_47,subs2,Dummy_Set_48).
 secret(Dummy_Set_49,subs3,GWN).
 secret(Ki,subs4,Ui).
 iknows(pair(TIDi,pair(apply(H,pair(IDi,pair(Ki,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(apply(H,pair(IDi,Xs)),TS1))))),pair(xor(Ki,apply(H,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(apply(H,pair(IDi,Xs)),TS1)))),TS1)))).
 witness(Ui,GWN,alice_server_ts1,TS1).
 contains(PWi,Dummy_Set_45).
 contains(Bi,Dummy_Set_45).
 contains(IDi,Dummy_Set_47).
 contains(Ui,Dummy_Set_48).
 contains(GWN,Dummy_Set_48).
 contains(Kgwnu,Dummy_Set_49).
 contains(Kgwns,Dummy_Set_49).
 contains(Xs,Dummy_Set_49).
 contains(TEi,Dummy_Set_49)

step step_1 (Ui,GWN,SNj,H,IDi,IDsnj,K,PWi,Bi,TS1,TS2,Dummy_TS3,Dummy_TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Dummy_Ki,Dummy_Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,Dummy_TIDinew,Set_45,Set_47,Set_48,Set_49,SID,TS3,TS4,Ki,Kj,TIDinew) :=
 state_alice(Ui,GWN,SNj,H,1,IDi,IDsnj,K,PWi,Bi,TS1,TS2,Dummy_TS3,Dummy_TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Dummy_Ki,Dummy_Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,Dummy_TIDinew,Set_45,Set_47,Set_48,Set_49,SID).
 iknows(pair(IDsnj,pair(TS3,pair(TS4,pair(xor(Kj,apply(H,pair(xor(Ki,apply(H,pair(IDi,Xs))),TS3))),pair(xor(TIDinew,apply(H,xor(Ki,pair(apply(H,pair(IDi,Xs)),pair(TS3,TS4))))),apply(H,pair(IDi,pair(IDsnj,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),xor(TIDinew,pair(apply(H,xor(Ki,pair(apply(H,pair(IDi,Xs)),pair(TS3,TS4)))),pair(Kj,pair(TS3,TS4))))))))))))))
 =>
 state_alice(Ui,GWN,SNj,H,2,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Set_45,Set_47,Set_48,Set_49,SID).
 secret(Kj,subs5,SNj).
 request(GWN,Ui,server_alice_ts4,TS4,SID)

step step_2 (GWN,Ui,SNj,H,IDi,IDsnj,K,PWi,Bi,Dummy_TS1,Dummy_TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Dummy_Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_86,Dummy_Set_87,Dummy_Set_88,Dummy_Set_89,SID,TS1,TS2,TIDi,Ki) :=
 state_server(GWN,Ui,SNj,H,0,IDi,IDsnj,K,PWi,Bi,Dummy_TS1,Dummy_TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Dummy_Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_86,Dummy_Set_87,Dummy_Set_88,Dummy_Set_89,SID).
 iknows(pair(TIDi,pair(apply(H,pair(IDi,pair(Ki,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(apply(H,pair(IDi,Xs)),TS1))))),pair(xor(Ki,apply(H,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),pair(apply(H,pair(IDi,Xs)),TS1)))),TS1))))
=[exists TS2]=>
 state_server(GWN,Ui,SNj,H,1,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_86,Dummy_Set_87,Dummy_Set_88,Dummy_Set_89,SID).
 secret(Dummy_Set_86,subs1,Ui).
 secret(Dummy_Set_87,subs2,Dummy_Set_88).
 secret(Dummy_Set_89,subs3,GWN).
 secret(Ki,subs4,Ui).
 iknows(pair(TS2,pair(TIDi,pair(apply(H,pair(TIDi,pair(apply(H,pair(Kgwns,IDsnj)),TS2))),xor(xor(Ki,apply(H,pair(IDi,Xs))),apply(H,pair(apply(H,pair(Kgwns,IDsnj)),TS2))))))).
 witness(GWN,SNj,server_bob_ts2,TS2).
 contains(PWi,Dummy_Set_86).
 contains(Bi,Dummy_Set_86).
 contains(IDi,Dummy_Set_87).
 contains(Ui,Dummy_Set_88).
 contains(GWN,Dummy_Set_88).
 contains(Kgwnu,Dummy_Set_89).
 contains(Kgwns,Dummy_Set_89).
 contains(Xs,Dummy_Set_89).
 contains(TEi,Dummy_Set_89)

step step_3 (GWN,Ui,SNj,H,IDi,IDsnj,K,PWi,Bi,TS1,Dummy_TS2,Dummy_TS3,Dummy_TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Dummy_Ki,Dummy_Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,Dummy_TIDinew,Set_86,Set_87,Set_88,Set_89,SID,TS2,TS3,TS4,TIDi,Ki,Kj,TIDinew) :=
 state_server(GWN,Ui,SNj,H,1,IDi,IDsnj,K,PWi,Bi,TS1,Dummy_TS2,Dummy_TS3,Dummy_TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Dummy_Ki,Dummy_Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,Dummy_TIDinew,Set_86,Set_87,Set_88,Set_89,SID).
 iknows(pair(IDsnj,pair(TS3,pair(apply(H,pair(Kj,pair(TIDi,pair(IDsnj,TS3)))),xor(Kj,apply(H,pair(xor(xor(xor(Ki,apply(H,pair(IDi,Xs))),apply(H,pair(apply(H,pair(Kgwns,IDsnj)),TS2))),apply(H,pair(apply(H,pair(Kgwns,IDsnj)),TS2))),TS3)))))))
=[exists TIDinew,TS4]=>
 state_server(GWN,Ui,SNj,H,2,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,M1,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Set_86,Set_87,Set_88,Set_89,SID).
 iknows(pair(IDsnj,pair(TS3,pair(TS4,pair(xor(Kj,apply(H,pair(xor(Ki,apply(H,pair(IDi,Xs))),TS3))),pair(xor(TIDinew,apply(H,xor(Ki,pair(apply(H,pair(IDi,Xs)),pair(TS3,TS4))))),apply(H,pair(IDi,pair(IDsnj,pair(apply(H,pair(Kgwnu,pair(IDi,TEi))),xor(TIDinew,pair(apply(H,xor(Ki,pair(apply(H,pair(IDi,Xs)),pair(TS3,TS4)))),pair(Kj,pair(TS3,TS4)))))))))))))).
 secret(Kj,subs5,SNj).
 request(Ui,GWN,alice_server_ts1,TS1,SID).
 request(SNj,GWN,bob_server_ts3,TS3,SID)

step step_4 (SNj,Ui,GWN,H,IDi,IDsnj,K,PWi,Bi,TS1,Dummy_TS2,Dummy_TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Dummy_Ki,Dummy_Kj,Dummy_Cj,Dummy_PKSj,M1,Dummy_M3,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_124,Dummy_Set_125,Dummy_Set_126,Dummy_Set_127,SID,TS2,TS3,TIDi,Ki,Kj) :=
 state_bob(SNj,Ui,GWN,H,0,IDi,IDsnj,K,PWi,Bi,TS1,Dummy_TS2,Dummy_TS3,TS4,Kgwnu,Kgwns,Xs,TEi,Dummy_TIDi,Dummy_Ki,Dummy_Kj,Dummy_Cj,Dummy_PKSj,M1,Dummy_M3,RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_124,Dummy_Set_125,Dummy_Set_126,Dummy_Set_127,SID).
 iknows(pair(TS2,pair(TIDi,pair(apply(H,pair(TIDi,pair(apply(H,pair(Kgwns,IDsnj)),TS2))),xor(xor(Ki,apply(H,pair(IDi,Xs))),apply(H,pair(apply(H,pair(Kgwns,IDsnj)),TS2)))))))
=[exists TS3,Kj]=>
 state_bob(SNj,Ui,GWN,H,1,IDi,IDsnj,K,PWi,Bi,TS1,TS2,TS3,TS4,Kgwnu,Kgwns,Xs,TEi,TIDi,Ki,Kj,apply(H,pair(Kj,pair(TIDi,pair(IDsnj,TS3)))),xor(Kj,apply(H,pair(xor(xor(xor(Ki,apply(H,pair(IDi,Xs))),apply(H,pair(apply(H,pair(Kgwns,IDsnj)),TS2))),apply(H,pair(apply(H,pair(Kgwns,IDsnj)),TS2))),TS3))),M1,xor(xor(xor(Ki,apply(H,pair(IDi,Xs))),apply(H,pair(apply(H,pair(Kgwns,IDsnj)),TS2))),apply(H,pair(apply(H,pair(Kgwns,IDsnj)),TS2))),RPWi,TCi,PTCi,PKSi,Ci,TIDinew,Dummy_Set_124,Dummy_Set_125,Dummy_Set_126,Dummy_Set_127,SID).
 secret(Dummy_Set_124,subs1,Ui).
 secret(Dummy_Set_125,subs2,Dummy_Set_126).
 secret(Dummy_Set_127,subs3,GWN).
 secret(Kj,subs5,SNj).
 secret(Ki,subs4,Ui).
 iknows(pair(IDsnj,pair(TS3,pair(apply(H,pair(Kj,pair(TIDi,pair(IDsnj,TS3)))),xor(Kj,apply(H,pair(xor(xor(xor(Ki,apply(H,pair(IDi,Xs))),apply(H,pair(apply(H,pair(Kgwns,IDsnj)),TS2))),apply(H,pair(apply(H,pair(Kgwns,IDsnj)),TS2))),TS3))))))).
 witness(SNj,GWN,bob_server_ts3,TS3).
 request(SNj,GWN,server_bob_ts2,TS2,SID).
 contains(PWi,Dummy_Set_124).
 contains(Bi,Dummy_Set_124).
 contains(IDi,Dummy_Set_125).
 contains(Ui,Dummy_Set_126).
 contains(GWN,Dummy_Set_126).
 contains(Kgwnu,Dummy_Set_127).
 contains(Kgwns,Dummy_Set_127).
 contains(Xs,Dummy_Set_127).
 contains(TEi,Dummy_Set_127)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_server_ts1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_server_ts1,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_bob_ts2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_bob_ts2,MGoal))
     /\ ((request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_server_ts3 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_server_ts3,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_alice_ts4 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_alice_ts4,MGoal))
     /\ ((request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_server_ts1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_server_ts1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_server_ts1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID1).
 request(A1Goal,A2Goal,alice_server_ts1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_bob_ts2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_bob_ts2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_bob_ts2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID1).
 request(A1Goal,A2Goal,server_bob_ts2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_server_ts3 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_server_ts3,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_server_ts3 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID1).
 request(A1Goal,A2Goal,bob_server_ts3,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_alice_ts4 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_alice_ts4,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_alice_ts4 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID1).
 request(A1Goal,A2Goal,server_alice_ts4,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

