%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileVnNOB4

section signature:

state_bob: agent * agent * symmetric_key * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(text) * set(text) * set(agent) * nat -> fact
state_alice: agent * agent * symmetric_key * hash_func * hash_func * hash_func * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(text) * set(agent) * nat -> fact


section types:

Set_95, Set_94, Set_93, Dummy_Set_95, Dummy_Set_94, Dummy_Set_93, Set_50, Set_48, Dummy_Set_50, Dummy_Set_48: set(text)
alice_bob_ri, bob_alice_rs, subs1, subs2, subs3: protocol_id
set_184, set_183, set_182, set_181, set_179, set_178, set_177, set_164, set_163, set_162, set_161, set_137, set_136, set_135: set
Set_96, Dummy_Set_96, Set_51, Dummy_Set_51, ASGoal: set(agent)
W, C2, C4, Li, G1, M1, Ki, D1, Zi, SK, Dummy_D1, Dummy_Ki, Dummy_SK, Dummy_Zi, Dummy_M1, Dummy_G1, Dummy_Li, Dummy_C4, Dummy_C2, Dummy_W, start, dummy_msg, MGoal: message
IDi, IDs, PWi, Ti, Bi, X, Fi, CIDi, CIDin, Dummy_Rs, Rn, Dummy_Rn, R, Dummy_IDi, Ai, Ri, Rs, P, Dummy_R, Dummy_CIDin, Dummy_Ri, Dummy_CIDi, Dummy_Fi, Dummy_Bi, Dummy_Ai, dummy_nonce, idi, ids, pwi, ti, bi, x, fi, ai, ri, rs, p: text
7, 6, State, 4, SID, 3, 2, 1, 0, Dummy_State, SID2, SID1: nat
Inc, H, Add, Sub, Mul, dummy_hash, h, add, sub, mul: hash_func
SKuisj, skuisj: symmetric_key
Ui, Sj, A2Goal, A1Goal, ui, sj, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(sj).
 iknows(h).
 iknows(add).
 iknows(sub).
 iknows(mul).
 iknows(i).
 state_alice(ui,sj,skuisj,h,add,sub,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_135,set_136,set_137,3).
 state_bob(sj,ui,skuisj,h,add,sub,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_161,set_162,set_163,set_164,4).
 state_alice(ui,sj,skuisj,h,add,sub,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_177,set_178,set_179,6).
 state_bob(sj,ui,skuisj,h,add,sub,mul,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_181,set_182,set_183,set_184,7)


section rules:

step step_0 (Ui,Sj,SKuisj,H,Add,Sub,Mul,IDi,IDs,PWi,Ti,Bi,X,Fi,CIDi,CIDin,R,Dummy_Ai,Ri,Rs,P,W,C2,C4,Li,G1,D1,Ki,M1,Zi,SK,Inc,Dummy_Set_48,Dummy_Set_50,Dummy_Set_51,SID) :=
 state_alice(Ui,Sj,SKuisj,H,Add,Sub,Mul,0,IDi,IDs,PWi,Ti,Bi,X,Fi,CIDi,CIDin,R,Dummy_Ai,Ri,Rs,P,W,C2,C4,Li,G1,D1,Ki,M1,Zi,SK,Inc,Dummy_Set_48,Dummy_Set_50,Dummy_Set_51,SID).
 iknows(start)
 =>
 state_alice(Ui,Sj,SKuisj,H,Add,Sub,Mul,1,IDi,IDs,PWi,Ti,Bi,X,Fi,CIDi,CIDin,R,apply(H,pair(IDi,PWi)),Ri,Rs,P,W,C2,C4,Li,G1,D1,Ki,M1,Zi,SK,Inc,Dummy_Set_48,Dummy_Set_50,Dummy_Set_51,SID).
 iknows(scrypt(SKuisj,pair(IDi,pair(apply(H,pair(IDi,PWi)),Ti)))).
 secret(Dummy_Set_48,subs2,Ui).
 secret(Dummy_Set_50,subs3,Dummy_Set_51).
 contains(PWi,Dummy_Set_48).
 contains(Ti,Dummy_Set_48).
 contains(IDi,Dummy_Set_50).
 contains(Ui,Dummy_Set_51).
 contains(Sj,Dummy_Set_51)

step step_1 (Ui,Sj,SKuisj,H,Add,Sub,Mul,IDi,IDs,PWi,Ti,Dummy_Bi,X,Dummy_Fi,Dummy_CIDi,CIDin,R,Ai,Dummy_Ri,Rs,P,Dummy_W,Dummy_C2,Dummy_C4,Li,G1,D1,Ki,M1,Zi,SK,Inc,Set_48,Set_50,Set_51,SID,Bi,Fi,CIDi,Ri) :=
 state_alice(Ui,Sj,SKuisj,H,Add,Sub,Mul,1,IDi,IDs,PWi,Ti,Dummy_Bi,X,Dummy_Fi,Dummy_CIDi,CIDin,R,Ai,Dummy_Ri,Rs,P,Dummy_W,Dummy_C2,Dummy_C4,Li,G1,D1,Ki,M1,Zi,SK,Inc,Set_48,Set_50,Set_51,SID).
 iknows(scrypt(SKuisj,pair(Fi,pair(apply(H,pair(IDi,PWi)),pair(Bi,CIDi)))))
=[exists Ri]=>
 state_alice(Ui,Sj,SKuisj,H,Add,Sub,Mul,2,IDi,IDs,PWi,Ti,Bi,X,Fi,CIDi,CIDin,R,Ai,Ri,Rs,P,xor(Bi,apply(H,pair(IDi,X))),xor(Ri,xor(Bi,apply(H,pair(IDi,X)))),apply(H,pair(IDi,pair(Ri,xor(Bi,apply(H,pair(IDi,X)))))),Li,G1,D1,Ki,M1,Zi,SK,Inc,Set_48,Set_50,Set_51,SID).
 iknows(xor(Ri,xor(Bi,apply(H,pair(IDi,X))))).
 witness(Ui,Sj,alice_bob_ri,Ri)

step step_2 (Ui,Sj,SKuisj,H,Add,Sub,Mul,IDi,IDs,PWi,Ti,Bi,X,Fi,CIDi,Dummy_CIDin,R,Ai,Dummy_Ri,Rs,P,W,C2,C4,Dummy_Li,Dummy_G1,D1,Ki,Dummy_M1,Dummy_Zi,Dummy_SK,Inc,Set_48,Set_50,Set_51,SID,Ri,Li) :=
 state_alice(Ui,Sj,SKuisj,H,Add,Sub,Mul,2,IDi,IDs,PWi,Ti,Bi,X,Fi,CIDi,Dummy_CIDin,R,Ai,Dummy_Ri,Rs,P,W,C2,C4,Dummy_Li,Dummy_G1,D1,Ki,Dummy_M1,Dummy_Zi,Dummy_SK,Inc,Set_48,Set_50,Set_51,SID).
 iknows(Li)
=[exists Ri]=>
 state_alice(Ui,Sj,SKuisj,H,Add,Sub,Mul,3,IDi,IDs,PWi,Ti,Bi,X,Fi,CIDi,Dummy_CIDin,R,Ai,Ri,Rs,P,W,C2,C4,Li,Dummy_G1,D1,Ki,apply(Sub,pair(G1,apply(Mul,pair(Ri,P)))),apply(H,pair(IDi,apply(Mul,pair(Ri,apply(Sub,pair(G1,apply(Mul,pair(Ri,P)))))))),apply(Mul,pair(Ri,apply(Sub,pair(G1,apply(Mul,pair(Ri,P)))))),Inc,Set_48,Set_50,Set_51,SID).
 iknows(apply(H,pair(IDi,apply(Mul,pair(Ri,apply(Sub,pair(G1,apply(Mul,pair(Ri,P))))))))).
 request(Sj,Ui,bob_alice_rs,apply(Sub,pair(G1,apply(Mul,pair(Ri,P)))),SID)

step step_3 (Sj,Ui,SKuisj,H,Add,Sub,Mul,IDi,IDs,PWi,Ti,Dummy_Bi,X,Dummy_Fi,Dummy_CIDi,CIDin,Rn,Dummy_R,Ai,Ri,Rs,P,Dummy_W,C2,C4,Li,G1,M1,Ki,D1,Zi,SK,Inc,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,SID,R) :=
 state_bob(Sj,Ui,SKuisj,H,Add,Sub,Mul,0,IDi,IDs,PWi,Ti,Dummy_Bi,X,Dummy_Fi,Dummy_CIDi,CIDin,Rn,Dummy_R,Ai,Ri,Rs,P,Dummy_W,C2,C4,Li,G1,M1,Ki,D1,Zi,SK,Inc,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,SID).
 iknows(scrypt(SKuisj,pair(IDi,pair(apply(H,pair(IDi,PWi)),Ti))))
=[exists R]=>
 state_bob(Sj,Ui,SKuisj,H,Add,Sub,Mul,1,IDi,IDs,PWi,Ti,xor(apply(H,pair(IDi,Ai)),apply(H,pair(IDs,pair(X,IDi)))),X,apply(H,Ti),scrypt(X,pair(IDi,R)),CIDin,Rn,R,Ai,Ri,Rs,P,apply(H,pair(IDs,pair(X,IDi))),C2,C4,Li,G1,M1,Ki,D1,Zi,SK,Inc,Dummy_Set_93,Dummy_Set_94,Dummy_Set_95,Dummy_Set_96,SID).
 secret(Dummy_Set_93,subs1,Sj).
 secret(Dummy_Set_94,subs2,Ui).
 secret(Dummy_Set_95,subs3,Dummy_Set_96).
 iknows(scrypt(SKuisj,pair(apply(H,Ti),pair(apply(H,pair(IDi,PWi)),pair(xor(apply(H,pair(IDi,Ai)),apply(H,pair(IDs,pair(X,IDi)))),scrypt(X,pair(IDi,R))))))).
 contains(X,Dummy_Set_93).
 contains(PWi,Dummy_Set_94).
 contains(Ti,Dummy_Set_94).
 contains(IDi,Dummy_Set_95).
 contains(Ui,Dummy_Set_96).
 contains(Sj,Dummy_Set_96)

step step_4 (Sj,Ui,SKuisj,H,Add,Sub,Mul,Dummy_IDi,IDs,PWi,Ti,Bi,X,Fi,Dummy_CIDi,Dummy_CIDin,Dummy_Rn,R,Ai,Ri,Dummy_Rs,P,Dummy_W,Dummy_C2,Dummy_C4,Dummy_Li,Dummy_G1,M1,Dummy_Ki,Dummy_D1,Zi,SK,Inc,Set_93,Set_94,Set_95,Set_96,SID,CIDi,Rn,Rs,C2,C4) :=
 state_bob(Sj,Ui,SKuisj,H,Add,Sub,Mul,1,Dummy_IDi,IDs,PWi,Ti,Bi,X,Fi,Dummy_CIDi,Dummy_CIDin,Dummy_Rn,R,Ai,Ri,Dummy_Rs,P,Dummy_W,Dummy_C2,Dummy_C4,Dummy_Li,Dummy_G1,M1,Dummy_Ki,Dummy_D1,Zi,SK,Inc,Set_93,Set_94,Set_95,Set_96,SID).
 iknows(pair(C2,pair(C4,CIDi)))
=[exists Rn,Rs]=>
 state_bob(Sj,Ui,SKuisj,H,Add,Sub,Mul,2,scrypt(X,CIDi),IDs,PWi,Ti,Bi,X,Fi,CIDi,scrypt(X,pair(scrypt(X,CIDi),Rn)),Rn,R,Ai,Ri,Rs,P,apply(H,pair(IDs,pair(X,scrypt(X,CIDi)))),C2,C4,apply(H,pair(scrypt(X,CIDi),pair(apply(H,apply(Mul,pair(Rs,P))),apply(H,pair(IDs,pair(X,scrypt(X,CIDi))))))),apply(Add,pair(apply(Mul,pair(Rs,P)),apply(Mul,pair(xor(C2,apply(H,pair(IDs,pair(X,scrypt(X,CIDi))))),P)))),M1,xor(C2,apply(H,pair(IDs,pair(X,scrypt(X,CIDi))))),apply(Mul,pair(Rs,P)),Zi,SK,Inc,Set_93,Set_94,Set_95,Set_96,SID).
 iknows(pair(apply(H,pair(scrypt(X,CIDi),pair(apply(H,apply(Mul,pair(Rs,P))),apply(H,pair(IDs,pair(X,scrypt(X,CIDi))))))),pair(apply(Add,pair(apply(Mul,pair(Rs,P)),apply(Mul,pair(xor(C2,apply(H,pair(IDs,pair(X,scrypt(X,CIDi))))),P)))),scrypt(X,pair(scrypt(X,CIDi),Rn))))).
 witness(Sj,Ui,bob_alice_rs,Rs)

step step_5 (Sj,Ui,SKuisj,H,Add,Sub,Mul,IDi,IDs,PWi,Ti,Bi,X,Fi,CIDi,CIDin,Rn,R,Ai,Dummy_Ri,Rs,P,W,C2,C4,Li,G1,M1,Ki,D1,Dummy_Zi,SK,Inc,Set_93,Set_94,Set_95,Set_96,SID,Ri,Zi) :=
 state_bob(Sj,Ui,SKuisj,H,Add,Sub,Mul,2,IDi,IDs,PWi,Ti,Bi,X,Fi,CIDi,CIDin,Rn,R,Ai,Dummy_Ri,Rs,P,W,C2,C4,Li,G1,M1,Ki,D1,Dummy_Zi,SK,Inc,Set_93,Set_94,Set_95,Set_96,SID).
 iknows(Zi)
=[exists Ri]=>
 state_bob(Sj,Ui,SKuisj,H,Add,Sub,Mul,3,IDi,IDs,PWi,Ti,Bi,X,Fi,CIDi,CIDin,Rn,R,Ai,Ri,Rs,P,W,C2,C4,Li,G1,M1,Ki,D1,Zi,SK,Inc,Set_93,Set_94,Set_95,Set_96,SID).
 request(Ui,Sj,alice_bob_ri,Ri,SID)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_alice_bob_ri (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,alice_bob_ri,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,alice_bob_ri,MGoal))
     /\ ((request(A1Goal,A2Goal,alice_bob_ri,MGoal,SID1)
           /\ request(A1Goal,A2Goal,alice_bob_ri,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_bob_alice_rs (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,bob_alice_rs,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,bob_alice_rs,MGoal))
     /\ ((request(A1Goal,A2Goal,bob_alice_rs,MGoal,SID1)
           /\ request(A1Goal,A2Goal,bob_alice_rs,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_alice_bob_ri (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,alice_bob_ri,MGoal,SID) &
 not(witness(A2Goal,A1Goal,alice_bob_ri,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_alice_bob_ri (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,alice_bob_ri,MGoal,SID1).
 request(A1Goal,A2Goal,alice_bob_ri,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_bob_alice_rs (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,bob_alice_rs,MGoal,SID) &
 not(witness(A2Goal,A1Goal,bob_alice_rs,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_bob_alice_rs (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,bob_alice_rs,MGoal,SID1).
 request(A1Goal,A2Goal,bob_alice_rs,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

