%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilejxmhO8

section signature:

state_snode: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * nat -> fact
state_gateway: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * set(text) * set(agent) * nat -> fact
state_user: agent * agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * hash_func * set(text) * set(text) * set(agent) * nat -> fact


section types:

user_gateway, gateway_snode, snode_user, subs1, subs2, subs3, subs4, subs5, subs6, subs7: protocol_id
Set_165, Set_118, Set_116, Set_114, Set_112, Dummy_Set_165, Dummy_Set_118, Dummy_Set_116, Dummy_Set_114, Dummy_Set_112, Set_64, Set_60, Dummy_Set_64, Dummy_Set_60: set(text)
set_325, set_324, set_322, set_321, set_320, set_319, set_318, set_317, set_316, set_315, set_313, set_312, set_311, set_309, set_308, set_306, set_305, set_304, set_303, set_302, set_301, set_300, set_299, set_297, set_296, set_295, set_287, set_286, set_263, set_262, set_261, set_260, set_259, set_258, set_257, set_256, set_232, set_231, set_230: set
Set_166, Set_119, Set_117, Set_115, Set_113, Dummy_Set_166, Dummy_Set_119, Dummy_Set_117, Dummy_Set_115, Dummy_Set_113, Set_65, Dummy_Set_65, ASGoal: set(agent)
Bi, Ci, Di, Lii, SKi, Li, Ei, Qi, Kj, Fi, Yk, Gi, Hj, Dummy_Hj, Dummy_Kj, Dummy_Gi, Dummy_Yk, Dummy_Fi, Dummy_Ei, start, Dummy_Qi, Dummy_Li, Dummy_SKi, Dummy_Lii, Dummy_Di, Dummy_Ci, Dummy_Bi, dummy_msg, MGoal: message
State, 13, 4, 12, 11, 9, 8, 7, 5, SID, 3, 2, 1, 0, Dummy_State, SID2, SID1: nat
h, Inc, H, dummy_hash: hash_func
sk1, SK1: symmetric_key
ui, snj, gwn, SNj, Ui, GWN, A2Goal, A1Goal, i: agent
idgwnh, idsnj, bi, regi, r, ri, rj, rk, t1, t2, t3, t4, xk, pj, sran, IDi, PWi, DIDi, PWRi, Ai, TIDi, IDgwnh, IDsnj, Regi, R, Ri, Rj, Rk, T1, T2, T3, T4, Xk, Pj, PSj, Sran, Dummy_T3, Dummy_T4, Dummy_T2, Dummy_PSj, Dummy_Sran, Dummy_Pj, Dummy_Regi, Dummy_TIDi, Dummy_Ai, Dummy_Rk, Dummy_Rj, Dummy_T1, Dummy_Ri, Dummy_R, Dummy_PWRi, Dummy_DIDi, dummy_nonce, idi, pwi, didi, pwri, ai, tidi: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(ui).
 iknows(snj).
 iknows(gwn).
 iknows(h).
 iknows(regi).
 iknows(r).
 iknows(idgwnh).
 iknows(idsnj).
 iknows(hj).
 iknows(kj).
 iknows(t3).
 iknows(psj).
 iknows(li).
 iknows(ei).
 iknows(qi).
 iknows(t1).
 iknows(t2).
 iknows(t4).
 iknows(fi).
 iknows(yk).
 iknows(gi).
 iknows(tidi).
 iknows(ci).
 iknows(di).
 iknows(i).
 state_user(gwn,ui,snj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_230,set_231,set_232,3).
 state_gateway(ui,gwn,snj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_256,set_257,set_258,set_259,set_260,set_261,set_262,set_263,4).
 state_snode(snj,ui,gwn,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_286,set_287,5).
 state_user(ui,gwn,snj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_295,set_296,set_297,7).
 state_gateway(gwn,ui,snj,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_299,set_300,set_301,set_302,set_303,set_304,set_305,set_306,8).
 state_snode(snj,gwn,ui,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_308,set_309,9).
 state_user(ui,snj,gwn,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_311,set_312,set_313,11).
 state_gateway(snj,ui,gwn,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_315,set_316,set_317,set_318,set_319,set_320,set_321,set_322,12).
 state_snode(gwn,snj,ui,sk1,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_hash,set_324,set_325,13)


section rules:

step step_0 (Ui,SNj,GWN,SK1,H,IDi,PWi,Dummy_DIDi,Dummy_PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,Dummy_R,Ri,Rj,Rk,T1,T2,T3,T4,Xk,Pj,Sran,Bi,Ci,Di,Lii,SKi,Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Dummy_Set_60,Set_64,Set_65,SID,R) :=
 state_user(Ui,SNj,GWN,SK1,H,0,IDi,PWi,Dummy_DIDi,Dummy_PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,Dummy_R,Ri,Rj,Rk,T1,T2,T3,T4,Xk,Pj,Sran,Bi,Ci,Di,Lii,SKi,Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Dummy_Set_60,Set_64,Set_65,SID).
 iknows(start)
=[exists R]=>
 state_user(Ui,SNj,GWN,SK1,H,1,IDi,PWi,apply(H,pair(IDi,R)),apply(H,pair(PWi,R)),Ai,TIDi,IDgwnh,IDsnj,Regi,R,Ri,Rj,Rk,T1,T2,T3,T4,Xk,Pj,Sran,Bi,Ci,Di,Lii,SKi,Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Dummy_Set_60,Set_64,Set_65,SID).
 iknows(scrypt(SK1,pair(apply(H,pair(IDi,R)),apply(H,pair(PWi,R))))).
 secret(Dummy_Set_60,subs1,Ui).
 contains(IDi,Dummy_Set_60).
 contains(PWi,Dummy_Set_60)

step step_1 (Ui,SNj,GWN,SK1,H,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Dummy_Ri,Rj,Rk,Dummy_T1,T2,T3,T4,Xk,Pj,Sran,Dummy_Bi,Dummy_Ci,Dummy_Di,Lii,SKi,Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Set_60,Dummy_Set_64,Dummy_Set_65,SID,Ri,T1) :=
 state_user(Ui,SNj,GWN,SK1,H,1,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Dummy_Ri,Rj,Rk,Dummy_T1,T2,T3,T4,Xk,Pj,Sran,Dummy_Bi,Dummy_Ci,Dummy_Di,Lii,SKi,Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Set_60,Dummy_Set_64,Dummy_Set_65,SID).
 iknows(scrypt(SK1,pair(Regi,pair(Ai,pair(TIDi,IDgwnh)))))
=[exists T1,Ri]=>
 state_user(Ui,SNj,GWN,SK1,H,2,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Ri,Rj,Rk,T1,T2,T3,T4,Xk,Pj,Sran,xor(Ai,apply(H,pair(DIDi,PWRi))),apply(H,pair(IDgwnh,pair(Dummy_Bi,pair(Ri,T1)))),xor(xor(Ai,apply(H,pair(DIDi,PWRi))),Ri),Lii,SKi,Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Set_60,Dummy_Set_64,Dummy_Set_65,SID).
 iknows(pair(IDgwnh,pair(TIDi,pair(IDsnj,pair(Dummy_Ci,pair(Dummy_Di,Dummy_T1)))))).
 secret(Dummy_Set_64,subs2,Dummy_Set_65).
 contains(Ri,Dummy_Set_64).
 contains(Ui,Dummy_Set_65).
 contains(GWN,Dummy_Set_65).
 contains(SNj,Dummy_Set_65)

step step_2 (Ui,SNj,GWN,SK1,H,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Ri,Dummy_Rj,Dummy_Rk,T1,T2,T3,T4,Xk,Pj,Sran,Bi,Ci,Di,Dummy_Lii,Dummy_SKi,Dummy_Li,Ei,Dummy_Qi,Kj,Fi,Yk,Gi,Hj,Inc,Set_60,Set_64,Set_65,SID,Li,Qi) :=
 state_user(Ui,SNj,GWN,SK1,H,2,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Ri,Dummy_Rj,Dummy_Rk,T1,T2,T3,T4,Xk,Pj,Sran,Bi,Ci,Di,Dummy_Lii,Dummy_SKi,Dummy_Li,Ei,Dummy_Qi,Kj,Fi,Yk,Gi,Hj,Inc,Set_60,Set_64,Set_65,SID).
 iknows(pair(Li,pair(Ei,pair(Qi,pair(Kj,T4)))))
 =>
 state_user(Ui,SNj,GWN,SK1,H,3,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Ri,xor(Ri,Dummy_Qi),xor(Kj,Dummy_Rj),T1,T2,T3,T4,Xk,Pj,Sran,Bi,Ci,Di,apply(H,pair(Ei,pair(DIDi,pair(Dummy_Rj,pair(Dummy_Rk,T4))))),apply(H,pair(DIDi,pair(Ri,pair(Dummy_Rj,Dummy_Rk)))),Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Set_60,Set_64,Set_65,SID)

step step_3 (GWN,Ui,SNj,SK1,H,IDi,PWi,DIDi,PWRi,Dummy_Ai,Dummy_TIDi,IDgwnh,IDsnj,Dummy_Regi,R,Ri,Rj,Rk,T1,T2,T3,T4,Xk,Dummy_Pj,PSj,Dummy_Sran,Dummy_Bi,Ci,Di,Lii,SKi,Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Dummy_Set_112,Dummy_Set_113,Dummy_Set_114,Dummy_Set_115,Dummy_Set_116,Dummy_Set_117,Set_118,Set_119,SID,TIDi,Sran) :=
 state_gateway(GWN,Ui,SNj,SK1,H,0,IDi,PWi,DIDi,PWRi,Dummy_Ai,Dummy_TIDi,IDgwnh,IDsnj,Dummy_Regi,R,Ri,Rj,Rk,T1,T2,T3,T4,Xk,Dummy_Pj,PSj,Dummy_Sran,Dummy_Bi,Ci,Di,Lii,SKi,Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Dummy_Set_112,Dummy_Set_113,Dummy_Set_114,Dummy_Set_115,Dummy_Set_116,Dummy_Set_117,Set_118,Set_119,SID).
 iknows(scrypt(SK1,pair(DIDi,PWRi)))
=[exists Sran,TIDi]=>
 state_gateway(GWN,Ui,SNj,SK1,H,1,IDi,PWi,DIDi,PWRi,xor(apply(H,pair(DIDi,pair(TIDi,Xk))),apply(H,xor(pair(DIDi,PWRi)))),TIDi,IDgwnh,IDsnj,apply(H,pair(DIDi,PWRi)),R,Ri,Rj,Rk,T1,T2,T3,T4,Xk,apply(H,pair(IDsnj,Sran)),PSj,Sran,apply(H,pair(DIDi,pair(TIDi,Xk))),Ci,Di,Lii,SKi,Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Dummy_Set_112,Dummy_Set_113,Dummy_Set_114,Dummy_Set_115,Dummy_Set_116,Dummy_Set_117,Set_118,Set_119,SID).
 secret(Dummy_Set_112,subs3,Dummy_Set_113).
 secret(Dummy_Set_114,subs4,Dummy_Set_115).
 iknows(scrypt(SK1,pair(apply(H,pair(DIDi,PWRi)),pair(xor(apply(H,pair(DIDi,pair(TIDi,Xk))),apply(H,xor(pair(DIDi,PWRi)))),pair(IDgwnh,TIDi))))).
 secret(Dummy_Set_116,subs5,Dummy_Set_117).
 contains(Xk,Dummy_Set_112).
 contains(GWN,Dummy_Set_113).
 contains(DIDi,Dummy_Set_114).
 contains(GWN,Dummy_Set_115).
 contains(Ui,Dummy_Set_115).
 contains(apply(H,pair(IDsnj,Sran)),Dummy_Set_116).
 contains(Sran,Dummy_Set_116).
 contains(GWN,Dummy_Set_117).
 contains(SNj,Dummy_Set_117)

step step_4 (GWN,Ui,SNj,SK1,H,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Ri,Rj,Rk,T1,T2,T3,T4,Xk,Dummy_Pj,Dummy_PSj,Sran,Bi,Ci,Di,Lii,SKi,Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Set_112,Set_113,Set_114,Set_115,Set_116,Set_117,Set_118,Set_119,SID,PSj) :=
 state_gateway(GWN,Ui,SNj,SK1,H,1,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Ri,Rj,Rk,T1,T2,T3,T4,Xk,Dummy_Pj,Dummy_PSj,Sran,Bi,Ci,Di,Lii,SKi,Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Set_112,Set_113,Set_114,Set_115,Set_116,Set_117,Set_118,Set_119,SID).
 iknows(pair(IDsnj,PSj))
 =>
 state_gateway(GWN,Ui,SNj,SK1,H,2,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Ri,Rj,Rk,T1,T2,T3,T4,Xk,xor(PSj,Sran),PSj,Sran,Bi,Ci,Di,Lii,SKi,Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Set_112,Set_113,Set_114,Set_115,Set_116,Set_117,Set_118,Set_119,SID)

step step_5 (GWN,Ui,SNj,SK1,H,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Dummy_Ri,Rj,Dummy_Rk,T1,Dummy_T2,T3,T4,Xk,Pj,PSj,Sran,Bi,Ci,Di,Lii,SKi,Li,Dummy_Ei,Qi,Kj,Dummy_Fi,Dummy_Yk,Dummy_Gi,Hj,Inc,Set_112,Set_113,Set_114,Set_115,Set_116,Set_117,Dummy_Set_118,Dummy_Set_119,SID,Rk,T2) :=
 state_gateway(GWN,Ui,SNj,SK1,H,2,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Dummy_Ri,Rj,Dummy_Rk,T1,Dummy_T2,T3,T4,Xk,Pj,PSj,Sran,Bi,Ci,Di,Lii,SKi,Li,Dummy_Ei,Qi,Kj,Dummy_Fi,Dummy_Yk,Dummy_Gi,Hj,Inc,Set_112,Set_113,Set_114,Set_115,Set_116,Set_117,Dummy_Set_118,Dummy_Set_119,SID).
 iknows(pair(IDgwnh,pair(TIDi,pair(IDsnj,pair(Ci,pair(Di,T1))))))
=[exists T2,Rk]=>
 state_gateway(GWN,Ui,SNj,SK1,H,3,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,xor(Bi,Di),Rj,Rk,T1,T2,T3,T4,Xk,Pj,PSj,Sran,Bi,Ci,Di,Lii,SKi,Li,apply(H,pair(IDsnj,pair(DIDi,pair(Pj,pair(Rk,T2))))),Qi,Kj,xor(Pj,Rk),xor(Dummy_Ri,apply(H,Rk)),xor(DIDi,apply(H,pair(IDsnj,Rk))),Hj,Inc,Set_112,Set_113,Set_114,Set_115,Set_116,Set_117,Dummy_Set_118,Dummy_Set_119,SID).
 iknows(pair(apply(H,pair(IDsnj,pair(DIDi,pair(Pj,pair(Rk,T2))))),pair(xor(Pj,Rk),pair(xor(Dummy_Ri,apply(H,Rk)),pair(xor(DIDi,apply(H,pair(IDsnj,Rk))),T2))))).
 secret(Dummy_Set_118,subs6,Dummy_Set_119).
 contains(Rk,Dummy_Set_118).
 contains(Ui,Dummy_Set_119).
 contains(GWN,Dummy_Set_119).
 contains(SNj,Dummy_Set_119)

step step_6 (GWN,Ui,SNj,SK1,H,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Ri,Dummy_Rj,Rk,T1,T2,T3,Dummy_T4,Xk,Pj,PSj,Sran,Bi,Ci,Di,Lii,SKi,Dummy_Li,Ei,Dummy_Qi,Kj,Fi,Yk,Gi,Hj,Inc,Set_112,Set_113,Set_114,Set_115,Set_116,Set_117,Set_118,Set_119,SID,T4) :=
 state_gateway(GWN,Ui,SNj,SK1,H,3,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Ri,Dummy_Rj,Rk,T1,T2,T3,Dummy_T4,Xk,Pj,PSj,Sran,Bi,Ci,Di,Lii,SKi,Dummy_Li,Ei,Dummy_Qi,Kj,Fi,Yk,Gi,Hj,Inc,Set_112,Set_113,Set_114,Set_115,Set_116,Set_117,Set_118,Set_119,SID).
 iknows(pair(Hj,pair(Kj,T3)))
=[exists T4]=>
 state_gateway(GWN,Ui,SNj,SK1,H,4,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Ri,xor(Kj,Rk),Rk,T1,T2,T3,T4,Xk,Pj,PSj,Sran,Bi,Ci,Di,Lii,SKi,apply(H,pair(Ei,pair(DIDi,pair(Dummy_Rj,pair(Rk,Dummy_T4))))),Ei,xor(Dummy_Rj,Ri),Kj,Fi,Yk,Gi,Hj,Inc,Set_112,Set_113,Set_114,Set_115,Set_116,Set_117,Set_118,Set_119,SID).
 iknows(pair(apply(H,pair(Ei,pair(DIDi,pair(Dummy_Rj,pair(Rk,Dummy_T4))))),pair(Ei,pair(xor(Dummy_Rj,Ri),pair(Kj,Dummy_T4)))))

step step_7 (SNj,Ui,GWN,SK1,H,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Ri,Rj,Rk,T1,T2,T3,T4,Xk,Pj,Dummy_PSj,Sran,Bi,Ci,Di,Lii,SKi,Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Set_165,Set_166,SID) :=
 state_snode(SNj,Ui,GWN,SK1,H,0,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Ri,Rj,Rk,T1,T2,T3,T4,Xk,Pj,Dummy_PSj,Sran,Bi,Ci,Di,Lii,SKi,Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Set_165,Set_166,SID).
 iknows(start)
 =>
 state_snode(SNj,Ui,GWN,SK1,H,1,IDi,PWi,DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Ri,Rj,Rk,T1,T2,T3,T4,Xk,Pj,xor(Pj,Sran),Sran,Bi,Ci,Di,Lii,SKi,Li,Ei,Qi,Kj,Fi,Yk,Gi,Hj,Inc,Set_165,Set_166,SID).
 iknows(pair(IDsnj,xor(Pj,Sran)))

step step_8 (SNj,Ui,GWN,SK1,H,IDi,PWi,Dummy_DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Dummy_Ri,Dummy_Rj,Dummy_Rk,T1,T2,Dummy_T3,T4,Xk,Pj,PSj,Sran,Bi,Ci,Di,Lii,SKi,Li,Ei,Qi,Dummy_Kj,Fi,Yk,Gi,Dummy_Hj,Inc,Dummy_Set_165,Dummy_Set_166,SID,Rj,T3) :=
 state_snode(SNj,Ui,GWN,SK1,H,1,IDi,PWi,Dummy_DIDi,PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,Dummy_Ri,Dummy_Rj,Dummy_Rk,T1,T2,Dummy_T3,T4,Xk,Pj,PSj,Sran,Bi,Ci,Di,Lii,SKi,Li,Ei,Qi,Dummy_Kj,Fi,Yk,Gi,Dummy_Hj,Inc,Dummy_Set_165,Dummy_Set_166,SID).
 iknows(pair(Ei,pair(Fi,pair(Yk,pair(Gi,T2)))))
=[exists T3,Rj]=>
 state_snode(SNj,Ui,GWN,SK1,H,2,IDi,PWi,xor(Gi,apply(H,pair(IDsnj,Dummy_Rk))),PWRi,Ai,TIDi,IDgwnh,IDsnj,Regi,R,xor(Yk,apply(H,Dummy_Rk)),Rj,xor(Fi,Pj),T1,T2,T3,T4,Xk,Pj,PSj,Sran,Bi,Ci,Di,Lii,SKi,Li,Ei,Qi,xor(Dummy_Ri,Rj),Fi,Yk,Gi,apply(H,pair(Ei,pair(Dummy_DIDi,pair(Rj,T3)))),Inc,Dummy_Set_165,Dummy_Set_166,SID).
 iknows(pair(apply(H,pair(Ei,pair(Dummy_DIDi,pair(Rj,T3)))),pair(xor(Dummy_Ri,Rj),T3))).
 secret(Dummy_Set_165,subs7,Dummy_Set_166).
 contains(Rj,Dummy_Set_165).
 contains(Ui,Dummy_Set_166).
 contains(GWN,Dummy_Set_166).
 contains(SNj,Dummy_Set_166)


section properties:

property secrecy_of_subs1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs3 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs3,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs4 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs4,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs5 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs5,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs6 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs6,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_subs7 (MGoal,ASGoal) :=
 [] ((secret(MGoal,subs7,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_gateway_ri (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_gateway_ri,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_gateway_ri,MGoal))
     /\ ((request(A1Goal,A2Goal,user_gateway_ri,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_gateway_ri,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gateway_snode_rk (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gateway_snode_rk,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gateway_snode_rk,MGoal))
     /\ ((request(A1Goal,A2Goal,gateway_snode_rk,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gateway_snode_rk,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_snode_user_rj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,snode_user_rj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,snode_user_rj,MGoal))
     /\ ((request(A1Goal,A2Goal,snode_user_rj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,snode_user_rj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_subs1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs3 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs3,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs4 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs4,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs5 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs5,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs6 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs6,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_subs7 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,subs7,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_gateway_ri (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_gateway_ri,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_gateway_ri,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_gateway_ri (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_gateway_ri,MGoal,SID1).
 request(A1Goal,A2Goal,user_gateway_ri,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gateway_snode_rk (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gateway_snode_rk,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gateway_snode_rk,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gateway_snode_rk (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gateway_snode_rk,MGoal,SID1).
 request(A1Goal,A2Goal,gateway_snode_rk,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_snode_user_rj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,snode_user_rj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,snode_user_rj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_snode_user_rj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,snode_user_rj,MGoal,SID1).
 request(A1Goal,A2Goal,snode_user_rj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

