%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilehik5ua

section signature:

state_pointRelais: agent * agent * public_key * public_key * nat * hash_func * message * message * text * text * text * text * nat -> fact
state_alice: agent * agent * public_key * public_key * text * nat * hash_func * message * message * text * text * set(agent) * nat -> fact


section types:

nba, pointRelais_alice_nb: protocol_id
set_89, set_87, set_85, set_70: set
Dummy_Set_24, Set_24, ASGoal: set(agent)
X, Y, Dummy_Y, Dummy_X, dummy_msg, start, MGoal: message
13, 12, 10, 6, State, 4, SID, 2, Dummy_State, 3, 1, 0, SID2, SID1: nat
H, dummy_hash, h: hash_func
Num, Na, Np, Reponse, Dummy_Num, Dummy_Reponse, Dummy_Na, dummy_nonce, numIS, numAI, numAS: text
Ka, Kp, pKA, pKS, pKI: public_key
A, P, A2Goal, A1Goal, agentA, agentS, i: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(agentA).
 iknows(agentS).
 iknows(pKA).
 iknows(pKS).
 iknows(pKI).
 iknows(inv(pKI)).
 iknows(i).
 state_alice(agentA,agentS,pKA,pKS,numAS,0,dummy_hash,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,set_70,3).
 state_pointRelais(agentS,agentA,pKA,pKS,0,dummy_hash,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,4).
 state_alice(agentA,i,pKA,pKS,numAI,0,dummy_hash,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,set_85,6).
 state_pointRelais(agentS,i,pKA,pKS,0,dummy_hash,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,10).
 state_alice(agentA,agentS,pKA,pKS,numAS,0,dummy_hash,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,set_89,12).
 state_pointRelais(agentS,agentA,pKA,pKS,0,dummy_hash,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,13)


section rules:

step step_0 (A,P,Ka,Kp,Num,H,Dummy_X,Y,Reponse,Dummy_Na,Dummy_Set_24,SID,Na) :=
 state_alice(A,P,Ka,Kp,Num,0,H,Dummy_X,Y,Reponse,Dummy_Na,Dummy_Set_24,SID).
 iknows(start)
=[exists Na]=>
 state_alice(A,P,Ka,Kp,Num,1,H,apply(H,pair(Num,Na)),Y,Reponse,Na,Dummy_Set_24,SID).
 iknows(crypt(Kp,pair(Num,pair(Na,apply(H,pair(Num,Na)))))).
 witness(A,P,pointRelais_alice_nb,Num).
 secret(Num,nba,Dummy_Set_24).
 contains(A,Dummy_Set_24).
 contains(P,Dummy_Set_24)

step step_1 (A,P,Ka,Kp,Num,H,X,Dummy_Y,Dummy_Reponse,Na,Set_24,SID,Y,Reponse) :=
 state_alice(A,P,Ka,Kp,Num,1,H,X,Dummy_Y,Dummy_Reponse,Na,Set_24,SID).
 iknows(crypt(Ka,pair(Reponse,pair(Na,Y))))
 =>
 state_alice(A,P,Ka,Kp,Num,2,H,X,Y,Reponse,Na,Set_24,SID)

step step_2 (P,A,Ka,Kp,H,Dummy_X,Dummy_Y,Dummy_Reponse,Dummy_Na,Np,Dummy_Num,SID,X,Reponse,Na,Num) :=
 state_pointRelais(P,A,Ka,Kp,0,H,Dummy_X,Dummy_Y,Dummy_Reponse,Dummy_Na,Np,Dummy_Num,SID).
 iknows(crypt(Kp,pair(Num,pair(Na,X))))
=[exists Reponse]=>
 state_pointRelais(P,A,Ka,Kp,1,H,X,apply(H,pair(Reponse,Na)),Reponse,Na,Np,Num,SID).
 iknows(crypt(Ka,pair(Reponse,pair(Na,apply(H,pair(Reponse,Na)))))).
 request(P,A,pointRelais_alice_nb,Num,SID)


section properties:

property authentication_on_pointRelais_alice_nb (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,pointRelais_alice_nb,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,pointRelais_alice_nb,MGoal))
     /\ ((request(A1Goal,A2Goal,pointRelais_alice_nb,MGoal,SID1)
           /\ request(A1Goal,A2Goal,pointRelais_alice_nb,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property secrecy_of_nba (MGoal,ASGoal) :=
 [] ((secret(MGoal,nba,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))


section attack_states:

attack_state authentication_on_pointRelais_alice_nb (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,pointRelais_alice_nb,MGoal,SID) &
 not(witness(A2Goal,A1Goal,pointRelais_alice_nb,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_pointRelais_alice_nb (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,pointRelais_alice_nb,MGoal,SID1).
 request(A1Goal,A2Goal,pointRelais_alice_nb,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state secrecy_of_nba (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,nba,ASGoal) &
 not(contains(i,ASGoal))

