%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilenp1iM2

section signature:

state_tag: agent * agent * text * hash_func * nat * text * text * message * nat -> fact
state_reader: agent * agent * text * hash_func * nat * text * text * message * set(agent) * nat -> fact


section types:

auth, tk: protocol_id
set_59: set
3, State, 4, SID, 2, 1, 0, Dummy_State, SID2, SID1: nat
Set_21, Dummy_Set_21, ASGoal: set(agent)
V, start, Dummy_V, dummy_msg, MGoal: message
r, t, R, T, A2Goal, A1Goal, i: agent
H, h: hash_func
Nr, Nt, K, Dummy_Nt, Dummy_Nr, dummy_nonce, k: text


section inits:

initial_state init1 := 
 iknows(start).
 iknows(h).
 iknows(r).
 iknows(t).
 iknows(k).
 iknows(i).
 state_reader(r,t,k,h,0,dummy_nonce,dummy_nonce,dummy_msg,set_59,3).
 state_tag(t,r,k,h,1,dummy_nonce,dummy_nonce,dummy_msg,4)


section rules:

step step_0 (R,T,K,H,Dummy_Nr,Nt,V,Set_21,SID,Nr) :=
 state_reader(R,T,K,H,0,Dummy_Nr,Nt,V,Set_21,SID).
 iknows(start)
=[exists Nr]=>
 state_reader(R,T,K,H,2,Nr,Nt,V,Set_21,SID).
 iknows(Nr)

step step_1 (R,T,K,H,Nr,Dummy_Nt,Dummy_V,Dummy_Set_21,SID,Nt) :=
 state_reader(R,T,K,H,2,Nr,Dummy_Nt,Dummy_V,Dummy_Set_21,SID).
 iknows(pair(Nt,apply(H,pair(Nr,K))))
 =>
 state_reader(R,T,K,H,4,Nr,Nt,apply(H,pair(Nr,K)),Dummy_Set_21,SID).
 secret(K,tk,Dummy_Set_21).
 request(R,T,auth,apply(H,pair(Nr,K)),SID).
 contains(R,Dummy_Set_21).
 contains(T,Dummy_Set_21)

step step_2 (T,R,K,H,Dummy_Nr,Dummy_Nt,Dummy_V,SID,Nr,Nt) :=
 state_tag(T,R,K,H,1,Dummy_Nr,Dummy_Nt,Dummy_V,SID).
 iknows(Nr)
=[exists Nt]=>
 state_tag(T,R,K,H,3,Nr,Nt,apply(H,pair(Nr,K)),SID).
 iknows(pair(Nt,apply(H,pair(Nr,K)))).
 witness(T,R,auth,apply(H,pair(Nr,K)))


section properties:

property secrecy_of_tk (MGoal,ASGoal) :=
 [] ((secret(MGoal,tk,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_auth (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,auth,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,auth,MGoal))
     /\ ((request(A1Goal,A2Goal,auth,MGoal,SID1)
           /\ request(A1Goal,A2Goal,auth,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_tk (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,tk,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_auth (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,auth,MGoal,SID) &
 not(witness(A2Goal,A1Goal,auth,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_auth (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,auth,MGoal,SID1).
 request(A1Goal,A2Goal,auth,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

