%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileYoQFAM

section signature:

state_group_member1: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * nat * nat * nat * nat * text * text * text * text * text * text * text * text * text * nat * text * message * symmetric_key * symmetric_key * text * text * text * message * message * message * message * set(agent) * set(agent) * set(agent) * nat -> fact
state_group_member2: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * nat * nat * nat * nat * nat * text * text * text * text * text * text * text * text * text * nat * text * message * symmetric_key * symmetric_key * text * text * text * message * message * message * message * set(agent) * set(agent) * set(agent) * set(agent) * nat -> fact
state_gc_ks: agent * agent * agent * symmetric_key * symmetric_key * hash_func * nat * text * message * message * nat * nat * nat * text * text * nat * text * text * text * text * text * message * message * set(agent) * set(agent) * nat -> fact


section types:

sa2_gcks_gm, sa1_gcks_gm, kd1_gm_gm, sa1_gm_gm, skeyidb, gcks_gm2_nr, gm2_gcks_ni, skeyida2, gm1_gm2_n2, kd2_gm_gm, sa2_gm_gm, gm2_gm1_n1, gcks_gm1_nr, gm1_gcks_ni, skeyida1: protocol_id
hash_fn, Hash: hash_func
Dummy_HDR_GM2, Dummy_HDR_GM1, Dummy_HDR_GC, Dummy_Cert, Dummy_Sa, Dummy_Nr, Dummy_Ni, dummy_nonce, pt, HDR_GC, HDR_GM1, HDR_GM2, Cert, Sa, Ni, Nr, PT, Cert_in, Sa1, Sa2, N1, N2, Dummy_Sa2, Dummy_Cert_in, Dummy_Sa1, Dummy_N2, Dummy_PT, Dummy_N1: text
Dummy_Set_136, Dummy_Set_134, ASGoal, Set_136, Set_134, Set_105, Set_103, Set_101, Set_97, Set_58, Set_56, Set_44, Dummy_Set_58, Dummy_Set_56, Dummy_Set_44, Dummy_Set_105, Dummy_Set_103, Dummy_Set_101, Dummy_Set_97: set(agent)
Dummy_Hash2, Dummy_Hash1, dummy_msg, MGoal, adj1, adj2, Hash1, Hash2, ADJ1, ADJ2, H1, H2, H3, H4, ADJ, start, HS1, HS2, HS3, HS4, Dummy_HS4, Dummy_HS3, Dummy_HS2, Dummy_HS1, Dummy_H4, Dummy_H3, Dummy_H2, Dummy_ADJ, Dummy_H1: message
Dummy_RP_ID, Dummy_M_id_rcv, Dummy_M_id, Dummy_State, 3, SID, dummy_nat, SID2, SID1, rpid, kscope, RP_ID, M_id, M_id_rcv, State, K_SCOPE, 21, 20, KREQ, M_id1, M_id2, 16, 15, 13, 8, 6, 11, 9, 4, 2, 1, 7, 0, Dummy_KREQ, 5, Dummy_K_SCOPE, Dummy_M_id2, Dummy_M_id1: nat
skeyid_a1, skeyid_a2, skeyid_b, skeyid_i_gcks, skeyid_i_gm1, skeyid_i_gm2, SKEYID_a1, SKEYID_a2, KD2, KD1, SKEYID_b, Dummy_KD2, Dummy_KD1, dummy_sk: symmetric_key
A2Goal, A1Goal, gcks, gm1, gm2, GCKS, GM1, GM2, i: agent
set_202, set_201, set_180, set_179, set_284, set_283, set_282, set_280, set_279, set_278, set_277, set_276, set_275, set_274, set_273, set_272, set_270, set_269, set_268, set_267, set_265, set_264, set_262, set_261, set_260, set_259, set_258, set_257, set_256, set_254, set_253, set_251, set_250, set_249, set_247, set_246, set_245, set_244, set_242, set_241, set_230, set_229, set_228, set_204, set_203: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(gcks).
 iknows(gm1).
 iknows(gm2).
 iknows(hash_fn).
 iknows(rpid).
 iknows(skeyid_i_gcks).
 iknows(skeyid_i_gm1).
 iknows(skeyid_i_gm2).
 iknows(kscope).
 iknows(pt).
 iknows(adj1).
 iknows(adj2).
 iknows(i).
 state_gc_ks(gcks,gm1,gm2,skeyid_a1,skeyid_a2,hash_fn,kscope,pt,adj1,adj2,1,dummy_nat,dummy_nat,dummy_nonce,dummy_nonce,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,set_179,set_180,3).
 state_group_member2(gm2,gcks,gm1,skeyid_a2,skeyid_b,hash_fn,rpid,0,dummy_nat,dummy_nat,dummy_nat,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nat,dummy_nonce,dummy_msg,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_201,set_202,set_203,set_204,4).
 state_group_member1(gm1,gcks,gm2,skeyid_a1,skeyid_b,hash_fn,rpid,0,dummy_nat,dummy_nat,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nat,dummy_nonce,dummy_msg,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_228,set_229,set_230,5).
 state_gc_ks(gcks,gm1,gm2,skeyid_a1,skeyid_a2,hash_fn,kscope,pt,adj1,adj2,1,dummy_nat,dummy_nat,dummy_nonce,dummy_nonce,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,set_241,set_242,7).
 state_group_member2(gm2,gcks,gm1,skeyid_a2,skeyid_b,hash_fn,rpid,0,dummy_nat,dummy_nat,dummy_nat,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nat,dummy_nonce,dummy_msg,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_244,set_245,set_246,set_247,8).
 state_group_member1(gm1,gcks,gm2,skeyid_a1,skeyid_b,hash_fn,rpid,0,dummy_nat,dummy_nat,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nat,dummy_nonce,dummy_msg,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_249,set_250,set_251,9).
 state_gc_ks(gcks,gm1,i,skeyid_a1,skeyid_i_gcks,hash_fn,kscope,pt,adj1,adj2,1,dummy_nat,dummy_nat,dummy_nonce,dummy_nonce,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,set_253,set_254,11).
 state_group_member1(gm1,gcks,i,skeyid_a1,skeyid_i_gm1,hash_fn,rpid,0,dummy_nat,dummy_nat,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nat,dummy_nonce,dummy_msg,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_260,set_261,set_262,13).
 state_gc_ks(gcks,i,gm2,skeyid_i_gcks,skeyid_a2,hash_fn,kscope,pt,adj1,adj2,1,dummy_nat,dummy_nat,dummy_nonce,dummy_nonce,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,set_264,set_265,15).
 state_group_member2(gm2,gcks,i,skeyid_a2,skeyid_i_gm2,hash_fn,rpid,0,dummy_nat,dummy_nat,dummy_nat,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nat,dummy_nonce,dummy_msg,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_267,set_268,set_269,set_270,16).
 state_group_member2(gm2,i,gm1,skeyid_i_gm2,skeyid_b,hash_fn,rpid,0,dummy_nat,dummy_nat,dummy_nat,1,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nat,dummy_nonce,dummy_msg,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_277,set_278,set_279,set_280,20).
 state_group_member1(gm1,i,gm2,skeyid_i_gm1,skeyid_b,hash_fn,rpid,0,dummy_nat,dummy_nat,dummy_nat,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nat,dummy_nonce,dummy_msg,dummy_sk,dummy_sk,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_282,set_283,set_284,21)


section rules:

step step_0 (GCKS,GM1,GM2,SKEYID_a1,SKEYID_a2,Hash,K_SCOPE,PT,ADJ1,ADJ2,Dummy_M_id,Dummy_M_id_rcv,Dummy_Ni,Dummy_Nr,Dummy_RP_ID,Dummy_Sa,Dummy_Cert,Dummy_HDR_GC,Dummy_HDR_GM1,HDR_GM2,Dummy_Hash1,Hash2,Dummy_Set_134,Set_136,SID,M_id_rcv,Ni,Nr,RP_ID,Sa,Cert,HDR_GC,HDR_GM1) :=
 state_gc_ks(GCKS,GM1,GM2,SKEYID_a1,SKEYID_a2,Hash,K_SCOPE,PT,ADJ1,ADJ2,1,Dummy_M_id,Dummy_M_id_rcv,Dummy_Ni,Dummy_Nr,Dummy_RP_ID,Dummy_Sa,Dummy_Cert,Dummy_HDR_GC,Dummy_HDR_GM1,HDR_GM2,Dummy_Hash1,Hash2,Dummy_Set_134,Set_136,SID).
 iknows(pair(HDR_GM1,scrypt(SKEYID_a1,pair(apply(Hash,pair(SKEYID_a1,pair(M_id_rcv,pair(Ni,RP_ID)))),pair(Ni,RP_ID)))))
=[exists HDR_GC,Cert,Sa,Nr]=>
 state_gc_ks(GCKS,GM1,GM2,SKEYID_a1,SKEYID_a2,Hash,K_SCOPE,PT,ADJ1,ADJ2,3,2,M_id_rcv,Ni,Nr,RP_ID,Sa,Cert,HDR_GC,HDR_GM1,HDR_GM2,apply(Hash,pair(SKEYID_a1,pair(2,pair(Ni,pair(Nr,pair(Sa,pair(Cert,pair(K_SCOPE,pair(PT,ADJ1))))))))),Hash2,Dummy_Set_134,Set_136,SID).
 iknows(pair(HDR_GC,scrypt(SKEYID_a1,pair(apply(Hash,pair(SKEYID_a1,pair(2,pair(Ni,pair(Nr,pair(Sa,pair(Cert,pair(K_SCOPE,pair(PT,ADJ1))))))))),pair(Nr,pair(Sa,pair(Cert,pair(K_SCOPE,pair(PT,ADJ1))))))))).
 secret(Sa,sa1_gcks_gm,Dummy_Set_134).
 witness(GCKS,GM1,gm1_gcks_ni,Ni).
 contains(GCKS,Dummy_Set_134).
 contains(GM1,Dummy_Set_134)

step step_1 (GCKS,GM1,GM2,SKEYID_a1,SKEYID_a2,Hash,K_SCOPE,PT,ADJ1,ADJ2,M_id,Dummy_M_id_rcv,Ni,Nr,RP_ID,Sa,Cert,HDR_GC,Dummy_HDR_GM1,HDR_GM2,Hash1,Hash2,Set_134,Set_136,SID,M_id_rcv,HDR_GM1) :=
 state_gc_ks(GCKS,GM1,GM2,SKEYID_a1,SKEYID_a2,Hash,K_SCOPE,PT,ADJ1,ADJ2,3,M_id,Dummy_M_id_rcv,Ni,Nr,RP_ID,Sa,Cert,HDR_GC,Dummy_HDR_GM1,HDR_GM2,Hash1,Hash2,Set_134,Set_136,SID).
 iknows(pair(HDR_GM1,scrypt(SKEYID_a1,apply(Hash,pair(SKEYID_a1,pair(M_id_rcv,pair(Ni,Nr)))))))
 =>
 state_gc_ks(GCKS,GM1,GM2,SKEYID_a1,SKEYID_a2,Hash,K_SCOPE,PT,ADJ1,ADJ2,1,M_id,M_id_rcv,Ni,Nr,RP_ID,Sa,Cert,HDR_GC,HDR_GM1,HDR_GM2,Hash1,Hash2,Set_134,Set_136,SID).
 request(GCKS,GM1,gcks_gm1_nr,Nr,SID)

step step_2 (GCKS,GM1,GM2,SKEYID_a1,SKEYID_a2,Hash,K_SCOPE,PT,ADJ1,ADJ2,Dummy_M_id,Dummy_M_id_rcv,Dummy_Ni,Dummy_Nr,Dummy_RP_ID,Dummy_Sa,Dummy_Cert,Dummy_HDR_GC,HDR_GM1,Dummy_HDR_GM2,Hash1,Dummy_Hash2,Set_134,Dummy_Set_136,SID,M_id_rcv,Ni,Nr,RP_ID,Sa,Cert,HDR_GC,HDR_GM2) :=
 state_gc_ks(GCKS,GM1,GM2,SKEYID_a1,SKEYID_a2,Hash,K_SCOPE,PT,ADJ1,ADJ2,1,Dummy_M_id,Dummy_M_id_rcv,Dummy_Ni,Dummy_Nr,Dummy_RP_ID,Dummy_Sa,Dummy_Cert,Dummy_HDR_GC,HDR_GM1,Dummy_HDR_GM2,Hash1,Dummy_Hash2,Set_134,Dummy_Set_136,SID).
 iknows(pair(HDR_GM2,scrypt(SKEYID_a2,pair(apply(Hash,pair(SKEYID_a2,pair(M_id_rcv,pair(Ni,RP_ID)))),pair(Ni,RP_ID)))))
=[exists HDR_GC,Cert,Sa,Nr]=>
 state_gc_ks(GCKS,GM1,GM2,SKEYID_a1,SKEYID_a2,Hash,K_SCOPE,PT,ADJ1,ADJ2,2,2,M_id_rcv,Ni,Nr,RP_ID,Sa,Cert,HDR_GC,HDR_GM1,HDR_GM2,Hash1,apply(Hash,pair(SKEYID_a2,pair(2,pair(Ni,pair(Nr,pair(Sa,pair(Cert,pair(K_SCOPE,pair(PT,ADJ2))))))))),Set_134,Dummy_Set_136,SID).
 iknows(pair(HDR_GC,scrypt(SKEYID_a2,pair(apply(Hash,pair(SKEYID_a2,pair(2,pair(Ni,pair(Nr,pair(Sa,pair(Cert,pair(K_SCOPE,pair(PT,ADJ2))))))))),pair(Nr,pair(Sa,pair(Cert,pair(K_SCOPE,pair(PT,ADJ2))))))))).
 secret(Sa,sa2_gcks_gm,Dummy_Set_136).
 witness(GCKS,GM2,gm2_gcks_ni,Ni).
 contains(GCKS,Dummy_Set_136).
 contains(GM2,Dummy_Set_136)

step step_3 (GCKS,GM1,GM2,SKEYID_a1,SKEYID_a2,Hash,K_SCOPE,PT,ADJ1,ADJ2,M_id,Dummy_M_id_rcv,Ni,Nr,RP_ID,Sa,Cert,HDR_GC,HDR_GM1,Dummy_HDR_GM2,Hash1,Hash2,Set_134,Set_136,SID,M_id_rcv,HDR_GM2) :=
 state_gc_ks(GCKS,GM1,GM2,SKEYID_a1,SKEYID_a2,Hash,K_SCOPE,PT,ADJ1,ADJ2,2,M_id,Dummy_M_id_rcv,Ni,Nr,RP_ID,Sa,Cert,HDR_GC,HDR_GM1,Dummy_HDR_GM2,Hash1,Hash2,Set_134,Set_136,SID).
 iknows(pair(HDR_GM2,scrypt(SKEYID_a2,apply(Hash,pair(SKEYID_a2,pair(M_id_rcv,pair(Ni,Nr)))))))
 =>
 state_gc_ks(GCKS,GM1,GM2,SKEYID_a1,SKEYID_a2,Hash,K_SCOPE,PT,ADJ1,ADJ2,1,M_id,M_id_rcv,Ni,Nr,RP_ID,Sa,Cert,HDR_GC,HDR_GM1,HDR_GM2,Hash1,Hash2,Set_134,Set_136,SID).
 request(GCKS,GM2,gcks_gm2_nr,Nr,SID)

step step_4 (GM2,GCKS,GM1,SKEYID_a2,SKEYID_b,Hash,RP_ID,Dummy_M_id1,M_id2,M_id_rcv,KREQ,Dummy_Ni,Nr,N1,N2,Sa,Sa1,Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,KD1,KD2,HDR_GC,Dummy_HDR_GM2,HDR_GM1,Dummy_H1,H2,H3,H4,Dummy_Set_97,Set_101,Set_103,Set_105,SID,Ni,HDR_GM2) :=
 state_group_member2(GM2,GCKS,GM1,SKEYID_a2,SKEYID_b,Hash,RP_ID,0,Dummy_M_id1,M_id2,M_id_rcv,KREQ,Dummy_Ni,Nr,N1,N2,Sa,Sa1,Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,KD1,KD2,HDR_GC,Dummy_HDR_GM2,HDR_GM1,Dummy_H1,H2,H3,H4,Dummy_Set_97,Set_101,Set_103,Set_105,SID).
 iknows(start)
=[exists HDR_GM2,Ni]=>
 state_group_member2(GM2,GCKS,GM1,SKEYID_a2,SKEYID_b,Hash,RP_ID,2,1,M_id2,M_id_rcv,KREQ,Ni,Nr,N1,N2,Sa,Sa1,Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,KD1,KD2,HDR_GC,HDR_GM2,HDR_GM1,apply(Hash,pair(SKEYID_a2,pair(1,pair(Ni,RP_ID)))),H2,H3,H4,Dummy_Set_97,Set_101,Set_103,Set_105,SID).
 iknows(pair(HDR_GM2,scrypt(SKEYID_a2,pair(apply(Hash,pair(SKEYID_a2,pair(1,pair(Ni,RP_ID)))),pair(Ni,RP_ID))))).
 secret(SKEYID_a2,skeyida2,Dummy_Set_97).
 contains(GCKS,Dummy_Set_97).
 contains(GM2,Dummy_Set_97)

step step_5 (GM2,GCKS,GM1,SKEYID_a2,SKEYID_b,Hash,RP_ID,Dummy_M_id1,Dummy_M_id2,Dummy_M_id_rcv,KREQ,Ni,Dummy_Nr,Dummy_N1,N2,Dummy_Sa,Sa1,Sa2,Dummy_Cert,Cert_in,Dummy_K_SCOPE,Dummy_PT,Dummy_ADJ,KD1,KD2,Dummy_HDR_GC,Dummy_HDR_GM2,HDR_GM1,H1,Dummy_H2,Dummy_H3,H4,Set_97,Dummy_Set_101,Set_103,Set_105,SID,M_id_rcv,Nr,N1,Sa,Cert,K_SCOPE,PT,ADJ,HDR_GC,HDR_GM2) :=
 state_group_member2(GM2,GCKS,GM1,SKEYID_a2,SKEYID_b,Hash,RP_ID,2,Dummy_M_id1,Dummy_M_id2,Dummy_M_id_rcv,KREQ,Ni,Dummy_Nr,Dummy_N1,N2,Dummy_Sa,Sa1,Sa2,Dummy_Cert,Cert_in,Dummy_K_SCOPE,Dummy_PT,Dummy_ADJ,KD1,KD2,Dummy_HDR_GC,Dummy_HDR_GM2,HDR_GM1,H1,Dummy_H2,Dummy_H3,H4,Set_97,Dummy_Set_101,Set_103,Set_105,SID).
 iknows(pair(HDR_GC,scrypt(SKEYID_a2,pair(apply(Hash,pair(SKEYID_a2,pair(M_id_rcv,pair(Ni,pair(Nr,pair(Sa,pair(Cert,pair(K_SCOPE,pair(PT,ADJ))))))))),pair(Nr,pair(Sa,pair(Cert,pair(K_SCOPE,pair(PT,ADJ)))))))))
=[exists N1,HDR_GM2]=>
 state_group_member2(GM2,GCKS,GM1,SKEYID_a2,SKEYID_b,Hash,RP_ID,4,3,1,M_id_rcv,KREQ,Ni,Nr,N1,N2,Sa,Sa1,Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,KD1,KD2,HDR_GC,HDR_GM2,HDR_GM1,H1,apply(Hash,pair(SKEYID_a2,pair(3,pair(Ni,Nr)))),apply(Hash,pair(SKEYID_b,pair(1,pair(N1,Dummy_Cert)))),H4,Set_97,Dummy_Set_101,Set_103,Set_105,SID).
 iknows(pair(HDR_GM2,scrypt(SKEYID_a2,apply(Hash,pair(SKEYID_a2,pair(3,pair(Ni,Nr))))))).
 request(GM2,GCKS,gm2_gcks_ni,Ni,SID).
 witness(GM2,GCKS,gcks_gm2_nr,Nr).
 iknows(pair(HDR_GM2,scrypt(SKEYID_b,pair(apply(Hash,pair(SKEYID_b,pair(1,pair(N1,Dummy_Cert)))),pair(N1,Dummy_Cert))))).
 secret(SKEYID_b,skeyidb,Dummy_Set_101).
 contains(GM1,Dummy_Set_101).
 contains(GM2,Dummy_Set_101)

step step_6 (GM2,GCKS,GM1,SKEYID_a2,SKEYID_b,Hash,RP_ID,M_id1,Dummy_M_id2,Dummy_M_id_rcv,KREQ,Ni,Nr,N1,Dummy_N2,Sa,Dummy_Sa1,Sa2,Cert,Dummy_Cert_in,K_SCOPE,PT,ADJ,Dummy_KD1,KD2,HDR_GC,Dummy_HDR_GM2,Dummy_HDR_GM1,H1,H2,H3,Dummy_H4,Set_97,Set_101,Dummy_Set_103,Dummy_Set_105,SID,M_id_rcv,N2,Sa1,Cert_in,KD1,HDR_GM2,HDR_GM1) :=
 state_group_member2(GM2,GCKS,GM1,SKEYID_a2,SKEYID_b,Hash,RP_ID,4,M_id1,Dummy_M_id2,Dummy_M_id_rcv,KREQ,Ni,Nr,N1,Dummy_N2,Sa,Dummy_Sa1,Sa2,Cert,Dummy_Cert_in,K_SCOPE,PT,ADJ,Dummy_KD1,KD2,HDR_GC,Dummy_HDR_GM2,Dummy_HDR_GM1,H1,H2,H3,Dummy_H4,Set_97,Set_101,Dummy_Set_103,Dummy_Set_105,SID).
 iknows(pair(HDR_GM1,scrypt(SKEYID_b,pair(apply(Hash,pair(SKEYID_b,pair(M_id_rcv,pair(N1,pair(N2,Cert_in))))),pair(N2,Cert_in)))))
=[exists HDR_GM2,KD1,Sa1]=>
 state_group_member2(GM2,GCKS,GM1,SKEYID_a2,SKEYID_b,Hash,RP_ID,6,M_id1,3,M_id_rcv,KREQ,Ni,Nr,N1,N2,Sa,Sa1,Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,KD1,KD2,HDR_GC,HDR_GM2,HDR_GM1,H1,H2,H3,apply(Hash,pair(SKEYID_b,pair(3,pair(N1,pair(N2,pair(Sa1,pair(KD1,KREQ))))))),Set_97,Set_101,Dummy_Set_103,Dummy_Set_105,SID).
 iknows(pair(HDR_GM2,scrypt(SKEYID_b,pair(apply(Hash,pair(SKEYID_b,pair(3,pair(N1,pair(N2,pair(Sa1,pair(KD1,KREQ))))))),pair(Sa1,pair(KD1,KREQ)))))).
 secret(Sa1,sa1_gm_gm,Dummy_Set_103).
 secret(KD1,kd1_gm_gm,Dummy_Set_105).
 request(GM2,GM1,gm2_gm1_n1,N1,SID).
 witness(GM2,GM1,gm1_gm2_n2,N2).
 contains(GM1,Dummy_Set_103).
 contains(GM2,Dummy_Set_103).
 contains(GM1,Dummy_Set_105).
 contains(GM2,Dummy_Set_105)

step step_7 (GM2,GCKS,GM1,SKEYID_a2,SKEYID_b,Hash,RP_ID,M_id1,M_id2,Dummy_M_id_rcv,KREQ,Ni,Nr,N1,N2,Sa,Sa1,Dummy_Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,KD1,Dummy_KD2,HDR_GC,HDR_GM2,Dummy_HDR_GM1,H1,H2,H3,H4,Set_97,Set_101,Set_103,Set_105,SID,M_id_rcv,Sa2,KD2,HDR_GM1) :=
 state_group_member2(GM2,GCKS,GM1,SKEYID_a2,SKEYID_b,Hash,RP_ID,6,M_id1,M_id2,Dummy_M_id_rcv,KREQ,Ni,Nr,N1,N2,Sa,Sa1,Dummy_Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,KD1,Dummy_KD2,HDR_GC,HDR_GM2,Dummy_HDR_GM1,H1,H2,H3,H4,Set_97,Set_101,Set_103,Set_105,SID).
 iknows(pair(HDR_GM1,scrypt(SKEYID_b,pair(apply(Hash,pair(SKEYID_b,pair(M_id_rcv,pair(N1,pair(N2,pair(Sa2,KD2)))))),pair(Sa2,KD2)))))
 =>
 state_group_member2(GM2,GCKS,GM1,SKEYID_a2,SKEYID_b,Hash,RP_ID,8,M_id1,M_id2,M_id_rcv,KREQ,Ni,Nr,N1,N2,Sa,Sa1,Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,KD1,KD2,HDR_GC,HDR_GM2,HDR_GM1,H1,H2,H3,H4,Set_97,Set_101,Set_103,Set_105,SID)

step step_8 (GM1,GCKS,GM2,SKEYID_a1,SKEYID_b,Hash,RP_ID,Dummy_M_id,M_id_rcv,KREQ,Dummy_Ni,Nr,N1,N2,Sa,Sa1,Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,KD1,KD2,HDR_GC,Dummy_HDR_GM1,HDR_GM2,Dummy_HS1,HS2,HS3,HS4,Dummy_Set_44,Set_56,Set_58,SID,Ni,HDR_GM1) :=
 state_group_member1(GM1,GCKS,GM2,SKEYID_a1,SKEYID_b,Hash,RP_ID,0,Dummy_M_id,M_id_rcv,KREQ,Dummy_Ni,Nr,N1,N2,Sa,Sa1,Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,KD1,KD2,HDR_GC,Dummy_HDR_GM1,HDR_GM2,Dummy_HS1,HS2,HS3,HS4,Dummy_Set_44,Set_56,Set_58,SID).
 iknows(start)
=[exists HDR_GM1,Ni]=>
 state_group_member1(GM1,GCKS,GM2,SKEYID_a1,SKEYID_b,Hash,RP_ID,2,1,M_id_rcv,KREQ,Ni,Nr,N1,N2,Sa,Sa1,Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,KD1,KD2,HDR_GC,HDR_GM1,HDR_GM2,apply(Hash,pair(SKEYID_a1,pair(1,pair(Ni,RP_ID)))),HS2,HS3,HS4,Dummy_Set_44,Set_56,Set_58,SID).
 iknows(pair(HDR_GM1,scrypt(SKEYID_a1,pair(apply(Hash,pair(SKEYID_a1,pair(1,pair(Ni,RP_ID)))),pair(Ni,RP_ID))))).
 secret(SKEYID_a1,skeyida1,Dummy_Set_44).
 contains(GCKS,Dummy_Set_44).
 contains(GM1,Dummy_Set_44)

step step_9 (GM1,GCKS,GM2,SKEYID_a1,SKEYID_b,Hash,RP_ID,Dummy_M_id,Dummy_M_id_rcv,KREQ,Ni,Dummy_Nr,N1,N2,Dummy_Sa,Sa1,Sa2,Dummy_Cert,Cert_in,Dummy_K_SCOPE,Dummy_PT,Dummy_ADJ,KD1,KD2,Dummy_HDR_GC,Dummy_HDR_GM1,HDR_GM2,HS1,Dummy_HS2,HS3,HS4,Set_44,Set_56,Set_58,SID,M_id_rcv,Nr,Sa,Cert,K_SCOPE,PT,ADJ,HDR_GC,HDR_GM1) :=
 state_group_member1(GM1,GCKS,GM2,SKEYID_a1,SKEYID_b,Hash,RP_ID,2,Dummy_M_id,Dummy_M_id_rcv,KREQ,Ni,Dummy_Nr,N1,N2,Dummy_Sa,Sa1,Sa2,Dummy_Cert,Cert_in,Dummy_K_SCOPE,Dummy_PT,Dummy_ADJ,KD1,KD2,Dummy_HDR_GC,Dummy_HDR_GM1,HDR_GM2,HS1,Dummy_HS2,HS3,HS4,Set_44,Set_56,Set_58,SID).
 iknows(pair(HDR_GC,scrypt(SKEYID_a1,pair(apply(Hash,pair(SKEYID_a1,pair(M_id_rcv,pair(Ni,pair(Nr,pair(Sa,pair(Cert,pair(K_SCOPE,pair(PT,ADJ))))))))),pair(Nr,pair(Sa,pair(Cert,pair(K_SCOPE,pair(PT,ADJ)))))))))
=[exists HDR_GM1]=>
 state_group_member1(GM1,GCKS,GM2,SKEYID_a1,SKEYID_b,Hash,RP_ID,4,3,M_id_rcv,KREQ,Ni,Nr,N1,N2,Sa,Sa1,Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,KD1,KD2,HDR_GC,HDR_GM1,HDR_GM2,HS1,apply(Hash,pair(SKEYID_a1,pair(3,pair(Ni,Nr)))),HS3,HS4,Set_44,Set_56,Set_58,SID).
 iknows(pair(HDR_GM1,scrypt(SKEYID_a1,apply(Hash,pair(SKEYID_a1,pair(3,pair(Ni,Nr))))))).
 request(GM1,GCKS,gm1_gcks_ni,Ni,SID).
 witness(GM1,GCKS,gcks_gm1_nr,Nr)

step step_10 (GM1,GCKS,GM2,SKEYID_a1,SKEYID_b,Hash,RP_ID,Dummy_M_id,Dummy_M_id_rcv,KREQ,Ni,Nr,Dummy_N1,Dummy_N2,Sa,Sa1,Sa2,Cert,Dummy_Cert_in,K_SCOPE,PT,ADJ,KD1,KD2,HDR_GC,Dummy_HDR_GM1,Dummy_HDR_GM2,HS1,HS2,Dummy_HS3,HS4,Set_44,Set_56,Set_58,SID,M_id_rcv,N1,N2,Cert_in,HDR_GM1,HDR_GM2) :=
 state_group_member1(GM1,GCKS,GM2,SKEYID_a1,SKEYID_b,Hash,RP_ID,4,Dummy_M_id,Dummy_M_id_rcv,KREQ,Ni,Nr,Dummy_N1,Dummy_N2,Sa,Sa1,Sa2,Cert,Dummy_Cert_in,K_SCOPE,PT,ADJ,KD1,KD2,HDR_GC,Dummy_HDR_GM1,Dummy_HDR_GM2,HS1,HS2,Dummy_HS3,HS4,Set_44,Set_56,Set_58,SID).
 iknows(pair(HDR_GM2,scrypt(SKEYID_b,pair(apply(Hash,pair(SKEYID_b,pair(M_id_rcv,pair(N1,Cert_in)))),pair(N1,Cert_in)))))
=[exists HDR_GM1,N2]=>
 state_group_member1(GM1,GCKS,GM2,SKEYID_a1,SKEYID_b,Hash,RP_ID,6,2,M_id_rcv,KREQ,Ni,Nr,N1,N2,Sa,Sa1,Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,KD1,KD2,HDR_GC,HDR_GM1,HDR_GM2,HS1,HS2,apply(Hash,pair(SKEYID_b,pair(2,pair(N1,pair(N2,Cert))))),HS4,Set_44,Set_56,Set_58,SID).
 iknows(pair(HDR_GM1,scrypt(SKEYID_b,pair(apply(Hash,pair(SKEYID_b,pair(2,pair(N1,pair(N2,Cert))))),pair(N2,Cert))))).
 witness(GM1,GM2,gm2_gm1_n1,N1)

step step_11 (GM1,GCKS,GM2,SKEYID_a1,SKEYID_b,Hash,RP_ID,Dummy_M_id,Dummy_M_id_rcv,Dummy_KREQ,Ni,Nr,N1,N2,Sa,Dummy_Sa1,Dummy_Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,Dummy_KD1,Dummy_KD2,HDR_GC,Dummy_HDR_GM1,Dummy_HDR_GM2,HS1,HS2,HS3,Dummy_HS4,Set_44,Dummy_Set_56,Dummy_Set_58,SID,M_id_rcv,Sa1,Sa2,KD1,KD2,HDR_GM1,HDR_GM2) :=
 state_group_member1(GM1,GCKS,GM2,SKEYID_a1,SKEYID_b,Hash,RP_ID,6,Dummy_M_id,Dummy_M_id_rcv,Dummy_KREQ,Ni,Nr,N1,N2,Sa,Dummy_Sa1,Dummy_Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,Dummy_KD1,Dummy_KD2,HDR_GC,Dummy_HDR_GM1,Dummy_HDR_GM2,HS1,HS2,HS3,Dummy_HS4,Set_44,Dummy_Set_56,Dummy_Set_58,SID).
 iknows(pair(HDR_GM2,scrypt(SKEYID_b,pair(apply(Hash,pair(SKEYID_b,pair(M_id_rcv,pair(N1,pair(N2,pair(Sa1,pair(KD1,1))))))),pair(Sa1,pair(KD1,1))))))
=[exists HDR_GM1,KD2,Sa2]=>
 state_group_member1(GM1,GCKS,GM2,SKEYID_a1,SKEYID_b,Hash,RP_ID,8,4,M_id_rcv,1,Ni,Nr,N1,N2,Sa,Sa1,Sa2,Cert,Cert_in,K_SCOPE,PT,ADJ,KD1,KD2,HDR_GC,HDR_GM1,HDR_GM2,HS1,HS2,HS3,apply(Hash,pair(SKEYID_b,pair(4,pair(N1,pair(N2,pair(Sa2,KD2)))))),Set_44,Dummy_Set_56,Dummy_Set_58,SID).
 iknows(pair(HDR_GM1,scrypt(SKEYID_b,pair(apply(Hash,pair(SKEYID_b,pair(4,pair(N1,pair(N2,pair(Sa2,KD2)))))),pair(Sa2,KD2))))).
 secret(Sa2,sa2_gm_gm,Dummy_Set_56).
 secret(KD2,kd2_gm_gm,Dummy_Set_58).
 request(GM1,GM2,gm1_gm2_n2,N2,SID).
 contains(GM1,Dummy_Set_56).
 contains(GM2,Dummy_Set_56).
 contains(GM1,Dummy_Set_58).
 contains(GM2,Dummy_Set_58)


section properties:

property secrecy_of_sa1_gcks_gm (MGoal,ASGoal) :=
 [] ((secret(MGoal,sa1_gcks_gm,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sa2_gcks_gm (MGoal,ASGoal) :=
 [] ((secret(MGoal,sa2_gcks_gm,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_skeyida1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,skeyida1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_skeyida2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,skeyida2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_skeyidb (MGoal,ASGoal) :=
 [] ((secret(MGoal,skeyidb,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sa1_gm_gm (MGoal,ASGoal) :=
 [] ((secret(MGoal,sa1_gm_gm,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sa2_gm_gm (MGoal,ASGoal) :=
 [] ((secret(MGoal,sa2_gm_gm,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_kd1_gm_gm (MGoal,ASGoal) :=
 [] ((secret(MGoal,kd1_gm_gm,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_kd2_gm_gm (MGoal,ASGoal) :=
 [] ((secret(MGoal,kd2_gm_gm,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_gm1_gcks_ni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gm1_gcks_ni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gm1_gcks_ni,MGoal))
     /\ ((request(A1Goal,A2Goal,gm1_gcks_ni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gm1_gcks_ni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gcks_gm1_nr (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gcks_gm1_nr,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gcks_gm1_nr,MGoal))
     /\ ((request(A1Goal,A2Goal,gcks_gm1_nr,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gcks_gm1_nr,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gm2_gcks_ni (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gm2_gcks_ni,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gm2_gcks_ni,MGoal))
     /\ ((request(A1Goal,A2Goal,gm2_gcks_ni,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gm2_gcks_ni,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gcks_gm2_nr (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gcks_gm2_nr,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gcks_gm2_nr,MGoal))
     /\ ((request(A1Goal,A2Goal,gcks_gm2_nr,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gcks_gm2_nr,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gm2_gm1_n1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gm2_gm1_n1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gm2_gm1_n1,MGoal))
     /\ ((request(A1Goal,A2Goal,gm2_gm1_n1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gm2_gm1_n1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_gm1_gm2_n2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,gm1_gm2_n2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,gm1_gm2_n2,MGoal))
     /\ ((request(A1Goal,A2Goal,gm1_gm2_n2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,gm1_gm2_n2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sa1_gcks_gm (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sa1_gcks_gm,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sa2_gcks_gm (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sa2_gcks_gm,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_skeyida1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,skeyida1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_skeyida2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,skeyida2,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_skeyidb (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,skeyidb,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sa1_gm_gm (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sa1_gm_gm,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sa2_gm_gm (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sa2_gm_gm,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_kd1_gm_gm (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,kd1_gm_gm,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_kd2_gm_gm (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,kd2_gm_gm,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_gm1_gcks_ni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gm1_gcks_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gm1_gcks_ni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gm1_gcks_ni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gm1_gcks_ni,MGoal,SID1).
 request(A1Goal,A2Goal,gm1_gcks_ni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gcks_gm1_nr (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gcks_gm1_nr,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gcks_gm1_nr,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gcks_gm1_nr (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gcks_gm1_nr,MGoal,SID1).
 request(A1Goal,A2Goal,gcks_gm1_nr,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gm2_gcks_ni (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gm2_gcks_ni,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gm2_gcks_ni,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gm2_gcks_ni (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gm2_gcks_ni,MGoal,SID1).
 request(A1Goal,A2Goal,gm2_gcks_ni,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gcks_gm2_nr (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gcks_gm2_nr,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gcks_gm2_nr,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gcks_gm2_nr (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gcks_gm2_nr,MGoal,SID1).
 request(A1Goal,A2Goal,gcks_gm2_nr,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gm2_gm1_n1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gm2_gm1_n1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gm2_gm1_n1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gm2_gm1_n1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gm2_gm1_n1,MGoal,SID1).
 request(A1Goal,A2Goal,gm2_gm1_n1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_gm1_gm2_n2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,gm1_gm2_n2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,gm1_gm2_n2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_gm1_gm2_n2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,gm1_gm2_n2,MGoal,SID1).
 request(A1Goal,A2Goal,gm1_gm2_n2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

