%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfilexVR7jXiNta

section signature:

state_server: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * hash_func * hash_func * hash_func * text * text * text * text * text * text * text * text * text * text * text * text * text * text * set(pair(text,pair(text,text))) * set(agent) * set(text) * set(agent) * nat -> fact
state_user: agent * agent * symmetric_key * hash_func * nat * text * text * text * text * text * text * text * text * text * text * text * text * text * hash_func * hash_func * hash_func * text * text * text * text * text * text * text * set(pair(text,pair(text,text))) * set(agent) * nat -> fact


section types:

Set_87, Dummy_Set_87: set(text)
server_user_ri, sec2, server_user_rj, server_user_ts2, user_server_ts1, user_server_ri, sec1: protocol_id
Set_85, Dummy_Set_85, Set_41, Dummy_Set_41: set(pair(text,pair(text,text)))
set_168, set_167, set_166, set_165, set_163, set_162, set_160, set_159, set_158, set_157, set_156, set_155, set_140, set_139, set_138, set_137, set_116, set_115: set
4, 9, 7, State, 3, 2, SID, 1, 0, Dummy_State, SID2, SID1: nat
Set_88, Set_86, Dummy_Set_88, Dummy_Set_86, Set_42, Dummy_Set_42, ASGoal: set(agent)
start, MGoal: message
D1, E1, SK, G1, Li, Rran1, Ei, CIDi, CIDi1, TS1, TS2, Ri, Rj, C1, IDi, IDs, K, T, Xs, Rran, P, PWi, Dummy_Li, Dummy_G1, Dummy_SK, Dummy_E1, Dummy_D1, Dummy_CIDi1, Dummy_CIDi, Dummy_Ei, Dummy_Rran1, Dummy_TS2, W, Dummy_Rj, C2, Dummy_C3, C3, Dummy_C2, Dummy_W, Dummy_C1, Dummy_Rran, Dummy_Ri, Dummy_TS1, Dummy_K, Dummy_RPWi, Dummy_RIDi, RIDi, dummy_nonce, RPWi, Bi, ts1, ts2: text
F, Gen, Rep, H, dummy_hash, gen, rep, h: hash_func
SKuisj, skuisj: symmetric_key
sj, Ui, Sj, A2Goal, A1Goal, i, ui: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(h).
 iknows(gen).
 iknows(rep).
 iknows(ts1).
 iknows(ts2).
 iknows(i).
 state_user(ui,sj,skuisj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_115,set_116,3).
 state_server(sj,ui,skuisj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_137,set_138,set_139,set_140,4).
 state_server(sj,i,skuisj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_157,set_158,set_159,set_160,7).
 state_user(ui,i,skuisj,h,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_hash,dummy_hash,dummy_hash,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,set_162,set_163,9)


section rules:

step step_0 (Ui,Sj,SKuisj,H,IDi,Dummy_RIDi,PWi,Dummy_RPWi,Bi,Dummy_K,TS1,Ri,P,Xs,IDs,Rran,T,F,Gen,Rep,C1,W,C2,C3,Rj,TS2,Rran1,Dummy_Set_41,Dummy_Set_42,SID,K) :=
 state_user(Ui,Sj,SKuisj,H,0,IDi,Dummy_RIDi,PWi,Dummy_RPWi,Bi,Dummy_K,TS1,Ri,P,Xs,IDs,Rran,T,F,Gen,Rep,C1,W,C2,C3,Rj,TS2,Rran1,Dummy_Set_41,Dummy_Set_42,SID).
 iknows(start)
=[exists K]=>
 state_user(Ui,Sj,SKuisj,H,1,IDi,apply(H,pair(K,IDi)),PWi,apply(H,pair(K,PWi)),Bi,K,TS1,Ri,P,Xs,IDs,Rran,T,F,Gen,Rep,C1,W,C2,C3,Rj,TS2,Rran1,Dummy_Set_41,Dummy_Set_42,SID).
 iknows(scrypt(SKuisj,pair(apply(H,pair(K,IDi)),apply(H,pair(K,PWi))))).
 secret(Dummy_Set_41,sec1,Dummy_Set_42).
 contains(pair(IDi,pair(PWi,K)),Dummy_Set_41).
 contains(Ui,Dummy_Set_42)

step step_1 (Ui,Sj,SKuisj,H,IDi,RIDi,PWi,RPWi,Bi,Dummy_K,Dummy_TS1,Dummy_Ri,P,Xs,IDs,Dummy_Rran,T,F,Gen,Rep,Dummy_C1,Dummy_W,Dummy_C2,Dummy_C3,Rj,TS2,Rran1,Set_41,Set_42,SID,K,TS1,Ri,Rran) :=
 state_user(Ui,Sj,SKuisj,H,1,IDi,RIDi,PWi,RPWi,Bi,Dummy_K,Dummy_TS1,Dummy_Ri,P,Xs,IDs,Dummy_Rran,T,F,Gen,Rep,Dummy_C1,Dummy_W,Dummy_C2,Dummy_C3,Rj,TS2,Rran1,Set_41,Set_42,SID).
 iknows(scrypt(SKuisj,pair(apply(H,pair(apply(H,pair(K,IDi)),pair(Xs,IDs))),pair(scrypt(Xs,pair(apply(H,pair(K,IDi)),Rran)),pair(H,pair(Gen,pair(Rep,T)))))))
=[exists Ri,TS1]=>
 state_user(Ui,Sj,SKuisj,H,2,IDi,RIDi,PWi,RPWi,Bi,K,TS1,Ri,P,Xs,IDs,Rran,T,F,Gen,Rep,apply(F,pair(Ri,P)),apply(H,pair(apply(H,pair(K,IDi)),pair(Xs,IDs))),xor(Ri,apply(H,pair(apply(H,pair(K,IDi)),apply(H,pair(apply(H,pair(K,IDi)),pair(Xs,IDs)))))),apply(H,pair(apply(H,pair(K,IDi)),pair(Ri,pair(apply(H,pair(apply(H,pair(K,IDi)),pair(Xs,IDs))),TS1)))),Rj,TS2,Rran1,Set_41,Set_42,SID).
 iknows(pair(xor(Ri,apply(H,pair(apply(H,pair(K,IDi)),apply(H,pair(apply(H,pair(K,IDi)),pair(Xs,IDs)))))),pair(apply(H,pair(apply(H,pair(K,IDi)),pair(Ri,pair(apply(H,pair(apply(H,pair(K,IDi)),pair(Xs,IDs))),TS1)))),pair(scrypt(Xs,pair(apply(H,pair(K,IDi)),Rran)),TS1)))).
 witness(Ui,Sj,user_server_ts1,TS1).
 witness(Ui,Sj,user_server_ri,Ri)

step step_2 (Ui,Sj,SKuisj,H,IDi,RIDi,PWi,RPWi,Bi,Dummy_K,Dummy_TS1,Dummy_Ri,P,Xs,IDs,Rran,T,F,Gen,Rep,C1,W,C2,C3,Dummy_Rj,Dummy_TS2,Dummy_Rran1,Set_41,Set_42,SID,K,TS1,Ri,Rj,TS2,Rran1) :=
 state_user(Ui,Sj,SKuisj,H,2,IDi,RIDi,PWi,RPWi,Bi,Dummy_K,Dummy_TS1,Dummy_Ri,P,Xs,IDs,Rran,T,F,Gen,Rep,C1,W,C2,C3,Dummy_Rj,Dummy_TS2,Dummy_Rran1,Set_41,Set_42,SID).
 iknows(pair(apply(H,pair(apply(H,pair(K,IDi)),pair(apply(H,apply(F,pair(Rj,P))),pair(apply(H,pair(apply(H,pair(K,IDi)),pair(Ri,pair(Rj,pair(apply(H,pair(apply(H,pair(K,IDi)),pair(Xs,IDs))),pair(TS1,TS2)))))),TS2)))),pair(xor(Ri,Rj),pair(apply(F,pair(apply(F,pair(Rj,P)),apply(F,pair(Ri,P)))),pair(scrypt(Xs,pair(apply(H,pair(K,IDi)),Rran1)),TS2)))))
 =>
 state_user(Ui,Sj,SKuisj,H,3,IDi,RIDi,PWi,RPWi,Bi,K,TS1,Ri,P,Xs,IDs,Rran,T,F,Gen,Rep,C1,W,C2,C3,Rj,TS2,Rran1,Set_41,Set_42,SID).
 request(Sj,Ui,server_user_ts2,TS2,SID).
 request(Sj,Ui,server_user_rj,Rj,SID)

step step_3 (Sj,Ui,SKuisj,H,IDi,IDs,Dummy_K,T,Xs,Dummy_Rran,P,PWi,F,Gen,Rep,Dummy_Ei,Dummy_CIDi,CIDi1,TS1,TS2,Ri,Rj,C1,D1,E1,SK,G1,Li,Rran1,Dummy_Set_85,Dummy_Set_86,Dummy_Set_87,Dummy_Set_88,SID,K,Rran) :=
 state_server(Sj,Ui,SKuisj,H,0,IDi,IDs,Dummy_K,T,Xs,Dummy_Rran,P,PWi,F,Gen,Rep,Dummy_Ei,Dummy_CIDi,CIDi1,TS1,TS2,Ri,Rj,C1,D1,E1,SK,G1,Li,Rran1,Dummy_Set_85,Dummy_Set_86,Dummy_Set_87,Dummy_Set_88,SID).
 iknows(scrypt(SKuisj,pair(apply(H,pair(K,IDi)),apply(H,pair(K,PWi)))))
=[exists Rran]=>
 state_server(Sj,Ui,SKuisj,H,2,IDi,IDs,K,T,Xs,Rran,P,PWi,F,Gen,Rep,apply(H,pair(apply(H,pair(K,IDi)),pair(Xs,IDs))),scrypt(Xs,pair(apply(H,pair(K,IDi)),Rran)),CIDi1,TS1,TS2,Ri,Rj,C1,D1,E1,SK,G1,Li,Rran1,Dummy_Set_85,Dummy_Set_86,Dummy_Set_87,Dummy_Set_88,SID).
 secret(Dummy_Set_85,sec1,Dummy_Set_86).
 secret(Dummy_Set_87,sec2,Dummy_Set_88).
 iknows(scrypt(SKuisj,pair(apply(H,pair(apply(H,pair(K,IDi)),pair(Xs,IDs))),pair(scrypt(Xs,pair(apply(H,pair(K,IDi)),Rran)),pair(H,pair(Gen,pair(Rep,T))))))).
 contains(pair(IDi,pair(PWi,K)),Dummy_Set_85).
 contains(Ui,Dummy_Set_86).
 contains(Xs,Dummy_Set_87).
 contains(Rran,Dummy_Set_87).
 contains(IDs,Dummy_Set_87).
 contains(Sj,Dummy_Set_88)

step step_4 (Sj,Ui,SKuisj,H,IDi,IDs,Dummy_K,T,Xs,Dummy_Rran,P,PWi,F,Gen,Rep,Ei,CIDi,Dummy_CIDi1,Dummy_TS1,Dummy_TS2,Dummy_Ri,Dummy_Rj,Dummy_C1,Dummy_D1,Dummy_E1,Dummy_SK,Dummy_G1,Dummy_Li,Dummy_Rran1,Set_85,Set_86,Set_87,Set_88,SID,K,Rran,TS1,TS2,Ri,Rj,Rran1) :=
 state_server(Sj,Ui,SKuisj,H,2,IDi,IDs,Dummy_K,T,Xs,Dummy_Rran,P,PWi,F,Gen,Rep,Ei,CIDi,Dummy_CIDi1,Dummy_TS1,Dummy_TS2,Dummy_Ri,Dummy_Rj,Dummy_C1,Dummy_D1,Dummy_E1,Dummy_SK,Dummy_G1,Dummy_Li,Dummy_Rran1,Set_85,Set_86,Set_87,Set_88,SID).
 iknows(pair(xor(Ri,apply(H,pair(apply(H,pair(K,IDi)),apply(H,pair(apply(H,pair(K,IDi)),pair(Xs,IDs)))))),pair(apply(H,pair(apply(H,pair(K,IDi)),pair(Ri,pair(apply(H,pair(apply(H,pair(K,IDi)),pair(Xs,IDs))),TS1)))),pair(scrypt(Xs,pair(apply(H,pair(K,IDi)),Rran)),TS1))))
=[exists Rran1,Rj,TS2]=>
 state_server(Sj,Ui,SKuisj,H,4,IDi,IDs,K,T,Xs,Rran,P,PWi,F,Gen,Rep,Ei,CIDi,scrypt(Xs,pair(apply(H,pair(K,IDi)),Rran1)),TS1,TS2,Ri,Rj,apply(F,pair(Ri,P)),apply(F,pair(Rj,P)),xor(Ri,Rj),apply(H,pair(apply(H,pair(K,IDi)),pair(Ri,pair(Rj,pair(apply(H,pair(apply(H,pair(K,IDi)),pair(Xs,IDs))),pair(TS1,TS2)))))),apply(F,pair(apply(F,pair(Rj,P)),apply(F,pair(Ri,P)))),apply(H,pair(apply(H,pair(K,IDi)),pair(apply(H,apply(F,pair(Rj,P))),pair(apply(H,pair(apply(H,pair(K,IDi)),pair(Ri,pair(Rj,pair(apply(H,pair(apply(H,pair(K,IDi)),pair(Xs,IDs))),pair(TS1,TS2)))))),TS2)))),Rran1,Set_85,Set_86,Set_87,Set_88,SID).
 iknows(pair(apply(H,pair(apply(H,pair(K,IDi)),pair(apply(H,apply(F,pair(Rj,P))),pair(apply(H,pair(apply(H,pair(K,IDi)),pair(Ri,pair(Rj,pair(apply(H,pair(apply(H,pair(K,IDi)),pair(Xs,IDs))),pair(TS1,TS2)))))),TS2)))),pair(xor(Ri,Rj),pair(apply(F,pair(apply(F,pair(Rj,P)),apply(F,pair(Ri,P)))),pair(scrypt(Xs,pair(apply(H,pair(K,IDi)),Rran1)),TS2))))).
 witness(Sj,Ui,server_user_ts2,TS2).
 witness(Sj,Ui,server_user_rj,Rj).
 request(Ui,Sj,user_server_ts1,TS1,SID).
 request(Ui,Sj,user_server_ri,Ri,SID)


section properties:

property secrecy_of_sec1 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec1,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec2 (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec2,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_user_server_ts1 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_server_ts1,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_server_ts1,MGoal))
     /\ ((request(A1Goal,A2Goal,user_server_ts1,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_server_ts1,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_user_server_ri (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,user_server_ri,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,user_server_ri,MGoal))
     /\ ((request(A1Goal,A2Goal,user_server_ri,MGoal,SID1)
           /\ request(A1Goal,A2Goal,user_server_ri,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_user_ts2 (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_user_ts2,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_user_ts2,MGoal))
     /\ ((request(A1Goal,A2Goal,server_user_ts2,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_user_ts2,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_server_user_rj (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,server_user_rj,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,server_user_rj,MGoal))
     /\ ((request(A1Goal,A2Goal,server_user_rj,MGoal,SID1)
           /\ request(A1Goal,A2Goal,server_user_rj,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec1 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec1,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec2 (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec2,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_user_server_ts1 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_server_ts1,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_ts1,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_server_ts1 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_server_ts1,MGoal,SID1).
 request(A1Goal,A2Goal,user_server_ts1,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_user_server_ri (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,user_server_ri,MGoal,SID) &
 not(witness(A2Goal,A1Goal,user_server_ri,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_user_server_ri (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,user_server_ri,MGoal,SID1).
 request(A1Goal,A2Goal,user_server_ri,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_user_ts2 (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_user_ts2,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_user_ts2,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_user_ts2 (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_user_ts2,MGoal,SID1).
 request(A1Goal,A2Goal,server_user_ts2,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_server_user_rj (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,server_user_rj,MGoal,SID) &
 not(witness(A2Goal,A1Goal,server_user_rj,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_server_user_rj (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,server_user_rj,MGoal,SID1).
 request(A1Goal,A2Goal,server_user_rj,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

