%% IF specification of /home/avispa/web-interface-computation/./tempdir/workfileaDHzfe

section signature:

state_smartmeter: agent * agent * text * text * symmetric_key * hash_func * nat * message * message * message * message * message * text * text * set(agent) * set(agent) * nat -> fact
state_masterstation: agent * agent * text * text * text * symmetric_key * hash_func * nat * message * message * message * message * message * text * text * set(agent) * nat -> fact


section types:

Hsh, hsh: hash_func
SK, sk, kism, kmsi: symmetric_key
Dummy_Set_30, ASGoal, Set_30, Set_56, Dummy_Set_56, Dummy_Set_54, Set_54: set(agent)
qms, smartmeter_masterstation_aums, smartmeter_masterstation_ack, masterstation_smartmeter_ausm, qsm, rsmn: protocol_id
Qsm, Ausm, Qms, Dummy_Ausm, Aums, Dummy_Ack, Ack, Dummy_Aums, Dummy_Qms, dummy_msg, MGoal, start, Dummy_Qsm: message
SM, MS, A2Goal, A1Goal, ms, sm, i: agent
State, Dummy_State, 3, SID, SID2, SID1, 4, 2, 1, 0, 5: nat
Dummy_Rsmn, Rsm, dummy_nonce, G, dms, g, rsm, Dsm, Rsmn, Dms, Dummy_Dsm: text
set_99, set_87, set_100: set


section inits:

initial_state init1 := 
 iknows(start).
 iknows(sm).
 iknows(ms).
 iknows(kism).
 iknows(kmsi).
 iknows(i).
 state_masterstation(ms,sm,dms,g,rsm,sk,hsh,0,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,set_87,3).
 state_smartmeter(sm,ms,rsm,g,sk,hsh,1,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_nonce,dummy_nonce,set_99,set_100,4)


section rules:

step step_0 (MS,SM,Dms,G,Rsm,SK,Hsh,Dummy_Qms,Dummy_Aums,Ack,Qsm,Ausm,Dsm,Rsmn,Dummy_Set_30,SID) :=
 state_masterstation(MS,SM,Dms,G,Rsm,SK,Hsh,0,Dummy_Qms,Dummy_Aums,Ack,Qsm,Ausm,Dsm,Rsmn,Dummy_Set_30,SID).
 iknows(start)
 =>
 state_masterstation(MS,SM,Dms,G,Rsm,SK,Hsh,2,exp(Dms,G),apply(Hsh,pair(Dummy_Qms,SK)),Ack,Qsm,Ausm,Dsm,Rsmn,Dummy_Set_30,SID).
 iknows(scrypt(SK,pair(exp(Dms,G),apply(Hsh,pair(Dummy_Qms,SK))))).
 secret(exp(Dms,G),qms,Dummy_Set_30).
 witness(MS,SM,smartmeter_masterstation_aums,apply(Hsh,pair(Dummy_Qms,SK))).
 contains(SM,Dummy_Set_30).
 contains(MS,Dummy_Set_30)

step step_1 (MS,SM,Dms,G,Rsm,SK,Hsh,Dummy_Qms,Aums,Dummy_Ack,Qsm,Dummy_Ausm,Dsm,Dummy_Rsmn,Set_30,SID,Qms,Ausm,Rsmn) :=
 state_masterstation(MS,SM,Dms,G,Rsm,SK,Hsh,2,Dummy_Qms,Aums,Dummy_Ack,Qsm,Dummy_Ausm,Dsm,Dummy_Rsmn,Set_30,SID).
 iknows(scrypt(SK,pair(Qms,pair(xor(Rsmn,apply(Hsh,Rsm)),Ausm))))
 =>
 state_masterstation(MS,SM,Dms,G,Rsm,SK,Hsh,4,Qms,Aums,apply(Hsh,pair(apply(Hsh,pair(Rsmn,Qms)),SK)),Qsm,Ausm,Dsm,Rsmn,Set_30,SID).
 iknows(scrypt(SK,pair(apply(Hsh,pair(Rsmn,Qms)),apply(Hsh,pair(apply(Hsh,pair(Rsmn,Qms)),SK))))).
 request(MS,SM,masterstation_smartmeter_ausm,Ausm,SID).
 witness(MS,SM,smartmeter_masterstation_ack,apply(Hsh,pair(apply(Hsh,pair(Rsmn,Qms)),SK)))

step step_2 (SM,MS,Rsm,G,SK,Hsh,Dummy_Qsm,Dummy_Ausm,Dummy_Qms,Dummy_Aums,Ack,Dummy_Dsm,Dummy_Rsmn,Dummy_Set_54,Dummy_Set_56,SID,Qms,Aums,Dsm,Rsmn) :=
 state_smartmeter(SM,MS,Rsm,G,SK,Hsh,1,Dummy_Qsm,Dummy_Ausm,Dummy_Qms,Dummy_Aums,Ack,Dummy_Dsm,Dummy_Rsmn,Dummy_Set_54,Dummy_Set_56,SID).
 iknows(scrypt(SK,pair(Qms,Aums)))
=[exists Rsmn,Dsm]=>
 state_smartmeter(SM,MS,Rsm,G,SK,Hsh,3,exp(Dsm,G),apply(Hsh,pair(Dsm,pair(xor(Rsmn,apply(Hsh,Rsm)),SK))),Qms,Aums,Ack,Dsm,Rsmn,Dummy_Set_54,Dummy_Set_56,SID).
 iknows(scrypt(SK,pair(Qms,pair(xor(Rsmn,apply(Hsh,Rsm)),apply(Hsh,pair(Dsm,pair(xor(Rsmn,apply(Hsh,Rsm)),SK))))))).
 secret(Rsmn,rsmn,Dummy_Set_54).
 secret(exp(Dsm,G),qsm,Dummy_Set_56).
 request(SM,MS,smartmeter_masterstation_aums,Aums,SID).
 witness(SM,MS,masterstation_smartmeter_ausm,apply(Hsh,pair(Dsm,pair(xor(Rsmn,apply(Hsh,Rsm)),SK)))).
 contains(SM,Dummy_Set_54).
 contains(MS,Dummy_Set_54).
 contains(SM,Dummy_Set_56).
 contains(MS,Dummy_Set_56)

step step_3 (SM,MS,Rsm,G,SK,Hsh,Qsm,Ausm,Dummy_Qms,Aums,Dummy_Ack,Dsm,Dummy_Rsmn,Set_54,Set_56,SID,Qms,Ack,Rsmn) :=
 state_smartmeter(SM,MS,Rsm,G,SK,Hsh,3,Qsm,Ausm,Dummy_Qms,Aums,Dummy_Ack,Dsm,Dummy_Rsmn,Set_54,Set_56,SID).
 iknows(scrypt(SK,pair(apply(Hsh,pair(Rsmn,Qms)),Ack)))
 =>
 state_smartmeter(SM,MS,Rsm,G,SK,Hsh,5,Qsm,Ausm,Qms,Aums,Ack,Dsm,Rsmn,Set_54,Set_56,SID).
 request(SM,MS,smartmeter_masterstation_ack,Ack,SID)


section properties:

property secrecy_of_qms (MGoal,ASGoal) :=
 [] ((secret(MGoal,qms,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_qsm (MGoal,ASGoal) :=
 [] ((secret(MGoal,qsm,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_rsmn (MGoal,ASGoal) :=
 [] ((secret(MGoal,rsmn,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_smartmeter_masterstation_aums (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,smartmeter_masterstation_aums,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,smartmeter_masterstation_aums,MGoal))
     /\ ((request(A1Goal,A2Goal,smartmeter_masterstation_aums,MGoal,SID1)
           /\ request(A1Goal,A2Goal,smartmeter_masterstation_aums,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_smartmeter_masterstation_ack (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,smartmeter_masterstation_ack,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,smartmeter_masterstation_ack,MGoal))
     /\ ((request(A1Goal,A2Goal,smartmeter_masterstation_ack,MGoal,SID1)
           /\ request(A1Goal,A2Goal,smartmeter_masterstation_ack,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_masterstation_smartmeter_ausm (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,masterstation_smartmeter_ausm,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,masterstation_smartmeter_ausm,MGoal))
     /\ ((request(A1Goal,A2Goal,masterstation_smartmeter_ausm,MGoal,SID1)
           /\ request(A1Goal,A2Goal,masterstation_smartmeter_ausm,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_qms (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,qms,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_qsm (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,qsm,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_rsmn (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,rsmn,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_smartmeter_masterstation_aums (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,smartmeter_masterstation_aums,MGoal,SID) &
 not(witness(A2Goal,A1Goal,smartmeter_masterstation_aums,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_smartmeter_masterstation_aums (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,smartmeter_masterstation_aums,MGoal,SID1).
 request(A1Goal,A2Goal,smartmeter_masterstation_aums,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_smartmeter_masterstation_ack (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,smartmeter_masterstation_ack,MGoal,SID) &
 not(witness(A2Goal,A1Goal,smartmeter_masterstation_ack,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_smartmeter_masterstation_ack (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,smartmeter_masterstation_ack,MGoal,SID1).
 request(A1Goal,A2Goal,smartmeter_masterstation_ack,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_masterstation_smartmeter_ausm (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,masterstation_smartmeter_ausm,MGoal,SID) &
 not(witness(A2Goal,A1Goal,masterstation_smartmeter_ausm,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_masterstation_smartmeter_ausm (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,masterstation_smartmeter_ausm,MGoal,SID1).
 request(A1Goal,A2Goal,masterstation_smartmeter_ausm,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

